[2022-03-02 17:00] manupa-arm commented on #10300
It seems like model library format extraction seems missing (or the temp directory itself goes missing) and that happens intermittently. Any thoughts why would this happen in the CI ?

@areusch @leandron @driazati @grant-arm @Mousius

[2022-03-02 17:02] FranckQC commented on #10211
Hi @yuanfz98

Thanks for your interest in the pass!
That's great, I didn't know that there was an arith::Analyzer which was already able to algebraic simplifications of terms!

When I worked on the CSE pass, I designed it with the idea that it should be easy to extend it for working with terms modulo some equations (by just replacing the EquivalentTerms() function as you did), but I though that we

[2022-03-03 14:21] d-smirnov commented on #10390
Fix: https://github.com/apache/tvm/pull/10465

[2022-03-03 18:02] comaniac opened #10467 "[Bug] Github workflows run on forked repos"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-03-03 18:47] driazati commented on #10467
Thanks for bringing this up along with a fix, while there is a repo-specific setting to run upstream workflows on forks, a lot of people seem to have this enabled. Seeing that the fix is pretty trivial we should definitely do it: #10468

[2022-03-03 20:44] #10467 closed

[2022-03-03 20:57] areusch opened #10471 "[VOTE] Replace codeowners with more relevant automation"
Hi all,

This is a formal vote thread to determine committer and PMC support for [[RFC] Replace codeowners with more relevant automation](https://github.com/apache/tvm-rfcs/pull/58). Replying +1 here means you support the RFC and we should merge it. This vote thread is due to the fact that the RFC proposes a change in the way the community operates (namely the way code-review works). This also sig

[2022-03-03 20:59] mbrookhart commented on #10471
+1

[2022-03-03 21:02] masahi commented on #10471
+1

[2022-03-03 21:04] junrushao1994 commented on #10471
+1

[2022-03-03 21:05] tmoreau89 commented on #10471
+1

[2022-03-03 21:08] shingjan commented on #10471
+1

[2022-03-03 21:11] driazati opened #10472 "[ci] Unify code in Python CI scripts"
After #10456 we have a lot of CI scripts, as a cleanup we should:

1. Extract duplicate code into utils
2. Add logging with source info rather than `print`s
3. Restructure folders to make more sense, maybe
[code]

and also document the various CI scripts + what they do

cc @Mousius @areusch @gigiblender

[2022-03-03 21:25] hogepodge commented on #10471
enthusiastic +1

[2022-03-03 22:03] mehrdadh commented on #10471
+1

[2022-03-03 22:26] vinx13 commented on #10471
+1

[2022-03-03 23:26] SWu commented on #9109
bump

this is still incorrect in latest mainline: https://github.com/apache/tvm/blob/main/python/tvm/relay/op/nn/_nn.py#L1012

can we at least delete this operator in the meantime to avoid confusion by people using it expecting it to be correct?

[2022-03-03 23:28] kparzysz-quic commented on #10471
I'm not particularly unhappy with the current situation, but it could be improved.
+1

[2022-03-04 00:52] jcf94 commented on #10471
+1

[2022-03-04 01:19] comaniac commented on #10471
+1

[2022-03-04 18:04] AndrewZhaoLuo commented on #10471
+1

[2022-03-04 18:37] driazati opened #10487 "[Flaky Test] ethosu `test_networks_without_usmp` and `test_mean`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). As per [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures, these failures will be disabled in a PR that references this issue until the test owners can fix the source of the flakiness.

### Test(s)

- `tests/python/contrib/test_ethosu/test_n

[2022-03-04 18:41] driazati opened #10489 "[Flaky Test] `tests/python/integration/test_tuning.py::test_tuning_gpu`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). As per [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures, these failures will be disabled in a PR that references this issue until the test owners can fix the source of the flakiness.

### Test(s)

- `tests/python/integration/test_tuning.py

[2022-03-04 20:42] driazati commented on #10472
while doing this we should also parallelize + use sccache in `test_cpp_unittest.sh`

[2022-03-05 00:16] interesaaat opened #10496 "[Bug] NotImplementedError ['aten::numpy_T', 'aten::fmod']"
Hi,

I am running a pytorch model and I am getting this error.

  File "/Users/mainterl/Develop/TVM/python/tvm/relay/frontend/pytorch.py", line 3990, in from_pytorch
    converter.report_missing_conversion(op_names)
  File "/Users/mainterl/Develop/TVM/python/tvm/relay/frontend/pytorch.py", line 3196, in report_missing_conversion
    raise NotImplementedError(msg)
NotImplementedError: The following

[2022-03-05 23:14] interesaaat opened #10499 "[Bug] NotImplementedError ['aten::__lshift__', 'aten::__rshift__', 'aten::__ior__', `aten::fmod`, `aten::remainder`]"
Hi,

I am running a pytorch model and I am getting this error.

File "/home/hummingbird/tvm/python/tvm/relay/frontend/pytorch.py", line 3991, in from_pytorch
    converter.report_missing_conversion(op_names)
  File "/home/hummingbird/tvm/python/tvm/relay/frontend/pytorch.py", line 3197, in report_missing_conversion
    raise NotImplementedError(msg)
NotImplementedError: The following operators are

[2022-03-06 01:07] #10496 closed

[2022-03-07 02:33] tqchen opened #10505 "[Tracking Issue] BufferAccess Migration Followup Items"
This is a tracking issue created for followup tracking items in https://github.com/apache/tvm/pull/9727.

The particular PR contains an important new feature(transform_layout). The main goal of this issue is to do followup shepherding around the IR change part(buffer access and related allocations), which have a broader impact.  The particular PR takes many rounds of reviews and but still have qui

[2022-03-07 02:33] freedenS opened #10506 "[Bug] type error when inference after quantization"
I tried to quantize resnet50 (https://github.com/onnx/models/blob/main/vision/classification/resnet/model/resnet50-v1-7.onnx) according to the tutorial([Deploy a Quantized Model on Cuda](https://tvm.apache.org/docs/how_to/deploy_models/deploy_quantized.html?highlight=quantize)) , quantize pass is ok, but i met a type error when inference.
it looks like fused_fixed_point_multiply doesn't support in

[2022-03-07 02:33] tqchen commented on #10505
cc @vinx13 @junrushao1994 @masahi @Lunderberg

[2022-03-07 06:40] masahi commented on #10505
Can we remove `Load / Store` node altogether now?

[2022-03-07 08:21] jianxiezhendong commented on #7466
How did you fix the problem, I also face it. Thank you!

[2022-03-07 11:13] manupa-arm commented on #10487
@driazati would it be possible to disable only the failing tests ? (See https://docs.pytest.org/en/latest/how-to/skipping.html#skip-xfail-with-parametrize)

[2022-03-07 11:49] manupa-arm commented on #10487
@driazati what is the reasoning to bundling these varying failures to single issue ?

I cant see a commonality between the tests bundled here.

[2022-03-07 13:33] tqchen commented on #10505
Let us first clarify the needs, streamline changes and likely remove load/store in next release

[2022-03-07 15:15] Lunderberg commented on #10505
I agree with adding additional restrictions.  I've created draft PRs https://github.com/apache/tvm/pull/10512 and https://github.com/apache/tvm/pull/10513, to test the impact of different rules on existing test cases.  Each requires that only a single index can have multiple lanes, while #10513 additional requires that to be the last index.

@tqchen After thinking on [your comment here](https://gi

[2022-03-07 15:51] Lunderberg commented on #10471
+1

[2022-03-07 15:55] manupa-arm commented on #10471
+1

[2022-03-07 18:36] driazati commented on #10487
Sure we can do that moving forward, but if a test fails on more than 1 parameterized version I think we should still stick with disabling the whole test to reduce the chance of further flaky failures.

No particular reason other than the tests are in a similar category, but we can be more granular with reporting in the future (so 1-issue-per-test pretty much, unless errors are the same)

[2022-03-07 20:46] FranckQC commented on #10211
Would you like to make a PR for this @yuanfz98 ?
It's great that we can have comparisons modulo associativity and modulo distributivity. It's probably pretty rare in practice, but as we can have it for free, it's probably good to take.

Many thanks again for your interest in the pass!

[2022-03-07 23:47] tkonolige opened #10524 "[Bug] autoscheduler does not work with grouped conv2d"
Autoscheduler generates large bogus layout rewrite with grouped conv2d. These layouts look like `64N4n1n1n1H1W68C1n1h1w2c2n`. These bogus layouts then break the shape relations. This issue can be recreated by setting `auto_scheduler_should_rewrite_layout=True` in `group_conv2d_nhwc`.

See #10522.

[2022-03-08 01:28] Hzfengsy commented on #10471
+1

[2022-03-08 06:19] masahi commented on #10499
@interesaaat Can we remove `aten::unique_consecutive` from the list now? Other ops seem trivial.

[2022-03-08 06:24] interesaaat commented on #10499
Yes let's remove unique_consecutive. I will open another issue if it will
be really needed.

On Mon, Mar 7, 2022, 10:20 PM Masahiro Masuda ***@***.***>
wrote:

[2022-03-08 06:38] ganler opened #10528 "[Bug] GetStoreRule failure at simple Conv2d + Squeeze model"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-03-08 07:15] yangulei commented on #10528
It seems that we are trying to initialize a transform for `NHW1c` <--> `NHW`, which need to add/remove a primal axis, while `layout_transform` doesn't support this so far. In fact, I don't think we need layout transform here.

[2022-03-08 08:39] yuanfz98 commented on #10211
Sure, I will make a PR this week !

[2022-03-08 10:55] mikepapadim commented on #8901
@Lunderberg I am tracking down the TRT BYOC and I figure out the issue with these tests. It is the mxnet importer plus a guard `ICHECK` on the TRT builder. I am having a small patch fixing it, but it also switches to import these models in `onnx`. The only issue is that to download the models in `onnx` format from GitHub during CI requires the LFS download instead.

[2022-03-08 12:23] wrongtest commented on #10505
Thanks for the great efforts!

Here is my question: Whether we will have some SSA (or no-alias?) property on `Buffer` object in low-level tir? Previously we can treat every buffer var uniquely defined by `Allocate` and used by `Load`/`Store`/Opaque accesses. Now there seems to be some unclearness. For example, what if we create multiple buffers on the same buffer var associated by `Allocate` stmt?

[2022-03-08 18:53] vinx13 commented on #10505
While `tir.noalias` property still hold for `PrimFunc` args, `T.decl_buffer` creates a buffer alias if the underlying data variable (`.data` field) overlaps with another buffer. Buffer created via `alloc_buffer` always do not alias. Buffer aliases do not need `Allocate` to create the data variable. Each data variable can be allocated via `Allocate` once.

Buffers should not alias each other unless

[2022-03-08 19:36] ganler commented on #10528
@yangulei Thanks for explaining this bug. Just curious about the workaround to fix it? Do we need to implement new logics to transform its layout or we can simply skip this optimization for such patterns during global optimization.

[2022-03-09 12:06] qingcd opened #10545 "[Bug]"
My pytorch model will have different results when run multiple times with the same input after converting to tvm model.  The cuda target fmt is ptx. If the target fmt chage back to cubin, then there is no problem.

### Expected behavior
The result of multiple run using the same input should stay the same,  the print of the sample code should be:
max abs diff is: 0

### Actual behavior
max abs diff

[2022-03-09 16:22] manupa-arm commented on #10487
@driazati,

I dont have a strong view eitherway, dependy on the policy going forward, we might restructure the tests.

I think its better to report errors that are similiar because the work done to correct these are orthogonal.

This one seems like corrupt download. TVM has a lot of tests that downloads models for tests and they can fail due to external reasons (i.e. network, CI node limitations).

[2022-03-09 21:26] tkonolige opened #10554 "[Flakey] tests/python/frontend/pytorch/test_forward.py::test_forward_roi_align"
tests/python/frontend/pytorch/test_forward.py::test_forward_roi_align appears to be flakey: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-10550/1/pipeline.

@areusch @driazati

[2022-03-09 21:38] driazati commented on #10554
cc @masahi any ideas why the numerics wouldnt be stable across tests / if we can just increase the tolerance a bit on this test?

[2022-03-09 22:54] masahi commented on #10554
hmm, I don't recall flaky-ness from this test. As long as we use the random input, there is always non-zero prob of failing, I'd say.

[2022-03-10 02:00] masahi commented on #10545
Make sure you get more basic examples working first. And post a complete working repro script, what you showed is not really executable.

It's probably a general usage question not a bug, so please post your question to the forum.

[2022-03-10 02:00] #10545 closed

[2022-03-10 02:21] qingcd commented on #10545
Thanks for your attention.
This example can work, just copy and run.
There may be some problems with the syntax of github bug report, the code display is very wired, I spend hours but can not fix it, what's more, github is not friendly for chinese users, crash frequently.
I will try to change the display to make it look better.

[2022-03-10 02:40] masahi commented on #10545
You can use https://gist.github.com rather than pasting your code on github

[2022-03-10 02:44] qingcd commented on #10545
Thanks for your help, I'll try!

[2022-03-10 02:51] qingcd opened #10559 "[Bug] TVM model give different results when run multiple times"
My pytorch model will have different results when run multiple times with the same input after converting to tvm model.  The cuda target fmt is ptx. If the target fmt chage back to cubin, then there is no problem. I have tried many kinds of models, only this dense model had this kind of problem.  I also tried on rtx 3070, it's ok on 3070,  results stay the same when wrong multiple times.

### Expe

[2022-03-10 03:16] qingcd commented on #10545
The gist code: https://gist.github.com/qingcd/6d9d228d92a7b6d09732a6070473a229
I make a simple stupid mistake when copy code on github, just change ` to ``` works. I push the <> button, it just generate the `.
I reopen it in a new issue.   https://github.com/apache/tvm/issues/10559
Thanks for your helps again. :)

[2022-03-10 12:42] manupa-arm commented on #10487
https://github.com/apache/tvm/pull/10565/ -- Im re-enabling this for now.

[2022-03-10 15:32] Lunderberg commented on #10505
Both PRs for testing indexing restrictions, https://github.com/apache/tvm/pull/10512 and https://github.com/apache/tvm/pull/10513, have passed CI.  I think I agree with the tighter restriction, that only the last index may have more than one lane.  While there are cases where a ramp index in an earlier lane could be transformed into a ramp index in the last lane, those would be relatively rare, as

[2022-03-10 17:00] mehrdadh opened #10568 "[Bug] [AOT] Ordering of the function in generated C code is variable"
Every time you build a relay module using AOT codegen, the order in C file changes. This is specially  important for microTVM because it makes debugging difficult since debug pointers change per execution.

cc @areusch

[2022-03-10 17:15] areusch commented on #10471
Hi all,

The vote result is +16:
+1: 16 votes (5 binding)
0: no votes
-1: no votes

Therefore the resolution is accepted and the RFC will be merged.

Thanks!
Andrew

[2022-03-10 17:15] #10471 closed

[2022-03-10 18:56] zxybazh opened #10570 "[Flaky Test] `tests/python/frontend/paddlepaddle/test_forward.py::test_forward_gather`"
### Test(s)

- `tests/python/frontend/paddlepaddle/test_forward.py::test_forward_gather`

### Jenkins Links

- https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-10534/3/

In PR #10534 I did not touch anything beyond relay lowering and re-triggering CI could pass the test.

[2022-03-10 19:30] kparzysz-quic commented on #10390
This fixes the problem.

[2022-03-10 19:46] zxybazh opened #10572 "[Flaky Test] `tests/python/relay/test_prng.py::test_threefry_split`"
### Test(s)

- `tests/python/relay/test_prng.py::test_threefry_split[llvm]`
- `tests/python/relay/test_prng.py::test_threefry_sequential_generate[llvm]`
- `tests/python/relay/test_prng.py::test_threefry_sequential_generate_remaining[llvm]`
- `tests/python/relay/test_prng.py::test_threefry_generate_out_size`

### Jenkins Links

- https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-10534/

[2022-03-10 20:13] tqchen commented on #10505
Thanks @Lunderberg , if @vinx13 you also agree, can you review and merge https://github.com/apache/tvm/pull/10513?

[2022-03-10 21:57] driazati commented on #10572
Thanks for reporting! These failures also happened on main (e.g. https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/2702) but should be fixed now if you rebase after #10535

[2022-03-10 21:58] driazati opened #10573 "[CI Problem] Seed RNGs in tests"
We shouldn't have random random results in tests, but seed the PRNG with some value so CI tests don't fail flakily on tests that use random values. Example failure: #10554

[2022-03-10 22:04] zxybazh commented on #10572
Thanks for the update, I'll close the issue given a fix has been applied.

[2022-03-10 22:04] #10572 closed

[2022-03-10 22:17] driazati commented on #10487
We definitely should audit network usage in CI and try to consolidate on more stable platforms (e.g. move any resources into S3 or something). i'm a little hesitant to re-enable these tests though without a little bit of mitigation (probably a network retry on a failed download is best in this case). But I agree in general some issues aren't solvable and we need to accept some level of flakiness,

[2022-03-10 22:31] driazati opened #10575 "[Tracking Issue] Remove CODEOWNERS"
### This issue is to track progress for https://github.com/apache/tvm-rfcs/pull/58
- [x] Add `cc @<username>` people as reviewers #9934
- [x] Add workflow to ping users after period of no activity on PRs, still in opt-in phase #9973
- [x] Add workflow to cc teams tagged in PR titles #10322
- [x] Move CODEOWNERS file #10192
- [x] Add workflow to cc teams when tagged on PRs
- [x] ~~Add workflow to c

[2022-03-11 07:13] ZSMJcoder opened #10579 "[Bug] RPC load_module failed because of file path"
case1: pass
mod.save(temp.relpath("gemm.o"))
f = remote.load_module(temp.relpath("gemm.o"))

case2: failed
mod.save("/home/ubuntu/gemm.o")
f = remote.load_module("/home/ubuntu/gemm.o")
log:

TVMError:
---------------------------------------------------------------
An error occurred during the execution of TVM.
For more information, please see: https://tvm.apache.org/docs/errors.html
--------------

[2022-03-11 07:41] #10579 closed

[2022-03-11 07:41] ZSMJcoder commented on #10579
mistake

[2022-03-11 12:55] ggardet commented on #10443
@gromero Could you tell me which version of protobuf you are using, please?

[2022-03-11 14:14] manojec054 commented on #9818
@crawlingcub Were you able to figure out what was wrong ?. I have a similar issue with resnet50.

[2022-03-11 15:50] wrongtest commented on #10505
Since `Buffer` object takes an `elem_offset` field (be zero by default), perhaps we should also process it in CodeGen. It could be useful if we want to create aliased buffers to sub-regions.
The proposed changes are here: https://github.com/apache/tvm/pull/10582

[2022-03-11 18:22] driazati opened #10583 "[Flaky Test] `tests/python/unittest/test_auto_scheduler_task_scheduler.py::test_task_scheduler_gradient`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). As per [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures, these failures will be disabled in a PR that references this issue until the test owners can fix the source of the flakiness.

### Test(s)

- `tests/python/unittest/test_auto_schedul

[2022-03-11 18:25] zxybazh commented on #10583
Hi, thanks for the update. I'll take another look to see the cause of error.

[2022-03-13 09:26] JishinMaster opened #10594 "[Bug] [OpenCL] module.benchmark stuck on some platforms"
Dear All,

Thanks again for the great work on the project.

I have been using TVM for a while, and recently encountered a strange behavior on the latest version on new HW/SW environment.
All of my machines are using Ubuntu 20.04 with the 5.13 kernel, with python 3.8.10.

I have a laptop with an Ivy Bridge CPU and Kepler GPU (GT650m), with the r418 driver.
I have a desktop with a skylake CPU and a

[2022-03-14 09:33] leandron commented on #9187
Sorry I missed your message. I've just updated the list of operator.
To your question: yes, you can use #9165 as a template.

[2022-03-14 13:10] jinfagang opened #10601 "[Docs] How to using iPhone or Mac's neural engine on chip?"
Just wonder, does there APIs or capabilities make tvm support call iPhone's neural engine as CoreML does?

[2022-03-14 14:26] sezgin1947 commented on #10568
I am suffering from the same problem.

[2022-03-14 15:47] mehrdadh commented on #10317
microtvm @mehrdadh
hexagon @mehrdadh

[2022-03-14 15:47] mehrdadh commented on #10317
@driazati is this feature case sensitive?

[2022-03-14 21:08] masahi commented on #10601
No, you need to use coreml for that.

[2022-03-14 21:08] #10601 closed

[2022-03-14 21:19] masahi commented on #10594
I've run opencl models on tigerlake and had no issue. This is more appropriate to discuss in https://discuss.tvm.apache.org/

If you have a repro script, I can quickly run it on my tigerlake.

[2022-03-14 21:19] #10594 closed

[2022-03-14 21:53] mehrdadh opened #10606 "[Flaky Test][Ethosu] Possible flaky test: tests/python/contrib/test_ethosu/test_codegen.py -k test_tflite_fully_connected"
This test failed on my PR: `test_tflite_fully_connected[RELU-False-32-ifm_shape1-ethos-u55-128`

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-10590/2/pipeline

cc @dchauhan-arm

[2022-03-15 02:16] jinfagang commented on #10601
@masahi is that able to using CoreML with tvm?

[2022-03-15 12:26] rebel-shshin commented on #8596
Hi @huajsj, do you have any plan to do a demo with compiling deep learning models such as [https://tvm.apache.org/docs/how_to/compile_models/from_tensorflow.html#sphx-glr-how-to-compile-models-from-tensorflow-py](url)?

[2022-03-15 15:03] JoeyTPChou opened #10614 "[Bug] TVM avg_poolnd gives different output with PyTorch when both ceil_mode and count_include_pad are True"
The issue is being discussed in this [thread](https://discuss.tvm.apache.org/t/relay-op-nn-avgpool2d-in-pytorch-gives-different-results-than-tvm/12272)  and was created to track down the issue easily. To avoid duplicating content, please refer to the discussion thread for more detail.

[2022-03-15 15:50] gromero commented on #10443
@ggardet Sure, it's `protobuf                       3.19.4`

Some logs:

[code]

However there other pieces that can be relevant here, like the `config.cmake` used to build TVM and the commit hash you're using. It was never clear to me here 1) what's the commit hash being built and tested, 2) what/how is the being built.

[2022-03-15 16:36] gromero commented on #10443
Got it. OK. that's the one I tested too and was not able to reproduce in my environment. What's the `config.cmake` being used?  Is there a CI I can take a look to check the build artifact,  `config.cmake` etc? I confess I have never tried TVM on OpenSUSE.

[2022-03-15 17:22] areusch commented on #9042
We tried this out, but not clear if the Jenkinsfile is cleaner/more maintainable in this format, or whether a template is needed. Going to revisit after ci.py is finished.

[2022-03-15 17:22] areusch commented on #10132
Next steps:
- [ ] Re-generate the list of slow tests, since the long pole may have changed
- [ ] Triage those tests and determine if we can move any to post-merge build now via new `@slow` decorator.

[2022-03-15 19:10] mehrdadh opened #10619 "[Flaky Test] ctypes.tests.micro.zephyr.test_zephyr.test_platform_timer[mps3_an547]"
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-10609/3/pipeline

cc @gromero

[2022-03-15 20:09] gromero commented on #10619
Pasting here the error before GH vanishes with the logs and we can never refer to it anymore in the future:

[code]

[2022-03-15 22:12] driazati opened #10627 "[Flaky Test] `test_solution_consistency`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). As per [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures, these failures will be disabled in a PR that references this issue until the test owners can fix the source of the flakiness.

### Test(s)

- `tests/python/unittest/test_arith_solve_

[2022-03-15 23:12] areusch opened #10629 "[tvmc] Provide a way to control global logging level from command-line"
When people report problems (such as with posts like [this](https://discuss.tvm.apache.org/t/tvmc-micro-aot-error/12285/4)), it'd be really convenient to be able to ask them to modify their command to see more log lines, such as:

`tvmc --log-level debug micro ...`

all we have right now is `-v` to increase the log level of the `TVMC` logger. we should expand this flag.

cc @Mousius @gromero @lean

[2022-03-15 23:29] gromero commented on #10443
@ggardet @DimStar77 Folks, sorry, I really can't reproduce the issue here reported, so I can't help further.

I've set a OpenSUSE env and I still get the same result on Ubuntu (no failure), also using protobuf `3.19.4`.

Some logs in case that helps:

[code]

[2022-03-16 02:50] khj809 opened #10636 "[Bug] `DFPatternRewriteComposer.AddRewrite` with additional args raises compile error"
Hi folks,
I'm trying to use `DFPatternRewriteComposer` defined in `src/relay/transforms/simplify_expr.h` to compose rewrite patterns.
Suppose some of my rewrite patterns get arguments in constructor like this,
[code]
and I tried to add this pattern in composer like this,
[code]
then it results in compile error as follows.
[code]

So I tried to change the code in `src/relay/transforms/simplify_expr

[2022-03-16 05:46] masahi commented on #10636
cc @mbrookhart

This is better asked on discuss forum https://discuss.tvm.apache.org/

[2022-03-16 05:46] #10636 closed

[2022-03-16 06:09] khj809 commented on #10636
@masahi Ah sorry I didn't know that. I'll try to post it on there. Thanks!

[2022-03-16 09:18] #10443 closed

[2022-03-16 16:18] mehrdadh opened #10643 "[Hexagon] Move Hexagon generated files to build directory"
We should move generated files to build directory and do a cleanup on .gitignore file: https://github.com/apache/tvm/blob/8ddda1faabad78e4f8a83697008798952e1968a7/.gitignore#L256

Also we should remove those file from lint that are added in this PR: https://github.com/apache/tvm/pull/10609

[2022-03-16 17:13] gromero commented on #10619
@mehrdadh This can be closed now. But I don't have permission to do that...

[2022-03-16 17:28] #10619 closed

[2022-03-16 22:22] mehrdadh commented on #10319
this is fixed now.

[2022-03-16 22:22] #10319 closed

[2022-03-16 22:37] mehrdadh commented on #10035
@areusch we can close this one since we have `tvmc micro` tutorial now:
https://tvm.apache.org/docs/how_to/work_with_microtvm/micro_tvmc.html#sphx-glr-how-to-work-with-microtvm-micro-tvmc-py

[2022-03-16 22:39] #9423 closed

[2022-03-16 22:43] mehrdadh commented on #10312
@driazati It's been 21 days since https://github.com/apache/tvm/pull/10337 is merged. Can we close this issue?

[2022-03-16 22:44] driazati commented on #10312
sure, I haven't seen any timeouts lately so I'm fine calling this fixed

[2022-03-16 22:44] #10312 closed

[2022-03-16 22:54] driazati opened #10646 "[Tracking Issue] Rebuild docker images on PRs"
This tracks https://discuss.tvm.apache.org/t/rfc-rebuild-docker-images-per-commit/12047

- [x] Rebuild docker images in PRs #10525
- [x] Upload built Docker images to a remote registry https://github.com/apache/tvm/pull/10662
- [ ] Detect new builds and use fresh Docker images in subsequent build steps on PRs #10664
- [ ] Push built Docker images from `main` to `tlcpack` when new images were built

[2022-03-17 03:02] #10499 closed

[2022-03-17 07:10] ganler opened #10651 "[Bug][ONNX] MatMul in dense_alter_op"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-03-17 07:25] masahi commented on #10651
What happens if you use the PT frontend?

[2022-03-17 07:28] masahi commented on #10651
I think relay `dense` op type rel should reject such input shapes, I wonder why it doesn't...

[2022-03-17 07:29] ganler commented on #10651
It seems it tries to convert this MatMul operation into a dense operation...

[2022-03-17 07:33] ganler commented on #10651
It seems that cannot work as well

[code]

log

[code]

[2022-03-17 07:56] masahi commented on #10651
Yeah with this code I get the same error as onnx:

[code]

[code]

[2022-03-17 14:18] AleksKnezevic opened #10658 "[Bug][Pytorch] Negative indexing not handled for start argument of flatten"
When a flatten operator is imported from PyTorch, negative indexing on end is handled correctly, but it is not on start.

Looking at python/tvm/relay/frontend/pytorch.py:1237

        if end < 0:
            end += ndim

There is no equivalent check for start.

### Expected behavior

Flatten from PyTorch with negative indexing on either argument to work correctly.

### Actual behavior

Flatten fro

[2022-03-17 14:31] lhutton1 commented on #10606
Thanks for reporting this @mehrdadh, in #10640 we added a seed to all the codegen tests which should fix the issue with this test

[2022-03-17 16:59] #9703 closed

[2022-03-17 23:24] driazati opened #10665 "[Flaky Test] `TestConv2dConv2dPackedFilter::test_conv2d`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). As per [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures, these failures will be disabled in a PR that references this issue until the test owners can fix the source of the flakiness.

### Test(s)

- `tests/python/contrib/test_hexagon/test_

[2022-03-17 23:29] driazati opened #10667 "[ci] Add ability to skip parameters on specific tests"
This is possible via vanilla pytest with: https://docs.pytest.org/en/latest/how-to/skipping.html#skip-xfail-with-parametrize, but that doesn't work directly for TVM since parameters are often shared (e.g. https://github.com/apache/tvm/blob/main/tests/python/relay/test_op_level10.py#L625)

cc @Mousius @areusch @gigiblender

[2022-03-18 14:10] Mousius opened #10673 "[Tracking Issue] Enabling Testing in AArch64"
### This issue is to track progress enabling tests on AArch64
As part of enabling more tests in the AArch64 container, a number of tests had to be skipped and need to be fixed.

See also: https://github.com/apache/tvm/pull/10677 / https://github.com/apache/tvm/pull/10564

## Potential Schedule Issues

- [x]  [test_topi_conv2d_int8.py::verify_conv2d_NCHWc_int8](https://github.com/apache/tvm/blob/b0

[2022-03-18 17:16] areusch opened #10679 "[ci] Use mold or lld when available"
`mold` and `lld` can be a much faster alternative to `ld` from gcc. We should modify our CMakeLists.txt to detect and use these when possible. cc @yelite @driazati

cc @driazati

[2022-03-18 17:28] driazati opened #10681 "[ci] Segfaults kill junit XML generation"
In test failures where there is a segfault failure (e.g. https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-10647/2/pipeline/) pytest doesn't get a chance to wrap up the tests into a junit XML that we / Jenkins can parse.

[2022-03-18 17:43] gromero commented on #10679
wow yeah, thought about it some days ago, about using `mold`. That would great to experiment `mold` on TVM!

[2022-03-18 19:58] gromero commented on #10270
@PhilippvK Hi. Apologies for taking so long to reply your issue. Since there is no cc tagging me and I missed the notification from GH when the issue was created I just found it by chance now when eyeballing other TVM issues.

Thanks for the detailed investigation and for reporting the issue.

The errors in `Resulting output:` are actually not issues, i.e. your passing twice  the `--project-option

[2022-03-18 22:49] #5003 closed

[2022-03-20 22:23] masahi opened #10692 "[Bug] `DynamicToStatic()` in the non-VM build path causes `ApplyHistoryBest` to fail"
In meta schedule `ApplyHistoryBest`, we lookup a tuning database record based on the structural hash of the input relay subgraph as a key https://github.com/apache/tvm/blob/ce335c3a74185df6cc1152e53c60695d8a418d8e/src/meta_schedule/integration.cc#L134 (autoscheduler uses a different hash but the story is similar).

I've hit a situation where this lookup fails, even though the database has a corres

[2022-03-21 07:02] PhilippvK commented on #10270
@gromero My bad. Sorry for messing this up.

I would be happy to create a PR for this. However I think that the main issue is not fully solved by your suggested solution as it would only resolve boolean options correctly while options of type `int` would still be accessed as string. So we should either actually make use of the type hints in `server.ProjectOption` to implicitly convert those option

[2022-03-21 10:17] ekalda commented on #9410
All the operators that were part of this tracking issue are merged now!

[2022-03-21 10:17] #9410 closed

[2022-03-21 14:21] chausner-audeering opened #10694 "Support for the aten::square operator"
I see many of the aten:: operators are already supported but `aten::square` is currently missing. Any chance this operator could be added?

[2022-03-21 18:44] leandron opened #10696 "`task_rust.sh` and `task_cpp_unittest.sh` fail with updated Docker images when `USE_VITIS_AI ON`"
It looks like there is an error happening in `./tests/scripts/task_rust.sh` when we have updated images including Python 3.7/TensorFlow 2.6/h5py 3.1.0. **The error only happens when** `USE_VITIS_AI ON` in `./tests/scripts/task_config_build_cpu.sh`.

This is causing me issues when testing TensorFlow 2.6 images. I tried downgrading **h5py** and reproducing the steps **without success**. Despite that

[2022-03-21 18:53] driazati opened #10697 "[ci][Docs] Run `linkcheck` in CI"
Running `sphinx-build -b linkcheck . _build/linkcheck` after the build will dial each URL in the docs and error if links are broken. By default there is a sleep that appears difficult to configure https://github.com/sphinx-doc/sphinx/blob/4.x/sphinx/builders/linkcheck.py#L70-L73, but with default settings it takes about 3 minutes (though this is probably highly variable depending on how many links

[2022-03-21 20:23] masahi commented on #10694
Yes, that would be trivial to add.

[2022-03-22 11:32] leandron commented on #10696
Skipping `task_rust.sh` I also see an issue during cpp tests. Same case, similar error message. `[2022-03-22T10:56:59.483Z] free(): invalid pointer`.

Full log at: https://ci.tlcpack.ai/blue/rest/organizations/jenkins/pipelines/docker-images-ci/pipelines/docker-image-run-tests/runs/71/nodes/307/steps/514/log/?start=0

[2022-03-22 16:38] guberti opened #10706 "[Docs] Add Google Colab support to tutorials"
### Add "Open in Google Colab" button to .ipynb tutorials

On Tensorflow's doc sites, each interactive tutorial has a one-click open to open it on Google Colab - Google's interactive web editor for Python notebooks. See [this example](https://www.tensorflow.org/lite/performance/post_training_integer_quant) for post training integer quantization (screenshot below).
![image](https://user-images.gith

[2022-03-22 18:27] driazati opened #10707 "[Flaky Test] `tests/python/relay/test_auto_scheduler_layout_rewrite_networks.py::test_conv2d_winograd[cuda]`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). As per [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures, these failures will be disabled in a PR that references this issue until the test owners can fix the source of the flakiness.

### Test(s)

- `tests/python/relay/test_auto_scheduler_

[2022-03-22 18:28] driazati opened #10708 "[Flaky Test] `tests/python/contrib/test_cudnn.py::test_conv2d_backward_filter`"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking. You are always welcomed to post on the forum first :smile_cat:

These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrel

[2022-03-22 18:29] tkonolige commented on #10707
Looks like the cuda tuning can sometimes fail. Not sure what a good solution is here.

[2022-03-22 18:40] #10679 closed

[2022-03-22 18:41] junrushao1994 commented on #10679
@areusch @driazati This issue is closed automatically upon merge of #10683

[2022-03-22 20:14] jtuyls commented on #10696
@leandron I am looking at this. Not sure what is going wrong yet.

[2022-03-22 21:00] masahi commented on #10708
Looks like we just need to relax tolerance https://ci.tlcpack.ai/blue/rest/organizations/jenkins/pipelines/tvm/branches/main/runs/2818/nodes/304/steps/532/log/?start=0

[2022-03-23 00:44] #10692 closed

[2022-03-23 01:43] #10707 closed

[2022-03-23 01:56] AleksKnezevic opened #10720 "[Bug][Pytorch] Torch divide default behaviour not obeyed"
I believe that data type promotion is happening incorrectly for aten::div. As you can see here: https://pytorch.org/docs/stable/generated/torch.div.html#torch.div when both inputs are integers, they should get promoted to default scalar type, to allow true division.

### Expected behavior

Running the following code should produce a float divide:

### Actual behavior

It produces an integer divide

[2022-03-23 06:34] masahi commented on #10720
Thanks! Can you send a PR?

[2022-03-23 08:42] #10139 closed

[2022-03-23 13:40] AleksKnezevic commented on #10720
Here's the PR: https://github.com/apache/tvm/pull/10727

[2022-03-23 14:57] #10399 closed

[2022-03-23 15:12] Wheest commented on #10706
For this to be effective, perhaps it would be good to have a pre-build Colab binary of TVM than can be `wget`'d into the notebook's VM?

Otherwise the notebook would always need to begin with the user downloading and building TVM from scratch.

[2022-03-23 15:13] gromero commented on #10317
tvmc @gromero

[2022-03-23 16:15] guberti commented on #10706
As of December this year, we had a `pip` installable version, and I was able to get TVM building in Google Colab notebooks - I used it for my TVMCon talk.

[2022-03-23 16:20] Wheest commented on #10706
That's great, I must have missed that talk.  Do you have a link for it?

Is this the [TLCPack](https://tvm.apache.org/docs/install/index.html) mentioned in the current docs, or some other system?

[2022-03-23 16:25] guberti commented on #10706
Yep, it's TLCPack - you just have to run:
[code]
You can [see the talk here](https://www.youtube.com/watch?v=YYFkNo1W0F0) - I use a Python notebook to compile a model for Arduino. I'm currently working on adapting a version of that notebook to be included with the docs (working on and off - I'm in school right now) but that's my motivation for this feature/

[2022-03-23 19:40] ganler opened #10738 "[Bug][ONNX][EdgeCase] Crash on Scalar Reduce"
[code]

Scalar reduce like the example above is allowed in ONNX and can be executed by ONNXRuntime. But it will crash at `tvm::relay::GetReduceAxes` in TVM. Same things happens for `min/max/mean/sum`.

If TVM does not support scalar reduce (understandable as it is unnecessary in most cases and can be fixed in user code), I guess this should be an ONNX conversion issue.

In ONNX, if `axis` is not p

[2022-03-23 19:45] ganler commented on #10738
[code]

This relay IR crashes when doing type infer.

[2022-03-23 19:48] masahi commented on #10317
Note that "area of expertise" in `CONTRIBUTORS.md.` are not selected by each contributor themselves but rather semi-arbitrary picked by existing committers when they update the list. I can coordinate with you to come up with a more reasonable list @driazati

[2022-03-23 20:02] ganler commented on #10738
One quick way to fix it is to check rank of tensor being reduced during conversion:

[code]

But I think it won't be compatible with other reduce operators like `ReduceL2` etc.

[2022-03-23 23:03] driazati opened #10746 "[Flaky Test] `tests/python/contrib/test_cudnn.py::test_conv2d_backward_filter`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). As per [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures, these failures will be disabled in a PR that references this issue until the test owners can fix the source of the flakiness.

### Test(s)

- `tests/python/contrib/test_cudnn.py::tes

[2022-03-23 23:09] driazati opened #10748 "[Flaky Test] `CMSISNNConv2dBufferSize.Default`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). As per [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures, these failures will be disabled in a PR that references this issue until the test owners can fix the source of the flakiness.

### Test(s)

- `CMSISNNConv2dBufferSize.Default `

###

[2022-03-23 23:34] masahi commented on #10746
Isn't it a dup of https://github.com/apache/tvm/issues/10708?

[2022-03-23 23:38] #10746 closed

[2022-03-23 23:46] #10720 closed

[2022-03-23 23:47] masahi commented on #10658
Welcome a PR too.

[2022-03-24 00:34] areusch opened #10754 "Add version selector to docs.tvm.ai"
Many docs sites allow users to select the version of the project for which docs are shown. We don't currently support this on our docs site, and it's becoming more confusing now that we're pushing docs immediately after merge. It would be great to implement something similar to Read The Docs style selector here.

[2022-03-24 03:23] #10708 closed

[2022-03-24 10:05] leandron opened #10757 "[Bug] `test_vitis_ai_codegen.py` frontend tests run even when `USE_VITIS_AI OFF`"
The series of tests under `tests/python/contrib/test_vitis_ai/test_vitis_ai_codegen.py` are set to run conditional to the presence of `pyxir` module in the namespace, which is true for many of our CI containers including `ci_cpu`.

However, in case we have TVM built with `USE_VITIS_AI OFF` and try to run the same tests, it will fail with:
[code]

The error is expected once TVM was built with `USE_

[2022-03-24 10:12] lhutton1 commented on #10757
Just as a suggestion, I believe ACL uses similar logic to check if TVM was built with the expected configuration to run the tests. The skip functionality in the tests is implemented here: https://github.com/apache/tvm/blob/main/tests/python/contrib/test_arm_compute_lib/infrastructure.py#L159

[2022-03-24 10:27] lhutton1 commented on #10317
microNPU @lhutton1

[2022-03-24 10:45] lhutton1 commented on #10757
Ah apologies I see there is already something similar: https://github.com/apache/tvm/blob/main/tests/python/contrib/test_vitis_ai/infrastructure.py#L60

[2022-03-24 15:53] kparzysz-quic opened #10768 "[Bug] Hexagon DMA code is being compiled with v66"
Fan reported a issue building the latest TVM with `USE_HEXAGON_ARCH=v66`:
https://discuss.tvm.apache.org/t/tvm-runtime-for-hexagon-breaks-in-main-branch/12403

User DMA is only available in v68 or later, so the DMA code should be guarded by something like `#if __HEXAGON_ARCH__ >= 68`, and the actual memory copies should become `memcpy` on architectures that don't support DMA.

[2022-03-24 16:44] mehrdadh commented on #10706
@guberti we are in the process of adding TVM pip release. So we should be able to use `pip install apache-tvm` sometimes in near future.

[2022-03-24 21:26] #10694 closed

[2022-03-24 21:50] #10768 closed

[2022-03-24 23:09] driazati opened #10777 "[Flaky Test] `tests/python/contrib/test_ethosu/test_lut_optimizer.py::test_lut_optimizer_runs_in_compilation_pipeline`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). As per [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures), these failures will be disabled in a PR that references this issue until the test owners can fix the source of the flakiness.

### Test(s)

- `tests/python/contrib/test_ethosu/test_

[2022-03-25 00:00] driazati opened #10779 "[Flaky Test] `tests/python/unittest/test_target_codegen_vulkan.py::test_vulkan_stress`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). As per [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures), these failures will be disabled in a PR that references this issue until the test owners can fix the source of the flakiness.

### Test(s)

- `tests/python/unittest/test_target_code

[2022-03-25 00:02] masahi commented on #10779
I think this is being investigated as part of https://github.com/apache/tvm/pull/10595

cc @lazycal

[2022-03-25 08:16] chausner-audeering commented on #10694
That was quick, thanks a lot!

[2022-03-25 09:22] lhutton1 commented on #10777
Thanks for reporting @driazati, cc @ekalda @manupa-arm for visibility

[2022-03-25 09:52] manupa-arm commented on #10777
Ah it seems like a xdist worker crashed again

[2022-03-25 19:51] #10738 closed

[2022-03-27 06:14] leeexyz commented on #10614
Hi @JoeyTPChou, I cannot reproduce the issue you encountered by using the referred [case](https://discuss.tvm.apache.org/t/relay-op-nn-avgpool2d-in-pytorch-gives-different-results-than-tvm/12272?u=leeexyz) in the latest [main](https://github.com/apache/tvm/tree/ae285c6f08ff8e01dd8abf875d33cb365dfb1111). May I know the commit id that you use?

[2022-03-28 03:00] jinfagang commented on #7529
@jellywong88 Did u able to do it?

[2022-03-28 03:53] twmht opened #10800 "[Bug] Can't build with PAPI"
Due to latest TVM requires PAPI >=6.0, I compiled PAPI from source

[code]

modify path to papi pkgconfig

[code]

and then running cmake, but got errors

![image](https://user-images.githubusercontent.com/1567200/160323716-3b5fe1b6-fba9-4e01-9da3-97b1fdb95fbe.png)

Environment is nvidia jetson nano with ubuntu 18.04 and cmake version is 3.10.2

[2022-03-28 05:11] twmht commented on #10800
fix after updating cmake to 3.23

[2022-03-28 05:11] #10800 closed

[2022-03-28 05:27] #10658 closed

[2022-03-28 11:48] ccu1tn opened #10803 "[CI Problem] The compilation schedule in TVM"
Hi everyone;
I want to study for the compilation schedule in TVM. who can share with me some tutorials about it?
Many thanks!

[2022-03-28 23:10] masahi commented on #10803
This is better asked in https://discuss.tvm.apache.org/

[2022-03-28 23:10] #10803 closed

[2022-03-29 09:31] u99127 commented on #9762
has this now been completed ?

[2022-03-29 11:39] masahi commented on #10696
The CI update for `ci-cpu` is apparently blocked by this https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/239/pipeline/60

I've hit this error twice today.

[2022-03-29 12:19] jtuyls commented on #10696
This seems to be happening when tensorflow is being loaded inside pyxir. I don't know what the exact cause is for this starting to happen with tensorflow 2.6 but the issue looks very similar to this one: https://github.com/triton-inference-server/server/issues/3777 but with tensorflow instead of pytorch.

I have a workaround by loading tensorflow eagerly only when needed. I am currently verifying

[2022-03-29 15:05] u99127 commented on #10606
I'd suggest closing this as fixed and reopen if we see this again ?

[2022-03-29 15:17] manupa-arm commented on #8339
I think this is solved now.

[2022-03-29 15:29] Lunderberg commented on #10505
Also related to `elem_offset`, I think it will need to allow multiple independent offsets.  When a tensorized buffer is lowered, the `elem_offset` is used to store the flattened index.  For non-flat memory buffers, this requires multiple indices, but only one can be stored there.  I think both `elem_offset` and `offset_factor` will require one parameter per physical dimension, and will need to be

[2022-03-29 19:47] tqchen commented on #10505
Thanks @Lunderberg.

The multiple `elem_offset` is something that ideally we would like to have a deeper thoughts/discussions about, perhaps as part of BufferAccess semantics clarification.

Moving from a single `elem_offset` to multiple is likely a big change and would also need some systematic thinking through the buffer access semantics.

It would also be good to think about alternatives. In Te

[2022-03-29 21:31] leandron commented on #10757
With #10802 merged, we can close this now.

[2022-03-29 21:31] #10757 closed

[2022-03-30 22:15] altanh opened #10831 "[Bug][TIR][Script] TVM complains about undefined variables when building PrimFunc"
### Expected behavior

The code should build.

### Actual behavior

TVM complains about undefined variables, when there are none.

### Environment

Reproduced on main.

### Steps to reproduce

[code]
I get errors about `rii` and `rjj` when building.

cc @junrushao1994 @vinx13

[2022-03-30 22:26] altanh commented on #10831
I should note that removing the upper loop
[code]
seems to get rid of the error. The specific variable name doesn't actually matter in the second loop, it still errors (e.g. can change to `x = ...; y = ...; C_reg[x ,y] ...`)

[2022-03-30 23:15] vinx13 commented on #10831
Thanks @altanh for reporting this. Unfortunately, defining local variables in tvm script is not supported now

[2022-03-30 23:17] driazati opened #10832 "[ci] `unknown parent image ID` in Docker builds"
Seen it in many places e.g. https://ci.tlcpack.ai/blue/organizations/jenkins/docker-images-ci%2Fdaily-docker-image-rebuild/detail/daily-docker-image-rebuild/274/pipeline/57

cc @areusch

[2022-03-30 23:19] altanh commented on #10831
Is something happening when I remove the upper loop in that case? Since the PrimFunc definitely includes local let bindings when I print it:
[code]

[2022-03-31 03:47] jinfagang opened #10840 "[Bug] unable to retrive function from static lib via system lib"
Normally, from docs it says, the static lib can be get function out using this:

[code]

But I can not get the function I need from static lib.

[code]

I have generated the static lib, with target:

[code]

Anyone knows why?

BTW, does the python API outs now?

![image](https://user-images.githubusercontent.com/21303438/160972374-0a9f6a00-ec5c-4244-9dd6-107d8fc3e937.png)

[2022-03-31 04:07] masahi commented on #10673
[test_topi_conv2d_int8.py::verify_conv2d_NCHWc_int8](https://github.com/apache/tvm/blob/b01e3fc4d21bba898a5ea17d526013c52ea720eb/tests/python/topi/python/test_topi_conv2d_int8.py#L383-L392) was fixed in https://github.com/apache/tvm/pull/10839

[2022-03-31 08:05] jackyflame opened #10842 "[make error] 3rdparty/libbacktrace/configure Syntax error"
root@00048971l16:/tvm/tvm/build# make -j4
[  0%] Creating directories for 'project_libbacktrace'
[  1%] Building CXX object CMakeFiles/tvm_libinfo_objs.dir/src/support/libinfo.cc.o
[  2%] No download step for 'project_libbacktrace'
[  2%] No checkout step for 'project_libbacktrace'
[  2%] No update step for 'project_libbacktrace'
[  2%] No patch step for 'project_libbacktrace'
[  2%] Performing co

[2022-04-01 06:15] mei-ye opened #10857 "Another stack overflow due to recursive call in device_planner.cc"
@mbs-octoml
@masahi

Another stack overflow due to recursive calls in device_planner.cc is found:
class DeviceCapturer : public ExprMutator {
....
  Expr VisitExpr_(const CallNode* call_node) final {
     // Recursive calls here.
     args.push_back(VisitChild(/*lexical_virtual_device=*/call_virtual_device,

  }
...
}

MixedModeExprMutator can't be used here since it has "final" declaration for Vi

[2022-04-01 07:02] masahi commented on #10857
I think we can override `Rewrite_` methods in `DeviceCapturer` as documented here:
https://github.com/apache/tvm/blob/1df1580ef0d0543b5c0a4bad95db8133bb4afc89/include/tvm/relay/expr_functor.h#L292-L302

`MixedModeMutator` is used in a lot of places, you can have a look at how they are implemented.

[2022-04-01 11:00] wrongtest opened #10861 "[Bug][Arith] test_arith_solve_linear_equations.py non-deterministic case error"
__________________________ test_solution_consistency ___________________________
     def test_solution_consistency():
         seed = random.randrange(sys.maxsize)
         print(
             "\nThis test is intentionally non-deterministic, "
             "if it fails please report it in github issue together with this seed {}\n".format(seed)
         )
         random.seed(seed)

         def _

[2022-04-01 13:42] Mousius opened #10866 "[CI Image] Update AArch64 image with new frontend updates"
- [x] S0. Reason: Frontend dependencies added in https://github.com/apache/tvm/pull/10676

- [x] S1. Tag of nightly build: 20220401-055956-95df0eb14. Docker hub: https://hub.docker.com/layers/ci_arm/tlcpackstaging/ci_arm/20220401-055956-95df0eb14/images/sha256-e82d0a012b6a2bb3ee37b33d431b3c76b8348419bf3dd4e12f520e4ba2a5b1a4?context=explore

- [x] S2. The nightly is built on TVM commit: 95df0eb1461

[2022-04-01 14:36] Mousius commented on #10120
Completed 😸

[2022-04-01 14:36] #10120 closed

[2022-04-01 14:40] Mousius commented on #9762
All of these images were updated as part of https://github.com/apache/tvm/commit/d0024e394180189b33659caf5b5c3c76a32f7bba so we're safe to close this 😸

[2022-04-01 20:15] tkonolige commented on #10831
[code]

I get a similar error here.

[2022-04-01 21:34] tkonolige opened #10877 "[Bug][TIR] Invalid loop vectorization and buffer compaction"
When using an `alloc_buffer` that is not initialized or written out, CompactBufferAllocation and LoopVectorize passes perform invalid rewrites. Technically these could be considered correct because the changes have no effect on output, but they are very confusing when inspecting the lowered code.

Example script:
[code]

Output:
[code]

The first output incorrectly has `A_pack_1` accesses as all b

[2022-04-01 22:09] vinx13 commented on #10877
`CompactBufferAllocation` requires intermediate buffer inside kernels to have both writers and readers in order to calculate the actual shape needed for allocation. If you have already specified the compacted shape, you can disable both `tir.CompactBufferAllocation` and `tir.PlanAndUpdateBufferAllocationLocation`, to keep buffer allocation and its shape as specified in the original TIR script.

[2022-04-02 01:27] #10877 closed

[2022-04-02 01:36] vinx13 commented on #10861
This usually means some arithmetic simplification rules are wrong. Which commit did you use? I'm not able to reproduce in main

[2022-04-02 02:30] wrongtest commented on #10861
+1, I also find it is ok in main. We depend on upstream commit up to 2f7bb58377736bec2a15b45fa730e6f5b73605fb. Maybe it is already fixed?

[2022-04-04 10:32] leandron commented on #10696
Based on results at https://ci.tlcpack.ai/job/docker-images-ci/job/docker-image-run-tests/82/, which include #10858, we can update the Docker images now, as the bug reported here is fixed.

[2022-04-04 17:51] #10696 closed

[2022-04-04 20:41] vinx13 commented on #10861
Likely fixed in https://github.com/apache/tvm/pull/10626

[2022-04-04 20:41] #10861 closed

[2022-04-05 00:31] zxybazh opened #10899 "[Bug] Rfactor Generate Wrong Blocks"
I found that `rfactor` could generate a init block inside of a pure-spatial block which is not expected.
Here is a minimal reproduced script.

CC: @MasterJH5574 @junrushao1994

[code]

[2022-04-05 00:35] zxybazh commented on #10899
Here is the generated TIR script.

[code]

[2022-04-05 00:36] zxybazh opened #10900 "[Bug] `Compute_inline` Accepts Invalid Block Causing Error"
In the following script `compute_inline` accidentally accepts invalid pure spatial block with init block inside, causing undefined reference to a tensor created by `buffer_decl`.

CC @MasterJH5574 @junrushao1994

[code]

[2022-04-05 00:37] zxybazh commented on #10900
Here is the generated tir:
[code]

[2022-04-05 18:25] lazycal commented on #10779
My PR is merged. Hope it can fix this issue :-).

[2022-04-05 18:26] driazati commented on #10779
closing, will re-open this one if we see it again

[2022-04-05 18:26] #10779 closed

[2022-04-06 01:17] huajsj commented on #8596
@rebel-shshin, thanks for the follow up, yes, a tutorial is a very good suggestion, actually we are working on the related document, I would add a tutorial task under this issue for tracking purpose.

[2022-04-06 09:04] #10866 closed

[2022-04-06 13:40] jikechao commented on #10842
I came cross the same crash. is there any workaround to solve the bug?

[2022-04-08 14:54] Lunderberg commented on #10505
Following some debugging with @areusch on an issue caused by `preflattened_buffer_map`, I did some experimenting on how hard it would be to remove it altogether.  #10940 is a proof of concept for keeping the preflattened shape in the `buffer_map`, while the function body refers only to flattened aliases of the user-provided buffers.  It looks like it is working pretty well, and intend to open an R

[2022-04-08 15:22] tqchen commented on #10505
@Lunderberg this also relates to https://github.com/apache/tvm-rfcs/pull/63/ where we can use buffer declaration to create alias, I think this should be the right way do go. Additionally, it would be great to make buffer declaration(alias creation) explicit

[2022-04-08 16:09] Lunderberg commented on #10505
Thank you, and I feel silly for forgetting RFC#63 after the draft discussions, and definitely agreed on the explicit aliasing being a better option.

[2022-04-08 21:47] vinx13 commented on #10831
The issue here is `A_pack`, `B_pack` is allocated but not initialized. Without both writer and reader of the buffer being present, it cannot analyze the buffer shape and the allocation site correctly. We may want to add assertions in `PlanAndUpdateBufferAllocationLocation` make sure that buffer is initialized and avoid user confusion. cc @Hzfengsy
If you would like to keep buffer shape and allocat

[2022-04-08 21:47] #10831 closed

[2022-04-08 22:44] AndrewZhaoLuo opened #10950 "[Tracking Issue] Handle ONNX contrib operators"
Right now ONNX converter to Relay works by using operator name to match up with proper converter.

The issue is we increasingly have to deal with operators from different onnx modules/domains. Onnx nodes also have this sort of namespace https://github.com/onnx/onnx/blob/main/docs/IR.md#nodes too. In the future, we might have name collisions between like names in different namespaces. We should han

[2022-04-08 23:01] #10035 closed

[2022-04-08 23:03] areusch commented on #9217
@Yevgnen i don't think we publish rust docs right now due to a problem generating them in CI. I think @jroesch might take a stab at re-enabling them, or if you'd like to take a crack at it, feel free to send a PR.

[2022-04-10 22:08] sirish-cadence commented on #693
@xqdan @derisavi-huawei
Did you guys add dump functions (like llvm or glow compiler)  regarding this conversation? Without those functions, it's very tidious to run TVM undergdb and peek thorugh functions/expressions etc.

[2022-04-11 02:47] rebel-shshin commented on #8596
Thank you very much :)

[2022-04-11 03:48] jinfagang opened #10956 "[Bug] The matmul search out on CPU much more slower than Numpy"
Here is the script:

[code]

And this is the result:

[code]

Clearly the numpy result much more faster than tvm. Is that normal?

[2022-04-11 06:50] Kamran-10xe opened #10957 "TVM with an LLVM Back-end giving error on resnet50"
Hi,
I have been trying to go through the tutorial which helps compile the RESNET50 using an LLVM Back-end. The LLVM Back-end I am using is a cross compiler for RISC-V. So I am trying to generate the assembly for RISC-V from RESNET50. When I try to compile the code using the following command:
`tvmc compile --target "llvm -march=rv64imv -mcpu=generic-rv64" --output resnet50-v2-7-tvm.tar resnet50-v2

[2022-04-12 16:11] mehrdadh opened #10977 "[CI][Hexagon] Update Hexagon Image to Ubuntu 20.04"
Steps:
- [x] Adapt scripts to Ubuntu 20.04: https://github.com/apache/tvm/pull/10841
- [x] Update hexagon SDK: https://github.com/apache/tvm/pull/10932
- [x] Build and validate new hexagon image: https://ci.tlcpack.ai/job/docker-images-ci/job/daily-docker-image-rebuild/
- [x] tag and push the new image. `tlcpackstaging/ci_hexagon:20220412-060358-aa5628692` has been validated.
- [ ] Update jenkinsf

[2022-04-12 16:12] mehrdadh commented on #10977
cc @leandron

[2022-04-12 21:03] gromero opened #10984 "[CI Image] Rebuild Docker images to get pytest-lazy-fixture installed"
- [ ] S0. Reason: a blocked PR. PR https://github.com/apache/tvm/pull/10865 is blocked because it requires the `pytest-lazy-fixture` plugin to be present in the CI so  the tests added by this PR can pass the checks. PR https://github.com/apache/tvm/pull/10970 added  `pytest-lazy-fixture` to the install scripts  and now the CI images need to get updated properly so the pytest plugin is available in

[2022-04-13 00:23] #10977 closed

[2022-04-13 15:37] gromero commented on #10984
Addressed by https://github.com/apache/tvm/commit/41319ab6926226fa9b458621e8100e4db4b6be24 , so closing this one.

[2022-04-13 15:37] #10984 closed

[2022-04-13 15:39] Mousius commented on #10984
We can leave this open until #10999 is merged @gromero, it should auto close it when the PR has landed 😸

[2022-04-13 15:42] gromero commented on #10984
@Mousius ok!

[2022-04-13 17:59] areusch opened #11002 "[Tracking Issue] Update to googletest 1.11.0"
We currently use googletest 1.7, and it's confusing to read modern documentation which doesn't apply. Ultimately to implement a custom GMock matcher, I had to go read source code and deduce the old interface from the changelog. We should update to 1.11.0 so the online docs match what we can do in TVM.

[2022-04-13 19:40] guberti commented on #10706
Over the last two weeks, I've spent some cycles trying to understand how this would work. On the surface, it is simple enough - just add a link to the TVM site repo. For example, clicking on this URL will open the `micro_tflite` tutorial in Colab, which can be done without modifying the code at all:

https://colab.research.google.com/github/apache/tvm-site/blob/asf-site/docs/_downloads/5b279d8a871

[2022-04-13 20:19] #10956 closed

[2022-04-13 20:19] masahi commented on #10956
This is better asked on the forum.

[2022-04-14 02:30] jinfagang commented on #10956
@masahi forum is very few people.

[2022-04-14 05:54] milad1378yz opened #11008 "Can TVM also be used for dynamic models?"
I used two ways to use TVM on the BERT model
The first is to use the provider in onnxruntime and the second is to use the following link:
[https://tvm.apache.org/docs/how_to/deploy_models/deploy_sparse.html](url)
In the first method, I encountered the following error:
Incompatible broadcast type TensorType([-1, -1, 768], float32) and TensorType([1, 511, 768], float32)
This means that dynamic input

[2022-04-15 07:02] guberti commented on #10706
I have a prototype of this working! See #10921, though it still requires those changes to Sphinx Gallery mentioned above. You can also check out the HTML tutorial at:
https://guberti.github.io/tvm-docs-proof-of-concept/

[2022-04-16 23:42] junrushao1994 commented on #10842
We could turn off libbacktrace via the following setting in config.cmake:

[code]

And of course, mixing different toolchains in a C++ project could cause potential issues. Would be great if we could finally unify the autoconf toolchain used in libbacktrace into cmake

[2022-04-17 05:29] #10899 closed

[2022-04-17 07:42] #10900 closed

[2022-04-18 03:00] masahi commented on #11008
Please post a question like this to https://discuss.tvm.apache.org/

Models with dynamic input can be compiled, but performance on dynamic shape is terrible since we cannot tune such workload currently.

[2022-04-18 03:00] #11008 closed

[2022-04-19 04:58] junrushao1994 commented on #9476
This issue is going to be fixed with Relax. CC: @jinhongyii. Not sure if we have any bandwidth on AutoScheduler / Relay

[2022-04-19 12:39] pfk-beta opened #11058 "[Bug] tuning cannot send task but tracker - device connection is ok"
Hello,

I think that I have correct rpc connection between my computer and android device:
1. I have compiled tvm_rpc executable using Docker.android_demo with modifiication. I have put there headers for OpenCL, and compiled binary to use them.
2. I have put executable to the device, and `libc++_shared.so`  `libtvm_runtime.so` libraries, as well.
3. When I run command `adb -s HQUCI76PJJ7TFYLZ shel

[2022-04-19 12:45] pfk-beta commented on #11058
tuning script:
[code]

[2022-04-19 13:44] pfk-beta opened #11059 "[Bug] compile tvm_rpc without hexagon causes missing -lcdsprpc"
When I run command to compile tvm_rpc, i'm getting error, that linker cannot find -lcdsprpc, which I think is compiled/added during Hexagon module. My compilation command:
[code]

Error:
[code]

During Cmake I see:
[code]

My SoC is Mediatek Helio P22 MT6762

[2022-04-19 15:38] kparzysz-quic commented on #11059
As a workaround, you can add `-DUSE_HEXAGON_SDK=OFF` to your cmake command, or change line 48 in apps/cpp_rpc/CMakeLists.txt from
[code]
to
[code]

[2022-04-19 18:14] shingjan opened #11064 "[Bug] TE hybrid parser doesn't work with latest Python version (3.9+)"
This issue below happens during importing onnx model in tvm with relay, `from_onnx` more specifically. The stack trace is as follows:

### Actual behavior

[code]

### Expected behavior

This model should be imported without an error under Python 3.9

### Environment

TVM commit a94558686834c4ff7e4d90e4bc1fde5451ce445d

Python 3.9

### Steps to reproduce

[code]
The model is `ssd.onnx` downloaded

[2022-04-19 20:57] tkonolige commented on #11064
#8577 is tracking this problem.

[2022-04-20 09:43] pfk-beta commented on #11059
Thanks, argument in cmake command doesn't work. If anyone needs, this is sed command:`sed -i 's/if (BUILD_FOR_ANDROID AND USE_HEXAGON_SDK)/if (BUILD_FOR_ANDROID AND USE_HEXAGON)/g' ../apps/cpp_rpc/CMakeLists.txt`

[2022-04-20 23:38] areusch commented on #11064
closing in favor of #8577

[2022-04-20 23:38] #11064 closed

[2022-04-21 09:53] #11059 closed

[2022-04-21 16:27] tkonolige commented on #10842
@jackyflame I'm having trouble reproducing this issue. I tried on a Ubuntu 16.04 VM and could not reproduce. Can you provide more information about your environment? What version of bash and sh are you using? What kind of machine are you running on? What is your architecture?

[2022-04-21 16:45] jonathansparling opened #11092 "Header file for //src/relay/quantize/realize.cc classes"
For architectures that require custom realizations, it would be convenient to move the `realize.cc` classes to their own header file.

[2022-04-22 05:25] zxybazh opened #11096 "[Bug] PopenPool Worker Memory Leak Issue in Building"
According to recent PRs #11094 #11074 , we found that multiple teams independently identified the same memory leak problem using PopenPool worker for tvm building during tuning.

Now the common workaround seems to be restarting the worker / Popen process pool after certain time of usage.
This issue is thus created to further investigate and track the root cause.

CC: @tqchen @junrushao1994 @shingj

[2022-04-22 07:24] junrushao1994 commented on #10754
i love this feature too!! PyTorch and TensorFlow both provide similar functionalities and it's super helpful to look up historic API documentation specifically when APIs of some sub-system is in flex

[2022-04-22 11:01] pfk-beta commented on #10221
solved by #10222

[2022-04-22 11:01] #10221 closed

[2022-04-24 03:27] 0x00-pl opened #11107 "[Bug] type check fail when using bfloat16 in export_library"
bf16_legalize changes buffer type from bfloat16 to uint16.
but input var is still bfloat16.

### Environment
https://github.com/apache/tvm/blob/v0.8/src/tir/transforms/arg_binder.cc#L166
https://github.com/apache/tvm/blob/v0.8/src/tir/transforms/bf16_legalize.cc#L220
https://github.com/apache/tvm/blob/v0.8/src/tir/transforms/bf16_legalize.cc#L235

[2022-04-24 17:17] robertobarg commented on #3545
I have the same issue on ubuntu 20.04, there is a solution to get af installed? Thanks.

[2022-04-25 17:46] driazati opened #11117 "[CI Problem] CI has logging errors even when successful"
We should look into these and clean them up so they don't happen since its mostly just confusing if its an actual error or not (usually not)

ex: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-10516/9/pipeline/#step-838-log-1604

[code]

[2022-04-26 00:05] mehrdadh opened #11121 "[microTVM] Update Zephyr workflow to use host-driven AoT executor"
Once we have https://github.com/apache/tvm/pull/11044 merged, we should update the zephyr workflow in [aot_demo](https://github.com/apache/tvm/tree/main/apps/microtvm/zephyr/template_project/src/aot_demo) to use host-driven feature.

cc @alanmacd @gromero

[2022-04-26 03:00] jinfagang opened #11122 "[Bug] tvm fp16 much more slower than float32"
I have a simple MLP model which have 3 layer fcs, I using te to build it manually and specified the dtype in each layer. the exported lib inference much more slower than float32.....

and the exported .so size is twice bigger than float32. How could this be possible?

[2022-04-26 04:21] masahi commented on #11122
Without HW support for fp16, fp16 compute will be emulated via software. So it is not surprising that the generated code is bigger than fp32.

Please post basic usage questions to the forum.

[2022-04-26 04:21] #11122 closed

[2022-04-26 05:59] jinfagang commented on #11122
@masahi thanks. I am using iPhone12 realphone, which obisouly support fp16. But the generated .a size, bigger than float32, speed slower.

[2022-04-26 06:05] masahi commented on #11122
You need to tell TVM that your target has native fp16, otherwise we can't generate fp16 code. See my forum post answer.

[2022-04-26 06:30] jinfagang commented on #11122
@masahi thanks, I have gened the lib with llvm config:

[code]

And all te build operations using dtype = fp16, the inference memory actually shrined down, but the .a size and speed are not expected. So it actually gened fp16 .so, but somehow the .a is bigger which I can not figure out, it doesn't make sense.

And the speed slower.

Does there any examples on how to exactly gen fp16 .so or .a on i

[2022-04-26 09:12] tgxs002 opened #11125 "Guide the users to pull the stable source code"
### Documentation Title & Type

Title: [Install from Source](https://tvm.apache.org/docs/install/from_source.html#install-from-source)->Developers: Get Source from Github

### Additions/Changes Requested

Currently, the document tells the users to pull the source code by running:

git clone --recursive https://github.com/apache/tvm tvm

This can lead to wired behaviors, since the working branch mi

[2022-04-26 16:38] grant-arm opened #11131 "[CI Problem] CI/MacOS fails with UnsatisfiableError: ... specifications were found to be incompatible with the existing python installation"
CI/MacOS fails with the following error that appears to be unrelated to the changes included in the PRs that are failing:
[code]

### Branch/PR Failing

https://github.com/apache/tvm/pull/11128
https://github.com/apache/tvm/pull/11124
https://github.com/apache/tvm/pull/11123

### Jenkins Link

https://github.com/apache/tvm/runs/6177166348?check_suite_focus=true

### Flakiness

This doesn't seem to

[2022-04-26 18:07] AndrewZhaoLuo commented on #11131
python 3.10 does not work with tvm script right now. see issue https://github.com/apache/tvm/issues/8577

[2022-04-26 22:56] #11131 closed

[2022-04-27 08:17] tgxs002 opened #11139 "[Bug] auto scheduler fails when an input is accessed in two te.compute() functions"
I am running the auto-scheduler on this function:

[code]

Note that I_2 is accessed twice. I can run the operator without using the scheduler, and it works perfect with the correct result.
### Expected behavior

I expect it to be automatically optimized by the following code.
[code]

### Actual behavior

[code]

### My workaround

I duplicated I_2 by adding this line after the declaration of I_2:

[2022-04-27 14:00] pfk-beta opened #11143 "[Bug] linker verbose in tvmc compile"
Hello,
When I'm trying to compile module with tvmc, I'm getting following error:
[code]

Would be great, that enabling verbosity in compile command, will trigger runing linker with verbosity

[2022-04-27 18:10] gromero commented on #11143
@pfk-beta Please provide more details on how you've generated such a linker error so it's easy to reproduce your steps and work on it. Thank you.

[2022-04-27 18:34] driazati commented on #9610
this hasn't come up in a while and with autoscaled nodes it's not really a problem

[2022-04-27 18:34] #9610 closed

[2022-04-27 19:29] alanmacd opened #11150 "CI script ARM container on x86 via QEMU setup command is incorrect"
The suggested command to setup the ARM docker image is incorrect, I believe it should say the following:
`sudo apt install -y qemu binfmt-support qemu-user-static`

https://github.com/apache/tvm/blob/3afb433eb86d92b057163c5b7bb2160498ea4f98/tests/scripts/ci.py#L431

[2022-04-28 10:23] pfk-beta opened #11158 "[Bug] tvmc compiler - missing target_host argument"
Hello,

I'm trying to compile module for opencl backend. I'm encounter errors:
[code]
In one of discuss threads I've read, that I have to set target_host ( https://discuss.tvm.apache.org/t/cant-run-rpc-gpu-tutorial-on-my-own-device/564/3 ). So I look into compiler.py, and see that argparse argument for target_host is missing, and comiler function is setting target_host to None (sic!).

[2022-04-28 11:56] wangshankun opened #11160 "[Bug] [VTA][SIM][AutoTvm] RPCRunner can't run on vta simulator"
### Code Version:
        [v0.9.dev0 ]

### Exec tune_relay_vta.py  through VTA interface using SIM device

    Host: start a tracker
          python3 -m tvm.exec.rpc_tracker --host=0.0.0.0 --port=9190

    Device: register to host tracker
        python -m tvm.exec.rpc_server --tracker=10.100.1.24:9190 --key=sim

        vta device config info:
        tvm/3rdparty/vta-hw/config/vta_config.json

[2022-04-28 14:05] petuca commented on #10651
I successfully managed to reproduce the issue just like you.
I tried to use your ideas for solving this problem. First I tried to put the unsqueeze() in code in dense_alter_op.py file before the breaking part. Nothing happened and the problem is the same just like in the beginning (also tried the squeeze() for inversly solving).
The variable 'tinfos' has the two tensor arrays of dimensions [3, ] a

[2022-04-28 17:38] #11150 closed

[2022-04-28 17:55] Mousius commented on #10317
micronpu @Mousius
ci @Mousius
aot @Mousius
tvmc @Mousius
microTVM @Mousius

[2022-04-28 18:06] Mousius opened #11168 "[CI Problem] ci_gpu fails to build trying to use missing GPG Key"
Raising to track: https://github.com/NVIDIA/nvidia-docker/issues/1631

### Branch/PR Failing

#11162

### Jenkins Link

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-11162/7/pipeline/62

[2022-04-28 19:15] Mousius commented on #11168
Looks like we need to add some steps to `Dockerfile.ci_gpu`:
https://forums.developer.nvidia.com/t/notice-cuda-linux-repository-key-rotation/212772

[2022-04-28 23:04] ganler commented on #10651
@petuca I am pretty sure https://github.com/apache/tvm/pull/11174 can fix it for ONNX.

[2022-04-28 23:05] ganler commented on #10651
This was originally a fuzz bug but still excited to see fuzz bugs can be real-world cases.

[2022-04-29 02:51] wangshankun commented on #11160
same error，using autotvm.LocalRunner
![image](https://user-images.githubusercontent.com/3970271/165877776-542a4fe9-c730-4ef8-87bd-ce926e5953f4.png)

[2022-04-29 13:28] Dougalll opened #11182 "build and run problems[Bug]"
here as the ApacheTVM site will not allow links.
**Computer**
I’m running on Ubuntu 18.04 LTS. Windows is not possible for me as I do not have access to Visual studio Enterprise 2019 and most of the download websites are blocked by my companies firewall. My Ubuntu 18.04 LTS has no restrictions. I want to test deployment onto Xilinx FPGAs.
**Why I’m evaluating Apache TVM**
I’m looking for a tool to

[2022-04-29 15:48] #11168 closed

[2022-04-29 17:07] leandron opened #11186 "[Bug] `python setup.py install` fails with "can't copy '../configs/': doesn't exist or not a regular file""
Our current mechanisms used to add `data_files` to the setuptools configuration is only handling file names correctly. This is because when it was implemented, only files like `libtvm.so` were added. In recent implementations we added directories as libraries, which don't match with the `data_files` syntax, meaning that if we try to run `python setup.py install`, it will fail with "error: can't co

[2022-04-29 20:23] yelite opened #11192 "Avoid lint error on forward type reference in TVMScript"
In TVMScript, there are places where literal string is used in type annotation as type parameter. For instance,
[code]
This will result in lint error `undefined name 'float32'` since linter (or type checker) treats literal string in type annotation as [forward references](https://peps.python.org/pep-0484/#forward-references). While there will not be any runtime errors, this makes editing TVMScript

[2022-04-29 23:17] #10651 closed

[2022-05-01 01:46] #11092 closed

[2022-05-02 17:49] areusch opened #11195 "[CI Problem] docker build can fail due to concurrent docker system prune"
Seeing strange build failures due to missing docker images:

[1.](https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-11170/1/pipeline/61/)
[code]

[2.](https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-11148/8/pipeline/)
[code]

Hypothesis is that periodically, the CI workers run `docker system prune` to remove stale CI images and ensure PRs don't run out of disk space on

[2022-05-02 18:14] mehrdadh opened #11196 "[microTVM] Refactor microtvm tests to use tmpdir_factory"
To be more consistent with the rest of TVM we should refactor temp directory creation for project API tests to use `tmpdir_factory`.

https://github.com/apache/tvm/blob/169f824d69442ac9c19f320e2ddb9baec32af68e/tests/micro/zephyr/conftest.py#L62

cc @alanmacd @gromero

[2022-05-02 18:27] konturn commented on #11195
Setting an age filter on docker prune won't completely resolve the issue, as it's possible for docker builds to use older cached layers, and then to subsequently fail on the `docker push` operation if a prune occurs in between the cache and the push. A more sustainable solution would be to limit the lifetime of CI nodes (e.g., https://aws.amazon.com/about-aws/whats-new/2019/11/amazon-ec2-auto-scal

[2022-05-02 23:30] areusch commented on #11195
in practice our docker containers are built with --no-cache, so only the FROM image should be older than e.g. `<longest_step_time> + <fudge_factor>` min. i think we could do either thing, but the prune does help to ensure we don't have a rogue CI run that allocates tons of disk

[2022-05-03 13:30] grant-arm opened #11200 "[CI Image] Update ci_lint with blocklint"
- [ ] S0. Reason: https://github.com/apache/tvm/pull/11128 updates ci_lint by adding blocklint

- [ ] S1. Tag of nightly build: TAG. [20220503-055912-f00c8db5c-validated](https://hub.docker.com/layers/ci_lint/tlcpackstaging/ci_lint/20220503-055912-f00c8db5c-validated/images/sha256-8d221cad6ce09422caa134176faa977956c74487f737420f57ad63f1a76861c2?context=explore)

- [ ] S2. The nightly is built on T

[2022-05-03 15:46] #11002 closed

[2022-05-03 15:46] Mousius opened #11202 "[CI Image] Upgrade ci_wasm, ci_gpu, ci_cpu, ci_i386, ci_hexagon, ci_qemu and ci_arm to get newer GoogleTest"
- [ ] S0. Reason: Upgrading GoogleTest from https://github.com/apache/tvm/pull/11162

- [ ] S1. Tag of nightly build: TAG. Docker hub: https://hub.docker.com/layers/tlcpackstaging/ci_cpu/...

- [ ] S2. The nightly is built on TVM commit: TVM_COMMIT. Detailed info can be found here: https://ci.tlcpack.ai/blue/organizations/jenkins/docker-images-ci%2Fdaily-docker-image-rebuild/detail/daily-docker-im

[2022-05-03 15:47] Mousius commented on #11200
I'll do this alongside https://github.com/apache/tvm/issues/11202 @grant-arm 😸

[2022-05-03 15:56] grant-arm commented on #11200
Thanks @Mousius

[2022-05-03 16:25] konturn commented on #11195
Ah I see--well in any case I just opened https://github.com/tlc-pack/ci-packer/pull/4, which adds a prune filter as proposed.

[2022-05-05 01:08] mehrdadh opened #11216 "[Bug][AutoTVM] autotvm.task.extract_from_program fails on a conv2d operator"
Running autotvm.task.extract_from_program on this relay module which is a conv2d with `NHWC` format and `HWOI` and int8 input dtype shows this error:

**relay module**
[code]

**target**
`c -keys=arm_cpu,cpu -link-params=0 -mcpu=cortex-m7`

**traceback**

[code]

cc @elvin-n @icemist

[2022-05-05 16:18] Mousius opened #11220 "[CI Problem] Windows build fails when compiling RPC server"
[code]

### Branch/PR Failing

I think this was Introduced in #10967 which failed to build yet was still merged, unsure how that happened 🙀

### Jenkins Link

[Provide a link to the specific run that has failed.
](https://github.com/apache/tvm/runs/6296517893?check_suite_focus=true#step:4:1043)

cc @mehrdadh @areusch @kparzysz-quic

[2022-05-05 16:30] mehrdadh commented on #11220
@Mousius thanks for reporting this! Will investigate today

[2022-05-06 15:15] #11200 closed

[2022-05-06 15:15] #11202 closed

[2022-05-06 20:26] Wheest opened #11233 "[Bug] debug_executor.create fails"
### Expected behavior

Compiling a model with `debug_executor` allows one to run the model and get the tracing output.

### Actual behavior

Process fails during the module creation:
[code]

### Environment

x86 platform, TVM v0.8.

### Steps to reproduce

[This script](https://gist.github.com/Wheest/9ad2d6a47bbd2cfaa4be530c68ba2f6c) shows the issue.

The gist has three modes: `["tutorial", "alt",

[2022-05-06 22:04] mehrdadh opened #11237 "[Bug] Enabling gtest on Hexagon breaks skel library"
Running hexagon launcher on HDK boards shows this error after enabling gtest:

[code]

cc @adstraw

[2022-05-06 22:13] areusch commented on #11220
sorry for this break! can we close now that the revert is merged?

[2022-05-06 23:47] tkonolige commented on #10842
@jackyflame Are you still having this issue? If so, could you provide some more information to help us debug? For example: what version of bash and sh are you using, what kind of machine are you running on (Is it a VM on a popular cloud provider so I could try to reproduce on my own instance), and what your architecture is.

[2022-05-08 20:16] rpitonak commented on #10840
Did you find the solution? I have the same error

[2022-05-09 02:28] #10840 closed

[2022-05-09 21:29] mehrdadh opened #11251 "[Flaky Test] `tests/python/frontend/paddlepaddle/test_forward.py::test_forward_gather_nd`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/frontend/paddlepaddle/test_forward.py::test_forward_gather_nd`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/PR-11193/8/display

[2022-05-09 22:05] driazati commented on #11251
definitely flaky since it failed on main https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3198/pipeline/

cc @jiangjiajun

[2022-05-10 11:42] MichaelJKlaiber opened #11260 "[Tracking Issue] UMA: Universal Modular Accelerator Interface"
This is a global tracking issue for landing **UMA**. The original RFC can be found [here](https://github.com/boschresearch/tvm-rfcs/blob/rfc_uma/rfcs/00xx_UMA_Unified_Modular_Accelerator_Interface.md). Please feel free to bring in more questions to the corresponding thread.

To make the improvement manageable, we will be breaking the code into several steps. The main architecture scaffolding and
d

[2022-05-10 17:54] jianzhangru opened #11264 "[Bug] tvmc compile failed on onnx model with 'Expand' operator"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-05-11 15:32] ashutosh-arm opened #11274 "[CI Problem] No space left on device while building ci_gpu"
### Branch/PR Failing

https://github.com/apache/tvm/pull/11273

### Jenkins Link

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-11273/2/pipeline/
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-11273/1/pipeline/

### Flakiness

I have seen in two runs on the same PR so far.

cc: @driazati @Mousius @leandron @areusch

[2022-05-11 16:21] driazati commented on #11274
both jobs got assigned to the same node `i-0600c287f09ab5d81` which hadn't had its Docker pruned in a while (200+ GB of old images were taking up space). I've manually cleaned it and I'll put up a PR soon to automatically run `docker system prune` on old images

[2022-05-11 18:00] ganler commented on #11264
I can reproduce this bug; and am digging it.

[2022-05-11 18:24] ganler commented on #11264
@jianzhangru Thanks for pointing this out! This should be fixed by https://github.com/apache/tvm/pull/11278. Please use the latest TVM after its being merged.

[2022-05-11 18:38] areusch commented on #11186
@tqchen @junrushao1994 any ideas about the MANIFEST/conda question above?

[2022-05-11 20:38] #11264 closed

[2022-05-12 03:47] Zhiwei35 opened #11284 "[Bug] [build with llvm] undefined symbol when import tvm"
hi, I am new to tvm. I was **building tvm with llvm 6.0 or 7.0 targeting intel CPU and no error occurred in "make" cmd**, my OS is **centos7**, but **when I typed “import tvm”, error occurred**:
[code]
BTW, when **I build tvm without llvm, the import is well**. Did i use wrong llvm pre-built binary?I used * [SuSE Linux Enterprise Server 11SP3 x86_64](https://releases.llvm.org/6.0.1/clang+llvm-6.0.

[2022-05-12 04:44] #11251 closed

[2022-05-12 09:28] ashutosh-arm commented on #11274
Thanks @driazati for quickly looking into it.

[2022-05-12 12:55] #11274 closed

[2022-05-12 15:52] alprnbg commented on #8880
Hi,
The necessary change was actually very simple, however I couldn't find the time to write the unit test then and tbh I couldn't image how the test should look like since what we add is just a dictionary element. I will create a PR, maybe someone else can add an unit test for it.

[2022-05-12 16:26] ganler commented on #11284
Hi @Zhiwei35, maybe you can try newer versions of LLVM (e.g., LLVM11, you can find pre-compiled binary at https://releases.llvm.org/download.html).

[2022-05-12 20:45] mehrdadh opened #11295 "[Bug] benchmark_hexagon.py not running on CI"
We need to rename the file and fix error to run on CI:
https://github.com/apache/tvm/blob/main/tests/python/contrib/test_hexagon/benchmark_hexagon.py

@cconvey

[2022-05-12 22:44] driazati opened #11300 "[CI Problem] WASM / js docs build failing"
See
* https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3257/pipeline
* https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3256/pipeline
* https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3258/pipeline

[2022-05-12 23:03] #11300 closed

[2022-05-13 01:13] Zhiwei35 commented on #11284
Thanks reply, I tried llvm10 pre-compiled binary whose postfix is "x86_64-linux-sles11.3.tar.xz" , and when I typed "import tvm", still OSerror: "OSError: /home/xxxxx/tvm/build/libtvm.so: undefined symbol: _ZNKSt3__119__shared_weak_count13__get_deleterERKSt9type_info"

I also tried llvm14 12 11 pre-compiled binary whose postfix are all "x86_64-linux-sles12.4.tar.xz" but when I typed "clang -v", it

[2022-05-13 01:48] ganler commented on #11284
@Zhiwei35 I see. Could you please provide more detials? (e.g., how you build tvm)l & your env).

BTW, let's move the discussion to tvm discuss. GitHub issues are often used for bug/feature tracking :-).

[2022-05-13 02:02] Zhiwei35 commented on #11284
No Problem, I will provide details later, and the tvm disscuss link is https://discuss.tvm.apache.org/t/issue-undefined-symbol-when-import-tvm/12742. thx

[2022-05-13 02:02] #11284 closed

[2022-05-13 10:50] KJlaccHoeUM9l opened #11307 "[Bug] [CUDA] TVM does not release all the GPU memory and does not turn off the maximum performance mode after the inference has been completed."
### Research that led to the problem

While conducting measurement experiments to evaluate performance on a GPU (`NVidia Tesla T4`), we noticed that the temperature of the GPU affects the final performance evaluation.

Below is a demonstration of this effect using [GPT-2](https://github.com/onnx/models/tree/main/text/machine_comprehension/gpt-2) as an example.

GPU Temperature (°C) | Performance (

[2022-05-13 12:50] KJlaccHoeUM9l opened #11309 "[Bug] [VM][CUDA] Invalid memory access after GPU reset."
While experimenting with the proposed workaround for cooling the GPU (this [issue](https://github.com/apache/tvm/issues/11307)), a problem was found with invalid memory access when using `VirtualMachine`.

The following error occurs:
[code]

The error occurs in the following scenario:

1. The first inference is over;
2. Reset GPU;
3. Launching the second inference;
4. Copy output tensor from GPU t

[2022-05-13 21:24] cconvey commented on #11295
@mehrdadh : Thanks for reporting this!  Can you say more about what renaming is needed and what the error is that needs fixing?

[2022-05-13 22:29] areusch opened #11318 "Add test utility to wrap pytest.main incantation"
Over the past year or two I've been encouraging the use of `pytest.main` in TVM unittests to make it easier to run a single test case without requiring developers to let pytest go through collection of hundreds of unittests:

[code]

This is quite an earful and it's hard to get right. It'd be better to reduce this to:
[code]

This GH issue tracks that task.

[2022-05-14 09:52] #8880 closed

[2022-05-16 06:33] Zhiwei35 commented on #11284
@ganler hi, could you pls take a minute to look my question in [tvm discuss](https://discuss.tvm.apache.org/t/issue-undefined-symbol-when-import-tvm/12742)? Thanks very much.

[2022-05-17 11:04] petuca commented on #2062
I have the same problem after building tvm from source. Where can I change the TVM_LIBS?

@ryansoq

[2022-05-17 11:26] ashutosh-arm opened #11338 "[CI Image] Updates to ci_cpu and ci_qemu to reflect CMSIS-NN SHA upgrade"
- [ ] S0. Reason: (https://github.com/apache/tvm/pull/11273)

- [ ] S1. Tag of nightly build: 20220517-094028-de21c8f2e

- [ ] S2. The nightly is built on TVM commit: de21c8f2ef507587fdcc99b851404de5aeeb5a16

- [ ] S3. Testing the nightly image on ci-docker-staging: https://ci.tlcpack.ai/blue/organizations/jenkins/docker-images-ci%2Fdaily-docker-image-rebuild/detail/daily-docker-image-rebuild/331/

[2022-05-17 13:14] leandron commented on #11338
Fixed in https://github.com/apache/tvm/pull/11336

[2022-05-17 13:14] #11338 closed

[2022-05-17 13:30] petuca commented on #10651
This problem is solved only for ONNX models, but still not working for PyTorch and we closed the issue. Should we open new issue for PyTorch or wait for some PyTorch upgrades?

@masahi @ganler

[2022-05-17 19:55] masahi commented on #10651
@petuca This was originally for ONNX specifically, so I think it's reasonable to close it. It would be great if you can send a PR to PyTorch frontend with the same fix as ONNX.

[2022-05-17 20:01] ganler commented on #10651
@masahi @petuca I will send a PR soon since I think the fix could be similiar.

[2022-05-18 00:42] mehrdadh opened #11351 "[conv2d][DSP][ARM] conv2d_nhwc_dsp.arm_cpu has error with input float32 and output float32 type"
relay operator to reproduce the error:

[code]

Error:

[code]

[2022-05-18 05:44] Uhao-P opened #11352 "[Bug] tvm.nd.ndarray to numpy taking too much time?"
target = 'cuda'
    dev = tvm.cuda(0)
    with tvm.transform.PassContext(opt_level=3):
        lib = relay.build(mod, target=target, params=params)

    dtype = "float32"
    m = graph_executor.GraphModule(lib["default"](dev))

    m.set_input(input_name, tvm.nd.array(img.astype(dtype)))
    m.run()
    t1 = time.time()
    tvm_output = m.get_output(0)  # shape: 184,720,3
    t2 = time.time()

[2022-05-18 06:21] masahi commented on #11352
`m.run()` is non-blocking on cuda, so `m.get_output(0)` actually involves waiting for the execution to finish.

[2022-05-18 06:21] #11352 closed

[2022-05-18 10:48] leandron opened #11356 "[Bug] _test_tflite2_quantized_depthwise_convolution is unused"
Creating this issue as a reminder that tests in the TFLite frontend seem to be missing `_test_tflite2_quantized_depthwise_convolution`, which shows lack of coverage for that particular operator.

[2022-05-18 12:19] petuca commented on #10651
I think that's a good solution. #11347
I came up with the same idea. Hope that PR would be accepted.
@ganler

[2022-05-19 15:13] zhiwei-dong opened #11371 "[Bug] Can't run prequantized tflite model through MicroTVM"
### Expected behavior

Thank for your great works on microTVM, I try to run MCUNet model, in [here](https://drive.google.com/file/d/1ievEPUMpA5gPdFJY3SWzB2N6kv4n9keN/view?usp=sharing) .
I followed this [tutorial](https://tvm.apache.org/docs/how_to/work_with_microtvm/micro_tvmc.html#sphx-glr-how-to-work-with-microtvm-micro-tvmc-py). When I use the tutorial [model](https://github.com/tensorflow/tfli

[2022-05-19 16:42] areusch opened #11372 "Create utility that asserts that IRModules aren't modified in-place"
Background: In TVM, the IRModule data structure is intended to be immutable. This is a property which unfortunately can't be enforced by a C++ language construct such as `const` because it is perceived to be too big of a hammer for that problem (I think one of the core challenges is that due to pointers, it's too difficult to propagate `const` through generic data structures such as `Map`). Instea

[2022-05-19 16:42] areusch commented on #11372
@gigiblender may take a look at this

[2022-05-19 19:26] driazati opened #11375 "[Flaky Test] `tests/python/frontend/onnx/test_forward.py::test_qlinearleakyrelu[llvm]`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/frontend/onnx/test_forward.py::test_qlinearleakyrelu[llvm]`

  see more in #11152

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job

[2022-05-19 21:11] areusch opened #11378 "[Flaky Test] `tests/python/unittest/test_auto_scheduler_evolutionary_search.py::test_mutate_parallel`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/unittest/test_auto_scheduler_evolutionary_search.py::test_mutate_parallel`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/PR-113

[2022-05-19 21:12] areusch opened #11379 "[Flaky Test] `tests/python/contrib/test_ethosu/test_networks.py::test_networks_without_usmp[ethos-u65-256-model_url1-2257984]`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/contrib/test_ethosu/test_networks.py::test_networks_without_usmp[ethos-u65-256-model_url1-2257984]`

### Jenkins Links

  - https://ci.tlcp

[2022-05-20 00:21] Kevin-XiongC opened #11383 "[Bug] Numerical inconsistency for roi_align in Relay"
I am converting roi_align from Paddle as frontend. However, I encountered the numerical issue the same as PyTorch's like below

![image](https://user-images.githubusercontent.com/22584786/169289356-da5ce45b-25ce-4336-87a3-7acde74a644a.png)
I wonder whether I missed something or this should be a bug in fact.

### Expected behavior

The results of each entry should be numerically close between the c

[2022-05-20 06:03] Prince-Takkar opened #11385 "[Bug] Rust tests are failing under rust/tvm while declaring variables in class RelayExprNode in expr.h file."
Hi,
I just started with TVM code. I am doing local changes in the TVM source code. The problem is after declaring variable in RelayExprNode class, while running the task_rust.sh script rust tests are failing from rust/tvm directory.

Here is the code snippet (patchfile)-
diff --git a/include/tvm/ir/expr.h b/include/tvm/ir/expr.h
index 4a00de802..936473e22 100644
--- a/include/tvm/ir/expr.h
+++ b/i

[2022-05-20 10:07] jplu opened #11387 "[Bug] Crash with a segmentation fault on Apple M1 Metal device"
I'm using a TVM model into a Swift app. The way I do it is that I code all the TVM related stuff in C++ using the `libtvm_runtime.dylib` and then call it from Swift. The model I have is targeted for Metal. Everything is working fine when I run the app from the CLI, but crashs when I run the tests. Please note that the CPU version of the model works as expected including during the tests.

### Expe

[2022-05-20 10:43] cgerum opened #11388 "[Bug] INT8 cuda kernels fail for older GPU versions"
### Expected behavior

TVM should compile int8 conv2d and dense kernels, when `sm_**` is set to the correct version.

### Actual behavior

Cuda compilation fails with:

   Compilation error:
    /tmp/tmp_paip2b7/my_kernel.cu(150): error: identifier "__dp4a" is undefined

### Environment

TVM Version: current main
Target System: jetsonnano 4.9.253-tegra #1 SMP PREEMPT Mon Jul 26 12:13:06 PDT 2021 a

[2022-05-20 13:46] petuca commented on #10614
Same story here. I can't reproduce the issue on my latest commit. I got the same shapes and results for predictions and output.  Is this issue solved?
@leeexyz @JoeyTPChou @masahi

[2022-05-20 15:41] SebastianBoblest opened #11394 "[Bug] Problem with AllocateConstNodes in CMSIS-NN code"
I already reported this issue here:
https://discuss.tvm.apache.org/t/problem-with-allocateconstnodes-in-cmsis-nn-code/12806

It seems that AllocateConstNodes can be overwritten in models that contain both CMSIS-NN functions and functions generated by TVM. Concretely, tvmgen_conv1d_ave_fused_cast_subtract_clip_cast in conv1d_ave_lib1.c uses constant_0 that is defined as
static const int32_t __attri

[2022-05-20 15:44] grant-arm commented on #11394
Thanks for raising this @SebastianBoblestETAS. We will take a look at it.

[2022-05-20 16:00] csullivan opened #11396 "[Bug][Hexagon] Failures in RPC layers when tuning with AutoTVM"
### Expected behavior

Each built runtime module should be sent via the HexagonSession from host -> android -> hexagon for performance trials.

### Actual behavior

There are errors in the minrpc and fastrpc layers
[code]
### Steps to reproduce

Run the test introduced in #11395 on remote Hexagon hardware.

cc @mehrdadh

[2022-05-20 20:00] driazati opened #11401 "[ci] conda build fails with connection errors"
Failed on main for https://github.com/apache/tvm/commit/0274d8e1f124cecc159abf3234251bf010784581
https://github.com/apache/tvm/runs/6529970442?check_suite_focus=true

[code]

cc @Mousius @areusch

[2022-05-23 10:12] #11388 closed

[2022-05-23 10:27] WuZheng326 opened #11409 "ImportError: cannot import name 'EarlyStopException' from 'xgboost.core'[Bug]"
When I was running the AutoSchedule demo:

https://tvm.apache.org/docs/how_to/tune_with_autoscheduler/tune_network_cuda.html#sphx-glr-how-to-tune-with-autoscheduler-tune-network-cuda-py

I met this bug: ImportError: cannot import name 'EarlyStopException' from 'xgboost.core'

My TVM version is 0.9 dev, and Xgboost version is 1.6.1

What is wrong with the AutoSchedule？

[2022-05-23 13:24] grant-arm commented on #11394
Hi @SebastianBoblestETAS , I've been able to reproduce your issue locally.
It does appear to be a legitimate issue and not a mistake in the way you're invoking `tvmc`.
We'll try to get a fix up as soon as we can.

[2022-05-23 18:51] areusch opened #11414 "[Tracking Issue] pylint the tests!"
This is a tracking issue for our effort to enable pylint on all Python testing code underneath `tests/python`. Currently we don't lint scripts in that directory. We're going to take an incremental approach here and anyone is welcomed to help with this. Here's how:

1. Pick a directory where to start. I suggest choosing the directory based on the number of Python files.
2. Add a line to `tests/lint

[2022-05-23 20:18] areusch opened #11415 "[VOTE] Quarterly Releases RFC"
This is a formal vote thread to determine committer and PMC support for [Quarterly Releases RFC](https://github.com/apache/tvm-rfcs/pull/67). Replying +1 here means you support the RFC and we should merge it. This vote thread is due to the fact that the RFC proposes a change in the way the community operates (namely the way we do releases). This also signals the final comment period on that RFC, w

[2022-05-23 20:25] driazati opened #11416 "[ci] MacOS GitHub Actions occasionally dies"
This happens every so often during the conda setup, I'm not sure what we can really do about it:
* https://github.com/apache/tvm/runs/6560953503?check_suite_focus=true
    * https://github.com/apache/tvm/actions/runs/2373221411
Error:
[code]

cc @Mousius @areusch @gigiblender

[2022-05-23 21:14] leandron commented on #11415
+1

(binding)

[2022-05-23 21:36] leandron commented on #11186
Gente ping on this one.

[2022-05-23 22:08] driazati opened #11419 "[ci][rust] Latest CPU image breaks nn tests"
Seen in https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-11329/20/pipeline/#step-762-log-388, the rust build is broken on a Docker image built from `main` (so anyone who tries to update the ci_cpu image will see the same error).

[code]

cc @Mousius @areusch @ehsanmok @gigiblender

[2022-05-24 01:39] sunjiweiswift opened #11426 "[Runtime][thread_pool]"
https://github.com/apache/tvm/blob/f3d8ba48511106a5904abea18d5a1f596871ac3d/src/runtime/thread_pool.cc#L101
Replace yiled with condition_variable.wait to better release CPU resources.

[2022-05-24 08:38] fPecc commented on #6025
Hi.

Can we reopen this issue? I am also trying to use a tflite model and am encountering the same error.

[2022-05-24 16:38] guberti commented on #11117
This issue is causing me quite a headache, as it is blocking me from merging #10921. I think I've figured it out though - it's caused by an interaction between `sphinx-gallery` and `absl` (imported by `tensorflow`). Here's what happens:

1. `sphinx-gallery` wants to capture the output of code blocks as it runs them (this is one of its main features). To do this, [it uses a custom `LoggingTee` obje

[2022-05-24 18:50] tqchen commented on #11186
sorry I was a bit late to this, I do not remember historical context for it and perhaps it is merely due to the fact that the problem did not appear before. So we could indeed go with the manifest solution.

[2022-05-24 19:13] driazati opened #11433 "mergebot commit message tracking"
- [ ] remove cc lines and @ messages so people don't get tagged in commits
- [ ] add source PR number to commit subject

[2022-05-24 20:08] driazati opened #11435 "[Flaky Test] `tests/python/frontend/paddlepaddle/test_forward.py::test_forward_group_norm`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/frontend/paddlepaddle/test_forward.py::test_forward_group_norm`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/PR-11420/1/displa

[2022-05-24 21:19] leandron commented on #11186
Thanks, I’ll make a couple more tests locally and push a PR if I’m confident with the results.

[2022-05-24 21:28] driazati opened #11440 "[Flaky Test] `tests/python/unittest/test_auto_scheduler_evolutionary_search.py::test_mutate_parallel`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/unittest/test_auto_scheduler_evolutionary_search.py::test_mutate_parallel`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/main/3

[2022-05-25 03:15] jiangjiajun commented on #11435
I think the difference may comes from the comparison between cpu and gpu. Since all the computation of PaddlePaddle is running on the cpu device, and tvm will run both on cpu and gpu.

@heliqi Could you help to send a pull request to raise the tolerance to 1e-04?

[2022-05-25 04:53] lunar-walker opened #11447 "'Expression did not evaluate to a constant' error when compiling latest tvm 0.9 on Windows 10"
Hello,
I'm trying to **compile latest tvm on Windows 10 / Visual Studio Community 2019** with USE_CUDA, USE_LLVM "llvm-config --link-static", USE MKL, USE_MKLDNN, USE_CUDNN, USE_DNNL_CODEGEN, USE_TENSORRT_CODEGEN, USE_TENSORRT_RUNTIME options (cmake generate solution files successfully without any error) but it **failed with following error** when compiling in VS2019:-

2>D:\code\tvm\src\runtime\c

[2022-05-25 08:00] wangzhenyu32 opened #11451 "[PyTorch] not implemented: ['quantized::leaky_relu']"
### Expected behavior

expect to support qunatize leaky_relu  when using relay.frontend.from_pytorch import a qat model

### Environment

tvm branch main for x86

### Steps to reproduce
    mod, params = relay.frontend.from_pytorch(jit_model, input_shapes)
  File "/root/test/tvm/python/tvm/relay/frontend/pytorch.py", line 4070, in from_pytorch
    converter.report_missing_conversion(op_names)
  Fi

[2022-05-25 08:46] masahi commented on #11447
That warning is a legit one, https://github.com/apache/tvm/blob/45f3d4a521ec476cd9960e3d2de4f66bde61bf23/src/runtime/contrib/dnnl/dnnl_json_runtime.cc#L609-L610

`OC` is indeed not a constant.

Instead it should be
[code]
Can you try this on windows, and send a PR if it solves the issue?

[2022-05-25 09:20] lunar-walker commented on #11447
Thanks dear,
it worked like a charm...no compilation error now. However, i guess there is another **compiler / linking error** (seems small one)
Error	D8021	invalid numeric argument '/Wno-deprecated-declarations'	tvm_runtime_objs	\tvm\build\cl

I guess it is just extra commandline option (which is not recognized by VS2019 cl.exe) being passed to compiler however, i don't seem to find out the way h

[2022-05-25 09:23] masahi commented on #11447
Are you enabling TensorRT with TVM? It looks like `no-deprecated-declarations` is only used by TensorRT backend. Probably our TensorRT support doesn't work on Windows.

[2022-05-25 09:28] elvin-n opened #11452 "[Bug] import of mxnet newer than 1.6.0 after tvm is crashed"
### Expected behavior

importing of mxnet and tvm should work together independently on order of their imports

### Actual behavior

[code]
if import mxnet first and then tvm - everything works fine

### Environment
Crashes if tvm is imported first:
Ubuntu 21.10 cpython Python 3.9.12 mxnet 1.9.1
Ubuntu 21.10 Anaconda Python 3.8.5 mxnet 1.8.0.post0
Ubuntu 20.04 Anaconda 3.8.8 mxnet 1.8.0

Good in a

[2022-05-25 09:54] lunar-walker commented on #11447
That's correct. I'm trying to compile it with TensorRT. By looking at tvm_runtime_objs.vcxproj in VSCode, i found following lines:-

<ClCompile Include="\tvm\src\runtime\contrib\tensorrt\tensorrt_builder.cc">
      <AdditionalOptions Condition="'$(Configuration)|$(Platform)'=='Debug|x64'">%(AdditionalOptions) -Wno-deprecated-declarations</AdditionalOptions>
      <AdditionalOptions Condition="'$(C

[2022-05-25 19:52] driazati opened #11458 "[Flaky Test] `tests/python/unittest/test_arith_solve_linear_inequality.py::test_solution_consistency`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/unittest/test_arith_solve_linear_inequality.py::test_solution_consistency`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/main/3

[2022-05-25 19:53] driazati opened #11459 "[ci][network error] `tests/python/frontend/tflite/test_forward.py::test_forward_tflite_float16`, `tests/python/frontend/tflite/test_forward.py::test_forward_qnn_inception_v1_net`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/frontend/tflite/test_forward.py::test_forward_tflite_float16`
  - `tests/python/frontend/tflite/test_forward.py::test_forward_qnn_inception

[2022-05-25 19:54] driazati commented on #11458
also see #10627, the fix there didn't totally fix this

[2022-05-25 19:54] driazati commented on #10627
duped in #11458

[2022-05-25 19:54] #10627 closed

[2022-05-25 21:08] guberti commented on #11117
I've got a PR out to fix this - https://github.com/sphinx-gallery/sphinx-gallery/pull/961.

[2022-05-25 21:16] driazati opened #11462 "CI monitoring rotation schedule"
See [the CI Monitoring Runbook](https://github.com/apache/tvm/wiki/CI-Monitoring-Runbook) for context.

This schedule tracks the CI monitoring rotation. If you would like to join, please comment on this issue or, if you are a committer, edit this issue directly.

| Week (MM/DD) | On-call          |
|-----------|------------------|
| 8/1 - 8/5 | @driazati  |
| 8/8 - 8/12 | @gigiblender  |
| 8/15 -

[2022-05-26 00:00] schell commented on #11409
I just ran into this as well. My guess is that `xgboost==1.6.1` has removed `EarlyStopException`.

[2022-05-26 00:00] WuZheng326 commented on #11409
你好，我是吴峥，已收到您的邮件，我会尽快给您回复。

[2022-05-26 00:21] mkatanbaf opened #11466 "[Bug] [AutoTVM] autotvm.task.extract_from_program fails on a conv1d operator"
Running autotvm.task.extract_from_program on this relay module which is a conv1d with NWC format and WOI and int8 input dtype shows this error:

**relay module**
#[version = "0.0.5"]
def @main(%input: Tensor[(3, 12, 10), int16]) {
  nn.conv1d(%input, meta[relay.Constant][0], dilation=[2], kernel_size=[4], data_layout="NWC", kernel_layout="WOI", out_layout="NWC", out_dtype="int32")
}

#[metadata]
{

[2022-05-26 00:22] mkatanbaf commented on #11466
similar issue is reported for conv2d: https://github.com/apache/tvm/issues/11216

[2022-05-26 02:15] WuZheng326 commented on #11409
yes, I reinstall xgboost 1.5.0, and find that works
https://discuss.tvm.apache.org/t/auto-scheduler-ansor-xgboost-cost-model-import-error/12635

[2022-05-26 02:15] #11409 closed

[2022-05-26 02:36] schell commented on #11409
Yes, I can confirm that `xgboost<1.6.1` fixes this.

[2022-05-26 05:01] lunar-walker commented on #11447
I can confirm that compilation went smooth with std::vector suggestion by @masahi . For -Wno-deprecated-declaration related errors, i modified tvm\cmake\modules\contrib\TensorRT.cmake file and commented out lines similar to
`set_source_files_properties(${COMPILER_TENSORRT_SRCS} PROPERTIES COMPILE_FLAGS "-Wno-deprecated-declarations")`

Compilation went OK, able to install tvm python package and tv

[2022-05-26 05:01] #11447 closed

[2022-05-26 14:16] gfvvz commented on #11260
Hi, thanks for the work. Just want to know if there is a rough schedule on these features development?

[2022-05-26 18:11] areusch opened #11473 "[merge bot] allow merge when an empty commit was pushed on top of an approved one"
it would be helpful if we also allow folks to retrigger the CI. we can't recognize force-pushes because GH garbage-collects the old pushes, but if ppl push an empty or merge commit we could check whether or not anything was changed and allow it to merge. this would let folks fix trivial CI problems without requiring re-approval.

cc @driazati

[2022-05-26 18:30] tqchen commented on #11415
+1

[2022-05-26 18:37] AndrewZhaoLuo commented on #11415
+1

[2022-05-26 19:23] comaniac commented on #11415
+1

[2022-05-26 19:25] masahi commented on #11415
+1

[2022-05-26 19:34] jroesch commented on #11415
+1

[2022-05-26 19:59] #11433 closed

[2022-05-26 20:04] driazati opened #11475 "[CI Problem] Jenkins reports more time taken than is shown in timestamps"
For example on https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3377/pipeline/406, the runtime for [this step](https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3377/pipeline/406) is 14.5 minutes but the logs don't show more than 15 seconds of output.

[2022-05-26 21:36] guberti commented on #11117
Sphinx-gallery PR has been merged - this issue will be fixed when sphinx-gallery is updated (which will be done by #10921).

[2022-05-26 23:39] supersat opened #11482 "[Bug] Hexagon tests erroneously say "Hexagon support not enabled" when no ANDROID_SERIAL_NUMBER environment variable is set"
Previously, Hexagon tests would say "Skip hardware test since ANDROID_SERIAL_NUMBER is not set." if the ANDROID_SERIAL_NUMBER environment variable wasn't set. However, it seems as of #11294, it now says "Hexagon support not enabled", implying that TVM wasn't built with Hexagon support enabled.

### Expected behavior

A warning saying ANDROID_SERIAL_NUMBER isn't set.

### Actual behavior

A warning

[2022-05-26 23:40] csullivan commented on #11415
+1

[2022-05-27 00:14] shingjan opened #11483 "[Flaky Test] `tests/python/contrib/test_ethosu/cascader/test_scheduler.py::test_compute_cycles_annotation`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/contrib/test_ethosu/cascader/test_scheduler.py::test_compute_cycles_annotation`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/P

[2022-05-27 00:37] shingjan opened #11484 "[Flaky Test] `tests/python/contrib/test_ethosu/cascader/test_scheduler.py::test_compute_cycles_annotation`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/contrib/test_ethosu/cascader/test_scheduler.py::test_compute_cycles_annotation`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/P

[2022-05-27 00:38] #11484 closed

[2022-05-27 01:46] jwfromm commented on #11415
+1

[2022-05-27 06:44] MichaelJKlaiber commented on #11260
Hi @gfvvz , that's a great question. I'll try to come up with an answer asap. If you have input or feedback, feel free to reach out any time via Discord, GitHub or the TVM community forum

[2022-05-27 10:51] masahi commented on #11483
This is disabled in https://github.com/apache/tvm/pull/11478

[2022-05-27 18:21] driazati opened #11492 "Use git annex to log large files in CI"
We should investigate a tool like https://git-annex.branchable.com/ or git LFS to deal with large files that we download during tests as these are a common source of flakiness

[2022-05-27 20:26] areusch commented on #11260
@gfvvz @MichaelJKlaiber FYI the tracking issue https://github.com/apache/tvm/issues/11260 should be the place we list that sort of thing

[2022-05-29 20:50] schell commented on #8700
I'm not sure what changed but I am no longer seeing this problem. 🤷

Thanks @echuraev !

[2022-05-29 20:50] #8700 closed

[2022-05-30 06:29] alter-xp opened #11506 "[RFC][Tracking Issue] CSI-NN2 Integration"
### This issue to track upstreaming progress for CSI-NN2 integration.
[RFC] [RFC-CSI-NN2-Integration](https://github.com/apache/tvm-rfcs/pull/75)
- [x] P1. The CI environment support. https://github.com/apache/tvm/pull/11689
- [ ] P2. The backend with CSI-NN2 support and unit test for Conv2D.https://github.com/apache/tvm/pull/12526
- [ ] p3. More ops. Softmax, Pooling, Relu, and Dense.

[2022-05-30 07:49] gigiblender commented on #11372
#11498

[2022-05-30 08:29] lhutton1 commented on #11483
Thanks for reporting @shingjan, cc @ekalda @manupa-arm @NicolaLancellotti for visibility

[2022-05-30 08:35] lhutton1 commented on #11415
+1

[2022-05-31 02:27] zxybazh commented on #11415
+1

[2022-05-31 08:19] Leeviber commented on #9843
Hi, I met same issue with you, how did you get rid of prim::DictConstruct operation? I only stuck with this op.

[2022-05-31 15:51] areusch commented on #11415
+1

The voting period has concluded with the following results:

+1 (6 binding*):
Leandro*
Tianqi*
Andrew Luo
Cody*
Masa*
Jared*
Chris Sullivan
Josh Fromm
Luke Hutton
Xiyou
Andrew*

0:  none

-1: none

The vote has passed and the RFC is accepted.

[2022-05-31 15:51] #11415 closed

[2022-05-31 17:12] areusch opened #11514 "[CI Problem] from_oneflow can flake due to network dependency"
from https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3411/pipeline

[code]

[2022-05-31 19:03] #11483 closed

[2022-05-31 21:57] ArmageddonKnight opened #11516 "[RFC][Tracking Issue] DietCode"
*This issue is to track progress for DietCode.*

# TODO Items

- [ ] Code Generation Support
  - [ ] Local Padding [\[Link to Further Discussions\]](https://gist.github.com/junrushao1994/c8f48d818616d11402c8aa65082f5b47)
    <details>

    #### Description

    Pad tensors by the size of the local workspace so that predicates in the compute stage can be safely removed without affecting correctness

[2022-06-01 20:21] areusch opened #11527 "[Flaky Test] `tests/python/contrib/test_ethosu/test_codegen.py::test_mean[ifm_shape0-axis0-True-False-ethos-u65-256]`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/contrib/test_ethosu/test_codegen.py::test_mean[ifm_shape0-axis0-True-False-ethos-u65-256]`

### Jenkins Links

  - https://ci.tlcpack.ai/jo

[2022-06-02 02:51] jiangjiajun commented on #9976
The `test_forward_math_api` includes lots of operators's unit test, it will loop for many times, I think maybe this is the reason.
We will  send a pull request to split `test_forward_math_api` try to fix this problem. @heliqi

[2022-06-02 07:02] chayliu1991 opened #11535 "[Bug] can notandroid_rpc_test.py"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-06-02 07:02] chayliu1991 opened #11536 "[Bug] can not runandroid_rpc_test.py"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-06-02 08:57] #11535 closed

[2022-06-02 09:59] heliqi commented on #9976
@areusch  @jiangjiajun
https://github.com/apache/tvm/pull/11537

[2022-06-02 10:53] Prince-Takkar commented on #11385
This issue has been fixed by self-learning. I observed if we are adding member variable in *.cc files we need to add similar variable in rust code also to run the rust tests without any issue.

[2022-06-02 10:53] #11385 closed

[2022-06-02 14:24] cbalint13 commented on #11260
@MichaelJKlaiber ,

This is really great work, congratulations !

Watching with interest this ntiative, allow me to ask questions towards ***100% out-of-tree*** functionality.

#### Case usage:
----

 Given the case of a custom risc-v (or any llvm cpu) ISA extension (i.e. [custom HW/ISA](https://github.com/cbalint13/OLIMP) that itself can change&autotunne):

   * Currently (without UMA) it is nece

[2022-06-02 15:40] areusch opened #11540 "[Bug] docker/lint.sh busted"
### Expected behavior

docker/lint.sh should reproduce what happens in the CI

### Actual behavior

[code]

[2022-06-02 16:34] areusch opened #11544 "[CI Problem]"
Seeing
[code]

at the end of the log.

### Branch/PR Failing

https://github.com/apache/tvm/pull/11464

### Jenkins Link

https://ci.tlcpack.ai/blue/rest/organizations/jenkins/pipelines/tvm/branches/PR-11464/runs/7/nodes/373/steps/1123/log/?start=0

### Flakiness

unclear

[2022-06-02 16:55] areusch opened #11545 "Resolve need to pin `protobuf` package to older version"
Currently we are unable to rebuild docker images because `protobuf` released version 4.20.1 which i believe broke the older version of TensorFlow we're using. Likely the correct long-term fix here is to update our TensorFlow dependency to 2.9--I think some descriptors in TensorFlow were compiled against an older version of the package.

[code]

cc @driazati @leandron @tqchen @junrushao1994 @mbrook

[2022-06-02 18:50] driazati opened #11550 "[ci] Use sccache in GitHub Actions"
Sometimes GitHub Actions takes longer than Jenkins but we can improve this bottleneck by using sccache which should eliminate most of the runtime for Windows/MacOS. We need to:
1. Configure 2 S3 buckets, one for Windows and one for MacOS (publicly readable and writable with credentials so jobs on `main` can write to it but not jobs on PRs)
2. Add credentials to access the bucket to the repo
3. Ins

[2022-06-02 19:35] #11372 closed

[2022-06-02 19:42] areusch opened #11551 "Turn on IRModule mutation detector in tests by default"
In #11372, @gigiblender created a utility that detects if an IRModule modifies any of the visitable attributes of an IRModule in-place. This issue tracks implementing that utility as the default in all Python tests. Here are the steps:

- [ ] Determine what kind of switch we should use for this. In the original PR, a switch was created using PassContext. We should find a way to modify the value of

[2022-06-02 19:46] areusch commented on #11414
@gigiblender is going to look at this one

[2022-06-02 20:08] #10681 closed

[2022-06-02 20:10] driazati opened #11552 "[ci] Collect and report segfaults in CI"
Right now segfaults usually crash pytest and don't get included in JUnits (see #10681) (however if running under `pytest-xdist` then only the worker crashes and it is processed like a normal test failure, but running xdist with `-n 1` everywhere adds some runtime overhead, though this might be worth investigating more). We should:
1. Fix tlcpack/ci packer builds to correctly set `kernel.core_patte

[2022-06-02 20:11] driazati commented on #10681
rolling into #11552

[2022-06-02 21:37] #11540 closed, assigned to nobody

[2022-06-02 22:29] areusch opened #11554 "[crt] no way to call a function on TVMModFree"
@alanmacd points out that when a Module is freed, there is no way to perform "destruction" e.g. to release any NDArray that might have been allocated by that module. we should have a Release function that can be called by standard RPC-driven Free-like APIs.

[2022-06-03 09:19] fPecc opened #11558 "[Bug] Check failed: (it != rmap->end()) when using relay.build in relay.vision.non_max_suppression"
See[ this post](https://discuss.tvm.apache.org/t/check-failed-it-rmap-end-when-using-relay-build-in-model-with-tflite-detection-postprocess-with-minimal-example/12883) for the explanation of the problem.

### Expected behavior

Build succeds.

### Actual behavior

Error message:

[code]

### Environment

Commit 017d410bd18fd3e272ea49ea9e11955c3128bb72 (2 of Juni).

### Steps to reproduce

This scr

[2022-06-03 21:28] driazati opened #11567 "[Flaky Test] `tests/python/frontend/tflite/test_forward.py::test_all_unary_elemwise`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/frontend/tflite/test_forward.py::test_all_unary_elemwise`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/PR-11565/1/display/redi

[2022-06-03 21:31] areusch opened #11568 "[Flaky Test] `tests/python/frontend/pytorch/test_forward.py::test_argsort`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/frontend/pytorch/test_forward.py::test_argsort`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/main/3444/display/redirect

possi

[2022-06-04 01:00] guberti commented on #11117
#10921 has been merged, which brings the sphinx-gallery change mentioned above into TVM. This fixes the issue, so I believe we should close it (the warning is no longer occurring on `main`). If it occurs again for some reason, we should reopen this though.

[2022-06-04 10:07] kirliavc opened #11572 "[Bug] [VTA] Cannot build GEMM Tutorial code after rescheduling"
I'm running VTA GEMM tutorial code https://github.com/apache/tvm/blob/main/vta/tutorials/matrix_multiply.py. After I change the schedule and parameters of the original code, it failed to build.

The original code in matrix_multiply.py uses ```m=16, n=16, o=1```. I changed into ```m=4, n=4, o=4```. I also changed
[code]
into
[code]
So the time to load A and B buffer should change into the lower-lev

[2022-06-04 10:07] kirliavc opened #11573 "[Bug] [VTA] Cannot build GEMM Tutorial code after rescheduling"
I'm running VTA GEMM tutorial code https://github.com/apache/tvm/blob/main/vta/tutorials/matrix_multiply.py. After I change the schedule and parameters of the original code, it failed to build.

The original code in matrix_multiply.py uses ```m=16, n=16, o=1```. I changed into ```m=4, n=4, o=4```. I also changed
[code]
into
[code]
So the time to load A and B buffer should change into the lower-lev

[2022-06-04 10:08] #11573 closed

[2022-06-05 02:30] FranckQC opened #11580 "[Flaky Test] `tests/python/unittest/test_custom_datatypes.py::test_myfloat`"
These tests were found to be flaky (failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/unittest/test_custom_datatypes.py::test_myfloat`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/PR-11574/8/display/redirect

[2022-06-05 10:02] valmirnjr commented on #11356
Hi @leandron , I'd like to work on this issue. When I try to run `test_forward_quantized_convolution` I see that `_test_tflite2_quantized_depthwise_convolution` fails. Is this the problem?

[2022-06-06 21:01] areusch commented on #11462
Summary from my week: things were fairly quiet, mainly some flaky tests.

- [[jenkins](https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3414/pipeline)](https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3414/pipeline) on c1b22ee - flaky test, filed https://github.com/apache/tvm/issues/11527
- [[jenkins](https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/

[2022-06-07 09:16] fPecc commented on #11558
After some more analysis, I was able to build using the AOT executor with the following code:

[code]

I was able to build it after modifying method GetNewArguments in file src/relay/transforms/fuse_ops.cc.

Previous code:

[code]

Modified code:

[code]

I would like to understand why is there a distinction in the GetNewArguments method, that pushes different args into new_args. I am not sure if

[2022-06-07 09:18] petuca commented on #11451
Hi,

Can you provide us a reproduction for this problem? Do you have your own model for reproducing?

@wangzhenyu32

[2022-06-07 12:51] gigiblender commented on #11414
I enabled pylint in #11600. However, there are a lot of tests that contain formatting errors (see the file attached to the PR). I am not sure if I should start fixing those as part of this issue?

@areusch

[2022-06-07 14:20] Mousius commented on #11414
@gigiblender can you put together a list of tests which need linting so we can put a checklist on this issue? then people can pick this off as it goes 😸

[2022-06-07 15:59] mbs-octoml opened #11603 "[Flaky Test] `tests/python/frontend/onnx/test_forward.py::test_qlinearmul[cuda]`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/frontend/onnx/test_forward.py::test_qlinearmul[cuda]`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/PR-11481/9/display/redirect

[2022-06-07 15:59] gigiblender commented on #11414
Checklist attached:
[checklist.txt](https://github.com/apache/tvm/files/8854745/checklist.txt)

[2022-06-07 16:46] driazati opened #11605 "[ci] Move PR docs hosting to a custom domain"
After #11528 PR docs are hosted on S3/CloudFront for viewing at a URL like https://d3f1x5ne0bf47p.cloudfront.net/tvm/PR-11528/2/docs/index.html and #11594 makes this more visible to developers. As a follow up we should move the domain to something easier to remember like `pr-docs.tlcpack.ai/...` or something

cc @Mousius @areusch

[2022-06-07 17:43] driazati opened #11609 "[ci] Add lint check for newlines"
See #11560, CI should enforce that every file uses LF and has a trailing newline aside from exceptional cases

cc @Mousius @areusch @gigiblender

[2022-06-07 17:47] driazati opened #11610 "[ci][tlcpack] Encode workflow dependencies"
Right now in [tlc-pack/ci](https://github.com/tlc-pack/ci/tree/main/.github/workflows) we have:
1. packer build
2. terraform plan
3. terraform apply
4. jenkins prepare
5. jenkins deploy

But really these are all dependent, but only 2 -> 3 is enforce but the current workflows.  We should make it so that any change runs through `1 -> 2 -> 3` at least (skipping packer if unchanged) and that running 4

[2022-06-07 22:19] areusch opened #11617 "[microTVM] Change CRT link strategy to just build one library"
The crt used with microTVM is currently organized as one-library-per-directory. This has the benefit of ensuring a degree of isolation between the libraries, but ultimately gets unwieldy when we try to link the RPC server and include an executor because there's a circular dependency in the linked libs.

@alanmacd points out that we really don't have that much code in CRT and pretty much always we'

[2022-06-08 02:55] masahi commented on #11567
Hit again https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3475/pipeline, I disabled the test `_test_rsqrt` (but not the whole `test_all_unary_elemwise`) in https://github.com/apache/tvm/pull/11620

[2022-06-08 08:40] UlrikHjort-Bosch commented on #10237
Issue seems to still be there. @areusch  Do you have any hint here why TVMSystemLibEntryPoint is missing ?

[2022-06-08 17:42] vinx13 opened #11627 "[Tracking Issue] Introducing DeclBuffer"
### This issue is to track progress for the [RFC Introducing DeclBuffer](https://github.com/apache/tvm-rfcs/pull/70)
- [x] Introduce DeclBuffer data structure, add corresponding visitors in IR functors. #12300
- [x] Update TVMScript syntax for `T.decl_buffer` and `T.allocate` https://github.com/apache/tvm/pull/12412
- [ ] Refactor existing passes and test cases to use DeclBuffer.
- [ ] Enforce the

[2022-06-08 22:33] masahi opened #11633 "[Flaky Test] Flaky tutorial timeout"
This error happened twice this week on `main`:

[code]

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3466/pipeline/367
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3481/pipeline/367

[2022-06-09 06:21] wzh99 opened #11640 "[Bug] Segmentation fault during type inference of reduction operators with `axis=[]`"
Type inference of the following Relay function causes a segmentation fault:
[code]

### Expected behavior

The type inference pass accepts this function, since the type constraints of the reduction operator `sum` are not violated.

### Actual behavior

Segmentation fault.

### Environment

macOS 12.4. Compiled using Clang 13.1.6 with LLVM support. TVM commit [`df4f4c0b4`](https://github.com/apache

[2022-06-09 15:02] mbaret opened #11645 "[Tracking Issue] Collage Partitioner"
This is a tracking issue for the Collage partitioner which is described in [RFC 62](https://github.com/apache/tvm-rfcs/blob/main/rfcs/0062-collage.md).

Links to the pull requests will be added to the following items as they are upstreamed.
- [ ] Introduce the partitioning infrastructure with basic PartitionRules.
- [ ] Add further more complex PartitionRules.
- [ ] Introduce CostEstimators to est

[2022-06-09 21:21] AndrewZhaoLuo opened #11656 "[Bug] PassContext should be inherited in tuning"
Perhaps this is best described as feature request, regardless it is a little bit unintuitive.

For both autoscheduler and autotvm, POpenPool is used extensively in building and measuring. Unfortunately, these spawn new processes so some state is lost in translation.

Of particular note are PassContexts which can control how things are lowered and have instrumentation to grab useful information alo

[2022-06-09 22:44] hpanda-naut commented on #11462
@areusch @driazati I can take next week

[2022-06-09 22:56] mbs-octoml opened #11660 "[Flaky Test]"
### Test(s)

python3 tests/scripts/ci.py i386 --tests tests/python/unittest/test_custom_datatypes.py::test_myfloat

### Jenkins Links

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-11619/5/pipeline/344/

[2022-06-09 23:07] mbs-octoml opened #11661 "[Bug] Imposibility of writing assert_equals test with complex attributes"
I wanted to unit test TEPass with something like:
[code]

Firstly, it's not possible to express the call_lowered metadata attributes in the form written, so it needs to be bound to a meta table entry.
[code]
That's ok, but the global var baund to 'test_fused_add' is not right, it needs to be the same object as created to represent the definition.

I think we should have a structural_equal mode tha

[2022-06-09 23:29] masahi commented on #11660
a dup with https://github.com/apache/tvm/issues/11580

[2022-06-09 23:29] #11660 closed

[2022-06-10 00:33] areusch commented on #11609
cc @hpanda-naut can you triage?

[2022-06-10 00:42] areusch commented on #11610
cc @hpanda-naut can you triage?

[2022-06-10 00:52] areusch commented on #11551
i was thinking to do something kind of like this but rather put the variable in `tvm.testing` as a global var rather than environment var, and use [mock.patch](https://docs.python.org/3/library/unittest.mock.html#unittest.mock.patch) in a pytest fixture to set it. what do you think about that?

[2022-06-10 04:50] wzh99 opened #11664 "[Bug] Weight shape inferred for `nn.conv3d` is wrong when `kernel_size` and `channels` are both provided"
### Expected behavior

The following Relay source program should be successfully parsed:

[code]

Here is the explanation: 4 input channels are divided into 2 groups, with each group taking 2 channels as input. Each group produces 1 output channel. Therefore, there are 2 * 1 = 2 output channels in total.

### Actual behavior

The Relay type checker reports a type mismatch:

[code]

### Environment

[2022-06-10 10:54] #11640 closed

[2022-06-10 17:59] driazati opened #11667 "[Docs] remove references to ci scripts in docs"
These shouldn't be run outside of Docker as they usually have a bunch of dependencies that would be tedious to describe manually. Typical usage would be inside of `tests/scripts/ci.py` so they don't need to be manually invoked at all. This came up in https://tvm.apache.org/docs/install/from_source.html#enable-c-tests where `task_cpp_unittest.sh` requires ninja and sccache to run. It should be repl

[2022-06-10 19:47] kellyseattle opened #11670 "[CI Problem] Figure out a way to assert certain tests aren't skipped in CI"
Is there a way to verify that a PR hasn't resulted in an increased number of skipped tests?  The "Tests" link in the Jenkins report shows skipped tests, but it looks like that currently includes all tests that are run on other shards, making it very difficult to tell what tests were actually skipped.  (Example, [Tests tab for PR#11313](https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR

[2022-06-10 19:54] driazati opened #11671 "[ci] Make `[skip ci]` work anywhere in the PR title"
We should parse out the tags here (the bits in between `[` and `]`) using `tags_from_title` in `github_tag_teams.py` and allow `[skip ci]` at any place in the PR

https://github.com/apache/tvm/blob/dccc1c7d89ecb2281ff1d20f95a9d1b563bbc86e/tests/scripts/git_skip_ci.py#L49-L50

to avoid issues like in https://github.com/apache/tvm/pull/11668#pullrequestreview-1003170033

cc @Mousius @areusch

[2022-06-10 20:38] alanmacd commented on #11414
I'll start with these:

[code]

[2022-06-11 03:18] wzh99 opened #11679 "[Bug] Index error in type inference of `strided_slice` with empty `begin`"
### Expected behavior

The following Relay source program should be successfully parsed:

[code]

`strided_slice` directly returns a copy of `%x` here because `axes`, `begin`, `end`, and `strides` are all empty.

### Actual behavior

[code]

### Environment

macOS 12.4. Compiled using Clang 13.1.6 with LLVM support. TVM commit [`df4f4c0b4`](https://github.com/apache/tvm/commit/df4f4c0b4bccd775af25

[2022-06-11 03:42] wzh99 commented on #11679
This may be the possible cause of this indexing error:
https://github.com/apache/tvm/blob/dfc8e95604afc8475970b8371d2a93d76b0bddf6/include/tvm/topi/transform.h#L746-L747
When `begin` is empty, `begin[0]` is an invalid indexing.

[2022-06-11 07:26] ganler commented on #11664
@wzh99  Thanks for the finding! The proposal makes sense to me. Would you like to send a PR with a test case in https://github.com/apache/tvm/blob/main/tests/python/topi/python/test_topi_conv3d_ncdhw.py?

[2022-06-11 11:45] wzh99 commented on #11664
I have sent a PR with a test case in #11681. Please take a look.

[2022-06-12 02:48] wzh99 opened #11684 "[Bug] Type inference of `nn.softmax` does not reject invalid `axis`"
### Expected behavior

The following Relay program should NOT pass type inference:

[code]

The input tensor `%x` of `nn.softmax` has only one dimension. The valid range of `axis` is [-1, 1). `axis=1` is obviously invalid in this case.

### Actual behavior

This program passes type inference of Relay.

### Environment

macOS 12.4. Compiled using Clang 13.1.6 with LLVM support. TVM commit [`0df6961

[2022-06-12 11:17] lileidev commented on #11684
didn't reproduce any error on my linux platform.
env:
Python 3.8.10 (default, Mar 15 2022, 12:22:08)
[GCC 9.4.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

test code:
from tvm import relay, IRModule

x = relay.var('x', shape=(4, ))
y = relay.nn.softmax(x, axis=1)
mod = IRModule.from_expr(y)
mod = relay.transform.InferType()(mod)
print(mod)

output:
def @main(%

[2022-06-12 12:13] wzh99 commented on #11684
@lileidev Thanks for your participation in this issue. This test case is invalid, so an error is actually expected. However, the type inference in Relay does not report any error. This is somehow different from common bug issues, where we typically expect no errors.

To actually reproduce an error, you can try the following code:

[code]

And you may see the following error report:

[code]

This c

[2022-06-12 23:14] #11664 closed

[2022-06-13 00:36] ganler commented on #11679
Thanks for the bug report. It seems empty stride is not likely to be any realistic usages. So I am curious if this bug is generated by a fuzzer that enumerates all possible attribute spaces in relay's operators?

[2022-06-13 01:35] wzh99 commented on #11679
@ganler Exactly. The bugs I have reported so far, and those I will report later, are generated by a fuzzer of Relay. Some of the bugs are related to real-world use cases, while others may not. We may prioritize bugs related to realistic usages.

[2022-06-13 01:48] ganler commented on #11679
Thanks for letting me know! That sounds very interesting!

[2022-06-13 03:36] wzh99 opened #11687 "[Bug] Wrong padded values of `nn.pad` with `pad_mode='reflect'`"
### Expected behavior

`nn.pad` in the following Relay program should output the same result as its counterpart in NumPy, given input `[[1., 1.]]`:

[code]

### Actual behavior

`nn.pad` in TVM outputs different result from `pad` in NumPy:

[code]

Padded values in the result given by `nn.pad` in TVM seem random and differ between two runs.

### Environment

macOS 12.4. Compiled using Clang 13.1.6

[2022-06-13 04:25] wzh99 commented on #11687
I have tried other input shapes. It seems that this bug occurs when any of the shape dimensions is 1. I guess there is something wrong in the TOPI implementation of `nn.pad`.

[2022-06-13 06:44] alter-xp opened #11688 "[CI Image] support CSI-NN2 in ci_qemu"
- [x] S0. Reason: [Introduce CSI-NN2 Compute Library into TVM to accelerate the inference performance of RISC-V CPU with Vector Extension](https://github.com/apache/tvm-rfcs/pull/75)

- [x] S1. Tag of nightly build: TAG: [20220713-060117-ca88c522f](https://hub.docker.com/layers/ci_qemu/tlcpackstaging/ci_qemu/20220713-060117-ca88c522f/images/sha256-2677d128446861d93412b7a9bb631eccb8878fc9801a546d45

[2022-06-13 08:19] FlagZhao commented on #9546
Is there any resolving method? I got the same error message while running the example of tqchen.

[2022-06-13 11:02] petuca opened #11691 "[Bug][MXNet] MXNet dot not working with non 2D tensors"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-06-13 11:03] petuca commented on #11691
Can you confirm me that my solution is acceptable?

If it is, I will write the tests to check combinations of different tensor's dimensions and create PR for this issue.

Additionally, is there some reason for not using transpose_a in this scenario? If the reason doesn't exist, I can handle it, too.

If you have some better ideas or some advices of upgrading my solution, please tell me.

[2022-06-13 20:20] mkatanbaf commented on #10237
@UlrikHjort-Bosch I haven't had this issue before with the tutorial. could you please give us the entire stack trace?

[2022-06-13 20:58] guberti commented on #10237
When working with Arduino, I've seen a very similar error occur if I forget to pass a `runtime` parameter to `tvm.autotvm.LocalBuilder`:

@UlrikHjort-Bosch Is it possible this could be your issue?

[2022-06-14 02:20] wzh99 opened #11696 "[Bug] `tanh` outputs `1.` for `nan` input at optimization level 4"
### Expected behavior

The output of `tanh` for `nan` input at optimization level 4 should be consistent with lower optimization levels.

### Actual behavior

`tanh` outputs `1.` at optimization level 4, and `nan` at lower levels.

[code]

### Environment

macOS 12.4. Compiled using Clang 13.1.6 with LLVM support. TVM commit [`8341e33`](https://github.com/apache/tvm/commit/8341e33d05868b7bb8496c91

[2022-06-14 02:23] ganler commented on #11691
@petuca Thanks for looking into it. According to how it is fixed in the two PRs you linked, I guess the workaround is to simply return the following line of code after `if rank_a == 1`'s true condition.

[code]

PR is welcome or I can help you patch that when I am more available.

[2022-06-14 03:04] ganler commented on #11696
Thanks for the bug report!

However, I think using invalid numerics (i.e., "nan" or "inf") as inputs should be considered undefined behavior. "Fixing" may require extra checking overhead. According to my experience, there will be lots of such "bugs" in fast math. For example, many PyTorch [fast math](https://github.com/pytorch/pytorch/blob/429a80dded856cd06bd12bd9118efce5ac13dba3/torch/csrc/jit/te

[2022-06-14 03:18] wzh99 opened #11697 "[Bug] Execution error of a simple `nn.bias_add` + `squeeze` graph where `axis=[]`"
### Expected behavior

The following Relay program should be successfully executed:

[code]

### Actual behavior

An error is reported during graph execution:

[code]

### Environment

macOS 12.4. Compiled using Clang 13.1.6 with LLVM support. TVM commit [`8341e33`](https://github.com/apache/tvm/commit/8341e33d05868b7bb8496c913679b7951836f3b9).

### Steps to reproduce

[code]

[2022-06-14 03:52] AIYoungcino opened #11698 "I 'm confused about this "isinstance(end, str)". why not "isinstance(end, PrimExpr)" and "isinstance(thread, str)"? thank you very much."
https://github.com/apache/tvm/blob/81cc0864004bb64c8c70ce0ed1abbc3a8755458c/python/tvm/script/tir/scope_handler.py#L650

[2022-06-14 03:54] #11698 closed

[2022-06-14 04:18] wzh99 commented on #11696
@ganler Thanks for your reply. Your explanation is reasonable. I agree that fast math implementation does not always need to consider all kinds of invalid inputs.

Actually I does not intentionally feed `nan` to `tanh` to discover this inconsistency. Instead, I generated a computation graph and feed it with valid inputs. The `nan`s appear in intermediate results. The test case shown above is a red

[2022-06-14 07:49] UlrikHjort-Bosch commented on #10237
Hi @mkatanbaf,
My procedure and result is the folowing:

I run "python micro_autotune.py" from the tvm root (micro_autotune.py  downloaded from http://tmp.syfeng.net:9090/how_to/work_with_microtvm/micro_autotune.html and used as it is) and get the following:

[code]

[2022-06-14 07:50] UlrikHjort-Bosch commented on #10237
@guberti, thanks for your reply. It is the same error I get (se above). Where exact do you pass a runtime parameter to tvm.autotvm.LocalBuilder ?

[2022-06-14 12:24] blackkker commented on #11414
I want to try these case.

 tests/python/frontend/caffe2/model_zoo/init.py
 tests/python/frontend/caffe2/test_forward.py
 tests/python/frontend/coreml/model_zoo/init.py
 tests/python/frontend/coreml/test_forward.py
 tests/python/frontend/darknet/test_forward.py
 tests/python/frontend/keras/test_forward.py
 tests/python/frontend/mxnet/model_zoo/init.py
 tests/python/frontend/mxnet/model_zoo/dqn.py

[2022-06-14 12:24] blackkker commented on #11414
111

[2022-06-14 14:12] wzh99 opened #11704 "[Bug] Relay program with broadcasting operators and `dense` cannot be compiled"
### Expected behavior

The following Relay program should be successfully compiled:

[code]

### Actual behavior

An error is reported during compilation:

[code]

### Environment

macOS 12.4. Compiled using Clang 13.1.6 with LLVM support. TVM
commit [`8341e33`](https://github.com/apache/tvm/commit/8341e33d05868b7bb8496c913679b7951836f3b9).

### Steps to reproduce

[code]

[2022-06-14 14:22] wzh99 commented on #11704
This seems to be minimal test case that can reproduce this bug. If I further remove some expression nodes, the program can be successfully compiled. `maximum`, `multiply` and `add` in this test case can be replaced by other broadcasting operators and the bug still occurs.

[2022-06-14 14:33] wzh99 commented on #11704
@ganler I have reported all the bugs that I have discovered. Sorry for bombarding you with several bug issues. Thanks for your attention on the bugs I have previously reported. Which bug(s) do you think that we shall fix first?

[2022-06-14 15:22] lhutton1 opened #11707 "[Bug][TVMC] Map is not supported by RPC"
Hi, I'm attempting to run a model via RPC and TVMC but I'm running into an issue:
[code]

The TVMC command I'm using is similar to:
[code]

I seem to be able to get the model to run again when I revert #9889 which introduced `get_input_info` in the graph executor. Is this a case of RPC missing an implementation for Map, or should we do something in TVMC to handle get_input_info differently?

_Full

[2022-06-14 17:35] hpanda-naut opened #11710 "[ci] docker pull network errors"
### Branch/PR Failing

https://github.com/apache/tvm/pull/11635

### Jenkins Link

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3529/pipeline

[2022-06-14 17:46] hpanda-naut opened #11711 "[Flaky Test] `ctypes.py::tests.python.unittest.test_meta_schedule_relay_tir_compute`, `cython.py::tests.python.unittest.test_meta_schedule_relay_tir_compute`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `ctypes.py::tests.python.unittest.test_meta_schedule_relay_tir_compute`
  - `cython.py::tests.python.unittest.test_meta_schedule_relay_tir_compute`

###

[2022-06-14 17:54] AndrewZhaoLuo commented on #11414
Hey folks, a lot of the files I see have one character variable names, mostly scheduling code. I think this is reasonable in many situations so think we should upgrade pylint, and use new pylint features to allow for more variable names. See https://github.com/apache/tvm/pull/11712. Please let me know what you think.

[2022-06-14 17:58] hpanda-naut opened #11713 "[ci] docker pull failed"
### Branch/PR Failing

https://github.com/apache/tvm/pull/11637

### Jenkins Link

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3536/pipeline

ci fails to pull docker images with:

[code]

cc @Mousius @areusch @driazati

[2022-06-14 18:21] guberti commented on #10237
You create a `LocalBuilder` object with the following, but I believe this is what `micro_autotune.py` does already:
[code]
I've got a few ideas for similar issues that could cause the same error, but I don't have a Zephyr board with me to test right now. @mehrdadh would know the most. However, [here's a link](https://gist.github.com/guberti/67bda65c792df408bb87260a2b110700) to a Gist showing a wor

[2022-06-14 18:47] kparzysz-quic opened #11716 "[Bug] Crash with tensorize + prefetch after PR#11589"
Testcase:
[code]

Run: `python3 testcase.py`

[code]

cc: @csullivan

[2022-06-14 18:48] alanmacd commented on #11414
@AndrewZhaoLuo agreed, additionally, pylint seems to be inconsistent as far as which one character variable names it allows and which it doesn't.

[2022-06-14 18:56] hpanda-naut commented on #11711
Fixed here: https://github.com/apache/tvm/pull/11695

[2022-06-14 22:01] areusch opened #11721 "[Bug] Tutorial icons are hard to read in docs"
On https://tvm.apache.org/docs/how_to/tune_with_autoscheduler/, the tutorial icons are not contrasted enough with the text.

See ![image](https://user-images.githubusercontent.com/532957/173696652-388784ee-377c-47ec-849a-4da1851da448.png) from Chrome 101.0.4951.64 (Official Build) (x86_64) on OS X.

cc @hpanda-naut

[2022-06-14 22:26] alanmacd commented on #11414
I also hit an issue in [tests/python/unittest/test_micro_project_api.py](https://github.com/apache/tvm/blob/main/tests/python/unittest/test_micro_project_api.py) related to pytest fixtures and the _redefining name from outer scope_ warning, which is further complicated by **tvm.testing.fixture()** not supporting the **name** argument. For now I just disabled the warning.
https://stackoverflow.com/

[2022-06-14 22:36] areusch commented on #11716
#11589

[2022-06-14 22:40] hogepodge commented on #11721
When I do a local build from head, the docs render correctly.
<img width="700" alt="Screen Shot 2022-06-14 at 3 35 27 PM" src="https://user-images.githubusercontent.com/367747/173701033-9c6921df-62b4-418d-9a00-37096aac2535.png">

[2022-06-15 01:42] wangzhenyu32 commented on #11451
Reproduction for this problem:
step1: train a model use pytorch include a leaky_relu activation func.
step2: qat for the trained model.
step3: import the qat model to tvm frontend
So sorry, I can't provide a model to test, because some reasons.

[2022-06-15 02:22] ganler commented on #11704
I spent some time into it and I guess the bug. The layout mismatch happens at executing between `wrap_compute_dense(topi.x86.dense_pack)` and `wrap_topi_schedule(topi.x86.schedule_dense_pack)`.

https://github.com/apache/tvm/blob/705993e485a8c4b8a94a9c4d6e770c170b6fe1bc/python/tvm/relay/op/strategy/x86.py#L497

Note this is a callback. Its invocation happens in C++ side. So it should be related to

[2022-06-15 06:04] harishch4 opened #11726 "Error during Python Package Installation"
I'm following the instructions [here](https://tvm.apache.org/docs/install/from_source.html) to build tvm from sources, after building the shared libraries, I'm running the `python3 setup.py install --user` command to install the python package and getting the below error message.

git log

[2022-06-15 09:32] Mousius commented on #11414
@alanmacd I removed the offending code rather than ignoring the warning as it can mean we manage to hide other errors?

See: https://github.com/apache/tvm/pull/11657

[2022-06-15 11:01] Codle commented on #11726
I met the same problem and fixed it by changing `setup.py` by the following code:

[code]

[2022-06-15 12:53] UlrikHjort-Bosch commented on #10237
Thanks for you reply. For some reason there was no runtime parameter in my micro_autotune.py. I went to the tutorial page and could see it was there in the example. I downloaded micro_autotune.py again from there and now it suddenly have the parameter and all works fine when I run it. I dont know if it have been updated lately ?

Just FYI I attached the non working micro_autotune.py (had to rename

[2022-06-15 13:10] quic-sanirudh commented on #11414
I can try to fix all the test_hexagon tests if no one else has started working on it. The list is

[code]

[2022-06-15 17:24] alanmacd commented on #11414
Unfortunately, in my case, it's using tvm.testing.fixture() not @pytest.fixture() so I can't use the **name** workaround. I also don't see how removing the code completely is viable. You can also disable/enable warning in small blocks to limit the scope of it.

[2022-06-15 17:37] AndrewZhaoLuo opened #11733 "[CI Image] Update Lint image"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-06-15 18:32] guberti commented on #10237
Looking at the blame, `micro_autotune.py` had this bug fixed by #10154 four months ago, which also made changes to let the tutorial be run on the CI. Glad we were able to sort it out!

[2022-06-15 18:49] driazati opened #11736 "[release] v0.9.0 Release Schedule"
As discussed in https://github.com/apache/tvm-rfcs/blob/main/rfcs/0067-quarterly-releases.md, we will be publishing a release of TVM on mid July. We will do a branch cut soon but accept cherry-picked changes for a couple weeks. See the [release steps](https://github.com/apache/tvm-rfcs/blob/main/rfcs/0067-quarterly-releases.md#reference-level-explanation) for details as well as the [TVM release pr

[2022-06-15 21:26] hpanda-naut opened #11738 "[ci] andriod_rpc build failed"
### Branch/PR Failing

https://github.com/apache/tvm/pull/11695

### Checks Link

https://github.com/apache/tvm/runs/6875772416?check_suite_focus=true

cc @Mousius @areusch @driazati @gigiblender

[2022-06-15 21:27] hpanda-naut opened #11739 "[Flaky Test] `tests/python/unittest/test_custom_datatypes.py::test_myfloat`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/unittest/test_custom_datatypes.py::test_myfloat`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/main/3541/display/redirect

cc @

[2022-06-15 23:21] mbs-octoml commented on #8901
All the test_tensorrt.py tests are running except one which deserves a separate issue.

[2022-06-16 01:55] wzh99 commented on #11704
@ganler Thanks for your investigation into this bug. I also look into the compilation process of this test case. I would like to share my observation as well.

The direct cause of this bug is here:
https://github.com/apache/tvm/blob/ec918644ef01df81354bcf958f686e2b8863dac4/python/tvm/topi/x86/dense.py#L69-L70
The TOPI implementation of `dense_pack.x86` here assumes that `s[O].op.axis` has two elem

[2022-06-16 07:17] junrushao1994 opened #11746 "[Bug] Undefined variables introduced by `te.create_prim_func` for dynamic loop extents"
Adaptive pooling operations may bring in dynamism in loop extents, even if the tensor shapes are not dynamic. The script below shows an interesting example:

[code]

The script produces the TIR below:

[code]

As we could infer, `ax1` and `ax2` are two undefined variables in the IR, which makes the IR ill-formed. This subsequently breaks various analysis during default MetaSchedule auto-scheduling

[2022-06-16 10:17] masahi commented on #11739
a dup of https://github.com/apache/tvm/issues/11580

[2022-06-16 10:17] #11739 closed

[2022-06-16 12:55] wzh99 commented on #11704
I have found a more surprising case of operator fusion. I exchange the two inputs of both `multiply` and `add` in the original test case:
[code]
This program can be successfully compiled! No error is reported. I also check the fused version of this program:
[code]
This time the computation graph is not fused into one single group, but three instead. Note that I only exchange the predecessors of tw

[2022-06-16 12:59] petuca commented on #11691
Hi @ganler ,

Thank you for comment and advices. I saw your changes and took it as a start idea for solving this, but I found optimal structure with minimal conditions on this way to obtain all possible cases of tensor's dimensions. Eventually, I could swap nn.dense with nn.matmul where I could reduce my code for some extra lines. I will sent the PR tomorrow.

@masahi
Is there some specific reason

[2022-06-16 17:18] alanmacd commented on #11414
One recommendation, based on my past experience with large linting or security scan efforts is to open a work item for areas that aren't easily resolved, and leave a comment with the work item number, then address them later, that way we get 80-90% of the coverage on existing work, and then can address corner cases individually.

In most cases, we're only disable one type of lint warning for conta

[2022-06-16 18:07] hpanda-naut opened #11749 "[ci] pytest_wrapper needs guards for invalid JUnits"
### Branch/PR Failing

https://github.com/apache/tvm/pull/11730

### Jenkins Link

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3554/pipeline

The build failed with -

[code]

cc @Mousius @areusch @driazati

[2022-06-16 18:46] alanmacd opened #11750 "[microTVM] Add support for memory pools to host-driven AoT"
Add support for memory pools to host-drive AoT to enable better memory usage metrics.

cc @gromero @mehrdadh

[2022-06-16 18:47] mehrdadh commented on #11121
https://github.com/apache/tvm/pull/11650 merged.

[2022-06-16 18:47] #11121 closed

[2022-06-16 20:43] areusch commented on #11721
@hogepodge did you rebuild with `tests/scripts/ci.py docs` or differently?

[2022-06-16 20:45] cconvey opened #11752 "[Bug] Unusual steps required to directly run unit tests"
### Expected behavior

TVM unit-test scripts can be directly invoked in a simple manner.  E.g.:

`python3 "${TVM_HOME}/tests/python/contrib/test_hexagon/test_2d_physical_buffers.py"`

### Actual behavior

Some scripts fail when invoked in this manner.  For example:
[code]

At least for this particular script, there are two ways to successfully run it:
- What TVM CI does:
[code]

- Alternatively:
[

[2022-06-16 20:45] cconvey commented on #11752
CC: @hpanda-naut

[2022-06-16 22:05] hogepodge commented on #11721
My docs script does:
[code]

I can update if necessary to match CI.

[2022-06-17 09:10] Mousius commented on #11414
Yip, didn't mean to give the wrong impression here, I agree with disabling some bits to enable us to have the linter running 😸 I think all the linting PRs will go in with some `pylint disable` blocks we can use to find them later, that seemed close enough to tracking the work items to me, do you think we need to raise issues for it?

As far as I know, replacing `tvm.testing.fixture` with the nativ

[2022-06-17 12:01] petuca commented on #11691
#11760

[2022-06-17 16:23] mehrdadh opened #11762 "[Bug] RVM building fails due to #11470"
We need to fix RVM build scripts due to https://github.com/apache/tvm/pull/11470.  Specifically, we need to add [this script](https://github.com/apache/tvm/commit/ada4c46f095f876efd97c4d0a3bf8860d7c5d5e8#diff-2b85d74562a8b9a7d666d019729a5270ad5071c25ae8ab373061d70d93ce2e86)  to the RVM scripts.

[2022-06-17 17:02] guberti commented on #10706
This feature is now working on production! See https://tvm.apache.org/docs/how_to/work_with_microtvm/micro_train.html. Hopefully having a working example makes it easier for other tutorial writers to also add Colab support.

[2022-06-17 17:02] #10706 closed

[2022-06-17 17:05] hpanda-naut opened #11763 "[Flaky Test] `tests/python/contrib/test_ethosu/test_codegen.py::test_mean[ifm_shape0-axis0-True-False-ethos-u55-256]`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/contrib/test_ethosu/test_codegen.py::test_mean[ifm_shape0-axis0-True-False-ethos-u55-256]`

### Jenkins Links

  - https://ci.tlcpack.ai/jo

[2022-06-17 17:11] hpanda-naut opened #11764 "[ci] test wrapper scripts failure"
### Branch/PR Failing

https://github.com/apache/tvm/pull/11470

### Jenkins Link

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3568/pipeline

Build failed with:

[code]

cc @Mousius @areusch @driazati

[2022-06-17 17:18] mbs-octoml opened #11765 "[BYOC] TensorRT testing issues"
Here is the state of tests/python/contrib/test_tensorrt.py in CI:

 - test_maskrcnn_resnet50 is skipped since it is sensitive to LLVM/PyTorch JIT mismatches.
 - test_conv3d is skipped since it fails the assert_allclose.
 - the remaining tests are only run with run_module=False since the ci-gpu image has
   `set(USE_TENSORRT_CODEGEN ON)` but `set(USE_TENSORRT_RUNTIME OFF)`.

[2022-06-17 20:35] driazati opened #11768 "[docker] Implement Docker image automated updates"
Following on to discussion in #11673 and #11756 (and the [original RFC](https://discuss.tvm.apache.org/t/rfc-rebuild-docker-images-per-commit/12047)), the tasks remaining to simplify Docker image updates are:

- [x] Auto-push Docker images to `tlcpackstaging` from post-merge builds on `main` if there were Docker changes
        - #11769
- [x] On a nightly GitHub Actions job, push a PR against a `n

[2022-06-17 22:55] areusch opened #11773 "[ci] ci_arm container build fails"
ci_arm is [failing to build](https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-11772/4/pipeline/).

Looks like the version of tensorflow-aarch64 has gone missing from the aarch64 pip repo: https://snapshots.linaro.org/ldcg/python-cache/tensorflow-aarch64/

cc @Mousius @driazati @gromero @leandron

[2022-06-17 22:55] areusch commented on #11773
cc @hpanda-naut

[2022-06-17 23:00] huajsj opened #11774 "[CI Image] Update ci_gpu"
[tlcpackstaging/ci_gpu:20220617-055916-1b8f3b54c]

- [ ] S0. [image generated by PR 11744 ad dnnl into ci/gpu](https://github.com/apache/tvm/pull/11744), blocked PR [Pipeline executor tutorial](https://github.com/apache/tvm/pull/11557)

- [ ] S1. Tag of nightly build: [tlcpackstaging/ci_gpu:20220617-055916-1b8f3b54c](https://hub.docker.com/layers/ci_gpu/tlcpackstaging/ci_gpu/20220617-055916-1b8f3b

[2022-06-17 23:20] driazati commented on #11773
should we rehost the `.whl` ourselves? this isn't the first time it's been down

[2022-06-17 23:20] areusch commented on #11773
also cc @tom-gall

[2022-06-17 23:31] huajsj commented on #11774
cc @masahi @areusch @driazati

[2022-06-19 20:10] alexandrepires5 opened #11780 "[Bug] YOLOX Autotune error - RuntimeError: Invalid type of axis: <class 'tvm.tir.expr.SizeVar'>"
Hello there,

So, I have been having this issue trying to autotune an onnx based Yolox nano model(416x416). I am playing around with the autotune configuration using the python API, but I get this runtime error:

RuntimeError: Invalid type of axis: <class 'tvm.tir.expr.SizeVar'>

The code I have is the following:

[code]

The following are my logs:
[code]
My version of TVM is 0.8.0, I have a ryzen

[2022-06-19 23:06] masahi commented on #11780
Does it compile and run without autotvm? I think maybe the ONNX frontend is generating a conv2d op whose input width and height are dynamic, when they shouldn't be. I've seen the same issue when for MaskRCNN when imported via ONNX. If that's the case, this is not an autotvm problem.

[2022-06-19 23:17] masahi commented on #10042
Let's consolidate the discussion in https://github.com/apache/tvm/issues/10042. As you probably found, if the PyTorch frontend works, this is due to ONNX frontend generating dynamic inputs when it shouldn't. For the same reason, MaskRCNN can be converted to TVM using PyTorch frontend, but not via ONNX.

[2022-06-20 08:50] TaylorHere opened #11783 "[Bug] Expand Op v8 with ConstantOfShape as shape input will failed when because of infer_shape's output"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-06-20 10:07] TaylorHere commented on #11783
I found out what wrong here.
[code]

[2022-06-20 10:12] lhutton1 opened #11785 "[CI Problem] PyLint version update causing new `ci_lint` image to report many linting issues"
Recently the version of PyLint was updated from `2.4.4` to `2.9.3` (#11734), however, in doing so usage of the new `ci_lint` image are failing with a bunch of linting complaints e.g. https://ci.tlcpack.ai/blue/organizations/jenkins/docker-images-ci%2Fdocker-image-run-tests/detail/docker-image-run-tests/146/pipeline.

While this is not a problem in TVM's CI since the images need updating manually (

[2022-06-20 10:22] alexandrepires5 commented on #11780
@masahi, yes it does. It can compile, run and give correct predictions with the onnx file. I just cant auto-tune it, which seemed very odd.
Hmmm, and is there a way of avoiding dynamic input width/heights? I will also give it a look on that.

I attach the model here: [https://we.tl/t-agYtPoThbE](url)

[2022-06-20 10:33] manupa-arm commented on #11785
I think you mean #11734  ? :)

I think landing the docker change early leaves the codebase in a in-consistent state, especially where the the follow-up change is not trivial. As a policy, we should think of a way to reduce the gap (ideally there should not be a gap but that will only happen with #11768)

Is there an urgency of landing #11734 ? (especially, if the next one is not ready at the same

[2022-06-20 10:35] lhutton1 commented on #11785
Oops! Fixed, thanks

[2022-06-20 10:45] masahi commented on #11780
@alexandrepires5 Can you check the model url?

That would be a bug in the frontend, so it is not easy to fix. But given that things work outside of autotvm, this is probably not a problem.

[2022-06-20 10:52] TaylorHere commented on #11783
the op in onnx
![图片](https://user-images.githubusercontent.com/12156543/174586468-90a563ec-31c0-4ffb-8976-4978890f879e.png)

[2022-06-20 13:24] leandron commented on #11785
To speed up the fixing, I've created #11787 so that the revert can run CI and we can hopefully merge is soon.

[2022-06-20 13:30] alexandrepires5 commented on #11780
@masahi yes, sorry, I was distracted and reverted the markdown haha. Can you download the model without any issues?

I will not be able to check this with more detail until this friday. By the end of the week, I can also give it a look and try solutions if any can be provided.

[2022-06-20 16:20] tom-gall commented on #11773
It would be better to use the official PyPi : https://pypi.org/project/tensorflow-aarch64/#description

I'll note that in the not too distant future (matter of weeks) you'll be able to pip install TensorFlow on aarch64 machines and it'll just work.

[2022-06-20 21:08] masahi commented on #11780
With the latest `main`, tuning seems to be working fine:

[code]

So maybe v0.8.0 had a issue that has been fixed now. Can you try our latest branch?

[2022-06-21 04:03] ganler opened #11794 "[Bug] Int64 BroadCast-ArgMax triggers assertion error at graph runtime"
The following miminized code snippet (broadcast-argmax) triggers error in graph runtime (i.e., can compile but runtime binary cannot run). At compile time, `te/schedule/bound.cc:119` says "not in feed graph consumer" as warnings. Seems to be the bugs in codegen?

cc te's code [owners](https://github.com/apache/tvm/blob/0b37bd2b8da55f95d06af9af307608f858c860fd/.github/CODEOWNERSHIP): @junrushao1994

[2022-06-21 04:21] ganler commented on #11783
Hi @TaylorHere , welcome to TVM and I am willing to help you on that. To exactly solve the issue you met, can you attached a (minimized) model or a simple code snippet to reproduce the issue? Thanks!

[2022-06-21 08:23] zhaoyang-star opened #11799 "[Tracking Issue] Add hardswish int8 impl via LookUpTable"
Hardswish is a common act func in mobilenetv3-large/small and yolov5, etc,. By now this op in QNN will execute dequantize -> fp32 caculate -> quantize. So hardswish int8 impl via LUT is needed.

- [x] P1. Add hardswish int8 impl via LookUpTable

[2022-06-21 08:25] lhutton1 commented on #11773
The reason for using `https://snapshots.linaro.org/ldcg/python-cache/tensorflow-aarch64/` was because it had made version `2.6.3` available, which I believe the official PyPi does not offer

[2022-06-21 08:32] lhutton1 commented on #11707
Submitted #11757 to work around the issue for now.

[2022-06-21 15:20] Lunderberg commented on #11580
Additional failure in PR#11798 , CI link https://ci.tlcpack.ai/job/tvm/job/PR-11798/1/display/redirect

[2022-06-21 16:19] tom-gall commented on #11773
We've managed to restore the 2.6.3 version - These are at : https://snapshots.linaro.org/ldcg/python/tensorflow-manylinux/43/tensorflow-aarch64/

Does this suffice ?

[2022-06-21 16:33] hpanda-naut opened #11804 "[bug][docs] error in "code" directive: maximum 1 argument(s) allowed, 2 supplied."
### Branch/PR Failing

https://github.com/apache/tvm/pull/11772

### Jenkins Link

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3586/pipeline

Build failed with:

[code]

cc @Mousius @areusch @driazati

[2022-06-21 16:35] hpanda-naut opened #11805 "[ci] Execution failed for task ':app:checkDebugAarMetadata' on android build"
### Branch/PR Failing

https://github.com/apache/tvm/pull/11683

### Jenkins Link

https://github.com/apache/tvm/runs/6941363212?check_suite_focus=true

cc @Mousius @areusch @driazati

[2022-06-21 16:49] leandron commented on #11773
Hi. I’ll try to put together a patch to use the new location. Probably needs to be used in a slightly different way: downloaded manually and installed.

I’ll send a PR to test that soon. Thanks for the help!

[2022-06-21 18:20] tkonolige commented on #10842
@zhyncs It appears that there was an error in your build but the amount of the build log that you have provided does not show the original error. Could you provide the full build log.

[2022-06-21 19:16] driazati commented on #11785
just fyi #11768 doesn't actually do this, it just automates some of the pain away (image bumps are still manual but a bot will file the PR instead of a person, CI will update/tag images in Docker Hub as they come along) and should hopefully catch issues like this by running CI with the new images on PRs where `docker/*` files are changed. We decided against using newly built images every time in a

[2022-06-21 19:26] areusch commented on #11774
working on this

[2022-06-21 19:32] areusch commented on #11774
@huajsj i think that CI run didn't validate properly. have to see the image validate before we can push it

[2022-06-21 20:29] masahi commented on #11774
I have a PR up for this https://github.com/apache/tvm/pull/11786.

[2022-06-21 22:44] mehrdadh opened #11810 "[CMSIS-NN][ARM] ARM_MATH_ARGUMENT_ERROR due to not setting the context buffer in `arm_avgpool_s8`"
Using TVM main to build keyword spotting model with CMSIS NN (same CMSIS version used in ci_qemu) would lead to error ARM_MATH_ARGUMENT_ERROR. Here are some details:

calling `arm_avgpool_s8` function would result in calling [this line](https://github.com/ARM-software/CMSIS_5/blob/develop/CMSIS/NN/Source/PoolingFunctions/arm_avgpool_s8.c#L273) and here since the context buffer is null and `arm_avg

[2022-06-21 23:10] mehrdadh commented on #11810
@grant-arm

[2022-06-21 23:37] guberti opened #11811 "[ci] [Flaky Test] ai.stanford.edu going down causes CI to break"
The tutorial `gallery/how_to/work_with_microtvm/micro_train.py` demonstrates how transfer learning can be used to train special models that fit on microcontrollers (and can be compiled and autotuned with TVM). As part of this, it downloads the Stanford Cars dataset from https://ai.stanford.edu/.

Unfortunately, https://ai.stanford.edu/ went down around 2:30 PST on Jun 21. This caused the link to d

[2022-06-22 00:31] guberti commented on #11811
#11812 is a hacky fix that uses a mirror link to unblock the CI. It's definitely not a good long-term fix for this issue, so I'm very open to solution ideas.

[2022-06-22 00:41] driazati commented on #11811
We have this problem generally with all network dependencies (even Docker images sometimes flake on `docker pull`). I think the right fix is some combination of consolidating allowed remotes (e.g. only resources from GitHub and S3 can be downloaded) so that a random outage like this doesn't break CI and some kind of HTTP cache in between the tests and the internet

[2022-06-22 06:42] huajsj opened #11824 "[Bug]DNNL Codegen Compile failed after PR 11642"
### Expected behavior

Append "set(USE_DNNL ON)" in config.cmake after install DNNL, the build should done successfully.

### Actual behavior

There is a compile error  "in function `dnnl::primitive_attr::get_post_ops().. undefined reference to `dnnl_post_ops_clone".

### Environment
TVM after patch 11642

### Steps to reproduce

In last tvm or any version after 11642, enable USE_DNNL, compile wou

[2022-06-22 06:57] huajsj commented on #11824
@apeskov

[2022-06-22 11:31] cVladu opened #11827 "[PyTorch] Missing op `aten::rnn_tanh`"
I built a simple RNN network in PyTorch and tried to convert it using `relay.frontend.from_pytorch` interface

### Expected behavior
The network is converted

### Actual behavior

NotImplementedError: The following operators are not implemented: ['aten::rnn_tanh'] is raised

### Environment

Operating system:
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.6 LTS
Release:        18.04
Codename:

[2022-06-22 15:38] TaylorHere commented on #11783
the ONNX file is too big to upload, I'm trying to build the `constantOfShape` -> `Expand` structure with onnx.helper.
the model is passed through `onnx.checker`

[2022-06-22 16:15] nverke opened #11830 "[Flaky Test] `tests/python/contrib/test_ethosu/test_codegen.py::test_mean[ifm_shape2-axis2-True-False-ethos-u65-256]`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/contrib/test_ethosu/test_codegen.py::test_mean[ifm_shape2-axis2-True-False-ethos-u65-256]`

### Jenkins Links

  - https://ci.tlcpack.ai/jo

[2022-06-22 16:36] nverke commented on #11811
Another instance here https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3602/pipeline

[2022-06-22 16:47] nverke opened #11831 "[Flaky Test] tests/micro/zephyr/test_zephyr_aot_exec.py::test_aot_executor"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking. You are always welcomed to post on the forum first :smile_cat:

These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrel

[2022-06-22 16:49] nverke commented on #11811
Another instance: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3603/pipeline

[2022-06-22 17:13] alanmacd commented on #11831
This test shouldn't be running on mps2_an521, will update it to skip.

[2022-06-22 17:16] TaylorHere commented on #11783
[code]

[2022-06-22 18:19] mehrdadh commented on #11810
Here is a gist to reproduce this error:
https://gist.github.com/mehrdadh/2f3aa844e2df21e22e5ccf9708a56e0c#file-tvm_kws_cmsis-py

Note:
1. You don't see the error unless you use `west debug` to step by step go through the code. In the generated code `ARM_MATH_ARGUMENT_ERROR` would result in returning -1 and code execution just fails.
2. If you run this with older CMSIS version like (5.8.0 which we

[2022-06-22 19:17] gigiblender commented on #11462
Happy to sign up for 6/27-7/1 if someone could edit the issue for me :)

[2022-06-22 21:40] driazati commented on #11831
PR is merged now!

[2022-06-22 21:40] #11831 closed

[2022-06-22 21:46] driazati opened #11837 "[ci] Docs comment bot should update comments in-place"
Posting a new comment generates a notification which I don't think we want beyond the first one from `github-actions` since it doesn't carry much signal. The [docs-bot](https://github.com/apache/tvm/actions/workflows/docs_bot.yml) workflow should search the PR for existing comments from the `github-actions` bot (possibly marked with a markdown comment or something like ``) and update that comment

[2022-06-22 22:17] nverke opened #11840 "[CI Problem] No space left on device"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-06-23 01:50] xiongdl commented on #10384
Hi,
I meet the similar error when running VTA test with tsim target.

python vta/tests/python/integration/test_benchmark_topi_conv2d.py
python: symbol lookup error: $VTA_HW_PATH/build/libvta_hw.so: undefined symbol: VTAMemDPI

 Do you fix the bug?

[2022-06-23 07:17] TaylorHere commented on #11783
hi `9bba758` works for me as well, I was worked on `v0.8.0`
`9bba758` raise new errors for my model
[code]

[2022-06-23 07:43] #11773 closed

[2022-06-23 08:38] leandron commented on #11773
This is now closed. Thanks @tom-gall for the help with making the packages available!

[2022-06-23 09:03] ganler commented on #11783
Would you mind file the model through my email if that is not confidential? I can help take a closer look. :-) @TaylorHere

[2022-06-23 12:00] gigiblender commented on #11837
@driazati I agree with you. I can take a look at this issue.

[2022-06-23 12:27] lhutton1 commented on #11785
Revert in #11787 has been merged so closing this issue

[2022-06-23 12:27] #11785 closed

[2022-06-23 15:21] ashutosh-arm commented on #11810
Thanks @mehrdadh for putting together the script to reproduce this issue. I will get to this early next week.

[2022-06-23 15:42] yuanfz98 commented on #11827
Hello cVladu,

It is the correct place to raise the issue. :)

When you call
[code]
You are converting pytorch model (or jit traced model) to "tvm model". And if tvm doesn't have implemented the corresponding equivalent operator (in your case, aten::rnn_tanh), error occurs.

So you need contributors come to help. Maybe I can take a stab.

[2022-06-23 15:50] apeskov commented on #11824
@huajsj Some additional information. At this moment TVM cmake integration of DNNL targets is not ideal. It search library via path provided by "USE_DNNL" variable. But headers used from system header search paths. So if you have dnnl headers inside of "/usr/local" folder it may be used instead of real DNNL package.

[2022-06-23 17:45] huajsj commented on #11824
@apeskov , thanks for the kindly follow up, yes that is my environment issue and just trigger by the new patch, after remove the old libdnnl, now the build get success.

[2022-06-23 17:45] #11824 closed

[2022-06-23 18:57] ShownX commented on #11186
Confirmed this issue.

[2022-06-23 22:14] ganler commented on #11783
@TaylorHere  Thanks for sharing the model. However, this model itself is invalid that cannot pass onnx full check:

[code]

So the model iteself is invalid as its input `0` has no type information. Since you exported the model from PyTorch, I suggest you open an issue there to see what's going on. In the meantime, you might want to export the model with PyTorch nightly as they are continuously mak

[2022-06-23 22:19] #10489 closed

[2022-06-24 00:07] nverke opened #11861 "[Flaky Test] `tests/python/unittest/test_custom_datatypes.py::test_myfloat`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/unittest/test_custom_datatypes.py::test_myfloat`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/main/3612/display/redirect
  - h

[2022-06-24 00:11] nverke opened #11862 "[CI Problem] Build failure"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-06-24 01:51] masahi commented on #11861
A dup with https://github.com/apache/tvm/issues/11580, feel free to send a PR to disable this test.

[2022-06-24 01:51] #11861 closed

[2022-06-24 05:44] sisleyli opened #11867 "[Bug] Quantize description is inconsistent with the actual implementation"
There is the description of quantize in `/python/tvm/relay/qnn/op/qnn.py`

[code]

Here it seems that the implementation is `clamp((round(input_tensor/output_scale) + output_zero_point)` ,

but in `/src/relay/qnn/op/quantize.cc`:

[code]

It seems that the actual implementation is `round(clamp((input_tensor/output_scale) + output_zero_point))`

Now I'd like to know which implementation tvm wants t

[2022-06-24 06:55] masahi commented on #11867
I think the python description makes more sense to me. What do you think? Feel free to send a PR to fix the C++ implementation.

[2022-06-24 06:57] masahi commented on #11867
Actually, the order in the C++ implementation is done intentionally, see https://github.com/apache/tvm/pull/9558

cc @AndrewZhaoLuo

[2022-06-24 07:11] sisleyli commented on #11867
@masahi
Yeah, python description is also more compatible with my program. For the order you mentioned, please wait for me to confirm. If there is no problem, I am sure willing to send a PR.

[2022-06-24 07:36] sisleyli commented on #11867
My focus is that `round` should be executed before `scale_data` add `expanded_output_zero_point`, right? It seems that no conflict with #9558 , which move clip before cast to integer.

[2022-06-24 07:56] masahi commented on #11867
ah right, I was thinking about the order of round and clip, but I realized that it doesn't really matter.

[2022-06-24 10:19] #11867 closed

[2022-06-24 10:29] TaylorHere commented on #11783
hi, @ganler, thx for your help, you are right, my model is invalid, exporting with PyTorch nightly works for me.

[2022-06-24 10:29] #11783 closed

[2022-06-24 10:31] #11426 closed

[2022-06-24 12:49] rafzi opened #11881 "[Frontend][TFLite] Batch_MatMul op support"
I was working on adding support for the TFLite op `Batch_MatMul`. When looking at the tests, I was a bit puzzled as to why there was already a test for that operator and why it is passing.

https://github.com/apache/tvm/blob/main/tests/python/frontend/tflite/test_forward.py#L726

When I'm trying a model ( https://github.com/huggingface/tflite-android-transformers/blob/master/models_generation/gpt2

[2022-06-24 14:00] u99127 commented on #11881
I'd suggest saving / writing out the tflite model to inspect what actually gets generated in this particular case from the use of math_ops.matmul in the framework.  I suspect that produces a matmul operator rather than a batch_matmul operator in the framework , however producing it from the test might be the only way of looking at what is actually being consumed by the frontend .

That certainly l

[2022-06-24 14:04] u99127 commented on #11881
Ah, came in with this https://github.com/apache/tvm/pull/5510.  Perhaps that helps in archeology and identifying the possibly misnamed tests.

[2022-06-24 14:04] #11716 closed

[2022-06-24 14:11] rafzi commented on #11881
Yes, you are right. The models produced by the test do not contain the operator.

As far as I can tell, the math_ops.matmul function should produce a batch_matmul for certain parameters. I'll try to figure the specifics out. Thank you!

![image](http://i.rafzi.com/ShareX/2022/06/jX563GhJzt.png)

[2022-06-24 14:56] rafzi commented on #11580
I also encountered this: https://ci.tlcpack.ai/job/tvm/job/PR-11877/1/display/redirect

The test passes locally.

[2022-06-24 17:57] huajsj commented on #11774
thanks @masahi @areusch.

[2022-06-24 17:57] #11774 closed

[2022-06-24 23:03] driazati commented on #11862
same issue as #11862

[2022-06-24 23:03] #11862 closed

[2022-06-24 23:10] ganler opened #11895 "[Bug] `concat([x], axis=1)` return random results"
[code]

### Expected behavior

`op_res` should be same as `[[6], [5]]`.

### Actual behavior

1st try:

![image](https://user-images.githubusercontent.com/38074777/175721475-be886e37-476e-4785-a37f-bf4472e7420f.png)

2nd try:

![image](https://user-images.githubusercontent.com/38074777/175721486-d86daa24-2ddc-459c-add6-4f0384f564f8.png)

3rd try:

![image](https://user-images.githubusercontent.com

[2022-06-25 00:54] ganler opened #11897 "[Bug] concatenating strided slice and negative padding causes wrong buffer binding"
[code]

### Expected behavior

Pass compilation as ORT (it is originally from part of a verified ONNX model).

### Actual behavior

Compiler failure. Due to:

<details><summary><b>Core Logs</b> <i>[click to expand]</i></summary>
<div>

[code]
</div>
</details>

### Environment

Ubuntu 20.04. TVM tag: ed638ef6db007772cbf84b13c26836a8a53706b3

[2022-06-25 02:46] lileidev commented on #11895
I tried the sample code to reproduce, but get bellow error:
Traceback (most recent call last):
  File "5.py", line 1, in <module>
    import tvm
  File "/home/larry/.wine/drive_d/tvm/python/tvm/__init__.py", line 42, in <module>
    from .ir import IRModule
  File "/home/larry/.wine/drive_d/tvm/python/tvm/ir/__init__.py", line 33, in <module>
    from .memory_pools import (
  File "/home/larry/.wi

[2022-06-25 02:52] ganler commented on #11895
I doubled checked that but I can still reproduce it (in the commit version I attached which is very recent). I think the operators used here are very common that it is not likely to be not registering them.

[2022-06-25 03:10] masahi commented on #11895
what happens if you revert the commits https://github.com/apache/tvm/pull/11341 and https://github.com/apache/tvm/pull/11800?

[2022-06-25 03:18] ganler commented on #11895
Just tried the commit right before https://github.com/apache/tvm/pull/11800, this issue is still there. am trying https://github.com/apache/tvm/pull/11341 ~1 now.

![image](https://user-images.githubusercontent.com/38074777/175756184-89283ae6-47f5-450d-9b9c-1ccda6374979.png)

[2022-06-25 03:25] ganler commented on #11895
@masahi So a1d95ec1ea30ac70e544a3cf10c839e228d407bf (https://github.com/apache/tvm/pull/11341 ~1) is correct as follows:

![image](https://user-images.githubusercontent.com/38074777/175756318-cb0d94ac-7bee-4f11-a7dd-24c043751a6b.png)

I also directly tried https://github.com/apache/tvm/pull/11341 it fails:

![image](https://user-images.githubusercontent.com/38074777/175756384-78d124df-0a27-4228-bb

[2022-06-25 04:08] ganler opened #11898 "[Bug] GPU `lower_thread_allreduce` is_zero(index) check false"
[code]

### Expected behavior

Pass compile.

### Actual behavior

Compiler failure at `tir/transforms/lower_thread_allreduce.cc`.

<details><summary><b>Core Logs</b> <i>[click to expand]</i></summary>
<div>

[code]
</div>
</details>

### Environment

Ubuntu 20.04. TVM tag: ed638ef6db007772cbf84b13c26836a8a53706b3

[2022-06-25 12:42] normanzh opened #11900 "[Bug]"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-06-25 15:16] alexandrepires5 commented on #11780
You are right @masahi, with the latest version, it auto tunes. I guess there was some issue in 0.8.0 that has been fixed recently.

For everybody else wondering, I installed using tlcpack, the version I have is this one: tlcpack-nightly==0.9.dev1679+g59fb4219f

So, from that version, yolox should be able to autotune without any workaround. I think we can close this issue.

[2022-06-25 15:22] #11780 closed

[2022-06-25 18:57] rafzi commented on #11881
The following transformation seems to unroll all BatchMatMul ops to MatMul:

https://github.com/tensorflow/tensorflow/blob/f72dafde88e0c32bc64144cdacc45b7b46d3c914/tensorflow/lite/toco/graph_transformations/unroll_batch_matmul.cc#L136

Using the MLIR converter switches from Slice to Split, but still does the unrolling:

![img](http://i.rafzi.com/ShareX/2022/06/xCUIQQCqng.png)

So as far as I can t

[2022-06-26 16:15] harishsdev opened #11903 "[CI Image]"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-06-27 00:56] #11903 closed

[2022-06-27 06:23] masahi commented on #11895
@shtinsa Can you take a look?

[2022-06-27 06:23] shtinsa commented on #11895
Hello, fix is here: https://github.com/apache/tvm/pull/11907

[2022-06-27 13:18] gigiblender commented on #11837
#11909

[2022-06-27 14:30] yelite opened #11912 "[Tracking Issue] TVMScript Unified Printer"
## This issue is to track progress for [TVMScript Unified Printer](https://github.com/apache/tvm-rfcs/blob/main/rfcs/0074-tvmscript-unified-printer.md)

### Part 1: Doc
  In each step we will introduce several Doc subclasses and implement the corresponding part in PythonDocPrinter.
  - [x] LiteralDoc (together with Doc, DocPrinter base class and PythonDocPrinter) (#11971)
  - [x] ExprDoc (#12048,

[2022-06-27 15:49] driazati opened #11914 "[ci] Periodically trigger a repository scan on Jenkins"
With just webhooks the code to delete old builds never runs and the head node will eventually run out of disk space. We should make a GitHub Actions job that uses the Jenkins API (either call an endpoint to trigger a scan directly or execute a groovy script to do the scan if that endpoint doesn't exist) that it set up to run weekly on a cron or something.

cc @Mousius @areusch @gigiblender

[2022-06-27 17:00] driazati opened #11916 "[ci] tvm-bot rerun didn't trigger"
The author check ran but didn't properly find the right collaborators in https://github.com/apache/tvm/runs/7077240182?check_suite_focus=true

cc @Mousius @areusch @gigiblender

[2022-06-27 17:29] nverke opened #11917 "[CI Problem] Failure while downloading files from S3."
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-06-27 17:42] nverke opened #11918 "[CI Problem] Docs failed to build with code 143"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-06-27 17:49] nverke opened #11919 "[CI Problem] /workspace/gallery/how_to/compile_models/from_oneflow.py failed due to url issue."
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-06-27 17:55] nverke opened #11920 "[CI Problem] Jenkins link 404"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-06-27 17:55] nverke commented on #11462
Week of 6/20 - 6/27:
- [Details](https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3599/pipeline) on [bc75487](https://github.com/apache/tvm/commit/bc75487032aee5d0fa2bb1d673f9dcd8c7e43810) #11830
- [Details](https://ci.tlcpack.ai/job/tvm/job/main/3602/display/redirect) on [b63801c](https://github.com/apache/tvm/commit/b63801c4cd79508eec4d0d210cf62764dfacf6e1) #11811
- [Details](htt

[2022-06-27 19:45] masahi commented on #11900
Good catch, you are welcome to send a quick PR to fix it.

[2022-06-27 22:36] areusch commented on #11914
cc @hpanda-naut  can you triage?

[2022-06-28 00:29] mehrdadh opened #11928 "[Bug] tests/python/contrib/test_hexagon/topi/test_avg_pool2d_slice.py causes Segmentation fault"
It only happens on HDK board due to missing symbols.

[2022-06-28 07:49] #11671 closed

[2022-06-28 09:08] MichaelJKlaiber commented on #11260
@gfvvz , just added the link to our working branch, feel free to peek into (partially finished) functions.

[2022-06-28 09:22] #11895 closed

[2022-06-28 18:00] driazati commented on #11736
v0.9.0 has been cut at 97b3076c3532f73a9d9eeba26a3f329f8e0f803d in https://github.com/apache/tvm/tree/v0.9.0

[2022-06-28 18:21] hpanda-naut opened #11932 "Exercise TVM under minimal configuration in CI"
We have seen a couple bugs due to microTVM being presumed-ON in config.cmake. Namely, you get python errors importing TVM right now when USE_MICRO is OFF. We should have a regression test that verifies basic functionality with everything (or nearly everything) OFF.

Context: apache/tvm#9617
And another micro-related issue of the same kind, which i don't have handy right now.

cc @gigiblender

[2022-06-29 04:23] areusch commented on #11805
i'm going to close this one as dl.google.com seems unlikely to frequently flake. we can leave it here for tracking purposes and re-open if we find more recurring flakes

[2022-06-29 04:23] #11805 closed

[2022-06-29 04:36] #11837 closed

[2022-06-29 07:54] zhaoyang-star commented on #11799
#11700 has supported this feature, so close this issue.