[2019-11-08 04:29] #4279 closed

[2019-11-08 04:45] tobegit3hub commented on #2062
Thanks @sunstarchan . We have the similar issue when linking the `libtvm_runtime` in our dynamic library and try to `import tvm` which occurs the errors. It can be fixed by not linking `libtvm_runtime` when compiling our projects.

[2019-11-08 05:00] DamonDeng commented on #4279
One troubleshooting thread created in discuss.tvm.ai

[2019-11-08 09:24] DaniDeniz commented on #4009
I am interested in running 3D networks!
Thank you

[2019-11-08 11:15] JuanIsernGhosn commented on #4009
That's a great idea. It would be a great advance to include support for 3D models.

[2019-11-08 11:52] FrozenGene commented on #4259
Though C++ RPC haven't been reviewed, but personally, I wish C++ RPC https://github.com/apache/incubator-tvm/pull/4281 could enter into 0.6, which is a very useful feature in embedded devices, we almost use it in our production development every day.

[2019-11-08 18:00] tqchen opened #4284 "[TEST][FLAKY] darknet/test_forward.py::test_forward_conv_batch_norm"
http://ci.tvm.ai:8080/blue/rest/organizations/jenkins/pipelines/tvm/branches/master/runs/12/nodes/239/log/?start=0

[2019-11-08 21:44] tqchen opened #4286 "[RFC] Use Object Protocol to Support runtime::Module and runtime::NDArray"
The [unified object protocol](https://github.com/dmlc/tvm/issues/4116) is now used by almost all of our runtime objects. However, there are still two exceptions: Module and NDArray. This RFC tries to discuss the possibility to unify them to the object protocol.

The advantage for unification is clear. After the unification, we can benefit from additional features in the object system. e.g. use ADT

[2019-11-08 21:46] tqchen commented on #4286
previous discussions here https://discuss.tvm.ai/t/discuss-use-object-protocol-for-module-ndarray/4583

[2019-11-08 21:49] yzhliu commented on #4259
I updated the issue, please let us know if anything's missing.
(I didn't include "Build and Test" and "Bug fixes" section as the entire content happens to be long enough that github prevents me from posting it.)

One thing we need to discuss is whether NNVM needs to be deprecated in v0.6 release and how.

[2019-11-08 21:52] tqchen commented on #4259
wrt to nnvm. Our original proposal is to keep nnvm until v0.6 release. Which means nnvm will appear in v0.6 with limited support(the legacy api still passes test cases). Then we will remove nnvm compiler support after v0.6 release

[2019-11-08 23:15] yzhliu commented on #4259
@tqchen Shall we print warning message when ppl use nnvm?

[2019-11-08 23:59] Rphaet0n opened #4288 "[Relay][Feature] CoreML MLModel PipelineClassifier support"
Now Core ML (>= 2.0) models created using Create ML framework for image classification have [PipelineClassifier ](https://apple.github.io/coremltools/coremlspecification/sections/Model.html#pipelineclassifier) type, which is not supported by current version of Relay.
Are there any plans to implements this feature?

I think it would be really cool because Create ML tool allows to achieve good resul

[2019-11-09 00:10] tqchen commented on #4259
Yes, we can do that

[2019-11-09 06:57] wweic opened #4291 "[Prelude][Relay] Add utility function to extract tensor from prelude tensor_t"
`tensor_t` in prelude is a type that wraps variable rank tensor with variable shape. Like, `tensor_array_concat` will return object of type `tensor_t`.

But for most of the other TF operators, they expect tensors with fixed rank. For example `sum(tensor_array_concat(tensor_array))`, it won't work right now since `sum` can't accept `tensor_t` returned by `tensor_array_concat`. We need functions to

[2019-11-09 13:52] JammyZhou commented on #3159
@liangfu Good to know you are using Zephyr RTOS for the development of this RFC. Can you share more details about your effort to integrate TVM with Zephyr? I'm also interested in it.

[2019-11-09 19:00] yongwww commented on #4284
@siju-samuel  seems the flaky issue was introduced by DarkNet itself? test cases for batch_norm in other frontends are working well even w/ much smaller tolerance (`tvm.testing.assert_allclose(x, tvm_out, rtol=1e-5, atol=1e-5)`).

[2019-11-09 19:21] yongwww commented on #4102
@ic @srkreddy1238 if you guys are working on this support, would you mind sharing the status?

[2019-11-09 19:59] yangjunpro commented on #2954
@merrymercy
Hi Lianmin,

Thanks for the nice proposal. May I know the latest progress of the auto-scheduling work?
It looks that for a long time there isn't any status update.

Regards
Jun

[2019-11-11 02:19] yzhliu commented on #4259
# Build and Test
* Increate the robuteness of CI test ([#2841](https://github.com/dmlc/tvm/pull/2841), [#2798](https://github.com/dmlc/tvm/pull/2798), [#2793](https://github.com/dmlc/tvm/pull/2793), [#2788](https://github.com/dmlc/tvm/pull/2788), [#2781](https://github.com/dmlc/tvm/pull/2781), [#2727](https://github.com/dmlc/tvm/pull/2727), [#2710](https://github.com/dmlc/tvm/pull/2710), [#2711](h

[2019-11-11 06:09] hello-hzb commented on #2954
@merrymercy
Hi Zheng，
My team has paied attension to your auto-scheduler work for a few days. No update for a few month. How is it going these days?
Why don't you merge the autoshceduler to the master branch of TVM?

[2019-11-11 12:03] SemanticBeeng opened #4302 "[Relay](TVM] tensor expression language"
Is the "tensor expression language" meant to also express and handle `tensor network`s?

Context
1.  https://github.com/google/TensorNetwork
2. https://twitter.com/semanticbeeng/status/1185928629743738885

[2019-11-11 16:24] tqchen commented on #4302
Thanks for asking the question, the community uses discuss forum to to discuss related questions, please open a new thread on https://discuss.tvm.ai/

[2019-11-11 16:24] #4302 closed

[2019-11-11 17:32] u99127 commented on #4259
Should we have a known issues section ?

These are some initial thoughts from the top of my head over the last 5 minutes. I am sure that there are more.

- Tflite rounding vs tvm rounding causing differences in accuracy and potentially off by 1 errors. For reference https://github.com/apache/incubator-tvm/pull/3900#discussion_r334324818 . If we release without the PR, atleast we need a note about

[2019-11-11 17:38] yzhliu commented on #4259
@u99127  Good idea, will add.

[2019-11-11 19:00] anwang2009 opened #4304 "[RFC] Benchmark Performance Log Format"
# Workload record storage proposal

This is a migration and summation of the discussion https://discuss.tvm.ai/t/rfc-benchmark-performance-log-format/4610/15. Please head over there to put in your two cents. This is a WIP issue maintained for visibility.

We propose a json-based data storage format that unifies how TVM results are tracked. For now the only metric we suggest tracking is execution t

[2019-11-12 01:27] tqchen commented on #4304
Please share your thoughts about the RFC. this RFC will open for a week, if there are no further comments, we will harden it by bringing it as a part of tvm official document.

[2019-11-12 02:00] optima2005 commented on #4165
Please see this op [mapping](https://github.com/apache/incubator-tvm/blob/master/python/tvm/relay/frontend/mxnet.py#L1181), is this still an issue?

[2019-11-12 02:04] joshpoll commented on #4143
The solution is in fact _not_ obvious even from a PL perspective. [Xavier Leroy](https://xavierleroy.org/talks/compilation-agay.pdf), famous for his work on OCaml, outlines multiple closure representations including their handling of recursive and mutually recursive functions.

[2019-11-12 02:14] liangfu commented on #3159
@JammyZhou The runtime part is actually OS independent. I refer to Zephyr RTOS as an example of OS that provides MISRA-C compliance. As Zephyr RTOS is designed to be architecture independent, I worked on building the runtime with Zephyr RTOS on top of qemu_x86, so that the complete system would be considered to be MISRA-C compliant, and it can be easily ported to other platforms with high reliabil

[2019-11-12 02:18] Edwardmark commented on #4165
@optima2005 Thank you very much, it was solved.

[2019-11-12 02:18] #4165 closed

[2019-11-12 16:52] mbarrett97 commented on #4150
@comaniac I've done some refactoring to disentangle 'TuningJob' from the ConfigLibrary. The tuning loop now looks like this:

[code]

Using 'with job' puts the job into the global tuning scope. The job will then automatically register it's own callback to the tuners and a new tuner method `load_library` is called if the TuningJob has a ConfigLibrary attached. This is where the resume logic can be

[2019-11-12 18:21] comaniac commented on #4150
I went through the new proposal and the PR. This looks much better to me from the perspecitive of functionality.

One concern in my mind is the long term maintaince. It seems like we will have more and more new features dealing with a set of tasks. As @tqchen mentioned in another [RFC](https://github.com/apache/incubator-tvm/issues/4188), it might be better to make a task pass manager to manage su

[2019-11-12 22:19] yzhliu commented on #4259
Kindly remind that we would like to cut the release branch as well as the RC tag (RC0) this week. If you want to get any feature into the v0.6 release, please let us know. Once the release branch is cut, we _no longer_ take new features. Bug fixes can still get in if _necessary_. @apache/tvm-committers

[2019-11-13 00:18] kevinthesun commented on #4259
Symbolic Shape Enhancement:
Add more shape functions commonly used in cv models: https://github.com/apache/incubator-tvm/pull/4179

[2019-11-13 00:38] yzhliu commented on #4259
@kevinthesun Thanks. I'll go through the merging history make sure everything since the last monthly report gets into the release note.

[2019-11-13 13:53] JammyZhou commented on #3159
@liangfu Thanks for your reply. I would assume some implementation is required in the runtime to call APIs provided by Zephyr (e.g, memory allocation, etc). Is there some base I can use as a start? I have several Arm boards with Zephyr support on hand, so I can try the TVM support on these real hardware.

[2019-11-13 19:32] merrymercy commented on #2954
Hi @yangjunpro @hello-hzb ,
This project is suspended for several months. I won't continue my work on the original branch.
However, the push for an auto-scheduler is still interesting to a lot of people, I might work on auto-scheduler again with some Berkeley students. We'd like to try different approaches, so we won't start from my old branch.

[2019-11-13 19:49] yzhliu commented on #2954
@merrymercy would you mind summarize a bit what's the drawback of the original implement, so we can learn from it.

[2019-11-14 01:24] ZihengJiang opened #4332 "[RFC] Support for Sparse Computation"
A significant driver of progress in deep learning has been advances in computational resources. While those resources are often limited, the is a trend to replace dense computation in DNN with sparse computation for speeding up / saving memory to enable larger models. For example: [neural network pruning](https://github.com/he-y/Awesome-Pruning), [sparse transformer](https://openai.com/blog/sparse

[2019-11-14 01:26] ZihengJiang commented on #4332
Welcome comment and discussion! @cylinbao @yuluny2 @tmoreau89 @Huyuwei @tqchen

[2019-11-14 01:30] optima2005 commented on #2368
PR #4300 is for Op 'Conv2DBackpropInput', which is the graph node name of 'conv2d_transpose' Op in tensorflow.

[2019-11-14 02:10] FrozenGene commented on #4332
cc @sf-wind

[2019-11-14 02:59] masahi commented on #4259
We need to update [benchmarks](https://github.com/apache/incubator-tvm/tree/master/apps/benchmark) to use Relay, before we deprecate NNVM.

[2019-11-14 15:21] Msabih commented on #4262
Having the same issue while reading ONNX model into TVM which was exported from Pytorch.

[2019-11-14 19:44] yzhliu commented on #4259
I don't have access to some of the devices, I can update the others. @merrymercy @tqchen what's your suggestion?

[2019-11-14 23:57] petrex commented on #4259
@yzhliu We'd love to push #4305 #4321 #4341 #4342 (fix and refactoring for AMD gpu backend) into TVM 0.6 release. thx

[2019-11-15 00:55] cylinbao commented on #4332
Thank @ZihengJiang for bringing up the RFC.
One question. It seems like, in this RFC, the axis to store the data values is always the last axis.
Am I right?
And for the non-storing value axis, like the axis 0 in the example, will it have different formats to represent?

[2019-11-15 00:59] szha commented on #4332
cc @eric-haibin-lin @sxjscience

[2019-11-15 02:00] tqchen commented on #4259
@ZihengJiang can you help look into update the benchmark script?

[2019-11-15 18:38] gussmith23 opened #4348 "[Relay] Add tests in CI which run tests based on specific Relay feature flags"
A persistent problem in Relay is what @MarisaKirisame calls the "split-brain" problem: the developers of Relay and the users of Relay are of two minds on how Relay works. Specifically, Relay developers want to support advanced features that didn't exist in NNVM, while Relay users often treat Relay as NNVM. For example, Relay users will write Relay passes that work like NNVM over Relay features tha

[2019-11-15 19:16] gussmith23 commented on #4348
For the record, we want to test against real models -- not just generating adversarial programs.

[2019-11-15 20:07] gussmith23 commented on #4348
Talking with Steven and Marisa:
- Tests should be automatically run over all passes, so that we don't have to rely on submitters/reviewers to add new passes to existing tests
  + What's a clean way to get all of the passes automatically?
- Passes need to be modified to include the three fields that Marisa describes in the original PR: supported features, added features, removed features
- Passes n

[2019-11-15 21:46] slyubomirsky commented on #4348
I think you can iterate through the passes by looking at the defined members of `tvm.relay.transform` and having exceptions for the members that are not passes. This way, if anyone adds a pass to that package, they would have to hardcode an exception and should have a justification for it (we can put a comment in there to remind reviewers of that)

[2019-11-16 00:51] petrex commented on #4259
@yzhliu @ZihengJiang  I can provide some input for AMD gpu backend. please tag me in your PR. thanks

[2019-11-16 02:58] zhiics commented on #4348
@gussmith23  Thanks for the proposal. I have a few thoughts/questions.

- For the passes, can we just glob them from the registry?
- How do you plan to represent these meta data? Are we going to just add them to `PassInfo`?
- Do we want to save the states the resultant passes, i.e. if the programs changes?

[2019-11-16 03:56] LYang-666 opened #4354 "Could I change the channel numbers on ResNet18 for pynq implementation"
Hi!
      Could I change the channel numbers for resnet18 using the given bitstream to implement on pynq. In other words, does the given bitstream (eg.,  1x16_i8w8a32_15_15_18_17.bit)  has the fixed conv  structure(fixed channels, filters number .. ), or it only related to the parameters on pynq_sample.json ?

     Thank you very much!

[2019-11-16 04:08] yzhliu commented on #4259
I updated the release notes to include recent changes, as well as some known issues as @u99127 suggested. please let me know if I missed anything.

[2019-11-16 04:13] vinx13 commented on #4259
typo: enhence -> enhance

[2019-11-16 08:58] yzhliu commented on #4259
@vinx13 thanks. updated.

[2019-11-16 16:25] Starethics opened #4355 "Is TVM incompatible with python's multiprocessing module?"
Hi there,
I was building a deep learning server that contains multiple CNN modules (some of these models were transformed into TVM for acceleration). I used multiprocessing.Process to run all the CNN modules in parallel.
However, this server occasionally and randomly hung after processing hundreds of requests. And this hanging seems to be very likely caused by combination of TVM and multiprocessin

[2019-11-16 16:45] zhiics commented on #4355
@Starethics Could you please open the thread at the discussion forum: https://discuss.tvm.ai ? That's usually the place we post questions. Thanks.

[2019-11-16 16:45] #4355 closed

[2019-11-16 17:37] wowow11111 opened #4356 "I have trouble installing tvm."
Hello, I have serious issue getting TVM on my desktop, Wiindows10.

I'm trying to follow your tutorial-Intallation-Install from source
and I don't know how much you should be experienced to use this tool but
I got stuck from the first sentence : "build the shared library from C++ codes" because I didn't get shared anything!

It's been like 5 hours so far trying to get this tool on my desktop.
And

[2019-11-16 17:40] wowow11111 commented on #4356
I am just starting my deep learning related study right now. So I don't have any other software tools than VS 2015. (I got Quartus, AVR, ADS, matlab, ... but I don't think those matters)

[2019-11-16 18:35] yzhliu commented on #4262
@kevinthesun does your fix resolve the problem?

[2019-11-16 20:10] jmorrill commented on #4356
I think the devs suggest these conversations happen on http://discuss.tvm.ai

I do have a post about windows and tvm here where we can discuss further: https://discuss.tvm.ai/t/unofficial-autotvm-on-windows-guide/4711

Note that you do not need my fork if you're not doing autotvm.  But the instructions might be useful still... And my fork is extremely experimental.  Use at your own peril.

[2019-11-16 20:55] tqchen commented on #4356
Thanks and let us move to discuss

[2019-11-16 20:55] #4356 closed

[2019-11-16 21:58] tqchen commented on #4354
Thanks for asking the question, please open a new thread on https://discuss.tvm.ai/

[2019-11-16 21:58] #4354 closed

[2019-11-18 01:24] #4263 closed

[2019-11-18 04:04] srkreddy1238 commented on #4265
@FinnWeng  ref. #4294  please confirm if this is solved.

[2019-11-18 10:25] cszhz opened #4360 "Build docker container failed"
Build docker container failed with the file "docker\Dockerfile.demo_android"

please add below in line 60:
    mv incubator-tvm tvm && \

[2019-11-18 12:09] CoinCheung opened #4361 "I think the dependency of topi is broken"
After building following the (documentation)[https://docs.tvm.ai/install/from_source.html]. I tried to import topi, and I got the error:

[code]

Traceback (most recent call last):

  File "<stdin>", line 1, in <module>

  File "/root/build/tvm/topi/python/topi/__init__.py", line 26, in <module>
    from . import nn

  File "/root/build/tvm/topi/python/topi/nn/__init__.py", line 6, in <module>

[2019-11-18 13:13] OriAlpha opened #4362 "About model conversion to TVM"
Hallo,

I have tried to compile model to TVM, and the model is consists of a 1SimpleRNN layer and dense layers. but when I try to compile it gives out me error.

AttributeError: <class 'tvm.relay.expr.Call'> has no attribute type_annotation

Anyone know this issue

[2019-11-18 13:16] OriAlpha commented on #4361
ya it's true, but there is a temporary fix for that

export LD_LIBRARY_PATH=/home/user/.local/lib/python3.6/site-packages/topi-0.6.dev0-py3.6.egg/topi

[2019-11-18 18:01] junrushao1994 commented on #4361
Hmmm I am not sure, but I think probably the best way to use TVM is just setup PYTHONPATH, but not to pip install it, as it is not formally a pip package yet.

[2019-11-18 18:02] comaniac commented on #4360
PR filed #4363

[2019-11-18 18:05] anwang2009 commented on #4304
I just updated the initial comment with modifications -- this is the solidification of schema version 0.1.

[2019-11-18 18:38] tqchen commented on #4304
Awesome, let us bring it to the official document by sending a pr to docs/dev/benchmark.rst

[2019-11-18 18:46] tqchen commented on #4362
Thanks for bringing this up. Please open threads on https://discuss.tvm.ai/ :)

[2019-11-18 18:46] #4362 closed

[2019-11-19 03:35] apivovarov opened #4371 "ImportError: cannot import name 'bilinear_sample_nchw'"
Same issue, tvm, nnvm and topi were installed after the build
[code]

But model compilation fails
[code]

If tvm, nnvm and topi were installed using setup.py we do not need to set `LD_LIBRARY_PATH`

Anyone looking at the issue?

Discussion: https://discuss.tvm.ai/t/cannot-import-name-bilinear-sample-nchw/2510

[2019-11-19 07:55] CoinCheung commented on #4361
Thanks, the method of exporting `PYTHONPATH` is really good. I am closing this.

[2019-11-19 07:55] #4361 closed

[2019-11-19 09:39] OriAlpha commented on #4371
It's just a broken path error, you can do

export LD_LIBRARY_PATH=/home/suhas/.local/lib/python3.6/site-packages/topi-0.6.dev0-py3.6.egg/topi

[2019-11-19 16:52] #4371 closed

[2019-11-19 16:52] tqchen commented on #4371
Thanks @OriAlpha @apivovarov please  use the discuss forum for future trouble shooting

[2019-11-19 16:53] #4360 closed

[2019-11-19 16:53] tqchen commented on #4360
Thanks @cszhz  for reporting the issue

[2019-11-19 20:48] gittripley opened #4376 "correct the instructions/scripts after repository name is changed to incubator-tvm"
I started to follow the instructions to use tvm and found that many places are still using tvm instead of incubator-tvm.

For example, in https://docs.tvm.ai/tutorials/cross_compilation_and_rpc.html#sphx-glr-tutorials-cross-compilation-and-rpc-py

[code]

[2019-11-19 22:02] yzhliu commented on #4259
folks, is there anything need to be merged? I plan to cut the release branch the end of the day.

[2019-11-19 22:06] vinx13 commented on #4259
@yzhliu let's get #4295 in, it's ready to merge once ci passed

[2019-11-19 23:03] tqchen opened #4378 "[TESTS][FLAKY] test_floor_divide"
http://ci.tvm.ai:8080/blue/rest/organizations/jenkins/pipelines/tvm/branches/PR-4375/runs/1/nodes/238/log/?start=0

[2019-11-19 23:06] tqchen commented on #4378
Could due to the extreme boundary condition at 0.5 see also https://github.com/apache/incubator-tvm/pull/4211

[2019-11-19 23:06] tqchen commented on #4378
@kevinthesun please send a fix

[2019-11-19 23:43] tqchen commented on #4259
There is a temporary ci outrage due to http request timeout of the dataset let us make sure the ci is green

[2019-11-20 02:40] apivovarov commented on #4371
@OriAlpha You do not understand. If I install `tvm`, `nnvm` and `topi` using `sudo python3 setup.py install` I do not have to set anything to `LD_LIBRARY_PATH`.
But currently I have to do it. It is not right.

@ tqchen This is obviously an issue

[2019-11-20 06:04] yzhliu commented on #4259
@tqchen should we wait till #4378 is fixed?

[2019-11-20 06:32] tqchen commented on #4259
That should be a quick fix(see the reference PR which fixed a related problem. I would recommend doing so

[2019-11-20 06:46] junrushao1994 commented on #4259
There are two weird characters, I am not sure if this is the issue of my browser:

1) After the sentence "Formalize Integer Arithmetic Analysis"
2) After the sentence "Support SpaceToBatchND/BatchToSpaceND in Tensorflow frontend".

[2019-11-20 06:59] JohnnyHopp commented on #4009
Looking forward to seeing this new feature!!!

[2019-11-20 08:36] FrozenGene commented on #4259
do we have the deadline now? because i have one pr of thread performance #4344

[2019-11-20 18:46] gussmith23 opened #4387 "PackedFunc usage in generated code should be thread-safe"
See the discussion at https://discuss.tvm.ai/t/tvm-deadlocking-when-calling-python-packedfunc-from-generated-code/4657.

In the custom datatypes framework I'm building, one feature I'd love to incorporate is the ability to implement datatype operations purely in Python. The way I've currently implemented this takes in a Python function implementing a datatype operator (e.g. `my_custom_dtype_add`),

[2019-11-21 20:45] tqchen commented on #4376
great points, can you send a PR to fix this? we need to change that to

[code]

[2019-11-21 21:03] kalcohol commented on #4371
yes, i miss this too in windows 10. the temp way that setting LD_LIBRARY_PATH could avoid this too(set PATH instead).

but i agree with u, it's an issue, should be fix, should not be closed easily.

releated issue: #3162 #4361
as a new to python, i do not know how to fix this in python's way directly, so i cannot pr a fix.

[2019-11-21 21:21] kalcohol commented on #4371
i know what is the mechanism of the occurrence, topi depends on tvm module, tvm module import this missing function for topi, but tvm itself can not find libtvm_topi.so or tvm_topi.dll, so when importing tvm.relay or topi directly, error occurs.

but no pr idea now, as before.

[2019-11-21 23:41] #4378 closed

[2019-11-22 00:13] yzhliu commented on #4259
I have created v0.6.0 branch. I'm about to update the release notes.

[2019-11-22 00:18] gittripley commented on #4376
@tqchen
It looks like I don't have the permission to raise PR.

[code]

[2019-11-22 05:24] yzhliu commented on #4259
Release note updated.
Also remove the unexpected characters Thanks @junrushao1994

[2019-11-22 05:26] yzhliu commented on #4259
The next steps are roughly,
1. Tag release candidate
2. Create binary artifact
3. Vote on dev@ mail-list (if fail, make change, go to step 1)
4. Vote on general@ mail-list (if fail, make change, go to step 1)
5. Finalize the release

[2019-11-22 11:43] Msabih commented on #4262
Apparently my problem is caused not by tvm but the way pytorch exported the upsample operator. Pytorch's exporter did not write the "scale" attribute. For now, my hack around is to manually supply the values of the scale operator.

I would say that you could print the operator name thats causing this error to come or is it any operator that causes this problem ?

[2019-11-22 16:47] tqchen commented on #4259
@yzhliu can we start a RFC thread before vote on dev@? just like a discuss thread that we can get feedbacks, before we open a vote, we can also invite ASF mentors to help check

[2019-11-22 17:10] tqchen commented on #4259
FYI, the common checklist used for release

- Incubating in name
- DISCLAIMER exists
- LICENSE and NOTICE are fine
- No unexpected binary files
- Checked PGP signatures
- Checked Checksums

[2019-11-22 17:42] gittripley commented on #4376
https://github.com/apache/incubator-tvm/pull/4398 is merged.

[2019-11-22 17:42] #4376 closed

[2019-11-22 17:55] yzhliu commented on #4259
@tqchen RFC after tag?

[2019-11-22 18:09] tqchen commented on #4259
sounds good

[2019-11-22 18:10] tqchen commented on #4376
Thanks @gittripley !

[2019-11-22 18:25] tmoreau89 commented on #4304
@anwang2009 I'd like to suggest one last modification: the removal of the `runtime_config` since many of the fields overlap with the `software_config`.

[2019-11-22 18:26] tmoreau89 commented on #4304
And if possible the addition of an `md5` field under `workload_metadata` to attest the integrity of the model.

[2019-11-22 18:26] tmoreau89 commented on #4304
Other than that looks great 👍

[2019-11-22 18:41] anwang2009 commented on #4304
markdown has been updated to reflect removal of `runtime_config`.

`num_cpu_threads` can be optionally specified in `hardware_config`, which is optionally json. Optional placement of `cudnn` and `cuda_driver` has been moved to `software_config`.

`md5` has been added to `workload_metadata`

These changes will be reflected in the tvm PR.

[2019-11-22 20:01] niconiconi opened #4403 "[RFC][Cryptography] Modernize the cryptography implementation"
Significant progress has been made during recent years due to the development of blockchain. However, these cryptography protocols are hard to implement correctly and even more hard to parallelize. A lot of them can be efficiently parallelized, and I will list some of them later. It shares a  data-parallel nature with deep learning tasks.

Existing new papers are doing the experiment in single-thr

[2019-11-22 20:39] gussmith23 commented on #4348
- Yeah, it seems like Steven's idea would work here. Just glob them from the `transform` module.
- In #3236, Marisa writes "we can also bake this into the pass manager: each pass will have to specify three more argument: FeatureSet input_features, FeatureSet add_features, FeatureSet remove_features, that denote which feature can this pass handle, which feature it may add, and which feature it will

[2019-11-22 21:24] niconiconi commented on #4403
Some story
When I was writing Libra and it’s followup, @merrymercy come and asks “why are you implementing this with a handwritten AVX2 code? It’s already the year 9012! Try tvm instead.”

[2019-11-22 22:57] tqchen commented on #4304
Some further comments wrt to the recently hardware_config change

- I still think it is important to keep the ```runtime_config```, which includes fields like ```num_cpu_threads```. Now that software config mainly specifies the environment dependencies, maybe it makes sense to move num_cpu_threads into runtime_config, as it is something that can be specified through runtime env variable.
- It is i

[2019-11-22 23:03] tmoreau89 commented on #4304
@tqchen `docker_tag` is under metadata; therefore it's mostly seen as optional (and is here for example purposes)
Indeed `num_cpu_threads` is a tricky one and I thought long and hard about this; it makes sense not to place it under `software_config`, and instead could be considered a `hardware` metric. But generally thinking, when do we want to reduce the number of CPU threads that are made usable

[2019-11-22 23:12] tqchen commented on #4304
I think docker_tag under metadata as long as it is optional (the RFC said the field was required which confuses me).

There are certainly cases when people want to limit the number of threads, e.g. use only the little cores on the phone to save power. While these could have been a nested field in the hardware_config, it makes the field quite complicated.

One of the key property of we should push

[2019-11-22 23:17] tmoreau89 commented on #4304
That's a sound argument; we should keep runtime config for the `num_cpu_threads` then to store information on non-hardware, and non-software metadata

[2019-11-22 23:21] u99127 commented on #4304
Specifically Rasp3b is fine because it's not big Little . It only has Cortex-A53 cores.

If the run of the benchmarking is able to pin tasks on specific cores for b.L systems, then I don't see how you can avoid that - unless the TVM stack can only run on the big or only on the little.

Sorry, that  puzzles me again - missing hardware configuration will cause confusion, it certainly  misses some in

[2019-11-22 23:26] tqchen commented on #4304
To clarify, by in-complete i mean the three fields(model, engine, and hardware) are incomplete. The additional information(engine_config, version, runtime_config) are meant to fill in that gap and provide a complete information.

[2019-11-22 23:28] u99127 commented on #4304
Cool, thanks @tqchen

[2019-11-22 23:35] masahi commented on #4403
Interesting, cc @nhynes regarding rust interface.

[2019-11-23 00:05] nhynes commented on #4403
The rust interface is currently only that of a TVM runtime, but that's sufficient since the kernels are already memory safe. For maximum safety (but slightly less flexibility from dynamic linking), one would use the [non-bindings] runtime in `rust/runtime`. At least until TVM exposes a C FFI to the compiler internals, developers will necessarily have a polyglot workflow.

[2019-11-23 00:27] u99127 commented on #4304
To pick up on a couple of topics from the Pull Request.

1. I've found that keeping the raw data allows one to process it in other ways in terms of { iteration: 1 runtime: .... } instead of only storing the statistics ?

Different folks would want to do different statistics with the data and we may not be able to specify all the statistics needed on day 1 and would need to keep adding. By keeping

[2019-11-23 00:30] tqchen commented on #4304
After looking at the schema for a bit. I feel that it would be helpful to categorize things into two categories:

-  timestamp, schema, workload, engine, hardware, runtime_ms_mean, runtime_ms_std (I think the runtime_mean_ms and std are important enough for most cases that should be bought into the top-level)
- additional config info and statistics that are meant to supplement the setups.

[2019-11-23 00:37] tqchen commented on #4304
re @u99127 's comment about raw statistics, given that some executions have to be run over multiple iterations to get a meaningful measurement, individual run stats may not be as meaningful and accurate. We can still provide a runtime_raw array which might be useful for future statistics calculation, but I do think providing mean and std would be what most folks will look for.

the term "engine".

[2019-11-23 01:03] u99127 commented on #4304
Thanks @tqchen , Ok, now the term "engine" makes sense.

My experience has been different. Some prefer median over mean, others min / max and some other a geometric mean.

regards
Ramana

[2019-11-23 01:07] tmoreau89 commented on #4304
@u99127 do you lean more towards storing the list of measurements (e.g. over 10 runs) and letting the user implement their aggregation function? Or list multiple ones? Or just agree to standardize towards one (e.g. mean).

[2019-11-23 01:11] u99127 commented on #4304
@tmoreau89  -  I lean more towards storing the list of raw measurements.

[2019-11-23 01:44] tqchen commented on #4304
To address @u99127 's concern, we could add an optional runtime_raw field. Note we may not necessarily be able to get accurate measurement of exact runs, as cases like GPU executions needs async execution and average over multiple runs, so the statistics will be wrt to the number runs instead of an iteration, see https://docs.tvm.ai/api/python/module.html?highlight=time_evaluator#tvm.module.Module

[2019-11-23 02:57] yangjunpro commented on #2954
Sure, I think Zhao has already contacted with you and also involve two of my colleagues Minmin and Chenfan. Look forward to further collaborations.

[2019-11-23 05:34] yzhliu opened #4406 "[RFC][RELEASE] Apache TVM 0.6.0 Release Candidate (verifying, feedback, etc.)"
Dear Community,

This is an RFC for verifying whether v0.6.0.rc2 is good to go. The release candidate (release note, artifact and source code) can be find [here](https://github.com/apache/incubator-tvm/releases/tag/v0.6.0.rc2)

This is **not** an official vote. Please help us verifying,

* Incubating in name
* DISCLAIMER exists
* LICENSE and NOTICE are fine
* No unexpected binary files
* Checked P

[2019-11-23 19:03] hsaputra commented on #4259
@tqchen , @yzhliu - please send request to review release candidate to dev@ list for TVM because not everyone probably subscribe or follow the Github repo list.

Before going to general@ list, let's vet and review the release candidate in the podling community to reduce the noise in the channel.

Thanks

[2019-11-23 19:12] tqchen commented on #4259
Thanks Henry This thread is already on dev@ :) — all github thread with RFC and DEV tags are automatically mirrored at dev@

[2019-11-23 19:22] tqchen commented on #4259
To further reduce the noise for our ASF PMC members and mentors, I would recommend future tag release related thread with [RELEASE] prefix, so our those who only want to watch related thread can setup email filter to watch this prefix

[2019-11-24 04:17] hsaputra commented on #4259
Thanks, @tqchen, Yes, I just noticed the emails also sent to dev@ list too :+1:

[2019-11-24 05:22] #4105 closed

[2019-11-24 10:18] yurivict opened #4411 "The python binding copies over and installs again libtvm.so and libtvm_runtime.so that have already been istalled by tvm"
It installs these two files:
[code]
such that they are under $(PREFIX):
$(PREFIX}/tvm/libtvm.so and $(PREFIX}/tvm/libtvm_runtime.so.

[2019-11-24 10:36] yurivict opened #4412 "Python binding: No module named 'topi'"
This script
[code]
fails:
[code]
because the ```topi``` submodule isn't installed.

[2019-11-24 17:30] yurivict opened #4413 "[PYTHON] Add optional dependencies to extras_require in setup.py"
This file imports ````tornado```:
[code]
but ```setup.py``` doesn't mention it as a dependency.

Same with PIL:
[code]

Please review what libraries are needed and add them to ```setup.py```.

[2019-11-24 17:52] tqchen commented on #4412
Thanks for reporting the problem, as per https://docs.tvm.ai/install/from_source.html#python-package-installation we will need to install both topi and tvm as part of the installation.

For future troubleshooting related threads, please open a new thread on https://discuss.tvm.ai/ instead :)

[2019-11-24 17:52] #4412 closed

[2019-11-24 17:58] tqchen commented on #4413
Thanks for reporting the problem, these are extra optional dependencies that are only needed for the running tests or using the specified feature. Perhaps we should add them to the ```extras_require``` fields

[2019-11-24 18:00] tqchen commented on #4411
This is the expected behavior of the installation, as sometimes users do not want to install the libtvm into their system path. The path selection code in the python works for both cases.

[2019-11-24 18:00] #4411 closed

[2019-11-24 18:00] yurivict commented on #4412
The ```tvm``` package did install ```/usr/local/lib/libtvm_topi.so```.

So what's wrong with the python binding then that it complains? It obviously wants something like ```topi.so``` or ```topi.py``` in its python base dir and it isn't installed.

This means that the package is broken.

[2019-11-24 18:03] yurivict commented on #4413
Yes.

[2019-11-24 18:04] yurivict commented on #4411
So eventually the system would be full of multiple copies of various files and there would be plenty of confusion.

[2019-11-24 18:13] tqchen commented on #4411
This is unfortunately a trade-off we have to make. Most of the python users are not used to install libraries as system-level dependencies, and we want to be able to enable those use cases as well

[2019-11-24 22:22] yzhliu commented on #4259
@hsaputra , I remember the release artifact needs to be uploaded to apache dist svn https://dist.apache.org/repos/dist/dev/incubator/ , is it still required? I don't see tvm under the repository, shall we create one?

[2019-11-25 03:14] liangfu commented on #4332
Thanks @ZihengJiang for bringing up the RFC, especially the in-depth thinking to bring the representation in TACO.
I think we shall also address some detailed issues to deal with sparse tensors.

1. How shall we implement `SparsePlaceholder` with varying length in the `idx` and `val` variables?
2. As TVM current `ComputeOp` don't support computation upon varying length vectors, how do we bring thi

[2019-11-25 03:26] liangfu commented on #4403
Shall the `basic primitives` implemented in the runtime? Or it could be designed with either hybrid script or ir_builder, I mean the primitives could be generated.

[2019-11-25 05:21] FrozenGene commented on #4406
one typo... [RUTNIME] -> [RUNTIME]

[2019-11-25 05:25] yzhliu commented on #4406
@FrozenGene Thanks. Fixed just now. Also we fixed some license problem per IPMC's comments. RC1: https://github.com/apache/incubator-tvm/releases/tag/0.6.0.rc1

[2019-11-25 05:29] tmoreau89 commented on #4332
Those are all great questions @liangfu.

Question 3 is an interesting one w.r.t to what kinds of scheduling primitives we'll need for sparse operators. One easy workaround is to apply vectorization along a dense tensor dimension if there is one. For many practical examples, tensors won't be sparse along all dimensions. But the question gets more tricky when that assumption does not hold.

And due

[2019-11-25 08:55] talematros opened #4420 "compiling with autotune log fails, KeyErrors"
Im trying to tune and compile mobilenetv2 - mnet.025 model from retinaface repository. Im following tutorials and code examples from documentation, but it doesn't work out.

I have following two target for tests:

`target = tvm.target.create('llvm -mattr=avx')`
or
`target = tvm.target.create('llvm -device=arm_cpu -target=arm-linux-gnueabihf -mattr=+neon,+thumb2')`

I pretty much cannot use winogra

[2019-11-25 12:03] cszhz opened #4422 "Build blocked by dmlc/thread_local.h' file not found during android_deploy"
Android NDK: WARNING: APP_PLATFORM android-17 is higher than android:minSdkVersion 1 in /workspace/apps/android_deploy/app/src/main/AndroidManifest.xml. NDK binaries will *not* be compatible with devices older than android-17. See https://android.googlesource.com/platform/ndk/+/master/docs/user/common_problems.md for more information.
Android NDK: WARNING:/workspace/apps/android_deploy/app/src/mai

[2019-11-25 17:57] tqchen commented on #4422
Thanks for reporting the problem, please open a new trouble shooting thread on https://discuss.tvm.ai/ where the community members uses for this kind of questions

[2019-11-25 17:57] #4422 closed

[2019-11-25 17:57] tqchen commented on #4420
Thanks for reporting the problem, please open a new trouble shooting thread on https://discuss.tvm.ai/ where the community members collectively solve this kind of questions

[2019-11-25 17:57] #4420 closed

[2019-11-25 18:39] niconiconi commented on #4403
I would prefer "intrinsic"

[2019-11-25 20:25] anwang2009 commented on #4304
Thanks for everyone's comments! I have made the following amendments in the original post and the pr:
- `runtime_raw` is an optional top-level field
- `runtime_ms_mean` and `runtime_ms_std` are back at the top level
- `metrics` is a top-level json object that can contain fields like `accuracy` or `compilation_time`
- `runtime_config` is a top-level field again

[2019-11-25 23:08] gittripley opened #4424 "Support Tensorflow 1.13 and later"
I read from `docs/frontend/tensorflow.md`, it is said
`Supported versions: 1.12 and below`

Tensorflow has release 1.15 in Oct, 2019. Please support recent Tensorflow version.

[2019-11-26 01:50] masahi commented on #4424
Support for 2.0 is tracked in #4102

[2019-11-26 01:50] #4424 closed

[2019-11-26 03:47] BokyLiu opened #4427 "PReLU dimension mismatch error when converting ONNX model to TVM"
Hi, I try to convert a pytorch model to tvm via onnx intermediate model following this tutorial, but fail at prelu operation convertion which reports a dimension mismatch error:
[code]
every single **prelu** in my model has same error.
BTW there has some warnings at the beginning:
[code]
my tvm is 0.6.
Need help, tks.

[2019-11-26 04:50] junrushao1994 commented on #4286
Is this RFC good to close since #4289 is done?

[2019-11-26 17:48] #4413 closed

[2019-11-26 18:01] junrushao1994 commented on #4403
Hi Tiancheng,

It would be super excited and great impact if TVM is enabled to express crypto protocols and primitives. While I think the RFC does a perfect job in enumerating all the tasks from the crypto side, would you mind talking about something on the compiler side? For example, it would be great for the community to know how many of those primitives can be expressed as intrinsic (links will

[2019-11-26 19:37] tqchen commented on #4406
we just moved the main website to https://tvm.apache.org/, might be worth cherry pick https://github.com/apache/incubator-tvm/pull/4429

[2019-11-26 19:38] tqchen commented on #3468
the migration has been finished https://tvm.apache.org/

[2019-11-26 19:38] #3468 closed

[2019-11-26 21:00] yzhliu commented on #4406
@tqchen sounds good.

[2019-11-26 22:34] tqchen commented on #4427
Thanks for reporting the problem, please open a new thread on https://discuss.tvm.ai/

[2019-11-26 22:34] #4427 closed

[2019-11-26 22:35] tqchen commented on #4406
https://github.com/apache/incubator-tvm/pull/4431

[2019-11-27 00:47] tqchen commented on #4406
There is a broken tutorial  https://github.com/apache/incubator-tvm/blob/master/vta/tutorials/frontend/deploy_vision_on_vta.py  which was caused by quantization changes that need to be fixed.

Originally the quantize pass won't produce multiply if the scale is power2, and it is a hard requirement for VTA because vta does not have multiplier. seems the change https://github.com/apache/incubator-tvm

[2019-11-27 01:37] tqchen commented on #4406
Fixed by https://github.com/apache/incubator-tvm/pull/4433

[2019-11-27 03:56] masahi opened #4435 "[DOC] Documentation on Quantization"
With v0.6 adding quantization support, I think it is good time to add documentation on our quantization story.

There have been many questions on the forum, some of which are listed at the bottom. I myself have recently become interested in the topic, but I'm having hard time digging through the forum, github issues, PRs etc.

It would be great if we could add an end to end quantization usage tuto

[2019-11-27 03:57] yzhliu commented on #4406
I have made another RC per IPMC's comments and includes the bug fix.
https://github.com/apache/incubator-tvm/releases/tag/v0.6.0.rc2

[2019-11-27 05:05] vinx13 commented on #4435
I'm working on cuda quantization tutorial, it will be out soon

[2019-11-27 09:24] jayle19930918 opened #4436 "How to forward in batches"
I have some problems about batch forward.
-In model compile, for example, batch_size=1, input_shape=(1, 3, H, W), then the models for TVM are produced
-When inferring with TVM, the input_shape must be (1, 3, H, W)
-How to batch forward with TVM ?

[2019-11-27 18:08] yongwww commented on #4436
Free free to discuss this in tvm discuss forum - https://discuss.tvm.ai/

If your batch size is changing during inference, then dynamic batching is needed here. your input shape should be like (?, 3, H, W) or (any, 3, H, W). Dynamisim will be covered in tvm conf next week.

[2019-11-27 18:44] tqchen commented on #4304
Thanks everyone for great discussion so far, if there is no further comments, we will merge the current proposal by the end of the week

[2019-11-27 18:47] #4436 closed

[2019-11-27 18:48] tqchen commented on #4436
let us move the discussion to the discuss forum

[2019-11-27 18:51] #1496 closed

[2019-11-27 18:52] tqchen commented on #1496
#4281

[2019-11-27 18:53] tqchen commented on #2623
Move to #4259

[2019-11-27 18:53] #2623 closed

[2019-11-27 18:53] tqchen commented on #3059
https://discuss.tvm.ai/t/rfc-add-tensorflow-custom-op-to-embed-tvm-runtime-in-tensorflow-graph-and-session/4601/10

[2019-11-27 18:54] #4092 closed

[2019-11-27 18:54] tqchen commented on #4092
close due to inactive status. @gussmith23 can followup

[2019-11-27 18:55] tqchen commented on #3980
close due to inactive status, feel free to bring new trouble shooting threads to the discuss forum

[2019-11-27 18:55] #3980 closed

[2019-11-27 18:56] tqchen commented on #3653
I believe this is fixed, so close for now. feel free to create another thread

[2019-11-27 18:56] #3653 closed

[2019-11-27 18:57] tqchen commented on #3974
Seems that using floordiv already solve one of the problem, so i will close this thread, let us follow up with new threads for new problems.
As far as I know, we still need to fix loopPartition to add the guard conditions

[2019-11-27 18:57] #3974 closed

[2019-11-27 18:57] #4046 closed

[2019-11-27 18:57] tqchen commented on #4046
close due to inactive status, please feel free to open a new thread on https://discuss.tvm.ai/

[2019-11-27 18:58] #3602 closed

[2019-11-27 18:58] tqchen commented on #3602
#3640

[2019-11-27 18:59] tqchen commented on #3761
close due to inactive status, feel free to open new dev discuss thread on https://discuss.tvm.ai/

[2019-11-27 18:59] #3761 closed

[2019-11-27 18:59] #3591 closed

[2019-11-27 18:59] tqchen commented on #3591
close as QNN has been part of the repo

[2019-11-28 03:47] yzhliu opened #4443 "[VOTE] Release Apache TVM (incubating) v0.6.0.rc2"
Dear TVM community,

This is a call for vote to release Apache TVM (incubating) version 0.6.0. We are thrilled to have a lot of exciting features be added since v0.5 early this year.

1) Link to release notes:
https://github.com/apache/incubator-tvm/releases/tag/v0.6.0.rc2

2) Link to release candidate:
https://dist.apache.org/repos/dist/dev/incubator/tvm/tvm-v0.6.0-rc2

The vote will be open for

[2019-11-28 05:50] tqchen commented on #4443
+1 (binding),  I checked

- Signatures and hashes good
- DISCLAIMER, LICENSE, NOTICE
- Signatures and hashes
- No unexpected binary files
- Code compiles

TQ

[2019-11-28 05:54] tqchen commented on #4406
voting thread https://github.com/apache/incubator-tvm/issues/4443

[2019-11-28 05:54] #4406 closed

[2019-11-28 07:59] apivovarov opened #4444 "[TEST][FLAKY] test_adaptive_pool FAILED"
I submitted PR to add new op to TFLite frontend.
All my frontend tests passed.
But one of the test in `topi GPU` keeps failed.
[code]
I think this test has nothing to do with my changes
https://ci.tvm.ai/blue/organizations/jenkins/tvm/detail/PR-4440/4/pipeline

https://github.com/apache/incubator-tvm/pull/4440

[2019-11-28 18:18] tqchen commented on #4444
Thanks for reporting the problem, you might want to retrigger(by sending new commit) and see what happens. If the error happens disappears, we need to mark the error as flaky, and report the error with a [FLAKY][TEST]  prefix like https://github.com/apache/incubator-tvm/issues/4167

If the error occurs persistently, it would be great if you can look into the PR. Note that you can try to reproduce

[2019-11-28 18:28] jwfromm commented on #4443
+1, tons of excellent new features, this is a big step forward for TVM.

[2019-11-28 20:43] yongwww commented on #4443
+1, excited to see lots of production level features in this release!

[2019-11-28 22:03] icemelon9 commented on #4443
+1

[2019-11-28 22:33] zhiics commented on #4443
+1

[2019-11-29 07:30] AllenBSL opened #4446 "[RFC] Fixed-point type implementation proposal"
While we were trying to implement RISC-V p extension in TVM, we found the arithmetic instructions in RISC-V
p extension only worked with integer type. RISC-V p extension supports fixed point instructions. Therefore, we tried to add fixed-point type in TVM to quantize the inference programs from floating-point type to fixed-point type.

## Transform Floating-point to Fixed-point

The value of a fix

[2019-11-29 18:27] weberlo commented on #4443
+1, looks great!

[2019-11-29 20:46] junrushao1994 commented on #4443
+1 🚀🎉

[2019-11-30 00:52] jroesch commented on #4443
+1

[2019-11-30 01:47] MarisaKirisame commented on #4443
+1

[2019-11-30 07:46] cchung100m commented on #4443
+1

[2019-11-30 08:08] apivovarov commented on #4444
3rd attempt was successful https://ci.tvm.ai/blue/organizations/jenkins/tvm/detail/PR-4440/5/pipeline/

[2019-11-30 09:01] bgchun commented on #4443
+1

The checksum is valid.
I compiled the release successfully with CUDA and LLVM on Ubuntu 18.04.
G++ tests pass.
relay_quick_start.py passes.

Great job!

[2019-11-30 17:22] vinx13 commented on #4443
+1

[2019-11-30 17:30] tqchen commented on #4444
cc @kevinthesun please look into the flaky issue

[2019-11-30 22:32] tvm-archiver commented on #4443
+1

Thierry

[2019-11-30 22:57] Ravenwater commented on #4443
+1

[2019-12-01 00:04] gussmith23 opened #4449 "[RFC] Program Analysis Framework in Relay"
Please also see #3895, which is @MarisaKirisame's RFC around a specific change to support analyses in Relay.

This RFC pertains to building a centralized, comprehensive program analysis framework in Relay. I see two primary uses of program analyses in Relay: for generating analysis data **used by the compiler**, to do things such as quantization, and for generating human-readable data **used by de

[2019-12-01 18:23] yongwww opened #4450 "ci is broken"
Failed to access tvm ci - https://ci.tvm.ai/, got error "Service Unavailable"

@tqchen @zhiics

[2019-12-01 18:27] yzhliu opened #4451 "[RESULT][VOTE] Release Apache TVM (incubating) v0.6.0.rc2"
Dear TVM community,

I'm glad to announce the results of the vote.

This vote passes with 14 +1 votes (4 binding), no 0 votes, and 0 -1 vote.

+1 votes

* Tianqi Chen (binding)
* Josh Fromm
* Yong Wu
* Haichen Shen (binding)
* Zhi Chen
* Logan Weber
* Junru Shao
* Jared Roesch
* MarisaKirisame
* Neo Chien
* Byung-Gon Chun (binding)
* Wuwei Lin
* Thierry Moreau (binding)
* Theodore Omtzigt

0 votes

[2019-12-01 19:21] tqchen commented on #4450
Should be fixed by now

[2019-12-01 19:21] #4450 closed

[2019-12-02 04:25] ZihengJiang commented on #4443
+1

[2019-12-02 18:11] tvm-archiver commented on #4443
Hi,

+1 from me.

I checked:

- Incubating in name
- DISCLAIMER exists
- LICENSE and NOTICE are fine
- No unexpected binary files
- Checked PGP signatures
- Checked Checksums

Kind Regards,
Furkan KAMACI

On Mon, Dec 2, 2019 at 7:25 AM ziheng <notifications@github.com> wrote:

[2019-12-02 18:27] tvm-archiver commented on #4443
+1

I have done my tests on Ubuntu 18.04 on the Windows Subsystem for Linux

  * Downloaded and unzipped the tarball
  * Checked the sha512 sum
  * Checked DISCLAIMER, LICENSE, NOTICES
  * Built the C++ code using default settings
  * Spot-checked files for license headers

Markus

On Sun, Dec 1, 2019 at 8:25 PM ziheng <notifications@github.com> wrote:

[2019-12-02 18:43] tqchen commented on #4304
Thanks for everyone's participation. the first version of the benchmark logging format is now merged.

[2019-12-02 18:43] #4304 closed

[2019-12-02 20:23] tqchen commented on #4446
Thanks for the proposal. It is likely that we do not need to introduce a fixed point type, instead, the quantization pass in the relay pass should be able to turn floating pt into integer arithmetics, and we only need to support vector integer ariths

[2019-12-03 12:52] chinakook opened #4460 "Windows build error"
Severity	Code	Description	Project	File	Line	Suppression State
Error	C2990	'tvm::runtime::InplaceArrayBase': non-class template has already been declared as a class template (compiling source file E:\proj\dev\tvm\src\runtime\vm\vm.cc)	tvm	E:\proj\dev\tvm\include\tvm\runtime\container.h	201

[2019-12-03 14:38] xqdan commented on #4443
+1

[2019-12-03 14:52] wweic commented on #4460
https://github.com/apache/incubator-tvm/pull/4455 should fix it.

[2019-12-03 16:28] cchung100m commented on #4102
Hi @ic @srkreddy1238

Would you mind sharing the latest status?

[2019-12-03 17:55] #4460 closed

[2019-12-04 01:04] JennyChou5 commented on #4446
agree with tqchen. The difference between fixed point and integer is that fixed point has fractional part while integer does not. By adding "point position (pp)" and adding dtype to quantization pass, we could reuse most of quantization API for the same matter. Of course, the TVM compute needs to be modified based on the value of the position. For example, aligning the pp before doing add operatio

[2019-12-04 07:12] tobegit3hub opened #4464 "[RFC] Add TVMDSOOp to integrate any TVM operator with TensorFlow"
## Problem

TensorFlow is one of the most popular machine learning libraries and most developers are used to train/inference models with TensorFlow/TensorFlow Serving. TVM is the flexible compiler to run computation efficiently in different devices. Although TensorFlow has implemented some efficient GPU operators, developers can benifit from TVM to get more than 10 times speedup and FPGA support.

[2019-12-04 07:16] tobegit3hub commented on #4464
The implementation of this proposal has been submit to https://github.com/apache/incubator-tvm/pull/4459 .

Anyone can try to test their TVM operators by re-compiling TVM with `set(USE_TFOP ON)`.

[2019-12-04 17:47] tqchen commented on #4464
cc @jwfromm @jroesch @soiferj

[2019-12-04 20:34] murez commented on #4371
well, it may be works under linux but in my windows env changing the system path setting does not work even after reboot. Can any one fix the problem.

[2019-12-04 20:43] apivovarov opened #4466 "topi can not find libtvm_topi.so"
If we print `_LIB`, `_LIB_NAME` in `topi/python/topi/cpp/impl.py`, then you will see None in this case, which means the system is unable to find `libtvm_topi.so`.

TOPI [lib_paths](https://github.com/apache/incubator-tvm/blob/605b5e6074f01317b4afe03fc2fe5f58f1b36d89/topi/python/topi/cpp.py#L36) contains:
[code]

It does not include topi package installation folder `/usr/local/lib/python3.6/dist-pa

[2019-12-04 21:01] apivovarov commented on #4466
quick fix https://github.com/apache/incubator-tvm/pull/4467

[2019-12-05 00:37] DKXXXL opened #4468 "[RFC] Data-flow Analysis Functionality on TVM IR"
# Problem

When developing program passes on TVM IR (the one once was **Halide IR**), it is normal to ask for all sorts of information requiring program analysis, for example, live variable analysis for dead code elimination. This requirement becomes urgent when TVM has to directly issue intrinsic and the subsequent processing stage (for example LLVM) **cannot analyze the program because of these

[2019-12-05 00:43] wweic commented on #4468
Hey, there is a similar RFC on the topic(https://github.com/apache/incubator-tvm/issues/4449).

cc @gussmith23 @zhiics @jroesch @MarisaKirisame @icemelon9 @slyubomirsky

[2019-12-05 01:00] DKXXXL commented on #4468
### Comments:  IsLattice
The basic usage is just:
[code]
and when trying to make things concrete, you can try to declare something like `class X : ffdfa<std::set, STD_SET_IS_LATTICE , STD_SET_IS_LATTICE::ops>` .

[2019-12-05 01:31] junrushao1994 commented on #4468
Hi,

Thank you for your detailed proposal! I think the design of data flow analysis works for general cfgs.

However, I think I am not knowledgeable enough to understand the motivation and use cases of liveness analysis in TVM IR. Could you kindly give a real-world example how it may help analyze TVM IR?

Thank you so much!

[2019-12-05 02:08] DKXXXL commented on #4468
Hi @junrushao1994 , Thanks for the comments! :) I will get back to you about a real world example as soon as possible.

But generally speaking, dead code elimination pass is required in some workloads; and after TVM output program with intrinsics and not even targetting CPU or GPU, LLVM or other later processing stage cannot help.

What's more, applying transformations at the stage when TVM is pro

[2019-12-05 02:08] apivovarov commented on #4466
fixed. Thank you @junrushao1994

[2019-12-05 02:08] #4466 closed

[2019-12-05 02:09] apivovarov opened #4470 "Conv2d_transpose kernel 2x2, strides (2,2) fails for CUDA - Cannot prove"
I found that conv2d_transpose op fails when kernel size is 2x2 and strides are (2,2).
Errors
[code]

To reproduce the error
[code]

I tried other targets - llvm and arm_cpu - they are working fine. Only cuda fails.

Related to [PR 4243](https://github.com/apache/incubator-tvm/pull/4243)

Discussions:
https://discuss.tvm.ai/t/conv2d-transpose-kernel-2x2-strides-2-2-fails-for-cuda-cannot-prove/5020

[2019-12-05 07:07] optima2005 commented on #4009
@masahi, for other ops, pad can support any dimentions. I am looking at pooling, it seems there would be some works, current pooling [implementation ](https://github.com/apache/incubator-tvm/blob/ba9d96bcb585557d4d3dbee40112367b08b28084/topi/include/topi/nn/pooling.h#L61)only supports 2D.  I am thinking to create a unified version as we did for convolution.

[2019-12-05 07:14] JerryZhouSH opened #4471 "[topi python API] 'bilinear_sample_nchw' is not supported in deformable_conv2d.py"
I build TVM project on Ubuntu 16.04 with CUDA, and install the tvm, nnvm, topi python api with the following cmd:
cd tvm/nnvm/python; sudo pip3 setup.py install
cd tvm/python; sudo pip3 setup.py install
cd tvm/topi/python; sudo pip3 setup.py install

When I import nnvm in python3, the 'ImportError' throwed with "cannot import name 'bilinear_sample_nchw'".

[2019-12-05 08:01] masahi commented on #4009
@optima2005 yes, I prefer a unified implementation. But that can potentially affect existing users who are using 2D only ops. Most people dont care about 3D, so if we generalize some ops for 3D and in the process introduce perf regression or other bugs to exising 2D users, they will get upset.

I think one of the requiments for adding 3D support is to introduce absolutely ZERO impact to existing 2

[2019-12-05 10:16] junrushao1994 commented on #4471
Could you try building with the latest master?

[2019-12-05 10:30] MarisaKirisame commented on #4468
Aah, the split of IR.
It seems like both side need their own analysis, and thus have to reinvent the wheel twice.
Looking forward to the merge of IR.

[2019-12-05 11:19] optima2005 commented on #4009
@masahi This should be the correct approach. How about we will try to implement new functions with the unified manner but only being used by 3D. And keep the existing 2D ones untouched. Then we could transform them to be unified easily when we could have enough experience and data  in the future.

[2019-12-05 12:47] blueskyltx commented on #2682
@Rasterer Any update about this?

[2019-12-06 02:59] apivovarov opened #4473 "ci.tvm.ai is down"
https://ci.tvm.ai/ is down
@tqchen

[2019-12-06 03:07] Rasterer commented on #2682
I'm afraid I can not commit PR due to open source policy change in my working company. Welcome for code contribution if you are interesting in this.

In addition to my original proposal, I think padding performance can be improved further by changing fusion pattern. So far conv padding is inlined into the conv op, thus the condition switch cost in padding will happen more than once for each input

[2019-12-06 03:12] apivovarov commented on #4471
haha. It was fixed yesterday - https://github.com/apache/incubator-tvm/pull/4467

[2019-12-06 03:13] apivovarov commented on #4470
Workaround PR https://github.com/apache/incubator-tvm/pull/4472

[2019-12-06 03:39] Vigilans commented on #4473
I also cannot reach https://docs.tvm.ai from both proxy server and local network.

[2019-12-06 03:44] leeexyz commented on #4473
+1

[2019-12-06 06:40] masahi commented on #4009
Ok, as long as your implementation is not too complicated we can go that way.

[2019-12-06 09:44] anguoyang commented on #4262
@FinnWeng @Msabih I met the same problem, have you solved it? someone in TVM forum said that it because of pytorch version, but I changed to 1.0.1 and re-exported the onnx file, still failed

[2019-12-06 12:52] DKXXXL commented on #4468
Hi @junrushao1994 ,
    an over-simplified example from the industrial context is the following:
[code]
The customized TVM will schedule and use `compute_at` to the extreme, and transform into something like
[code]

This gives our 'incomplete' CSE and Copy Propagation a chance to make the C0 assigned by B0 and replace C0’s appearance in D0 into B0 and make C0 dead (or not? dependent on the future)

[2019-12-06 15:47] tqchen commented on #4473
Thanks for reporting Double checked and seems the ci and docs are online atm. Closing for now, please feel free open new threads

[2019-12-06 15:47] #4473 closed

[2019-12-06 17:53] comaniac commented on #4468
Hey @DKXXXL,  thanks for the example!
Just curious. Do you think the case of copy propagation caused dead code happens in current workloads? Or this is more like a concern to the TVM programming model as your example?

Another question is that the name "data-flow" analysis confuses me a bit, because it seems to me that the proposed framework is not limited to data flow analysis but general IR anal

[2019-12-06 18:14] jwfromm commented on #4464
The motivations of this RFC are extremely similar to those in [pytorch-tvm](https://github.com/pytorch/tvm), however the two implementations are very different and it is worth discussing the tradeoffs.

- torch-tvm is self contained, it doesn't use any special functions or classes in TVM. Instead it modifies torch script to use existing TVM functions.
- torch-tvm uses relay to represent subgraphs

[2019-12-06 23:41] junrushao1994 commented on #4471
Could you verify if it works? If so, we may close this issue for now.

[2019-12-07 02:42] DKXXXL commented on #4468
Hi @comaniac , Thanks for commenting. :)

  Yes. This is a real problem happening in the industrial context. The current solution is either over-conservative or unsound.

  About the name of "Data-flow Analysis", I think it is more a terminology question. For example the CFA is also a kind of program analysis but I don't think that is expressible in this framework or required in TVM IR (since ther

[2019-12-07 07:54] comaniac commented on #4468
@DKXXXL , thanks for the clarification and it seems fair enough to me :)
Then it seems like #4449, #3895 and this RFC should be unified and designed together.

[2019-12-07 08:42] duamu opened #4477 "why time taking are added,when speed up ssd by TVM ?"
when we speed up SSD as the tutorial（https://docs.tvm.ai/tutorials/frontend/deploy_ssd_gluoncv.html） ，time taking are added（40ms before speed up, after 420ms）. what's more, we must compiler LLVM for cuda target on x86 platform, otherwise, the code can't run sucessfully.But, when we run the code after compiler LLVM for cuda target, the cpu target fails to run. So we want to know:
1. why time taking

[2019-12-07 16:30] tqchen commented on #4477
thanks for asking the question, please open a new thread on https://discuss.tvm.ai/

[2019-12-07 16:30] #4477 closed

[2019-12-09 01:38] JerryZhouSH commented on #4471
I replaced 'bilinear_sample_nchw' with 'resize', and work well.
Here is the git diff context:
`diff --git a/topi/python/topi/nn/deformable_conv2d.py b/topi/python/topi/nn/deformable_conv2d.py
index fb05016..adb839d 100644
--- a/topi/python/topi/nn/deformable_conv2d.py
+++ b/topi/python/topi/nn/deformable_conv2d.py
@@ -20,7 +20,7 @@ import tvm

 from .util import get_pad_tuple
 from ..util import g

[2019-12-09 01:41] JerryZhouSH commented on #4471
Yes, the latest commit id is commit 279a8ebae6d507f02d904397672dc44982719645.

[2019-12-09 07:00] tobegit3hub commented on #4464
Thanks @jwfromm and you're definitely right. This is the fastest way to integrate TVM functions into TensorFlow if we can not convert the whole model to TVM. This may be meaningful for TensorFlow developers if they can to try TVM and leverage the sub-graph optimizaition from TVM.

Actually this project is the TensorFlow custom op with TVM runtime. We originally develop in the standalone project ht

[2019-12-09 15:27] DKXXXL commented on #4468
Hi @comaniac , Thanks for your suggestion! :)
Because of your suggestion and [Unified IR Post](https://discuss.tvm.ai/t/ir-unified-tvm-ir-infra/4801), I think I need to dig into the design and infrastructure of Relay for a while to see how to design an DFA infrastructure that fits into both IRs.

[2019-12-09 16:27] xqdan commented on #4468
@tqchen, what's your suggestion? IMO, low level IR has been there for a while, and we've had experience and understanding in low level ir. the post of unified ir to me is just a high level proposal, details needs to be discussed further,  such as,

The most valuable thing to me is we can make ops white box with unified ir, that is to say, we can analyze into the ops, which is totally different wit

[2019-12-09 17:21] tqchen commented on #4468
We will still keep variations of functions in the unified IR, which means tensor level loop nesting might needs its own analysis.

Let us focus on discussing what is a good design for related tensor-level dataflow analysis. Note that we do want to make sure reuse the common infrastructures such as the function structure and pass, but perhaps not in the level of IR pass atm.

[2019-12-09 17:42] vinx13 commented on #4471
The problem is that cpp lib can not be found in the path, this workaround doesn't solve the problem. On the other way, I believe this issue is in the latest master

[2019-12-09 22:59] junrushao1994 commented on #4471
Could you try a commit after [`279a8eb`](https://github.com/apache/incubator-tvm/commit/279a8ebae6d507f02d904397672dc44982719645)? I think it should be fixed.

[2019-12-10 00:50] yzhliu opened #4487 "[RFC] Lower Bound for Shape Variables"
## Motivation
As we have replaced `truncdiv`/`truncmod` by `floordiv`/`floormod` in most places, there's a large demand for simplification to know the sign of the expression. For example, knowing the tensor shape bound can help reduce the if/else conditions significantly.

Here's an example of generated cuda code for the tvm program posted in this [troubleshooting](https://discuss.tvm.ai/t/signifi

[2019-12-10 00:51] tqchen commented on #4487
I am not sure if we want to introduce this specialized assertion as a special Expr. It might be a better idea to have it as an intrinsic

[2019-12-10 00:52] tqchen commented on #4487
I am also thinking about pushing a parallel change to allow IterVar as a sub-class of Var.  Note that it won't solve the problem of shape var bounds, but might also help some of the situations.

[2019-12-10 00:55] icemelon9 commented on #4487
Yes, I agree we should have a general `AssertExpr` instead of `AssertLowerBound`, and put the asserted condition in the expr..

[2019-12-10 05:12] JerryZhouSH commented on #4471
I rebuilt the project with the latest master, it woks fine.
I will close this issue. Thank you very much.

[2019-12-10 05:12] #4471 closed

[2019-12-10 06:53] gittripley opened #4490 "Issue with running cpp test"
I followed the instruction in https://docs.tvm.ai/install/from_source.html to install the google test.

However, `make cpptest` failed, because of missing google test header files.

So I have to update the CMakeLists.txt to specify the path. Maybe I missed something.

Here is my changes.
`-find_path(GTEST_INCLUDE_DIR gtest/gtest.h)
+find_path(GTEST_INCLUDE_DIR gtest/gtest.h "/usr/local/include")`

[2019-12-10 22:18] yinghai opened #4495 "Improve ANTLR Language Dependency"
It seems that Relay VM compilation now depends on ANTLR library, which in turn depends on Java runtime. This creates an issue in terms of certain deployment scenario, where we want to compile the model the the fly. Are there any thoughts on relaxing the dependency on Java?

cc: @hlu1 @ajtulloch

[2019-12-10 22:58] yzhliu commented on #4487
Thanks @tqchen @icemelon9 I'll change to use intrinsic and make it more general.

[2019-12-10 22:59] jroesch opened #4496 "[NNVM][RFC] Begin the removal of NNVM Compiler"
After one cycle of deprecation it is now time to start the removal of legacy NNVM code. NNVM's existence in the repo is preventing some refactoring to occur for @icemelon9's new dynamically sized kernel generation work.

I know we still have some external consumers of NNVM and we should be mindful of removing things in the correct order. If we could start a discussion to collect maintenance requir

[2019-12-11 02:44] optima2005 commented on #2682
@FrozenGene,  I'd like to try to implement this. I am thinking if I could follow @Huyuwei proposal by doing this with  backward compatible way.
The padding would accept 1 value, or 2 values, or 4 values ( 3 and 6 for coming 3d ops).
For 1 and 2 case, the existing logic would be kept, which would ensure ZERO-Existing would be broken.
4 values would only be used in a asymmetric padding.

[2019-12-11 02:47] FrozenGene commented on #2682
Yes. We should keep the backward compatibility.

[2019-12-11 03:01] tkclimb opened #4498 "[SDACCEL] build failure with USE_SDACCEL and confirmation of the bug fix"
When I tried to build tvm with `USE_SDACCEL=ON` , I found it failed with the following error.

[code]

I fixed it by changing `sdaccel_module.cc` like below, does this make sense??
if it's ok, I'll make the pull request.

[code]

[2019-12-11 03:03] masahi commented on #4496
Our rust code uses NNVM for testing and a usage document. They need to be updated.

[2019-12-11 03:06] masahi commented on #4498
The PR #4492 is already out to fix this.

[2019-12-11 03:06] #4498 closed

[2019-12-11 03:07] tmoreau89 commented on #4496
VTA's dependence on NNVM (#4419) has mostly been removed; documentation and CI dockerfiles have to be updated to reflect this.

[2019-12-11 03:12] tkclimb commented on #4498
@masahi
I needed to check issues more carefully. anyway thanks!

[2019-12-11 04:57] wweic commented on #4495
We can add similar flag like `-nostdinc++` in gcc for relay, for example `no_prelude`. So we can exclude all the Relay default vended functions in `prelude.py` and `prelude.rly`.

[2019-12-11 14:28] leandron opened #4505 "Build Dockerfile.ci_lint is broken due an unavailable PPA repository"
Building `tvm.ci_lint` is currently broken due to the unavailability of `ppa:jonathonf/python-3.6`.

A command to reproduce the issue, provided you don't have the `tvm.ci_lint` cached, can be achieved with:

    tvm/docker/build.sh ci_lint "echo hi"

The build will fail during the execution of `/install/ubuntu_install_python.sh`, as it tries to `apt-get update` after adding `ppa:jonathonf/python-3

[2019-12-11 16:34] tqchen commented on #4496
NOTE, we will only remove the nnvm compiler component, as mxnet's still makes use the core data structures.

[2019-12-11 16:38] pyalex opened #4508 "Broadcasting is broken with LayoutTransform"
When using using optimization level >= 3 - LayoutTransform fails on converting C -> NCHW8c when input shape is (1,) and that  breaks next operation which suppose to broadcast this input.

Code to reproduce. It works with opt_level < 3
[code]

Compiled program with issue
[code]

Full Stack Trace
[code]

[2019-12-11 17:38] jwfromm commented on #4464
That makes sense, you're right that having it in contrib clears up a lot of my concerns. Thanks for those clarifications!

[2019-12-11 18:11] Rainweic commented on #2679
Can you show me the code ?
哥 完整的代码能看看吗

[2019-12-11 19:55] yzhliu commented on #4508
The LayoutTransform operator is intended not to deal with such transform, I think we need to enhance `FCorrectLayout` of broadcast ops to insert extra `expand_dims`, @anijain2305 any thoughts?

[2019-12-11 21:32] broune commented on #4464
This is a great development, as-is allowing to use TVM in TF models that cannot be fully translated. I have some clarifying questions, also along the lines that jwfromm@ was thinking.

Suppose I want to implement a tool that takes a tf graph as input (be it from a saved model or some other input) and also writes a tf graph as output, where the difference is that the graph has been converted to use

[2019-12-12 08:02] huang229 opened #4512 "Must ONNX be used to convert the pytorch model?"
Thank you very much for the work of the great God. Cross deployment platform, cross depth learning framework, is really a great job. However, I have a question about how I didn't see relay directly loading the pytorch model. Relay has not yet implemented support for the python model. Must onnx be used to convert the pytorchmodel?

[2019-12-12 09:21] masahi commented on #4512
Yes, we have to go through ONNX at the moment. A direct Pytorch to TVM route is [being discussed](https://discuss.tvm.ai/t/discuss-adding-a-pytorch-frontend/5026?u=masahi) right now.

[2019-12-12 09:21] #4512 closed

[2019-12-12 09:27] huang229 commented on #4512
That's really something to look forward to. I hope this day will come soon.

[2019-12-12 12:16] Aeroxander commented on #4262
I have the same problem with PyTorch 1.3 and ONNX v4, @Msabih how did you exactly manually supply the values to the scale operator?

[2019-12-12 12:50] ghostplant opened #4514 "[BUG] topi.cuda.conv2d_winograd.winograd_cuda() not working when pre_computed=True"
`topi.cuda.conv2d_winograd.winograd_cuda()` get wrong `kernel_pack` shape and throw exceptions when `pre_computed=True`

[2019-12-12 20:36] yongwww commented on #4262
@FinnWeng would it be possible to provide a minimal case for this issue?

[2019-12-12 21:00] vinx13 commented on #4514
can you provide a script to reproduce?

[2019-12-12 22:06] anguoyang commented on #4262
@Aeroxander It is not related with pytorch or onnx version, it is because of TVM on windows, I used the same pytorch and onnx and TVM on ubuntu, it works well

[2019-12-12 23:34] kaitingwang commented on #4468
@MarisaKirisame :  I have some thoughts regarding your suggestion to the possibility of a merged program analysis framework between RelayIR and HalideIR between issue [3895](https://github.com/apache/incubator-tvm/issues/3895) and this current issue.  I found @DKXXXL 's proposal here clean and intuitive in a way that it does not require building of CFG.  This is leveraging the restrictive control

[2019-12-12 23:49] kaitingwang commented on #4468
@gussmith23 @jroesch Comments appreciated!

[2019-12-13 00:25] Msabih commented on #4262
@anguoyang  Not sure, I was already using Ubuntu. Besides that, I think I have figured out why the error is coming,  when Pytorch exports to ONNX, it does not write the Upsample operator properly as specified in the ONNX standard.
@Aeroxander In my case, the model was only using one scaling factor so the quick hack was just to supply the constant. However I would look into a proper solution.

I wo

[2019-12-13 00:45] MarisaKirisame commented on #4468
I have talked to a professor doing program analysis, and he tell me aam > adi. so yeah, basically I am looking at the direction of generic abstract interpretation framework. However, I do not have time to pull this off, even though I had wanted to do so for a long time :(

[2019-12-13 00:56] MarisaKirisame commented on #4468
@kaitingwang are you planning on working on it btw?

[2019-12-13 01:18] DKXXXL commented on #4468
Hi @MarisaKirisame , thanks for commenting!
So which one are you looking for? ADI or AAM?
I am not familiar with either, but I remember AAM requires a state machine transition definition of the semantics, where ADI requires a definitional interpreter to define the semantics.
My another question is, if it is possible to have the one in your mind to generate the current framework I propose, or just

[2019-12-13 05:28] ghostplant commented on #4514
[code]

[2019-12-13 05:31] vinx13 commented on #4514
`pre_computed` is not expected to be used in this way, it is called by Relay which run `AlterOpLayout` pass to change the layout. In your case, you should either set `pre_computed` should be False or use precomputed weight for the input

[2019-12-13 05:36] ghostplant commented on #4514
@vinx13 I think earlier version doesn't have this issue.

[2019-12-13 05:38] vinx13 commented on #4514
Can you give a pointer which version?

[2019-12-13 05:39] ghostplant commented on #4514
It is a status after v0.5 and before v0.6, but not able to find it easily now.

[2019-12-13 05:48] #4505 closed

[2019-12-13 06:23] MarisaKirisame commented on #4468
I am thinking of Abstracting Abstract Machine. Relay has a very simple semantic so it wont be the problem (the problem is Abstracting Abstract Machine itself).

If it is ever done, we can expose a dataflow-analysis like interface. A user might get away with only defining the base lattice to contain abstraction of interest.

[2019-12-13 06:45] masahi commented on #4514
@ghostplant even if a previous version didn't emit error, the result was likely not correct. If pre_computed = True, the kernel shape shouldn't be (CO, CI, KH, KW), so the error message is correct.

[2019-12-13 06:47] masahi commented on #4514
Closing as it is not a bug

[2019-12-13 06:47] #4514 closed

[2019-12-13 07:28] anguoyang commented on #4262
@Msabih Yes, I agree with you, because if I use the models from model zoo of onnx, there is no problem on TVM, could you please share the code snippets on how to fix this issue? just the related snippets if it is not confidential, thank you so much

[2019-12-13 14:52] Aeroxander commented on #4262
@Msabih That'd be great, thanks!

[2019-12-13 16:57] SWu opened #4519 "[Relay] VM executor doesn't work with higher order gradient function"
I'm using the 0.6.0 release of TVM, and functions generated by `relay.transform.gradient()` in higher order mode break with the following cryptic message when running in a VM executor:

[code]

I'm not sure what exactly is missing in the VM implementation to support this; is there already an issue tracking what is needed for full support of executing Relay functions in the VM? In the meantime, sho

[2019-12-14 04:06] anwang2009 opened #4521 "ONNX importer ModelParams bug"
Using the onnx importer on mobilenetv2-1.0 with opset 7, `relay_params` appears to have an extra parameter as compared to `relay_model`'s parameters.

Here's a repro of the bug:
[code]

[2019-12-14 04:24] anwang2009 commented on #4521
Poking around a little, it looks like `reshape_attr_tensor421` persists in `self._nodes` and self._params` for the entirety of `from_onnx`.

@jroesch @jwfromm

[2019-12-14 06:35] jwfromm commented on #4521
This is strange and I'll try to figure out where that parameter is coming from. Just curious though, does this have any negative effect besides having to keep one extra (size 2) parameter around?

[2019-12-14 06:52] jwfromm commented on #4521
Ok so what's happening is Onnx treats the shape of Reshape operators as parameters that naturally get added to the dictionary of global parameters during conversion. In Relay, however, the output shape of reshape is fixed so the parameters aren't needed. Instead of just peeking at the shape and leaving it in parameters, we can instead pop them out of the parameter dictionary like so (line 466 in o

[2019-12-14 16:52] yurivict opened #4522 "relay.build fails: module 'tvm.codegen' has no attribute 'llvm_version_major'"
On FreeBSD I am getting this failure:
[code]

[2019-12-14 17:17] tqchen commented on #4522
Thanks for reporting the problem, please open a new trouble shooting thread on discuss.tvm.ai :)

[2019-12-14 17:17] #4522 closed

[2019-12-15 05:38] kice opened #4523 "Optimization for subpixel layer on Tensor core"
I found that Depth_to_Space layer spend too much time on changing data layout (NHWC <-> NCHW) while using tensor core. It takes up to 25% of the run time to do the transpose.

Is it possible to reduce this kind of unnecessary data manipulation, like combining reshape and/or transpose into one op.

A sample network
[code]

Then it will do
[code]
I think nchwToNhwc is done automatically by CUDA, may

[2019-12-15 20:03] jwfromm commented on #4521
Fixed in PR #4524

[2019-12-15 21:06] jwfromm commented on #4523
You're right that our current handling of depth2space (and space2depth) isn't optimal. We should probably have a dedicated relay op and topi implementation that directly rearranges values rather than stacking reshapes and transposes. I can try to take a stab at implementing this in the next few days.

[2019-12-15 23:08] #4521 closed

[2019-12-16 03:12] idealboy opened #4526 "Error, when import otrch and import tvm!"
whether I do like:

import tvm
import torch

or :

import torch
import tvm

it seems as there are some confliction.

Environment:

pytorch:1.3.1
cuda:10.0
cudnn:7.5
tvm:0.6.0
python:3.7

thank you very much for this problem!

[2019-12-16 04:36] DKXXXL commented on #4468
Hi @MarisaKirisame , I currently have a question about representing "location inside the program" because when the users want to query about the Dataflow-Info, they will need to use "location".

**TLDR**: Pointers to ASTNodes are not one-to-one correspondent to "locations in the program". Can the usage/development of AAM/ADI lead to a good enough data representation of "location" for the compiler-

[2019-12-16 06:37] tqchen commented on #4526
Thanks for reporting, please open a new thread on https://discuss.tvm.ai/

[2019-12-16 06:37] #4526 closed

[2019-12-16 09:07] kice opened #4529 "[WINDOWS] Fix python exception Creation in Windows"
https://github.com/apache/incubator-tvm/blob/8e3b5d39c388f6767a2e69afff27eac55557567e/python/tvm/autotvm/task/task.py#L192

Looks like the C++ code dose not raise `AttributeError`, it just print the message.

https://github.com/apache/incubator-tvm/blob/8e3b5d39c388f6767a2e69afff27eac55557567e/src/node/reflection.cc#L108-L111

Should we print the message or raise a error?

ref: https://github.com/

[2019-12-16 10:30] kice commented on #4523
I think it is okay that we use reshapes and transoises only if we could change the parameters when the data layout change. Some models, like EDSR, sandwich conv between subpixel for 4x scale, hurting the perforamce even worse.

But if the new op can support both NCHW and NHWC, it will be nice. xD

[2019-12-16 16:08] MarisaKirisame commented on #4468
@DKXXXL The dag idea only make sense for purely functional code. This is why we provide ANF to transform from dag to tree, and Feature Manager to detect if it is dag. Pointer is a good representation of location in the program and is used that way.

[2019-12-16 16:14] tqchen commented on #4529
see https://github.com/apache/incubator-tvm/pull/2838 it will automatically translate to the corresponding error in the python side. For further development related discussions, please open a new thread on https://discuss.tvm.ai/:)

[2019-12-16 16:16] tqchen commented on #4490
Please open a new thread on https://discuss.tvm.ai/ for development and troubleshooting. In your particular case, it depends on the folder you use for the change. Seems you are using the current root folder instead of the build folder.

[2019-12-16 16:16] #4490 closed

[2019-12-16 18:32] MarisaKirisame commented on #4519
@jroesch
The VM currently doesnt support References. Meanwhile, you can use mode=first_order or run PE followed by DCE.

[2019-12-16 19:28] SWu commented on #4519
ParialEvaluate + DeadCodeElimination segfaults for me

I actually have a lot of trouble running gradient functions (even first_order) through the VM, it seems some pass doesn't play nicely with gradient function and DeadCodeElimination always triggers a segfault somewhere in 0.6.0 release. I didn't have this problem before all of the compile optimization passes were added, but I also haven't been

[2019-12-16 20:25] DKXXXL commented on #4468
@MarisaKirisame : I might still be a little confused about the semantic and **internal memory representation** of RelayIR. I would appreciated if you can enlighten me: in the official document, the picture for ANF is still a DAG (a child can have several different parent) with respect to  **internal memory representation**
![image](https://user-images.githubusercontent.com/16682424/70924201-25d01b

[2019-12-17 02:05] MarisaKirisame commented on #4519
@SWu can you give me a reproducible? I will try to fix it.

[2019-12-17 02:12] MarisaKirisame commented on #4468
@DKXXXL the variables/globalvariables/typevariables are free to be shared - variables are compared by pointer equality, so each new variable is distinct. however, nothing else in ANF mode are sharable.
I only know that using the pointer is the canonical way in RelayIR. I am not sure about the lowerIR though.

[2019-12-17 02:40] kice commented on #4529
In fact, on windows, it wont.

[2019-12-17 03:24] tqchen commented on #4529
hmm, interesting finding. This might be a bug that we can fix, could relates to \n \r difference

[2019-12-17 03:26] tqchen commented on #4529
reopen and label as help wanted, @kice can you dig a bit further?

[2019-12-17 04:50] kice commented on #4529
Here return C error string

https://github.com/apache/incubator-tvm/blob/10392854076a369bd8dfdf4d4044cad917285345/src/node/reflection.cc#L109-L110

`[23:21:56] C:\src\tvm-win\src\node\reflection.cc:109: AttributeError: Schedule object has no attributed code_hash`

https://github.com/apache/incubator-tvm/blob/10392854076a369bd8dfdf4d4044cad917285345/python/tvm/_ffi/base.py#L192-L198

`_find_error_t

[2019-12-17 05:45] yurivict opened #4530 "Please allow to use the external dmlc-core: include/dmlc/any.h conflicts with the package dmlc-core"
With ```INSTALL_DEV=ON``` ```tvm``` fails to install:
[code]

```dmlc-core``` exists as a package on several systems: https://repology.org/project/dmlc-core/versions

On FreeBSD the ```tvm``` port uses ```dmlc-core``` as a dependency. Please add a cmake option to use the external ```dmlc-core``` to prevent this conflict.

[2019-12-17 16:03] SWu opened #4534 "[Relay] Dead code elimination pass blows up call stack"
This was not obvious to me because code that I was previously working with successfully suddenly started segfaulting when I upgraded my TVM build to the 0.6.0 release, but:

* for even relatively simple feed forward graphs (a few convolutional layers + fully connected + output), the gradient function from relay becomes fairly complex especially if using higher order mode
* for higher order mode, w

[2019-12-17 16:09] SWu commented on #4519
I figured out the issue I was running into, which I believe is a regression in relay, so I've opened a separate issue detailing it here: https://github.com/apache/incubator-tvm/issues/4534#issue-539162046

After increasing my ulimit, the following works with VM:

[code]

It would be useful to add this information to the relay documentation about running higher order gradient functions in the VM

[2019-12-17 17:50] tqchen commented on #4529
Here is the code that normalizes the error message https://github.com/apache/incubator-tvm/blob/master/src/runtime/c_runtime_api.cc#L203

which will removes the header, but somehow fails your case

[2019-12-17 20:47] tqchen commented on #4496
https://github.com/apache/incubator-tvm/pull/4535 removes the dependencies in apps, rust

[2019-12-18 01:08] tqchen commented on #4530
https://github.com/apache/incubator-tvm/blob/master/CMakeLists.txt#L48 already support this

[2019-12-18 01:08] #4530 closed

[2019-12-18 01:15] #4259 closed

[2019-12-18 01:20] kice commented on #4529
https://ideone.com/LbSfYC

Looks like the `:` in the path cause the issue

[2019-12-18 01:42] tqchen commented on #4529
@kice would you like to propose a fix ?

[2019-12-18 14:44] yjk21 opened #4540 "TVM CUDA schedule: Incorrect shared memory size loading a padded tile"
First of all, TVM is amazing work! It's very enjoyable working with it.

I built TVM from source at this commit: 3c9d19d09242e1088b61e00416ae9c3ee96789e3

I am trying to get the following to work:
- I have a 512x512 input
- I pad it with 3 pixels in each direction, i.e. the padded input is 518x518
- I compute a stencil on this

The computation:
[code]
I am trying the following schedule, with the g

[2019-12-18 16:37] mbaret opened #4542 "[AutoTVM] Tuning fails for an NHWC network on Arm CPU"
I'm trying to tune NHWC networks produced by the tflite frontend, but they fail with the error `AssertionError: only support NCHW/HWCN currently`. This suggests to me the AlterOpLayout pass is not happening during task extraction. I can force the AlterOpLayout pass to happen using the following patch:

[code]

which does fix this issue. Am I doing something wrong in AutoTVM or is this patch necess

[2019-12-18 17:40] tqchen commented on #4529
I think the main fix could be in the NormalizeError function to fix the windows case if possible

[2019-12-18 19:49] jwfromm commented on #4542
You're not doing anything wrong. Not supporting NHWC layouts on Arm CPUs is a known issue and something we should have patched in soon.

[2019-12-18 20:54] mbarrett97 commented on #4542
I think even if NHWC isn't supported, the auto-tuning shouldn't fail as a result. We can still compile networks that are initially in NHWC format as AlterOpLayout converts them to NCHW. I think AutoTVM should also do this instead of just failing.

[2019-12-18 21:05] comaniac commented on #4542
AutoTVM does not compile the model but just tune the ops extracted from the model. Accordingly, failing when the ops are not supported for tuning is reasonable.

Also please open such discussion topics in [discuss](https://discuss.tvm.ai/).

[2019-12-18 21:19] mbarrett97 commented on #4542
It doesn't compile, but it does run optimize which should invoke the appropriate passes to transform the graph. Is it a design choice for AutoTVM not to apply this pass? If so I'm happy to open a discuss post, as this is quite unintuitive behaviour.

[2019-12-18 21:39] comaniac commented on #4542
Not sure if that workaround works for all cases, but you are welcome to open an RFC to collect opinions from others.

[2019-12-19 08:10] kice commented on #3879
[code]
Just for the record

[2019-12-19 13:42] ghostplant opened #4547 "CUDA source emited from hybrid script contains undefined `vthread`"
[code]

Its lower code is:
[code]

TVM backend version: v0.6

[2019-12-19 17:46] tqchen commented on #4540
Thanks for reporting the problem, please open a new thread on https://discuss.tvm.ai/

[2019-12-19 17:46] #4540 closed

[2019-12-19 17:47] #3042 closed

[2019-12-19 17:47] tqchen commented on #3042
The any dimension feature has landed into the mainline

[2019-12-19 17:48] #2820 closed

[2019-12-19 17:48] #2903 closed

[2019-12-19 17:48] tqchen commented on #3059
Move to #4459

[2019-12-19 17:48] #3059 closed

[2019-12-19 17:49] #2959 closed

[2019-12-19 17:50] #3161 closed

[2019-12-19 17:51] #3518 closed

[2019-12-19 17:52] tqchen commented on #4203
This is something that we should fix to make the semantics consistent with the graph runtime

[2019-12-19 17:53] tqchen commented on #4255
Close for now, please open a new issue requesting the specific op in ONNX

[2019-12-19 17:53] #4255 closed

[2019-12-19 17:53] #4101 closed

[2019-12-19 17:55] tqchen commented on #2523
close as many discussed feature landed. let us open new threads for incoming goals

[2019-12-19 17:55] #2523 closed

[2019-12-19 17:56] #3584 closed

[2019-12-19 17:57] #3598 closed

[2019-12-19 17:57] tqchen commented on #3598
closing for now due to inactive status, the new simplifier might resolve the problem, feel free to reopen

[2019-12-19 18:00] tqchen commented on #4495
It would be great if we can clarify further, as the ATLNR java package is only used to generate the parser, and the parser itself depends on antlr runtime of the corresponding language(in this case python) but does not depend on the ANTLR java

[2019-12-19 18:03] tqchen commented on #4495
NOTE that we started with ANTLR python for simplicity, we could in theory move over to ATNLR c++ runtime, which will get around the issue altogether. Would be great if we can get an assessment of feasibility. cc @jroesch

[2019-12-19 18:03] #4451 closed

[2019-12-19 18:03] #4443 closed

[2019-12-19 18:04] #4470 closed

[2019-12-20 04:37] idealboy opened #4552 "About Openvino and tvm?"
when I test mobilentv2 on intel x86_64 archetecture, I found, the openvino is 5X faster than tvm, what is the main difference between the two?

the memory?

I found that they all used 4 threads as default.

thank you very much!

[2019-12-20 05:18] 7oud opened #4553 "multi-model inference using c++"
when inference several model one by one, should I create only one runtime::Module and reuse memory?

[2019-12-20 05:19] tqchen commented on #4553
Please open a new thread on https://discuss.tvm.ai/

[2019-12-20 05:19] #4553 closed

[2019-12-20 05:54] ic commented on #4102
Sorry for the delay. The intention is to support TF1 and TF2 separately, trying to see if [partial migrations](https://github.com/tensorflow/docs/blob/4808964/site/en/guide/migrate.ipynb) can help. No progress since last update, although I hope to have some time soon to get back on it.

[2019-12-20 06:38] schliffen commented on #1391
I've got similar error:
AttributeError: 'Model' object has no attribute '_network_nodes'
which was due to Keras version conflict, choosing version 2.3 resolved the issue.

[2019-12-20 06:49] FinnWeng commented on #4262
Hi @yongwww
I've tried to reproduce the problem with minimum case, but I can't find the right recipes. So sorry for I can't provide it for now.

[2019-12-20 07:18] tobegit3hub commented on #4464
Hi @tqchen @jwfromm @jroesch @soiferj , do you have any other comment?

We may add more docs about implementation and usage so that everyone can know it works.

[2019-12-20 07:56] idealboy commented on #4552
why is it always "-mcpuskylake-avx512" in /root/.tvm/tophub/llvm_v0.03.log, whether I workd on Xeon or i7-6700?

Is there any better chapter to read the code in tvm?

thank you very much.

[2019-12-20 10:02] weirdkerneltrick opened #4556 "Tuning group_conv for x86"
Hello! I've tried to tune VarGFaceNet for fast inference via TVM, but got no speed boost. It seems that tuning group_conv for x86 isn't supported at the moment. Is that so? What can be done to tune VarGFaceNet's group convolutions?

[2019-12-20 15:33] Aeroxander commented on #4262
@yongwww Here's my ONNX (PyTorch) model:
[matrixnew.zip](https://github.com/apache/incubator-tvm/files/3988845/matrixnew.zip)

Don't know if I should create a new issue for this as it looks pretty similar.

Haven't found a fix yet as I don't know how to change the ONNX scale parameters in the model.

Would prefer to have TVM handle this issue as even with updating ONNX to v11 as Resize doesn't wor

[2019-12-20 17:39] comaniac commented on #4556
Hello, please open a new issue at [https://discuss.tvm.ai/](https://discuss.tvm.ai/) for development and troubleshooting. For your question, TOPI doesn't have a tunable schedule for depthwise conv2d on x86.

[2019-12-20 17:41] #4556 closed

[2019-12-20 19:12] tqchen commented on #4552
Thanks for asking these questions, please open a new thread on https://discuss.tvm.ai/

[2019-12-20 19:12] #4552 closed

[2019-12-21 04:36] #4265 closed

[2019-12-22 04:50] tqchen commented on #4496
https://github.com/apache/incubator-tvm/pull/4562

[2019-12-22 09:07] cchung100m commented on #4203
Hi @tqchen

Sorry for my late reply and I will get around to it ASAP.

[2019-12-22 18:55] jwfromm commented on #4523
See PR #4566 for my implementation of native sub pixel operators.

[2019-12-23 01:12] antimora opened #4568 "[Feature] Support for NonZero ONNX operator"
Filing this ticket to request support for [NonZero ONNX operator](https://github.com/onnx/onnx/blob/master/docs/Operators.md#NonZero) which has been available since version 9 of the default ONNX operator set. Since [PyTorch 1.2](https://github.com/pytorch/pytorch/releases/tag/v1.2.0), ONNX exports with opset 9 as default (And currently Pytorch only exports with 9 and 10 opset versions).

Unless th

[2019-12-23 01:15] antimora commented on #4568
Related TVM discussion: https://discuss.tvm.ai/t/onnx-nonzero-operator/4726/2

[2019-12-23 04:55] tqchen commented on #4496
https://github.com/apache/incubator-tvm/pull/4571

[2019-12-23 05:39] ghostplant commented on #4547
I think there is an undetermined way to decide whether we need to bind an axis to `vthread`. Sometimes we cannot bind it because it is possible to result in `// attr [iter_var(vthread, , vthread)] thread_extent = 2` in lower code.
Sometimes we have to bind it because lacking it might result in `invalid argument number` for a kernel in its lower code.

[2019-12-23 05:43] ghostplant opened #4572 "What is an acceptable way to write an one_hot with hybrid_script?"
The following expression seems to be right, but the tvm language parser doesn't allow such syntax:

[code]

[2019-12-23 06:06] junrushao1994 commented on #4572
CC: @were

[2019-12-23 09:22] FrozenGene commented on #4572
[code]
This could work.

[2019-12-23 09:26] ghostplant commented on #4572
@FrozenGene Yes, but the compute node doesn't support build it.

[2019-12-23 09:58] FrozenGene commented on #4572
[code]
1 -> 1.

[2019-12-23 13:13] kice commented on #3879
Also I found before CUDA 10.2, there is no support for absolute value APIs for half-precision.

[2019-12-23 19:52] tqchen commented on #4284
could due to random number for variance issue, introduced a solution in https://github.com/apache/incubator-tvm/pull/4571, close for now

[2019-12-23 19:52] #4284 closed

[2019-12-23 19:58] tqchen commented on #4572
Please move this kind of discussions directly to https://discuss.tvm.ai/ instead

[2019-12-23 19:58] #4572 closed

[2019-12-23 22:36] anijain2305 commented on #4508
https://github.com/apache/incubator-tvm/pull/4577

This is not just expand dims problem. The input shape is (1,) - if we take it from C to NCHW8c. Then , we first need to `repeat` to make the input shape atleast (8,).

Instead, a simpler way is to prevent the insertion of expand dims and layout transforms altogether for scalars. Scalars can be easily broadcasted even if the second tensor is transf

[2019-12-24 00:49] tqchen opened #4579 "[RFC] Deprecate Extension VTable in Favor of Unified Object System"
Before the unified object protocol, we support passing additional extension objects around by declaring a type as an extension type.

The old extension mechanism requires the types to register their constructor and deleter to a VTable in order to pass a container around. It does not enjoy the benefit of the self-contained deletion property of the new Object system.

This RFC propose to deprecate t

[2019-12-24 00:55] #4496 closed

[2019-12-24 00:56] tqchen commented on #4496
NNVM compiler is removed from the mainline as of #4571 The core nnvm data structures still will be maintained.

[2019-12-24 03:36] junrushao1994 commented on #4579
The implication here is that we won't support nnvm objects any more, right? If so, I think it's fine

[2019-12-24 04:19] ghostplant commented on #4572
@tqchen Anyone who can help me answer other of my old question lists below? Thanks!

https://discuss.tvm.ai/t/does-autotvm-support-parallel-candidate-trials/4770
https://discuss.tvm.ai/t/what-is-the-way-to-limit-shared-memory-and-total-threads/2707

[2019-12-24 05:03] tqchen commented on #4579
No, as nnvm compiler has already been deprecated, we won't support nnvm compiler objects

[2019-12-24 23:18] tqchen commented on #4286
https://github.com/apache/incubator-tvm/pull/4581 for the NDArray part

[2019-12-25 07:46] MarisaKirisame commented on #4534
@jroesch care to take a look?

[2019-12-25 10:11] npuichigo opened #4583 "‘VTA_LOG_INP_WIDTH’ was not declared in this scope"
I cannot compile tvm 0.6.0 with only llvm, and the error shows that
[code]

[2019-12-25 11:25] #4583 closed

[2019-12-25 17:21] #4579 closed

[2019-12-25 21:42] #4529 closed

[2019-12-26 09:53] antimora opened #4587 "[Feature] Support for 1D Convolution"
I was trying to import my ONNX model but it has failed with the following error:

[code]

Code is the latest version (master@1900041447cc7fd4f23a857c4839acbf74cd890c) as of now.

I noticed @tqchen closed [this related issue #3518](https://github.com/apache/incubator-tvm/issues/3518#event-2898116737) recently but not explanation was given. Could it be because  [this related PR](https://github.com/a

[2019-12-26 11:53] FrozenGene commented on #4542
Please keep an eye of PR #3859 , which could solve TFLite NHWC auto tune on ARM CPU problem.

[2019-12-26 19:36] anijain2305 commented on #4542
I agree that AlterOpLayout and AutoTVM do not have the most intuitive design/user experience yet.

For now, you can choose either of the 3 options
1) Use the #3859 to use NHWC schedule. However, it might not give you the best performance because for now NCHW perf is somewhat better than NHWC.
2) Call AlterOpLayout pass the way you did before extracting layouts.
3) In general, use the #4335 Convert

[2019-12-26 22:00] alexbooth opened #4588 "[RELAY][BUG] Quantize calibrate relay.build_module.build(...) returns empty graph"
I'm having difficulty getting floating point calibration working for quantization. The test ```test_pass_auto_quantize.py``` works fine (conv2d quantization), but my own test for dense layer quantization calibration is not working. Inside ```_calibrate.py``` I print  ```graph``` after the line  ```graph, lib, params = _build_module.build(func, target=target)``` then I just see the following output

[2019-12-26 22:23] masahi commented on #4588
My PR #4582 that was merged yesterday has a test case that exercises calibration on resnet 18. Have you tried that?

There is [an issue on the forum](https://discuss.tvm.ai/t/dense-layers-do-not-quantize-from-float32-to-int8-in-relay/5086) regarding dense + quantization. Not sure if it is related.

[2019-12-26 22:28] alexbooth commented on #4588
Will try with your PR soon. I have dense quantization activated by uncommenting the line thierry links to at https://github.com/apache/incubator-tvm/blob/master/python/tvm/relay/quantize/_annotate.py#L179-L180

[2019-12-26 23:23] alexbooth commented on #4588
Sorry, had dense quantization off on my branch. Manually activating it solved this issue.

[2019-12-26 23:23] #4588 closed

[2019-12-28 15:55] kevinyuan opened #4596 "codegen.cc:150:32: error: use of deleted function"
Hi,

The latest code has compilation errors with tvm/src/relay/backend/contrib/codegen_c/codegen.cc:

------------------------

[ 90%] Building CXX object CMakeFiles/tvm.dir/src/runtime/cpu_device_api.cc.o
/home/kevinyuan/dev/tvm/src/relay/backend/contrib/codegen_c/codegen.cc: In member function ‘void tvm::relay::contrib::CSourceCodegen::GenCFunc(const tvm::relay::Function&)’:
/home/kevinyuan/dev/

[2019-12-28 16:12] kevinyuan commented on #4596
Not sure if it's correct, but I just adding line 18 to exclude the codegen.cc from default compilation.

 18 if(USE_DNNL_CODEGEN STREQUAL "ON")
 19     file(GLOB CSOURCE_RELAY_CONTRIB_SRC src/relay/backend/contrib/codegen_c/codegen.cc)
 20     list(APPEND COMPILER_SRCS ${CSOURCE_RELAY_CONTRIB_SRC})
 21 endif()
 22

[2019-12-28 17:15] jwfromm commented on #4523
@kice now that #4566 is merged, can you give this another try? Hopefully we have much better performance and this issue can be closed.

[2019-12-28 20:08] tqchen commented on #4596
cc @zhiics @comaniac

[2019-12-28 20:56] comaniac commented on #4596
According to [this post](https://stackoverflow.com/questions/50926506/deleted-function-std-basic-stringstream-in-linux-with-g), it seems like we triggered the stream move constructor that has not yet supported in gcc 4.8. We'll try to find out the root cause, although we don't have gcc 4.8 to reproduce the issue. The most efficient solution would be upgrading gcc version I think.

btw, the solutio

[2019-12-28 21:27] tqchen commented on #4596
Given that we do not really have to move the code generator class, I would say we can simply disable copy and move. If we need to move it, consider wrap it in an unique_ptr

[2019-12-29 05:15] zhiics commented on #4596
copy constructor is triggered by

https://github.com/apache/incubator-tvm/blob/227c7af4464a03b42d7e2fa0949621833137cca2/src/relay/backend/contrib/codegen_c/codegen.cc#L150

This should be fixed by #4597

[2019-12-29 16:46] kice commented on #4523
After testing it, I am happy to let you know, we have no significant difference at all. And I even found a bug. xD

[2019-12-29 17:01] kice commented on #4523
<img width="959" alt="tranpose" src="https://user-images.githubusercontent.com/3945950/71559964-0ba02f00-2a32-11ea-9e22-ddd88d6693d8.png">
<img width="959" alt="native" src="https://user-images.githubusercontent.com/3945950/71559965-0ba02f00-2a32-11ea-80a3-0b0952db9847.png">

Without profiling, native finished in 55.235s, transpose finished in 55.639s.
Warmup 200 runs with cpu copy back, and bench

[2019-12-29 21:28] jwfromm commented on #4523
Maybe the problem is just that this op shouldnt be fused when running on tensor cores. I suspect the access pattern just fundamentally causes bad behavior in the kernel. Can you try changing its fusion pattern to `OPAQUE` rather than `INJECTIVE` (~ line 976 in `tvm/relay/op/nn/_nn.py`)? Also what bug did you find? I can't see anything obvious in what you posted.

[2019-12-29 23:13] kice commented on #4523
https://github.com/apache/incubator-tvm/blob/fadea9229c078f30469879ac6ab69920a2c0cbe0/python/tvm/relay/frontend/onnx.py#L542

We should decode it to str.

I think we should add more testcases for importing models.

[2019-12-29 23:41] kice commented on #4523
I cannot see any difference with `OPAQUE` fusion pattern.

My thought is that, for every ops, someone (likey the gpu driver) warps data layout transpose before and after to every op, since tensor core like NCHW.

However, I remembered that NHWC input for TVM is even slower than we do all the NCHW to NHWC transpose for tensor core, and we also need https://github.com/apache/incubator-tvm/pull/4456

[2019-12-30 04:38] #4596 closed

[2019-12-30 08:47] ruyiweicas commented on #3098
@tqchen

[2019-12-30 08:49] ruyiweicas commented on #3098
@tqchen Can TVM be compiled in centos?
sudo apt-get update
sudo apt-get install -y python3 python3-dev python3-setuptools gcc libtinfo-dev zlib1g-dev build-essential cmake libedit-dev libxml2-dev

These installation packages could not be found in 'yum install' such as libtinfo-dev zlib1g-dev and so on

[2019-12-30 16:30] tqchen commented on #3098
@ruyiweicas please open new thread on  https://discuss.tvm.ai/,  for these kinds of questions

[2019-12-30 18:48] wweic opened #4599 "[Refactor] Replace relay.vm.Tensor with NDArray"
After this PR: https://github.com/apache/incubator-tvm/commit/55bd786fe25f710f6f46769fb7175f44dd73b2ea, we should be able to use NDarray directly in VM.

[2019-12-31 00:10] anijain2305 commented on #4523
@kice The ConvertLayout pass is merged now. I think you can give a try to convert the whole graph from NCHW to NHWC, if thats the current bottleneck for you. Currently, the conversion is supported only from NHWC -> NCHW. But, we can augment the pass to do the other way round as well.

[2019-12-31 06:32] ruyiweicas commented on #3098
@tqchen ok

[2019-12-31 17:03] anijain2305 commented on #4508
@pyalex This is fixed. Can you please check and close the issue? Thanks!

[2020-01-01 02:20] DKXXXL commented on #4468
Hi @MarisaKirisame , I have several questions during the learning of AAM, about the advantage of implementing AAM over using the normal Dataflow Analysis framework (like the proposed one above) in the context of Relay. Because I have no experience in Relay at all, I would appreciate it if you can resolve these questions:

1. I was thinking about AAM has the power to unify CFA with a wide range of

[2020-01-01 08:47] MarisaKirisame commented on #4468
1. while it is true that tensor is the bottleneck, the high level code dictate what tensor will get computed. For example, you can do dead code elimination to remove unnecessary tensor operation(this is a real need rn), or deforestation(which require an effect analysis) to make tensor operation into one graph, which can then be further optimize by all graph-level pass. right now, we have dead code

[2020-01-02 21:52] #4286 closed

[2020-01-02 23:58] yzhliu commented on #4523
@kice could you confirm whether ConvertLayout helps to reduce the overhead?

[2020-01-03 23:26] tqchen opened #4617 "[RFC] Unified IR Infra"
## Introduction

The TVM stack has been evolving for more than two years now. The current compiler stack contains several components that were designed at different points in time. This RFC proposes a unified IR infrastructure for the TVM stack by combining past lessons.

From a high-level the proposed infrastructure will consist of:

- A unified module, pass and type system for all IR function va

[2020-01-03 23:34] tqchen commented on #4617
Migrated from https://discuss.tvm.ai/t/ir-unified-tvm-ir-infra/4801

[2020-01-04 03:07] MarisaKirisame commented on #4617
![image](https://user-images.githubusercontent.com/3397377/71759044-33412e00-2e5c-11ea-94a9-5cbf75b16c5a.png)

maybe some name that has connection to relay is good?
Axon seems quite nice: it is literally under relay, it is brain-related, it is short.

[2020-01-05 14:21] kevinyuan opened #4625 "Compile error from ir_functor.c & ir_functor_ext.h"
tvm/build>make -j10
...
[ 27%] Building CXX object CMakeFiles/tvm.dir/src/pass/lower_custom_datatypes.cc.o
In file included from /home/kevinyuan/dev/tvm/src/pass/ir_functor.cc:22:0:
/home/kevinyuan/dev/tvm/include/tvm/ir_functor_ext.h: In lambda function:
/home/kevinyuan/dev/tvm/include/tvm/ir_functor_ext.h:472:8: error: ‘virtual tvm::Stmt tvm::ir::StmtMutator::VisitStmt(const tvm::Stmt&)’ is prot

[2020-01-05 17:53] tqchen commented on #4625
Thanks for reporting, should be fixed by https://github.com/apache/incubator-tvm/pull/4626

[2020-01-06 01:52] #4625 closed

[2020-01-06 13:11] cchung100m commented on #3608
Hi @zhiics

This PR should be closed by #4563, too. I would appreciate that if you can help to manage it, thanks :)

[2020-01-06 16:56] zhiics commented on #3608
@cchung100m Thanks for resolving the issue.

[2020-01-06 16:56] #3608 closed

[2020-01-06 18:36] tqchen commented on #4617
Nice to consider names, @MarisaKirisame can you also post the name proposal to the original discuss thread to get other people's thoughts. To be clear, the proposal is to name the low-level ir module "axon"

[2020-01-06 23:54] pallabdatta opened #4638 "[RFC] Support for GRUUnit in TVM/NNVM/Relay framework"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2020-01-07 01:11] tqchen commented on #4638
Please have a clear description of features which is actionable if it is a feature request, e.g. support GRUUnit in tensorflow frontend. If it is an RFC, please provide a detailed proposal.

[2020-01-07 01:11] #4638 closed

[2020-01-07 03:20] tqchen opened #4640 "[TEST][FLAKY] tests/python/contrib/test_cudnn.py::test_conv2d"
https://ci.tvm.ai/blue/rest/organizations/jenkins/pipelines/tvm/branches/PR-4635/runs/3/nodes/149/log/?start=0

[2020-01-07 03:50] pallabdatta commented on #4638
I want support of GRUUnit in ONNX frontend.

[2020-01-07 21:25] tqchen opened #4646 "[TEST][FLAKY] topi/tests/python/test_topi_depthwise_conv2d_back_weight.py"
NOTE: there has been quite a few CI failures on the master since #4511 is merged(which may not may not tie to the particular PR), these errors are quite consistent on the CI instance aws.g4.n0.cuda0 but will not happen in other instances.

- https://ci.tvm.ai/blue/rest/organizations/jenkins/pipelines/tvm/branches/master/runs/257/nodes/244/log/?start=0
- https://ci.tvm.ai/blue/rest/organizations/je

[2020-01-07 21:27] tqchen commented on #4646
@zhiics said he is able to confirm a repro on the particular instance. Here are a few steps:

- run a bisection to check exactly what commit brings the problem
- try to get a backtrace from gdb to see what is going on

[2020-01-07 21:29] zhiics commented on #4646
I have some initial guess about why. I will double check tonight once I get some cycles and summarize the findings if it turns out to be correct.

[2020-01-07 21:43] tqchen opened #4647 "Track Refactor Items and Update Guide"
We are in the process of refactoring recently. Some of them are cleanup of legacy code in the new version, some other prepares code changes for #4617

This thread tracks related infra changes and guides to sync the code with the mainline as suggested by @merrymercy . Please feel free to reply to add more suggestions

## DataType to runtime

- Rationale: DataType is a runtime data structure
- PRs h

[2020-01-07 21:47] tqchen commented on #4647
cc @merrymercy @Hzfengsy

[2020-01-07 22:49] tqchen opened #4648 "[RFC] Unify IR Node and Reference Class Naming Convention"
In many node objects we introduced recently, we use the Node suffix to hold IR/AST nodes and no suffix for reference classes.

[code]

In the above example:

- ```RangeNode``` is the container object.
- ```Range``` is the reference class.
- New objects are constructed via constructors in the reference class.
- We also define clear factory function ```make_by_min_extent`` in the reference class.

H

[2020-01-07 23:15] trevor-m commented on #4534
I was getting a segfault just trying to run resnet152_v1 with the script below. Smaller models worked fine. Once I increased the stack limit using `ulimit -s unlimited`, the segfaults stopped.

[code]

[2020-01-08 07:57] zhiics commented on #4646
I tested it locally and found that the problem is caused by the tests with large input size introduced in #4511. With these tests:

https://github.com/apache/incubator-tvm/blob/bc0274d307226408c69226cf922dd916d773e265/topi/tests/python/test_topi_conv2d_NCHWc.py#L232

https://github.com/apache/incubator-tvm/blob/bc0274d307226408c69226cf922dd916d773e265/topi/tests/python/test_topi_conv2d_int8.py#L20

[2020-01-08 08:07] yueyihua opened #4654 "convert onnx to tvm model error"
When I convert my onnx model to tvm，some error occur：
WARNING:root:Attribute auto_pad is ignored in relay.sym.max_pool2d
WARNING:root:Attribute auto_pad is ignored in relay.sym.max_pool2d
[15:48:29] /home/yyh/3rdparty/tvm/src/relay/ir/doc.h:50: text node: ' an internal invariant was violated while typechecking your program [15:48:29] /home/yyh/3rdparty/tvm/src/relay/op/nn/convolution.h:112: Check

[2020-01-08 08:14] yueyihua opened #4655 "convert keras model to tvm error"
When I convert a keras model to tvm， an error occur:
Traceback (most recent call last):

  File "traffic_cnn_keras_tvm_dbg.py", line 225, in <module>
    mod, params = relay.frontend.from_keras(keras_model, shape_dict)

  File "/home/yyh/3rdparty/tvm/python/tvm/relay/frontend/keras.py", line 821, in from_keras
    zip_node = zip(node.node_indices, node.tensor_indices, node.inbound_layers)

TypeErr

[2020-01-08 08:40] optima2005 commented on #4646
I miss-looks the data size and output filters columns in those additional test cases. Sorry about that. I will re-check them.

[2020-01-08 17:49] tqchen commented on #4654
Thanks for reporting the problem, the community uses https://discuss.tvm.ai/ as a way to collective resolve these questions. Please open a new troubleshooting thread there

[2020-01-08 17:49] #4654 closed

[2020-01-08 17:49] tqchen commented on #4655
Thanks for reporting the problem, the community uses https://discuss.tvm.ai/ as a way to collective resolve these questions. Please open a new troubleshooting thread there

[2020-01-08 17:49] #4655 closed

[2020-01-08 19:34] trevor-m opened #4660 "Unicode, Base64 errors using SaveJSON, LoadJSON on constants with aarch64 only (works on x86_64)"
The code snippet below gives the following error on aarch64 during the call to `save_json` (NVIDIA jetson xavier to be specific):
[code]
I can avoid the unicode decode error if I call `SaveJSON` from C++ (so it seems to be a problem with FFI), but then I get the following error while deserializing using `LoadJSON`:
[code]

The same exact code works fine on  Intel x86_64. The error only happens whe

[2020-01-08 21:55] zhiics commented on #4646
Close by #4653

[2020-01-08 21:55] #4646 closed

[2020-01-08 23:49] tqchen commented on #4660
can you dig a bit into it? I feel it might be the problem of py_str and encoding issue

[2020-01-09 01:07] trevor-m commented on #4660
Sure, I will investigate it further

On Wed, Jan 8, 2020 at 3:49 PM Tianqi Chen <notifications@github.com> wrote:

[2020-01-09 08:43] Maximilianxu commented on #4061
@jikechao Finally, finally, I solved this issue. Although I have no idea why this issue happened.

I use nvidia-driver-430 as the driver, and install cuda-10.0 and cudnn-7.6.4 for 10.0, changed the tensorflow version from 1.12.0 to 1.13.1.

Then the error was gone.

[2020-01-09 19:04] gussmith23 opened #4670 "[Relay] Bias missing in final layer of Mobilenet?"
https://github.com/apache/incubator-tvm/blob/3f43bee01ea50d21ef93f618be3540bcf5231cd7/python/tvm/relay/testing/mobilenet.py#L123

Should there be a bias added here? I'm not 100% sure on this.

[2020-01-09 19:06] #4660 closed

[2020-01-10 17:40] burlachenkok opened #4676 "Building TVM from source for Windows with LLVM support"
During building TVM with LLVM support I have faced with two ways how to build TVM for Windows with LLVM support:

(1) cmake -G "Visual Studio 15 2017 Win64" -DUSE_LLVM=ON -DCMAKE_MODULE_PATH="C:/path_to_lvm_sources/llvm-9.0.0.src/llvm-build/lib/cmake/llvm"  ./../

(2) make llvm-config.exe path available in PATH environment variable and then call
cmake -G "Visual Studio 15 2017 Win64" -DUSE_LLVM=ON

[2020-01-10 18:57] tqchen commented on #4676
A PR is more than welcomed

[2020-01-12 12:59] vajic opened #4691 "tvm Running result error"
when i use tvm , I have this problem

[2020-01-12 13:05] vajic commented on #4691
model：insightface+ resnet+mxnet

1. mat A = mxnet load model ,get output
2.mat B = tvm load model, get output

mat  A  ≠ mat B

[2020-01-12 16:36] wweic commented on #4691
@vajic Thanks for the report, to help the developer act on the issues, please include a description of your environment, preferably a minimum script to reproduce the problem.

[2020-01-12 19:51] tqchen commented on #4691
Please open a new trouble shooting thread on https://discuss.tvm.ai/ :)

[2020-01-12 19:51] #4691 closed

[2020-01-13 01:11] masahi commented on #4587
Conv 1D was added in #4639

[2020-01-13 01:11] #4587 closed

[2020-01-13 02:29] vajic commented on #4691
ok,thanks

[2020-01-13 19:25] abergeron opened #4697 "[Relay] VM prunes global functions with no direct calls."
It seems there is a problem in the VM compiler for indirect calls to global functions that aren't used elsewhere.

I have a simple code block that reproduces it:

[code]

This errors at the `relay.create_executor` line saying there is no definition for g1.

- If you change the calls in the main functions to use the `fn1` and `fn2` instead of the global variables, it works.
- If you move the `Call`

[2020-01-13 19:42] zhiics commented on #4697
@abergeron Thanks for reporting this. There is pass in VM that removes the "unused" global functions. It probably removed these functions.

[2020-01-13 21:25] #4599 closed

[2020-01-13 21:25] tqchen commented on #4599
#4643

[2020-01-13 22:46] zhiics commented on #4697
@abergeron #4700 fixes this.

[2020-01-14 03:14] #4697 closed

[2020-01-14 03:41] rumusan commented on #1204
hi @acostin1
can u give some tips how to install tvm in macbook?
thanks.

[2020-01-15 09:13] FrozenGene commented on #4670
Yes. I think we miss it.

[2020-01-15 09:40] vexilligera commented on #4676
Hi, I am building MXNet with TVM on Windows to support TVMOps. Building LLVM from source with Visual Studio 2017 or later would result in errors due to different constexpr standards, so I have built LLVM and TVM with Clang-CL + Ninja + MSVC LINK/RC, (which means you need to install LLVM binary first). However I'm still having some post build issues when generating tvmop.dll, e.g., unresolved exter

[2020-01-15 16:48] tqchen commented on #4670
Yes, we should add it, PRs is more than welcomed

[2020-01-15 16:51] tqchen commented on #4444
@kevinthesun do you have any updates?

[2020-01-15 21:46] Airtnp opened #4717 "[AutoTVM] Failed to run autotvm example on GEMM"
I was trying to use code from https://zhuanlan.zhihu.com/p/75203171 (it's a Chinese post, but it's essential the same as [Writing tunable template and Using auto-tuner](https://docs.tvm.ai/tutorials/autotvm/tune_simple_template.html)) with modified size 4096^3. However, in my AWS instance, it keeps reporting tons of similar error like this

I tried with code in [Writing tunable template and Using

[2020-01-15 23:00] tqchen commented on #4717
Thanks for asking the question, please open a new trouble shooting thread on https://discuss.tvm.ai/

[2020-01-15 23:01] #4717 closed

[2020-01-15 23:03] tqchen commented on #2030
close this for now.

The new Unified IR RFC #4617 covers this aspect, by using relay's Op as a single source to register the related information.

The follow up refactors will be able to reflect that

[2020-01-15 23:03] #2030 closed

[2020-01-16 12:09] vexilligera opened #4726 "Export builtin_fp16 functions on Windows"
Hello, I'm working to support tvm ops in MXNet on Windows. The tvm ops are compiled into libtvmop.dll, which requires the builtin_fp16 functions. The linker would throw unresolved external symbols error at this moment. Can we export these two functions on Windows as well? The following code (src/runtime/builtin_fp16.cc) seems to work well for me.

[code]

[2020-01-16 17:05] tqchen commented on #4726
Looks good, please feel free to send a PR

[2020-01-17 06:40] vexilligera commented on #4726
Hi, I have created a PR.
https://github.com/apache/incubator-tvm/pull/4731

[2020-01-17 17:18] #4726 closed

[2020-01-18 03:58] masahi opened #4739 "FoldScaleAxis + FoldConstant suboptimal on Conv + BN + Relu?"
Hi, when I run the following script I get an IR at the bottom which looks suboptimal to me. I expected to be left with only conv2d + bias add + relu. Am I missing something? @tqchen @vinx13 @yzhliu
[code]

[code]

[2020-01-18 04:01] vinx13 commented on #4739
In your example, params of bn are variable, neither FoldScaleAxis and FoldConstant is applicable

[2020-01-18 04:02] masahi commented on #4739
ah, I see. Sorry for the noise.

[2020-01-18 04:02] #4739 closed

[2020-01-18 12:37] kice commented on #4523
ConvertLayout only support NHWC(tf) -> NCHW(tvm), but I used mxnet to make the layout conversion manually, and it turned out even slower.

I think there is something to do with NVIDIA driver, I can still see layout conversion in nvprof.

[2020-01-18 15:13] anijain2305 commented on #4523
https://docs.tvm.ai/dev/convert_layout.html

Please use the above tutorial to add support for nchw to nhwc layout.

[2020-01-19 04:05] Aeroxander opened #4743 "[Relay][ONNX]KeyError: 'input.1' when compiling ONNX model"
So I raised this issue but haven't resolved it yet:
https://discuss.tvm.ai/t/keyerror-input-1-when-compiling-onnx-model/5333

I’m trying to compile my ONNX Pytorch model, the first one works but the second model gives “KeyError: ‘input.1’” as error and I don't know why it gives this error as this is my model:

![image](https://user-images.githubusercontent.com/11189629/72674622-7e288b80-3a81-11ea-

[2020-01-19 05:45] slyubomirsky opened #4745 "[Build][Bug] Updating CUDA from 10.0 to 10.1 resulted in a broken build even after running make clean"
A bit of a strange case, but I wonder if there is a way to ensure that running `make clean` would result in correct behavior here.

I updated CUDA on my system (Ubuntu 18.04) from 10.0 to 10.1; TVM found the correct NVidia binaries, but after running `make clean` and trying to build TVM again (with `/usr/local/cuda` specified in the `USE_CUDA` configuration option), there was an error building `CM

[2020-01-19 06:32] tqchen commented on #4745
It might has something to do with stale cmake cache. So it may not be a bug if you removed your build dir or build succeed in a clean clone.

[2020-01-19 08:41] FrozenGene commented on #4102
Maybe we could boost the progress. I am told by many folks they are interested in Mobilenet V3 model. However, `HardSwish` is not defined in the r1.13 version of tensorflow so that we can not run Mobilenet V3 end2end test.

[2020-01-19 18:13] tqchen commented on #4743
Moved discussion to
https://discuss.tvm.ai/t/keyerror-input-1-when-compiling-onnx-model/5333

[2020-01-19 18:13] #4743 closed

[2020-01-20 03:27] slyubomirsky commented on #4745
I see, so probably not a problem on TVM's end. Thanks for the explanation

[2020-01-20 03:27] #4745 closed

[2020-01-20 04:10] eric-haibin-lin commented on #4332
Thanks for the proposal. In scipy sparse, the csr_matrix has a flag indicating whether the column indices are sorted per row. Such a state may affect the performance of certain operations on the matrix. Will this information be stored in the proposed format?

[2020-01-20 09:31] IshwaraK opened #4748 "[RELAY] Support RelayBuild with Only Constants"
The below reduced test-case shows segmentation fault in TVM compiler stack at the optimization level 2 and above. The problem is in call to 'lib.get_source()', as constant folding optimizes away whole graph and lib object becomes NULL.

    import tvm
    from tvm import relay
    from tvm.contrib import graph_runtime
    import numpy as np

    data_shape = (2, 2)
    matrix_x = relay.var('matrix

[2020-01-20 16:40] pyalex commented on #4508
Problem solved! Thanks

[2020-01-20 16:40] #4508 closed

[2020-01-20 17:28] tqchen commented on #4748
Please open a new trouble shooting thread on https://discuss.tvm.ai/

[2020-01-20 17:29] tqchen commented on #4748
cc @zhiics @jroesch

[2020-01-20 19:04] zhiics commented on #4748
I saw this before as well. We actually had a warning in the C++ code when the returned module is empty.
https://github.com/apache/incubator-tvm/blob/ee0af843f3c5a3429e888079afb5f30789bd9bee/src/relay/backend/build_module.cc#L479-L480

In order to avoid the erroneously working on the empty module, we can probably assert here:
https://github.com/apache/incubator-tvm/blob/ee0af843f3c5a3429e888079afb5

[2020-01-21 05:12] geekboood opened #4754 "autotvm extract tasks from BERT model cause segmentation fault"
Hi, I try to tune the matmul op in BERT model, but I encountered segmentation fault when I run the following line
`tasks = autotvm.task.extract_from_program(sym["main"], target=target, params=params, ops=(relay.op.nn.batch_matmul,))`
And using gdb it shows following message

[code]

[2020-01-21 05:30] tqchen commented on #4754
Thanks for reporting the problem, Please open a new trouble shooting thread on https://discuss.tvm.ai/:)

[2020-01-21 05:30] #4754 closed

[2020-01-21 05:37] geekboood commented on #4754
@tqchen OK, I have posted it on the forum.

[2020-01-21 06:15] llhuii opened #4755 "Can’t pull the docker image `tvmai/demo-gpu`"
When I run the command `tvm/docker/bash.sh tvmai/demo-gpu` or `docker pull tvmai/demo-gpu`, get the error message
`unauthorized: authentication required`.
 It's ok for the command `tvm/docker/bash.sh tvmai/demo-cpu`

[2020-01-21 13:11] ZihengJiang opened #4757 "[RFC] Learning-based Automated Quantization"
# Learning-based Automated Quantization

Note: See the [post](https://discuss.tvm.ai/t/rfc-search-based-automated-quantization/5483) on TVM Discuss Forum for more discussion.

## Background

One year before, I have implemented a quantization workflow in tvm: [issue](https://github.com/apache/incubator-tvm/issues/2259), [pull](https://github.com/apache/incubator-tvm/pull/2116). Brought the idea fro

[2020-01-21 17:57] abergeron opened #4758 "[relay] PrimitiveInliner doesn't correctly handle match expressions that have more than one use"
I have this sample program:

[code]

The module looks like this before compiling:

[code]

And I get this error during compilation with kind="vm", but it works correctly for kind="debug":

[code]

The only thing I can notice is that something duplicated the match in the else branch and this probably makes the code not well formed.  I traced the WellFormed Error and it comes from %v.  I may be wron

[2020-01-21 18:29] tqchen commented on #4755
I confirmed that it works on my machine, and the latest tag exists. Please feel free to open a new trouble shooting thread on https://discuss.tvm.ai/, unfortunately we cannot have enough info to act on this. Another possible way would be to try to set a specific tag on the repo.

[2020-01-21 18:29] #4755 closed

[2020-01-21 18:35] tqchen commented on #4648
NOTE: as of now, we have updated the names in the ir namespace to conform to the standard.

We still need to update names in the
- [ ] relay namespace
- [ ] tir namespace once we start to add new nodes

@jroesch  @slyubomirsky @MarisaKirisame please let me know if you are interested in help doing that

[2020-01-22 01:00] tqchen opened #4764 "[CI] ci-gpu update blockers"
Background, we have been trying to update the CI with the latest changes:

There is a failure failure occurs when running the test on the latest CI image with mxnet-mkl==1.5.1,

This was one of blockers blocker for upgrading the ci image, see
http://ci.tvm.ai:8080/job/temp-ci-docker-staging/job/ci-stage/14/execution/node/288/log/

We will need to fix the test before upgrading the CI image. the doc

[2020-01-22 01:05] tqchen commented on #4764
cc @icemelon9 @kevinthesun

[2020-01-22 01:32] llhuii commented on #4755
Sorry, here are the more details that may help:
I run in ubuntu-16.04 and docker ce 19.03.1 behinds the proxy.
I have tried many times, same error appears, below is the info I build the image manually.
[code]

[2020-01-22 04:58] llhuii commented on #4755
the log of dockerd:
`
Jan 22 12:08:41 ubuntu dockerd[20804]: time="2020-01-22T12:08:41.386491498+08:00" level=debug msg="Applied tar sha256:bd0803b37ff4777a1f42be7c160ff571e2eaf24cc646b3bfd8b201687b7ac1b2 to 0fb01e64e303a580fd027afbe7b665b89dd6cf63f6802d350e2f69a8b5ae10ed, size: 1115"
Jan 22 12:09:04 ubuntu dockerd[20804]: time="2020-01-22T12:09:04.754850355+08:00" level=debug msg="Downloaded 24d5

[2020-01-22 09:09] llhuii commented on #4755
So I switch to build it manually, and I got the error
[code]

[2020-01-22 16:45] shoubhik commented on #4764
Might be a little busy today. But will surely get to it tomorrow.

[2020-01-22 16:46] shoubhik commented on #4764
Might be a littlebusy today, will defenitely look at it tomorrow.

[2020-01-23 00:28] icemelon9 commented on #4764
I'll take a look at the MXNet test error.

[2020-01-26 02:34] caoqichun opened #4777 "I want get graph_json from tvm.relay.from_tensorflow(), but I donnot install LLVM. What i can do?"
mod, params = relay.frontend.from_tensorflow(graph_def,   layout=layout,  shape=shape_dict)
target = 'c'
target_host = 'c'
with relay.build_config(opt_level=3):
    graph_json, lib, params = relay.build(mod,  target=target,  target_host=target_host, params=params)

but I get "TVMError:  cannot convert type float32x512 to c type", I only want to get graph_json.

[2020-01-26 02:40] tqchen commented on #4777
Thanks for reporting the problem, please open a new trouble shooting thread on https://discuss.tvm.ai/

[2020-01-26 02:40] #4777 closed

[2020-01-27 10:41] hcho3 commented on #4412
I've had a similar problem before, and the solution is to run `python setup.py install` from `topi/python` directory. This command installs the Python package named `topi`.

[2020-01-27 19:42] abergeron commented on #4758
After some experimentation, if I comment out InlinePrimitives at line 921 in compiler.cc (https://github.com/apache/incubator-tvm/blob/master/src/relay/backend/vm/compiler.cc#L921), then the compilation works.  It seems this is the line that introduces the weird change.

If I add an override like this:

[code]

to the PrimitiveInliner class (in https://github.com/apache/incubator-tvm/blob/master/s

[2020-01-27 22:14] #4150 closed

[2020-01-29 05:35] shoubhik commented on #4764
A question for debugging this, it seems we need to run this on a g4 instance - http://ci.tvm.ai:8080/label/GPU/. What all software I need to install on g4 to run this script?

[2020-01-29 06:06] shoubhik commented on #4764
@tqchen and @icemelon9 in the meanwhile can we have this workaround to unblock the testing of mxnet qnn parser logic

[code]

[2020-01-30 01:51] icemelon9 commented on #4764
@shoubhik @tqchen
I found out that mxnet-mkl RNN layer has some bug. If we use mxnet, the rnn layer test can pass. But if we install mxnet-mkl, even for 1.5.0, the mxnet result is wrong.

[2020-01-30 03:23] shoubhik commented on #4764
@tqchen, in that case, can we create a new docker instance specifically for testing the qnn parser?

[2020-01-30 15:38] expectopatronm commented on #1027
I get the exact same issue.

jetson@jetson:~/fast-depth/deploy$ python3 tx2_run_tvm.py --input-fp data/rgb.npy --output-fp data/pred.npy --model-dir ../results/tvm_compiled/tx2_gpu_mobilenet_nnconv5dw_skipadd_pruned/ --cuda True
=> [TVM on TX2] using model files in ../results/tvm_compiled/tx2_gpu_mobilenet_nnconv5dw_skipadd_pruned/
=> [TVM on TX2] loading model lib and ptx
=> [TVM on TX2] loading

[2020-01-30 17:33] abergeron commented on #4758
Fixed by #4783

[2020-01-30 17:33] #4758 closed

[2020-01-30 23:29] gussmith23 commented on #4568
I've been trying to get a GNMT model importing into Relay. The ONNX route seems the most pain-free; however, this is a blocking issue!

[2020-01-31 02:48] tqchen commented on #4764
given that the mkl part poses accuracy problem, i feel it might be a bad idea to rely on it for testing QNN(see also comment about intel dependency). would be great if we can explore generic alternatives that can test QNN. For the parser part, I think we can start by directly checking alpha equivalence of the graph as well as potentially the comparison to a simulated FP32 version.

[2020-01-31 05:47] icemelon9 commented on #4764
One work around is that we can use the latest build of mxnet-mkl, which has fixed the problem.
[code]
See https://github.com/apache/incubator-mxnet/issues/17479

[2020-02-02 06:50] Coderx7 commented on #754
@prob1995 may I ask, how you compiled LLVM? after downloading the source, what sets of commands did you use? I'd greatly appreciate

[2020-02-02 08:33] Coderx7 opened #4802 "Building tvm using llvm on windows 10 fails (ninja: build stopped: subcommand failed.)"
Hi and thank  you for this great project.
Last night I tried installing `tvm `using `Visual Studio 16 2019` without a hitch and everything went smoothly. but since it seems, tvm needs llvm to work properly ( at least in my case as pointed out [here](https://discuss.tvm.ai/t/tvmerror-check-failed-bf-nullptr-target-llvm-is-not-enabled/5561)), I decided to build `tvm` with `LLVM ON`.
I followed the i

[2020-02-02 18:57] #4670 closed

[2020-02-02 23:28] shoubhik commented on #4764
+ @anijain2305
@tqchen most of the code for mxnet qnn has been tested for MKLDNN. Some of the formulas used for quantization, dequantization and convolutions used my the reference Mxnet implementations(fake quantization) is not fully and thorougly tested. Also some of the optimizations available in MKLDNN are not implemented in the stock implementaion. So, my suggestion to unblock this PR would be

[2020-02-03 03:08] tqchen commented on #4802
please open a new post in the discuss forum https://discuss.tvm.ai/ We do not support GCC, you will need to build LLVM from source in windows

[2020-02-03 03:08] #4802 closed

[2020-02-03 04:01] Coderx7 commented on #4802
@tqchen Thanks a lot I removed the GCC from PATH and it detected clang/llvm. however it fails again using llvm built from source code as well . here is the log :
[code]

[2020-02-03 21:32] tqchen commented on #4764
OK, seems the conclusion so far is not to use the MKL DNN version. If we confirm that is the case, I we can go ahead and just update the pytorch and onnx rt cc @masahi can you reflect your PR to do that?

[2020-02-03 22:27] soichih commented on #4061
I tried tensorflow 1.13.1 and 1.14.0 but I am still seeing this error message. Is this an issue specific to Geforce RTX 2080?

[2020-02-03 23:18] tom-gall opened #4808 "relay.build fails with NHWC not supported using OpenCL on intel"
Hi!

New to TVM yet, so pointers to the fine manual are certainly much appreciated.

I'm trying to use OpenCL on intel. x86_64 linux.

Failure reported is :
File "./testmobilenet-opencl.py", line 43, in
graph, lib, params = relay.build(mod, target, target_host, params=params)

File "/home/tgall/tvm/tvm/python/tvm/relay/build_module.py", line 244, in build
graph_json, mod, params = bld_mod.build(fu

[2020-02-04 02:54] tqchen commented on #4808
Thannks for reporting the problem, please open a new troubleshooting thread on https://discuss.tvm.ai/

[2020-02-04 02:54] #4808 closed

[2020-02-04 09:53] ghostplant opened #4810 "`tvm.tensor.HybridOp` doesn't have reduce_axis"
Is hyrbid script supporting the schedule of its reduce_axis?

[2020-02-04 17:25] tqchen commented on #4810
Please open a new thread on the discuss forum https://discuss.tvm.ai/ I guess the current answer to the question is no. However, we can improve the new ir to support more such features in hybrid script

[2020-02-04 17:25] #4810 closed

[2020-02-04 19:27] tqchen opened #4812 "[RFC] TVM Python Project Organization after Unified IR"
This RFC summarizes discussion in https://discuss.tvm.ai/t/tvm-python-project-organization-after-unified-ir/5383

We will perform the following changes to the python project.

##  Introduce Namespaces to Reflect the C++ folder structure

- _ffi FFI related logics
- runtime runtime data structures and APIs
   - We should be able to run TVM runtime by only taking _ffi and runtime folder
- relay
- ti

[2020-02-04 23:41] #4764 closed

[2020-02-05 06:18] Coderx7 opened #4819 "AttributeError: module 'os' has no attribute 'setsid'"
Under windows,trying to run the example : [Auto-tuning a convolutional network for x86 CPU](https://docs.tvm.ai/tutorials/autotvm/tune_relay_x86.html#sphx-glr-tutorials-autotvm-tune-relay-x86-py) this error occurs.
the error occurs in the last cell :
[code]

Error :

[code]

[2020-02-05 07:49] Coderx7 opened #4821 "[WINDOWS][AutoTVM] OSError: [WinError 10048] Only one usage of each socket address (protocol/network address/port) is normally permitted and OSError: [WinError 10049] The requested address is not valid in its context"
This issue is a followup to the #4819, After applying the #4820 changes, Under windows, trying to run the example : [Auto-tuning a convolutional network for x86 CPU](https://docs.tvm.ai/tutorials/autotvm/tune_relay_x86.html#sphx-glr-tutorials-autotvm-tune-relay-x86-py) this error occurs.
the error occurs in the last cell :
[code]

Error :

[code]
Compilmentary info:
**OS**: Windows 10 build 1803
*

[2020-02-05 10:11] Coderx7 commented on #4676
I recently successfully built LLVM on windows. I documented everything https://discuss.tvm.ai/t/tvm-wont-compile-using-llvm-on-windows/5572
The last post contains the final solution. hope that helps
cheers

[2020-02-05 19:31] #4819 closed

[2020-02-05 19:31] tqchen commented on #4819
Thanks @Coderx7

[2020-02-05 22:17] u99127 opened #4823 "Improve tflite testing for quantized conv2d."
@anijain2305 , @inadob

While we have tests for qnn.conv2d at the relay level, the recent issue with padding highlighted by the pull request #4807 has highlighted the need for better unit tests for quantized conv2d in the tflite frontend. One of the reasons that we hit this issue in the tflite frontend is that the relay unit tests for qnn.conv2d considered an implicit padding while the tflite fron

[2020-02-05 22:22] anijain2305 commented on #4823
Thanks @u99127 for raising this. I will work in coming weeks to get the unit coverage better.

@FrozenGene might also be interested in this.

[2020-02-05 22:25] u99127 opened #4824 "Tflite frontend needs to use zero point of input tensor while lowering qnn.conv2d for padding"
The Tflite frontend ignores the zero point for input tensors when creating a separate pad operation while lowering quantized convolutions.

This is fixed by PR #4807 and the tests broken by that are fixed #4816

This also affects the 0.6 branch since the support for this landed before the 0.6 release was cut and the fix might need to be backported to the 0.6 branch.

[2020-02-06 00:05] tqchen commented on #4821
Given that we do not have a clearly actionable item atm, I would recommend to bring a trouble shooting thread on https://discuss.tvm.ai/ instead. Feel free to open new thread after we have something that is actionable

[2020-02-06 06:11] FrozenGene commented on #4824
Nice suggestion! We won't do similar things before. For some critical patches, we should port it back to our previous releases (like 0.6 mentioned here). I come up with two suggestions:

1.  make one new release named as `0.6 SP1 / SP2 / SP3 /...`, SP means service pack, the inspiration comes from Microsoft's release concept. Like Visual Studio SP1 / SP2 / SP3.

2. make one new release named as `0

[2020-02-06 08:56] uday60 opened #4830 "libnnvm_compiler.so file missing | Commands inside"
[code]

Steps Followed:

[code]

[2020-02-06 10:23] GuoliangLiCN opened #4831 "[Relay][FrontEnd][MxNet] incorrect data_min_idx and data_max_idx in _qnn_conv"
In the lines 1409-1413 of file python/tvm/relay/frontend/mxnet.py, are there typos when has_sum is False?

Should data_min_idx be -2 and data_max_idx be -1 according to lines 467-474 of https://github.com/apache/incubator-mxnet/blob/master/src/operator/subgraph/mkldnn/mkldnn_conv.cc

[2020-02-06 17:39] tqchen commented on #4824
Let us mark the related PRs with [NEED-BACKPORT] tag, and then we can backport to the related branches

[2020-02-07 01:40] tqchen commented on #4830
please open a new thread on https://discuss.tvm.ai libnnvm_compiler is deprecated and is no longer needed in the current release cycle

[2020-02-07 01:40] #4830 closed

[2020-02-07 02:12] #4444 closed

[2020-02-07 02:12] tqchen commented on #4444
#4836

[2020-02-07 12:14] jikechao opened #4839 "Nvcc fatal : Value ‘sm_75’ is not defined for option ‘gpu-architecture’"
Nvcc fatal : Value ‘sm_75’ is not defined for option ‘gpu-architecture’

[2020-02-07 14:03] uday60 commented on #4830
@tqchen
I have been using an earlier version of TVM. Now things have changed the following script is giving me a segmentation fault. I have already raised the issue here but no replies.
https://discuss.tvm.ai/t/conversion-script-terminate-called-after-throwing-an-instance-of-std-bad-alloc/5601

[code]

[2020-02-07 14:26] jikechao commented on #4764
got it.

[2020-02-07 19:31] tqchen commented on #4839
Please open a new thread on https://discuss.tvm.ai/ for related questions. In your case, it is due to too low version of your cuda

[2020-02-07 19:31] #4839 closed

[2020-02-07 21:01] videetparekh opened #4843 "Emscripten Runtime Error while linking"
I'm trying to get the following tutorial (https://github.com/apache/incubator-tvm/tree/master/web) up and running within a Docker container. I'm using a pre-installed version of TVM, installing Emscripten(clang-tag-e1.38.30_32bit) and patching the two through TVM's config.

I'm able to generate the `test_add_one.bc` file, but the linking fails at Runtime with the following error:
[code]

I believe

[2020-02-07 23:31] u99127 commented on #4824
@tqchen , @FrozenGene

[NEED-BACKPORT-0.6] ? since there's no way of reporting what issues affect what versions in github issues ?

This is probably worth a discuss post, however I'll say my piece here in response to the comment about point releases.

Releasing from a release branch is the next step in my opinion. The first set of steps towards this are to:

1. Be reasonably clear about the criter

[2020-02-07 23:37] tqchen commented on #4824
@u99127 perhaps we can open a discuss thread on the forum. I agree with most of your points :)

[2020-02-08 00:50] u99127 commented on #4824
Done https://discuss.tvm.ai/t/development-process-and-backporting-patches-to-release-branches/5612

[2020-02-08 12:00] kumasento commented on #4748
Hi @zhiics @tqchen I'm interested in this issue and would be happy to help.

From a user's perspective, we would normally expect that `relay.build` returns an empty `lib`. An empty `lib` can be `NULL`/`None`, but it may cause confusion like this issue. As @zhiics mentioned, using assertion may raise unexpected issues for end users as well.

One workaround for this problem, which I'm currently impl

[2020-02-08 13:26] Coderx7 commented on #4821
@tqchen: what do you mean by not having any actionable item? do you mean windows build is not the priority or you do not plan on focusing on fixing such issues?
In any case, imho, it would not help much to close this issue, when its not fixed as we may lose track of the issues that still exist.
I propsed a pr to fix one of the problems in this issue and I'll be fixing others (or at least try to) a

[2020-02-08 19:07] tqchen commented on #4821
sure, we usually encourage everyone to open new thread on https://discuss.tvm.ai/ where the community work collectively to resolve the problems, once we have a clear plan to act on what can be fixed, then we start to quickly resolve the problem. Note that there is not really too much difference between the forum and the issue thread. The only thing is that we want to be able to keep all the issues

[2020-02-08 19:08] tqchen commented on #4843
This thread perhaps duplicates https://github.com/apache/incubator-tvm/issues/4843 unfortunately, we do not yet have any effort on recovering the emcc support, please chime in that thread if you are interested.

[2020-02-08 19:08] #4843 closed

[2020-02-08 19:12] tqchen commented on #4748
I agree with @zhiics that allowing feeding an empty Module to GraphRT makes more sense here.
In parallel, I am also OK supporting a dummy function to get around with most of the issues we have. There are certain cases where we still want to serialize the module binary blob as so, but there aren't any host functions.

also cc @FrozenGene @yzhliu

[2020-02-08 19:29] tqchen opened #4845 "[DEV] TVM v0.7 Roadmap"
This roadmap for TVM v0.7. TVM is a community-driven project and we love your feedback and proposals on where we should be heading. Please open up discussion in the discussion forum as well as bring RFCs.

- Feel free to volunteer yourself if you are interested in trying out some items(they do not have to be on the list).
- Please also check out the [help wanted](https://github.com/apache/incubato

[2020-02-08 19:52] tqchen commented on #4009
@masahi shall we close this issue as we have initial set of ops and open more specific ones?

[2020-02-08 19:52] #4487 closed

[2020-02-08 19:53] tqchen commented on #4487
https://github.com/apache/incubator-tvm/pull/4684

[2020-02-08 19:54] tqchen commented on #3544
https://github.com/apache/incubator-tvm/pull/4825

[2020-02-08 19:54] #3544 closed

[2020-02-08 19:54] #3247 closed

[2020-02-08 19:55] tqchen commented on #3247
close for now, the testcases has been improving and it would be good to open new smaller items that are actionable

[2020-02-08 19:56] tqchen commented on #3060
close for now. We already land custom datatype support in the mainline

[2020-02-08 19:56] #3060 closed

[2020-02-08 19:56] tqchen commented on #2682
close by https://github.com/apache/incubator-tvm/pull/4511

[2020-02-08 19:56] #2682 closed

[2020-02-08 19:58] #4203 closed

[2020-02-08 19:58] tqchen commented on #4203
clsoe by #4598

[2020-02-08 19:58] #3414 closed

[2020-02-08 19:59] tqchen commented on #3414
close by #3634

[2020-02-08 19:59] tqchen commented on #2631
close due to inactive status

[2020-02-08 19:59] #2631 closed

[2020-02-08 20:00] #3946 closed

[2020-02-08 20:00] tqchen commented on #3946
https://github.com/apache/incubator-tvm/pull/3947

[2020-02-08 20:03] tqchen commented on #4640
https://github.com/apache/incubator-tvm/pull/4846

[2020-02-08 20:07] tqchen commented on #1363
Summary of the current status of static destructors:

- The external FUNCTOR registration problem has been resolved as we move to register function pointer instead of std::function
- We have decided to not destruct most of the resources(function pointers) in the singletons, to avoid destruction order problem
- We have not resolved the order dependencies of DeviceAPI, the current recommendation is

[2020-02-08 20:07] #1363 closed

[2020-02-08 20:08] #4291 closed

[2020-02-08 20:09] tqchen commented on #3670
@yzhliu please update the status of this issue

[2020-02-08 20:12] tqchen commented on #3445
Close for now, as the the test scripts terminates correctly in the latest version on ubuntu machines, feel free to reopen

[2020-02-08 20:12] #3445 closed

[2020-02-08 20:28] masahi commented on #4845
We will have a good support for pytorch including dynamic and quantized models. I have a series of PRs coming.

[2020-02-08 20:35] masahi commented on #4009
@optima2005 it would be interesting to add test cases on translating 3d network end to end. I think tf frontend is ready for this.

[2020-02-08 20:35] #4009 closed

[2020-02-08 20:51] kumasento commented on #4748
Thanks @tqchen , I've proposed a tentative implementation of this dummy function idea #4847. The script in this issue can be built successively now.

`lib.get_source()` output:

[code]

[2020-02-08 21:08] zhiics commented on #4748
Not sure if we want to use LLVM in this case as it will be treated as the host module when exporting. I even think it is just okay to leave it as it is because it means we just return a null pointer when returning an empty module, which is a valid return. Considering `mod` is is essentially a shared pointer, the failure/crash in dereference sounds good to me.

[2020-02-08 22:05] #4640 closed

[2020-02-09 01:35] MarisaKirisame commented on #2755
@tqchen I will do it, aint that hard.

[2020-02-09 01:35] MarisaKirisame commented on #2755
ooh, I know, there's a UW undergrad who want to work on relay. I will leave this to him.

[2020-02-09 08:22] optima2005 commented on #4009
@masahi Sorry, I have been busy at some other things recently.  I'd like to be back if I could have more free time again. Thanks!

[2020-02-09 14:33] FrozenGene commented on #4748
IMO, I agree with @zhiics 's point here.

Should be `target_host_`. `llvm` just means x86 cpu.

[2020-02-10 10:09] Coderx7 commented on #4845
Could you also add support for intel graphics as well. it seems it is not supported at the moment!

[2020-02-10 13:30] etom42 commented on #4845
External codegen integration with uTVM is highly interesting for us at CEVA.
We are looking at compiling networks using TVM and generating code with our implementation of codegen and then executing on CEVA hardware via uTVM.
The goal (beside getting it done) is to share via TVM github repo.

[2020-02-10 17:54] tqchen commented on #4845
@Coderx7 as far as i know, intel graphics is already supported for a limited setting by @Laurawly . @etom42 it would be great if you can start a RFC thread in the discus forum to keep the community aware of what you are working on -- it also brings chance for collaboration and give suggestions :)

[2020-02-10 19:36] tqchen opened #4854 "[REFACTOR] Move python vm runtime into runtime/vm.py"
as https://github.com/apache/incubator-tvm/pull/4818 we are moving to put the core runtime related modules in python to the runtime folder.

We will need to do the same thing for relay related codes, in particular:
- vm.py perhaps need to goto the runtime folder
- Data structures (e.g. ADT) goes to runtime/container.py

[2020-02-10 19:36] tqchen commented on #4854
cc @zhiics @wweic please see if you are interested

[2020-02-10 19:38] zhiics commented on #4854
Yeah, I just noticed this a few days ago. Will take a stab on it.

[2020-02-10 21:26] zhiics commented on #4854
#4855

[2020-02-10 22:18] tqchen commented on #4748
I would also like to comment about the future direction here.

In our vision, eventually everything will be stored in an IRModule, and it would be fine to create an empty IRModule and export it. We could also in-theory create an EmptyRuntimeModule, or use CSourceModule(with no content) as an empty module.

[2020-02-11 02:02] KindleHe opened #4858 "Error in Build NNPACK @mbp"
There might be some error in `Build NNPACK` when running in macbook pro.
[code]
when running `sed .......`, get error :
[code]
I found that there is no `gnu99` and `gnu++11` in  `CmakeLists.txt`,
Could you give some advices, thanks very much!

[2020-02-11 04:14] tqchen opened #4860 "[TEST][FLAKY] topi/tests/python/test_topi_sort.py::test_argsort"
https://ci.tvm.ai/blue/rest/organizations/jenkins/pipelines/tvm/branches/PR-4856/runs/2/nodes/245/log/?start=0

Likely due to a tie, need to find a way to make sure the results are apart, perhaps by having a sorted array then shuffle it.

[2020-02-11 16:49] tqchen commented on #4858
Please open a new trouble shooting thread on https://discuss.tvm.ai/ note that NNPack is completely optional, and you do not have to build with NNPack enabled

[2020-02-11 16:54] #4858 closed

[2020-02-11 19:38] yzhliu commented on #3670
@tqchen I have limited progress at this moment. might be able to revisit in a month or so.

[2020-02-11 20:04] tqchen commented on #3670
no problem, just to check to see if the issue can be closed

[2020-02-11 20:17] #4854 closed

[2020-02-11 21:50] kumasento commented on #4748
Thank you @zhiics @FrozenGene @tqchen I've changed the current implementation to use `CSourceModule`. It does not cost much and users can still get the benefit of avoiding unexpected halt.

[2020-02-12 16:24] yangjunpro commented on #4845
Is there any plan to integrate TVM as a dialect into MLIR?
So other components based on MLIR can leverage the capability of TVM, such as high performance codegen,  and fusion, etc.

[2020-02-12 16:27] tqchen commented on #4845
@yangjunpro Perhaps it worth to start a new thread in the discuss forum to discuss MLIR related topics. We certainly would love some proposals about interpolation between MLIR and TVM.

[2020-02-13 16:10] vizero1 opened #4875 "Use opencv function for resize"
Hi,

I was working on this tutorial https://docs.tvm.ai/tutorials/frontend/from_darknet.html#sphx-glr-tutorials-frontend-from-darknet-py and it seems that the preprocessing of the image takes several seconds.
I did a few tests and most of the time is spend on this function in tvm/relay/testing/darknet.py

[code]

Is there any specific reason why the script is not using the opencv.resize function a

[2020-02-13 17:29] tqchen commented on #4875
A PR is more than welcomed

[2020-02-14 16:04] KindleHe opened #4884 "[android_deploy] CRASH caused by `Module.load` func while running App on Android Device with"
I install the apk in vivo X6S A, according to the [Android TVM Demo](https://github.com/apache/incubator-tvm/tree/master/apps/android_deploy)

vivo X6S A is arm64-v8a with android-22, so I modify config.mk as following:
[code]

However, I run app in device, the app crash immediately, so I add some lines for debug:
[code]

Then, I use `adb logcat -b main -v time>app.log` command to capture crash on

[2020-02-14 16:24] tqchen commented on #4884
Can you see if https://github.com/apache/incubator-tvm/pull/4871 resolved your problem, please make sure to rebuild the app along with the java source

[2020-02-15 06:59] yongfeng-nv opened #4890 "LoopVectorizer depends on ifthenelse"
My PR (https://github.com/apache/incubator-tvm/pull/4885) is blocked by a test failure (https://ci.tvm.ai/blue/organizations/jenkins/tvm/detail/PR-4885/1/pipeline).
The bug can be reproduced without my change.  Pick this commit (https://github.com/yongfeng-nv/incubator-tvm/commit/42cef28c3161354cdac66a09e6382b220b7ac383) and run tests/python/relay/test_op_level4.py to reproduce the failure.

The o

[2020-02-17 09:40] masahi commented on #4821
AutoTVM doesn't work on Win at the moment, @jmorrill  is working on it. See #4548

[2020-02-17 10:19] KindleHe commented on #4884
Thanks for your quick reply!

As you said in [[REFACTOR][PY][API-Change] Polish tvm.runtime, tvm.runtime.module API update](https://github.com/apache/incubator-tvm/pull/4837#issue-372188411)
[code]
However, the [tvm.module related codes](https://github.com/apache/incubator-tvm/blob/1dcf8a16ee3a93dff5ffc1ad1a66892eda03ef13/apps/android_deploy/app/src/main/java/org/apache/tvm/android/demo/MainActivi

[2020-02-17 13:30] KindleHe commented on #4884
@tqchen Yes!  I find the answer finally! Your answer is right!

TVM4J is Java Frontend for TVM Runtime, and the CRASH occurs at calling Module.load func.

As [#4871](https://github.com/apache/incubator-tvm/pull/4871) said, runtime PackedFunc is changed at this commit. Namely, the corresponding Java interface for TVM runtime changed.

So, even I synced my branch with remote master newest branch and

[2020-02-17 13:30] #4884 closed

[2020-02-17 17:21] tqchen commented on #4884
Glad that the problem is resolved. For future trouble shooting questions, you are more than welcomed to open new threads on https://discuss.tvm.ai/

[2020-02-18 19:54] tqchen opened #4908 "[DOCS] Fix Sphinx Warnings"
While the docs builds just fine in the CI. There are a bunch of warnings being generated. Se the logs in http://ci.tvm.ai:8080/job/tvm/job/master/458/execution/node/304/log/ for example

We do not need to fix all the categories(e.g. the warning about image scale can simply be ignored), but some other warnings may affect the result of rendered document(in the case of bad format of embedded rst).

T

[2020-02-18 21:01] MarisaKirisame opened #4909 "[RFC][Relay] Change the name of filter to select."
A few days ago I was looking at the Relay prelude, and I found the following function definition:
[code]
The name "filter" doesnt signal whether it filter in (accepting value in the predicate) (select) or filter out (rejecting value in the predicate) (reject). While this is a common functional programming convention that filter mean "filter in (select)", a lot of ppl in tvm are not familiar with t

[2020-02-18 21:45] comaniac commented on #4908
Improving documentation process is definitely important. I can be one of the helpers.

[2020-02-19 02:06] cchung100m commented on #4908
I am interested in Improving documentation, too. I can be one of the helpers.

[2020-02-19 02:34] tqchen commented on #4908
Thanks @comaniac @cchung100m How about each of you try to work on one of the error type, and send PRs. We can coorindate in this thread

[2020-02-19 02:35] tqchen commented on #4909
select can also be ambiguis. In many places, select means  the conditional expression `select(cond, true_value, false_value)`, if filter is a well defined term, perhaps we can keep the original name.

[2020-02-19 03:07] feixuedudiao opened #4911 "how the file of "module.loadfile_clbin" produce and use it with opencl"
i'm using tvm on pc with opencl, i find that it use the file "module.loadfile_cl"  is called int tvm,but how to use the another file of "module.loadfile_clbin". The file of "module.loadfile_clbin" how is genreated, is not known, i find this problem is rarely asked and ansered online.

[2020-02-19 09:38] liangfu commented on #4845
I wonder is there any active effort working on the feature "Auto tensorization", and I'm interested in contributing.

[2020-02-19 11:55] Robeast opened #4914 "[FRONTEND] Tensorflow Op: Resampler, SparseReshape, Atan2, SparseTensorDenseMatMul"
Hello there,

I'm currently working on an in-house network and I encountered some unsupported Tensorflow operators when importing to TVM:

[code]
Is there any plan for implementing these / any of these operators in TVM? Support is highly appreciated! Thank you!

[2020-02-19 18:59] tqchen commented on #4911
Please open a new question thread on https://discuss.tvm.ai/

[2020-02-19 18:59] #4911 closed

[2020-02-19 19:17] tqchen commented on #4845
@liangfu  auto tensorization depends on on the new IR update, we will send out specific guidelines after we finish the IR refactoring

[2020-02-19 19:25] videetparekh commented on #4843
Hi Tianqi,
Not sure which thread you're referring to. I've managed to compile a Mobilenet TensorFlow model down through TVM to `.wasm` and `.js` files (the JS file being a wrapper over the `wasm`). This includes `SIMD` instructions, using vanilla upstream LLVM. I'd be happy to share details on how to get there, hopefully it'll add value to someone out there.

I'm struggling now with the `tvm_runti

[2020-02-19 19:46] comaniac commented on #4908
I could make a PR to fix the indent and format related warnings.

[2020-02-19 22:56] were commented on #4845
I am currently working on some end-to-end model stuff, and Relay's optimization pass are too slow. Any plans on improving the compilation speed?

[2020-02-20 10:43] CoinCheung opened #4918 "Please add support for ATen operator of onnx"
I export an onnx model from pytorch, and after running the command:
[code]
I met the error message of:

 File "/root/build/tvm/python/tvm/relay/frontend/onnx.py", line 1863, in from_onnx
    mod, params = g.from_onnx(graph, opset)

  File "/root/build/tvm/python/tvm/relay/frontend/onnx.py", line 1666, in from_onnx
    raise tvm.error.OpNotImplemented(msg)

tvm.error.OpNotImplemented: The following

[2020-02-20 14:49] cchung100m commented on #4908
Hi all,

I would go to check the target-related warnings, for example:

`/tvm/docs/tutorials/autotvm/tune_relay_x86.rst:34: WARNING: 'any' reference target not found: relay.testing.resnett`

[2020-02-20 17:00] comaniac commented on #4908
FYI: I fixed some of them in the Python doc strings by changing them to `:py:class`.

[2020-02-20 18:21] yongfeng-nv commented on #4890
https://github.com/apache/incubator-tvm/pull/4916 fixed this issue.  Close it now.

[2020-02-20 18:21] #4890 closed

[2020-02-20 19:23] comaniac commented on #4908
@cchung100m I supposed you will also cover the Unknown target warning, such as `Unknown target name: src/relay/pass`. Am I understanding correctly?

[2020-02-20 23:18] masahi commented on #4918
This is a pytorch specific op that is not part of the official ONNX spec. This is out of scope for our onnx frontend. Try our upcoming PyTorch frontend #4497 when it lands. But translating detection models is hard, so do not expect it would work out of the box.

[2020-02-20 23:18] #4918 closed

[2020-02-21 04:44] tqchen commented on #4843
Sorry, the corresponding thread is here https://github.com/apache/incubator-tvm/issues/2425

[2020-02-21 11:14] vizero1 commented on #4875
PR is here:
https://github.com/apache/incubator-tvm/pull/4883

[2020-02-21 14:07] DaniDeniz commented on #4914
Hello,
I also found when trying to import a model from Tensorflow to TVM that the operator AddV2 is unsupported.

`NotImplementedError: The following operators are not implemented: {'AddV2'}`

Is there any plan to implement it as well?
Thank you!

[2020-02-22 04:47] cchung100m commented on #4908
@comaniac

  Thanks for the notification. I would work on it, too.

[2020-02-22 09:22] gary30404 commented on #4262
any update with `tf.tile`

[2020-02-24 08:44] laekov opened #4929 "[Reduction] Lower bound of reduce_axis cannot be expr.Var"
I am trying to reduce elements in some certain area of a tensor.

I found that the lower bound of the `reduce_axis` within an function passed to `tvm.compute` cannot be the loop vars given as arguments of the function.

A minimum reproducing script is shown below.
[code]

The error message is
[code]

There will be no problem if the axis is changed to `(0, n - i)`.

Wondering if this is a bug or a

[2020-02-25 03:55] #4875 closed

[2020-02-25 21:33] kamathhrishi opened #4940 "Build issues"
I tried to install TVM with SGX support. When building using CMake the versions seem fine.

This was on Ubuntu 18.04.

[code]

Further

[code]

Any idea how to resolve it?

[2020-02-25 21:34] kamathhrishi commented on #4940
Further

[code]

[2020-02-26 01:33] jroesch commented on #4845
Can you identify why they are slow? For example switching some passes to the new iterative graph visitor might improve speed quite a bit. In previous profiling attempts I have found a significant amount of time is spent allocating, having a pooling allocator can often improve speeds quite a bit.

[2020-02-26 02:01] tqchen commented on #4648
Update, the TIR namespace is already updated. but we have yet updated all nodes in the relay namespace

[2020-02-26 04:36] tqchen commented on #4940
Please open a new trouble shooting thread on https://discuss.tvm.ai/

[2020-02-26 04:36] #4940 closed

[2020-02-26 09:24] leandron opened #4946 "[CI][Docker] ubuntu_install_sgx.sh breaks when trying to download patch file"
`ubuntu_install_sgx.sh` points to a patch file on a GitHub gist, which now seems to be removed. This makes the process of rebuilding the Docker images that invoke `ubuntu_install_sgx.sh` to crash.

This is the relevant line:
https://github.com/apache/incubator-tvm/blob/588523ddb6e938637d96745bcce145375307247f/docker/install/ubuntu_install_sgx.sh#L40

The repository name changed as well (probably n

[2020-02-26 18:04] tqchen commented on #4946
cc @nhynes

[2020-02-26 18:32] nhynes commented on #4946
hmm, I'll fix this now. SGX is unfortunately quite deprecated at this time (😬) and I think it reasonable to temporarily remove

[2020-02-26 21:44] #4946 closed

[2020-02-26 23:49] #3501 closed

[2020-02-26 23:50] tqchen commented on #3501
close for now due to inactive status, @yzhliu will followup once he have a more specific proposal

[2020-02-26 23:50] #4122 closed

[2020-02-26 23:51] tqchen commented on #4122
close for now as the relevant PR get merged. Let us open a new thread for new items

[2020-02-26 23:51] tqchen commented on #3874
close for now due to inactive status, feel free to open a new thread

[2020-02-26 23:51] #3874 closed

[2020-02-26 23:53] #4523 closed

[2020-02-26 23:53] tqchen commented on #4523
Close for now as depth2space is implemented. Please feel free to open new threads, or create discussions on the forum

[2020-02-26 23:55] tqchen commented on #4831
cc @kevinthesun @zhiics  can you help check on this ?

[2020-02-27 01:32] pingsutw opened #4950 "The links not found in Depthwise Convolution tutorial"
Some links in this [tutorial](https://tvm.apache.org/2017/08/22/Optimize-Deep-Learning-GPU-Operators-with-TVM-A-Depthwise-Convolution-Example) can not be found.

[2020-02-27 07:01] zhiics commented on #4831
yeah, it looks flipped to me as well. @shoubhik can you confirm? Thanks.

[2020-02-27 15:27] leandron opened #4953 "[CI][Docker] xgboost 1.0.1 causes segfault on test_autotvm_xgboost_model.py"
With the release of XGBoost 1.0.x (i.e `xgboost-1.0.1-py3-none-manylinux1_x86_64.whl`), it seems that installing TVM from scratch (rebuilding Docker containers) makes `tests/python/unittest/test_autotvm_xgboost_model.py` to fail with a segfault.

Investigating it a bit further, if I manually revert it to `xgboost-0.90` it works fine. Using `xgboost-1.0.1`, this is the message I see:

[code]

@tqch

[2020-02-27 16:45] tqchen commented on #4953
@leandron can you create a minimum reproducible example? e.g. pickle the data that causes segfault in XGBoost. Then we can start to bring attention of the XGBoost dev community. In the meanwhile, we can pin xgboost to 0.9

[2020-02-27 16:45] tqchen commented on #4953
cc @merrymercy @hcho3

[2020-02-27 16:47] shoubhik commented on #4831
taking a look at it.

[2020-02-27 17:05] anijain2305 commented on #4831
Thanks for finding the bug @GuoliangLiCN
Yeah, it is flipped. The bug hid because the scale and zero point remained same even if the data_min and data_max were flipped.

[2020-02-27 17:05] shoubhik commented on #4831
yes, it does needs a flipping. the test case passes because the scale value remains the same. I'll send a PR a little later.

[2020-02-27 17:43] hcho3 commented on #4953
It would be nice if we can get a reproducible example. We are currently working on the patch release 1.0.2 and I want to get a patch to fix this issue.

[2020-02-27 22:38] tqchen opened #4957 "[RFC] Introduce python3.6 requirement"
We kept the python 3.5 compatibility for the 0.6 release. This is an RFC propose to require python3.6 in the 0.7 release cycle.

##  3.6 Features that could Benefit the Project

There are two features which would be relevant for us `f-string` and `type annotation in class objects`. While f-string is more like a sugar that can be replaced in another way. Class object type annotation would be more c

[2020-02-27 22:38] tqchen commented on #4957
see discussion thread https://discuss.tvm.ai/t/python3-5-vs-python3-6-requirement-for-0-7/5472

[2020-02-27 22:40] tqchen opened #4958 "[RFC] Require C++14 in 0.7 release cycle"
This RFC proposes we move to c++14 in the 0.7 release cycle. The reasons are:

-  The latest LLVM will depend on c++14
-  We  also start to see  needs of a few C++14 features, in particular, ```std::string_view```(it was experimental in c++14) to support some of our container features without introducing a lot boilerplate.

## Compiler Support Status

gcc5 support c++14, which is enabled in ubuntu

[2020-02-27 22:40] tqchen commented on #4958
Discuss thread https://discuss.tvm.ai/t/c-14-requirement-for-0-7/5614

[2020-02-28 03:45] cchung100m commented on #4950
Hi @pingsutw

Thanks for identifying the dead link. I can help to review it if you'd like to send a PR for fixing it.

[2020-02-28 04:57] masahi opened #4962 "Support dilation in x86 NCHWc depthwise conv"
Hi, I hit an unimplemented error using NCHWc depthwise convolution with dilation on x86.

https://github.com/apache/incubator-tvm/blob/9816efc2df63cf6a14a6de46dc2adfafde58acc1/topi/python/topi/x86/depthwise_conv2d.py#L128

Is there any difficulty in supporting dilation for NCHWc layout? Or is it just that nobody has got around implementing it? Dilation is important for image segmentation use cases

[2020-02-28 09:17] haiyang-tju commented on #4261
It does not support the situations of `groups!=1`, and you must set `groups` as default (1) in `nn.ConvTranspose2d`.

[2020-02-28 17:59] pingsutw commented on #4950
Thanks @cchung100m.
sure, I'm going to send a PR

[2020-02-28 18:55] kevinthesun opened #4969 "[RFC] Enhance TensorFlow Frontend Control Flow Support"
### Summary
In today’s TVM TensorFlow frontend, there is only limited support for control flow, which resulting in difficult in covering TensorFlow object detection models. In this RFC, we will discuss how to improve current TVM TF frontend to fully support TensorFlow control flow.

### Solution
#### Visit TensorFlow Graph Def
Currently TVM parses TensorFlow Graph Def node by node in topological o

[2020-02-28 18:58] zhiics commented on #4969
Just a reminder, to support these models we need some patches for tensor array as well. mask_rcnn seems requiring some more debugging.

[2020-02-28 19:04] zhiics commented on #4969
ahh, one more reminder, for all these models, we will have OOM problem for pretty printing after the ANF pass. It is very likely because recursively visiting the AST saves all the intermediate results.

[2020-02-28 19:16] anijain2305 commented on #4962
I think it is just missing feature.

[2020-02-28 21:40] tqchen commented on #4908
Thanks to @comaniac @cchung100m 's effort, we have now cleaned up all the WARNINGS and setup a CI check. A remaining step would be to bring the sphinx check to an earlier stage if we find docs error frequently, but that is an efficiency opt which we can do later

[2020-02-28 21:40] #4908 closed

[2020-02-28 21:46] masahi commented on #4969
wow, supporting mask rcnn is a great achievement! I was also trying to support mask rcnn in torch, but I was stuck at dynamic nms. https://discuss.tvm.ai/t/supporting-non-maximum-suppresion-op-with-dynamic-output-shape/5818/

Is "pending dynamic NMS PR" going to be useful to pytorch use case?

[2020-02-28 21:53] zhiics commented on #4969
Yes, @yongwww had one months back

https://github.com/apache/incubator-tvm/pull/4312

[2020-02-28 22:10] masahi commented on #4969
great, will take a look. Hopefully the PR would become active soon.

[2020-02-28 22:31] kevinthesun commented on #4969
One blocking issue for dynamic NMS is that it needs to use dynamic strided_slice. However, current fusion pass can't handle dynamic shape well yet. As a result, we can't fuse dynamic strided_slice and have to temporarily mark strided_slice as Opaque. However, this will result in other normal static strided_slice not fused and cause performance issue. Maybe we need to directly handle fusion for dyn

[2020-02-29 00:50] masahi commented on #4969
I'm not familiar with dynamic shape support in Relay, so I cannot comment on how it relates to fusion. But it sounds like a interesting problem.

[2020-02-29 04:40] #4812 closed

[2020-02-29 04:41] tqchen commented on #4812
The python upgrade is now complete

[2020-02-29 04:49] elpz commented on #4262
@Aeroxander, I am able to reproduce this issue using an ONNX (pytorch) model with the following versions:

**pytorch**: 1.2.0
**onnx**: 1.6.0
**tvm**: 0.7.dev0

Ubuntu 16.04.6 LTS

I can provide the model and code if necessary. Error is happening consistently.

![name_hint_issue](https://user-images.githubusercontent.com/26471955/75600943-907fe700-5a7b-11ea-87ee-c62c239587d2.png)

Are you getting

[2020-02-29 12:18] pingsutw commented on #4950
https://tvm.apache.org/2017/08/22/Optimize-Deep-Learning-GPU-Operators-with-TVM-A-Depthwise-Convolution-Example.html

This doc seems cannot be modified, I can't find the doc's content in this repo.

[2020-02-29 16:05] sewardto opened #4972 "Performance regression of quantization on CUDA after [Relay][AutoTVM] Relay op strategy (#4644)"
My environment:
[code]

Here is my code, which uses **resnet18v1 onnx** model.
[code]

Output when TVM is at ([Fix] Fix get_valid_count flaky test for cuda (#4901)):

[code]

Output when TVM is at ([Relay][AutoTVM] Relay op strategy (#4644)):
[code]

Besides, the accuracy after the commit is close to zero on ILSVRC2012_img_val dataset.

[2020-03-01 05:41] yzhliu commented on #4972
cc @icemelon9 seems to be using some default schedule? accuracy problem looks weird though.

[2020-03-01 19:49] comaniac commented on #4972
After the op strategy the schedule configs on top hub are no longer compatible. Since only LLVM configs have been updated, other targets like CUDA will use default schedule configs and result in performance regression.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-02 02:11] sewardto commented on #4972
The full precision resnet18v1 model, however, runs well on CUDA after that commit.

[2020-03-02 07:56] cchung100m commented on #4950
Hi @pingsutw

It seems that we need to do this work in another repo as link below.

https://github.com/tvmai/tvmai.github.io/blob/master/_posts/2017-08-22-Optimize-Deep-Learning-GPU-Operators-with-TVM-A-Depthwise-Convolution-Example.md

[2020-03-02 16:21] leandron commented on #4946
Thanks for fixing this, but I would suggest another issue to track the need for a proper fix for this?

Further, there is a this app[1], that uses `ubuntu_install_sgx.sh`, which in practice still depends on this _GitHub gist_ and thus needs to be fixed as well. How do we not lose this information?

[1] https://github.com/apache/incubator-tvm/tree/cffb4fba03ea582417e2630bd163bca773756af6/apps/sgx

[2020-03-02 18:23] icemelon9 commented on #4972
I guess the performance regression could be due to https://github.com/apache/incubator-tvm/blob/master/python/tvm/relay/op/strategy/cuda.py#L88. Previously TVM might use `conv2d_NCHWc_int8` by default. However `conv2d_NCHWc_int8` is not enabled now when layout is "NCHW" because its output shape is 5-dim and could be lead to wrong shape if using opt_level=2 as `alter_op_layout` pass wouldn't be ena

[2020-03-03 03:27] sewardto commented on #4972
Thank you for your reply.
Here's the code of quantize:
[code]
I didn't change any code in tvm.

[2020-03-03 10:33] YunLexi commented on #4534
@trevor-m
Hi, I get the same problem when I try to use relay.build() to build a resnet101, with target as Cuda, but it works fine if I change the model to resnet18. Have you solved this problem?

[2020-03-04 03:52] cchung100m commented on #4950
Hi @pingsutw

Sorry for the misleading.

I think the `tvmai.github.io` was moved to `incubator-tvm-site` repo.

https://github.com/apache/incubator-tvm-site/blob/master/_posts/2017-08-22-Optimize-Deep-Learning-GPU-Operators-with-TVM-A-Depthwise-Convolution-Example.md

cc. @tqchen

Please correct me if I am wrong.

Thanks for your kindly reply.

[2020-03-04 04:13] ANSHUMAN87 commented on #4648
@tqchen : I was checking for relay part as you mentioned here. But i found all the places it is taken care as per https://github.com/apache/incubator-tvm/issues/4647. I like to help in this case. But i cant find the area which you are referring here. If i am mistaken, would you please point me in the right direction. Thanks!

[2020-03-04 04:43] tqchen commented on #4950
yes, please send pr to https://github.com/apache/incubator-tvm-site/

[2020-03-04 05:06] pingsutw commented on #4950
@cchung100m and @tqchen Thanks for the help.
send pr to https://github.com/apache/incubator-tvm-site/
https://github.com/tvmai/tvmai.github.io/pull/48

[2020-03-04 12:21] ANSHUMAN87 commented on #4534
@YunLexi : The actual issue in dead code elimination pass is fixed withhttps://github.com/apache/incubator-tvm/pull/4053.
I think this might be some other issue.
Can you share the piece of code to reproduce the issue?
NOTE: I tried the code shared by @trevor-m  , but the issue did not occur in my workspace, even with stack limit as 8192.

[2020-03-05 00:43] tqchen commented on #4950
The pr has been merged

[2020-03-05 00:43] #4950 closed

[2020-03-05 23:03] abergeron opened #4997 "[relay][VM] Miscompile with double-if"
This relay code:

[code]

Compiles to this in VM bytcode:

[code]

If you pass `False` to the original function this makes the VM run both `7: move $2 $4` and `11: move $4 $2` which sets both of them to (1,) thus returning the wrong result.

The debug interpreter doesn't have this problem.

This script reproduces the problem:
[code]

[2020-03-06 04:23] vegaluisjose opened #4999 "[VTA][Chisel] build in Catalina (OSX)"
Hey @liangfu and @tmoreau89 ,

I was trying to figure out today why building the Chisel backend in VTA is failing in Catalina:

* [This](https://github.com/apache/incubator-tvm/blob/master/vta/hardware/chisel/Makefile#L107) fails if XCode is not installed, maybe we should add another option instead of just checking OS?. Making XCode as a dependency might not be a good idea?

* [This](https://githu

[2020-03-06 18:05] MarisaKirisame commented on #1996
I see fundamental problem in this PR.

Jacobian(Y, W):
tensor compute.jacobian{0x165b360}[0] : float32 [32, 3000, 3000, 10000]
axes (i : [0, 31], j : [0, 2999], jac_i0 : [0, 2999], jac_i1 : [0, 9999])
Reduction
    identity [0.000000f]
    lhs [x.der]  rhs [y.der]
    combiner [(x.der + y.der)]
    axes (k : [0, 9999])
    condition (uint1)1
    source[0] = (X(i, k)*float32(((jac_i0 == j) && (jac_

[2020-03-06 18:40] yzhliu commented on #1996
@MarisaKirisame could you elaborate "The jacobian of Y, W, should be dW times jacobian Y W" ? not sure I correctly understand the symbol you use.
I think the main challenge is to infer the bound for Jacobian's axis, under the scenario where output axes can be arbitrary linear combination of its input tensors' axes

[2020-03-06 21:53] MarisaKirisame commented on #1996
@yzhliu let me explain it another way.
suppose we work only at the scalar level. people had proved that reverse mode only take 3x more computation. This does not need any optimization - the gradient of f will only be a (small, typicallty less then 10) constant factor times slower then the computation of f itself.

In this PR, the gradient of f might be MANY times more expensive.
This is because it

[2020-03-06 21:55] sergei-grechanik commented on #1996
@MarisaKirisame One approach that I know of is to differentiate by literally reversing the computation, replacing loads with stores (with `+=` actually) and vice versa. This is usually considered a worse approach because it leads to synchronization problems, but it should be better for some ops, and I guess the worst case performance shouldn't be that horrible.

[2020-03-06 21:55] tqchen commented on #4999
It would be great if the related discussions are moved to https://discuss.tvm.ai/ :) Please open a new thread there

[2020-03-06 21:55] tqchen commented on #4997
cc @icemelon9 @wweic @jroesch

[2020-03-06 22:26] pasqoc opened #5003 "[VTA][Chisel] deploy classification not working when timer() is used"
The deploy_classification.py tutorial does not work when used with Chisel based targets such as TSIM and DE10NANO, suggesting this is a runtime related issue coupled with the Chisel based implementation.

The test runs successfully when replacing the timer() call on line 255 with a direct call to the inference model m.run(), suggesting that the problem maybe due to bad state or re-initialization a

[2020-03-06 22:53] MarisaKirisame commented on #1996
@sergei-grechanik that is what ppl do. the problem of parallel ad is shared read become shared write, but you can pull optimization tricks to turn shared write into a single write (for example, https://people.csail.mit.edu/tzumao/gradient_halide/).
I think this is a smarter approach, for when their optimization failed, they only have write sync, but when ours optimization failed, we have giant ten

[2020-03-06 23:33] #4999 closed

[2020-03-07 02:13] sewardto commented on #4972
After auto-tuning on 1070 Max-Q, the speed is much more faster:
[code]
The log file follows.
[code]

However, the accuracy is still close to zero. Like this:
[code]

[2020-03-07 04:00] sergei-grechanik commented on #1996
@MarisaKirisame Yes, I think you are right. I guess implementing this approach requires extending tensor expressions with an additional construct or working on a different level.

[2020-03-07 05:44] MarisaKirisame commented on #1996
It probably require working on the tensor ir, as the tvm compute level is pure.

[2020-03-08 06:45] sergei-grechanik commented on #1996
@MarisaKirisame What do you think about adding a scatter-like reduction to TVM's tensor expressions? (I mean `for(i : ...) A[f(i)] += g(i)`, i.e. the lhs is allowed to have an arbitrary index expression in the subscript). It would still be pure.

[2020-03-08 10:17] YunLexi commented on #4534
[https://github.com/apache/incubator-tvm/blob/master/tutorials/frontend/from_mxnet.py](url)

[2020-03-08 10:18] YunLexi commented on #4534
@ANSHUMAN87

[2020-03-08 10:58] YunLexi commented on #4534
@ANSHUMAN87
I just try to run the following tutorial with resnet101_v1, [https://github.com/apache/incubator-tvm/blob/master/tutorials/frontend/from_mxnet.py](url), the program hangs at    https://github.com/apache/incubator-tvm/blob/87faaf12f3d2b792bacccadeb369236ab5c5b45b/python/tvm/contrib/nvcc.py#L95 not doing anything, but this tutorial works fine if I change the model to resnet18_v1 or resne

[2020-03-08 17:49] MarisaKirisame commented on #1996
@sergei-grechanik look great! another way to do it is to add a pass that turn scatter into gather, effectively doing halide's autodiff. so, the ir is not pure, but it is after some more processing.

[2020-03-09 12:47] ANSHUMAN87 commented on #4534
@YunLexi : I executed from_mxnet.py with cuda as target and with model as resnet101_v1. It runs fine. I think issue is not in TVM. Issue is in your CUDA setup. Can you try uninstall and install freshly again. I think it will solve.

[2020-03-09 13:07] SWu commented on #4534
I think the conversation here has diverged from the original problem.

@ANSHUMAN87 I don't think the original problem I was running into has been solved. To be clear, this isn't a *bug* in the implementation, but it is a problematic implementation. The nature of the dead code elimination implementation requires extensive recursive calls to visit every node of the graph. Since this is implemented a

[2020-03-09 13:56] ANSHUMAN87 commented on #4534
@SWu : Thank you! I have clearly understood your issue in your original report. Have you tried in the latest code in Tvm, where the PR I mentioned is merged? Please crosscheck. I believe you should not encounter the issue again. I am eagerly waiting for your response. Thanks!

[2020-03-09 13:58] ANSHUMAN87 commented on #4534
@SWu : if still you face the issue. We can find proper solution for it. Thanks!

[2020-03-09 15:03] SWu commented on #4534
@ANSHUMAN87 yes, I can verify that the version of TVM I am using does have https://github.com/apache/incubator-tvm/pull/4053 (I am using 0.6.0 release which was cut 2 months after that patch was merged, but I also just double checked src/relay/pass/dead_code.cc to verify that the changes from that patch are there).

This version still gives me stack overflow when trying to build gradient functions

[2020-03-09 17:46] MarisaKirisame commented on #4534
I can manage an explicit stack or write it in CPS+Trampoline style to remove the blowup.
The DCE pass need rework. For now I suggest not touching it.
I am on other project but I will get back to training soon.

[2020-03-09 19:59] tqchen opened #5015 "[DEV] Amend Github Attribution Bug"
See background here https://discuss.tvm.ai/t/response-to-github-author-attribution-bug/5909

On Mar 5th 2020, github changed the the squash merge behavior, which caused three commit’s author being wrongly attributed. This problem has been fixed as of now by github so new PRs won’t be affected.

The community values every contribution and would like to make things right. After discussion, we propos

[2020-03-09 20:30] tqchen commented on #5015
cc @merrymercy @kevinthesun @anijain2305 @masahi

[2020-03-09 20:39] leezu commented on #4958
An alternative is to require C++17 which gcc7 supports and ships by default in Ubuntu 18.04.
C++17 compiler can be used on as old systems as RHEL6 / CentOS 6 from 2010, via Redhats devtoolset. Thus GLIBC 2.12 from 2010 is the minimum glibc required for C++17.

One concern mentioned in the discussion thread is about edge device coverage. Is there any data on the edge devices and supported toolchain

[2020-03-09 20:42] tqchen commented on #4958
GCC5 is enough for c++14 support and should be available in most edge devices. For runtime only support, the community recently introduce a pure C runtime which does not depend on any of the c++ features and can be used for these case

[2020-03-09 20:53] leezu commented on #4958
Is there any overview on the edge devices to be supported and on the latest compiler available?
I'd expect gcc 7 to be available as well, but maybe that assumption is wrong.

Runtime still requires the glibc version used during compilation. Newer versions of compilers require newer versions of glicb. Thus requiring a newer C++ standard also affects the runtime. Fortunately both gcc5 and gcc7 can r

[2020-03-10 02:37] #4860 closed

[2020-03-10 02:37] tqchen commented on #4860
https://github.com/apache/incubator-tvm/pull/4891

[2020-03-10 04:55] masahi opened #5021 "[Relay, TOPI] Implement Adaptive Pool 3D op"
I found that we are missing adaptive pool 3d in our 3D op collections. With this, we can run 3D resnet from torchvision https://github.com/pytorch/vision/blob/master/torchvision/models/video/resnet.py

@optima2005 Are you interested in and have time to work on this? Otherwise I'll do it. It should be pretty similar to pool 3d you added.

[2020-03-10 11:26] zchuang11 opened #5024 "[OpenCL] Max Buildin Type Error"
I tried debug the resnet model with relay, arm64-cpu on rpc app is ok, but opencl with errors:
tvm._ffi.base.TVMError: Traceback (most recent call last):
                                                                                ^~~
   compute[((((int)get_group_id(0)) * 256) + ((int)get_local_id(0)))] = max(min(max((placeholder[((((int)get_group_id(0)) * 256) + ((int)get_local_id(0)))] + plac

[2020-03-10 16:40] tqchen commented on #5024
Thanks for reporting the problem, the community uses https://discuss.tvm.ai/ to trouble shoot the problem and discussing possible solutions. Please consider open a trouble shooting thread there.

It would also be great if you can try to print out all the entire generated opencl kernel, instead of the single line. The error seems to be related to int8 support but need more details to confirm to see

[2020-03-10 16:40] #5024 closed

[2020-03-11 01:01] jroesch commented on #4997
@abergeron I'll look into this one, it looks like a bug was introduced when compiling if statements, they seem to be sharing the same set of registers incorrectly.

[2020-03-11 03:40] FrozenGene opened #5038 "[RFC] Module based Model Runtime Interface"
As https://discuss.tvm.ai/t/discuss-module-based-model-runtime-interface/5025 discussed, we want to support Module based Model Runtime Interface and solve the following challenges:

- R1: The creation of ML model can be context dependent. For example, the user needs to be able to specify which GPU to run the graph runtime on.
- R2: We start to have multiple variations of model runtime, such as Rel

[2020-03-11 07:30] masahi commented on #5021
ok, I'll work on this.

[2020-03-11 11:58] wweic commented on #4997
@jroesch The problem is in when we compile if we don't allocate a new register to store the result. We ended up with overwriting registers we shouldn't write to. The fix is actually simple. we create a merge register to keep the result of if expression.

[2020-03-11 13:13] heliqi commented on #4262
@yongwww @kevinthesun Have you found a way to fix it?

I also encountered this problem with tensorflow.

**Tensorflow version**: 1.15.0 or 1.14.0
**tvm version**: 0.7.dev0
CentOS Linux release 7.7

[2020-03-11 14:25] Msabih commented on #4262
If you check the class method _impl_v9 of class Upsample, this is line 778 on tvm 0.7

            assert len(inputs) == 2, "Upsample op take 2 inputs, {} given".format(len(inputs))
            scales = params[inputs[1].name_hint].asnumpy()

The error comes at this line
           scales = params[inputs[1].name_hint].asnumpy()

I found out that there was incompatibility between how pytorch exporte

[2020-03-11 16:11] tqchen commented on #4953
@leandron @hcho3 please followup :)

[2020-03-11 16:24] tqchen commented on #3895
Consildate to https://github.com/apache/incubator-tvm/issues/4449

[2020-03-11 16:24] #3895 closed

[2020-03-11 16:25] tqchen commented on #3159
#3934

[2020-03-11 16:25] #3159 closed

[2020-03-11 16:26] #4909 closed

[2020-03-11 16:28] tqchen commented on #4972
Close for now as the perf regression has beenr esolved. Please open new threads on https://discuss.tvm.ai/ to discuss the accuracy issue :)

[2020-03-11 16:28] #4972 closed

[2020-03-11 19:26] #4997 closed

[2020-03-12 02:33] heliqi commented on #4262
**Tensorflow error code:**
[code]

[code]

I might need the op that prints the tensorflow model to know what param is needed here。

[2020-03-12 03:15] wweic opened #5047 "[Runtime] Python String container interface"
* Provide python interface to use runtime String container.
* Migrate existing string use cases to the python interface.

[2020-03-12 07:52] ryansoq commented on #2062
This my set TVM_LIBS = "-ltvm_topi -ltvm_runtime -ltvm -ltvm_topi -lvta_fsim -lvta_tsim"
Then I changed it to "-ltvm_topi -ltvm -ltvm_topi -lvta_fsim -lvta_tsim"
Remove "libtvm_runtime" then I can compile.

[2020-03-12 11:31] masahi commented on #5021
Done in #5049

[2020-03-12 11:31] #5021 closed

[2020-03-13 03:12] liangfu opened #5060 "[uTVM][Runtime] Deprecate uTVM Standalone Runtime"
Since the MISRA-C runtime has been merged in PR #3934 and discussed in RFC #3159 , I think now it's time to migrate uTVM standalone runtime ( introduced in PR #3567 )

### Rationale

* MISRA-C runtime takes smaller code size (45 KiB vs approx. 100 KiB)
* MISRA-C runtime is more portable, since it's completely written in pure C
* MISRA-C runtime is designed to be more stable, since it tries to avoi

[2020-03-13 16:16] tqchen commented on #5060
Cross posting to here. I think it worth to think about memory allocation strategy. Specificially, we should design an API that contains a simple allocator(which is arena like and allocate memory from a stack, and release everything once done), and use that allocator for all memories in the program(including data structures and tensors). This will completely eliminate the usage of system calls and

[2020-03-13 20:59] tqchen commented on #4958
#5056

[2020-03-13 20:59] #4958 closed

[2020-03-13 21:00] tqchen commented on #4957
#5057

[2020-03-13 21:00] #4957 closed

[2020-03-14 19:05] tqchen opened #5068 "[RELAY] Update the Python FFI Convention"
So far as part of the refactor, we have updated the python FFI convention as per https://github.com/apache/incubator-tvm/issues/4812

Most of the new folders involved as part of the refactor has been updated. See examples
- https://github.com/apache/incubator-tvm/tree/master/python/tvm/tir

However, we did not yet update the relay python folder to this new convention. This issue is to track the FF

[2020-03-14 19:08] tqchen opened #5069 "[RELAY] Update the C++ Node convention"
As of now most of the new objects we touched during refactor has been updated to follow the convention in https://github.com/apache/incubator-tvm/issues/4648. However, part of the legacy relay and tir classes are not yet updated.

This issue is to track the update process on the relay side. In particular, we need to

- Move the XXX::make API to constructor

[2020-03-14 19:08] tqchen commented on #5069
cc @jroesch

[2020-03-16 01:32] zchuang11 commented on #5024
I have update the [details，](https://discuss.tvm.ai/t/relay-opencl-quantization-error/5963) and new error with [link](https://discuss.tvm.ai/t/relay-opencl-inference-result-error/5965)  please help check the error with bug ? Thanks a lot

[2020-03-16 05:57] zhiics commented on #5068
#5068 finishes most of it

[2020-03-16 08:31] murdockhou opened #5079 "NotImplementedError: The following operators are not implemented: ['aten::split']"
I'm using file `/python/tvm/relay/frontend/pytorch.py` to convert pytorch model, but raise error like this:
[code]
pytorch == 1.4 and tvm is latest

[2020-03-16 16:22] tqchen commented on #5038
Good summary, would be great if we can land it

[2020-03-16 19:53] tqchen commented on #4748
https://github.com/apache/incubator-tvm/pull/4847 Thanks to @kumasento

[2020-03-16 19:53] #4748 closed

[2020-03-17 01:32] tqchen commented on #5015
Close for now as four out of five PRs affected has been amended via revert/repatch  Did not get reply in https://github.com/apache/incubator-tvm/pull/4975 . As it is a one-line patch, we will close this issue for now.

[2020-03-17 01:32] #5015 closed

[2020-03-17 17:39] ehsanmok commented on #4845
I'd like to propose creating Relay `c_api.h` for further expansions from frameworks and bindings in the future.

[2020-03-17 19:23] tqchen commented on #4845
re relay c_api, there is no need to do so, as all the relay functions are exposed through the PackedFunc API. So all the features of relay can already be accessed through the tvm's C API.

[2020-03-18 17:19] zhiics commented on #5068
@tqchen for docs, should we keep the current docs under python/relay expr.rst and base.rst etc? I think we should remove them. But what should we have instead to represent relay namespace in python?

do we want to have relay.rst? if so, I am not sure where we should put it. It seems it wired to put it either under docs/api/python/relay or docs/api/python. Or we want to have ir.rst under docs/api/p

[2020-03-18 21:05] tqchen commented on #5047
cc @zhiics @mbaret @comaniac @jroesch we probably needs to migrate the use of StringImm to String once the string container is introduced

[2020-03-19 07:08] hypercubestart opened #5096 "[Relay][RFC] Enhanced debugging for Relay pass"
# Motivation

Working and discussing with @MarisaKirisame , we ran into a reoccurring issue when developing Relay passes: it is unclear whether a failed pass is at fault or an earlier pass which may have corrupted the AST. This makes errors in Relay passes harder to locate, especially when complexity grows as more passes are developed within the community.

Thus, if a pass fails, we want a way to

[2020-03-19 08:40] wweic commented on #5047
@tqchen Could you give me pointers to codes where we can use the python string api to pass strings around? I'll use them as example to drive my  implementation.

[2020-03-19 14:51] zhiics commented on #5047
@wweic, probably all places we used stringing?

[2020-03-19 16:38] tqchen commented on #5068
One way to think about it is that we should expose it as a user facing interface. That means we could have

- relay
- relay.nn
- relay.vision

If we decide to fold the relay into subfolders, then the root relay namespace should be presented under api/python/relay/index.rst

We might need to remove the autofunction(but keep autosumamry, so the summary can link to apo docs) in https://github.com/apa

[2020-03-19 16:46] tqchen commented on #5047
I can see the following steps:

- Introduce the string container
   - We need to think about how to make the String object works like a normal python string(possibly subclass str?, I haven't dig deep)
   - At this stage users can pass and return String but need to explicitly do so
- Add automatic conversion from TVMArgValue to String, when the argument is c string pointer and bytes, automatically

[2020-03-19 16:52] tqchen commented on #4568
#5073 thanks to @cchung100m

[2020-03-19 16:52] #4568 closed

[2020-03-19 19:09] tmoreau89 opened #5102 "[VOTE] VTA HW/SW refactor"
It's been great to see growth in the TVM community contributing to VTA in the recent years. VTA is TVM's open source hardware accelerator stack, and consists of multiple components bridging hardware and software design, including RTL sources in Chisel and HLS, driver libraries, simulation libraries, runtime and JIT, TVM and Relay compiler support and passes, TOPI operator libraries for AutoTVM, an