[2019-04-24 09:14] ghostplant commented on #3058
@masahi My error is caused on LLVM 8+. It is interesting why TVM for ROCm has to use LLVM as hcc from ROCm is already based on LLVM clang.

[2019-04-24 09:30] masahi commented on #3058
thanks @fundamat for the info, this is very helpful.

@ghostplant From rocm we only use their HIP runtime. For codegen all we need is LLVM's AMDGPU backend. The hcc compiler is for compling HIP code (cuda like language supported by AMD). We don't generate HIP but LLVM IR directly, so we don't need hcc.

[2019-04-24 09:56] ghostplant commented on #3058
@masahi Thanks, hope to get fixed soon for ROCm 2.3

[2019-04-24 10:36] masahi commented on #3058
hi @fundamat can you point me to the documentation so that I can understand your finding?

[2019-04-24 21:51] merrymercy opened #3088 "[PERF] Performance Regression on Mali GPU"
[#2615](https://github.com/dmlc/tvm/pull/2615#issuecomment-481144069) introduced a performance regression to Mali GPU backend. Because some loops cannot be vectorized, the run time of resnet-18 increases to 750ms from original 130ms. Rolling back to its previous commit can fix the problem and reproduce our released benchmark.

This bug was reported by users in the forum.
https://discuss.tvm.ai/t/b

[2019-04-24 22:08] merrymercy commented on #3078
Please move general questions to https://tvm.ai

[2019-04-24 22:08] #3078 closed

[2019-04-25 02:21] fundamat commented on #3058
@masahi

You can get more information at here: https://llvm.org/docs/AMDGPUUsage.html#code-object-metadata

And I just simply add the `-mattr=-code-object-v3` in `BuildAMDGPU` at codegen_amdgpu.cc:182

[code]

[2019-04-25 02:26] tqchen commented on #3088
Please confirm the difference of low level ir in the generated code. While it is fine eliminating the floating eager folding, it would be great to know what is the exact cause of the problem. And would reoptimize solve the case

[2019-04-25 03:20] yzhliu commented on #3088
will be looking into the details.

[2019-04-25 04:48] antinucleon commented on #3058
Change target also works, no need to change codegen.

On Wed, Apr 24, 2019 at 19:21 fundamat <notifications@github.com> wrote:

--
Bing Xu

[2019-04-25 05:05] #3067 closed

[2019-04-25 05:08] nttstar opened #3090 "ResNet50 based one stage detector model conversion gets hung up"
Dear auchors, we're trying to convert a resnet50 based one stage detector to tvm, but gets hung up. Here is the download link from baidu cloud:
https://pan.baidu.com/s/1C6nKq122gJxRhb37vK0_LQ

Introduction: https://github.com/deepinsight/insightface/tree/master/retinaface

Can anybody have a look on it?

By the way, a mobilenet based model is working well, the only difference between them is backb

[2019-04-25 08:35] ghostplant commented on #3058
@fundamat After applying your patch, I tried the tuning again, and hipErrorNotFound are solved, but following "Segment Fault" again as I explained earlier.

I am using LLVM-8 (current lastest stable version), and ROCm-2.3. As LLVM-9 is not stable so I didn't use it.
Can you share your specific library version for LLVM and ROCm?

[2019-04-25 09:21] zhanggy358 commented on #3079
@jroesch I test your code in above,
run it and show this issue:

v0.0.1
%1 = fn (%v0: Tensor[(1, 512, 28, 28), float32], %v1: Tensor[(512, 512, 3, 3), float32]) {
  %0 = nn.conv2d(%v0, %v1, kernel_size=[3, 3])
  %0
}
%1
*** stack smashing detected ***: python terminated
已放弃 (核心已转储)

[2019-04-25 17:09] tqchen commented on #3090
Thanks for reporting this, usually we prefer to ask this kind of questions in https://discuss.tvm.ai/ please open a new thread there

[2019-04-25 17:09] #3090 closed

[2019-04-25 17:09] tqchen commented on #3080
Thanks for reporting this, usually we prefer to ask this kind of questions in https://discuss.tvm.ai/ please open a new thread there

[2019-04-25 17:09] #3080 closed

[2019-04-25 17:21] KayneWest opened #3093 "Add tvm.contrib.sort.argsort to iOS RPC"
# HARDWARE
MacBook Pro (13-inch, 2016). mojave v10.14.3. Python 3.6.8 |Anaconda custom (64-bit). TVM version: '0.6.dev'

# ISSUE
I can get gluoncv yolov3 and gluoncv ssd to run just fine with TVM on macOS as I have built tvm with USE_SORT=ON during cmake (https://discuss.tvm.ai/t/meet-an-error-when-run-the-deploy-ssd-tutorial/847). However, ssd and yolov3 are both throwing the same error when atte

[2019-04-25 17:44] tqchen commented on #3093
The solution is to add the inclusion of the file to  https://github.com/dmlc/tvm/blob/master/apps/ios_rpc/tvmrpc/TVMRuntime.mm, a contribution is more than welcomed

[2019-04-25 17:45] tqchen commented on #3093
Note that for general troubleshooting and discussion, we recommend starting a thread in https://discuss.tvm.ai/ :) Please do so for future discussions

[2019-04-25 18:50] wezuo opened #3096 "Incorrect Boundary Infer when scheduling contain tvm_if_then_else"
Hello, I found that when the input network has multiple convolution layers with pad operations, the memory allocated for the internal tensors are expanded to be larger than necessary, and the expansion accumulates and propagates from the output stage to the input stage.

As an example, assume a network has 3 convolution layers back to back. The python script is as follows:
[code]
The output shows

[2019-04-25 19:33] kevinthesun opened #3097 "[Performance] x86 gluoncv ssd performance regression"
This is to track the status of https://discuss.tvm.ai/t/relay-x86-target-performance-regression/2266/5

Analyzer CanonicalSimplifier is casuing fused_strided_slice_greater_cast_concatenate_ones_like_multiply_where_strided_slice to be slower.

[2019-04-25 22:22] masahi commented on #3077
@srkreddy1238 what is the tensorflow version expected to work with TVM? I'm trying to fix tensorflow frontend tests for my PR.

[2019-04-25 22:28] yongwww commented on #3077
@masahi I think it is 1.13 for now. @srkreddy1238 pls confirm

[2019-04-25 23:51] srkreddy1238 commented on #3077
I think we should go with 1.13 now.

[2019-04-26 02:13] fundamat commented on #3058
@ghostplant
I have no idea on "Segment Fault" problem, but I'd be happy to share my library version used:
LLVM-9 (manually build)
ROCm 2.3

[2019-04-26 02:15] peterlau123 opened #3098 "Auto-tune faster-rcnn from Gluoncv"
Recently I am auto-tuning faster-rcnn from GluonCV in auto-tvm
My setting is:
+ RTX2080Ti
+ Centos 7.5.1804
+ Cuda 10 with cudnn 7.4

However,during the tuning process,error happens as follows:

what():  [23:13:20] /home/liuxin/3rdparty/source_code/tvm-1/src/runtime/cuda/cuda_module.cc:61: **CUDAError: cuModuleUnload(module_[i]) failed with error: CUDA_ERROR_ILLEGAL_ADDRESS**

`
Stack trace:
  [bt

[2019-04-26 03:15] tqchen commented on #3096
This is a discussion thread that would be better suited in https://discuss.tvm.ai/, please open a new thread there

[2019-04-26 03:15] #3096 closed

[2019-04-26 03:16] tqchen commented on #3098
This is a discussion thread that would be better suited in https://discuss.tvm.ai/, please open a new thread there

[2019-04-26 03:16] #3098 closed

[2019-04-26 03:24] tqchen opened #3099 "[TEST][FLAYKY] tvm/relay/frontend/tensorflow.py:Pow"
tvm/relay/frontend/tensorflow.py: Pow

http://ci.tvm.ai:8080/blue/rest/organizations/jenkins/pipelines/tvm/branches/PR-3081/runs/3/nodes/236/log/?start=0

[2019-04-26 03:24] tqchen commented on #3099
cc @srkreddy1238

[2019-04-26 03:26] peterlau123 commented on #3098
ok,I will paste there

[2019-04-26 05:28] jnorwood opened #3102 "Support conv2d dilation for x86"
in [https://docs.tvm.ai/tutorials/frontend/deploy_ssd_gluoncv.html#sphx-glr-tutorials-frontend-deploy-ssd-gluoncv-py](url)  , which is an ssd tutorial, there is the statement:

`SSD with VGG as body network is not supported yet since x86 conv2d schedule doesn’t support dilation.`

I was working in some tflite reference code recently and noticed that they have a very clear implementation of dilatio

[2019-04-26 06:38] jnorwood opened #3103 "[TUTORIAL] Deploy GluonCV some ssd tutorial models fail"
The ssd tutorial presents a list of possible models.  I tried substituting each of the ones in the list.
[https://docs.tvm.ai/tutorials/frontend/deploy_ssd_gluoncv.html](url)

These two failed due to not having pretrained  versions available.
model_name = "ssd_512_resnet18_v1_voc" #no pretrained
model_name = "ssd_512_resnet18_v1_coco" #no pretrained

[2019-04-26 07:03] jnorwood opened #3104 "relay tutorial missing llvm example"
I'm trying out the relay tutorial at

[https://docs.tvm.ai/tutorials/relay_quick_start.html#overview-for-supported-hardware-backend-of-tvm](url)

It has the statement:
`In this tutorial, we’ll choose cuda and llvm as target backends
`
but in fact the tutorial only presented for target cuda (which I don't have).

From poking around, I figured out how to modify it for llvm.
I tested for inception v3

[2019-04-26 07:24] jnorwood commented on #3104
rather than making several comments, I'll just attach my modified files.  Note that densenet apparently fails with all 0 value returns. The others ... inception, mobilenet, resnet, squeezenet, vgg can have different versions or sizes in the parameter lists... I made comments in the code of the possible values.
In general, you have to use  ` target = 'llvm'`  and  `ctx = tvm.cpu()`

you need to spe

[2019-04-26 07:41] srkreddy1238 commented on #3104
Can you raise it on discuss forum  https://discuss.tvm.ai ?
Once a issue is concluded we can bring it back here.

Thanks

[2019-04-26 09:45] zhanggy358 opened #3106 "[Relay][ONNX]Excute ONNX on tvm failed"
**when I run the following code:**
model_path = ‘simple.onnx’
onnx_model = onnx.load(model_path)

target = ‘llvm’

input_name = ‘input’
test_input = np.random.rand(1,1)
shape_dict = {input_name: test_input.shape}

sym, params = relay.frontend.from_onnx(onnx_model,shape=shape_dict, dtype=‘float32’)

print (‘sym’,sym)
print (‘params’,params)

with relay.build_config(opt_level=1):
intrp = relay.build

[2019-04-26 12:58] iamlion12 commented on #3088
Hello! I can confirm this, I'm using TVM on NanoPC-T4, Firefly RK3399, Rock Pi 4, all on linux 4.4 kernel, with OpenCL 1.2 support. I can't reproduce benchmark results using version from master branch, but it's okay with later versions.

[2019-04-26 15:29] #3099 closed

[2019-04-26 16:02] #3104 closed

[2019-04-26 16:02] tqchen commented on #3104
Let us  discussion to https://discuss.tvm.ai:)

[2019-04-26 16:05] tqchen commented on #3103
@kevinthesun can you check and take a look?

[2019-04-26 16:05] tqchen commented on #3106
https://discuss.tvm.ai/t/relay-onnx-excute-onnx-model-to-to-tvm-failed/2376

[2019-04-26 16:05] #3106 closed

[2019-04-26 16:06] tqchen commented on #3103
As a side note, we always encourage posting on https://discuss.tvm.ai/ first :)

[2019-04-26 16:49] #2794 closed

[2019-04-26 18:11] jnorwood commented on #3104
ok, I referenced this at
[https://discuss.tvm.ai/t/relay-tutorial-could-use-some-llvm-examples/2385](url)

[2019-04-26 18:17] jnorwood commented on #3103
ok, thanks.  I wasn't aware of the discuss.tvm.ai group.  I signed up there and will use that next time.

[2019-04-26 18:39] zhreshold commented on #3103
@jnorwood Unfortunately SSD `resnet18_v1` models has no pretrained weights. There are a couple more power models to choose but if you are particularly interested in the less expensive models, we are open to contributions!

[2019-04-26 21:10] #2898 closed

[2019-04-27 02:17] #3069 closed

[2019-04-27 05:14] jnorwood commented on #3103
Yes, I determined that it had no pretrained weights, but this tutorial listed these two among the available models for that tutorial.  So, I guess the solution is to just remove the two entries from the tutorial supported_model list.

[2019-04-27 06:18] jroesch commented on #3079
I was able to run the above code on my machine, by just making the appropriate change. I don't understand where the stack smashing error comes from I have never seen it before.

[2019-04-27 07:51] kevinthesun commented on #3103
Will be fixed in https://github.com/dmlc/tvm/pull/2784.

[2019-04-27 13:52] KayneWest commented on #3093
added the sort inclusion file to https://github.com/dmlc/tvm/blob/master/apps/ios_rpc/tvmrpc/TVMRuntime.mm

[code]

[2019-04-27 13:52] #3093 closed

[2019-04-27 16:34] #2845 closed

[2019-04-27 16:35] tqchen commented on #2808
This flaky was a bit inactive and could be fixed by https://github.com/dmlc/tvm/issues/2767, close for now

[2019-04-27 16:35] #2808 closed

[2019-04-27 16:41] tqchen opened #3109 "[DOCS] Document Fusion Algorithm"
The new generic fusion algorithm is great and it would be even better if we can document the process so that others can easily come in and understand what is going on.

This is an issue calling for help in contributing such document to developer docs. There are already some inline comments that document the algorithm, but some formal examples and figures might help to make it even better

[2019-04-27 17:28] KayneWest commented on #3093
@tqchen I was debating adding a PR but wasn’t sure considering that tvm.contrib.sort probably wasn’t added in the first place because it was out of scope for the ios_rpc example. That said, I’d be more than happy to create a PR if you think it would help. Additionally, do you think it would be beneficial if I submitted a PR for an IOS version of android_deploy with yolov3?

[2019-04-27 17:33] tqchen commented on #3093
If you get it to work, a PR is more than welcomed

[2019-04-27 22:08] #3103 closed

[2019-04-27 22:47] #2769 closed

[2019-04-27 22:48] #2715 closed

[2019-04-27 22:49] tqchen commented on #2080
move to #3060

[2019-04-27 22:49] #2080 closed

[2019-04-27 22:50] tqchen commented on #2815
Close due to inactive status, further discussions are welcomed in http://discuss.tvm.ai/ under development category

[2019-04-27 22:50] #2815 closed

[2019-04-27 22:52] tqchen commented on #1184
close due to inactive status, there are newer threads on related issues

[2019-04-27 22:52] #1184 closed

[2019-04-27 22:52] tqchen commented on #1184
#3082

[2019-04-27 22:52] #2501 closed

[2019-04-27 22:53] tqchen commented on #2501
close due to inactive status

[2019-04-27 22:54] tqchen commented on #2837
To summarize the conclusion so far, folks agreed that this could be useful for formalism and the only question is when to adopt this. Given the inactive status of this RFC, we will close this for now, and revisit when we find the need

[2019-04-27 22:54] #2837 closed

[2019-04-27 23:44] yongwww commented on #2769
log, exp and rsqrt are in relay now, I will send a pr to add them all in tf frontend

[2019-04-28 07:14] yzhliu commented on #3088
It's very likely due to https://github.com/dmlc/tvm/blob/master/topi/python/topi/mali/conv2d.py#L357
which be eliminated by eager simplification https://github.com/dmlc/tvm/blob/master/src/arithmetic/const_fold.h#L144

I don't quite understand the scenario, looks like removing such produces (if/likely-)condition in the vectorize @merrymercy

[2019-04-28 09:06] ghostplant commented on #3058
@fundamat I built the lastest LLVM-9 on ubuntu 18.04 but the makefile fail on half way based on gcc-7.

@msakai Is there a Dockerfile that contains TVM for ROCm environment which is reproducible?

[2019-04-28 09:37] masahi commented on #3058
No sorry, our ROCm support is limited (not many people are interested) and I'm not familiar with docker. You can add one if you like.

[2019-04-28 10:37] ghostplant commented on #3058
@masahi If I can build TVM for ROCm without problems, I can write one. However, the environment for TVM + ROCm is not working, and the purpose I ask for a Dockerfile for ROCm is just to get an environment that uses TVM + ROCm without failures.

[2019-04-29 01:35] kevinthesun commented on #3097
@tqchen
After investigating generated lower stmt, I found a important difference:
In old version which has expected performance, this fused func has such a patten:
[code]
After Analyzer CanonicalSimplifier commit, it becomes:
[code]
Two expressions have the same semantic but the latter one is more complicated. A lot of similar pattens happen in this func and it might be the problem.

Since lowered

[2019-04-29 02:14] LZCCRAZY opened #3118 "model.bc"
I run the build_model.py and generated the model.bc file. How can I parse model.bc?

[2019-04-29 02:19] tqchen commented on #3118
Please open a new thread in https://discuss.tvm.ai/ with more detailed descriptions.

[2019-04-29 02:19] #3118 closed

[2019-04-29 02:27] tqchen commented on #3039
implemented in #3092

[2019-04-29 02:27] #3039 closed

[2019-04-29 05:42] masahi commented on #3058
I've tested ROCm 2.3 + LLVM 6.0 on my gfx803 card. vector add test and VGG inference work. But for some workload tvm crashes with
[code]

In particular, resnet workload doesn't work. I'll try upgrading LLVM.

@fundamat What is your ld.lld version? Is tutorial/relay_quick_start.py working for you?

[2019-04-29 05:44] masahi commented on #3058
@ghostplant Does segfault still occur on vector add? Please try the simplest test first.

[2019-04-29 06:59] antinucleon commented on #3058
I have same issue, VGG, standard ResNet are working, but AutoTVM is not able to search out good schedule because this error blocks most of candidates.

[2019-04-29 08:52] ghostplant commented on #3058
@masahi Yes, what I tested is the simplest one, you can try this Dockerfile on your host, which is segfault on my host:
[code]

To build and run:
[code]

And this is my output:
[code]

[2019-04-29 09:04] masahi commented on #3058
It seems you need a newer LLVM.

[2019-04-29 09:19] ghostplant commented on #3058
@masahi OK, I updated to 7, 8, 9 respectively (updated in my scripts), and gfx906 warning no longer exists, but they all outputs `Segmentation fault (core dumped)`.

[2019-04-29 14:01] ghostplant commented on #3058
@masahi I rebuilt llvm-9 from source and segfault is solved, but installing llvm-9 from binary will segfault them. After that, I tried tuning applications, and a very small group of applications can run successfully, while the majority will output various exceptions, while all cases run well using cuda / opencl.

[2019-04-29 14:29] advancedlogic opened #3119 "[Golang] Lots of identifier XXX may conflict with identifiers generated by CGO"
I am using go 1.12.4 and when I run **make** this is the output:

[code]

[2019-04-29 19:38] ZihengJiang commented on #1093
FYI, I fixed this issue after changing the ndk version to v16

[2019-04-30 06:25] srkreddy1238 commented on #3119
@advancedlogic   Thanks for reporting, I will check this.

[2019-04-30 09:23] ghostplant commented on #3058
@masahi I have another question. Seems like source code generation after tuning is not working for ROCm platform, as TVM codegen using other platform like CUDA, OpenCL can output respective kernel source code, but TVM codegen for ROCm platform just outputs nothing..

[2019-04-30 09:55] masahi commented on #3058
you can use get_source("llvm") or get_source("asm").

[2019-04-30 10:02] ghostplant commented on #3058
@masahi OK, but how can I compile them after getting the llvm/asm-level source code?

[2019-04-30 10:06] ghostplant commented on #3058
@masahi For asm, I think I can follow https://gpuopen.com/amdgcn-assembly/, but how about codes from llvm format?

[2019-04-30 10:21] masahi commented on #3058
The output of get_source is not meant to be combined by other means. What do you want to do?

[2019-04-30 14:09] jroesch commented on #3079
This should be fixed in master, if you are still having an issue follow up.

[2019-04-30 14:09] #3079 closed

[2019-04-30 19:00] yzhliu commented on #3097
@kevinthesun Do we confirm CanonicalSimplifier is causing the regression?

[2019-04-30 19:16] unrahul opened #3122 "TypeError when running the example to compile tensorflow models"
Downloaded and compiled TVM from master
Latest commit: ba6f194b54fbcd88372884acc6a2b722aed8343f
Tensorflow version: master
commit : 47ab68d265a96b6e7be06afd1b4b47e0114c0ee9

Ran the [compile tensorflow models example](https://docs.tvm.ai/_downloads/d910513238a8ce9e4a8592fbca16128d/from_tensorflow.py), after downloading the model and image file, I got an error:

[code]

[2019-04-30 20:20] ghostplant commented on #3058
@masahi I want to tune an op with specific config, get the best-working kernel source code, and freeze it as a hipModule.

[2019-05-01 00:12] tqchen commented on #3088
try to change that to tvm.expr.Mul(a, b)

[2019-05-01 00:13] tqchen commented on #3097
This could likely due to CanonicalSimplify for making a stronger assumption of simplifying the divisions and mod(having to make sure operands are positive).

This is mainly because we make a different assumption about the division semantics. For this particular case, we could enhance the simplifier to deduce that the operand before mod is indeed positive, I will attempt a fix in the incoming weeks

[2019-05-01 00:37] tqchen commented on #3122
It would be great if you can open a new thread in https://discuss.tvm.ai/, we encourage everyone to post on forum first :)

[2019-05-01 00:37] #3122 closed

[2019-05-01 00:54] tqchen commented on #3058
given that this question has evolved to more general discussions, I would recommend starting a conversation on https://discuss.tvm.ai/ :)

[2019-05-01 00:54] #3058 closed

[2019-05-02 01:05] merrymercy commented on #3088
After I applied @tqchen 's suggestion, the vectorization error disappeared.
But I do not have the access to rk3399 right now. Can you verify it @yzhliu ?

[2019-05-02 02:39] tqchen commented on #3097
https://github.com/dmlc/tvm/pull/3132 is an attempted improvement to alleviate this situation. In particular, the two cases examples can now be simplified

[2019-05-02 04:27] yzhliu commented on #3088
@merrymercy I tested on the device, it works.

[2019-05-02 15:30] zjuwenge commented on #3080
I have met the same error. Have you solved it?

[2019-05-03 01:29] ZihengJiang commented on #2623
# TVM Monthly - April 2019
https://discuss.tvm.ai/t/tvm-monthly-april-2019/2426

[2019-05-03 06:34] mnboos opened #3134 "[Relay][ONNX] KeyError: ‘W’ when compiling from onnx"
Dear tvm team

I'm aware that I'm not supposed to use this issue tracker as a first instance. However, in the community was no reaction and in the meantime the model I uploaded was deleted. So I added it here as an attachment, so it won't get lost anymore.
[yolo_failing.zip](https://github.com/dmlc/tvm/files/3140832/yolo_failing.zip)

The attached model leads to an exception during the compilation

[2019-05-03 13:35] tqchen commented on #3134
cross ref https://discuss.tvm.ai/t/relay-onnx-keyerror-w-when-compiling-from-onnx/2102/3

Given that you have a good idea about what is happening, can you attempt a fix to the problem?

[2019-05-03 17:19] ghostplant commented on #3058
@masahi Do you know why CUDA/OpenCL platform can get C source, but ROCm platform can't?

[2019-05-03 21:55] masahi commented on #3058
Because CUDA and OpenCL backends generate kernel source as C strings, while ROCm backends generates LLVM IR

[2019-05-04 15:58] ghostplant commented on #3058
@antinucleon Actually, most of my tuning results in this failure but not happen in CUDA backend:
``sh
error: local memory limit exceeded (73728) in default_function_kernel0
[code]

[2019-05-05 03:28] masahi commented on #3058
This is not clean, but you can modify [this block](https://github.com/dmlc/tvm/blob/master/python/tvm/autotvm/measure/measure_methods.py#L231-L241) for rocm target.

[code]

For rocm, max_shared_memory_per_block should be 48KB, and max threads per block should be 256. Don't forget to add "if 'rocm in self.task.target.keys".

[2019-05-05 07:01] ghostplant commented on #3058
@masahi Nice, it works.

[2019-05-05 07:12] ghostplant commented on #3058
@masahi Do you know whether this warning matters for tuning?
[code]

[2019-05-05 08:33] masahi commented on #3058
If you specify constraints on shared mem size, number of threads, etc, verify_pass would reject kernel configurations that do not satisfied that constraints (invalid configurations are still considered because of random nature of autotvm). I think the warning you got is the result of rejection.

As long as autotvm visits configuration that satisfy your constraints, autotvm should be able to make p

[2019-05-05 08:43] ghostplant commented on #3058
@masahi Thanks, I updated this parameter, though I didn't find the tuning result get better.

[2019-05-05 10:43] merrymercy commented on #3088
closed by #3131

[2019-05-05 10:43] #3088 closed

[2019-05-05 22:00] kevinthesun commented on #3097
@tqchen Now gluoncv ssd has expected performance after https://github.com/dmlc/tvm/pull/3132. Thanks for your fixing!

[2019-05-05 22:00] #3097 closed

[2019-05-06 05:08] mnboos commented on #3134
I will clarify with my boss and come back to you.

[2019-05-06 09:46] zhanggy358 commented on #3134
I have encountered similar issue:

Traceback (most recent call last):
  File "from_onnx.py", line 96, in <module>
    sym, params = relay.frontend.from_onnx(onnx_model, shape_dict, dtype='float32')
  File "/tvm/python/tvm/relay/frontend/onnx.py", line 1144, in from_onnx
    sym, params = g.from_onnx(graph, opset)
  File "/tvm/python/tvm/relay/frontend/onnx.py", line 965, in from_onnx
    inputs =

[2019-05-07 02:36] jroesch commented on #3134
Could you send the parameters to the `from_onnx` call?

For example with:

[code]

[2019-05-07 02:37] jroesch commented on #3134
cc @zhreshold could you look into this?

[2019-05-07 19:58] eqy opened #3142 "[TEST][FLAKY] test_topi_vision.test_get_valid_counts"
See http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-3083/6/pipeline/ for an example failed run.

[2019-05-07 20:08] zhreshold commented on #3134
I actually digged into and found some bugs.
Here's the fix: https://github.com/dmlc/tvm/pull/3143

@mnboos
However, the provided yolo_failing.zip is not a valid onnx model, the nodes are not in topological order which will cause failure when iterating throught the nodes in onnx.graph.
Please let me know if you have a proper model and I can add it to the unittest.

[2019-05-07 20:28] mnboos commented on #3134
@zhreshold Thanks for your efforts. The model was created with the official keras2onnx converter, I'll file an issue there. On the other hand it would be nice if TVM could either first sort topologically if necessary or provide a useful error message.

[2019-05-07 21:12] jroesch commented on #3134
It is possible to just directly use the Keras importer in that case?

[2019-05-07 23:48] joshpoll commented on #3016
This PR has been open for a while now. Please post your final thoughts so we can close this and begin implementing the language features. In particular, we should try to come to some resolution on attributes.

@tqchen @MarisaKirisame @jroesch @wweic @vinx13 @junrushao1994 @nhynes

[2019-05-07 23:50] MarisaKirisame commented on #3016
My single objection is no ^.

[2019-05-08 00:52] zhiics opened #3146 "[RFC][Relay] Port Relay passes to pass manager"
# Port Relay Passes to Pass Manager
As the pass manager framework has been merged, we should start to move passes to the pass manager. This RFC proposes the plans to move the Relay passes.

## Proposal (take constant folding as an example):
The proposal needs to solve problems from both the backend and the frontend. As this could be a lot of refactoring work, we will mainly focus on the API change

[2019-05-08 02:14] vinx13 commented on #3052
see https://discuss.tvm.ai/t/incorrect-cuda-code-generated-when-3d-thread-grid-is-used/2288https://discuss.tvm.ai/t/incorrect-cuda-code-generated-when-3d-thread-grid-is-used/2288

[2019-05-08 02:14] #3052 closed

[2019-05-08 02:44] wweic commented on #3016
I'm good with the RFC overall. Slightly prefer `!` same as @MarisaKirisame.

[2019-05-08 05:32] mnboos commented on #3134
Theoretically yes, but we're looking into TVM and TVM handles onnx as input, which lead to the error above. Using another library would just be avoiding a symptom, whereas I'm more a friend of solving problem at its root. Don't get me wrong, I don't want to make accusations, I'm just saying there is room for improvement in terms of robustness in TVM (when it comes to handling (invalid) onnx).

[2019-05-08 14:35] xiaoxifuhongse commented on #3023
@jamessmith90
I have the same problem , do you have work it out?
I try to convert darknet yolov3.weights to onnx then tvm to run　with CPU

[2019-05-08 15:24] tqchen commented on #3119
@srkreddy1238 what is the status of this issue?

[2019-05-08 15:25] tqchen commented on #2519
As a side note, we can provide a layout transformation pass to do the layout transformation(from NHWC->NCHW, or NCHW4) in relay.

[2019-05-08 15:26] ghostplant commented on #3148
Maybe it is caused by creating a bunch of python worker subprocess which results in resource conflicts. How to reduce the number of workers created by TVM?

[2019-05-08 15:27] ghostplant commented on #3148
@masahi

[2019-05-08 15:29] srkreddy1238 commented on #3119
Will address it in coming weekend.

[2019-05-08 17:04] tqchen commented on #3148
you will need to use RPC  mode for Rocm. See https://github.com/dmlc/tvm/blob/master/apps/rocm_rpc/README.md

[2019-05-08 17:04] #3148 closed

[2019-05-08 17:20] tqchen commented on #2827
fixed by #2961

[2019-05-08 18:07] ahjiangz opened #3150 "[Bug][VTA][PATCH Attached] VTA Load Error After Change VTA Config "LOG_BLOCK_IN" and "LOG_BLOCK_OUT" Into >4 Number"
Hi There,

I am doing some practice with VTA Tutorials "Simple Matrix Multiply" and experienced a error issue and it seems like be a bug of vta_conv2d.py.

Issue is after  changed   LOG_BLOCK_IN and LOG_BLOCK_OUT in vta_config.json into a >4 value like 5, the vta load would report error as following.

Problem seems like caused by resnet18 that used by vta_conv2d.py and have in_filter minimum size

[2019-05-08 19:28] ghostplant opened #3148 "Not able to allocate HIP memory correctly when TVM starts up"
Environment: ROCm 2.3 + TVM (master branch) + LLVM-9 + Vega 20 (15GB GPU memory free)
This is the log when executing `HIP_DB=api+mem+copy python3 matmul_autotvm.py`:

[code]

I also ensure no any other HIP apps occupying any GPU memory in multiple ways.
Obviously, TVM fails to tuning all the cases just because of it can not allocate and memory for the second time of calling `hipMalloc`.

The same

[2019-05-08 20:14] ZephyrSails opened #3152 "[c++ deploy] How to manage resources for multiple tvm instances in single application?"
Hi there,

I have a c++ application and it will run multiple tvm instances in parallel, and I wish each tvm instance can use 4 cpus to optimize the execution time. (e.g: on a machine with 20 cores, I will run 5 tvm instances and each instances will use and only use their assigned 4 cores).

If I don't need them to run in parallel, I can use environment variable e.g: `export TVM_NUM_THREADS=4` to s

[2019-05-08 23:05] Ravenwater commented on #3152
I presume that the concurrency created by parallel execution is at the model level. In that case, you would want to create some model-level memory and processor allocations. You could do this at the process level, and manage TVM invokations, or you can leverage the whole container ecosystem. Although, container schedulers like k8s tend to want resource guarantees, so the container route will incre

[2019-05-08 23:18] antinucleon opened #3154 "Adding performance regression test in CI"
Currently we don't have perf regression test in CI. Merging PR is not able to guarantee performance is as fast as before. This situation happens many times:

https://discuss.tvm.ai/t/solved-relay-x86-target-performance-regression/2266
https://github.com/dmlc/tvm/issues/3088

I suggest add performance regression test into CI, once performance is significantly changed the PR should be blocked.

[2019-05-08 23:52] kevinthesun commented on #3154
+1

[2019-05-08 23:58] kevinthesun commented on #3102
The computation definition for dilation conv2d already exists in topi. For x86, the major part missing is the schedule.

[2019-05-09 02:25] wweic commented on #3154
+1. Some nightly benchmark might be good enough for us to track any regression/improvements. Apache Lucene has a pretty good [example](https://home.apache.org/~mikemccand/lucenebench/).

[2019-05-09 02:34] antinucleon commented on #3154
I think we don't need test all networks, A resnet-18/mobilenet and maybe simple RNN are able to expose most of problems.

[2019-05-09 02:49] zhiics commented on #3154
Or we can do nightly benchmarking on a series of commits. Authors of these commits that cause significant performance regression will be notified to identify the issue

[2019-05-09 04:55] jroesch commented on #3154
I think the Rust project has a decent approach to this: https://perf.rust-lang.org/

They visualize the performance of the compiler, the generated code, etc nightly.

One worry I have is CI is already very slow and often becomes congested when lots of people are working on open PRs.

[2019-05-09 04:56] tqchen commented on #3150
please open a new thread in discuss.tvm.ai

[2019-05-09 04:56] #3150 closed

[2019-05-09 04:58] tqchen commented on #3154
Some nightly infra is good so it won’t block the current CI

[2019-05-09 07:12] liangfu opened #3159 "[RFC] MISRA-C/C++ Compliant Runtime"
For a long time, the development of TVM has been focused on optimizing deep learning inference for almost any processing systems, and it has been used widely in many applications fields. However, when users of TVM were trying to use theirs pretrained & quanitzed model in critical systems (e.g. aircraft control and autonomous driving), the running source code is expected to be extremely reliable an

[2019-05-09 08:02] hxcai opened #3160 "It seems just some specified output channel numbers can work when using nnvm's from_tensorflow"
### when I set output channel number to be 75, it can work and the log is below, the black lines are convs with output channel.
WARNING:tensorflow:From tvm_test.py:36: FastGFile.__init__ (from tensorflow.python.platform.gfile) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.gfile.GFile.
WARNING:tensorflow:From tvm_test.py:47: convert_variables_to_constants

[2019-05-09 10:25] u99127 commented on #2469
There are some good points that are mentioned above - having a set of good getting started guides based on different usecases  would certainly be a good starting point.

 One of the things that I found hard to get started with was using tvm as a user was the absence of canned frontends as at the end of the build process one just gets a set of libraries. It is then that one goes and looks at the tu

[2019-05-09 10:37] marcelotrevisani opened #3161 "[BUILD] Conda package to tvm"
Hello,

I am trying to create a package for ``tvm`` on [conda-forge](https://conda-forge.org/).
I already packaged the whole third-party dependencies. However, I am facing some errors in compilation time.

For now, I am just creating the package for Linux

PR opened for ``tvm`` : https://github.com/conda-forge/staged-recipes/pull/8316

Azure pipeline:
https://dev.azure.com/conda-forge/feedstock-bu

[2019-05-09 10:39] marcelotrevisani commented on #3161
TVM dependencies which I had to package:
https://github.com/conda-forge/dlpack-feedstock
https://github.com/conda-forge/dmlc-feedstock
https://github.com/conda-forge/rang-feedstock
https://github.com/conda-forge/halideir-feedstock

[2019-05-09 11:34] jake221 opened #3162 "from ...cpp.image import bilinear_sample_nchw"
Hi,
I build tvm in CentOS 7 linux, with a llvm 6.0.1 prebuilt version( SUSE-12). And then everything goes fine in the python package installation. I also accelerate my face recognition model (insightface) from 320ms to 70ms in extracting face features for one face picture.

However, our manufacturing environment is SUSE-12 with out GPU. And there is no cmake in that linux. So I copy the built vers

[2019-05-09 15:42] tqchen commented on #3152
Thanks for the great discussion, for this kind of topic, we generally encourage opening a thread in https://discuss.tvm.ai/, let us move the discussion there :)

[2019-05-09 15:42] #3152 closed

[2019-05-09 20:38] MarisaKirisame commented on #3146
I had talked to @jroesch , and we think that there is two thing: the function (what we currently have), and the pass.
the pass is essentially a function from (Module, PassContext) to Module (yes, only Module), while the function can has different form - it may take an expr, or it may take a module, or even more info, etc.
the pass also should probably be done in C++, as we have the C++ build syste

[2019-05-09 21:12] ZephyrSails commented on #3152
Hi @Ravenwater, thanks for your reply, the concurrency I'm talking about is out side model, for example: our TVM model will handle entire user request. When we have multiple user requests happening concurrently, we will create multiple TVM model instance, and each instance handle each request. We wish each TVM model instance can get their designated resource (cpu) and do not interfere with each ot

[2019-05-09 21:13] ZephyrSails commented on #3152
@tqchen What would be the best practice to move this topic? Shall I just post the exact same question in https://discuss.tvm.ai/ and add a link to this thread?

[2019-05-09 22:59] u99127 commented on #2910
Probably a dumb question, but is c = a < b the same as using of c = relay.less_equal (a, b); ?

[2019-05-10 05:10] junrushao1994 commented on #3161
Looking into the Azure pipeline, I saw the following error message
[code]

`kDLVulkan` is defined in `3rdparty/dlpack/include/dlpack/dlpack.h`, so I would say that there might be some issues with the include search path.

[2019-05-10 08:14] marcelotrevisani commented on #3161
Hi @junrushao1994 , thanks for your answer

I see I will try to add it then!
Any news I will continue to post here

[2019-05-10 08:44] marcelotrevisani commented on #3161
I am seeing a different error now
Please see
https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=33871

[2019-05-10 09:39] Oldpan opened #3167 "[Relay][Frontend][ONNX] Should flatten op is converted to batch_flatten ?"
There is a bug in onnx frontend I think.
When I using onnx model which has a flatten op with axis attribute and the value is 1.
And then I run `relay.frontend.from_onnx` , it will occur a issue :
[code]
So I modify the source code in  `.../relay/op/nn/nn.py - line 429`.
Change
[code]
to
[code]
And it works but obviously this is a temporary solution.
I see this pull request #2843 had renamed 'Flatt

[2019-05-10 13:08] derisavi commented on #3154
+1 to doing performance testing nightly (separate from CI). Moreover, we can do more important/shorter perf tests nightly and a more comprehensive set of perf tests weekly.

[2019-05-10 14:50] sebap123 opened #3170 "After clean built 'tvm._ffi._ctypes.node.NodeBase' object has no attribute 'set_default'"
Once I've built TVM following guide from documentation I cannot run any example (tried so far tune_relay_x86.py and relay_quick_start.py).

I am getting all the time error
[code]
My believe is that environment variables are set correctly:
`export TVM_HOME=/home/tvm_test && export PYTHONPATH=$TVM_HOME/python:$TVM_HOME/topi/python:$TVM_HOME/nnvm/python:${PYTHONPATH}`
I'm running Python 3.6.7 if that

[2019-05-10 14:53] vinx13 commented on #3162
Can you try to figure out what's happening? FYI bilinear_sample_nchw is imported from C++ in https://github.com/dmlc/tvm/blob/95a323aaa148edb53f9308fd82d0d08638fdb0a4/topi/python/topi/cpp.py#L68

Please move discussion to  https://discuss.tvm.ai

[2019-05-10 14:53] #3162 closed

[2019-05-10 17:11] derisavi opened #3171 "CI build problem"
The last few CI builds have failed very early on. Could be a server problem or something.
http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-3169/1/pipeline
http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-3168/1/pipeline
http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-3166/2/pipeline

Can someone please take a look? I don't know who other than @tqchen can

[2019-05-10 17:21] junrushao1994 commented on #3161
Hey, template with c linkage typically means that we are using `external C` somewhere but enclosed with c++ code, like templates. I am not an expert in building conda packages, but where can I see your build configurations files? Thanks!

[2019-05-10 19:58] tqchen commented on #3171
Thanks for reporting this. Was due to a bad configuration in a worker. This has been fixed. Please push again to retrigger

[2019-05-10 19:58] #3171 closed

[2019-05-10 20:54] eqy commented on #3142
Closed by #3151, thanks @Laurawly

[2019-05-10 23:34] tqchen commented on #3170
Please open a new thread on https://discuss.tvm.ai/ :)

[2019-05-10 23:34] #3170 closed

[2019-05-10 23:35] tqchen commented on #3167
Thanks for bringing this up, we can do an optional conversion(convert to batch_flatten when it matches, use reshape otherwise) We can also enhance batch_flatten. Contribution is welcomed!

[2019-05-11 03:22] yinxiaochuan opened #3177 "Operator Greater not implemented."
I successfully convert the pytorch model to the onnx. The converted model cannot be loaded in tvm (0.6_dev0), because the greater operator is not implemented. The greater operator is supported in the tvm relay. Any suggestion?

[2019-05-11 04:37] Oldpan commented on #3167
Thanks for reply.
I'LL try a contribution for this

[2019-05-11 04:46] zhiics commented on #3146
For anyone who is interested in this, please comment. We appreciate your thoughts and suggestions. @MarisaKirisame and I will start working on it once we get some cycles.

[2019-05-11 16:26] Wheest opened #3181 "Build error from dsl_api.cc"
Hello there.

I've been getting the following build error on all master commits since [dd55682](https://github.com/dmlc/tvm/commit/dd55682dcd6a6b17d11f228a64708532bb1ad111), including the [current head of master](https://github.com/dmlc/tvm/commit/5f5bf79742552194eeb5256026ae60e9cfe94426).  Build is successful on prior versions.

[code]

Only tested on Debian testing buster, x86_64 Linux 4.19.0-4-

[2019-05-11 22:32] jroesch commented on #3181
You need to update your submodules, make sure to run `git submodule update` after pulling a revision in which the submodules have changed.

[2019-05-11 22:33] #3181 closed

[2019-05-11 22:34] jroesch commented on #3177
It is probably a single missing line in the ONNX conversion code. cc @zhreshold

[2019-05-11 22:35] jroesch commented on #3177
If you are interested in contributing you just need to provide a converter here: https://github.com/dmlc/tvm/blob/master/python/tvm/relay/frontend/onnx.py#L781.

[2019-05-12 09:51] marcelotrevisani commented on #3161
What do you mean by build configuration files?
environment variables which might be used are shown at the beginning of the build

[2019-05-13 05:20] junrushao1994 commented on #3161
@marcelotrevisani Cool i will try building these stuff offline and get back to you asap

[2019-05-13 05:49] myproject24 commented on #604
Hi, @tqchen @BigJerry I am also getting the same error I am deploying tvm compiled model in c++ statically, i built tvm with enabling support to llvm, OpenCL, and Cuda. And i am able to deploy tvm model with llvm all optimization levels but Cuda and OpenCL models are throwing this error.

[2019-05-13 09:26] marcelotrevisani commented on #3161
@junrushao1994 , I think without the conda environment would be difficult to replicate the errors.
If you want to, you can download `[miniconda](https://docs.conda.io/en/latest/miniconda.html), install it, after that, you need to install the ``conda-build`` and add the ``conda-forge`` channel:
[code]

so, you will need the recipe for ``tvm``, basically it is in my branch ``add-tvm``
https://github

[2019-05-13 09:43] ElegantGod opened #3183 "output shape is different from mxnet"
In my tvm inference, the ndim and shape of cpp and python are 5, [1,4,32,32,8], but the ndim and shape of mxnet inerence are 4,[1,32,32,32].

[2019-05-13 09:58] vinx13 commented on #3183
In TVM, some conv2d will be transformed to NCHWc for better performance. https://github.com/dmlc/tvm/blob/6a4d71ff40915611bd42b62994992b879e6be610/topi/python/topi/x86/conv2d.py#L374
Please move discussion to https://discuss.tvm.ai if you met any error.

[2019-05-13 09:58] #3183 closed

[2019-05-13 11:23] srkreddy1238 commented on #3077
#3184 provides limited support for PlaceholderWithDefault treating it as Placeholder.

```tf.graph_util.convert_variables_to_constants``` graph transform can be used before import to take care of Variable(V2), Assign.

[2019-05-13 14:23] xxr988764 commented on #3177
listDiff operator in https://github.com/dmlc/tvm/tree/master/python/tvm/relay/frontend/tensorflow.py not implemented too.

[2019-05-13 15:38] ysh329 opened #3185 "c++: internal compiler error: Killed (program cc1plus)"
- default cmake config
- gcc: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
- Target: x86_64-linux-gnu

[code]
Have any idea? Thanks in advance.

[2019-05-13 16:58] tqchen commented on #3185
Please open a new thread on https://discuss.tvm.ai/ for general support questions :)

[2019-05-13 16:58] #3185 closed

[2019-05-13 18:27] zhreshold commented on #3177
https://github.com/dmlc/tvm/pull/3186

[2019-05-13 21:17] #3177 closed

[2019-05-13 21:19] tqchen commented on #3167
https://github.com/dmlc/tvm/pull/3180 Thanks @Oldpan

[2019-05-13 21:19] #3167 closed

[2019-05-13 21:20] tqchen commented on #3119
#3182

[2019-05-13 21:20] #3119 closed

[2019-05-14 01:40] ysh329 commented on #3185
ok

[2019-05-14 02:17] aa12356jm opened #3189 "[TFLite] Support Operator MUL,RESIZE_BILLINEAR not implemented"
when I try a pretrained tflite model, get a error:
tvm.error.OpNotImplemented: The following operators are not supported in frontend TFLite: 'MUL','RESIZE_BILINEAR'

[2019-05-14 14:51] Wheest opened #3190 "OpenCL grouped convolutions "did you forget to bind""
It's possible that this is a usage question rather than a bug.

However, I have been trying to run grouped convolutions on OpenCL devices, using models imported from ONNX.

OpenCL models work when the number of `groups==1`, and when `groups==input_channels`, but get errors like `Direct host side access to device memory is detected in fused_nn_conv2d_9` for other values of groups.

Interestingly, v

[2019-05-14 16:59] vinx13 commented on #3190
group conv2d is not fully supported, we don't have schedule on CUDA/OpenCL. Currently only int8 group conv2d on CUDA is supported.

[2019-05-14 22:24] anijain2305 commented on #2351
@FrozenGene I am interested in contributing to this Issue. Is it possible to share the progress?

[2019-05-15 00:41] tqchen commented on #3190
@vinx13 can we add a more specific exception for other cases for now?

[2019-05-15 02:45] FrozenGene commented on #2351
Hey, @anijain2305 Thanks for your interest. Currently, I am doing https://github.com/dmlc/tvm/pull/3141. After that, I will start it. BTW, our internal support is based on NNVM and we have completed support it, we have the same result compared with TFLite and have better performance than TFLite. However, I have to spare some time translating to Relay when to make PR. But I have to say that I am bu

[2019-05-15 17:39] jethrogb commented on #2887
EDP author here. Feel free to ping me any time with any security/support questions regarding Fortanix EDP. Either on GitHub, or on [Slack](https://fortanix.com/runtime-encryption-slack).

Both these things are completely, entirely, 100% incorrect. (@dingelish I'd be interested to know how you came to this understanding. I'd also appreciate it if you take security concerns directly to Fortanix inst

[2019-05-15 17:45] jethrogb commented on #2887
NB. The target is at tier 2, not tier 3.

[2019-05-15 21:15] eqy opened #3192 "[RFC] Real-Time Android Camera Demo"
We recently implemented a camera demo that runs vision models in real time on android phones (with relatively beefy CPUs, such as the Pixel 2). Is there any interest in adding this to the collection of reference apps? This would also enable going directly from pretrained MxNet models to the corresponding library and parameter files for the phone.

[2019-05-15 22:41] ajtulloch commented on #3159
@liangfu this looks quite interesting. Does MISRA compliance affect the compiler or the generated code as well (i.e. how do we certify that the output of e.g. LLVM is correct, doesn't segfault, etc?).

WRT to the minimal runtime I put together that `bundle_deploy.cc` list quite quickly, I think with a bit of pruning (e.g. if we enforce single threaded use from MISRA, we can get rid of `threading_b

[2019-05-16 01:41] nhynes commented on #3159
For sure. The Rust runtime has all of the features required for running syslib modules, but it makes use of `alloc` and some tasteful unsafety, which are disallowed by MISRA. If we really wanted to have an ultra-safe runtime, we could do a bit better there. Rust is probably closer to complete safety than rewriting the C++ runtime, though.

Of course, as @Ravenwater has oft mentioned, adopting Rust

[2019-05-16 01:57] nhynes commented on #2887
Looks like we've reached consensus. Thanks @dingelish and @jethrogb for the feedback. Work will now proceed on #2885.

[2019-05-16 01:57] #2887 closed

[2019-05-16 02:12] tracy56 opened #3193 "[relay][onnx] load onnx model to relay failed"
I don't want to create a question here, but still get no answer from the community.
I wanted to load onnx model to relay, error appeared:
import tvm
import onnx
import tvm.relay as relay
onnx_model = onnx.load_model(model_name)
shape_dict = {'0': (1, 3, 112, 112)}
dtype_dict = {'0': 'float32'}
sym, params = relay.frontend.from_onnx(onnx_model, shape=shape_dict, dtype=dtype_dict)

Error messages:
.

[2019-05-16 02:51] liangfu commented on #3159
In my observation, the compliance does affect the compiler and the code generator. However, as a first step towards making TVM available for the critical and safety related systems, I think it's important to consider the runtime design first.

It's difficult to enumerate all the platforms and users who want such runtime. However, it would be a good start to consider how could a developer use TVM t

[2019-05-16 03:36] tqchen commented on #3193
let us keep the discussion in https://discuss.tvm.ai/t/relay-onnx-load-resnet-onnx-to-relay-failed/2411

[2019-05-16 03:36] #3193 closed

[2019-05-16 03:50] tqchen commented on #3159
Memory allocation is fine, as long as we have a pre-allocated heap that provide a sufficient amount of meory

[2019-05-16 03:54] tqchen commented on #3134
Close by https://github.com/dmlc/tvm/pull/3143, we welcome contribution for a  topo correctness checker in onnx importer

[2019-05-16 03:54] #3134 closed

[2019-05-16 03:56] tqchen commented on #3077
https://github.com/dmlc/tvm/pull/3184

[2019-05-16 03:56] #3077 closed

[2019-05-16 03:57] tqchen commented on #2915
Seems we have reached consensus about VM design, close for now

[2019-05-16 03:57] #2915 closed

[2019-05-16 03:58] tqchen commented on #2810
close for now as we converge in VM deisgn

[2019-05-16 03:58] #2810 closed

[2019-05-16 03:59] #2685 closed

[2019-05-16 04:00] tqchen commented on #2685
#3082

[2019-05-16 07:41] liangfu commented on #3159
A software implemented with `malloc` would only reach functional safety level of QM. It would be far from to be graded as ASIL-D. See ISO 26262 Table 8 Topic 2 in [Meeting ISO 26262 Guidelines with the Synopsys Software Integrity Portfolio](https://www.synopsys.com/content/dam/synopsys/sig-assets/whitepapers/meeting-iso-26262-software-standards.pdf)

[2019-05-16 15:39] #3190 closed

[2019-05-16 16:30] yinxiaochuan commented on #3177
Thank you!

[2019-05-16 16:41] tqchen opened #3197 "[RELAY] Avoid eager creation of global target object"
https://github.com/dmlc/tvm/blob/master/src/relay/backend/build_module.cc#L54

Not all target is enabled.
- See https://discuss.tvm.ai/t/unknown-target-name-vpi/2589/3
- Consider changing the map to a function, with switch case

It is usually not a good practice to eagerly create a global static object(which might have initialization order issue).

[2019-05-16 16:41] tqchen commented on #3197
cc @zhiics

[2019-05-16 17:12] zhiics commented on #3197
I will move them back to `std::string` and create when necessary.

[2019-05-16 17:25] tqchen commented on #3197
https://github.com/dmlc/tvm/pull/3198

[2019-05-16 17:48] zhiics commented on #3197
@tqchen Thanks for the fix.

[2019-05-16 20:16] ghostplant opened #3201 "[BUG] Build failed: Source code no longer compatible with gcc-7 on Ubuntu 18.04"
Environment: Ubuntu 18.04 + gcc-7;
Branch: master

Error log:
[code]

[2019-05-16 21:38] tqchen commented on #3201
do a ```git submodule update --recursive```

[2019-05-16 22:09] #3197 closed

[2019-05-16 22:55] nhynes commented on #3159
It's definitely possible to fixup the TVM runtime so that the buffers are included as part of the static library and to inline the pointers at compile time. If the graph is also constructed at compile time (something I've been wanting to do in the rust runtime anyway) then there's not much outside of `(Workspace|Thread)Pool` that needs allocation.

[2019-05-16 23:00] tqchen commented on #3159
Yes, what I mean is to pre-calculate the space necessary and mimic device-alloc with the fix size heap

[2019-05-16 23:27] MarisaKirisame opened #3202 "[RFC][Relay] Pass API Discussion"
In #2512 , we had decided on the API on Pass Manager. However, in personal communication with @tqchen , he suggested that we think on the name a bit (what namespace, what is the name of class and function, etc).

## Example Code
python
[code]
C++
[code]

[2019-05-16 23:37] zhiics commented on #3202
Why `transform` is a better namespace than `pass`? I am fine with `Sequential` as it is also used by Pytorch.

[2019-05-16 23:38] nhynes commented on #3159
From [what](https://cboard.cprogramming.com/c-programming/124871-what-alternative-malloc.html) I [can](https://misra.org.uk/forum/viewtopic.php?t=260) [tell](https://stackoverflow.com/questions/16740435/c-memory-management-and-misra), writing a user `malloc` is against the spirit of MISRA. Part of the benefit is knowing _exactly_ what will happen in the memory manager, but I'm not sure whether it'

[2019-05-17 00:20] tqchen commented on #3202
Let me elaborated a bit. While #2546 decides on most details about the pass manager internals, I would like us to think a bit more about the API design itself.  In particular, how to learn from deep learning frameworks(pytorch, keras, gluon) to build an API that is intuitive, friendly and requires the users to write a minimum amount of code.

During a conversation with @MarisaKirisame and others,

[2019-05-17 00:21] tqchen commented on #3159
I don't mean to bring our own libc, but just to implement the DeviceAPI::Alloc with a fixed pre-allocated heap.

[2019-05-17 00:23] tqchen commented on #3202
Things to discuss:

- API mock-up example, syntax
- namespace convention
- keyword for the entry function in Module(main?)

[2019-05-17 01:40] nhynes commented on #3159
Ah, that makes total sense: a non-trivial implementation of DeviceAPI. Gee, what a nice abstraction! I still kind of want the static graph, though :)

[2019-05-17 17:55] ajtulloch commented on #3042
This looks like a great design, and should handle all the applications I'm currently thinking of.  @jroesch  let us know if we can help.

[2019-05-17 19:45] tqchen commented on #3202
Possible incremental migration plan:

- Introduce transform.py transform.h
   - keep the old ir_pass/pass until we fully
- Use ```main``` for the entry function

[2019-05-17 19:47] zhiics commented on #3202
Sounds like a good plan. I think main is currently used as the entry function.

[2019-05-18 07:25] merrymercy commented on #2827
I think this issue has not been solved by #2961. Reopen it.

[2019-05-18 09:54] vinx13 commented on #2827
CombineParallelConv2d doesn't always give better performance. We should extract workload with and without this pass and then decide whether to apply this pass.

[2019-05-18 13:27] ghostplant commented on #3201
Yeah, fixed, thanks!

[2019-05-18 13:27] #3201 closed

[2019-05-18 17:12] tqchen commented on #3201
Next time, please open a new thread on https://discuss.tvm.ai/ first :)

[2019-05-18 20:41] cbalint13 commented on #3057
Issue fixed by #3194 .

[2019-05-18 20:41] #3057 closed

[2019-05-18 22:53] wweic opened #3209 "[Relay][RFC] VM Object and Intepreter value"
Currently we can not convert VM data type object to interpreter `ConstructorValueNode`:
https://github.com/dmlc/tvm/blob/78a0f47b7e823aecea693c1be7a2ff7523b3b09e/src/relay/backend/vm/vm.cc#L73-L83

It's because right now we don't have serialization support for `tag_index_map` in `compiler.cc`. We need to design a protocol to serialize `Constructor` so we can save the map to file in vm compiler, th

[2019-05-18 23:31] MarisaKirisame commented on #3209
We do not has to seralize constrcutor. There is a tag and the match system only use the tag to do pattern matching. Just serialize the tag which is an int of some type (probably size_t) and you are done.

[2019-05-19 01:39] wweic commented on #3209
@MarisaKirisame It's not an issue if the object is only manipulated inside vm. this function I pasted is to converter vm object into interpreter `ConstructorValueNode`. And to construct `ConstructorValueNode`, it requires `Constructor`:
https://github.com/dmlc/tvm/blob/78a0f47b7e823aecea693c1be7a2ff7523b3b09e/include/tvm/relay/interpreter.h#L185-L187

And `Constructor` is more than an int tag. it

[2019-05-19 02:20] MarisaKirisame commented on #3209
@wweic what happend if you make a new Constructor, with the int tag, and all other field as null? I put the int tag there because it bypass pointer equality issues, and is just more efficient. To the best of my knowledge, all code only use and should only use that int tag, unless it is user-interfacing.
If you insist on having the full constructor, It can still be done by using the original type -

[2019-05-19 06:02] kevinthesun commented on #2827
Is it possible to move this pass to higher opt level? Looks like it's not quite suitable to put it together with other mandatory optimization passes in opt 3.

[2019-05-20 06:26] vinx13 commented on #2827
@kevinthesun Yes we can move it to opt 4 for now

[2019-05-20 17:04] tqchen commented on #3209
I personally think it is a good design to have a clear separation between runtime and interpreter. Even more specifically, I think we should try to unify the objects so that the interpreter also returns objects(with some special instance of opaque objects that might contain interpreter specific values

[2019-05-20 21:30] jroesch commented on #3209
The problem with unification of the values is that closures fundamentally have a different representation and can't use the runtime's because they must store a NodeRef (i.e the code).

[2019-05-20 21:56] tqchen commented on #3209
That is why I mean we might need to have an extensible Object for closure, with an opaque ctx pointer that could point to the NodeRef(code), and possibly a function pointer that defines the calling behavior.

[2019-05-21 00:11] ghostplant commented on #1021
Is this feature supported?

[2019-05-21 01:28] slyubomirsky commented on #3209
I am very much in favor of changing the representation of `ConstructorValue`, as having to keep the module around (to ensure pointer equality) caused me a bit of pain in my Relay to Python compiler PR.

[2019-05-21 01:41] slyubomirsky opened #3216 "[Relay][Bug] simplify_inference does not preserve the numerical value of batch_norm"
I recently ran into a concerning issue while writing some tests and discovered that running `relay.ir_pass.simplify_inference` on code containing `batch_norm` results in a greatly different numerical value from a numpy reference implementation.

That is, the following test fails with a large numerical difference (about 3% mismatch when I just tried):
[code]

What could be the issue? @MarisaKirisam

[2019-05-21 02:02] slyubomirsky commented on #3216
It works if `atol` and `rtol` are reduced to 1e-5, so maybe this is not an issue after all. It would be good if we had standard tests that did this, though, and documented the accuracy behavior.

[2019-05-21 02:02] #3216 closed

[2019-05-21 06:29] ghostplant commented on #3058
@tqchen I cannot sign up Tvm discuss successfully, my email server is qq.com and I cannot receive the activation email, also no new emails from junk category.

[2019-05-21 15:30] vinx13 commented on #2827
Let me summarize the actions here:
* Move CombineParallelConv2D to opt level 4
* Extract autotvm tuning tasks: either require users to manually apply this pass before task extraction, or automatically extract tasks with & without this pass
* Apply this pass if the performance is better, this can possibly be integrated with graph tuner

Would like to hear your comments @kevinthesun @merrymercy @yzh

[2019-05-21 20:32] jroesch commented on #3042
@ajtulloch @icemelon9 and I have been quietly hacking on a prototype the last few months but have been busy with other things (such as VM 😄 ). We are going to start pushing now, I opened a draft PR which will contain type checking changes, and we will follow-up with code generation next.

One thing would to help validate, criticize the design from the standpoint of a user who is deploying models d

[2019-05-21 21:42] tqchen opened #3223 "[RFC] Node Construction Style: Use Constructor When Possible"
Node system lays the foundation to build TVM's AST structures. Each AST object corresponds to a subclass of Node. Besides the Node itself, we also usually defines a reference type which can be used to store a strong reference to the node. The following code example shows how to define Node ```XYZNode``` and reference type ```XYZ```.

[code]

Historically, we introduced a static factory function ``

[2019-05-21 21:53] tqchen commented on #3223
I also created https://github.com/dmlc/tvm/pull/3224 as an example of changes to be made to fit the new style.

[2019-05-21 23:56] junrushao1994 commented on #3223
I was wondering what are the cons to have a static factory function

[2019-05-21 23:59] junrushao1994 commented on #3161
Hey I lost access to your branch today...

[2019-05-22 09:53] liangfu commented on #3159
If I understand correctly, using a fixed pre-allocated heap would lead us to convert a fragment of the storage pool (which is a fixed-sized static memory) into the specific data type for computation. This violates another rule that restrict (or avoid) using data type conversion. In this case, I think building static graph is preferred.

[2019-05-22 10:23] nscotto commented on #2355
Hi. I am getting mismatched result when running [apps/android_rpc/tests/android_rpc_test.py](The example just runs a sum on the device, so there are no conv2d at all) for vulkan, the example just runs a sum on the device, so there are no conv2d at all did it already happen to you?

[2019-05-22 20:44] tqchen commented on #3223
Static factory function is fine. The only question is whether they should be in the Node class or the reference class itself.

[2019-05-23 03:17] tqchen commented on #3223
Some further thoughts: in many cases, a static factory function gives more information than a constructor. For example, ```NDArray::Empty``` is certainly better than just using NDArray's constructor.

So we do want to keep static factory function if they are in reference types. Perhaps the usage of the constructor should be restricted to the case where it is apparently initializing the correspondi

[2019-05-23 08:25] Fighting-JJ commented on #533
How do you know you had build it correctly? Can it make TVM works well?  @BigJerry

[2019-05-23 17:16] tqchen commented on #3223
Thanks for all the discussions, a summary of guidelines:

- For constructor that initializes the fields, use the constructor.
- Encourage static factory function on the reference data type(instead of the Node) if there are more complicated construction logic and the function naming gives more clear information.

[2019-05-23 17:17] #3223 closed

[2019-05-23 22:19] MarisaKirisame opened #3236 "[RFC][Relay] Feature Manager"
During the development of relay passes, a problem come up repeatedly: a pass often get input it does not expect, and as a result, it fail (either implicitly, taking exponential time or produce incorrect output, or explicitly, typically when a functor does not get match). typical example is interpreter/aot compiler need fuseops ran (more precisely, it need no Op outside of PrimitiveFunction) and ne

[2019-05-23 23:39] slyubomirsky commented on #3236
I do like the idea of documenting what a pass can and cannot handle and ensuring that input (if possible) is appropriately sanitized or errors out immediately. There are a few analyses we should implement to facilitate writing passes anyway, like checking for effects, so having checks built into the pass manager would likely make a lot of people's lives simpler. (I don't know that we need `add_fea

[2019-05-23 23:50] MarisaKirisame commented on #3236
@slyubomirsky they give stronger gurantee: when the whole pipeline fail, we can point our finger at one pass that is at fault (some pass take tons of feature and just pass them further down the pipeline, so it isnt always the case that the previous pass is at fault).

[2019-05-24 00:11] slyubomirsky commented on #3236
True

[2019-05-24 01:10] zhiics commented on #3236
Yes, I agree this is annoying. It looks we might need to introduce some metadata for a pass. Usually when we do sequential passes, we may need to consider about preserving information from the updated passes and also validate if we can proceed. We should think about it more when we start resolving pass dependency and tackling phase ordering. How do you guys think?

[2019-05-24 01:36] tqchen commented on #3236
I think this is something that could be implemented by Sequential. Instead of rolling a separate manager, let us just rolling in such features incrementally. For example, the pass could declare it can only take in ANF or graph form, and the Sequential can be equipped to either resolve automatically or insert checking pass

[2019-05-24 01:38] MarisaKirisame commented on #3236
I call it feature manager because calling it feature sounds strange. My plan is to implement feature (an enum), feature set (a datastructure recording the enum), and functions on them. They will be used in the pass manager.

[2019-05-24 01:49] tqchen commented on #3146
consolidate to #3202

[2019-05-24 01:49] #3146 closed

[2019-05-24 20:55] kevinthesun opened #3240 "[TOPI] Operator overloading issue when dealing with zero-rank tensor"
This PR https://github.com/dmlc/tvm/pull/1029 overloads binary op for tensor to use topi broadcast op when importing topi. This will cause topi.compute to fail when zero-rank tensor appears in the fcompute body, since a topi broadcast op returns a tensor while comm_reducer requires an expr:
[code]
Error msg:
[code]
@tqchen @jroesch @yzhliu

[2019-05-24 23:33] kevinthesun commented on #2827
@vinx13 Sounds good to me. For autotvm and graph tuning parts, we can update the tutorial to add one more parameter to indicate whether to apply this pass before tuning.

[2019-05-27 14:39] advancedlogic opened #3243 "Compilation error Golang 1.12.5 darwin"
Even after I applied your "-m64" patch on the Makefile, I have this error:

`./ndarray.go:270:43: cannot use (*_Ctype_long)(&shape[0]) (type *_Ctype_long) as type *_Ctype_longlong in assignment`

[2019-05-28 02:36] deadlywing opened #3245 "[potential bug?] SimulatedAnnealingOptimizer will find useless candidate?"
When I read the code of  SimulatedAnnealingOptimize, I find the method `find_maximums` is implemented by heap, and insert some dummy elements first as following:
https://github.com/dmlc/tvm/blob/c0afc91884c1e664e19ab10f5f4898425975a756/python/tvm/autotvm/tuner/sa_model_optimizer.py#L78

But, in the code, there is no guarantee that the output list contains no dummy elements, so will it be a bug whe

[2019-05-28 03:11] deadlywing opened #3246 "questions about submodular_pick"
I am confused about  the following line of method `update` in class `ModelBasedTuner`:
https://github.com/dmlc/tvm/blob/c0afc91884c1e664e19ab10f5f4898425975a756/python/tvm/autotvm/tuner/model_based_tuner.py#L272

In my opinion, `submodular_pick` pick points according both scores(flops) and DiversityScore, but why use zero vector rather than the true score vector?
Thanks!

[2019-05-28 04:25] tqchen commented on #3246
Please open a new thread in https://discuss.tvm.ai/

[2019-05-28 04:25] #3246 closed

[2019-05-28 04:25] tqchen commented on #3245
Please open a new thread on https://discuss.tvm.ai/ for general discussions :)

[2019-05-28 04:25] #3245 closed

[2019-05-28 04:34] jroesch opened #3247 "[Relay] Improve frontend testing infrastructure."
There has been a recent number of issues found in various frontends for Relay. I propose to ensure robustness and compatibility with popular model architectures we make an effort to import commonly used models and test their correctness.

We should consider more complex scenarios such as PyTorch -> ONNX -> Relay. I have added some initial tests in #3084 but there are still some issues in supportin

[2019-05-28 17:56] anijain2305 opened #3252 "[RFC] Reading quantized models from TFLite and MxNet - operators API"
To increase quantization support in TVM, it is necessary to support the pre-quantized models, i.e., the models that have been quantized in the framework itself (outside of Relay). In this issue, we are laying down the high-level API design for some of the quantized operators. A large portion of this is coming from the following relevant discussions. Thanks to @jackwish, @FrozenGene and @jnorwood f

[2019-05-28 18:21] anijain2305 commented on #3252
Adding others who might be interested in this @ajtulloch @eqy @ZihengJiang @tqchen

[2019-05-28 19:28] kevinthesun commented on #2827
CombineParallelConv2D moved to opt level 4. We can have another thread to deal with integration with autotvm.

[2019-05-28 19:28] #2827 closed

[2019-05-28 21:49] tqchen commented on #3252
Thanks, @anijain2305 , it would be great if you can consolidate the proposal into #2351 , by pasting followup threads to that RFC, given the similar nature. I also posted some followup comments on the recent discuss thread

[2019-05-28 22:03] anijain2305 commented on #2351
Thanks. Let's lay down the high-level API design for some of the quantized operators. A large portion of this is coming from the following relevant discussions. Thanks to @jackwish, @FrozenGene and @jnorwood for sharing their experiences with quantization, and also @shoubhik for helping design this RFC.

* [Discussion](https://discuss.tvm.ai/t/tf-lite-quantized-conv2d-operator-conversion/2651)

Ot

[2019-05-28 22:04] #3252 closed

[2019-05-29 02:53] KnowingNothing opened #3254 "[rfactor] Check failed: !load_remap_.count(buffers[idx])"
I am trying to use rfactor in convolution, but it seems I didn't use it properly, the lowered results are below, could anybody give me some hints?

[iter_var(ax0, Range(min=0, extent=1)), iter_var(ax1, Range(min=0, extent=1024)), iter_var(ax2, Range(min=0, extent=7)), iter_var(ax3, Range(min=0, extent=7))]
[iter_var(rv.outer.rv.outer.fused.rv.outer.fused.v, Range(min=0, extent=3))]
[iter_var(rv.ou

[2019-05-29 02:55] FrozenGene commented on #2351
@anijain2305

For the `q_conv2d`, we will add two more arguments.
[code]
These will be used for restrict the output range, which could be calculated previously. see TFLite's `CalculateActivationRangeUint8` function.

From my experience, we needn't `q_relu`. But we need `q_add` / `q_concate` and so on. I suggest we use `MobilenetV2` quant model for example, which is used very widely and have common

[2019-05-29 03:37] ghostplant commented on #1209
@tqchen Is UINT8 quantization supported now? I also uses that BBS but hardly get any answers. Thanks!

[2019-05-29 05:44] tqchen commented on #3254
please open a new thread in discuss.tvm.ai

[2019-05-29 05:44] #3254 closed

[2019-05-29 07:19] jnorwood commented on #2351
Yes, I believe the MobilenetV2 relu_6 is effectively fused in by the downscale saturation.  You might need it if you want to support their way of training, though.

Yes Mobilenet has the q_add, but I suggest the Inceptionv3  for q_concatenate, since it also has concat nodes feeding into concat nodes, and tflite also has to rescale inside the concat operations.

Also, I believe the q_add required r

[2019-05-29 11:12] jackwish commented on #2351
Hi @anijain2305 regarding the requantization, if the it is not going to put in conv op, the op may suppose to output FP32, otherwise the semantic is confusing. The requantization can convert FP32 to INT8. The multiplier/shift based reuantization approach introduced by TFLite is also adopted by Caffe2/QNNPACK.

And, maybe we can put the quantization parameters in tensor, as the *scale* and *zero po

[2019-05-29 15:49] anijain2305 commented on #2351
I see what you are saying, but I am not sure if this is the right approach. In my opinion, it will be better to put it out of conv. The reason we have these 2 extra min/maxes is because of fused activation in TFLite. It seems better to keep it separate so that both MxNet and TFLite can share quantized_conv2d. In case of TFLite, when we see a fused conv, we can add one more clamp operator in the se

[2019-05-29 15:52] anijain2305 commented on #2351
Make sense. For now, I was thinking of not worrying about depth-wise conv. So, decided to take Inception V3 into account. I think given we are in the starting position, I don't have any big inclination towards any network. My motive is to focus on getting the right infrastructure in the start and showcase it with one large network. The performance micro-optimizations can then phased.

[2019-05-29 15:56] anijain2305 commented on #2351
Makes sense. Does it make sense to add accumulator_dtype as one of the attributes of quantized_conv2d. This will be set to int32 for TFLite, Caffe2, QNNPACK. But, if some network needs accumulation in FP32, then it will support that as well.

Not sure about this. The good thing is the conv2d relay operator can be shared across FP32 and quantized tensor types. The bad thing is compute depends on th

[2019-05-29 17:24] FrozenGene commented on #2351
No matter whether we have fused activation function, we always need output_min / output_max. Because we will get conv int32 result, but we will need uint8 result. So we must restrict int32 to uint8. If we don't have fused activation function, (When we have quantized model of TFLite, we don't have fused activation many cases), the output_min / output_max will be 0 / 255 to restrict int32 result. If

[2019-05-29 18:32] anijain2305 commented on #2351
In the case the activation is not fused, the values have to clamped to 0/255 or uint8 range, which is basically the out_dtype. So, we do not need any extra information for the quantized_conv2d for going back to uint8/int8 other than out_dtype. Correct?

Now, If the activation is fused, I agree that we will have two clamps now. One inside the quantized_conv2d (0/255), and one  for the relu6 (0/6).

[2019-05-29 19:21] FrozenGene commented on #2351
Yes, I agree when we don't have activation, we don't need anything. However, Another thing we should consider: How to integrate with other libraries, such as QNNPACK. QNNPACK also need output min / output max too. https://github.com/pytorch/QNNPACK/blob/master/include/qnnpack.h#L62-L63

[2019-05-29 19:50] merrymercy commented on #3245
Good catch. Are you interested in sending a patch?

[2019-05-29 19:51] merrymercy commented on #3246
This can be a custom weight, but we just use 0.0

[2019-05-29 20:15] eqy commented on #3245
@merrymercy this problem should be at least partially covered by this heuristic right
https://github.com/dmlc/tvm/blob/4767554c580f5aa0521727629e51f04f5315f025/python/tvm/autotvm/tuner/model_based_tuner.py#L238

[2019-05-30 00:19] tqchen commented on #2351
Here are some points to discuss:

- namespace for the tflite quantize style dialect
- List of ops that might need tvm's compute declaration
- set of possible passes that lower the rest into the core ops

Some of the discussions involve fusion, and that is something where TVM might be able to help. For example, in the current symmetric scheme, clip,  relu6, and subsequent downcasting ops are automa

[2019-05-30 01:34] jnorwood commented on #2351
I want to point out that the min and max values you mentioned are not related to the activation range in the original model.  They are saturation values.  In the case of mobilenet, for example, which has relu_6 use everywhere, I'm printing out the min and max activation values from the tflite mobilenet V2 below.  The model uses uint8 downscale between layers, and uses the min and max value to clam

[2019-05-30 01:57] jnorwood commented on #2351
similarly, for the tflite quantized inception v3 model, all those output_activation_min, output_activation_max are 0 and 255
I'll attach a zip file with the log.
[inv3.zip](https://github.com/dmlc/tvm/files/3235141/inv3.zip)

[2019-05-30 02:20] jnorwood commented on #2351
to explain a little further ... during training they determine the range of input values, and they determine the downscale multiplier that will shrink the observed range to 0..255 (for the uint8 quantization).  The fp downscale multiplier is coverted to integer mpy and right-shift constants, which are the mpy and shft values in my log.  At inference time, the downscaled accumulator (after applying

[2019-05-30 07:20] jackwish commented on #2351
Some comments for @anijain2305 's [reply](https://github.com/dmlc/tvm/issues/2351#issuecomment-496998142) :)

A network uses operators (or layers or anything we'd like to call it) regardless of the *accumulation format*. The format is part of a software system's mechanism. So, I guess we don't need a `accumulator_dtype` and the `out_dtype` is what we want. The discussion is about whether we put re

[2019-05-30 07:42] jackwish commented on #2351
Regarding @jnorwood 's comments on output min/max of conv2d.

Your observations about the **values** of output min max are correct. But they are still activations. As I always try to deliver is that, the INT8 values in quantization are representing FP32 values.

When we talking about ReLU6 activations, it means that in FP32 format, the op outputs FP32 values in range [0, 6]. For INT8 quantization,

[2019-05-30 15:23] SWu commented on #2562
I'm interested in helping contribute gradient implementations, but I'm finding it a bit difficult to understand what orientation the original op arguments are in, and what role `collapse_sum_like` plays (its documentation, "Return a scalar value array with the same shape and type as the input array." is identical to `broadcast_to_like`, and I'm not really understanding the mathematical operation i

[2019-05-30 17:43] tqchen commented on #3240
@kevinthesun please followup to propose a fix for this.

[2019-05-30 21:49] merrymercy commented on #3245
But it is still a bug in `find_maximums`..

[2019-05-31 00:04] anijain2305 commented on #2351
I would suggest to design the infrastructure that supports both symmetric/asymmetric quantization. We can certainly start with symmetric to flush the flow, while keeping in mind that we can share as much infrastructure as possible between them.

I think this is required for both asymmetric and symmetric quantization. These ops will be rewritten to low-level instructions by a Relay pass. How about

[2019-05-31 01:09] deadlywing commented on #3246
I see, Thanks a lot!

[2019-05-31 01:54] jnorwood commented on #2351
All the tflite quantized models I've tested use the asymmetric uint8 quantization.  If you are planning to use those as examples, it will be hard to debug if you throw in the change to symmetric.

[2019-05-31 02:09] alannnna opened #3265 "[Relay] ImportError when running relay.fromtext()"
I'm getting an ImportError when I run relay.fromtext().

I installed TVM from source in an Ubuntu 16.04 Docker container. I'm running Python 3.5.2. I see the same problem with LLVM enabled and disabled. CUDA is not enabled.

Here is how to reproduce the problem, as well as the full error output:
[code]

[2019-05-31 02:30] tqchen commented on #3265
Thanks for reporting the problem, please open a new thread in  https://discuss.tvm.ai/ Likely this was due to python typing dependency. try to install python3.6

[2019-05-31 02:30] #3265 closed

[2019-05-31 03:50] yangglebin opened #3266 "Is it possible to use tvm in spark framework???"
I want to use tvm to compiler spark pipeline model, is it possible?

[2019-05-31 04:08] tqchen commented on #3266
Please use https://discuss.tvm.ai/ for general usage discussions

[2019-05-31 04:08] #3266 closed

[2019-05-31 04:27] tqchen commented on #3246
Thanks for great discussions, @deadlywing , for other followup discussions, you are more than welcomed to use  https://discuss.tvm.ai/

[2019-05-31 09:19] jroesch commented on #2562
@altanh could you maybe further improve upon the docs when you open your PR and try to address some of @SWu's comments.

[2019-05-31 09:44] jackwish commented on #2351
TensorFlow quantization-aware training supports both asymmetric/symmetric. We are seeing asymmetric models because it is the default. If we'd like to start from symmetric approach, set the [symmetric](https://github.com/tensorflow/tensorflow/blob/r1.13/tensorflow/contrib/quantize/python/quantize_graph.py#L149) and go on. Which, requires extra effort I think...

[2019-05-31 17:37] alannnna commented on #3265
Python 3.6 fixed it, so I won't open a new thread this time. Thanks.

[2019-05-31 19:55] anijain2305 commented on #2351
This is most probably out of the context of the issue, but is it possible for all of the people commenting here to join a conference call for an hour and figure out the next steps? I can take notes and document them here for everybody else to see. I think it will be more productive.

[2019-06-01 00:06] tqchen commented on #2351
re "conference calls". I totally agree that calling or in person sync will speed up reaching consensus. Doing most of the development in the public archivable process is preferred https://docs.tvm.ai/contribute/committer_guide.html#public-archive-principle

We do need to acknowledge the overhead of the asynchronous communication, but should also acknowledge the gains we get by leaving a trace for

[2019-06-01 00:33] tqchen commented on #3142
the problem still occurs http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-3156/32/pipeline

[2019-06-01 00:33] tqchen commented on #3142
cc @Laurawly

[2019-06-01 00:34] apivovarov commented on #2519
@FrozenGene I tried your TFLite tutorial. The compilation failed (it started to happen after PR 3141.) Details: https://discuss.tvm.ai/t/tflite-an-internal-invariant-was-violated-while-typechecking-your-program/2784/3

[2019-06-01 00:54] Laurawly commented on #3142
@tqchen I wonder if this change https://github.com/dmlc/tvm/blob/1f3a49417ec8f2712aa979b8e3d56a838734dcf1/src/codegen/build_module.cc#L86 will fix the problem.

[2019-06-01 06:20] vinx13 opened #3273 "[RELAY] Conditions in quantize.optimize are broken due to issue with tvm.Array"
This bug is introduced in #3234.
This condition https://github.com/dmlc/tvm/blob/f6acf2e5f51f9ac48f8d13e095805b7fe3f74bcf/python/tvm/relay/quantize/quantize.py#L324 is always `False` because `cfg.required_pass` is `tvm.container.Array`

cc @zhiics

[2019-06-01 15:45] zhiics commented on #3273
Thanks for pointing out. I will fix this later by moving the whole function to the pass manager after #3251 is merged.

[2019-06-01 18:43] jnorwood commented on #2351
You might also consider symmetric signed int8 for weights, and unsigned uint8 for for source and destination, since uint8 will give an extra bit of precision following activations.  Intel appears to preferentially support this form in their examples, and  their new DLBoost avx512 vector instructions also appear to preferentially support this form.

` https://intel.github.io/mkl-dnn/ex_int8_simplen

[2019-06-01 21:01] altanh commented on #2562
@SWu this is an issue that I've run into as well. I believe the specific documentation issue you ran into is indeed a copy-paste error, which we should fix. Overall though, the documentation is lacking as @jroesch said, and we (who implement more grads) should definitely update it with better descriptions as we work through them.

For `collapse_sum_like`, I dug into the TOPI code, and it looks lik

[2019-06-02 01:12] jackwish commented on #2351
I am sorry, but I fail to get the reasoning between your comment *uint8 will give an extra bit of precision following activations*, and the material you listed. Would you please make it a bit more clear? AFAIK, uint8 and int8 has same value capacity, so there could be no *extra precision*.

[2019-06-02 01:28] eqy commented on #2351
@jackwish
If relu activations are used, there is no need to use half of the representation space for negative values; thus the extra bit of precision.

[2019-06-02 02:38] MarisaKirisame opened #3275 "[Relay][RFC] Feature Detection"
in #3238 , I had implemented a feature detection pass. However, I did not give much thought into what feature should there be. Currently, there is feature for each individual construct, with feature for Graph/LetRec. Is there anymore that I should add?

[2019-06-02 03:14] antinucleon opened #3276 "[Feature Request] Support dot op in frontend"
eg: http://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html?highlight=dot#mxnet.ndarray.dot

[2019-06-02 14:20] jackwish commented on #2351
This makes sense.

Best Regards
Zhenhua

eqy <notifications@github.com> 于2019年6月2日周日 上午9:29写道：

[2019-06-03 04:14] icemelon9 commented on #2623
# TVM Monthly - May 2019
https://discuss.tvm.ai/t/tvm-monthly-may-2019/2793

[2019-06-03 14:43] MarisaKirisame commented on #3275
@vinx13 @slyubomirsky the rfc per requested.

[2019-06-03 19:59] tqchen commented on #3273
ping @zhiics @vinx13 let us fix this asap

[2019-06-03 21:48] zhiics commented on #3273
Sorry, I am traveling today. I will fix it tomorrow.

[2019-06-03 22:17] tqchen commented on #3273
#3283

[2019-06-04 07:56] minminsun opened #3285 "MatMul on NVIDIA GPU"
I can't find any tutorial on tuning MatMul on NVIDIA GPU, so I simply modify the tutorial on tuning MatMul on CPU to get started.
I just added some bind expressions in order to make the schedule work on NVIDIA GPU.
[code]
But it doesn't work. The Error Message is as bellow:
"tvm/src/pass/make_api.cc", line 188 TVMError: Not all Vars are passed in api_args:  'i.inner.init'  'j.inner.init'  does not

[2019-06-04 10:00] masahi commented on #3285
An example of matmul on cuda is available here. https://github.com/dmlc/tvm/blob/master/topi/recipe/gemm/cuda_gemm_square.py

Please use the discussion forum for questions like this.

[2019-06-04 10:00] #3285 closed

[2019-06-04 14:12] xizi commented on #2062
@sunstarchan hi, i meet same error, have you solved it ?

[2019-06-04 16:39] anijain2305 commented on #2351
Ok, lets try to finalize the high-level design points. Lets first discuss the
# Namespace for the tflite quantize style dialect

### Requirements
* This should support both symmetric and asymmetric.
* These ops should never go through codegen. They will be lowered to low-level Relay ops (like existing conv, round etc) using FForwardRewrite or similar kind of Relay infrastructure.

### Proposal

Ho

[2019-06-05 05:03] vinx13 commented on #3273
solved by #3283

[2019-06-05 05:03] #3273 closed

[2019-06-05 17:50] tqchen commented on #2351
@FrozenGene @jackwish can you also try to send a proposal from your side? it would be great to have a global picture of what is in everyone's mind

[2019-06-05 20:25] u99127 commented on #2910
Now merged, I suspect closed by the commit.

[2019-06-05 20:27] #2910 closed

[2019-06-05 21:55] jroesch commented on #3276
cc @icemelon9 I thought you were working on `dot` at some point

[2019-06-06 00:42] apivovarov opened #3298 "SSD GluonCV: Incorrect inference result on OpenCL ARM Mali"
I tried to compile GluonCV SSD model `ssd_512_mobilenet1.0_voc` for `llvm` x86 and for `tvm.target.mali('rk3399')`.

Both compilations worked fine but inference results are different.
I used image from GluonCV tutorial - `street_small.jpg` preprocessed using `gluoncv.data.transforms.presets.ssd.load_test(short=512)`
[code]

[code]

[2019-06-06 00:42] apivovarov commented on #3298
@tqchen @Laurawly Can you have a look?

[2019-06-06 00:44] icemelon9 commented on #3276
Yes, I added AutoTVM template for dense op for better performance. But I think Bing is asking a full support of dot op. Currently dense op only supports AB^T.

[2019-06-06 17:23] marcelotrevisani commented on #3161
Oh sorry for my delay. I deleted my fork. I am going to recreate it then

[2019-06-06 18:56] tqchen commented on #3298
Please open a new thread in https://discuss.tvm.ai/

[2019-06-06 18:56] #3298 closed

[2019-06-06 19:17] apivovarov commented on #3298
done https://discuss.tvm.ai/t/ssd-gluoncv-incorrect-inference-result-on-opencl-arm-mali/2848

[2019-06-06 20:46] jdavies-huawei commented on #2606
@ZihengJiang I made another pull request #3300 that makes the change you suggest. The scalar inputs can now be passed without using a named parameter.

@derisavi yes, the scalar inputs can now be interleaved with the tensor inputs. It is just important that the scalar inputs are ordered correctly (PostDFS order) with respect to themselves. And similarly, the tensor inputs must be ordered correctly

[2019-06-06 21:38] t-vi opened #3301 "TVM4J: sun.misc.SharedSecrets was removed with Java >= 9"
Hi!

Thank you for TVM.

I'm following the instructions for building tvm4j, but compilation fails with
[code]
as far as I can tell, this function was made even more internal with Java 9+.
One solution - keeping Java 8 compat - seems to be to do to use [reflection as in this example](http://hg.openjdk.java.net/openjfx/9-dev/rt/rev/f423d490ae1b).

On [stackoverflow](https://stackoverflow.com/questio

[2019-06-06 21:43] eqy commented on #2651
#3294 provides an initial implementation of data-aware calibration

Currently, the support focuses on vision models and likely makes many assumptions that will break down with other types of models. Similarly, part of per-channel scale rely on brittle heuristics, but we expect to improve these over time as we evaluate more models and understand more about the general patterns in quantization.

The

[2019-06-06 22:14] tqchen commented on #3298
Thanks @apivovarov !

[2019-06-06 23:19] hlu1 opened #3303 "[TOPI] Fast mode in take op"
Currently `topi.take` supports two modes, "clip" and "wrap", following the numpy take convention (https://docs.scipy.org/doc/numpy/reference/generated/numpy.take.html). However, the clipping operation makes the take op 30% slower when the input shape is sufficiently large, for example with input shape [20, 1500] and indices shape [750]. I would like to propose add a "fast" mode, similar to the num

[2019-06-06 23:25] antinucleon commented on #3303
LGTM. @tqchen Is there an easy way to insert assert stmt for out of range check? If we have assert we can both keep speed and make it easy to debug.

[2019-06-06 23:30] hlu1 commented on #3303
Does assert stmt slow it down though? I imagine the range check in the assert stmt is essentially the same as the clipping operation.

[2019-06-06 23:38] hlu1 commented on #3303
cc @yinghai

[2019-06-07 01:07] Lyken17 opened #3307 "Fail to load ONNX ResNet-50"
I start with [Tutorial: compile onnx models](https://docs.tvm.ai/tutorials/frontend/from_onnx.html#sphx-glr-tutorials-frontend-from-onnx-py) and modify CNN mode to [ResNet-50](https://github.com/onnx/models/tree/master/resnet50). However, I got a screen of C++ stack errors.

# Code to re-produce
[code]

# Error logs
<details><summary>Very long, click here to unfold</summary>
<p>

[code]

</p>
</de

[2019-06-07 01:09] Lyken17 commented on #3307
Platform: Ubuntu 18.04

TVM: Latest build https://github.com/dmlc/tvm/commit/c4763cd5eea25a3765e661cf5be8f4847e6a59bf

[2019-06-07 02:55] tqchen commented on #3307
Thanks for reporting this problem, it would be great first to open a new thread in https://discuss.tvm.ai/ and move back to issues once we have actionable items to work on

[2019-06-07 03:41] Lyken17 commented on #3307
Could you help me review my account and grant the access to discuss? My account is https://discuss.tvm.ai/u/lyken17

[2019-06-07 06:49] apivovarov commented on #2519
I tried to compile `mobilenet_v1_1.0_224.tflite` model for ARM Mali GPU using the latest code from the tutorial. The compilation failed - `topi/arm_cpu/conv2d.py _decl_spatial_pack Only support NCHW`

[2019-06-07 07:02] kevinthesun commented on #3102
https://github.com/dmlc/tvm/pull/3308

[2019-06-07 07:22] apivovarov commented on #2519
The same issue exist with arm_cpu, e.g. `tvm.target.arm_cpu('rk3399')`
[code]

[2019-06-07 09:18] FrozenGene commented on #2351
@tqchen We are very busy at our one internal project this period. I will talk with @jackwish next Monday. However, sending the proposal maybe should wait us finishing this project. Sorry for that.

[2019-06-07 16:08] tqchen commented on #3307
https://discuss.tvm.ai/t/fail-to-load-onnx-resnet-50/2869

[2019-06-07 16:08] #3307 closed

[2019-06-07 16:22] tqchen commented on #3301
cc @yzhliu @eqy

[2019-06-08 00:33] icemelon9 commented on #3303
I agree that adding assert stmt may also slow down the op. I think it's okay to add "fast" mode in take and add warning in the doc.

[2019-06-08 22:51] yzhliu commented on #3301
For short-term, we can go with accessing the private field. While I believe the right approach is to move server-loop to frontend bindings, i.e.,
[code]

btw, I got lost with the registry, where is `tvm.rpc.server.start` gets registered? @tqchen

[2019-06-08 23:26] antinucleon commented on #3303
How about adding a compile time warning as well?

[2019-06-09 22:04] hlu1 commented on #3303
LOG(WARNING) should do. Please review https://github.com/dmlc/tvm/pull/3325

[2019-06-10 09:18] xinyan0206 opened #3327 ""inputNdArray.copyFrom(imgRgbTranValues)" in android_deploy takes very long time"
my image inputSize is 256x256x3, according to android_deploy in TVM ,I transformed it to  float[256x256x3],then I use  NdArray.copyFrom() method transform it to Ndarray， NdArray.copyFrom()   takes more than 200ms，why this method take so long time？？

[2019-06-10 09:41] xinyan0206 commented on #3327
Is there other method i can  use instead of NdArray.copyFrom()

[2019-06-10 11:39] mshawcroft commented on #3170
For the benefit of anyone tracking this down, this issue is discussed here:
https://discuss.tvm.ai/t/solved-after-clean-built-tvm-ffi-ctypes-node-nodebase-object-has-no-attribute-set-default/2521

[2019-06-10 14:45] mshawcroft opened #3332 "TFLite Tutorial broken by recent commit."
The TFLite tutorial is here: https://docs.tvm.ai/tutorials/frontend/from_tflite.html is broken by this recent commit:

https://github.com/dmlc/tvm/pull/3141

commit b63267b92d942b9c64f814b73567b2fe908e67fb
Author: Zhao Wu <wuzhaozju@gmail.com>
Date:   Wed May 22 10:44:47 2019 +0800

    [TFLite] Convert TFLite NCHW to NHWC (#3141)
    * Convert TFLite NCHW to NHWC
    * Minor comment fix

Building

[2019-06-10 15:54] YPBlib opened #3333 "How to know what exactly happens by Relay-IR and llvm code ?"
I'm using TVM 0.6 on CPU host. When I wrote a simple tensor computation and build it with TVM, I get a tvm schedule object. Then I can get its Realy IR representation and llvm source code.
My problem is the llvm code are too confusing to read (they can easily be over thousands of lines).
The relay IR is simple though, it seems unreal to me. For example, when I use vectorize method, sometimes I get

[2019-06-10 18:03] tqchen commented on #3327
Please open a new thread on https://discuss.tvm.ai/

[2019-06-10 18:03] #3327 closed

[2019-06-10 18:56] tqchen commented on #3333
Please open a new thread in https://discuss.tvm.ai/

[2019-06-10 18:56] #3333 closed

[2019-06-10 19:59] apivovarov opened #3334 "Too small time limit for frontend: GPU integration test"
Currently "frontend: GPU" integration test time is limited to 1 hour.
Jenkins will kill the test if it runs longer.

I faced this issue several times already for PRs #3310 and #3313
http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-3313/2/pipeline/
http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-3313/3/pipeline/
http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detai

[2019-06-10 22:15] apivovarov commented on #3334
On the 5th retry I was able to get successful Jenkins build.
"frontend: GPU" took 59m 6s (just 54 seconds below the 1 hour limit)
http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-3310/5/pipeline/239

[2019-06-10 23:17] tqchen commented on #3334
https://github.com/dmlc/tvm/pull/3337

[2019-06-11 04:56] were opened #3339 "[Hybrid Script] Code refactor, merging 2 symbol tables."
@merrymercy #3157
I want to merge 2 symbol tables. Actually, I already have a symbol table to capture the global functions, and capturing the global variables should be very similar. Thus there is no point to have both `closure` and `symbols` 2 symbol tables.

I will open a PR to fix this these days.

Sorry I was too busy at the beginning of last month.

Thanks.

[2019-06-11 04:58] apivovarov commented on #3332
Are you sure you are using the latest TVM version?

[2019-06-11 05:00] apivovarov commented on #3189
Added MUL https://github.com/dmlc/tvm/pull/3304

[2019-06-11 05:10] apivovarov commented on #2351
After `NCHW` support was removed from `tflite.py` 3 weeks ago #3141 all TFLite models can not be compiled for ARM cpu and Mali GPU.

[2019-06-11 06:35] xinyan0206 commented on #3327
Thanks for your reply!Open a new thread does work, it only take 30ms.

[2019-06-11 17:13] #3102 closed

[2019-06-11 17:55] #3334 closed

[2019-06-11 23:25] icemelon9 opened #3346 "[RFC][Frontend] Return module for Relay frontend converter"
As we have pass manager in Relay optimization and mostly use module as optimization unit, I suggest we change the Relay frontend converter to return a module instead of a function. The change also makes easier add prelude and global var in the frontend converter in the future. Frontend converter will preset the main function in the module to the converted function as
[code]
Correspondingly we need

[2019-06-12 00:20] zhiics commented on #3346
Yeah, this is exactly what I think as well.

[2019-06-12 00:48] wweic commented on #3346
+1

[2019-06-12 01:55] yongwww commented on #3346
+1

[2019-06-12 02:38] dongyeye10 opened #3348 "How to bind reduce axis to blocks?"
I'm follow the reduction tutoriaal to bind reduce axis to gpu blocks, but it seems like impossible, we can only bind them to thread. Do you have any idea how can we do it in tvm?

[2019-06-12 03:22] PercyLau commented on #3161
Hi, there! Anything new? I am struggling with compile tvm with anaconda environment.

[2019-06-12 03:38] eqy commented on #3348
Please open a discuss forum issue for support questions at discuss.tvm.ai.

[2019-06-12 03:38] #3348 closed

[2019-06-12 06:25] nopattern opened #3351 "mxnet squeeze and excite block builds failed in opt_level=3"
I am trying to deloy a mxnet block network to  arm_cpu by tvm.
      with relay.build_config(opt_level=2):
      graph, lib, params = relay.build(func, target, params=params,target_host=target_host)

    The code runs ok. It fails when opt_level=3. The error outputs as:

WARNING:autotvm:Cannot find config for target=llvm -device=arm_cpu -model=rk3399 -target=aarch64-linux-gnu -mattr=+neon, workloa

[2019-06-12 06:25] apivovarov opened #3352 "test_vm.test_sum_loop Segmentation fault"
At least two recent builds faced this issue
[code]
http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-3342/1/pipeline/

http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-3350/1/pipeline

[2019-06-12 06:49] zhiics commented on #3352
#3299 Should fix it.

[2019-06-12 07:13] zhiics commented on #3346
@icemelon9 #3353 was the draft I haven't finished yet.

[2019-06-12 08:18] marcelotrevisani commented on #3161
I am going to work wit it today

[2019-06-12 08:30] marcelotrevisani commented on #3161
@junrushao1994
is it possible to use the nnvm compiler just compiling the tvm with gcc 7?

[2019-06-12 09:03] marcelotrevisani commented on #3161
This branch is up again

[2019-06-12 13:19] nopattern commented on #3351
Is this caused by F.broadcast_mul in last second line in hybrid_forward()? There's some related topic.[autotvm-nnvm-error-when-extract-task-from-graph-with-opt-level-3](https://discuss.tvm.ai/t/autotvm-nnvm-error-when-extract-task-from-graph-with-opt-level-3/810/5)

[2019-06-12 16:55] tqchen commented on #3351
https://discuss.tvm.ai/t/issue-mxnet-squeeze-and-excite-block-builds-failed-in-opt-level-3/2912

[2019-06-12 16:55] #3351 closed

[2019-06-12 18:58] #3303 closed

[2019-06-12 21:25] tqchen commented on #3346
+1

[2019-06-13 00:46] apivovarov commented on #3352
got another failed build
http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-3350/4/pipeline

[2019-06-13 01:03] slyubomirsky commented on #3352
Experienced the same with `test_count_loop()`, fyi

[2019-06-13 01:39] apivovarov commented on #3352
Most of the recent builds failed with `Segmentation fault`:
http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-3347/8/pipeline
http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-3344/2/pipeline
http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-3356/2/pipeline
http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-3342/2/pipeline
@tqchen We have serious

[2019-06-13 02:15] slyubomirsky commented on #3352
#3229 seems to have fixed the segfaults, at least on my end

[2019-06-13 02:15] zhiics commented on #3352
yes. I think it should fix the problem.

[2019-06-13 05:55] #3352 closed

[2019-06-13 05:56] apivovarov opened #3358 "[TEST][FLAKY] test_topi_sort.test_topk"
http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-3356/3/pipeline
[code]

[2019-06-13 09:52] pengfei2017 opened #3360 "opencl error CL_OUT_OF_RESOURCES on MTK"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2019-06-13 15:22] tqchen opened #3361 "[TEST][FLAKY] test_topi_sort_topk"
Could due to a tie?
http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-3359/1/pipeline

cc @icemelon9

[2019-06-13 15:23] tqchen commented on #3358
cc @icemelon9

[2019-06-13 15:23] tqchen commented on #3361
https://github.com/dmlc/tvm/issues/3358

[2019-06-13 15:23] #3361 closed

[2019-06-13 16:26] icemelon9 commented on #3358
I'll fix it today.

[2019-06-13 18:27] tqchen commented on #3360
Please open a new thread on  https://discuss.tvm.ai

[2019-06-13 18:27] #3360 closed

[2019-06-13 18:29] tqchen commented on #3301
``` tvm.rpc.server.start``` is an optional callback, perhaps a better name should be  ```tvm.rpc.server.on_start```

[2019-06-13 18:29] icemelon9 commented on #2718
http://ci.tvm.ai:8080/blue/rest/organizations/jenkins/pipelines/tvm/branches/PR-3362/runs/1/nodes/36/log/?start=0

This flaky test happens again

[2019-06-13 22:16] slyubomirsky opened #3366 "[Relay][Design] Why not import prelude when initializing module?"
Is there a reason the prelude is not loaded into the module upon initialization (maybe have a flag to disable the import if it's for some reason necessary)? It shouldn't lead to any overhead at run time since dead code elimination could take out any prelude functions that are not used anywhere in the program. It just seems like it would be a convenience.

@jroesch

[2019-06-13 22:20] tqchen commented on #3366
Let us use https://discuss.tvm.ai/ for this kind of design questions, as the issue is not really actionable and cannot be closed in a definite amount of time

[2019-06-13 22:20] #3366 closed

[2019-06-13 22:21] #2519 closed

[2019-06-13 22:21] tqchen commented on #2519
this thread is concluded and we shall move layout transformation as passes in relay

[2019-06-13 22:22] tqchen commented on #2494
closed for now, likely we can get related support in https://github.com/pytorch/tvm thanks to @bwasti

[2019-06-13 22:22] #2494 closed

[2019-06-13 22:23] tqchen commented on #3009
https://github.com/dmlc/tvm/pull/3010

[2019-06-13 22:23] #3009 closed

[2019-06-13 22:23] tqchen commented on #2820
What is the status of this issue? We might want to fix promptly or mark as inactive and close it

[2019-06-13 22:24] #2826 closed

[2019-06-13 22:25] tqchen commented on #2513
https://github.com/dmlc/tvm/pull/2038

[2019-06-13 22:25] #2513 closed

[2019-06-13 22:25] tqchen commented on #3016
Please conclude and summarize the RFC so we could start a vote about the text format

[2019-06-13 22:26] #1656 closed

[2019-06-13 22:26] tqchen commented on #1656
closed in favor of the most recent chisel RFC

[2019-06-13 22:27] #1931 closed

[2019-06-13 23:17] anijain2305 commented on #2351
@tqchen @FrozenGene @jackwish

I have added a prototype patch. I think it will be helpful to use that patch to drive the discussion further.

[2019-06-14 00:48] #3358 closed

[2019-06-14 02:19] icemelon9 commented on #2718
Fixed in #3362

[2019-06-14 02:19] #2718 closed

[2019-06-14 03:10] apivovarov commented on #3189
PR to support `RESIZE_BILLINEAR` https://github.com/dmlc/tvm/pull/3370

[2019-06-14 04:25] FrozenGene commented on #2351
@anijain2305 see the code quickly and I know your thought (combine operator to complete q_conv2d). However as commented before, how do we integrate with qnnpack when we don't have output_min / output_max? I think we could have these two arguments, if mxnet don't have, we could leave them the default values.

[2019-06-14 14:19] mshawcroft commented on #3332
Just re-checked this on master (f731e0e666ff07ceba228e2ea0b1bcda837fa6e1) and the issue is still present.

[2019-06-14 16:21] FrozenGene commented on #3332
I think you don't update the tutorial file. Your input is `1 3 224 224`, which is NCHW input previously. However, current tutorial use `1 224 224 3` NHWC layout. Please checkout the latest TVM codebase of all files.

[2019-06-14 18:46] apivovarov opened #3373 "[CI] Jenkins workers has old tflite package"
1 day ago I updated `ubuntu_install_tflite.sh` to use tflite schema version 1.13
https://github.com/dmlc/tvm/blob/master/docker/install/ubuntu_install_tflite.sh#L38
PR was merged 1 day ago
https://github.com/dmlc/tvm/pull/3356

After that I started two build which uses new tflite classes from v1.13
Both builds failed because they can not find new tflite classes which means that Jenkins workers sti

[2019-06-14 18:51] apivovarov commented on #3373
@tqchen Can you help me to solve the issue with old tflite package on Jenkins workers?

[2019-06-14 19:00] tqchen commented on #3373
The CI image uses a cached image, and need to be staged manually. This is to ensure we have a stable build env. See note here: https://docs.tvm.ai/contribute/pull_request.html#ci-environment

However, do expect a bit delays as we want to update the images infrequently. A quick way to get around would make sure that the solution can be compatible with both versions (also helpful for users as well).

[2019-06-14 20:43] apivovarov commented on #3373
ok, I fixed my PR to support both tflite versions

[2019-06-14 23:21] anijain2305 commented on #2351
@FrozenGene Thanks for replying. I might be wrong, but I don't think it is a good design to take one codegen backend like QNNPACK and make changes all the way into Relay APIs to make the connection. In my opinion, APIs must be minimal.

But, your point of using QNNPACK is completely valid. I have been thinking about that myself, dreading the painful experience of write tensorized kernel for Intel

[2019-06-15 08:56] sgrechanik-h commented on #2588
@tqchen One thing I wanted to clarify: why isn't the Analyzer class integrated into the Node hierarchy? Instead some separate closure-based mechanism is used for python integration, which feels strange and seemingly makes it harder to create functions which accept Analyzer objects and work across both languages.

[2019-06-15 13:25] FrozenGene commented on #2351
@anijain2305 I understand your thought and thought. I agree we should make the api minimal. However, no matter what way, q_conv2d’s int32 output should be clamped into uint8 range. If you don’t pass min / max, you also need do `output = std::max(output, 0)` and `output = std::min(output, 255)` then return output. So why not we set the default the value output_min = 0 / output_max = 255, and make t

[2019-06-15 15:35] shoubhik commented on #2351
@FrozenGene a clarifying question to your above comment. If we pass in the output scale and shift can we not compute int32-> int8 by simply adding more nodes in the graph.

[2019-06-15 17:08] anijain2305 commented on #2351
@FrozenGene For the output_min and max, isn't the out_dtype enough? If its uint8, we can clamp at 0 and 255. If its int8, we can clamp at -128 and 127. I don't see any reason the values will be any different, unless you want to fuse the quantized relu in the quantized convolution from the starting itself. Please let me know if I am understanding something wrong. I think we should not fuse operator

[2019-06-15 21:38] jnorwood commented on #2351
The tflite quantized convolution reference implementation passes in both limits as int32 values.  It appears to me this would let them simulate smaller than 8 bit quantizations, if that is something you want to support.

this is from  ` tensorflow/lite/kernels/internal/reference/conv.h `

`
 acc = MultiplyByQuantizedMultiplier(acc, output_multiplier,
                                              o

[2019-06-16 01:21] jackwish commented on #2351
If *simulating 8 smaller bit* is the case, 8 bit should be able to hold activation min/max value.

[2019-06-16 03:40] FrozenGene commented on #2351
doesn't understand your comment fully. do you mean could we avoid int32 -> int8 computation? If so, I think we can not. We need `requant` operation (int32 -> int8) (https://github.com/tensorflow/tensorflow/blob/v2.0.0-beta1/tensorflow/lite/kernels/internal/reference/conv.h#L171)

[2019-06-16 03:43] FrozenGene commented on #2351
8 bits could hold. But what the value output_min / output_max is ? I think @jnorwood want to express this point. Because we can not just simply use `out_dtype` to decide what the value range is.

[2019-06-16 04:18] FrozenGene commented on #2351
I think it is ok. If we do this way,  we should insert one clamp if we have activation.
Like our tflite frontend
[code]

[2019-06-16 17:07] vinx13 commented on #2651
I have implemented KL divergence based calibration (ported from MXNet) in my branch https://github.com/vinx13/tvm/tree/feature/calibration.
Similar to #3294, it first run on a few samples and collect profiles. Scales of activation are chosen to minimize KLD between original and quantized distributions.
Scales of weight can be either power-of-2 or taking maximum directly without rounding.
It also a

[2019-06-16 19:19] anijain2305 commented on #2351
Yes, I agree with that. That's exactly what I was thinking.

[2019-06-16 20:02] jnorwood commented on #2351
The min and max are not conditional on existence of activation operation in the original model.  They are there to saturate the downscaled and offset adjusted 32 bit signed int accumulator to the min and max value of the uint8 quantized bit range.

Although the quantized conv result is held in uint8, it could be static casted to signed int8, or even fewer than 8 bit quantization.  That would requi

[2019-06-16 22:58] anijain2305 commented on #2351
Ah, I see. That finally makes sense.
So, this is not about activation. This is about what representation one is using for storing the floating point values. For example, if it is 7-bits, we will need the output min/max saturations. Cool, I will add them into the API and add corresponding documentation.

[2019-06-17 01:52] jackwish commented on #2351
Of course it comes from activation, and is related to zero point and scale. Maybe you can read the whole implementation rather than read secondhand message.

For this min/max activation:
1. They are even named with activation when used in computing kernel:
https://github.com/tensorflow/tensorflow/blob/v2.0.0-beta1/tensorflow/lite/kernels/internal/reference/conv.h#L174-L175
2. The min/max is genera

[2019-06-17 01:54] jnorwood commented on #2351
yes, right.  The scaling constant computed during training is based on the range of values seen after fused in activations (at least that is true for the tflite quantized models I've looked at).  That includes being after the relu6 positive clipping also.   During inference, the  min and max saturation values are just handling saturation of values seen outside the range expected from the training.

[2019-06-17 01:57] jackwish commented on #2351
I was saying the *It appears to me this would let them simulate smaller than 8 bit quantizations* reasoning could be somehow not the only possibility.

[2019-06-17 02:21] jackwish commented on #2351
I guess the saturation is exactly what activations (ReLU family) mean, semantically. :)

[2019-06-17 02:42] FrozenGene commented on #2351
See @jackwish 's comment. As my code `calculate_activation_range_uint8` means, only when no activation, we will have the range of data type. i.e. if we don't have activation, we will have 0 - 255 if it is uint8. If we have RELU6, we will have https://github.com/tensorflow/tensorflow/blob/v2.0.0-beta1/tensorflow/lite/kernels/kernel_util.cc#L152

So, how about if we are 7-bits, alright, we could als

[2019-06-17 03:28] jnorwood commented on #2351
In the case of the tflite quantized models I've looked at, the batch normalization and relu6 operations in training are fused into the conv operations used during inference.   You probably need to fuse the relu6 to match their results.

This paper removes the relu6 and batch norm associated with the depthwise convs in a mobilenet modification.  You would still need the min and max values for those

[2019-06-17 03:59] FrozenGene commented on #2351
Qualcomm's Way? Let us see the Google's TFLite model:
![image](https://user-images.githubusercontent.com/7287321/59577624-0f541000-90f7-11e9-9044-2153d6f9ccda.png)

We have the quantized model doesn't remove RELU6 in dw conv / conv. I think we should focus on the TFLite's code / TFLite's way.

Come back to Qualcomm's paper, if we decide to support that way, we could also write logic in frontend an

[2019-06-17 04:28] jnorwood commented on #2351
In the tflite quantized conv implementation ( I posted an excerpt from their code previously) the offset is added in prior to the clamping.  The tflite quantized models in their repository used uint8 asymmetric quantization with non-zero offsets for activations and weights and int32 for biases .  In that case min and max values passed into the quantized conv are always 0 and 255.

It appears to me

[2019-06-17 04:43] FrozenGene commented on #2351
Not true. When there is activation, the range is not always 0 ~ 255. For example RELU,
[code]
We have proved that compute as this way and could make the result the same as TFLite.

[2019-06-17 04:54] jnorwood commented on #2351
In the tflite quantized Mobilenet v2, from the repository, the first conv operation has a non-zero offset ... there is no activation.  The offset is 128.  So either provide a conv which uses signed int8 and 0 offset, or  do what tflite does and handle it as quantized uint8 convolution with 128 offset value.

You can see the quantization offsets in Netron in the node properties input data

![mobile

[2019-06-17 05:15] jnorwood commented on #2351
I believe tflite extends the quantization range so it always includes 0, as done in the gemmlowp quantization example below.  I have dumped my min and max saturation input values from the six quantized tflite models (two mobilenets and four inceptions).  They are all 0 and 255.

` https://github.com/google/gemmlowp/blob/master/doc/quantization_example.cc `

[code]

[2019-06-17 05:48] FrozenGene commented on #2351
I think you maybe don't understand fully of my previous comment. One question I want to ask: Do your quantized models have conv + relu / relu6 like our model? If no, obviously is 0 ~ 255, no matter how many models are. Please see: https://github.com/tensorflow/tensorflow/blob/v2.0.0-beta1/tensorflow/lite/kernels/kernel_util.cc#L138  I and @jackwish have emphasized many times of this function code.

[2019-06-17 11:34] mshawcroft commented on #3332
Yep, my bad, the tutorial code I used was out of step.  Thank you for looking into this, much appreciated.

[2019-06-17 11:34] #3332 closed

[2019-06-17 13:59] jnorwood commented on #2351
The quantized mobilenet v1 inference model is from the tflite model repository.  The training model  includes relu6 and batch normalization operations, but these are fused into convolution operations in the inference model, as the Netron diagram shows.

If the convolution and relu operations were separate, you would still see 0 and 255 for those min and max values because they are applied after do

[2019-06-17 16:55] tqchen commented on #3346
#3353

[2019-06-17 16:55] #3346 closed

[2019-06-17 17:03] tqchen commented on #2588
@sgrechanik-h This is a very good point. I have thought about it, but the conclusion then was it may not be as useful. But you are right that we might get to a stage where we need to pass Analyzer objects around and it makes sense to make Analyzer as a Node.

[2019-06-17 17:17] csarofeen opened #3381 "rfactor does not update predicates"
Although rfactor will replace the original reduction axis with the new split axis in the operation code, the predicate code is not updated. This can be observed by the following nested rfactor case where the split doesn't cleanly factor:

[code]

In the output you can see:
[code]
The big concern here is the second part of the predicate `((n.outer*8) < (129 - threadIdx.x))`, `n.outer` should be fac

[2019-06-17 20:12] andi4191 opened #3383 "RPC context is not identifying gpu device"
I am attempting to use aarch64-linux-gnu target with (CPU and Nvidia’s GPU). CPU is identified from RPC session but not the same for GPU.

Also, tried creating the remote context directly with cpu and gpu dev_type to verify. Same behavior

True

True

False

False

[2019-06-17 20:23] eqy commented on #3383
Since this is a support question, please open a thread at discuss.tvm.ai.

[2019-06-17 20:23] #3383 closed

[2019-06-18 01:44] andi4191 commented on #3383
@eqy: I already did that last week. No response so far.

[2019-06-18 01:53] jackwish commented on #2351
@jnorwood Have read again the long discussions, I finally understand what you are trying to say. Let me ask this question: considering ReLU6 in float, do you think it is saturating input float values into [0, 6]?

[2019-06-18 04:37] jnorwood commented on #2351
I

The 0..6.0 float clamping is applied during training if relu6 is used as activation.  It may also be used to force  the range for creating the downscale constants and offsets that are used in inference.  That seems so, from your activation code excerpt.

The gemmlowp example indicates that they always extend a range if it doesn't include 0.  I believe their reason was that an exact zero represe

[2019-06-18 07:39] FrozenGene commented on #2351
I have emphasized the model diagram is one `quantized` model. Let me show more detail of the property:
![image](https://user-images.githubusercontent.com/7287321/59662050-b95a9780-91de-11e9-89c2-b252b8b3a8ae.png)
This is to say, not all relu / relu6 can be fused into convolution in TFLite's `quantized` model. Then what the min / max, that is previous code  https://github.com/tensorflow/tensorflow/

[2019-06-18 15:51] jnorwood commented on #2351
I'm using the tensorflow tflite quantized model, mobilenet_v1_1.0_224_quant.tflite.  from
` https://github.com/tensorflow/models/blob/master/research/slim/nets/mobilenet_v1.md `

I view it with Netron, which shows no relu6 nodes.  It also shows no fused relu6 nodes in the node properties.  So... if you are discussing some different model, I can't comment on it without further info how to repeat it

[2019-06-18 19:17] yzhliu opened #3390 "[RFC][Codegen] Broadcast ops with symbolic shape"
We are trying to use TVM to generate operator definitions for MXNet.

The gap is, despite the fact that TVM compute/schedule can deal with symbolic shape, some compute definition strongly rely on a fixed shape. For example, broadcast ops,

[code]
Currently topi's broadcast implement will not work as it needs to check whether each dim equal to ONE. e.g., https://github.com/dmlc/tvm/blob/master/topi

[2019-06-18 19:55] yzhliu commented on #3390
Move the discussion here

* Document the behavior independent of arg_binder.
  - Maps buffer[i][j][k] -> buffer[i][0][k] if dimension i's shape equals 0
* Debate on the name (auto broadcast?), enum vs string as type key
* Discuss how would the behavior affect topi implementation of broadcast and reduce ops
* Think about alternative implementations
  - Do we have to introduce stride?
  - e.g. j ->

[2019-06-18 19:58] tqchen commented on #3373
Now that https://github.com/dmlc/tvm/pull/3374 has been merged, the CI should have been updated to the latest state including the tflite change

[2019-06-18 19:58] #3373 closed

[2019-06-18 23:41] icemelon9 commented on #3209
I'm working on a PR that separates VM Object from Interpreter value #3391. After the PR, VM will directly return Object to python instead of converting to Interpreter Value. Currently I haven't dealt with `ClosureObject` since it won't appear in the return value.

[2019-06-19 01:46] shoubhik commented on #2351
We need to add `in_dtype` in the dequantize op as the calculations will be different, especially the range to use.

[2019-06-19 02:51] jackwish commented on #2351
Guess the input tensor has such information already?

[2019-06-19 10:11] #3189 closed

[2019-06-19 11:28] sgrechanik-h commented on #1996
Hello everyone. I want to tell you about the current status of tensor expression automatic differentiation. The latest version can be found [here](https://github.com/sgrechanik-h/tvm/commits/autodiff). The main improvements are as follows:
- I've implemented a solver for systems of linear integer equations. This considerably improves performance of certain operations like dilated and strided convo

[2019-06-19 12:42] shixinlishixinli opened #3395 "i test the time of tutorial ,but the tensorflow is faster than tvm ."
hi

i test the time of from_tensorflow.py. i found that the tensorflow is faster than tvm .
the model run on the tensorflow is 0.4s and the model run on the tvm is 1.2s.

[2019-06-19 13:06] srkreddy1238 opened #3396 "[FLAKY] Vision : get_valid_counts"
[code]

[2019-06-19 15:02] junrushao1994 commented on #3390
I don't have preference between enum and string either.

[2019-06-19 16:59] tqchen commented on #3390
tag other folks who might have some thoughts/suggestions about this @ajtulloch @hlu1 @ZihengJiang @masahi @kazum

[2019-06-19 17:06] tqchen commented on #3395
Please open a new thread in https://discuss.tvm.ai/

[2019-06-19 17:06] #3395 closed

[2019-06-19 17:55] junrushao1994 commented on #3390
@were

[2019-06-19 21:39] joyIntel opened #3398 "Boosting performance with mkl-dnn"
I was wondering whether mkl-dnn (https://github.com/intel/mkl-dnn ) can boost up TVM performance or not ?

[2019-06-19 22:27] antinucleon opened #3399 "Tutorials/Docs are break due to frontend API change"
Att.. API is changed in https://github.com/dmlc/tvm/pull/3353/files
However doc and tutorials/docs such as AutoTVM are not updated.

Also I suggest to add a warning of this change, as it breaks all old code.

[2019-06-19 23:50] tqchen commented on #3399
The RFC was https://github.com/dmlc/tvm/issues/3346 I agree it would be good to raise a bit more attention. @antinucleon can you point out which of the files that haven't been updated?

[2019-06-20 00:07] tqchen commented on #3398
Thanks for bringing up this discussion topic. Please open a new thread in https://discuss.tvm.ai/

[2019-06-20 00:07] #3398 closed

[2019-06-20 02:05] zhiics commented on #3399
#3401

@antinucleon Are you aware of any other places might miss the change?

[2019-06-20 08:15] henrywu2019 commented on #1020
I still got this issue.

[2019-06-20 15:13] joshpoll commented on #3016
Here is a summary of the proposed text format changes.

**RefCreate**: `ref(n)`
**RefWrite**: `r := v`
**RefRead**: `!r`
**ADTs**:
[code]
**Pattern Matching**:
[code]
**Generics**
[code]
**TupleGetItem**: `("foo", 2, true).0 // "foo"`
**Semicolons**: optional unless collapsing multiple lines into one as in Python
**Attrs**: We still don't have a satisfying answer for this so we may punt it. We wil

[2019-06-20 15:17] csarofeen opened #3407 "Binding on internal reduction axis."
[code]

Produces the output:

[code]

The issue here being the line `B[((m.outer.init*32) + m.inner.init)] = 0.000000f` as `m.outer.init` should be replaced with `blockIdx.x`

[2019-06-20 16:16] antinucleon commented on #3399
Can we add a deprecated warning in frontend for 0.6 and remove in 0.7?

[2019-06-20 16:44] tqchen commented on #3399
Due to the fact that this is a return value, it is harder to deprecate the frontend API this time. Given that this is a major change that is necessary to enable more models(with loops recursion). I suggest we keep the change, but create another RFC notification thread in the forum.

[2019-06-20 20:04] MarisaKirisame commented on #3016
@joshpoll what about type inference? How will it work if the type parameter is inferred? e.g. Some(5)?

[2019-06-21 14:16] YPBlib opened #3414 "[Relay][Frontend] Add BatchMatmul Support to TensorFlow Frontend"
https://github.com/dmlc/tvm/blob/master/python/tvm/relay/frontend/tensorflow.py#L1228
 BatchMatmul cannot be found here, therefore importing tensorflow graph might cause NotImplementedError.

[2019-06-21 19:47] #3399 closed

[2019-06-22 02:19] pengfei2017 opened #3415 "Tvm is not working properly on cpu for mtk6735, gpu is for mali720 device. Is it supported?"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2019-06-23 22:25] MarisaKirisame opened #3423 "[Relay][RFC] Garbage Collection"
right now relay aot/interpreter/vm all use reference counting to collect memory. However, it is possible to create cyclic data structure in relay, as demonstrated below:

data Loop = Ref (Optional Loop)
x : Loop = Ref None
match x with
|  r -> r := x
end

in short, we can has a data type holding a mutable (nullable) reference, initialize it to null, then point it to itself.

This example is purely

[2019-06-24 01:17] wweic commented on #3423
Thanks for bringing up this topic. We might need to consider the scenarios we want to use relay and design under those constraints. For now the main use cases is inference(maybe training in the future). I guess most of the objects allocated during inference will be `TensorObject`, plus a few `DatatypeObject`, we can run some benchmarks for major models to confirm. `TensorObject` shouldn't cause cy

[2019-06-24 02:59] tqchen commented on #3423
Personally, I am not in favor of introducing GC to the system. Reference counting was fine and is great for handling external resources(GPU memories etc). Exact for the same reason, languages like java/scala had a pretty bad time working with GPU memories(memories not being de-allocated precisely at the point where data structure goes out of scope).

Ref counting has its limitation, but we can be

[2019-06-24 04:43] tqchen commented on #3415
Please open a new thread in  https://discuss.tvm.ai

[2019-06-24 04:43] #3415 closed

[2019-06-24 18:03] wangshangsam opened #3425 "Package path error in tvm/tests/python/frontend/tflite/test_forward.py"
The package path on line 134:
[code]
Should be
[code]
instead. I'm not sure how TVM's official CI tests manage to pass since then, but it is causing our own version of the CI tests to fail and blocking the testing of our own work. Since the original author has not been responsive, I'll submit a PR to fix it myself.

[2019-06-24 18:08] ritsu1228 opened #3426 "Windows build currently appears broken"
When trying to build latest master with VS 2017, I am seeing three errors as listed below (they repeatedly appear during the build process). The first two can be fixed by minor changes to the code, but the last one seems to require toolset upgrade.

[code]

It seems that `tvm::relay::Bind` declaration appears in both `include\tvm/relay/pass.h` and `include\tvm/relay/expr_functor.h`, but the latter

[2019-06-24 18:17] wangshangsam commented on #3425
PR #3427

[2019-06-24 19:23] wangshangsam commented on #3425
@tqchen  @kevinthesun

[2019-06-24 20:09] Ravenwater commented on #3426
+1 on a working/supported Windows build of TVM and VTA

[2019-06-24 20:45] ajtulloch commented on #3423
cc @hlu1 re: the leak from e.g. recursive functions taking a reference to itself in the environment.

FWIW, can we solve these via adding the concept of weak references to the node system? It seems like in these cases that closures could use weak references to other closures, and have the higher-level env maintain the strong reference to the closure objects themselves?

[2019-06-24 21:11] apivovarov commented on #3425
TVM supports both tensorflow 1.12 and 1.13
Both allow to use `tf.contrib.lite.TFLiteConverter`.
1.13 will show warning
[code]
This explains why CI tests work fine.

[2019-06-24 21:15] MarisaKirisame commented on #3423
@ajtulloch indeed. However, it will always be possible that ppl might uncarefully create strong reference loop, and be unable to collect.

[2019-06-24 22:36] tqchen commented on #3426
Thanks for reporting this problem. Would be great if you can PR first few of your suggested fixes, we will look into the pattern util later

[2019-06-25 02:08] wangshangsam commented on #3425
I'm a bit skeptical about this claim. Our CI test builds docker image with tensorflow 1.13 as well, as I just checked (essentially whichever ubuntu_install_tflite.sh specifies).

Regardless, my new commit should fix it for all versions.

[2019-06-25 02:33] shoubhik commented on #2351
@jackwish, the input data is generally an `Expr` can be `Var` or `IntImm` or some other type of `Expr`. How will i get `in_dtype` from an `Expr`?

[2019-06-25 03:56] tqchen commented on #3425
closed by #3427

[2019-06-25 03:56] #3425 closed

[2019-06-25 04:45] gasgallo opened #3428 "[Frontend][TENSORFLOW] conv2d() got an unexpected keyword argument 'explicit_paddings'"
When I run the `tutorial/frontend/from_tensorflow.py` script with my own custom model (ResNet style), I get the following error:
[code]
If I delete the `explicit_padding` attribute when processing my model in `python/tvm/relay/frontend/tensorflow.py` then I don't get any error and everything works fine.

[2019-06-25 05:11] ritsu1228 commented on #3426
Created PR #3429. Rather than adding `TVM_DLL` to `Bind` in `expr_functor.h`, I think it would be better to remove one of these declarations. However, the two do have different doc strings. It would be great if one of the authors could confirm the desired way of handling it.

In fact, the two declarations of `Bind`s can be left as they are for now - (per my investigation) without changes to the pa

[2019-06-25 08:48] sherwinkh opened #3431 "Python3 import mxnet and nnvm.compiler caused core dumped"
I got this error:
#
root@firefly:/home/face/env/tvm/nnvm/python# python
Python 3.5.2 (default, Nov 12 2018, 13:43:14)
[GCC 5.4.0 20160609] on linux
Type "help", "copyright", "credits" or "license" for more information.
\>>> import mxnet
\>>> exit()
root@firefly:/home/face/env/tvm/nnvm/python# python
Python 3.5.2 (default, Nov 12 2018, 13:43:14)
[GCC 5.4.0 20160609] on linux
Type "help", "copyright

[2019-06-25 12:03] loiccordone opened #3432 "#3353 (frontend API change) breaks Graph tuning in AutoTVM"
Hello,
At the tuner definition (see #2184), #3353 now causes:
[code]

graph = graph[graph.entry_func] solves the problem but it's not clean, and I don't sufficiently understand the BaseGraphTuner module to make it clean and submit a PR.

Can you look into it please? Thanks
@kevinthesun @zhiics

[2019-06-25 12:16] dragonview commented on #2062
When trying to run  c++ api deploy(jni) on android with audio studio3, I am seeing three errors as listed below:
   --------- beginning of crash
2019-06-25 19:54:56.505 13683-13683/com.xxxx A/libc: /usr/local/google/buildbot/src/android/ndk-r15-release/external/libcxx/../../external/libcxxabi/src/abort_message.cpp:74: void abort_message(const char *, ...): assertion "terminating with uncaught exce

[2019-06-25 12:18] dragonview commented on #2062
@sunstarchan @yzhliu @xizi hi, have you solved it ?

[2019-06-25 17:55] zhiics commented on #3432
I think we can just add a checker before

https://github.com/dmlc/tvm/blob/master/python/tvm/autotvm/graph_tuner/base_graph_tuner.py#L143

[code]

[2019-06-25 18:39] kevinthesun commented on #3432
https://github.com/dmlc/tvm/pull/3434

[2019-06-26 02:34] mengdongwei opened #3436 "ValueError: Module[dso]: Only llvm and c support export shared"
I get a error when  I  save a loaded model(graph, lib, params) transformed from mxnet by relay.frontend with target 'llvm' .
actually, I do twice saving operator:  first， I save a model transformed from mxnet by relay.frontend with target 'llvm'  immediately, no error arise. second I save a model after I load  it from the saved files at first step, and i get the follow error.

Traceback (most rece

[2019-06-26 02:41] mengdongwei commented on #3436
step 1 transform model from mxnet by relay with traget 'llvm', i got graph, lib, params
print(1, type(graph))
print(1, type(lib))
print(1, type(params))
print(1, lib.type_key)

# step 2 save tvm model to file

# step 3 load tvm model  from file
print(2, type(loaded_graph))
print(2, type(loaded_lib))
print(2, type(loaded_params))
print(2, loaded_lib.type_key)

# step 4 save tvm model to file again

[2019-06-26 07:57] #3432 closed

[2019-06-26 08:53] #3431 closed

[2019-06-26 14:55] Adesun commented on #3426
same problem on windows.

[2019-06-27 16:40] tqchen commented on #3436
Please open a new thread in https://discuss.tvm.ai/

[2019-06-27 16:40] #3436 closed

[2019-06-27 16:41] tqchen commented on #3428
@srkreddy1238 @FrozenGene can you help to take a look?

[2019-06-27 18:29] gussmith23 opened #3445 "task_python_unittest passes, but script does not terminate"
More of a minor annoyance than anything.

To reproduce:
Started from a clean build on an Ubuntu 16.04 machine. Built with LLVM8 (from Ubuntu nightlies). Followed the instructions at https://docs.tvm.ai/install/from_source.html; everything built without issue. Updated `PYTHONPATH`. Installed all Python dependencies, including optional ones. What follows is the output; I hit Ctrl+C twice during this

[2019-06-27 18:33] gussmith23 commented on #3445
Looks like the RPC server isn't getting shut down.

[2019-06-27 22:58] hlu1 commented on #3423
@MarisaKirisame, https://github.com/dmlc/tvm/pull/3448 was the leak @ajtulloch was referring to.

[2019-06-28 00:42] yzhliu commented on #3390
Regarding how it would affect topi implementation of broadcast and reduce ops, I think we can migrate current compute implement to this new approach, while we might still need to know the shape beforehand in schedule.

I'll change the name to "auto_broadcast" and document the behavior more precisely.

kindly remind everyone here to see if we can proceed?

[2019-06-28 04:12] MarisaKirisame opened #3449 "[Relay] Make PE mod -> mod"
this is note to myself. make pe mod -> mod.

[2019-06-28 04:18] MarisaKirisame opened #3450 "[Relay] fix test_recursion in tests/python/relay/test_pass_to_a_normal_form.py"
note to self

[2019-06-28 05:02] MarisaKirisame opened #3451 "[Relay] remove implicit update in ANF"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2019-06-28 05:49] junrushao1994 commented on #3390
I am in favor of migrating as well :-)

Ping @were again for another round of review.

[2019-06-28 06:53] #3381 closed

[2019-06-28 08:32] Shawhey opened #3454 "[Tutorial] tensorflow frontend tutorial specification of tensorflow version"
The current TF frontend tutorial python file may throw exception under TF 1.14. May TVM developers specify under which version TF the tutorial was written and tested?

https://discuss.tvm.ai/t/cannot-run-tutorials-frontendl-from-tensorflow-py/3143

[2019-06-28 08:35] MarisaKirisame opened #3455 "[Relay] Fix ad for algebraic data type that include tensor inside"
@jroesch it seems like pass need to add new globalvar/globaltypevar. the current way of adding a subscript look incredibly fragile. is there a better design?

[2019-06-28 16:00] tqchen commented on #3390
I am OK with the change.
- Let us use enum as it will make things more clear (we could use str in python API)
- Let us make sure code simplifies in the auto-broadcast mode

Re: migration

We need to think about the implication of simplifiers. Given that auto_broadcast bind at a very late stage, the simplification will not be as powerful.  Need to make sure that the new approach does not compromise

[2019-06-28 19:53] tqchen commented on #3426
fixed by #3458

[2019-06-28 19:53] #3426 closed

[2019-06-28 20:58] icemelon9 opened #3461 "[Bug][AutoTVM] Bug introduced by #3413"
After #3413, elements in `in_heap` are tuples, no longer values. However, the subsequent code still pops value from `in_heap`, which causes key not found error.
https://github.com/dmlc/tvm/pull/3413/files#diff-1b305247d46fd804148ffbe2ceb5eb04R86.

Similarly, in the following code, `x` is also a tuple, cannot directly compare with 0. I'm not sure whether we should use `x[0]` or` x[1]` in this case.

[2019-06-29 03:30] #3461 closed

[2019-06-29 04:39] tqchen commented on #3454
Thanks for bringing this up, please open a new thread on https://discuss.tvm.ai/

[2019-06-29 04:39] #3454 closed

[2019-06-29 04:40] tqchen commented on #3451
This issue is a bit too short and not really actionable. Please describe in detail what to be achieved, or open an accompany PR to achieve it, close for now.

[2019-06-29 04:40] #3451 closed

[2019-06-29 16:41] tqchen commented on #2351
Sorry for the delayed reply in this discussion. Here are a few thoughts.

Let us put a concise namespace for the quantization dialect. Two possible candidates:

- ```relay.op.qnn```, e.g. relay.op.qnn.conv2d
   - The qnn name is consistent with QNNPack
- ```relay.op.tflite```
    - The op name is a dialect.

In both cases, they are a dialect of relay, which means by default we do not want to intro

[2019-06-30 07:21] kevinthesun opened #3465 "[Performance regression] Revamp IntSet #3272 causing GluonCV SSD performance issue"
https://github.com/dmlc/tvm/pull/3272 is causing the similar issue used to happen in https://github.com/dmlc/tvm/issues/3097

The operator fused_strided_slice_greater_cast_strided_slice_zeros_like_add_add_add_add_add_ad_11203150218747419416_ is much slower due to mod operation not simplified:
[code]
While before this PR it is:
[code]

@tqchen @wweic

[2019-06-30 17:46] tqchen commented on #3465
@kevinthesun can you print out the entire loop nest? need to confirm if the condition is something that cna be simplified. Previously the simplification happens due to boundary guard condition that provides a guard on the bound of ```ax0.ax1.fused```

[2019-06-30 21:23] kevinthesun commented on #3465
A snippet of codes for before:
[code]

Now:
[code]

Full ir : [before](https://gist.github.com/kevinthesun/f2d3ae69cc1ecc933aadf23485365385) [now](https://gist.github.com/kevinthesun/de1210c1153efe146e5416f4c0e47a24)

[2019-06-30 23:28] tqchen commented on #3465
Looking into the condition, the main reason was due to the condition being changed. Now somehow the condition becomes  ```(490548 - ax2) <= (ax0.ax1.fused*4)``` instead of  ```490548 <= (ax0.ax1.fused*4) + ax2``` and the const bound detector was not able to use this condition. I will send a possible fix to this.

[2019-06-30 23:30] tqchen commented on #3465
https://github.com/dmlc/tvm/pull/3467

[2019-07-01 00:25] tqchen opened #3468 "[RFC] TVM Website Migration to ASF"
Dear community. As we are migrating towards Apache, one crucial step is to migrate our project website from https://tvm.ai/ to https://tvm.apache.org/

I have done some experiments and figured out how to setup a Jenkins pipeline to build the project website according to the ASF requirement.  I propose we continue to use our Jenkins CI to build the website so that we can reuse the GPU related infra

[2019-07-01 00:27] anijain2305 commented on #2351
Thanks @tqchen

Of the two choices, I am inclining towards `relay.op.qnn`. My hope is that different frameworks converge to same `qnn` ops. The `relay.op.tflite` seems to be very specific as of now. I agree that these news ops should have a special op_level.

I am still unclear about where to draw the boundary when to directly translate to lower ops vs creating a new`qnn` op. For example, if we ar

[2019-07-01 00:38] tqchen commented on #2351
re "we might have to create a long sequence of existing Relay ops to approximate the FP32 computation".

This is certainly a problem for traditional frameworks, but won't be a problem for tvm/relay. Because we has automatic fusion and code generation, the long sequence of ops will be fused again into a single fused op. We can generate code as efficient, sometimes even more efficient(because we can

[2019-07-01 00:47] anijain2305 commented on #2351
I completely agree with breaking down into primitive ops. Even the `relay.op.qnn` should be broken down into primitive ops. If the primitive op does not exist, we will discuss and maybe create one. I understand the Relay fusion part. I am trying to make another point.

I am trying to understand when to directly translate to primitive ops OR create a new `qnn` op that will be later lowered to primi

[2019-07-01 02:55] jackwish commented on #2351
For

and

QNNPACK takes the quantization approach of TensorFlow/TFLite. I think that when we talking about op in this scenario, it means the quantization arithmetic formula itself rather than how to translate it into code, which is same for QNNPACK and TensorFlow/TFLite. So I guess one dialect should be enough for them. And, I guess the **converge** is more reasonable, if, the `qnn` stands for sim

[2019-07-01 04:24] anijain2305 commented on #2351
@jackwish Yes, `qnn` stands for a generic quantized nn, and not QNNPACK. I think @tqchen also means the same thing.

[2019-07-01 19:30] kevinthesun commented on #3465
@tqchen I applied that patch but issue still exists.

[2019-07-01 20:01] kevinthesun commented on #3465
I'm not sure whether this is related to this thread. In bert, batch_matmul-ones_like-where fused op will generate:
[code]
and the performance is significantly lower.
@icemelon9

[2019-07-01 21:03] tqchen commented on #3465
@kevinthesun it would be great if you can dig a bit into what exactly happens, and see if explicitly apply the CanonicalSimplify helps

[2019-07-01 21:54] jroesch commented on #3423
I talked with Zach DeVito from PyTorch team for a while about RefCounting, there are quite a few benefits to using reference counting. We should probably just use weak refs, solutions from Counting Immutable Beans (a recent paper by my MSR collaborator where they do much better than GC languages in perf) or cycle detectors if we are worried about cycles. I think generally RC provides the best trad

[2019-07-01 22:55] tqchen commented on #2351
OK, seems we are converging to qnn. Perhaps we could propose the list of op names

[2019-07-01 23:28] anijain2305 commented on #2351
Finally, we are starting to converge :)

I am proposing them on the basis of Resnet network for now.

`relay.op.qnn.conv2d`
`relay.op.qnn.dense`
`relay.op.qnn.relu`
`relay.op.qnn.max_pool2d`
`relay.op.qnn.avg_pool2d`
`relay.op.qnn.concat` (used in Inception)

`relay.op.qnn.quantize`
`relay.op.qnn.dequantize`

[2019-07-01 23:28] anijain2305 commented on #2351
All of above `qnn` ops will be lowered to existing Relay primitive ops using some Relay pass (for example, using ForwardRewrite infra). For example -  `relay.op.qnn.conv2d` can be lowered to
[code]
---------------------

I have yet to understand what needs to be done with softmax. Will have to look at a quantized model to understand.

[2019-07-02 01:26] jackwish commented on #2351
Maybe computing softmax in float as it seems that we are not expecting
everything in integer (just like your conv2d lowering proposal)?

[2019-07-02 16:25] shawzhan opened #3473 "TVMError after Loading Model from File"
When I convert my ONNX model to TVM, I can run the TVM model with data successfully. However, once I save the TVM onto file and load it, I cannot successfully run it on data.
Rather, I get the following error:

[code]

Here is all my code below:
[code]

Am I formatting it wrong?

[2019-07-02 16:26] tqchen commented on #3473
Please open a new thread on https://discuss.tvm.ai, we use the discuss forum to help trouble shooting and general discussions

[2019-07-02 16:26] #3473 closed

[2019-07-02 16:35] tqchen commented on #2588
https://github.com/dmlc/tvm/pull/3368 finishes the migration of the analysis stack.

[2019-07-02 16:35] #2588 closed

[2019-07-02 17:21] tqchen opened #3474 "[RFC] Build and Evolve Low-level IR (HalideIR) Internally"
TVM uses HalideIR as its low-level IR structure, which has served us well. One of the main gains we get is the integer simplification infrastructure provided by HalideIR. As the project moves forward, we start to introduce our own integer simplification infra to tackle new problems. As of now, we start to rely on the new integer analysis infra in TVM.

We also see increasing needs to evolve our ow

[2019-07-02 17:32] #3449 closed

[2019-07-02 17:32] tqchen commented on #3449
#3312

[2019-07-02 18:28] yzhliu commented on #3390
close by https://github.com/dmlc/tvm/pull/3389

[2019-07-02 18:28] #3390 closed

[2019-07-02 18:31] MarisaKirisame commented on #3449
When it get called as functionpass and got a module the same function will be partially evaluated multiple time

[2019-07-03 00:20] tqchen opened #3478 "[RFC][ARITH] Introduce FloorDiv/Mod for Context-Independent Simplifications"
Many parts of our code base rely on integer simplifications that involves div/mod. These simplifications are in particular tricky due to the different division mode, and the dependence on knowing the sign of the operand.

## DIvMod Variants
### Trunc div/mod
IEEE standard integer division is truncated division, directly maps to the hardware. This is the division used by C and TVM by default. The p

[2019-07-03 00:29] tqchen commented on #3478
cc @dmlc/tvm-team

[2019-07-03 00:39] slyubomirsky opened #3480 "[Relay] Pass manager documentation"
Recently, some parts of the Relay pass manager (#2512) have been merged and have changed the way that passes are invoked in Relay. As this was a breaking change that affects a lot of Relay's functionality, I think it would be useful if there were high-level developer docs for it, explaining how to use it and how everything is meant to work. Is there anyone who is in a good position to take the lea

[2019-07-03 00:44] tqchen commented on #3480
To make things more actionable, I would recommend creating a breakdown of lists. In particular, enhancing https://docs.tvm.ai/api/python/relay/transform.html could be one specific item that we can work on.

[2019-07-03 01:05] slyubomirsky commented on #3480
Oh, I see, so there is documentation via the generated API pages.

What I had in mind when I wrote this issue was a one-page summary answering the questions, "What is the pass manager?" and "How do I use the pass manager?"

Another action item might be updating the existing instructions on writing a Relay pass to reflect the use of the pass manager: https://docs.tvm.ai/dev/relay_add_pass.html (@we

[2019-07-03 01:16] weberlo commented on #3480
Yeah.  I can update that material if someone's willing to explain to me how writing passes is different with the pass manager.  Even some specific examples of where it's used would be helpful to generalize into high-level docs.

[2019-07-03 02:07] zhiics commented on #3480
@weberlo Thanks for being willing to contribute. I can help when you are writing the doc. There are few docs that may help:
1. the original issue: #2512
2. the pass API design issue: #3202
3. Jared's FCRC notebook.
4. Pass manager [unit test](https://github.com/dmlc/tvm/blob/master/tests/python/relay/test_pass_manager.py).

Please let me know if you need any help. Thanks.

[2019-07-03 02:50] yzhliu commented on #2623
# TVM Monthly - June 2019

https://discuss.tvm.ai/t/tvm-monthly-june-2019

[2019-07-03 04:12] zhiics commented on #3480
@weberlo I think I can probably start working on it next week. I will ask your guys to help review when it is ready. Thank you.

[2019-07-03 04:44] jroesch commented on #3478
Can you clarify the example above? the simplifications seem invalid to me, how can you drop the addition by 3?

[2019-07-03 04:47] tqchen commented on #3478
Sorry it should be ```(x * 4 + 3) / 4=>x```

[2019-07-03 08:54] herbiezhao opened #3484 "how to get the config log of nvidia gpu p4 for int8 mode using autotvm"
https://docs.tvm.ai/tutorials/autotvm/tune_relay_cuda.html
The tutorial gives us the example of creating config log for different gpu devices. But the config type  is float32.
How to get the config log of nvidia gpu p4 for int8 mode using autotvm.
Could you give me some examples？

[2019-07-03 15:02] mvermeulen opened #3486 "ROCm apps/benchmark/gpu_imagenet.py failures loading kernel"
I have a configuration where TVM works for basic operations like the vector add case.  Will attach my dockerfile below.  However, running the benchmark script gives the following failure
[code]

The error message suggests a kernel was never created and looking setting an environment variable HIP_TRACE_API=1 suggests that never getting to point of trying to load a module.  Not sure if this is a fai

[2019-07-03 20:20] tqchen commented on #3486
Please open a new thread on https://discuss.tvm.ai/

[2019-07-03 20:20] #3486 closed

[2019-07-03 20:20] tqchen commented on #3484
Please use https://discuss.tvm.ai/ for related questions

[2019-07-03 20:20] #3484 closed

[2019-07-03 20:55] kevinthesun commented on #3465
@tqchen After your fix now the condition part is fixed. One key different for indexing is:
before:
[code]
now:
[code]
In placeholder indexing, mod operation involves a large number. I'm not sure whether this is the possible cause.

[2019-07-03 23:22] yzhliu commented on #3474
include/tvm/include is to replace HalideIR/src/tvm/node and
include/tvm/ir is to replace HalideIR/src/ir
is it true?

[2019-07-03 23:26] tqchen commented on #3474
Yes

[2019-07-03 23:33] slyubomirsky commented on #3480
Thanks for the replies; I think having docs will be very helpful.

[2019-07-04 00:51] tqchen commented on #3478
@derisavi @sgrechanik-h @yzhliu @wweic  @merrymercy would be great to also get your thoughts about this.

[2019-07-04 00:58] tqchen commented on #3465
https://github.com/dmlc/tvm/issues/3478 might also help to alleviate the situation. from what I see, perhaps we still need to enhance the simplifier a bit. e.g. ```24064 <= (((ax0.ax1.fused*4) + ax2) - 466036))``` could have been rewritten to give clear bound for the internal part

[2019-07-04 03:04] lk1983823 opened #3492 "TVM Build with Intel FPGA SDK for OpenCL support error during cmake.."
During building TVM from source, I follow the instructions mkdir build, set backends and libraries ON, and run cmake ... However, I get the following error:

[code]
Does this mean that my opencl version is too old?

Runing clinfo, my device information is:
[code]
Thanks

[2019-07-04 04:57] tqchen commented on #3492
Please open a new thread on https://discuss.tvm.ai/

[2019-07-04 04:57] #3492 closed

[2019-07-04 08:34] sgrechanik-h commented on #3478
I think Euclidean division should be preferred since it is used in Halide and smt-lib, which I think are more relevant than python (e.g. it will be easier to borrow algorithms from Halide and to use SMT solvers to perform some proofs if we ever need it).

[2019-07-04 13:05] grwlf commented on #2563
Hi! Could you please share the links to possible target devices which could be supported?

[2019-07-04 19:21] tqchen commented on #3478
I agree that Euclidean and Floor could be an interesting tradeoff.

When possible, I want to be able to make most of the proofs internally. This is especially true with respect to div/mod simplifications. Given that the division/mod we will ever encounter will most likely have positive divisor, they are just fine and can be viewed as Euclidean if necessary.

I think the main reason to choose floor

[2019-07-04 21:20] weberlo commented on #2563
@grwlf Hi there!  As mentioned above, there are only two requirements for a device to be supported by µTVM: a C cross-compiler toolchain and an implementation of a read/write/execute interface for the device.

As far as actual devices that we've tested on, we've primarily been using an emulated host device (implemented in #3227) and [Spike](https://github.com/riscv/riscv-isa-sim), a functional RIS

[2019-07-05 03:28] FrozenGene commented on #3428
@gasgallo Could you share the model (or reduced model, for example, just one convolution having your problem)? I guess we don't support `explicit_padding `, According to the doc:
[code]
We shouldn't ignore / delete this attribute. We should insert `pad` operator according to the value.

[2019-07-05 06:36] sunstarchan commented on #2062
As I remember, this kind of issue is caused by linking libtvm_runtime twice in the project. So please check the configuration for the project to make sure libtvm_runtime is only linked once in a place.
@dragonview @xizi

[2019-07-05 06:50] anijain2305 commented on #2351
![0001](https://user-images.githubusercontent.com/13822661/60703346-6d824080-9eb6-11e9-9ad3-bc01f5e17451.jpg)
![0002](https://user-images.githubusercontent.com/13822661/60703347-6d824080-9eb6-11e9-89ed-e34f270d3f00.jpg)
![0003](https://user-images.githubusercontent.com/13822661/60703349-6e1ad700-9eb6-11e9-9cef-a3fc212b648c.jpg)

[2019-07-05 07:19] FrozenGene commented on #2351
@anijain2305 Generally Good. About the performance of HW, let us say ARM CPU, For the depthwise convolution, we even could optimize without tensorize. After some work of optimization for int8 using pure TVM schedule without tensorize, we could also beat QNNPACK (some workload we test we even could beyond 50%).

 However, for normal convolution, without tensorize, it is hard to achieve best perform

[2019-07-05 13:37] derisavi commented on #3478
Not sure whether the decision has already been done but I'll put my two cents here.

You have covered all the tradeoffs. Since in most cases, the divisor is positive, I believe the important move was to add one of floordiv or euclideandiv (which you are doing now). The difference between floordiv and euclideandiv will not have drastic effect on how much we can simplify the code.

Nevertheless, IMH

[2019-07-05 15:13] anijain2305 commented on #2351
@FrozenGene Thanks for the quick feedback on the design.

I understand the performance concern. Let's try to tackle them in fusion. Fusion already performs compute_inline to bring the computation at right location. Hopefully, with some tagging and with some arm-twisting, we can achieve same tensorize schedule that you are suggesting.

[2019-07-05 17:30] tqchen commented on #3478
Thanks, @derisavi @sgrechanik-h for putting in your thoughts. Let me try to summarize the trade-offs dimensions so far.

## Power of simplification
- They are going to be similar because in most cases divisors are positive.
- Floordiv and euclidean div are the same when divisors are positive.

## Consistency with Existing Choices
- Floordiv is used by python, which means we could in the future cha

[2019-07-05 17:39] jnorwood commented on #2351
I just want to point out, again, that the output_activation_min and  output_activation_max are required even if there is no specified activation operation, since they provide saturation to the quantization range ... avoiding overflow error.

Also, if you fuse  activation operations during training, prior to the re-quantization, then you gain the extra bit of resolution for quantization.  I believe

[2019-07-05 18:16] tqchen commented on #3478
To summarize the discussion so far. I think everyone agrees that we should introduce one of FloorDiv or EuclideanDiv, and this is a pretty close call (see the technical summary above).

@derisavi @sgrechanik-h suggested eucildean div for the reason of being consistent with Halide smt-libs. My understanding atm is that while we have different thoughts, we mostly agree that adding either floordiv or

[2019-07-05 21:58] jroesch commented on #3455
My old design which you removed is the best design imo, all global names should be interned, they should all be globally unique.

[2019-07-05 23:18] yzhliu commented on #3478
+0.5 to floordiv given the familarity and the usage in isl and MLIR.

[2019-07-06 00:27] anijain2305 commented on #2351
@jnorwood Yes, I understand your point. We can use the clip to saturate the values even if Relu was not fused. It fits in the design and the proposed abstractions.

[2019-07-06 00:30] anijain2305 commented on #2351
@tqchen What are your thoughts?

Seems like we are agreeing on the proposed design abstraction. There is a concern of not being able to achieve the best schedule performance. We can try to tackle it with fusion and schedule_tagging.

[2019-07-06 03:40] tqchen commented on #2351
Can we elaborate a bit if avg_pool2d, relu is necessary or if they are more of a direct mapping to the standard ops? Do we allow mix of standard ops and qnn ones？

[2019-07-06 03:56] FrozenGene commented on #2351
@tqchen, if we use avg_pool2d , we also need to modify it. But the modified code is not much. For example, we should make the sum UInt8 result be Int16 to avoid overflow. In our internal implementation, we use q_avg_pool2d to distinguish avg_pool2d. Relu shouldn’t be modified. However, if we have activation fns, we should have output_min / output_max calculated by calculate_activation_range_uint8

[2019-07-06 06:44] jroesch opened #3501 "[RFC][Relay][HalideIR] Automatically generate the AST"
I have begun to experiment with writing a new library called `astgen` to replace the large quantity of boilerplate required by the AST today, and enable us to more flexibly evolve the node system, and its APIs.

The first version of this tool will take a Python file like this:
[code]

and produce this C++ file:

[code]

This compliments Tianqi's recent proposal to evolve the low level IR see #3474

[2019-07-06 17:02] tqchen commented on #3501
cc @jermainewang @kazimuth @junrushao1994 @icemelon9 @ajtulloch @yzhliu  who might be interested in this. Some initial thoughts:

- Convention of the name convention the class and file hierarchy schema
      - e.g.``` tvm.schema.expr.py -> include/IR/expr.h```
      - Alternatively, allow declaration within each file.
- Decouple schema reading(frontend) and emission, have an IR of class hierarchy

[2019-07-06 21:10] #3236 closed

[2019-07-06 21:11] #2983 closed

[2019-07-06 21:11] tqchen commented on #2983
https://github.com/dmlc/tvm/issues/3501

[2019-07-06 21:12] tqchen commented on #3109
@masahi would you be interested in this?

[2019-07-06 21:13] #1585 closed

[2019-07-06 21:15] #3202 closed

[2019-07-06 21:15] junrushao1994 commented on #3501
Hey Jared,

Nice proposal!

I am mostly interested in using the node system across C ABI.

First, I would love to understand:
1) how member methods could be generated, and
2) their usability across C ABIs.

If we wrap up data fields of generated nodes in pure C, and if packed functions' global registry can be used across C ABI (not now), we could have a systematic way to wrap the methods up
1) For

[2019-07-06 21:15] tqchen commented on #3301
@yzhliu can you followup on this thread?

[2019-07-06 21:17] tqchen commented on #3339
@were what is the status on this?

[2019-07-06 21:17] #3243 closed

[2019-07-06 21:19] tqchen commented on #3396
Duplicate https://github.com/dmlc/tvm/issues/3142

[2019-07-06 21:19] #3396 closed

[2019-07-06 21:19] tqchen commented on #3160
Close due to inactive status, please feel free to open a new thread on https://discuss.tvm.ai/ if there is still a problem

[2019-07-06 21:19] #3160 closed

[2019-07-06 21:20] #3423 closed

[2019-07-06 21:20] tqchen commented on #3423
Seems we agreed that weak reference was better than gc. close this RFC thread for now. Thanks everyone who participated in the discussion

[2019-07-06 21:33] tqchen commented on #3240
ping @kevinthesun

[2019-07-06 21:57] anijain2305 commented on #2351
![q_conv2d](https://user-images.githubusercontent.com/13822661/60761466-2ef79d80-9ffe-11e9-9895-8707d4d8c100.jpg)

[2019-07-06 22:01] anijain2305 commented on #2351
@tqchen Added the case for qrelu. (I think the asymmetric lowering can be improved further, but thats not the point).

Similarly for quantized avg pool2d, as @FrozenGene mentioned, we will still need to upcast the tensor to int32 to avoid saturation. Additionally, we would need to handle the zero points.

[2019-07-06 22:04] anijain2305 commented on #2351
The framework parsed graph might have a mix (as shown in the lowering of qconv2d). But in the `relay.build` function, my first pass would be quantize_rewrite pass, that will convert all the `qnn` ops to existing relay ops, resulting in whole graph consisting of only primitive ops.

[2019-07-06 22:14] tqchen commented on #2351
I agree that mixed-precision might make avg_pool2d's case a bit tricky.  However, assuming that the zero-point won't change, we might just do ```avg_pool2d(x.astype("i32")).astype("i8")```.

max_pool2d though should be the same given that the maximum rule is the same regardless of zero point.

Most of the current operator's lowering rule cast back the domain to float then back into i32. As in the

[2019-07-06 23:26] anijain2305 commented on #2351
So, I think we are trying to make 2 things work together here, which are very difficult to merge.
The first is to perform the quantization in framework and then convert it to Relay graph. This is what this issue is trying to focus on. The other is to perform the quantization in TVM itself. Your comment that the conversion between two domains should be minimal applies to the entity that quantizes t

[2019-07-07 00:14] masahi commented on #3109
alright, I'll give it a try

[2019-07-07 00:20] tqchen commented on #2351
Yes, you can also view the domain conversion minimization as an optimization pass here. The resulting graph is to some extent equivalent semantically equivalent to the original one that does the conversion to f32 and back and forth.  The idea is we can be smarter when lowering qnn ops into the relay sequence.

For example, when lowering the ```qconv2d -> qrelu ``` sequence, we don't have to conver

[2019-07-07 00:37] tqchen commented on #2351
To elaborate further about the choice of the domain and how it is relatively independent of which op you would like to perform.

It means how you should represent the number of a certain layer. We can represent 2.5 by
- f32: stored as val_f32 , where val_f32=2.5
- i8: stored as val_i8 * scale + zero_pt (val_i8, scale=0.1, zero_pt = 0)

Each operator in the qnn could take value from either f32 or i

[2019-07-07 01:01] anijain2305 commented on #2351
Thanks @tqchen for the detailed explanation.

Actually, my proposal is simpler. My `qnn.relu` does not convert to the three stages that you mentioned. It only performs the `relu_int_i8`.

The frameworks (atleast TFLite and MxNet) do not go back to FP32 unless the operator is not supported in `i8` format or accuracy is very bad in `i8`.

For example, TFLite `qconv2d` will translate to `qnn.conv2d +

[2019-07-07 01:58] jnorwood commented on #2351
If you do the qconv2d and qrelu operations sequentially, using their analogous fp operations, the output from qrelu will have the (potentially worse) resolution of the initial qconv2d.  So, you need to be careful if you are trying to use the fully sequential, separate operation results as a reference.

I can see that you might want the graph to represent all the operations prior to optimizing the

[2019-07-07 02:19] anijain2305 commented on #2351
Yes, you are correct. And that's what exactly TFLite does. In the case of fused TFLite conv2d, the conversion will be different

`TFLite.conv2d (fused relu)`

will be converted to following Relay graph

`qnn.conv2d -> nn.bias_add -> qnn.requantize -> clip`

In this case, the cost-free conversion is manifested in the `clip` operation.

We will have to add framework parsers for each framework, and m

[2019-07-07 02:26] jackwish commented on #2351
Several comments :)

The symmetric and asymmetric path may merge into one - the asymmetric - where the zero point for symmetric approach is 0. Actually, this is a bit more complicate regarding the input tensor type, and what is the expected output tensor type, when handling the **ReLU family**:

| input type | output type| how to handle|
|-----------|------------|-----------------|
| int8/uint8| i

[2019-07-07 03:07] tqchen commented on #2351
OK, given that most of the qnn ops are already in integer domain, we might be just fine. Minimization of requantize is still useful. And in the case when the scale is a power of two, use shift and normalize might be better than float scale and round

[2019-07-07 03:21] jackwish commented on #2351
Maybe scales are rarely a power of two (I assume you mean values such as
0100b, 0.0010b). They are basically with long fractionals.

Tianqi Chen <notifications@github.com>于2019年7月7日 周日上午11:08写道：

--
Best Regards
Zhenhua

[2019-07-07 04:47] anijain2305 commented on #2351
Yes, the shift and normalize can completely by done in integer scale instead of going to Floating point (even if they are not a multiple of 2). I have been prototyping that. Will update.

[2019-07-07 04:52] anijain2305 commented on #2351
Thanks everybody for the fruitful discussion. I think we are gradually reaching convergence :)

I am have been prototyping the qnn.conv2d and qnn.requantize at https://github.com/dmlc/tvm/pull/3367

I have still few lose ends to fix. I will update once I am done and then we can discuss if the implementation makes sense.

[2019-07-07 05:51] tqchen commented on #2351
One thing to be careful about is that when using shift and normalize, right shift corresponds to round down as opposed to round to nearest, an additional 0.5 equivalence needs to be added to get the round behavior

[2019-07-07 07:45] jnorwood commented on #2351
if followed by relu, you can skip extra round processing for negative values.
otherwise for negative values you need to subtract 0.5 equivalent.
if using convergent nearest/even rounding, also need to handle the boundary cases for even/odd decision.

[2019-07-07 16:38] wweic commented on #3478
I also prefer floordiv as its use in MLIR.

[2019-07-07 17:14] anijain2305 commented on #2351
Yes, I think it is little more complicated. The std::round of -2.5 is -3. Therefore, for negative numbers the rounder is not 0.5, its actually decimal equivalent of 0.0111111b (the number is represented in 2's complement). This brings in lot more new instructions. I will add some examples.

Aaah, very nice observation.

Lets skip this for the first implementation. Once we have normal rounding work

[2019-07-07 17:18] tqchen commented on #2351
slight difference in a single point(0.5) is fine and likely won’t have an impact on final acc

[2019-07-07 17:24] anijain2305 commented on #2351
Yeah, I was planning to add a rounding param to the op. For "ceil", we could just add a 0.5 rounding without worrying about negative values. For "round', we can be more precise. By default, we can choose "ceil". What do you think?

[2019-07-07 17:28] tqchen commented on #2351
In other cases that do not directly correspond to 0.5, the behavior is still consistent with round, if you add 0.5, this include negative values. Because right shift corresponds to floor division.

[2019-07-08 04:36] FrozenGene commented on #2351
Let me try to follow your discussion compared with our internal implementation, for round (of requantize), when we get the `input_scale` / `kernel_scale` / `output_scale`, we want to get the `shift` / `multiplier` (See: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/kernels/internal/quantization_util.cc#L52 ) and pass to real `requantize` (i.e. corresponding to https://github

[2019-07-08 04:46] FrozenGene commented on #2351
If your round is the concept of my previous comment, maybe `round` is better and is the same as TFLite. IMO, if we couldn't get the same result of TFLite, we can not know where is wrong when the model is large and we could have problem when we deploy it in industry environment. Because algo. team often verify acc in TFLite, not verify the acc in TVM.

[2019-07-08 05:37] jnorwood commented on #2351
tflite  computes the downscale and right shift integer parameters from a double  input as they do in the call to Quantize Multiplier

` https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/micro/kernels/conv.cc `

I'd suggest you print out their downscale and shift values  for comparison, since errors can start there.

Their downscale operations are implemented in int6

[2019-07-08 17:07] tqchen commented on #3465
@kevinthesun Please test again using the latest master, as some recent PRs enhances the simplifications.

[2019-07-09 02:10] kevinthesun commented on #3240
Is it possible we force binary op to be the correct implementation inside tvm.compute?

[2019-07-09 02:32] zhiics commented on #3480
#3515

[2019-07-09 02:54] kevinthesun commented on #3465
@tqchen I updated the git gist to reflect the latest ir. Now the performance is better, but still 3 ms slower than the original performance. The condition has clear bound. Not quite sure the next direction of improvement. Would it be https://github.com/dmlc/tvm/issues/3478?

[2019-07-09 03:17] tqchen commented on #3465
Yes, introducing floordiv/mod might improve the perf further

[2019-07-09 09:49] mengquanrun opened #3518 "support for conv1D"
i want to compile a model which has some conv1D layers, and it seems like that relay cannot support conv1D, so i want to know is there some difficulties which are hard to solve?
and i find that all operations about 1D are not supported by now, so i want to know the key difficulties about it.

Thanks  @Huyuwei

[2019-07-09 17:02] tqchen commented on #3240
Because it is not context-dependent, it is harder to do force that. We could, however, avoid overloading of TensorSlice mul scalar to get an Tensor.

[2019-07-09 17:09] tqchen commented on #3480
A good first step would be great if we can also have tutorials on how to use them.

I would also like us to address the design philosophy about "trying to make developers easy to customize the pass pipelines", which is different from traditional pass managers. Both in terms of dev docs and user docs(how easy it is to do such customization). Keep in mind such different would clarify our technical d

[2019-07-09 17:56] dylanzika commented on #2563
Hey @weberlo great work on this effort, it would really make the value stand out of this approach by selecting a similar board to something in this linked work by Arm. It would allow you to do a competitive analysis comparing with CMSIS-NN.

https://arxiv.org/pdf/1801.06601.pdf

NUCLEO-F746ZG Mbed board [14] with an Arm Cortex-M7 core running at 216 MHz

Nucleo-f746zg development board. http://www

[2019-07-09 17:59] #3450 closed

[2019-07-10 02:15] weberlo commented on #2563
Thanks for the pointer!  You're right.  It would be very compelling if AutoTVM generated kernels for a Cortex-M board that outperformed the kernels from this paper.

[2019-07-10 21:44] MarisaKirisame opened #3530 "[RFC] Deprecation"
Currently, when we want to deprecate a feature, we add LOG(WARNING) or warning at python side. However, they do slowly creep back into the master's CI.
For example, I once removed all deprecation warning at build_module.py:186, but it got reintroduced to the CI.
![image](https://user-images.githubusercontent.com/3397377/61006726-d6870f80-a31f-11e9-985e-e127c2924729.png)
I proposed that we add a de

[2019-07-11 01:03] tqchen commented on #3530
It is a bit harder to build into the CI infra, but would be great if we could work to fix deprecation warnings as much as we can

[2019-07-11 01:13] tqchen commented on #3474
https://github.com/dmlc/tvm/pull/3533

[2019-07-11 02:47] Huyuwei commented on #3518
It's just because conv1D hasn't been implemented. Most efforts are spent on optimizing models for image tasks that mainly rely on conv2D.

Is it possible to express conv1D as conv2D with kernel size being (convd_kernel_size, 1)?

[2019-07-11 21:27] #3474 closed

[2019-07-12 11:45] myproject24 opened #3537 "Throwing error reading JSON file."
Hi @tqchen @srkreddy1238 @kayneWest I am able deploy and run iOS_rpc sample application iPad 6th gen, but while deploying cousomized tvm model I am getting error in reading JSON file.
**Below are build details:**
[code]

**Loading code:**

[code]

**Error:**

[code]

[2019-07-12 16:48] youn123 opened #3539 "VTA MxNet tutorial broken"
[VTA MxNet frontend compilation tutorial](https://docs.tvm.ai/vta/tutorials/frontend/deploy_resnet_on_vta.html#sphx-glr-vta-tutorials-frontend-deploy-resnet-on-vta-py) seems to be broken.

Produces this error:
`tvm._ffi.base.TVMError: Traceback (most recent call last):
  [bt] (8) /home/xilinx/packages/tvm/build/libtvm_runtime.so(+0x42b3e) [0xb59b7b3e]
  [bt] (7) /home/xilinx/packages/tvm/build/lib

[2019-07-12 17:15] tqchen commented on #3539
Please create a new thread on https://discuss.tvm.ai/

[2019-07-12 17:15] #3539 closed

[2019-07-12 17:16] tqchen commented on #3537
Thanks for reporting this, we use https://discuss.tvm.ai/ for trouble shooting, please create a new thread there

[2019-07-12 17:16] #3537 closed

[2019-07-12 21:29] zhiics opened #3540 "[ci] ci is consistently failing"
Ci has been consistently failing with the error: java.io.IOException: Remote call on JNLP4-connect connection from ec2-34-210-115-84.us-west-2.compute.amazonaws.com/34.210.115.84:46651 failed

@tqchen

[2019-07-12 22:37] tqchen commented on #3540
I have restarted the worker, we will see if that helps resolving the problem

[2019-07-12 22:37] #3540 closed

[2019-07-12 22:57] junrushao1994 commented on #3501
BTW, packed functions can be across-ABI if we have to, by simply adding several C APIs. We don't have to make std::function across-ABI, just register pointers to them and execution context to them, like what DLPack did using `deleter` and `manager_ctx`.

[2019-07-13 20:32] MarisaKirisame commented on #3240
@kevinthesun what is the status on this?

[2019-07-14 00:03] vsahil opened #3542 "NNVM compiler doesn't support tensors. Crashes with "AttributeError: 'Tensor' object has no attribute 'node'""
I was trying to use NNVM compiler for a toy TF program, but could not get it compiled, because the model was a tensor. I have the file attached. It was run on CPU machine running Ubuntu 18, TF version 1.8.0.

[singlefile.zip](https://github.com/dmlc/tvm/files/3389331/singlefile.zip)

[2019-07-14 16:42] tqchen commented on #3542
Please open a new thread in discuss.tvm.ai

[2019-07-14 16:42] #3542 closed

[2019-07-15 01:45] ColdCodeCool commented on #3192
Yes, I am about to implement HDRnet in Real-Time on Android. Your effort would be great helpful to me.

[2019-07-15 06:57] kunyao2015 opened #3544 "OpNotImplemented: The following operators are not supported for frontend ONNX：LSTM"
I have converted CRNN model from pytorch into onnx format, and using codes like this:
`
target = 'llvm'

input_name = '0'
shape_dict = {input_name: x.shape}
mod, params = relay.frontend.from_onnx(onnx_model, shape_dict)

with relay.build_config(opt_level=1):
 intrp = relay.build_module.create_executor('graph', mod, tvm.cpu(0), target)
`

ERROR:
OpNotImplemented: The following operators are not sup

[2019-07-15 13:43] MRinel opened #3545 "Make failed: CheckSymbolExists.c:2:10: fatal error: OpenCL_INCLUDE_DIR-NOTFOUND/CL/cl.h: No such file or directory"
**Env**

- pytorch1.0.1
- cuda9.0
- tvm0.4
- cross compile linaro7.4.1-x86_64-aarch64-linux-gnu

**local machine**
[code]

CMakeError.log
[code]
Can anyone give some advice? Thank U

[2019-07-15 22:39] kevinthesun commented on #3240
@tqchen Did you mean force mul-scalar to always get Expr?

[2019-07-16 07:14] yinghai opened #3547 "`tvm::ir::Simplify` no longer simplifies `let`"
It seems that after https://github.com/dmlc/tvm/pull/3368, the `tvm::ir::Simplify` no longer simplifies `let` statement. The following stmt can be reduced to `20` previously
[code]
But now it's no longer the case.

cc: @ajtulloch @tqchen

[2019-07-16 10:59] xiaoliyang1 commented on #376
issue:
xilinx@pynq:~$ cd tvm
xilinx@pynq:~/tvm$ sudo ./apps/pynq_rpc/start_rpc_server.sh
[sudo] password for xilinx:
INFO:RPCServer:bind to 0.0.0.0:9091
INFO:RPCServer:connection from ('192.168.2.1', 55278)
INFO:RPCServer:Finish serving ('192.168.2.1', 55278)
INFO:RPCServer:connection from ('192.168.2.1', 55285)
INFO:root:Loading VTA library: /home/xilinx/tvm/vta/python/vta/../../../build/libvta.s

[2019-07-16 12:36] LilAiTT opened #3548 "How can I get the Intermediate results using debug_get_output(All the Intermediate results are wrong except the final result)?"
I load the model from onnx and use debug_get_output(nodename, out) from debug_runtime trying to get the Intermediate results. But all the Intermediate results are wrong except the final results.  Here is my part of codes(Not complete for pithy).
`from tvm.contrib.debugger import debug_runtime as graph_runtime`

`m.run()`

`inA = np.array([])`
`outT = []`

`for nodename in nodenames:`

     `outT.a

[2019-07-16 12:56] crazyhank opened #3549 "How to add new hardware backend to TVM"
TVM now supports X86, Nvidia GPU, ARM, I wonder how can I add a new hardware backend, for example an asic AI chip to TVM stack, is there some general guide?

[2019-07-16 13:27] Ravenwater commented on #3549
@crazyhank  the discussion group has one discussion:
https://discuss.tvm.ai/t/tensor-expression-add-hardware-specific-schedule/1893

Anyone working on a RISC-V port?

[2019-07-16 17:04] tqchen commented on #3549
Please move discussions to the discuss forum

[2019-07-16 17:04] #3549 closed

[2019-07-16 17:05] tqchen commented on #3548
Please open a new thread on discuss.tvm.ai

[2019-07-16 17:05] #3548 closed

[2019-07-16 17:35] tqchen commented on #3545
please open a new thread on https://discuss.tvm.ai/

[2019-07-16 17:35] #3545 closed

[2019-07-16 17:36] tqchen commented on #3547
This is a case that was overlooked in the new infra, we can send a patch to add it back

[2019-07-17 02:32] apivovarov opened #3557 "Autotvm skips depthwise_conv2d_nchw workloads for llvm x86_64"
Details: https://discuss.tvm.ai/t/autotvm-skips-depthwise-conv2d-nchw-workloads-for-llvm-x86-64/3353/1

Problematic PR: https://github.com/dmlc/tvm/pull/3264

[2019-07-17 04:59] tqchen commented on #3557
Let us keep the discussion in the discuss forum, once we have an actionable item, we can have an issue tracker to track it

[2019-07-17 04:59] #3557 closed

[2019-07-17 09:24] zacario-li opened #3562 "[TOPI][C++]conv2d_nchw mistake?"
Hi,
    file: topi/include/topi/nn.h
    conv2d_nchw()
    `T(b, i, stride_h * h + kh, stride_w * w + kw) * W(i, o, kh, kw)`
    I think `W(i, o, kh, kw)` should be `W(o, i, kh, kw)`, am I right?

@ashokei

[2019-07-17 10:33] Howave opened #3563 "[frontend] tensorflow depthwise convolution batch mode issue"
when I converted tensorflow model to nnvm graph, below errors occured:

Traceback (most recent call last):
  File "from_tensorflow.py", line 125, in <module>
    sym, params = nnvm.frontend.from_tensorflow(graph_def, layout=target_layout)
  File "/home/hower/work/ulsee/tvm/nnvm/python/nnvm/frontend/tensorflow.py", line 1563, in from_tensorflow
    sym, params = g.from_tensorflow(graph, layout, sha

[2019-07-17 11:36] arangrej commented on #3428
@FrozenGene I am also facing the same issue on LeNet Mnist model. Please find attached zip containing a .pb file.

[mnist_lenet_bn_1.zip](https://github.com/dmlc/tvm/files/3401649/mnist_lenet_bn_1.zip)

[2019-07-17 13:02] FrozenGene commented on #3428
@arangrej, thanks for your sharing. I will take a look.

[2019-07-17 14:47] chuck-pilkington opened #3564 "Minor glitch in compiler.cc when compiling with USE_RELAY_DEBUG"
@icemelon9 :

In tvm/src/relay/backend/vm/compiler.cc, I had to change vm.functions to vm_->functions to get the Compile function to compile:

[code]

[2019-07-17 20:17] #3564 closed

[2019-07-17 21:23] kparzysz-quic commented on #2623
What is the planned release date for 0.6?

[2019-07-17 23:15] slyubomirsky commented on #3480
#3515 has been merged, meaning there is now documentation for how to use the pass infrastructure. Thank you very much for your help, to everyone who contributed.

A remaining step is to update the instructions for writing a pass to include the pass manager (only the last section needs to change and it should reference the other pass manager doc): https://docs.tvm.ai/dev/relay_add_pass.html I will

[2019-07-17 23:54] tqchen commented on #3562
This seems to be indeed a mistake. @zacario-li can you send in a patch?

[2019-07-17 23:55] tqchen commented on #3240
it depends on the type. If it is TensorSlice that has 0-rank, we could always return Expr.

[2019-07-18 00:15] #3072 closed

[2019-07-18 02:43] FrozenGene commented on #3428
I can not download this zip. Could you upload this file again?

[2019-07-18 04:57] FrozenGene commented on #3428
My network issue. I could download it now.

[2019-07-18 07:08] FrozenGene commented on #3428
@arangrej I think you are using TF version >= 1.14, right? This parameter is introduced since 1.14. I will fix this. This parameter can not be ignored simply.

[2019-07-18 07:19] FrozenGene commented on #3428
@srkreddy1238 @tqchen Need information of our CI tensorflow. Which version of tensorflow in our CI? 1.13 , 1.14 or 2.0?

[2019-07-18 07:31] arangrej commented on #3428
@FrozenGene Right. I am using TF 1.14.0

[2019-07-18 07:32] FrozenGene commented on #3428
If our CI tensorflow is not 1.14, I think we should have one separate PR to upgrade to Tensorflow 1.14. As https://github.com/dmlc/tvm/pull/3427 described, TFLite's related things should be also changed. However, I am not familiar with docker, could someone help to handle this? CC: @apivovarov

[2019-07-18 07:46] FrozenGene commented on #3428
One quick workaround for your model, using TF 1.13.1. Because your model's explict_padding is [] in fact.

[2019-07-18 08:50] loiccordone commented on #3544
I second this, maybe you can provide us insights in the docs on how to develop operators for the ONNX and other frontends?
I'm encountering difficulties with inputs, attr, the calls to _op.X and AttrCvt, etc. while trying to implement ConstantOfShape, LSTM, and Tile.

Thanks ! @zhiics

[2019-07-18 10:58] zhyj3038 opened #3573 "android demo is so obscure"
I have nerver met a android demo so obscure as TVM's android_deploy and android_rpc.

They hide many details such as run shell script and download models, which will a clear step if they appear in the README.md.  And the way it  load a *.so is so strange for a ML engineer.

If changes above is a good idear, I woud like update my code to the project.

[2019-07-18 12:09] #3573 closed

[2019-07-18 16:24] yongwww opened #3575 "CI hangs"
Seems CI run hangs @tqchen @wweic

[2019-07-18 16:49] yongwww commented on #3414
@YPBlib I am working on adding the op, welcome to contribute.

[2019-07-18 17:00] yongwww commented on #3563
@Howave Not sure if relay tf frontend has the same issue, could you please share us a test case?

[2019-07-18 17:10] tqchen commented on #3575
I am killing some of that and see if we can keep the balls rolling. There are a bit backlog

[2019-07-18 18:43] SerenaC94 opened #3576 "AttributeError: module tvm.relay._make has no attribute Any"
Hi,
I updated TVM with a `git pull`, and now any program that uses Relay returns the following error:

[code]

It's been some days and I found nobody else reporting this on the discussion forum, so could it be my fault? Did I miss some change in the way Relay is imported in python?

[2019-07-18 18:59] wweic commented on #3576
Hi @SerenaC94, we usually use https://discuss.tvm.ai/ for questions. Also please provide the code you use to produce such error.

[2019-07-18 19:14] SerenaC94 commented on #3576
I am aware of that, but I wrote the same thing there last week and there was no answer

That was the error when writing
`from tvm import relay`
in a python3 prompt

[2019-07-18 19:31] #3576 closed

[2019-07-18 19:37] tqchen commented on #3576
Would be great if you can update on the discuss thread. The reason that you get the errror was likely due to you did not rebuild the libtvm.so

[2019-07-18 19:42] SerenaC94 commented on #3576
Ok, thanks. That is probably the issue, I will update the discussion thread if anything else comes up.

[2019-07-18 20:43] gussmith23 opened #3579 "[Relay] Possible bug in multi-target code"
https://github.com/dmlc/tvm/blob/e686da79198f7a25f7ca13ed125c8e90d6886e32/src/relay/backend/build_module.cc#L315-L322

I think the `==` here should be a `!=`. I don't have a broken test case or anything; I just ran into this code today and other Relay developers said it looks like a bug. If it's not a bug, perhaps add a comment as to what's going on?

cc @zhiics @antinucleon

[2019-07-18 21:13] anijain2305 opened #3581 "Bug in Average Pool2D topi implementation for Integer inputs"
[code]
The above gives output 4 instead of 5.

Setting the golden_data to (1, 1, 1, 1) gives output 0.

I think we are dividing before accumulating. Since, we have only tested on Float32, this never showed up before. But, in int32, it performs int division.

[2019-07-18 21:19] zhiics commented on #3579
I think it should be `==`. It means that we only do target dependent optimization (e.g. layout alteration) for homogeneous execution. I guess the reason why we have the for loop here is because we cannot get the first element directly?

[2019-07-18 22:06] #3547 closed

[2019-07-18 22:20] tqchen commented on #3581
We want to update this the compute to move the division after the accumulation. @anijain2305 can you look into that?

[2019-07-18 22:20] #3575 closed

[2019-07-18 22:26] tqchen commented on #2351
The discussion in this thread has get quite long and given that we are converging. I recommend we close this thread, and open a new RFC thread "QNN Dialect". With latest proposals of the APIs that @anijain2305 @shoubhik is putting together.

This way we keep the community informed and we can move forward with these implementations. I hope we can get +1 representation from different groups who are

[2019-07-18 22:33] tqchen commented on #2351
@anijain2305 can you lead the proposal discussion?

[2019-07-18 22:35] tqchen commented on #2623
There has been quite a lot of improvements recently. While it is up to the community, I think we might be able to get out something around Sep

[2019-07-18 23:04] anijain2305 commented on #2351
I agree, we should move the proposal to a new thread.
Yes, I can lead the proposal discussion.

[2019-07-19 01:34] #3562 closed

[2019-07-19 01:50] MarisaKirisame opened #3584 "[Relay] todo in text format"
0: pattern matching/adt/fatal/ref for both pretty printing/parser
1: doc.h do not have a layout engine - right now it will emit the same string regardless of screen width/remaining space
2: indentation is off - nested let look incredibly broken
3: every tree - style program will still make a graph var for everything, so it is impossible to display code that resemble sml
4: src/error.cc often do no

[2019-07-19 02:48] FrozenGene commented on #3581
QAveragePool should be rewritten. And  if we want to keep compatibility with TFLite, we should make the accumulation type be "Uint16", not "int32" here. I know it is very strange, but we meet the correctness problem when we parse TFLite model. We find TFLite's opt implementation is "UINT16", but the non-opt (reference) implementation is "int32". However, the default behavior of TFLite is opt.  I w

[2019-07-19 03:39] srkreddy1238 commented on #3563
@Howave Can you check with #3514 ?

[2019-07-19 04:01] tqchen commented on #3581
@FrozenGene for avg_pool, we can just use composed op to solve the problem.

[code]

[2019-07-19 05:23] zacario-li commented on #3544
Same situation with you. I'm trying to implement ConstantOfShape

[2019-07-19 12:14] giuseros opened #3586 "topi.mali.conv2d + autotvm issues"
Hi all,
I tried to use the forum, but I received no answers, so I thought to give a shot here.

I am going through the process of learning tvm, and what I want to do now is use a topi convolution (for Mali) and optimize it through the tuner.

This is the code that I am using:

[code]

But I am receiving the following error:
[code]

Is there a problem in how the configuration gets built?

Thanks fo

[2019-07-19 13:00] giuseros commented on #3586
Some update on this: If I remove the @autotvm.template before the topi_conv function and pass a template_key='direct' when I create the task, it works.

The problem is that now, when I build the function, I receive the message:

`Cannot find config for target=opencl -device=mali, workload=('conv2d', (1, 1024, 1024, 3, 'float32'), (3, 3, 3, 4, 'float32'), (1, 1), 'SAME', (1, 1), 'NCHW', 0). A fallb

[2019-07-19 13:14] vinx13 commented on #3586
You can use pre-registered tuning task in `topi_integration.py`:
[code]

[2019-07-19 14:02] giuseros commented on #3586
Hello @vinx13 ,
Thanks (a lot) for your reply. In this way, once it has been trained, how can I build the function?

Basically, in my previous example I used to do this:

[code]
What do I put instead of "s, args_buf = topi_conv"?

Thanks,
Giuseppe

[2019-07-19 14:05] giuseros commented on #3586
And I am also receiving an error:
[code]
This is the code that I am running:
[code]
Thanks again for any help,
Giuseppe

[2019-07-19 14:19] giuseros commented on #3586
Ok, the error has been sorted by calling autotvm.task.topi_integration.serialize_args, before passing the args to the task:
[code]

I am left with the question about how to build the function.

Thanks again,
Giuseppe

[2019-07-19 14:26] vinx13 commented on #3586
After you obtain tuning log, you can load your log with `apply_history_best` and build the func using your first snippet (invoke topi compute and schedule)

Let's move discussion to the forum.

[2019-07-19 14:26] #3586 closed

[2019-07-19 14:36] giuseros commented on #3586
Sure, it is here: https://discuss.tvm.ai/t/topi-convolution/3405

[2019-07-19 17:52] u99127 commented on #3154
Some thoughts as I read through this thread. A big +1 for doing a joined up performance nightly testing on what we care about and figuring out ways of doing this.

Another alternative to visualizing performance and something I've used in the teams I've worked in on  other projects has been lnt. 2 interesting links below for performance monitoring. LNT is also interesting from the point of view tha

[2019-07-19 17:56] tqchen commented on #3154
@ZihengJiang has volunteered to exploring a nightly pipeline infra that allows us to use jenkins to commits the new logs and we can figure out viz using javascript(perhaps something like vega-lite) and github pages.

I think we should separate the concern of logging and viz. i.e. to make it easy for anyone to create log of their interest in an unified format, and then have modular viz to visualize

[2019-07-19 18:00] u99127 commented on #3154
Sounds good - thanks a lot for that update @tqchen - Agreed that we should separate out logging to visualization as I expect we will want to experiment with visualization techniques before getting to one that we like.

[2019-07-19 18:01] tqchen commented on #3154
Here is a possible pipeline that needs a Jenkins and github

- Pull the latest repo
- Run nightly CI, on dedicated resources(so there won't be interference)
- Provide API to log the metrics to files tvm.testing.log_data("category", "accuracy", value)
- Use jenkins mechanism to push the generated log file to a github repo, website branch
- The viz will get automatically update on the github pages w

[2019-07-19 20:35] anijain2305 commented on #3581
Yes, I will take a look next week.
I quickly tried to call topi::divide after tvm::sum. Threw me an error that the Reduction axis can only at level 0 and suggested to create a new Tensor.
@yzhliu suggested to call nested tvm::compute. I am not sure if having nested compute affects existing schedules. So, it might be little longer task, given what happens. Will try nested compute first.

[2019-07-19 23:36] tqchen commented on #2351
@anijain2305 can you open the RFC thread? Sorry for being a bit formal in this case, we want to set an example for the first dialect public discussions.

[2019-07-19 23:56] anijain2305 opened #3591 "[QNN] [RFC] QNN Dialect -- Prequantize Models"
We are proposing a new dialect named `QNN`, that introduces a quantized version of existing relay operators. The goal is to support the models that have been pre-quantized in the framework.

Some important notes about QNN dialect are
* QNN operators are lowered to existing Relay operators to ensure that we can reuse Relay infrastructure.
* Code resides in new directory. Python files are in `python

[2019-07-19 23:57] anijain2305 commented on #2351
@tqchen Thanks for reminding. Just created one :)

[2019-07-20 00:26] tqchen commented on #3591
also cc @ajtulloch @ZihengJiang @vinx13 , @anijain2305 can you please list the API proposals and the reference APIs(in tflite etcs?) Then we can try to get everyone's thoughts on these specific API designs

[2019-07-20 00:27] tqchen commented on #2351
Let us move to https://github.com/dmlc/tvm/issues/3591

[2019-07-20 00:27] #2351 closed

[2019-07-20 00:33] anijain2305 commented on #3591
Let's start with just Requantize to keep it focussed

### QNN proposal
[code]

### TF Requantize

[code]

* The min/max in TF are represented by scale and zero_point in QNN
* `rounding` in QNN proposal is to give a choice between standard rounding (away_from_zero) and round_towards_zero, presenting a performance-accuracy knob.

[2019-07-20 01:57] FrozenGene commented on #3581
@anijain2305 Write two isolated tvm::compute could solve this issue. I also met this problem. I write one topi::nn::q_pool implementation

[2019-07-21 13:02] cchung100m commented on #3243
Hi @advancedlogic , @tqchen

I also encounter this same error when I build gotvm package. I would appreciate if you can share suggestions/solutions, thank you.

The error message:
[code]

My golang version & environment:
[code]

[2019-07-21 13:57] Shawhey commented on #3414
@yongwww

I tried to add batch_mamtul op, I edited the files below:
python/tvm/relay/frontend/tensorflow.py,
include/tvm/relay/attrs/nn.h,
python/tvm/relay/op/nn/_nn.py,
python/tvm/relay/op/nn/nn.py,
python/tvm/relay/op/op_attrs.py,
src/relay/op/nn/nn.cc,
topi/include/topi/nn/batch_matmul.h,
topi/python/topi/generic/nn.py,
topi/python/topi/nn/batch_matmul.py,
topi/src/topi.cc

Then I built the pro

[2019-07-22 06:46] Shawhey commented on #3414
I think I got it rigth finally, maybe I'll this or next week.

[2019-07-22 19:57] zhiics opened #3594 "[RFC][relay][vm] Relay virtual machine serialization"
# VM Serialization

Serializing and deserializing the bytecode emitted by the Relay VM is a must as we may want to save the model and run it later. Previously, Relay has produced a serialized form in a json file for the graph runtime to reuse the runtime and keep backward compatibility to NNVM. However, the same format is not directly applicable to the VM as it emits bytecode instead of graph-styl

[2019-07-22 22:33] icemelon9 commented on #3594
One question I have is whether we should put `length` of *all fields* in the beginning, or just put the `length` of *one array field* `val*` immediately before this field. It's possible that we may have an instruction with more than one field that are arrays in the future. However, the current design is not able to support this case.

[2019-07-22 22:42] MarisaKirisame commented on #3594
I imagine not all opcode has variable length. Is there a need for the length field? Can we just has a optional variable_length field that just store length of all of the variable length field?

[2019-07-22 23:06] zhiics commented on #3594
@icemelon9 Yeah, thanks. Putting the `length` before the filed with variable length seems reasonable.

[2019-07-22 23:08] zhiics commented on #3594
@MarisaKirisame I think we need it to make deserialization easier. Otherwise, we may need many checks.

[2019-07-22 23:43] zhiics commented on #3594
@icemelon9 we probably don't need to have the length for each field with variable length because we should be able to derive it based on the fixed fields? It means we usually put the length of it as a field of an instruction, right?

[2019-07-22 23:54] icemelon9 commented on #3594
@zhiics I mean if there are two fields with variable length, though not very likely, what do you plan to support? Also do we expect every fields have same data type? Another point Marisa is making that we don't need to put `length` for every instructions since many have fixed length.

[2019-07-22 23:59] zhiics commented on #3594
@icemelon9 The length is mainly for sanity check before we decode the instructions. We could remove it. There could be multiple fields with variable length. I thought we should always have a field in the fixed field to indicate the length of the variable one, is this right?

For example, https://github.com/dmlc/tvm/blob/master/src/runtime/vm/vm.cc#L272