[2022-06-29 07:54] #11799 closed

[2022-06-29 08:25] masahi opened #11941 "[Flaky Test] test_ethosu/test_networks.py::test_networks_with_usmp_and_cascader_with_striping"
Saw it twice today:
https://ci.tlcpack.ai/blue/rest/organizations/jenkins/pipelines/tvm/branches/PR-11935/runs/7/nodes/358/steps/973/log/?start=0
https://ci.tlcpack.ai/blue/rest/organizations/jenkins/pipelines/tvm/branches/PR-11926/runs/3/nodes/358/steps/946/log/?start=0

cc @manupa-arm @d-smirnov

[2022-06-29 08:53] manupa-arm commented on #11941
I ll take a look!

[2022-06-29 11:26] #11941 closed

[2022-06-29 18:51] lochuynh1412 opened #11948 "[Bug] Failed to run python setup script"
Failed to run the setup script to install python libs to python environment

### Expected behavior

Successfully run "python setup.py install" after building tvm

### Actual behavior
python setup.py install
...
error: can't copy '../configs': doesn't exist or not a regular file

What actually happened

### Environment

Ubuntu 20.04 container, python 3.8.10

### Steps to reproduce
1) Build TVM
2) c

[2022-06-29 22:45] mehrdadh opened #11952 "[Bug] docker/bash.sh is hard-coding mount directory to /workspace in CI"
https://github.com/apache/tvm/blob/main/docker/bash.sh#L141

The reason behind this code is to keep the mounting pass the same between build and test stages in CI.

[2022-06-30 02:14] FeiFanMoKe opened #11956 "[Bug] run bundle_deploy error"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-06-30 02:15] mehrdadh opened #11957 "[Bug] tests/python/contrib/test_hexagon/test_softmax_slice.py fails on HDK board"
cc [gayatripk1](https://github.com/gayatripk1) without showing error.

[2022-06-30 07:51] yumianhuli2 opened #11962 "Xilinx Zynq Ultra MPSOC AXU4EV support"
Hello! Dear TVM Team!

Tvm-VTA supports Xilinx Zynq Ultra MPSOC AXU4EV?

If not, is there a documention of FPGA development board that supports customization?

Thanks!

[2022-06-30 08:54] masahi commented on #11962
Please use the forum.

[2022-06-30 08:54] #11962 closed

[2022-06-30 12:30] #9961 closed

[2022-06-30 13:14] manupa-arm commented on #9429
All PRs are merged.

[2022-06-30 13:24] gigiblender opened #11964 "[Flaky Test] `tests/python/frontend/onnx/test_forward.py::test_all_reduce_funcs[llvm]`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/frontend/onnx/test_forward.py::test_all_reduce_funcs[llvm]`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/main/3695/display/red

[2022-06-30 15:21] driazati opened #11967 "[Flaky Test] `tests/python/frontend/pytorch/test_forward.py::test_empty_like`"
Test `tests/python/frontend/pytorch/test_forward.py::test_empty_like` https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3713/tests is flaky and has failed intermittently on `main` (as discussed in #11896)

[code]

From the diff there doesn't appear to be an actual difference but we should disable anyways to not block while its figured out

cc @shingjan

[2022-06-30 16:01] alejandroarmas commented on #11451
@petuca @yuanfz98 Hello would this be a good first contribution to make? Thank you!

[2022-06-30 16:10] #11811 closed

[2022-06-30 16:10] #11918 closed, assigned to nobody

[2022-06-30 17:49] shingjan commented on #11967
@driazati It's possible that `empty` is flaky as well bcoz it shares a same implementation virtually with `empty_like`. I suspect this flakiness is introduced by `allclose` as those two tensors looks like the same but I wasn't able to get a repro locally.

[2022-06-30 18:22] altanh commented on #11967
`empty_like` ostensibly returns uninitialized memory so we really shouldn't test this numerically (https://pytorch.org/docs/stable/generated/torch.empty_like.html)

[2022-06-30 18:39] shingjan commented on #11967
@altanh What about we instead test if the outputs are of the same shape under the condition that `torch.empty_like` may return uninitialized memory in this case.

[2022-06-30 19:51] driazati commented on #11736
cherry pick: #11969
reason: needed to get tests on the Python wheel in GitHub Actions passing

[2022-06-30 21:33] areusch commented on #11186
cc @hpanda-naut

[2022-06-30 22:14] csullivan commented on #11957
cc @gayatripk1 @trahman-quic @arangasa

[2022-07-01 00:11] masahi commented on #11967
I agree that we should only verify the output shape.

[2022-07-01 13:25] arangasa commented on #11957
Thank you, @mehrdadh and @csullivan - Noted.

[2022-07-01 19:36] shingjan commented on #11967
#11890 is out to fix this.

[2022-07-01 22:24] #11967 closed

[2022-07-02 14:57] DongqiShen opened #11997 "[Bug] Mac m1 pro build fail."
I try to build tvm on my m1 pro but got failed. I think I followed the tutorial, but still got wrong. The output as follows:

-- The C compiler identification is AppleClang 13.1.6.13160021
-- The CXX compiler identification is Clang 14.0.5
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /Applications/Xcode.app/Contents/Developer/Toolchains/

[2022-07-03 01:06] ActionPace commented on #11948
Check this issue for a workaround/manual fix
https://github.com/apache/tvm/issues/11726

[2022-07-03 01:10] ActionPace commented on #11726
I made the above change to the tvm/python/setup.py script and finally I got a completed install
I am pasting my change since manually typing it in from the diff was a bit tricky for a relative novice like me.

`if include_libs:
    curr_path = os.path.dirname(os.path.abspath(os.path.expanduser(__file__)))
    LIB_DATA_FILES = []
    for i, path in enumerate(LIB_LIST):
        #LIB_LIST[i] = os.pat

[2022-07-03 01:23] masahi commented on #11997
This doesn't look like a TVM-specific problem. Many people are using TVM on M1 without any issues. Please make sure you can use cmake to compile a normal C++ program.

[2022-07-03 01:23] #11997 closed

[2022-07-04 05:03] lazycal opened #12001 "[Bug][TE Schedule] Unsupported nested parallel created by Softmax TE schedule"
I got this error ``Check failed: (!parallel_env_.in_parallel_loop) is false: Nested parallel loop is not supported by threadpool, try fuse them instead`` when compiling this model:
![image](https://user-images.githubusercontent.com/7333325/177083292-c22c18fa-2f42-4b36-8283-f956e9150989.png)

I do see nesting parallel in the produced IR:
[code]

The double "parallel"s seems to be introduced by
http

[2022-07-04 08:36] petuca commented on #11451
Hi,

This issue is already solved in PR #11729.

@alejandroarmas

[2022-07-04 08:45] gigiblender opened #12004 "[Flaky Test] `tests/python/frontend/tensorflow/test_forward.py::test_forward_rint`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/frontend/tensorflow/test_forward.py::test_forward_rint`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/main/3710/display/redirec

[2022-07-04 09:10] gigiblender commented on #11462
27/06/2022
[jenkins](https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3668/pipeline) on 1115fd9bc261619ffa0539746ae0aebc46232dc6 [aborted due to CI disk space issue](https://github.com/apache/tvm/issues/11840)

28/06/2022
[jenkins](https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3690/pipeline) on 6c8a3530998d46182fe0887a24739d21961a056d https://github.com/apache/tv

[2022-07-04 16:45] leandron commented on #11726
This is a duplicated issue with #11186. As you got a potential fix, I'll close #11186 in favour of this one.

[2022-07-04 16:45] leandron commented on #11186
Closing as duplicated with #11726

[2022-07-04 16:45] #11186 closed

[2022-07-05 01:53] lazycal opened #12008 "Resize does not reject unsupported layout during AlterOpLayout"
This model
[code]
fails with error `ValueError: NCWH layout is not supported.`, and this layout is introduced after AlterOpLayout (see below for the IR right after AlterOpLayout):
[code]
where the max_pool2d outputs NCWH layout and resize2d accepts it during AlterOpLayout but complains when lowering in this function:
https://github.com/apache/tvm/blob/5efe8b0bfdff4c9939185a7581dc77e23cbcb6d5/pytho

[2022-07-05 12:14] Sunny-Island opened #12009 "[Bug] xgboost version conflict"
There are some changes in xgboost `callbacks` since xgboost 1.6.0. Some class and fucntion have been removed: https://github.com/dmlc/xgboost/pull/7280
TVM still uses xgboost old callback function which has been deprecated since xgboost 1.3.0, which require 1.1.0< xgboost < 1.6.0. This should be decleared in install doc and setup.py. If users install latest xgboost, they will get an error: https:/

[2022-07-05 21:47] shingjan opened #12012 "[Flaky Test] `tests/python/frontend/pytorch/test_forward.py::test_argsort`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/frontend/pytorch/test_forward.py::test_argsort`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/PR-11994/1/display/redirect

[2022-07-06 17:10] huajsj opened #12020 "[Bug] Enable USE_DNNL cause Sphix crash when processing from_oneflow.py and from_paddle.py for documents"
### Expected behavior

What you were expecting
Set USE_DNNL ON or OFF should not impact document processing

### Actual behavior

What actually happened

Set USE_DNNL ON then run "docker/bash.sh --env CI --env TVM_SHARD_INDEX --env TVM_NUM_SHARDS --env RUN_DISPLAY_URL --env PLATFORM tlcpack/ci-gpu:20220630-060117-558ba99c7 ./tests/scripts/task_python_docs.sh"
will see the crash happen in procesing

[2022-07-06 17:13] zxybazh opened #12021 "[Flaky Test] `tests/python/frontend/tflite/test_forward.py::test_all_unary_elemwise`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/frontend/tflite/test_forward.py::test_all_unary_elemwise`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/PR-12014/3/display/redi

[2022-07-06 17:15] huajsj commented on #12020
@driazati

[2022-07-06 17:51] areusch opened #12022 "[Bug] cpp_deploy demo cannot find PackedFunc"
See https://discuss.tvm.apache.org/t/discuss-cpp-deploy-did-not-work-in-system-module-mode/12066/4

We should address this before releasing 0.9.

[2022-07-06 17:52] areusch commented on #11736
we should try and fix https://github.com/apache/tvm/issues/12022 before we release as well, i think

[2022-07-07 06:38] #11827 closed

[2022-07-07 08:51] blackkker commented on #11414
Update my issue from #11703 to #12028

[2022-07-07 13:40] fPecc commented on #11558
So, this did not solved the problem, it only allowed me to continue with the usage of the model, but the problem still appears when setting link-params to True.

[2022-07-07 18:03] guberti opened #12033 "[Bug] [microTVM] BYOC hardware test fails when used with Arduino"
Currently, the test `tests/micro/arduino/test_arduino_rpc_server.py::test_byoc_microtvm` fails. We have a similar test for Zephyr which runs fine, so the issue appears to be Arduino-specific. Below is a log of the test failure - it seems like `ndarray.h` got moved or something.
[code]

cc @alanmacd @gromero @mehrdadh

[2022-07-07 18:05] guberti commented on #12033
Kudos to @mehrdadh for first spotting this.

[2022-07-08 05:05] junrushao1994 commented on #12009
CC: @zxybazh

[2022-07-08 05:13] zxybazh commented on #12009
Thanks for reporting this issue, I can confirm the old style callback function is currently used in TVM AutoScheduler and MetaSchedule. There are several steps to take:

[2022-07-08 05:41] Sunny-Island commented on #12009
Thanks for your reply. I'll be appreciated if I can contribute to TVM. You really give me a detailed steps.
And I will work on TVM in the next few days, so Hi everyone in TVM community!

[2022-07-09 16:51] alejandroarmas commented on #7504
Hi @tqchen I've been looking at a few of the TVM talks this past week and I think TVM is an interesting project. I'm working with an M1 chip, so do you think this is a good first PR to tackle? Thanks and hope to hear from you soon.

[2022-07-10 13:49] lindylin1817 opened #12049 "[Bug] Build error with the current TVM main version"
I checked out the latest TVM main version today from github, and built it in my ubuntu environment. Here is the error I met. Thanks for any help!

[code]

[2022-07-10 21:50] alanmacd commented on #11414
Has anyone found a way to address the **redefined-outer-name** warning when **tvm.testing.parameters** is used? For example see [test_crt.py::test_aot_executor_usmp_const_pool](https://github.com/apache/tvm/blob/00ce86d68b123f3389b0fca1eca72e81f6054443/tests/python/unittest/test_crt.py#L232)

[code]

[2022-07-11 04:56] Sunny-Island commented on #12009
The first PR related to task 1:  Publish an XGBoost version notice in doc & set up tutorial.
https://github.com/apache/tvm/pull/12050
@zxybazh

[2022-07-11 05:50] zxybazh commented on #12009
Thanks for submitting the first PR! I just send a couple comments, let me know if you have any questions!

[2022-07-11 08:31] Sunny-Island commented on #12009
I am working on upgrading the callback function in AutoScheduler XGBoost Cost Model. I noticed some codes are related with crossfold(cv), but I'm not clear when will the crossfold function be called? When the env.cvfolds will become true?
In latest xgboost code, it seems that crossfold is a dependent function. And deprecated `train` method will set `cvfold=None`.
https://github.com/dmlc/xgboost/bl

[2022-07-11 11:02] cVladu opened #12052 "[Bug] relay.frontend.from_keras does not convert a Keras module with unkown sequence length (None) correctly"
I built a Keras LSTM network with undefined sequence length and tried to convert it using `relay.frontend.from_keras` with a given shape
### Expected behavior

The network is converted

### Actual behavior

`Check failed: oshape_sum == data_shape_sum (30 vs. 4500) : Input tensor shape(1,30) and reshaped shape(150,30) are not compatible!` raised by `relay.transform.InferType`

### Environment

Oper

[2022-07-11 12:41] Mousius commented on #11414
@alanmacd I don't think there's any good solution found yet 😞 I went with replacing them in the tests I fixed up (actually the same `enable_usmp` parameter 😸 ) to save my pylint exclusions for other things:

https://github.com/apache/tvm/pull/11657/files#diff-02f266539dcadf3d83ef783e83c089ffb87f87061bb68d21b5795f36f92361b4R117-R118

[2022-07-11 14:27] everton1984 commented on #12049
@lindylin1817 Could you please specify a bit more of the context? Which CPU, toolchain? It's working for me here.

[2022-07-11 17:58] everton1984 commented on #11794
@ganler Sorry if I understood improperly but the situation here seems to be that the broadcast operation is mismatching, if you want it to output a `int64` tensor shouldn't you use something more like `broadcast_to = relay.broadcast_to(relay.cast(x, dtype="int64"), relay.const(broadcast_shape))`?

[2022-07-11 18:10] ganler commented on #11794
The example here is not doing integer casting. If we directly use relay, we can of course mark the broadcasting shape as 'int32'. However, external model formats like onnx often bring such 'int64' things (it is not strongly supported but still valid in the relay language) into the relay frontend which fails compilation.

[2022-07-11 19:04] areusch opened #12060 "[Bug] AOTExecutor (in CRT and C++) should error with good message when not compiled with correct interface-api and unpacked-api"
See https://discuss.tvm.apache.org/t/aot-problem-in-microtvm-utvm-host-driven-application/13100

### Expected behavior

Should error with a more informative assert.

### Actual behavior

CRT AOTExecutor used invalid metadata.

[2022-07-11 19:09] mbs-octoml commented on #12033
My bad, I think the fix is https://github.com/apache/tvm/pull/12061. A unit test would be nice.

[2022-07-11 19:32] everton1984 commented on #11794
@ganler Thanks for answering, I'm investigating a possible fix but just to be clear on what is expected here then is that `broadcast_to` should just ignore the data type used to determine the shape right? From a quick test this seems to be what Numpy does.

[2022-07-11 20:28] areusch opened #12062 "[Flaky Test] `tests/python/frontend/onnx/test_forward.py::test_qlinearadd[cuda]`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/frontend/onnx/test_forward.py::test_qlinearadd[cuda]`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/main/3762/display/redirect

[2022-07-11 20:31] #11764 closed

[2022-07-11 20:33] areusch commented on #11462
- [[jenkins](https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3753/pipeline/)](https://ci.tlcpack.ai/blue/organizations/[jenkins](https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3755/pipeline)/tvm/detail/main/3753/pipeline/) on cfe8318 - failed to docker pull from DockerHub
- [[jenkins](https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3762/pipeline)

[2022-07-11 21:17] gromero commented on #11900
Since #12053 is merged I'm closing it.

[2022-07-11 21:17] #11900 closed

[2022-07-11 21:43] areusch commented on #12020
@huajsj just curious why you needed USE_DNNL ON in your tutorial? is that closer to the use case for pipeline executor, or is it possible to demonstrate pipeline executor with just two `llvm` graphs?

[2022-07-11 23:46] alanmacd commented on #11414
@Mousius

Thanks, that works! It was slightly more complicated, but I think I figured it out. 😄
`@pytest.mark.parametrize("enable_usmp,expect_exception", [(True, True), (False, False)])`

[2022-07-12 01:38] masahi commented on #12049
https://github.com/apache/tvm/pull/12054

[2022-07-12 01:38] #12049 closed

[2022-07-12 03:10] sunggg commented on #11462
07/11/2022: No CI failure

[2022-07-12 12:07] Uhao-P opened #12065 "[Bug] The source code installation of version 0.9.0 failed"
### Expected behavior

Successful installation

### Actual behavior

Error following the documentation to get this far
`cd python; python setup.py install --user; cd ..`

Check setup.py and find that the following code causes an error
[code]

### Environment

ubuntu18.04
tvm==0.9.0

[2022-07-12 15:05] quic-sanirudh commented on #11414
Would it make sense to create multiple PRs with a few files fixed in each PR?

I'm working on the hexagon tests and a number of them are being regularly updated, so I think it might be easier to do them in parts.

[2022-07-12 18:42] driazati opened #12075 "Allow `ci.py` to replicate CI env"
By setting `CI` some extra behavior is triggered in various scripts/places (e.g. #11974), we should have a flag to turn on this env locally. We should have a `--ci` flag that enables the `CI=true` env

[2022-07-12 21:27] driazati commented on #12065
Closing this as a duplicate of #12065, but we definitely do want to get this fixed before the v0.9.0 release so thanks for flagging it

[2022-07-12 21:27] #12065 closed

[2022-07-13 15:31] mbs-octoml opened #12081 "[Flaky Test] `tests/python/unittest/test_custom_datatypes.py::test_myfloat`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/unittest/test_custom_datatypes.py::test_myfloat`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/PR-12078/2/display/redirect

[2022-07-13 16:34] quic-sanirudh commented on #11414
Thanks for the reply @areusch. I've raised the patch for the first set of files in #12082

[2022-07-13 20:28] #12081 closed

[2022-07-13 22:45] huajsj commented on #12020
@areusch, thanks for the follow up, yes BYOC should be the use case for pipeline executor which target to bring different backend/hardware together to do a heterogenous parallel execution and get the performance improvement.

besides of dnnl, cutlass is another option of BYOC backend,  I am trying to see if i can bring up a cutlass example, if that still not work,definitely I will go to the two LL

[2022-07-14 09:29] ashutosh-arm opened #12089 "[CI Image] Updates to ci_cpu and ci_qemu to reflect CMSIS-NN SHA upgrade"
- [ ] S0. Reason: (https://github.com/apache/tvm/pull/12030)

- [ ] S1. Tag of nightly build: TAG. Docker hub: Don't see it corresponding to following commit in here: https://hub.docker.com/r/tlcpack/ci-cpu

- [ ] S2. The nightly is built on TVM commit: [5ad27ef](https://github.com/apache/tvm/commit/5ad27ef6506b5e50b82ee97f1a0a6aaa5fe0dbbf)

- [ ] S3. Testing the nightly image on ci-docker-staging

[2022-07-14 09:49] ashutosh-arm commented on #12089
@driazati I cannot see automatically generated docker image for this change in tlcpackaging on docker hub. I am assuming this has already been automated. Am I missing anything?

[2022-07-14 14:20] sunggg opened #12092 "[Flaky Test] `tests/python/unittest/test_custom_datatypes.py::test_myfloat`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/unittest/test_custom_datatypes.py::test_myfloat`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/main/3799/display/redirect

[2022-07-14 15:54] Mousius commented on #11736
@driazati / @areusch are we pushing the release schedule for #12022 ?

[2022-07-14 17:08] driazati commented on #12089
The CI build on 5ad27ef6506b5e50b82ee97f1a0a6aaa5fe0dbbf should have triggered a Docker image build but it looks like that code is broken, I'll put up a fix sometime soon. After that the tlcpackstaging images should be updated as soon as the build on `main` is done when `docker/*` changes are merged

[2022-07-14 17:09] driazati commented on #11736
Yeah, along with some other things but #12022 is the only remaining item

[2022-07-14 17:54] #11794 closed

[2022-07-14 19:20] driazati opened #12097 "[ci] Docker builds on `main` aren't triggering"
When there are changes to `docker/*` CI should rebuild the docker images on branch builds on main. However, these changes aren't being correctly detected, e.g. in https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3815/pipeline/5#step-32-log-7 it shows no Docker changes. There is a special path for builds on `main` that is not being hit since this part is saying the branch name is `H

[2022-07-14 19:24] areusch opened #12098 "[docs] Document the convention around reserving global names and specifying linkage in the IR"
Raised as part of https://github.com/apache/tvm-rfcs/pull/84, we should document the convention around indicating that GlobalVar and function names are reserved (and consider if this should extend to Var as well). From the community meeting, @tqchen indicates:

adding this to backlog to document

cc @Hzfengsy @hpanda-naut @junrushao @kparzysz-quic

[2022-07-14 19:35] masahi commented on #12092
A dup of https://github.com/apache/tvm/issues/11580

[2022-07-14 19:35] #12092 closed

[2022-07-14 20:08] tqchen commented on #12098
Just to clarify, the main rule is : if a function has attribute kGlobalSymbol, you cannot change the name or delete the function. GlobalVar do not imply a fixed name or linkage.

[2022-07-14 20:41] driazati commented on #12022
This is also broken even going back to `v0.8`, from what I can see the symbols are present in the binary but they're `GetSymbol_` isn't able to find them when the library is loaded in as a system module. There is probably some bug on the codegen side since there aren't even any symbols registered on the module when it's loaded.

Given it's been broken for so long and I can't find an easy fix I thi

[2022-07-14 22:30] driazati opened #12102 "TVM v0.9.0.rc0 Release Candidate Notes"
**Please leave any comments or edit this issue directly to adjust the release notes! Also see the rc0 vote thread in #12103**.

# Introduction

The TVM community has worked since the v0.8 release to deliver many exciting features and improvements. v0.9.0 is the first release on the new [quarterly release](https://github.com/apache/tvm-rfcs/blob/main/rfcs/0067-quarterly-releases.md) schedule and in

[2022-07-14 22:34] driazati opened #12103 "[VOTE] Release Apache TVM v0.9.0.rc0"
Dear TVM community,

This is a call for vote to release Apache TVM version v0.9.0.  This is a major release with many new features and improvements. All users of Apache TVM v0.8 are advised to upgrade. Please see #12102 for any edits you would like to see included in the release notes.

Link to release notes:
https://github.com/apache/tvm/releases/tag/v0.9.0.rc0

Link to release candidate:
https:/

[2022-07-14 23:05] guberti commented on #12033
Can confirm the issue is fixed.

[2022-07-14 23:05] #12033 closed

[2022-07-14 23:57] masahi commented on #12103
+1

[2022-07-15 03:07] alter-xp commented on #11688
hi @areusch, the nightly rebuild has passed. So next we need to push the image to tlcpack, right?

[2022-07-15 06:04] jroesch commented on #12103
+1

[2022-07-15 08:52] ashutosh-arm commented on #12089
Thanks @driazati for quickly looking into this.

[2022-07-15 18:08] driazati opened #12109 "[ci] CPU integration tests are bottleneck-ing CI"
The CI runtime has creeped up to around 2.5 hours from 1.8~ish. Looking at https://monitoring.tlcpack.ai/d/hB2FYR87k/build-status?orgId=1, this happened this week after #12030 merged. The second chart shows that the CPU integration steps are taking far longer than the others:

![image](https://user-images.githubusercontent.com/9407960/179284795-4090b5f9-1dec-408b-aa46-f8981f5193bd.png)

We should

[2022-07-15 18:12] driazati opened #12110 "[ci] Add retries for `docker pull`"
Failures like https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3812/pipeline happen from time to time, we should have a retry + backoff (wait 1 second, retry, wait 10 seconds, retry, wait 30 seconds, retry, give up if its still failing) when Jenkins does `docker pull`: https://github.com/apache/tvm/blob/d4365011f50dc3b7cd8163b5682df6fc745202d7/ci/jenkins/Prepare.groovy.j2#L79

cc @

[2022-07-18 03:33] huajsj commented on #12020
After using CUTLASS+BYOC in PR 11557, the crash issue gone, now this issue not the blocker of PR11557 anymore.

[2022-07-18 06:28] alter-xp commented on #11688
@driazati  It seems to be the problem of environment variables. let me solve it.

[2022-07-18 12:07] alter-xp commented on #11688
@driazati It is the conflict between Xuantie QEMU and Zephyr QEMU. I have solved it by modifying the script in CSI-NN2 (merged), and it will not involve the content in TVM code. It seems that we need to wait for nightly rebuild before continuing.

[2022-07-18 17:37] vinx13 commented on #12103
+1

[2022-07-18 18:09] areusch commented on #11414
ccing @Lunderberg for visibility on the pylint/parametrize issue

[2022-07-19 00:25] tqchen commented on #12103
+1 , I checked

Signatures and hashes good
LICENSE, NOTICE
Signatures and hashes
No unexpected binary files
Code compiles and import in python
-----------------------
One minor note, would be great if everyone who voted can also reply the items being checked, it is a good habit to have more pairs of eyes doing spot check on thngs. :)

TQ

[2022-07-19 06:21] billishyahao commented on #12020
Hi @huajsj , Do you observe the failure before merging the pr https://github.com/apache/tvm/pull/11638 ? Shall we rule out this one?

[2022-07-19 06:33] hgt312 opened #12126 "[Bug] Failed when using te.gradient for `roi_align`"
Meet this when updating tvm version

[code]

Seems that the only difference is `x/7` vs `x*(1/7)`, can this be solved by using simplify before equal?

@Lunderberg

[2022-07-19 06:46] hgt312 commented on #12126
I have tried to use `ProveEqual` instead of `ExprDeepEqual()` in `src/arith/int_set.cc`, it works

[2022-07-19 08:38] enjustli opened #12129 "[Bug] Missing span in Expr functor"
https://github.com/apache/tvm/blob/94d01d35650ff4cb73dfd5360f6f613f5dadc41c/python/tvm/relay/expr_functor.py#L239

Hi, I found that  in many places that `span` is lost when the variable is reconstructed. we use `span` to determine the position of expr in relay.

[2022-07-19 16:20] driazati opened #12133 "[RESULT][VOTE] Release Apache TVM v0.9.0.rc0"
Dear TVM community,

I'm glad to announce the results of the vote for the release of the v0.9.0.rc0 package. This vote passes with 6 +1 votes 4 binding), no 0 votes, and 0 -1 vote.

+1 votes

- Christopher Sidebottom
- Cody Yu (binding)
- Jared Roesch (binding)
- Masahiro Masuda (binding)
- Tianqi Chen (binding)
- Wuwei Lin

0 votes
- No votes

-1 votes
- No votes

Vote thread can be found [here](

[2022-07-19 16:20] driazati commented on #12102
Closing now that the vote thread has passed: #12133

[2022-07-19 16:20] #12102 closed, assigned to nobody

[2022-07-19 16:21] driazati commented on #12103
Thanks everyone! Following the schedule in #11736 the vote thread is closing today with the results in #12133.

[2022-07-19 16:21] #12103 closed

[2022-07-19 17:19] driazati commented on #11605
this is done now

[2022-07-19 17:19] #11605 closed

[2022-07-19 17:30] driazati commented on #11713
closing in favor of #12110

[2022-07-19 17:30] #11713 closed, assigned to nobody

[2022-07-19 18:25] driazati commented on #12103
This release and past releases have included the `rc0` in the top-level folder inside the source release tar. We've pushed a [new RC](https://dist.apache.org/repos/dist/dev/tvm/tvm-0.9.0-rc1/) with all the contents the same except the top level folder, which is named the same thing without the `rc0`. Since the contents are the same (you can verify by comparing the rc1 with rc0 by running `find . -

[2022-07-19 18:49] tkonolige opened #12135 "[Bug] Metaschedule nonexistent error message"
Using this test script:

[code]

gives the following message:

[code]

Its unclear what exactly the error is here.

@junrushao1994 @vinx13

cc @Hzfengsy @junrushao

[2022-07-19 18:56] areusch commented on #12103
+1 to this as well, i will leave the previously-approved rc0 in the release dir for posterity.

[2022-07-19 18:57] vinx13 commented on #12135
cc @zxybazh

[2022-07-19 19:18] driazati opened #12136 "[ci] Add retries to upload to S3"
Uploading artifacts sometimes fails, we should retry it up to 3 times with a short backoff. Example failure: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3840/pipeline/378

cc @Mousius @areusch

[2022-07-19 19:46] tkonolige opened #12139 "[Bug] Metaschedule flop estimation cannot handle non-integer loop dimensions"
Metaschedule does not handle non-integer loop extents. This problem is specific to metaschedule as auto_scheduler handles non-integer loop extents. This failure happens with extents that can be simplified to a constant (`4+4`) as well as with extents that are variable in size (`i+4`). I think the solution would be to use an `arith::Analyzer` as auto_schedule does. Or to just use auto_scheduler's f

[2022-07-19 23:35] shingjan commented on #12009
@Sunny-Island It looks like `cvfolds` is default to `None` when using the deprecated callback function in xgboost [here](https://github.com/dmlc/xgboost/blob/a09446d12b49b15b00dad944aa886091a6a76ec6/python-package/xgboost/training.py#L74).

[2022-07-20 00:07] driazati commented on #10832
this should be fixed since we updated the pruning script

[2022-07-20 00:07] #10832 closed

[2022-07-20 20:20] hsuanguo commented on #8577
What's the status of this issue? Is there any plan to support python 3.9?

[2022-07-21 17:16] yurivict opened #12153 "[Bug] Please allow to use externally installed dmlc-core"
We have the package for ```dmlc-core``` on FreeBSD and we would prefer to use this package instead of bundled ```dmlc-core```.

Could you please add a cmake variable that would allow to use external ```dmlc-core```?

Thank you,
Yuri

[2022-07-21 22:49] yurivict opened #12155 "[Bug] Test InterfaceAPI.ContainsRunFunctionWithWorkspaceAndConstantPools fails on FreeBSD"
[code]

Version: 0.9.0
FreeBSD 13.1

[2022-07-22 04:56] yurivict opened #12156 "[Docs] Clicking on chapters in User Tutorial doesn't do anything"
Clicking on large squares [here](https://tvm.apache.org/docs/tutorial/index.html) doesn't have any effect.

Firefox-102.0.1

[2022-07-22 05:32] yurivict opened #12158 "[Docs] The documentation section "Install from Source" doesn't describe how to run Python tests"
[here](https://tvm.apache.org/docs/install/from_source.html#install-from-source)

[2022-07-22 10:08] yincs-intellif opened #12161 "[Bug] IntImm Node signed integer indicates an error"
Current IntImm Node can't express negative number by hexadecimal.
Eg: x = tvm.tir.const(0xFFFFFFFF, "int32")
x.value should be -1 rather than 4294967295

Whether we need to consider this issue?

cc @Hzfengsy @junrushao

[2022-07-22 11:19] 18761692867 opened #12162 "[Bug] rfactor：use split&rfactor for same stage, will coredump in tvm 0.6"
I have a problem today, maybe is a bug in tvm 0.6, my english is poor, i will try my best to describe the problem clearly ^ ^

**the test py :**
[code]

**the error message:**
terminate called after throwing an instance of 'std::out_of_range'
  what():  _Map_base::at
Aborted (core dumped)

**the reason is:**
in rfactor function, we create .rf stage, this stage has origin stage's root_axis and rela

[2022-07-22 12:59] MoebiusMeow opened #12163 "[Bug] ConstantOfShape as shape input failed when using "freeze_params=False" option"
I simply used relay.frontend.from_onnx to import an ONNX model from PyTorch.
The code works fine when freeze_params is set to True (default).

When I was trying to separate weights from other constants, the same issue as #11783 occurred.

Here is the traceback:

[code]

onnx.py:2701:
[code]

The value "shape" in `infer_shape` is
[code]
And I got in_dims = `3` and new_dims = `?`

It seems that the

[2022-07-22 22:42] zxybazh commented on #12135
Hi thanks for reporting this issue, I think you may correct the PrimFunc by removing the root block definition and variable binding as follows:
[code]
As for the error here, I did a bit dig in and found it was triggered when `Autoinline` was applied to the root block, which would throw a `RootBlockError` because the primitive does not operate on the root block. Would like to confirm with @vinx13 i

[2022-07-23 03:22] huajsj commented on #8596
Hi @rebel-shshin , tutorial already there, https://github.com/apache/tvm/pull/11557.

[2022-07-23 03:26] huajsj commented on #8596
all the task done, thanks @comaniac and @masahi for the kindly review, thanks @rebel-shshin for the follow up, close this issue now.

[2022-07-23 03:26] #8596 closed

[2022-07-25 04:31] areusch commented on #11736
just to update this issue, we're nearly done cutting the release and will post the release announcement shortly. we had a hiccup with our schedule here.

[2022-07-25 04:32] areusch commented on #12022
cc @hpanda-naut can you triage this?

[2022-07-25 04:44] areusch commented on #12109
cc @hpanda-naut for triage

@mikepapadim would you like to take a look at this one?

[2022-07-25 04:49] areusch commented on #12020
@huajsj are you able to look at the question above?

[2022-07-25 04:54] areusch commented on #12136
cc @hpanda-naut

[2022-07-25 05:21] areusch commented on #8577
cc @hpanda-naut can you triage

[2022-07-25 05:22] areusch commented on #8577
@hsuanguo i'm not sure we've moved on this at the moment. @junrushao1994 @yelite do you know the story around hybrid script and synr?

[2022-07-25 05:35] areusch commented on #11688
@alter-xp we run these nightly, here's the [latest failure](https://ci.tlcpack.ai/blue/organizations/jenkins/docker-images-ci%2Fdocker-image-run-tests/detail/docker-image-run-tests/169/pipeline). resolving the ARM toolchain seems maybe-related to this...what if instead of trying to fix the two together, we just create ci_riscv now? if you create Dockerfile.ci_riscv, i can help with getting that on

[2022-07-25 06:04] alter-xp commented on #11688
thanks @areusch, i will create Dockerfile.ci_riscv. and should we need to create a RFC about this?

[2022-07-25 07:35] zgplvyou commented on #7986
Hi, I`m also relay from onnx dlrm model, in this file(onnx.py), the implementation of embedding_bag use a reshape op(        indices = _op.reshape(indices, indices_shape)), however, if the indices_shape is [3, -1],  the size of indices is [13, ], the indices can not be reshape to the size[3, ?],how to do it!

[2022-07-25 16:41] areusch commented on #12136
@gigiblender want to take a look at this one?

[2022-07-25 17:17] areusch opened #12177 "parameterize test cases in tests/python/frontend/coreml/test_forward.py"
there are a few different test cases here that can be parameterized via tvm.testing.parameter.

at least these, please check the rest of the file too:

test_forward_add_layer_params
test_forward_multiply_layer_params
test_forward_concat_layer_params

[2022-07-25 18:03] areusch commented on #11932
@gigiblender

[2022-07-25 19:11] mehrdadh opened #12180 "[CI] We need to shard ci_qemu tests"
Working on this PR: https://github.com/apache/tvm/pull/11809
This will increase the workload on ci_qemu and it has timeout issue. So it's time to shard this image like others.

cc @Mousius @areusch @driazati

[2022-07-25 19:16] areusch commented on #12180
cc @gigiblender can you take a shot at this one? here are some PRs for inspiration:
- first you need to fix up the test script to support sharding similar to https://github.com/apache/tvm/pull/10413/files
- next you need to modify the Jenkinsfile to create 2 shards. there's not a PR that's done this from scratch yet, but there is an [example](https://github.com/apache/tvm/pull/11402/files#diff-e18

[2022-07-25 19:16] areusch commented on #11688
i think we're ok w/o RFC for this one as it's just moving around previously-RFC'd functionality. thanks!

[2022-07-25 19:37] gigiblender opened #12181 "[RFC][Tracking Issue] Name mangling in IRModules"
This issue is to track progress for `Name mangling in IRModules`

PR: #12066
RFC discussion: https://github.com/apache/tvm-rfcs/pull/84
Forum: https://discuss.tvm.apache.org/t/pre-rfc-name-mangling-in-irmodules/12944/7

[2022-07-26 09:32] blackkker commented on #12156
+1

[2022-07-26 16:58] mikepapadim commented on #12109
I am having a look into this.

[2022-07-26 18:05] driazati commented on #12156
Thanks for reporting! Once https://github.com/tlc-pack/tlcpack-sphinx-addon/pull/8 is merged (that should fix this issue), we can update the version of `tlcpack-sphinx-addon` we use in tvm and this should be fixed on the live website

[2022-07-26 18:34] #12156 closed

[2022-07-26 19:23] tqchen commented on #9183
We should perhaps close this tracking issue?

[2022-07-26 19:24] tqchen commented on #8473
Would be good to get a status update @junrushao1994 . I would suggest we move followup non-infra part to separate trackings to keep things tracable.

[2022-07-26 19:24] zxybazh commented on #12135
Corrected TIR would not cause the problem, please defined the write buffer for root block as follows:
[code]
And still the problem lies in bad message for error reporting, would work on that later.

[2022-07-26 19:27] tqchen commented on #11707
This is the intended behavior of RPC for now to restrict the object that we can support (so we can support minimum cases like uTVM). Would be a good starting pt to document the related behavior

[2022-07-26 21:45] driazati opened #12191 "[ci] Build android_rpc fails in CI"
This has been failing intermittently but with increasing frequency lately:

https://github.com/apache/tvm/runs/7519810828?check_suite_focus=true

cc @Mousius @areusch @argrento

[2022-07-26 22:08] cconvey commented on #12191
Thanks for reporting this @driazati !

[2022-07-27 09:39] chengven027-intellif opened #12198 "[Bug] [scatterND] large shape will get a Segmentation fault in x86"
I do a test with scatterND:
[code]
I found if the shape is (1, 900, 200), the after_mod  will success execute.  and if I use the shape of (1, 900, 300). I will get a Segmentation fault.

[2022-07-27 10:47] gigiblender opened #12199 "[Bug] Fix array OOB access in TVM"
Once #12178 is merged, `test_meta_schedule_task_scheduler.py::test_meta_schedule_task_scheduler_multiple_gradient_based` will be skipped under the `ci_minimal` docker configuration. The reason is that the `ci_minimal` image compiles TVM with `-D_GLIBCXX_ASSERTIONS` and this test causes an array OOB access.

### Expected behavior

Expected behavior is `tests/python/unittest/test_meta_schedule_task_

[2022-07-27 16:38] areusch opened #12203 "Update docs to use install-from-wheel method"
Now that we've published the apache-tvm wheel, we can tell folks to use pip to install tvm rather than building from source. This issue tracks updating the docs:
- [x] Add a new Install from pip page
- [ ] Make the tutorials execute against the wheel in CI
- [ ] Update tutorials to reference the Install from wheel page

cc @leandron @driazati

[2022-07-27 16:38] areusch commented on #12203
cc @hpanda-naut for triage

[2022-07-27 20:36] shingjan opened #12208 "[CI Problem] `python tests/scripts/ci.py lint` failed for not ignoring untracked files"
Repro:
[code]
Stack trace:
[code]
in which `./_xxx/xx.py` is actually an untracked file in this git repo.

cc: @areusch @driazati

[2022-07-28 01:32] huajsj commented on #12020
@areusch @billishyahao , thanks for the follow up, I tried before PR https://github.com/apache/tvm/pull/11638 , but still saw
the issue.

[2022-07-28 01:35] chengven027-intellif commented on #12198
close.  #12200  to follow this iisue.

[2022-07-28 01:35] #12198 closed

[2022-07-28 09:18] argrento commented on #12191
Well, need to investigate.

[2022-07-28 18:02] #12097 closed

[2022-07-29 08:02] alter-xp commented on #11688
hi @areusch, I created a [Dockerfile.ci_riscv (pr)](https://github.com/apache/tvm/pull/12230), which only retains the basic environment and riscv related content in Dockerfile.ci_qemu. Do we need to use CI to build ci_riscv image next?  I'm not familiar with this. So can you help me list the next process and what I need to do?

[2022-07-29 11:24] zhang-yi-chi opened #12233 "[Flaky Test] `tests/python/frontend/onnx/test_forward.py::test_grid_sample[llvm]`"
Related pull requests #12229

These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/frontend/onnx/test_forward.py::test_grid_sample[llvm]`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/

[2022-07-29 12:25] #12233 closed

[2022-07-29 16:40] TejashShah commented on #9685
cc @mehrdadh Is this issue addressed or do we need to follow up on this?

[2022-07-29 18:12] vinx13 commented on #12199
cc @zxybazh

[2022-07-29 18:21] mehrdadh opened #12235 "Develop a tool to keep track of skipped tests in CI"
we had multiple instances where code changes resulted in skipping tests in the CI unintentionally. It would be great if we can have a tool which keeps track of the tests. Here are some instances:

- https://github.com/apache/tvm/pull/12223
- We had similar issue with hexagon tests which they were skipped because of a PR

cc @driazati @areusch

[2022-07-29 21:37] #11749 closed

[2022-07-29 23:24] yongwww commented on #11462
Summary for 7/25/22 - 7/29/22:

[jenkins](https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3900/pipeline/) on https://github.com/apache/tvm/commit/eada707a7027bec47cf003916d349893a9249e4d - failure on android-rpc build

[jenkins](https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3900/pipeline/) on https://github.com/apache/tvm/commit/eada707a7027bec47cf003916d349893a

[2022-07-29 23:42] yongwww opened #12238 "[Flaky Test] `tests/python/unittest/test_custom_datatypes.py::test_myfloat`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/unittest/test_custom_datatypes.py::test_myfloat`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/main/3901/display/redirect

[2022-07-31 19:02] HaoKang-Timmy opened #12248 "[Bug] Can not tune onnx models in M1 mac"
I am using M1 mac to tune onnx resnet50 using the code from TVM tutorial.
And I met problems both with autoscheduler and without it.

### Expected behavior
It should generate information just like the gudiance.
[code]
### Actual behavior

Using command line
[code]
The result is
[code]
When I use python api
[code]
The same thing happens.
I wonder if you have ever used M1 chips to run the tutorial.

[2022-08-01 01:22] junrushao1994 commented on #12161
It is currently undefined behavior. We haven’t had in-depth discussion whether or not it’s going to be an error. What do you think?

[2022-08-01 01:52] yincs-intellif commented on #12161
Thanks a lot. I think we need to solve this issue, because we usually use hexadecimal in computer domain.

[2022-08-01 04:49] rebel-shshin commented on #8596
Thank you very much : )

[2022-08-01 14:59] Lunderberg opened #12261 "[Tracking Issue] Padded Layout Transformations"
### This issue is to track progress for [padded layout transformations](https://github.com/apache/tvm-rfcs/pull/77)

- [x] New TIR Op, `tir::builtin::assume` (#12267)
- [x] New lowering transform, remove `tir::builtin::assume` (#12267)
- [x] New TIR Op, `tir::builtin::undef` (#12266)
- [x] New lowering transform, remove `tir::builtin::undef` (#12266)
- [ ] Enhancements to `transform_layout`
  - [

[2022-08-01 19:58] masahi commented on #12238
A dup of https://github.com/apache/tvm/issues/11580

[2022-08-01 19:58] #12238 closed

[2022-08-01 22:40] mehrdadh opened #12270 "[Bug][microTVM] dense_dsp ARM schedule is not picked up in autotuning"
When we run auto tune function for a model with dense layers, like anomaly detection, we don't see dense_dsp in the extracted tasks.
This was originally reported by @guberti

cc @alanmacd @gromero

[2022-08-01 23:31] zxybazh commented on #12199
Thanks for reporting this issue. This PR #12273 should be able to fix the issue. Please rebase once the PR is merged.

[2022-08-02 03:38] junrushao1994 commented on #12199
Closing because #12273 should fix this issue. Feel free to reopen if the problem persists!

[2022-08-02 03:38] #12199 closed

[2022-08-02 06:14] MoebiusMeow opened #12274 "[Bug] Incorrect result using sub-warp reduction"
Sub-warp reduction was introduced in PR #10207

It turns out that the generated code directly uses return value from CUDA `__shfl_down_sync` when the target is an inactive thread outside the `mask`, which causes undefined behavior. (Although the value is always `0` during my test, it is not granted)

In present unit tests, only `sum` reduction is tested, thus the `0` from inactive threads does not

[2022-08-02 09:07] ashutosh-arm commented on #12089
@driazati It looks like https://github.com/apache/tvm/issues/12097 was closed. So, does it mean the issue was fixed and we can get updated docker images quicker?

[2022-08-02 09:14] NicolaLancellotti opened #12276 "[Bug] Frontend tests fail on AArch64"
There are some frontend tests that fail on AArch64.
They were disabled in prs: #12255, #12256 and #12257

List of failing tests:
- tests/python/frontend/pytorch/test_forward.py::test_convert_torch_script_with_input_types
- tests/python/frontend/onnx/test_forward.py::test_onnx_nodes[test_resize_upsample_sizes_nearest-llvm]
- tests/python/frontend/tensorflow/test_forward.py::test_forward_crop_and_re

[2022-08-02 17:33] mehrdadh opened #12279 "[Bug][microTVM][Model Library Format]Runtime is not captured in the MLF"
It would be great if we can capture runtime in MLF since it is very useful specially for debugging auto tuning failures in microTVM auto tuning.

cc @alanmacd @gromero

[2022-08-02 17:33] mehrdadh commented on #12279
cc @guberti @mkatanbaf @areusch

[2022-08-02 17:58] areusch commented on #11670
@gigiblender is going to look at this one

[2022-08-02 19:04] #12180 closed

[2022-08-02 19:42] areusch commented on #11688
@alter-xp sorry--i've been a bit busy lately. looks like @driazati approved/merged that one, and i created https://github.com/tlc-pack/tlcpack/pull/131 to add that build to our nightly docker image rebuild/test. looks like that pipeline is green now so we should be able to get that image built today or tomorrow and then we can begin using it. i'll update this thread when it's ready.

[2022-08-02 20:17] areusch commented on #9183
we still have more to do on this for Heterogeneous AOT, though we haven't RFC'd the remainder. we could close this if you prefer to.

[2022-08-02 20:32] mehrdadh opened #12280 "[Tracking Issue] Rename ci_qemu to ci_cortexm"
This issue is for tracking renaming ci_qemu. There are multiple repositories that we need to update:
- Update image name and scripts on TVM: https://github.com/apache/tvm/pull/12281
- Update CI files on tlc-pack/ci: https://github.com/tlc-pack/ci/pull/47
- Update CI files on tlc-pack/tlcpack: https://github.com/tlc-pack/tlcpack/pull/132
- push first image to tlcpack: https://hub.docker.com/layers/

[2022-08-02 21:54] junrushao1994 commented on #12161
Thanks for your feedbacks! The reason is that in `tvm.tir.const(A, B)`, `A` is automatically converted to int64 and then sent to the C++ backend, while the backend method didn't check if `A` is within the range of `B`...

[2022-08-02 21:57] junrushao1994 commented on #12161
CC: @tqchen

[2022-08-02 23:05] #12270 closed

[2022-08-02 23:11] areusch commented on #12191
can we close this one now?

[2022-08-02 23:11] #12191 closed

[2022-08-02 23:38] areusch commented on #12279
cc @hpanda-naut

[2022-08-03 00:33] masahi commented on #12276
`test_convert_torch_script_with_input_types` could be unrelated to aarch64. I've seen the same error in https://github.com/apache/tvm/pull/11966#issuecomment-1203271465

[2022-08-03 02:12] MoebiusMeow commented on #12274
cc @vinx13 @junrushao1994 @yzh119

[2022-08-03 05:30] santiweide commented on #10426
I have met the same problem

[2022-08-03 09:18] wolfworld6 commented on #10842
I got the error,how do i solve it?
[ 88%] Built target tvm_objs
[ 88%] Building CXX object CMakeFiles/tvm_libinfo_objs.dir/src/support/libinfo.cc.o
[ 88%] Built target tvm_libinfo_objs
[ 89%] Creating directories for 'project_libbacktrace'
[ 89%] No download step for 'project_libbacktrace'
[ 89%] No checkout step for 'project_libbacktrace'
[ 89%] No update step for 'project_libbacktrace'
[ 89%] No

[2022-08-03 09:31] wolfworld6 commented on #7857
Have you solved this problem？thx

[2022-08-03 10:51] nrdmtt opened #12289 "Can't compile from source with TFLite support"
I am trying to compile TVM from the source in order to have microTVM support and GPU acceleration using Cuda and Tensorflow.

### Expected behavior

TVM compiled from source, microTVM enabled, with Tensorflow, Tensorflow-lite, Cuda, and CMSIS-NN support

### Actual behavior

During compilation, CMAKE returns an error due to the Tensorflow dependency.
[config.cmake](https://pastebin.com/MhFNsGgu)

[2022-08-03 13:27] NVukobrat opened #12292 "[Bug] Tensor advanced indexing with boolean mask not working"
Hi,

I’m trying to index the tensor in the following fashion:
[code]

where x is the input tensor (e.g. (2, 3) shape), while the mask is a boolean array (e.g. (3,) shape). For a better example, here are example values:
[code]

Therefore, when using NumPy as a reference, the results of `x[0, mask]` should be `[1, 2]` tensor. However, as TVM output I’m getting something like `[2, 2, 1]`. Can someone

[2022-08-03 14:27] #12136 closed

[2022-08-03 15:52] tkonolige commented on #10842
@wolfworld6 Can you check that all submodules are up to date by running `git submodule init; git submodule update`. If that does not work, can you post the full configure + build log?

[2022-08-03 18:03] #12274 closed

[2022-08-03 21:08] zxybazh opened #12298 "[Bug][TIR] Split Error in Schedule Verification"
Hi, I noticed a split error when schedule verification is enabled with `debug_mask="all"`, where I think the split is actually valid.
Script to reproduce the issue is here: https://gist.github.com/zxybazh/0759810aa841508c68abbdf7a00c4ab2

The error says:
[code]

With the help from @spectrometerHBH I noticed this might be related to the region analysis part here: https://github.com/apache/tvm/blob/

[2022-08-04 01:13] wrongtest-intellif commented on #12298
Hi, the last modification to `canonical_simplify` is in https://github.com/apache/tvm/pull/9941. Where use `canonical` first help prove certain patterns. Maybe we could enrich rewrite rules.

For the case, unfortunately, current system can not prove
`floormod(((i0_i1_i2_0_i3_0_fused_fused_0*512) + i0_i1_i2_0_i3_0_fused_fused_1), 3136) >=  ((floordiv(floormod(((i0_i1_i2_0_i3_0_fused_fused_0*512) +

[2022-08-04 01:42] masahi commented on #12292
There were related discussion on this topic.
https://github.com/apache/tvm/issues/9237#issuecomment-992428813
https://github.com/apache/tvm/pull/7373

[2022-08-04 04:26] cdljn2011 opened #12302 "[Bug] Can the virtual machine executor support inference on dynamic shape of OCR model?"
Hi, I observe that tvm only support transform on Oneflow or Onnx dynamic shape model. I have tried to tranform so many OCR Onnx models to relay but all failed because the presence of this operator I guess. Fortunately, I succeed to tranform a Onnx model named “ch_PP-OCRv3_rec_infer”, which can be converted from the Paddle model via the paddle2onnx tool. (url: https://github.com/PaddlePaddle/Paddle

[2022-08-04 06:14] JingliangGao commented on #12302
I am also confused by the TVM dynamic Shape problem. Can anyone provide some information?

[2022-08-04 07:07] masahi commented on #12302
Can you post your reproducible script? An error message alone is not helpful for debugging.

[2022-08-04 10:45] NVukobrat commented on #12292
I see. Thanks for the references. I'll try to find a workaround for this issue for now.

However, I agree that adv_index should also support boolean dtype as it'll be more like the NumPy way of indexing.

Thanks again for your help @masahi 😄

[2022-08-04 15:56] luyaor opened #12305 "[Bug] The Sum operation (with multi inputs) outputs wrong result"
## Description

When compiling following model, TVM will produce wrong result. The model(with ONNX as frontend) with error is as follows, check bug.onnx in [reproduce.zip](https://github.com/apache/tvm/files/9259136/reproduce.zip)

The semantic of the model is to sum up input tensors with five times. For example, the first element in the input tensor is -0.7491791248321533, so the first element in

[2022-08-04 22:28] #12110 closed

[2022-08-05 01:09] driazati opened #12311 "[Flaky test] Segfault in `test_runtime_module_load.py::test_combine_module_llvm`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). As per [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures), these failures will be disabled in a PR that references this issue until the test owners can fix the source of the flakiness.

### Test(s)

- `tests/python/unittest/test_runtime_mod

[2022-08-05 02:18] blackkker commented on #12305
I reproduced it as you said and the output seems to be correct.
[output_compare](https://github.com/blackkker/Pic-host/blob/main/output.jpg)

[2022-08-05 02:26] luyaor commented on #12305
Ohh, my TVM version for testing is too old, I updated the TVM and the output is correct.

[2022-08-05 08:42] JingliangGao commented on #12302
Hi mashi @masahi ,
    @cdljn2011 is one of friends and I can provide the code and data for you, which can be downloaded from Google Drive or Baidu Disk as follows. We build and run it in 0.10.0 TVM with clang+llvm-14.0.0-x86_64-linux-gnu-ubuntu-18.04.

Google Drive ——
https://drive.google.com/file/d/1L2_O7zZ4O7aicHHrksMG7d50HzvdoEao/view?usp=sharing
Baidu Disk ——
url：https://pan.baidu.com/s/1ua52

[2022-08-05 14:11] mikepapadim commented on #12109
this should be done with #12316

[2022-08-05 16:03] #12109 closed

[2022-08-05 17:24] #12305 closed

[2022-08-05 18:27] mikeseven opened #12326 "[Bug] import tvm before pytorch leads to core dump at the end"
### Expected behavior

order of import should not matter

### Actual behavior

[code]

At the end, the application quits with
[code]

However, importing tvm **after** all other imports works
[code]
To reproduce, there is no need to even do anything with tvm in the code!

### Environment

TVM main branch, same error with latest tags too
- same error built with or without cuda
- same error built wit

[2022-08-05 18:38] HaoKang-Timmy opened #12327 "[Bug] Can not build the apk of "android_camera" in apps"
# The Bug.
Hi, I am trying to build "android_camera" on my laptop and install it on google pixel 2.
But after building the tvm4j and installing Gradle and other tools, it fails to build the demo.
https://github.com/apache/tvm/tree/main/apps/android_camera
After inputting `gradle clean build`, it shows this result.
[code]
I realize that maybe the path is not right. So I input `gradle clean build --

[2022-08-05 22:16] slyubomirsky opened #12330 "[Bug][Metaschedule] Tuning trial hanging after one task"
I encountered this when trying to run [this script](https://github.com/tlc-pack/relax/blob/relax/apps/relax_examples/e2e_auto_tir.py) over RPC on machines with v100's. Though it was done using Relax, @zxybazh says he thinks this can probably be triggered on mainline as well.

I ran ResNet-50 on V100 with an input shape of (1, 3, 224, 224), using 5 tuning trials. The tuning task began started hangi

[2022-08-06 04:23] timmywanttolearn commented on #12327
Would you please take a look at this and find out what is the problem of this app, please?
@Kirill Snezhko

[2022-08-06 13:19] argrento commented on #12327
Can you post them here too?

[2022-08-06 20:29] masahi commented on #12326
This was discussed in https://github.com/apache/tvm/issues/9362 and mitigation documented in https://github.com/apache/tvm/pull/9433.

[2022-08-06 20:29] #12326 closed

[2022-08-07 13:34] gigiblender opened #12333 "[CI Problem] Increase number of shards for Cortex-M."
Seems like after #11809 the CI time for the Cortex-M shards increased to around 2.5 hours. This sometimes causes timeouts in the CI.

[2022-08-07 13:57] gigiblender opened #12335 "[CI Problem] Deduplicate the `retry` function from the Jenkinsfile"
I am wondering if it's possible to duplicate the `retry` function from the Jenkinsfile. This increases quite a bit the size of our Jenkinsfile. I was thinking about something similar to what is done in #12291.

The drawback is that we could no longer test it with the Jenkinsfile linter.

Thoughts @driazati @areusch?

[2022-08-08 08:59] shreyashvi commented on #966
Check failed: (bf != nullptr) is false: target.build.llvm is not enabled

I already do:
set(USE_LLVM ON)
set(USE_LLVM /usr/lib/llvm-10/bin/llvm-config)

in tvm/build/config.cmake

still this problem persist

[2022-08-08 09:55] NVukobrat commented on #12292
Hey @masahi,

Are there any thoughts/plans on how this will be supported?

I tried the approach by using `argwhere` in order to determine indices and afterwards feed those results to the `adv_index` function. However, dynamic shapes from `argwhere` and problematic to handle.

Therefore, pinging you here if you have more info/insights regarding the proper approach to handling this kind of problem.

[2022-08-08 10:01] masahi commented on #12292
No plan from my side at least. Based on the conversation in https://github.com/apache/tvm/pull/7373, it seems that the proper way is to improve `adv_index` to support boolean indices.

[2022-08-08 11:23] timmywanttolearn commented on #12327
Yes, I have set the right ndk path and I could use ndk-build in my command line.
But this tutorial seems too old and has many mistakes. I modified a lot and could run the android demo. I may create a issue about this these days

[2022-08-08 15:24] #12280 closed

[2022-08-08 15:27] #12333 closed

[2022-08-08 16:46] driazati commented on #12335
This would be nice (and we could do something similar to de-duplicate some other inlined code) but I think we'll need to re-implement some of the Jenkins trust mechanism first since it'd be pretty trivial for anyone to then mess with the CI runners (i.e. if a PR is not from a trusted user then we use the versions of files X Y and Z from the base commit and not from the PR HEAD, similar to how the

[2022-08-08 17:31] mehrdadh commented on #9685
@TejashShah we can close this issue.

[2022-08-08 17:31] #9685 closed

[2022-08-08 17:48] mehrdadh commented on #11762
This is fixed.

[2022-08-08 17:48] #11762 closed

[2022-08-08 17:49] mehrdadh commented on #11295
this is fixed now:
https://github.com/apache/tvm/blob/main/tests/python/contrib/test_hexagon/test_benchmark_maxpool2d.py
https://github.com/apache/tvm/blob/main/tests/python/contrib/test_hexagon/test_benchmark_elemwise_add.py

[2022-08-08 17:49] #11295 closed

[2022-08-08 17:50] mehrdadh commented on #10568
https://github.com/apache/tvm/pull/10590 fixed this

[2022-08-08 17:50] #10568 closed

[2022-08-08 18:26] gigiblender commented on #10317
runtime @gigiblender

[2022-08-08 19:27] driazati commented on #11736
Finally posted announcement in https://discuss.tvm.apache.org/t/apace-tvm-v0-9-0-release/13291

[2022-08-08 19:27] #11736 closed

[2022-08-08 22:51] mehrdadh commented on #11928
This is resolved after upgrading the firmware on HDK boards.

[2022-08-08 22:51] #11928 closed

[2022-08-09 00:04] ganler opened #12343 "[Bug] Installation tutorial page shows unexpected blank code block."
The [installation](https://tvm.apache.org/docs/tutorial/install.html#sphx-glr-download-tutorial-install-py) page shows unexpected blank code block.

![image](https://user-images.githubusercontent.com/38074777/183534772-8c6d9683-dc73-47b3-bb14-29c098cf2189.png)

cc: @driazati

[2022-08-09 00:08] driazati commented on #12343
I think this is coming from the `sphinx_gallery_*_ignore` tags, @guberti any idea why they'd show up as a blank code block when there's no other code in that block? This is probably fixable with a patch to sphinx-gallery or we could do the hacky thing and clean these up in JavaScript from `tlcpack-sphinx-addon`

[2022-08-09 00:59] JingliangGao commented on #12302
Hi @tqchen @AndrewZhaoLuo ,  can you provide some valuable information?

[2022-08-09 06:56] guberti commented on #12343
This is expected behavior from `sphinx-gallery`. The code that generates the empty block is:

[code]
`sphinx-gallery` correctly removes everything between the `*_ignore` tags (leaving an empty code block) and then renders the empty code block as intended.

The easiest solution is to just remove that code. It was added by @driazati's https://github.com/apache/tvm/pull/11839 and is used to redirect

[2022-08-09 20:52] areusch opened #12350 "[microTVM] Create per-board default and project option for TVM heap size"
Currently the [heap size](https://github.com/apache/tvm/blob/main/apps/microtvm/zephyr/template_project/src/host_driven/main.c#L134) in the Zephyr host_driven microTVM is fixed, but each board has a variable amount of memory and it should be tailored at least per-board. It would also be nice to have a ProjectOption to override this setting in case the user wants to generate a project with smaller

[2022-08-09 22:13] mikeseven commented on #12326
yes I used this mitigation but it didn't work.
I sync'd today and rebuild and it now works....

[2022-08-09 22:55] driazati commented on #11462
Summary for 2022-07-06 to 2022-08-06

|Run|Commit|Mitigation|
|--|--|--|
|[tvm-ci/branch](https://ci.tlcpack.ai/job/tvm/job/main/3983/display/redirect)|1f97f1fbd55ff223dc73dbe62ae1c9b7aa16337a from #11809|Timeout fixed by #12334|
|[tvm-ci/branch](https://ci.tlcpack.ai/job/tvm/job/main/3976/display/redirect)|485bfaf1ea9d7afaf7fa6cb3e03415364ffc4412 from #12306|Fixed by #12325|
|[tvm-ci/branch](http

[2022-08-09 23:08] driazati commented on #11920
This was probably due to some cleanups we had to do to get disk space under control on the Jenkins head, since then we've set up a 90 day retention policy and bought more disk space for the node

[2022-08-09 23:08] #11920 closed

[2022-08-09 23:09] driazati commented on #11917
Fixed by #12221

[2022-08-09 23:09] #11917 closed

[2022-08-09 23:10] driazati commented on #11840
See #11920

[2022-08-09 23:10] #11840 closed

[2022-08-09 23:10] driazati commented on #11721
this is fixed now

[2022-08-09 23:10] #11721 closed

[2022-08-09 23:27] driazati commented on #11401
fixed by #12058

[2022-08-09 23:27] #11401 closed

[2022-08-09 23:28] driazati commented on #11195
This should be fixed now

[2022-08-09 23:28] #11195 closed

[2022-08-09 23:28] #11117 closed

[2022-08-09 23:29] driazati commented on #10180
cautiously closing this since we've changed the infra good bit in the meantime, please re-open if this happens again

[2022-08-09 23:29] #10180 closed

[2022-08-09 23:30] driazati commented on #9825
Fixed in #11470

[2022-08-09 23:30] #9825 closed

[2022-08-09 23:32] driazati commented on #8674
we have this in Jenkins now for every test step, closing

[2022-08-09 23:32] #8674 closed

[2022-08-09 23:33] driazati commented on #8593
we use a different workspace for every build now so this should be fixed

[2022-08-09 23:33] #8593 closed

[2022-08-10 08:53] AreopagX opened #12359 "[Frontend][ONNX] Add support for `onnx::SequenceAt` operator"
Hi all,
I was trying to convert an ONNX model to TVM and the conversion fails. The error states:

### This issue is to track progress for "add support for onnx::SequenceAt operator"
- [ ] P1. add support for onnx::SequenceAt operator

cc @KJlaccHoeUM9l @ehsanmok

[2022-08-10 08:57] AreopagX commented on #12359
Related: #9116

[2022-08-10 16:48] mehrdadh opened #12362 "[Bug][Relay] TVM generates input name that cannot be imported with the parser"
I'm compiling an ONNX model which I realized the input name has this format `input:0`. When I import the model and run it, it works fine, however if I try to import the same Relay text with the parser it will result in error.

cc @gigiblender

[2022-08-10 18:22] junrushao1994 commented on #10317
metaschedule @junrushao1994
arith @junrushao1994
tir @junrushao1994

[2022-08-10 21:19] slyubomirsky commented on #12362
Can you write a simple pass that will change ("sanitize") the variable names? I don't know if a colon is treated in any special way by the parser, but you could try replacing them with underscores. I thought the parser did some sanitization of its own and am surprised that this still happens.

[2022-08-11 04:48] cxx122 opened #12372 "[Bug] Array out-of-bounds access of TE language"
[code]

### Expected behavior

An error message or a definite thing like 'nan' when out of range.

### Actual behavior

[code]

### Environment

Operating System: Ubuntu 18.04, TVM version: tag0.9.0 [d361585]

### Steps to reproduce

[code]

[2022-08-11 05:26] cxx122 opened #12373 "[Bug] Misuse of reduce_axis"
[code]
The args in the reduce_axis should be like (0,5), the args like (5,0) will cause a wrong result.
### Expected behavior

An error message to point out the misuse.

### Actual behavior

[code]

### Environment

Operating System: Ubuntu 18.04 TVM version: tag0.9.0 [d361585]

### Steps to reproduce

[code]

[2022-08-11 05:37] cxx122 opened #12374 "[Bug] Core dump caused by truncdiv and min_value of int64"
[code]

### Expected behavior

[code]

### Actual behavior

[code]

### Environment

Operating System: Ubuntu 18.04, TVM version: tag0.9.0 [d361585]

### Steps to reproduce

[code]

[2022-08-11 07:19] cxx122 opened #12375 "[Bug] Core dump caused by cast tensor of bool type to bool"
[code]
This te program will produce tir program like  `cast(bool, TENSOR_1[(wcd*3)])`, which will cause a core dump.

### Expected behavior

`passed`

### Actual behavior

[code]

### Environment

Operating System: Ubuntu 18.04, TVM version: tag0.9.0 [d361585]

### Steps to reproduce

[code]

[2022-08-11 08:13] cxx122 opened #12377 "[Bug] Inconsistency caused by 65535f16*0f16 after using compute_inline"
[code]
The tir program before compute_inline:
[code]
The tir program after compute_inline:
[code]

### Actual behavior

[code]

### Environment

Operating System: Ubuntu 18.04, TVM version: tag0.9.0 [d361585]

### Steps to reproduce

[code]

[2022-08-11 08:55] LeiWang1999 commented on #10426
I got the same issue, any update please?

[2022-08-11 09:01] LeiWang1999 commented on #10426
Ok fine, I forgot to enable cuda when build tvm.

[2022-08-11 09:15] cxx122 opened #12378 "[Bug] Inconsistency caused by 127i8*127i8*numi64 after using compute_inline"
[code]
The tir program before compute_inline:
[code]
The tir program after compute_inline:
[code]

### Actual behavior
[code]

### Environment

Operating System: Ubuntu 18.04, TVM version: tag0.9.0 [d361585]

### Steps to reproduce

[code]

[2022-08-11 12:26] cxx122 opened #12379 "[Bug] for loop problem when sample_initial_population"
### Environment

Operating System: Ubuntu 18.04, TVM version: tag0.9.0 [d361585]

### Steps to reproduce
[code]

### bug code:
/tvm/src/auto_scheduler/search_policy/utils.cc
[code]
`static_cast<size_t>(std::sqrt(n)) + 1` will get a very large numbe when n<0 .
Misuse of reduce_axis can trigger this bug

[code]

@ganler
@wrongtest-intellif

[2022-08-11 12:56] cxx122 opened #12380 "[Bug] Inconsistency caused by cos or sqrt after using fuse"
[code]
[code]
When changing the shape num of the tensor higher or equal to 3, it will cause an inconsistency after using fuse.

### Actual behavior
cos:
[code]
sqrt:
[code]

### Environment

Operating System: Ubuntu 18.04, TVM version: tag0.9.0 [d361585]

### Steps to reproduce

[code]

[2022-08-11 13:22] JosseVanDelm opened #12381 "[Bug] TVM generates wrong output type for integer avg_pool_2d"
Hi, there seems to be a mismatch in the behavior reported by relay code and topi generated code when it comes to average pooling.

TVM's generated output buffer is typed as 32 bits (`int32_t`) even though it should be 8 bits (`int8_t`).
This is a problem since the code following this kernel call will interpret the 32 bits as a 8 bit buffer.
Manually changing the code from expected to actual behavi

[2022-08-11 14:16] cxx122 opened #12383 "[Bug] Inconsisteny caused by unit32-uint32 after using compute_at"
[code]
The result will be different when the dtype is "uint32" or "uint64" except "uint16", and the shape of tensor needs to be higher or equal to 7.

### Actual behavior

[code]
tensor_0:
`[0 3 2 0 4 0 2 0]`
tensor_2 pre mod:
[code]
tensor_2 pre result:
[code]
tensor_2 after mod:
[code]
tensor_2 after result:
[code]

### Environment

Operating System: Ubuntu 18.04, TVM version: tag0.9.0 [d361585]

[2022-08-11 18:25] #11932 closed

[2022-08-11 19:50] driazati opened #12388 "[ci] Assert that Jenkinsfile changes also change the timestamp"
Concurrent Jenkinsfile changes that happen in a sequence like:

1. PR 1 makes changes
2. PR 2 makes changes
3. PR 1 merges
4. PR 2 merges

Can create a situation where both PRs pass CI but break `main` when merged with failures like https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/4024/pipeline.

There is a timestamp in the `Jenkinsfile` that makes it so these PRs will have a merge

[2022-08-11 23:02] driazati opened #12392 "[ci] Don't merge before running CI on `main`"
Here Jenkins fetches the latest `main` and merges code with it to make sure PRs are up to date before running everything: https://github.com/apache/tvm/blob/de124862714e747764aa8b7f41a90bcb25f3c6a8/ci/jenkins/Prepare.groovy.j2#L16-L27

This should have a guard so it doesn't happen on main (i.e. when `env.BRANCH_NAME` is `main`) and instead `upstream_revision` is just set to `HEAD`. Right now the b

[2022-08-12 10:14] padreofthegame opened #12400 "[Bug] [Relay] Problems observed working with `relay.squeeze`"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-08-12 18:05] mehrdadh opened #12409 "[Bug] _reconstruct_from_deprecated_options creates incorrect executor"
example:
[code]
This will result in this executor: `graph{"link-params": 1}`

I looked at the logic of `_reconstruct_from_deprecated_options`, the issue is that if the executor config is not part of the target it will assume `graph` by default. This is obviously incorrect.

Possible solutions
- Pass `executor` to `_reconstruct_from_deprecated_options` and derive the final executor considering the

[2022-08-12 18:10] mehrdadh commented on #12409
cc @masahi

[2022-08-12 18:25] Mousius commented on #12409
Argh, yip, I think there's a few other permutations here - given we marked it as deprecated in `0.9` I think we should aim to remove it entirely in `0.10` so as to remove the confusion entirely?

[2022-08-12 18:28] mehrdadh commented on #12409
@Mousius I agree. Happy to send a PR and remove it. I think as a part of the refactor we should also remove `link-params` from target kinds like LLVM, C and hexagon.

[2022-08-12 18:30] areusch commented on #12409
yeah i also support removing those options from Target now that we've released 0.9.

[2022-08-12 18:48] mehrdadh commented on #12409
coo, I will send a PR

[2022-08-12 19:16] MichaelJKlaiber opened #12410 "[Bug] Using AOT with UMA and TFLITE"
Hi everyone,

found a possible issue.
When executing a testcase using UMA and generating the test .c files via aot.py, it seems that the pointers of the offloaded functions are not in the right order.
Can anyone help?

Thanks,
Michael

CC: @cgerum @PaulPalomeroBernardo  @manupa-arm @areusch @lhutton1 @d-smirnov @mehrdadh @SebastianBoblest @sezgin1947

### Expected behavior

Correct execution of pr

[2022-08-12 23:15] areusch commented on #12410
this looks odd--it's late for today for me to investigate but hopefully we can look into it next week.

[2022-08-15 15:11] blackkker commented on #11356
@leandron I think you can closed this issue.

[2022-08-15 17:01] leandron commented on #11356
Closed by https://github.com/apache/tvm/pull/12145

[2022-08-15 17:01] #11356 closed

[2022-08-15 19:18] MichaelJKlaiber commented on #12410
Seems the bug is in the lowering step from  relay_prim_func to tir_prim_func.

When collecting the input arguments, the order gets messed up. By replacing the function `_get_tensors` here
https://github.com/MichaelJKlaiber/tvm/blob/issue/uma-tflite/python/tvm/relay/backend/contrib/uma/api/lower.py#L83

by

[code]
everything works perfectly fine for all the test case we provided including the tflit

[2022-08-15 19:42] junrushao opened #12442 "[Tracking Issue] TVMScript Metaprogramming"
This issue is to track progress for [[RFC-0079](https://github.com/apache/tvm-rfcs/blob/main/rfcs/0079-tvmscript-metaprogramming.md)] TVMScript Metaprogramming.

Main author: @cyx-6 @yongwww.

## A. Fix bugs/issues revealed by the new parser

- A1. TIR operations that are forgotten previously to be exposed to python
  - [x] call_packed_lowered, call_cpacked_lowered, call_llvm_intrin, call_llvm_pur

[2022-08-16 02:22] blackkker commented on #10317
onnx @blackkker
relay @blackkker

[2022-08-16 06:35] SebastianBoblest opened #12446 "[Bug] LSTM duplicates parameters for each step in the timeseries"
It seems that TVM duplicates parameters in LSTMs and GRUs for each step in the input series.
This behavior has occurred before in the past but was fixed.
Maybe this issue is related to the refactoring done in #12213 but I could not really locate the source of the error.
I use TVM on commit ecbe4ca0edadeca8fee4d0c2c9f7a9093043b5ee

I attached a zip file containing
1) a toy lstm model that takes an

[2022-08-16 07:10] SilvaXiang commented on #12383
Are you working in fuzzing deep learning compiler?

[2022-08-16 07:50] gigiblender opened #12449 "[Flaky Test] `tests/python/contrib/test_rpc_server_device.py::test_basic_functionality_of_rpc_session`"
### Test(s)

- `tests/python/contrib/test_rpc_server_device.py::test_basic_functionality_of_rpc_session`

### Jenkins Links

https://github.com/apache/tvm/runs/7751823895?check_suite_focus=true

[2022-08-16 08:01] gigiblender opened #12451 "[Flaky Test] `tests/python/unittest/test_tvm_testing_features/TestFixtureCaching.py::test_uncached_count`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/unittest/test_tvm_testing_features/TestFixtureCaching.py::test_uncached_count`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/ma

[2022-08-16 08:06] gigiblender commented on #11462
Summary for 2022-08-07 - 2022-08-14:
[jenkins](https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3986/) on fc411dc6fad14909ed17ce8c39d621d4587441bc - Failure due to timeout in Cortex-M shards. Fixed in #12334.
[jenkins](https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/3987/) on 9b860095532d2a01525a449fac2bdfc0813bf4cc - Failure due to timeout in Cortex-M shards. Fixe

[2022-08-16 11:48] zhang-yi-chi commented on #12446
This behavior seems to occur before #12213 refactoring. I tried your script on commit 359a642 (one commit before #12213 merged cfa5525) and still got identical parameters in module_0.txt.

[2022-08-16 23:00] shingjan commented on #11462
Summary for 2022-08-15 to 2022-08-17

|Run|Commit|Mitigation|
|--|--|--|
|[tvm-ci/branch](https://ci.tlcpack.ai/job/tvm/job/main/4073/display/redirect)|1ba17fe48b254a287458834041bd4aaf7d9f49b5 from #12401|<fill this out>|
|[tvm-ci/branch](https://ci.tlcpack.ai/job/tvm/job/main/4072/display/redirect)|bd562313250ce6a1bcc90eb7e94f64bc10563104 from #12443|<fill this out>|

<sub>Generated by https://gi

[2022-08-16 23:02] shingjan opened #12464 "[Flaky Test] `tests/python/frontend/caffe/test_forward.py::test_forward_Alexnet`, `tests/python/frontend/caffe/test_forward.py::test_forward_Inceptionv1`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/frontend/caffe/test_forward.py::test_forward_Alexnet`
  - `tests/python/frontend/caffe/test_forward.py::test_forward_Inceptionv1`

### Jenk

[2022-08-16 23:09] shingjan opened #12465 "[Flaky Test] `cython.py::tests.python.frontend.darknet.test_forward`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `cython.py::tests.python.frontend.darknet.test_forward`

### Jenkins Links

  - https://ci.tlcpack.ai/job/tvm/job/main/4062/display/redirect

### Prelimi

[2022-08-17 02:46] cxx122 commented on #12383
Yes.

[2022-08-17 09:56] padreofthegame commented on #12400
@ganler @jroesch, or maybe you know someone who may take a look?

[2022-08-17 10:09] SebastianBoblest commented on #12446
Ok, I will try to figure out the commit that caused this then, thanks for looking into it!

[2022-08-17 11:05] pig-pig-yang opened #12469 "[Bug] Pytorch Mobilenetv3 conversion error."
I tried to convert Pytorch MobilenetV3 to Relay IR. But the converted Relay IR is wrong. I tried to convert to ONNX first and then convert to Relay, results are still wrong.

Original structure:
![image](https://user-images.githubusercontent.com/65580829/185101766-2d7eaee7-c3e8-4ee3-8ada-f3e5121ce8ff.png)

Converted Relay IR structure:
![image](https://user-images.githubusercontent.com/65580829/18

[2022-08-17 12:36] WuZheng326 opened #12470 "[Bug] Conv2d tunning by autotvm demo ERROR"
Hello, when I was running the autotvm demo: [[Tuning High Performance Convolution on NVIDIA GPUs — tvm 0.10.dev0 documentation](https://tvm.apache.org/docs/how_to/tune_with_autotvm/tune_conv2d_cuda.html)](https://tvm.apache.org/docs/how_to/tune_with_autotvm/tune_conv2d_cuda.html) I found that there is an error:

`Traceback (most recent call last):
  File "/home/wuzheng/Document/pycharm_remote/Anso

[2022-08-17 21:38] areusch commented on #12465
Per @driazati, this can be fixed by following the instructions for [Network Resources](https://tvm.apache.org/docs/contribute/code_guide.html#network-resources) in test. want to take a crack at it?

[2022-08-17 21:38] areusch commented on #12464
Per @driazati, this can be fixed by following the instructions for [Network Resources](https://tvm.apache.org/docs/contribute/code_guide.html#network-resources) in test. want to take a crack at it?

[2022-08-17 21:59] ganler commented on #12400
Thanks @padreofthegame. Would like to provide minimal reproducible for us to check the issues you mentioned?

[2022-08-17 22:11] ganler commented on #12400
Had a closer look. It seems those are not bugs as you might misunderstood the `axis` attribute. According to relay.squeeze [doc](https://tvm.apache.org/docs/reference/api/python/relay/index.html), `axis` should be `None` or a list of integer or an expression.

If `axis` is `[]` it means none of the axies will be squeezed so that it is fairly correct to have identical output shapes. If you meant to

[2022-08-17 22:14] ganler commented on #12469
Hi @pig-pig-yang would you like to first verify if the ONNX model itself is correct through [onnx.checker](https://github.com/onnx/onnx/blob/main/docs/PythonAPIOverview.md#checking-an-onnx-model).? It'd be also great if you can paste some error message or just screen shot.

[2022-08-17 22:23] ganler commented on #12383
@cxx122 Thanks. Would you like to make the bug report more clear by listing the oracle and where the inconsistency is? Maybe the example can be made more readable with a numpy implementation which can also be used as a differential tester.

[2022-08-17 22:57] ganler commented on #12377
@cxx122 Thanks for the report. It seems you are trying to compute "65535f16 * 0f16" which returns "nan" as an undefined behavior.

![image](https://user-images.githubusercontent.com/38074777/185257403-c8c87fbc-a0b5-4651-bef5-299db7bc30bf.png)

Since its output is "nan" and according to IEEE 754 that "nan" is not comparable, I don't think it is suitable to regard this as an inconsistency bug since

[2022-08-17 23:06] ganler commented on #12377
Similarly in many rest bugs reports, as `opt_level=4` is specified which indicates fast math optimization, it is highly possible to have those numerical "inconsistency" when the computation is not well-formed.

[2022-08-17 23:15] ganler commented on #12374
Interesting. It seems even creating a schedule without executing it leads to a float-point exception. Not sure if it is the arithmetic analyzer's edge case. cc: @junrushao1994

[2022-08-17 23:19] ganler commented on #12378
Not sure if this is real bug or an undefined behavior similar to https://github.com/apache/tvm/issues/12377. In C standard (which I guess TVM should be consistent with), signed integer overflow leads to undefined behavior. Therefore, if there is any signed overflow happening, the results are not guaranteed to be "consistent".

[2022-08-17 23:20] ganler commented on #12379
Just curious, how do you know if it is inf loop or just the program is not finished yet.

[2022-08-17 23:22] ganler commented on #12375
Seems to be a valid bug. cc: @junrushao1994

[2022-08-18 02:10] cxx122 commented on #12379
I have run this program for a day without any termination. There are threads in `sample_initial_population`, and I suspect that there is a problem in the thread. Maybe the `support::parallel_for` ?

[2022-08-18 02:24] cxx122 commented on #12377
Thanks, when I submitted this bug I also considered that it might be because of this problem. This may not be a bug in the strict sense.

[2022-08-18 02:50] cxx122 commented on #12378
![image](https://user-images.githubusercontent.com/52519147/185280385-f0371383-9309-42a0-8635-dba93e8fb23a.png)
I just tried it and it may be the same as #12377. Some optimizations may not be suitable to be applied when there is an overflow.

[2022-08-18 03:04] cxx122 commented on #12383
I just tried it in numpy, and I find that the result `4294967294 ` seems to be right in numpy.
![image](https://user-images.githubusercontent.com/52519147/185283693-6a3f6339-0b10-4054-a66e-dc16ab553bc9.png)
However, in TVM, the results will all be zero.

[2022-08-18 03:41] ganler commented on #12378
Thanks for confirming the UB. I think this level of guarantee (i.e., consistency over UB) is often not available in TVM as well as traditional compilers that have been engineered for decades due to its cost. Maybe you can tune the fuzzer a bit to filter false alarms by invalid numerics as well as integer overflows. :-)

[2022-08-18 07:34] padreofthegame commented on #12400
Thanks @ganler for your quick and detailed response. As I already said I am new here and I am really interested in the work you did, and you are doing at the moment, and I would like to help if it is possible. So I decided to chose some package to look at,  try some features and comment problems that I came up working with it (actually problems may appear due to misunderstanding of some parameters

[2022-08-18 08:43] driazati commented on #12451
Fixed by #12376

[2022-08-18 08:43] #12451 closed

[2022-08-18 08:58] honghuichao opened #12486 "[Bug] Can the following code accept a tuple as input？"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-08-18 09:01] masahi commented on #12486
For a question, please use the forum.

[2022-08-18 09:01] #12486 closed

[2022-08-18 09:07] pig-pig-yang commented on #12469
Hi, Thanks for the reply!
I have used onnx.checker to check the model is correct. The conversion process using from_pytorch or from_onnx did not report any error, but when I checked the structure of the converted Relay model I found the above structure error.

[2022-08-18 09:08] masahi commented on #12469
I just checked the output from TVM (using `from_pytorch`) and pytorch. They are identical.

[2022-08-18 09:11] masahi commented on #12469
In the Relay text dump, I'm seeing this
[code]

So it looks all right. @pig-pig-yang Please check your visualization. There is no conversion error.

[2022-08-18 09:11] #12469 closed

[2022-08-18 10:46] pig-pig-yang commented on #12469
Thanks for the reply. Sorry I pasted the wrong codes. I rechecked the codes and the error did not occur during the front-end conversion. The error occurred after `tvm.relay.quantize.prerequisite_optimize`. The codes are:
[code]

The `prerequisite_optimize` is consisted of several commonly used pass:
[code]
Then I gets the wrong Relay structure like this:
  %66 = multiply(meta[relay.Constant][32] /

[2022-08-20 00:44] shingjan commented on #12464
This should be fixed by #12510

[2022-08-20 00:54] shingjan opened #12511 "[Flaky Test] various tests in `tests/python/contrib/test_ethosu/test_codegen.py`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/contrib/test_ethosu/test_codegen.py::test_binary_add_with_non_4d_shapes[ifm_shape0-ifm2_shape0-ethos-u55-32]`
  - `tests/python/contrib/tes

[2022-08-20 01:05] shingjan commented on #12465
this should be fixed by https://github.com/apache/tvm/pull/12510

[2022-08-20 10:23] wrongtest-intellif commented on #12377
Actually there is no `"65535f16"`, should be `nan` because it exceeds maximum of fp16, it seems to be an issue in literal construction and constant folding.

[2022-08-20 15:58] ganler commented on #12377
@wrongtest-intellif Good point. `"65535f16"` is actually `inf`. But `inf * 0` gets us a `nan`. :-)

[2022-08-21 17:55] PhilippvK commented on #11810
@mehrdadh  I would guess, that this is related to #11702 which was merged one month ago. You you please try again on the latest TVM commit?

[2022-08-22 06:03] crawlingcub opened #12524 "[Bug] Lower Accuracy with a model compared to pytorch"
Hi,

I used a variant of pre-trained Alexnet model with a subset of cifar100 dataset. I am getting lower accuracy with TVM compared to PyTorch. I made two modifications to the original model. I changed a `ReLU` layer to `LogSigmoid` and added some noise to a `Conv2d` layer. I have more examples where using the `LogSigmoid` sometimes lead to different accuracy. Is this a bug?

Converting from an on

[2022-08-22 07:01] masahi commented on #12524
If you believe that the results of TVM and PyTorch are different, please provide a minimal script, rather than a script like yours that does evaluation loop.

[2022-08-22 07:04] crawlingcub commented on #12524
Do u mean find one or two data points for which the results are different?

[2022-08-22 07:07] masahi commented on #12524
I think any data would give lead to different results for TVM and PT, if your claim is True.

[2022-08-22 07:21] crawlingcub commented on #12524
I think that was compatibility error with pt 1.11. I uploaded `data2.pt` to that same link. Can you try with that?

Not all predictions are different. If you try with data point 0, you will see the output is different. Just added ` data=torch.utils.data.Subset(data, [0])` before running.
Let me know if you have other suggestions. Thanks!

[2022-08-22 07:43] masahi commented on #12524
This is an example of "minimal script":

[code]

Running this script, I see PT output like
[code]

Is this expected?

[2022-08-22 08:37] Hzfengsy commented on #10317
metaschedule @Hzfengsy
tir @Hzfengsy

[2022-08-22 08:51] leandron opened #12529 "[Bug][CI] integration tests not currently running in ci_gpu image"
When looking at recent CI test run (which I'm enabling torch/ONNX tests on AArch64), I noticed an issue with a missing `transformers` package while executing `test_meta_schedule_integration_extract_from_bert_base `, causing the integration tests to fail on AArch64.

Investigating the issue a bit deeper, it seems that integration tests are **not running on** `ci_GPU` image, which is the one that is

[2022-08-22 09:35] leandron commented on #12529
ONNX testing that runs as part of Integration tests is also not running anywhere.

https://github.com/apache/tvm/pull/12532

[2022-08-22 12:10] HaoKang-Timmy opened #12536 "[Bug][Parser] Uable to parse 'broadcast_to' operator"
Hi, I want to use tvm.parse.parse_expr. But it can not parse operator 'broadcast_to'.
Here is the code.
[code]

Is there any way to avoid this problem?

[2022-08-22 12:12] HaoKang-Timmy commented on #12536
@mbs-octoml
Hi, would it be possilbe for you to look at this problem?
Thanks

[2022-08-22 13:47] guberti opened #12538 "[Bug] [microTVM] time_evaluator occasionally gives incorrect values"
### Expected behavior

I was recently trying to time a model using Zephyr and TVM's host-driven AOT capabilities, with code that looked like the following:
[code]

The model should take ~30 ms per inference, or 0.03 seconds. After averaging across ~500 runs, however, I discovered the **average** reported runtime was instead `288,230.30875` seconds.

### Actual behavior

After looking into the issu

[2022-08-22 16:32] lhutton1 commented on #12511
Thanks for reporting @shingjan, I hope to find some time to investigate soon

[2022-08-22 18:00] areusch opened #12542 "host_standalone_crt doesn't build on OS X and Windows in CI"
See https://github.com/apache/tvm/pull/12227. The PR fails in Windows/Mac CI testing due to compile problems with `host_standalone_crt`. Need to fix the compile options so they pass.

[2022-08-22 19:02] shingjan commented on #12511
Hi @areusch would that be possible that we keep this open until Luke can take a look? I believe David's PR only mitigate the issue instead of fixing it. Thanks!

[2022-08-22 19:07] #12465 closed

[2022-08-22 20:33] areusch commented on #12511
oh whooops. that was not intentional!

[2022-08-22 21:46] mbaret opened #12548 "[Tracking Issue] Refactor AOT executor codegen into IRModule -> IRModule form"
The AOT executor codegen has accumulated significant technical debt and dead code during its development, resulting in a component that is difficult to understand, test and extend. Refactoring it will improve code-quality and make it easier to introduce new features to expand the capabilities of AOT code generation.

This refactor aims to observe the following principles:
- Break the logic into pa

[2022-08-23 03:24] HaoKang-Timmy commented on #12536
Could you please look at this problem, please?
@jroesch

[2022-08-23 04:30] crawlingcub commented on #12524
Yes, thats what I am seeing as well. With argmax, torch's output label is 39, while for tvm it is 33. Seems like some numerical error is happening here?

[2022-08-23 04:57] masahi commented on #12524
You said you replaced relu with logsigmoid. I have a feeling that huge values in the PT output come from logarithm. If you keep relu, do the two outputs agree?

[2022-08-23 05:06] crawlingcub commented on #12524
Yes, the outputs changed only when I replaced relu with logsigmoid. They were exactly same before that.

[2022-08-23 05:13] masahi commented on #12524
Interesting. Is there a known numerical issue if we translate PT `log_sigmoid` simply by `log(sigmoid(x))`? Otherwise I have no idea where the difference is coming from.

[2022-08-23 05:17] crawlingcub commented on #12524
There was this fix in pytorch for numerically stable logsigmoid: https://github.com/pytorch/pytorch/pull/2211
Maybe something similar needs to be done here?

[2022-08-23 05:20] Lucien0 opened #12553 "[Bug][MicroTVM][Model Library Format] Cannot export when whole graph is partitioned to another compiler"
Hi, I constructed a simple example like that

    def test_export_mlf():
        x = relay.var("x", shape=(10, 10))
        w0 = relay.var("w0", shape=(10, 10))
        w1 = relay.var("w1", shape=(10, 10))
        w2 = relay.var("w2", shape=(10, 10))

        z0 = relay.add(x, w0)
        p0 = relay.subtract(z0, w1)
        q0 = relay.multiply(p0, w2)

        f = relay.Function([x, w0, w1, w2], q

[2022-08-23 05:31] masahi commented on #12524
Yeah, that PR is very old, but their current implementation in https://github.com/pytorch/pytorch/blob/a85d1f0bcdd02cf18d3b0517337458cb51a18cdb/aten/src/ATen/native/cuda/ActivationLogSigmoidKernel.cu#L32-L35 is not differently not a simple composition of log and sigmoid.

I tried replacing https://github.com/apache/tvm/blob/f64a3bda253f4220d66eeb3348f93f486392cb8e/python/tvm/relay/frontend/pytorch

[2022-08-23 07:48] wzh99 commented on #12400
@padreofthegame @ganler Hey guys, I am the author of #11697. I appreciate your efforts in solving this problem related to `squeeze`. Here I mainly want to share my analysis for this problem. After checking the source code in Relay and TOPI, I think the root cause lies in the difference between how Relay and TOPI handle empty `axis`.

In Relay type inference of `squeeze`, `axis=[]` does nothing to

[2022-08-23 08:03] leandron commented on #10673
When enabling PyTorch and ONNX, I spotted a few more instance of these `libgomp` relates issues, so I'm adding new tests to the list of skipped tests in AArch64, for further investigation, but in the meanwhile, we guarantee that the other don't regress.

In the process of investigating these, I realised that no environment with torch is running integration tests (see https://github.com/apache/tvm/

[2022-08-23 08:16] leandron commented on #10673
Just submitted https://github.com/apache/tvm/pull/12554 with the new tests that need skipping, now that I'm testing the environments *with* Torch installed.

[2022-08-23 15:11] cconvey commented on #12511
FYI there's a more recent CI failure that looks related.  Here's the filled-out flaky-test details, but I haven't created a new Issue yet:

These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python

[2022-08-23 15:25] cconvey commented on #12511
Another CI failure:
### Tests(s)

  - `tests/python/contrib/test_ethosu/test_codegen.py::test_binary_add_with_non_4d_shapes[ifm_shape0-ifm2_shape0-ethos-u55-32]`
  - `tests/python/contrib/test_ethosu/test_codegen.py::test_binary_add_with_non_4d_shapes[ifm_shape0-ifm2_shape0-ethos-u55-256]`
  - `tests/python/contrib/test_ethosu/test_codegen.py::test_ethosu_identity_codegen[1-0-1-0-ifm_shape3-ethos-

[2022-08-23 15:28] cconvey commented on #12511
Another CI failure:
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/contrib/test_ethosu/test_codegen.py::test_ethosu_identity_codegen[1-0-1-0-ifm_shape3-ethos-u55-256]`
  - `tests/python/

[2022-08-23 15:29] cconvey commented on #12511
Another CI failure:
### Tests(s)

  - `tests/python/contrib/test_ethosu/test_codegen.py::test_binary_add_with_non_4d_shapes[ifm_shape0-ifm2_shape0-ethos-u55-128]`
  - `tests/python/contrib/test_ethosu/test_codegen.py::test_ethosu_unary_elementwise[ifm_shape4-ABS-ethos-u55-128]`
  - `tests/python/contrib/test_ethosu/test_codegen.py::test_ethosu_identity_codegen[1-0-1-0-ifm_shape3-ethos-u55-256]`

[2022-08-23 15:29] cconvey commented on #12511
Another CI failure:
### Tests(s)

  - `tests/python/contrib/test_ethosu/test_codegen.py::test_binary_add_with_non_4d_shapes[ifm_shape0-ifm2_shape0-ethos-u55-128]`
  - `tests/python/contrib/test_ethosu/test_codegen.py::test_relay_reshape_codegen[ifm_shape5-new_shape5-ethos-u55-256]`
  - `tests/python/contrib/test_ethosu/test_codegen.py::test_ethosu_unary_elementwise[ifm_shape4-ABS-ethos-u55-128]`

[2022-08-23 18:29] #12464 closed

[2022-08-23 19:26] crawlingcub commented on #12524
Yes, that fixes it! :) I see exact same accuracy now! Should I raise a PR?

[2022-08-23 19:55] masahi commented on #12524
hmm maybe argmax got fixed, but the raw outputs should still be different.

First, please run the test in https://github.com/apache/tvm/blob/f64a3bda253f4220d66eeb3348f93f486392cb8e/tests/python/frontend/pytorch/test_forward.py#L809-L814 to make sure that the existing test passes

Second, try to find an input that causes the numerical issue and use that in the new test case. The new implementation

[2022-08-23 20:05] crawlingcub commented on #12524
ok, naive question: how do i run a specific test locally?

[2022-08-23 20:11] masahi commented on #12524
You can try, for example `pytest tests/python/frontend/pytorch/test_forward.py -k log_sigmoid -s`

[2022-08-23 21:18] areusch commented on #12538
iirc we made some cleanups to TVMPlatformTimerStop() a few months ago. i thought it was due to updating to Zephyr 2.7; i wonder if that introduced this regression, or if it was here all along?

[2022-08-24 00:24] shingjan opened #12566 "[Bug] [TIR] float infinity not supported in TIR with CUDA target"
`isinf` is an operator in relay/topi/te. But when we lower relay functions containing `isinf` to cuda, the generated float infinity is not defined and supported, therefore an compilation error on nvcc is thrown.

### Expected behavior

Infinity should be supported on TIR level as there is a function `isinf` in relay/topi/te.

### Actual behavior
[code]

### Environment

Latest TVM main on Nvidia R

[2022-08-24 01:21] crawlingcub commented on #12524
Hi, I added the new test. All the sigmoid tests pass (locally) with the new change. Can you review?

[2022-08-24 04:02] #12409 closed

[2022-08-24 06:36] guberti commented on #12538
I would not be surprised if my changes to `TVMPlatformTimerStop()` caused this issue - definitely worth investigating.

[2022-08-24 07:08] #12524 closed

[2022-08-24 07:11] #12511 closed

[2022-08-24 07:30] leandron opened #12567 "[Bug] python.contrib.test_onnx.test_resize numerical accuracy issue"
While working to enable Integration tests in AArch64 with ONNX and Torch installed (which is currently a blind spot in our CI, see https://github.com/apache/tvm/issues/12529), I'm seeing `python.contrib.test_onnx.test_resize` failing with an accuracy error. According to some tests locally, the issue reproduces consistently in x86 and AArch64.

I'm creating this issue so that we can investigate the

[2022-08-24 08:54] cxx122 opened #12569 "[Bug] no divide by zero report while te.floordiv(a, b-b)"
[code]
### Expected behavior

Check failed: pb->value != 0 (0 vs. 0) : Divide by zero

### Actual behavior

### Numpy behavior

![image](https://user-images.githubusercontent.com/52519147/186374488-0951f8c9-c018-4e3d-abcc-1a8bede00cc1.png)

### Environment

Operating System: Ubuntu 18.04, TVM version: tag0.9.0 [d361585]

### Steps to reproduce
[code]

[2022-08-24 12:38] ekalda opened #12573 "[CI Image] Remove Vela from ci_cpu"
- [x] S0. Reason: Stop downloading dependencies for features that have moved to `ci_cortexm` and to unblock https://github.com/apache/tvm/pull/12456

- [x] S1. Tag of nightly build: 20220824-060145-c15cc5ef6

- [x] S2. The nightly is built on TVM commit: c15cc5ef6

- [x] S3. Testing the nightly image on ci-docker-staging: All the `ci_cpu` tests are passing with that image: https://ci.tlcpack.ai/bl

[2022-08-24 13:14] HaoKang-Timmy commented on #12327
Hi, sorry for the late reply. I have found something wrong with this app.
https://github.com/apache/tvm/blob/main/apps/android_camera/dev_tools/sign_apk.sh#:~:text=%24CURR_DIR/-,tv8mdemo,-.keystore%20%2Dsignedjar%20%24SIGNED_APK
You could see in this file, the generated rpk file name is wrong. It shoudl be tvmdemo.keystore(same with tutorial), insted of tv8mdemo.keystore.

[2022-08-24 13:16] HaoKang-Timmy commented on #12327
Also, I find that the generated apk file should use zipalign -4 to make it installable. I do not know why but this makes it works. Could you tell me is there any resources to learn to write android app of tvm besides these three demos, thanks.

[2022-08-24 18:46] mehrdadh opened #12579 "[hexagon] Add hexagon tests to lint"
Let's add hexagon tests to link step to avoid issues like this:
https://github.com/apache/tvm/pull/12565

[2022-08-24 18:48] mehrdadh commented on #12579
@quic-sanirudh I see that you claimed almost all hexagon tests, please let me know if you want to offload some.

https://github.com/apache/tvm/issues/11414

[2022-08-24 19:03] wrongtest-intellif commented on #12566
"inff" may indicate that the "inf" literal of float32 get mistakenly generated as a normal value like 0.3f.

[2022-08-24 20:26] wrongtest-intellif commented on #12383
Currently TVM on cpu target (LLVM) use no unsigned wrap mode for basic +-* arithmetics of uint32, thus overflow results are undefined. From this point I think the behavior now is as expected.

[2022-08-24 21:48] areusch opened #12583 "[VOTE] Commit Messages RFC"
This is a formal vote thread to determine committer and PMC support for https://github.com/apache/tvm-rfcs/pull/88. Replying +1 here means you support the RFC and we should merge it. This vote thread is due to the fact that the RFC proposes a change in the way the community operates (namely the standards by which we commit code). This also signals the final comment period on that RFC, which will c

[2022-08-24 21:55] leandron commented on #12583
+1

Disclaimer: I’m a co-author of the original RFC

[2022-08-24 22:03] tmoreau89 commented on #12583
+1 (binding)

Thierry

[2022-08-24 22:16] csullivan commented on #12583
+1

[2022-08-24 22:23] tqchen commented on #12583
+1

TQ

[2022-08-24 22:50] driazati commented on #12583
+1

[2022-08-25 02:29] Hzfengsy commented on #12583
+1

[2022-08-25 02:31] junrushao commented on #12583
+1 (binding)

[2022-08-25 04:16] crawlingcub opened #12590 "[Bug] [PyTorch] BatchNorm gives incorrect output with eps=-1.0"
The BatchNorm operator for PyTorch's frontend fails when eps is -ive. I  modiied the `test_forward_batchnorm` test in `tests/python/frontend/pytorch/test_forward.py` by adding a -ive eps, and the test failed. Is this expected? Does the batchnorm implementation ignore the -ive eps value?

### Modified Test:

[code]

### Output:

[code]

### Excepted output:

Test should pass

### Environment:

[cod

[2022-08-25 05:09] quic-sanirudh commented on #12579
@mehrdadh Yes I took it up to do it in my spare time and I've pushed a couple PRs to fix linter for a few files, but haven't started working on the rest. Please feel free to pick up any of the remaining ones, thanks.

[2022-08-25 07:02] masahi commented on #12590
I think `eps` is supposed to be a small number. The PyTorch output is all `nan`.

[2022-08-25 07:02] #12590 closed

[2022-08-25 07:16] masahi commented on #12583
+1

[2022-08-25 11:36] Theoo1997 opened #12595 "[Bug] graph_mod = tvm.micro.create_local_graph_executor() Error"
Hi,
I am trying to execute int8 tf lite models on x86 (my local PC). So I've used micro TVM and specifically the [example](https://tvm.apache.org/docs/how_to/work_with_microtvm/micro_tflite.html#microtvm-with-tflite) you have for this peruse. I run the example without any problem but when I tried to run tf lite int8 from tfhub an error accrued. To be more specific I tried modilenet and efficientne

[2022-08-25 14:44] cconvey commented on #12511
Just FYI, another occurrence of this CI failure occurred _before_ the bugfix landed on `main`: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/4137/pipeline

[2022-08-25 15:08] cconvey opened #12599 "[CI Problem] A problem occurred configuring root project 'android_rpc'."
Possibly related: another `android_rpc` failure from several weeks ago: https://github.com/apache/tvm/issues/12191

### Branch/PR Failing

https://github.com/apache/tvm/commit/8174d082e8168db9ad63826c9d68aee8c76c7090

### Jenkins Link

https://github.com/apache/tvm/runs/7983481668?check_suite_focus=true

### Flakiness

No

[2022-08-25 15:15] cconvey opened #12600 "[CI Problem] failed docs push to https://github.com/apache/tvm-site.git"
### Branch/PR Failing

https://github.com/apache/tvm/commit/5cef6bf559265e74b84504ed2e190f29f5c5bf33
https://github.com/apache/tvm/commit/13ebbfb37f8cec1da71d88fbcbecdd4ad4d24dcc

### Jenkins Link

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/4129/pipeline/
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/4144/pipeline/

### Flakiness

Multiple commits (see abov

[2022-08-25 15:19] cconvey opened #12601 "[CI Problem] maven failed download of Linux tvm4j"
Note: I'm may not be correctly interpreting the error output, so this issue's title might need updating

### Branch/PR Failing

https://github.com/apache/tvm/commit/90b2f0d36996be10d71f0c923f588c6dfa0e8546

### Jenkins Link

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/4149/pipeline/

### Flakiness

No

[2022-08-25 15:22] cconvey opened #12602 "[CI Problem] [Checks API] No suitable checks publisher found."
### Branch/PR Failing

https://github.com/apache/tvm/commit/1afd0593956066635ee49297b731726c9218c91c

### Jenkins Link

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/4158/pipeline/

### Flakiness

No

[2022-08-25 15:46] driazati commented on #12602
actual failure is in the tests, duplicate of #12311

[2022-08-25 15:46] #12602 closed

[2022-08-25 16:39] AndrewZhaoLuo commented on #12583
0

[2022-08-25 17:42] #12566 closed

[2022-08-25 18:01] manupak commented on #12583
+1

[2022-08-25 20:22] driazati commented on #12600
This usually happens since there is a merge race to update the docs between two commits. The best way to fix would be to check the hash in this file and:
* if it's newer: give up since the docs have already been built and pushed including this commit
* if it's older: force push the new changes

[2022-08-25 21:59] areusch commented on #12529
@gigiblender is it possible to leverage https://github.com/apache/tvm/pull/12436 to add another GH [check](https://docs.github.com/en/rest/checks) to assert we aren't skipping a couple of critical integration tests in a PR?

[2022-08-25 22:57] mehrdadh opened #12608 "[CI Problem] [docker] Pip package installation in cortexm image"
Using any other docker image we can easily install extra packages by running a command: `sudo pip3 install XX`
and then it would be available in the python environment.

However, in Cortexm image installing the package with `sudo pip3 install` or `pip3 install --user` would end up in a different python env. My guess is because of this line that we have for cortexm and riscv images:

https://github

[2022-08-26 06:16] #11688 closed

[2022-08-26 06:19] #11697 closed

[2022-08-26 14:30] cconvey commented on #12600
Another occurrence: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/4167/pipeline

[2022-08-26 16:52] HaoKang-Timmy opened #12616 "[Bug] [Android] Android deploy could not load .so files."
TVM version = 0.0.0
Android-platform = 17
Hi, I am trying to use demo [android_deploy](https://github.com/apache/tvm/tree/main/apps/android_deploy) to embed mobilenetv2 into my android phone.
But it can not load .so file when the app runs.
Here is the code that generates the .so file
[code]
But once I put these files into asset folder and insert the app into android device. It shows that I could n

[2022-08-26 16:54] HaoKang-Timmy commented on #12616
@ kparzysz-quic
@argrento
@areusch
Could you please take a look at this?
I also find some reports on tvm discuss which may infer this problem. But they have no answer.

[2022-08-26 19:19] gigiblender commented on #12529
Sure thing. We could change that script to pass a list of critical tests to ensure that some tests are not skipped and call it in a GH check.

[2022-08-26 20:15] shingjan opened #12617 "[Bug] float.inf, -inf and nan not supported in TVMScript parser and printer"
Currently in TVMScript, float infinity is not supported in the TVMScript parser and printer. A minimal roundtrip repro of this problem looks like:
[code]

### Expected behavior

The assert_structural_equal check should pass

### Actual behavior

`inf` printed by the printer is not recognized by the parser.

cc: @zxybazh @junrushao

[2022-08-26 20:22] mehrdadh opened #12619 "[Bug] test_armv7m_intrinsic fails on physical devices"
Need to investigate why this test fails:
https://github.com/apache/tvm/blob/main/tests/micro/zephyr/test_zephyr_armv7m.py#L107

[2022-08-27 18:38] crawlingcub opened #12625 "[Bug][PyTorch] Conv2d test fails with some configurations"
I modiied the `test_forward_conv` test in `tests/python/frontend/pytorch/test_forward.py` to test a specific configuration for Conv2d. The test assertion fails showing large differences. Is this expected?

I added the following test case:

[code]
Interestingly the test passes for `Python3.7+PyTorch1.8.0`, but fails for `Python3.8+Pytorch 1.12.1`!

Error:
[code]
### Expected behavior

Test should p

[2022-08-28 00:06] crawlingcub opened #12627 "[Bug] Subtle difference in outputs of Linear layer between pytorch and tvm"
The outputs of Linear layer differ when there are very large/small values in weights/inputs. PyTorch seems to be casting some extreme values to -inf, but tvm is not. Is that expected? Is there subtle way how float32/64 is being applied in Tvm vs PyTorch?

Let me know if you need more info.

Find the files [here](https://drive.google.com/drive/folders/1VN9xWk773GRBxEqkL6xEMpWbpCsbUid9?usp=sharing)

[2022-08-28 03:39] crawlingcub opened #12629 "[Bug][ONNX] Results differ on cuda vs cpu"
The outputs of this onnx model differ when run in cpu vs cuda. The results with cpu agree with what I am getting with pytorch model. This model is a variant of mobilenet-v3. I added some noise to some Conv2d layers here compared to the original model.

Any idea what could be wrong?

[code]

Find the model and data [here](https://drive.google.com/drive/folders/1UiLAZgUlTybzBcbkSBnMoGajVCb2C3Tx?usp=

[2022-08-28 18:20] crawlingcub opened #12630 "[Bug] [Optimization] Incorrect results with optimization level 3 and 4"
I am getting incorrect results (lower accuracy) at optimization level 4 with this densenet-121 model. The results with optimization level 0 agree with pytorch results. Results are correct up to optimization level 2. Maybe there is a buggy optimization here?

Repro code:
[code]

Find the model and data [here](https://drive.google.com/drive/folders/1TW4mU0DwWe2UCiQKFLhm706aLfVjJ3RJ?usp=sharing)

###

[2022-08-29 07:31] crawlingcub opened #12632 "[Bug] [PyTorch] Inf with Softplus"
The SoftPlus layer produces different outputs for given input. Maybe some numerical instability?

Let me know if you need more info.

Code:
[code]

Find data [here](https://drive.google.com/drive/folders/19PZYIsBbXBcWDcMDR81sGXs4Oww7IqtG?usp=sharing)

### Expected behavior

Outputs should be same

### Actual behavior
Output:
[code]

### Environment

Any environment details, such as: Operating Syst

[2022-08-29 08:43] AIYoungcino commented on #12536
Could you please look at this problem, please?@mbs-octoml

[2022-08-29 14:34] cconvey opened #12634 "[Flaky Test] segfault in `tests/python/contrib/test_ethosu/test_codegen.py::test_mean`"
### Branch/PR Failing

https://github.com/apache/tvm/commit/534412896e6d39ee4f830d63370d02e8e5f09050

### Jenkins Link

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/4188/pipeline

### Flakiness

We've been tracking other ethos-u flakiness in https://github.com/apache/tvm/issues/12511, but I'm not sure if this occurrence is actually related to ethos-u.

[2022-08-29 14:59] cconvey commented on #11462
Summary for 2022-08-22 to 2022-08-29

|Run|Commit|Mitigation|
|--|--|--|
|[tvm-ci/branch](https://ci.tlcpack.ai/job/tvm/job/main/4158/display/redirect)|1afd0593956066635ee49297b731726c9218c91c from #12340|Checks API failure (https://github.com/apache/tvm/issues/12602)|
|[tvm-ci/branch](https://ci.tlcpack.ai/job/tvm/job/main/4149/display/redirect)|90b2f0d36996be10d71f0c923f588c6dfa0e8546 from #1255

[2022-08-29 16:36] areusch commented on #12619
do we have a stack trace?

[2022-08-29 16:59] areusch commented on #12608
i was able to solve this by adding a dedicated venv group. i'll roll that into my venv PR

[2022-08-29 17:54] driazati opened #12636 "[ci] Find some way to ensure tests are sharded across nodes"
In #12473 it seems like the Cortex-M tests are not using sharding so extra horizontal scaling doesn't reduce runtime. We should have a mechanism (maybe a post-run junit analysis) to print out info like the number of tests run on this shard vs others vs total tests run.

cc @Mousius @areusch @gigiblender

[2022-08-29 18:09] driazati opened #12637 "[ci] Move auto-cc bot edits on PRs to a comment"
To enable the use of https://github.blog/changelog/2022-08-23-new-options-for-controlling-the-default-commit-message-when-merging-a-pull-request/ so we can have good defaults for commit messages, we need to ensure that PR descriptions don't contain @ tags of GitHub users. We can lint for this but the auto-cc bot edits PR descriptions to @ people on PRs, so we need to change this bot to leave a com

[2022-08-29 18:21] areusch commented on #12410
@MichaelJKlaiber is this one fixed?

[2022-08-29 19:00] MichaelJKlaiber commented on #12410
yes, the bugfix is in main

[2022-08-29 19:00] #12410 closed

[2022-08-29 23:35] mehrdadh commented on #11810
@PhilippvK thanks for reporting this! I checked today and the issue seems to be resolved!
I add some missing CMSIS NN source files to cmake: https://github.com/apache/tvm/pull/12642

[2022-08-29 23:35] #11810 closed

[2022-08-30 09:09] cVladu opened #12645 "[Bug] frontend.from_paddle does not correctly handle paddle.nn.AdaptiveAvgPool2D with data_format="NHWC""
I tried to convert a paddle network containing an AdaptiveAvgPool2D with data_format="NHWC" into relay IR

### Expected behavior

The network is correctly converted

### Actual behavior

The `frontend.from_paddle` ignores the `data_format` parameter of AdaptiveAvgPool2D

### Environment

Operating system:
Distributor ID: Ubuntu
Description: Ubuntu 18.04.6 LTS
Release: 18.04
Codename: bionic

TVM v

[2022-08-30 11:50] lhutton1 commented on #12583
+1

[2022-08-30 11:56] mbaret commented on #12583
+1

[2022-08-30 14:44] tqchen opened #12651 "[VOTE] Establish TVM Unity Connection Technical Strategy"
Dear community:

This is a formal vote on [TVM unity connection technical strategy](https://github.com/apache/tvm-rfcs/pull/91). We had great discussions and feedback in the [discuss thread](https://discuss.tvm.apache.org/t/establish-tvm-unity-connection-a-technical-strategy/13344)

Vote:
+1
0 - I don't feel strongly about it, but don't object
-1 - because..

The VOTE will open for a week.

This t

[2022-08-30 14:49] kparzysz-quic commented on #12583
0

[2022-08-30 15:05] YuchenJin commented on #12651
+1

[2022-08-30 15:06] tvm-archiver commented on #12651
+1

On Tue, Aug 30, 2022 at 08:05 Yuchen Jin ***@***.***>
wrote:

[2022-08-30 15:14] junrushao commented on #12651
+1 (binding)

[2022-08-30 15:21] Hzfengsy commented on #12651
+1

[2022-08-30 16:04] crawlingcub commented on #12625
cc @masahi

[2022-08-30 16:05] crawlingcub commented on #12629
cc @masahi

[2022-08-30 16:05] crawlingcub commented on #12630
cc @masahi

[2022-08-30 16:05] crawlingcub commented on #12632
cc @masahi

[2022-08-30 17:50] vinx13 commented on #12651
+1

[2022-08-30 18:00] nenadnikolicsimaai commented on #10614
A bit late, but I can confirm that [script](https://discuss.tvm.apache.org/t/relay-op-nn-avgpool2d-in-pytorch-gives-different-results-than-tvm/12272?u=leeexyz) discussed in the thread runs correctly now

[2022-08-30 20:03] yzh119 commented on #12651
+1

[2022-08-30 20:18] Lunderberg commented on #12583
+1

[2022-08-30 22:58] driazati opened #12657 "[ci] Don't use latest `main` for PRs"
Here we find the latest commit and merge with it before running a PR through CI to prevent merge conflicted PRs from taking up CI time.

https://github.com/apache/tvm/blob/caf326fab2963dac8fe03d266ea33d323f4b4470/ci/jenkins/Prepare.groovy.j2#L17-L26

This is fine except when we change the `Jenkinsfile` that always comes from the PR's `git merge-base origin/main <pr_commit>`, so if that references

[2022-08-30 23:37] csullivan commented on #12651
+1

[2022-08-30 23:52] sunggg commented on #12651
+1

[2022-08-31 00:32] zxybazh commented on #12583
0

[2022-08-31 02:00] shingjan commented on #12617
closed as #12618 is merged as a fix.

[2022-08-31 02:00] #12617 closed

[2022-08-31 02:04] zxybazh commented on #12617
Thanks @shingjan for pushing the issue to resolve!

[2022-08-31 03:19] SStarver commented on #12645
@cVladu  Hi,there!
I want to do the similar thing as "convert  CNN with data_format="NHWC" into relay IR"
Is there any learning resources or opensource apis to do this ?
Currently,  I also have some problems in the convert from "NCHW" onnx CNN into "NHWC" one.
Wish for your recommandations thank u.

Current Situation:
    hardware driver background
    got some tutorials on onnx (both operator & p

[2022-08-31 07:40] masahi commented on #12651
+1

[2022-08-31 16:26] areusch commented on #12651
-1 (binding veto)

I agree with @leandron that Establish TVM Unity Connection Technical Strategy RFC is heavily centered around Relax RFC. Additionally, while this RFC stops short of endorsing the Relax RFC as the future direction of TVM, it very [explicitly discusses](https://github.com/apache/tvm-rfcs/blob/d06a72546b8d169da354c5796ca250baca9970e4/rfcs/0091-establish-tvm-unity-connection.md#evolv

[2022-08-31 16:33] tqchen commented on #12651
Thanks @areusch , the particular section that you described was explicitly listed as "future opportunities" and is not part of the RFC which may or may not be executed. As per stated in the text

[code]

[2022-08-31 20:08] areusch commented on #12616
@HaoKang-Timmy do you have a little more detail about the problem? could you copy some terminal/LogCat output or a stack trace? We'll need to make sure we can understand whether we've reproduced your problem.

[2022-08-31 20:23] areusch commented on #12657
is this solved by #12604 ? i guess not, since it needs to know where they were moved to is the issue?

[2022-08-31 20:24] driazati commented on #12657
right (this was actually caused by #12604), this issue would happen for any file referenced from the `Jenkinsfile`

[2022-08-31 20:27] zxybazh commented on #12651
+1

[2022-08-31 20:29] junrushao commented on #12651
+1 (binding)

[2022-08-31 20:35] areusch commented on #12657
one thing is--is this just a one-time transient issue while we reorg the code tho?

[2022-08-31 21:26] driazati commented on #12657
Yes, it can be fixed by the user by rebasing and thus changing the `git merge-base origin/main` to one that matches the file structure on `origin/main` so this isn't like a huge deal just a minor disruption that we could avoid

[2022-08-31 23:08] areusch commented on #12583
The 7-day voting period has concluded. The votes are as follows:

+1:
Leandro
Thierry
Chris Sullivan
TQ
David
Siyuan
Junru
Masa
Manupa
Luke
Matthew Barrett
Eric Lunderberg

0:
Andrew Luo
Krzysztof
Xiyou

-1:
none

The vote has passed.

[2022-08-31 23:08] #12583 closed

[2022-09-01 00:51] LeshengJin commented on #12651
+1

[2022-09-01 00:55] cyx-6 commented on #12651
+1

[2022-09-01 02:41] spectrometerHBH commented on #12651
+1

[2022-09-01 02:54] blackkker commented on #12645
I make a fix in #12658 about layout transorm in paddle. However, the data format NHWC is not encouraged in PaddlePaddle framework. More fix will be added to disable layout transorm in paddle maybe.

[2022-09-01 03:03] blackkker commented on #12645
Maybe you can refer to [Convert Layout Pass](https://tvm.apache.org/docs/arch/convert_layout.html?highlight=layout).
And applying the ConvertLayout pass to your relay module.

[2022-09-01 13:45] zenyuhao opened #12672 "[Bug] its fuzziness that the num of outputs per node > 1"
https://github.com/apache/tvm/blob/main/src/runtime/graph_executor/graph_executor.cc#L100

my model has 7 outputs of last node  named "reshap_op"
but  there is only one node-name in node map,
i think outputs_map should store out_tensor_index , should be  "reshape_nop:0" as tensorflow does

[code]

Please don’t hesitate to correct me if I’m wrong. Many thanks in advance.

[2022-09-01 19:00] ganler commented on #12651
+1

[2022-09-01 19:06] comaniac commented on #12651
+1

[2022-09-01 19:06] ganler commented on #12569
@cxx122 Thanks! So the symptom is, given a div by zero formula, which normally we should throw an DivByZero exception, in tvm, it silently returns a result (which is might be wrong)?

[2022-09-01 19:08] ganler commented on #12569
If that's the case, that seems we need to check the generated code. Because normally if the generated code remains the semantic of div by zero, it should raise a floating-point exception.

[2022-09-02 01:46] SStarver commented on #12645
Yes, this is exactly what I'm looking for. thanks a lot

[2022-09-02 04:27] cxx122 commented on #12569
Here is the generated code I got from this program, seems to be a problem with T_subtract().
[code]

[2022-09-02 04:30] cxx122 commented on #12379
@ganler I re-edited it, not sure if the information I found was helpful.

[2022-09-02 14:59] gromero opened #12690 "[Tracking Issue] Commit Message Guideline"
This issue is to track [RFC-0088](https://github.com/apache/tvm-rfcs/blob/main/rfcs/0088-commit-message-guideline.md) progress.

Main author(s): @gromero @leandron

[2022-09-02 15:00] gromero commented on #12690
PR submitted for review (https://github.com/apache/tvm/pull/12689)

[2022-09-02 22:21] sunggg commented on #11462
Summary for 8/29 - 9/2

[jenkins](https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/4193/pipeline) on https://github.com/apache/tvm/commit/0de22196db5f818a6937f026db43785935b9e731 - Unable to find image 'tlcpack/ci-lint:20220810-060142-fae79bbc3' locally
[jenkins](https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/4194/pipeline) on https://github.com/apache/tvm/commit/

[2022-09-02 22:37] ZihengJiang commented on #12651
+1 (binding)

[2022-09-03 07:49] cery999 opened #12696 "build test in macOS m2 chip structure"
how to build the test?
I want to contributed to tvm , but I am using arm64 macOS m2 computer.

I follow the https://tvm.apache.org/docs/tutorial/install.html to install test.
while ./tests/scripts/task_cpp_unittest.sh this file, run failed

the error log is in there.
[error.txt](https://github.com/apache/tvm/files/9482199/error.txt)

[2022-09-03 11:32] HaoKang-Timmy commented on #12616
Hi, thanks for the reply. I solve this problem by changing jni folder to 'android_camera' jni folder. For 'android deploy, the obj folder generated by jni folder does not contain file 'libc++_shared.so'. Do you know why this happens?

[2022-09-03 11:40] HaoKang-Timmy commented on #12616
Also, I use logcat to check the log. And it shows that there is no 'libc++_shared.so'. After I changed the jni files. It suddenly works. And obj folders in 'android_deploy' does not contain this file at all.

[2022-09-04 00:48] cery999 commented on #12696
follow the setup, set the llvm path, it may help

[2022-09-04 00:48] #12696 closed

[2022-09-04 01:04] cery999 commented on #12536
x = relay.var("x", relay.TensorType(shape, "float32"))
         y = relay.var("y", relay.TensorType(broadcast_shape, "float32"))
         z = relay.broadcast_to(x, shape=relay.shape_of(y))

[2022-09-04 01:24] cery999 commented on #12375
is it fixed? I want to contribute it.

[2022-09-04 02:20] ganler commented on #12375
@cery999 Feel free to propose a PR with a test case to reproduce it.

[2022-09-04 02:58] cery999 commented on #12375
[code]
it can't reproduce it in recent master

[2022-09-04 03:45] ganler commented on #12375
Not sure. @cxx122 can you help confirm it?

[2022-09-04 04:45] cery999 opened #12698 "[Bug] macOS build test failed"
/Users/cery/workspace/tvm/include/tvm/runtime/packed_func.h:1318:34: error: no member named 'index_sequence_for' in namespace 'std'

[2022-09-05 05:08] wangzy0327 opened #12700 "[Bug] build from source with USE_LLVM flag"
### Expected behavior

What you were expecting

compile tvm source files

### Actual behavior

[code]

### Environment
OS version:
Ubuntu 18.04.6 LTS \n \l

TVM version:
TVM 0.9.0  commid-id : d361585965b95

Any environment details, such as: Operating System, TVM version, etc

### Steps to reproduce

compile sources steps following [https://tvm.apache.org/docs/install/from_source.html#developers-g

[2022-09-05 05:14] ramanps05 opened #12701 "[Feature Request] Support for quantized matmul for > 2d inputs for ONNX models."
I am getting the following error while compiling a quantized Onnx model -
File "python/tvm/relay/frontend/onnx.py" -
in _impl_v10
```assert (a_rank == 2) and (b_rank == 2), (AssertionError: QLinearMatMul importer currently requires both 'a' and 'b' tensors to be 2D, but ran(a)=3, rank(b)=3```

It looks like this is occurring due to quantized matmul operation not being supported for >2d inputs.
In

[2022-09-05 05:46] cxx122 commented on #12375
Sorry for my not rigorous testing. I tried it in a new container, and the result was also `passed`.May be some environment variable settings in the container I tested before caused an exception during the compilation process. Not a bug of tvm. I will close this issue later.

[2022-09-05 05:47] #12375 closed

[2022-09-05 05:48] #12377 closed

[2022-09-05 05:48] #12378 closed

[2022-09-05 06:37] cery999 commented on #11696
https://github.com/apache/tvm/pull/12702

[2022-09-05 07:06] masahi commented on #12700
That header should only be included if the llvm version is above 15.0 https://github.com/apache/tvm/blob/v0.9.0/src/target/llvm/codegen_llvm.h#L34-L36

Can you check your `TVM_LLVM_VERSION` in the build directory?

[2022-09-05 07:07] masahi commented on #12698
Probably your C++ compiler is too old. We need c++17.

[2022-09-05 07:07] #12698 closed

[2022-09-05 07:11] wangzy0327 commented on #12700
how to check TVM_LLVM_VERSION ? where to set TVM_LLVM_VERSION env ? I cannot find TVM_LLVM_VERSION config about doc[https://tvm.apache.org/docs/search.html?q=TVM_LLVM_VERSION&check_keywords=yes&area=default]

[2022-09-05 07:22] masahi commented on #12700
`TVM_LLVM_VERSION` is automatically set during cmake. You should see `Found TVM_LLVM_VERSION=...` in your log during cmake.

[2022-09-05 07:27] wangzy0327 commented on #12700
How can I solve the problem? when I execute cmake, it is automatically find TVM_LLVM_VERSION=150 instead of 130.

[code]

[2022-09-05 08:14] masahi commented on #12700
Is your LLVM build `llvm-build-13.0.1` really llvm 13? What does `/home/wzy/app/llvm-build-13.0.1/bin/llvm-config --version` print?

[2022-09-05 08:17] wangzy0327 commented on #12700
My LLVM version is 15.0.0. but not include <llvm/IR/FMF.h> instead of #include <llvm/IR/Operator.h>
![image](https://user-images.githubusercontent.com/22990858/188401890-8f025ae2-7e90-4ee1-9198-0f1708d4b56d.png)

[2022-09-05 08:28] masahi commented on #12700
Ok, then I think `#if TVM_LLVM_VERSION >= 150` should be `#if TVM_LLVM_VERSION >= 160`. I don't see LLVM 15 release and the git branch is apparently on LLVM 16 https://llvm.org/doxygen/FMF_8h_source.html

[2022-09-05 08:34] wangzy0327 commented on #12700
LLVM 15 release do not include these header file in codegen_amdgpu.cc file

![image](https://user-images.githubusercontent.com/22990858/188405576-720c2da8-9c62-44c7-a050-fbb5ff7dc1b9.png)

https://github.com/apache/tvm/blob/v0.9.0/src/target/llvm/codegen_amdgpu.cc#L33-L37

[2022-09-05 08:43] masahi commented on #12700
oh there is `FMF.h` in their 15 branch https://github.com/llvm/llvm-project/blob/release/15.x/llvm/include/llvm/IR/FMF.h

So maybe there is something wrong with your build of llvm 15.

[2022-09-05 08:43] #12700 closed

[2022-09-05 10:41] leandron opened #12703 "[Bug] `ubuntu_install_zephyr.sh` fails installing libsdl2-dev"
The Docker image rebuild process is currently broken due to the error below:

[code]

Jenkins: https://ci.tlcpack.ai/blue/organizations/jenkins/docker-images-ci%2Fdaily-docker-image-rebuild/detail/daily-docker-image-rebuild/453/pipeline

[2022-09-05 10:43] leandron commented on #12703
cc @driazati @areusch @cconvey @mehrdadh

[2022-09-06 02:31] cery999 commented on #12701
in onnx the matmul should be (N,M) * (M,K) .

[2022-09-06 02:33] cery999 commented on #12672
I can support this feature. but I found some problem.
if there is one result in onnx ,the name should be output:0 or output?
and can you support a case to reproduce it, so I can add it to ci?

[2022-09-06 02:38] cery999 commented on #12630
this seems to be fast math problem. https://github.com/apache/tvm/pull/12702 refer to my solve , or if you can given any reproduce I will solve it. thanks!

[2022-09-06 03:22] july8023 opened #12707 "[Bug] a bug about fake quantize to intege and split op."
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-09-06 03:22] honghuichao commented on #12707
core dump was happend.

[2022-09-06 06:19] chengven027-intellif opened #12708 "[Bug] batch_norm computational problem"
hi，tvm
When I load a onnx model. I found the tvm result is different ONNX-RT result. The reason is because of `batch_norm` op. But I can`t found any error with the op.  Can  you  help me to analyze it. Thanks very much.
### Expected behavior
The model result between tvm and onnx-RT is equal.

### Actual behavior
The model result between tvm and onnx-RT is not equal.

### Environment
x86

### Steps

[2022-09-06 06:33] chengven027-intellif commented on #12708
The  model is in :
https://github.com/chengven027-intellif/model/blob/master/convert_remove.onnx
@AndrewZhaoLuo  Can you help me? thanks.
I check the file : src/relay/transforms/simplify_inference.cc  `BatchNormToInferUnpack`. Looks like it have no error.  And now, I have many model test result error with the `batch_norm` op .

[2022-09-06 07:15] wangzy0327 opened #12709 "[Bug] import tvm error[correctly install]"
Expected behavior
What you were expecting

I have compiled tvm source files build the shared library from the C++ codes .

Setup for Python Package

![image](https://user-images.githubusercontent.com/22990858/188569916-8c7ff7b1-4956-46dd-8076-37bc0928cc6f.png)

Environment
OS version:
Ubuntu 18.04.6 LTS \n \l

TVM version:
TVM 0.9.0 commid-id : https://github.com/apache/tvm/commit/d361585965b95acf

[2022-09-06 07:18] masahi commented on #12709
`pip install decorator`

[2022-09-06 07:18] #12709 closed

[2022-09-06 12:28] honghuichao commented on #12707
and if a concat op ,it is inputs with dequantize  ,such as  data +dequantize+concat. I think fakequantize to int pass will transform it into data +qnn.concat. but in this pass.it seem doese not  work.

def @main(%input: Tensor[(1, 3, 544, 960), float32] /* ty=Tensor[(1, 3, 544, 960), float32] */, %im_info: Tensor[(1, 3), float32] /* ty=Tensor[(1, 3), float32] */) -> Tensor[(32640, 11), float32] {

[2022-09-06 13:14] honghuichao commented on #12707
@mbrookhart Would you mind helping me?

[2022-09-06 13:52] honghuichao commented on #12707
I setting use_qat to true

[2022-09-06 15:42] mbrookhart commented on #12707
@honghuichao Would it be possible to get instructions to reproduce the error? I'm not sure I can do that from the relay graph.

[2022-09-06 16:32] areusch commented on #12703
looking at this one as it's blocking #12663 too.

[2022-09-07 03:24] honghuichao commented on #12707
@mbrookhart
1. for first problem：I add some code, segement fault is disappear. but  I don't know if it's reasonable.

      if (call_node == quantize_node_) {
        /*if (tvm::relay::transform::InferTypeLocal(out).as<TupleTypeNode>()) {
          Array<Expr> outs;
          for (size_t i = 0; i < Downcast<Tuple>(out)->fields.size(); i++) {
            auto tmp = Downcast<Tuple>(out)->fields[i];

[2022-09-07 04:06] mehrdadh opened #12721 "[Bug] tests/micro/zephyr/test_zephyr.py::test_onnx fails with CONFIG_SPEED_OPTIMIZATIONS=y on qemu_riscv64"
Testing this optimization flag on qemu_riscv64 causes timeout in transport:

[code]

[2022-09-07 07:06] #11696 closed

[2022-09-07 08:18] wangzy0327 opened #12722 "[Bug] tvmc convert model Error"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-09-07 08:31] leandron commented on #12703
It seems the last Docker image rebuilt is not reproducing this issue anymore. Any idea why?

Jenkins: https://ci.tlcpack.ai/blue/organizations/jenkins/docker-images-ci%2Fdaily-docker-image-rebuild/detail/daily-docker-image-rebuild/455/pipeline

[2022-09-07 09:20] leandron commented on #12703
OK. I confirm the issue is not reproducing anymore. Closing it for now.

[2022-09-07 09:20] #12703 closed

[2022-09-07 12:36] leandron commented on #12722
Hi @wangzy0327. I'm not really sure on where that link you sent comes from. It seems a translation of an old version of TVM documentation, which isn't really expected to work nowadays. So I can't offer support based on that documentation.

I suggest you follow the guidance on the official documentation: https://tvm.apache.org/docs/tutorial/tvmc_command_line_driver.html

[2022-09-07 15:20] leandron commented on #12690
With https://github.com/apache/tvm/pull/12689 now merged, I'm also closing this one.

[2022-09-07 15:20] #12690 closed

[2022-09-07 16:26] mbrookhart commented on #12707
Where did you add the code?

Something is going wrong with the pass because you have expressions as scales and zero points. If I run FoldConstant before FQ2I, it works:
[code]

[code]

I'll try to figure out why the pass is failing with Expr scale and zero point

[2022-09-07 16:42] honghuichao commented on #12707
I add the code at tvm/src/relay/transforms/fake_quantization_to_integer.cc 469

[2022-09-07 16:44] honghuichao commented on #12707
thank you very much

[2022-09-07 17:13] mbrookhart commented on #12707
Yes, the pass is kind of implicitly assuming scale and zero point are constant on the C++ side. I think Constant folding will get around the issue in the short term, but we should come up with a cleaner design to handle that. I'll think about it.

[2022-09-07 20:18] areusch commented on #12703
same. maybe upstream?

[2022-09-08 00:46] vinx13 commented on #12298
any updates @wrongtest-intellif ? I also encountered some similar issues, I was not able to prove ` ((min(0, ((ax0_0_0_ax1_0_0_fused*64) - 63)) + 126) - ((ax0_0_0_ax1_0_0_fused*64) + 63)) <= 0, ax0_0_0_ax1_0_0_fused \in [0, 2)`. I think overall the analyzer cannot guarantee the final result is simplified, by default `analyzer->Simplify` will iterate two times (https://github.com/apache/tvm/blob/ma

[2022-09-08 01:09] wrongtest-intellif commented on #12298
@vinx13 I agree here the invocation to standalone `canonical_simplify` is quite strange. However actually I try to increase the steps but could not fix the issue. The order of `rewrite_simplify` and `canonical_simplify` matters such that if we first `rewrite_simplify` (the first step of Simplify), we will never be able to proof some cases, no matter how many times of iters, and vice versa accordin

[2022-09-08 03:22] honghuichao commented on #12707
@mbrookhart It is true, but the reason why I do this instead of constant folding is to maintain some quantitative semantics to facilitate adaptation to the underlying hardware，such as power 2

[2022-09-08 04:53] AndrewZhaoLuo commented on #12708
Hey, thanks for tracking this down. I'll take a look Friday.

[2022-09-08 06:25] wangzy0327 commented on #12722
I have tryied to follow the guidance on the official documentation but it also get error.
https://tvm.apache.org/docs/tutorial/tvmc_command_line_driver.html

onnx, onnxoprimizer is installed
![image](https://user-images.githubusercontent.com/22990858/189049693-8405e101-1bdd-4d9b-b0b2-fca7111c91a1.png)

![image](https://user-images.githubusercontent.com/22990858/189049760-246be34b-abc4-47f5-9b7f-bb

[2022-09-08 07:20] zenyuhao commented on #12672
thanks for reply
In tensorflow graph, output of graph node is naming by `op_name:output_index`, so at least  there alwasy be 0 after outout.
im not sure that the same design in onnx, and i think the stable way to get output by output index is offical in tvm doc,
even though get_output_by_name is not stable in some situation, here is simple fix  which works well

[code]

[2022-09-08 09:19] leandron opened #12732 "[Bug] Meta-scheduler tests failing in `test_meta_schedule_integration.py`"
There are 2 meta-scheduler tests failing when we run these tests in CI on machines that have torch installed. The last change I could track that touches on that part is in the context of #12520 - I didn't bisect that change.

**As these tests do not usually run as part of CI** - as reported in #12529 - it is not unexpected that they will only appear in the context of enabling Integration tests in

[2022-09-08 10:19] luyaor opened #12734 "[Bug] an ONNX model after compiling with TVM is inconsistent with ONNXRuntime"
### Expected behavior

When feed the same input into the same model, one in TVM, another in ONNXRuntime, we supposed that their results are the same.

<img width="388" alt="image" src="https://user-images.githubusercontent.com/7541296/189096739-25ecb6d9-5368-479d-92a0-39d01d8afd21.png">

### Actual behavior

TVM's result is not aligned with ONNXRuntime's (the shape of output tensor is different).

[2022-09-08 10:31] luyaor opened #12735 "[Bug] TVM errors with an ONNX model (probably related to Resize Operation)"
When compiling [following ONNX model](https://github.com/apache/tvm/files/9526032/bug-no2.zip) with TVM, the compiler fails with errors. I think it is probably related to the Resize operation.

<img width="460" alt="image" src="https://user-images.githubusercontent.com/7541296/189099684-476ccec2-84ba-4ea4-a0e7-811195b56143.png">

[code]

### Environment
TVM v0.9

### Steps to reproduce
1. set up P

[2022-09-08 10:39] leandron opened #12736 "[Bug] USE_LIBTORCH is disabled in all builds"
On my journey in enabling Integration tests in AArch64, I stumbled upon `ctypes.tests.python.contrib.test_libtorch_ops.test_backend` (see [full error here](https://ci.tlcpack.ai/job/tvm/job/PR-11995/57/testReport/junit/ctypes.tests.python.contrib/test_libtorch_ops/Test___integration__aarch64_1_of_4___test_backend/)), which crashes running integration tests on machines with torch installed.

The re

[2022-09-08 11:36] Theoo1997 commented on #11371
Hi,
I face the same problem. Do we have any update about the issue?

[2022-09-08 12:36] zhiwei-dong commented on #11371
no, but we can contact use email for more details, dongz.cn@outlook.con

[2022-09-08 13:30] leandron commented on #12732
Also cc @Hzfengsy as suggested by tvm-bot in the PR.

[2022-09-08 17:11] leandron commented on #12573
This is being dealt with in the context of https://github.com/apache/tvm/pull/12738

[2022-09-08 17:13] leandron commented on #11733
This seems to be done from a long time, given at the moment ci-lint is `20220810-060142-fae79bbc3`, so closing the issue.

[2022-09-08 17:13] #11733 closed

[2022-09-08 17:13] driazati opened #12739 "[ci] Re-enable GPU other build"
See #12644 for context

cc @Mousius @areusch @gigiblender

[2022-09-08 17:14] leandron commented on #9705
Cleaning up old tickets that are solved, so I'm closing this one.

[2022-09-08 17:14] #9705 closed

[2022-09-08 17:16] leandron commented on #12089
Just checking whether this ticket can be closed, please update.

[2022-09-08 17:19] driazati commented on #12089
Closing since the images are currently on fae79bbc3e499f3b9f26c9a13743896f948b723d which should include the relevant PR here. Please re-open if this is not the case

[2022-09-08 17:19] #12089 closed

[2022-09-08 21:09] areusch opened #12742 "[Bug] deprecation warning when using tvmc compile with BYOC targets"
See https://discuss.tvm.apache.org/t/how-to-get-rid-of-deprecated-target-warning-for-marvell-hybrid-target/13497.

[code]

The warning should not be printed.

[2022-09-08 21:11] areusch opened #12743 "[VOTE] Issue Triage Workflow RFC"
This is a formal vote thread to determine committer and PMC support for https://github.com/apache/tvm-rfcs/pull/93. Replying +1 here means you support the RFC and we should merge it. This vote thread is due to the fact that the RFC proposes a change in the way the community operates (namely the way we organize issues as a community). This also signals the final comment period on that RFC, which wi

[2022-09-08 21:37] tkonolige commented on #12743
+1

[2022-09-08 21:43] driazati commented on #12743
+1

[2022-09-08 21:52] leandron commented on #12743
+1

[2022-09-08 22:39] vinx13 commented on #12743
+1

[2022-09-08 22:46] gromero commented on #12743
+1

[2022-09-09 03:18] honghuichao commented on #12707
@mbrookhart
Do you have a plan to modify this pass? If not, I may change another plan to support my schedule. Thanks

[2022-09-09 06:35] masahi commented on #12743
+1

[2022-09-09 07:37] Mousius commented on #12743
+1

[2022-09-09 07:57] linyv opened #12746 "[Bug] problem about building hexagon_launcher"
### Expected behavior

build hexagon_launcher successfully

### Actual behavior

In file included from /media/psf/Home/workspace/open-codes/tvm/src/runtime/hexagon/hexagon_user_dma.cc:20:
In file included from /media/psf/Home/workspace/open-codes/tvm/src/runtime/hexagon/hexagon_user_dma.h:25:
/media/psf/Home/workspace/open-codes/tvm/src/runtime/hexagon/hexagon_user_dma_instructions.h:29:16: error:

[2022-09-09 15:26] leandron commented on #12573
Closed by https://github.com/apache/tvm/pull/12738

[2022-09-09 15:26] #12573 closed

[2022-09-11 01:06] wangzy0327 opened #12752 "[Bug] tvmc get error : protobuf decoding consumed too few bytes"
https://tvm.apache.org/docs/tutorial/tvmc_command_line_driver.html

I have tryied to follow the guidance on the official documentation but it also get error.
https://tvm.apache.org/docs/tutorial/tvmc_command_line_driver.html

onnx, onnxoprimizer is installed
![image](https://user-images.githubusercontent.com/22990858/189507313-5ab223ac-b5f9-42fd-981b-834283840e3c.png)

![image](https://user-images

[2022-09-12 09:35] ashutosh-arm opened #12753 "[CI Image] Updates to ci_cortexm to reflect CMSIS-NN SHA upgrade"
- [ ] S0. Reason: (https://github.com/apache/tvm/pull/12723)

- [ ] S1. Tag of nightly build: TAG. Docker https://hub.docker.com/r/tlcpack/ci-cortexm

- [ ] S2. The nightly is built on TVM commit: https://github.com/apache/tvm/pull/12723/commits/e189a15097034109b6815320ca1f8705cfd841e5

- [ ] S3. Testing the nightly image on ci-docker-staging:

- [ ] S4. Retag TAG to VERSION:

- [ ] S5. Check if t

[2022-09-12 17:50] joschi2804 commented on #10957
Hi,

I've got the same error as you. My LLVM is also built only for RISC-V.
Have you found already a solution for it?

BR

[2022-09-12 18:19] wrongtest-intellif commented on #12298
cc @zxybazh  Hi~ could you reproduce the  https://gist.github.com/zxybazh/0759810aa841508c68abbdf7a00c4ab2 on current HEAD?  I failed to reproduce the split verification error..., maybe some improvements happen? (though I think the original issue still exists)

[2022-09-12 18:21] wrongtest-intellif commented on #12298
Hi~ Could you kindly provide some associated bad case for it ~? cc @vinx13

[2022-09-12 20:09] lhutton1 commented on #9187
Thanks @dchauhan-arm @leeexyz @onkar-sima-ai @elinx @ophirfrish for the contributions towards this effort! Closing as it is now complete.

[2022-09-12 20:09] #9187 closed

[2022-09-12 20:20] vinx13 commented on #12298
@wrongtest-intellif  this is the case I found https://gist.github.com/vinx13/011a2578eb82509512ac7e896372b410 I think your solution makes sense. In the long term we might want to improve the rewriting rule and ensure that after a certain of iterations the expression should reach a stable form that can be used for region cover analysis

[2022-09-13 00:29] chengven027-intellif commented on #12708
Hey, @AndrewZhaoLuo  Have you seen this PR, and any update with me? thanks.

[2022-09-13 06:52] billishyahao opened #12763 "[Bug][DNNL][BYOC] Transform Pass From float32 to bfloat16 failed in some patterns"
When we invoke
[code]
pass, we are supposed to get a well-transformed model which contains different kinds of operators with auto mix precision.
However, we have seen some error messages.

[code]

After we print out the relay graph, we can see this error occurs because nn.layer_norm belongs to DEFAULT_NEVER_LIST but there is not cast operators which promoted its input from bfloat16 to float32.

Th

[2022-09-13 11:54] loveppdog opened #12767 "[Bug] How to register op by c++."
I want to register support op by c++ to implement the following func like python code.

[code]

But I can't get expr in C++ by using PackedFunc (TVMArgs args, TVMRetValue* rv).
How to get expr from TVMArgs ?

[2022-09-13 17:28] zxybazh commented on #12743
+1

[2022-09-13 17:41] tqchen commented on #12743
+1

TQ

[2022-09-13 18:11] zxybazh commented on #12298
Hi I cannot reproduce it either, I did a bit bisect and found this PR https://github.com/apache/tvm/pull/12527 resolved that.

[2022-09-13 18:37] vinx13 commented on #12767
You can register typed packed func using `set_body_typed` so that you don't have to accept `TVMArgs`

[2022-09-13 18:37] #12767 closed

[2022-09-14 03:29] linyv commented on #12746
And when building the hexagon_api, the problem is:

-- Looking for Hexagon toolchain in /local/mnt/workspace/Qualcomm/Hexagon_SDK/4.5.0.3
CMake Error at cmake/modules/HexagonSDK.cmake:184 (_get_hexagon_sdk_property_impl):
  _get_hexagon_sdk_property_impl Function invoked with incorrect arguments
  for function named: _get_hexagon_sdk_property_impl
Call Stack (most recent call first):
  cmake/modul

[2022-09-14 03:31] linyv commented on #12746
@kparzysz-quic

[2022-09-14 10:51] #12595 closed

[2022-09-14 11:01] Theoo1997 opened #12771 "[Bug] uTVM bug with tflite demo"
Hi,
I am trying to run the tflite [demo](https://tvm.apache.org/docs/how_to/work_with_microtvm/micro_tflite.html#microtvm-with-tflite) that you have for uTVM. I install TVM from [source](https://tvm.apache.org/docs/install/from_source.html). When I run the .py file the above problem appears:
[code]
Any ideas how to solve that issue?

[2022-09-14 16:21] driazati opened #12776 "[ci] Segfaults cause pytest internal errors"
See https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/aarch64_frontend_tests/3/pipeline

<detail>

[code]

</detail>

`mark_test_pending` isn't there since we're using a `LoadScopeScheduling` instance to serialize some tests: https://github.com/apache/tvm/blob/main/python/tvm/testing/plugin.py#L334. The segfault should just look like any other test error without any pytest internal failu

[2022-09-14 16:23] driazati opened #12777 "[ci] `gpu_other_build.sh` isn't running"
See discussion in #12644 for context, this test was being silently skipped before and has broken in the meantime. We should fix it and re-enable it

cc @Mousius @areusch @gigiblender

[2022-09-14 18:36] mehrdadh opened #12779 "[Bug] [Hexagon] RPC Session is not closed properly"
In the current state of TVM, when we run hexagon tests on HDK boards and a test fails the session is not properly closed even after [deleting the python object](https://github.com/apache/tvm/blob/main/python/tvm/contrib/hexagon/session.py#L98).

This is the reason that currently hardware testing is busted. After a test fails, the RPC tracker shows that device is not free and program is halted at s

[2022-09-14 20:03] driazati opened #12781 "[ci] Create comment bot to highlight CI runtime changes"
It's difficult to know whether a PR will affect CI runtime without doing a purposeful investigation or hitting timeouts. Similar to the `tests_bot` (https://github.com/apache/tvm/blob/main/.github/workflows/tests_bot.yml) we could have a bot that just comments the runtime change of the last Jenkins build vs the median of the prior N builds from main

cc @Mousius @areusch @gigiblender

[2022-09-14 21:01] shingjan opened #12782 "[Bug] Per store feature extractor of meta schedule cannot handle TIR with storing constant tensor"
As mentioned in the title, the per store feature extractor of meta schedule seems not be able to handle TIR with one simply block of storing constant tensor.

### Actual behavior

Per store feature extractor cannot extract any feature out of this TIR.

### Environment

Latest TVM main

### Steps to reproduce

[code]

cc: @zxybazh @junrushao @vinx13

[2022-09-15 01:25] yangulei commented on #12763
This bug will be fixed by https://github.com/apache/tvm/pull/12787, please help to review the PR, thanks.

[2022-09-15 11:23] ashutosh-arm opened #12790 "[CI Problem] Failure to import requests, caffe in ci_arm, ci_cpu"
The issue being reported was seen on local machine with latest docker images. It is not visible in CI yet as the docker hub images are little old. PR https://github.com/apache/tvm/pull/12663 introduced virtual environments where python and its dependencies are installed. Some of the linting issues were fixed here: https://github.com/apache/tvm/pull/12775. However, some tests fail due to error whil

[2022-09-15 21:03] #12742 closed

[2022-09-15 21:36] areusch commented on #12743
+1 (binding)

[2022-09-15 21:37] areusch commented on #12743
The vote period has concluded. The votes are as follows:

+1
Tristan
David
Leandro
Wuwei
Gustavo
Masa
Chris S.
Xiyou
TQ
Andrew

0:
none

-1:
none

The vote has passed, and the RFC is accepted. Thanks everyone!

[2022-09-15 21:37] #12743 closed

[2022-09-15 22:03] areusch opened #12801 "[Tracking Issue] Issue Triage RFC"
### This issue is to track progress for [Issue Triage RFC](https://github.com/apache/tvm-rfcs/blob/main/rfcs/0093_Issue_Triage.md). This issue has these tasks:

- [ ] Create labels described in the RFC.
- [ ] Modify ISSUE_TEMPLATES to remove Update CI Docker Image issue template and add `needs-triage` label. https://github.com/apache/tvm/pull/12898
- [ ] Mark all existing issues needs-triage
- [ ]

[2022-09-15 22:32] driazati opened #12803 "Ways to speed up Docker image builds"
These currently take in the neighborhood of 30-40 minutes, we could reduce this time by

- [ ] installing cmake binaries from a PPA instead of building from source (see #12774)

[2022-09-15 22:57] #12133 closed

[2022-09-16 05:53] AndrewZhaoLuo commented on #12708
Take a look in the weekend

[2022-09-16 08:49] zhangggzh opened #12812 "[Bug] error: stack frame size (401472) exceeds limit (131056) in function 'default_function_kernel0'"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-09-16 10:09] ashutosh-arm commented on #12790
Raised the PR to fix import issues: https://github.com/apache/tvm/pull/12813

[2022-09-16 10:28] fPecc opened #12814 "[Bug] Building relay ops defined using hybrid_script gives ValueError: All indices are supposed to be constants"
### Expected behavior

Be able to build a relay containing relay.vision.non_max_suppression or relay.vision.multibox_transform_loc.

### Actual behavior

Obtained error:

[code]

### Environment

Branch main, commit 9b17f344a31a13226458a2d48dcb7b55ce282274

### Steps to reproduce

Code to reproduce:

[code]

I started to try to understand what the problem is, but my experience with hybrid_script i

[2022-09-16 15:51] #12790 closed

[2022-09-16 19:54] #12600 closed

[2022-09-19 05:51] AndrewZhaoLuo opened #12832 "[release] v0.10.0 Release Schedule"
As discussed in https://github.com/apache/tvm-rfcs/blob/main/rfcs/0067-quarterly-releases.md, releases will happen roughly every three months. I have been put in charge for this one. This thread is meant to discuss the release schedule.

We will do a branch cut soon but accept cherry-picked changes for a couple weeks.

See the [release steps](https://github.com/apache/tvm-rfcs/blob/main/rfcs/0067-

[2022-09-19 11:15] KOLANICH opened #12835 "[Feature] Implement `sqrt` for `--target=c` (`TVMError: Unresolved call Op(tir.sqrt)`)"
### Expected behavior

Should compile.

### Actual behavior

Doesn't.

### Environment

TVM: 60cf692a63a22cd2698273c4945f037b4b22474b
Source model: an ONNX file

[2022-09-19 11:22] KOLANICH commented on #12835
Also: the source model contains no `Sqrt` nodes.

[2022-09-19 16:01] chengven027-intellif commented on #12708
It has been solved. Thanks.

[2022-09-19 19:42] driazati opened #12841 "[Flaky Test] `tests/python/contrib/test_ethosu/test_replace_depthwise_conv2d.py::test_depthwise_conv2d_single[trial3]`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). See [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures) for details.

### Tests(s)

  - `tests/python/contrib/test_ethosu/test_replace_depthwise_conv2d.py::test_depthwise_conv2d_single[trial3]`

<details>

[code]

</details>

### Jenkins Lin

[2022-09-20 03:04] alter-xp commented on #12777
hi @driazati @areusch @Mousius @gigiblender
The function `camke_build` does not use the passed in parameter `path` in `ci/jenkins/Build.groovy.j2,` which causes `tests/scripts/task_build.py` to use `build` as the compilation directory by default. So that `task_config_build_gpu.sh` and `task_config_build_gpu_other` is actually built in the same directory, not in the two directories written in the c

[2022-09-20 03:07] #12672 closed

[2022-09-20 08:07] wangzy0327 opened #12843 "[Bug] Cannot find function tvm.contrib.cudnn.conv2d.forward"
### Expected behavior

I want to using cudnn libraies in relay

### Actual behavior

I recompiled tvm with USE_CUDNN config successfully

![9dbe7401f346867f5bf02da96e00031](https://user-images.githubusercontent.com/22990858/191202252-babcc033-c22a-4637-a327-e3823b1e48d0.png)

![image](https://user-images.githubusercontent.com/22990858/191202476-1507b562-729a-4a1b-842e-7bd043c9cefc.png)

### Enviro

[2022-09-20 09:35] oviazlo opened #12844 "[Bug][Frontend][PyTorch] Bug in the aten::fill_() PyTorch operator implementation?"
Potentially, there is an issue with implementation of PyTorch `aten::fill_()` operator in the PyTorch frontend.

I have found this bug when I was trying to run [gallery/how_to/deploy_models/deploy_object_detection_pytorch.py](https://github.com/apache/tvm/blob/main/gallery/how_to/deploy_models/deploy_object_detection_pytorch.py) example with Torch 1.12.0 (see my post in Discuss Forum: [[frontend][

[2022-09-20 16:23] driazati opened #12847 "[ci][tvm-bot] Re-running an in-progress github action workflow fails"
See https://github.com/apache/tvm/pull/12785#issuecomment-1252588590 on https://github.com/apache/tvm/pull/12785:

This happened while one job was failed (MacOS) and 2 were still running (Android and Windows). The rerun request went to workflow 3091384727 which was the stopped MacOS build, but it might have errored out since the MacOS is a failed job within a workflow that contains other running j

[2022-09-20 22:01] zxybazh opened #12852 "[Bug] Meta Schedule Layout Rewrite Failure"
After #12720 the RewriteLayout postprocessor seems to fail during tuning. An example to reproduce is here https://gist.github.com/zxybazh/6bff29ae4e7cb273d57bb30599790008. And the failing message looks like:
[code]

CC @vinx13 @junrushao @Lunderberg

[2022-09-20 23:21] masahi commented on #12843
It is tested in CI. Please check your installation.

[2022-09-20 23:21] #12843 closed

[2022-09-21 03:33] yanghaku opened #12853 "[Bug] target WebGPU cannot enable spirv support"
When I compile the model with target ```' webgpu -keys=webgpu,gpu -max_num_threads=256 '; runtime = ' llvm --system-lib -mtriple=wasm32-emscripten -mattr=+bulk-memory '```, I get the error:  ```Check failed: target->kind->device_type == kDLVulkan (15 vs. 7) : SPIRVSupport can only be checked for vulkan device type```.

I saw the source code in [```src/target/spirv/spirv_support.cc L35```](https://

[2022-09-21 03:41] yanghaku commented on #12853
when I change the assert check to:
[code]

Compiling the model is successful.

[2022-09-21 08:13] masahi commented on #12844
We just need to add constant folding on the fill value. See this commit https://github.com/masahi/tvm/commit/3e88280ec3a0b943d8aac76a7a99f75ffd0ac863.

Can you make a PR with your test case?

[2022-09-21 10:51] oviazlo commented on #12844
Thank you a lot, @masahi. I have created PR with my test case: https://github.com/apache/tvm/pull/12857

[2022-09-21 14:39] Lunderberg commented on #12852
I can reproduce the error, and made a simplified test script below.  Playing around a bit with the shape, it looks like it only occurs when there's a dimension of size 1.

[code]

[2022-09-21 15:02] Lunderberg commented on #12852
It looks like the bug follows the steps below:

1. `SuggestIndexMap` first flattens the indices
2. `SplitExprCollector::Collect` unpacks the flattened index, but doesn't pass the `simplify_trivial_iterators = false` argument.  As a result, any iterator with an extent of 1 is replaced by a constant.
3. `RewriteLayout` generates an index mapping `lambda a,b,c,d: [c,d]`, where it should generate `lam

[2022-09-21 15:24] Lunderberg commented on #12852
Ah, I think I found the better fix.  There's some copy/paste between `Inverse` and `NonSurjectiveInverse` that I should have cleaned up when implementing it, and there's better handling in `Inverse` that didn't make its way into `NonSurjectiveInverse`.  In `NonSurjectiveInverse`, the following section should be used.  This way, for any extent = 1 ranges, it still appropriately generates the invers

[2022-09-21 15:33] f2013519 opened #12858 "[Bug] Issue with tvmc run with repeat=0"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-09-21 15:55] vinx13 commented on #12852
In general, `IndexMap::Inverse` doesn’t guarantee to generate the inverse map even if the index map is (theoretically) bijective because the underlying `DetectIterMap` can only handle limited cases. That’s why I add the interface to pre-define the inverse map because in `SuggestIndexMap` we know how to construct the inverse without arithmetic analysis.

https://github.com/apache/tvm/blob/main/incl

[2022-09-21 15:59] areusch opened #12859 "[CI Problem] run-comment-bot fails when it can't get the PR number"
See https://github.com/apache/tvm/actions/runs/3097181204/jobs/5013784930.

[code]

@driazati @masahi

[2022-09-21 22:14] #12814 closed

[2022-09-21 23:56] vinx13 commented on #12832
would be great to have https://github.com/apache/tvm/commit/7aef584c0f8fb3b516afde3fb5fac9c2d0969c0a cherry-picked

[2022-09-22 08:56] chayliu1991 opened #12870 "multi-backends solution"
There are multi-backends in my platform,include arm cpu+mali gpu+different npus.
Can I use tvm to dynamic scheduling different backend?

[2022-09-22 09:04] #12844 closed

[2022-09-22 09:06] masahi commented on #12870
Please post such question to the discuss forum.

[2022-09-22 09:06] #12870 closed

[2022-09-22 11:02] lhutton1 commented on #12858
Hi @f2013519, I submitted #12713 which makes sure the module is only run once when the user is _not_ worried about benchmarking so wanted to share some of my findings here. I also ran into a similar issue when benchmarking was being used (`--print-time=True`) and, as you correctly mention, the additional run is due to a warm-up use to prime caches and lazy optimizations. I found this a bit unintui

[2022-09-22 16:00] tkonolige commented on #12858
I'm fine with adding a flag to disable the warmup iteration, but warmup iterations should be on by default. On CUDA, the first run on the model is very slow due to lazy compilation/loading.

[2022-09-22 18:54] shingjan commented on #12651
+1

[2022-09-22 19:50] mbrookhart commented on #12707
Hi @honghuichao. I'm way behind on this, I think I see a fix.

I did special handling for quantize and dequantize in the [extractor](https://github.com/apache/tvm/blob/195ae72b5c6f0df68fac41f7808d125d155a6345/src/relay/transforms/fake_quantization_to_integer.cc#L140-L161), but it seems that I forgot to handle the special case of quantize in the [mutator](https://github.com/apache/tvm/blob/195ae72b

[2022-09-22 21:15] areusch opened #12878 "[CI Problem] .: Can't open ci/scripts/retry.sh"
See https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/4345/pipeline

Looks like #12773 made it necessary to checkout the repo into the post-build steps. PR to follow.

[2022-09-23 06:57] blackkker opened #12882 "[Bug] TOpPattern attr of qnn op discussion."
When importing a quantized model, i found that the qnn op has not registered the **TOpPattern** attribute.
Can I set them all to kOpaque first? Then, more discussion are needed to decide the **TOpPattern** attr of the qnn op.
### Expected behavior

Build normally.

### Actual behavior

`Check failed: (idx < data_.size() && data_[idx].second != 0) is false: Attribute TOpPattern has not been registe

[2022-09-23 07:01] blackkker commented on #12882
@mbrookhart @AndrewZhaoLuo @masahi

[2022-09-23 07:21] chengven027-intellif commented on #5133
Is the missing op `aten::im2col`  and  `aten::col2im` being implemented. I saw that #8443 gave up after half of the realization? @masahi

[2022-09-23 08:20] masahi commented on #5133
I don't know what happened to #8443. For im2col, we may be able to use `sliding_window` operator introduced in https://github.com/apache/tvm/pull/9816.

[2022-09-23 08:48] lhutton1 opened #12883 "[CI Image] Update ci_cpu to incorporate NPU driver stack changes"
- [x] S0. Reason: https://github.com/apache/tvm/pull/12650(https://github.com/apache/tvm/commit/76f91b42b96b7f3274509ed713a118c117ed2f65)

- [x] S1. Tag of nightly build: TAG. Docker hub: [20220928-060146-178f82dc4-validated](https://hub.docker.com/layers/tlcpackstaging/ci_cpu/20220928-060146-178f82dc4-validated/images/sha256-d2674391f91a5cb19b8d66c91668aa83f56eb4e7714d0fbb0c08d087e5344252?context

[2022-09-23 10:54] MeJerry215 opened #12885 "[Bug] Convert Model failed due to dynamic Split, but it's not"
Convert Conformer Onnx Model Failed Due to Dynamic Split.
Below picture are the origin
![image](https://user-images.githubusercontent.com/53092165/191945952-28716acb-de27-423a-a816-83f78f1b0a10.png)
When I using onnx frontend import this model , something error.
![image](https://user-images.githubusercontent.com/53092165/191946155-21fe398c-4fcc-4177-9e5b-696ad6a6c9b6.png)

Also I try to pdb
![imag

[2022-09-23 21:10] tkonolige commented on #12852
Here is another test case that prints out a bunch of `ThreadTraceApply` errors:

[code]

I tested it with the commit before #12720 and still got a bunch of errors. Not sure if it is related to this.

[2022-09-25 08:58] isolateFeng opened #12896 "[CI Problem] make error：Linking CXX shared library libtvm_runtime.so (g++: error: unrecognized command line option ‘-fuse-ld=lld’;)"
### problem
[ 17%] Linking CXX shared library libtvm_runtime.so
g++: error: unrecognized command line option ‘-fuse-ld=lld’; did you mean ‘-fuse-ld=bfd’?
make[2]: *** [libtvm_runtime.so] Error 1
make[1]: *** [CMakeFiles/tvm_runtime.dir/all] Error 2
make[1]: *** Waiting for unfinished jobs....

### my operation step
mkdir build
cp cmake/config.cmake build

set(USE_LLVM "/tools/cluster-software/llvm

[2022-09-25 10:35] Mr1006853138 opened #12897 "unable to import tvm python[Bug]"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-09-25 11:45] #12896 closed

[2022-09-25 11:45] isolateFeng commented on #12896
I fix it!
use gcc-9.3 and llvm-8.0

[2022-09-26 06:45] Mr1006853138 commented on #12897
This is a problem due to wrong TVM_LIBRARY_PATH.And I added export the environment variable
 TVM_LIBRARY_PATH=$TVM_PATH/build.It works now.

[2022-09-26 06:45] #12897 closed

[2022-09-26 08:56] lhotari opened #12902 "[CI Problem] apache/tvm consumes too much of Apache org shared GitHub Actions resources"
Since September 14th, 2022, tvm has been consuming about 75% of the shared Apache org GitHub Actions resources

![image](https://user-images.githubusercontent.com/66864/192234250-5c4464ae-043e-4a65-b70e-d047ad76f679.png)

GitHub provides Apache with poor visibility into the usage metrics. The above report is generated with a solution developed by @TobKed, https://github.com/TobKed/fetch-apache-ga-

[2022-09-26 08:57] lhotari commented on #12902
There's over 1000 workflow runs in your queue: https://github.com/apache/tvm/actions?query=is%3Aqueued and there's also 135 in progress: https://github.com/apache/tvm/actions?query=is%3Ain_progress . It seems that a lot of the ones shown in progress have been cancelled and that's probably a GitHub Actions bug ( related report https://github.com/community/community/discussions/31690 ).

[2022-09-26 09:01] nicoloboschi commented on #12902
You could use this script to cleanup your pending actions: https://github.com/nicoloboschi/pulsar-validation-tool/blob/master/pulsar-scripts/pulsar-gha/cancel-workflows.js

We used it in the Apache Pulsar community.
The GH bug put those runs in a weird state

[2022-09-26 09:08] potiuk commented on #12902
Oh yeah. It's not nice neither for your users nor for other apache projects and seems it just went out of control for you

[2022-09-26 09:11] potiuk commented on #12902
For me it looks like your comment bot triggers itself in recursive fashion :(

[2022-09-26 10:03] potiuk commented on #12902
This one has started to heavily affect other problems (the "fairness" algorithms of GitHub likely get a very tough time with the project taking already almost 90% of the queueu @apache/tvm-committers (sorry for spam) -> i created the infra issue in the ASF asking to disable the workflow https://issues.apache.org/jira/browse/INFRA-23723 - not sure if they will/can do it but It would be great if you

[2022-09-26 11:01] gigiblender commented on #12902
Thank you for raising this, and we sincerely apologize for causing this inconvenience.

#12903 should disable the bot. Regarding skipping the already queued/in-progress runs, I don't have the GH permissions to do this and will have to wait a couple of hours for someone else (possibly in a different time zone) to do it. @driazati @areusch

[2022-09-26 12:25] potiuk commented on #12902
Thanks. I see that it already started to drop slighlty - > I see that it's down from 87 % of today's workflows to 80%

[2022-09-26 13:03] Mousius commented on #12902
@gigiblender / @potiuk I've started to take care of the remaining jobs 😸

[2022-09-26 13:14] Lunderberg commented on #12852
In principle, this should have been handled by the check on the return value of `DetectIterMap`.  However, because trivial iterators were removed, the check for `DetectIterMap` returning a non-empty vector wasn't sufficient to know that all iterators were present.

Possibly, though I think that's unrelated to the current bug.  That said, I think its use will come along for free when merging the im

[2022-09-26 13:41] Lunderberg commented on #12852
@tkonolige I tested it, and had the same behavior.  I was able to get better error messages by changing [this line](https://github.com/Lunderberg/tvm/blob/main/src/meta_schedule/utils.h#L292) from `tir::ScheduleErrorRenderLevel::kNone` to `tir::ScheduleErrorRenderLevel::kDetail`, and it looks like the error is thrown from [this check](https://github.com/apache/tvm/blob/main/src/tir/schedule/primit

[2022-09-26 16:12] driazati commented on #12902
Thanks everyone for flagging this and disabling the job quickly!

[2022-09-26 16:30] tkonolige opened #12907 "[Bug] Metaschedule ThreadedTraceApply::Apply failed with error ScheduleError: An error occurred in the schedule primitive 'parallel'"
Running this script:

[code]

repeatedly outputs the following warning:

[code]

Changing `utils.h` to print the full message, I get the following message:

[code]

I've bisected this problem to 779dc51e1332f417fa4c304b595ce76891dfc33a, which is the commit that introduced `tune_tir`. So it looks like this error has been around since the introduction of `tune_tir`.

@junrushao @zxybazh

[2022-09-26 16:49] junrushao commented on #12907
Looking a closer look at the TVMScript you provided - looks like you forgot to write an init block for the reduction, which is the cause of the problem

[2022-09-26 16:51] tkonolige commented on #12907
In this case, `C` is already initialized by the user. I don't want to zero it in this TIR function.

[2022-09-26 16:54] junrushao commented on #12907
Thanks! Uninitialized buffer is not supported by TIR as it’s out of the scope of TE compute. We might want to generate a better warning message for such cases

[2022-09-26 18:07] areusch commented on #12832
I'm hoping to land https://github.com/apache/tvm/pull/12880 shortly, will update this thread when it does so we can cherry-pick it.

[2022-09-26 19:22] potiuk commented on #12902
Down to 64% for today :)

![image](https://user-images.githubusercontent.com/595491/192362165-93e18e24-2dd3-4027-b4b4-df4158d957cb.png)

[2022-09-27 02:07] potiuk commented on #12902
We are back in business :)

<img width="1258" alt="Screenshot 2022-09-27 at 04 05 10" src="https://user-images.githubusercontent.com/595491/192414685-a085d44c-c6bb-4a91-a998-830a40c915e4.png">

[2022-09-27 02:09] potiuk commented on #12902
Thanks for super-quick reaction @Mousius @gigiblender !

I also asked INFRA to see if we can work out some kind of escape hatch in case similar thing happens in the future (not necessarily with TVM :) ) in https://issues.apache.org/jira/browse/INFRA-23723

Comments/suggestions/learnings from your side would be great to add there

[2022-09-27 02:10] potiuk commented on #12902
BTW. Special kudos to @lhotari for flagging it and to @tobked for the dashboard we have :)

[2022-09-27 09:51] ashutosh-arm commented on #12753
cc @driazati @leandron

[2022-09-27 11:15] potiuk commented on #12902
Quite spectacular:

![image](https://user-images.githubusercontent.com/595491/192511163-5605f401-a2b8-4fc8-b823-f5912290f70d.png)

I think we can close this one :)

[2022-09-27 16:41] #12878 closed

[2022-09-28 04:25] CR1SceNT opened #12921 "[Bug] All the measured programs in auto-scheduler report errors in Windows."
I'm trying to use auto scheduler to tune a matmul_add function. The code works fine in Linux, but in Windows, it seems all the programs errored in measurement.
[code]
Code show as below:
[code]

### Environment

OS: Windows 10. TVM version: 0.10.dev644+gfa5045bf6

[2022-09-28 06:52] shingjan opened #12922 "[Bug] Relay/TOPI `adv_index` not supporting `None` as arguments"
The advanced indexing implementation of relay/topi is not able to handle cases that use None as one of the indexing argument.

### My repro under `test_forward_index`
[code]

### Expected behavior

A tensor shaped `[1, 2, 3, 3, 3]` shall be returned.

### Actual behavior
[code]
### Environment

Latest TVM main

cc: @masahi

[2022-09-28 12:58] lhutton1 commented on #12883
This was actually updated in #12906 to bring in the driver stack update.

[2022-09-28 12:58] #12883 closed

[2022-09-28 18:27] usamec opened #12929 "[Bug] schedule tuning for sparse_dense with sparse_lhs=True crashes"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-09-28 20:32] janetsc opened #12933 "[Flaky Test] python-integration-contrib-test_ethosu-shard-5-ctypes failed on PR with unrelated changes"
I'm seeing a CI failure on python-integration-contrib-test_ethosu-shard-5-ctypes: tests/python/contrib/test_ethosu for Cortex-M5 on this PR:  https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-12918/2/pipeline.

A previous run was successful, and the only thing I changed was specific to Hexagon.

Full logs are here:  https://ci.tlcpack.ai/blue/rest/organizations/jenkins/pipelines/tvm/b

[2022-09-28 20:36] areusch commented on #12832
#12880 is ready to cherry-pick

[2022-09-28 21:30] areusch commented on #12832
if it's not too late, could https://github.com/apache/tvm/pull/12856 get cherry-picked as well?

[2022-09-29 01:34] masahi commented on #8877
stft added in https://github.com/apache/tvm/pull/11190 is implemented in a very naive way (exactly like 1D convolution). I think istft is easy using the similar approach, but fft / ifft with O(nlogn) complexity would be much more challenging.

[2022-09-29 01:34] #8877 closed

[2022-09-29 06:40] chayliu1991 commented on #12870
please me give me a link for discuss forum.

[2022-09-29 13:48] Lunderberg commented on #12907
This looks like it might be a good case for `T.assume`.  If I make an init block that assumes the `C` has already been zeroed out, then the `meta_schedule.tune_tir` call passes successfully.

[code]

[2022-09-29 19:02] mbrookhart commented on #12882
You can't compile a qnn model at Opt level 0, there are no default kernels for the qnn ops. Instead they are lowered to standard relay ops via [qnn canocialize and legalize](https://github.com/apache/tvm/blob/main/python/tvm/relay/qnn/transform.py), which use the relay Legalize pass, which is registered for [Opt Level 1](https://github.com/apache/tvm/blob/813136401a11a49d6c15e6013c34dd822a5c4ff6/s

[2022-09-30 07:50] zhyncs commented on #12832
@Hzfengsy @YuchenJin Hi TVM genius, when will relax be merged to tvm main upstream?

[2022-09-30 07:53] Hzfengsy commented on #12832
@zhyncs Thanks for your interest. Relax is at the RFC stage (https://github.com/apache/tvm-rfcs/pull/89). And we will upstream it when the RFC passes.

[2022-09-30 09:47] zuowanbushiwo opened #12952 "[Bug] No module named 'tvm.meta_schedule.apply_history_best'"
### Expected behavior

No Error happen

### Actual behavior

[code]

### Environment
Ubuntu
tvm: master
commit info:
[code]

Thanks！

[2022-09-30 10:24] #12952 closed

[2022-09-30 20:59] driazati opened #12955 "[Flaky Test] `tests/python/unittest/test_roofline.py::test_estimate_peak_flops[llvm]`"
### Test(s)

- `tests/python/unittest/test_roofline.py::test_estimate_peak_flops[llvm]`

### Jenkins Links

- https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/4402/pipeline

[2022-09-30 21:12] driazati commented on #12933
thanks for reporting! looks like we've seen this before (#12841) so I filed a PR to disable this test. Closing this issue for now to consolidate on #12841

[2022-09-30 21:12] #12933 closed

[2022-09-30 21:13] driazati commented on #11830
issue to still present (see #12956), but closing to consolidate on #12634

[2022-09-30 21:13] #11830 closed

[2022-09-30 21:13] driazati commented on #11763
issue to still present (see #12956), but closing to consolidate on #12634

[2022-09-30 21:13] #11763 closed

[2022-09-30 21:13] driazati commented on #11527
issue to still present (see #12956), but closing to consolidate on #12634

[2022-09-30 21:13] #11527 closed

[2022-09-30 21:13] #10487 closed

[2022-09-30 21:15] driazati commented on #11580
this hasn't happened recently, closing this since it appears to be fixed

[2022-09-30 21:15] #11580 closed

[2022-10-01 01:14] yzh119 commented on #12907
If you don't want to do anything inside `init` block you can just place a no-op inside it, e.g.
[code]
But there must be a `init` block existing so that the entire block would be recognized as a reduction block.

[2022-10-01 14:19] blackkker commented on #12882
Thanks for your reply. I got it！

[2022-10-03 07:03] joshherr-quic opened #12966 "[CI Problem] [Hexagon] Builder failing due to outdated LLVM"
### Branch/PR Failing

https://github.com/apache/tvm/pull/12873

### Jenkins Link

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-12873/6/pipeline#step-1503-log-710

### Flakiness

After implementing a dense op for float16 on hexagon, there is an instruction selection error in LLVM. It has been patched as of llvm 15.0.1. The builder is running 14 I believe. Ideally, I would like to

[2022-10-03 07:08] joshherr-quic opened #12967 "[CI Problem] Mac and Windows builders failing with missing python package"
### Branch/PR Failing

https://github.com/apache/tvm/pull/12931

### Jenkins Links

https://github.com/apache/tvm/actions/runs/3147975048/jobs/5118019253
https://github.com/apache/tvm/actions/runs/3147975048/jobs/5118019200

### Flakiness

Windows and Mac builders failing with error:
ImportError: Error importing plugin "tvm.testing.plugin": No module named 'synr'

[2022-10-03 18:57] guberti commented on #11216
Recently stumbled across this and found the issue. Turns out this issue stems from the fact the `kernel` in the above case takes up `2.25` words, while our tensor intrinsic only works when the kernel takes up a whole number of words. I'm working on a new schedule in #12969, which should avoid this problem.

[2022-10-03 20:52] ramanps05 commented on #12701
I am working on onnx models having matmul operations with 3d inputs. I am getting this issue while converting those models.

[2022-10-03 22:46] zxybazh opened #12976 "[Bug] CrossThreadReduction Lowering Issue"
When lowering certain cuda workloads, CrossThreadReduction may fail to lower to all reduce and creating racing condition.
[Script](https://gist.github.com/zxybazh/398b217108743af965503d3782a0bad1) available here to print out the lowered TIR.
Example TIR:
[code]

### Expected behavior

Cross thread reduction should be reduced to all reduce using `T.tvm_thread_allreduce`

### Actual behavior

Lowere

[2022-10-03 23:15] AndrewZhaoLuo opened #12977 "[Bug] FQ2I Pass May Duplicates Operations"
FQ2I can duplicate operations. More specifically, if an operation dominates the quantize in two QDQ regions, the operation can be duplicated.

### Expected behavior

See this [script](https://github.com/AndrewZhaoLuo/TVM-Sandbox/blob/main/quantization/issues_with_fq2i_pass.py#L93)  (use layers=1) where we want to convert the following fake quantized graph:

[code]
We expect a graph like:
[code]

#

[2022-10-03 23:18] AndrewZhaoLuo commented on #12977
cc @mbrookhart @masahi

This is potentially an issue. Please be aware of it by manually verifying models. It does not appear CSE pass eliminates this.

[2022-10-04 00:02] vinx13 commented on #12976
cc @MasterJH5574

[2022-10-04 04:39] MasterJH5574 commented on #12976
Thanks for letting me know! Is this original PrimFunc hand-crafted or generated by a schedule?

[2022-10-04 04:49] zxybazh commented on #12976
Hi it's generated by a schedule, see script [here](https://gist.github.com/zxybazh/6aa9aab11c5622e759217aaaf040c248).

[2022-10-04 06:00] AndrewZhaoLuo opened #12979 "TVM v0.10.0.rc0 Release Candidate Notes"
**Please leave any comments or edit this issue directly to adjust the release notes! Also see the rc0 vote thread in https://github.com/apache/tvm/issues/13026**.

# Introduction

The TVM community has worked since the v0.9 release to deliver the following new exciting improvments!
* Metaschedule
    * Software pipelining and padding for irregular shapes for auto tensorization
    * Stabilized and

[2022-10-04 18:30] Priyadrasta-2111CS10 opened #12982 "[Bug] RPCTimeEvaluator signature error"
### Expected behavior
The output should be something as follows that is shown in the user tutorial [https://tvm.apache.org/docs/tutorial/cross_compilation_and_rpc.html#sphx-glr-tutorial-cross-compilation-and-rpc-py](url)

`1.389e-07 secs/op
`

### Actual behavior
I got an error as shown below.
[code]

### Environment

I am using ubuntu 22.04 LTS as my local machine and Raspberry Pi 4 as my target

[2022-10-04 19:09] masahi commented on #12982
I remember seeing this error, it was fixed by updating and recompiling the runtime code on the device. Have you updated the runtime on the device recently?

[2022-10-04 19:28] hpanda-naut commented on #12801
### This issue is to track progress for [Issue Triage RFC](https://github.com/apache/tvm-rfcs/blob/main/rfcs/0093_Issue_Triage.md). This issue has these tasks:
 * [x]  Create labels described in the RFC.
 * [ ]  Modify ISSUE_TEMPLATES to remove Update CI Docker Image issue template and add `needs-triage` label. [[skip ci] Modify issue templates to align with Issue Tracking RFC #12898](https://gith

[2022-10-05 02:01] MasterJH5574 commented on #12976
@zxybazh Thanks! Just want to know how much this bug blocks your current progress? As I’m very busying with other things this week, I might not have much time looking into it now.

[2022-10-05 02:05] zxybazh commented on #12976
Hi Hongyi, I can work around it right now so take your time. Thanks for paying close attention!

[2022-10-05 11:13] #12982 closed

[2022-10-05 13:16] #12882 closed

[2022-10-05 14:25] mbrookhart commented on #12977
I don't know why CSE doesn't remove this, if we can fix the pass, I think that would be cleaner. That being said, the memoization is FQ2I probably isn't a bad idea.

[2022-10-05 14:30] caifeiy opened #12987 "Build TVM on MacOS failed"
Only set USE_LLVM=ON

`[ 26%] Building CXX object CMakeFiles/tvm_objs.dir/src/te/operation/create_primfunc.cc.o
/Users/ycf/Desktop/code/tvm/src/te/autodiff/ad_simplify.cc:542:29: error: 'value' is unavailable: introduced in macOS 10.13
        return var_pair_opt.value().first;
                            ^
/Library/Developer/CommandLineTools/SDKs/MacOSX12.1.sdk/usr/include/c++/v1/optional:954:27:

[2022-10-06 00:02] shingjan opened #12995 "[Bug] Semantically invalid TIR generated from Relay can be built into TVM's runtime module"
The following TIR generated from the `executor_codegen_` of relay is not valid and therefore shouldn't be accepted as a valid input to TVM's relay executor.

[code]

### Expected behavior

The build should fail.

### Actual behavior

The build succeeded and could introduce unexpected behavior.

### Environment

#12993

### Steps to reproduce
[code]

### Triage

* needs-triage

[2022-10-06 00:07] shingjan opened #12996 "[Bug] Relay -> TIR codegen issues with `reduce_axis(Range(PrimExpr, PrimExpr))`"
The current codegen of relay to TIR will introduce undefined variables for topi implementation lie mentioned in #12993. This [line](https://github.com/apache/tvm/blob/a85e2a8b230bd22b00636e758d3190d242e81af8/include/tvm/topi/transform.h#L2050) in the embedding_bag implementation could introduce undefined variables in the generated TIR from relay graph like shown in #12995. However `reduce_axis(Ran

[2022-10-06 00:10] zxybazh opened #12997 "[Bug][MetaSchedule] Compute-At DataType Mismatch"
I noticed a data type issue that can be triggered when applying compute-at, causing invalid expression in TIR script with incompatible datatype, thus failure in post processors and build.

To reproduce simple run this [script](https://gist.github.com/zxybazh/265b2996e736128eb78c29c94c7a35d3) would work. It can build successfully before schedule but fails with a data type mismatch error after a com

[2022-10-06 00:18] masahi commented on #12987
It compiles fine on my environment using clang 14. Maybe the older Apple clang doesn't have complete support for `std::optional`. If you google "error: 'value' is unavailable: introduced in macOS 10.13" you see many reports.

[code]

[2022-10-06 00:18] #12987 closed

[2022-10-06 19:12] vinx13 commented on #12995
This is unrelated to Relay as it happens in TIR lowering. I would suggest creating unit test in TIR to reproduce this issue.

[2022-10-06 20:05] shingjan commented on #12995
@vinx13 The way I see it is that the above relay graph is valid and then the relay->TIR lowering has some problem which is mentioned in this issue. #12996 is the pure TIR issue that this invalid TIR generated by the relay `executor_codegen_` is wrongly accepted and passed builds. I can create a TIR in the unit test that should fail.

[2022-10-06 20:52] tkonolige commented on #12955
Given that #12959 is merged, can we reenable the roofline test to get a stack trace for debugging?

[2022-10-07 12:35] guberti opened #13009 "[Bug] "SAME" padding function in topi.nn.utils ignores stride"
# Issue explanation
Currently, some of the functions in `tvm.topi.nn` support having their `padding` passed in as the strings `"SAME"` or `"VALID"` (examples: [1](https://github.com/apache/tvm/blob/main/python/tvm/topi/nn/conv3d.py), [2](https://github.com/apache/tvm/blob/main/python/tvm/topi/nn/conv1d.py), [3](https://github.com/apache/tvm/blob/main/python/tvm/topi/nn/conv2d_transpose.py), [4](ht

[2022-10-07 13:41] guberti opened #13010 "[Bug] Outer reduction axis having length 1 in TE causes strides assertion failure"
Often times, it is useful to have reduction axes with length 1 - e.g. to deal with a 1x1 kernel for a `conv2d`. However, when using `tensorize` in this case where the **outer** reduction axis has length one, you get an error like the following:

[code]

Note that this bug only occurs when the outer reduction axis has length one - all the others are fine. The issue occurs on the latest version of T

[2022-10-07 19:24] mehrdadh commented on #12362
@slyubomirsky I added a cleanup step in the ONNX frontend to replace `:` with `_`.

[2022-10-07 21:25] mehrdadh opened #13013 "[Runtime][AOTExecutor] set_input does not show error if input name does not exist in the model"
If we pass input dictionary with incorrect input name, aot executor would execute `set_input` function without actually setting the correct input or showing error that input name doesn't exist in the model. This will result in silently outputting the incorrect output from the model. I think it should show an error when the input name doesn't exist.

I found this error when I working on a model whi

[2022-10-07 21:35] alanmacd commented on #13013
@mehrdadh which flavor of AoT executor is this, also can you post some example code that shows the issue?

[2022-10-07 22:29] masahi commented on #12732
I just ran the tests after refactoring change in https://github.com/apache/tvm/pull/12895, it seems they have been fixed now.

[2022-10-07 22:29] #12732 closed

[2022-10-08 04:24] junrushao commented on #12732
Yes, I got it fixed. Thank you for spotting this!

[2022-10-09 07:20] zepingWww opened #13014 "[Bug] Why is the speed of running time by metal a lot slower than by cpu on M1?"
Hello, everyone. I’m new to TVM.

I’m using tvm to execute infering a model such as mobilenet on M1 pro and I have a question - when I compile the library by metal, it is too slow to execute. The time of inference compiled by metal is 352ms, and the time of of inference compiled by llvm is 35ms. In my opinions, the library compiled by llvm is using cpu as backend, and it is no possible to be faste

[2022-10-09 09:36] zuowanbushiwo opened #13015 "[Bug] ERROR: expect TVM_VENV env var to be set"
`./docker/build.sh demo_android -it bash`  and  ` docker build -t tvm.demo_android -f docker/Dockerfile.demo_android ./docker`

[code]

[2022-10-09 09:36] masahi commented on #13014
Please post such question to the discuss forum. The out of the box performance on metal is unlikely to be good, so you need to use auto scheduler to tune.

[2022-10-09 09:36] #13014 closed

[2022-10-10 06:03] zuowanbushiwo opened #13018 "[Bug] apps/howto_deploy/run_example.sh Error"
### Environment

host:Ubuntu  TVM:v0.10.0(dev)

### Steps to reproduce

[code]

[2022-10-10 06:58] cxx122 opened #13019 "[Bug] print_python_code_from_state Expected tir.IterVar, but got Array"
When I use the dag.print_python_code_from_state(state) method to get schedule code and apply it to my TE program, I got an error:
`Check failed: (!checked_type.defined()) is false: Expected tir.IterVar, but got Array`
Then I check the code and found a problem here.
The assignment of the tuple seems to miss the situation of one axis.
`TENSOR_3_k = tuple(TENSOR_3.op.axis) + tuple(TENSOR_3.op.reduce_

[2022-10-10 09:18] chengven027-intellif opened #13020 "[Bug] resize2d calculate result error"
Hi, TVM.
When I test `resize2d` test case, I got a error.
The test case is modify in onnx/test_forward.py.
[code]
Just add a attr of  `nearest_mode = round_prefer_ceil `   and use a downsampling test case `verify([1, 3, 320, 320], [1, 3, 96, 96], [] , "nearest", "half_pixel")`
then I got a error result.
[code]

and I  update the test case in:
[code]
Both calculations are correct.  :)

### Expected

[2022-10-10 09:44] liangzelang opened #13021 "[Docs] Compile tests error in `Installing TVM` chapters"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-10-10 17:52] vinx13 commented on #13021
please refer to the cmake error output
[code]

[2022-10-10 17:52] #13021 closed

[2022-10-10 22:32] AndrewZhaoLuo opened #13026 "[VOTE] Release Apache TVM v0.10.0.rc0"
Dear TVM community,

This is a call for vote to release Apache TVM version v0.10.0.  Please see #12102 for any edits you would like to see included in the release notes.

Link to release notes:
https://github.com/apache/tvm/issues/12979

Link to release candidate:
https://dist.apache.org/repos/dist/dev/tvm/tvm-v0.10.0-rc0/

The vote will be open for at least 72 hours. Everyone is welcomed to vote.

[2022-10-10 23:04] shingjan commented on #13026
+1. Great work @AndrewZhaoLuo !

[2022-10-11 04:13] Johnson9009 commented on #12832
Does the release do more extra testing than the branch main?
In general, the release process contains two kinds of works, the first one is arrangement, like we have done here, e.g, release note, license confirmation, ..., the other one is testing, some company or organization may use the work "sign off", the full test suite will be confirmed to meet the release requirement.
My question is that do

[2022-10-11 05:48] ganler opened #13029 "[Bug] shape int32-int64 check error in `trilu`'s `te.compute`"
### Expected behavior

TVM should successfully compile a model whose operators are supported.

### Actual behavior

The compilation could fail when the model contains the [recently](https://github.com/apache/tvm/pull/12124) supported `trilu` operator.

In the  `Steps to reproduce` section, the minimal reproducible is derived from an ONNX model exported by PyTorch which uses `int64` as shape argume

[2022-10-11 06:14] ganler opened #13030 "[Bug] `trilu` not tagged with `injective` and thus miss reduce schedule"
### Expected behavior

TVM should successfully compile a model whose operators are supoprted.

### Actual behavior

For some cases, `trilu-argmin` cannot find a reduction strategy and thus throw:

https://github.com/apache/tvm/blob/813136401a11a49d6c15e6013c34dd822a5c4ff6/python/tvm/topi/x86/reduction.py#L90

The reason is that in this case `trilu`'s `operator.tag` is empty which is not regarded a

[2022-10-11 07:22] ganler opened #13031 "[Bug] Compilation failure for `broadcast-argmax` in internal type inference"
### Expected behavior

Pass compilation.

### Actual behavior

Having:

[code]

will fail type inference used in some intermediate passes. But it is a well-formed model and can pass a direct type inference. So some passes might create ill-formed relay IR and reveals the error in some later type inference.

### Environment

https://github.com/apache/tvm/commit/fa17da22c73fb9e95c27e4c28130835b628caf

[2022-10-11 07:39] tmoreau89 commented on #13026
+1 great work @AndrewZhaoLuo

[2022-10-11 07:43] shengxinhu commented on #12885
you should set freeze_params = True

[2022-10-11 07:53] areusch commented on #13026
+1. checked tarball prefix directory name and i don't see any changes to 3rdparty directory.

[2022-10-11 07:57] leandron commented on #13026
+1 thanks for the work @AndrewZhaoLuo

[2022-10-11 08:10] lhutton1 commented on #13026
+1, thanks @AndrewZhaoLuo!

[2022-10-11 09:15] tvm-archiver commented on #12583
+1 (binding)

In which circumstances do we need to vote btw? I suppose it’s an approved
RFC and didn’t see objection.

On Wed, Aug 24, 2022 at 15:50 driazati ***@***.***>
wrote:

[2022-10-11 09:24] tvm-archiver commented on #11415
+1

(Binding)

[2022-10-11 16:14] driazati commented on #13026
+1, checked the gpg signature and build, all looks good!

[2022-10-11 16:16] driazati commented on #13015
cc @areusch

[2022-10-11 16:34] mehrdadh commented on #13013
@alanmacd I have tested this on AOT with C++ and it doesn't show any error. It might also be a problem with CRT.
To reproduce the error, you can use this test: https://github.com/apache/tvm/blob/0b034d77bd611ca7642b7211fa34110a87271f25/tests/python/relay/aot/test_cpp_aot.py#L54

If you apply this modification, then the test fails because the output is incorrect but you don't see any error regardin

[2022-10-11 16:36] #12779 closed

[2022-10-11 16:38] mehrdadh commented on #12608
I tested the hexagon docker image, the issue still exists. Perhaps the issue is related to user not having permission on python packages installation path

[2022-10-11 16:42] mehrdadh commented on #8258
replicated in https://github.com/apache/tvm/issues/12608

[2022-10-11 16:42] #8258 closed

[2022-10-11 17:09] driazati commented on #12599
closing since this hasn't happened in a while

[2022-10-11 17:09] #12599 closed

[2022-10-11 17:53] driazati commented on #12966
Unfortunately the process for something like this is a little clunky. The LLVM that runs in CI is part of a Docker image defined in [`docker/`](https://github.com/apache/tvm/tree/main/docker), a separate PR to update that to 15 would just need to change the version for hexagon: https://github.com/apache/tvm/blob/main/docker/install/ubuntu_install_hexagon.sh#L22-L29

Once that's done we'll need to

[2022-10-11 17:55] driazati commented on #12967
The windows/mac builds use conda to install dependencies each time they run: https://github.com/apache/tvm/blob/main/conda/build-environment.yaml, you should be able to add `synr` somewhere there to get #12931 working