[2018-08-14 16:59] tqchen commented on #1559
according to java's wrapping, we can introduce TVMValue object as an intermediate variant type, and the call will look like

[code]

[2018-08-14 17:04] srkreddy1238 commented on #1559
Sure, I will refer java wrappers and add them in golang too.

[2018-08-14 19:43] tqchen opened #1601 "[RFC] Rust Support"
There are two parts of the things that can be done in rust:
- Rust "frontend" as in java/js, that wraps the current C API and expose a rust programming model
   - This allows most users to use tvm and its runtime(gpu/vulkan support etc)
   - Need to link runtime(by c++, or "backend" in next part)
- Rust "backend" which serves as an alternative to current C++ runtime.
   - It gives a standalone WAS

[2018-08-14 19:54] nhynes commented on #1601
From an organizational perspective, we can have
[code]

the `runtime/` would continue to be the `tvm` package on crates.io and the frontend could be named elsewise.

[2018-08-14 20:09] ehsanmok commented on #1601
I agree @nhynes and I'd love to hear your feedbacks of my frontend when is completed as this is my first major Rust project and still learning a lot. The same to @jroesch as well :)

[2018-08-14 21:17] tqchen commented on #1601
Please also comment on official code-styles that we should generally follow in rust package

[2018-08-14 21:19] nhynes commented on #1601
The `.rustfmt.toml` currently used in #1597 is the default produced by `rustup --dump-config` for rustfmt version 0.6.1. We should just use the default unless there's a good reason not to.

[2018-08-14 21:42] tqchen opened #1602 "[RFC] Python3 Timeline"
We plan to do some improvements to the IR in this release cycle, and one such question that comes up is that to what extent do we agree on python support. Up until now, TVM has always been compatible to both python2 and python3. However, there are language features in python3 that we like, in particular:

- Type annotations like ```def myfunc(x:int) -> int``` introduced python3.5
- Class type anno

[2018-08-14 21:42] tqchen commented on #1602
cc @dmlc/tvm-team

[2018-08-14 21:54] nhynes commented on #1602
+1 for python3.6

* Amazon Linux 2 and [Homebrew (macOS)](https://github.com/Homebrew/homebrew-core/blob/master/Formula/python.rb) are on 3.7
* [Ubuntu 18.04 LTS is on 3.6](https://packages.ubuntu.com/bionic/python/python3)
* the [EPEL](https://mirror.umd.edu/fedora/epel/7/x86_64/Packages/p/) contains python 3.6

[2018-08-14 21:59] merrymercy commented on #1585
It is a great step. For graph level planning, current DP solution for layout is nice. For operator level tuning, we can reuse measurement/tuner infrastructure in autotvm.

It seems that we developed our custom tuner systems at a same time, and there are a lot of things to do for the merge. But keeping an unified infrastructure ensures the maintainability.
I can give some guidance on porting the ex

[2018-08-14 22:31] yzhliu commented on #1602
FYI https://python3statement.org/

I tend to have a conservative timeline. Python2 is still installed by default in most Linux distro, supporting py2 is friendly to those just want to have a try. And I'm not sure how many enterprise users are stuck on py2 at the moment.

[2018-08-14 23:04] nhynes commented on #1602
FWIW, TVM de facto requires LLVM 4+  for CPU support, but LLVM isn't in any of the current distros. Python compiles _much_ faster than LLVM, so I wouldn't take what's in the default repos to be a constraint.

[2018-08-14 23:09] tmoreau89 commented on #1602
+1 for 3.6, it seems like the way forward. We already test script compatibility in integration tests right?

[2018-08-14 23:46] yzhliu commented on #1516
I think it is because vectorize cannot have if...else... inside. Since new changes in #1506 can now avoid such situation, shall we close it?

[2018-08-14 23:49] masahi commented on #1602
Dropping py2 completely seems too aggressive to me. I often see error logs on the discussion forum where people are still using python 2.7.

So I'm +1 for requiring py3 for new features only for now. In the meantime, we should encourage users to switch to py3, in the next release note for example.

[2018-08-15 07:27] jroesch commented on #1601
I would be happy to jump in and do some Rust hacking in the future with you guys, but am pretty busy with some new TVM stuff @tqchen and I have been working on. I'm happy to provide feedback and code review though, until I have a few more cycles available.

[2018-08-15 12:47] huanglishan6 commented on #1598
in _impl_v7
params = {‘scale’: int(scales[-1])}
TypeError: ‘NoneType’ object has no attribute ‘getitem’

Still encountered this error. Why’s that??

在 2018-08-15 00:45:11，"Tianqi Chen" <notifications@github.com> 写道：

Closed #1598.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-08-16 03:09] tqchen commented on #1559
Please update the examples once you have an updated API and I will check again

[2018-08-16 03:10] tqchen commented on #1602
The conclusion seems to be we should always enforce py2 compatibility for the runtime. We might consider requiring py3 for new features

[2018-08-16 06:12] kevinthesun commented on #1585
@merrymercy Thanks for suggestion! I'll make changes accordingly.

[2018-08-16 07:19] huanglishan6 opened #1607 "run nnvm_qucik_start.py error"
Traceback (most recent call last):
  File "nnvm_quick_start.py", line 83, in <module>
    net, target, shape={"data": data_shape}, params=params)
  File "/home/hls/.local/lib/python2.7/site-packages/nnvm-0.8.0-py2.7.egg/nnvm/compiler/build_module.py", line 315, in build
    graph = graph.apply("GraphCompile")
  File "/home/hls/.local/lib/python2.7/site-packages/nnvm-0.8.0-py2.7.egg/nnvm/graph.py",

[2018-08-16 09:33] srkreddy1238 commented on #1559
Updated API interface above with wrappers on ```TVMValue``` and ```TVMContext``` wrappers API.

Please find below complex example which use these wrappers.

[code]

[2018-08-16 11:47] FrozenGene commented on #1602
+1 For a new set of features, require python3.5+. Enforce python3.6 is too aggressive. Many Linux distro are Python 3.5.

[2018-08-16 15:25] zhreshold commented on #1602
+1 for 3.5, it's too early to drop 3.5 at this time.

[2018-08-16 15:33] Cyoung7 opened #1609 "FileNotFoundError: [Errno 2] No such file or directory: 'nvcc': 'nvcc'"
Traceback (most recent call last):
  File "/media/cyoung/000E88CC0009670E/projectCV/implement_tvm/tvm_handson/compiling_model/main.py", line 24, in <module>
    net, target, shape={"data": data_shape}, params=params)
  File "/home/cyoung/.local/lib/python3.6/site-packages/nnvm-0.8.0-py3.6.egg/nnvm/compiler/build_module.py", line 304, in build
    graph = graph.apply("GraphCompile")
  File "/home/c

[2018-08-16 15:58] kazum commented on #1596
Sorry for being late. I’d like to add preliminary support for HLS shecudler to allow compiling actual neural networks with AOCL and SDAccel backends.

[2018-08-16 16:01] tqchen commented on #1609
Thanks for raising the issue, please open a thread in https://discuss.tvm.ai/

[2018-08-16 16:01] #1609 closed

[2018-08-16 16:01] tqchen commented on #1607
Thanks for raising the issue, please open a thread in https://discuss.tvm.ai/

[2018-08-16 16:01] #1607 closed

[2018-08-16 17:09] tqchen commented on #1454
I think a bit more about it, maybe a better way is to enable RPC to return a remote NDArray in its return values, it needs a bit to refactor of RPC but doable, I will try a stab on this

[2018-08-16 19:29] tqchen commented on #1454
https://github.com/dmlc/tvm/pull/1610 support this feature, so we can directly do  get_input_array and get_output_array

[2018-08-16 20:56] taknevski opened #1611 "Tensorize in multithreaded environment"
[test.tar.gz](https://github.com/dmlc/tvm/files/2295210/test.tar.gz)
Hi,
I have a small test case where I do a 2-d matrix addition.
A = tvm.placeholder((4,16), name='input1')
B = tvm.placeholder((4,16), name='input2')
C = tvm.compute((4,16),
          lambda m,n: A[m,n] + B[m,n],
          name='output')

I tile on the leading dimension by 2 and parallelize as follows:

  m,n = s[C].op.axis

  m_o

[2018-08-16 21:03] taknevski commented on #1611
I parallelize like this:

  s[C].parallel(m_outer)

[2018-08-16 21:06] tqchen commented on #1611
Thanks for bringing up the discussion, can you open a new thread at https://discuss.tvm.ai/ instead?

[2018-08-16 21:06] #1611 closed

[2018-08-16 21:27] taknevski commented on #1611
I created a thread on the discuss forum, but was unable to upload the test case..

[2018-08-17 02:05] Cyoung7 commented on #1609
Ok,thanks .I open a thread ask this question

[2018-08-17 02:08] merrymercy commented on #1414
@FrozenGene Any update on this?

[2018-08-17 02:58] FrozenGene commented on #1414
@merrymercy I am applying the process of open source in my company, could you wait for a while? Sorry for this inconvenience.

[2018-08-17 17:05] tqchen commented on #1559
The API looks good, please also include examples for how can we use callbacks

[2018-08-17 17:08] mnuyens opened #1617 "[COMPILER][BUG] Can't cross compile OpenCL target without OpenCL device"
If you enable OpenCL and are running on a device without a gpu (in my case a virtual machine) you can't compile a model for the target tvm.target.intel_graphics, due a check in the opencl_module.cc file.

CHECK(workspace_->context != nullptr) << "No OpenCL device"

I tried disabling that check and it compiles afterwords, but the compiled lib file won't load.
I get the following error message.

Che

[2018-08-17 21:17] tqchen commented on #1617
Thanks for bringing this up, please open up a thread in https://discuss.tvm.ai/

[2018-08-17 21:17] #1617 closed

[2018-08-18 14:41] srkreddy1238 commented on #1559
@tqchen

One situation while designing function callbacks for discussion.

The function closure is defined as ```func (args ...interface{}) (*Value, error)``` which takes golang types as variadic args and packs them as TVMValue array internally. The return value is TVMValue and AsXXX wrappers are provided to access the underlying values.

I am looking at function callbacks definition as ```func (a

[2018-08-19 03:36] xqdan commented on #1592
fixed by #1616

[2018-08-19 03:36] #1592 closed

[2018-08-20 02:31] tqchen commented on #1485
We decide the number of the internal axis by how many axis that are not passed into compute. in your case, because C is supposed to have 4 axis, but only two are passed into compute, so there are two internal axis

[2018-08-20 03:06] junrushao1994 commented on #1602
I am a big fan of python 3.6+, just a question out of curiosity: typed_ast in mypy seems to support python 2.7 as well, using grammar like
[code]
So what prevents us supporting python 2.7?

Thanks!

[2018-08-20 19:04] eqy commented on #1585
@kevinthesun do you have previously collected data on the best graph level (data layout) choices for some different C5 instance types (e.g., xlarge, 2xlarge, 4xlarge, 9xlarge) on ResNet-50?

We are planning on doing some experiments with autotvm on EC2 and those would be very valuable for us.

[2018-08-20 19:51] kevinthesun commented on #1585
@eqy https://github.com/kevinthesun/intel-benchmark This repo contains link to pre-tuned best schedules for several imagenet models. These schedules are searched on c5.9xlarge, but can be directly applied to other types of c5. Convolution schedules are stored in the ascending order of  node index.

[2018-08-20 20:00] kevinthesun commented on #1585
@merrymercy I checked arm_cpu conv2d and have several questions for implementation detail:
1. autotvm.task.extract_from_graph can extract tasks from graph. What if we want to extract conv2d_NCHWc instead of conv2d from graph?
2. Is it possible to use one DispatchContext for tuning and another DispatchContext for compiling? For tuning we can use normal DispatchContext to generate a schedule from a

[2018-08-20 20:29] #1516 closed

[2018-08-20 20:41] eqy commented on #1541
@sanallen What is the use case that requires support via an offset parameter?

[2018-08-20 20:46] tqchen commented on #1559
OK, I think it is fine to use the interface if go users are familiar with that.
One second thought on the callbacks, we do need a way to convert functions into handles and pass PackedFunc handle back when there is a function argument. We can do it either by attaching a field to the closure(if go permit that, as in https://github.com/dmlc/tvm/blob/master/web/tvm_runtime.js#L466), or we do need a cu

[2018-08-20 22:20] tqchen commented on #1602
@junrushao1994 I agree that we could use the comment callback for backward compat with 2.7

[2018-08-21 00:48] tqchen commented on #1541
I feel that at the moment we do not yet have a clear use case for this API, so in the spirit of keeping things minimum, we do not have to support this for now. Let us revisit this when we have a concrete use case. Thanks @sanallen for the proposal

[2018-08-21 00:48] #1541 closed

[2018-08-21 00:49] tqchen commented on #695
I am closing this issue as has not been actions around this issue for a while in the spirit of making all the issues actionable and close stale ones, let us open a new one when we have new activities.

[2018-08-21 00:49] #695 closed

[2018-08-21 02:37] FrozenGene opened #1624 "[AutoTVM][ARM CPU] conv2d_transpose raise AttributeError: 'tuple' object has no attribute 'split'"
When to use auto-tvm to train the model contained conv2d_transpose, it will raise the error:
[code]
I find the reason is here: https://github.com/dmlc/tvm/blob/master/topi/python/topi/arm_cpu/conv2d_transpose.py#L106, if we delete ```astype(out_dtype)```, it will be ok. @merrymercy

[2018-08-21 06:33] srkreddy1238 commented on #1559
@tqchen

Here is the final sample with packed function system support for golang.
Please comment on the ```//TODO``` below to finalize.

[code]

[2018-08-21 09:39] xqdan opened #1625 "[Tensorize] Tensorize failed after reorder"
Hi all,
   case below can reproduce this issue. we explore a little bit, found that when do CHECK, still using stale axis info, when disable these CHECKS, tensorize can give the expected result.  we raise this issue for the better solution of this case.

`TensorEngine/src/op/tensorize.cc:238: Check failed: is_one(e.region[i]->extent) Tensorize tensor_intrin: Input dimension mismatch with tensor in

[2018-08-21 09:42] xqdan commented on #1625
@ZihengJiang

[2018-08-21 15:32] tqchen commented on #1625
Let us move the discussion to https://discuss.tvm.ai/

[2018-08-21 15:50] xqdan commented on #1625
look like its a bug

[2018-08-21 16:44] merrymercy commented on #1585
1. We extract task from the original graph without alter op layout. In autotvm, the workload of conv2d_NCHWc and conv2d should be the same. conv2d_NCHWc is a strategy of scheduling, like im2col, winograd.
2. Exactly. You can create many dispatch context and use
[code]
3. No. You can call `create_measure_batch`. It will return this function for you. You can see the usage of `create_measure_batch` h

[2018-08-21 17:41] tqchen commented on #1596
int8 gemm recipe https://github.com/dmlc/tvm/pull/1614

[2018-08-21 17:51] tqchen commented on #1625
We can always use the discussion for discussing solutions for problems we encounter, including possible bugs, more users will be watching and using it.

Once we have a concrete action plan for it, we can open issues and PR to solve it actively. Nevertheless, i am going to keep it open for a while to see if we can quickly confirm it, Thanks @xqdan

[2018-08-21 17:59] tqchen commented on #1559
- Let us keeps the PackedFunc(Function) interface consistent, i.e. GetGlobalFunction should also return PackedFunc, as they can be passed as arguments
- For the same reason, let us either always enforce PackedFunc to return Value or always return the interface, both are fine, but we need to be consistent.
- Please provide examples that involve closure when Function
   - PackedFunc(Function) is pas

[2018-08-21 18:07] tqchen commented on #1559
One possible problem of the current callback interface is that the value types seem to be pretty strict, for example, we do ```pfunc.Invoke((int64)(0))```, but ideally, we want to support  ```pfunc.Invoke(0)```.

One option is to Value as a signature for the implementation of callback could be helpful. So callback's signature takes in Value and call AsXXX during to get the argument and construct V

[2018-08-22 03:46] srkreddy1238 commented on #1559
To summarize the TODO
- GetGlobalFunction should return TVMFunction (Packed Function) which will be called via Invoke method to be consistent across.

- Packed function signature would be ```(args ...interface{}) (interface{})``` which can take or return native golang types (like int/float/ ..etc) as well as TVM Types (TVMValue/TVMArray ...etc) which will be converted to TVMValue under the hood be

[2018-08-22 03:50] merrymercy commented on #1624
I don't have this problem.
Does it happen during the feature extraction or during the compilation?

The feature extraction is tested here
https://github.com/dmlc/tvm/blob/b7beb1ebefa18e29bfbf8ff1c4f8f0c8892d93bc/nnvm/tests/python/compiler/test_autotvm_task_extraction.py#L59

BTW, the conv2d transpose is also not fully optimized.

[2018-08-22 04:53] srkreddy1238 commented on #1559
```pfunc.Invoke((int64)(0))``` strict tying may not be necessary as we can handle this while wrapping them into TVMValue.

[2018-08-22 06:13] FrozenGene commented on #1624
Happened to the task extraction.

[2018-08-22 13:46] JammyZhou commented on #1596
@tqchen from TVM perspective, any comments on [ONNXIFI](https://github.com/onnx/onnx/blob/master/docs/ONNXIFI.md)? I'm thinking about how TVM stack can fit into it.

[2018-08-22 15:26] tkclimb opened #1633 "SSD demo doesn't work properly on macOS High sierra and Ubuntu16.04"
In my environment such as macOS High sierra and Ubuntu16.04, the SSD demo showed below doesn't work because of uncertain bus error.
https://docs.tvm.ai/tutorials/nnvm/deploy_ssd.html#sphx-glr-download-tutorials-nnvm-deploy-ssd-py

I paste the error below, and also I inspected the actual place where the problem happened, I found that is on the call of the compiled function.

[code]

[code]

[2018-08-22 18:56] eqy commented on #1585
@kevinthesun Can you check that the format of `MeasureInput` and `MeasureResult` that you use don't contain any non-serializable data structures? e.g., we only use NamedTuples and Lists

[2018-08-22 19:33] merrymercy commented on #1585
TVM Tensor will be serialized by https://github.com/dmlc/tvm/blob/b11f2a0495541cb348ae89093fd233d78eefec6e/python/tvm/autotvm/task/nnvm_integration.py#L17
or
https://github.com/dmlc/tvm/blob/b11f2a0495541cb348ae89093fd233d78eefec6e/python/tvm/autotvm/task/task.py#L185

[2018-08-22 21:53] kevinthesun commented on #1633
https://github.com/dmlc/tvm/pull/1388 This issue will be dealt within this PR.

[2018-08-23 01:01] tkclimb commented on #1633
@kevinthesun
Thanks for your reply.
I'm gonna try it.

[2018-08-23 01:35] xqdan commented on #1625
understand, I'll make a copy to discuss

[2018-08-23 15:30] tqchen commented on #1559
One thing to keep in mind is that in the cases where interface{} is used, we also need to support Value as a argument/return

[2018-08-23 21:11] zhiics opened #1650 "[runtime] TypedPackedFunc causes build failure on mac with clang compiler"
@tqchen

I just pulled the latest code from the master branch to compile it on my mac with clang-7.0. I got a compiler error that complains about https://github.com/tqchen/tvm/blob/77422e349e03a75ce60991c205f2731e3febf80c/include/tvm/runtime/packed_func.h#L184

We can compile it on ubuntu with g++. I think the reason is probably because g++ will use the implicit conversion in the TypePackedFunc, b

[2018-08-23 21:58] tqchen commented on #1650
should be fixed by https://github.com/dmlc/tvm/pull/1649

[2018-08-23 21:58] #1650 closed

[2018-08-23 23:15] kevinthesun commented on #1585
If I want to get MeasureResult from a tuner, do I need to create a callback, or there is API existing to do this?

[2018-08-24 02:44] merrymercy commented on #1585
There is no existing API.

[2018-08-24 12:39] srkreddy1238 commented on #1454
@tqchen
Do we leave existing ```get_output``` as is is and go with new API as ```get_input_array(index)``` and ```get_output_array(index)``` to return NDArray?

[2018-08-24 12:44] srkreddy1238 commented on #1559
Yes, Value is handled.

Also covering ```[]Value``` which is possible when ```a callback function calling another callback function with  slice of it's own arguments```.

[2018-08-24 15:59] liangfu opened #1656 "[RFC][VTA] Support Intel FPGA in VTA"
## Objective

- To make VTA available for intel FPGA.
- To demonstrate the quantized resnet18 on DE10-nano.

## Interface Changes

- `tvm/vta/hardware/intel_fpga` would be created.
- Interface design of the instructions would be kept consistent with current implementation.
- Avalon ST interface would be used in Intel FPGA for data streaming

## Actionable Items

- [x] Implement HLS based `fetch`,

[2018-08-24 16:48] tqchen commented on #1454
yes, let us do that, however, let us make sure to redirect the calls if  can be implemented on top of another

[2018-08-24 22:03] ajtulloch commented on #1596
Re microkernels/tensorization, I've been looking at that stuff the last few months or so. There's some WIP stuff in https://github.com/ajtulloch/tvm/tree/tvm-using-val/tensorize, notably:

- FP32 GEMM kernels (ARMv7, AVX2)
- Int8 x Int8 -> Int32 GEMM kernels (AVX2, adding ARMv7 shortly)

My hypothesis is that we can get a pretty decent part of the way with just GEMM microkernels for a lot of these

[2018-08-24 22:15] anijain2305 commented on #1596
@ajtulloch I am working on Intel 8-bit Conv implementation using Intel Skylake AVX512 instructions (with the long-term goal of using VNNI instructions). I am not using GEMM-based convolution though. I am starting from NCHWc format direct convolution present in current conv2d topi implementation. I should have some numbers for the conv operator by the next weekend and can share them.

[2018-08-24 23:48] kevinthesun commented on #1585
Can't we pass ConfigSpace into attrs of tvm.compute? I got ValueError: don't know how to convert type <class 'tvm.autotvm.task.space.ConfigSpace'> to node

[2018-08-24 23:50] kevinthesun commented on #1585
Can't we pass ConfigSpace into tvm.compute? I got ValueError: don't know how to convert type <class 'tvm.autotvm.task.space.ConfigSpace'> to node.

[2018-08-25 08:11] tmoreau89 commented on #1656
This is a great initiative. Please let me know if you need any help on understadning VTA design elements. Down the road we may want to merge sources and have vendor specific interfaces and pragmas is we rely on HLS. This will ensure that our source remains consistent across different vendors. A DE10 nano reference design is the right start. We may purchase one on our end to validate your design.

[2018-08-25 08:27] liangfu commented on #1656
@tmoreau89 I'm wondering why your current design is clocked at 100MHz, and it still achieves 7ns execution cycle, as it should N times of 10ns.

[2018-08-25 10:34] srkreddy1238 commented on #1454
#1659 for review.

[2018-08-26 02:41] huanglishan6 commented on #921
Please I don't know how to link the opencl library for RK3288.
"The cross compiled library: runs on your phone, this must be built with USE_OPENCL=1, and link to proper opencl library on your phone"
Help

[2018-08-26 03:43] srkreddy1238 opened #1662 "[TENSORFLOW] get_output error for LSTM & StridedSlice"
Ref. #1659

TVMArray argument for get_oputput here doesn't match with actual dimension but match total size.

@joyalbin Can you help to check ?

[2018-08-26 06:05] tmoreau89 commented on #1656
@liangfu good question. The 7ns target is passed to HLS to insert pipeline register in the synthesized module in order to close timing. It turns out that if you set the target period to 10ns, the design won’t close timing at 100MHz. Setting a more aggressive target in HLS will insert more registers and therefore allow us to close timing at 100MHz more easily. It’s a bit of a hack but it works. I’m

[2018-08-27 17:53] kevinthesun opened #1667 "[Hybrid Frontend] Parse error"
[code]

This code returns following error:
tvm._ffi.base.TVMError: [17:48:54] /home/ubuntu/tvm/include/tvm/./packed_func_ext.h:156: Check failed: type_code_ == kNodeHandle (4 vs. 8)  expected NodeHandle but get NULL

@were

[2018-08-27 18:12] were commented on #1667
[code]

[2018-08-27 18:12] were commented on #1667
I got this on my machine. Can you try rebuilding TVM?

[2018-08-27 18:49] zhiics commented on #979
Did anyone look into this? I am also having the same problem. I split the graph into OpenCL part and GPU part. Three data copy nodes were inserted. It turned out that the first data copy operation takes about (2.7s), the second takes around 40ms, and the third one only needs ~0.5ms. Any idea why is it getting faster?

[2018-08-27 18:57] kevinthesun commented on #1667
Actually I missed something. It looks like the docstring cause this problem:
[code]
If I remove docstring, it works fine.

[2018-08-27 19:16] were commented on #1667
Sorry, my carelessness.

[2018-08-27 19:33] were commented on #1667
#1668

[2018-08-27 20:43] merrymercy commented on #1596
@ajtulloch  It will be great if you can send a tutorial or [topi recipe](https://github.com/dmlc/tvm/tree/master/topi/recipe)

[2018-08-27 20:52] ajtulloch commented on #1596
@anijain2305  you might find https://github.com/ajtulloch/tvm/blob/tvm-using-val/tensorize/gemm__avx2.c#L424-L531 or a similar microkernel for AVX512 useful on Skylake (same as MKL-DNN's vpmaddubsw/vpmaddwd/vpaddd sequence on AVX2/AVX512 pre VNNI).

@merrymercy what would be useful to have documented/tutorialized or made into a recipe?

[2018-08-27 22:11] merrymercy commented on #1596
I think making a simple runnable conv2d example and showing its speedup will be very useful.

[2018-08-27 22:27] #1667 closed

[2018-08-29 00:54] FrozenGene commented on #1596
+1 to one conv2d runnable example. Besides ARMv7 / AVX2, I think we should also add SSE too. For some embbeding platforms, which would use Intel ATOM processors. However, Intel ATOM processors only support SSE4.2 at most, not AVX2.

[2018-08-29 08:04] jroesch opened #1673 "[RFC] NNVMv2 IR - Relay"
# [RFC]: Relay a new high level IR for TVM

Relay is a new high level intermediate representation (IR) intended to act as v2.0 of NNVM.

# Motivation

Computation graphs are a powerful program representation as demonstrated by the first generation of DL frameworks.  Most popular frameworks have employed computation graphs as their input, intermediate representation, and execution data structure.

[2018-08-29 11:29] huanglishan6 opened #1675 "ValueError: not enough values to unpack (expected 4, got 0)"
Traceback (most recent call last):
  File "onnx_test_hls.py", line 57, in <module>
    shape = shape_dict, params=params)
  File "/home/hls/Documents/MyWorkplace/sofeware/tvm/nnvm/python/nnvm/compiler/build_module.py", line 305, in build
    graph = graph.apply("GraphCompile")
  File "/home/hls/Documents/MyWorkplace/sofeware/tvm/nnvm/python/nnvm/graph.py", line 234, in apply
    check_call(_LIB.NN

[2018-08-29 12:43] masahi commented on #1673
hi @jroesch, looks cool. I am hoping that this is a TVM's answer to Tensorflow's somewhat awkward tf.while_loop or other control flow constructs.

Regarding this sentence,
`Finally we believe the high level must be designed in tandem with the low level IR, allowing for the two layers to communicate during compilation to achieve optimal performance.`,
does HalideIR correspond to the "low level IR"?

[2018-08-29 13:18] junrushao1994 commented on #1673
We know that the goal of designing a new IR is to benefit potential optimization, so could you be more specific that what kinds of optimization Relay is planning to support?

[2018-08-29 15:47] tqchen commented on #1673
@junrushao1994 can you also elaborate on your use-cases and how easy/hard it is to bring this to the current proposal?

[2018-08-29 15:48] tqchen commented on #1673
This is one of the major design chance and we would love to have participation from the community to review and improve the proposal @dmlc/tvm-team

[2018-08-29 15:58] tqchen commented on #1673
Thanks @jroesch for the proposal, I am going to elaborate some of my take on this proposal.

## Specific Technical Points
- Tight integration with TVM node system. NNVM was designed pre-tvm so we did not put tvm runtime into consideration. This makes registering python callback, traversing the IR and interaction hard for the current nnvm. Relay refactor directly bring this tight integration, now e

[2018-08-29 17:42] yzhliu commented on #1675
Could you move this to [TVM Forum](https://discuss.tvm.ai) ? We are trying to make issue an actionable item and move general questions, discussions, RFC to the forum.

Also would you mind provide your test script? thanks.

[2018-08-29 17:42] #1675 closed

[2018-08-29 18:17] junrushao1994 commented on #1673
I would say the design itself is perfect, which address almost all problems that this design targets. The implementation is elegant and I love it. So please allow me to take the liberty to talk about some concerns that might be out of the target of the current design.

[2018-08-29 21:57] tqchen commented on #1673
+1 on making things accessible(worse is better), this is exactly what we should push for.

 Making most part functional makes differentiation easy and allows build the things around. It is important to be able to support mutation in some of the outer loops, where diff is not needed. Have such clear distinction is important.

The List Dict programming style is more like multi staging program, where

[2018-08-29 22:34] jroesch commented on #1673
## Frontend
@tqchen and @junrushao1994 in some of other experimentation we have worked on rewriting imperative Python code into the IR directly. This should allow users to write imperative looking code which is translated into a form that is easy to optimize and perform automatic differentiation on. In general we could expose an API which looks destructive to the user but is actually pure under th

[2018-08-29 22:41] junrushao1994 commented on #1673
@tqchen I am particularly interested in the list part.

There is theoretically no difficulty in implementing functional data structures like functional List or functional Map, and in my opinion, we should try to avoid any tracing-based autodiff, otherwise it loses both the elegancy of our design and part of the meaning of being functional.

One thing I am concerning is the overhead for introducing

[2018-08-29 22:42] reminisce opened #1676 "Variable node names changed in the pass PrecomputePrune while param names not updated accordingly"
I have a graph with nothing to prune, but its variable node names are changed in the pass PrecomputePrune. I traced the code to the following place, where line 72 is reached for the variable nodes. Their names are changed by appending entry version numbers in `replace_pruned_entry`, and this results in mismatch between `params`'s names and the graph's `list_input_names()`. Should we add a check at

[2018-08-29 23:01] zheng-da commented on #1673
@tqchen, as you mentioned transformer, I'm curious how Relay is going to handle this kind of workloads where shapes changes at runtime and can't be statically inferred. Is there a plan to support it in TVM and Relay?

[2018-08-29 23:13] junrushao1994 commented on #1673
@zheng-da in standard ways

[2018-08-29 23:31] tqchen commented on #1673
TVM support variable length input via symbolic variable, so in theory we could build op that takes in input shape (n, 128) where n is a symbolic variable. Relay also adopt this in type system that allows handle cases of fixed dimension but symbolic shape. How to do generic code gen is another question that we can followup, but the IR itself can handle inference of this kind

[2018-08-29 23:39] zheng-da commented on #1673
what is the standard way?

[2018-08-29 23:54] junrushao1994 commented on #1673
@jroesch I see. That looks cool.

[2018-08-30 00:01] zheng-da commented on #1673
Do I understand it correct?

Suppose I have an operator that increases the size of all dimensions of the output by 1 compared with the input, i.e., if the input shape is (x, y), the output shape will be (x+1, y+1).
Now if one of the input shape is unknown, e.g., (n, 128), as you mentioned, the output shape will be inferred as (n+1, 129). In other words, the system can infer the size of all known d

[2018-08-30 00:29] junrushao1994 commented on #1673
## Optimization
Optimization for deep learning kernels (vectorized) seems totally different from that for scalar operations (e.g. `+`, `*`, `/`, `->`, etc). I am not an expert, but please allow me to define two terms to distinguish these two kind of optimizations:
* we use "kernel optimization" to refer to that we optimize deep learning kernels like TVM does.
* we use "scalar optimization" to refe

[2018-08-30 00:46] junrushao1994 commented on #1673
@zheng-da If we convert your code to a functional one, yes, this is called polymorphism

[2018-08-30 01:06] zheng-da commented on #1673
@junrushao1994 I don't know what it means. Could you show me how the shape of `out` is expressed? Also, how is the shape used after it's inferred?

[2018-08-30 01:09] huanglishan6 commented on #1675
I had published first in TVM Forum, but nobody reply me.

[2018-08-30 01:14] junrushao1994 commented on #1673
@zheng-da Sorry for making you confused. There are two steps, the first step is to convert the code to a purely functional one, which means you use pattern matching + recursion to substitute the loop. The second step is to look at the function, then you will see the function that represents the loop body is generic.

[2018-08-30 01:52] merrymercy commented on #1675
You need to add more information rather just a trace back

[2018-08-30 02:12] tqchen commented on #1673
In my unstanding, type inference was designed to understand things in compile time, so in the case of random and dimension expansion,it is impossible to decide the final dimension and inference will likely return things like incomplete type, or use shape of node that defers things to runtime. The fixed dimension symbolic shape case was the most common one that we can still take benefit from such s

[2018-08-30 02:38] huanglishan6 commented on #1675
I had posted my code in [TVM Forum](https://discuss.tvm.ai/t/valueerror-not-enough-values-to-unpack-expected-4-got-0/744/3).

[2018-08-30 04:00] were commented on #1308
I have written one #1671, but it is still crashing when building docs. Anyone can help?

[2018-08-30 04:57] zheng-da commented on #1673
Agreed. The fixed-dimension symbolic shape is very useful. I think mxnet can greatly benefit from it. Could you point me to the code in TVM that does it?

I think my original question was whether there is a plan of supporting the case that the shape really can't be inferred. For example, in mxnet, I'm thinking of doing something like this: https://github.com/apache/incubator-mxnet/pull/12400. Of c

[2018-08-30 05:36] junrushao1994 commented on #1673
@tqchen Don't think it is a big deal for JIT if we support only PackedFunc wrapping libs like cuDNN. Many passes could be represented using a sparsely conditional constant prop, or other very mature compiler techniques.

However, if we want auto-tuning in such scenario, it could be cutting edge research.

[2018-08-30 05:47] tqchen commented on #1673
To follow up on @yzhliu 's comment on whether ctx should be part of type system.

We don't have to enforce everything as part of type in order to do such optimization. Context assignments(or machine assignments) in distributed setting can also be presented in column meta data(like in NNVM).

The possible pros/cons of the type system vs the additional metadata are

- Putting things in type helps ca

[2018-08-30 05:50] tqchen commented on #1673
@masahi I think in here low-level IR refers to the tensor expression part of TVM, including autoTVM, topi, compute primitives.

[2018-08-30 06:47] zheng-da commented on #1673
@tqchen Another question is how to integrate with some backward libraries in Relay. Maybe this isn't really a Relay question, but it's something we need to consider after TVM moves to Relay. I suppose Relay is good at pattern matching. Is it easy to take out the matched pattern and put it somewhere (maybe in an operator) to invoke TensorRT? How do you think about supporting stateful operators, bot

[2018-08-30 06:51] junrushao1994 commented on #1673
@zheng-da Can you be more specific about “good at pattern matching”?

[2018-08-30 06:58] zheng-da commented on #1673
@junrushao1994 actually, I don't know. I guess Relay should be able to do pattern matching. One example of pattern matching is to find a set of operators that can be fused in TVM.

[2018-08-30 07:05] masahi commented on #1673
@zheng-da NNVM can already do operator fusion. TVM supports cuDNN offload out of the box. [This tutorial ](https://docs.tvm.ai/tutorials/nnvm/using_external_lib.html#sphx-glr-tutorials-nnvm-using-external-lib-py )maybe helpful.

[2018-08-30 07:36] yzhliu commented on #1673
I think Da's asking similar question as mine, since TensorRT eats a graph, if we extract a subset of Relay IR and pass it to TensorRT for accelerating, then an intermediate graph representation is required.

@zheng-da I don't think it is a problem to find out operators meet a specific requirement - we can still traverse the Relay AST.

[2018-08-30 09:37] lxwithgod opened #1679 "Check failed: !use_count_.count(v) variable n has been used before definition!"
from __future__ import absolute_import, print_function
import tvm

n = tvm.var('n', dtype=tvm.int32)
Input = tvm.placeholder((n, n), name='Input')
Filter = tvm.placeholder((3, 3), name='Filter')
di = tvm.reduce_axis((0, 3), name='di')
dj = tvm.reduce_axis((0, 3), name='dj')
Output = tvm.compute(
    (n - 2, n - 2),
    lambda i, j: tvm.sum(Input[i + di, j + dj] * Filter[di, dj], axis=[di, dj]),

[2018-08-30 10:25] junrushao1994 commented on #1673
@zheng-da I got what you mean. I was confused because “pattern matching” typically refers to conditional statements in FP.

I think @zheng-da is right. This is not a Relay question. I would say it is pretty trivial to do by traversing the IR and extract whatever TensorRT supports,as @yzhliu suggests. However, there are two things we should keep an eye on:
1) I am not a big fan of a stateful operat

[2018-08-30 10:39] junrushao1994 commented on #1673
@yzhliu I think what you are saying is “we need an IR converter”. Yes, that makes a lot of sense. Ideally, there should be a bridge IR that every DL framework converts their IR to the bridge IR, and the low-level lib provider writes a pass from the bridge IR to their own IR. But such thing does not seem to exist.

We could definitely make it more systematic though, but it does not seem that necess

[2018-08-30 11:16] junrushao1994 commented on #1673
@tqchen Let's talk about introducing data structures like lists, dict. (I rewrote the stuff I wrote yesterday)

Solution A: use functional (immutable) data structure.
There is theoretically no difficulty in implementing functional data structures like functional List or functional Map. But we may have two concerns:
1) overhead for being functional. For example, I often write the functional Map usi

[2018-08-30 11:30] junrushao1994 commented on #1673
## Part II: Optimization

### Terms
Optimization for deep learning kernels (vectorized) seems totally different from that for scalar operations (e.g. `+`, `*`, `/`, `->`, etc). I am not an expert, but please allow me to define two terms to distinguish these two kind of optimizations:
* we use **kernel optimization** to refer to that we optimize deep learning kernels like TVM does.
* we use **scala

[2018-08-30 14:41] MarisaKirisame commented on #1673
@junrushao1994 I am the main designer/implementer of relay's automatic differentiation system.

In general, doing non-tracing based reverse mode automatic differentiation on arbitrary lambda is extremely hard. There is only one paper (Reverse Mode AD in a functional framework) that does it, which work by traversing the reflected program, is complicated, and is untyped.

We might be able to type it

[2018-08-30 14:43] junrushao1994 commented on #1673
@tqchen @jroesch
I guess I have done the optimization part. I believe most of the optimization techniques for deep learning workloads that I could up with could be somehow covered by using in RelayIR, thanks to the purity of FP. Could you guys give some feedback about this?

I am really interested in how you guys could implement a low-level runtime environment, because I didn't see the design in t

[2018-08-30 15:11] tqchen commented on #1673
WRt to optimizations, we should try to push most optimization to compiler and leave runtime lightweight.

Scalar slicing and fusion. This is likely can be done already in relay, by slice out 0 rank tensor and generated a fused function to compute them, only one memory store is necessary and they act similarly as infer shape.

Reshape opt is not as important, usually inplace type memory optimizatio

[2018-08-30 15:19] junrushao1994 commented on #1673
@MarisaKirisame Thank you so much for your very helpful comments! It does address most of my questions.

[2018-08-30 15:30] tqchen commented on #1673
One thing to keep in mind is that we need to codesign things, instead of simply think in terms of high level ir, for example, the function slicing likely have things to do with what low level code generator and hw has to offer. So most low level info need to be registered in high level and we need embed meta data to reflect certain info

[2018-08-30 17:03] zhiics commented on #1673
@tqchen I also totally agree that we should give most of optimization work to the compiler and keep runtime light. But I actually also have a concern about the optimization passes. There are already many passes and the number is expected to continue growing. As the number passes grows, I think it would be beneficial to have a more systematic way to manager them.

For example, I think it is probabl

[2018-08-30 18:07] zheng-da commented on #1673
@junrushao1994@gmail.com <junrushao1994@gmail.com> I don't know many
external libraries for deep learning, but I can name a few: TensorRT,
nGraph. As far as I know, both Intel and Nvidia are developing more
graph-level libraries. I think it's pretty common. I think we should think
about this problem.
As for stateful operators, I wonder what is the other option. If we
separate the state and pass it

[2018-08-30 18:18] junrushao1994 commented on #1673
@zheng-da these are just trivial engineering choices. @tqchen could you comment on this?

[2018-08-30 18:19] kevinthesun commented on #1585
@eqy @merrymercy I got an issue using autotvm to tune conv2d_NCHWc on intel cpu. The benchmark results got from autotvm mismatch with the results that I use the same records to run with pure tvm(use tvm.build and feed in data directly). This usually happens when average exec time is under 0.1 ms, and autotvm gets much shorter exec time comparing to actual result, such as 0.097808883 ms vs 0.196099

[2018-08-30 18:43] merrymercy commented on #1585
Did you use time_evaluator for your old records?

[2018-08-30 19:13] kevinthesun commented on #1585
I tried time_evaluator and got the similar results. I also apply the results of autotvm to graph tuner. The result doesn't match the records of autotvm. For example, for resnet18 the total exec time of conv2d is around 1.6 ms given record of autotvm. The actual exec time is around 3.6 ms, which corresponds "pure tvm" exec time.

[2018-08-30 19:17] eqy commented on #1585
I wonder if this may have something to do with whether layout
transformation time is included? Don’t know the details here so that is
just a guess.

Eddie
On Thu, Aug 30, 2018 at 12:13 PM Yao Wang <notifications@github.com> wrote:

[2018-08-30 19:30] merrymercy commented on #1585
Can you try to use `repeat=1` in `LocalRunner`?
Or can you give me some script that  I can verify

[2018-08-30 19:58] kevinthesun commented on #1585
@eqy I looked at the fused graph, there are only two layout transform, one at the beginning and one at the end, which is expected, but the e2e performance is not good.
@merrymercy This is graph tuner branch: https://github.com/kevinthesun/tvm/tree/GraphTuner Major changes to use autotvm is under x86/conv2d.py.
This is the script I use to benchmark:
[code]
I run it on AWS c5.9xlarge with:
[code]
us

[2018-08-30 22:37] kevinthesun commented on #1673
This is a good chance to look at data layout system. I think @yzhliu is currently working on refactoring layout in TVM: https://discuss.tvm.ai/t/datalayout-structure/80

To enable graph level optimization, every operator will require layout information. Maybe we can considering adding it Relay type system.

[2018-08-30 23:26] zheng-da commented on #1673
@junrushao1994 when i look at the type system (in the Relay paper), it supports Base type, shape, Tensor, function, type, reference, tuple. Do you suggest representing the data structure for any arbitrary external library with the Relay type system? For example, MKLDNN requires some data structure like `mkldnn::memory::primitive_desc`. It's a class that contains std shared_ptr. It's probably doabl

[2018-08-31 05:11] junrushao1994 commented on #1673
@zheng-da
Relay has some notion to track effects, so why not you guys put these arbitrary stuff inside a `PackedFunc`?

[2018-08-31 05:15] junrushao1994 commented on #1673
@kevinthesun Hey Yao, could you kindly share more information about what information you think must be put into the type system? It will be very helpful!

[2018-08-31 05:18] MarisaKirisame commented on #1673
@junrushao1994 we hasnt settle on any effect system yet. We would love to know what actual use case is there!

[2018-08-31 05:28] junrushao1994 commented on #1673
@MarisaKirisame This is the concern raised from colleagues working on external libraries integration.

[2018-08-31 11:08] srkreddy1238 commented on #1676
Renaming is intended while pruning any compute node and we shouldn't retain the original param name here.

New name is necessary as if  ```there is two compute nodes get's pruned out of same param``` the final param nodes should go with different names than initial param name.

[2018-08-31 11:29] merrymercy commented on #1585
Does this mismatch happen only for kernels that run < 0.1 ms?

The default repeat for `LocalRunner` is 3, and it will remove the largest and smallest result
https://github.com/dmlc/tvm/blob/0c523787297039ce00b320c1d32e022e61e97ac2/python/tvm/autotvm/measure/measure_methods.py#L465-L469

I run your code on a 16-core AMD ThreadRipper. The autotvm results match your check script for kernels that run

[2018-08-31 15:46] reminisce commented on #1676
@srkreddy1238 Thanks for the reply. I understand in some cases the names have to be changed. In my case, there is nothing to prune, and pruning pass just replaces a param node with a newly created param node of a new name, but does not generate a precompute graph since `non_var_edge` is 0. So the loaded param map cannot be updated because there is no precompute graph to generate output names. This

[2018-08-31 15:49] srkreddy1238 commented on #1676
Can you share the front end model if not private ?

[2018-08-31 16:10] reminisce commented on #1676
Yes, here is my [dev branch](https://github.com/reminisce/tvm/tree/subgraph_integration) for running the following script. I introduced a subgraph operator here that contains a subgraph of the whole graph. The subgraph operator is not optimized by the compiler and is backed up by an external accelerator at runtime.

I added a check at this line to skip replacing var entries and the following scrip

[2018-08-31 17:38] tqchen commented on #1679
please open a thread at https://discuss.tvm.ai/

[2018-08-31 17:38] #1679 closed

[2018-08-31 17:39] kevinthesun commented on #1585
I tried the time evaluator settings autotvm used and still got similar results as before. I randomly pick some records. Even when exec time > 0.1, sometimes the result is not accurate, such as 0.17 measured VS 0.3 real.

This workload and cfg has 4 times gap between measurement and real value:
(('TENSOR', (1, 256, 14, 14), 'float32'), ('TENSOR', (256, 256, 3, 3), 'float32'), 256, (3, 3), (1, 1), (

[2018-08-31 18:05] kevinthesun commented on #1673
@junrushao1994 For NNVM/Relay, the layout information is mainly used to insert layout transformation op when necessary. Currently this is achieved by FCorrectLayout attribute.It's like an "InferLayout" attr. We might want to preserve the latest valid layout of each op, so that we can easily fall back to last valid layout when the new layout pass is illegal for some ops. The logic should be similar

[2018-08-31 18:28] tqchen commented on #1673
Let us hear the opinion and possible proposals from everyone in the community :) at this moment for things that are in flux we don’t necessarily need decisions. Instead we would love to see clear actionable options

[2018-08-31 19:45] kevinthesun commented on #1585
A phenomenon for workload (('TENSOR', (1, 256, 14, 14), 'float32'), ('TENSOR', (256, 256, 3, 3), 'float32'), 256, (3, 3), (1, 1), (1, 1), 'NCHW', 'NCHW', 'float32') is that when 'tile_oc' is [2, 128], the gap between measurement and actual result is quite large. You can verify this by skipping other tasks except when i == 6.

[2018-08-31 23:54] eqy commented on #1585
Just for a sanity check, I wonder if we can quickly compare the dumped llvm IR source between the two versions.

[2018-09-01 06:56] grwlf commented on #1673
Hi. Very interesting discussion we have. I have some questions related maybe more to the [Relay paper](https://dl.acm.org/citation.cfm?id=3211348) than to this exact RFC. AFAIK they are closely connected, but please let me know if we have a better place to discuss the article.

### Python typing

I'm glad that you are going to employ Python typing facilities! In the article, type specification loo

[2018-09-01 11:15] junrushao1994 commented on #1673
Another thing I am wondering is autobatch (https://arxiv.org/abs/1705.07860), which is an important feature that could potentially speed up something like `tf.scan` a lot. This will involve some scalar arithmetics.

(Just want to mention it a little bit, Relay could definitely represent such thing easily)

[2018-09-01 17:33] jekbradbury commented on #1673
Autobatching is probably best implemented as a transformation on Relay IR? That’s pretty much what’s working for PyTorch.

[2018-09-01 17:46] szha commented on #1673
Oh I forgot, also depends on whether you need to keep the dependency graph for AD or not.

[2018-09-01 17:47] jekbradbury commented on #1673
DyNet’s original approach (essentially a runtime scheduling pass) doesn’t scale well with accelerators. But the next version of DyNet will likely use Cavs, which solves that by dramatically reducing the complexity of the scheduling problem at the cost of a new user-visible level of abstraction (an annotated static subgraph they call a vertex). In the long run a combination of IR transformation for

[2018-09-01 17:51] szha commented on #1673
Indeed, a combination of these two approaches will likely cover more cases.

[2018-09-02 03:57] ZihengJiang commented on #1625
For this situation, you need to bind buffer with strides in tensor intrinsic.

[code]

[2018-09-02 03:57] #1625 closed

[2018-09-02 04:02] ZihengJiang commented on #1485
@tqchen As for the implementation, what is the return value of `intrin_add(A[i, [0:factor], B[i, 0:factor])`? It should be a statement, but in ComputeOp, `body` is an `Expr`.

[2018-09-02 17:55] were commented on #1485
I like the 1st one better.

[2018-09-03 01:50] lxwithgod commented on #1679
thanks

[2018-09-03 10:39] merrymercy opened #1681 "[CI] The link in darknet tutorial is broken"
The link in darknet tutorial is broken. This blocks the CI test for all pull requests.

http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-1671/10/pipeline

@siju-samuel  Can you take a look?

[2018-09-03 11:32] siju-samuel commented on #1681
@merrymercy
The recent changes in tutorial is with PR  #1501 broken the link for downloading the weights file, leading to this CI failure.

@yzhliu please merge #1682

[2018-09-03 13:40] merrymercy commented on #1585
I confirmed one thing. In autotvm, I use `tvm.nd.empty` to create input arrays. In this way we don't copy the array (several megabytes) to remote rpc device.
https://github.com/dmlc/tvm/blob/4c4a8ea47b88677d89468e97e584cdad64b5b88e/python/tvm/autotvm/measure/measure_methods.py#L463

But it results in the inaccurate measurement for  workload `workload (('TENSOR', (1, 256, 14, 14), 'float32'), ('TEN

[2018-09-03 13:58] junrushao1994 commented on #1673
A quick question, do you guys want to strictly enforce homo type of a list, or allow some generics. For example, will all tensors inside a list be of the same shape?

[2018-09-03 15:53] MarisaKirisame commented on #1673
Very Probably. The generic across shape part will probably be done using existential type.

[2018-09-03 19:00] tqchen commented on #1394
As a note, the prefilter branch is deleted at the current main repo, it will be kept in my fork https://github.com/tqchen/tvm for a while, instruction has been updated

[2018-09-03 20:09] #1681 closed

[2018-09-04 01:06] kevinthesun commented on #1585
Thank you for identifying this! Do we have any solution?

[2018-09-04 01:32] eqy commented on #1585
Can we just try to change the default allocation to random uniform? My guess is that the issue is due to NaNs changing the timing.

[2018-09-04 03:35] merrymercy commented on #1585
Copying arrays to remove devices will make tuning wifi devices very slow. So we should make sure the copy happens on the remote device locally.

One method is registering a python packed function in rpc server, which uses numpy to randomly initialize a tvm ndarray.

[2018-09-04 12:09] liangfu commented on #1656
@tmoreau89 I'm quite curious about how fast VTA can run on top of PYNQ. Can you tell the exact timing in performing inference on the quantized resnet-18 with the designed instructuions? How much time in total are consumed to perform the gemm instruction?

[2018-09-04 17:44] tmoreau89 commented on #1656
@liangfu when we released VTA, our ResNet-15 inference time was around 0.4 seconds. Upon software and hardware optimizations we can bring inference closer to 0.2 seconds (I'll be releasing an update in the next 10 days or so). Note that this is for a 100MHz design with 256 FMAs, and that we are mostly just offloading GEMM on the FPGA. You can obtain the time breakdown for running each layer indivi

[2018-09-04 19:50] joshpoll commented on #1673
@grwlf I'm one of the people working on the Python frontend. You’re correct. Type information is passed directly from the frontend to the C++ compiler. We can handle mypy type annotations in Relay code, since those annotations are encoded in the Python AST that we compile to Relay. I’m not sure that Relay will ever encounter mypy types at _runtime_, but I may be missing something.

The Relay IR no

[2018-09-04 20:56] kevinthesun commented on #1585
@merrymercy I tried this solution but got error: TVMError: [20:54:16] /home/ubuntu/tvm/src/runtime/rpc/rpc_session.cc:427: RPC cannot handle type NodeHandle

[2018-09-04 21:32] jroesch commented on #1673
Great feedback everyone. Sorry for being absent the last couple of days, right after I shipped the initial version of the PR I had to move apartments and have been hastily moving things from one apartment to the next and trying to get my desk set back up so I could work 😄.

I want to address a bunch of the feedback in order.

# Typing dynamic dimensions
This is referring to @zheng-da, @tqchen and

[2018-09-04 22:01] zhiics commented on #1673
@jroesch Thanks for the summary. The phase ordering problem is also one of my major concerns, but I haven't looked into the auto-tvm style technique. I will read it.

[2018-09-04 22:46] grwlf commented on #1673
Can't stop myself from adding 2 cents about pass managers. TL;DR IMHO some kind of passes don't need pass managers, but other kind of passes should have one.

I think (an obvious thing) that absence of pass manager may lead to hardly-detectable bugs during compiler development. I also think it is correct to separate passes which do actually change IR but do keep the algorithm correct and passes wh

[2018-09-04 23:13] merrymercy commented on #1585
Sorry, we cannot pass array to remote device. I updated my code in the above comment to use string

[2018-09-05 17:53] kevinthesun commented on #1673
@jroesch Thank you for summary. Adding layout attribute and a layout pass should be able to deal with current use cases.

[2018-09-05 17:54] were commented on #1308
Since #1671 is merged, should we close this issue?

[2018-09-05 18:17] #1308 closed

[2018-09-05 18:18] tqchen commented on #1308
Thanks to @were , this is closed by #1671

[2018-09-05 18:37] kevinthesun commented on #1585
I tried quick solution and is able to reproduce previous collected optimal results now.

[2018-09-06 01:36] tqchen commented on #1485
- intrin_add should be overloaded to check on the types of input and return an intermediate data structure when possible(like TensorIntrinCall)
- compute function should be able to detect the special return type and return a different Op, e.g. TensorComputeOp
   - But from the API's point of view user calls the same compute API

[2018-09-06 01:36] tqchen commented on #1633
Close this for now, future discussions are more encouraged at https://discuss.tvm.ai/

[2018-09-06 01:36] #1633 closed

[2018-09-06 17:36] tqchen commented on #1585
@kevinthesun @merrymercy  in the interest of more recent changes of int8 schedule that might also benefit from AutoTVM x86 port, do you think if it makes sense to break the PR into two part and bring in AutoTVM x86 port in first? If so, please open a separate issue to track it

[2018-09-06 17:56] kevinthesun opened #1690 "[AutoTVM] x86 fp32 and int8 support"
This is to track the progress to support x86 AutoTVM support.

- [x] x86 fp32 AutoTVM support: https://github.com/dmlc/tvm/pull/1586

- [ ] x86 int8 AutoTVM support: https://github.com/dmlc/tvm/pull/1680

[2018-09-06 17:57] kevinthesun commented on #1585
@tqchen I open an issue to track x86 AutoTVM related tasks.

[2018-09-07 04:58] reminisce commented on #1676
After testing with more cases, I find that the correct way of fixing this problem is deleting these lines to prevent early return.
https://github.com/dmlc/tvm/blob/master/nnvm/src/compiler/precompute_prune.cc#L78-L81

[2018-09-07 07:15] srkreddy1238 commented on #1676
@reminisce

I tried to have a look on your branch but it look like broken.

[code]

[2018-09-07 07:40] KeDengMS opened #1692 "Bilinear mode in topi::nn::upsampling not working"
To repro, use following changes in test_topi_upsampling.py:
[code]

[2018-09-07 08:15] ktabata commented on #1656
@liangfu Actually, I too have a plan to port VTA to Intel FPGA, but because you opened this issue, I've been waiting and seeing.  Shall I help you with something?

[2018-09-07 09:53] zhykzhykzhyk opened #1693 "Omit unnecessary memory copy in graph runtime"
Currently graph runtime always copy the input and output tensor to/from the internal storage pool. This behavior introduces unnecessary copies when the input and/or output tensors are already on the same device as the internal storage resides.

- [ ] add interface to support run with input and output tensors without copy
- [ ] add special handling when creating tvm op which uses input and/or outpu

[2018-09-07 10:14] srkreddy1238 commented on #1693
Ref. https://github.com/dmlc/tvm/pull/1659

Using NDArray avoids copying. Is this proposal different then this ?

[2018-09-07 12:04] liangfu commented on #1656
@tmoreau89 Thank you for your answer. I have no PYNQ board at hand, but I do have many kinds of Intel FPGA boards, including de10-nano. Therefore, I have strong willingness to enable VTA on Intel FPGAs. On the either hand, aside from FMA instructions, I think VNNI would be more effective for nn inference.

@ktabata You're always welcome to contribute. I would submit an initial PR later on, so that

[2018-09-07 12:15] zhykzhykzhyk commented on #1693
I think the difference is the input and output buffer can be provided by the caller, not TVM, give the user more choices on memory management across the whole application.
In #1659, pass tensor between graph runtime modules still requires a copy, but by passing tensors directly, this copy could be omitted.

[2018-09-07 15:45] reminisce commented on #1676
@srkreddy1238 That's odd. I can run the script with the that branch. The error message indicates something I didn't touch in the codebase.

[2018-09-07 17:20] tqchen commented on #1693
One of the major consideration in runtime is to maintain a minimum API without over complicates the dll and implementation. While supporting zero-copy passing in tensor of the same domain could be useful in certain cases, the additional copy usually won't affect the performance of the code(unless the graph fragment itself is very small), and at this moment could be an over-optimization.

More gene

[2018-09-08 02:37] tmoreau89 commented on #1656
@ktabata @liangfu It sounds like there is a willingness to bring VTA support to Intel FPGAs. It makes sense to combine efforts if possible to facilitate this process as much as possible.

In terms of tasks needed to support a new FPGA platforms here are the high-level bits:

- Porting the IP source from Xilinx HLS to Altera HLS/OpenCL with the Altera specific pragmas
- Implementing test functions

[2018-09-08 03:59] kevinthesun commented on #1690
Yes. I'll do this first.

[2018-09-08 18:04] LaughingGor1949 opened #1698 "how to add split condition inside tensorize scope"
# Hi all,
I need to split a axis which size is big prime number，then I tensorize at the xi iter. However I got something wrong, and I have no idea about that:
**Traceback (most recent call last):
  File "abs.py", line 38, in <module>
    tf_abs((131,), "float16")
  File "abs.py", line 34, in tf_abs
    print(tvm.lower(sch, [in_data, res], simple_mode=True))
  File "/home/laughing/soft/tvm/python/t

[2018-09-08 20:51] masahi commented on #1585
I understand the motivation of this RFC and the paper @merrymercy linked. But I have the following questions regarding this RFC. I appreciate if somebody could answer them.

1.  Isn't it the case that keeping the data layout in NCHWc as much as possible, and only insert layout transform when necessary, is always the best? This is what opt-level = 3 does for x86 backend.

2. The CGO 2018 paper is b

[2018-09-08 21:34] eqy commented on #1585
@masahi
1. I think the point of introducing graph level tuning (e.g., for data layout) is similar to the original motivation with AutoTVM. In the past many of our schedule configurations and currently our choices of data layout are only the result of handcrafted heuristics. If there is a chance that we are leaving some efficiency on the table, then I think it is worthwhile to pursue automated appr

[2018-09-08 22:05] masahi commented on #1585
@eqy thanks, then I'm interested to know if there is an instance where the best NCHW schedule beats the best NCHWc schedule. My assumption is that NCHWc layout is always better for direct and winograd algorithm on x86. I care a lot about TVM performance on x86, so I'm very happy if the assumption was wrong. The difference between the best AVX2 schedule and the best AVX-512 schedule would be also v

[2018-09-09 00:11] kevinthesun commented on #1585
@masahi Your are right. Actually the "default" schedule for x86 conv2d is a simple heuristic method with always choose channel factor to be 16 if possible, to minimize the number of layout transformation needed. Graph tuner is an automated way to make these decisions related to data layouts.

The data layout NCHWc is suitable for graph tuner to so such searching. However, if a certain algorithm re

[2018-09-09 00:40] masahi commented on #1585
thanks @kevinthesun, it makes a lot more sense now. I'm looking forward to testing this feature on my network, where all inputs are NCHW8c.

I agree with @merrymercy in that the result of CGO 2018 paper seems fishy, but I did like their problem formulation. As long as we can define a 'node cost' and 'edge cost', we can model this as a standard discrete optimization problem that can be solved by of

[2018-09-09 01:06] masahi commented on #1692
cc @srkreddy1238

[2018-09-09 03:35] srkreddy1238 commented on #1692
@KeDengMS

`NCH` layout ???
Can you conform the error log ?

[2018-09-09 16:45] tqchen commented on #1698
Please open a thread at https://discuss.tvm.ai/

[2018-09-09 16:45] #1698 closed

[2018-09-09 22:31] tqchen opened #1699 "[TEST] Keras Flake test case due to random parameters"
See http://ci.tvm.ai:8080/blue/rest/organizations/jenkins/pipelines/tvm/branches/master/runs/103/nodes/232/steps/272/log/?start=0

The result does not match in small portion, note that the output is already very close to 0. Seems was due mainly due to random parameters. Maybe we can consider switch to pre-trained models, raise the error tol.

If we still use the current way, here  are some point t

[2018-09-09 22:31] tqchen commented on #1699
cc @kazum @Huyuwei

[2018-09-09 23:02] tqchen commented on #1656
It would be great if things can be broken down into a checklist of small items, so @liangfu and @ktabata @tmoreau89 can collaborate on some of the perspectives(either code review or commit changes). Feel free to coordinate on this issue

[2018-09-10 05:17] liangfu commented on #1656
@tmoreau89 @tqchen Good point to split the task into each workable subtasks.

@tmoreau89 I've been mostly working on migrating the IP cores from Xilinx HLS to Intel HLS (I think OpenCL based implementation would be less efficient and incompatible with VTA.) And I think I can work on the testing and simulation of those functions as well. However, as I got my hands on the driver part. I found `mmap`

[2018-09-10 13:58] JammyZhou commented on #1673
@jroesch As to the ONNX limitations, can you share more background or details why it cannot satisfy the requirements of NNVM/TVM? I'm really interested on this. Thanks in advance!

[2018-09-10 16:09] sgrechanik-h commented on #1673
@jroesch @MarisaKirisame What will the interface for defining gradients for operations look like? Currently in nnvm there is the FGradient attribute which expresses the gradient in terms of other nnvm operations. Will it be something like this for Relay too, or may be the gradients will be expressed directly in terms of topi and tvm operations?

Currently we are working on AD on the TVM level, so

[2018-09-10 18:44] KeDengMS commented on #1692
Yes NCHW layout, but I believe it exists in NHWC as well. The error is from a crash in dereferencing nullptr in [here](https://github.com/dmlc/tvm/blob/master/topi/include/topi/image/resize.h#L227-L228). The problem is that shape is a Mul node with two ImmInt as input, and [as_const_int](https://github.com/dmlc/HalideIR/blob/6f64f7866747a2a81bec84aea9bde0479c5b72c1/src/ir/IROperator.cpp#L68-L82) r

[2018-09-10 18:46] tqchen commented on #1699
Fixed by #1701

[2018-09-10 18:46] #1699 closed

[2018-09-10 19:09] tqchen opened #1704 "[TEST] Flaky test_topi_sparse"
http://ci.tvm.ai:8080/blue/rest/organizations/jenkins/pipelines/tvm/branches/PR-1700/runs/2/nodes/231/log/?start=0

cc @liangfu

[2018-09-10 23:36] liangfu commented on #1704
Not equal to tolerance rtol=1e-05, atol=0

(mismatch 16.66666666666667%)
 x: array([[ -0.081917, -18.463932],
       [-12.556804, -23.299555],
       [  7.793209, -10.46417 ]], dtype=float32)
 y: array([[ -0.081915, -18.463932],
       [-12.556804, -23.299555],
       [  7.79321 , -10.464172]], dtype=float32)

looks like the rtol is too small in this case.

[2018-09-11 05:59] tmoreau89 commented on #1656
@ktabata would you be interested in bringing driver support for Intel FPGAs? I am not very familiar with the software stack on Intel FPGAs, but I'd be happy to provide some guidance.

[2018-09-11 06:58] ktabata commented on #1656
I have some experience in AOCL, but I'm new to Intel HLS Compiler.
Currently I'm finding out which is suitable for VTA (AOCL or HLS).
I'm curios to know whether or not host(CPU) SDRAM access from HLS code is possible.
@liangfu Do you have information about that?

[2018-09-11 10:43] srkreddy1238 commented on #1692
@KeDengMS  a bit confused.

Is the issue about "Layout Not Supported" or "Crash " ?

Can you share complete log or the sample code?

[2018-09-11 14:59] tqchen commented on #1704
@liangfu can you send a proposed fix?

[2018-09-11 16:10] tmoreau89 commented on #1656
@ktabata - we could attempt to port VTA to AOCL, but we may not be able to implement latency hiding under this programming model  - having separate IP blocks that can operate independently from one another via dependence queues was difficult to achieve with SDAccel - the programming model did not allow us to express "continually executing" modules, which is why we went for HLS + IPI (tcl scripting

[2018-09-11 16:52] liangfu commented on #1656
@ktabata Actually Intel HLS Compiler is new to me as well. It is the high efficiency design it could generate that draws my interest. The techniques include possibilities to implement dependency queues and pipelined parallel execution.

AFAIK, if we need to access SDRAM from FPGA side, we only need to add SDRAM Controller in Qsys. Please refer to GHRD for DE10-nano.

[2018-09-11 17:39] tmoreau89 commented on #1656
@liangfu - by SDRAM are you referring to accessing DDR? Indeed I am less familiar with how to connect the DMA master to a memory controller in Qsys. This depends on the SoC organization - on Zynq we connect our DMA Axi master to the ACP port of the ARM SoC which enables coherent memory access to the SoC's main memory.

It would be good to maintain the same coherent interface if possible with the I

[2018-09-11 18:40] KeDengMS commented on #1692
I think it's nothing about Layout, but more for BILINEAR mode. The repro is to change the python test to use BILINEAR mode: `B = topi.nn.upsampling(A, scale, layout=layout, method='BILINEAR')`, then you'll find the crash.

[2018-09-12 00:31] masahi commented on #1692
But the log says NotImplementedError('Layout not supported {} '.format(layout)). What is the "layout" parameter you passed in? It should be "NCHW" or "NHWC".

[2018-09-12 00:39] KeDengMS commented on #1692
The repro I show above is from git diff, not the log. The testcase tests both NCHW and NHWC

[2018-09-12 00:41] masahi commented on #1692
@KeDengMS I can repro your crash. The fix is to add util.simplify to https://github.com/dmlc/tvm/blob/master/topi/python/topi/nn/upsampling.py#L34

[2018-09-12 01:44] masahi commented on #1692
@srkreddy1238 I made a branch to fix this issue [here](https://github.com/masahi/tvm/tree/fix-bilinear). But some bilinear upsampling tests are failing. Can you have a look?

[2018-09-12 02:28] liangfu commented on #1656
@tmoreau89 I completely agree to have coherent design between Intel SoC and Xilinx SoC, and I would utilize AXI master bridge to support VTA. I was just answering to @ktabata 's question on whether it is possible to have Intel HLS access SDRAM.

[2018-09-12 09:42] srkreddy1238 commented on #1692
Thanks @KeDengMS  for bringing up the issue and thanks @masahi for finding the root cause and fix.
I have added the final piece (```atol=1e-5``` allowance) at #1708 for your review comment.

[2018-09-12 16:13] #1704 closed

[2018-09-12 16:48] KeDengMS commented on #1692
Thanks for the fix!

[2018-09-12 16:48] #1692 closed

[2018-09-12 20:54] kevinthesun commented on #1585
@merrymercy @eqy I have an issue dealing with FallbackContext for x86. Currently x86 conv2d will automatically generate default schedules if no pre-tuned schedules are provided. I think this should correspond to FallbackContext? However, even if I didn't specify any dispatch before compilation, when I called autotvm.task.DispatchContext.current inside x86.conv2d.py, it returns ApplyHistoryBest. Do

[2018-09-12 21:36] merrymercy commented on #1585
Yes, in nnvm.build.compiler, we will load tophub context

https://github.com/dmlc/tvm/blob/01ec533e7cfb603f6114a763f03dad4c564f589d/nnvm/python/nnvm/compiler/build_module.py#L244-L246

But this is not a problem. Although current context is ApplyHistoryBest, when you query it, you cannot find the config for your workload. Then it wiil query a upper context, which is the root fallback context. You c

[2018-09-13 02:04] pallabdatta opened #1710 "TVM build failing saying kDLVulkan defined twice"
Hi @tqchen

We are trying to build TVM fresh within a docker container by doing the following:

git clone https://github.com/dmlc/tvm.git

followed by the commands within tvm:
git submodule update --init --recursive
git submodule update --recursive --remote

Then the build fails saying that the variable "kDLVulkan" has been defined twice.
I see some inconsistencies between an older version of DLPa

[2018-09-13 06:12] KeDengMS opened #1711 "[ARITH] Improve Canonical Simplification to Handle Fused Pattern"
I have following C++ code when testing TVM in CUDA:
[code]

When the input shape is 2D (5,6), the lowered function looks close to handwritten kernel:
[code]

However for 3D input shape (5, 2, 3), the lowered function looks different:
[code]

From my reading of injective schedule, it seems all input axes are fused before split, so the two cases above should have identical code gen. Is my understand

[2018-09-13 11:39] moemen95 opened #1713 "_convert_convolution in NNVM from_keras has a fatal error of calculation of dilation rate and not inserting ZEROS in the weight list after editing the kernel_h kernel_w"
PLEASE look at this function again and fix the dilation rate calculation and don't forget to insert zeros in the Weightlist.

[2018-09-13 11:48] moemen95 commented on #1713
Operator conv2d(channels=64, kernel_size=[3, 5], padding=[0, 0], dilation=[1, 2], strides=[1, 1], use_bias=True, name=conv2d2) expects weight's shape to be [64,32,3,5], but got [64,32,3,3]

[2018-09-13 15:17] Huyuwei commented on #1713
Thanks for reporting this. It should be fixed by #1715

The weight shape of dilated conv passed from frontend to nnvm compiler should be the original h and w, not including inserted zeros. NNVM supports dilated conv by inserting a dilate op: https://github.com/dmlc/tvm/blob/master/nnvm/python/nnvm/top/nn.py#L94-L102

[2018-09-13 16:10] merrymercy commented on #1711
Ideally `(((threadIdx.x/6)*6) + ((((threadIdx.x/3) % 2)*3) + (threadIdx.x % 3)))` should be simplified to `threadIdx.x` since they are equivalent. But it the simplifier in tvm cannot handle this case. (cc @tqchen )

Although it introduces some extra arithmetic operations, in practice we don't observe performance regression. So it is still okay.

[2018-09-13 17:07] tqchen commented on #1711
as far as I recall, there is some ability in the buffer index fetch to simplify such expressions, by @sxjscience  maybe someone can followup on this

[2018-09-13 17:10] tqchen commented on #1710
Please use https://discuss.tvm.ai for installation questions, this was due to a recent update in dlpack(to contain kDLVulkan) and the master has not been updated to the latest dlpack version. Fix your dlpack version to be the same as the tvm repo should resolve the problem

[2018-09-13 17:10] #1710 closed

[2018-09-14 01:48] stonextu opened #1717 "Failed to run NNVM's darknet example due to "Check failed: data->ndim == data_out->ndim (4 vs. 1)""
I pulled the latest TVM code from [https://github.com/dmlc/tvm/](url)， and failed to run yolov2 example by from_darknet.py in NNVM. The detail info is as follows:

File yolo.cfg exists, skip.
File yolo.weights exists, skip.
File libdarknet2.0.so exists, skip.
Converting darknet to nnvm symbols...
Compiling the model...
Loading the test image...
File dog.jpg exists, skip.
Running the test image...

[2018-09-14 04:30] MarisaKirisame commented on #1673
@sgrechanik-h
Somewhat like FGradient, Relay gradient will be expressed as other Relay gradient for closure property (we can differentiate on differentiated expression for arbitrary times).
Suppose an operator is of type x -> y, we are planning to expose an api that let you define it's gradient as an expression (probably) of type (x -> (y, y -> x)). It might be changed to some other similar type f

[2018-09-14 05:46] were commented on #1384
@kevinthesun

[2018-09-14 08:31] sxjscience commented on #1711
Yes, I've met with this problem and have written the following code https://github.com/dmlc/tvm/blob/master/src/lang/buffer.cc#L152-L220 to optimize  some  predefined patterns.

[2018-09-14 11:55] sxjscience commented on #1711
The current implementation haven’t considered the case that involves “<“ . Like “... < 32”. Also, what’s the simplified version of this pattern?(looks complicated)

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: xqdan <notifications@github.com>
Sent: Friday, September 14, 2018 7:24:53 PM
To: dmlc/tvm
Cc: Xingjian SHI; Mention
Subject: Re: [dmlc/tvm] [ARITH] Impro

[2018-09-14 12:00] xqdan commented on #1384
IMO, schedule for hybrid should be some passes, in which they can do optimize for IR stream automatically,
hybrid is input for tvm, just like c/c++ is input for llvm/gcc, just see how llvm/gcc to do schedule? a lots of passes! compute is your program logic, and you don't need to do too much schedule, of course you can, compiler will do most optimizations for you.

So the schedule api for users sho

[2018-09-14 12:20] merrymercy commented on #1711
I found a related Halide PR (https://github.com/halide/Halide/pull/2845) which may be interesting.
They introduce meta rewrite rules like

[code]

[2018-09-14 12:42] xqdan commented on #1711
@sxjscience it's im2col convolution

[2018-09-14 12:48] stilistik opened #1719 "TF op conversion tests fail on fresh checkout/build of master"
When creating a fresh clone of the project, building it with options CUDA=ON and LLVM=ON, then running the test_forward.py for the tensorflow python frontend, the tests fail for me with the following error:
![screenshot from 2018-09-14 14-36-59](https://user-images.githubusercontent.com/17801065/45550619-a966ef00-b82b-11e8-8613-0cc96d43d362.png)
Reverting to commit 7d6ca1b3a7882189839bd2cb80bc8a74

[2018-09-14 13:33] masahi commented on #1719
Maybe git submodule update will solve your issue. The error is happening when importing tvm, so it has nothing to do with tensorflow test.

[2018-09-14 13:38] stilistik commented on #1719
the issue persists after git submodule update, actually it arises after a fresh build of the project.

[2018-09-14 15:36] tqchen commented on #1711
Most of the simplification we talked about here involves bound checking as well as the arithmetic template, which is harder than the simple rewrites. I wanted to do it for quite a while ago, maybe it is a good time to rethink our arithmetic simplifier to handle these cases

[2018-09-14 18:32] were commented on #1384
@xqdan Several reasons for scheduling interfaces:
1. We can explore the solution space of tuning independent with the hybrid function
2. We can use some compilation techniques to detect those loop levels can be manipulated
3. We can create Operation node for this function body to make it easier to glue to an ML flow

[2018-09-14 20:59] kevinthesun commented on #1384
@were If side effect is the major issue to support schedule interfaces, can we initially just disable in-place operation for parsing? We can then reuse ExternOpNode for now and adding support for side effect later. This should be sufficient for gluoncv models.

[2018-09-15 05:30] xqdan commented on #1384
@were if you take a look at the passes of gcc, you will find lots of loop transformations. compute and schedule are also separated in compiler, the only difference here is schedule in tvm is done manually, and compiler can optimize in a automatically way or based on hints/flags from users. also gcc has very aggressive transformation like software pipelining for loops.
https://github.com/gcc-mirror

[2018-09-15 17:17] tqchen commented on #1384
It is always good to implement user control first, then start to automate them with passes

[2018-09-15 17:18] tqchen commented on #1384
@were can you start with an implementation? Currently seems things are still a bit blocked by not being able to run extern block on that, we should start with that

[2018-09-15 17:40] were commented on #1384
@tqchen Thay may require moderate modification to the structure of OpNode.
Thus, I need to be careful.

[2018-09-15 17:51] tqchen commented on #1384
You can try to modify ExternOpNode, or create a HybridOpNode to support this, and open a PR when it is ready for review

[2018-09-15 20:41] tqchen commented on #1379
I would like to revive this thread @cowanmeg @yzhliu ,please follow up on this

[2018-09-15 20:45] yzhliu commented on #1379
I'm writing and investigating the problem I mentioned in int8 PR #1680 - I feel it is a bug.

[2018-09-15 21:47] #1713 closed

[2018-09-16 12:02] JudyZhan opened #1722 "How can I get the individual yolov3_output layer's ndarry from the TVM Framewrok?"
Hi @tqchen ,

I tried to run the YOLOV3 network via the TVM Framework, and using the related YOLOV3's cfg/weights.

For running the "/tvm/tutorials/nnvm/from_darknet.py" script, it works, but the result is not correct:

1. The  yolov3 has three outputs - YOLO layer82/layer94/layer106  for the next postprocess,  but the TVM framework detected only one output - layer106.
    So,  how can I get the l

[2018-09-17 10:43] fubo opened #1724 "when two injective op in same group, the fuse op can't give correct result. for example a reshape op and split op in a group."
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2018-09-17 11:48] sgrechanik-h commented on #1673
@MarisaKirisame Thanks for clarification. It seems like there will always be operations for which automatic differentiation does poor job, and gradients should be defined manually for them, so I think this is the right approach anyway.

[2018-09-17 16:33] tqchen commented on #1724
please open an thread at https://discuss.tvm.ai/

[2018-09-17 16:33] #1724 closed

[2018-09-19 02:12] JudyZhan opened #1730 "Some warning message for running on CUDA."
Hi,

I configured the TVM framework with CUDA-9.0, and run the "from_darknet.py" with the correct result, but has some warning messages during the running process, I don't know why this happened?

Compiling the model...
WARNING:autotvm:Cannot find config for target=cuda, workload=('conv2d', (1, 3, 416, 416, 'float32'), (32, 3, 3, 3, 'float32'), (1, 1), (1, 1), 'NCHW', 'float32'). A fallback config

[2018-09-19 04:32] masahi commented on #1730
cc @merrymercy

[2018-09-19 07:24] jroesch opened #1732 "[RFC] Add canonical and standard clang-format rules."
I have noticed inconsistencies between TVM's style as written today the Google C++ style as formatted by tools such as `clang-format`.

This proposal is simply a request for us to create a standard `clang-format` configuration file and apply it uniformly to all code and PRs. We could even set up git-hooks to do this automatically for TVM developers.

Thoughts?

cc @zhiics

[2018-09-19 15:07] srkreddy1238 opened #1736 "LLVM ERROR: Program used external function '__gnu_f2h_ieee' (Cast from float32 to float16)"
LLVM ERROR: Program used external function '__gnu_f2h_ieee' which could not be resolved!
[code]

[2018-09-19 17:09] tqchen commented on #1730
please open a thread at https://discuss.tvm.ai/

[2018-09-19 17:09] #1730 closed

[2018-09-19 18:16] merrymercy commented on #1736
Can we directly add the required functions to tvm code base?

[2018-09-20 00:47] #1662 closed

[2018-09-20 21:35] kevinthesun commented on #1384
One question is whether passing a constant argument is supported now. If not, can we pass expr, like FloatImm?

[2018-09-21 07:28] tqchen opened #1752 "[RFC] tvm.build API for multiple device types"
### Current Signature

There are two usages of build:
- Directly takes in a schedule and lower and build a single function
- Takes in list of LoweredFunc and build a module that support on kind of on device code.

[code]
The problem of current interface is that it does not support combining module devices code into a single module. Here are some possible API proposals to solve this issue.

## Note

[2018-09-21 07:30] tqchen commented on #1752
cc @dmlc/tvm-team everyone is welcomed to comment on this as it will affect the API everyone is going to use

[2018-09-21 11:49] srkreddy1238 commented on #1752
very close proposals and difficult to decide on

Assuming the flow from GraphCompile would end up with schedules (and then LoweredFunc) on multiple devices followed by segregate into device specific lists. Finally these lists can be given to Proposal 1 or 2 for a single shot build.

Also nnvm can stick to combined ```tvm::runtime::Module``` instead of getting knowledge on host and device modules .

[2018-09-21 12:21] srkreddy1238 commented on #1242
In the context of TVMContext passed to graph runtime and with heterogeneous we are now passing a vector of TVMContext.

As I understand TVMContext is tightly coupled with compiled function.

Ref #1695
- The vector of TVMContext is used for checking storage device type in the given TVMContext list or not.
- There would be only one version of tvm_op in the module (host or device) for each operation.

[2018-09-21 16:04] zhiics commented on #1752
I think proposal 3 also works well, we can probably do it like this (I've personally experimented). In stead of manually combining modules, we can modify nnvm.compiler.build from `_build(funcs, target, target_host)` to:
1. `_build([lower_func_list1, lower_func_list2], targets, host_target)` or dict device_module : lowered_funcs pairs.
2.`_build(funcs, func_cnts, targets, host_target)` where `funcs

[2018-09-21 16:17] tqchen commented on #1242
The context is passed to map the virtual device index(which is already in the plan) to the specific context. This can still be useful say we compiled a GPU module and we can map it to gpu(0) or gpu(1) during runtime

[2018-09-25 04:38] KeDengMS opened #1768 "Softplus implementation is not numerically stable"
From the [implementation](https://github.com/dmlc/tvm/blob/d1e048b79600cdcde47396648df7e065f0bd0607/nnvm/python/nnvm/frontend/onnx.py#L294-L298)

[code]

When input is 100, the output is Inf, while a stable value would be 100. Similar bugs are found in multiple places.

A numerical stable version could be `log(1 + exp(0 - abs(x))) + relu(x)`

[2018-09-25 04:51] wweic commented on #1719
As @masahi said, you are probably having issues with the shared library you built(`libtvm.so`), the error is missing symbol:
[code]
Typical cause of this error is missing implementation for virtual functions. Actually in the old nnvm repo, someone had the [exact same issue](https://webcache.googleusercontent.com/search?q=cache:qih-a3vlSzAJ:https://github.com/dmlc/nnvm/issues/332+&cd=1&hl=en&ct=cln

[2018-09-25 18:42] zhiics commented on #1752
I will take this up. I had some preliminary implementation using proposal 3. It looks that proposal 2 is more user-friendly. Let me change to it.

I think there would be more discussions about how we should pass multiple targets to GraphCompile and how a node should take the device information, etc. I will update here since the PR is out.

[2018-09-25 19:15] junrushao1994 commented on #1732
Facebook's glow (https://github.com/pytorch/glow) has a clang-format, as well as clang-tidy, maybe we could learn something from them.

[2018-09-26 02:17] yzhliu commented on #1379
PR: https://github.com/dmlc/tvm/pull/1774

[2018-09-26 05:44] nhynes commented on #1226
[This is why we can't have nice things](http://www.felixcloutier.com/x86/MOVAPS.html)

[2018-09-26 05:44] #1226 closed

[2018-09-27 01:46] tqchen commented on #1226
can you elaborate a bit on this?

[2018-09-27 03:35] nhynes commented on #1226
For parallel lambdas which use a temporal workspace, LLVM will emit `load`/`store` instructions which specify an alignment e.g.,
[code]
where `%4` is the temporal workspace.
The llvm ops get translated into `MOVAPS` which `#GP` when when the workspace has the wrong alignment.

[2018-09-27 03:50] tqchen commented on #1226
This sounds like a bug to me in the parallel code generator(or the workspace allocator)which do not respect the alignment requirements

[2018-09-27 03:51] tqchen commented on #1226
Specially, we do require temporal workspace also align to a minimum alignment and the compiler takes advantage of that

[2018-09-27 04:01] nhynes commented on #1226
Yes, this was most definitely a bug in my implementation of the workspace allocator. It's fixed now, so threading works in the rust runtime. Figuring this out required bisecting the generated llvm code with debugging statements, which isn't the best developer experience, but I suppose this is unavoidable.

[2018-09-27 04:08] tqchen commented on #1226
Gotcha, maybe we should put a heavy comment on workspace and DeviceAPI interface to warn this potential issue to the developers. This is certainly something that I would have overlooked as well

[2018-09-27 04:12] nhynes commented on #1226
PR incoming!

[2018-09-28 02:58] joshpoll opened #1782 "[RFC] Relay IR Text Format"
# Keyword Proposal

### The final keywords are:

- `def` for global function definitions
- `fn` for local function definitions/anonymous functions
- `if` and `else` for if-else expressions
- `let` for let bindings
- `True` and `False` for booleans
- data types are tvm-style. e.g. `float32x4`

### Loose Ends

There are some elements of the text format that didn't make it into this PR. See #1935 for

[2018-09-28 03:01] tqchen commented on #1782
Can we move most of the discussion to this issue instead? and post RFC here

[2018-09-28 04:19] tqchen commented on #1782
cc @dmlc/tvm-team

[2018-09-28 05:53] tqchen commented on #1782
cross posting.
We will need a spec on how nested expressions can be printed,

specifically, instead of
[code]

We prefer
[code]

Note that add will become neural network layers such as conv2d etc.

[2018-09-28 16:18] joshpoll commented on #1782
I don't think this concern is within the scope of this issue/PR. IMO the pretty printer should print the AST exactly as it's presented. I think it's too restrictive to force function arguments to be values at parse time, and thus we must allow for nested expressions. We could possibly have a compiler option that forces certain compiler passes like ANF and CSE before printing or even use the pretty

[2018-09-28 17:09] tqchen commented on #1782
This is an issue because this is how user usually constructs a program via DSL, and we need to make sure when we print, they are print out in a well-defined compact fashion which is readable by the parser(without running any transformation pass)

[2018-09-28 23:53] tqchen opened #1784 "[TEST] test_matmul topi flaky"
http://ci.tvm.ai:8080/blue/rest/organizations/jenkins/pipelines/tvm/branches/PR-1778/runs/3/nodes/231/log/?start=0

@grwlf can you take a look?

[2018-09-29 08:01] grwlf commented on #1784
That's unfortunate. Sure, I'll investigate.

[2018-09-29 18:07] joshpoll commented on #1782
Here's a proposal for block syntax per @yuruofeifei's suggestion. It will have the same semantics as  [ReasonML's for local scope](https://reasonml.github.io/docs/en/comparison-to-ocaml#local-scope), which is

[code]

desugars to

[code]

[2018-09-29 22:09] tqchen commented on #1752
closed by #1773 we are not converged to use proposal 2

[2018-09-29 22:09] #1752 closed

[2018-09-29 22:10] tqchen commented on #1242
closed by https://github.com/dmlc/tvm/pull/1695

[2018-09-29 22:10] #1242 closed

[2018-09-29 22:11] tqchen commented on #1194
closed by https://github.com/dmlc/tvm/pull/1763

[2018-09-29 22:11] #1194 closed

[2018-09-29 22:12] tqchen commented on #1291
partly closed by #1289 let us open new thread for more updates

[2018-09-29 22:12] #1291 closed

[2018-09-29 22:13] tqchen commented on #1719
Thanks for everyone on discussing the issue, let us move further discussion to https://discuss.tvm.ai/

[2018-09-29 22:13] #1719 closed

[2018-09-29 22:39] tqchen commented on #1690
now that #1680 is merged, @anijain2305 can you please followup with autotvm support?

[2018-10-01 03:37] tqchen commented on #1784
good point, @junrushao1994 can you send a patch?

[2018-10-01 03:47] junrushao1994 commented on #1784
@tqchen Should I send a quick fix only for `test_matmul`, or change all the `assert_allclose` with something like `atol=1e-5`?

[2018-10-01 04:28] tqchen commented on #1784
most cases do comes with rtol i guess, and i think we are fine as long as they are not flaky

[2018-10-01 04:36] junrushao1994 commented on #1784
@tqchen #1791

[2018-10-01 04:38] junrushao1994 commented on #1784
Ideally it would be great to have some tools helping run a test for 1000 times before it is merged, so that the choice of thresholds won't bother further commits.

[2018-10-01 12:19] grwlf commented on #1784
@junrushao1994 thank you. I was able to reproduce the error. On my machine, typical error numeric error is `1e-7` or less, which is a bit higher than the default value of `atol` (1e-8). Most of the time, relative tolerance prevents assert from triggering but in rare cases RNG happens to generate operands close to zero. In such cases relative tolerance become `1e-9` or smaller, so the error conditi

[2018-10-02 16:10] kazimuth opened #1795 "Vectorizing a reduce_axis does not raise an error"
In #670 it was said that vectorizing a reduce_axis should raise an error, but it currently just silently gives wrong answers, e.g.:

[code]

I just ran into this issue and was confused :)

[2018-10-02 16:36] tqchen commented on #1795
Thanks for reporting this!

I think that was something we missed and CHECK guard should be added here https://github.com/dmlc/tvm/blob/master/src/schedule/schedule_lang.cc#L355 to check the type of var(like https://github.com/dmlc/tvm/blob/master/src/schedule/schedule_lang.cc#L46)

Would you be interested in send a PR along with a regression testcase?

[2018-10-02 16:36] tqchen commented on #1784
Close this, for now, @grwlf you are more than welcomed to send another pr to add atol to most other settings

[2018-10-02 16:36] #1784 closed

[2018-10-02 23:07] wweic commented on #1139
[code]

Looks like even for allocate that doesn't depend on loop variable, the allocate stmt is in global scope. Is this expected? (@tqchen). Are there other IR passes that might possibly change the `AttStmt`'s position after `lower`? I can take a look if it's not by design.

[2018-10-02 23:40] tqchen commented on #1139
The "global scope" is a bit misleading, as it means global memory in GPU, or the memory that can actually be seen by the user. In CPU, everything is "global memory", although llvm may promote constant arrays into register.

The special memory "local, shared" is only enabled when we tag them to be so

[2018-10-03 00:03] wweic commented on #1139
Ah thanks for catching that! I meant the `outer most scope` in your first reply. Back to the example, do you still think the allocate statement is not in the right scope? Or it should be something similar to below?

[code]

[2018-10-03 00:03] tqchen opened #1799 "[RELAY][OP] Relay Operator Sprint"
Now that the Relay RFC is being merged and we are stabilizing the type inference interface, we should sprint to add new operators to relay to make it on parity with NNVM.

#1798 shows an example on how to do so for conv2d operator.

## General Steps of Porting
- Implement the TypeRelation function, when necessary
   - The shapes represented by IndexExpr(symbolic integer)
      - When possible, sup

[2018-10-03 00:15] tqchen commented on #1139
Yes, in this case, the allocate should be in the for loop(as shown in your code). We probably want to send an warning as well, because usually non-fixed size temporal memory means dynamic memory allocation and we can only use DRAM(CPU memory) and global scope

[2018-10-03 08:43] MarisaKirisame commented on #1799
I had 'implemented' some elem wise function which I need for ad (negative, multiplication, division)
('implemented' because it isnt possible to lower code right now)
I can take some operators, and I dont have any particular preference.

[2018-10-03 12:10] grwlf commented on #1784
@tqchen OK. I'll be ready to do this after I finish a current investigation regarding the performance on a complex model.

[2018-10-03 16:32] srkreddy1238 commented on #1799
I could get through resize operator (will PR once #1798 is merged) to start with and proceeding with transforms.

[2018-10-03 20:56] apivovarov opened #1807 "Resnet18_v1 compilation fails with opt_level=3 on Raspberry Pi 3B+"
I'm using the latest tvm/nnvm code to compile resnet18_v1 model on  Raspberry Pi 3B+ on python 3.5.3 with opt_level = 3

compilation code: https://gist.github.com/apivovarov/ce2d6dae07f8895c2e2a6cc18870154d

Error:
[code]

[2018-10-03 21:14] merrymercy commented on #1807
Do you run compilation on rasp?

I can run your code without problem on Ubuntu

[2018-10-03 21:18] apivovarov commented on #1807
yes, I run it on Raspberry Pi 3B+
[code]

[2018-10-03 21:20] apivovarov commented on #1807
the compilation works fine on raspberry Pi if I remove "-device=arm_cpu" from target line

[2018-10-03 21:38] apivovarov commented on #1807
I need to run autotvm for raspberry Pi. It's more reliable to run it locally on the device itself.

[2018-10-03 21:50] merrymercy commented on #1807
Running autotvm on rasp will be extremely slow!
The RPC server/tracker for linux is very stable. We didn't observe any problem for long tuning tasks.

[2018-10-03 23:58] junrushao1994 commented on #1799
I strongly agree with the numpy consistency, e.g. `nnvm.symbol.flatten` should be renamed.

[2018-10-04 00:48] KeDengMS commented on #1768
@ZihengJiang this would require changes in several places and adding test cases. I may find time to do so once I am more familiar with the code base.

[2018-10-04 00:48] baowenlei opened #1808 "Boolean not working with LLVM"
Hi,

We seem to find a bug related to Boolean, include details below:
Build on 10/3/2018 with master for llvm cpu, both windows and Linux, both python and C++, both topi and tvm;
simple unit test in python:
A=tvm.placeholder((n,), 'A');
B=tvm.placeholder((n,), 'B');
C=tvn.compute(A.shape, lambda i: A[i] > B[i], 'C');
s=tvm.create_schedule(C.op)
tvm.lower(s, [A,B,C], True)
tvm.build(s,[A,B,C],"cpu"

[2018-10-04 00:53] baowenlei opened #1809 "windows build failed in master 10/3/2018"
Hi,

TVM windows build failed in master. It seems some commits only tested under Linux.
Error can be located when build on windows.

Thanks,
-Wenlei

[2018-10-04 01:46] tqchen commented on #1809
Thanks for reporting this, it would be great if you can open a thread in https://discuss.tvm.ai/ giving the error messages and we can followup

[2018-10-04 01:46] #1809 closed

[2018-10-04 01:47] tqchen commented on #1807
Thanks for the great discussions, let us move further topics to https://discuss.tvm.ai/

[2018-10-04 01:47] #1807 closed

[2018-10-04 03:44] junrushao1994 commented on #1799
I can work on some shape-related APIs.

[2018-10-04 05:24] tqchen opened #1811 "[TUTORIAL] Tutorial for inline micro-kernel ASM"
Background, inline asm is supported by #1276, according to @ajtulloch 's experiment, it can be very useful to get to the state of art performance on certain platforms.

Like https://github.com/dmlc/tvm/pull/1774 we would like to have a tutorial introducing this feature to the user. I think it would also be very helpful to have a plan forward to include some of the useful inline asm kernels.

[2018-10-04 06:01] daeinki opened #1812 "cmake build error on Visual Studio for Windows"
Hi,

I was trying to test tvm on Window system (Window7, Visual Studio 2017) according to the guide(https://docs.tvm.ai/install/from_source.html) but I run into below build errors,
-----------------------------------------------------------------------------------------------------------------
1>Building Custom Rule D:/ai/tvm/CMakeLists.txt
1>CMake does not need to re-run because D:/ai/tvm/build/C

[2018-10-04 11:04] srkreddy1238 commented on #1799
@tqchen
How about relaying an assert on a condition which involve two variables ?
Ref. Transposed convolution where channels should divide groups and both are variables.

[2018-10-04 14:44] junrushao1994 commented on #1799
@srkreddy1238
I am starting with `expand_dims`, the easiest one

[2018-10-04 17:20] tqchen commented on #1315
The first debugger version has been merged in #1378, with profiling statistics for each layer

[2018-10-04 17:21] #1315 closed

[2018-10-04 18:14] tqchen commented on #1812
Thanks for reporting this, this should be fixed by add TVM_DLL to these functions
https://github.com/dmlc/tvm/blob/master/src/runtime/builtin_fp16.cc#L12

[code]

Can you check if that works and send a PR?

[2018-10-04 18:29] tqchen commented on #1799
One note about int32 vs int64 when constructing constant was raised by @junrushao1994 @srkreddy1238 . This is an issue we should think about now. int32 will likely cause some regression on large arrays which need to be fixed. I think we should prefer int64 when possible for constants, and let the compiler to automatically detect and downgrade to int32.

A temporary workaround is always to keep the

[2018-10-04 18:43] junrushao1994 commented on #1799
Another thing I am concerning is user friendliness.

First, examples provided by Python API docs should be at least runnable by copy-pasting, like PyTorch (https://pytorch.org/docs/stable/tensors.html) or NumPy (https://docs.scipy.org/doc/numpy/reference/generated/numpy.expand_dims.html).

Second, Python API docs should be self-contained, at least those designed for DL practitioners who may not ta

[2018-10-04 18:58] tqchen commented on #1799
+1 for API docs friendless, I would recommend we do it now than later. Maybe I am having a bad lead example in the conv2d docs as it was pretty minimum, I will send an updated PR to update that, and let us make sure the new ops are being well documented with examples, especially non-trival ones

[2018-10-04 19:01] tqchen commented on #1539
closed by https://github.com/dmlc/tvm/pull/1764

[2018-10-04 19:01] #1539 closed

[2018-10-04 19:14] ajtulloch commented on #1811
@tqchen sure, I can contribute this. Would something like a tutorial that modifies opt_gemm.py to hit peak performance on AVX2 would be reasonable?

[2018-10-04 21:10] srkreddy1238 commented on #1799
Expr like below is not getting simplified !!

```TensorTypeNode(float32, [n, c, int32((float32(100)*2.000000f)), int32((float32(200)*2.000000f))])```

any idea ?

[2018-10-04 21:12] tqchen commented on #1799
The eager CSE is done among integer expression only so far. For floating points, we still need to call explicitly simplification, or use as_const_int to get out and explicit simplify

[2018-10-04 21:51] apivovarov opened #1820 "Failed to cross compile resnet50_v1 for tvm.target.mali ARMv7 Mali GPU"
I tried to cross compile `resnet50_v1` model for `tvm.target.mali()` ARMv7 Mali GPU (I run the compilation on x86_64 Ubuntu 16.04 box)

The code
https://gist.github.com/apivovarov/db3275344b013678fc1cb9e187aecfae

Error:
[code]

[2018-10-04 22:38] tqchen commented on #1820
Thanks for raising the issue, for general usage questions, please open a thread at https://discuss.tvm.ai/

[2018-10-04 22:38] #1820 closed

[2018-10-04 23:27] apivovarov commented on #1820
@tqchen I think it is not "general usage" question. I found quite specific error with resnet50 models compilation for ARM+Mali devices. I think it is an issue.

[2018-10-04 23:48] tqchen commented on #1820
Well, I agree that there is a blurred line here. The community will be working together to solve the problem both in the issue tracker and the forum:) sometimes forum is even better than issue as the active thread get promoted to the top. We try to keep the issues minimum and actionable so all of them get attended to

[2018-10-05 00:00] junrushao1994 commented on #1799
I am going to grab `transpose`

[2018-10-05 00:28] tqchen commented on #1799
@junrushao1994 transpose should be in the list, sorry the list was not complete

[2018-10-05 01:39] merrymercy commented on #1820
It should already be fixed by #1796. Is your version before that fix?

[2018-10-05 01:55] daeinki commented on #1812
Thanks for reply but same build error happened.

[2018-10-05 01:59] tqchen commented on #1812
hmm, can you try to change to
[code]

[2018-10-05 03:28] MarisaKirisame commented on #1799
I am taking/had taken multiply/divide/mod/relu/tanh/sigmoid/negative.

[2018-10-05 04:02] srkreddy1238 commented on #1799
@MarisaKirisame
I have covered multiply, divide, mod, tanh, sigmoid, negative already in #1813

[2018-10-05 04:09] srkreddy1238 commented on #1799
To keep all of us on same page #1813  also covers
multiply, mod, tanh, sigmoid, negative, floor, ceil, trunc, abs, pow, resize, upsampling, batch_flatten, pool2d and global_pool2d

[2018-10-05 08:31] daeinki commented on #1812
still happend. :(

[2018-10-05 12:29] grwlf commented on #1673
@jroesch could you please clarify the place of scheduling operations in Relay? Do we plan to allow users to specify schedulers manually or we mean automatic scheduling during some phases of Relay->TVM transformation?

I'm asking this because I am working on performance measurements for a large model, exported from TensorFlow to NNVM. I am facing the case where automatic schedulers were able to acc

[2018-10-05 13:15] junrushao1994 commented on #1799
`expand_dims` is in #1819
comparison `greater` `greater_equal` `less` `less_equal` `not_equal` `equal ` is in #1824

[2018-10-05 17:38] junrushao1994 opened #1830 "[Relay][Bug] Error raised by `relay.TensorType` is not handled properly"
## Minimal reproducible example

[code]

## Stacktrace in Python3
[code]

## Stacktrace in Python2

[code]

[2018-10-05 20:20] tqchen commented on #1799
take ```right_shift```

[2018-10-05 20:20] tmoreau89 commented on #1799
take `left_shift`

[2018-10-05 20:38] MarisaKirisame commented on #1799
I had done zeros_like and ones_like. I think I will take zeros and ones too for symmetricity

[2018-10-05 20:41] Luo-Liang commented on #1799
attempting maximum

[2018-10-05 20:43] Mutinifni commented on #1799
attempting minimum

[2018-10-05 20:45] slyubomirsky commented on #1799
Attempting `pad`

[2018-10-05 20:46] joshpoll commented on #1799
take `clip`

[2018-10-05 20:48] cowanmeg commented on #1799
take sigmoid

[2018-10-05 20:59] tqchen commented on #1812
OK, let us simply run the nuclear option for now to disable fp16, do
[code]

[2018-10-05 21:15] merrymercy commented on #1799
take softmax

[2018-10-05 23:37] slyubomirsky commented on #1799
take `full` and `full_like` (the latter appears to be missing from the list even though it's an NNVM op)

[2018-10-06 03:55] kevinthesun commented on #1799
take mutibox_prior and nms

[2018-10-06 05:36] junrushao1994 commented on #1799
Some random notes: should we, or is there any tools could, do runtime type checking on the relay's Python API side?

[2018-10-06 06:06] tqchen commented on #1799
@junrushao1994 can you elaborate on what you mean?

[2018-10-06 12:50] junrushao1994 commented on #1799
@tqchen Sorry, I mean sanity check. It is not related to relay's type, just wondering if it is necessary to add some sanity checks to safeguard type safety of cffi.

For example, the signature of some function is ```def f(a: List[int], b: int)```, but python won't check actual type of `a` and `b`. If `f` directly passes `a` and `b` to ctypes, who doesn't seem to do sanity check either. In this cas

[2018-10-06 17:41] tqchen commented on #1799
I think there is a python parser that does the similar thing but needs to confirm with @jroesch @joshpoll

[2018-10-06 17:42] junrushao1994 commented on #1799
@tqchen Sounds cool!

[2018-10-06 18:30] joshpoll commented on #1799
You can do this with mypy types, see #1781 for an example. We could add type annotations to the operators, which will provide the sanity checks you want. Mypy is a static analyzer, so in order to get its benefits you need to run it separately or have it integrated into your IDE.

[2018-10-06 19:14] tqchen commented on #1830
should be fixed by #1850

[2018-10-06 20:31] junrushao1994 commented on #1830
Will close once #1850 is merged.

[2018-10-06 21:35] tqchen commented on #1808
Thanks for raising this issue, this is fixed by https://github.com/dmlc/tvm/pull/1853

[2018-10-06 21:47] #1830 closed

[2018-10-06 21:47] tqchen commented on #1812
should be fixed by #1853

[2018-10-06 21:48] tqchen commented on #1601
rust runtime is merged in #1597

[2018-10-06 21:52] tqchen commented on #1601
Here are a few next steps:
- Add document generation to the ci flow
    - see https://github.com/dmlc/tvm/blob/master/tests/scripts/task_python_docs.sh#L10  which includes jsdoc and c++ docs
    - see results in https://docs.tvm.ai/api_links.html
- Add a README.md to rust with a few get started examples
- Rust fronend if @ehsanmok is interested in bring that in as well

[2018-10-06 21:53] tqchen opened #1854 "[DOC] Host JavaDoc of tvm4j"
We should add javadoc to the CI flow, see the existing script

- https://github.com/dmlc/tvm/blob/master/tests/scripts/task_python_docs.sh#L10
- results of c++ and jsdoc https://docs.tvm.ai/api_links.html

[2018-10-06 21:53] tqchen commented on #1854
cc @yzhliu

[2018-10-06 22:14] nhynes commented on #1601
regarding docs, the conventional approach is to simply upload each release of the `tvm` crate to `crates.io` which will automatically build the docs and post them on `docs.rs`

[2018-10-06 22:18] tqchen commented on #1601
OK, we can do that then if that is the conventional approach for rust

[2018-10-08 00:12] wweic commented on #1139
OK. The reason the `allocate` was put into outer most scope is because the code only call `PlanNewScope` for `ForType::Parallel`:
https://github.com/dmlc/tvm/blob/7bafca4e550d451925abfa2f0bc897d080cbbf35/src/pass/storage_rewrite.cc#L754-L757

Is it still the case?

Also we enter/exit scope **AFTER** we call `FindAlloc `
https://github.com/dmlc/tvm/blob/7bafca4e550d451925abfa2f0bc897d080cbbf35/src/

[2018-10-08 05:54] srkreddy1238 commented on #1799
taking conv2d_transpose

[2018-10-08 08:35] siju-samuel commented on #1799
@tqchen  how to handle multiple outputs? i was trying `dropout` and `batchnorm`, both have multiple outputs.
In `RELAY_REGISTER_OP`, like `set_num_inputs`, do we have something like `set_num_outputs`?
I think currently `Array<Type>& types` will have only (inputs + one output)

[2018-10-08 12:03] srkreddy1238 commented on #1799
multiple outputs is needed for split too.

[2018-10-08 13:33] MarisaKirisame commented on #1799
@siju-samuel @srkreddy1238 multiple output is possible only by wrapping all of them in a tuple type

[2018-10-08 17:28] tqchen commented on #1139
The original assumption was indeed that most memory allocation should appear in the outermost scope of the threading boundary. This is true and useful for most memory optimizations, as dynamic allocating and de-allocating is not good for performance and do not work for on-device memory.

Maybe in cases where there is dependent memory, we should either shoot an error, or relax the memory boundary t

[2018-10-08 20:49] yongwww opened #1864 "[TESTS] Add ONNX frontend test for CPU into CI"
Got "4 failed" when tried to run tvm/nnvm/tests/python/frontend/tensorflow/test_forward.py on Mac, the related test cases are test_forward_reduce, test_forward_inception_v1, test_forward_mean and test_forward_rel_ops.

I checked the tvm CI (http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/activity/) and didn't find the onnx frontend test is included for CPU machine.

[2018-10-09 00:05] slyubomirsky commented on #1799
I'll take `batch_norm` and `dropout` as well, to finish out level 1

[2018-10-09 03:36] siju-samuel commented on #1799
i started with reduce ops, you can do with batch_norm & dropout

[2018-10-09 19:02] zhiics commented on #1799
attempting where

[2018-10-10 04:28] srkreddy1238 commented on #1799
Attempting split to conclude Level 3

[2018-10-10 07:05] anijain2305 commented on #1799
Will attempt prod

[2018-10-10 23:46] MarisaKirisame opened #1878 "reducing ci testing time?"
Right now we has 8 ci task running/in queue. During the relay operator sprint we also has such an insane amount.
given that each task take ~30 min of all computing power, this mean our feedback time become 4 hour!
However, most of the time is on testing, and most of the test are unrelated to what we changed.
Can we, when given test, only run them, if the relevant code is changed?
This is hard to d

[2018-10-11 00:34] tqchen commented on #1878
Some of them are certainly doable, we have already tried to speed up things by using code cache.

I would say in the short term, it would be still better to wait for the CI to complete while trying to make sure things pass in the first place. It is much easier to waste a bit of time here to just make sure everything is correct. We could just be mindful and do code polishment before things are sent

[2018-10-11 00:44] tqchen commented on #1878
So in short, I think we will not do anything for now, please make sure you can run the relevant tests(lint, unittests) in your local env and use CI as a means to just safe check the last stage of the code

[2018-10-11 00:44] #1878 closed

[2018-10-11 03:12] wweic commented on #1139
I see. I would vote to throw error to start, and if we see more occurrence of such pattern, we can consider handling it properly.

[2018-10-11 03:16] apivovarov opened #1880 "Add nnvm.frontend.from_tensorflow to API DOC"
API Doc does not have `from_tensorflow`
https://docs.tvm.ai/api/python/nnvm/frontend.html

But the method is here https://github.com/dmlc/tvm/blob/master/nnvm/python/nnvm/frontend/__init__.py#L8

same issue with `from_darknet`

[2018-10-11 05:07] #1880 closed

[2018-10-12 03:13] Rasterer opened #1887 "Improve performance for large dilation convolution"
Some network has convolution with large dilation, like deeplabs v3, may have 12, 24, 36 dilation value. Current implementation dilates the kernel to a bigger size then perform normal conv. But in case like dilation 24, the dilated kernel size will be 49x49, which is quite large and pretty likely to be the bottleneck of whole network.

[2018-10-12 03:20] nopattern opened #1888 "Tutorial for how to setup rk3399 opencl driver (dmlc#827) missed"
https://gist.github.com/mli/585aed2cec0b5178b1a510f9f236afa2
     I have install opencl ,but fail to compile runtime.  Can you repair the link ? Thank you .

[2018-10-12 04:30] RoGoSo opened #1889 "windows compile error"
when i follow the Docs to compile tvm on windows 10 with vs2015 update3,  i got error below. How can  I fix this？
[code]

[2018-10-12 04:36] tqchen commented on #1887
Specific optimization is necessary for dilated conv2d and we do need some of them to skip unnecessary computations

[2018-10-12 04:39] siju-samuel commented on #1889
I also got the same issue
https://discuss.tvm.ai/t/windows-link-error/905/2

[2018-10-12 04:49] tqchen commented on #1887
cc @Huyuwei @merrymercy

[2018-10-12 04:50] tqchen commented on #1889
should be fixed by https://github.com/dmlc/tvm/pull/1890

[2018-10-12 08:53] nopattern commented on #1888
fixed by copying files to default include and lib diretory .

[2018-10-12 08:53] #1888 closed

[2018-10-12 14:29] nopattern opened #1895 "Operator: WarpCTC is not supported in nnvm"
I want to deploy crnn to mali gpu.  I tested model by changing sample deploy_model_on_mali_gpu.py.Then the error is as following:
        NotImplementedError: Operator: WarpCTC is not supported in nnvm.
        Is there any tutorial to implement new Operator?

[2018-10-12 16:18] #1889 closed

[2018-10-13 02:20] gaoxiong1 opened #1897 "Support double buffer to use in ir builder DSL"
Currently, the node of double buffer AttrStmt use Operation type first, and  convert to Variable type by storage_flatten pass.  If we use  double buffer directly in ir builder DSL, which can only provide Variable as the AttrStmt's node, the storage_flatten will get error. So we can add some type check in storage_flatten to support this scene.

[2018-10-14 18:35] wweic commented on #1139
`simple_mode` skips the sanity check by `IRUseDefAnalysis`. So I added a test to show that we can detect such patterns.

[2018-10-14 22:37] #1139 closed

[2018-10-14 23:56] tqchen commented on #1897
closed by #1898 , thanks @gaoxiong1

[2018-10-14 23:56] #1897 closed

[2018-10-15 02:55] botaichang opened #1902 "nnvm/from_darknet llvm::BranchInst::AssertOK() problem"
when I run nnvm/from_darknet.py , I use target = 'llvm', but error as follows:

do i need to replace llvm version ， i use llvm 6.0.1.

[2018-10-15 06:27] wweic commented on #1902
Hi, according the [community issue convention](https://github.com/dmlc/tvm/blob/f721a645cd77661a8284559d676ef20f91eaa771/.github/ISSUE_TEMPLATE.md), it's recommended to post to https://discuss.tvm.ai first. The community will help investigate and convert it into an actionable item laster as a github issue. And it's also very helpful to provide the exact command you use that cause the error and pro

[2018-10-15 18:31] merrymercy commented on #1887
I think you are using CPU backends.

Currently, we always create an intermediate buffer for dilation (compute_root). We can do compute_inline + unroll to eliminate multiplication of zeros and large intermediate buffer. Large performance gain can be obtained here.

[2018-10-16 06:17] botaichang commented on #1902
OK,thanks.

[2018-10-16 10:10] Rasterer commented on #1887
I am using GPU backend. I don't quite understand how compute_inline + unroll can solve this problem.
Do you have sample code? If yes, Maybe I can try it in my model to see the performance gain.

[2018-10-16 21:09] #1902 closed

[2018-10-17 01:49] tqchen commented on #1795
@kazimuth any updates on this ?

[2018-10-17 07:18] RoGoSo opened #1911 "compile on Windows OS with OpenGL support error : glfw3"
[code]
But it seems TVM already included  glfw3.

[2018-10-17 09:45] daeinki opened #1914 "How to test a inference on ARM target"
Hi,

I am trying to test a inference on ARM target.
For this, I have created json, params and so library for ARM using python export_library function.
Ps. to create arm library, I should had modified python/tvm/contrib/cc.py code which allows cross compiler to be used instead of using fixed g++.

These file names have mxnet_resnet18_v1.json, mxnet_resnet18_v1.params and mxnet_resnet18_v1.so.
And t

[2018-10-17 12:13] bonotake opened #1915 "The latest master does not pass `make lint`"
I found that `make lint` produces some errors with the latest master (commit https://github.com/dmlc/tvm/commit/5bb666f2b0096d3ea5357812cae8cc2df5b25d2c).
I have tried to `git clone` the repo, tried `make lint` under the root directory immediately after that, and got the following messages.
[code]
The versions in my environment are listed below.
- Python: 3.6.3
- pylint 2.1.1
- astroid 2.0.4
- cpp

[2018-10-17 15:57] tqchen commented on #1914
Thanks for asking the questions, please open a thread in https://discuss.tvm.ai/ . https://docs.tvm.ai/deploy/index.html might be helpful

[2018-10-17 15:57] #1914 closed

[2018-10-17 15:58] tqchen commented on #1915
The lint environment is very version dependent, both in terms of python version and pylint version. To reproduce the lint on CI exactly, you can use

docker/bash.sh tvmai/ci-lint ./tests/scripts/task_lint.sh

[2018-10-17 15:58] #1915 closed

[2018-10-17 16:00] tqchen commented on #1911
Please use https://discuss.tvm.ai/ on installation questions. In your case, the reason is that tvm OpenGL depends on glfw3 but it cannot find it in your system cmake.

[2018-10-17 16:00] #1911 closed

[2018-10-17 16:03] bonotake commented on #1915
@tqchen Thanks. So we should change the description in [this document](https://docs.tvm.ai/contribute/pull_request.html):

Maybe I can fix it later.

[2018-10-17 16:42] bonotake commented on #1915
However, I still don't know how to 'test' the code locally. There is a section of testing, but I suspect we cannot run them locally.
@tqchen, are these descriptions in the document about testing really valid? Can we do them on their local environment?

[2018-10-17 16:46] wweic commented on #1915
@bonotake the instructions to run unit tests locally should work(it's not that fragile against python version). If it does not work for you, please post to https://discuss.tvm.ai/ and we can take a look.

[2018-10-17 17:03] bonotake commented on #1915
@wweic I read it [here](https://discuss.tvm.ai/t/unit-tests-do-not-work/964). I'd be happy if you could take a look.

[2018-10-17 19:10] ifeherva commented on #1223
I just built TVM from source, yet I am getting the same error (L2Normalization is not supported in nnvm). My model is from mxnet. What symbol version is needed for this to work?

[2018-10-18 20:57] #1854 closed

[2018-10-18 21:56] tqchen commented on #1485
closed by https://github.com/dmlc/tvm/pull/1476

[2018-10-18 21:56] #1485 closed

[2018-10-18 21:57] tqchen commented on #1673
Thanks for very helpful discussions, relay IR has been mainlined. Let us open new issues for discussing specific aspect of the development

[2018-10-18 21:57] #1673 closed

[2018-10-18 21:57] tqchen commented on #1673
https://github.com/dmlc/tvm/pull/1672

[2018-10-19 02:41] FrozenGene commented on #1811
@ajtulloch I am also interested in ARM / ARM64 platform. If you could leverage this tutorial: https://docs.tvm.ai/tutorials/autotvm/tune_nnvm_arm.html which would be nice.

[2018-10-19 03:47] izgzhen opened #1931 "nnvm.frontend.onnx Python API can't load current graph inputs"
Possible root cause :https://github.com/dmlc/tvm/blob/f1a4b94be9488db9bbda7b5954cd58d814163ed5/nnvm/python/nnvm/frontend/onnx.py#L821

The `self._renames` above is never updated. So `inputs` is wrong.

Example application:

- https://gist.github.com/izgzhen/57f70c028cc561d079837ab16aead9b3
- https://gist.github.com/izgzhen/17d6236f8be3f34640ff0e7f5b40174f

(basically a RNN for NLP task exported by

[2018-10-19 05:18] #1795 closed

[2018-10-19 05:18] tqchen commented on #1795
close by #1921

[2018-10-19 08:54] grwlf commented on #1784
Funny, it is `np.isclose` which has the default value of `atol=1e-08`. In contrast, `np.testing.assert_allclose` uses default `atol=0`

[2018-10-19 20:24] joshpoll opened #1935 "[Relay] IR Text Format Improvements"
- [ ] Sophisticated tensor and function type annotations including type relations and generics

- [ ] Easy parser installation. Currently running make will build the parser provided you have ANTLR installed; however, we'd like to make it easy for others to use the text format parser even if they don't have ANTLR installed. One way we could accomplish this is to maintain a version of the parser som

[2018-10-19 21:44] tqchen commented on #1782
cc @junrushao1994 @dmlc/tvm-team @jroesch @MarisaKirisame @yuruofeifei @grwlf please comment on the choices of keywords in the text format.

[2018-10-19 21:48] tqchen commented on #1782
I think one general question we want to ask when deciding keyword is consistency, and whether we want to enforce some of these

-  Consistency with python style
  -  e.g. ```true/false```  vs ```True/False````
- Consistency with numpy base type convention(and the printing output of tvm types)
   - e,g. float32, bool vs Float32, Bool
- Consistent with common choices of existing languages
   - e.g.

[2018-10-19 21:49] junrushao1994 commented on #1782
Neat.

BTW, it is necessary to use `Int`, `UInt`, `Float`?

[2018-10-19 22:12] nhynes commented on #1782
Rust has
[code]

It will definitely be confusing unless there's a well defined spec for how the compiler chooses to use these annotations. I can see some value of this when compiling one model to different architectures with varied word sizes (e.g., native vs wasm).

This is already a major point of confusion for novice python devs. Following the convention of tuple = comma will at least keep the

[2018-10-20 01:31] joshpoll commented on #1782
The idea was to have all terms (e.g. variables, functions, literals) use lowercase (this is currently not enforced) and all types use uppercase (this is currently enforced by the parser). This is similar to Python type annotations and makes it clear whether something is a term or a type.

This may become especially important when we have generic shapes like `(n, 1, m)`, because it should hopefully

[2018-10-20 01:39] joshpoll commented on #1782
@tqchen @nhynes Since we don't support tensor or list literals, it might make sense to allow both `()` and `[]` in many places. On a related note, currently type constructors use `[]` instead of `()` like function calls. This was to be consistent with Python conventions and also because things like `Tensor[(1, 1, 1), float32]` are easier to read than `Tensor((1, 1, 1), float32)`.

[2018-10-20 01:40] joshpoll commented on #1782
The use of `(1,)` instead of `(1)` is mostly a technical one that could be relaxed in the future. The problem is that `(1)` can be parsed both as 1 with parentheses and as a tuple with a single element.

[2018-10-20 01:46] joshpoll commented on #1782
For functions:

I think using `fn` for function types is a good idea and an easy change to make.

The reason for using `->` over `=>` is both for consistency with Python annotations and also because lines like `let %_: () -> Int64 = fn () -> Int64 { 0 }; ()` are easier to read than `let %_: () => Int64 = fn () => Int64 { 0 }; ()` since `=>` visually interferes with `=`.

[2018-10-20 01:47] joshpoll commented on #1782
I support @nhynes's constant literal annotation suggestion.

[2018-10-20 02:35] gaoxiong1 opened #1937 "Non-zero extent of access_ptr is out range of the buffer"
Currently, the extent is not exposed in access_ptr api of Buffer. But in this api implement, the total buffer size is used for extent argument of tvm_access_ptr.
As @tqchen mentioned in this discussion [https://discuss.tvm.ai/t/what-is-the-precise-meaning-of-tvm-access-ptrs-extent/957](url) , if the offset is non-zero, then the end of access region offset+ extent will be out of range.
This is illu

[2018-10-20 13:20] Howave opened #1942 "c++ float16 calculatiion on Mali-T860"
I convert the model and params to float16 format,

and set some parameters for float16 calculatiion.
    int dtype_code = kDLFloat;
    int dtype_bits = 16;
    int dtype_lanes = 1;
    int device_type = kDLOpenCL;
    int device_id = 0;

then uses float2half and half2float for data conversion.

but the results are wrong.

Could you have some guides？Thanks!

[2018-10-21 00:11] jroesch commented on #1782
@tqchen it feels like we should be able to avoid embedding type information in the attributes and instead use the type system.

[2018-10-21 05:02] tqchen commented on #1782
@jroesch I agree that in the longer term maybe explicitly annotate the output type is a good alternative. However, given that explicit ouput-type annotation is not supported for now and keep the type information in the attributes provides the numpy compatible API, it could be a good way to go for now.

[2018-10-21 05:44] tqchen commented on #1937
closed by #1938

[2018-10-21 05:44] #1937 closed

[2018-10-21 05:44] tqchen commented on #1942
Thanks for asking the question, please open a thread in https://discuss.tvm.ai/

[2018-10-21 05:44] #1942 closed

[2018-10-21 06:10] tqchen commented on #1782
To follow up with consistency issues, the constant proposal also needs some thoughts.

`1.0f32` makes a lot of sense for rust because rust already uses ```f32``` for ```float32```. It may make less sense given the way we choose name types. An alternative could be ```float32(1.0)```

Notably, we only need to print out common types in a friendly text format, that means we likely only have to deal wi

[2018-10-21 11:05] merrymercy commented on #1887
The idea is to inline dilation rather than use a separate stage. Then we can unroll some axes and use the simplifier to remove the multiplications of zeros.

[code]

Output
[code]

[2018-10-21 14:35] MarisaKirisame commented on #1782
This idea just come out of my head:
can we pin a version number to every relay source/serialized code? It help to switch from one version to another version.

[2018-10-21 16:51] tqchen commented on #1931
Thanks @izgzhen for reporting this? Can you send a patch to fixe the problem?

[2018-10-21 19:58] joshpoll commented on #1782
@tqchen I think type abbreviations like `f32` make sense in Relay as well. C, C++, Java, and Python all have type suffixes for numeric literals. We could also consider forcing all literals to be type-annotated. If we decide to do that I think forcing people to write suffixes makes more sense than forcing people to write wrapping functions.

[2018-10-21 20:34] joshpoll commented on #1782
I think using Python conventions for booleans and dtypes is probably the way to go.

[2018-10-22 11:58] Youjk opened #1952 "HalideIR source code throw a runtime error:left shift of negative value -1"
In HalideIR source code , the 32 rows in file IR.cpp :

`Expr IntImm::make(Type t, int64_t value) {
    internal_assert(t.is_int() && t.is_scalar())
        << "IntImm must be a scalar Int\n";
    internal_assert(t.bits() == 8 || t.bits() == 16 || t.bits() == 32 || t.bits() == 64)
        << "IntImm must be 8, 16, 32, or 64-bit\n";

    // Normalize the value by dropping the high bits
    value <<

[2018-10-22 11:58] #1952 closed

[2018-10-22 12:00] Youjk opened #1953 "HalideIR source code throw a runtime error:left shift of negative value -1"
In HalideIR source code , the 32 rows in file IR.cpp :

[code]

if value is negative, value <<= (64 - t.bits()) will cause a runtime error.
![image](https://user-images.githubusercontent.com/8721085/47291129-1ba1cf00-d635-11e8-85ae-0f96020e4b93.png)

can I modify the code in the 32 rows like this:
value =(uint64_t) value << (64 - t.bits());

[2018-10-22 16:31] tqchen commented on #1953
The code itself is correct and left shift of integer value is well defined. Can you try to update it as

[code]

[2018-10-24 02:12] Youjk commented on #1953
I try to update the code as you say,it still causes the runtime error while the  value is negative,because the type of value is int64_t, so the high bit represents sign, and the left shitf may change the sign of the number. so  I modify the code like this to cast the value to uint64_t :
`value =(uint64_t) value << (64 - t.bits());`

[2018-10-24 07:53] hungbui-io opened #1971 "Got an error with from_tensorflow.py in the tutorials"
Hi all,
I have just started using TVM. However, after installing TVM, I got an error in running the script from_tensorflow.py in the tutorials :

Traceback (most recent call last):
  File "from_tensorflow.py", line 112, in <module>
    sym, params = nnvm.frontend.from_tensorflow(graph_def, layout=layout)
  File "/home/hung/projects/tvm/nnvm/python/nnvm/frontend/tensorflow.py", line 1371, in from_t

[2018-10-24 07:56] srkreddy1238 commented on #1971
https://github.com/dmlc/tvm/pull/1923

This should fix it.

[2018-10-24 08:44] hungbui-io commented on #1971
Hi @srkreddy1238 , thanks a lot for quick reply. However, I am able to run the same code (from_tensorflow.py) in a different PC. The only difference between 2 PCs is that the one that got the error, runs with cpu while the other runs with gpu.

[2018-10-24 08:54] srkreddy1238 commented on #1971
Primary diff here is with the ```Truncate``` option for Cast operator which is added in recent versions.
I came across it recently, hence the above patch.

[2018-10-24 09:41] wincle opened #1972 "Reshape inputs size should be compatible"
Hi , I have facing one problem , I'm running the "Compile Tensorflow Models" tutorial demo code, it's okay with the given model which is InceptionV1 from "https://github.com/dmlc/web-data/tree/master/tensorflow/models/InceptionV1" , But when I test my model which is InceptionV4, it  brings Error as follow:
`nnvm._base.NNVMError: Error in operator prefix/InceptionV4/Logits/PreLogitsFlatten/flatten/

[2018-10-24 11:13] #1971 closed

[2018-10-24 16:33] tqchen commented on #1972
Thanks for bringing up this problem, please open a thread at the community disucss forum https://discuss.tvm.ai

[2018-10-24 16:33] #1972 closed

[2018-10-24 16:36] tqchen commented on #1971
Thanks for the healthy discussions, @hungbui-io please use https://discuss.tvm.ai/ for future questions

[2018-10-24 16:47] srkreddy1238 commented on #1972
@wincle https://github.com/dmlc/tvm/pull/1923 should fix this issue.

[2018-10-24 16:49] srkreddy1238 commented on #1972
@wincle you may follow the below discussion
https://discuss.tvm.ai/t/tvm-tf-converter-bug-with-inception-v4-network/894/2

[2018-10-25 01:42] liwchang opened #1979 "[RFC] Imperfect Loop Split Condition Handling"
Though tvm has predicates information, there seems no proper loop transformation utilizing that info to generate efficient loop structure when conditions happen.

An example.
A simple 1D vector add (c = a+b), with a tail condition, say a length as 255.
[code]
Then, if a user applies a non-scalar transformation on xi, like vectorize, unroll, any other custom one,
it will be blocked.

There are seve

[2018-10-25 02:09] wincle commented on #1972
@tqchen Thx! I have post my question up there, it seems need time to show up for me.

[2018-10-25 02:16] wincle commented on #1972
Hi, @srkreddy1238 , Thanks for your reply , I have checked the links which you posted, your work is indeed valuable, but it still confused me because I didn't find the same problems as I met which happened in `nnvm.frontend.from_tensorflow` at the Reshape Op.
Could you please explain clearly why did this error happened? Thx!

[2018-10-25 03:07] levyfan opened #1982 "[Tensorflow][Frontend] support tf saved_model and more operators"
I post it on https://discuss.tvm.ai/t/tensorflow-support-tf-saved-model-and-more-operators/1030

Hi, I have tried nnvm/tvm v0.4 from tensorflow saved_model, and face NotImplementedError: The following operators are not implemented.

The code is simple:

[code]

And the error are:

[code]

I guess there are 2 issues related.

First, tf saved_model is not supported (u’IsVariableInitialized, u’Sharde

[2018-10-25 03:13] liwchang commented on #1979
I agree that without first two working (efficiently) in tvm, padding seems the only way.
That's my current workaround for this issue.
I only call it a workaround instead of a solution.

If the padding is really "auto" (internal in tvm), it will be nice.
But the current case seems requiring users' effort at a high-level.
The key issue is that the padding size might be highly associated with split/t

[2018-10-25 04:18] tqchen commented on #1979
I agree that manual padding is a workaround, automatic padding is more desirable in most cases. The first two approaches are great, but also have their limitations(if you are targeting ASIC which don't have scalar unit)

As for the cases of decoupling of IRs, or compute/schedule. In many cases, such de-coupling is indeed imperfect (when considering padding, layout or wino-grad algorithm), and we a

[2018-10-25 09:40] carlushuang opened #1985 "[RUNTIME][LLVM] _cc.create_shared error while run tune_simple_template"
Hi I face a error while runing the `tutorials/autotvm/tune_simple_template.py` script. as following:

My tvm is builld from source and with llvm manually set to [llvm-7.0](http://releases.llvm.org/7.0.0/clang+llvm-7.0.0-x86_64-linux-gnu-ubuntu-16.04.tar.xz) (ubuntu 16.04), and also change the gcc to 7.3.0 with

sudo apt-get update
sudo apt-get install gcc-7 g++-7

it seems that /usr/bin/ld complai

[2018-10-25 13:05] JoeZhu123 opened #1988 "for lstm.py #schedule why it only support scan_h.op's schedule, how about creating scan_c.op's schedule"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2018-10-25 16:45] tqchen commented on #1988
Thanks for bringing up the question, please open a new thread at https://discuss.tvm.ai

[2018-10-25 16:45] #1988 closed

[2018-10-25 16:46] tqchen commented on #1985
Thanks for bringing up the question, please open a new thread in https://discuss.tvm.ai

[2018-10-25 16:47] #1985 closed

[2018-10-25 16:48] #1982 closed

[2018-10-25 16:49] tqchen commented on #1982
move the discussion to the forum, once we have proposals for concrete ops, we can bring up new issues. Thanks for bringing this up

[2018-10-25 19:38] sgrechanik-h opened #1996 "[RFC][WIP] Tensor Expression level automatic differentiation"
I'm working on automatic differentiation at the level of compute expressions, and I would like to share some progress and hear any comments.  Currently the automatic differentiation works well enough for some operations, so that it is possible to train a simple model, [here](https://github.com/sgrechanik-h/tvm/blob/ad/training-with-tvm.ipynb) is a tutorial on how to do this. Yet, for many operatio

[2018-10-26 02:00] carlushuang commented on #1985
Hi，open this topic at:
https://discuss.tvm.ai/t/runtime-llvm-cc-create-shared-error-while-run-tune-simple-template/1037

[2018-10-26 02:32] liwchang opened #2000 "RewriteUnsafeSelect has bugs"
Two issues.
First, the rewriter might contradict with previous rewriting rules, since it is the last rewriter.
A simple example is using Pad and vectorize it, and codegen will trigger a llvm assertion.
RewriteUnsafeSelect happens after Vectorizer, but not consider Vectorizer's rewriting.

Second, UnsafeExprDetector in RewriteUnsafeSelect seems too conservative.
Pad is still a good example.
I saw T

[2018-10-26 05:17] wweic commented on #1864
`test_forward_reduce` and `test_forward_reduce` are failed because `TOPI_REDUCE_ATLEAST1D` is 0:
https://github.com/dmlc/tvm/blob/44df04a1ef1d0f6dd36b0863695e5ea021d9d759/topi/include/topi/reduction.h#L27-L29

so that `MakeReduceTargetShape` deduced empty shape for reduction op that reduces on all axes:
https://github.com/dmlc/tvm/blob/44df04a1ef1d0f6dd36b0863695e5ea021d9d759/topi/include/topi/red

[2018-10-26 07:12] shesung commented on #1269
slice_axis seems not supported in nnvm

[2018-10-26 09:02] Foundea opened #2003 "unable to find the interface function defined in TVM，when import tvm.dll to python."
using VS2017 compiled TVM source to generated tvm.dll library ,but when we import this library to python， python unable to find the interface function defined in TVM。We found that the function name has changed in tvm.dll。
How to solve this problem？

D:\software\python2_64\libs>python
Python 2.7.15 (v2.7.15:ca079a3ea3, Apr 30 2018, 16:30:26) [MSC v.1500 64 bit (AMD64)] on win32
Type "help", "copyri

[2018-10-26 10:10] srkreddy1238 commented on #1676
Have seen similar issue with below sub graph where entire graph can be pruned to a param.

[code]
and #2004  works for it.

[2018-10-26 12:38] nopattern opened #2005 "Benchmark reproduce failed."
Hi ,I am trying to reproduce your result on rk3399 by following instruction in [benchmark](https://github.com/dmlc/tvm/tree/master/apps/benchmark)  . and after running the last command:

The error info is , LLVM ERROR: Only small and large code models are allowed on AArch64.
     So what caused this error, and  how to fix to reproduce?

[2018-10-26 12:40] nopattern commented on #1895
The forward of WarpCTC is just softmax, So Just  change to softmax.

[2018-10-26 12:40] #1895 closed

[2018-10-26 15:58] tqchen commented on #1979
I agree (b) (c) are reasonable choices. Actually, by automatic padding, I do mean (c). Shifting the loop range have quite a lot of problems, especially in reduction, which makes it undesirable.

Making things ASIC compatible is an explicit choice we make, and that may not be a bad one, given the extensive use of tensorization even in modern GPUs and future CPUs.

I agree that it is important to ma

[2018-10-26 15:59] merrymercy commented on #2005
related https://discuss.tvm.ai/t/program-crash-in-llvm-7-0/930
It seems some fixes to codegen is needed for llvm 7.0

[2018-10-26 16:05] tqchen commented on #2000
Thanks for bringing this up. Can you elaborate a bit on what is going on here? The second issue sounds like an overly conservative detection.

Most normal user will use select as if_then_else and they are error-prone in the context of padding(depending on whether the device support OOB read, we want to be safe on it). So this rewriting is to support this semantics here. You can also think this as

[2018-10-26 16:07] tqchen commented on #1864
TOPI TOPI_REDUCE_ATLEAST1D is set to 0 because it is compatible with numpy convention and we decide to force new code(relay(nnvmv2)) toward that direction, we will need to fix the other part of the code(likely the testcases)

[2018-10-26 17:01] liwchang commented on #2000
Yes, the second issue is about overly conservative detection.
The detector classified non-OOB to OOB. It might because  it failed to simplifying one branch of stmt. (The root reason I am not sure.)

In the current situation with Pad op test case, tvm rewrote select to if_then_else under vectorization, and failed llvm.
Fundamentally, it is not about OOB access.
IMO, OOB shouldn't be involved in the

[2018-10-26 17:03] tqchen commented on #2003
Thanks for bringing this up, please open a new thread at https://discuss.tvm.ai/

[2018-10-26 17:03] #2003 closed

[2018-10-26 17:16] tqchen commented on #2000
I agree that this might be a better choice for performance. However, as select has also been extensively used for OOB read(padding),

The main problem is most high-level languages don't have select at all and it is usually a low-level construct. But people tend to use select in the place which they actually want if_then_else. Given this situation, we take a compromise by using unsafe-select rewrit

[2018-10-26 17:46] tqchen commented on #2000
After thinking a bit more about this, I think I agree with you on pin down the semantics of Select. This, however, would involve an upgrade of most code since many users assumed the semantics of if_then_else when using select. So it is more of matter of a safe upgrade and when to do so, one possible way to is:

- introduce tvm.if_then_else, which serves as original select
- migrate the code to use

[2018-10-26 18:16] liwchang commented on #2000
Thanks, love you.
Let me confirm 1) Select will be kept.
and we will have 2) capability of disabling RewriteUnsafeSelect.
This will work.

BTW, I need to correct one thing.
Pad I mentioned is the Pad op, topi's or defined in onnx.
It doesn't rely on OOB read.
If i remember correctly in topi, you shift OOB read to edge read, so OOB won't happen.

[2018-10-27 03:14] Foundea commented on #2003
Hi，open this topic at:
https://discuss.tvm.ai/t/using-vs2017-compiled-tvm-source-to-generated-tvm-dll-library-but-this-library-unable-to-import-python/1044

[2018-10-27 19:19] tqchen opened #2017 "[RFC] Community Guideline Improvements"
Thanks for everyone who actively participates in the contribution and governing for the community. Since we started with the current [govenance model](https://docs.tvm.ai/contribute/community.html) our community has grown considerably. It is glad to see that some success participation including 1) Emphasize on code reviews and high review coverage which helps to improve the code quality. 2) Emphas

[2018-10-27 19:19] tqchen commented on #2017
cc @dmlc/tvm-team

[2018-10-27 19:37] ZihengJiang commented on #2017
SGTM.
IMHO, encouraging the collabration between members from different orgranizations would definitely help the development of community.

[2018-10-27 23:52] srkreddy1238 commented on #2017
Yes, current cooperation is within close circles.

+1 for collaboration across organizations.

Some options I see are irc chats, summary reports by calls or news letter ( may be monthly).

[2018-10-28 03:51] tqchen commented on #1953
let us move further discussion to https://discuss.tvm.ai/

[2018-10-28 03:51] #1953 closed

[2018-10-28 03:53] binbinmeng commented on #535
tvm/src/codegen/codegen.cc:27: Check failed: bf != nullptr Target llvm -device=tracing is not enabled
But the log of make is :
-- Build with RPC support...
-- Build with Graph runtime support...
-- Build VTA runtime with target: sim
-- Found CUDA_TOOLKIT_ROOT_DIR=/usr/local/cuda-9.0
-- Found CUDA_CUDA_LIBRARY=/usr/local/cuda-9.0/targets/x86_64-linux/lib/stubs/libcuda.so
-- Found CUDA_CUDART_LIBRAR

[2018-10-29 01:19] nopattern commented on #2005
Thanks. LLVM6 works.

[2018-10-29 04:47] FrozenGene commented on #2017
One suggestion: we can set up one `slack` channel.

[2018-10-29 10:10] liangfu commented on #1656
@tmoreau89 As I'm implementing the driver for the modules, I'm not quite clear about whether the `fetch` module loads instruction streams from DDR via cache coherent ACP port, or it could load instructions through the lightweight AXI port. In addition, if it loads instructions via the ACP port, does it require any additional on-chip RAM store the instruction queue?

[2018-10-29 14:11] nopattern opened #2029 "Compile failed after tuning"
I have tried to learn to how to tune in arm board.  And changing little code in tutorial [tune](https://docs.tvm.ai/tutorials/autotvm/tune_nnvm_mobile_gpu.html#sphx-glr-tutorials-autotvm-tune-nnvm-mobile-gpu-py),The Tuning is the good . But the  Compiling failed.
        The code related is as flollowing:
        `def tune_and_evaluate(tuning_opt):
    # extract workloads from nnvm graph
    print

[2018-10-29 21:11] tqchen commented on #2029
Thanks for bringing this up, please open a thread at https://discuss.tvm.ai/

[2018-10-29 21:11] #2029 closed

[2018-10-29 23:09] masahi commented on #2017
just FYI, we already have slack at https://tvmai.slack.com

[2018-10-29 23:30] tqchen commented on #2017
We have a slack channel which @masahi mentioned and it is kind of abandoned in favor of the public discuss forum. We could revive it in somehow, but on second thought maybe it is good to keep most discussion public in async fashion, thus the github issue/discuss would be better place to do so

[2018-10-29 23:47] nhynes commented on #2017
I kind of like when there are public semi-synchronous discussion groups for when I have a one-off question that's blocking my progress. I also like responding to messages when I'm slacking (in the literal sense).

For comparison, the PyTorch slack is a really happenin' place where much debugging and knowledge transfer happens.

[2018-10-30 02:14] xqdan opened #2030 "[RFC] Mechanism to plugin intrinsic information"
Hi, all,

Storage rewrite pass can support reusing local buffers for load/store and other halide based operations, but for intrinsics we don't for now, but we do need to support inplace since performance matters.

One way to do this is exposing a backend hook for different backends, so they can implement it in a customized way.
BTW, exposing hooks for backends is very important design in compilers

[2018-10-30 02:36] tqchen commented on #2030
can you provide a specific example on what you want?

[2018-10-30 02:48] xqdan commented on #2030
these are some intrinsics we've done the inplace for our target:
[code]

[2018-10-30 02:53] xqdan commented on #2030
more specific, we can add a backend hook here for Evaluate(intrinsics always is inside of Evaluate node)
https://github.com/dmlc/tvm/blob/master/src/pass/storage_rewrite.cc#L231

[2018-10-30 03:54] xqdan commented on #1979
Two more things added here,
1) ASIC may have instructions for tail, so both have and not have should be considered.
2) users may only use low level IR to develop operators, and integrate ops to other frameworks such TF, in this case, we can not do padding on graph level.

[2018-10-30 04:36] liwchang commented on #1979
@xqdan Great points. I had similar thoughts.

I think introducing tailcondtion as a schedule option of split/tile might be a generic-enough solution, so user or autotuner can select among them based on their needs for a specific arch.
(b) and (c) should be two reasonable ones.
(a) can still be the default, so we don't break existing ones.
(b) should be a direct, simple extension on top of the curr

[2018-10-30 09:04] emelife opened #2036 "excute ./run_example.sh in howto_deploy directoy problem"
I want to use TVM on my rk3399 board by cross compilation way.
host pc: ubuntu16.04 , mxnet + NNVM +TVM(full) + LLVM
target device (rk3399 board): ubuntu 16.04 , tvm (runtime)
After installing all tools above,I try to deploy TVM Module using C++ ways (not RPC ways) ,then I excute ./run_example.sh on host pc , but I get error ,below:

emel@workpc:~/arm-project/tvm/apps/howto_deploy$ ./run_example.s

[2018-10-30 10:21] Rasterer commented on #1887
@merrymercy Thank you very much for your detail explanation. I applied this change locally, the time cost of my model reduced from 300+ms to 50ms, great performance boost! However, I still have some questions here:

1. I reviewed your code, how about changing the implementation like this:
[code]
I limit the axis **ry  rx** extent within original kernel size **KH KW**, and put dilation address calc

[2018-10-30 10:26] BobLiu20 opened #2037 "Question about split op in get output number code."
see codes:
https://github.com/dmlc/tvm/blob/b840e9602e357c50124d0c7fb131c52321062570/nnvm/src/top/tensor/transform.cc#L394

why output number = param.indices_or_sections.ndim() + 1 but not param.indices_or_sections.ndim() ?

Since I using import onnx to tvm. The split op is encounter error: output number incorrect.
for example:
indices_or_sections = [2, 2, 1]
it's mean that output number is 3.
any

[2018-10-30 11:18] srkreddy1238 commented on #2037
This look like a bug in onnx frontend.

NNVM expects indices as an ascending ordered list which indicates the indices to split with start as 0 and end as length of dimension, hence the ```+1```.
In ONNX the ```split``` arg indicates the length of splits instead of indices.

You are welcome to contribute a fix for this.

[2018-10-30 16:04] tmoreau89 commented on #1656
@liangfu the `fetch` module grabs the instructions from DDR via DMA over the ACP port. It pushes the instruction it streams in into FIFO queues, that all take 1 block ram.

If you have vivado installed on your machine, you can build the design, and visualize the board diagram by opening the .xpr project file in the Vivado GUI, and then open the vta_wrapper.bd board design. This will show you how a

[2018-10-30 16:07] tmoreau89 commented on #2017
I do have a preference for using the discuss forums, but @nhynes brings up a good point w.r.t. getting quick answers in Slack.

However, one of the benefits of the forums is being able to search through history, and the latter being indexable by search engines. Would Slack give us the same benefits? Right now we have a free slack organization, and we'd certainly have to upgrade to a paid one to at

[2018-10-30 16:30] yzhliu commented on #2017
I like the idea of nominating committers and reviewers more from other organizations, it helps build diversity and improves collaboration within the community.

[2018-10-30 17:02] tqchen commented on #2036
Thanks for bringing up the question, please open a new thread at https://discuss.tvm.ai/

[2018-10-30 17:02] #2036 closed

[2018-10-30 21:16] slyubomirsky commented on #2017
I agree with @tmoreau89 on the benefit of forums being conveniently searchable. It is much easier and more natural to resurrect an old forum thread if the topic has become relevant again than it is to keep a discussion going in a Slack channel

[2018-10-30 21:18] jroesch commented on #2017
Yeah I think @nhynes brings up a good point about slack being a good place for people to do quick knowledge exchanges while developing/hacking on TVM.

[2018-10-31 05:05] jroesch commented on #1996
@MarisaKirisame after PLDI could you provide more feedback.

[2018-10-31 05:20] MarisaKirisame commented on #1996
@jroesch yeah

[2018-10-31 05:48] merrymercy commented on #1887
Cache_read can only cache a continuous range of axes. This is the current limitation. We can add an explicit padding stage as a workaround.

[code]

output
[code]

[2018-10-31 06:34] xqdan commented on #2030
### Support buffer reuse for intrinsics
StorageRewrite can reuse/inplace buffers for load/store, and other halide based operations, but doesn't support for intrinsics, just treat intrinsics opaque, since for different backends, thet may get different requirements.
For ASICs, we may have lots of intrinsics when we are in storage rewrite pass, if we can reuse buffers for these intrinsics, we can get

[2018-10-31 06:52] ehsanmok commented on #1601
@tqchen Sorry, I was quite detached for some time and trying to finish it as soon as I can in my free time. I'm working on ergonimic registration of callbacks in Rust, when that's done I'd probably need help for the RPC as looking at the python and java RPC it's seems they have been sort of done from scratch!

[2018-10-31 09:20] nhynes commented on #1601
Now that we're on the topic, might it be a good time to start experimenting with a more established framework like [grpc](https://grpc.io/)? There's even a nice [crate](https://crates.io/crates/grpc) for it!

I may be completely incorrect in saying this, but I think that much of the roll-your-own components are a result of C++ having a terrible package ecosystem. For instance, [the dmlc-core json

[2018-10-31 09:47] xqdan commented on #2030
The steps to do this,
1, we need to give storage rewrite a pass name, so we can tell different backends. we could do this in two ways, one is just adding a parameter target in lower, also adding a parameter for StorageRewrite pass; another is to support getting current target name in anytime anyplace after create target in build, that is to say we may need cr
2,

[2018-10-31 16:18] sgrechanik-h commented on #1996
@tqchen A couple of months ago I tried to integrate this autodiff into NNVM, the attempt (now abandoned) is still preserved in some old commits:
https://github.com/sgrechanik-h/tvm/blob/109d2f785d3e73e56665fbc987f6bd0dc5823d60/nnvm/src/top/tensor/gradient.cc
The idea was to add a special operation called gradient which accepted as attributes the original operation name and the original operation's

[2018-10-31 17:06] tqchen commented on #1996
FYI, we are moving toward NNVMv2(relay) and this is a good time to think about related questions as scaffolding are being done

[2018-10-31 17:21] tqchen commented on #1601
We roll out our own RPC because the requirement is somewhat different from grpc. We need a lightweight stateful session that persists over multiple function calls, it also helps porting into devices like android.

So there is a reason for rolling out the rpc module. I agree that json parser and thread local are somewhat unnecessary(thread_local is already supported in c++11 and it is there only fo

[2018-10-31 18:57] ehsanmok commented on #1601
@nhynes right! I already looked a little into [tarpc](https://github.com/google/tarpc) and [jsonrpc](https://github.com/paritytech/jsonrpc) to get some ideas. Given

It is honestly beyond my knowledge and I need some time to understand the details so that I can see whether there's a Rust lib that we can leverage or should write our own. Do you know such a lib and what do you suggest?

@tqchen I li

[2018-10-31 19:12] nhynes commented on #1601
Of `{tarpc, jsonrpc}`, I'd definitely go with _not_ jsonrpc. The reason jsonrpc exists is to serve web3 clients on the ethereum blockchain (which is what paritytech is all about). They don't necessarily care about this use case. `tarpc` doesn't look bad and might work with some `lazy_static!`s, but it also looks a bit more complicated than necessary. Whatever you'd find productive, I guess--as lon

[2018-10-31 19:59] tqchen commented on #1601
I won't worry about the IR, but what we really want is a node system(like the one we had in tvm::Node), once we have that, we can always build an IR around

[2018-11-01 02:57] wangpupanjing commented on #2036
在makefile里面
把最后的一行改成：
$(CXX) $(PDG_CFLAGS) -o $@ $^ -ltvm_runtime -Wl,--no-as-needed $(PKG_LDFLAGS)

然后重新执行./run_example.sh

[2018-11-01 06:20] xqdan commented on #2030
Thanks.

Suppose we have done what you said, i still don't see we can have a uniform optimizations for different backends, since we may have different optimizations for the same property of different backends, we can not just treat intrinsics as the same for different backends.

If we want to do it in your way, we need to have intrinsics first and then abstract the properties among them. For opera

[2018-11-01 07:53] jroesch opened #2051 "[RELAY][OP] Relay Op Sprint (Part 2)"
This is follow-up work to #1799. Now that we have merged an initial version of the Relay evaluator and runtime system in #1954 it is possible to use Relay for end-to-end inference, and optimization.

In order to do so we need to add attributes to the existing operators so that they may be correctly lowered to TVM.

# General Steps of Porting

In order to enable lowering of an operator we need to a

[2018-11-01 07:56] jroesch commented on #1799
Thanks to everyone for the hard work on getting 99% of the way there. I'm making a push to now add the compute and scheduling behavior for all of these operators which should enable users to use Relay for end-to-end inference tasks, enable new frontends and more. If you you would be interested in helping read more here: https://github.com/dmlc/tvm/issues/2051.

[2018-11-01 09:49] Rasterer commented on #1887
@merrymercy Great idea! Based on your code, I made packed_data inline, and cache read from it. So the unnecessary memory loading is eliminated and I can still cache the data for reusing.
Well, I think all my problems are properly addressed by now. Great appreciaiton! BTW, are you going to integrate this change into TOPI? If yes, maybe we can leave this ticket open to track your integration status.

[2018-11-01 12:17] grwlf commented on #1996
Indeed, I think that higher level IRs will always be able to decide which method to use. As far as Relay uses TVM under the hood, it should be in good position to make a choice: either substitute operations during building the backward path  (e.g. Winograd -> matmul), switch to hand-written gradients or use a semantically-correct default implementation which is provided by the current approach.

[2018-11-01 18:46] merrymercy commented on #1887
Your contributions are welcome

[2018-11-02 07:07] KingOnTheStar opened #2053 "tvm is not compatible with llvm 7.0.0"
This is a bug report.
I followed the install tutorials of tvm and install llvm 7.0.0, then run tutorials/autotvm/tune_simple_template.py. Then I got this error:

RuntimeError: Compilation error:\n/usr/bin/ld: /tmp/tmpdv8hmu/lib.o: relocation R_X86_64_32S against `.rodata.cst16\' can not be used when making a shared object

After changing llvm 7.0.0 to llvm 4.0.0, everything work well.
I use Unbunt

[2018-11-02 14:10] dylanGeng opened #2055 "Tvm compute can implement cumsum"
Hi, I want to ask a question about how to do cumsum in tvm.compute. For example, we define a tensor X as follows.

X = tvm.placeholder((2,3), name=“X”)
cum = tvm.compute((2,3), lambda i,j,k: X[i,j,k]) ???

cumsum
[ [1,1,1], [2,2,2] ] --> [ [1,2,3], [2,4,6] ]

I want to implement a cumsum in the second axis, axis[1], of tensor X, how should I write tvm.compute.
I find the the tvm.scan in doc as fol

[2018-11-02 21:36] yzhliu commented on #2053
Looks like it is something wrong with autotvm or rpc library loading. I encountered same problem running https://docs.tvm.ai/tutorials/autotvm/tune_nnvm_x86.html. llvm 6 is good. @merrymercy any idea?

[2018-11-02 21:59] yzhliu commented on #2053
Local compiling & runtime is good with llvm 7, as far as I see.

[2018-11-02 23:35] tqchen commented on #2055
moved to https://discuss.tvm.ai/t/tvm-compute-can-implement-cumsum/1085

[2018-11-02 23:35] #2055 closed

[2018-11-02 23:36] tqchen commented on #2053
seems to be duplicate with https://github.com/dmlc/tvm/issues/2005, let us move all discussion to there

[2018-11-02 23:36] #2053 closed

[2018-11-03 03:08] wayen820 opened #2058 "android deploy crash!! when exe_gpu=true"
I use Release v0.4 version,when I set exe_gpu=false in mainactivity,everything is ok,but when I set exe_gpu=true,app is crash! the log is:
`11-03 11:01:39.495 26668-27014/ml.dmlc.tvm.android.demo E/libc++abi: terminating with uncaught exception of type dmlc::Error: [11:01:39] /home/wayen/program/tvm-work/tvm0.4/tvm/apps/android_deploy/app/src/main/jni/jni_helper_func.h:194: Do NOT know how to hand

[2018-11-04 09:48] MarisaKirisame commented on #2051
dense, softmax, log_softmax, concatenate, dropout

[2018-11-05 03:22] sunstarchan opened #2062 "Check failed: override Global PackedFunc __tvm_set_device is already registered"
I'm using tvm on Mac OSX.

It builds successfully with the latest tvm source code for libtvm_runtime.dylib.
But when running with the executable binary, the binary aborted abnormally, which says

tvm/src/runtime/registry.cc:57: Check failed: override Global PackedFunc __tvm_set_device is already registered

Stack trace returned 10 entries:
[bt] (0) 0   libtvm.dylib                        0x0000000

[2018-11-05 06:38] yzhliu commented on #2062
Would you please move to https://discuss.tvm.ai/ and provide the script you were trying to run, as well as how you created the binary?

[2018-11-05 06:38] #2062 closed

[2018-11-05 11:57] Ravenwater commented on #1811
We are working on custom compute engines that have instruction sets that represent the universe of linear algebra. So we have instructions for dot, matvec, matmul, but also cg, bicgstab, cholesky, etc.. Think what Tensilica did for custom instructions in a von Neumann machine, we do for distributed data flow machines.

Would this be the environment/discussion/tutorial in which these approaches to

[2018-11-05 17:20] tqchen commented on #2030
I think there is some misunderstanding here. To be clear, I did not propose to enumerate all the intrinsics in the pass itself. I just think we will need a formal specification of what this registry is, and how can we design it so that the registry can be used to collect other information about the intrinsic, other than in-place information.

The main danger of this backend hook property is that i

[2018-11-05 19:57] denis0x0D opened #2067 "[RUNTIME][PackedFunc][Registry::Manager] Segfault with Registry::Manager and PackedFunc on x86_64 GNU/Linux."
Recently I was working on trace primitive https://github.com/dmlc/tvm/pull/1973 and found the strange bug related to hashtable which store the "PACKED" functions.

**1. Python example.**

$cat test_packed.py
[code]
$python3 test_packed.py
Output:
my_debug
...
Segmentation fault (core dumped)

**2. C++ example.**

$cat test_packed.cc
[code]
$cat test_packed_runtime.cc
[code]
$ g++ -o test test_pack

[2018-11-05 23:52] tqchen commented on #2067
This is a pretty interesting bug that I can also confirm from my side. I can confirm it on my local machine. interestingly things are fine if we use a small array.

[2018-11-05 23:57] tqchen commented on #2067
To investigate this a bit further, maybe we could make use of ir builder to build simple functions and run them through LLVM, to see if there is a particular thing that we did wrong.

https://github.com/dmlc/tvm/blob/master/tests/python/unittest/test_codegen_vm_basic.py#L37

[2018-11-06 03:54] tqchen commented on #2067
Should be resolved by https://github.com/dmlc/tvm/pull/2070. This bug is caused by a compound of two problems:

- We did not cache the result of packed_func, resulting calls into EnvGetFunc 1m times in the case of 1k * 1k
- We did not lift alloca of the result temporary memory to top of the function, resulting calling alloca 1k * 1k times and stack overflows.

[2018-11-06 03:59] #2037 closed

[2018-11-06 04:04] tqchen commented on #2037
Thanks, @BobLiu20 @srkreddy1238 1

[2018-11-06 04:10] tqchen commented on #2058
Thanks for reporting the error, please open a new thread at https://discuss.tvm.ai/, when possible, provide more details of your setup

[2018-11-06 04:10] #2058 closed

[2018-11-06 04:59] xqdan commented on #2030
we need to analyze the source and dest operands then decide inplace or not for some intrinsic. how to support this with your proposal.

[2018-11-06 06:52] xqdan commented on #2030
Having a property registry looks good, but as I said, sometimes we need to analyze some context, then decide the action. I think they are two important solutions for backends support. we can have both.

[2018-11-06 16:25] tqchen commented on #2030
The registry can register functions with certain signature, for example， FTVMCompute attribute is a function that can take in context, we will need to carefully design what is the context argument to the function though as it would become part of standard

[2018-11-06 16:48] #2067 closed

[2018-11-07 01:16] xqdan commented on #2030
I see. it'good we can register functions.

- But when we are using, we can have one function for all intrinsics, but we need to register it for each intrinsic, a little bit redundancy，is it?

- different backends may have their own registry, but they may have the same intrinsic name, how to tell the difference in registry mechanism?

[2018-11-07 05:13] chenjunweii opened #2072 "Error : python setup.py install"
I just Re-Compile TVM after the system upgrade, I got the following error when using command " python setup.py install " to install python package on python3, nnvm and topi package are free from the error, I've also tried to install tvm on python2, and it works, only python3 version of tvm got those error

g++, gcc : 6.4.1
python3 version : 3.7.1
OS : Arch Linux

/usr/lib/python3.7/site-packages/s

[2018-11-07 05:33] carlushuang commented on #2053
https://discuss.tvm.ai/t/runtime-llvm-cc-create-shared-error-while-run-tune-simple-template/1037

same issue with above link

[2018-11-07 07:46] wincle commented on #1093
Same issue, crashed when doing this:
remote.upload(path_dso_cpu)

[2018-11-07 22:58] tqchen commented on #1811
@Ravenwater this issue is around the specific aspect of using micro-asm kernels. Your proposal seems to be bigger and could be related to the general high level IR in tvm, and we would love to see contributions on that front as well

[2018-11-08 05:30] tqchen commented on #2017
Thanks for everyone who participates in the discussion, I have opened #2077 as a proposed new community guideline

[2018-11-08 14:04] bjergshen opened #2078 "deploy on iphone?"
how to depoly a model on iphone ? like mobilenet?

[2018-11-08 19:02] yzhliu commented on #2078
Could you check https://github.com/dmlc/tvm/tree/master/apps/ios_rpc , and open a post on discuss.tvm.ai if you encountered problem?

[2018-11-08 19:02] #2078 closed

[2018-11-08 21:22] Ravenwater opened #2080 "[RFC] Robust support for non-standard logarithmic and posit number systems"
Wanted to record two papers that are reporting the significant benefits provided by alternative number systems for DNN training accuracy and computational efficiency:

https://arxiv.org/pdf/1603.01025.pdf  reports on the benefits of logarithmic number systems

https://arxiv.org/pdf/1811.01721.pdf expands the research to include posit and non-IEEE floats

One of the key benefits of a stack like TVM

[2018-11-08 21:51] tmoreau89 commented on #2080
This is a great discussion to start, especially with the folks working on our Relay front end @jroesch.

On the hardware end, I think there are a lot of opportunities to extend TVM's existing back-end to support these novel data types.

[2018-11-08 22:02] Ravenwater commented on #2080
@tqchen @tmoreau89 @jroesch excellent.

I want to make certain that the 'larger' impact of the deferred rounding concept to be able to get away with much smaller representations and thus improve communication/memory bandwidth and power efficiency, requires a higher-order instruction called a fused dot-product. Managing this fused dot product as an atomic operation is important, but it impacts all

[2018-11-08 23:05] tqchen commented on #2072
Thanks for bringing this up, please open a thread at https://discuss.tvm.ai/

[2018-11-08 23:05] #2072 closed

[2018-11-08 23:40] Ravenwater commented on #2080
Fresh from the source:

https://code.fb.com/ai-research/floating-point-math/

[2018-11-09 02:55] wincle opened #2081 "Which model does android_deploy use?"
Hi , I wonder which model does android_deploy use, could you please tell me? Is that InceptionV1? Thank you!

[2018-11-09 05:52] tqchen commented on #2081
Thanks @wincle , please use https://discuss.tvm.ai/ for this type of general usage questions

[2018-11-09 05:52] #2081 closed

[2018-11-09 19:51] tqchen commented on #2030
@xqdan to follow up on this. I think we should have a global centralized registry attributes where all the backend can register on.

- For backend specific intrinsics, there should be no naming conflict(e.g. use cuda prefix for cuda only intrinsics). If an intrinsic shares name among backends, that should really mean they need to have similar behavior. We can still get backend specific behavior by

[2018-11-09 23:39] ajtulloch commented on #2080
Jeff is on GitHub at https://github.com/wickedfoo (@wickedfoo what's up), he's probably interested in this. All the code for the new paper is at https://github.com/facebookresearch/deepfloat/ btw if you haven't seen it.

[2018-11-09 23:43] xqdan commented on #2030
actually I think my pr is enough for this case. also we don't need to register repeatly for each intrinsic, obviously it's better.

[2018-11-10 02:15] tqchen commented on #2030
While the current PR is enough for this case, let us try to push the centralized attribute registry instead, for the following reasons:

- We will need a centralized place to document and use these intrinsic attribute, the hook function is a bit hidden and harder for new developers to get started
- It is sometimes helpful to have a per intrinsic behavior and specifically enumerate these behaviors

[2018-11-10 02:46] xqdan commented on #2030
I see. I can act on this.

[2018-11-10 19:21] nrothGIT opened #2086 "Web Run Time Not Built After ReadMe Instructions"
Hi!

I have followed the build instruction at https://github.com/dmlc/tvm/tree/master/web. I am running [Ubuntu-16.04.](url
[config.cmake.txt](https://github.com/dmlc/tvm/files/2568667/config.cmake.txt)
) I was successfully able to compile with the -web flag and there were no errors. However, when I try to run the basic test, I get the following Errors:

"Ä11:10:28Ü /home/nat/testgl/tvm/src/codege

[2018-11-11 03:51] FreshHillyer opened #2087 "[Compile Error on Windows]"
When i follow the installation, i compile the tvm while meeting some errors. And these erros cause the Release/tvm.lib cant generate. How can I fix this？

1>c:\users\usr\documents\github\tvm\src\relay\op\tensor\transform.cc(932): error C2146: 语法错误: 缺少“;”(在标识符“i”的前面)
1>c:\users\usr\documents\github\tvm\src\relay\op\tensor\transform.cc(932): error C2143: 语法错误: 缺少“;”(在“=”的前面)
1>c:\users\usr\documents

[2018-11-11 17:46] tqchen commented on #2087
Please open a new thread at https://discuss.tvm.ai/

[2018-11-11 17:46] #2087 closed

[2018-11-11 17:47] tqchen commented on #2086
Thanks for bringing up the issue, can you please open a new thread at https://discuss.tvm.ai/? Here is the particular rule, you need to type make web in the root folder(as it is not part of CMake rules)

[2018-11-11 17:47] tqchen commented on #2086
see https://github.com/dmlc/tvm/blob/master/Makefile#L41

[2018-11-11 21:08] nrothGIT commented on #2086
Thanks for the response, I've moved it to here https://discuss.tvm.ai/t/undefined-symbols-in-web-runtime-following-tutorial-steps/1121

[2018-11-11 23:37] junrushao1994 opened #2088 "TOPI LSTM recipe fails to compile due to inserting sync is disallowed inside unnecessary `IfThenElse`"
**TL;DR.** TVM doesn't allow syncing threads inside an `IfThenElse`, because it is very prone to deadlock or infinite wait once the conditional diverges. However, some conditionals should be eliminated before doing this check, e.g. `if (0 <= xxxx.idx) { // certainly true thing }`.

## Details and causes of the error

The LSTM recipe in the current master [link](https://github.com/dmlc/tvm/blob/c46

[2018-11-12 03:09] tmoreau89 commented on #2080
@Ravenwater it would be great to start a coordinated effort on this. as you said, the graph IR, tensor IR, code generation, hardware ISA and hardware organization all have to be designed in concert to make this work.

I think it makes sense to push for posit support in the next TVM release cycle. I am happy to work on this coordinated effort to get this supported on the hardware end. Right now VTA

[2018-11-12 15:04] junrushao1994 commented on #2088
In the `dom_map` passed into `ScanOpNode::BuildProvide`, it contains two `IterVar`s of the name `lstm_scan.idx` that are not completely the same, one with a correct range, one not:

[code]

Is that as expected?

[2018-11-14 01:21] icemelon9 opened #2097 "[AutoTVM] XGBTuner training error"
Hello,

I use AutoTVM to search schedule for gemm operator, but encountered the following error. The error happened at the training of cost model after 64 iterations. The reproducible script is at https://gist.github.com/icemelon9/f8493ff3ec1d4d82b597d2e363c041ec.

Environment:
OS: Ubuntu 18.04
Python: 3.7
XGBoost: 0.81
TVM: upstream

Error log:
[code]

[2018-11-14 02:32] daweili1226 opened #2099 "Can you please support Split and Slice as well?"
I mean our tensorflow frontend now doesn't support Gather now.

I see "take" operator is added to tvm already and nnvm operator for the same is pending.
We could use this to support Gather.

_Originally posted by @srkreddy1238 in https://github.com/dmlc/tvm/pull/1188#issuecomment-395296872_

[2018-11-14 02:37] daweili1226 commented on #2099
Traceback (most recent call last):
  File "x.py", line 125, in <module>
    sym, params = nnvm.frontend.from_tensorflow(graph_def, layout=layout)
  File "/homed/lidw/tvm/nnvm/python/nnvm/frontend/tensorflow.py", line 1411, in from_tensorflow
    sym, params = g.from_tensorflow(graph, layout)
  File "/homed/lidw/tvm/nnvm/python/nnvm/frontend/tensorflow.py", line 1096, in from_tensorflow
    "The fo

[2018-11-14 04:09] masahi commented on #2051
I noticed that the layout_transform op is missing in the above list ans also in #1799. This is important for cpu inference. Is anybody working on this? @yzhliu @kevinthesun

[2018-11-14 04:43] kevinthesun commented on #2051
@masahi layout_transform needs to be refactored, since the current implementation is in nnvm instead of topi. This is also important for graph tuner. @yzhliu Do we have any plan?

[2018-11-14 16:09] almson opened #2108 "Typo in web tutorial"
In https://docs.tvm.ai/tutorials/nnvm_quick_start.html line

    net, params = nnvm.testing.resnet.get_workload(
    layers=18, batch_size=batch_size, image_shape=image_shape)

`layers=18' should be 'num_layers=18'

[2018-11-14 18:22] tqchen commented on #2108
good catch, can you send a patch to fix https://github.com/dmlc/tvm/blob/master/tutorials/nnvm_quick_start.py#L53?
Thanks!

[2018-11-14 18:26] tqchen opened #2109 "[CONTRIB] NNPack Test Flaky"
http://ci.tvm.ai:8080/job/tvm/job/PR-2103/1/consoleText

cc @ajtulloch can you take a look?

[2018-11-15 00:31] ajtulloch commented on #2109
The error is nnp_status_unsupported_hardware, I’ll send a diff which exposes nnp_initialize() to TVM and add a check that nnp_initialize succeeds before invoking the rest of the year. Does that sound good?

[2018-11-15 00:43] tqchen commented on #2109
that sounds good

[2018-11-15 19:35] ajtulloch commented on #2109
Fix in https://github.com/dmlc/tvm/pull/2119/

[2018-11-15 22:01] #2109 closed

[2018-11-16 00:02] eqy commented on #2097
Can you move this question to the [discuss board](discuss.tvm.ai)?

There is a current limitation of the XGBoost cost model if itervar features are used and the loop nests can change with different template configurations. Try using [curve](https://github.com/dmlc/tvm/blob/69ad6aed8255204aa14458d5c19eaffa5dd2ffd5/python/tvm/autotvm/tuner/xgboost_cost_model.py#L31) features instead.

[2018-11-16 00:27] tqchen opened #2122 "[RFC] Discuss New Features of AOT Runtime"
As we move to the NNVMv2(relay), there is a clear separation of compiler and runtime. The compiler IR is maximumly flexible, while the runtime is a virtual machine(interpreter) that the executes the code which compiler generates.

This is an RFC to discuss what kinds of runtimes do we have. Given the separation of compiler and runtime, it might make sense to have multiple runtimes since there is a

[2018-11-16 00:40] ajtulloch commented on #2122
One thing that would be useful (that I think is orthogonal to JIT vs AOT) is considering relaxing the requirement on fully-specified shapes in graph_runtime. That is, we'd like to allow variable dimensions (consider supporting e.g. variable batch size) and allocate (at least some) memory dynamically.

[2018-11-16 01:35] tqchen commented on #2122
@ajtulloch can you give some specific application examples. For example, dynamic batch size in image modeling, dynamic length in language models etc. We do support certain forms of type inference with dynamic variables (the current type inference support symbolic integer in batch), and likely that would help in certain cases.

[2018-11-16 03:16] ajtulloch commented on #2122
@tqchen  yes, a simple case would be supporting using a graph in `graph_runtime` with requiring fully static shapes. For example, say we have a ResNet trained on ImageNet-1k classes, we'd like to be able to pass an (N, 3, 224, 224) tensor and recieve an (N, 1000) tensor, where N can change between calls. This shouldn't require JIT, we can just partially shape-specialize when compiling.

[2018-11-16 07:13] antinucleon commented on #2122
I agree with @ajtulloch.

More dynamic is necessary for future application. We should list a few tasks for each field, including CV/NLP/RL/ASR/TTS etc, check one by one to see what kind of feature will be necessary and what is the trend. In this phrase domain experts' input will be very helpful.

[2018-11-16 14:42] grwlf commented on #2122
For embedded applications it is often important not to use dynamic memory. For example, some tiny systems may miss memory manager at all. In my opinion, user should always have an option to generate static-memory code or the code where upper bound for memory usage is well-defined.

@ajtulloch  Is there a possibility to relax static shape restrictions and still use static memory? For example, could

[2018-11-16 22:17] ajtulloch commented on #2122
@grwlf I don't envision this would *require* dynamic memory allocations, more that it would make it possible. If you know all shapes statically then of course you can just statically allocate. This is more enabling new cases where you don't know all dimensions for all tensors statically.

[2018-11-17 00:04] szha commented on #2122
Is training in the scope of discussion?

[2018-11-17 00:10] icemelon9 commented on #2122
Another thing that could be useful in runtime is to support graph partition in case certain operators are not supported by accelerators or resources at runtime doesn't permit.

[2018-11-17 01:09] yidawang commented on #2122
I would list three most demanding features of our runtime: 1) handling inputs in dynamic shape, 2) handling execution on multiple compute resources (CPU, GPU, DSP, NPU, etc.), and 3) enabling operator-level parallelism.

I think having multiple runtimes makes sense as the scenarios of server and edge are vastly different. On the server it is relatively flexible due to the sufficient compute resour

[2018-11-17 02:37] junrushao1994 commented on #2122
Several concerns:
1) Minimizing data movement by laziness. In a word, just dump data anywhere in global memory is fine, do not waste time moving them around before they are actually needed. For example, in `concat`, can we avoid memory allocation, kernel launching, etc, which just move data to somewhere, even if there is no actual computation? We could maintain discontiguous memory chunks lazily,

[2018-11-17 02:43] junrushao1994 commented on #2122
I agree with @szha that we should have a scope of discussion. In this thread, should we talk about future integration into upstream deep learning framework (e.g. MXNet), should we talk about inference v.s. training, should we consider distributed stuff, and should we consider thread safety? These are all concerns from different scopes.

[2018-11-17 03:11] tqchen commented on #2122
To limit the scope of the discussion, let us first focus on the low resource and pure AOT scenario. The multiple target execution is already supported in the current graph runtime as #1695, and we only need to build compiler support for that. My guess is that jit and training is its own beast and would deserve another thread.

[2018-11-17 03:18] yidawang commented on #2122
#1695 is great but doesn't cover all I meant by "handling execution on multiple compute resources". Given multiple targets, how to schedule the execution on them in parallel would be an interesting research/engineering topic to explore. Also, TVM runtime may call a third-party runtime (e.g. TensorRT) for a particular target in the heterogenous environment.

[2018-11-17 03:18] tqchen commented on #1887
close by #2107 thanks to @Rasterer

[2018-11-17 03:18] #1887 closed

[2018-11-17 20:19] junrushao1994 commented on #2088
Also this recipe should be improved in terms of python2/3 compatibility. Should ```from __future__ import division```, and replace `/` with `//`.

I will be working on this recipe until it fully works.

[2018-11-17 21:51] yzhliu commented on #2051
Yes I'm working on it.

[2018-11-17 22:22] yzhliu commented on #1799
@tqchen I believe all listed operators have been implemented, could you double check?

[2018-11-18 00:54] junrushao1994 commented on #2088
It seems that the boundary checking is introduced by the following code snippet, which I don't quite understand.

https://github.com/dmlc/tvm/blob/c5e1da936a4b583a957c3f325aea0da36aeaf8d3/src/schedule/message_passing.cc#L490-L499

The logic here is: (iv be a IterVar, e.g. `lstm_scan.idx`)
1) Let `value = iv - min(iv)`.
2) Let `vmin = min(value)`, and `vmax = max(value)`.
3) Add boundary checks for

[2018-11-18 06:48] junrushao1994 commented on #2088
Should be fixed by #2126.

[2018-11-18 19:16] #2088 closed

[2018-11-19 05:00] szad670401 opened #2130 "the latest master can't find depthwise_conv2d op."
I cloned the lated master branch . compiled with LLVM6.0. I compiled a mobilenet-based object detection model.
`  File "export.py", line 30, in <module>
    graph, lib, params = nnvm.compiler.build(nnvm_sym, target, shape_dict, params=nnvm_params)
  File "/Users/yujinke/downloads/tvm-0.5/nnvm/python/nnvm/compiler/build_module.py", line 281, in build
    graph = optimize(graph, shape, dtype, layout

[2018-11-19 07:41] #1384 closed

[2018-11-19 15:01] junrushao1994 commented on #2122
@grwlf This sounds pretty cool! So how could we do manual (or automatic) scheduling on a automatically generated backprop?

CC: @were seems to be interested in this as well.

[2018-11-19 16:06] grwlf commented on #1996
@junrushao1994  @were I suggest we continue discussion related to training here.

We plan to support the following steps regarding scheduling:
1. Provide some automatic scheduling out of the box
2. Provide API for manual scheduling of gradients. We could allow programmers to access gradient nodes by their source nodes.
3. Provide API to override node's automatic gradient with manually-defined grad

[2018-11-19 18:55] were commented on #1996
As far as I imagine, the API will look like:
[code]

[2018-11-19 20:30] tqchen commented on #1799
Thanks to everyone for the hard work, this issue is closed as most ops are in, we will follow up in #2051

[2018-11-19 20:30] #1799 closed

[2018-11-19 20:32] tqchen commented on #2017
#2077 is now merged, I will send out emails to the current code owners shortly about the new committership rules. Thanks to everyone's participation to make the community better!

[2018-11-19 20:32] #2017 closed

[2018-11-20 03:00] kevinthesun commented on #1322
Yes. I'll start on this.

[2018-11-20 08:05] siju-samuel opened #2136 "[CI]Suspect a bug in reduce ops, leading to test_script failure"
`nnvm/tests/python/compiler/test_top_level1.py `and `nnvm/tests/python/compiler/test_top_level4.py` test scripts are failing.

For some of the PR's this script is success in CI and for some this will fail.
In local environment also this is failing for me. Please help to check and report whether this script is successful for you all.

Script 1
[code]

Script2
[code]

[2018-11-20 09:17] noinhome opened #2137 "Tutorial SSD model inference error when set target to mali"
Hi,

I follow the instruction [Deploy Single Shot Multibox Detector(SSD) model](https://docs.tvm.ai/tutorials/nnvm/deploy_ssd.html#sphx-glr-tutorials-nnvm-deploy-ssd-py) on rk3399 ( I build a full version (include nnvm compiler and tvm) on my rk3399 and run code on it ).

I can get a success result when I set `compiler.build( .... target=tvm.target.arm_cpu()....)`, but why I change target to **tvm

[2018-11-20 12:08] sgrechanik-h commented on #2136
Since ac7b42054f85647ba2536aac716691eee72ac6c6 and 543c42403a087ab6e1d9d8e2e7d357f4022e0d91 topi and nnvm have different reduction behaviors, and it seems they cannot be used together reliably. Related discussion: https://discuss.tvm.ai/t/nnvm-reduction-is-broken/857

[2018-11-20 12:58] siju-samuel commented on #2136
@sgrechanik-h Thanks for the info
#2091 CI is failing because of this issue.
`nnvm/tests/python/compiler/test_top_level1.py` and `nnvm/tests/python/compiler/test_top_level4.py` test scripts are failing.

[2018-11-20 14:43] grwlf commented on #2122
@ajtulloch I meant the case where we have to allocate memory statically, but still want to vary one of input dimensions. If I am correct, in dynamic batching, as mentioned by @junrushao1994, we typically vary a batch size dimension. Having this feature implemented, TVM may attempt to enter the domain for resource-critical embedded applications.

[2018-11-21 03:36] ajtulloch opened #2146 "[RFC] eBPF backend"
eBPF (https://lwn.net/Articles/740157/) is a pretty powerful new technology in modern Linux kernels, that essentially embeds a simple bytecode interpreter into the kernel, allowing users to efficiently insert custom logic at various places in the kernel (i.e. packet filtering, tracepoints, perf events, etc). There's been increasing uptake of eBPF in industry and other places, particularly for line

[2018-11-21 09:01] sqlin opened #2151 "RPC socket received error"
Hi,
I try to run cross_compilation_and_rpc.py sample on arm device, but the RPC error happens, do someone meet this issue?

python3 cross_compilation_and_rpc.py
[03:55:56] /home/shiqin.lsq/tvm/src/runtime/opencl/opencl_device_api.cc:257: Initialize OpenCL platform 'NVIDIA CUDA'
[03:55:56] /home/shiqin.lsq/tvm/src/runtime/opencl/opencl_device_api.cc:288: opencl(0)='GeForce GTX 1080' cl_device_id=0x

[2018-11-21 11:03] vinx13 commented on #1887
I think this issue also exists in int8 conv2d on CUDA, redundant data are cached to shared memory. I will try to make to fix.

[2018-11-21 17:59] tqchen commented on #2151
Thanks for reporting this, please open a new thread at https://discuss.tvm.ai/

[2018-11-21 17:59] #2151 closed

[2018-11-22 06:00] #2099 closed

[2018-11-22 06:08] siju-samuel commented on #2136
Thanks @tqchen @sgrechanik-h
This issue is now resolved.

[2018-11-22 06:08] #2136 closed

[2018-11-22 15:31] kuonangzhe commented on #1561
Just got the exact same error via the master branch. @chenjunweii how did you solve the problem?

[2018-11-23 06:50] tqchen opened #2160 "[DOCS] Devguide: TVM Codebase Walkthrough Tutorial"
As more contributors start to collaborate on TVM, it would be super helpful to write a few developer guides to walk through the TVM code base. As an open source project, we value the maintainability and docs above the code itself, and we should provide some dev guide to do so.  The current runtime system doc is one example. But we need more of these.

In particular, it would be helpful to analysis

[2018-11-24 03:50] daweili1226 opened #2162 "Tensorflow nnvm shape error"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2018-11-24 03:50] daweili1226 commented on #2162
Traceback (most recent call last):
  File "x.py", line 142, in <module>
    graph, lib, params = nnvm.compiler.build(sym, shape=shape_dict, target=target, target_host=target_host, dtype=dtype_dict, params=params)
  File "/homed/lidw/tvm/nnvm/python/nnvm/compiler/build_module.py", line 270, in build
    ishape, _ = graph_util.infer_shape(graph, **shape)
  File "/homed/lidw/tvm/nnvm/python/nnvm/comp

[2018-11-24 03:51] daweili1226 commented on #2162
I ran an OCR model and the above error occurred, can someone help me figure it out? Appreciated.

[2018-11-24 03:52] eqy commented on #2162
Can you please move this topic to the discuss board?
On Fri, Nov 23, 2018 at 7:51 PM daweili1226 <notifications@github.com>
wrote:

[2018-11-24 05:58] #2162 closed

[2018-11-25 15:05] masahi commented on #2160
I want to contribute some write-up, since this issue is kind of dear to my heart. I can kick-start with a vector-add example, if nobody is going to do it. Recently I've studied how exactly python and c++ interop works (without using pybind or Boost Python etc). It would be interesting to write about it too.

Below are things which I think should be documented:
* How to add a new backend. Recently

[2018-11-26 03:19] liangfu commented on #1656
@tmoreau89 Thank you for your help.

Now, I'm aware that the `fetch` module uses DMA to grab the instruction streams in DDR, and I have implemented that on `de10-nano`. However, it is defined in the Xilinx HLS code that the interface is `m_axi`, which should be a axi master interface. As Intel HLS compiles pointers in the argument list into memory mapped interface, do you think I shall transform t

[2018-11-26 17:39] tqchen commented on #2160
Thanks for @Ravenwater @masahi this all makes sense and please go for it. For specific details, I would recommend us to open new threads(like working threads) in the discuss, where everyone can jump in and add details.

[2018-11-26 17:44] sgrechanik-h opened #2173 "[ARITH] Simplifier Improvement"
* The simplifier does not simplify `(y - x) - y`. Interestingly, `(y - x) - y < 0` is simplified, but `(y - x) - y > 0` is not:
[code]
  `CanonicalSimplify` works well on this example though.
* The simplifier rewrites `(3*x + y)/3` into `x + (y/3)`. Since tvm uses C/C++ truncated division instead of flooring or euclidean division, this is wrong (e.g. `x = 1, y = -1`). Recently there was a related

[2018-11-26 17:51] tqchen commented on #2173
Some of these are not as problematic, because they can be caught by CanonicalSimplify.
Eventually, we will need a new simplifier that takes all of these into consideration, and do reasonable integer set analysis hopefully in the next release cycle

[2018-11-26 17:52] tqchen commented on #2146
This sounds good, but I am wondering what would the runtime of them looks like, is it possible to expose an TVM runtime like API like we did for SGX?

[2018-11-26 18:01] tqchen opened #2174 "[COMMUNITY][RFC] Developer Slack Channel"
As a followup of https://github.com/dmlc/tvm/issues/2017, @nhynes suggested that we should still make use of slack, to some extent for semi-sync communications. So we have revived the https://tvmai.slack.com channel. This RFC is used to discuss among the community on the purpose of the slack channel vs other communication channels (discuss, issues). All the current committers should have admin acc

[2018-11-26 18:39] Ravenwater commented on #2160
Ok, started this thread: https://discuss.tvm.ai/t/tvm-vta-architecture-scope-and-roadmap/1212

[2018-11-26 20:53] MarisaKirisame opened #2175 "[Relay][RFC] Algebraic Data Type"
[RFC]: Algebraic Data Type for Relay

# Motivation:
Algebraic Data Type(ADT) allow one to express compound data structure with great expressiveness, performance, and safety.** I will explain in detail when showing what an ADT is, and what they can do.

# Explanation:
Very loosely speaking, an ADT is an enum/disjoint union (think std::variant). Here is a basic usage of ADT.
The syntax is make up on

[2018-11-26 23:04] masahi commented on #2174
Communication on slack worked quite well during rocm backend development. You can see the amount of chat we had on rocm channel. So yes, I think slack is great for certain purpose, and we already have a success story for that.

[2018-11-27 01:27] liuchangready opened #2176 "broadcast_add not support the NCHW format"
hi,when i transform my NCHW format tensorflow model,I met the problem Check failed: l == 1 || r == 1 operands could not be broadcast together with shapes [1,256,16,16] [256], l=16, r=256,when i check the code ,I find the broadcast_add is only support the  NHWC format.Is threre a plan to support it?

[2018-11-27 01:31] srkreddy1238 commented on #2176
Thanks for posting this issue. Let me check .

[2018-11-27 02:36] liuchangready commented on #2176
thank you  very much,
I make a quick temporary fix to  the problem,hope this can help someone.
change code in nnvm/frontend/tensorflow.py line  417:
change
def _bias_add():
    def _impl(inputs, attr, params):
        return _sym.broadcast_add(inputs[0], inputs[1])
    return _impl
to
def _bias_add():
    def _impl(inputs, attr, params):
        #print("inputs[1].shape is "+str(inputs[1].debug_str

[2018-11-27 03:45] srkreddy1238 commented on #2176
@liuchangready  above changes looks good.
feel free to push a PR for this along with a test case for this situation.

[2018-11-27 07:14] tqchen commented on #2173
To follow-up on Euclidean divisions, I agree that euclidean div is nice for analysis. The main problem of Euclidean div generation is it is relatively hard to generate efficient low-level code for it. Unless we have a strict analysis of positiveness of the index, in which case the definition of division won't matter. So the case now is we would just stick for floor div as it is close to machine co

[2018-11-27 09:58] merrymercy commented on #1690
done by #1993

[2018-11-27 09:58] #1690 closed

[2018-11-27 20:31] were commented on #2174
I cannot enter this channel because I have no CMU/UCB/UW edu email address.

[2018-11-27 20:42] tqchen commented on #2174
@were I just send an invitation to you

[2018-11-27 23:49] tqchen opened #2182 "[RELAY][PASS] Check Positiveness in FoldScaleAxis"
This issue is bought up by @merrymercy . So far FoldScaleAxis is able to pass through functions like relu. However, this is only true if the scaling factor is all positive number -- we didn't encounter this problem so far because most networks only have scaling coming from BN and the result is positive constant.

We should update the pass by running the following thing:
- Do constant folding befor

[2018-11-27 23:49] tqchen commented on #2182
@eqy @vinx13 please let us know if you are interested in working on it

[2018-11-28 00:07] masahi opened #2183 "[Relay] Enhance OpFusion for Tuple"
The current fusion implementation cannot fuse concat with anything before it. For example, upsampling + concat, which is common in image segmentation networks, cannot be fused into a single op. The NNVM v1 fusion algorithm has no problem fusing them.

The problem is that the concat op takes a single [TupleNode](https://github.com/dmlc/tvm/blob/master/src/relay/op/tensor/transform.cc#L168) as input

[2018-11-28 00:48] masahi commented on #2183
ok, I can work on this.

[2018-11-28 02:30] vinx13 commented on #2182
I will work on this

[2018-11-28 13:45] carlushuang commented on #2005
@nopattern

Hi maybe you can try build the entire tvm with clang, which may shipped with your LLVM package.

(e.g, the llvm-7.0 is downloaded from official website and put into `/opt/clang+llvm-7.0.0-x86_64-linux-gnu-ubuntu-16.04`)
[code]

@tqchen
same as [this post](https://discuss.tvm.ai/t/runtime-llvm-cc-create-shared-error-while-run-tune-simple-template/1037/7), I think this is a good approach

[2018-11-28 17:32] #2108 closed

[2018-11-29 03:22] srkreddy1238 commented on #2174
Can someone send an invitation to me ?

[2018-11-29 05:06] tqchen commented on #2174
@srkreddy1238 invitation sent, sorry about that

[2018-11-29 11:46] li-qing commented on #874
well, union is supported since metal 1.2 (hmmm iOS 9? not that sure).

anyway, check ur build config metal language version.

[2018-11-29 15:41] sgrechanik-h commented on #2173
By the way, turned out the HalideIR submodule hasn't been updated for a while, so the fix of @xqdan is not  in TVM yet. (Unfortunately it doesn't solve my case of incorrect simplification anyway).

I would still vote for Euclidean division, and concerning its problems, I would suggest the following plan:
- Rename Div and Mod in IR to EuclideanDiv and EuclideanMod
- Add explicit functions like eucl

[2018-11-29 18:42] tqchen commented on #2173
Given that truncate div is the current way and the limited simplification works fine for now, I propose us to do the following thing, from pragmatic point of view:

- Upgrade the integer set analysis to cover most cases on positiveness testing
- Keep Div/Mod as truncated version as developers in c++/LLVM are more familar with this semantics(no surprise principle).
   - If necessary, I wont mind di

[2018-11-30 04:49] #2183 closed

[2018-11-30 09:06] hozen opened #2205 "failed to run fpga example"
ubuntu14.04_64
Python 3.6.2 :: Continuum Analytics, Inc.
LLVM version is clang+llvm-7.0.0-x86_64-linux-gnu-ubuntu-14.04/

Error happened while  I execute the demo:
python <tvm root>/vta/tests/python/integration/test_benchmark_topi_conv2d.py

(notebooks) user@user:~/dmlc$ python tvm/vta/tests/python/integration/test_benchmark_topi_con
v2d.py
key=resnet-cfg[1]
Conv2DWorkload(batch=1, height=56, widt