[2020-08-12 15:49] #6258 closed

[2020-08-12 21:18] #6255 closed

[2020-08-12 21:21] #6106 closed

[2020-08-12 21:44] 652994331 commented on #6139
@eric-haibin-lin thanks, i used the master branch, it fixed.

[2020-08-12 21:44] #6139 closed

[2020-08-13 03:12] mbrookhart opened #6263 "#4312 broke Huggingface BERT ONNX import"
Hi @yongwww @kevinthesun @lixiaoquan,

I haven't been running this model recently, but one of the models I was targeting in my recent dynamic shapes work is a BERT Model from HuggingFace, imported via the ONNX importer. It's written in a dynamic fashion, but it's actually a complex static model, so I'm testing my ONNX refactor against it before starting on fully dynamic models. I was testing it ag

[2020-08-13 05:00] shalushajan95 opened #6265 "KeyError: ‘InceptionResnetV1/Logits/Flatten/flatten/Reshape/shape/1’"
Hi,

While converting the tflite model to relay module using below line of code :

[code]
i am getting this error: KeyError: ‘InceptionResnetV1/Logits/Flatten/flatten/Reshape/shape/1’

The tflite model (vgg facenet) is an quantized int8 model which i converted from frozzen pb model to tflite model using tf lite python API(with help of representaive dataset) in tensorflow 2.3. Below is the line of

[2020-08-13 06:14] SmallHedgehog opened #6266 "Why is the inference time obtained with module.time_evaluator method less, but the inference time obtained with the method defined by myself is slower?"
# using module.time_evaluator
`
print("Evaluate inference time cost...")
ftimer = module.module.time_evaluator("run", ctx, number=1, repeat=600)
prof_res = np.array(ftimer().results) * 1000  # convert to millisecond
print("Mean inference time (std dev): %.2f ms (%.2f ms)" %(np.mean(prof_res), np.std(prof_res)))

`
# 27.6ms

# using myself method
`with tvm.target.cuda():
         with autotvm.apply

[2020-08-13 06:32] vadimsightx commented on #6258
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of

[2020-08-13 07:06] vadimsightx commented on #6258
rebuild and works now thanks

[2020-08-13 08:12] nolanliou opened #6268 "TVMError: Check failed: it != type_definitions.end(): There is no definition of static_tensor_float32_*"
When I convert a PyTorch Bert model to TVM, there is a problem blow
[code]

Part of graph code list below:
[code]

It failed when converting `slice` OP.

Has anybody seen this question before？

Thanks

[2020-08-13 15:34] #6246 closed

[2020-08-13 19:35] mbrookhart commented on #6263
The onnx importer was casting the value to int32_t, leading to the -1 through overflow. If I change the importer to use int64_t, it rounds to zero when we convert the constant int64 input into an Array<Integer>. There's an intermediate double value that can't properly represent int64_t max.

@lixiaoquan I think I just need to split this op into static and dynamic cases. This is very much related t

[2020-08-13 21:54] masahi commented on #6268
I can see why this error is happening. We need to pass the Prelude module to `infer_shape`, `mod` argument here https://github.com/apache/incubator-tvm/blob/master/python/tvm/relay/frontend/common.py#L484

See below for how we pass the Prelude mod to `infer_type`. Basically we need a similar function, like `infer_shape_with_prelude`.
https://github.com/apache/incubator-tvm/blob/master/python/tvm/r

[2020-08-14 00:46] bwang1991 commented on #6265
I got a similar error. It looks like hat keys that contain "shape" can cause KeyErrors.

[2020-08-14 03:55] shalushajan95 commented on #6265
Hi @bwang1991  is there any way to solve this issue.

[2020-08-14 05:18] #4962 closed

[2020-08-14 05:46] 652994331 commented on #4464
@tobegit3hub Hi guys, i built tvm before and i built tvmsoop separately(not from USE_TF_TVMSOOP=ON) follow this:https://github.com/tobegit3hub/tftvm/tree/master/examples .
After i got libxx.so and link them to my tvm home, i run the test

import tensorflow as tf
from tvm.contrib import tf_op

mod = tf_op.Module("tvm_addone_dll.so")
addone = mod.func("addone", output_shape=[4])

with tf.Session() a

[2020-08-14 06:19] tobegit3hub commented on #4464
@652994331 You should not `tftvm` which is deprecated and please rebuild TVM with `USE_TF_TVMSOOP=ON`.

[2020-08-14 06:23] kevinthesun commented on #6263
What is the original ```end```? Usually -1 means the end of that dimension.

[2020-08-14 06:53] 652994331 commented on #4464
@tobegit3hub  i tried before, but unfortunately, i had this error:
Traceback (most recent call last):
  File "<string>", line 1, in <module>
ModuleNotFoundError: No module named 'tensorflow'
CMake Error at cmake/modules/contrib/TF_TVMDSOOP.cmake:25 (message):
  Fail to get TensorFlow compile flags
Call Stack (most recent call first):
  CMakeLists.txt:334 (include)

[2020-08-14 06:55] 652994331 commented on #4464
@tobegit3hub  and here is the entire cmake log:
udo cmake ..
-- The C compiler identification is GNU 6.4.0
-- The CXX compiler identification is GNU 6.4.0
-- Check for working C compiler: /bin/cc
-- Check for working C compiler: /bin/cc - works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
-- Check fo

[2020-08-14 07:35] tobegit3hub commented on #4464
@652994331 You need to install `tensorflow` so that TVMDSOOp could link to TensorFlow libraries.

Here is the error message from your cmake.

[code]

[2020-08-14 07:40] 652994331 commented on #4464
@tobegit3hub  thanks for the reply, i used pip install and also build tensorflow from source , if i use import tensorflow as tf; tf.__version__ i can find 1.15.0 in my env. i guess there's something wrong with the path?

[2020-08-14 07:42] 652994331 commented on #4464
@tobegit3hub Maybe i should set up the tensorflow path in the config.cmake before i cmake tvm, sorry i am not pretty sure

[2020-08-14 13:45] mbrookhart commented on #6263
The original end was the max of int64. In numpy, onnx, and tvm's default mode, -1 means take everything but the last element of the axis.

Turned out to be a precision/rounding issue, that PR fixes it

[2020-08-14 17:27] #6263 closed

[2020-08-14 19:55] 652994331 commented on #4464
@tobegit3hub It seems there are some lines about tensorflow path from the cmakelist.txt of tftvm projects(which's deprecated like u said) https://github.com/tobegit3hub/tftvm/blob/master/CMakeLists.txt
but in the cmakelist.txt of incubator-tvm projects(i am using the master branch), i cant find these lines about tensorflow path.
i think this is the problem, am i right using the master branch of in

[2020-08-14 22:38] interesaaat opened #6282 "[Frontend][PyTorch]NotImplementedError: The following operators are not implemented: ['aten::index_select']"
[code]

Any chance to have this supported?

torch==1.6.0 and latest tvm from master.

[2020-08-14 23:12] tqchen commented on #6266
Thanks for reporting the problem, the community uses https://discuss.tvm.ai/ for quick trouble shooting and discussions, please open a new thread there

[2020-08-14 23:12] #6266 closed

[2020-08-14 23:13] tqchen commented on #6247
Thanks for reporting the problem, the community uses https://discuss.tvm.ai/ for quick trouble shooting and discussions, please open a new thread there

[2020-08-14 23:13] #6247 closed

[2020-08-14 23:13] tqchen commented on #6265
Thanks for reporting the problem, the community uses https://discuss.tvm.ai/ for quick trouble shooting and discussions, please open a new thread there

[2020-08-14 23:13] #6265 closed

[2020-08-15 07:41] masahi commented on #6282
Sounds like a simple op to convert from, if you could provide a minimal PyTorch module that generates this op, we can add support for it.

[2020-08-15 12:58] Iorest opened #6285 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xe6 in position 25: ordinal not in range(128)"
I run `make ip MODE=sim  `,and error occurs

[code]
I think that adding following  code to `vta_config.py`  solves it,
[code]

[2020-08-15 15:37] interesaaat commented on #6282
Thanks! On Monday I will share a module with you.

[2020-08-15 21:51] iswariyam opened #6287 "TVMError: relay.frontend.from_keras() fails with models compiled in tensorflow 2.3"
The following error occurs when feeding a tensorflow 2.3 compiled model to relay.frontend.from_keras()

`AttributeError: 'Node' object has no attribute 'node_indices'`

The following code can be used to reproduce the error.

[code]

**Reason**

The issue occurs due to changes in the attributes of the Node class in [tensorflow 2.3](https://github.com/tensorflow/tensorflow/blob/r2.3/tensorflow/pytho

[2020-08-17 03:53] #6287 closed

[2020-08-17 17:25] interesaaat commented on #6282
This should work:

[code]

[2020-08-17 17:51] mbrookhart commented on #6237
It looks like it's failing with NHWC `nearest_neighbor. Looking at git blame, it seems @masahi worked on the test utility and @yongwww worked on the topi op. Could one or both of you guys take a look at this?

[2020-08-18 01:55] masahi commented on #6282
@interesaaat  Please try https://github.com/apache/incubator-tvm/pull/6295

[2020-08-18 01:55] #6282 closed

[2020-08-18 08:13] 652994331 commented on #4464
@tobegit3hub  Hi, i checked the cmake file again, i think the problem is: the TF_TVMDSOOP.cmake file use findpackages() to find {python3_executable}, the path it found's /usr/local/bin/python, but actually i am using a anaconda3 env and i installed tensorflow in this env. i tried to set python3_executable to my anaconda python path, not worked. Could you please help me about this, thank you!

[2020-08-18 11:48] masahi commented on #6237
Using `align_corner` option with nearest is a mistake: https://github.com/apache/incubator-tvm/blob/master/tests/python/relay/test_op_level5.py#L56

For nearest, I think the coordinate transform option should always be assymetric. The following should fix the test. The same fix should be applied to the dynamic one added in https://github.com/apache/incubator-tvm/pull/6198.

[code]

[2020-08-18 12:48] nolanliou commented on #6268
The above problem solved to modify the model code.
However, another problem occurred when inferring the type of intermediate tensor and there is a `type cast` operator.

sample code to reproduce the error.
[code]

[2020-08-18 18:52] electriclilies commented on #6237
Proposed fix is in #6298

[2020-08-18 21:48] canyilmaz90 commented on #2876
@jinfagang did you manage to solve this? I'm facing the same error, but when I check, there is 'module.h' in the included directory!

[2020-08-18 22:59] tqchen opened #6299 "[DISCUSS][RFC] Apache TVM Graduation"
Dear Community:

The TVM project has been an Apache incubator project for nearly 1.5 years now. In the past one and half year, the community grew healthily under the Apache way:

- The community now has 16 PPMC members, 31 committers, from a diverse list of organizations. The list is actively growing every month.
- ~ 150 PRs merged each month.
- vibrate technical discussion and exciting new featur

[2020-08-18 23:06] markusweimer commented on #6299
+1

TVM has been implementing many of the best practices of the ASF since before it entered incubation. The project is ready :)

[2020-08-18 23:11] ZihengJiang commented on #6299
+1
Looking forward to this!

[2020-08-18 23:12] bgchun commented on #6299
+1

I'm really excited about the progress that the TVM community has made! The project is definitely ready for graduation.

[2020-08-18 23:15] junrushao1994 commented on #6299
+1

TVM not only follows the Apache guideline with great practices, but also delivers the greatest features for users continuously. Glad to see the rapid development and accomplishment of TVM and the community! Hope to see it graduate smoothly!

[2020-08-18 23:16] interesaaat commented on #6282
Thanks, it worked! I have another problem now, but I will open another issue.

[2020-08-18 23:20] hsaputra commented on #6299
The community also have done several successful releases.
All the discussions and decisions have been done in the open and Apache way.
I agree that the project is ready for graduation as TLP in ASF.

[2020-08-18 23:25] interesaaat opened #6300 "[Frontend][PyTorch] Cast to Long gets translated into cast to float32"
I have the following pytorch program:
[code]

when I compile it into TVM, I get the following interesting trace:
[code]
Apparently in line 14 the cast into long is translated into a cast into float32.

To reproduce is you can pull [this](https://github.com/microsoft/hummingbird/tree/mainterl/tvm) branch, `pip install -e .[extra]` and run [this](https://github.com/microsoft/hummingbird/blob/mainter

[2020-08-19 01:28] masahi commented on #6268
We don't accept `input_types` argument, so I can't run your script. Note that if you save/load your jitted models, dtype will be lost. See https://github.com/pytorch/pytorch/issues/39690 if this is the same problem I raised there.

[2020-08-19 02:43] tnachen commented on #6299
+1 as well, I don't see any problems for TVM to graduate,

[2020-08-19 03:15] yidawang commented on #6299
+1 TVM follows the Apache guideline well and has substantial impact in both academia and industry. It sets a great example for a successful Apache project.

[2020-08-19 04:30] masahi commented on #6300
Thanks, the cast to long was missing, https://github.com/apache/incubator-tvm/pull/6301 should fix this.

[2020-08-19 05:19] sscdotopen commented on #6299
+1 from me as well!

[2020-08-19 05:53] vinx13 commented on #6299
+1, this is very exciting

[2020-08-19 06:03] siju-samuel commented on #6299
+1
TVM community progress is very good and its ready for graduation. Looking forward to this.

[2020-08-19 06:23] wwwwcu commented on #5133
NotImplementedError: The following operators are not implemented: ['prim::RaiseException', 'prim::Uninitialized', 'aten::lstm', 'aten::_cast_Int', 'aten::__derive_index', 'aten::__not__', 'aten::tensor', 'aten::item', 'aten::_cast_Float', 'prim::data', 'aten::format', 'aten::copy_', 'aten::append', 'aten::FloatImplicit', 'prim::dtype', 'prim::shape', 'prim::TupleIndex', 'aten::dim', 'aten::warn',

[2020-08-19 15:24] leandron opened #6305 "[TEST][FLAKY] test_auto_scheduler_cost_model.py::test_xgb_model"
As part of a recent PR #6302, I noticed a test that had nothing to do with the implementation is failing for unknown reasons.

That is `tests/python/unittest/test_auto_scheduler_cost_model.py::test_xgb_model`, and error is shown below:
[code]

[2020-08-19 15:26] leandron commented on #6305
This is the Jenkins URL (not sure how long it will last): https://ci.tvm.ai/blue/organizations/jenkins/tvm/detail/PR-6302/5/pipeline/38/

[2020-08-19 16:19] tqchen commented on #6305
cc @merrymercy

[2020-08-19 16:42] merrymercy commented on #6305
@leandron Feel free to change it to a higher value (e.g., 0.3)

[2020-08-19 16:46] merrymercy commented on #6305
Fixed by #6307

[2020-08-19 16:51] tvm-archiver commented on #6299
+1 Apache TVM graduation will be a huge milestone. It’s already been a very vibrant community.

[2020-08-19 16:54] leandron commented on #6305
That was quick... thanks @merrymercy

[2020-08-19 17:44] interesaaat commented on #6300
Thanks @masahi for the super quick PR! However the problem still persist. I think there is something else going on because now it casts to long and then to float 32 afterwards!

[code]
Perhaps the add only works over floats and is forcing a cast? No idea..

[2020-08-19 18:07] tom-gall commented on #6299
+1, definitely think the project is ready. Well done everyone!

[2020-08-19 18:20] MarisaKirisame commented on #6299
+1
what does graduation imply? how will it change tvm?

[2020-08-19 18:38] tqchen commented on #6299
@MarisaKirisame graduation means the project will official land as a top-level project of ASF. From a technical point of view, nothing will change, and we will continue to make better deep learning compiler together with the community.

[2020-08-19 18:50] comaniac commented on #6299
+1
Exciting to become an Apache project contributor :D

[2020-08-19 20:55] interesaaat commented on #6300
One think that I noticed is that I get a bunch of `WARNING:root:Untyped Tensor found, assume it is float32` when I compile the pytorch model using TVM. Is there any way to check which specific tensor create problems?

[2020-08-19 21:46] jroesch commented on #6299
+1 exciting times, agree with what everyone else has already said!

[2020-08-19 22:08] masahi commented on #6300
Unfortunately no. This is indeed an annoying issue. Even if you are tracing, we get this warning because it seems (?) the weight and bias parameters from torch are not typed. So most likely the warning comes from tensors corresponding to parameters of conv, dense, batch norm etc

[2020-08-19 22:11] interesaaat commented on #6300
Ok I found the solution, but I think I am hitting some bug. So in the `__ini__` of the module I have:
[code]
and I the middle of the `forward` method I am doing:
[code]
(this is what it throwing the 2 casts and related exception).

Interestingly, if I do:
[code]
(meaning forcing a cast at the beginning of the `forward` method) it works. If instead I add the cast in `__init__` I still get the same

[2020-08-19 22:13] masahi commented on #6300
Could `%v_operator_map.SklearnLGBMRegressor.nodes_offset` be float (or incorrectly cast to float by TVM)? It seems unless both arguments are long, one of them would be cast to float. If both lhs and rhs are long, it should work as expected.

[2020-08-19 22:13] yzhliu commented on #6299
+1. feel great to be part of the team.

[2020-08-19 22:15] masahi commented on #6300
`%v_operator_map.SklearnLGBMRegressor.nodes_offset` sounds like a parameter to the Relay function. We may be making an assumption that all parameters are float.

[2020-08-19 22:17] interesaaat commented on #6300
Sure! Any suggestion on how to do that? (I am still getting familiar with TVM, to some extent :) )

[2020-08-19 22:20] masahi commented on #6300
yes see my updated comment

[2020-08-19 22:21] interesaaat commented on #6300
`%v_operator_map.SklearnLGBMRegressor.nodes_offset: Tensor[(1, 3), int64]`

[2020-08-19 22:22] masahi commented on #6300
yeah the error also says `Check failed: t0->dtype == t1->dtype (float32 vs. int64)`

[2020-08-19 22:28] interesaaat commented on #6300
This is the full log in case:
[code]

[2020-08-19 22:29] interesaaat commented on #6300
So even if the tensor is probably typed, if I remove the initial cast to long the program will fail.

[2020-08-19 22:31] interesaaat commented on #6300
This is the log if I remove the explicit cast.
[code]

[2020-08-19 22:44] masahi commented on #6300
Can you come up with a standalone repro script? I couldn't create a simple test that gives the same error.

[2020-08-19 22:53] interesaaat commented on #6300
I can try. I have pushed the code in [this](https://github.com/microsoft/hummingbird/commit/da72a2a9cb7cb12e342f10344c8db0dee74b34c8) Hummingbird's commit. The test file to run is `tests\test_lightgbm_converter.py`. If you pull the commit and `pip install -e .` should work (assuming you have pytorch and lightgbm installed). I will also try to have a minimal script for this, but it might be not tha

[2020-08-19 23:05] masahi commented on #6300
Thanks, I'll try hummingbird. Compiling decision trees to TVM via PyTorch sounds very interesting!

[2020-08-19 23:10] interesaaat commented on #6300
Thanks! Before were manually translating the PyTorch implementation into Relay, but long term we want to use your PyTorch frontend. Any suggestion or help (or contributions) are welcome! In our experiments with the Relay implementation of the models we were getting about 3x performance improvement against PyTorch, we hope to continue to see a similar gain with the frontend!

[2020-08-20 00:11] zhiics commented on #6299
+1
Looking forward to the continued success after graduation.

[2020-08-20 00:16] electriclilies opened #6309 "[TEST][FLAKY] test_normal fails intermittently"
`test_normal` in `tests/python/contrib/test_random.py` has been failing intermittently on GPU for two of my recent PRs. My PRs implement dynamic shapes, which currently only run on CPU, not GPU, so it is pretty clear that the failure was not caused as a result of my changes.

See the output from Jenkins for more info:
https://ci.tvm.ai/blue/organizations/jenkins/tvm/detail/PR-6298/6/pipeline/
http

[2020-08-20 00:37] icemelon9 commented on #6299
+1
TVM community gets good traction. super excited to be part of the community.

[2020-08-20 01:07] masahi commented on #6300
ok found the problem. The node_offset is indeed giving an warning at

https://github.com/apache/incubator-tvm/blob/939a42b4e976a41e8513b720421d3c3678493715/python/tvm/relay/frontend/pytorch.py#L2146-L2150

Since `default_type` is float32, from that point TVM thinks `node_offset` is float32 tensor. That results in unnecessary cast.

This is the same problem I mentioned earlier about conv weight, bi

[2020-08-20 01:28] masahi commented on #6300
By comparing two Torchscript IRs, with or without ` self.nodes_offset.long()`, I now understands what's going on.

With the explicit cast, the rhs input of `aten::add` becomes the output of `aten::to(...)`, which does cast to int64. So when we query the type of rhs, it correctly returns int64.

[code]

Without the explicit cast, the rhs input of `aten::add` is the output `GetAttr` (%29 below). And

[2020-08-20 01:38] #6305 closed

[2020-08-20 02:05] tqchen commented on #6309
Thanks @electriclilies , seems to be a flaky problem that we need to fix.

[2020-08-20 02:06] tqchen commented on #6309
cc @FrozenGene @merrymercy can you help to look into it?

[2020-08-20 02:07] tqchen commented on #5298
@liangfu @areusch would be great to get your comment about the status of this issue

[2020-08-20 02:07] tqchen commented on #5215
ping @FrozenGene

[2020-08-20 02:08] tqchen commented on #5835
close for now as the original question was resolved, please open new followup threads on https://discuss.tvm.ai/

[2020-08-20 02:08] #5835 closed

[2020-08-20 02:09] tqchen commented on #2954
close as per ansor update

[2020-08-20 02:09] #2954 closed

[2020-08-20 02:09] tqchen commented on #2954
https://discuss.tvm.ai/t/rfc-ansor-an-auto-scheduler-for-tvm-autotvm-v2-0/7005

[2020-08-20 02:30] areusch commented on #5298
thoretically I think this should be fixed now. at least, the test is enabled on i386 and CPU regressions, so I think we should close this issue and reopen if we see it again.

[2020-08-20 02:34] FrozenGene commented on #5215
Currently, as listed, we have completed ` Intel CPU / ARM CPU / Bifrost / Mali ` (thanks to community's help) implementation except cuda (some progress we have done like conv2d_nhwc_winograd / conv3d_winograd when we review related prs) / intel graphics.

[2020-08-20 02:44] interesaaat commented on #6300
Interesting. Do you suggest to open an issue against pytorch? It looks to me that there is no clear solution (beside adding the explicit casting) because this is more a design problem with torchscript. Altough should tracing help? Like if we run records through the ops shluld be able to detect that indeed the tensor is of type long.

[2020-08-20 02:46] masahi commented on #6300
I don't know if Torch people would consider this as a problem. Anyway I've just opened https://github.com/apache/incubator-tvm/pull/6311 to workaround dtype of GetAttr. With that change, the explicit cast is no longer necessary. The test case I added there should demonstrate the problem you are having.

[2020-08-20 02:53] interesaaat commented on #6300
Fantastic! This is great, thanks. I will test this and let you know but from your test case it looks that it solves our problem. Thanks!

[2020-08-20 08:28] srkreddy1238 commented on #6299
+1, feeling very happy and great to be part of TVM.

[2020-08-20 08:59] nolanliou commented on #6268
Same problem

[2020-08-20 15:23] #5298 closed

[2020-08-20 15:23] tqchen commented on #5298
Thanks @areusch

[2020-08-20 17:01] tvm-archiver commented on #6299
Hi,

Apart from being a great project, TVM has an active and growing community.
It has a good understanding of the Apache Way [1] which is most important.

I think that TVM is ready for graduation. As the last step, we should
update the podling status file before starting a vote for graduation at
general@incubator [2][3].

I am +1 for graduation!

[1] https://www.apache.org/theapacheway/
[2]
https

[2020-08-20 18:11] tqchen commented on #6299
Thanks Furkan. I have updated the status file.

[2020-08-20 18:22] electriclilies commented on #6309
Thanks @FrozenGene @tqchen!

[2020-08-20 18:33] #6309 closed

[2020-08-20 18:33] interesaaat commented on #6300
It worked, no more casts are needed and the warnings disappeared.

[2020-08-21 03:29] masahi commented on #6300
#6311 is merged

[2020-08-21 03:29] #6300 closed

[2020-08-21 10:24] dileep223 opened #6320 "[Auto-TVM] How to Auto tune the model on iOS device"
Hi  Experts,

I need to Auto-tune the ONNX model on iOS device. i went through the some of the tutorials from https://tvm.apache.org/docs/tutorials/index.html#auto-tuning . i’m able to tune the model on the cuda (NVIDIA-GPU)target, but some how my bad i’m not able auto-tune the model on iOS device ( there is no tutorial on iOS device).
1. can we able to Auto-tune the model on iOS device ?

if yes

[2020-08-23 13:40] StevenJokes opened #6325 "How to use tvm in colab? tvm-0.7.dev1-cp36-cp36m-linux_x86_64.whl:Access Denied"
I'm learning d2l-tvm
I'm using win10.
So I want to use tvm in colab
But I'm having problem with installation.
Please look : https://github.com/d2l-ai/d2l-tvm/issues/46
Anyone can help me?

---

![image](https://user-images.githubusercontent.com/25657787/90979821-28bddb00-e58a-11ea-9c83-e0d39ff8302d.png)

[2020-08-23 17:36] tqchen commented on #6325
Thanks for the discussion, the community uses the discuss forum for related topics, let us move the discussion there https://discuss.tvm.ai/t/getting-started-installation/4706/2

Note that however, right now the community does not yet provide a binary wheel, and it is recommended to install from source. Some community members are actively working towards a solution that might help later.

[2020-08-23 17:36] #6325 closed

[2020-08-24 03:08] wjliu1998 opened #6328 "NotImplementedError: The following operators are not implemented: ['aten::leaky_relu_', 'aten::pixel_shuffle']"
It seems that the leaky_relu has been implemented in tvm, aten::leaky_relu_ is just an alias which is not included in convert_map.

However, aten::pixel_shuffle seems not implemented

[2020-08-24 03:48] snsun opened #6329 "Android shared lib (so) can not run on Android 4.4.2"
Hi all, Recently, I am using TVM to deploy my pytorch model to android devices. When I use an Android phone with android 6.0, everything goes well. However, when I use another andorid pad with version android 4.4.2, the so goes wrong. I used logcat to capture the log and I got :

rnnt_decoder.so (fused_cast_take_divide_add_round_cast_clip_cast_expand_dims_cast_subtract_layout_9068456268455801501_)

[2020-08-24 15:39] hgt312 commented on #3879
What is the current status of this issue? Does some one working on it?

[2020-08-24 17:19] videetparekh opened #6330 "[WASM] Cannot find global function runtime.SystemLib"
### Issue
While trying to load a wasm file into TVM web runtime, I get:

[code]

### Steps to Reproduce

Build Steps:
`make` in `tvm/web` gives me the following but proceeds to generate the `dist` folder:
[code]

Compiling a model to WASM:
[code]

The model compiles as expected and generates a wasm file. The runtime fails while loading the systemLibrary as follows.
[code]
### Env
EMSDK: 1.39.0
LLV

[2020-08-24 20:13] tqchen commented on #3879
@hgt312 feel free to take over, right now this issue has not been addressed

[2020-08-24 20:46] tqchen commented on #6299
We also need a VP who handles the PMC's reporting to the board, I self nominate to serve that role for the community.

[2020-08-24 20:50] tqchen opened #6332 "[VOTE] Apache TVM Graduation"
Dear Community:

Thanks  to everyone who participated in the discussion about graduation[1]. This is a formal voting thread for Apache TVM’s graduation.

If this vote passes, the next step would be to submit the resolution below
to the Incubator PMC, who would vote on sending it on to the Apache Board.

Vote:
[ ] +1 - Recommend graduation of Apache TVM as a TLP
[ ]  0 - I don't feel strongly about

[2020-08-24 20:51] tqchen commented on #6299
Thanks everyone for great discussions, here is the formal voting thread:
- https://github.com/apache/incubator-tvm/issues/6299
- https://lists.apache.org/thread.html/rd5b8eefe49af09a2d0913758a5e5737b3fdb9072bc0becf4a2b2c7ee%40%3Cdev.tvm.apache.org%3E

[2020-08-24 20:53] tvm-archiver commented on #6332
+1 (binding)

TVM is ready to graduate.

Markus

On Mon, Aug 24, 2020 at 1:51 PM Tianqi Chen <notifications@github.com> wrote:

[2020-08-24 21:14] junrushao1994 commented on #6332
+1 (non-binding)

Super excited!!

[2020-08-24 21:32] ZihengJiang commented on #6332
+1 (binding)

[2020-08-24 21:33] tmoreau89 commented on #6332
+1 (binding)

[2020-08-24 21:53] hsaputra commented on #6332
+1 (binding)

[2020-08-24 21:55] hsaputra commented on #6299
Thanks, Tianqi. I think the community would love to have you the VP for the TVM as TLP.

[2020-08-24 21:58] electriclilies commented on #6332
+1 (non-binding)

[2020-08-24 23:03] jroesch commented on #6332
+1 (binding)

[2020-08-24 23:11] icemelon9 commented on #6332
+1 (binding)

[2020-08-24 23:36] zhiics commented on #6332
+1 (binding)

[2020-08-24 23:59] comaniac commented on #6332
+1 (non-binding)

[2020-08-25 00:18] masahi commented on #6332
+1 (binding)

[2020-08-25 00:22] kazum commented on #6332
+1 (non-binding)

[2020-08-25 00:44] vinx13 commented on #6332
+1 (non-binding)

[2020-08-25 02:41] cchung100m commented on #6332
+1 (non-binding)

[2020-08-25 02:58] siju-samuel commented on #6332
+1 (non-binding)

[2020-08-25 05:27] bgchun commented on #6332
+1 (binding)

[2020-08-25 05:38] tnachen commented on #6332
+1 binding

[2020-08-25 06:21] jcf94 commented on #6332
+1 (non-binding)

[2020-08-25 07:20] srkreddy1238 commented on #6332
+1 (binding)

[2020-08-25 21:28] tqchen commented on #6330
Please follow the instructions in https://github.com/apache/incubator-tvm/blob/master/tests/scripts/task_web_wasm.sh as they are tested through CI.

Let us move further conversations to https://discuss.tvm.ai/

[2020-08-25 21:28] #6330 closed

[2020-08-25 21:29] tqchen commented on #6329
Thanks for reporting the problem, please open a trouble shooting thread on https://discuss.tvm.ai/ Perhaps you should use the same ndk that comes with the corresponding android version?

[2020-08-25 21:29] #6329 closed

[2020-08-25 21:30] tqchen commented on #6320
move to https://discuss.tvm.ai/t/auto-tvm-how-to-auto-tune-the-model-on-ios-device/7681/3

[2020-08-25 21:30] #6320 closed

[2020-08-26 05:31] ashutoshparkhi opened #6340 "Faster RCNN: Unable to compile for CPU because topk fails"
Hello,

This the variant that fails with topk error.
http://download.tensorflow.org/models/object_detection/faster_rcnn_inception_v2_coco_2018_01_28.tar.gz

Error:
        **%10934 = topk(%10930, %10933, k=None, dtype="int32")^[[31m the function is provided too many arguments expected 1, found 2; ^[[39m;**

Is anyone already working to fix this issue?

Please let me know if I need to serve more de

[2020-08-26 09:04] kamaci commented on #6332
Apart from being a great project, TVM has an active and growing community. It has a good understanding of the Apache Way [1] which is most important. I think that TVM is ready for graduation.

I am +1 for graduation!

[1] https://www.apache.org/theapacheway/

[2020-08-27 16:52] tqchen commented on #6332
Thanks everyone. The results are:

+1
Markus
Junru
ziheng
Thierry
Henry
Lily
Jared
Haichen
Masa
Morita
Wuwei
Siju
Gon
Timothy
Chenfan
Siva 
Furkan

+0 None
-1 None

The vote has passed. We will now proceed with a followup vote in IPMC.

[2020-08-27 16:56] tqchen opened #6350 "[RESULT][VOTE] Apache Graduation"
Thanks everyone who voted.

Voting thread: https://lists.apache.org/thread.html/rd5b8eefe49af09a2d0913758a5e5737b3fdb9072bc0becf4a2b2c7ee%40%3Cdev.tvm.apache.org%3E

The results are:

+1
Markus
Junru
ziheng
Thierry
Henry
Lily
Jared
Haichen
Masa
Morita
Wuwei
Siju
Gon
Timothy
Chenfan
Siva 
Furkan

+0 None
-1 None

The vote has passed. We will now proceed with a followup vote in IPMC.

[2020-08-28 06:37] ashutoshparkhi commented on #6340
While trying to compile it with commit a64feed, compilation goes through.

[2020-08-28 10:22] nolanliou opened #6354 "Performance of same op and workload in different model varies differently."
Compared two similar Bert models running on CPU with TVM, one is PyTorch model, the other is MXNet model. Due to the large performance difference, I did some profiling. The result shows the run time of the same operation(matmul) with same workload varies big.

ENV:
1. TVM: build with MKL.
2. Intel CPU
3. OpenMP: `KMP_AFFINITY=compact,1,0 OMP_NUM_THREADS=24`

Model inference time:
[code]

Profiling

[2020-08-28 13:35] xutianming opened #6356 "Perf tools to further improve the performance of given schedule."
Dear developers,

I was optimizing a TextCNN model with TVM on intel x86.
I wrote my own Conv1D NCWc schedule based on Conv2D

![image](https://user-images.githubusercontent.com/4970790/91565965-8fba0600-e975-11ea-85a4-83d66b2cbdf3.png)

TVM stack only has operator-level performance tools.
**How could I further locate the hot-spot of the operator**  ?

I tried gdb, and the ZMM registers were utili

[2020-08-28 13:42] xutianming commented on #6354
I also got similar questions. Same models written in PyTorch (Bert for example) seem to be slower than TensorFlow.
As for Relay IR, models from different frontends should be the same.

[2020-08-28 17:32] tqchen commented on #6356
Thanks @xutianming , let us followup in https://discuss.tvm.ai/t/how-to-further-improve-the-performance-of-given-schedule/7711/2

[2020-08-28 17:32] #6356 closed

[2020-08-28 17:35] tqchen commented on #6354
Thanks @nolanliou , this is indeed an interesting observation. It might relates to other ops. It would be great if we can move some of the trouble shooting discusison to a https://discuss.tvm.ai/ thread, and print out the relay model to check their differences.

[2020-08-28 17:35] #6354 closed

[2020-08-31 02:31] WenheLI opened #6363 "Can not run the wasm example"
After compiling &. building the tvm-wasm runtime followed by this [doc](https://github.com/apache/incubator-tvm/tree/master/web), I am able to get the wasm package. However, when I try to run the demo example:
[code]
I got the following errors:
[code]

Any insight on how to fix it?
Thanks in advance!

[2020-08-31 18:11] electriclilies commented on #6340
To clarify, does #5996 compile it correctly (i.e., is #5595 the most recent commit that works)? I suspect this may be an issue with the tensorflow importer.

[2020-08-31 21:10] electriclilies commented on #6340
Also, if you have a version that is already compiled, you should be able to run it with the relay VM. This is most likely an issue with the tensorflow importer.

[2020-09-01 09:16] xu78guo6 opened #6371 "Tutorial page is not available"
I'm new to TVM want to know how to start from compiling. it seems that the tutorial page https://tvm.apache.org/docs/tutorials/ cannot be visited. I've tried serveral entrances looks like a tutorial and all  shown 404 not found.

[2020-09-01 10:57] yongwww commented on #6371
@tqchen @zhiics

[2020-09-01 13:24] Wheest commented on #6371
@xu78guo6 can confirm I've got the same issue.  In the meantime, this [archive.org](https://web.archive.org/web/20200106185813/https://docs.tvm.ai/install/from_source.html) snapshot should have most of the tutorials, and the Juypter notebooks are also in the repo under [tutorials](https://github.com/apache/incubator-tvm/tree/master/tutorials).

[2020-09-01 15:26] zhiics commented on #6371
The tvm website, including the docs and tutorials, is migrated to: http://tvm.apache.org/

[2020-09-01 15:26] #6371 closed

[2020-09-01 15:32] Wheest commented on #6371
Great, thanks.  Though I don't think it's got its SSL cert set up yet, at least on the couple of browsers I checked on.

[2020-09-01 23:36] vathysjacob opened #6376 "[BUG] Memory leak in Metal runtime device api"
I have been playing with swapping in and out models and targets in an iOS app and noticed that when a Metal target model is loaded the app memory usage increases monotonically, in my case by about 22MB at a time.

This is being caused by a Metal buffer being retained, but never released:

https://github.com/apache/incubator-tvm/blob/master/src/runtime/metal/metal_device_api.mm#L162

Making the fol

[2020-09-02 09:00] nolanliou commented on #6268
Sample code to reproduce the problem of inputs' type not matching.
[code]

There is no type of information in the JIT file, seems TVM cannot support the situation (load from JIT file) yet.

[2020-09-02 09:20] masahi commented on #6268
I don't know what to do about it, other than wait for PyTorch people to fix dtype saving. For quantized models, I added a workaround, but I don't know if we can come up with a similar workaround (piggy back on to Relay's type inference).

For reference, here is Torchscript IR with or without save/load:

without save/load
[code]

[code]

[2020-09-03 02:40] simplelins opened #6389 "Performance step about memory reduced for sgx"
Hi，
    we do a performance test in a sgx env by reduce the usable memory ,in other way first we malloc memory from 75m-95m,and then run sgx demo to get the api's latency(fused_nn_contrib_conv2d_NCHWc_add_nn_relu) ,now we show some details as below:
uname -a
Linux  5.3.0-62-generic #56~18.04.1-Ubuntu SMP Wed Jun 24 16:17:03 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
base of source :
git log :commit 6

[2020-09-03 16:40] tqchen commented on #6389
cc @nhynes @jroesch

[2020-09-03 17:30] tqchen commented on #6376
Thanks @vathysjacob ! please see if https://github.com/apache/incubator-tvm/pull/6393 helps

[2020-09-03 17:40] tqchen commented on #2562
closing for now due to inactive status, let us open new thread for new TODOs of gradients

[2020-09-03 17:40] #2562 closed

[2020-09-03 18:02] nhynes commented on #6389
Nice benchmarks. The latency you're seeing is almost surely due to paging. My guess is that about 12 M are being used for your NN and other housekeeping structures. SGXv1 EPC only has 96 M usable EPC beyond which you're going to start swapping, which is slow.

What's your actual use case? I'm sure there's a way to chop up your data for the algorithm you're using.

[2020-09-03 21:55] tqchen commented on #6376
Thanks @vathysjacob do you mind send a PR by adding the `setPurgeableState:MTLPurgeableStateEmpty`?

It would also be interesting to ask if we should turn on the ARC, and what is the difference

[2020-09-04 15:08] leandron opened #6398 "`import tvm` now requires pytest"
With the merge of #6331, `import tvm` now requires pytest. I created this issue just to check whether this is something intentional or something that we want to fix.

The chain from `import tvm` to `import pytest` happens due to the `from .import testing` on `python/tvm/__init__.py`. There is nothing actually done with that import.

https://github.com/apache/incubator-tvm/blob/a4ebb16ed76bfea4ce4e

[2020-09-04 15:28] tqchen commented on #6398
I agree. thanks @leandron !

[2020-09-04 16:09] tkonolige commented on #6398
Good catch.

When I was adding the pytest-related functions, I originally put them in `tests/python/__init__.py` so they would be local to the tests. Unfortunately, doing this meant that you could no longer run files directly. Instead you'd have to specify the module path. For example, `python tests/python/unittest/test_ir_type.py` would become `python -m tests.python.unittest.test_ir_type`.

[2020-09-04 17:20] vathysjacob commented on #6376
@tqchen - Sure, I'll take a look. It may take me a couple days to get around to investigating if there are other leaks in the retain/release handling.

[2020-09-04 17:28] yongwww commented on #6340
@ashutoshparkhi fasterrcnn should be supported, could you try with latest tvm again? very likely the topk issue you faced is from frontend, topk got one more unexpected argument

[2020-09-04 22:02] #6398 closed

[2020-09-06 04:59] simplelins commented on #6389
yeah,thanks for your reply.
               i only  run this benchmark to know which issues will be impact the  performance, and found this. what is my question is that for a simple  sgx-demo about dh algrithm,I do a same operator ,but can not find this  dramatic increase.i am confused. source code at:[](https://github.com/simplelins/sgx-memory-test) . could you give more suggestion?

[2020-09-06 08:10] kosuke55 commented on #6328
@wjliu1998
Thak you for the issue. I also found the same error.
The problem of leaky_relu_ Is it solved only by just adding
[code]
to the [convert_map](https://github.com/apache/incubator-tvm/blob/9aa69e2e14a75962faaf352b639c9daf53fc2222/python/tvm/relay/frontend/pytorch.py#L2042)?

[2020-09-07 05:08] ashuezy opened #6404 "KeyError: 'unroll_kw' while auto tuning Bug ??"
I am using the script given here.

https://raw.githubusercontent.com/apache/incubator-tvm/v0.6/tutorials/autotvm/tune_relay_x86.py

[code]

[2020-09-07 05:16] ashuezy opened #6405 "KeyError: 'tile_k' while auto tuning Bug ??"
I am using the script given here.

https://raw.githubusercontent.com/apache/incubator-tvm/v0.6/tutorials/autotvm/tune_relay_x86.py

[code]

[2020-09-07 06:25] ashutoshparkhi commented on #6340
Thanks @yongwww and @electriclilies. TOT has the fix for it.

[2020-09-07 06:45] xu78guo6 opened #6406 "Compiling error: library not found for -llibxml2.tbd"
Today I tried to rebuild tvm dylib on mac, meet this error:
[100%] Linking CXX shared library libtvm.dylib
ld: library not found for -llibxml2.tbd
clang: error: linker command failed with exit code 1 (use -v to see invocation)

I have built tvm successfully several days ago following installation on website and git pull some new code then. It seems that the new code causes this problem.

[2020-09-07 06:47] xu78guo6 commented on #6406
I have found /Library/Developer/CommandLineTools/SDKs/MacOSX10.15.sdk/usr/lib/libxml2.tbd  and added this path to LD_LIBRARY_PATH, dont know why it happen.

[2020-09-07 07:25] kosuke55 commented on #6328
I was missing the latest version. `leaky_relu_` was added in this commit. https://github.com/apache/incubator-tvm/commit/f56bb71df9c93ba8830c5ab632352b3b2569bec9

[2020-09-07 07:45] j-paulus opened #6407 "Bug: Reshape with dynamic size in torch model failing as the dynamic shape expression is not evaluated"
When trying to compile a pytorch model that has a reshape() where one or more of the sizes is a result from a computation, the computation is not evaluated properly, but provided as-is to int() cast. And this fails.

A small example triggering the error:
[code]

The result:

The problem is that the contents of `newshape` is a list `[CallNode(Op(multiply), [Constant(2), Constant(3)], (nullptr), [])

[2020-09-07 07:58] linbinskn opened #6409 "Can the code of bitserial_dense(including compute and schedule) run on GPU?"
Can the code of bitserial_dense(including compute and schedule) run on GPU?

I am using the code of bitserial_dense to test the mixed bitwidth matrix multiplication. I have found the version of x86 and arm_cpu, but I haven't found the version of cuda. Does the implementation of bitserial_dense supports the GPU?

[2020-09-07 10:33] leandron opened #6410 "AttributeError during ConvertLayout to NHWC"
When using `tvm.relay.transform.ConvertLayout` (in the context of #6302), I'm getting some errors that are not really clear on how they are related to the convert process.

It seems `ConvertLayout` it is looking for `shape` (this check was introduced in #5284), when trying to find depthwise convolutions, but it doesn't seem to be the case that `shape` is there for some imported models, and might n

[2020-09-07 10:59] lhutton1 commented on #6410
I think this is happening because the shape of data is accessed by `data.shape`, at some point something in TVM changed meaning shape needs to be accessed by `data.checked_type.shape`. It looks like the convert layout tests didn't pick this up.

[2020-09-07 11:09] masahi commented on #6407
Thanks, should be fixed by https://github.com/apache/incubator-tvm/pull/6411

[2020-09-07 12:09] j-paulus commented on #6407
Applying the patch locally seems to fix the issue. Thanks!

[2020-09-07 12:09] #6407 closed

[2020-09-07 13:05] leandron commented on #6410
If we agree this is a legitimate issue, I found two places that need fixing:

https://github.com/apache/incubator-tvm/blob/4b48d89c79a72f7799606e845bdb1ed938baa115/python/tvm/relay/op/nn/_nn.py#L160

https://github.com/apache/incubator-tvm/blob/4b48d89c79a72f7799606e845bdb1ed938baa115/python/tvm/relay/qnn/op/layout_conversions.py#L65

[2020-09-07 14:39] xqdan opened #6413 "TIR Printer bugs"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2020-09-07 14:49] j-paulus opened #6414 "Bug: Strided N-D slicing in torch model ignoring the stride argument (strided_slice)"
When a torch model contains strided slicing of an N-D array, the stride argument is ignored and non-strided version is returned. Because the striding is ignored, the size and the contents of the result are wrong.

Pseudocode example:
[code]

A small script triggering the bug:
[code]
The output is:

This suggests that the slicing ignores the stride argument.

If the tensor to be sliced is 1D, the r

[2020-09-07 15:58] tom-gall opened #6415 "arm64 : undefined symbol: __extendhftf2 at runtime"
After building TVM on debian with the distro compiler (gcc 8), when you first load libtvm.so, the undefined symbol error will spring up crashing your python app.

Within in src/relay/transforms/pattern_util.h the addition of
    reinterpret_cast<__fp16*>(array->data)[i];

If you try and build the same with llvm, it'll just straight out ICE the compiler.

While the LLVM issue is now fixed in mainli

[2020-09-07 16:38] leandron opened #6417 "[FLAKY] relay/test_op_level1.py::test_binary_op failing intermittently"
As part of #6302, it seems there is another flaky test, that is not related to the contents of the being submitted there: `tests/python/relay/test_op_level1.py::test_binary_op`.

You can see this on Jenkins for the full stack trace: https://ci.tvm.ai/blue/organizations/jenkins/tvm/detail/PR-6302/14/pipeline/185

The error message I see is:
[code]

I believe we will need to increase the tolerance,

[2020-09-07 16:58] tqchen commented on #6417
My guess the problem was due to floordivide/floormod, where there is a boundary case. So increasing tol may not help. We need to explicitly change the generator to avoid such boundary cases. There are some existing topi cases that already do this.

[2020-09-07 16:59] tqchen commented on #6417
related
https://github.com/apache/incubator-tvm/issues/6106,
https://github.com/apache/incubator-tvm/issues/4378,
https://github.com/apache/incubator-tvm/issues/4210

[2020-09-07 17:22] tqchen commented on #6405
THanks for reporting the problem, please open a new trouble shooting thread on https://discuss.tvm.apache.org/

[2020-09-07 17:22] #6405 closed

[2020-09-07 17:23] tqchen commented on #6404
THanks for reporting the problem, please open a new trouble shooting thread on https://discuss.tvm.apache.org/

[2020-09-07 17:23] #6404 closed

[2020-09-07 17:54] ashuezy commented on #6404
@tqchen
Thanks for replying.

Opened the thread.
https://discuss.tvm.apache.org/t/keyerror-unroll-kw-while-auto-tuning/7828

[2020-09-07 17:56] ashuezy commented on #6405
@tqchen
Thanks for replying.

Opened the thread.
https://discuss.tvm.apache.org/t/keyerror-tile-k-while-auto-tuning/7827

[2020-09-07 18:17] tqchen commented on #6413
cc @spectrometerHBH

[2020-09-07 20:26] masahi commented on #6414
Thanks, should be fixed by https://github.com/apache/incubator-tvm/pull/6418

[2020-09-08 00:02] xqdan commented on #6413
@spectrometerHBH you can reproduce with
[code]

[2020-09-08 01:21] spectrometerHBH commented on #6413
Thanks for your suggestion! @xqdan

Is your codebase up-to-date? It seems to me that the source file you referenced is different from that of mainline.

[2020-09-08 01:23] spectrometerHBH commented on #6413
And #5965 #6147 are PRs related to the problems you encountered. You can try to sync your codebase and see if it works now.

[2020-09-08 02:41] xqdan commented on #6413
@spectrometerHBH thanks! I checkout latest version, looks good now, close this now.

[2020-09-08 02:41] #6413 closed

[2020-09-08 13:07] j-paulus commented on #6414
Looks like the issue is solved. Many thanks for the quick fix!

[2020-09-08 14:32] #6414 closed

[2020-09-08 14:42] tqchen commented on #6409
Thanks for asking the question, please open a new thread on https://discuss.tvm.apache.org/

[2020-09-08 14:42] #6409 closed

[2020-09-08 16:10] tqchen commented on #6406
Please open a new troubleshooting thread on https://discuss.tvm.apache.org/. The current CI has a mac build, so it might due to soe problems in your local setup

[2020-09-08 16:10] #6406 closed

[2020-09-08 16:25] tqchen opened #6421 "[RFC] v0.7 Release Planning"
Thanks to everyone who works hard in the past cycle. This RFC to plan for v0.7 release.  The community has always been focusing on high quality releases.

One of the major highlights in the past cycle is that we have gone through major refactors to make sure we have a fresh new foundation for new things we want to develop, and there are also exciting new features such as auto scheduler and uTVM co

[2020-09-08 16:31] tqchen commented on #4845
Please see https://github.com/apache/incubator-tvm/issues/6421 for release plan

[2020-09-08 17:04] tqchen commented on #6421
@ZihengJiang and @zhiics have kindly agreed to serve as release managers for this release

[2020-09-08 17:06] junrushao1994 commented on #6421
Do we have a target date for the release?

[2020-09-08 17:07] tqchen commented on #6421
Of course the the date would depends on the status of the release, because we should always aim for quality. Based on our past experience, it might takes a few weeks.

[2020-09-08 18:44] comaniac commented on #6421
1. Is the error reporting feature included in this release as an experimental feature or it would be in the next release?

2. For the experimental features, auto_scheduler and uTVM, would that be better to decorate their entry points with something like `@experiment` so that it pops a warning to tell users this feature is experimental (and maybe the actions we expect users to take when they encoun

[2020-09-08 18:46] jroesch commented on #6421
@comaniac if we land the final error reporting PR it removes the existing error reporting from type checker completely, I think we should either choose to ship it this release or delay until next release. One worry is that there will probably be a period of stability where we iterate/polish on new errors.

[2020-09-08 18:54] comaniac commented on #6421
Make sense to me (including the worry as well). Different from auto_scheduler and uTVM, error reporting is not just a standalone module that users can completely ignore, so we should be more careful.

[2020-09-08 19:07] tqchen commented on #6421
I agree that we should mark certain features as initial support/experimental in the release note. We could also come up with documentation tags to mark the feature as experimental. I am less certain sure about shooting a warning for each function call, as they harm the overall user experience, perhaps we can start with the release note and docs?

[2020-09-08 19:11] zhiics commented on #6421
Yeah, I also prefer to document it instead of throwing many warnings. In addition, we have some checker in the codebase claiming that some APIs will be deprecated in the next release. We probably want to take some actions on them as well.

[2020-09-08 22:08] zhiics commented on #6410
cc @anijain2305

[2020-09-08 23:01] anijain2305 commented on #6410
Thanks @leandron for raising the issue. Your fixes look good to me.

[2020-09-09 12:52] nolanliou commented on #6268
@masahi
There are some problems with the type/shape inference when converting the PyTorch model.

Sample code to reproduce.
[code]

[2020-09-09 13:27] j-paulus opened #6432 "[torch] Using torch.stack causes BatchNorm not to be able to determine output shape"
When compiling a PyTorch model that contains `torch.stack` followed by `BatchNorm`, the BN is unable to determine the input shape. My assumption is that the return value from `stack()` is invalid, but the problem may also well be in BN.

Minimal code triggering the issue:
[code]

The result is:

TVM version: 0.7.dev1, installed from git revision 84fa62617
PyTorch version: 1.7.0.dev20200908

Edit:

[2020-09-09 15:33] leandron commented on #6410
Just to mention, I checked PR #6419 and it completely fixes this issue here, so we can close it once that PR is merged.

[2020-09-09 15:45] zhiics commented on #6410
Thanks @leandron. This can be closed now.

[2020-09-09 15:45] #6410 closed

[2020-09-09 15:51] zhiics commented on #6432
Thanks for reporting this. Please open the thread at https://discuss.tvm.apache.org/ for more discussions.

[2020-09-09 15:51] #6432 closed

[2020-09-09 17:38] masahi commented on #6432
@j-paulus I can see where the problem is coming from. Will fix soon.

[2020-09-09 19:34] masahi commented on #6432
@j-paulus this should be fixed in https://github.com/apache/incubator-tvm/pull/6433. The following script works for me

[code]

Thanks for reporting many issues in the PyTorch frontend. I really appreciate them!

[2020-09-09 19:42] masahi commented on #6268
Is this the error you are getting? It is coming from PyTorch during tracing, not TVM.

[code]

[2020-09-10 00:01] tqchen commented on #6415
https://github.com/apache/incubator-tvm/pull/6431

[2020-09-10 00:02] #6415 closed

[2020-09-10 00:05] tqchen commented on #6376
@vathysjacob any updates?

[2020-09-10 02:11] nolanliou commented on #6268
Nope, I use PyTorch 1.3.1. The error is
[code]

[2020-09-10 03:49] masahi commented on #6268
ok reproduced on torch 1.4

First, this is the input Torchscript IR:
[code]

It seems this is due to the unclear behavior of `torch.result_type`. Even though both lhs and rhs are clearly int64, result_type can return float32:

[code]
This is the output:
[code]

Since PyTorch decides that float32 is the right type, unnecessary cast is introduced, giving the error above.

cc @t-vi @siju-samuel What

[2020-09-10 06:48] t-vi commented on #6268
Sorry, I completely missed the report before.
As @masahi notes, PyTorch has stopped supporting the 1.3/1.4 behaviour there and will introduce semantically different behaviour in a future version (I would expect 1.8 or 1.9).

I would be hesitant to support the old way at all, it will cause us pain in a matter of a few months, when we need to pile on magic to decide between the old and new behaviour

[2020-09-10 06:50] t-vi commented on #6268
@nolanliou Thank you for reporting this!
I know it's not a real fix, but recent versions of HF transformers library and PyTorch 1.6 are known to work with TVM (I used that combination for the post on the TVM blog).

[2020-09-10 06:58] masahi commented on #6268
@t-vi to be clear, @nolanliou's problem is not about div op being applied to integers (it is another story), the same error would happen if it is add or mul.

`torch.result_type` is confused with one of the inputs being numpy scalar of type np.int64, and it returns float32 when both lhs and rhs are clearly int64.

[2020-09-10 07:01] masahi commented on #6268
I want to update our CI (which is at PyTorch 1.4) and make 1.6 support official, but quantization is broken with PyTorch 1.6. See https://github.com/pytorch/pytorch/issues/42497. I thought I'd wait until they fix it, rather than introducing ugly workaround on our end.

[2020-09-10 07:13] t-vi commented on #6268
No it is not. The quotient of int64 is very reasonably float32.

[2020-09-10 07:23] masahi commented on #6268
oh I've just tried the above script (reproduced below) on torch 1.6, and it seems they fixed it:

[code]
Output
[code]

[2020-09-10 11:00] j-paulus opened #6441 "ONNX strided slice ignoring stride argument"
If strided slice is used in a model, the stride argument is ignored and the result is wrong.

I encountered the problem when trying to compile an ONNX model created by pytorch conversion. Similar problem was present in the pytorch frontend (#6414), and was fixed by #6418.

Possibly related issue #6316.

Code to reproduce the problem:

[code]

The traceback:

The intermediate ONNX graph is:

Here t

[2020-09-10 15:15] tqchen commented on #6376
Thanks @jacobpostman @vathysjacob it would also be nice if you can experiment further about what happens to the rest of the memory

[2020-09-10 15:18] tqchen commented on #6441
cc @jwfromm @masahi

[2020-09-11 10:29] Johnson9009 opened #6453 "[BUG] Lots Python Tests or Tutorials Failed by The Changes of PR #6399"
$ python3 tutorials/optimize/opt_gemm.py
Numpy running time: 0.006542
Traceback (most recent call last):
  File "tutorials/optimize/opt_gemm.py", line 113, in <module>
    tvm.testing.assert_allclose(c.asnumpy(), answer, rtol=1e-5)
AttributeError: module 'tvm' has no attribute 'testing'

The issue #6398  and PR #6399 remove the `from . import testing` from file `python/tvm/__init__.py`, but lots o

[2020-09-11 15:58] tqchen opened #6457 "[TEST][FLAKY] tests/python/frontend/pytorch/test_lstm.py"
https://ci.tvm.ai/job/tvm/job/master/1566/execution/node/353/log/

[2020-09-11 15:58] tqchen commented on #6457
cc @masahi

[2020-09-11 16:55] tqchen commented on #6453
https://github.com/apache/incubator-tvm/pull/6454

[2020-09-11 16:55] #6453 closed

[2020-09-12 20:28] tqchen commented on #6417
@leandron would you be interested in sending a fix?

[2020-09-13 01:25] masahi commented on #6441
@j-paulus should be fixed by https://github.com/apache/incubator-tvm/pull/6467
Also happy to help with your rest of pytorch import problems.

[2020-09-13 07:32] leandron commented on #6417
@tqchen Yes, I’ll have a look

[2020-09-13 16:56] tqchen commented on #6417
There are know fixes please take a look at the issues linked

[2020-09-13 17:30] #6441 closed

[2020-09-13 20:05] deimsdeutsch commented on #6354
@tqchen Nobody bothers to answers questions on the forum my question has been pending for over an year. There is a limit to everything.

[2020-09-13 23:12] tqchen commented on #6354
Hi @deimsdeutsch please note that the community relies on volunteers to answer help and answer questions that get arised. Many volunteers are also operate on their [part-time](https://tvm.apache.org/docs/contribute/code_review.html#respect-each-other). so it can indeed be possible that things get slipped through. Feel free to create new topics, we also welcome contributions to the community

[2020-09-14 08:41] j-paulus commented on #6441
Working! And apparently something else has been fixed in the last days as I am now able to transform my real model both from pytorch and ONNX. (With some warnings and very poor performance, but I need to take a closer look what is the matter there.)
Many thanks for the quick fixes with all bugreports, @masahi

[2020-09-14 15:03] #6328 closed

[2020-09-14 15:13] hyperfraise commented on #4009
Do you guys know if we have the same speedups than with 2d conv networks like resnet 50 8 bit quantized vs FP32 / 16 ? Is the full range of optimizations available for this ?

In comparison, TensorRT doesn't support 8 bit quantization (and other optimizations) for 3d operations, so the speedup is tiny compared to FP16.

[2020-09-14 19:58] gussmith23 opened #6470 "[BUG] Parser error with nn.dense"
Parsing a Relay program which uses `nn.dense` seems to be finicky! I might be doing something wrong here, let me know!

A minimum working example:
[code]

[2020-09-14 22:28] anoop54 opened #6471 "Cannot build for RK3399 Mali GPU"
First I install the libmali-rk-midgard-t86x-r14p0_1.6-3ayufan5_arm64.deb so that I have the library installed, and then when I try to build TVM I will have issues. My error is as follows:

-- Build with RPC support...
-- Build with Graph runtime support...
-- VTA build with VTA_HW_PATH=/home/rock/Desktop/tvm/3rdparty/vta-hw
-- Build VTA runtime with target: sim
-- Build with standalone CRT
CMake E

[2020-09-14 23:45] jroesch commented on #6470
It could be a bug, I've fixed a ton of bugs on #6274, I'll try to add a regression there.

[2020-09-15 04:37] roastduck opened #6473 "[TOPI] Missing import in python source?"
Please have a look at this file:

https://github.com/apache/incubator-tvm/blob/dd37ed50c4fda2e402c52a5cb44d15597f9d7cc4/python/tvm/topi/bifrost/gemm.py

I think a `from tvm import te` is missing, since `te` is directly used around this file.

I don't know how this file passes the tests, but Python reports an error to me.

[2020-09-15 04:47] masahi commented on #6473
I saw a similar issue, in my case `tvm.testing` was not imported but CI doesn't complain. if I run the test directly it fails with due to missing import. I guess it relates to how pytest resolves imports.

[2020-09-15 07:44] masahi opened #6474 "[Torch] Support aten::lstm"
It seems the commonly used [`torch.nn.LSTM`](https://pytorch.org/docs/stable/generated/torch.nn.LSTM.html) module generates `aten::lstm` op, which we currently don't support. It is reported in https://discuss.tvm.apache.org/t/import-rnn-t-pytorch-model-into-tvm/7874 and it is likely we'll get more requests for this op in the future.

The corresponding PyTorch implementation is here https://github.

[2020-09-15 09:50] wjliu1998 opened #6476 "[TOPI] High dimension matrix multiplication not supported"
When run the code
`input_tensor_placeholder = te.placeholder((224,224,3), name="input_tensor_placeholder")
m_tensor_placeholder = te.placeholder((3,3), name="m_tensor_placeholder")
mid_result = topi.matmul(input_tensor_placeholder, m_tensor_placeholder)`
error will occur:
`TVMError: Check failed: ndim() == indices.size() (3 vs. 2) : Tensor dimension mismatch in readndim = 3, indices.size=2`
It see

[2020-09-15 12:09] roastduck opened #6478 "[TOPI] Key error in Bifrost schedule"
Please look at this line:

https://github.com/apache/incubator-tvm/blob/7b744b3f6b70e9323a6ea532c99e6aeb807950a2/python/tvm/topi/bifrost/conv2d.py#L321

It seems that `tile_k` has not been defined as a knob, so there is a key error.

Please note that this line is under an `if autotvm.GLOBAL_SCOPE.in_tuning`, so the error can only be triggered during auto-tuning. The error will be capture by the au

[2020-09-15 14:31] u99127 commented on #6421
I'd like to see the tvmc work to be functional before we cut the release please. I'd also like to see the Ethos-N PRs land as well.

[2020-09-15 14:39] tqchen commented on #6473
good catch, please send a PR to fix the problem. It is due to how pytest running everything together and file being imported elsewere

[2020-09-15 16:57] tqchen opened #6483 "[LINTER] git-black.sh should ignore deleted files in diff"
see http://ci.tvm.ai:8080/job/tvm/job/master/1588/execution/node/22/log/

[2020-09-15 16:57] tqchen commented on #6483
cc @comaniac @jroesch @areusch

[2020-09-15 17:02] comaniac commented on #6483
I can take a look.

[2020-09-15 20:38] ZihengJiang opened #6486 "TVM v0.7 Release Note Candidate"
# Overview

v0.7 is brings many major features. The community works together to refactor the internal code base to bring an unified IR code structure with unified IRModule, type system and pass infrastructure. We have also bought many exciting new features, some highlights include:

- Initial automatic scheduling support
- Initial command line driver interface
- WebGPU and webassembly support
- Be

[2020-09-15 20:40] ZihengJiang commented on #6486
I have opened a gist for monthly reports from last v0.6 release: https://gist.github.com/ZihengJiang/6d3440ec22852dc9baae2e3f278ad8b4

We can start organizing the monthly reports to the release note template. @zhiics @tqchen

[2020-09-15 22:15] #6483 closed

[2020-09-16 04:51] jroesch opened #6489 "[TypeChecker][Relay] Issue with return type not being properly inferred."
cc @hypercubestart after I land #6274 there is an issue where omitting a return type now causes inference to fail, when you work on mutual recursion can you look into this?

[code]
/*
 * Computes the size of a tree.
 */
def @size[A](%t: Tree[A]) -> Tensor[(), int32] {
  match(%t) {
    Rose(_, %sub_trees) => {
      1 + @sum(@map(@size, %sub_trees))
    },
  }
}

[code]

[2020-09-16 04:56] jroesch commented on #6489
https://github.com/jroesch/tvm/tree/tyck-err

[2020-09-16 05:20] jroesch commented on #6489
This also type checks:
[code]
This one doesn't type check.
[code]

[2020-09-16 05:22] jroesch commented on #6474
I believe the MXNet frontend lowers LSTM to Relay directly.

[2020-09-16 09:00] roastduck opened #6490 "[RELAY] Inaccurate doc for nn.dense"
https://github.com/apache/incubator-tvm/blob/b8d385c2ab741cb254aa700b48546799273276ee/python/tvm/relay/op/nn/nn.py#L1388

Doc of `nn.dense` says it compute `Y = X * W`, but it should actually be `Y = X * W^T` as the shape checking below.

https://github.com/apache/incubator-tvm/blob/b8d385c2ab741cb254aa700b48546799273276ee/src/relay/op/nn/nn.h#L66

I think we'd better doc this transposition (or me

[2020-09-16 13:29] roastduck opened #6492 "[TOPI] Typo in operator key"
https://github.com/apache/incubator-tvm/blob/bdfefbb03f5aab96ee677ee28a166dd6ab5dbf3f/python/tvm/topi/bifrost/dense.py#L26

"biforst" should be "bifrost". This bug makes the op totally unavailable in Relay.

I can fix this bug if expected, but I don't know how to add a proper test.

[2020-09-16 15:19] #6473 closed

[2020-09-16 15:58] zhiics commented on #6492
cc @mbaret @icemelon9

I think we I have test in test_topi: https://github.com/apache/incubator-tvm/blob/master/tests/python/topi/python/test_topi_dense.py#L40, but the target is probably not enabled in the CI

[2020-09-16 16:05] tqchen commented on #6490
Rgabjs @roastduck , a PR is more than welcomed

[2020-09-16 16:12] mbaret commented on #6492
Ah yes... It's very difficult to keep these maintained due to the lack of a Mali GPU in CI. I don't have immediate access to one either but that change looks obviously correct to me.

[2020-09-16 16:33] leandron commented on #6417
Just to follow up here. I investigated how a fix would look like and it seems there is some manual filtering to be done on values around 0.5 for `floor_divide` and/or `floor_mod`, that might disagree when comparing relay vs. numpy.

I'll to submit a PR with this filter (soon), similar to #4382, plus improve diagnostic on that test case, so in case it fails, it will give us which function (out of 6

[2020-09-16 17:14] tqchen commented on #6492
Thanks @roastduck please send a PR

[2020-09-16 18:11] tqchen opened #6496 "[uTVM] Use an alternative CRC Library"
The 3rdparty crc library introduced in https://github.com/apache/incubator-tvm/pull/6334 has a license problem.

We will need to replace it with a new impl or an alternative library

[2020-09-16 18:11] tqchen commented on #6496
cc @areusch

[2020-09-17 02:15] zhangzhen507 commented on #6474
But, the pre-trained rnn-t model  https://zenodo.org/record/3662521 is a pytorch model. Can you support the torch.nn.LSTM by aten::lstm in TVM ?

[2020-09-17 02:29] roastduck opened #6503 "[TOPI] Enable multi-threading for NNPACK backend?"
The NNPACK backend supports multi-threading via a optional parameter `nthreads`. ([doc](https://tvm.apache.org/docs/api/python/contrib.html?highlight=nnpack#tvm.contrib.nnpack.convolution_inference))

But it is currently not used by our TOPI implementation, around the following line.

https://github.com/apache/incubator-tvm/blob/8843e7625a238566d33ee8561a7df62ce6e45384/python/tvm/topi/arm_cpu/conv

[2020-09-17 02:31] masahi commented on #6474
yes, `torch.nn.LSTM` is translated to `aten::lstm` in Torchscript.

[2020-09-17 10:08] #6492 closed

[2020-09-17 14:59] #6496 closed

[2020-09-17 15:26] tqchen commented on #6503
Good observation, perhaps we could add default nthread=0 to default to cpu core count

[2020-09-18 06:15] roastduck commented on #6490
Fixed in #6508

[2020-09-18 06:15] #6490 closed

[2020-09-18 08:39] roastduck commented on #6503
Maybe I can make a PR, but I am wondering if there is a standard way for TVM to determine how many cores that can be used by TVM? Besides, the environment variable `TVM_NUM_THREADS` is used somewhere, but not well-documented.

[2020-09-19 22:47] sdll commented on #1563
This seems like a stale issue.

[2020-09-21 06:58] ljs19981117 opened #6520 "Question:Errors when ran the tutorials of raspberry pi"
When I ran the raspberry pi tutorial(https://tvm.apache.org/docs/tutorials/frontend/deploy_model_on_rasp.html).I got the errors below.I am new to AI,and I really don't know how to fix it.Please help me.

RPCError: Traceback (most recent call last):
  [bt] (8) /home/ljs/tvm/build/libtvm.so(std::_Function_handler<void (tvm::runtime::TVMArgs, tvm::runtime::TVMRetValue*), tvm::runtime::RPCModuleNode::

[2020-09-21 09:59] FrozenGene commented on #6520
Please consider opening new thread in https://discuss.tvm.apache.org/, we use this forum to solve this kind of question. Your question should be related with the target and compiler (g++) doesn't match. For example, target is x86 but compiler (g++) is arm.

[2020-09-21 09:59] #6520 closed

[2020-09-22 02:21] ljs19981117 commented on #6520
Thanks for your reminding.I will ask in the disscuss.tvm.
I make the target to rasp3b,but got this:
[code]
Is the API update ?

[2020-09-22 09:21] intheworld opened #6526 "rust examples are not working."
rust/tvm/examples/resnet/src/build_resnet.py
"cargo build" went wrong, when add "--pretrained" args.

--- stderr
thread 'main' panicked at 'Could not prepare demo: AttributeError: <class 'tvm.ir.module.IRModule'> has no attribute params', tvm/examples/resnet/build.rs:31:5

[2020-09-22 10:15] intheworld opened #6528 "rust example not working"
rust/tvm/examples/resnet

when executing "cargo run", I got an error.

thread 'main' panicked at 'TVMError: Check failed: type_code_ == kDLInt (1 vs. 0) : expected int but get uint
Stack trace:
  File "/Users/liushuwei/github/tvm/include/tvm/runtime/packed_func.h", line 384
  [bt] (0) 1   libtvm.dylib                        0x0000000112b172cf dmlc::LogMessageFatal::~LogMessageFatal() + 111
  [bt]

[2020-09-22 15:14] qixiuai commented on #6526
I did not encounter the error when add "--pretrained" args using the master branch 044885860842e6c9936b45ab4edbd23f0e3c727b.

[2020-09-23 02:50] intheworld commented on #6526
I find a similar script as follow.
https://github.com/apache/incubator-tvm/blob/master/tutorials/frontend/from_mxnet.py
And I change the build_resnet.py accordingly.

[2020-09-23 06:07] zhangzhen507 commented on #6474
Hi, do you have a plan when you will support the aten::lstm in tvm/relay/frontend/pytorch.py ?

[2020-09-23 08:50] zhiqwang opened #6535 "[Torch] Support aten::tensor, aten::empty and aten::numel"
Hi TVM teams,

TVM currently support pytorch 1.4 and torchvision 0.5. I want to know is there any plan to support pytorch 1.6 version to trace the object detection models in pytorch 1.6?

[code]

_Originally posted by @masahi in https://github.com/apache/incubator-tvm/pull/6449#issuecomment-693096782_

[2020-09-23 09:38] masahi commented on #6474
No from my end. I'm not expert on LSTM and don't have time for this.

[2020-09-23 10:22] masahi commented on #6535
Yes, we want to support a newer version but our quantization support is completely broken in PyTorch 1.6 due to the breaking change they introduced https://github.com/pytorch/pytorch/issues/42497. I don't know a simple workaround for this.

Either we wait for Torch people to fix this issue or we spend significant effort to add workaround. Until then we are stuck with 1.4 or 1.5 (CI is at 1.4)

The

[2020-09-23 15:21] tqchen commented on #6526
Closed by #6527

[2020-09-23 15:21] #6526 closed

[2020-09-23 17:05] tqchen opened #6540 "[RUST][FFI] Pass uint as int in PackedFunc"
per PackedFunc FFI convention, we should always pass integer as i64 when they appear as argument of a PackedFunc to simplify the calling.  We might need to update the rust FFI to reflect it.

Related
- https://github.com/apache/incubator-tvm/issues/6528

cc @ehsanmok

[2020-09-23 17:05] tqchen commented on #6540
cc @jroesch @mwillsey

[2020-09-24 02:59] stormchasingg opened #6543 "multi-thread"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2020-09-24 03:07] calvin886 commented on #1673
Hello Jammy,
Have you figured out why onnx cannot satisfy the requirement of TVM? I also interested on this.
Thanks a lot!

[2020-09-24 03:46] stormchasingg commented on #6543
I'm developing a program using TVM. A C++ multi-thread code is registered as a Python code through PackedFunc of TVM. I test the running time of C++ code. The result shows that multi-thread speeds the code. But when I test the running time in Python side, multi-thread doesn't work. Does TVM support multi-thread ?

[2020-09-24 05:11] intheworld commented on #6540
I see the following code in PackedFunc.
impl_pod_value!(Int, i64, [i8, i16, i32, i64, isize]);
impl_pod_value!(UInt, i64, [u8, u16, u32, u64, usize]);

Inner type is i64. in #6528 , I think the problem is the inconsistence between rust Context and TVMContext.

[2020-09-24 15:46] tqchen commented on #6543
Please open a new thread on https://discuss.tvm.apache.org/ where the community collectively discusses related questions

[2020-09-24 15:46] #6543 closed

[2020-09-24 15:47] tqchen opened #6548 "[TEST][FLAKY] ParallelFor issue in test_sketch_search_policy_basic"
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-6547/1/pipeline

[2020-09-24 15:47] tqchen commented on #6548
cc @merrymercy @jcf94 please look into it and send a fix

[2020-09-24 16:50] merrymercy commented on #6548
I guess it is introduced by #6529.
You can revert #6529 if this is urgent.
This can be assigned to @jcf94

[2020-09-24 19:16] jroesch commented on #1673
@calvin886 ONNX was very different then it is today back in 2017 when we began work on Relay. Furthermore ONNX is designed as an interchange format and has very little of the utilities that come with compiler IRs, these days Relay has many more extensions then ONNX including closures, data structures, traditional control flow (not pseudo ops), JSON serialization, a textual format, a human readable

[2020-09-25 00:45] ZihengJiang commented on #6486
# Feature Improvement

## Accelerator and Microcontroller Support

- Cleanup legacy verilog code ([#4576](https://github.com/apache/incubator-tvm/pull/4576))
- uTVM support for ARM STM32F746XX boards ([#4274](https://github.com/apache/incubator-tvm/pull/4274))
- Add --runtime=c, remove micro_dev target, enable LLVM backend [#6145](https://github.com/apache/incubator-tvm/pull/6145)

## Arithmetic A

[2020-09-25 00:45] ZihengJiang commented on #6486
# Feature Improvement

## Accelerator and Microcontroller Support

- Cleanup legacy verilog code ([#4576](https://github.com/apache/incubator-tvm/pull/4576))
- uTVM support for ARM STM32F746XX boards ([#4274](https://github.com/apache/incubator-tvm/pull/4274))
- Add --runtime=c, remove micro_dev target, enable LLVM backend [#6145](https://github.com/apache/incubator-tvm/pull/6145)

## Arithmetic A

[2020-09-25 00:51] ZihengJiang commented on #6486
## Operator Coverage

- Allow empty tensor for reshape, tile and strided_slice [#4618](https://github.com/apache/incubator-tvm/issues/4618)
- Fix meaning of conv2d_transpose output_padding parameter"; [#4708](https://github.com/apache/incubator-tvm/issues/4708)
- Remove cpp upsampling and resize op [#4769](https://github.com/apache/incubator-tvm/issues/4769)
- upsample operator 'NCHWinic' format s

[2020-09-25 00:52] ZihengJiang commented on #6486
# Performance Improvements

- Int8 GEMM performance enhancement using Cublas ([#4550](https://github.com/apache/incubator-tvm/pull/4550))
- Speedup TSIM with multi-threading ([#4491](https://github.com/apache/incubator-tvm/pull/4491))
- [Runtime][Contrib] Support cudnn softmax (#5214)
- [cuDNN] Add cuDNN grouped convolution support (#5319)
- [Relay][Topi][AutoTVM] Winograd support for Conv3D (#518

[2020-09-25 00:53] ZihengJiang commented on #6486
# Bug Fixes

- Add bfloat16 typeflag support ([#4525](https://github.com/apache/incubator-tvm/pull/4525))
- MSVC / Windows fixes ([#4455](https://github.com/apache/incubator-tvm/pull/4455), [#4569](https://github.com/apache/incubator-tvm/pull/4569))
- Fix Makefile for howto_deploy ([#4457](https://github.com/apache/incubator-tvm/pull/4457/files))
- Fix GCC 4.8 compact ([#4461](https://github.com/a

[2020-09-25 00:57] ZihengJiang commented on #6421
@apache/tvm-committers  @jroesch @u99127 @comaniac

We have a release note candidate here: https://github.com/apache/incubator-tvm/issues/6486

Please comment it if you have anything want to be added into this release or other opinion.

[2020-09-25 01:35] jcf94 commented on #6548
Thanks. I will check this carefully and fix it as soon as possible.

[2020-09-25 05:29] rubick1896 opened #6556 "[New Op request] _sample_normal and _sample_gamma from mxnet 1.7.0"
I got the following message when trying to compile DeepAR model from Gluonts
`
---------------------------------------------------------------------------
OpNotImplemented                          Traceback (most recent call last)
<ipython-input-3-9838f83506d7> in <module>
----> 1 mod, params = relay.frontend.from_mxnet(predictor.prediction_net, shape_dict)

~/.local/lib/python3.7/site-packages/tv

[2020-09-25 10:11] 12101111 opened #6559 "[Rust] Memory leak in NDArray"
See https://discuss.tvm.apache.org/t/memory-and-vram-leak-using-rust-frontend/7990

I have found that All `NDArray` created in rust is `NDArray::Borrowed`, so they are never freed.
[code]

If I remove the check, the memory and vram leak won't happend.

[code]

cc @ehsanmok

[2020-09-25 14:58] tqchen commented on #6421
Also jump in here. Let us plan to cut a release next week. At this point we should "freeze the features", but please suggest a list of PRs(fixes) that need to be merged.

[2020-09-25 16:38] tqchen commented on #6548
Another related https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-6554/2/pipeline

[2020-09-25 16:40] comaniac commented on #6548
Looks like the same problem as #6557 fixed. Should be fine now.

[2020-09-25 17:14] comaniac commented on #6421
A brief summary of the related PRs missed in the current release note candidates. Not sure if all of them have to be listed so just for reference. Except for the note followed by the PR indicating its status, all PRs listed here are merged.

Automatic Scheduling (Experimental)
  * [AutoTVM][Ansor] Enable random fill and CPU cache flush for AutoTVM and Ansor (#6391)
  * [Minor] Fix typos in Ansor (

[2020-09-25 17:26] tqchen commented on #6421
At this point, we should focus on stablization, so we don't have to rush in features like Vitis-AI and TensorRT and we do them in v0.8 cycle(for better stablization).  We should instead list PRs that contains necessary fixes that need to be inlcuded.

[2020-09-25 17:31] #6548 closed

[2020-09-25 17:37] comaniac commented on #6421
Make sense. Removed them from the list.

[2020-09-25 17:58] jroesch commented on #6559
This old NDArray is based on the previous interface that I've been working on replacing. @mwillsey and I have been redefining NDArray to use TVM's underlying NDArray object based container. see #6408 for in progress work on this.

[2020-09-25 18:09] tqchen commented on #6559
@12101111 @mwillsey can you land a quick hotfix?

[2020-09-25 20:10] ZihengJiang commented on #6421
@comaniac Thanks for checking! I have added missing ones except those are not merged yet.

[2020-09-25 21:43] leandron commented on #6421
@comaniac, yes, it would be great to merge #6537 before, lets try to solve all the issues early next week; Also, "part 4/4", related to `tvmc run` is coming very soon, Monday max, and it would be great to have it as well, so that we have the first package complete

[2020-09-26 09:17] wangliting-amy opened #6564 "Convert Layout Pass:'Object' object is not iterable"
hello:
i want to build and run the model of resnest50,which i get_model from mxnet model_zoo.the code is:
model = gluoncv.model_zoo.get_model('ResNeSt50', pretrained=True)
and i want to change the layout from NCHW to NHWC, but i find the adaptive_avg_pool2d can not be changed the layout.
so according to the link of https://tvm.apache.org/docs/dev/convert_layout.html?highlight=convertlayout
i add t

[2020-09-26 11:42] declmal opened #6565 "Seemingly Redundant Parameters for `matmul` in `tvm/contrib/cblas.py`"
I am confused about the necessity of the arguments `transa` and `transb` in function `matmul`.

See [./python/tvm/contrib/cblas.py](https://github.com/apache/incubator-tvm/blob/master/python/tvm/contrib/cblas.py).

This a python interface wrapping external `CBLAS` package for matrix multipliation: *C = matmul(A, B)*.

The corresponding c++ interface that wrapping `CBLAS` can be found here:
[`./src

[2020-09-26 16:30] tqchen commented on #6565
Thanks @declmal The community mostly uses https://discuss.tvm.apache.org/ for most discussions, let us move to https://discuss.tvm.apache.org/t/is-increased-strided-dltensor-stored-in-column-major/7995/2

[2020-09-26 16:30] #6565 closed

[2020-09-26 16:36] tqchen commented on #6564
cc @anijain2305 @yzhliu

[2020-09-27 11:00] luchangli03 opened #6570 "auto scheduler/Ansor auto_scheduler.auto_schedule do not auto exit"
when I use auto scheduler to tune GPU batch_matmul or CONV2D program, the python did not quit even if the tune auto_scheduler.auto_schedule call is finished. I must use ctrl +c to manually stop the search thread.

![image](https://user-images.githubusercontent.com/34341633/94363268-a4fc8e80-00f3-11eb-8c9b-48994cdc5017.png)
the program is just like this:
![image](https://user-images.githubuserconte

[2020-09-27 11:24] fernchen opened #6571 "Unable to build NMS in tensorflow"
When I execute the test case in tests/python/frontend/tensorflow/test_forward.py, I try to change the mode to “” in _test_forward_nms_v3(…) function, then it will raise some error, like this:

    graph, lib, params = relay.build(mod, target, target_host, params)
  File "/root/projects/tvm_open/python/tvm/relay/build_module.py", line 259, in build
    graph_json, mod, params = bld_mod.build(mod, t

[2020-09-27 11:47] luchangli03 commented on #6570
found a solution: call os._exit(os.EX_OK)  after auto_scheduler.auto_schedule()

[2020-09-27 16:43] comaniac commented on #6570
Did you `del measure_ctx` at the end, as suggested by the tutorial?

[2020-09-27 22:47] mikeseven commented on #5978
@tqchen I don't see the issue solved with top of tree today.
but adding @Leslie-Fang solution to common.py does work. I think it's ok because these ops are training ops that should have been removed from frozen graphs....

[2020-09-28 00:16] tqchen commented on #6471
Please open a new thread on https://discuss.tvm.apache.org/. It would be great if you can dig into FindOpenCL to see what happens. You can try to manually set up the opencl path and library path in this case

[2020-09-28 00:16] #6471 closed

[2020-09-28 00:16] #6340 closed

[2020-09-28 00:17] tqchen commented on #6421
Let us aim for Oct 1st as the tentative date for the release cutting. would be great to merge #6537  before then

[2020-09-28 03:35] #6268 closed

[2020-09-28 11:57] zotanika opened #6576 "how to evaluate inference's accuracy"
Dear TVM team,

I'm struggling to figure out the reason why the models hosted at [https://www.tensorflow.org/lite/guide/hosted_models](url) experience huge accuracy drop after converting with relay.frontend.from_tflite(). For instance, mobilenet_v1_1.0_224 claimed to hit top1 72%, top5 91% accuracy becomes top1 61%, top5 87%.

First, I would like to reproduce the result accuracy given at [https://

[2020-09-28 15:35] tqchen commented on #6571
Thanks for asking the question, it would be great to use https://discuss.tvm.apache.org/ for general trouble shooting. In this particular case, it might due to the fact that the model imported contains dynamic shape and we do not support graph runtime for that(need to use vm)

[2020-09-28 15:35] #6571 closed

[2020-09-28 15:36] tqchen commented on #6576
Thanks for asking the question, it would be great to use https://discuss.tvm.apache.org/ for general trouble shooting. In this particular case, it might due to relates to things like pre-processing and other issues. It would be great if you can dig deeper into the problem

[2020-09-28 15:36] #6576 closed

[2020-09-28 17:07] leandron commented on #6421
So, #6537 and #6578 would be the final two PRs to complete the first version of `tvmc`.

[2020-09-28 18:21] comaniac commented on #6421
Per offline discussion with @leandron, the final PR for TVMC would be a simple tutorial planned to be sent by tomorrow. We will do our best to review and merge them before Oct 1st.

[2020-09-28 22:32] tkonolige opened #6583 "Support strided array CopyFrom/To Bytes"
Calling `tvm.nd.array.asnumpy` with an array that has strides (created in C++) return the array as if it has not strides.

[2020-09-29 00:48] roastduck commented on #6486
Maybe we should mention that we have reorganized Python modules, which breaks `import`s in old codes. If we have other API changes, we should mention them in the release note as well.

[2020-09-29 02:46] tqchen commented on #6583
Right now we encourage the use of compact array in most of the places. https://github.com/apache/incubator-tvm/pull/6586 explicitly marks the requirement by having the function throw an error for strided case for now.

We can consider add support for CopyFrom/To in the strided array case. Notably such operation won't be cheap. We might need a StrideToCompact and StrideFromCompact function from eac

[2020-09-29 02:55] tqchen commented on #6486
Good point, perhaps we could add some of the python related update guides in https://github.com/apache/incubator-tvm/issues/4647

[2020-09-29 03:01] merrymercy commented on #6570
We should call `del measure_ctx` explicitly.
We do this in the last section of the tutorial. But it is not emphasized in the tutorial.
@luchangli03 Would you mind sending a PR to improve the tutorial?

[2020-09-29 03:58] HisiFish opened #6587 "Is chinese doc in schedule? 是否考虑增加中文文档？"
TVM是一个非常棒的项目，当前在中国只有阿里和华为用得比较多，中文社区中很少有相关资料。

后续是否会考虑中文文档？

[2020-09-29 05:02] FrozenGene commented on #6587
Please open one new thread in the https://discuss.tvm.apache.org/ for this general discussion.

[2020-09-29 05:02] #6587 closed

[2020-09-29 09:42] xiaoxia42 opened #6588 "[Relay][BUG] nn.dense accuracy error"
The output of relay op nn.dense seems not so accurate when working on some specific input shapes.
`data_shape = (8, 512), weight_shape = (128, 512)`

### Reproduce

[code]
and the output message is like below:
[code]

Can @yzhliu @hzfan have a look. Thanks!

[2020-09-29 10:00] #6457 closed

[2020-09-29 13:54] jamesqiao opened #6590 "How to free memory manually after building a operator for long running building case?"
Hello all,
       I have a sample code from tvm offical site below. I want to build thousands of operators in the same process. But i found there is memory leak and the memory usage is increasing. I thought after the build of one operator was finished, the corresponding resource should be freed. Do you have any advice? Can i free memory manually after building a operator?
       Thanks a lot in ad

[2020-09-29 17:46] tqchen commented on #6590
Thanks for reporting the problem, please open a new thread on https://discuss.tvm.apache.org/. BTW, checking a modified version of the script on master seems to show a stable memory usage.

[code]

[2020-09-29 17:46] #6590 closed

[2020-09-29 19:59] gussmith23 opened #6592 "[Docs] relay.nn.bias_add with axis=-1?"
The documentation for `bias_add` does not seem to indicate what `axis=-1` means, though it appears in Relay's version of ResNet.

[2020-09-29 19:59] gussmith23 commented on #6592
cc @hogepodge

[2020-09-29 20:44] tqchen commented on #6592
I believe it is like most numpy conventions. Negative axis means starting from the highest dimension.

Let us also use https://discuss.tvm.apache.org/ for this kind of general topics so we can also get more attentions there :)

[2020-09-29 20:44] #6592 closed

[2020-09-29 21:22] gussmith23 commented on #6592
It is somewhat implicit what negative `axis` values mean; they're used in other places in Relay. I bet a lot of people know what it means right off the bat.

[2020-09-29 21:28] tqchen commented on #6592
I agree it might be helpful to update the document, Thanks @gussmith23 for bringing this up

[2020-09-29 23:57] areusch commented on #5298
Possibly another instance spotted in #6395, but can't view the old jenkins logs to check:

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-6395/26/pipeline/

[2020-09-30 00:11] ZihengJiang commented on #6486
I will add an `API Changes` section before `Deprecation`.

[2020-09-30 01:48] masahi opened #6594 "[Torch, CI] Support PyTorch 1.7"
Let's summarize steps needed to update our PyTorch support for the latest version, 1.6 (the CI is at 1.4).

- [x] Quantization support: It is completely broken due to a bug introduced in 1.6 (see https://github.com/pytorch/pytorch/issues/42497). I found a simple workaround for that problem (finally!) and the fix is WIP. The representation of quantized weights and APIs of quantized ops have changed

[2020-09-30 01:50] masahi commented on #6535
We'll track 1.6 support at https://github.com/apache/incubator-tvm/issues/6535

[2020-09-30 01:50] #6535 closed

[2020-09-30 02:31] zhiqwang commented on #6535
Hi, That's great news! Relink it to #6594 ?

[2020-09-30 02:58] masahi commented on #6535
ah sorry, the link is fixed

[2020-09-30 10:18] yzh119 opened #6596 "Support Boundary Checking for Loop Dependent Iterators"
Currently TVM's boundary check avoids some invalid global memory access, it ignores the case when the arguments in `reduce_axis` requires global memory accessing (to an index tensor, this is common when dealing with sparse tensor/ragged tensors).

Below is a simple example (segment sum) to reproduce the problem, what it did is basically is:
- given a data tensor `x` and a offset(indicates the segm

[2020-09-30 15:27] leandron commented on #6421
The mentioned tutorial PR is https://github.com/apache/incubator-tvm/pull/6597

[2020-10-01 00:36] jroesch opened #6604 "[Rust] Stabilization Tracking Issue for 0.8"
The goal of this issue is tracking requisite changes needed to stabilize the compiler APIs in Rust.

- [ ] Refactor NDArray with type parameter?
- [ ] Ensure sufficient documentation examples.

More to come.

[2020-10-01 04:30] masahi commented on #6594
@kevinthesun @yongwww I've taken a look at supporting detection models in 1.6. It turned out we need convert a function `batched_nms` that was traced in 1.4, but now it is scripted. This brings a very nasty typing problem.

Looking at this code,
https://github.com/pytorch/vision/blob/6e10e3f88158f12b7a304d3c2f803d2bbdde0823/torchvision/ops/boxes.py#L75-L86

One of the types of if branch is a zero

[2020-10-01 06:52] roastduck commented on #6596
Just a kind reminder that #5130 has been there for half a year :(

[2020-10-01 07:10] masahi commented on #6594
@yongwww It seems torchvision nms op https://github.com/pytorch/vision/blob/master/torchvision/ops/boxes.py#L35 returns int64 indices, while nms in Relay returns int32 bit indices. We need to cast the output indices to int64, that should resolve the one of typing problem (two branches of `If` having different types, int32 and int64).

[2020-10-01 14:52] tqchen commented on #6596
I see, looking into the case. Both this example and #5130 seems to appear when the iteration is dependent on an outer loop. And we will need to find a detector to insert the condition properly when generating the loops.

The current compute bound insertion assumes the loop bounds to not being iterator dependent. A contribution would be more than welcomed.

It might also be useful to think about wh

[2020-10-01 14:54] tqchen commented on #6596
Also cc @spectrometerHBH @Hzfengsy since this might bring some fruit for thoughts for the TIR schedule design

[2020-10-01 15:45] dkoutsou opened #6607 "[Frontend][PyTorch] TVM casts to float32, when actual type is int"
I have the following pytorch program
[code]

and when I run it I get the following error:
[code]

My library versions are:
[code]

And I have compiled TVM using the binaries for clang and LLVM (version 10, for ubuntu 18.04).

Is there any way around this implicit cast? I tried to cast my vectors directly using `.int()` in the beginning of the `forward` function, but this didn't solve the issue.

I

[2020-10-01 16:07] electriclilies opened #6608 "CHECK(data != nullptr) causes type checking to fail"
Many type relations check that types are not equal to nullptr. This results in early failure of the type checker. As an example, when trying to import efficientnet-b0 (tflite-int8-model), this error occurs:

`%0 = qnn.requantize(%images, 0.012566f, 131, 0.012566f, 3, out_dtype="int8") an internal invariant was violated while typechecking your program [17:21:40] /home/vega/github/incubator-tvm/src/

[2020-10-01 16:23] areusch commented on #6608
I think this was reproduced by trying to import the ONNX model generated by

[code]

from https://discuss.tvm.apache.org/t/unable-to-build-relay-function-twice/7987

[2020-10-01 16:34] vegaluisjose commented on #6608
@areusch that was actually the workaround. In other words, using the "onnx" version from this conversion does not seems to trigger the issue. However, I haven't tested the "correctness" of this onnx model, compared to the version provided in tensorflow hub.

The issue originally was found by using the TF-lite (8-bit) model directly. Specifically, this one:

https://tfhub.dev/tensorflow/lite-model/

[2020-10-01 16:38] areusch commented on #6608
thanks for clarifying @vegaluisjose !

[2020-10-01 16:55] electriclilies commented on #6608
These are the type relations I've found that have this issue, but I could be missing some.
- [ ]  ArgWhereRel
- [ ]  WhereRel
- [ ]  StridedSliceRel
- [ ]  SparseToDenseRel
- [ ]  NdarraySizeRel
- [ ]  MultiBoxTransformLocRel
- [ ]  DequantizeRel
- [ ]  QuantizeRel
- [ ]  RequantizeRel
- [ ]  SimulatedQuantizeRel

[2020-10-01 23:01] masahi commented on #6607
The problem is that you are using `torch.jit.script`.  As you see in the warning, we cannot tell the input type of PyTorch modules if they are scripted, so all we can do is to assign a default type (which is float32 if it is not provided).

You need to use `torch.jit.trace` or provide the types of inputs explicitly. One of the following change should fix your problem.

* Use tracing instead of scr

[2020-10-01 23:21] tqchen commented on #6607
Let us move general usage discussions to https://discuss.tvm.apache.org/ :)

[2020-10-02 00:58] ZihengJiang commented on #6486
## API Changes
### DataType to runtime

- Rationale: DataType is a runtime data structure
- PRs https://github.com/apache/incubator-tvm/pull/4560
- Rename all old reference of tvm::Type to DataType
- ExprNode.type -> ExprNode.dtype, Expr.type() -> Expr.dtype()
- Move type constructors as static function: Int(bits) -> DataType::Int(bits)

### Node Object Unification

- Rationale: remove a few redir

[2020-10-02 01:02] ZihengJiang commented on #6421
@leandron @comaniac @tqchen
We are still waiting CI for #6597 and #6578 . I have added them into the release note and let's merge them tomorrow morning.

[2020-10-02 01:06] comaniac commented on #6421
Thanks. I am actually waiting to merge them today but still waiting for their CIs.

[2020-10-02 04:49] comaniac commented on #6421
@ZihengJiang both were merged.

[2020-10-02 04:51] zhiics commented on #6421
@comaniac cool, thanks. We plan to make a cut tomorrow.

[2020-10-02 09:22] dkoutsou commented on #6607
Hey @masahi thank you very much for your detailed response, it really helped me!

@tqchen I am not sure when to post to the forum and when to open an issue here tbh. Currently I am facing another issue that seems to be a bug in the tvm code. What is the expected way to deal with this?

[2020-10-02 09:46] masahi commented on #6607
@dkoutsou  Let's first discuss your issue on the forum. After we identify the problem and if it is indeed a bug in TVM, we can open an issue with a concrete plan of actions.

[2020-10-02 09:46] #6607 closed

[2020-10-02 13:32] tqchen commented on #6029
[code]

[2020-10-02 13:36] #6608 closed

[2020-10-02 18:13] tqchen commented on #6421
https://github.com/apache/incubator-tvm/tree/v0.7

[2020-10-02 18:53] jroesch opened #6617 "[IR] Make IRModule non-nullable"
After my recent diagnostic refactors it would be great to make modules non-nullable as they have a valid "empty" value, and there is no reason to use null ptrs here.

cc @ANSHUMAN87 @Hzfengsy @junrushao

[2020-10-02 18:54] jroesch commented on #6153
See also #6617

[2020-10-02 19:56] jroesch opened #6618 "[IR][Relay] Rewrite/Refactor WellFormedness check"
Tracking this as part of follow up work for the diagnostics. The current wellformedness check only looks at a single function, does not report descriptive errors and has some challenges when running on a whole module at once.

We should consider refactoring it more aggressively now that the diagnostic changes are landing in TVM.

cc @altanh

[2020-10-02 20:00] jroesch commented on #6618
[code]

[2020-10-02 20:00] jroesch commented on #6618
For example we can't incrementally kind check type definitions anymore as they may refer to out of order type definitions which we want to support.

[2020-10-02 20:12] jroesch commented on #6604
See #5889

[2020-10-02 20:13] jroesch commented on #5968
This is now fixed for full modules, going to close.

[2020-10-02 20:13] #5968 closed

[2020-10-02 20:13] jroesch commented on #6604
See #6089

[2020-10-03 15:45] ZihengJiang opened #6622 "[VOTE] Release Apache TVM (incubating) v0.7.0.rc0"
Dear TVM community,

This is a call for vote to release Apache TVM (incubating) version 0.7.0.  This is a major release with many new features and improvement. All users of Apache TVM (incubating) 0.6 are advised to upgrade. The release is co-managed by Zhi Chen (@zhiics).

Link to release notes:
https://github.com/apache/incubator-tvm/releases/tag/v0.7.0.rc0

Link to release candidate:
https://di

[2020-10-03 21:45] yzhliu commented on #6622
+1, I have checked

Incubating in name
Verified signature and checksum
LICENSE checked
NOTICE checked
DISCLAIMER checked

[2020-10-03 21:57] tqchen opened #6623 "[RFC] Move to use main as default branch"
Dear TVM Community:

In light of recent proposed change of [github's default branch from master to main](https://github.blog/changelog/2020-10-01-the-default-branch-for-newly-created-repositories-is-now-main/). It would be great for the community to consider such a change. Given the minimum impact to set it up. We believe is a net positive to the community and also keeps us up to the latest github

[2020-10-03 22:09] tqchen commented on #6622
+1 (binding), I checked

Signatures and hashes good
DISCLAIMER, LICENSE, NOTICE
Signatures and hashes
No unexpected binary files
Code compiles

TQ

[2020-10-03 22:16] tqchen commented on #6623
To be fully transparent about what it would take:

- create main branch from master
- setup branch protection
- New PRs and other activities will continue to work as normal
- For stale PRs that still need updates, re-raise against the new default -- given we merge PRs actively and stale PR usually requires CI retrigger anyway, there wont be a big overhead.

[2020-10-03 23:12] junrushao1994 commented on #6623
It makes a lot of sense. Let’s follow the new default setting in github carefully to make sure the transition is smooth. Thanks a lot!

[2020-10-04 00:47] szha commented on #6623
It's also feasible to just change the base of each of the open PR to target the new branch. Since the branches are identical initially, this switch shouldn't cause any issue. It can be carried out alongside the change in default branch setting.

[2020-10-04 07:13] ANSHUMAN87 commented on #6617
Yes, I also agree IRModule should be non-nullable. Would love to have some thoughts from @junrushao1994 too!

Please bear with me, I am just trying to get a clear picture here.
As per our last effort(#5654), the IRModule has now empty constructor with empty values. It can not have null ptrs. But there are cases which needs optional input for IRModule which carry null ptrs.

So what is our line of

[2020-10-04 08:41] junrushao1994 commented on #6617
Thanks @ANSHUMAN87 for reminding me of the PR #5654! It means that by default we won’t create null IRModules any more. The only thing left to do is that we search the code base, and find whether there are intentionally created null IRModules.

[2020-10-05 08:04] m3at opened #6624 "[Relay] Module mutated in-place"
Following [discussion on the forum](https://discuss.tvm.apache.org/t/unable-to-build-relay-function-twice/7987) I'm opening this issue for what appear to be a bug when running `relay.build`, with potentially `nn.pad` being mutated in-place.

In practice the issue can be side-stepped by making a `deepcopy` of the module before building. This issue is to find which pass is potentially mutating the m

[2020-10-05 09:25] bgchun commented on #6622
+1 (binding)

- I checked the signature and hash.
- DISCLAIMER, LICENSE, and NOTICE look good
- No unexpected binary files
- The code compiles and runs

Thanks.
-Gon

[2020-10-05 11:23] FrozenGene commented on #6622
+1, I checked

- signature and hash
- LICENSE, DISCLAIMER and NOTICE
- Version
- Code compiles

[2020-10-05 16:28] zhiics commented on #6622
+1 (binding)

- Checked the signature and hash
- The code compiles
- Checked LICESE and NOTICE

[2020-10-05 19:42] jroesch opened #6628 "[Rust] Add MXNet to ci-cpu image to test Rust ResNet examples."
@mwillsey and I updated the ResNet example to check the correctness of the model by using a pre-trained model instead of random weights.

In order to turn this on in CI we need to update the image and then reissue a build with it turned back on.

[2020-10-05 19:48] ghost opened #6629 "Cuda NMS argsorts with invalid entries"
I believe the following two lines should have `valid_count=valid_count`, as in [the default implementation](https://github.com/apache/incubator-tvm/blob/21002cd094c34716b1e07a63ed76f53dadd60e23/python/tvm/topi/vision/nms.py#L558). I believe the `data` array is zeroed at initialization for cuda, so the issue only manifests if nms is run more than once, with the first run containing more valid boxes

[2020-10-05 20:35] tmoreau89 commented on #6622
+1 (binding):

[2020-10-05 20:42] ghost opened #6631 "Race Condition in Cuda SSD Multibox"
I may be missing something about the IR, but there seems to be a race condition in the following line. There is no guarantee that `temp_valid_count[tid * num_anchors + k - 1]` will be computed before `tid == 0` reaches this point. However, in practice this seems very unlikely. https://github.com/apache/incubator-tvm/blob/21002cd094c34716b1e07a63ed76f53dadd60e23/python/tvm/topi/cuda/ssd/multibox.py

[2020-10-05 20:53] jroesch commented on #6622
+1 (binding)
* Checked the code compiles
* Checked License and Notice
* Version

[2020-10-05 21:25] hogepodge commented on #6623
This change would be in accordance with the [Apache Code of Conduct](https://www.apache.org/foundation/policies/conduct.html) across several dimensions.

1. It creates a more open community.
2. It shows empathy for the diverse open source community.
3. It encourages collaboration.
4. It is being careful with the words we choose.
5. It aligns with the diversity statement.

[2020-10-06 00:04] jroesch commented on #6628
As part of this branch we need to add Rust to GPU image so we can build Rust docs in CI.

[2020-10-06 02:17] caoqichun opened #6633 "[FRONTEND][ONNX] Support NonMaxSuppression"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2020-10-06 03:44] zhiics commented on #6629
cc @Laurawly

[2020-10-06 04:02] Hecmay opened #6634 "[Anosr][Bug] ValueError: arch(sm_xy) is not passed, and we cannot detect it from env"
## Environment
* Ubuntu 18.04.5 LTS
* CUDA Version: 11.0.
* GPU: RTX 2080 Ti. Compute Compatibility : 7.5

## Description

I created a simple MatMul tensor expression in C++, and want to use Anosr to search the optimal schedule for it. Here is the skeleton of the program that I am using. The `args` is an array of tensor inputs and output of the MatMul op.
[code]

When running the program, `measure

[2020-10-06 06:37] aniketchopade opened #6635 "onnx model compilation - TVMError: Check failed: n.defined():"
I am trying to compile the model with relay with below error

[![2kfgKx.md.png](https://iili.io/2kfgKx.md.png)](https://freeimage.host/i/2kfgKx)

[code]

WARNING:root:Attribute momentum is ignored in relay.sym.batch_norm
WARNING:root:Attribute momentum is ignored in relay.sym.batch_norm
WARNING:root:Attribute momentum is ignored in relay.sym.batch_norm
WARNING:root:Attribute momentum is ignored in

[2020-10-06 12:48] tqchen commented on #6635
Please open a new troubleshooting thread on https://discuss.tvm.apache.org/ where the community collectively addresses these problems

[2020-10-06 12:48] #6635 closed

[2020-10-06 12:50] tqchen commented on #6631
cc @Laurawly

[2020-10-06 16:20] zhiics commented on #6634
cc @merrymercy @jcf94 @comaniac

[2020-10-06 16:36] comaniac commented on #6634
It seems to me that your solution by providing the `sm_75` to the first error was correct. For the runtime initialization error, it is case by case, because not all schedule candidates are valid on your GPU. As long as Ansor can still find valid schedules you should be fine. This happens quite often especially on small GPUs such as T4. Could you provide the number of explored trials and the final

[2020-10-06 16:45] comaniac commented on #6622
+1

* Checked the code compiles
* Checked LICENSE and NOTICE
* Checked version.

[2020-10-06 17:13] tvm-archiver commented on #6622
+1 (binding)

I checked:
* Checksum
* Code compiles

On Mon, Oct 5, 2020 at 1:54 PM Jared Roesch
<notifications@github.com.invalid> wrote:

[2020-10-06 18:33] Hecmay commented on #6634
Hi @comaniac Cody, thanks for your reply.

I just used the default parameters of 10 trails. All of 10 trails returned the same error when running the evaluation. The finally returned schedule (from `Autoschedule(policy, options)`) is the unoptimized schedule (with no thread or block binding).
[code]
I tried to look into the problematic function (AllocateDataSpace:108) in `cuda_device_api.cc`. It s

[2020-10-06 18:41] comaniac commented on #6634
I see, so the same setting and tuning task work with the Python APIs but not the C++ APIs. Then it might be something that has been handled in the Python API before passing to the C++.

Could you try to create an RPC runner by referring to https://github.com/apache/incubator-tvm/blob/master/python/tvm/auto_scheduler/measure.py#L399-L414 to see if that works or not?

[2020-10-06 18:54] Hecmay commented on #6634
Okay. Thanks! Will try that. I was using the local runner and that might be the issue.

[2020-10-06 19:16] comaniac commented on #6634
It's recommended to use RPC runner for GPUs so that we can isolate the CUDA context and other environments. Some issues have been reported that a CUDA context cannot be shared between parent and child threads due to the memory mapping.

[2020-10-06 19:32] ZihengJiang opened #6638 "[RESULT][VOTE] Release Apache TVM (incubating) v0.7.0.rc0"
Dear TVM community,

I'm glad to announce the results of the vote for the release, with Zhi's co-management.

This vote passes with 9 +1 votes (7 binding), no 0 votes, and 0 -1 vote.

+1 votes

* Yizhi Liu (binding)
* Tianqi Chen (binding)
* Byung-Gon Chun (binding)
* Zhao Wu
* Zhi Chen (binding)
* Thierry Moreau (binding)
* Jared Roesch (binding)
* Cody Yu
* Markus Weimer (binding)

0 votes
* No

[2020-10-06 20:22] ZihengJiang commented on #6622
Thanks everyone for voting. The voting result has been sent out.

[2020-10-06 20:30] Hecmay commented on #6634
RPC runner works. Thanks Cody!

[2020-10-06 20:30] #6634 closed

[2020-10-06 20:35] #6622 closed

[2020-10-07 15:00] leandron opened #6642 "[Test] patterns for check into tests/python/contrib/test_tedd.py mismatch when running on CPU"
It seems there are a couple tests in `tests/python/contrib/test_tedd.py` that mismatch when running on CPU only machines. These tests are part of `task_python-integration.sh`.

[code]

Interestingly, I noticed these tests pass on upstream CI, but I think the only reason it happens is because the `tlcpack/ci-cpu:v0.66` doesn't have `graphviz` installed, and hence won't do any checks, reporting `PAS

[2020-10-07 15:18] leandron commented on #6642
One example error message I was seeing:

The expected pattern is: `bk(kVectorized)`
The actual contents: `bk: int32(kVectorized)`

[code]

[2020-10-07 15:29] leandron commented on #6642
cc @yongfeng-nv to get any comments you might have

[2020-10-07 21:20] qiangxu1996 opened #6649 "Some models not working on Android GPU"
I am recently trying different models and testing them on android_rpc. However, I discovered that many models do not work with either OpenCL or Vulkan. The outcome for some of the models is listed below.

|        | `deploy_model_on_android.py` | PyTorch Pretrained Resnet18 | Fast-depth | SC-SfMLearner |
| ------ | ---------------------------- | --------------------------- | ---------- | ---------

[2020-10-08 00:09] tkonolige opened #6650 "Ansor support for multiprocessing spawn"
When using multiprocessing in python, the spawn start method (default on windows and macOS) causes errors with ansor. These errors are mostly related to serialization of `Object`s which do not expose all data via `VisitAttrs`.

There are a couple ways we can fix this. @merrymercy suggests:
"1. Fix VisitAttrs.  I think this won’t work even if we fix all VisitAttrs because there are pointers in Meas

[2020-10-08 00:34] comaniac commented on #6650
also cc @jcf94 @FrozenGene

[2020-10-08 15:45] #6528 closed

[2020-10-08 15:45] #5216 closed

[2020-10-08 15:47] tqchen commented on #6559
@jroesch please followup to see if https://github.com/apache/incubator-tvm/pull/6563 fixed the issue

[2020-10-08 15:48] tqchen commented on #4178
@zhiics @wweic would be great to get a status update and see if this PR can be updated or closed

[2020-10-08 15:48] #4332 closed

[2020-10-08 15:57] zhiics commented on #4178
ahh, thanks for reminding. This is closed by #6337

[2020-10-08 15:57] #4178 closed

[2020-10-08 17:29] tqchen commented on #6623
Thanks everyone, the lazy consensus has passed.

[2020-10-09 03:08] areusch opened #6653 "Incorrect data type in relay causes abort() rather than exception"
We should not abort() the whole Python instance just because someone passed the incorrect data type (or, as seems more likely in this case, the parser is misconfigured to produce `kTVMObjectHandle` from `data_layout` attributes instead of `kTVMStr`).

To reproduce at `2cfbd093be048ca04cbedd36e9c63f76e2e59bce`, create `repro_bug.py`:
[code]

Output:
[code]

Expected output:
[code]
(I.e. the LOG(FAT

[2020-10-09 03:12] areusch commented on #6653
Offending `throw`: https://github.com/apache/incubator-tvm/blob/8348a44b9a915fe2fb2ead44c8bf3d1be126ff8d/include/tvm/ir/attrs.h#L358

[2020-10-09 14:12] tqchen commented on #6653
In this case the problem is not in the throw, but the exception being raised in a destructor. The particular destructor is already being marked as enable throw and is fine, so it we need to look up the stacktrace to see what destructor causes the problem

[2020-10-09 14:16] tqchen commented on #6650
Would be great to confirm if this is caused by RPC itself being created via multi-processing and whether starting a separate RPC server would fix the problem.

Multiprocessing is generally something we need to deal with very carefully especially when it comes to passing state through multi-processing.  There are also other problems, like certain drivers themselves are not fork safe.

[2020-10-09 16:13] tkonolige commented on #6650
These lines are the issue: https://github.com/apache/incubator-tvm/blob/master/python/tvm/auto_scheduler/measure.py#L63-L66. The globals are not propagated to the child process when using spawn. The inputs cannot current be passed as arguments to pool.map because they are not serializable. A lot of the auto_scheduling data structures do not expose all of their members via visitattrs, so they do no

[2020-10-09 16:23] areusch commented on #6653
My POV is that throwing in a destructor is bad because it will necessarily obscure any LOG(FATAL) raised during the lifetime of the object. This could happen from LOG(FATAL) in any invoked function as well. I think we should by convention not allow marking destructors as `DMLC_THROW_EXCEPTION` because of this behavior. It's implicit and hard to catch in a code review, and it means error reports ta

[2020-10-09 17:02] tkonolige commented on #6650
I'm also seeing a similar issue with `python3 -m tvm.driver.tvmc tune --target llvm --output autotuner_records.json ~/Downloads/resnet50-v2-7.onnx`. It looks like something in autotvm is now having issues with spawn.

[2020-10-09 17:49] tqchen commented on #6650
There are two factors here, the cost of build and cost of benchmarking. In terms of benchmarking, we do not need multi-processing and can multiplex things through RPC, e.g. try to obtain a few sessions and run the benchmarking.

I guess the main problem comes from compilation side.  Switching to multi-threading in C++ might help, although we might still enjoy some features that python provide (e.g

[2020-10-09 18:33] tqchen commented on #6653
I agree that destructor throw should be rare(we only have very few of them), but in this particular case it is intended behavior(in the AttrInit). And we need to use this way to support the particular syntax to declare fields in an Attrs.

We should, however, find out what destructor causes the abort(it is certainly not the AttrInit because it can throw) and fix that destructor.

[2020-10-09 18:40] areusch commented on #6653
it's probably aborting because an exception was raised while unwinding the stack because of a different exception?

I don't think you need to actually raise the exception in the destructor here to get what you want. I think you can work around it and raise the exception in the Visitor instead of the Entry, unless there are other Visitor usages outside of `attr.h` i'm not seeing. it won't be automa

[2020-10-09 19:24] leandron commented on #6642
I consider this is closed now

[2020-10-09 19:24] #6642 closed

[2020-10-09 23:58] merrymercy commented on #6650
The issue is not about RPC. It is about the argument passing in `multiprocessing.Pool.map`. Some TVMObjects cannot be correctly serialized, so we cannot pass them as arguments of `multiprocessing.Pool.map`
The issue exists in both autotvm and ansor, because I used the fork trick to avoid the serialization in them.

There are three parts that are accelerated by multi-processing/multi-threading in a

[2020-10-10 01:14] kevinthesun commented on #6594
@masahi That shape problem coming from ```If``` branch looks like a Relay type inference issue to me. Type inference should generate dynamic shape in this case.

[2020-10-10 01:59] kevinthesun commented on #6594
@masahi

[2020-10-10 02:10] masahi commented on #6594
@kevinthesun thanks for pointing this out and providing a minimum test case. I'm going to take a look at what's going on inside type checker and hopefully fix it. With this fixed, I can send a PR to support PyTorch 1.6 mask rcnn and faster rcnn.

[2020-10-10 02:32] masahi commented on #6594
Finding suspicious code was easy, here, when lhs is `IntImmNode` and rhs is `AnyNode`, `ulhs` is returned.

https://github.com/apache/incubator-tvm/blob/98c2096f4944bdbdbbb2b7b20ccd35c6c11dfbf6/src/relay/analysis/type_solver.cc#L195-L198

Returning `urhs` there seems to fix this issue. I'm not sure if this is intended or a bug.

[2020-10-10 02:40] masahi commented on #6594
@kevinthesun @jroesch @lixiaoquan I found that this change was introduced in https://github.com/apache/incubator-tvm/pull/5795

If I make that above change, that effectively undos that PR and breaks the test case introduced there. Basically, what we want from type checking `If` involving both static and dynamic shape are complete opposite to the motivation of #5795.

What should we do about this?

[2020-10-10 02:56] kevinthesun commented on #6594
Hmmm, I think that PR is an optimization for some cases but is actually not correct. @lixiaoquan We should revert it?

[2020-10-10 04:14] masahi commented on #6594
I've sent the revert to https://github.com/apache/incubator-tvm/pull/6658

With this and other minor fixes, I can finally run torchvision detection models from v1.6

[2020-10-10 07:37] merrymercy commented on #6570
#6660

[2020-10-10 07:37] #6570 closed

[2020-10-11 06:07] ANSHUMAN87 commented on #6617
Sorry for such late response!
I have cross checked entire base code as per suggestion from @junrushao1994 , however could not find any candidate.
Please correct me if i am mistaken.
@jroesch : In case you have any specific case in mind, please let us know. Thanks!

[2020-10-11 18:26] tqchen commented on #6623
As of now, the default branch has been changed to main. I have also spend some time to update base branch of the existing PRs, but it would be great to double check for a bit when we merge PR this week.

@apache/tvm-committers  please check the information when merging a PR ([XXX] want to merge into apache:main from [YYY]). If the base branch have not been changed, click Edit and change the base b

[2020-10-11 18:44] #6638 closed

[2020-10-11 18:44] #6486 closed

[2020-10-11 18:44] #6421 closed

[2020-10-11 20:13] tqchen commented on #6623
All the open PR's base has been updated to main

[2020-10-11 20:13] #6623 closed

[2020-10-12 11:33] leandron opened #6668 "coremltools==4.0 breaks "test_coreml_codegen.py::test_annotate""
With recent release of `coremltools` 4.0 a couple days ago (https://pypi.org/project/coremltools/#history), It looks like `test_coreml_codegen.py::test_annotate` is now broken.

I'm raising this, as when we re-generate Docker images, this will certainly show up.

The error message I see is this:
[code]

This is a summary of the coreml tests, as I see them:
[code]

For now, I think we should stick

[2020-10-12 11:34] leandron commented on #6668
cc @tqchen @yzhliu

[2020-10-12 16:06] zhiics commented on #6668
cc @kazum

[2020-10-12 19:25] areusch commented on #6653
it looks like a patch was merged shortly after I reported this that fixed string parsing. I reverted that patch and couldn't trigger this error anymore, so something else changed. i'll close this issue since it seems to be resolved.

separately, we should probably work to remove all throws in destructors, but that's not this bug.

[2020-10-12 19:25] #6653 closed

[2020-10-12 22:57] trevor-m opened #6673 "[CI] Segfault in ci-gpu image related to xgboost version/dmlc-core"
This issue came up for this PR to add TRT BYOC support: https://github.com/apache/incubator-tvm/pull/6395#issuecomment-707363920
Example failed CI run: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-6395/30/pipeline

It seems that enabling TRT BYOC codegen (`set(USE_TENSORRT_CODEGEN ON)`) exposed an unrelated bug found by `apps/bundle_deploy/bundle_deploy.py` during `tests/scro[ts/

[2020-10-12 23:55] tqchen commented on #6673
Makes sense, let us update the xgboost version in this case

[2020-10-13 16:38] leandron commented on #6668
Thanks @kazum @zhiics

[2020-10-13 21:05] #6673 closed

[2020-10-13 22:41] electriclilies commented on #6624
I am getting the exact same issue as you. It seems like the problem is being caused by the AlterOpLayout pass.

For me, disabling the pass by changing
`with tvm.transform.PassContext(opt_level=3):` to `with tvm.transform.PassContext(opt_level=3, disabled_pass=["AlterOpLayout"):` makes the problem go away.

[2020-10-15 12:21] thilinikb commented on #4272
@tmoreau89 @flip1995 Could you please point me to this document if it is available?

[2020-10-15 13:11] tqchen commented on #6417
ping @leandron :)

[2020-10-15 13:14] tqchen opened #6689 "[TEST][FLAKY] frontend/pytorch/test_forward.py::test_forward_nms"
https://ci.tlcpack.ai/job/tvm/job/main/19/execution/node/380/log/

Could due to too close ties, perhaps we should construct nms test-cases differently that have no clear ties

[2020-10-15 13:14] tqchen commented on #6689
cc @masahi @Laurawly

[2020-10-15 13:45] flip1995 commented on #4272
Oh damn, I totally forgot about it. Basically you have to add those two lines to your python script, that runs your model on the PYNQ:

[code]

before the `graph_runtime.create(..)` command.

I hope this still works. I haven't used TVM/VTA for a long time now.

[2020-10-15 13:55] flip1995 commented on #4272
Or to be more precise, you have to load your model like this:

[code]

After that `module.run(**<input-dict>)` should work

[2020-10-15 15:11] masahi commented on #6689
cc @yongwww

[2020-10-15 20:19] trevor-m opened #6691 "[Performance] Performance regression with int64 indices INDEX_DEFAULT_I64=ON (PR #6143)"
I've started noticing a large performance regression affecting Keras MobileNetV2 caused by `INDEX_DEFAULT_I64=ON` (PR #6143). This is on an AWS m5.12xlarge instance.

INDEX_DEFAULT_I64 setting | Frames per second
------------ | -------------
ON | 66.56
OFF | 435.49

## Profile with `INDEX_DEFAULT_I64=OFF` (fast)

[code]

## Profile with `INDEX_DEFAULT_I64=ON` (slow)
[code]

The slowdown comes from

[2020-10-15 20:23] trevor-m commented on #6691
FYI @kevinthesun @hzfan @zhiics @tqchen

[2020-10-15 20:51] tqchen commented on #6691
Thanks @trevor-m cc @hzfan  Given that those are constant shapes, we should expect NarrowDataTypes to narrow dtypes to i32, it would be great to look into the IR those kernels and see why the NarrowDataType does not produce the right optimization

[2020-10-16 10:12] hzfan commented on #6691
Sure. I will look into that. Thanks @trevor-m

[2020-10-19 09:44] aseyboldt commented on #6624
I ran into what I think is the same issue: https://discuss.tvm.apache.org/t/incorrect-gradient-with-relay-transform-gradient/8105
This can lead to silently incorrect results in the gradients.

[2020-10-20 00:51] JFishLover commented on #3428
your delete aperation gives me an idea, thx

[2020-10-20 22:41] sxjscience opened #6721 "[FRONTEND][MXNET 2.0] Support three missing operators: _npi_subtract_scalar, _npi_stack, _npi_advanced_indexing_multiple"
Recently, TVM has supported the incoming MXNet 2.0 frontend via a series of PRs: https://github.com/apache/incubator-tvm/pull/6054, https://github.com/apache/incubator-tvm/pull/6699. This enables the new GluonNLP 1.0, which has upgraded from MXNet 1.x to MXNet 2.0 to convert to TVM graph (as added in https://github.com/dmlc/gluon-nlp/pull/1390). However, I noticed that there are three missing oper

[2020-10-20 22:42] sxjscience commented on #6721
Also cc @yzhliu

[2020-10-20 22:45] sxjscience commented on #6721
To provide more context on the `_npi_advanced_indexing_multiple` usage in GluonNLP, it's used here: https://github.com/dmlc/gluon-nlp/blob/149270a7b357e2a34972e6a596fbeea2bbd6869e/src/gluonnlp/models/bart.py#L277

[2020-10-21 19:31] comaniac opened #6727 "[CI] Build doc environment isolation"
In the past 2 days all CI are failed at the auto-scheduler tutorials, we found that the reason is the auto-scheduler tutorial generates a tuning log with a fixed name (e.g., `conv2d.json`). Apparently, the docs building stage in CI is executed in the same path for all PRs. As a result, `conv2d.json` keeps increasing and now has more than one thousand lines (one run should only generate 10 lines),

[2020-10-21 20:46] junrushao1994 commented on #6727
CC: @areusch @electriclilies

[2020-10-21 21:08] tqchen commented on #6727
Let us save the files into a temp folder, and clean cleanup these states before run, see also https://github.com/apache/incubator-tvm/blob/main/tests/scripts/task_python_docs.sh#L39 for some previous examples.

[2020-10-22 01:46] jiesonshan opened #6733 "Does TVM support tensorflow2 model?"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2020-10-22 12:20] jiesonshan opened #6737 "run example for tvm complie tensorflow model， It's very slow"
WARNING:strategy:For x86 target, NCHW layout is recommended for conv2d.
WARNING:strategy:For x86 target, NCHW layout is recommended for conv2d.
WARNING:strategy:For x86 target, NCHW layout is recommended for conv2d.
WARNING:strategy:For x86 target, NCHW layout is recommended for conv2d.
WARNING:strategy:For x86 target, NCHW layout is recommended for conv2d.
WARNING:strategy:For x86 target, NCHW la

[2020-10-22 12:35] tqchen commented on #6733
Please use https://discuss.tvm.apache.org/ for related questions

[2020-10-22 12:35] #6733 closed

[2020-10-22 12:35] tqchen commented on #6737
Please use https://discuss.tvm.apache.org/ for related topics

[2020-10-22 12:35] #6737 closed

[2020-10-22 19:29] #6727 closed

[2020-10-23 03:42] xutianming commented on #4118
How is this RFC going ? Are there any following pull requests?

[2020-10-23 08:10] aiblackmaner opened #6742 "Failed to load .so file using C++ api"
Hi， when I used C + + in Ubuntu 16 to load my resnet-18 model of auto tuning on the python side, I used
**TVM:: Runtime:: module Mod_ lib = tvm::runtime::Module::LoadFromFile("…/params/deploy_ lib.so ")**
; an exception was thrown: undefined reference to TVM:: Runtime:: module:: loadfromfile (STD::__ cxx11::basic_ string<char, std::char_ traits<char>, std::allocator<char> > const&, std::__ cxx11::

[2020-10-23 14:48] danilopau opened #6743 "micro_tflite.ipynb import tvm issue in Colab"
Hello, I downloaded the notebook from here https://tvm.apache.org/docs/tutorials/micro/micro_tflite.html#sphx-glr-tutorials-micro-micro-tflite-py, and run in Colab

I got ModuleNotFoundError: No module named 'tvm'

Then I added
!pip install tflite==2.1.0 --user
!pip install tvm
!set PYTHONPATH to .:/usr/local/lib/python3.6/

error is still there. Wuuld you please help becuase it doesn't work as pr

[2020-10-23 17:07] zhiics commented on #6742
Please send it to the discuss (https://discuss.tvm.apache.org/) forum for help.

[2020-10-23 17:07] #6742 closed

[2020-10-23 17:09] zhiics commented on #6743
Please create a thread at https://discuss.tvm.apache.org/ for help. You probably need to point your PYTHONPATH to where TVM is installed as well.

[2020-10-23 17:09] #6743 closed

[2020-10-25 16:41] tqchen opened #6754 "[CI] Tensorflow 2.3.1 upgrade blocker"
Followup of https://github.com/apache/incubator-tvm/pull/6706 Some updates in TF and TFLite are needed to enable TF 2.3.1 support

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/28/pipeline/320

[2020-10-26 08:40] IversonTang opened #6761 "The following operators are not implemented: ['aten::max_unpool2d'] in pytorch frontend"
Hello:
I encountered a problem the following operators are not implemented: ['**aten::max_unpool2d**'] when deploying **segnet** model using pytorch frontend. Then I observed the operator **aten:: max_ pool2d_ with_ indicies** seems return dummy indices in **relay/frontend/pytorch.py**.How can I modify operator max_ pool2d_ with_ indicies to save indicies and add new operator max_unpool2d?

[2020-10-26 09:23] masahi commented on #6761
Unfortunately, upsampling via unpooling is not possible with TVM, since TVM max pool op doesn't record indices (that's why we return dummy indices from `max_ pool2d_ with_ indicies`). If possible, you can modify your model to do upsampling via `torch.interpolate(...)` function.

For further questions, please use the forum instead.

[2020-10-26 09:23] #6761 closed

[2020-10-26 15:34] yongwww commented on #6689
@masahi @tqchen I failed to reproduce it on my environment. The flaky issue was introduced due to the accumulation of tiny difference of computations, especially for a large number of input boxes. I will send a pr to loosen the tolerance.

[2020-10-27 05:12] masahi commented on #6689
@yongwww maybe setting rng manual seed via `torch.manual_seed(...)` help.

[2020-10-27 07:55] wyx-1978 opened #6770 "opencl build error when run onnx model at windows."
I had download TVM code at the lastest commit on master branch.
Then convert my model file (*.pb) to dll file in windows, dll can run by python system successfully.
but when i use c++ to load dll and run the model, TVM throw error as bellow.

 "TVMError: OpenCL build error for device=000002431E0BE180ptxas error   : Entry function 'fused_nn_conv2d_18_kernel0' uses too much shared data (0xc9c4 bytes

[2020-10-27 13:50] tqchen commented on #6770
move to https://discuss.tvm.apache.org/t/opencl-build-error-when-run-onnx-model-at-windows/8301

[2020-10-27 13:50] #6770 closed

[2020-10-27 17:20] leandron commented on #6417
Sorry I didn't manage to get into this yet.

[2020-10-27 18:47] ANSHUMAN87 commented on #6754
The failures are resolved in #6774

[2020-10-28 16:07] tqchen commented on #6691
Fixed by #6771. However, it will still be great to followup on this case

[2020-10-28 16:27] trevor-m commented on #6691
Thanks @hzfan and @tqchen for the help!

[2020-10-29 13:52] ANSHUMAN87 opened #6791 "[Realy][Frontend][TLite] Issue in Quantized PadV2 support with constant input."
In Tensorflow version > 2.1.0, there is a bug induced in Tensorflow, where if we try to use Quantized PadV2 with constant value input, it fails to covert to TFLite because of mismatch in output quant params & the constant value quant params.

Pseudo code:
`          quant_output = pad_v2(quant_data, padding, mode="CONSTANT", quant_constant_values)`

Error:
 ` RuntimeError: tensorflow/lite/kernels/

[2020-10-29 15:54] leandron opened #6792 "[TVMC] TODO items on TVMC backlog"
This is a list of items we recorded as TODO, during TVMC code-reviews.

The list is sorted by my perceived priority implementing them:

- [ ] In `tvmc compile` and `tvmc tune`, modify the way we deal with the output of `relay.build`, and remove usage of `graph_module.get_json(), graph_module.get_lib(), graph_module.get_params()`. This will also change the way `tvmc run` consumes the produced TAR f

[2020-10-29 17:08] leandron commented on #6754
@tqchen I think this can be closed now

[2020-10-29 17:35] leandron commented on #6754
Sorry, too early to claim it is completely fixed :(. I just checked again and there was another side effect, this time on Keras testing.

When using pure `Keras` (not `tf.Keras`), all of them fail with the same error: `AttributeError: module 'tensorflow.python.framework.ops' has no attribute '_TensorLike'`

[code]

I see this looks like https://github.com/tensorflow/models/issues/6177 and https://

[2020-10-29 17:51] ANSHUMAN87 commented on #6754
@leandron : Sure i will look into it. Can you please confirm whether keras version in ur env is 2.3.1 ?

[2020-10-29 19:02] u99127 commented on #6754
@ANSHUMAN87  - we just use the same Docker image as upstream ci_cpu,so it would be the version as in ubuntu_install_tensorflow.sh . So I think it's keras 2.3.1

install/ubuntu_install_tensorflow.sh:pip3 install tensorflow==2.3.1 keras==2.3.1 h5py

[2020-10-29 19:02] leandron commented on #6754
Yes, I confirm as per https://github.com/apache/incubator-tvm/blob/main/docker/install/ubuntu_install_tensorflow.sh and also but checking the installation logs.

[2020-10-29 19:19] ANSHUMAN87 commented on #6754
Okay, i checked the failures, we have to upgrade the keras version too, along with it. Will raise one PR for it now.

[2020-10-30 00:32] tqchen commented on #6650
close by #6671

[2020-10-30 00:32] #6650 closed

[2020-10-30 00:33] tqchen commented on #6691
ping @hzfan can you please follow a bit further ? It is a great chance for us to improve the simplifcation and i64 flow

[2020-10-30 07:51] hzfan commented on #6691
@tqchen Yeah, sure. Perhaps I can start with figuring out why cast i32 is inserted.

[2020-10-30 08:03] 12101111 commented on #6559
I got a SIGSEGV after update.
[code]

The problem happend in https://github.com/apache/incubator-tvm/blob/277bfc86aac94442625e8307aa55a9215e2fddd6/rust/tvm-rt/src/ndarray.rs#L350

I change it to the old one:

[code]

And still got a memory leak
![image](https://user-images.githubusercontent.com/8438475/97674888-439c5680-1ac9-11eb-8262-4ce15898bc8b.png)

[2020-10-30 09:35] leandron commented on #6754
I confirm now all the issues are gone.

[2020-10-30 10:38] nolanliou opened #6801 "[BUG] Cannot convert TF model when contains `argwhere` and `strided_slice` op"
# Description
`strided_slice` op not work when there is an `argwhere` input pipeline, because the output shape of `argwhere` is dynamic. Is there a better solution to fix that?

# Error information
[code]
# Env
* TVM: master

# Minimal code to reproduce.
[code]

[2020-10-30 10:45] ANSHUMAN87 commented on #6754
Thanks @leandron for confirmation!

[2020-10-30 17:52] altanh opened #6803 "[Relay] Dead Code Elimination is unsound with references"
The higher-order gradient transformation creates `ref_read`'s and `ref_write`'s which are effectful, and DCE assumes all code is pure. These reference operations will thus get removed, causing gradient updates to be lost. We will likely need to make an alias analysis pass to resolve this. Previously, this may have been unnoticed due to Partial Evaluation being able to often remove all references,

[2020-10-30 18:03] MarisaKirisame commented on #6803
You can use the feature detector for this.
Alas, lots of DCE test/code is weird - they assume that this is sound and work on it anyway.

[2020-10-30 21:35] tqchen commented on #6754
Note that the keras related issues still persists

[2020-10-30 22:03] mei-ye opened #6806 "window build restrictions"
On windows, you can’t mix debug and release DLLs.  As a result, LLVM and TVM must have the same debug or release build.
For the vulkan target, the downloaded VulkanSDK is a release build, which leads to link-time errors for the debug build of TVM.
For the llvm target, debug build runs into two problems:
1.	LLVM_ENABLE_ABI_BREAKING_CHECKS in LLVM is set to 1 which is incompatible with TVM.
2.	Many

[2020-10-30 22:07] tqchen commented on #6806
Thanks @mei-ye , the topic of windows build is better suited in https://discuss.tvm.apache.org/. Yes I think it is important to make use of the relase build instead of debug build in windows as most of the packages are release.  We do expose the symbols that are under TVM_DLL, which covers most of the usages in the include, but would not export other symbols.

[2020-10-30 22:07] #6806 closed

[2020-10-31 22:28] tqchen commented on #6754
Still having problem https://ci.tlcpack.ai/job/temp-ci-docker-staging/job/ci-stage2/25/execution/node/408/log/

[2020-10-31 22:41] tqchen commented on #6754
seems was due to https://github.com/apache/incubator-tvm/pull/6808/ changes to keras 2.3.1

[2020-10-31 22:48] leandron commented on #6754
From this error. It seems your are missing #6793, and also needs #6808 on top. This works for me.

[2020-10-31 23:00] leandron commented on #6754
So, you need #6810 and #6808 on your ci branch, then according to my tests, all is working.

[2020-11-01 16:52] tqchen commented on #6540
ping @jroesch

[2020-11-01 16:52] #6628 closed

[2020-11-01 16:53] tqchen commented on #4823
@anijain2305 please check if we can close this issue

[2020-11-01 16:54] tqchen commented on #5340
@anijain2305 please check if we can close this issue either due to non-actionable status(stale) or  completion

[2020-11-01 16:54] tqchen commented on #5215
@anijain2305 please check if we can close this issue either due to non-actionable status(stale) or  completion

[2020-11-01 16:55] tqchen commented on #5406
ping, will consider this issue closed due to inactive status

[2020-11-01 16:56] tqchen commented on #6489
@jroesch please update to see if the issue can be closed

[2020-11-01 16:56] #6363 closed

[2020-11-01 16:56] tqchen commented on #6363
Should be fixed by the lastest main. Thanks @WenheLI  for reporting the issue

[2020-11-01 16:57] #6285 closed

[2020-11-01 16:57] tqchen commented on #6178
ping @srkreddy1238

[2020-11-01 16:57] #6034 closed

[2020-11-01 16:58] #6376 closed

[2020-11-01 16:59] tqchen commented on #6376
Close for now thanks to https://github.com/apache/incubator-tvm/pull/6438

[2020-11-01 17:01] tqchen commented on #2146
closing for now due to inactive status, we can always open new one as we plan to work on it

[2020-11-01 17:01] #2146 closed

[2020-11-01 17:02] tqchen commented on #2566
Ping @zhiics would be great to comment on the current state

[2020-11-01 17:02] tqchen commented on #2755
closing for now due to inactive status, we can always open new one as we plan to work on it

[2020-11-01 17:02] #2755 closed

[2020-11-01 17:03] #4519 closed

[2020-11-01 17:03] #4824 closed

[2020-11-01 17:04] tqchen commented on #5130
consolidate into https://github.com/apache/incubator-tvm/issues/6596

[2020-11-01 17:04] #5130 closed

[2020-11-01 17:04] #6754 closed

[2020-11-01 17:07] tqchen opened #6813 "[RELAY] Support Random Number Generator"
This is a consolidated thread of relay's PRNG support. PRNG are usually considered as stateful, as a result, we will need to support the following features

- Basic block normal form (allowing reading of ref in the begining of the basic block and write to write in the end)
- Support reference in relay vm and AOT
- Formalize the PRNG in the form of the ref and stateful update
- Optionally: convert

[2020-11-01 17:07] tqchen commented on #6813
cc @altanh @junrushao1994 @jroesch @antinucleon

[2020-11-01 17:08] tqchen commented on #6556
Consolidate to https://github.com/apache/incubator-tvm/issues/6813

[2020-11-01 17:08] #6556 closed

[2020-11-01 17:09] tqchen commented on #6633
cc @jroesch @mbrookhart can you confirm if this is now supported?

[2020-11-01 17:09] tqchen commented on #6470
@gussmith23 please check if the problem persists in main

[2020-11-01 17:10] tqchen commented on #5969
@jroesch please check if the state of the issue is still active

[2020-11-01 17:11] tqchen commented on #6133
@merrymercy would be great if we can update the status of the issue

[2020-11-01 17:11] #6064 closed

[2020-11-01 17:12] #5741 closed

[2020-11-01 17:12] tqchen commented on #5741
close for now due to inactive status

[2020-11-01 17:12] zhiics commented on #2566
Thanks for reminding. I think we should probably close this for now.

[2020-11-01 17:12] #2566 closed

[2020-11-01 17:13] tqchen commented on #5096
closed for now due to inactive status, feel free to open new ones

[2020-11-01 17:13] #5096 closed

[2020-11-01 17:14] tqchen commented on #2591
Move to #6813

[2020-11-01 17:14] #2591 closed

[2020-11-01 17:14] #5405 closed

[2020-11-01 17:14] #5406 closed

[2020-11-01 17:15] #4647 closed

[2020-11-01 17:57] anijain2305 commented on #5340
I think we can close this. As Ansor comes in, we will try these different choices automatically on all platforms.

[2020-11-01 17:57] #5340 closed

[2020-11-01 17:59] anijain2305 commented on #4823
Yes, we can close this. More tests have been added over past few months, including unit test for quantized conv2d.
Ping @u99127 to have a final say.

[2020-11-01 21:54] mbrookhart commented on #6633
It's in progress. I have a branch where it works on the interpreter on CPU. We're fighting some bugs in the VM, and the topi kernel for cuda doesn't follow the same semantics as the CPU version, so that needs a bit of a refactor.  I hope to have a PR soon.

[2020-11-02 01:19] jroesch opened #6816 "[Rust][WASM] WASM runtime example is broken."
Recent changes seemed to have broke the Rust WASM example. There is an issue executing the produced WASM code:

[code]

cc @ehsanmok

[2020-11-02 02:13] jroesch commented on #6816
cc @kazum I am not able to reproduce using current instructions on windows, any thoughts?

[2020-11-02 03:25] FrozenGene commented on #5215
i think we could close it as Ansor solves the problem for all platforms. For AutoTVM's cuda platform, there is no activity on it. If anyone is interested on it,  he / she could do it for cuda on AutoTVM too.

[2020-11-02 03:25] #5215 closed

[2020-11-02 03:44] WenheLI opened #6817 "[WASM] apps/wasm-standalone is broken"
I was trying to run `apps/wasm-standalone` and this does not work for me right now.
While running ` python3 ./build_graph_lib.py -O3 ./resnet50v1.onnx  `, I got the following errors:
[code]

Any thoughts on how to fix it?

[2020-11-03 09:09] 12101111 commented on #6559
This new memory leak is caused by

https://github.com/apache/incubator-tvm/blob/883954ee45b51ca8e2ff96714520a676cd1f8f74/rust/tvm-rt/src/object/object_ptr.rs#L306-L308

The reference count of every NDArrayContainer is 1 after drop

[2020-11-03 09:35] ggardet opened #6832 "TVM 0.7.0 - Tests fail with `Check failed: reg != nullptr: AttributeError: Operator reshape is not registered`"
`arith_simplify_test` and other tests fail with:
[code]
This problem started with version 0.7.0. Version 0.6.0 was fine.

[2020-11-03 12:27] #6594 closed

[2020-11-03 19:10] gussmith23 commented on #6470
Looks like it's gone!

[2020-11-03 19:10] #6470 closed

[2020-11-03 19:14] gussmith23 commented on #6470
I'm getting another error in the Rust bindings now. Will open a different issue.

[2020-11-03 19:19] gussmith23 opened #6836 "[Rust][Relay] nn.dense: is `units` a required parameter?"
When parsing the following Relay expression:
[code]
I get:
[code]

Adding `units=64` fixes the problem. However, the docs indicate that `units` is optional...at least in the Python frontend. Maybe `units` isn't optional in the text format?

(this is a new error -- I used to get the error detailed in #6470 when parsing nn.dense)

[2020-11-03 22:36] mbrookhart commented on #6633
PR is up, still working through some of the performance ramifications:
https://github.com/apache/incubator-tvm/pull/6839

[2020-11-03 23:38] comaniac opened #6843 "[TEST][FLAKY] auto_scheduler layout rewrite tests"
Two tests introduced by #6750 have been disabled by #6841 due to flaky. It'd be better to resolve the root cause and re-open them.

Reference failures:
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/124/pipeline

cc @jcf94 @merrymercy

[2020-11-04 00:22] masahi commented on #6843
it's being worked on at https://github.com/apache/incubator-tvm/pull/6830

[2020-11-04 00:32] comaniac commented on #6843
Ah thanks for the connection. Then we can close this issue once #6830 is merged.

[2020-11-04 04:06] mikeseven opened #6845 "[Rust] String::fromwe() missing? I think it should be String::from()"
https://github.com/apache/incubator-tvm/blob/db28544b8f9b173e60145384486c1781676c5e31/rust/tvm/src/lib.rs#L56

cargo won't build because of String::fromwe(). Is something missing or I believe it should String::from(), which works.

[2020-11-04 14:15] #6845 closed

[2020-11-04 14:16] #6843 closed

[2020-11-05 00:31] gussmith23 opened #6852 "[Relay][Bug] nn.batch_norm not being simplified by SimplifyInference"
cc @hypercubestart, who discovered this oddity

[code]
the result is not what we expected, though, as the batch norm doesn’t get simplified:
[code]
is that to be expected? are we doing something dumb here?

[2020-11-05 00:36] kazum commented on #6816
I encountered a different error with the latest main branch.
[code]
Anyway, I'll take a look.

[2020-11-05 00:46] gussmith23 commented on #6852
Nevermind, I think this is to be expected. It's because we weren't indexing into the tuple result/we hadn't changed the return type of the function.

[code]

[2020-11-05 00:48] comaniac commented on #6852
The root cause is that the simplify pass detects the `batch_norm -> get()` pattern, so it would ignore the batch_norm without get().

[2020-11-05 00:50] gussmith23 commented on #6852
Makes sense. We hit a weird corner case here, glad we figured it out. Maybe a documentation change is warranted, but it's also a pretty niche corner case, so I'm not sure it matters!

[2020-11-05 00:57] comaniac commented on #6852
It doesn't hurt to improve the document for this case as we met this issue as well several months ago lol
Please let me know if you would file a PR; otherwise I will put it in my TODO list but I'm not sure when I will do so..

[2020-11-05 01:05] gussmith23 commented on #6852
See the above! Let me know if the wording is okay...

[2020-11-05 01:59] jroesch commented on #6816
@kazum I did a big of debugging but somehow the test got turned off and seems to have broken, was trying to make it more robust on multiple platforms so we can simplify `task_rush.sh` to use Cargo more.

[2020-11-05 08:21] joyalbin opened #6857 "Not able to compile TVM with Arm Compute library"
Hi,

Followed the below tutorial to build TVM with ARM Compute library.
https://github.com/apache/incubator-tvm/blob/e561007f0c330e3d14c2bc8a3ef40fb741db9004/docs/deploy/arm_compute_lib.rst

Steps followed:
1. Enabled USE_ARM_COMPUTE_LIB and USE_ARM_COMPUTE_LIB_GRAPH_RUNTIME in config.cmake
2. setup the prebuild library at $TVM_HOME/acl
3. Trying to build TVM with acl

This cause the issue, failed

[2020-11-05 08:53] joyalbin commented on #6857
@lhutton1 Could you please help me on this?

[2020-11-05 15:46] #6852 closed

[2020-11-06 02:41] joyalbin commented on #6857
Hi All,
While building TVM with flags USE_ARM_COMPUTE_LIB_GRAPH_RUNTIME and USE_ARM_COMPUTE_LIB set to ON, am getting below error:

![image](https://user-images.githubusercontent.com/1856674/98319564-02470200-2007-11eb-9ad5-0babc9385cbc.png)

Please help me to understand how to use this feature

[2020-11-06 09:48] zhxfl opened #6863 "Opt for lower_thread_allreduce.cc"
can use warp shuffle reduce for accelerate ?
https://github.com/apache/incubator-tvm/blob/main/src/tir/transforms/lower_thread_allreduce.cc#L420

[2020-11-06 11:38] giuseros commented on #6857
Hi @joyalbin ,
So Arm Compute Library is a runtime library, and it is meant to run on Arm machines. The usual setup is the following:
- A: is the machine where you are actually compiling your network. Which is usually a x86 machine.
- B: is the machine where you run the network (e.g., through RPC). This should be an Arm machine.

About the flags:
- On machine A, you need build TVM with USE_ARM_COM

[2020-11-06 13:21] tqchen commented on #6863
Thanks for bringing up this good topic, please open a new thread under development category in https://discuss.tvm.apache.org/

[2020-11-06 13:21] #6863 closed

[2020-11-06 13:21] tqchen commented on #6857
Good discussion, seems this topic is more suitable for https://discuss.tvm.apache.org/, let us move the discussion thread

[2020-11-06 13:21] #6857 closed

[2020-11-06 17:05] zhiics commented on #5765
Gentle ping @siju-samuel @AlexeyAB Is there any update the support of Darknet Yolo V4? Thanks.

[2020-11-06 20:30] Hecmay opened #6869 "[Relay][Ansor] cannot find a working schedule for certain tasks"
## Env
* Ubuntu 18.04 LTS (LLVM dev 6.0.0 )
* GPU: RTX2080 + CUDA 10.2

## Problem Description
I was trying to construct a neural network using realy's APIs, and tune it with TVM's auto scheduler. During the tuning process, I can see from the log that some tasks failed all the evaluation (e.g. the log outputs `*T*T*T*T*T*T"` for all the evaluation). As a result, those tasks are not scheduled at al

[2020-11-06 20:30] Hecmay commented on #6869
@merrymercy @comaniac

[2020-11-06 21:23] comaniac commented on #6869
Looks like you're using a very old branch? We don't have namespace `ansor` anymore and some API names are changed.

[2020-11-06 22:37] tqchen commented on #6869
It would be great topic for https://discuss.tvm.apache.org/

[2020-11-06 22:37] #6869 closed

[2020-11-07 00:20] merrymercy commented on #6869
It seems you are using our dev branch. I did some debug and found that the problem is because the weight tensor in your dense layer is too large (the shape is (25088, 4096)).
It causes some problems in the RPC copy.
You can apply this diff in the `Ansor-dev` repo to fix the problem.
[code]

[2020-11-07 00:24] merrymercy commented on #6869
@Hecmay
It seems you are using our dev branch. I did some debugging and found that the problem is because the weight tensor in your dense layer is too large (the shape is (25088, 4096), the size is around 400 MB)
It causes some problems in the RPC copy.
You can apply this diff in the `Ansor-dev` repo to fix the problem.
[code]

This should work well for GPU, but you should not do this for CPU.

Th

[2020-11-07 20:17] merrymercy opened #6878 "Do not show meta data when printing TIR"
Recently I found TVM will print meta when I do
[code]

Here is an example output in the tutorial website (https://tvm.apache.org/docs/tutorials/language/schedule_primitives.html)
[code]

I found this very annoying.  Why do we print it? Can we disable it for this use case by default?
cc @tqchen @spectrometerHBH @jroesch @junrushao1994

[2020-11-07 20:19] junrushao1994 commented on #6878
You may slightly these lines: https://github.com/apache/incubator-tvm/blob/main/python/tvm/ir/module.py#L253-L258, adding `show_meta_data=False` to `self.astext`

[2020-11-07 20:20] junrushao1994 commented on #6878
@jroesch shall we turn off the `show_meta_data` in `IRModule.__str__` and `IRModule.__repr__`? If so, @merrymercy would you mind send a PR?

[2020-11-07 23:07] tqchen commented on #6878
I agree that for repr and str we should turn off the meta data since they are not strictly required

[2020-11-08 02:30] merrymercy commented on #6878
Fixed by #6881

[2020-11-08 08:21] tiandiao123 commented on #4118
May I ask whether there are some working code examples for graph dispatch available? Thank you!

[2020-11-08 10:23] monklof commented on #4118
@tiandiao123 this feature is still WIP.

[2020-11-08 13:56] Light-of-Hers opened #6884 "BUG in CodeGenC::PrintSSAAssign"
In `CodeGenC::PrintSSAAssign`:
https://github.com/apache/incubator-tvm/blob/5e9ddebc24472258ba1e290d8c621b93c01be47b/src/target/source/codegen_c.cc#L145-L146
If the `src` has the form like `(...) ... (...)`, then it will generate a wrong expression with unmatched brackets. Such form might be generated by `CodeGenC::VisitExpr_(const LoadNode* op, std::ostream& os)` with `CodeGenC::PrintVecElemLoadE

[2020-11-08 14:18] tqchen commented on #6884
@Light-of-Hers Thank you ! can you try to craft a specific testcase and propose a fix?

[2020-11-08 16:55] #6878 closed

[2020-11-09 01:44] Light-of-Hers commented on #6884
Here is an example. The `int8` vectorized scatter operation may cause such problem.
[code]
The generated opencl code is:
[code]
Obviously `char2 _3 = (0x000000ff << 0) & (A[_2.s0] << 0))|((0x000000ff << 8) & (A[_2.s1] << 8)` has unmatched brackets.
The solution is simple. Just removing the if-branches in `CodeGenC::PrintSSAAssign` is okay, like:
[code]

[2020-11-09 02:37] tqchen commented on #6884
i see, this is indeed a bad case as we did not check the bracket match. A PR is more than welcomed

TQ

[2020-11-10 06:53] zhxfl opened #6891 "gcc8.2 compile error"
/home/disk2/zhengzaoxin/code/tvm_v07_gcc82/include/tvm/runtime/packed_func.h: In instantiation of ‘TObjectRef tvm::runtime::TVMPODValue_::AsObjectRef() const [with TObjectRef = tvm::runtime::DataType]’:
/home/disk2/zhengzaoxin/code/tvm_v07_gcc82/include/tvm/runtime/packed_func.h:880:87:   required from ‘static TObjectRef tvm::runtime::PackedFuncValueConverter<TObjectRef>::From(const tvm::runtime::

[2020-11-10 08:54] zhxfl commented on #6891
DataType is not a Derived classof ObjectRef.
static_assert(std::is_base_of<ObjectRef, DataType>) fail;
gcc53 can compile sussess

[2020-11-10 12:11] FrozenGene commented on #6891
https://github.com/apache/incubator-tvm/pull/6893 should solve the this issue @zhxfl

[2020-11-10 12:27] zhxfl commented on #6891
fix now & tks

[2020-11-10 12:27] #6891 closed

[2020-11-10 16:30] bernhardklein opened #6894 "[autoTVM][BUG] bitserial dense arm_cpu"
The **bitserial dense** operation for **ARM CPU's** is not **auto-tune**-able for larger matrix sizes. For small sizes N=64,125,256,512 it works, but for N=768,1024,2048 it crashes with a broadcast shape error. I reproduced this with TVM v0.7 branch and the current head 80ca598e271c1a93eadc26e31e5bef00b8d86899 of main branch.

error message:
[code]

[2020-11-10 17:34] comaniac commented on #6894
At the first glance it looks like the problem in XGBTuner, so trying RandomTuner might workaround it. Let's move the future discussions to https://discuss.tvm.apache.org/.

[2020-11-10 17:34] #6894 closed

[2020-11-10 17:49] piaodangdang opened #6895 "run the tutourials file failed cuda is not enable"
I build in Ubuntu 1804  cuda 10.1 cuddnn 7.6  I've set use_cuda on  but I run the relay_quick_start.ipynb it still tell me cuda is not enable when build, How can I fix it ?

[2020-11-10 18:09] piaodangdang commented on #6895
when i build on window 10 , set use llvm path to llvm, build in visual studio 2019 ,the mentioned is
1>------ 已跳过生成: 项目: cpptest, 配置: Release x64 ------
1>没有为此解决方案配置选中要生成的项目
2>------ 已启动生成: 项目: tvm, 配置: Release x64 ------
3>------ 已跳过生成: 项目: runtime, 配置: Release x64 ------
3>没有为此解决方案配置选中要生成的项目
2>LINK : fatal error LNK1181: 无法打开输入文件“z.lib”
2>已完成生成项目“tvm.vcxproj”的操作 - 失败。
4>------ 已跳过生成: 项目: INSTALL

[2020-11-10 18:24] tqchen commented on #6895
please open a new thread on https://discuss.tvm.apache.org/

[2020-11-10 18:24] #6895 closed

[2020-11-10 20:52] #6884 closed

[2020-11-11 03:39] zhiqwang opened #6897 "[Torch] Support aten::hardswish_"
Hi TVM teams,

The new released [`nn.Hardswish`](https://pytorch.org/docs/stable/generated/torch.nn.Hardswish.html#torch.nn.Hardswish) activation ops in PyTorch 1.7 are widely used in [MobileNetV3](https://arxiv.org/abs/1905.02244) and [YOLO V5](https://github.com/ultralytics/yolov5).  I want to know is there any plan to support this operator?

[2020-11-11 22:05] zhiics commented on #6897
The current PyTorch version in our CI is 1.4. @masahi could you please comment? I remember you had some plans for 1.6/7.

[2020-11-11 22:06] zhiics commented on #6832
Thanks for reporting. Could you please open a thread at https://discuss.tvm.apache.org/ with a reproducible example?

[2020-11-11 22:06] #6832 closed

[2020-11-11 22:12] masahi commented on #6897
@zhiics We've upgraded to 1.7 recently https://github.com/apache/incubator-tvm/pull/6828

@zhiqwang We can certainly support `hardswish`.

[2020-11-11 22:20] zhiics commented on #6897
@masahi Sorry. I missed that. Cool

[2020-11-12 03:38] yongwww commented on #4102
Hi @srkreddy1238  do you have any update? it would be super cool to see a pr or any link to your work?

[2020-11-13 06:26] lixiaoquan opened #6913 "[ARITH]const_int_bound doesn't allow INT64_MAX in expr"
Patch to reproduce:
[code]

Because the expr is  `(x + (int64)-9223372036854775807)`, it runs into this ICHECK
[code]

Since -INT64_MAX is used as kNegInf in const_int_bound, does it mean this value shouldn't be used in TIR?

[2020-11-13 07:12] masahi commented on #6913
maybe related https://github.com/apache/incubator-tvm/pull/6911

[2020-11-13 13:42] tqchen commented on #6913
Please check if #6911 resolves the issue

[2020-11-14 00:40] lixiaoquan commented on #6913
Thanks all, it is solved.

[2020-11-14 00:40] #6913 closed

[2020-11-16 10:41] ggardet commented on #6832
Created at https://discuss.tvm.apache.org/t/tvm-0-7-0-tests-fail-with-check-failed-reg-nullptr-attributeerror-operator-reshape-is-not-registered/8466

[2020-11-16 18:14] bernhardklein opened #6922 "[AutoTVM][RPCRunner] timeout is not passed correctly"
In the [RPCRunner class](https://github.com/apache/incubator-tvm/blob/main/python/tvm/autotvm/measure/measure.py) the timeout is not correctly passed to the [LocalExecutor](https://github.com/apache/incubator-tvm/blob/main/python/tvm/autotvm/measure/local_executor.py) and therefore the default timeout is always used.

see previous problem description at [TVM discuss](https://discuss.tvm.apache.org

[2020-11-16 18:28] bernhardklein commented on #6922
I created a matching pull request [6924](https://github.com/apache/incubator-tvm/pull/6924) for this.
We can not see it in the logs, I checked it in the logs is the correct highl-level value but the LocalExectuor works with the inner default. Probably there the read from the remote args works?

[2020-11-16 18:36] bernhardklein commented on #6922
Is not readable in the logs, because for the logs self.timeout is used, which is correct.
So with the pull request it should be ok.

[2020-11-16 18:42] comaniac opened #6925 "[CI] Github Actions failed due to the `add-path` command is disabled"
According to the error message [1] and Github announcement [2], Github Actions now forbids commands such as `add-path` or `set-env` that changes the system environment for the security concern [3][4]. Although the announcement was on Oct. 1st, looks like it is effective since today.

Accordingly, we need to modify the Github workflow to make it work again.

cc @tqchen @zhiics

[1] [Failed CI Examp

[2020-11-16 18:44] comaniac commented on #6925
Blocking #6903, #6923, #6924

[2020-11-16 19:03] tqchen commented on #6925
https://github.com/apache/incubator-tvm/pull/6926

[2020-11-16 23:19] #6925 closed

[2020-11-17 03:19] naokishibuya opened #6929 "[RELAY] [PyTorch] Quantized nn.Sigmoid causes an exception"
Hello,

I encountered an exception from relay with a PyTorch model that has `nn.Sigmoid`.

To reproduce the error, the script below can be used.
- The model has only one operator `nn.Sigmoid`.
- The model is quantized.
- The model is jit-traced.
- Then, `relay.build` throws an exception `TVMError: Unresolved call Op(tir.exp)`.
- It fails for both `target='cuda'` and `target='llvm'`.
- If I replace

[2020-11-17 04:07] masahi commented on #6929
I can reproduce the error with llvm backend:

[code]

Since `exp` intrin is declared at https://github.com/apache/incubator-tvm/blob/main/src/target/llvm/intrin_rule_llvm.cc#L36-L37
I wonder what the problem is.

[2020-11-17 04:17] masahi commented on #6929
@naokishibuya If I remove `quant`/`dequant`, it works. So I think it is the problem of sigmoid applied to `uint8` type. Are you sure you want to run sigmoid on quantized input?

[2020-11-17 04:52] naokishibuya commented on #6929
@masahi that's a great findings!  The actual model I use has `sigmoid` at the end of the network to make the outputs in [0, 1].  So, I could call `dequant` before the `sigmoid` to avoid this exception with little increase in the latency.  Thanks again.

[2020-11-17 04:52] #6929 closed

[2020-11-17 08:32] fanwei-china opened #6931 "Problems when import BERT model from tensorflow Relay"
Hi, I was trying to import bert  model by tensorflow relay. When converting the StrideSlice op, an error occurred. Could someone help me to solve this?  The code is as follow:
 Traceback (most recent call last):
     File "tutorials/frontend/test_nlp.py", line 109, in <module>
                        shape=shape_dict)
     File "/root/.local/lib/python3.6/site-packages/tvm-0.7.dev1-py3.6-linux-x86

[2020-11-17 08:35] fanwei-china commented on #6931
Traceback (most recent call last):
     File "tutorials/frontend/test_nlp.py", line 109, in <module>
     shape=shape_dict)

     File "/root/.local/lib/python3.6/site-packages/tvm-0.7.dev1-py3.6-linux-x86_64.egg/tvm/relay/frontend/tensorflow.py", line 2742, in from_tensorflow
     mod, params = g.from_tensorflow(graph, layout, shape, outputs)

     File "/root/.local/lib/python3.6/site-packages/t

[2020-11-17 08:52] fanwei-china commented on #6931
the IRModule is below:
 fn (%bert/embeddings/word_embedding: Tensor[(249079, 384), float32], %qt_sent: Tensor[(512, 50), int32], %n_keyword_in: Tensor[(512, 10), int32], %bert/embeddings/new_key_imp_embedding: Tensor[(256, 384
   %0 = take(%bert/embeddings/word_embedding, %qt_sent, axis=0);
   %1 = take(%bert/embeddings/word_embedding, %n_keyword_in, axis=0);
   %2 = take(%bert/embeddings/new_key_

[2020-11-17 08:56] fanwei-china commented on #6931
the tensorflow frontend code is:
with tf_compat_v1.gfile.GFile(model_path, 'rb') as f:
      graph_def = tf_compat_v1.GraphDef()
      graph_def.ParseFromString(f.read())
      graph = tf.import_graph_def(graph_def, name='')
      # Call the utility to import the graph definition into default graph.
      graph_def = tf_testing.ProcessGraphDefParam(graph_def)
      # Add shapes to the graph.

[2020-11-17 13:18] tirumalnaidu opened #6932 "undefined symbol: VTARuntimeShutdown"
Traceback (most recent call last):
  File "/usr/lib/python3.6/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/usr/lib/python3.6/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/home/root/tvm/python/tvm/rpc/server.py", line 118, in _serve_loop
    _ffi_api.ServerLoop(sockfd)
  File "/home/root/tvm/python/tvm/_ffi/_ctype

[2020-11-17 16:56] #6922 closed

[2020-11-18 20:23] slyubomirsky opened #6937 "[Relay][Documentation] Documentation for Relay split operator appears incorrect"
[The documentation for the Relay `split` operator](https://tvm.apache.org/docs/api/python/relay/index.html#tvm.relay.split) appears to be inaccurate: it states that the return type will be a tuple of two elements, but it appears (based on [`test_split_infer_type`](https://github.com/apache/incubator-tvm/blob/main/tests/python/relay/test_op_level3.py)) that the number of elements in the returned tu

[2020-11-18 23:51] tqchen commented on #6932
Thanks for asking the question, it would be great to followup on the discuss thread https://discuss.tvm.apache.org/t/error-vtaruntimeshutdown-symbol-is-undefined/6832

[2020-11-18 23:51] #6932 closed

[2020-11-20 06:17] zhxfl opened #6942 "relay.build not support size_var?"
here is the test code
** 80 def test_dropout():
 81     for dtype in ["float16", "float32"]:
 82         #n, t, d = 1024, 1024, 1024
 83         n, t, d = te.size_var("n"), 1024, 1024
 84         input_ty = relay.TensorType((n, t, d), dtype)
 85         x = relay.var("x", input_ty)
 86         y = relay.nn.dropout(x, rate=0.75)
 87         mod = tvm.IRModule.from_expr(relay.Function([x], y))
 88

[2020-11-20 09:56] ashutoshparkhi opened #6943 "[MaskRCNN][AnnotateTarget]: Fails while reconciling shapes of concatenate inputs"
Hello,

Here is the error:
_in particular dimension 0 conflicts 1 does not match 0; unable to unify: `Tensor[(1, ?, ?), float32]` and `Tensor[(0, 300, 300), float32]_

Attached file is capable of producing the error. It calls PyToch frontend followed by AnnotateTarget. It is a modified version of TVM's tutorial about MaskRCNN.

Thanks,
Ashutosh
[partition_maskrcnn.py.txt](https://github.com/apache

[2020-11-20 16:51] zhiics commented on #6942
Yes, you have to use Realy VM for dynamic input.

[2020-11-20 16:51] #6942 closed

[2020-11-23 18:21] tom-gall opened #6954 "uTVM fails to build runtime for Arm Target"
given:

TARGET = tvm.target.target.micro("stm32f746xx")

with tvm.transform.PassContext(
    opt_level=3, config={"tir.disable_vectorize": True}, disabled_pass=["FuseOps"]
):
    graph, c_mod, c_params = relay.build(mod, target=TARGET, params=params)

workspace = tvm.micro.Workspace()

compiler = tvm.micro.DefaultCompiler(target=TARGET)
opts = tvm.micro.default_options(os.path.join(tvm.micro.CRT_R

[2020-11-23 20:35] tom-gall opened #6960 "strncpy in TVMAPISetLastError needs to make sure that the copied string is less then the size of the destination"
When building the micro tvm runtime with Zephyr

Including boilerplate (Zephyr base): /lkft/tgall/zephyrproject/zephyr/cmake/app/boilerplate.cmake
In file included from /home/tgall/zephyr-sdk-0.11.3/arm-zephyr-eabi/arm-zephyr-eabi/sys-include/string.h:180,
                 from /home/tgall/tvm/tvm/src/runtime/crt/common/crt_runtime_api.c:27:
/home/tgall/tvm/tvm/src/runtime/crt/common/crt_runtime_a

[2020-11-23 20:40] tom-gall commented on #6960
@areusch - minor bug

[2020-11-23 20:55] hypercubestart opened #6962 "[Frontend][Relay] YOLO module is unparsable"
The module generated from the code in this tutorial: https://tvm.apache.org/docs/tutorials/frontend/from_darknet.html
causes the following error when parsed by:

[code]

error: expected a local variable found `.`, which is caused by formals (i.e %LAYERTYPE.CONVOLUTIONAL0_weight: Tensor[(32, 3, 3, 3), float32]) which the '.' character, which is unrecognized by the parser.

@jroesch recommended two

[2020-11-24 05:52] zhxfl commented on #6942
"Realy VM for dynamic input" can export a lib for "C++" runtime just as "relay.build" ?

[2020-11-24 05:54] zhxfl opened #6966 ""Realy VM for dynamic input" can export a lib for "C++" runtime just as "relay.build" ?"
Continue this issue https://github.com/apache/incubator-tvm/issues/6942

[2020-11-24 08:13] leonwanghui commented on #6817
@WenheLI Sorry for the late reply, this issue has been addressed by PR #6862, please download the latest version of code and try it again.

[2020-11-24 14:02] tqchen commented on #6966
Please open a new discussion thread on https://discuss.tvm.apache.org/

[2020-11-24 14:02] #6966 closed

[2020-11-24 14:54] #6954 closed

[2020-11-25 09:43] zhxfl opened #6974 "The way to get graph json ?"
Is there a api to to get json as this code ?
tests/cpp/build_module_test.cc : 129

[2020-11-25 13:32] tqchen commented on #6974
thanks for asking the question, this question is better suited on https://discuss.tvm.apache.org/, please open a new thread there

[2020-11-25 13:32] #6974 closed

[2020-11-26 01:00] #6962 closed

[2020-11-29 01:16] nonstopfor opened #6990 "Try gradient with relay.build() failed"
I am new to TVM and I want to use back propagation to train a simple mlp model. I find that gradient pass could help me compute the gradient for different parameters, which could help me train. However, when I try to build, a problem occurs. Below are the code and the error message.

[code]
The error message is:

`Traceback (most recent call last): File “build_test.py”, line 165, in mlp_training()

[2020-11-29 11:00] luchangli03 opened #6992 "Ansor does not support multi outputs"
I tried to tune the following example, in which multiple output nodes are exported. This situation can be very common when you try to fuse a sub-graph, but I found Ansor can only generate codes for only one output node. In generated cuda code, I can clearly see there is only one output data pointer. TVM can correctly handle this problem, but TVM will generate two cuda kernel, which result in bad p

[2020-11-30 14:36] tqchen commented on #6992
Please open a new thread on https://discuss.tvm.apache.org/

[2020-11-30 14:36] #6992 closed

[2020-11-30 16:25] merrymercy commented on #6992
Yes, we do not have a rule to handle this kind of fusion.

But ansor is expected to at least generate the correct code. The multiple output support is added in https://github.com/apache/tvm/pull/6584 by @comaniac

[2020-11-30 21:09] hypercubestart opened #7003 "[Relay][Parser] units=None unrecognized in parser"
Reproducible Code:
[code]

Error:
[code]

cc: @jroesch @gussmith23
also seems related to https://github.com/apache/tvm/issues/6836 , this might be the root cause for the problem seen there

[2020-12-01 13:12] Meteorix opened #7008 "[RELAY][BUG]type inference is slow"
For a large model, tvm compilation is really slow. I perf it and find that type inference costs most of the time.
[code]

From my understanding, ``PatternRewriter`` rewrite every function in a module, then each time ``PatternRewriter`` calls ``InferType`` to infer every function. It should be incremental. Is there any reason why this ``incremental`` inference is commented? https://github.com/apach

[2020-12-01 22:27] tqchen opened #7010 "[TEST][FLAKY] test_op_grad_level2.py::test_conv2d_grad.py"
https://ci.tlcpack.ai/job/tvm/job/main/245/execution/node/218/log/

[2020-12-01 22:27] tqchen commented on #7010
cc @altanh @jroesch @antinucleon would be great if you can take a look

[2020-12-01 22:34] altanh commented on #7010
I suspect some recent PR might have broke something, this is the error: ```tests/python/relay/test_op_grad_level2.py::test_conv2d_grad Fatal Python error: Aborted.```

Doesn't seem to me like a numerical issue with the gradient

[2020-12-02 16:05] t-vi commented on #7008
#6900 is my attempt at getting incremental type inference into the PyToch frontend. It will need some serious cleanup, but I think it is useful. It removes the N² thing of re-checking everything in a linearly growing model and empirically reduces the translation time for BERT by ~3x.

[2020-12-02 17:28] tqchen commented on #7010
https://ci.tlcpack.ai/job/tvm/job/main/250/execution/node/233/log/ another one related

[2020-12-02 20:59] altanh commented on #7010
I can't reproduce this locally on the current main branch

[2020-12-02 22:57] altanh commented on #7010
per discussion with @tkonolige, we're pretty sure the abort is being caused by `libomp` conflicts between different 3rd party libraries (e.g. PyTorch and ONNX).

[2020-12-02 23:00] tkonolige opened #7017 "[TEST] Show stdout/stderr on segfault in pytest"
#7010 was hard to debug because pytest printed nothing once a segfault occurred. Forcing pytest to not capture output (via the `-s` flag) revealed the cause of the segfault. It would be nice to have pytest print the entirety of stdout and stderr when a segfault occurs.

[2020-12-02 23:01] tkonolige commented on #7010
The error message is:
[code]

[2020-12-02 23:21] altanh commented on #7010
Relevant issue on onnxruntime GitHub: https://github.com/microsoft/onnxruntime/issues/5369

[2020-12-03 02:58] Meteorix commented on #7008
@t-vi Thanks, I have read your PR and discuss thread. But when I use `relay.build`, it still calls c++ build pipeline then c++ type inference.

[2020-12-03 16:05] tqchen commented on #7010
It would be great to propose a fix. Is this related to the fact that we are using pytorch for gradient testing? Ideally we sould move that to a separate set of test suite.

By default, we should use numerical gradient checking that is independent from other frameworks

[2020-12-03 17:53] altanh commented on #7010
I agree. I think first we should address #7017 to confirm it's the same failure that is happening on CI, and then look into removing the dependencies. If we can't remove the dependency (like in the case of `test_onnx.py` and `test_dlpack.py`), I propose sandboxing based on dependency so that files with conflicting dependencies will always be run on separate pytest processes. If a single file uses

[2020-12-03 18:55] altanh commented on #7010
@tkonolige found that `pytest-xdist` package supports passing `--forked` argument to `pytest`. This seems to fix the problem for running contrib tests.

[2020-12-03 22:32] altanh commented on #7010
We should keep this issue but rename to dependency libomp conflict I think (or open a new one), since it might arise in the future

[2020-12-04 02:02] yongwww commented on #4102
We have looked into the models like image classification, object detection, segmentation, etc. Seems we need to enable the support for TensorList, control-flow, function, and some missing operations. We would like to work on this project from scratch.  As we discussed above, we might create a new tf frontend for tf2.x (and I believe the parser for tf1.x will be deprecated in the future as tf commu

[2020-12-04 10:52] hzfan commented on #6691
@tqchen The cast originates from https://github.com/apache/tvm/blob/main/src/te/schedule/operation_inline.cc#L67
For example, before inline,
[code]

after inline,

[code]

Perhaps I can do something with the SumExpr in CanonicalSimplifier to simplify this case.

[2020-12-04 15:25] tqchen commented on #6691
Thanks @hzfan for looking into this, a fix would be great

[2020-12-05 15:28] tqchen opened #7041 "[TEST][FLAKY] tests/python/topi/python/test_topi_argwhere"
https://ci.tlcpack.ai/job/tvm/job/main/275/execution/node/458/log/

Should due to the problem of a tie, need to construct the testcases carefully. For example try to construct from a shuffle of arange

[2020-12-05 15:28] tqchen commented on #7041
cc @zhiics

[2020-12-05 16:03] zhiics commented on #7041
I see. I think the problem is caused by cuda sort. It is flaky. That's why we wanted to use thrust. Let's skip cuda for this test for now. I thought removing the annotation would skip it, but it would be still in the enabled list on the GPU CI.

[2020-12-05 21:53] zhiics commented on #7041
close by #7042

[2020-12-05 21:53] #7041 closed

[2020-12-06 23:56] jroesch commented on #7008
@Meteorix the type inferencer in its current form has some issues being incrementalized, the reason it is so slow is people are using it in a N^2 with number of nodes way like @t-vi mentioned. It wasn't originally designed to be used this way and probably needs to be refactored but doing that is relatively complicated. There are some other issues I would like to address at same time and probably w

[2020-12-07 07:35] Laurawly commented on #6629
@alec-anyvision Thanks for pointing this issue out. The changes made were explained in PR #5339. So in the original implementation, `get_valid_count` will rearrange the invalid boxes to the end of the array while in the updated implementation, this movement is done by `argsort` to improve the performance. `argsort` doesn't make changes to `valid_count`, I'm not sure why running `nms` multiple time

[2020-12-07 07:39] Laurawly commented on #6631
@alec-anyvision Thanks for catching this! I'd reimplement the `valid_count` computation using atomic operations similarly as what's done in `nms.py`.

[2020-12-07 11:33] zhxfl opened #7047 "is-there-a-horizontal-fusion-demo"
https://discuss.tvm.apache.org/t/is-there-a-horizontal-fusion-demo/8598

[2020-12-07 11:48] zhxfl commented on #7047
It is very import for small network when the num of block is small than the num of sm

[2020-12-07 11:53] zhxfl commented on #7047
paper :  https://arxiv.org/pdf/2007.01277.pdf

[2020-12-07 15:50] zhiics commented on #7047
Thanks. Let's just use the discuss thread to keep the discussion.

[2020-12-07 15:50] #7047 closed

[2020-12-08 01:53] Coder-nlper opened #7052 "c++ run slower than python?"
I use the following example, and modify it to load my model.
https://github.com/apache/tvm/blob/main/apps/howto_deploy/cpp_deploy.cc
I count the inference time of python and C++.

c++ code:
  clock_t startTime, endTime;
  startTime=clock();
  for (int i = 0; i < 36; ++i) {
      static_cast<int*>(x->data)[i] = array[i];
  }
  // set the right input
  set_input("input_ids", x);
  // run the code

[2020-12-08 14:14] haoyang9804 opened #7057 "[Bug] RecursionError: maximum recursion depth exceeded while calling a Python object"
TVM fails when running the following code:
[code]
The error message is like
[code]
From the message, it seems that TVM falls into a infinite recursion between calling `_ffi_node_api.NodeGetAttr` and `_make_tvm_args(args, temp_args)`.

[2020-12-08 14:56] fprotopapa opened #7058 "[Tutorial] Import errors in deploy_detection.py and deploy_classification.py"
I ran into import errors while following the VTA tutorial for 'Deploy Pretrained Vision Model from MxNet on VTA' under Ubuntu 18.04.5 LTS and Docker images created with Dockerfile.ci_cpu. Scripts launched from tvm base directory.

File: tvm/vta/tutorials/frontend/deploy_classification.py
In line 59 to 61:
           import vta
           from vta.testing import simulator
           from vta.top im

[2020-12-08 14:58] fprotopapa commented on #7058
changed formatting

[2020-12-08 16:59] tqchen commented on #7052
Please open a new thread on https://discuss.tvm.apache.org/. In your partcular case, the time cost of printing(in c++) might be related. Under the hood both APIs uses the same runtime and generated code

[2020-12-08 16:59] #7052 closed

[2020-12-08 17:01] fprotopapa opened #7061 "Error running YOLOv3-tiny example"
I'm trying to run the YOLOv3-tiny example (tvm/vta/tutorials/frontend/legacy/deploy_detection.py)
with applied changes from #7058.
Scripts launched from tvm base directory terminates with the error message below.

**System**

Running under Ubuntu 18.04.5 LTS and Docker images created with Dockerfile.ci_cpu.
Version: 0.8.dev0

**Error message**

tvm._ffi.base.TVMError: Traceback (most recent call l

[2020-12-08 17:54] tqchen commented on #7061
Please open a new thread on https://discuss.tvm.apache.org/

[2020-12-08 17:54] #7061 closed

[2020-12-08 17:55] tqchen commented on #7058
Please open a new thread on https://discuss.tvm.apache.org/

[2020-12-08 17:55] #7058 closed

[2020-12-09 03:10] srkreddy1238 commented on #4102
TF 2.x differs at the front facing API level but the end graph doesn't change a lot here.
Doing a fresh parser will duplicate most of the layers we have till today. I think we may end up with a lot of redundant work.

My understanding and advice:
- TF2.x official format is saved model.
- TF2.x parser in my understanding should support inputs as
(saved_model, signature name, input_spec) : Saved mod

[2020-12-09 06:01] xingha opened #7066 "tvm c++ compil error"
compiled tvm_mobilefacenet

root@3301baaa7ede:build# make
Scanning dependencies of target tvm_mobilefacenet
[ 33%] Building CXX object CMakeFiles/tvm_mobilefacenet.dir/tvm_runtime_pack.cc.o
[ 66%] Building CXX object CMakeFiles/tvm_mobilefacenet.dir/main.cpp.o
[100%] Linking CXX executable ../tvm_mobilefacenet
CMakeFiles/tvm_mobilefacenet.dir/tvm_runtime_pack.cc.o: In function `TVMModFree':
tvm_ru

[2020-12-09 07:40] corehalt opened #7067 "[QNN] [BYOC] MergeComposite pass breaks on QNN graph"
I'm running the MergeComposite pass on a QNN graph.
Since this PR https://github.com/apache/tvm/pull/6704/ the type inference process somehow breaks TVM with the following error:
[code]

**Steps to reproduce**
Please note that currently there is no tests in TVM for checking both QNN and BYOC passes at the same time so we need to patch current TVM main branch.

- TVM branch: current main branch
- P

[2020-12-09 19:42] #6332 closed

[2020-12-09 19:42] #6299 closed

[2020-12-09 19:42] #6350 closed

[2020-12-09 19:48] #6133 closed

[2020-12-09 19:52] merrymercy commented on #6133
The functionality of Ansor is complete.  Tutorials on tuning operators/networks on CPU/GPU are available on https://tvm.apache.org/docs/tutorials/#autoscheduler-template-free-auto-scheduling

Some remaining performance enhancements (layout rewrite support for more ops, winograd for CPU) will be finished by one or two follow-ups PRs.

[2020-12-10 00:48] corehalt commented on #7067
@mbrookhart thank you for fixing the issue so fast, appreciate it.

[2020-12-10 03:16] #7066 closed

[2020-12-10 03:18] xingha opened #7077 "tvm_mobilefacenet running error"
terminate called after throwing an instance of 'dmlc::Error'
  what():  [03:14:35] /data/workspace/tvm/include/../src/runtime/registry.cc:78: Check failed: override: Global PackedFunc __tvm_set_device is already registered
Stack trace:
  [bt] (0) ../tvm_mobilefacenet(dmlc::LogMessageFatal::~LogMessageFatal()+0x4a) [0x560d8f3e25f2]
  [bt] (1) ../tvm_mobilefacenet(tvm::runtime::Registry::Register(st

[2020-12-10 07:26] tsupei opened #7079 "[CUDA] argmax in tvm.tir.scan operation"
I am implementing a cuda kernel which involves argmax in scan operation. However, program will execute but terminate without giving any error message. But if I don't compile it as cuda kernel, it could properly get correct results. Is there any misuse in my code?

[code]

### Environment
OS:  `Ubuntu 18.04.4 LTS`
GPU: `GeForce GTX 1080`

[2020-12-10 08:27] #7067 closed

[2020-12-10 11:31] yongwww commented on #4102
@srkreddy1238 yeah, I agree that GraphDef protocol buffer definition just changed a little, creating a new parser will end up with some redundant work (copy from the existing parser). I tried to run the test cases in your shared branch, I found the existing parser works for most of the TF 2.x ops (previously I assume we have to modify most of the mapping in the parser).

I agree that we can just u

[2020-12-10 19:48] dimitraka commented on #7066
How did you solved this issue?

I'm getting an error "recipe for target 'container_test' failed"  while  "Linking CXX executable container_test"

[2020-12-11 00:01] comaniac opened #7090 "[Bug][Relay] Winograd Conv2D for auto-scheduler errors out when input image is not square"
## Description

When compiling a Conv2D with non-square input image, the weight transform has some bugs so that the transformed weight has the wrong shape. For example, the shape I used (1, 23, 40, 128) results in alpha=4 of the transform weight. Based on this value, the kernel size is `alpha - tile_size + 1 = 4 - 4 + 1 = 1`, which is no longer 3.

## Error Log

[code]

## How to reproduce

1. In

[2020-12-11 05:47] xingha commented on #7066
i add tvm library into target_link_libraries(tvm_mobilefacenet  ${OpenCV_LIBS} -ldl -lpthread tvm), it's run.

[2020-12-11 16:44] #7090 closed

[2020-12-11 19:54] dlexplorer opened #7096 "Missmatching of undefined shape value relay.Any() vs -1"
Many frameworks define dynamism in the shape as -1 in the certain axis while TVM has its own constant for this - relay.Any().
If I take onnx bert model and try to convert like below snippet code, TVM will crash.
Two issues
1. not crash
2. During conversion need to identify -1 in the shape and warn that TVM uses its own id for defining of dynamic shape/stop execution

Probably stopping of execution

[2020-12-12 15:34] zhiics commented on #7096
You have to use relay VM to compile dynamic models.

[2020-12-12 15:34] #7096 closed

[2020-12-13 07:25] dlexplorer commented on #7096
I disagree with closing this ticket
1. it is bad from user's perspective. If you do not expect to accept some values in to the one function but expect to another - verify the input and return error code and clear message to user what to do
2. applications must not crash

[2020-12-13 16:43] ycdfwzy opened #7101 "ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host"
Hello!
I installed TVM on win10. After running `tutorials\get_started\relay_quick_start.py`, I got the following outputs, but did't know how to solve it
[code]

[2020-12-14 07:09] tsupei opened #7102 "[TOPI] batch_matmul cannot use and / or / not operator to Expr"
I try to use topi.nn.batch_matmul, following the instruction [here](https://tvm.apache.org/docs/api/python/topi.html). It requires input type `tvm.te.Tensor`. However, the following code incurs error.

[code]
[code]

I found that in `tvm/python/tvm/topi/nn/batch_matmul.py`. A python built-in max is called, however, the argumenets type seems incompatible. I modified it to `te.max` solved the proble

[2020-12-14 08:07] jay-karan opened #7103 "Addition of Unsupported Operators to Relay"
Hi, I am new to this space. I am looking forward to contribute after a deep view.

1. How do I analyze the operators of a particular framework (say onnx, tensorflow) are being supported in Relay? Is there any helper function to list?

2. How do I add a unsupported operator in Relay? Any code example showcasing addition of new operators is highly appreciated.

Tried [this](https://tvm.apache.org/do

[2020-12-14 08:39] dlexplorer opened #7104 "Segmentation fault with ACL integration on onnx inception v1"
The [ONNX inception v1 ](https://github.com/onnx/models/tree/master/vision/classification/inception_and_googlenet/inception_v1) been compiled with ACL integration crashes on the Android
The crash happens during the call of "default" packed func form module:
[code]

The same network been compiled through llvm works fine

I tried also [onnx mobilenet v2](https://github.com/onnx/models/tree/master/vi

[2020-12-14 18:50] zhiics commented on #7102
Thanks for reporting the issue.  I think it is `te.max`. Could you send a PR?

[2020-12-14 18:56] zhiics commented on #7104
@mbaret @manupa-arm

[2020-12-14 18:58] zhiics commented on #7103
Thanks for your interests in TVM. Please create a thread at the discuss forum (https://discuss.tvm.apache.org/) and ask above questions there since they are not issues. Thanks.

[2020-12-14 18:58] #7103 closed

[2020-12-15 02:19] tsupei commented on #7102
@zhiics Sure! I will send it later

[2020-12-15 04:16] roastduck commented on #848
Sorry for bringing up the issue again. I think the top-level-reduction-only restriction still exists in TVM today.

I noticed that `relay.transform.transform.FuseOps` fuses a `conv2d` and a following `relu` into one single function. If I understand correctly, this means, in the underlying TOPI implementation, there will be a `relu` operation outside the reduction from `conv2d` (scheduled via `inli

[2020-12-15 08:22] Leo-arm commented on #7104
@d-smirnov

[2020-12-15 15:12] d-smirnov commented on #7104
Could you double-check that you have compiled the model properly, and it runs OK without ACL runtime, please?

[2020-12-15 17:26] tqchen commented on #7104
Let us move the discussion to https://discuss.tvm.apache.org/ once we confirmed the problem that is actionable, we can move back to issues

[2020-12-15 22:19] TylerADavis commented on #6239
It seems that true_divide is supported as of #6472, but `is_floating_point` is definitely missing. I'm currently looking at adding support for `is_floating_point`, and I hope to have something before the week is done.

[2020-12-16 09:23] insop commented on #7102
@tsupei , @zhiics

How about this? by this, we can test.
Patch is [here](https://github.com/insop/incubator-tvm/commit/9b7b1589f4a05a739e19652b7a2705e4bfc7bfcb.patch).

[code]

Test restults

[code]

[2020-12-18 04:19] slyubomirsky opened #7129 "[Relay][Documentation] Behavior of relay.stack does not appear to match documentation"
The documentation for [`tvm.relay.stack`](https://tvm.apache.org/docs/api/python/relay/index.html#tvm.relay.stack) states that its input can be either a list of Relay expressions or a tuple. However, if you give a Relay expression with a tuple output as an input to `tvm.relay.stack`, this will result in a Python type error, as the function [first tries to coerce the input into a Python list](https

[2020-12-18 04:36] slyubomirsky commented on #7129
It appears this can be easily fixed with some changes to the Python binding for `stack`. I will PR a fix.

[2020-12-18 05:15] slyubomirsky commented on #7129
In retrospect, it is conceivable that the documentation did correctly note that the input must be a list or a tuple literal, but I would argue that restricting the possible input in this way defies user expectations. Also the fix was very easy.

[2020-12-18 05:34] dlexplorer commented on #7104
I double checked it and still confirm that loading inception v1 been compiled with ACL crashes on device and the version been compiled with pure llvm approach works well

this is how I compiled network
[code]

[2020-12-18 07:48] #6239 closed

[2020-12-19 00:04] #7102 closed

[2020-12-19 00:05] zhiics commented on #7102
closed by #7111

[2020-12-19 08:15] antinucleon opened #7135 "[Bug] AutoScheduler / Fuse Pass bug"
If we run Auto Scheduler on BERT, eg with these scripts (https://github.com/octoml/Apple-M1-BERT), we will see these error messages during compiling:

[code]

However, with codebase in July, this message won't appear. The effect of this bug is significant:

On NVIDIA T4, July codebase BERT inference time is 9ms, while the current main branch is 13ms (with similar estimation time from Auto schedule

[2020-12-19 21:26] comaniac commented on #7135
Could you clarify that did you use the tuning log from July for the current upstream directly or did you re-tune the model? Looks like the task shown by the message hasn't been tuned.

[2020-12-19 21:28] antinucleon commented on #7135
The last is tuned, but for some reason during fusing, a fast tanh function
location is different, which made matching fail.

On Sat, Dec 19, 2020 at 13:26 Cody Yu <notifications@github.com> wrote:

--
Bing Xu

[2020-12-19 21:55] comaniac commented on #7135
I see. Then this should be expected, because this PR (https://github.com/apache/tvm/pull/6903) changes the way of task extraction. In your case, if there is only one mismatch task, you can tune that task along and put the tuning logs together.

[2020-12-19 21:56] comaniac commented on #7135
So you meant that task has different hash numbers between extraction and compilation? I could take a look next week if so.

[2020-12-19 22:15] antinucleon commented on #7135
I think I didn’t express clearly (with phone). So with current upstream,
there is a mismatch during auto scheduler and fuse pass. This bug is not
existing in 0.7 codebase.

Yes re tune an extra task is a way to hide to bug, but not a solution.

On Sat, Dec 19, 2020 at 13:56 Cody Yu <notifications@github.com> wrote:

--
Bing Xu

[2020-12-19 22:41] comaniac commented on #7135
OK I'll take a look next week. btw, I tried the repo but failed to convert the Pytorch BERT model to Relay. I guess it's due to incompatible Pytorch (1.7.0) or model version. The error I got when running `dump_pt.py` was missing Relay op `prim::DictConstruct`. It would be good if you could provide a minimal reproducible example for this issue so that people can directly work on it.

[2020-12-19 22:48] comaniac commented on #7135
nvm. I noticed that the transformers has to be in 3.0. I can repdocue the issue now.

[2020-12-19 23:05] comaniac commented on #7135
OK so the root cause is your script uses `opt_level=0` when building the model; while auto_scheduler task extraction uses `opt_level=3`. I changed `opt_level` in `search_dense_gpu.py` to 3 and here is what I got:

[code]

The task hash code `13da82b16db5a9fde8953f4c5667d2e4` matches one of the extracted tasks from the model:

[code]

In conclusion, this is not really a bug, but we may need to come

[2020-12-19 23:05] #7135 closed

[2020-12-20 21:11] junrushao1994 commented on #7101
We use a discussion forum for general error reporting, so please open a new thread on https://discuss.tvm.apache.org/. Thanks!

[2020-12-20 21:11] #7101 closed

[2020-12-21 08:38] masahi opened #7139 "[TEST][FLAKY] test_topi_math.py:test_ewise"
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-7136/8/pipeline

[2020-12-22 08:23] junrushao1994 commented on #7077
Thanks for reporting. We use the discussion forum (https://discuss.tvm.apache.org/) for general usage issues. Please open a thread in the forum. Thanks!

[2020-12-22 08:23] #7077 closed

[2020-12-22 08:23] junrushao1994 commented on #7057
AFAIK it happens when an error is thrown in the constructor. Thanks for reporting. We use the discussion forum (https://discuss.tvm.apache.org/) for general usage issues. Please open a thread in the forum. Thanks!

[2020-12-22 08:23] #7057 closed

[2020-12-22 08:25] junrushao1994 commented on #6931
Thanks for reporting. We use the discussion forum (https://discuss.tvm.apache.org/) for general usage issues. Please open a thread in the forum. Thanks!

[2020-12-22 08:25] #6931 closed

[2020-12-22 08:26] junrushao1994 commented on #6943
Thanks for reporting. We use the discussion forum (https://discuss.tvm.apache.org/) for general usage issues. Please open a thread in the forum. Thanks!

[2020-12-22 08:26] #6943 closed

[2020-12-23 02:09] roger-zhao opened #7155 "Potential bug for SearchSpace length"
https://github.com/apache/tvm/blob/08a69d4f92742c8c526d6a7c2a5805d00f5dc725/python/tvm/autotvm/task/space.py#L839

here, when _length is None, then initiate it to current search space length, it's almost good most of times, however if user/developer get __len__ of search space when space is empty, then a unreasonable _length 1 will be produced( the result of empty list for np.prod is 1), so it's b

[2020-12-23 18:13] comaniac commented on #7155
Thanks for the proposal. Could you send a PR?

[2020-12-23 21:34] u99127 commented on #7104
What does the code for the version that "works" with native llvm look like ? Is the only difference the ACL partitioning ? Can I suggest trying out a tflite file or a model that is already known to work ?

BTW we are currently making this work with ACL 20.11 but all our testing has been on GNU/Linux with AArch64 file systems so  it might make sense to try and reduce the differences as much as poss

[2020-12-24 02:48] roger-zhao commented on #7155
@comaniac No problem!

[2020-12-26 14:23] tqchen commented on #6649
Let us move the discussion to a troubleshooting thread on https://discuss.tvm.apache.org/. once we have an actionable items, we can open an issue and address quickly

[2020-12-26 14:23] #6649 closed

[2020-12-28 08:44] monkbai opened #7170 "How to embed the params into the library?"
So far the compiled library seems to do not contain parameters, is it possible to embed the parameters into the binary?

[2020-12-28 08:47] monkbai opened #7171 "Can we create a standalone executable?"
Can we somehow create a standalone executable like glow and nnfusion?

[https://github.com/pytorch/glow](https://github.com/pytorch/glow)
[https://github.com/microsoft/nnfusion](https://github.com/microsoft/nnfusion)

[2020-12-28 17:40] comaniac commented on #7170
Thanks for your interests in TVM. Please create a thread at the discuss forum (https://discuss.tvm.apache.org/) and ask above questions there since they are not issues. Thanks.

[2020-12-28 17:40] #7170 closed

[2020-12-28 17:40] comaniac commented on #7171
Thanks for your interests in TVM. Please create a thread at the discuss forum (https://discuss.tvm.apache.org/) and ask above questions there since they are not issues. Thanks.

[2020-12-28 17:40] #7171 closed

[2020-12-29 10:00] FelixFu520 opened #7176 "OpNotImplemented: The following operators are not supported for frontend ONNX: Softplus"
when I transfer ONNX to TVM lib, an error

[code]

the code below
[code]

what should I do?

[2020-12-29 14:08] #6897 closed

[2020-12-29 19:27] ResidentMario opened #7177 "TVM fails CUDA version check incorrectly"
## Summary

I am attempting to install TMV from source on an NVIDIA T4 GPU machine on AWS, following the instructions on the [Install From Source](https://tvm.apache.org/docs/install/from_source.html) page in the TVM docs. However, attempting to run the following demo code results a `CUDA: CUDA driver version is insufficient for CUDA runtime version` error.

I am reporting this here as a bug becau

[2020-12-29 20:00] junrushao1994 commented on #7177
I believe that it is a TVM bug, but may related to the cuda installation. I am happy to assist more on the forum: https://discuss.tvm.apache.org/t/cuda-driver-version-is-insufficient-for-cuda-runtime-version/8764

[2020-12-29 20:00] #7177 closed

[2020-12-29 21:55] junrushao1994 commented on #7176
Looks like softplus is not implemented yet, so A PR is more than welcomed :-)

[2020-12-30 01:49] justingyym opened #7178 "CPU core number setting"
At present, I use TVM CPU for model inference.When TVM infers, it is calculated on the first three CPUs.When I start the two instances, both of them operate on the first three CPUs. c++ :sched_setaffinity  doesn't work.

1、How to specify the number of CPU cores in TVM for calculation。
2、How to specify specific CPUs for calculation
Thanks

目前我使用TVM的CPU进行模型推理，在TVM推理时候，均在前3个CPU上进行计算，当我启两个实例的时候，两个实例也都

[2020-12-30 03:43] leowang1225 opened #7179 "[Auto Scheduler] Add custom build func support"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2020-12-30 14:36] juannzou opened #7182 "VTA test fail while running the 2D convolution testbench on Pynq"
I am getting an error while following [Testing Pynq-based Hardware Setup](https://tvm.apache.org/docs/vta/install.html#testing-your-pynq-based-hardware-setup).

First I used [Pynq 0.0.1 bitstream](https://github.com/uwsampl/vta-distro/tree/master/bitstreams/pynq/0.0.1), and ran the following on host/PC, while RPC server is running on the Pynq board:

Which resulted in RecursionError. See @lhf1997

[2020-12-30 19:01] codeislife99 opened #7183 "[TEST][FLAKY] test_arith_solve_linear_inequality.py fails due to non-deterministic test"
tests/python/unittest/test_arith_solve_linear_inequality.py:73:  fails with seed 3858162330384474861
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-7125/30/pipeline/

[2020-12-30 21:52] junrushao1994 commented on #7182
Thanks for your interests in TVM. Please create a thread at the discuss forum (https://discuss.tvm.apache.org/) and ask general usability issues. Thanks!

[2020-12-30 21:52] #7182 closed

[2020-12-30 21:55] junrushao1994 commented on #7179
Thanks for your interests in TVM. Please create a thread at the discuss forum (https://discuss.tvm.apache.org/) and ask general usability issues. Thanks!

BTW, I agree with a custom build func is a good feature to have, and your contribution is definitely more than welcome. To workaround your issue temporarily, you might be interested in hacking those lines: https://github.com/apache/tvm/blob/main

[2020-12-30 21:55] #7179 closed

[2020-12-30 21:55] junrushao1994 commented on #7178
Thanks for your interests in TVM. Please create a thread at the discuss forum (https://discuss.tvm.apache.org/) and ask general usability issues. Thanks!