[2019-02-18 21:59] #2175 closed

[2019-02-18 22:21] #2483 closed

[2019-02-18 22:21] tqchen commented on #2483
closed by #2489

[2019-02-18 22:21] #2517 closed

[2019-02-18 22:22] tqchen commented on #2535
@vinx13 @Laurawly @zhreshold @kevinthesun please comment if we have reach consensus on the API

[2019-02-18 22:27] tqchen commented on #1996
Naming:

- We can use gradient or differentiation to indicate the gradient.  Given that most API(tensorflow, pytorch) use gradient. I suggest we use the name gradient.
- Namespace how about,  tvm.tensor_expr.gradient?
   - We can consider move tvm.api -> tvm.tensor_expr

[2019-02-18 22:44] weberlo commented on #2413
Sorry for letting this slip under my radar.  I'll be opening a PR addressing this issue shortly.

[2019-02-18 22:57] Laurawly commented on #2535
The new API LGTM.

[2019-02-18 23:38] tqchen commented on #2355
Do we have any followup on this @headupinclouds @eqy ?

[2019-02-18 23:43] tqchen commented on #2612
@abergeron do you mind following up in https://discuss.tvm.ai/? As far as I know, the shape can not be None in the type_annotation (we use empty list[] to indicate zero-dimensional tensor, aka scalar ).

[2019-02-19 02:33] vinx13 commented on #2535
LGTM

[2019-02-19 04:00] tqchen commented on #2512
Good effort on simplifying the interface proposal. I still think we need more thoughts :) So far in the current design, there are two-level of pass structures with inconsistent interfaces:

- Pass: which is the low-level transformation with meta-data, declares requirements.
   - Exposes a (Module, PassContext -> Module) public interface
- Optimizer: composes the passes,
   - Mutates its internal m

[2019-02-19 05:04] ZihengJiang commented on #2448
v0.4 has been tagged https://github.com/dmlc/tvm/releases/tag/v0.5

[2019-02-19 05:11] ZihengJiang opened #2623 "[DEV] TVM v0.6 Roadmap"
This roadmap for TVM v0.6. TVM is a community-driven project and we love your feedback and proposals on where we should be heading. Please open up discussion in the discussion forum as well as bring RFCs.

- Feel free to volunteer yourself if you are interested in trying out some items(they do not have to be on the list).
- Please also check out the [help wanted](https://github.com/dmlc/tvm/issues

[2019-02-19 05:14] #2448 closed

[2019-02-19 05:15] ZihengJiang commented on #2448
0.6 roadmap is available at https://github.com/dmlc/tvm/issues/2623

[2019-02-19 05:16] ZihengJiang commented on #1596
v0.5 is now tagged, next cycle roadmap issue is available at https://github.com/dmlc/tvm/issues/2623

[2019-02-19 05:16] #1596 closed

[2019-02-19 05:25] #2614 closed

[2019-02-19 05:26] ehsanmok commented on #2623
Besides having some more plans for rust, I'd like creating better tutorials so I want to pick up the _tutorials of low-bit ops_ using relay which is what I've been playing with recently and want to get deeper.

[2019-02-19 05:37] icemelon9 commented on #2623
Does runtime for dynamic model refer to the runtime for Relay? Otherwise, we can also add Relay runtime into 0.6 roadmap.

[2019-02-19 05:50] ZihengJiang commented on #2623
@edmBernard Great to hear that! Added!

[2019-02-19 05:51] ZihengJiang commented on #2623
@icemelon9 Right, it refers to the runtime for Relay

[2019-02-19 05:53] icemelon9 commented on #2623
Cool. @jroesch @zhiics @wweic and I can work on runtime for Relay.

[2019-02-19 05:54] FrozenGene commented on #2623
Wish TVM v0.6 can finish this item: https://github.com/dmlc/tvm/issues/2351. i.e. Support importing exist quantization TFLite model. This can be a start for supporting importing existing quantization model (i.e. don't restrict TFLite).

[2019-02-19 05:58] zhiics commented on #2623
Pass manager for relay, should be able to finish discussion soon, haha

[2019-02-19 06:02] wweic commented on #2512
+1 pass manager to be a type of pass node. it's just a pass that schedules its child passes. Maybe even a context pass that properly setup context for child passes?

[2019-02-19 06:23] zhiics commented on #2512
Okay, we can probably design it as the following to keep consistent interfaces.

[code]

`Pass` is a virtual class. There are actually only three major jobs, namely pass creation, pass execution, and dependency resolution. Then we can create different granularity of passes and implement `CreatePass()` and `ResolveDependency()`. Now each pass itself could be view as a pass manager and it globs requ

[2019-02-19 06:29] yzhliu commented on #2623
does "graph level automated optimization" mean https://github.com/dmlc/tvm/pull/2184 or something else?

[2019-02-19 06:40] ZihengJiang commented on #2623
@yzhliu I think so. It is a legacy item from roadmap v0.5

[2019-02-19 08:58] chughtapan opened #2625 "Backend for Nvidia Tensor Cores"
Hi,
I am interested in code generation using TVM for Nvidia Tensor Cores (eg the ones found in V100). I wanted to know if there is an existing backend for Tensor Cores? If not, how complicated is it to add a backend given support for Tensorization already exists in TVM?

Thanks,
Tapan

[2019-02-19 14:35] headupinclouds commented on #2355
I added explicit batch-norm affine arithmetic and experimented with `compute_inline` in the test repo I posted, but it didn't seem to trigger an error.  I'll push the updated changes.   I guess we can try to translate the head of the resent18 example into the standalone test project to help isolate things.

[2019-02-19 15:40] headupinclouds commented on #2470
pushed https://github.com/dmlc/tvm/pull/2626

[2019-02-19 19:45] #2470 closed

[2019-02-20 01:56] eqy opened #2628 "[RFC][AUTOTVM] Counting FLOPs vs. OPs"
AutoTVM has a handy floating point operation counter that has fit most use cases to this point, as almost all tuned workloads have been floating point. However, the recent introduction of the quantization pass means that we may be seeing non-floating point templates in the near-future. The current counter enforces that the data type at the bottom of every computation is some kind of a [`float`](ht

[2019-02-20 08:26] #2617 closed

[2019-02-20 08:29] jroesch opened #2631 "[RELAY][RFC] Modify repr to return a valid Python AST"
I think we should update `repr` and by extension the debug printing methods defined in C++ to update a valid Python AST. This would make it possible for us to extract the debug representation when printing it and paste it into a Python file to edit and modify.

I think this will be very useful for experimenting and debugging.

cc @joshpoll @wweic @tqchen @MarisaKirisame

[2019-02-20 11:32] ZihengJiang commented on #2628
I prefer `ops`, since we only need a metric for evaluating the computation overhead

[2019-02-20 11:37] sgrechanik-h commented on #1996
Do you mean renaming `autodiff.{h,cc}` -> `gradient.{h,cc}`?

Wouldn't it make more sense to put it in `tvm.tensor.gradient` since it works on tensors, not only on expressions? Also placing a submodule `gradient` into `tvm.expr` (or `tvm.tensor`) would require creating a directory `tvm/expr/` and moving the contents of `tvm/expr.py` into `tvm/expr/__init__.py`

[2019-02-20 17:03] tqchen commented on #2628
counting ops, or more specifically, MOPS(number of multiplications) is usually a good proxy for perf

[2019-02-20 17:10] tqchen commented on #2631
@jroesch can you elaborate and give an example?

[2019-02-20 18:24] ehsanmok commented on #2469
I second @FrozenGene's comments. Right now, there's no clear hierarchy in tutorials. We need to consider our users and their level of familiarities. What we would like to give them first and have more for those with more interests. Writing great tutorial is an art and it needs caring which we should strive for when heading to v1.0 release.

What we have is good but not good enough. We need

0. Ver

[2019-02-20 22:14] jroesch commented on #2603
@abergeron requires this feature for Myia.

@slyubomirsky check out this example, I wrote up a small function to do so in Python.

https://gist.github.com/jroesch/4f6a601cbc86170025011d9d34a708dc

[2019-02-20 22:16] slyubomirsky commented on #2603
Thanks for the example. @MarisaKirisame and I will start implementing mutual recursion this week.

[2019-02-20 22:26] ZihengJiang commented on #2562
I am working on adding gradient definition for some level 1/2 operators, see https://github.com/dmlc/tvm/pull/2633 for details

[2019-02-20 22:29] slyubomirsky commented on #2603
What sort of syntax should there be to indicate mutual recursion? I presume that mutual recursion should always work for globals.

[2019-02-21 00:07] tqchen commented on #2512
Some additional comments: The pass interface can be minimized into the following items:

- ResolveDependency can be simply internal to SequentialPass, which and get called when we create a Sequential pass
- CreatePass do not need to be a virtual function, we can have CreateFunctionPass and CreateSequentialPass as global functions.

A mock proposal

[code]

[2019-02-21 00:41] zhiics commented on #2512
@tqchen you meant that enabled should be the member of FunctionPass, right? That's what I thought as well since SequentialPass will take a list of passes?

[2019-02-21 00:43] tqchen commented on #2512
If I understand correctly, enabled is a property of SequentialPass(to whether or not turn an pass on). Basically, you store a list of [(enabled, Pass)] in the sequentialPass

[2019-02-21 00:44] tqchen commented on #2512
@FrozenGene @hlu1 @antinucleon  please also help comment if you have any inputs

[2019-02-21 00:49] zhiics commented on #2512
@tqchen yeah, nvm, I was thinking if it is necessary to put it in other subclasses. Then check if it is enabled in sequentialpass..

[2019-02-21 02:03] yongwww opened #2638 "why not add uninstall guide?"
TVM has installation tutorial, why not add uninstallation guide?

[2019-02-21 03:23] zkh2018 opened #2640 "can't run get_start.py"
tvm._ffi.base.TVMError: [11:08:39] ~/tvm/src/runtime/cuda/cuda_device_api.cc:93: Check failed: e == cudaSuccess || e == cudaErrorCudartUnloading CUDA: CUDA driver version is insufficient for CUDA runtime version

[2019-02-21 03:28] eqy commented on #2640
Since this is a support issue, can you please open a thread on the [discuss board](https://discuss.tvm.ai)?

[2019-02-21 03:28] #2640 closed

[2019-02-21 04:08] FrozenGene commented on #2512
I think `enabled` maybe more suitable in `PassNode`.

Let us imagine we have one tool in the future like `opt` in LLVM. We want to disable one specific pass to check the performance or correctness. So we want to use like this: `opt -disable-pass-name=xx-pass`. Then `SequentialPass` should know the pass is turned off and resolve dependency.  So we set the `enabled` property of `PassNode` be `false`

[2019-02-21 04:24] antinucleon commented on #2623
Will work together with @icemelon9 on dynamic runtime.

[2019-02-21 06:38] zhiics commented on #2512
@FrozenGene It looks that it probably makes more sense to have a disabled_passes or let pass be a map of (pass, bool) in `SequentialPass`. For other passes, like FunctionPass and ModulePass, we probably only need to glob the required passes and execute. It seems that want don't disable any required passes for `FunctionPass` anyway though.

[2019-02-21 07:38] yzhliu commented on #2638
probably due to the fact that we don't want users to uninstall :)

would you mind add one into the tutorial?

[2019-02-21 07:45] eqy commented on #2638
@yongwww we welcome contributions :)

[2019-02-21 09:11] zaidao2023 opened #2641 "when I use bundle_deploy, occur error:demo: demo.cc:20: int main(int, char**): Assertion `bundle' failed. Makefile:16: recipe for target 'test' failed make: *** [test] 已放弃 (core dumped)"
how to fix it

[2019-02-21 10:11] jroesch commented on #2631
My goal is to obtain a program fragment like:

[code]

Instead of:
[code]

Upon further reflection we could just do this in Python, though there are some challenges due to our name representation.

My main goal is that we could obtain  textual representation of the program which can be copy-and pasted back into the interpreter along the idea presented by the `pprint` module (https://docs.python.or

[2019-02-21 16:40] cbecker commented on #2641
I saw something similar here. I fixed it by forcing the app to link against the `pthread` library, by adding `-Wl,--no-as-needed -lpthread` to the `demo` rule in the Makefile

[2019-02-21 17:19] yongwww commented on #2638
@yzhliu @eqy OK, I will spend some time adding it no later than the next weekend.

[2019-02-21 17:29] tqchen commented on #2641
Thanks for bringing it up, please move the discussion to https://discuss.tvm.ai/

[2019-02-21 17:29] #2641 closed

[2019-02-21 19:10] antinucleon commented on #2623
I think we should also deprecate nnvm fully in 0.6. So far there are still some legacy code in topi depends on nnvm.

[2019-02-21 19:11] icemelon9 commented on #2623
Could we also add `Any` dimension in the roadmap? I think it's an important feature to have.

[2019-02-21 19:41] joshpoll commented on #2631
Do you think it's worth integrating this code with the text printer? We could e.g. reuse the Doc ADT in #2605.

[2019-02-21 20:46] wweic commented on #2631
+1. It would be very useful to have `program == eval(program.repr())`

[2019-02-21 21:47] yongwww opened #2644 "[DOC][RELAY API] duplicate submodule in the API"
Looks the API in the [relay api doc](https://docs.tvm.ai/api/python/relay/index.html) is incorrect, there are a lot of duplicate submodules introduced,  for example the `tvm.relay.op.nn.nn.batch_norm` should be `tvm.relay.nn.batch_norm` in the section [tvm.relay.nn](https://docs.tvm.ai/api/python/relay/nn.html). Same issues in other sections of relay api doc.

[2019-02-21 23:56] ZihengJiang commented on #2583
@derisavi SGTM. Thanks

[2019-02-22 01:31] tqchen commented on #2535
@kevinthesun Last comment on the API design, can you create a mapping between the TF/PT arguments and our current ones? Why are there still different ones? Is it possible to force most of the convention to be consistent with TF/PT?

It is a bit hard for me to draw connections. I would also recommend putting non-overlapping arguments at the end of the argument list.

[2019-02-22 05:35] kevinthesun commented on #2535
'data' in tvm can be composed by the 'boxes' and 'score' in tf/pt.
valid_counts is to support different ways to generate valid number of boxes, as we have discussed. We don't need score_threshold in this api then.
The extra argument 'return_indices' is to decide whether to return box indices. I put it right after the input tensor since it is mandatory.
Other additional arguments make Tom implement

[2019-02-22 05:48] tqchen commented on #2535
I see, one thing that worries me is that the user might be confused on the divergence.

Perhaps we should do ```topk->top_k``` (to be consistent with keras). Given that our nms is not "standard", maybe we can name it as non_maximum_supression_return_indices

[2019-02-22 05:51] merrymercy commented on #2625
You can try to search on the forum. There are tworelated threads. https://discuss.tvm.ai/search?q=tensor%20core

[2019-02-22 05:51] #2625 closed

[2019-02-22 05:57] liangfu commented on #2535
@kevinthesun the argument `id_index` or `id_axis` is a bit confusing to me. Would you please explain more in the API summary? The user would use the argument to assign the index of `class_id`, but how about other data layouts that might consist an unknown location of `score`?

[2019-02-22 05:57] merrymercy commented on #2628
Yes, we should move to OPS.
The reason I used FLOP is to discard the integer multiplications in index expressions.
If we want to count integer OPs, should we discard them?

[2019-02-22 06:17] kevinthesun commented on #2535
@tqchen Are you talking about renaming the api itself to non_maximum_supression_return_indices? I think it's better to keep current name since we support returning either the box indices or boxes.

@liangfu Currently we only support [class_id, score, bl, bt, br, bb] data layout. I'll mention this in docstring. For example, when you converting a gluoncv ssd model, if your original model set id_axis

[2019-02-22 06:26] zkh2018 opened #2650 "vta test problem"
How to run vta/tests/hardware/metal_test/meta_test.cc on ubuntu18.04?

make the test source error:
/usr/bin/ld: cannot find -l:libsds_lib.so
/usr/bin/ld: cannot find -l:libdma.so

[2019-02-22 06:28] zaidao2023 commented on #2450
can you fix this problem?

[2019-02-22 06:48] tqchen commented on #2535
My main concern is that ```return_indices``` 's position, as most API do not have such an argument.

[2019-02-22 06:49] mnboos commented on #2450
It worked for me after patching TVM with the patch I showed above. After some testing I reduced it to the following:

[code]

Apply it:
[code]

[2019-02-22 06:51] kevinthesun commented on #2535
We can make it optional and by default returning indices？

[2019-02-22 06:52] mnboos commented on #2591
I assume no answer means you have other priorities at the moment?

[2019-02-22 07:06] yidawang commented on #2591
As of now, I am not aware of a concrete plan of supporting the randomization ops. You can refer to the release roadmap (latest #2623) for major features being (going to be) implemented. You are also highly encouraged to contribute.

[2019-02-22 07:14] tqchen commented on #2650
Please open a new thread in the discuss forum

[2019-02-22 07:14] #2650 closed

[2019-02-22 07:16] tqchen commented on #2535
As long as the default behavior is the most common one（as in Tf pt) it is fine

[2019-02-22 07:30] ZihengJiang opened #2651 "Data-Aware Calibration"
The current calibration algorithm use `global_scale` to estimate the scale of intermediate result, which is configured by user. For better accuracy loss, we need to implement data-aware calibration algorithm: given a small calibration dataset (like 100 samples), to achieve better scale estimation.

## Implementation
### Collecting Intermediate Results
To collect intermediate results of every opera

[2019-02-22 07:40] zaidao2023 commented on #2450
thanks

[2019-02-22 07:40] eqy commented on #2651
I am very interested in this problem, and I have a few different approaches I want to try out. However, I wonder if requiring intermediate results to be collected is too labor intensive or unnecessary. In the AutoTVM setting, we use domain specific features as they are powerful and allow for transfer learning. However, transfer learning is not as important in this setting, and it could be that bla

[2019-02-22 16:01] mjs-arm opened #2657 "[RUST] ci_cpu docker image build failure."
The ci_cpu docker image fails to build cleanly.  The Dockerfile runs ubuntu_install_rust.sh which in turn executes:
cargo +nightly install rustfmt-nightly --version 1.0.1 --force

Which results in the following build error:

ubuntu_install_rust.sh
^[[0m^[[91m   Compiling scoped-tls v0.1.2
^[[0m^[[91merror[E0277]: the trait bound `std::borrow::Cow<'_, str>: std::convert::From<core::str::EscapeDefau

[2019-02-22 18:09] tqchen commented on #2657
cc @nhynes can you help to take a look?

[2019-02-22 18:12] tqchen commented on #2450
@mnboos Do you mind send a patch ?

[2019-02-22 18:17] tqchen opened #2658 "[TOPI] Better x86 support for conv2d_transpose"
see https://discuss.tvm.ai/t/possible-issue-with-conv-transpose-very-slow/1734

[2019-02-22 18:21] yidawang commented on #2658
We also noticed that. Will see if we can get some cycles to work on it. Will also add the MAC count for this op along with the optimization. @yzhliu @kevinthesun

[2019-02-22 18:34] icemelon9 opened #2659 "[RFC][Relay] Implicit type casting vs explicit dtype conversion"
I found two issues in inferring the output dtype of Relay's type inference.
- For some unary operations such as `sqrt`, `log`, `exp`, the type inference directly uses the input dtype as output dtype. However, if the input type is int type, this inference fails.
- All binary operations now enforeces both operands have the same dtype. However, it is possible that a float tensor adds a int tensor. Bu

[2019-02-22 19:52] nhynes commented on #2657
Huh. I don't think anything changed in `rust/` lately? Maybe there was a missing lockfile somewhere. Isn't semver great? I'll take a look now.

[2019-02-22 22:42] Ravenwater commented on #2659
That feels very ad hoc. With type conversions you need to work out the type hierarchy otherwise you will quickly end up with computational errors that are impossible to debug. Languages will demand that if a conversion is semantically important it needs to be specified. Otherwise you quickly end up with float64 that capture a default progression, but which will be very inefficiënt.

History tells

[2019-02-22 22:45] tqchen commented on #2659
The current IR semantics requires explicit conversion of dtype, which works OK in most cases. I think it might be good to keep it that way

[2019-02-22 22:49] tqchen commented on #2512
@zhiics can you summarize the discussion, update your post with the latest interface and then tag folks to see if they like it?

[2019-02-22 23:35] zhiics commented on #2512
@tqchen @jroesch @wweic @icemelon9 @yzhliu @FrozenGene both the post and the PR are updated. Please take another look. Any inputs are appreciated:)

[2019-02-23 00:15] zhiics commented on #2659
I think it might be too strict to assert the types in relation. I understand that making type conversion implicit might bring some burdens in debugging. But it looks to me that providing type hint and leveraging the type solver or having some specific passes to solve determine the type should be a good option.

[2019-02-23 02:14] tqchen commented on #2659
I agree there are tradeoffs that need to be made. This is like the same trade-off we have to make when thinking about broadcasting in binary operators. Let us list the pros and cons

**Pros of Implicit Casting**
- it makes frontend building relatively easy when dealing with mixed-dtype code

**Pros of Explicit Casting**

- Mixed dtype is relatively rare in deep learning, so one can argue explicit

[2019-02-23 02:23] tqchen opened #2663 "[RFC][COMMUNITY] Nomination Org Principle"
Dear TVM community

TVM is a community project, we always put community collaboration at the top of our priority, this is especially true for collaborations with folks who we do not interact daily. I the meanwhile, I do have to admit that have the natural tendency to talk more to our colleagues.

To further encourage such collaboration and more importantly recognition of community members who are

[2019-02-23 03:17] tqchen commented on #2246
We still have CoreML left, @kazum would you be interested in help on that?

[2019-02-23 04:43] zhiics commented on #2246
Is #2476 the CoreML frontend?

[2019-02-23 05:52] tqchen commented on #2246
Sorry I missed track of things, yes CoreML is already in, only Darknet left then :)

[2019-02-23 06:41] ZihengJiang commented on #2663
+1.
I like the idea that don't allow to nominate candidate from the same org. I believe that it would be helpful to achieve a diverse community.

[2019-02-23 14:30] kalcohol opened #2666 "How to build a static runtime lib for static linking?"
Hi all, a static building runtime lib will be needed in some conditions. Is there a solution to building a static runtime lib?
Many thanks for sharing your idea.

[2019-02-23 17:29] tqchen commented on #2666
Thank you for asking the question. The community uses https://discuss.tvm.ai/ for related topics, please open a new thread there

[2019-02-23 17:29] #2666 closed

[2019-02-23 20:38] kazum commented on #2246
@tqchen @zhiics I created a CoreML tutorial instead, #2667 :)

[2019-02-23 22:55] joshpoll commented on #2623
I think official text format support should be part of 0.6. i.e. the parser and printer should be able to support all Relay constructs.

[2019-02-24 01:15] tqchen commented on #2588
Constant bound analyzer https://github.com/dmlc/tvm/issues/2668

[2019-02-24 06:10] kazum commented on #2246
@PariksheetPinjari909, do you have a time to implement a DarkNet support?  If no, I'd be happy to take over the work from you :)  What do you think of it?

[2019-02-24 09:52] kalcohol commented on #2666
said

[2019-02-24 17:56] tqchen commented on #2535
@kevinthesun can you conclude the RFC by summarizing the discussed API and tag everyone for a quick consensus check

[2019-02-24 18:03] tqchen commented on #2512
I think we are converging :)

- I am not sure if we still need the pass_kind field (could duplicate with the subnode case), opt_level was fine as a field. If we user does not need to know it, it should not be in the base node.
- One important requirement is that the base class (PassNode) should remain stable over time.
   - Do we need to add future meta information to the pass or not?
   - Does it

[2019-02-24 23:56] zhiics commented on #2512
@tqchen Yes, I am aware of these two concerns you are mentioning here.

After another thinking, I think we can remove pass_kind from the base node as we have already provided free functions.

I was hesitating to add the PassInfo struct because I think the base class should be quite stable over time. It looks to me that this class is quite lightweight, therefore probably not quite necessary to have

[2019-02-25 05:55] mnboos commented on #2450
@tqchen Do you mean as PR?

[2019-02-25 06:03] kevinthesun commented on #2535
API summary is updated. @tqchen @zhreshold @Laurawly @vinx13 @liangfu

[2019-02-25 06:10] liangfu commented on #2535
LGTM

[2019-02-25 07:03] zhreshold commented on #2535
thanks for the update, it lgtm

[2019-02-25 09:13] srkreddy1238 commented on #2246
I know @siju-samuel was working on this front end some time back.
@siju-samuel  Can you update the status ?

[2019-02-25 16:45] tqchen commented on #2450
Yes please

[2019-02-25 17:34] tqchen commented on #2599
@srkreddy1238 can you followup on this?

[2019-02-25 17:36] antinucleon commented on #2663
+1 From oberservation of a very similar cross org DL project, every org has its own interest and trys to push project follow their best interest. This will bring deadly effect when interests are very different and there is POTENTIAL unreasonable PMC to screw up contributors from other org. This proposal is able to avoid potential painful situation we have seen in other project.

[2019-02-25 22:01] antinucleon commented on #2663
+1. From historical observation, this will make project healthier, bring more diversity and help make project fair to every org. Also it will be helpful in the merit evaluation process.

[2019-02-26 05:37] siju-samuel commented on #2246
I was working on bringing yolov3 to Darknet relay frontend sometime back and then i got busy with some other work. In a week, i can finish the remaining and PR.
Darknet frontend depends on #1941 and #2275,  i will work on this PRs and then i will upstream the frontend PR.

[2019-02-26 09:02] junrushao1994 commented on #2659
So is there any other benefit of bringing in implicit conversion, apart from making it easier to write frontend converters?

On the other hand, could we provide the flexibility of building a temporary Relay IR with non-strict dtypes, and then add a pass to insert explicit conversion?

[2019-02-26 10:49] Ravenwater commented on #2659
In modern languages like Golang, the implicit cast has been removed. The rational being that through the decades of sw engineering practice implicit casts have caused more grief than provided in convenience. Secondly, the observation that sw code is read many time more than it is written also points to using explicit casts, so that all the information is present in the code being read.

In numeric

[2019-02-27 04:24] tqchen opened #2678 "[DOCS] Relay Tutorials Completion"
As we transition to relay, we need to upgrade the original documents in nnvm to use relay instead, here are a list of pending items to be fixed

- [x] https://docs.tvm.ai/tutorials/nnvm_quick_start.html#sphx-glr-tutorials-nnvm-quick-start-py
- [x] https://docs.tvm.ai/tutorials/nnvm/from_mxnet.html#sphx-glr-tutorials-nnvm-from-mxnet-py
- [x] https://docs.tvm.ai/tutorials/nnvm/deploy_model_on_rasp.h

[2019-02-27 04:24] tqchen commented on #2678
cc @merrymercy @jroesch @kazum @ZihengJiang @kevinthesun @phisiart @zhreshold

[2019-02-27 04:30] tqchen commented on #2628
seems we are converging to OPS, maybe we can summarize the decision and conclude by closing the RFC @eqy

[2019-02-27 04:31] tqchen commented on #2348
As far as I see the migration to ir builder is ongoing. I will close this thread due to inactive status. @kevinthesun @Laurawly @liangfu please feel free to open new threads

[2019-02-27 04:31] #2348 closed

[2019-02-27 04:35] tqchen commented on #2432
https://github.com/dmlc/tvm/pull/2477

[2019-02-27 04:35] #2432 closed

[2019-02-27 04:36] tqchen commented on #2502
Close for now mainly because this issue is a bit too generic to be actionable, let us open new threads with concrete actionable items so we can work to close them

[2019-02-27 04:36] #2502 closed

[2019-02-27 04:37] tqchen commented on #2535
Thanks, @kevinthesun I think we can conclude this PFC and move on to implementation. Thanks for everyone's helpful discussion

[2019-02-27 05:16] tqchen commented on #2413
https://github.com/dmlc/tvm/pull/2620

[2019-02-27 05:16] #2413 closed

[2019-02-27 07:37] wangnet opened #2679 "GPU for yolov3 issues"
IN [ Compile YOLO-V2 and YOLO-V3 in DarkNet Models ] Tutorials
When set
ctx = tvm.cpu(0)  --> ctx = tvm.gpu(0)
will got issue bellow:

File dog.jpg exists, skip.
Running the test image...
Traceback (most recent call last):
  File "test_yolov3.py", line 89, in <module>
    m.run()
  File "/home/ai/big_disk/TVM/tvm/python/tvm/contrib/graph_runtime.py", line 151, in run
    self._run()
  File "/home/

[2019-02-27 07:39] wangnet commented on #2679
as just has one GPU , set to 1 also not work

[2019-02-27 08:15] wangnet commented on #2679
fixed with set
target = tvm.target.cuda()

[2019-02-27 08:15] #2679 closed

[2019-02-27 10:28] eqy commented on #2628
Okay, the question is should we implement this change---@merrymercy has a point about whether we want to count index expressions. Is there an easy way to discard them?

[2019-02-27 10:51] Rasterer opened #2682 "[RFC] Asymmetric padding for convolution"
Similar to #1346, conv also has asymmetric padding cases, especially in frameworks with '**SAME**‘ padding support. But adding this support will have much more impact on current code than pooling ops, so we file this RFC to discuss its necessity and implementation details.
### Necessity
In current tensorflow frontend, conv padding is supported by adding a separate pad nnvm op. Consequently, the se

[2019-02-27 11:39] FrozenGene commented on #2682
also @Huyuwei to comment. I think it could avoid extra pad op and have better performance.

[2019-02-27 19:39] antinucleon opened #2685 "[RFC] Relay C++ Frontend"
In production environment, usually it is pure C++ environment. We are working out a pure C++ relay frontend. I want to know whether there is public interest so we can contribute back.

Pros: Less dependency, more friendly to production
Cons: We need to maintain two frontends, doubled work when there is update, or we slowly move to C++ frontend and only use Py as wrapper.

[2019-02-27 19:47] derisavi opened #2686 "[TVM][ARITH] integer set analysis does not handle Select"
When faced with `Select` operator, `IntSetEvaluator` will do the default thing which is to return `IntSet::everything()` which is too conservative.
The right thing to do is to return the union of `IntSet`s of true and false expressions.

[2019-02-27 19:50] tqchen commented on #2686
This sounds like something we can directly send a patch to fix, we can also consolidate it to #2588

I have already done so for some of the analysis in #2668

[2019-02-27 19:52] derisavi commented on #2686
I already have a fix (5 lines of code) for this small bug. I was going to send a PR but I'm open to suggestion on what do with it (or even not to do anything with it and wait for a PR for #2588)

[2019-02-27 19:55] Ravenwater commented on #2685
+1

We try to avoid the Python overhead and are always looking at the C++ interfaces. All of our research is centered around new number systems and hardware acceleration and Python is a net negative for any of these use cases.

When customers do ask for a Python interface, we tend to wrap a C++ API of some kind.

So count us in for a pure C++ interface that removes the Python dependency for both d

[2019-02-27 20:35] kazum commented on #2678
#2688 Relay tutorial for Compile MXNet Models

[2019-02-27 20:57] junrushao1994 commented on #2685
It is possible to write an IR converter which consumes IR built in Python, and outputs C++ source code containing IR building functions in C++, or vise versa. In this way, one could benefit both C++ and Python users at the same time.

[2019-02-27 21:13] antinucleon commented on #2685
@junrushao1994 It depends on how the production pipeline is built. Currently we are moving relay.build_module, relay.frontend.caffe2 and some TOPI to C++ and it should work for Facebook pipeline.

[2019-02-27 21:58] eqy opened #2689 "[AUTOTVM] acceptance probability definition"
While looking at the simulated annealing code for AutoTVM, I noticed that we do a minimum with 1 before exponentiating the scaled difference: https://github.com/dmlc/tvm/blob/30242d5c46059939e0327e48fd3a3c6377a637b6/python/tvm/autotvm/tuner/sa_model_optimizer.py#L90. My understanding is that this will cause a "probability" bound of (0, 2.71828] when the following call to `np.random.random` will on

[2019-02-27 22:01] #2686 closed

[2019-02-28 01:15] srkreddy1238 commented on #2685
+1

[2019-02-28 01:26] hlu1 opened #2692 "[RFC] Winograd NNPACK for the ARM_CPU backend"
--with @ajtulloch
We're working on shipping TVM on android for some internal products that uses 3x3 conv heavily. We found that the winograd_nnpack + TVM approach the best for shipping for a broad variety of android devices. Here are the reasons:
- We're restricted to AOT compilation and can only ship one model (packed with TVM generated code) to all android devices.
- We did autotuning with the d

[2019-02-28 02:04] makihiro commented on #2678
#2693 PR for "Deploy the Pretrained Model on Raspberry Pi" to use Relay

[2019-02-28 04:00] SiNZeRo commented on #2678
#2694
[DOC] Using External Libraries in Relay

[2019-02-28 04:15] yidawang commented on #2692
Thanks for proposing it. This will probably serve as a great example of leveraging external libraries in TVM. On the other hand, your observation indicates that within TVM we still have much room to improve the performance. BTW, do you have any performance comparison numbers between AutoTVM and NNPACK on Winograd? Also, does NNPACK use one implementation for a wide variety of devices?

[2019-02-28 04:27] masahi commented on #2678
do we want to keep the original nnvm based tutorials or remove them?

[2019-02-28 04:42] merrymercy commented on #2689
It is used to prevent overflow in `np.exp`.
You can try
[code]
Then you will see the warning.

[2019-02-28 04:42] #2689 closed

[2019-02-28 06:09] tqchen commented on #2692
Thanks for the proposal. can you clarify if the winograd AutoTVM is using the template from the mainline? It would be really great if we can also work together to improve the AutoTVM itself for ARM

[2019-02-28 06:21] tqchen commented on #2678
I think both ways are fine(keep vs removing). Once everything is complete in relay. I prefer to start removing some of the nnvm content

[2019-02-28 06:24] tqchen commented on #2685
I think having C++ development flow is great and I support the proposal.

In the meanwhile, we will keep the "python first" principle for ease of prototyping and development, so developers will be able to develop in both C++ and python. Note that having python component in compiler does not harm the fact that we can have a clean multi-language deployment.

[2019-02-28 06:57] hlu1 commented on #2692
I did the autotuning (AutoTVM with winograd from TVM master) a while ago. I'm going to redo it to get more up-to-date numbers. NNPACK has two implementations for convolution with winograd transform, wt8x8 and wt8x8_fp16. The fp16 implementation is usually the 20% - 30% faster than the fp32 version. On ARM CPUs with fp16 compute support (only Cortex-A76 I believe), NNPACK would run the microkernel

[2019-02-28 13:17] TheMartynBliss opened #2701 "End to end tutorial for deploying OpenCL to to remote"
I am trying to make use of TVM to generate object code that I can run on a target (remote) device. I have been able to do this with a CPU backend but I now want to use OpenCL.

It seems if you generate object files via the build_model.py the opencl kernels are not persisted anywhere, and then when you try and run on device it complains it cannot find the kernels (which seems fair).

How should the

[2019-02-28 17:28] tqchen commented on #2679
Thanks for bringing this up. For future questions, please open new threads in https://discuss.tvm.ai/

[2019-02-28 17:29] tqchen commented on #2701
Thanks for bringing this up, We usually use https://discuss.tvm.ai/ for related questions, please open a new thread there

[2019-02-28 17:29] #2701 closed

[2019-02-28 17:30] tqchen commented on #2701
see https://discuss.tvm.ai/t/c-deploy-example-switch-to-opencl/1361/6

[2019-03-01 12:25] mnboos commented on #2450
Okay done.

See: https://github.com/dmlc/tvm/pull/2713

[2019-03-01 18:20] tqchen commented on #2678
Thanks for everyone's effort, we still have two left :)

[2019-03-01 18:30] tqchen opened #2715 "[RFC][DISCUSS] Python3 Timeline of 2019"
It has been half a year since our last discussion https://github.com/dmlc/tvm/issues/1602

Many projects officially deprecate python2 starting 2019. I would like to open this RFC again to see the community's opinion on this.

As per the previous discussion, embracing python3 allows us to make use of new features such as type annotation that enables better DSL, and makes cleaner code. It also makes

[2019-03-01 18:30] tqchen commented on #1602
see https://github.com/dmlc/tvm/issues/2715

[2019-03-01 18:57] zhiics commented on #2715
When is the plan for 0.6? I think we can probably do it in 0.6 if it is several months/half a year away. For transitioning, python 3.6?

A side problem, do we have any plan to enable/support c++ 14/17?

[2019-03-01 22:51] antinucleon commented on #2715
0.6: + 1
C++ 14/17: Not hurry because we have most of features in dmlc-core. Most production system is still running at GCC-5

[2019-03-02 01:03] moderato opened #2716 "Confused about this line. Is it really correct?"
Hello! I'm a bit confused about this line:

https://github.com/dmlc/tvm/blob/84590063225e71eb12e90cf625aa54c3d790c620/topi/python/topi/cuda/conv2d_direct.py#L100

In an NCHW conv2d operation, the layout of the kernel is supposed to be OIHW. However, looks like this line is assuming the layout OHWI, which makes me confused, although this doesn't actually affect the flops calculation.

Anyone could

[2019-03-02 01:08] eqy commented on #2716
You may be right about this; it currently does not affect the correctness as all three values are used in a commutative way anyway for the flop calculation. Can you show a simple example with a known workload (e.g., ResNet-18 layers) and see if the extracted values are incorrect?

[2019-03-02 02:30] chinakook commented on #2450
LGTM.

[2019-03-02 03:04] yzhliu commented on #2623
# TVM Monthly - Feb 2019

# Community
In Feb 2019, we successfully released TVM v0.5 ([release notes](https://github.com/dmlc/tvm/issues/2448)) and made the [roadmap for v0.6](https://github.com/dmlc/tvm/issues/2623).

The community welcomes new Reviewer Zhao Wu (@FrozenGene), Committer Jared Roesch (@jroesch) and PMC member Lianmin Zheng (@merrymercy)

TVM community has voted through Apache Incub

[2019-03-02 03:24] tqchen commented on #2716
Thanks for bringing this up, it would be great to move discussions to https://discuss.tvm.ai/

[2019-03-02 18:06] #2716 closed

[2019-03-02 18:16] tqchen opened #2717 "[VOTE][COMMUNITY] Nomination Org Principle"
Thanks for everyone's participation in discussion of  https://github.com/dmlc/tvm/issues/2663

TVM is a community project, we always put community collaboration at the top of our priority, this is especially true for collaborations with folks who we do not interact daily. I the meanwhile, I do have to admit that have the natural tendency to talk more to our colleagues.

To further encourage such c

[2019-03-02 18:17] tqchen commented on #2663
Formal voting thread here https://github.com/dmlc/tvm/issues/2717

[2019-03-02 18:17] #2663 closed

[2019-03-02 18:27] yidawang commented on #2717
+1

[2019-03-02 18:27] tqchen opened #2718 "[TEST][FLAKY] test_quantize_pass"
http://ci.tvm.ai:8080/blue/rest/organizations/jenkins/pipelines/tvm/branches/PR-2546/runs/18/nodes/36/log/?start=0

cc @ZihengJiang , please fix help this

[2019-03-03 01:46] icemelon9 commented on #2717
+1

[2019-03-03 03:53] kevinthesun commented on #2678
Deploy gluoncv sad with relay: https://github.com/dmlc/tvm/pull/2353

[2019-03-03 05:47] JennyChou5 commented on #2279
***Error Type Categories***

As proposed, we separate TVM into 4 major layers: framework parsing layer (parse TF, MX, PyTorch, ONNX models into NNVM or relay), nnvm/replay pass layer (infer shape and type, graph-level optimization, e.g. op fusion, precompute), TVM compute/schedule/codegen layer, TVM runtime layer.

**Layer 1: framework parsing**
•    OperatorAttributeRequired: “Required attribute

[2019-03-03 05:48] JennyChou5 commented on #2279
@tqchen @yidawang  Could you provide feedback? Thinking to start from the frontend parsers.

[2019-03-04 02:35] hlu1 commented on #2692
I redid autotuning with the ARM winograd implementation in the master on a fixed frequency raspberry pi cluster (600 MHz, single threaded). The network is a unet with 3x3 convs (https://github.com/hlu1/tvm/blob/nnpack-precompute-ARM/unet/unet.py). Here is the result:
![tvm_winograd](https://user-images.githubusercontent.com/14827759/53707147-97313b00-3de2-11e9-999d-aeebda28596d.png)
The difference

[2019-03-04 03:03] liangdzou commented on #2717
+1

[2019-03-04 03:15] Laurawly commented on #2717
+1

[2019-03-04 04:02] tqchen commented on #2692
Would be interesting to see if we can improve the tvm's f32 winograd by reusing some of the nnpack's tricks(looking into the ukernel) . In the meanwhile, we can add the nnpack support to the tvm as external lib

[2019-03-04 04:57] hlu1 commented on #2692
PR : #2721

[2019-03-04 05:34] srkreddy1238 commented on #2717
+1

[2019-03-04 06:05] kazum commented on #2717
+1

[2019-03-04 08:00] vinx13 commented on #2717
+1

[2019-03-04 11:26] Ravenwater commented on #2717
+1

[2019-03-04 12:57] ricann commented on #630
I encounter the same question, how can I solve it? thank you~~

[code]

[2019-03-04 14:35] yzhliu commented on #2717
+1

[2019-03-04 21:39] tmoreau89 commented on #2717
+1

[2019-03-04 21:56] abergeron opened #2730 "[BUG] shared_ptr of ConstraintContext doesn't compile with clang"
The current master doesn't build on mac because of this:
 - shared_ptr on ConstraintContext: https://github.com/dmlc/tvm/blob/master/src/api/api_arith.cc#L112
 - destructor of that class is marked as throwing: https://github.com/dmlc/tvm/blob/master/include/tvm/arithmetic.h#L220

I've read that the C++ spec doesn't support destructors that throw for shared_ptr.  I don't know if that is true, but c

[2019-03-04 22:28] abergeron commented on #2730
By current master I mean eae76b3c3b189197f79b79fcccd6a2348640e6a0

[2019-03-04 22:31] abergeron commented on #2730
git blame says this PR introduced the failing code: https://github.com/dmlc/tvm/pull/2668

@tqchen

[2019-03-05 00:37] tqchen commented on #2730
fixed by #2731 Thanks for reporting and sorry for the trouble

[2019-03-05 00:37] #2730 closed

[2019-03-05 03:06] kevinthesun commented on #2692
@hlu1 If I understand correctly, In your use case you care about the performance for a variety of microarchitectures, given a single schedule template. If this is the case, we might want a different optimization target for autotvm.

[2019-03-05 05:31] jroesch commented on #2718
This is also blocking the #2546 PR.

[2019-03-05 06:11] antinucleon commented on #2717
+1

[2019-03-05 06:15] lixiaoquan opened #2735 "[RELAY] Tuple causes extra data copy"
I am implementing a customized relay op which is opaque, I found if a tuple is passed to an opaque op, it may cause extra data copy. Please check this code

[code]

relay code is

[code]

As you can see, there is *no* need to copy input0 in device side. But it generates 3 kernels and one of which is for copying input0 , I guess this is caused by '%1 = (%input0, %0)'

Could you please point out whe

[2019-03-05 06:15] hlu1 commented on #2692
We added template, 'winograd_nnpack', for autotvm, similar to 'direct' and 'winograd'.

[2019-03-05 06:19] makihiro commented on #2717
+1

[2019-03-05 06:20] hlu1 commented on #2692
One thing that I'm not quite sure of is how to handle fp16. For the 'winograd_fp16' implementation, the transformed weights are stored in fp16 format. For us it's fine because we transform the weights from fp32 to fp16 at runtime with C++. However, the results are incorrect if I test with python.

[2019-03-05 06:36] FrozenGene commented on #2692
Hi @hlu1 I have one question. If we use NNPACK FP16, whether it has correctness problem? Because our convolution's input / weight is FP32.

[2019-03-05 06:44] hlu1 commented on #2692
It depends on the application. There is accuracy drop with the winograd_fp16 implementation. We find it acceptable with most of our mobile CV models. It's not uncommon to have fp16 inference with fp32 weights, e.g., Apple's Metal Performance Shader library, which uses fp16 compute on GPU.

[2019-03-05 06:55] FrozenGene commented on #2692
@hlu1 In my option, I would suggest we have one option to control whether we turn on tvm.contrib.nnpack.ConvolutionAlgorithm.WT_8x8_FP16 during FP32 computation. Because we don't know what other people's requirement / application. Maybe they can not afford the accuracy drop.

Additionally, I am interested in FP16's performance. Because most of ARM CPU doesn't support FP16 directly (if I remember c

[2019-03-05 06:55] szha commented on #2469
If getting more contribution to the docs is also part of the goal, then it's worth thinking about how to shorten the feedback cycle. Currently in TVM, if people find an issue in the doc, they would need to do one of the following:
- feedback: open an issue here linking to the problem doc and describe the doc problem in words.
- fix: open a PR by first making a fork, then search and locate the prob

[2019-03-05 07:14] vinx13 commented on #2735
The copy is added in #2537 because current storage planner doesn't support inplace operations. A possible solution is to avoid making the tuple inside subfunction in op fusion, but this prevents fusing concatenate with previous ops.

[2019-03-05 07:21] mnboos commented on #2599
Any update on this?

[2019-03-05 07:55] hlu1 commented on #2692
How about having one template `winograd_nnpack_fp16` for the fp16 implementation and `winograd_nnpack_fp32` for the fp32 one? This way the users will have the option of turning fp16 on/off.
The performance benefit of fp16 comes from:
1) reduced memory bandwidth
2) better cache efficiency due to less memory footprint. Fp16 is used for input/output/kernel transforms
For most ARM CPUs that don't supp

[2019-03-05 09:14] FrozenGene commented on #2692
@hlu1 yes. I think `winograd_nnpack_fp16` and `winograd_nnpack_fp32` is ok. Could you update it in your PR #2721 too?

For NNPACK FP16. if CPU doesn't support FP16 arithmetic, NNPACK will use FP32 to compute (extend FP16 to FP32 and truncate it back to FP16) or else? If it is, I think I could understand FP16 has better performance and why it doesn't beyond FP32 much.

[2019-03-05 09:56] FrozenGene commented on #2715
I think we can do it in 0.6 in dev module but make sure runtime be compatibility with Python 2 in 0.6

And in 0.7, we make dev module / runtime module be Python 3.

I would recommend Python 3.5, we should do the safest choice.

[2019-03-05 19:20] ZihengJiang commented on #2718
I will try to fix this. Let's move the test case for now

[2019-03-05 19:20] ZihengJiang commented on #2717
+1

[2019-03-05 19:23] zhiics commented on #2718
FYI, I checked out the docker image and narrowed down to the following 3 files:
[code]

[2019-03-06 06:04] FrozenGene commented on #2512
Sorry for later reply. I haven't noticed this notification. In my opinion, I agree the base pass node should be lightweight, However, we should have one mechanism to allow the situations we haven't considered. i.e. we should make it stable but flexible. For example, if we want to add the meta information some day in the future, how will we handle this situation?

If we don't have `PassInfo`, how d

[2019-03-06 18:35] derisavi commented on #2583
Fixed in #2587 so closing.

[2019-03-06 18:35] #2583 closed

[2019-03-07 02:01] Youjk opened #2740 "how to get muti-output in tvm"
A Demo: E=A+B,F=E+A, there are two output E、F，and I want to return E、F。so I write a demo like this:
`

    shape = (10,1024)
    A = tvm.placeholder(shape, name="A", dtype="float16")
    B = tvm.placeholder(shape, name="B", dtype="float16")
    E = tvm.compute(A.shape, lambda *index:A(*index)+ B(*index), name = "E")
    F = tvm.compute(E.shape, lambda *index:E(*index)+ B(*index), name = "F")
    s

[2019-03-07 05:29] hlu1 commented on #2692
I'll update my PR to reflect this change.
Yes, NNPACK does fp32 compute when fp16 compute is not available (extend FP16 to FP32 and truncate it back to FP16 when computation is complete).

[2019-03-07 23:07] tqchen commented on #2512
Given suggestions by @FronzenGene, I also think it might makes sense to introduce PassInfo and encapsulate everything such as dependency, name level into it. In this way we don’t have to change signature as we introduce more data

@jroesch @zhiics

[2019-03-07 23:30] zhiics commented on #2512
Okay, let me add the PassInfo class. I am planning to just put the following info there:
[code]
Then we probably need to have `SetPassInfo(PassInfo)` and `GetPassInfo()` in the pass.

Anything to add or remove?

[2019-03-08 01:45] tqchen commented on #2512
Sub class will have a GetPassInfo() virtual function, which returns the info, we do not need the SetPassInfo function

[2019-03-08 02:00] zhiics commented on #2512
oops, I think I got it wrong. We don't need set, it will be part of mark, sorry.

[2019-03-08 02:08] tqchen commented on #2740
Please use https://discuss.tvm.ai/ for  questions

[2019-03-08 02:08] #2740 closed

[2019-03-08 02:08] tqchen commented on #2735
Please move general discussions to https://discuss.tvm.ai/

[2019-03-08 02:08] #2735 closed

[2019-03-08 05:10] icemelon9 opened #2750 "[TEST][FLAKY] test_dlpack"
Both #2749 and #2353 encountered seg fault error at test_dlpack.
http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-2749/2/pipeline
http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-2353/48/pipeline

cc @eqy , could you help look at this?

[2019-03-08 05:24] jroesch commented on #2623
We (@yongwww, @zhiics and I) will be providing support for loops and conditionals for the TensorFlow frontend soon.

[2019-03-08 05:34] FrozenGene commented on #2623
@jroesch Awesome. Using AOT relay runtime?

[2019-03-08 19:54] eqy commented on #2750
I will see if I can repro, otherwise we can thinking about disabling this test for now as it is not a critical part of the infrastructure.

[2019-03-08 23:17] eqy commented on #2750
@icemelon9 I am not able to reproduce the exact segfault on my machine, but I do see some tolerance errors (maybe ever few hundred invocations). Bumping `rtol` down to `1e-5` seems to be enough on my end---should we submit a PR for that in the meantime?

[2019-03-09 03:36] MarisaKirisame opened #2755 "[Relay] restrict the domain of logical operators on bool"
#2743

[2019-03-09 17:43] tqchen commented on #2750
Should be fixed by https://github.com/dmlc/tvm/pull/2759

[2019-03-09 20:58] #2750 closed

[2019-03-09 21:08] tqchen commented on #2659
@icemelon9  can we conclude and summarize the discussions?

[2019-03-09 21:13] tqchen commented on #2644
For cases as such, please directly send in a pull request to fix the issue

[2019-03-09 21:14] tqchen commented on #2638
Close due to inactive status, and uninstall guide was not as important

[2019-03-09 21:14] #2638 closed

[2019-03-09 21:15] tqchen commented on #2554
closed by https://github.com/dmlc/tvm/pull/2509

[2019-03-09 21:15] #2554 closed

[2019-03-09 23:00] RadjaHachilif opened #2762 "LSTM CPU"
Hello,
Does TVM have a CPU implementation for LSTM?

Thank you

[2019-03-10 00:47] tqchen commented on #2762
Please open a new thread in https://discuss.tvm.ai/

[2019-03-10 00:47] #2762 closed

[2019-03-10 02:53] sf-wind opened #2763 "Cannot find global function tvm.relay._save_param_dict"
Install TVM from source per https://docs.tvm.ai/install/from_source.html#build-the-shared-library.

go into python prompt. It is fine to:

    import tvm

But I cannot do:

    from tvm import relay

(venv3.6) [ ~/speech_synthesis]# python
Python 3.6.8 (default, Mar  9 2019, 08:09:59)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-28)] on linux
Type "help", "copyright", "credits" or "license" for more informa

[2019-03-10 04:18] sf-wind commented on #2763
when listing all global functions using list_global_func_names(), it seems the function is registered as: '_save_param_dict'. It doesn't contain "tvm.relay. prefix"

[2019-03-10 04:59] sf-wind commented on #2763
It seems the problem is the tvm version. I had an older version of tvm. But I tried to install the python package using method 1 and 2. But both got the same error.

However, if I ran the same import in tvm/build directory, I didn't get the error. It seemed that the correct tvm was used only in the build directory.

[2019-03-10 05:09] sf-wind commented on #2763
OK, the problem is that I need to run "make install" under the build directory, which is not specified in the instruction.

[2019-03-10 05:09] #2763 closed

[2019-03-10 07:20] yongwww commented on #2638
show up to say sorry for my delay since I had to work on other stuffs, it is in my todo list, will add it if nobody does

[2019-03-10 10:46] aneesh0 opened #2764 ""The following operators are not implemented: {}".format(missing_operators)) NotImplementedError: The following operators are not implemented: set([u'Abs', u'RandomUniform'])"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2019-03-10 10:46] aneesh0 opened #2765 ""The following operators are not implemented: {}".format(missing_operators)) NotImplementedError: The following operators are not implemented: set([u'Abs', u'RandomUniform'])"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2019-03-10 16:37] #2764 closed

[2019-03-10 16:37] tqchen commented on #2764
duplicate issue

[2019-03-10 16:37] tqchen commented on #2765
duplicate with #2591

[2019-03-10 16:37] #2765 closed

[2019-03-10 18:42] yongwww commented on #2644
@tqchen sure thanks.

[2019-03-10 19:28] tqchen commented on #2717
Thanks to everyone's participation, the vote has passed

[2019-03-10 19:28] #2717 closed

[2019-03-10 19:40] tqchen opened #2767 "[TEST][FLAKY] test_forward_lrn"
http://ci.tvm.ai:8080/blue/rest/organizations/jenkins/pipelines/tvm/branches/master/runs/818/nodes/236/log/?start=0

[2019-03-11 00:46] jroesch commented on #2685
In general we have been developing initially in Python and then moving core APIs to C++. I think moving more and more code into C++ and re-exporting via Python over time is generally good, and allows other languages to also expose core APIs.

[2019-03-11 01:15] Ravenwater commented on #2685
Since C++ is so much more expressive than Python particularly for numerical software, having a stand-alone C++ environment is much more productive for deep research in tensor processing, scheduling, and new arithmetic. The latter in particular is unpleasant with a Python interface as Python is lacking template support.

Once you have the core data structures and operators defined in the core, then

[2019-03-11 03:07] GalAster opened #2769 "[RELAY]Add rsqrt, exp(a,x) and log(b,x) operators"
I request to add `tvm.relay.op.tensor.rsqrt`

(and `tvm.relay.op.tensor.exponent`, `tvm.relay.op.tensor.logarithm`)

rsqrt(x) = 1/sqrt(x), but only on math.

considering numerical errors, it is a completely different situation

consider quantification the problem may be more serious

I don't know whether `power` has considered this

if so, just add `rsqrt` in `tvm.relay.frontend`

[2019-03-11 17:05] ajtulloch commented on #2628
This came up in some of my int8 work, so I put together a pretty minimal PR at #2776 which I believe addresses this (modulo renaming compute_flops to something more general). To @eqy's point, it's pretty straightforward to ignore indexing expressions, and IMO ignoring them is the correct thing to do for essentially all the use-cases we have. If we were looking at extending this functionality, anal

[2019-03-11 18:16] ajtulloch commented on #2769
It might be worth considering following Halide's distinction between fast_inv_sqrt (which maps to the approximate inverse sqrt functions available in vectorized formats on most ISAs) and inv_sqrt (the more numerically precise but expensive variant).

[2019-03-11 18:19] ajtulloch commented on #2623
@jroesch that's wonderful, very excited to see how that turns out :)

[2019-03-11 18:36] ajtulloch commented on #2651
FWIW we've got some experience with this kind of thing, and one observation is that you don't need a sophisticated calibration procedure — that is, simple L2-minimization (i.e. not L \infty i.e. min/max calibration) performs completely fine (on par/better than much more sophisticated algorithms). cf. https://github.com/pytorch/pytorch/blob/master/caffe2/quantization/server/norm_minimization.cc, et

[2019-03-11 18:46] #2535 closed

[2019-03-11 18:47] tqchen commented on #2535
Thanks, everyone for a great discussion

[2019-03-11 18:48] #2644 closed

[2019-03-11 19:55] #2628 closed

[2019-03-11 20:28] zhiics commented on #2623
@FrozenGene It uses the interpreter.
@ajtulloch We used something like "pattern matching" to identify the scope/execution frame a control flow op and converted them into Relay recursive call and If constructs. We will send out the PR soon.

[2019-03-11 21:57] tqchen commented on #2623
@zhiics @jroesch as per community tradition, it would be great to send out an RFC first to describe the proposal of such major change, before we do the PR

[2019-03-11 22:07] tqchen opened #2778 "[TEST][FLAKY] test_top_level4.greater"
http://ci.tvm.ai:8080/blue/rest/organizations/jenkins/pipelines/tvm/branches/PR-2756/runs/2/nodes/236/log/?start=0

[2019-03-11 22:08] tqchen commented on #2778
@srkreddy1238 can you look into it?

[2019-03-12 00:08] zhiics commented on #2623
@tqchen No worries. We will.

[2019-03-12 00:29] were commented on #2715
0.6 +1.
`pip` for Python2 will be fully deprecated next year, so I believe spurning Python2 would be the earlier the better.
Also, maintaining compatibility on both 2 and 3 is a waste of time.
Testing compatibility on both 2 and 3 is a waste of time.

[2019-03-12 00:56] tqchen opened #2782 "[DOCS] SSD doc: Move all into relay"
cc @kevinthesun by inspecting https://docs.tvm.ai/tutorials/frontend/deploy_ssd_gluoncv.html there were still unnecessary dependencies on NNVMv1, can you please send a quick fix to remove these?

[2019-03-12 01:16] tqchen commented on #2782
#2785

[2019-03-12 01:25] #2512 closed

[2019-03-12 01:36] tqchen opened #2786 "[TOPI][RELAY] Transpose aware Matmul"
So far topi's matmul do support transpose option on both sides, according to @abergeron , our matmul's external op version did not call into cuDNN's blas which can be faster than cublas on deep learning workloads. Notably, we also need to support transposed matmul for gradient and some other cases.

- [ ] Introduce matmul with transpose option into relay(support level=4) in parallel with dense.
-

[2019-03-12 03:23] lixiaoquan opened #2787 "[CODEGEN] Enhance OpenCL Generator to Support Conditional Generation that Preserves Type"
This code (simplified) can't be built with both NV OpenCL and llvm. Error is "error: call to 'max' is ambiguous"
[code]
It seems the type of the ternary operator is not unchar.

My current workaround is to always add a conversion for uint8 before tvm::if_then_else, if you think it's OK, I'll send a PR.

[code]

[2019-03-12 03:32] tqchen commented on #2787
Should we always convert then?

[2019-03-12 03:35] tqchen commented on #2767
@srkreddy1238 this seems also is related to tensorflow test. Could due to a too strict bound or random number near 0 in division, please try to see if you can send a fix

[2019-03-12 04:21] #2782 closed

[2019-03-12 04:36] wuzhiyu666 opened #2790 "【Docker/SGX】fatal error: inc/stat.h: No such file or directory"
When I followed the instruction(https://github.com/dmlc/tvm/tree/master/apps/sgx) to run the SGX demo with docker, I successfully pulled the docker image and entered the container, but when I use the `make -j4` command, I got a fatal error：
`fatal error: inc/stat.h: No such file or directory`
This makes me very confused, what should I do? @tqchen  @nhynes
Thank you!

[2019-03-12 04:49] tqchen commented on #2790
Please open a new thread at https://discuss.tvm.ai/

[2019-03-12 04:49] #2790 closed

[2019-03-12 05:03] lixiaoquan commented on #2787
It is in codegen_c, and I haven't found an easy way to distinguish between CUDA and OpenCL.

When the ternary operator is printed, we can't know whether it's a parameter of max().

And this issue should also apply to other functions like min().

Maybe we can override the handling of tvm::if_then_else in CodeGenOpenCL.

Is there any suggestion for an ideal solution?

[2019-03-12 05:04] nhynes commented on #2790
(although discuss.tvm.ai is the correct place for such questions, I'll post the following just in case anyone else looks)

It seems like the [include path](https://github.com/dmlc/tvm/blob/master/apps/sgx/Makefile#L23) isn't being set. Are you sure you used the included `cmake` invocation _exactly_? It should Just Work™. You might have an old version of ci-cpu in your docker cache. Try [clearing i

[2019-03-12 05:16] tqchen commented on #2787
yes an override is fine you can override codegen of call and then fallback to base

[2019-03-12 05:58] GalAster commented on #2769
Well, there may be some ambiguity in my description.

I am not referring to the trade-off between high speed and high precision.

My main point is that Relay/NNVM needs to keep as much semantics as possible as the highest level of TVM.

In addition to `rsqrt`, there are also no `exp(a,x)` and `log(b,x)` operators.

When `log2(x)` expand as `log(x) / log(2)` also lose precision and semantics

---

[2019-03-12 12:48] wuzhiyu666 commented on #2790
I have cleaned the cache, but It didn't work, it was still the same error. Moreover, I don't understand what you mean by " included cmake invocation exactly", I have posted my question on https://discuss.tvm.ai/
Thank you so much! @nhynes

[2019-03-12 17:21] tqchen commented on #2657
I can confirm there is an error locally, was due to a deleted version tag in /opt/rust/sgx , perhaps in upstream

[2019-03-12 18:11] junrushao1994 commented on #2715
0.6 + 1
Deprecation won't be a significant influence, because Python is merely just a frontend, by disabling which won't hurt deployment.

[2019-03-12 18:39] kevinthesun commented on #2715
0.6 +1
3.5 is a safe choice.

[2019-03-12 18:53] yongwww commented on #2715
0.6 +1

[2019-03-12 19:19] derisavi opened #2794 "[TVM][ARITH] Enhance BoundDeducer"
Consider the following reduced testcase:
[code]
The output is:
[code]
The expression in the two cases are mathematically equivalent, i.e., `a > b`, but because TVM expects the part of the expression that contains the target var (i.e., `a`) to be on the lhs, it cannot handle the first `DeduceBound` properly.

[2019-03-12 19:36] kazum commented on #2715
0.6 +1
Since we don't have enough python2 tests in our CI, some frontends already doesn't work well with python2.  Rather than fixing the problem, dropping the python2 support and refining codes with python3 features for 0.6 is much more constructive.

I prefer python 3.6, but 3.5 as a safe choice is also fine.

[2019-03-12 19:43] kevinthesun commented on #2685
Currently a lot of topi related optimization modules are in python, such as autotvm. We might want to gradually add corresponding C++ part, while these module are stable enough.

[2019-03-12 19:46] derisavi opened #2796 "[TVM] Loop unroller tries to unroll a loop with a non-constant loop count and asserts"
Consider the following testcase:
[code]
When we run this, we get the following error message:
[code]

The problem is that unroller tries to unroll a loop without checking whether the loop count is constant.

[2019-03-12 21:33] icemelon9 opened #2799 "[TEST][FLAKY] test_forward_leaky_relu"
http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-2749/6/pipeline

[2019-03-12 21:34] icemelon9 commented on #2799
@srkreddy1238 Could you help look at this?

[2019-03-12 21:38] tqchen commented on #2799
This should already have been fixed by the latest master

[2019-03-12 21:38] #2799 closed

[2019-03-12 21:39] tqchen commented on #2799
Was due to the upgrade of tensorflow in system and influx changes

[2019-03-12 21:40] icemelon9 commented on #2799
Got it. Thanks!

[2019-03-13 03:04] liangdzou commented on #2469
IMHO, I need two things to get started quickly.

1. how to use?
An example that uses almost 80% features of the platform (maybe we need **one for each platform**, such as cpu, opencl, cuda, meta). Currently, we actually have almost all of them, but one has to take a while to find a simple example for meta or fpga. **At least, we need a CPU only example.** For the employees from AI ASIC accelerator

[2019-03-13 03:15] liangdzou commented on #2469
@szha "edit button" will be very helpful.

[2019-03-13 05:14] HTelepathH opened #2802 "[BUILD]can't recognize llvm whem building"
I tried to build tvm with llvm on. But it can't recognize the include directory nor version informaiton.

my adjust in CMakeLists.txt in tvm
[code]

Errors when I generate the VS files:
[code]
I tried adding quotions on those error lines in ```FindLLVM.cmake```, it does hide the errors. But llvm are still not recognized, the errors popped out on the building stage in my Visual Studio, and I only g

[2019-03-13 06:07] junrushao1994 commented on #2469
I agree with @szha's points.

+1 for edit button
+1 for Disqus panel

BTW, I feel like gluon-nlp's [cli demo](https://gluon-nlp.mxnet.io) is super cool stuff that is nice to have.

[2019-03-13 07:53] mnboos commented on #2802
Notice:

[code]

Update your config.cmake and set:

[code]

[2019-03-13 07:54] mnboos commented on #2599
@tqchen I would appreciate some feedback.

[2019-03-13 08:48] srkreddy1238 commented on #2599
@mnboos some how I missed it for a while. Will check it today

[2019-03-13 11:19] vishwajit123 commented on #2536
Can anyone please point me to the solution to this issue in the community?

[2019-03-13 11:21] srkreddy1238 commented on #2536
git submodule update

[2019-03-13 11:50] vishwajit123 commented on #2536
In file included from /mnt/tvm/src/runtime/sgx/untrusted/sgx_module.cc:21:0:
/mnt/tvm/src/runtime/sgx/untrusted/./tvm_u.h:11:22: fatal error: inc/stat.h: No such file or directory
compilation terminated.
CMakeFiles/tvm.dir/build.make:5486: recipe for target 'CMakeFiles/tvm.dir/src/runtime/sgx/untrusted/sgx_module.cc.o' failed
make[2]: *** [CMakeFiles/tvm.dir/src/runtime/sgx/untrusted/sgx_module.cc

[2019-03-13 14:13] HTelepathH commented on #2802
Thank you, it solves my case, I was stupid to overlook that.

[2019-03-13 14:13] #2802 closed

[2019-03-13 14:57] srkreddy1238 commented on #2599
@mnboos  can you tell me the graph input shape (i.e shape for conv2d_1_input_0)?

[2019-03-13 16:20] derisavi commented on #2796
#2797 merged. Closing the issue.

[2019-03-13 16:20] #2796 closed

[2019-03-13 17:03] mjs-arm commented on #2536
See https://discuss.tvm.ai/t/docker-sgx-fatal-error-inc-stat-h-no-such-file-or-directory/1902/3

[2019-03-13 18:06] tqchen commented on #2469
I want to clarify that people can directly send a pull request to change the docs, without having to send an RFC issue. RFC is only necessary for new features

[2019-03-13 18:37] szha commented on #2469
@tqchen I didn't see the RFC process in the contribute guide. Maybe the RFC process (and that doc change doesn't require one) needs to be documented here: https://docs.tvm.ai/contribute/

[2019-03-13 18:56] tqchen commented on #2469
Agreed, that is something that would need to be properly documented, so far the decision of (whether RFC is necessary) is done by lazy consensus from committers

[2019-03-13 20:26] derisavi opened #2805 "[TVM] missing predicate in split loops when using cache_read/cache_write"
In #2249, we provided an example where TVM was not generating all the required predicates related to loop splitting. The example involved splitting a loop and then splitting the resulting inner loop. Moreover, the example didn't involve `cache_read` or `cache_write`. We fixed this in #2258.

Now we have encountered apparently the same problem when we add `cache_read` and `cache_write` to the examp

[2019-03-13 23:06] Laurawly commented on #2678
I can help writing tutorials on other gluoncv models such as Yolo if needed.

[2019-03-13 23:31] icemelon9 opened #2808 "[TEST][FLAKY] test_rfactor_argmax"
http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-2807/1/pipeline

I guess it's because two values are too close. Might be fixed by setting a random seed.

[2019-03-14 02:01] tqchen commented on #2808
cc @sxjscience can you take a look?

[2019-03-14 02:04] tqchen commented on #2678
Close this PR since most old docs are updated and #2783  New documents are  more than welcomed

[2019-03-14 02:04] #2678 closed

[2019-03-14 02:19] sxjscience commented on #2808
Yes, I'll take a look.

[2019-03-14 04:05] Huyuwei commented on #2682
@Rasterer The proposal sounds good to me. It will definitely make converting conv easier. I assume we can make it backward compatible by following the padding convention in pooling (1 value, or 2 values, or 4 values)?

[2019-03-14 05:48] jroesch opened #2810 "[RFC] Relay Dynamic Runtime"
# Putting the VM in TVM: The Relay Virtual Machine

We have previously introduced Relay, a new program representation,  which is able to represent and optimize a greater breadth of machine  learning programs. Unfortunately by supporting a more expressive set of programs we  introduced several new execution challenges. So far we have not provided a  production-ready solution to executing full Relay

[2019-03-14 05:54] jroesch commented on #2810
cc @tqchen @icemelon9 @wweic @zhiics @MarisaKirisame @junrushao1994 @abergeron @ajtulloch @antinucleon

[2019-03-14 06:16] zhiics opened #2812 "[RFC] Decompile TensorFlow Control Flow Primitives to Relay"
## Motivation

TVM currently focuses on models which are control-flow free. In order to support control-flow operations from other frameworks, we can map other framework’s control flow operators, such as `tf.while_loop`, to Relay expressions. We can represent these operations using a combination Relay’s branches and recursive function calls.

This RFC proposes conversion from TensowFlow (1.x) cont

[2019-03-14 06:18] zhiics commented on #2812
cc @tqchen @jroesch @icemelon9 @wweic @yongwww @srkreddy1238 @ajtulloch

[2019-03-14 10:21] liangfu commented on #2651
Can we have a hard-coded `quantile`-based simple & quick solution for this feature as a first step? Then more reliable solutions (either search-based, or learning-based) can be added later, so that we can implement this feature in a progressive way.

[2019-03-14 12:51] jackwish commented on #2469
Maybe starting by improving *inline comment style* documents? Many of them are only sentences built by five around words like example below. When I using these APIs, I really need to read the implementation detail to know what will happen :(
[code]

[2019-03-14 13:11] Ravenwater commented on #2810
I am not a big fan of stack machines because it creates a self-inflicted serialization constraint on the operands. So, why shoot yourself in the foot before you begin? I would rather see a large register abstraction for tensor operands, so that concurrent execution is readily analyzable as read/write hazards and reordering are directly visible to the scheduler.

Stack machines are unpleasant to do

[2019-03-14 15:29] XiaotaoChen opened #2813 "can't deploy ssd with gluoncv"
I tried to deploy ssd with gluoncv according the [tvm docs](https://docs.tvm.ai/tutorials/frontend/deploy_ssd_gluoncv.html). I ran the source code file. The error infos as below.
[code]
And here is the related code in `mxnet.py`:
[code]
the root of this error is that `sym` is a tuple instead of symbol. It seems like there is a minor mistake when fetching symbol from hybrid block model. But i don't

[2019-03-14 15:49] junrushao1994 commented on #2810
@Ravenwater What else do you propose if you don’t like stack-based VM?

[2019-03-14 16:35] tqchen commented on #2813
https://discuss.tvm.ai/t/cant-deploy-ssd-with-gluoncv/1916

[2019-03-14 16:35] #2813 closed

[2019-03-14 16:48] tqchen commented on #2810
Good discussions so far.  I think we want to de-couple the RFC into two components:

- (1) Runtime data structure and related instructions
   - Data structures set and primitive instruction (like Alloca) set a foundation for most of the implementations details, many of those are independent of the VM's implementation.

- (2) Implementation: stack vm / register based vm / directly compile into AOT(

[2019-03-14 17:08] tqchen commented on #2469
@jackwish it would be great if you can raise questions about the functions that you would like see improvements, contributions are more than welcomed

[2019-03-14 17:14] #2122 closed

[2019-03-14 17:15] tqchen commented on #2122
related #2810

[2019-03-14 17:15] #2212 closed

[2019-03-14 17:16] #2246 closed

[2019-03-14 17:17] icemelon9 commented on #2810
@tqchen It's not trivial to separate instruction to stack-unrelated and stack-related because it affects the calling convention. For example, invoke instruction assumes all the input tensors and return tensors are already pushed on the stack.

But I agree that we should have a debate on whether to go with stack vm vs register vm first.

[2019-03-14 17:17] Ravenwater commented on #2810
@jroesch @junrushao1994 To clarify the statement: don't use a stack to manage operands to work on. The stack manipulations to order operands and results for the instruction set is the culprit: that creates a serialization that has nothing to do with the algorithm to be executed, but everything to do with the resource constraints of the stack operators and virtual instruction set. To extract concur

[2019-03-14 17:27] Ravenwater commented on #2810
@icemelon9 my vote is to take the operand slots in the stack frame and map them to an abstract register file and operate on them with a register-based instruction set. This will make it easier to map the execution onto a traditional stored program machine with registers, direct execution pipelines, systolic arrays, and distributed data flow engines.

[2019-03-14 17:36] tqchen commented on #2810
I meant that while the calling convention(whether arguments should be on stack) could differ in register vs stack-based vm.  Anyway, we can also see if we can get a concrete proposal of a more "register-based" version.

[2019-03-14 17:38] Ravenwater commented on #2810
[Interpretable-SSA-virtual-machine.pdf](https://github.com/dmlc/tvm/files/2967745/Interpretable-SSA-virtual-machine.pdf)

[2019-03-14 17:41] ajtulloch commented on #2810
At a glance, I think this approach will work very well. It's very similar to what is used in libraries like PyTorch JIT, which try to solve a very similar problem, e.g. https://github.com/pytorch/pytorch/blob/47bf30661fb45f106e2b609495d82af463513b99/torch/csrc/jit/interpreter.cpp#L700-L769, etc.

[2019-03-14 18:19] zhiics commented on #2810
@Ravenwater I understand the difference between stack vs register based VM. But could you please be more specific about scheduling and parallelism in this context? I might miss something here. IMO, I think the most parallelism we could get should be from they way that we invoke the packed primitive functions, but that is oaky for the current design.

[2019-03-14 18:43] MarisaKirisame opened #2815 "[Relay][Discussion] What to do about Partial Pattern Matching in Relay?"
Relay pattern matching allow partial pattern - that is, some ADT might not be covered by the match.

Originally, we do not put much thought into it - relay throw a runtime error (in C++) if it come up, as we do not expect it to be used.

However, as of #2771 , function defined by partial pattern matching is entering the standard library (prelude).

We should provide a check to see if a pattern mig

[2019-03-14 20:56] Ravenwater commented on #2810
@zhiics A stack-based ISA defines the operands of its instructions relative to the position of top of stack. This simplifies the ISA because you don't have the addressing space/assignment of a register file. However, you also lose the ability to exploit concurrency between operators, as they are all serialize through the top two three positions of the stack.

When you think of many computational g

[2019-03-14 21:46] eqy commented on #2651
@ajtulloch Haha, I was about to say that we have independently discovered the same thing. There is some literature that seems to try some more complex (or efficient?) methods (e.g., https://arxiv.org/abs/1810.05488) but I am not sure that the results are better than just plain old mean-squared error.
@liangfu #2753 is a WIP to add part of the support for this; basically the remaining steps, at a h

[2019-03-14 22:31] ehsanmok opened #2818 "[TVM][RELAY] Incomplete quantize annotate"
I changed the `compile` function in [deploy ssd gluoncv](https://docs.tvm.ai/tutorials/frontend/deploy_ssd_gluoncv.html#sphx-glr-tutorials-frontend-deploy-ssd-gluoncv-py) tutorial to have default quantization pass

[code]

and then

[code]

failed with

[code]

1. How to fix the compilation for quantization?
2. Fix error handling of [`multiply_rewrite`](https://github.com/dmlc/tvm/blob/master/pyth

[2019-03-14 22:39] wweic commented on #2815
For item 1, I'd like to have exception in Relay as you said. Instead of crashing interpreter/VM(internal error), user should got an exception from interpreter/VM, meanwhile interpreter/VM stays healthy.

For item 0, do we need to have special syntax for partial match? Right now Relay accepts partial program, maybe just add proper warning message when we compile Relay program(for VM) or eval Relay

[2019-03-15 00:26] MarisaKirisame commented on #2815
Warning is acceptable, but it mean everytime prelude load it will generate warning unless turn offed.
Special syntax is not that hard, we can just have one called pmatch. The noise is minimal (or rather, I would say this is instructive, as it is very easy to see whether a match is partial or not)

[2019-03-15 01:12] wweic commented on #2815
If we agree to add exception in Relay, user can throw exception for clauses that aren't expected to match to avoid warning. Then we won't need `pmatch`. In general we should avoid partial match and alert our user of potential runtime exception, instead of suppressing the the warning. What do you think?

[2019-03-15 01:12] jroesch opened #2820 "[RELAY][BUG] Nonsensical AST"
This currently works and leads to bizarre behavior, personally I believe this should be forbidden.

[code]

[2019-03-15 01:13] jroesch commented on #2820
cc @slyubomirsky

[2019-03-15 01:55] liangfu commented on #2469
@jackwish Agree. Maybe add usage cases as examples in the comments would be helpful. When I start with something that I don't really know, I usually look into the `tests` folder and locate the code segments that calls the functions/classes. If we can put some brief code samples as `Examples` along with `Parameters`, it could be more helpful to understand what would happen.

[2019-03-15 02:29] kevinthesun commented on #2810
@Ravenwater Do you mean the current design has difficulty of handling operator level parallel execution, which is important for networks such as RNN?

[2019-03-15 02:59] tqchen commented on #2810
Some followup comments:

First of all, StackVM implementation do not necessarily ties into serial execution. Most of the deep learning framework has extra asynchronous scheduling engine, that executes these instructions asynchronously based on dependencies. This essentially a "unrolling" approach. In the case of traditional vm, because the operational unit is scalar, performing such kind of execut

[2019-03-15 03:03] MarisaKirisame commented on #2815
@wweic sounds good to me. @jroesch (private communication) dont want exception because it cause complication (IR, VM, concurrency, etc), and argue we should panic right now. I agree at this point. I think I will implement a checker, warn/error(both are pretty fine) for partial match, and provide C++/python library function for adding the default case.

[2019-03-15 03:04] wweic commented on #2810
I think we need to be specific about what are the *workloads* we would like to schedule for Relay and design for that.  From my experience looking at the opcodes generated by the Proof-of-Concept Relay VM, the most heavy lifting opcode is `InvokePacked`, which invokes a packed function that does some extensive tensor computation on some *device*. Majority of the remaining opcodes are for control f

[2019-03-15 03:07] wweic commented on #2815
Sounds good to me. When we need exception, we just swap the panic logic with throwing an exception.

[2019-03-15 03:12] tqchen commented on #2810
To be clear, we do want to think about how concurrency can be handled in each type of implementation. Concurrent execution does not have to be implemented now but should be considered in design scaffolding.

My last comment seems to mainly favor stack VM, given that there is also some amount of interest in register-based VM implementation.  I would recommend that we also have an alternative design

[2019-03-15 03:28] liangfu commented on #2469
On the other hand, I found there is `unittests` and `integration` tests available for Jenkins. However, code base in apps and tutorials are mostly not tested by Jenkins. To improve the quality of the code base with continuous development and integration, are we considering to add apps and tutorials into Jenkins test?

[2019-03-15 03:32] tqchen commented on #2469
tutorials and some of the apps(extension) are tested by Jenkins.

[2019-03-15 04:40] jackwish commented on #2469
@tqchen I will look into things to find where I may contribute some.
@liangfu I think code example is a good idea to help people know *how to use*, and TVM has many tutorials which the *inline document* can points to.
I intended to use that example for two aspects: Some APIs don't need the *one sentence style* document since the API itself is enough. On the other hand, some other APIs actually nee

[2019-03-15 05:50] vinx13 commented on #2818
@ZihengJiang we missed the case where lhs_kind is QInput and rhs_kind is None in multiply_rewrite

[2019-03-15 07:47] FrozenGene commented on #2810
I ever done one compiler translation from register-based to stack-based and also from stack-based to register-based too. They are differ in some ways, but I must to say,  according to my experience, I don't think it is the important factor we should care for this RFC. And for TVM, not everything is done in this VM (if I don't misunderstand) and we also have other schedule engine.

For me, this is

[2019-03-15 08:58] mjs-arm opened #2823 "[DOCKER] ubuntu_install_tflite.sh flatbuffers build failure"
Since 14/3/2019 ubuntu_install_tflite.sh fails due to build failure in flatbuffers.

The ubuntu_install_tflite.sh script checkouts out the head of flatbuffers and tries to build it.  Upstream flatbuffers commit: 3b23ff18ea27c6cac33c8211d405d57d4595db1a  "Made ToStringVisitor backwards compatible with older behavior." triggers the following build error:

/flatbuffers/include/flatbuffers/minireflect

[2019-03-15 10:13] mjs-arm commented on #2823
https://github.com/google/flatbuffers/issues/5238

[2019-03-15 12:35] Ravenwater commented on #2810
For (parallel) hardware accelerators, and in particular, parallel tensor processors, the hardware will have to do most of the scheduling. Memory allocation constraints are mostly for sequential stored program machines. For distributed data flow and PIM architectures the allocation must occur during execution typically just-in-time underneath the execution wavefront as it emerges in the machine.

I

[2019-03-15 16:47] kentkolze commented on #2823
Ah. Is there a known fixed version commit I could checkout in order to get a build working?

[2019-03-15 17:15] tqchen commented on #2823
cc @FrozenGene let us change the build script to use a stable version.

[2019-03-15 19:26] slyubomirsky commented on #2820
The Python bindings should be set up in such a way as to reject strings

[2019-03-15 19:36] slyubomirsky opened #2826 "[TVM][BUG] Conv2d_transpose error when running NNVM and Relay DCGAN benchmark"
I have been trying to compile and run the DCGAN benchmark in `nnvm.testing` and `relay.testing` on my local CPU and GPU and have gotten error like those in the stack traces below when running it on random input in either NNVM or Relay on GPU. I do not know what the underlying issue is but it seems to be related to the schedule for `conv2d_transpose`. Note that I have compiled TVM with CUDA enabled

[2019-03-15 20:13] kevinthesun opened #2827 "[Relay][PASS] CombineParallelConv2D generating new kernel and causing performance issue"
Since some developers have the similar issue, I open this issue to track the status of discuss topic https://discuss.tvm.ai/t/relay-alter-op-layout-pass-regression/1870/7. CombineParallelConv2D pass generates new workloads and in some cases cause performance regression. Another issue is the combination of this pass with AutoTVM. This pass might need to be done before AutoTVM is launched.

[2019-03-15 21:13] icemelon9 commented on #2810
Though most of parallelism happens in the packed function, it is still possible to execute two packed functions in parallel especially for inference in the cloud. However, to some extent, stack-based vm enforces certain orders when performing stack instructions. It potentially makes it harder to design an async executor.

One important goal for vm design and hardware-independent instructions is to

[2019-03-15 21:49] Ravenwater commented on #2810
@icemelon9 and to continue speaking in generalities to create simple dichotomies, recursion is bad for building parallel hardware execution engines, again due to the sequentialization semantics of the recursion.

For good scheduling of tensor compositions, you want the whole composition expression so that all the expansions (Kronecker products etc.) and contractions (dot, matvec, matmul) are visib

[2019-03-16 05:58] tqchen commented on #2279
Thanks for the RFC. Sorry I was a bit late in recommend due to my latest travels. Here are some comments to the proposal

- Let us start simple, while most of the proposal makes sense, there is always a risk of over-categorize, starting from front-end taxonomy makes sense
   - We can open new RFC for new Error categories when we start to need them.
- Do not use C++ to python callback to handle c++

[2019-03-16 06:08] tqchen commented on #2279
Would also like to see comments from other community folks @dmlc/tvm-committer

[2019-03-16 13:51] antinucleon opened #2832 "[Relay][Pass] AlterLayout is broken for Depthwise Conv"
AlterLayout pass lacks test for depthwise conv and is broken for depthwise conv

[2019-03-16 16:04] #2160 closed

[2019-03-16 18:39] jroesch commented on #2810
My personal opinion is we need to abandon modeling VMs as high-level versions of an ISA, and its implementation as micro-architecture. We are in a fundamentally different world for executing Relay programs. The VM is only the control plane, the data plane is the the computation contained in highly optimized kernels produced by TVM.

We *no longer* compute over scalars the lessons learned from buil

[2019-03-16 20:57] Ravenwater commented on #2810
@jroesch that is a good argument, and I can get behind that. I think I can see a path from the proposed VM structure to our domain flow world. (Domain flow is distributed data flow)

I do want to point out that in a distributed data flow environment there are no goto's as there isn't a globally addressable resource. Similarly, memory allocation transforms to resource reservation guarantees that oc

[2019-03-16 21:02] mjs-arm commented on #2823
The last tagged release is tagged v1.10.0 it dates back to Oct 2018 (flat buffers appears to do a release tag about every 6 months).  I can prep a patch to pin to v1.10.0

[2019-03-17 21:11] antinucleon commented on #2832
Fix: https://github.com/dmlc/tvm/pull/2806

[2019-03-17 23:18] jroesch opened #2837 "[RFC] Meta RFC: Use Github PR to do RFC"
As we move closer to being an Apache project I think we should consider updating some of our workflows to help increase discoverability and access to RFCs.

In the past I have been an active contributor to the Rust project which has a great system for managing and displaying RFCs. Instead of merely posting RFCs as issues, they keep a separate repo where RFCs are numbered and stored, see https://gi

[2019-03-18 00:22] tqchen commented on #2837
Overall there is a tradeoff between the agile development and how many steps we need create to introduce this process. This could be something that we eventually want, but I am not sure if it is something we want to do right now, would also love to see everyone's thoughts.

If we decide to adopt the new approach, I think the best time would be after a major release cycle. Apache's requirement is t

[2019-03-18 00:36] tqchen commented on #2279
I created https://github.com/dmlc/tvm/pull/2838 to provide some minimum scaffolds on the topic. One question being raised by @jroesch and @wweic is on whether should we provide a more constructive error constructor.

[code]

As demonstrated by the above examples. I personally prefer clear_throw style. The argument is that the code is quite clear about the error type and what is in the content of t

[2019-03-18 01:00] junrushao1994 commented on #2837
I feel that we could do this automatically using some kind of bot. Just post everything in GitHub issues in some predefined format, and ask the bot to archive it, or post it to dev@.

[2019-03-18 01:01] JennyChou5 commented on #2279
I agree clear_throw approached is easy to use for developers. However, the detailed error message might not be unified and can be generated error by typo. Vote for the second approach:
def _op_not_implemented(op_name):
        return OpNotImpelemented("Operator {} is not implemented.").format(op_name)
This way we can unify the error message and it could be easy for developers/users to follow. Of n

[2019-03-18 01:14] tqchen commented on #2279
I would like to point out that adopting clear_throw style does not prevent us to get a unified error message. We can encourage the unified format by introducing a standard "error message convention" (see  https://github.com/dmlc/tvm/pull/2838/files#diff-c89317db650ce6bced36dadc47755c5fR51) developers encouraged to copy and then edit. Usually, we can get to quite far by using copy-editing for such

[2019-03-18 01:15] yzhliu commented on #2837
my +0.6

@junrushao1994 I actually feel the most attractive feature is the ability to let people provide in-context suggestions.

While I also worry it might make process a little bit too heavy.

[2019-03-18 02:21] yzhliu commented on #2827
I think this pass can also be considered as a part of graph tuner.

[2019-03-18 03:16] jroesch commented on #2837
I agree it does add more process, but my feeling is we should be using RFCs for large features that are more process heavy anyways.

I have been writing 3-4 RFCs with different people the past few weeks and it is very hard to collaboratively iterate on RFCs right now. For example only people who are committer or above can directly edit other's issues and there are no tools for drafting or line spe

[2019-03-18 03:35] jroesch commented on #2810
I think it is important to remember this doesn't have to be the *only* way to execute Relay programs.
Users are free to design and implement others. It is hard to build a single abstraction that maps well to all possible hardware platforms.

Relay is still relatively high level and can be transformed into an IR subset free of a device's particular challenges, i.e by performing loop unrolling (whic

[2019-03-18 18:37] ehsanmok commented on #2837
+1 I've also suggested the same [here](https://github.com/dmlc/tvm/issues/2523#issuecomment-459825186) and current some RFCs are not really RFCs in a sense that they don't offer major features etc. I really think, the process should be defined more succinctly. Archiving them is really valuable for current and future contributors as well.

[2019-03-18 22:55] icemelon9 commented on #2810
@jroesch I agree with your argument that the VM design should be generic and allow different ways to implement an executor. But I have a different perspective on stack VM vs register VM. I think register VM is more general than stack VM in this sense.

For example, as @Ravenwater mentioned, it's easier to implement a dataflow executor from a register VM since registers naturally reveal the data de

[2019-03-18 23:23] Ravenwater commented on #2810
@jroesch Domain Flow is not Data Flow. Data Flow has no concept of space and time, just dependencies. Domain flow has a relative concept of space and time. Mapping onto a Domain Flow Architecture is akin to place-and-route, although computational graphs tend to be simpler and more structured than circuit graphs. The relationship between these two models of computation is that if you expand the com

[2019-03-18 23:34] yidawang commented on #2812
How should we embrace the control flow primitive changes introduced by TF 2.0? Should we worry about them later in a separated PR?

[2019-03-18 23:35] kevinthesun commented on #2827
@yzhliu Yes. Maybe we can add a call of this pass in autotvm before any other workload extraction/graph analysis is executed.

[2019-03-19 00:51] junrushao1994 commented on #2810
@Ravenwater I am fine with both stack VM or register vm, but sorry I am not an expert in FPGA stuff, and could not understand many of your concerns. Particularly, I have several questions.

First, what on earth is domain flow, could you define it in a more formal language? What do you mean by "a relative concept of space and time"?

Second, about your concern about recursion. From my point of view

[2019-03-19 03:19] tqchen opened #2845 "[TEST][FLAKY][NVPTX] test_topi_conv2d_nchw.test_conv2d_nchw"
- http://ci.tvm.ai:8080/blue/rest/organizations/jenkins/pipelines/tvm/branches/PR-2841/runs/1/nodes/235/log/?start=0
- http://ci.tvm.ai:8080/blue/rest/organizations/jenkins/pipelines/tvm/branches/PR-2844/runs/1/nodes/235/log/?start=0

This error also only happens when we introduced the new CI node with Titan X(pascal). Seems only happens in NVPTX, one possibility is too big workloads.

cc @masahi

[2019-03-19 03:22] tqchen commented on #2845
cc @icemelon9

[2019-03-19 03:54] masahi commented on #2845
ok

[2019-03-19 05:58] jnorwood commented on #2351
Hi,  I recently wrote some code to read in the tflite quantized examples  and translate them to nnef output.  Their operations are pretty similar to nnvm ops.  I translated the two mobilenets and the four inception models.  There's a cmake config that pulls down all the models and converts them.  Please feel free to use whatever you want from it.  I forked the NNEF Tools project, [https://github.c

[2019-03-19 06:22] #2787 closed

[2019-03-19 06:37] mnboos commented on #2599
According to https://lutzroeder.github.io/netron/ it's `float32[1,101,161,1]`

[2019-03-19 08:59] XiaolongMeng opened #2849 "[RELAY][FRONTEND][OP] support repeat in ONNX"
since it does not support tile op in onnx ,I write a convert, but it seems something wrong.

what I want to convert is
`query = simple_cat.repeat(1, 100, 1)`
which in pytorch.

what I add to onnx.py is
[code]

and add this to _get_convert_map

but when I run
`tvm_output = intrp.evaluate(sym)(inp, **params).asnumpy()`

It occurred errors.

so how can I fix this,thank you!

[2019-03-19 13:28] mjs-arm commented on #2657
@tgchen can you elaborate a little more detail on the tag you mention above?

[2019-03-19 14:13] srkreddy1238 commented on #2599
@mnboos
#2850 work fine for this model.
BTW, I checked with relay instead of NNVM. I will back port the same to NNVM later.

Here is the sample code
[code]

[2019-03-19 16:44] nhynes commented on #2657
I'm working on this literally right now. I'll post back shortly! Super sorry for the long delay.

[2019-03-19 17:22] yongwww commented on #2812
@yidawang thanks for pointing it out. The rfc here is mainly for TF1.x, it works for graph of TF2.0 too. The changes of primitives in 2.0 is for tf execution, fortunately, the generated python function won't have control flow primitives in it anymore, it is relatively easy to handle with relay. We will add the support once 2.0 get released officially.

[2019-03-19 17:23] Ravenwater commented on #2810
@junrushao1994

Here is the academic research background:
Domain Flow and Streaming Architectures: https://ieeexplore.ieee.org/document/145479

Domain Flow Architectures are basically direct execution structures for systems of affine recurrence equations after the seminal work by Karp, Miller, and Winograd on the characterization of concurrency of parallel algorithms based on uniform and affine de

[2019-03-19 17:25] Ravenwater commented on #2810
@junrushao1994 There is also a new strain of tensor composition scheduling that is based on the Mathematics of Arrays (MoA) from Lenore Mullen

https://arxiv.org/abs/0907.0796
Tensors and n-d Arrays:A Mathematics of Arrays (MoA), psi-Calculus and the Composition of Tensor and Array Operations

[2019-03-19 17:50] nhynes commented on #2657
Ehh. This one was an unfortunate case of rust nightly being unstable (go figure). `rustfmt` 1.0.1 used APIs that changed since the nightly with which it was originally built. Fortunately, the [fix](https://github.com/dmlc/tvm/pull/2852) is simple. Thanks for reporting this!

[2019-03-19 18:34] #2657 closed

[2019-03-19 20:51] ehsanmok commented on #2818
@ZihengJiang any good news on this?

[2019-03-19 21:42] tqchen commented on #2715
Seems we are converging toward drop python2 in 0.6 the cycle, in terms of versions perhaps we can start by requiring 3.5

[2019-03-20 00:48] masahi commented on #2845
I can't reproduce this on GTX 1070 ti + LLVM 6.0. All tests pass on my box.

We had a similar issue when AutoTVM for GPU was introduced (see [here](https://github.com/dmlc/tvm/pull/1638#issuecomment-418557935)). Some tests failed only on NVPTX, so they are [disabled](https://github.com/dmlc/tvm/blob/master/topi/tests/python/test_topi_conv2d_nchw.py#L109).

[2019-03-20 02:42] vinx13 commented on #2818
Fix: #2848

[2019-03-20 04:05] tqchen commented on #2659
I  guess the conclusion, for now, is to keep things as it is and use explicit casting

[2019-03-20 05:43] Hkathuria opened #2859 "[Opencl][ONNX] Failing to Compile the ONNX model at optimisation level greater than 0 on opencl"
Hi @tqchen ,

I am trying to compile and ONNX model with target opencl ON nnvm.

It runs fine at opt_level = 0. But at opt_level =1, 2, 3 it gives the error as below.

File “sface_nchw_trail1.py”, line 64, in
graph, lib, params = nnvm.compiler.build(sym, target, shape_dict, dtype_dict, params=params)
File “/home/ubuntu/tvm_opencl/tvm/nnvm/python/nnvm/compiler/build_module.py”, line 306, in build
g

[2019-03-20 06:09] icemelon9 commented on #2659
Yes, I agree that we should just keep the explicit casting.

[2019-03-20 06:09] #2659 closed

[2019-03-20 07:21] XiaolongMeng commented on #2849
emmm, I find what's wrong...It's the input shape, it must match the input name, I use 1,2,3, but in onnx,it's input.1, input.2.....  so,maybe I can post a PR? @tqchen

[2019-03-20 07:36] #2832 closed

[2019-03-20 10:06] merrymercy commented on #2740
try
[code]

This can get the correct IR, but there maybe some redundant loads.

[2019-03-20 12:20] XiaolongMeng commented on #2428
I simple del CHECK_EQ... It works find...

[2019-03-20 18:54] tqchen commented on #2859
Please open a new thread in http://discuss.tvm.ai/

[2019-03-20 18:54] #2859 closed

[2019-03-21 02:07] FrozenGene commented on #2428
@XiaolongMeng I think you could make a PR. That CHECK_EQ shouldn't be there.

[2019-03-21 05:28] myproject24 opened #2869 "TVM module deployment problem."
@tqchen
Hi,

I tried to deploy compiled tvm module i facing problem not able to load module it gives below error, it fails in CHECK.
**Error:**
[10:53:41] cpp_deploy.cc:61: Verify dynamic loading from test_addone_dll.so
terminate called after throwing an instance of 'dmlc::Error'
  what():  [10:53:41] cpp_deploy.cc:17: **Check failed: f != nullptr**

Stack trace returned 6 entries:
[bt] (0) ./test

[2019-03-21 06:31] eqy commented on #2869
Since this is a support issue, please open a corresponding thread @ discuss.tvm.ai.

Thanks!

[2019-03-21 06:31] #2869 closed

[2019-03-21 13:15] WadeWuu opened #2871 "Parsing error, when I install tvmrpc-release.apk in my android phone."
I have not modifyied the tvm4j dependency declare in app/build.gradle. I just use gradle to build directly. I built successfully.
![image](https://user-images.githubusercontent.com/35893383/54754244-05b52c00-4c1e-11e9-943a-20056ed48673.png)

And then I dev_tools/gen_keystore.sh and dev_tools/sign_apk.sh to get the tvmrpc-release.apk.

However, when I install tvmrpc-release.apk in my android phone,

[2019-03-22 00:15] hlu1 opened #2874 "[TEST][FLAKY][TOPI] test_topi_depthwise_conv2d.test_depthwise_conv2d"
[code]

http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-2873/1/pipeline

[2019-03-22 06:59] jinfagang opened #2876 "[USE] errors when using tvm c++: fatal error: dmlc/io.h: No such file or directory"
Obviously, this is a lacking of that package, but there is no where for users to no which this files comes from and install which package. Would it be better to add it as third party?

[code]

[2019-03-22 07:02] srkreddy1238 commented on #2876
@jinfagang
Did you use ```--recursive``` while git clone ?

BTW, you may rise these general issues @ https://discuss.tvm.ai/

[2019-03-22 09:16] #2876 closed

[2019-03-22 22:42] ehsanmok commented on #2818
@vinx13 thanks! now there's this issue quantizing "yolo3_mobilenet1.0_coco" loaded from gluoncv:

[code]

[2019-03-23 04:35] vinx13 commented on #2818
@ehsanmok I also met this before. We need to quantize all fields in case that there are float fields in concat. I will make a pr soon.

[2019-03-23 17:35] #2874 closed

[2019-03-23 17:36] tqchen commented on #2874
This was due to caches of pickle of memoized files, has been fixed by cleaning up the cache in the CI

[2019-03-23 17:37] tqchen commented on #2871
Please open a new thread on https://discuss.tvm.ai/

[2019-03-23 17:37] #2871 closed

[2019-03-24 00:27] #2237 closed

[2019-03-24 01:25] MarisaKirisame opened #2884 "[Relay][RFC] Improve testing infrastructure of Relay"
As an implementor of multiple passes in Relay, I had noticed that we have far too little test case.

Most test_pass_*.py do not test for all program construct. For example, test_pass_dead_code_elimination do not test about adt, or test_pass_fuse_ops do not test about closure and reference. I had looked into each file, and almost all of them are 'incomplete' in this sense.

The short and obvious an

[2019-03-24 02:40] slyubomirsky commented on #2884
The test code has a lot of repetition and I am strongly in favor of refactoring existing tests (some of which show a fair bit of bitrot) to use common libraries. Testing error cases would also be a good thing to have shared infrastructure for.

[2019-03-24 03:18] zhiics commented on #2884
+1 for refactoring.

BTW, we probably also need to have some discussion about adding some regression tests in CI pipeline because some passes could noticeably affect perf. But this can be a separate issue.

[2019-03-24 06:00] tqchen commented on #2884
Realistically, infrastructure is only one way to help making better regression tests but cannot ever replace regression tests.

We do need and should write more testcases in the meanwhile :)

[2019-03-24 06:23] srkreddy1238 commented on #2884
Can we add weekly builds for end to end test cases which takes long hours ?

[2019-03-24 11:30] Ravenwater commented on #2884
+1 @zhiics Performance regression testing for compiler algorithms is essential. Too many places where a bad local decision can take the whole system down, and trying to reconstruct these cases two months after they were introduced is a waste of good engineering resources, better allocated to enhancing features.

[2019-03-24 17:11] zhiics commented on #2812
closed by #2830

[2019-03-24 17:11] #2812 closed

[2019-03-24 19:50] nhynes opened #2887 "[RFC][SGX] Use Fortanix EDP instead of rust-sgx-sdk"
(WIP PR: #2885)

**tl;dr**: The Rust compiler now has support for an SGX target, so users can make their own enclaves using the unmodified TVM Rust runtime. In other words, *TVM no longer needs to explicitly support SGX*.

The current TVM SGX infrastructure is built on [baidu/rust-sgx-sdk](https://github.com/baidu/rust-sgx-sdk). The proposal is to replace r-s-s with [fortanix/rust-sgx](https://git

[2019-03-25 00:45] jroesch commented on #2810
The implementation of the hardware is not of interest to the high-level Relay program all Tensor to Tensor functions are black box. They can be implemented anyway you want, in C++, in TVM, or as a hardware accelerator primitive. If you want to map a subset of the program down to this hardware you will have to unroll it, which is required by most fixed-function hardware. You can then replace the un

[2019-03-25 01:55] ajtulloch opened #2890 "[RELAY][PASS] Make Fusor to handle split gracefully"
Hi folks,

A common pattern in LSTM/GRU-style cells is a structure like (for simplicity):

[code]

Normally when implementing this in Relay, we'd expect that graph_fuse would fuse this entire sequence (matmul + split + sigmoid/tanh/exp/add/mul) into a single function, as that's entirely reasonable expectation and generates the highest performance code.  That is, we expect:

[code]

 Instead, Relay

[2019-03-25 01:58] tqchen commented on #2890
The problem has something to do with the tuple handling, in particular, wrt to the split, which we do not do too well so far, I agree that this should be handled more gracefully.

[2019-03-25 01:58] tqchen commented on #2890
cc @masahi @kazum who might be interested in this as well.

[2019-03-25 02:08] ajtulloch commented on #2890
Thanks @tqchen. For reference, something like this:

[code]

Expected IR:

[code]

Actual IR:

[code]

is a test case that I believe should pass if this improvement is implemented.

[2019-03-25 02:15] tqchen commented on #2890
Related, previously concat was not properly handled and was fixed by this PR https://github.com/dmlc/tvm/pull/2187 likely we need similar thing for split

[2019-03-25 02:35] jroesch commented on #2810
I posted a draft PR of the VM so everyone can check it out, provide feedback, and play with the prototype I discussed. See #2889. I'll be polishing it over the next few days.

[2019-03-25 02:59] masahi commented on #2890
Ok, this is my favorite topic. I can work on this

[2019-03-25 03:13] srkreddy1238 commented on #2823
@mjs-arm this issue look resolved. Can we close ?

[2019-03-25 03:34] #2823 closed

[2019-03-25 03:38] tqchen commented on #2890
We might also want to confirm if the current low-level topi layer already allows the generation of the corresponding fused kernel.

[2019-03-25 03:42] masahi commented on #2890
I dont expect we can fuse dense with split in our implementation.

[2019-03-25 04:01] tqchen commented on #2890
The split can at least be fused into the later stages of element-wise ops. To fuse split into dense, we might want to think a bit deeper about changing some of the fusion rule, in the meanwhile, we should work to enable that in topi level

[2019-03-25 13:43] Ravenwater commented on #2810
@jroesch your argument is better than my argument, and I certainly subscribe to the power of simplicity. Hence, I will adapt and learn from your stack-based VM. Thank you for the thoughtful articulation of the pros and cons, and recording it in the development stream. This is excellent work.

[2019-03-25 18:41] derisavi opened #2894 "[TVM]constant folding for division and mod are"
(Pasting the bug report from https://discuss.tvm.ai/t/integer-constant-folding-for-division-and-mod/2008) My understanding is that TVM/HalideIR uses truncated division/mod, unlike Halide that uses Euclidean division/mod. Nevertheless, TVM uses div_imp (imlementation below) to do constant folding for division. Seems like this implementation is coming from Halide source code. This seems like a bug t

[2019-03-25 18:44] derisavi commented on #2894
Closing this as I mistakenly opened this in TVM. I meant to open it in HalideIR repo (https://github.com/dmlc/HalideIR/issues/53). My apologies.

[2019-03-25 18:44] #2894 closed

[2019-03-25 23:15] masahi commented on #2890
@tqchen I'm puzzled by the usage of TupleGetItemNode. In [src/relay/pass/fuse_ops.cc](https://github.com/dmlc/tvm/blob/master/src/relay/pass/fuse_ops.cc#L263), we have a visitor which takes TupleGetItemNode, and continues visiting the supposedly inner tuple node.
[code]
But it looks like the visitor does not visit the tuple node after visiting TupleGetItemNode above ([this function](https://github

[2019-03-25 23:40] ajtulloch commented on #2890
FWIW I realized this also introduces some interesting new ideas for scheduling. Normally in our existing frameworks we do stuff like batching the entire gate computation into a single X * k * D gemm (for k = 3 for GRU, 4 for LSTM, etc).

This has the problem that (once you can fuse with split), that to compute the gate values you inspect at D-strided locations in the output, and that needs some so

[2019-03-26 04:52] tqchen commented on #2890
@masahi in the case of TupleGetItem, the Call will return a value with TupleTyype, in our current case, it updates tuple with opaque which cut off the graph(this was the old behavior). We might be able to generalize this like the way we support concat

[2019-03-26 12:02] mjs-arm opened #2897 "[RUNTIME][OPENCL] Make OpenCL runtime Compatible with OpenCL2.0"
Build opencl fails with:

tvm/src/runtime/opencl/opencl_device_api.cc:278:9: error: ‘_cl_command_queue* clCreateCommandQueue(cl_context, cl_device_id, cl_command_queue_properties, cl_int*)’ is deprecated [-Werror=deprecated-declarations]

The clCreateCommandQueue API is deprecated in OpenCL2.0.

Possible solutions:

1) Switch to clCreateCommandQueueWithProperties

2) Define  either we need to:
#de

[2019-03-26 15:35] derisavi opened #2898 "[TEXPR][PASS] Loop distribution pass generates incorrect code"
With the following input DSL:
[code]

The following is the output of first print statement. Code is correct.
[code]

The following is the output of the second print statement. Code is incorrect in that in the second `produce C` only 10 (instead of 16) elements of `A` are copied to `C`.

[code]

[2019-03-26 16:12] tqchen commented on #2898
Thanks for reporting this, we should fix this asap. Let us see if it is caused by some of the recent changes https://github.com/dmlc/tvm/commits/master/src/pass/loop_partition.cc or was just something we overlooked.

[2019-03-26 16:14] tqchen commented on #2897
cc @kazum , likely we can detect the OpenCL version in macro and use the new API(it is not yet available in old version of the API).

[2019-03-26 16:18] derisavi commented on #2898
I'm working on a fix now. In addition to this problem, I'm trying to fix general problems that I have found in the code as well. I will submit a PR as soon as I have it ready (likely in the next day or two).

To answer your question, I don't know whether this has been caused by recent changes in loop_partition.cc or not.

[2019-03-26 16:37] tqchen commented on #2898
Please also check if it has something to do with the fact that high-level produce consume pattern is involved, i.e. if we can reproduce the same error using tvm.lower

[2019-03-26 20:02] #2692 closed

[2019-03-26 21:32] jroesch commented on #2890
@masahi thanks for taking point on this 👍

[2019-03-26 23:52] eqy opened #2903 "[RPC] Make RPC fork safe on macOS?"
(Observed On macOS 10.14.3)
RPC seems to work fine when it is just a single process (e.g., in simple test cases such as `android_rpc_test.py`).

We currently use RPC for AutoTVM tuning, and we fork a different process for each measurement for parallelism/robustness. However, this seems to break with something like
[code]

`export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES` seems to be a workaround; f

[2019-03-26 23:56] eqy commented on #2903
CC @antinucleon @tqchen

[2019-03-27 01:02] ajtulloch commented on #2903
Yeah, we (@hlu1 @antinucleon) noticed some bizarre issues in the new OS X version after the Facetime bug update (including a segfault deep inside the OS X networking stack). I wonder if CPython needs this block to be fixed: https://github.com/python/cpython/blob/8b9dbc017a190d13f717e714630d620adb7c7ac2/Modules/socketmodule.c#L220-L227.

Alternatively, passing numerical addresses directly avoids go

[2019-03-27 02:33] tqchen opened #2907 "[COMMUNITY][RFC] Transition to Apache"
Thanks to everyone's participation, [TVM Joins Apache](https://tvm.ai/2019/03/18/tvm-apache-announcement.html) as an incubator project. This is a public thread to list some of the things we should know about the transition to Apache and possible discussions.

## What to Anticipate

Here are transition steps what will happen next
- PMC move to private@tvm.apache.org (already done)
- PMC invite all

[2019-03-27 02:34] tqchen commented on #2543
See https://github.com/dmlc/tvm/issues/2907 for transition note

[2019-03-27 02:34] #2543 closed

[2019-03-27 02:43] tqchen commented on #2907
https://github.com/dmlc/tvm/pull/2906

[2019-03-27 04:44] haojin2 opened #2910 "[Relay][OP] Add comparison operator overloading"
Environment: Ubuntu 18.04
Python Version: Python 3.6.7
Minimal Reproduction Script:
[code]
Error:
[code]

[2019-03-27 05:41] tqchen opened #2911 "[TEST][TENSORFLOW] Cache the Downloaded File"
So far the model files used in the TF end to end tests re-download the file in each test run.
This causes the test execution to be slow. Eventually, the test server can be blocked by the place that hosts the data-source.

We need to change the implementation to cache to local and only re-download the file if necessary.

cc @srkreddy1238 @icemelon9

[2019-03-27 05:49] tqchen commented on #2911
http://ci.tvm.ai:8080/blue/rest/organizations/jenkins/pipelines/tvm/branches/master/runs/896/nodes/236/log/?start=0

[2019-03-27 05:58] tqchen commented on #2911
A quick possible solution: instead of download, have a util to do a lazy git clone and checkout of the data repo and get the file there

[2019-03-27 06:59] Youjk opened #2912 "a bug about compute_inline"
case:
`

    A = tvm.placeholder(shape, name="A", dtype=inp_dtype)
    B = tvm.placeholder(shape, name="B", dtype=inp_dtype)
    C = tvm.compute(A.shape, lambda *index:A(*index)+ B(*index), name = "C")
    def _compute(*index) :
        return C(*index) * B(*index), C(*index) + B(*index)
    F,E = tvm.compute(A.shape, _compute, name = "F")
    sch = tvm.create_schedule([F.op, E.op])
    AL = sch.c

[2019-03-27 08:23] jroesch commented on #2769
`exp` should be available as `power` in TVM, we are missing log and rsqrt though. Someone is welcome to add them, there is a tutorial on adding new operators for anyone who is interested https://docs.tvm.ai/dev/relay_add_op.html.

[2019-03-27 13:11] zhyj3038 commented on #739
same problem

[2019-03-27 17:51] icemelon9 opened #2915 "[RFC] Register Relay VM design"
# Register VM Design
Current Relay VM RFC (#2810) proposes stack-based VM design which uses push and pop to maintain a unified stack. Though the design itself is simple to implement, it is cumbersome in tasks such as dataflow analysis and enforces certain orders in the execution.

I propose a register-based VM design as an alternative design. The main difference is that register-based VM uses regi

[2019-03-27 17:55] icemelon9 commented on #2915
I proposed an alternative VM design using registers instead of stack. We can discuss and compare which one works better.

cc @jroesch @tqchen @wweic @zhiics @MarisaKirisame @junrushao1994 @abergeron @ajtulloch @antinucleon @Ravenwater

[2019-03-27 18:30] Ravenwater commented on #2915
In the long tradition of competitive engineering, let's develop both VMs concurrently. That way we will generate actual engineering metrics of the difference between a stack-based and a register-based VM. The engineering dependencies are too complex to productively discuss without actually going through the implementation. The arguments that @jroesch presented, i.e. the stack VM simplifies the ins

[2019-03-27 21:02] tqchen commented on #2915
Thanks for the proposal. I think we can use more discussion here. To make progress, it is good trying to divide the argument by points, so we can agree on that.

For example, so instead of saying: register vm allows data flow discovery, but dataflow discovery don't have to be done at the VM level. We break it into two points:

- 1) Register vm allows easier dataflow discovery
- 2) Dataflow paralle

[2019-03-27 21:24] kazum commented on #2897
I think we cannot detect the OpenCL version statically - we need to query it with the OpenCL APIs.  Maybe, it's possible to detect the version in cmake and define an appropriate macro.

Anyway, there are still many OpenCL platforms which doesn't support OpenCL 2.0.  Defining CL_USE_DEPRECATED_OPENCL_1_2_APIS looks good for now.

[2019-03-27 21:28] tqchen commented on #2897
By search around i have found ```__OPENCL_VERSION__ ```, not sure if it is part of standnard

[2019-03-27 22:20] kazum commented on #2897
Is `__OPENCL_VERSION__` only available in OpenCL kernel code?  https://www.khronos.org/registry/OpenCL/sdk/2.1/docs/man/xhtml/preprocessorDirectives.html

I searched the macro in the official OpenCL headers (https://github.com/KhronosGroup/OpenCL-Headers), but couldn't find it.  Even if it is defined there, the supported OpenCL version is up to the target device, IIUC.

[2019-03-27 23:39] srkreddy1238 commented on #2911
I will send a PR soon on this

[2019-03-27 23:52] tqchen commented on #2911
cc @icemelon9 said he is looking into it, perhaps you can coordinate

[2019-03-27 23:54] icemelon9 commented on #2911
@srkreddy1238 I'm looking into this issue now. If you've already done something, go ahead and just let me know. Otherwise, I can work on it.

[2019-03-27 23:58] srkreddy1238 commented on #2911
Great. Please proceed. I will help in review

[2019-03-28 06:46] kaishijeng opened #2918 "issues with deploy_ssd_gluoncv.py"
2 issues with deploy_ssd_gluoncv.py:

1) ssd_512_resnet18_v1_voc doesn't exist in the model zoo
2) Run time for ssd_512_mobilenet1.0_voc is very slow compared with mxnet framework for model on rk3399 platform:

tvm: 1.5sec
mxnet: 40ms

Any idea why there is such a big gap of inference time?

[2019-03-28 11:12] tqchen commented on #2918
Please open a new thread in discuss.tvm.ai

[2019-03-28 11:12] #2918 closed

[2019-03-28 17:57] peter197321 opened #2920 "TVM on yocto"
is there a possiblity to have TVM on Yocto Linux? Does it make sense? or any plan for it?

[2019-03-28 22:18] ajtulloch commented on #2903
@eqy do you have a simple local-only reproduction that works? IIRC setting `LocalExecutor(..., do_fork=False)` was an alternative workaround in this case, but it would good to have a local-only repro so we can a) send a bug to Apple, b) see if these proposed fixes actually fix the problem that you're observing.

[2019-03-29 02:11] tqchen commented on #2920
Please open a new thread in discuss.tvm.ai

[2019-03-29 02:11] #2920 closed

[2019-03-29 02:12] #2911 closed

[2019-03-29 13:11] FrozenGene commented on #1585
@kevinthesun The performance data using auto tuning or not? According comments, seems we don't apply, wish to update the performance data.

[2019-03-29 21:45] hetong007 opened #2924 "TVM OpenCV Compatibility"
I am recently trying to test GluonCV models with TVM deployment, and I met an unexpected performance issue.

Specifically I try to run a CV model with input from frames in a video. I use OpenCV to read each frame.

## OpenCV is fast

Here's a piece of code that reads each frame and switch the Blue and Red channels:

[code]

The output should be around **1~3 ms** per cycle. This is fast as expected

[2019-03-30 02:00] tqchen commented on #2924
I am not sure if we should mark this as a bug or developer question that we should look into. This really depends on whether this issue is actionable or not. At this moment I cannot think of a concrete actionable item.

Please consider open a new thread on https://discuss.tvm.ai/ under development category, so we can get more discussion going on, and circle back as issue if we have concrete action

[2019-03-30 02:36] hetong007 commented on #2924
Good suggestion. I have posted it at https://discuss.tvm.ai/t/tvm-opencv-compatibility-issue/2057

[2019-03-30 07:58] starimpact opened #2930 "how to implement high performance Affine Transform in AI core of Huawei with tvm ?"
how to implement high performance Affine Transform in AI core(called D-card) of Huawei with tvm ?

[2019-03-30 12:51] merrymercy commented on #2930
Please use the forum https://discuss.tvm.ai/ for general questions.

[2019-03-30 12:51] #2930 closed

[2019-03-30 13:48] merrymercy commented on #2912
Could you send a patch?

[2019-03-30 18:43] tqchen commented on #2915
Some brain dumps from my side.

- Allocating a new frame for each function call can be not quite friendly for deep recursive calls.
  - Possible alternative: simply use the stack as registers, e.g. the register number points to an offset to the current stack pointer
- SSA vs register reuse
  - SSA is easy to generate but can need a lot of registers, which may not bad for deep recursion
  - Registe

[2019-03-30 23:27] MarisaKirisame opened #2931 "[Relay][RFC] FuseOps and Tuple"
After some consideration I think #2914 is not the best way to support tuple in fusion.
0: it could handle tuple of tuple, it is the relay interpreter that is incorrect (it didnot recursively fset, but instead assume it is either tensor or tuple of tensor).
1: it should not care about reference at all!
as operator accept recursive tuple of tensor, if there is reference in the code, it will never be

[2019-03-30 23:27] MarisaKirisame commented on #2931
@masahi @tqchen

[2019-03-31 16:38] tqchen commented on #2767
http://ci.tvm.ai:8080/blue/rest/organizations/jenkins/pipelines/tvm/branches/PR-2934/runs/1/nodes/236/log/?start=0

[2019-03-31 16:38] tqchen commented on #2767
@srkreddy1238 can you look into it and resolve the problem?

[2019-03-31 16:46] tqchen commented on #2588
Followup discussion with @sgrechanik-h  on memoization.

At the current moment, I have decided instead to avoid memoization as much as possible mainly because memoization can cause problems when we update context information about variable x(and previously computed transformation about x related expression may no longer hold.

One way to get around this problem is renaming (we rename the variable

[2019-03-31 18:10] sgrechanik-h commented on #2588
In my opinion, analyses should be pure functions, something like `(Expr, Context) -> Expr`. This makes the problem of memoization much simpler: we just have to use both the arguments as a key.

[2019-03-31 20:04] tqchen commented on #2588
The main problem of making things pure is the cost of copy when updating the Context(because of the need for context to be immutable) and that may not be best for efficiency.

[2019-03-31 23:20] tqchen commented on #2767
https://github.com/dmlc/tvm/pull/2937

[2019-04-01 04:32] #2912 closed

[2019-04-01 06:04] tqchen commented on #2767
Fixed by https://github.com/dmlc/tvm/pull/2937

[2019-04-01 06:04] #2767 closed

[2019-04-01 06:04] wweic commented on #2915
I explored @icemelon9 's register vm design in my branch: https://github.com/wweic/tvm/commits/relay-rts. Would like to share some data points.

We need to add special registers in VM for function arguments and return value. Return register is necessary because when callee function returns, its register file has gone. So return value must be persisted outside of register file.

Opcode generation i

[2019-04-01 08:04] mnboos opened #2941 "[RELAY][ONNX] Support Deriving channels when it is not provided in AlterLayout"
I tried to compile ResNet-18 from the official onnx model zoo (https://github.com/onnx/models/tree/master/models/image_classification/resnet), which failed with this error:

[code]

[2019-04-01 13:35] mnboos opened #2944 "[Relay][ONNX] KeyError: 'W' when compiling from onnx"
The following error occurs when I try to compile an onnx model. From what I can tell using [Netron](https://lutzroeder.github.io/netron/), there is an input `W` but it's not another node but instead some (static) initialization data for the current node.

Unfortunately, I cannot attach the model because it's ca. 250MB.

[code]

![2019-04-01 15_34_17-Window](https://user-images.githubusercontent.co

[2019-04-01 15:05] tqchen commented on #2941
Please open a new thread in discuss.tvm.ai

[2019-04-01 15:15] tqchen commented on #2944
Thanks for reporting this. Please dig a bit more into it and see if we can construct a minimum model that has this problem. In the meanwhile, feel free to start by opening a thread on https://discuss.tvm.ai/

[2019-04-01 15:15] #2944 closed

[2019-04-01 15:22] #2924 closed

[2019-04-01 15:43] mnboos commented on #2941
To be honest, I wouldn't know what to discuss. Above I provided you with the model as well as the steps to reproduce. I you don't consider this an issue, feel free to tell me, but I really don't know which else information I could provide.

[2019-04-01 16:09] tqchen commented on #2941
I agree there is a blurred line here.  https://discuss.tvm.ai has been served for purposes like supporting and collaborate to resolve issues as well. As you may have seen many related parts (e.g. https://discuss.tvm.ai/t/tvm-opencv-compatibility-issue/2057/3 ).  So yes we do use discuss to troubleshoot and resolve issues as well. The reason why we prefer starting from the discuss is that it helps

[2019-04-01 16:28] tqchen commented on #2897
OK, perhaps we can define the backward compatible flag for now then

[2019-04-01 16:36] tqchen commented on #2941
And to be clear, the community strive to resolve all problems in both issues and discuss threads, the aggressively issue closing policy is only a convention we use to facilitate this process :) If you feel strongly that this should be as an issue, I have reopened it for you and we can keep it for a few days

[2019-04-01 16:46] tqchen commented on #2778
close for now, reopen if it reoccurs

[2019-04-01 16:46] #2778 closed

[2019-04-01 16:49] mnboos commented on #2941
Thank you for the clear explanation! I will use the forum first in the future. :)

[2019-04-01 16:53] tqchen commented on #2941
In your particular case, please try to disable the alter_opt_layout pass by commenting that line out(as you can see in your stack trace) ```  File "/usr/tvm/python/tvm/relay/build_module.py", line 203, in optimize```, it could due to some incompatibility in that pass and we can try to confirm if that is the case

[2019-04-01 18:01] sgrechanik-h commented on #2588
@tqchen I guess we cannot know for sure: the performance benefits of memoization may outweigh the possible performance losses due to immutability. What is more important is that pure functions often make things more clear to think about.

[2019-04-01 18:03] tqchen commented on #2588
What I mean is that we can support memoization even if we don’t do the functionally style, as I outlined in the last post

[2019-04-01 21:55] derisavi commented on #2898
The bug is also reproducible using tvm.lower. Setting the input DSL to:
[code]
generates the following output, which has the same problem explained above:
[code]

[2019-04-01 22:57] #2818 closed

[2019-04-02 00:30] wweic commented on #2915
## Summary
@tqchen @icemelon9 @jroesch @zhiics @yongwww we discuss in person. Reached the following consensus:
1. Remove `Phi` instruction. Instead extend `If` to write the result to a new register.
2. Reuse the existing value stack as the register file. Have an anchor in the function frame to point to the start of each function's register region.
3. Try to do liveness on Relay AST to reuse the pa

[2019-04-02 06:05] jroesch opened #2946 "[Relay] Implement BatchNorm "Fission N Fusion""
I saw a poster session tonight at SysML and think it would be interesting to implement this paper as a Relay optimization.

[RESTRUCTURING BATCH NORMALIZATION TO ACCELERATE CNN TRAINING](https://www.sysml.cc/doc/2019/18.pdf).

The paper proposes splitting batch-normalization into two separate operators which can then be fused with the preceding, and proceeding convolutions.

<img width="924" alt="

[2019-04-02 06:30] mnboos opened #2947 "ONNX model compilation fails with a model that previously worked"
See: https://discuss.tvm.ai/t/onnx-model-compilation-fails-with-a-model-that-previously-worked/2081

Yesterday I pulled the latest code and installed from source, which went without problems. After that, I tried to compile an MNIST onnx model as first test, which failed with the stacktrace below:

The model can be downloaded here: https://we.tl/t-Tghn9o9EQ8 (md5: 9fc8b23aa4f33008360727d2fe1b0823)

[2019-04-02 06:38] mnboos commented on #2941
If I disable this call, following happens:

[code]

I checked the flags and `-fPIC` is already enabled.

[2019-04-02 06:38] mnboos commented on #2599
Thanks for the fix to both of you!

[2019-04-02 06:46] jroesch commented on #2941
This looks like bug in alter layout to me either way, the code should not be failing to an invalid attribute. It should produce some kind of error if there is actually an issue performing alter-layout. Alter-layout should not be on by default as far as I can tell, it seems weird that it is even executing.

[2019-04-02 07:02] jroesch commented on #2947
@yzhliu @merrymercy do you guys know why the alter layout pass is failing with a None here, this looks like a bug to me.

[2019-04-02 07:13] wangshankun opened #2948 "Operator: _arange is not supported in nnvm [gluoncv yolov3 into tvm]"
Failed to convert gluoncv yolov3 into tvm

  File "/home/lhy/Documents/Lib/tvm/nnvm/python/nnvm/frontend/mxnet.py", line 527, in from_mxnet
    sym = _from_mxnet_impl(symbol, {})
  File "/home/lhy/Documents/Lib/tvm/nnvm/python/nnvm/frontend/mxnet.py", line 486, in _from_mxnet_impl
    node = _convert_symbol(op_name, [], attr)
  File "/home/lhy/Documents/Lib/tvm/nnvm/python/nnvm/frontend/mxnet.py",

[2019-04-02 11:27] merrymercy commented on #2685
Should we open an RFC to discuss how to port autotvm and topi to c++?

[2019-04-02 11:54] merrymercy commented on #2947
The attribute of conv2d does not have `channels` fields. May it be a bug of the converter?

[2019-04-02 16:40] tqchen commented on #2915
I want to highlight that due to public archive principle. The summary of in person discussion only serve as summary information and suggestions instead of the final design decision.

The design decision should be make in this thread, allowing everyone to participate. So at this moment, the discussion is still open as RFC

[2019-04-02 16:46] icemelon9 commented on #2948
`_arange` op is already supported in the Relay MxNet frontend converter.
At this time, we encourage you to use Relay to convert models as new operators will be first supported in Relay. We also welcome you and community to add support for `_arange` in NNVM.

[2019-04-02 17:54] mostafaelhoushi opened #2953 "download_testdata Error in Tutorial Examples"
When running many of the Frontend examples in the [Frontend section of the Tutorial](https://docs.tvm.ai/tutorials/frontend/), e.g.:
https://docs.tvm.ai/tutorials/frontend/from_onnx.html

I get the following error:
[code]

I am using Ubuntu 16.04, and built TVM using LLVM and CUDA set.

[2019-04-02 18:07] icemelon9 commented on #2953
Could you checkout the latest tvm repo? `download_testdata` is added in recent commits (#2921 ).

[2019-04-02 18:10] merrymercy opened #2954 "[RFC][AUTOTVM] Auto-Schedule from Compute Declaration"
# Auto-Scheduler
TVM decouples kernel implementation into compute and schedule. The compute part is a friendly DSL that can describe algorithms intuitively. However, the schedule part still requires strong expert knowledge and time-consuming tuning to provide decent performance. The tuning process is partially automated by the existing autotvm package, but a human-engineered template is still requ

[2019-04-02 18:22] mostafaelhoushi commented on #2953
Thanks! Now it seems to be working fine

[2019-04-02 18:23] #2953 closed

[2019-04-02 21:40] kevinthesun commented on #1585
@FrozenGene The default schedule here for x86 eliminates most layout transformations. It should have similar performance with "apply_history_best". I'll update the data for "apply_history_best".

[2019-04-02 21:51] kevinthesun commented on #2954
Thank you for opening this RFC! I have a question regarding user API. Does the hardware information needed for autotvm.AutoSchedulerOptions(**kwargs) function pre-defined for different hardware architectures? If so, how much more information does a user need to provide to differentiate between different minor types of the same device target, such as Intel Xeon Platinum vs Xeon Haswell, or Nvida K8

[2019-04-03 00:08] jroesch opened #2955 "[Relay][API] Rename RelayPrint to AsText"
We currently have different names for the C++ printing routine and the Python printing routine. We should rename them for consistency sake.

See: https://discuss.tvm.ai/t/define-neural-network-in-c-and-print-its-ssa-ir/2078/3

[2019-04-03 00:10] jroesch commented on #2955
cc @joshpoll @tqchen

[2019-04-03 00:25] tqchen commented on #2955
+1

[2019-04-03 01:58] tvm-archiver commented on #2685
I think we should consider it, I think having the tuner sit in Python is
okay the more important bit being the schedules and other compiler pieces
in C++ for integrating the
compiler. I talked with some PyTorch people today and they suggested a
Python free version of the compiler would be important if they use it in
JITing.

- Jared

On Tue, Apr 2, 2019 at 4:28 AM Lianmin Zheng <notifications@gith

[2019-04-03 02:11] jroesch commented on #2954
@merrymercy how much work is there per backend? looking over the code now will follow up with more questions later.

[2019-04-03 02:38] derisavi commented on #2898
This bug will not be fixed only by the change in Halide IR. It also requires quite a bit of code in TVM (I am almost ready to send a PR for that part). So should we reopen this issue?

[2019-04-03 03:00] tqchen commented on #2898
it was automatically closed by github association rule :)

[2019-04-03 03:02] tqchen commented on #2279
Close as the first part scaffolding is in. Let us open new RFCs for new error class proposals

[2019-04-03 03:02] #2279 closed

[2019-04-03 03:33] wangshankun commented on #2948
**relay  is not good either**

alibaba@firefly:~/tvm_demo$ python dp_relay_yolov3.py
Shape of pre-processed image: (1, 3, 512, 683)
Traceback (most recent call last):
  File "dp_relay_yolov3.py", line 26, in <module>
    func, params = relay.frontend.from_mxnet(sym, shape_dict)
  File "/home/alibaba/tvm/python/tvm/relay/frontend/mxnet.py", line 602, in from_mxnet
    sym = _from_mxnet_impl(symbol,

[2019-04-03 05:15] yzhliu commented on #2955
+1

[2019-04-03 05:27] yzhliu commented on #2954
@merrymercy Could you elaborate a bit about the 4 types (simple reduction, complex reduction, direct compute, and location-tunable compute) ? Also it would be helpful if you can give an example of how the DAG looks like.

[2019-04-03 06:24] mnboos commented on #2941
It was my mistake, I think I used the code from [Compile Keras Models](https://docs.tvm.ai/tutorials/frontend/from_keras.html#compile-the-model-with-relay). I removed the `opt_level=3` now, so it should be 2 by default.

It fails with the above stacktrace now.

[2019-04-03 06:52] RoyZhang1 commented on #1093
Same issue, this problem has been plagued for many days.

[2019-04-03 07:06] tmoreau89 commented on #2954
Thanks @merrymercy, this is really awesome work. I second Jared's comment on work involved in adding a backend. I'd be happy to chat some more about how one would add automated compilation to different hardware accelerators including VTA.

[2019-04-03 07:53] merrymercy commented on #2954
@jroesch Currently, it is about 500 loc per backend. I am working on improvements so it may increase.

@yzhliu
* simple reduction: reduction ops that do not have reuse opportunity (e.g. softmax, argmin)
* complex reduction: reduction ops that have reuse opportunity (e.g. matmul, conv2d
* direct compute: broadcast, elemwise, stencil computation, (e.g. relu, add)
* location-tunable compute: the same

[2019-04-03 08:24] merrymercy commented on #2623
# TVM Monthly - March 2019
https://discuss.tvm.ai/t/tvm-monthly-march-2019/2083

[2019-04-03 08:32] jroesch commented on #2954
@merrymercy I'm less interested in LOC and more how much conceptual burden there is. What are the key pieces that make up a backend description is more my question.

 I looked over the code but was at SysML and have two deadlines this week so I haven't had a chance to really look it over. Look forward to landing this stuff.

One idea I've been thinking about is a combined TVM + Relay language wher

[2019-04-03 10:37] mjs-arm commented on #2897
Resolved by #2950

[2019-04-03 10:37] #2897 closed

[2019-04-03 16:15] joshpoll commented on #2955
+1

[2019-04-03 16:27] tqchen commented on #2955
BTW, for design discussions, please tag with RFC or DEV prefix, so it will be mirrored to dev@apache see https://github.com/dmlc/tvm/issues/2907

[2019-04-03 22:20] kevinthesun commented on #2954
@merrymercy Auto-scheduler will create another search space consists of schedule templates. For a given set of hardware parameters, it will try various schedule templates and for each template do some auto-tuning on real device. This means for each minor device type, we need to do all these steps. Do I understand it correctly?

[2019-04-04 01:34] baowenlei opened #2959 "[CodeGen] Incorrect vectorization for fp16 on X86-64 (AVX512)"
Hi,

There seems a bug related to vectorization with type fp16 on skylake machine.
Basically, when cast fp16 to uint8 using select for AVX512 machine, it will generate wrong result with vectorization on.

The generated `ll` code seems correct after checking dumped llvm code, but the generated `asm` code seems problematic. It might be some configurations when doing the code generation `/src/codegen

[2019-04-04 03:29] yzhliu commented on #2954
@merrymercy Do you think this analysis design can be easily extended to be working based on TVM Tensor AST (HalideIR) instead of ScheduleStage? Not urgent but I think eventually we will make schedule primitives work on HalideIR, so that we can unify the underlying data structure of schedule and other passes.

[2019-04-04 03:42] ajtulloch commented on #2959
I added something related in https://github.com/dmlc/tvm/blob/eb1ed1164ec0a56649d9a5fadcd1f7fdde8e6aa3/src/codegen/llvm/codegen_x86_64.cc#L55-L89 - I suspect it's not triggered here because of https://github.com/dmlc/tvm/blob/eb1ed1164ec0a56649d9a5fadcd1f7fdde8e6aa3/src/codegen/llvm/codegen_x86_64.cc#L61, but could you try reverting that and see if it still reproduces?

[2019-04-04 03:52] ajtulloch commented on #2959
Yeah, this is unrelated to that diff - without the `s[Y].vectorize(..)` call, we have:

[code]

after vectorization:

[code]

[2019-04-04 03:53] ajtulloch commented on #2959
Assembly (before)

[code]

After:

[code]

[2019-04-04 04:21] tqchen commented on #2954
Good discussions, I think in general we can move to summarize the common patterns and make things work for specific hardware backend. As for point bought by @yzhliu (unifying schedule with pass), eventually ScheduleStage itself(or other IR structure) can be viewed as a dialect of the IR, and we can do so after we push for such unification.

[2019-04-04 05:04] baowenlei commented on #2959
Yes, it should not related to the code you added.

[2019-04-04 10:04] merrymercy commented on #2941
I explained the problem related to AlterLayout in a duplicated issue #2947. Paste it here

It might be a bug of ONNX converter. The attribute of conv2d op does not have channels fields.

This is interesting because the shape(type) inference can guess the value of channels and run correctly. However, attributes cannot be changed during type inference. So the inference pass won't fill the guessed va

[2019-04-04 10:05] merrymercy commented on #2947
duplication of #2941

[2019-04-04 10:05] #2947 closed

[2019-04-04 10:30] merrymercy commented on #2954
@jroesch There is no easy description for a backend. Currently these meta-templates are mainly based on the summary of existing human schedule code in TOPI. So adding a new backend is still hard. What can be reused is the classification of compute type.

@kevinthesun There is only one template for one specific op. The auto-scheduler first creates this template. Then, for static usage, it will fill

[2019-04-04 10:39] gitathrun opened #2963 "Does TVM support model convert from thinc ?"
I know thinc is not the main stream DL framework, but its execution efficiency is fairly quick and numpy and chainer based, is it possible to the support from TVM later? or any possible solution/approach to get support from TVM?

[2019-04-04 16:47] tqchen commented on #2963
This is a topic that should be discussed in https://discuss.tvm.ai/

[2019-04-04 16:47] #2963 closed

[2019-04-04 17:01] tqchen commented on #2941
Given that relay no longer requires channels field if the input shape is known, perhaps it is better to do such deduction in topi

[2019-04-04 17:36] cbalint13 opened #2965 "[Relay][ONNX] channels issue."
Dear All,

I try run [THIS](https://gist.github.com/cbalint13/147ef609d393d95c664b394f614c2fb4) example with patch bellow, by importing ONNX via relay and then using relay.build() thus avoiding relay.build_module.create_executor().

Encountering several issues this way:

----------------------

1. The first issue is that ```channels``` attribute is None type in ```replace_conv2d```:
[code]
2. If i

[2019-04-04 17:40] junrushao1994 commented on #2963
SpaCy uses thinc, which makes it vital for preprocessing texts. Should be important when it comes to data pipeline but not model itself. Again, for general questions, let’s discuss on the forum

[2019-04-04 18:47] tqchen commented on #2965
Let us move to https://github.com/dmlc/tvm/issues/2941

[2019-04-04 18:47] #2965 closed

[2019-04-04 20:54] cbalint13 commented on #2941
@tqchen ,

* Such fixes for each (below is x86 only) would be fine ?
* Or do in upper layers (where exactly) and pass attrs["channels"] ?

[code]

[2019-04-04 21:12] ajtulloch commented on #2959
https://github.com/halide/Halide/commit/66423e5fcafdc7c07b639696a844ac16796e4dfd is probably related, TVM should just do the same thing I think.

[2019-04-04 23:42] dingelish commented on #2887
No offense.

The difference between rust-sgx-sdk and Fortanix EDP roots from basic assumptions of security. Fortanix EDP is not designed for security, so it has assumptions of trusting the OS. For example, the atomicity of EDP's SGX `RwLock` is **untrusted**. Technically, Fortanix EDP maintains an event queue in **untrusted** space and `RwLock`'s atomicity roots from it -- resulting in untrusted a

[2019-04-05 02:36] nhynes commented on #2887
Hey @dingelish cool to see you here! Thanks a lot for the input. One point of note for the TVM use-case is that the [TVM modules' thread pool already requires cooperation from the OS](https://github.com/dmlc/tvm/blob/master/rust/runtime/src/threading.rs#L132). In almost all (or maybe actually all?) cases, the TVM threads operate on mutually exclusive portions of the output; the operation also does

[2019-04-05 04:53] dingelish commented on #2887
Yeah I 100% trust you :)

Correct me if I'm wrong: [`SGX_QUEUE`](https://github.com/dmlc/tvm/blob/7cd986db0e67583bc347ed208c25be4c0d0c32a0/rust/runtime/src/threading.rs#L198) relies on the implementation of `Mutex` inside SGX. In Fortanix's solution, it's relies on [`WaitQueue`](https://github.com/rust-lang/rust/blob/53f2165c544cceeafb308b80ace656ed328c1dc2/src/libstd/sys/sgx/mutex.rs#L25) which d

[2019-04-05 05:15] nhynes commented on #2887
Well, if it's any consolation, the [rustc sgx thread implementation does the exact same thing](https://github.com/rust-lang/rust/blob/master/src/libstd/sys/sgx/thread.rs#L64) as we're already doing. Might as well reduce code duplication, right?

[2019-04-05 05:31] merrymercy commented on #2941
@cbalint13 Do it below x86 is okay. Please also check for other backends.

Your code is wrong. Because the layout is not always "NCHW". You should get the channel according to both shape and layout.

[2019-04-05 05:50] dingelish commented on #2887
The code you referred to is exactly Fortanix's code. The JoinHandle is implemented using untrusted Mutex. I don't think their implementation could provide any trustworthiness. They bring too much uncertainty to the SGX environment. Personally, I strongly disagree with their implementation because they provide a LibOS-like Rust-SGX environment without any ability to control/audit the usercalls in c

[2019-04-05 05:53] dingelish commented on #2887
The current code of SGX_QUEUE (with rust-sgx-sdk) is not depending on untrusted Mutex -- it relies on sgx_spin to provide atomicity which keeps everything inside.

[2019-04-05 07:46] nhynes commented on #2887
For others' reference, the [rust-sgx-sdk `Mutex` uses a spinlock provided by the sgx libc](https://github.com/intel/linux-sgx/blob/d10cabebb5512878e84f5d21cdf27c39c428ffe2/sdk/tlibthread/sethread_mutex.cpp#L74).

Right, but all the untrusted OS can do is not provide threads. That only compromises availability, and the untrusted system is always able to harm availability--correctness is not affecte

[2019-04-05 10:29] Hkathuria opened #2970 "[ONNX][OP] IndexError: list index out of range"
**nnvm.compiler.build** fails for onnx models with **Gemm Operation**.

test script:

import nnvm
import tvm
import onnx
import numpy as np
import tensorflow as tf
onnx_model = onnx.load('gemm3.onnx')
sym, params = nnvm.frontend.from_onnx(onnx_model)
print("debug symbols:",sym.debug_str())
print("\n loading in nnvm done ")

Error Log :
Traceback (most recent call last):
  File "tvm_opencl_opt0gemm

[2019-04-05 15:24] ghost opened #2971 "[RELAY][MXNET] InceptionV3 Op Translation Error"
Building the inceptionv3 example from the gluon model zoo, results in an internal invariant violation:

%423 = nn.dense(%422, meta[relay.Constant][470] // , units=1000) // an internal invariant was violdated while typechecking your program [16:18:59] /workspace/src/relay/pass/type_solver.cc:100: Check failed: resolved.defined(): Unable to unify parent types: TensorType([1000, ((2048*((-3/8) + 1))*

[2019-04-05 15:48] tqchen commented on #2970
Thanks for reporting this, we encourage everyone to post in https://discuss.tvm.ai/ first and the community will follow up to do some collective diagnosis, once we confirm if there is something we need to act on, we can circle back to fix it

[2019-04-05 15:48] #2970 closed

[2019-04-05 15:49] tqchen commented on #2971
Thanks for reporting this, please post on https://discuss.tvm.ai/ first and the community will follow up to do some collective diagnosis, once we confirm if there is something we need to act on, we can circle back to fix it.

[2019-04-05 16:35] tqchen commented on #2971
In this particular case, it seems to indicate a problem in operator translation. Note the negative number in the shape. Likely due to certain implementations of reshape or something alike. However, likely the problem of reshape has already been fixed by the latest master..  Please confirm if you still get the problem of the latest master, and dig a big what is the operator before the internal inva

[2019-04-05 17:56] tqchen opened #2973 "[VOTE] Apache Transition Plan"
TVM has been transitioned to Apache, following our traditional as well as Apache’s, major decisions about community will result in a VOTE. Everyone in the community is welcomed to participate. This is the first voting thread after TVM get into Apache. See also background in [Apache Transition Plan](https://github.com/dmlc/tvm/issues/2907).

This is a formal vote about the following items.

- Conti

[2019-04-05 18:35] junrushao1994 commented on #2973
+1

Should we show the [link](https://lists.apache.org/list.html?dev@tvm.apache.org) to mailing list achieve somewhere.

[2019-04-05 18:51] baowenlei commented on #2959
Thanks for the reply. It seems related. But any suggestions how to confirm and fix ?
Currently walk around on my side is to cast to float32.

[2019-04-05 20:00] baowenlei opened #2974 "[Discussion] Export LookupLLVMIntrinsic for C++ users"
Hi there,

Currently it seems that `LookupLLVMIntrinsic` or `lookupIntrinsicID` is not exposed to C++ users in tvm. But it is available from python side. Please correct me if I am wrong.

To utilize it in C++, I just put it in some header.
Please let me know if this sounds a reasonable request and where should I put it to export. And then I could create a PR for that.

Thanks.

[2019-04-05 20:19] kazimuth opened #2975 "[RFC][PASS][RUNTIME] Enable Slice on LHS during concat"
This was mentioned in https://github.com/dmlc/tvm/issues/2122#issuecomment-439581161; I also asked about it [here](https://discuss.tvm.ai/t/reuse-buffer-in-concatenation/863) a while back.

Basically I'd like to implement a compiler pass that replaces concat operations with simple slicing operations, where:

[code]

is replaced with

[code]

This can provide large improvements in some cases, e.g.

[2019-04-05 20:32] junrushao1994 commented on #2975
@kazimuth Probably you could write a Relay pass. Should be easy if it is intraprocedural.

[2019-04-05 20:33] junrushao1994 commented on #2975
It's true.

[2019-04-05 20:40] junrushao1994 commented on #2975
Does it help to add a pass to analyze “buffers that should be allocated continuously”, and then hint the runtime to do this?

[2019-04-05 21:11] kazimuth commented on #2975
I think this makes sense. How do I hint the runtime though? Should I just add a new Relay node / a field to one of the node types, or is there a more principled way to annotate a Relay AST?

[2019-04-05 21:24] wweic commented on #2973
+1

[2019-04-05 21:49] kazum commented on #2973
+1

[2019-04-05 22:07] eqy commented on #2954
Minor question: do we consider "injective" as a special case of "simple reduction?"

[2019-04-05 22:09] tqchen commented on #2975
The main obstacle is that relay is functional, which makes it hard to represent such kind of Rhs assignment.

What possibly need to happen is to have a special annotation in the relay IR and do special codegen in the runtime. It also requires us to enhance the runtime semantics, to allow specification of slice.

[2019-04-05 22:13] tqchen commented on #2974
Please open a new thread in https://discuss.tvm.ai/ with development tag :)

[2019-04-05 22:13] #2974 closed

[2019-04-05 22:15] tqchen commented on #2974
To answer your specific question. We try to keep the public API minimum. LookupLLVMIntrinsic is a private API that we use inside the tvm project and maybe we should not expose it for now. Note that it is also part of LLVM API that you might be able to directly get by call into LLVM function.

[2019-04-05 22:15] junrushao1994 commented on #2975
@tqchen Didn't get it why we need runtime codegen. In the case of intraprocedural opt, it would be fine to just hint the runtime to alloc contiguous memory and then skip concat operator

[2019-04-05 22:26] eqy commented on #2954
@merrymercy Do you think that this is a good time to also make schedules serializable/package them with autotvm style configs? In the past we have had issues where we did not want to merge in changes to schedules because they would break compatibility with tophub, and now it seems that the variety of schedules may also change quickly as auto-schedule is changed. Instead of forcing schedules to be

[2019-04-05 22:26] tqchen commented on #2975
What I mean is that runtime need to be aware of the memory layout and provide out[slice] = f(inputs). Another possible "obstacle" is that TVM's compute kernel requires the buffer to be somewhat aligned, and we need to generate a special kernel for ```out[slice] = f(inputs)```, with a known offset(so we still benefit from good alignment). This is necessary for OpenCL

[2019-04-05 22:44] kazimuth commented on #2975
Shouldn't title be "Slice on LHS"?

Also @tqchen what's a good way to add that annotation?

[2019-04-05 23:12] srkreddy1238 commented on #2973
+1

[2019-04-05 23:19] tvm-archiver commented on #2973
+1

[2019-04-06 05:50] tqchen commented on #2975
I have not yet put very deep thoughts how can we generate annotation, this is something that worth some thoughts and discussion

[2019-04-06 14:19] xqdan commented on #2973
+1

[2019-04-07 01:07] ehsanmok commented on #2973
+1

[2019-04-07 01:58] kevinthesun commented on #2973
+1

[2019-04-07 14:43] Dreamerzzw opened #2980 "OSError: connection reset"
i want to the the codes in the /tvm/apps/benchmark,:

there is something wrong:

Traceback (most recent call last):
  File "arm_cpu_imagenet_bench.py", line 91, in <module>
    evaluate_network(network, target, target_host, args.repeat)
  File "arm_cpu_imagenet_bench.py", line 19, in evaluate_network
    tracker = tvm.rpc.connect_tracker(args.host, args.port)
  File "/home/zzw/tvm/python/tvm/rpc/c

[2019-04-07 15:02] #2980 closed

[2019-04-07 18:16] Ravenwater commented on #2973
+1

[2019-04-08 01:31] kazimuth opened #2983 "[RFC] More PackedFunc metadata"
(Moved from #2981)

Proposal: add type signature metadata to PackedFunc

 Each `PackedFunc` would have an optional field describing what arguments it takes and what type it returns. This field would be automatically populated during conversion from a `TypedPackedFunc`.

Once we have these type signatures, we could use them to generate bindings in new languages (i.e., Rust) and get coverage of a go

[2019-04-08 01:43] tqchen commented on #2983
One thing I would like to mention is that manual wrapping has its merit :)

Take the following wrapper code for scan as an example. By manually wrapping it in python, we can benefit from:
- A clear signature that users can look up
- Keyword argument and default value
- Python-specific documents, in particular, the type signature and most importantly code examples.

[code]

While it is possible to

[2019-04-08 01:46] kazimuth commented on #2983
From other thread:

@tqchen:

@nhynes:

[2019-04-08 01:56] kazimuth commented on #2983
@tqchen, yeah those are good points. One possibility would be to use hand-written languages for first-tier-supported languages like python and offer the auto-generated wrappers for other languages.

If you did end up switching fully to auto-generated wrappers you could take steps like committing generated code to the git repo to make it easier to browse, with doc comments leading back to the origi

[2019-04-08 02:03] vinx13 commented on #2973
+1

[2019-04-08 02:17] makihiro commented on #2973
+1

[2019-04-08 03:18] yidawang commented on #2973
+1

[2019-04-08 05:13] vinx13 commented on #2826
The fallback config is invalid in some cases. It should work after auto tuning.

[2019-04-08 05:19] tqchen commented on #2983
RE: Node hierarchy. One ultimate direction is to use a DSL(for example python with typing info) as a way of declaring the node relations and fields and create generator util to generate the classes. The main challenge is to keep most of the data structures purely in C(so we can get ABI compatibility across languages).  We do also want to keep some of the node base class and the possibility to decl

[2019-04-08 08:50] ajtulloch commented on #2973
+1

[2019-04-08 09:50] mjs-arm commented on #2971
Issue is present in head of master, just checked with:

[HEADER] Add Header to Comply with ASF Release Policy (#2982)
cffb4fba03ea582417e2630bd163bca773756af6

[2019-04-08 16:22] kazimuth commented on #2983
Oh hm, that's an interesting idea. How would we handle inheritance / methods on nodes? Just copy-pasting stuff in the generator, or some sort of runtime lookup system implemented in C?

Another route to ABI compatibility is to just use opaque pointers + accessors everywhere, that might be a less invasive change. It does impose more overhead tho.

[2019-04-08 16:59] tqchen commented on #2983
We will likely to give up methods for most cases and use functions/vtable instead. This could be fine for common IR structures. This also seems to be the case for certain languages. methods can still be used if we manually declare the node in c++

[2019-04-08 18:59] SrivastavaKshitij opened #2985 "Input Shape Changed by TVM: leads to mismatch error"
Hi There

I am trying to run a frozen model on TVM platform and the actual input of `[1,1200,1920,3]` in `NHWC` format is changed to `[1,3,1201,1921] ("NHCW")` by TVM.

Following is the script which recreates the problem:

[code]

When I run the script with batch_size =1: `python script.py --input_shape [1,1200,1920,3]`, we can see that the `1` has been added to both `H` and `W` dimensions:

[code

[2019-04-08 19:08] ZihengJiang commented on #2973
+1

[2019-04-08 20:20] icemelon9 commented on #2973
+1

[2019-04-08 20:23] tqchen commented on #2985
Please open a new thread on https://discuss.tvm.ai/

[2019-04-08 20:23] #2985 closed

[2019-04-08 20:34] junrushao1994 commented on #2975
Once you have liveness analysis, you could detect when some vars die on an instruction, while another var is created. Let call it substitution. To optimize concat, we could detect substitution on concat instruction, and extend the liveness of vars who previously die on this instruction.

[2019-04-08 21:13] junrushao1994 commented on #2948
@icemelon9 I suppose we should open a new thread on https://discuss.tvm.ai/ ?

[2019-04-08 22:33] zhiics commented on #2973
+1

[2019-04-08 23:32] kazimuth commented on #2983
How does the refcounting for Nodes currently work across the ABI boundary? Is everything owned by the TVM runtime or something?

[2019-04-08 23:35] tqchen commented on #2983
Things should work out of box, as long as each side have the same way to access the ref counter. We increase/decrease ref counters on each language and that ref counter is global to all the languages. Because node has a deleter that is populated during creation, you can safely run the deletion depending on the language-specific behavior that creates the node

[2019-04-09 02:35] JDanielWu opened #2989 "TFLite FULLY_CONNECTED"
when I try a pretrained tflite model, get a  error:
tvm.error.OpNotImplemented: The following operators are not supported in frontend TFLite: 'FULLY_CONNECTED'.
FULLY_CONNECTED will be add in op in future?

[2019-04-09 05:54] #2955 closed

[2019-04-09 08:01] merrymercy commented on #2973
+1

[2019-04-09 08:22] merrymercy commented on #2954
@eqy "injective" is considered "direct compute". Typically they will be inlined.

Serializable Template + Serializable Config seems to be a good direction to go.

[2019-04-09 17:05] antinucleon opened #2994 "[Vote] Deprecate Python2 Support"
As we discussed in https://github.com/dmlc/tvm/issues/2715, most of us agree with switch to Python3 starts with 0.6 release. I want to start a vote to deprecate Python2 support & test in our current master branch.

@dmlc/tvm-committer

[2019-04-09 17:14] nhynes commented on #2994
Ah finally! So much +1

[2019-04-09 17:54] tmoreau89 commented on #2994
+1

[2019-04-09 18:51] tqchen commented on #2989
Please open a new thread on https://discuss.tvm.ai/

[2019-04-09 18:51] #2989 closed

[2019-04-09 19:58] Ravenwater commented on #2994
+1

[2019-04-09 20:13] MarisaKirisame commented on #2994
+1. We (The relay crew) often find not having py3 features(fstring, keword only argument, type annotation, nonlocal) inconvenient. Can we get it to 3.6? fstring(3.6 feature) is used heavily in the relay ahead of time compiler that will be opensourced soon.

[2019-04-09 20:19] tqchen commented on #2994
+1, I think we agreed on python3.5 support to be safe because many users' system still only have 3.5 installed.

[2019-04-09 20:56] icemelon9 commented on #2994
+1

[2019-04-09 21:51] zhiics commented on #2994
+1

[2019-04-09 22:30] kevinthesun commented on #1585
@FrozenGene Data of "apply_history_best" updated.
@yzhliu Updated some implementation details.

[2019-04-09 22:51] Laurawly commented on #2994
+1

[2019-04-09 23:48] srkreddy1238 commented on #2994
+1

[2019-04-09 23:55] jroesch commented on #2994
👍

[2019-04-10 00:29] jroesch commented on #2973
+1

[2019-04-10 03:14] Oldpan opened #3002 "When infering reshape argument by precompute, cause HalideIR assert fail"
Hi.

When using `relay.frontend.onnx` to read my own .onnx files. There is a reshape op in my onnx-model which input[1] is from last op output not a constant. So relay needs to bulid previous func to get input[1]'s shape.

However, when it runs to:
[code]
It will get a exception, I track the `key` value is:
[code]
And the `c_err_msg` from `_LIB.TVMGetLastError()` are:
[code]
I'm not sure whether t

[2019-04-10 04:55] tqchen commented on #3002
Please open a new thread in discuss.tvm.ai

[2019-04-10 04:55] #3002 closed

[2019-04-10 08:00] kazum commented on #2994
+1

[2019-04-10 11:46] myproject24 opened #3007 "How to extract functions from tvm module."
@tqchen I have tvm compiled module, I have to extract all function present inside the module what is the way to know the functions inside the module. Basically, I am trying to deploy the module in c++ and need to call those functions.

[2019-04-10 11:47] srkreddy1238 commented on #3007
Can you check the graph JSON ?

[2019-04-10 12:06] myproject24 commented on #3007
@srkreddy1238 Can you please show me the sample of function name looks like in JSON file?

[2019-04-10 13:40] tqchen commented on #3007
Please open a new thread on disuss.tvm.ai

[2019-04-10 13:40] #3007 closed

[2019-04-10 20:01] icemelon9 commented on #2915
I propose two changes to instructions.
- `AllocTensor` uses shape stored in the register instead of hardcode shape in the instruction. This can help support dynamic shape in VM in the future. We can store constant shapes in the constant lists, and use `LoadConst` to load them.
- Change `Phi` to `Select` (defined below) that takes a condition register to select two values. This allows us to map SSA

[2019-04-10 20:47] ehsanmok commented on #2994
+1

[2019-04-10 21:07] nhynes commented on #2887
Okay, it's been two weeks on this RFC, so I'm going to prepare a pros/cons summary of the discussion so far in preparation for further action.

Regarding the proposal to **replace SGX support in TVM with Fortanix**:

**Pros**

* tightly integrated into Rust ecosystem, which gives support for more crates as well as a significantly simpler build process
* better performance due to low overhead encla

[2019-04-11 19:34] kazimuth commented on #2983
I could set it up so that most of the node generation logic + code is in HalideIR, and then there's a generator script each set of nodes needed (one here, one there.) I might open a PR over there and start work.

[2019-04-11 19:44] junrushao1994 commented on #2983
I feel like `Node`, `NodeRef` and `NodePtr` are pretty much general-purposed refcounted objects, rather than specific nodes in the IR. They could be shared across ABI boundary using PackedFunc out-of-box. It will be interesting to see if we could inherit every object from `Node` so that everything automatically gets the ability to be shared across different languages.

[2019-04-11 20:22] kazimuth commented on #2983
`NodeRef` is just a type-erased version of `NodePtr<T>` right?

I think the main question is if we want to allow nodes to be implemented in languages besides C++. If we require nodes to be implemented as `Node` subclasses, then they have to have C++ impls for inheritance to work. If we design a `Node` C API that doesn't have this requirement, then we can mix-and-match Node implementations between

[2019-04-11 22:13] kazimuth commented on #2983
I'm starting work in https://github.com/dmlc/HalideIR/pull/56

[2019-04-11 22:55] joshpoll commented on #2994
+1

[2019-04-11 23:26] vegaluisjose opened #3009 "[RFC] [VTA] [TSIM] Enabling Cycle-Accurate Hardware Simulation for VTA"
The following RFC proposes a new simulation environment called *TSIM* that improves software and hardware integration and simulation accuracy compared to functional simulation. One of the goals of this RFC is integrating the hardware development process into the software stack from the beginning, allowing features to be incrementally implemented and evaluated as workloads evolve over time.
Under t

[2019-04-11 23:48] tmoreau89 commented on #3009
This will facilitate continuous testing of novel VTA features, and invite more contribution to modify the VTA spec in the future. Cycle-accurate testing from high-level test scripts in Python is definitely the way forward for all of TVM's backend.

@kazum @ktabata it would be great to get your take on this since you took part in providing the SDAccel and AOCL support respectively in TVM. Having yo

[2019-04-12 03:11] felix-lyj opened #3012 "tvm build issue in docker container"
Hello guys,

I download tvmai/ci-cpu docker images from docker hub and then add following instructions in Dockerfile to build myself docker image.

# Build TVM
COPY install/install_tvm_cpu.sh /install/install_tvm_cpu.sh
RUN bash /install/install_tvm_cpu.sh
# Install mxnet
RUN pip3 --no-cache-dir install --upgrade --force-reinstall mxnet
# Environment variables
ENV PYTHONPATH=/usr/tvm/python:/usr/t

[2019-04-12 18:00] antinucleon commented on #2994
Python2 is deprecated in https://github.com/dmlc/tvm/pull/2986. We may also send a PR to https://python3statement.org/

[2019-04-12 22:11] joshpoll opened #3016 "[RFC][Relay] Text Format Part 2"
The following RFC is for more bikeshedding about syntax of the Relay text format not covered by #1782.

The guiding principles for syntax choices are
- **readability:** Syntax should be easy to read and parse visually.
- **internal consistency:** Syntax choices should be similar to each other (e.g. function definitions and function types should have similar syntax).
- **external consistency:** We

[2019-04-12 22:56] vegaluisjose commented on #3009
@jroesch

There are two reasons why we have the two DPI modules in Verilog (Host and Memory):

1) To support either handwritten Verilog accelerators or generated Verilog from other languages different than Chisel3

2) Chisel3 does not support DPI, which is the "CFFI" of Verilog. However, Chisel3 does support Verilog inlining which is what we use for this so we don't duplicate code, see [here](http

[2019-04-12 23:37] MarisaKirisame commented on #3016
No No No No No on r^.
I'll still say !r is the best - not doesnt appear much in deep learning, and should not take !.

[2019-04-13 01:33] tqchen commented on #2994
Let us keep the vote open for a week.

[2019-04-13 01:42] tqchen commented on #3012
Thank  you for reporting this problem, please open a new thread on https://discuss.tvm.ai/

[2019-04-13 01:42] #3012 closed

[2019-04-13 13:31] #2907 closed

[2019-04-13 13:35] tqchen commented on #2973
Thanks to everyone who voted, this vote has passed. 18 +1 votes, (no 0 and -1 votes)

[2019-04-13 13:35] #2973 closed

[2019-04-13 15:08] wweic commented on #3016
`RefRead` and `RefRead` are swapped in the spec.

For `@foo(%a, %b, BarAttrs={%c: None, %d: None})`, does it mean Relay supports record? Or Relay core recognizes the record like syntax and maintains the record internally, source code can not access the record?

[2019-04-13 19:10] MarisaKirisame commented on #3016
The Attribute System achieved a record syntax.
We see the point of record though, we just do not have enough man power and it is not high priority. If you need them, the easiest way is to probably use ADT instead (fields can be function implemented by pattern matching). Or if you really need them, can you tell me the use case?

[2019-04-13 19:20] tqchen commented on #3016
- Semi-colons: we should not have them, to make most syntax consistent with python
- attrs when it does not match attr's type index
  - This needs more deliberation, it needs to be consistent with the case when we don't print out BarAttrs(in the meta-data). Or print BarAttrs directly(although not allowed atm), My recommendation simply use attrs=ValueFormat, where ValueFormat can be any printed for

[2019-04-13 21:27] wweic commented on #3016
@MarisaKirisame Thanks for clarification. Just curious about the implementation details. I don't have a use case right now.

[2019-04-14 20:34] joshpoll commented on #3016
@wweic thanks I fixed the typo

[2019-04-15 16:05] jamessmith90 opened #3023 "[BUG] Yolov3 GPU"
[code]

[2019-04-15 16:17] ehsanmok commented on #3023
Hi

Please first post in [discuss.tvm.ai](https://discuss.tvm.ai/) and provide more details of what you're doing. Currently it is not clear where the problem is.

[2019-04-15 16:56] #3023 closed

[2019-04-16 22:34] dingelish commented on #2887
I'm starting a next major version of rust-sgx-sdk which could be merged into Rust's std, along with several compiler changes, new features, and lint tools. One of Pre-RFCs is [here](https://internals.rust-lang.org/t/pre-rfc-always-panic-feature-and-lint-rule/9786).

Would you switch back to rust-sgx-sdk v2 later? If not, we'd possibly add a similar runtime "mesatee" (maybe) to tvm to support tvm i

[2019-04-17 03:21] zhangliwei06 opened #3036 "NNVM suport for keras resnet50"
keras_net = keras.applications.resnet50.ResNet50(include_top=True, weights=None,
                                                      input_shape=(224, 224, 3), classes=1000)
keras_net.load_weights('resnet50_weights.h5')
sym, params = nnvm.frontend.from_keras(keras_net)
sym = nnvm.graph.create(sym)
sym = vta.graph.clean_cast(sym)
sym = vta.graph.clean_conv_fuse(sym)

The error is reported:
Traceb

[2019-04-17 14:27] cbalint13 commented on #2941
@mnboos ,

 Can try latest master ?
 I believe it is fixed now, if so confirm and close the issue.

[2019-04-17 15:04] FrozenGene commented on #2519
@tqchen I plan to support TFLite NHWC data layout after my quantization part upstreamed.  However, NCHW has its advantages as described.  We could have two options:

- Keep NCHW of TFLite and add one parameter named `layout` in `from_tflite`.

`layout` could be `NCHW` or `NHWC`. The default value could be discussed. This means we support two data layout in TFLite frontend and leave decisions to us

[2019-04-17 15:21] srkreddy1238 commented on #2519
I vote for using tflite original layout as it is. The internal conversation logic make it complex while adding new features.

[2019-04-17 18:37] tqchen commented on #3036
Please open a new thread on https://discuss.tvm.ai/

[2019-04-17 18:37] #3036 closed

[2019-04-17 19:03] tqchen opened #3039 "[RFC][DISCUSS] Tuple-related Fusion"
Recently, there are a few problems arise wrt to the fusor and tuples. The main problem is the incompatibility of the calling convention when dealing with tuples.

- At the lowest level, the primitive function is not aware of the tuple, and we simply flatten everything including inputs and outputs when there is a tuple input or return values.
- The function that calls into the primitive function is

[2019-04-17 19:03] tqchen commented on #2931
https://github.com/dmlc/tvm/issues/3039

[2019-04-17 19:03] #2931 closed

[2019-04-17 19:04] tqchen commented on #2890
https://github.com/dmlc/tvm/issues/3039

[2019-04-17 19:04] #2890 closed

[2019-04-17 19:31] MarisaKirisame commented on #3039
@tqchen where is %2?

[2019-04-17 23:02] baowenlei commented on #2959
Any conclusion on this issue ? Thanks.

[2019-04-17 23:51] #2948 closed

[2019-04-18 00:45] zhiics commented on #3039
@junrushao1994

There might be some code emitted, but the idea is to the problem when dealing with duplicate values in return tuples.

The output tensor is scheduled twice in compute_engine here:
https://github.com/dmlc/tvm/blob/552d4aa3587aa3a0443d050ceb324386489ff793/src/relay/backend/compile_engine.cc#L128

There are some problems and discussions in #2932

[2019-04-18 01:17] jroesch opened #3042 "[RFC][Relay] Dynamic Dimensions"
# Supporting Dynamic Dimensions

I recently opened an RFC proposing a new dynamic runtime (see #2810).
A missing piece of the puzzle for supporting fully dynamic models is typing, and code generation  for tensors with statically unknown shapes.

There are three critical steps to supporting dynamic tensors which I believe are distinct tasks:
- Extending the type system
- Computing allocation sizes

[2019-04-18 01:19] joshpoll commented on #3016
@tqchen could you provide examples of the `attrs=ValueFormat` suggestion?

[2019-04-18 01:48] masahi commented on #3039
We can update TOPI to prevent scheduling the same op twice. It is partially done in #1556

[2019-04-18 03:16] zhiics commented on #3039
@masahi Can we prevent from passing duplicated tensors instead? It looks that we otherwise need to change all schedules for all targets in topi, right?

[2019-04-18 05:23] masahi commented on #3039
@zhiics I don't know a solution for your problem without breaking other parts (like breaking calling convention as you and @vinx13 said). I'll trying fixing the fuser so that a tuple like (%0, %0) won't happen.

[2019-04-18 05:34] masahi commented on #3039
It seems #2412 is also related to this issue. @srkreddy1238 [mentioned](https://github.com/dmlc/tvm/pull/2412#issuecomment-453912379) that enabling fusion caused a LLVM error.

When fusion support for tuple was added in #2187, I handled the case where
* the tuple is root of its group
* the tuple is fused with other ops before it

by making a new function that returns the tuple (see [my comment](ht

[2019-04-18 06:00] masahi commented on #3039
@zhiics can you replace [this block](https://github.com/dmlc/tvm/blob/master/src/relay/pass/fuse_ops.cc#L822-L848) with this

[code]

and try your PR?

[2019-04-18 06:08] tqchen commented on #3039
one possible way to make the fusor smarter. So that we forbid fusing of a node into TupleNode if that is the last in the group, but allow fuse TupleNode into subsequent injective ops, then in the second iteration the other node can fuse into tuple node because the group no longer have the tuple as return value

[2019-04-18 06:28] masahi commented on #3039
We should be aware that if we disable tuple fusion when tuple is the return value, we might lose some efficiency gain.

So this function
[code]

will become this
[code]

[2019-04-18 06:43] zhiics commented on #3039
BTW, I am not certain that stopping fusing return tuple will fully solve the problem because it looks to me that we will still have two identical tensor in the tuple, right? Am I missing something?

[2019-04-18 07:09] masahi commented on #3039
@zhiics It looks like the tuple with duplicated tensors is only problematic if it is the return value of a subfunction (i.e. a function that is lowered to topi and compiled by TVM). If we lift the tuple out of a subfunction and put it under the global function, it seems to work fine. The test below works on my local.

[code]

The tuple is now lifted out of subfunction %0.
[code]

[2019-04-18 07:18] zhiics commented on #3039
@masahi I see, thanks. Another option is probably using a copy operator if there are duplicates.

[2019-04-18 07:29] masahi commented on #3039
@tqchen I'm looking into the following approach:

* Initially, the tuple and its fields are marked as Injective, so that they can be fused as much as possible.
* Later, if we detect that a tuple is the root of its group in [this line](https://github.com/dmlc/tvm/blob/master/src/relay/pass/fuse_ops.cc#L825), we do all necessary patchwork to make each tuple fields become root in its group and return

[2019-04-18 15:53] ajtulloch commented on #2959
@baowenlei the correct "fix" (i.e. working around the bug in LLVM) seems to be disabling vectorized IR generation (i.e. scalarizing in codegen_llvm) for fp16 statements on AVX-512 (and perhaps other backends if there are similar issues).

[2019-04-18 15:54] tqchen commented on #3039
@masahi In your exmaple of two strided_slice, given that we do not yet cooperatively fuse the two parallel strided_slice together atm, the second version is mostly as efficient as the first one.

[2019-04-18 22:22] yzhliu commented on #2519
I prefer not to do any layout conversion in frontend.
Just to clarify, tflite quantization has not been upstreamed, right? @FrozenGene

[2019-04-19 01:01] baowenlei commented on #2959
Thanks for the reply ! @ajtulloch
That might not be a good "fix" if performance/vectorization is a must.
I will stick to my walk around of cast float16 to float32 for now.

Thanks again for the time!

[2019-04-19 02:20] FrozenGene commented on #2519
@srkreddy1238 @yzhliu Thanks comments!

If all of you agree, I will make TFLite frontend support from NCHW to NHWC.

@yzhliu Yes. quantization part support is not been upstreamed yet. It has many changes. I plan to upstream it in dev 0.6. My original plan is to support TFLite NHWC the reason is we could leverage auto tuning of NCHW and see the performance of quantization model. The initial work is

[2019-04-19 07:09] junrushao1994 commented on #3042
This is a great progress towards deploying real-world NLP models. Thanks Jared for proposing this!

As far as I could tell, however, in the long term, we probably need more support for more general dependent typing for more data types. I am afraid that we will have to consider composite types in the very end.

[2019-04-19 07:19] junrushao1994 commented on #3042
Another immature idea is to unify composite types with operator's attributes (but maybe far long-term)

[2019-04-19 14:12] merrymercy commented on #2941
closed by #2972

[2019-04-19 14:12] #2941 closed

[2019-04-19 15:28] jamessmith90 commented on #3023
@ehsanmok
I was trying to run the same model on yolov3-tiny and for that i had changed the

[code]

to

[code]

This is running perfectly on cpu but not on gpu.

[2019-04-19 18:35] #2994 closed

[2019-04-19 22:11] YuanLinNV opened #3052 "[TE Bug] Incorrect CUDA code generated when 3d thread-grid is used"
Given the test case shown at the bottom, if `cuda` is set to False, the code runs fine and gives the correct result. If `cuda` is set to True, the execution result is incorrect. From the CUDA code generated, it seems the threads corresponding to threadIdx.y == 1 and threadIdx.z==1 (both extends are 2) are being predicated off.

[code]

Is the use of scheduling primitives incorrect? Or are we hitti

[2019-04-20 00:48] tqchen commented on #3052
Thanks for bringing this up. This is a bit blurred given that there can be development related discussions or potential bug. Given that there is not yet clear actionable items along the direction, how about we start by a discussion thread in https://discuss.tvm.ai/. Once we have something that is concretely actionable, we can bring it to issues and fix the problem promptly

[2019-04-20 00:54] cbalint13 commented on #3023
https://discuss.tvm.ai/t/opencl-mali-error-use-of-undeclared-identifier-inff/2270

[2019-04-20 01:44] YuanLinNV commented on #3052
Ok. Started the discussion thread at https://discuss.tvm.ai/t/incorrect-cuda-code-generated-when-3d-thread-grid-is-used/2288

[2019-04-20 03:40] petit-ami opened #3055 "from_caffe2"
DecodeError                               Traceback (most recent call last)
<ipython-input-11-1cd24da8f231> in <module>()
      6         self.init_net, self.predict_net, self.value_info = mf.get_c2_model(model_name)
      7
----> 8 resnet50 = Model('resnet50')

<ipython-input-11-1cd24da8f231> in __init__(self, model_name)
      4 class Model:
      5     def __init__(self, model_name):
----> 6

[2019-04-20 06:22] cbalint13 opened #3057 "error: Use of undeclared inff"
Dear All,

* Using [from_darknet](https://raw.githubusercontent.com/dmlc/tvm/master/nnvm/tutorials/from_darknet.py) tutorial but on yolov3-tiny & cuda lead to compile error seen below.
* Patched the tutorial using a small modification to target it on yolov3-tiny & cuda, on CPU works fine.
* There was a similar issue #3023, also new discuss.tv.ai thread was started [HERE](https://discuss.tvm.ai/t/o

[2019-04-20 14:56] ghostplant opened #3058 "TVM for ROCm 2.x is currently not working"
Environment: Ubuntu 18.04 + ROCm 2.2 + TVM (built from current master with ROCM = ON)

I ensure the target TVM library successfully detect and link with ROCM, and the tuning procedure runs successfully, however, while executing `tvm.build(s, arg_bufs, 'rocm', name='matmul')`, it failed with the following error:

[code]

[2019-04-20 17:50] kovasb opened #3059 "[RFC] Support Tensorflow Op Bridge"
This is a feature request.

Can we make this kind of integration easy to achieve for end users?
https://tvm.ai/2018/03/23/nmt-transformer-optimize.html

whereby TVM is used to create a kernel that is then exported into the TF runtime. After searching, I was unable to find open source code of this kind of integration. For someone who knows both systems at the appropriate layers this is probably eas

[2019-04-20 17:57] tqchen commented on #3059
This is somewhat related to DLPack support: https://github.com/tensorflow/tensorflow/issues/24453 if we can get DLPack support into tensorflow, then it will be natural to add such support.  If there is someone who is interested in adding DLPack support to Tensorflow, we can then move on from there

It is already possible through pytorch:

See also https://tvm.ai/2018/08/10/DLPack-Bridge.html

[2019-04-20 18:13] kovasb commented on #3059
Thanks for taking a look at this! And btw huge fan of all your other work :D

I would love to have DLPack support directly in TF and agree that would make this ask easier.

However I'd like to point out an alternative path that has some advantages from a project management / open source collaboration POV.

Getting DLPack support merged into TF is likely 10x more work than support level 1 described

[2019-04-20 19:08] tqchen commented on #3059
OK, I agree. Let us know if you are interested in exploring level 1 and contribute a tutorial. TVM compiler function’s can be directly used in C++ programs, take a look at the deploy example in apps and the only question is about how to hook that into TF related data structure, contribution is welcomed

[2019-04-21 01:37] ghostplant commented on #3058
All target TVM libraries link to ROCm successfully:
[code]

[2019-04-21 01:51] gussmith23 opened #3060 "[RFC][Datatypes] Bring Your Own Datatypes: supporting custom (software) datatypes"
See the custom datatypes pull request at #2900.

This RFC proposes support for custom datatypes. Specifically, we only propose supporting software datatypes at the moment. By "software datatype", we mean a datatype (e.g. a [posit](https://en.wikipedia.org/wiki/Unum_(number_format)#Type_III_Unum_-_Posit)) which is implemented by a library (e.g. [Stillwater's Universal library](https://github.com/st

[2019-04-21 03:13] ghostplant commented on #3058
I printed all the registered providers:
For TVM built with CUDA on, TVM runtime detects following providers:
`[codegen.build_aocl] [codegen.build_opengl] [codegen.build_cuda] [codegen.build_metal] [codegen.build_opencl] [codegen.build_aocl_sw_emu] [codegen.build_sdaccel] [codegen.build_c] [codegen.build_stackvm]`
and no errors for the whole tuning procedure.

For TVM built with OpenCL on, TVM runt

[2019-04-21 03:53] masahi commented on #3058
Have you enabled LLVM? The rocm target won't be enabled if USE_LLVM is off (even if USE_ROCM is on)

[2019-04-21 04:26] hlu1 commented on #3055
Are you using python2.7? TVM has officially dropped support of python2.7. Can you rerun it with python3 (at least python 3.5)? The error message looks like a caffe2 protobuf error. It failed to decode the input init_net.

If the problem still exists after upgrading to python3, please post a repro.

[2019-04-21 04:29] tqchen commented on #3055
It is also better to move the question first to discuss.tvm.ai

[2019-04-21 04:29] #3055 closed

[2019-04-21 05:34] yangjunpro commented on #3059
@kovasb Nice to see your interest into our TVM&TF NMT article:)

Also we have had some internal discussions regarding to adding non-TF DL compiler backend into TF as a complementary for XLA, and TVM is absolutely one of the great choices.

There are some principles I think we might need to follow to ensure the smooth integration:
1. TVM related support should be placed as a standalone github repos

[2019-04-21 08:23] ghostplant commented on #3058
@masahi After enabling LLVM, the runtime turned from undetected exception into segment fault crash:
[code]

[2019-04-21 10:04] masahi commented on #3058
Is your card really gfx906? Then I think you need a fairly recent LLVM.

[2019-04-21 10:21] ghostplant commented on #3058
@masahi Yes, all other rocm apps run well. I am using LLVM 6.0, can you suggest a specific version that you have tested for ROCm 2.x? Seems like I tried some other LLVM version but not working well for TVM.

[2019-04-21 10:48] masahi commented on #3058
I have only used LLVM 6.0 with my gfx803 card. If other rocm apps are working, you can try the same LLVM version that comes with your rocm installation.

[2019-04-21 12:54] ghostplant commented on #3058
@masahi I upgraded to llvm-8.0 this time, and TVM throws another kinds of exception:
[code]

[2019-04-21 13:13] ghostplant commented on #3058
@masahi Seems like TVM is not working well with ROCm 2.2

[2019-04-21 13:21] masahi commented on #3058
hmm I don't know what's happening. It's been a while since I used rocm backend. Does a very simple example like vector add work?

[2019-04-21 13:24] ghostplant commented on #3058
@masahi Can you provide such an sample? Maybe the code I am using not correct as well.

[2019-04-21 13:27] masahi commented on #3058
https://github.com/dmlc/tvm/blob/master/tutorials/tensor_expr_get_started.py
You can replace cuda with rocm.

[2019-04-21 13:34] ghostplant commented on #3058
@masahi Also failed with the same error:
[code]

[2019-04-21 13:35] masahi commented on #3058
Ok thanks. I will take a look

[2019-04-22 02:30] petit-ami commented on #3055
@after creating a new environment of python3.6, another message occurs:
DecodeError                               Traceback (most recent call last)
<ipython-input-2-1cd24da8f231> in <module>()
      6         self.init_net, self.predict_net, self.value_info = mf.get_c2_model(model_name)
      7
----> 8 resnet50 = Model('resnet50')

<ipython-input-2-1cd24da8f231> in __init__(self, model_name)

[2019-04-22 07:33] hlu1 commented on #3055
I'm pretty sure your problem is with protobuf and caffe2/pytorch. The error message doesn't seem to be related to tvm. Have you tried to run the unit tests in pytorch and see if all those pass?

[2019-04-22 07:46] petit-ami commented on #3055
DecodeError                               Traceback (most recent call last)
<ipython-input-2-1cd24da8f231> in <module>()
      6         self.init_net, self.predict_net, self.value_info = mf.get_c2_model(model_name)
      7
----> 8 resnet50 = Model('resnet50')

<ipython-input-2-1cd24da8f231> in __init__(self, model_name)
      4 class Model:
      5     def __init__(self, model_name):
----> 6

[2019-04-22 07:57] petit-ami opened #3064 "from onnx :SyntaxError: duplicate argument 'name' in function definition"
Traceback (most recent call last):

  File "/export/userhome/liqiang/liqiang/Anaconda/ENTER/envs/tvm36/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2862, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)

  File "<ipython-input-3-a9420e0f6288>", line 4, in <module>
    import tvm.relay as relay

  File "/export/userhome/liqiang/liqiang/tvm/tvm/python/tvm/rela

[2019-04-22 08:09] cbalint13 commented on #3057
* Same is with LLVM6.0 as with LLVM8.0 .

[2019-04-22 08:14] myproject24 opened #3065 "How to convert NCHW to NHWC in tvm?"
Hi, @tqchen, @srkreddy1238   is there any way i can convert NCHW to NHWC in tvm. I have tvm compiled model it takes input in the form of NHWC, and cv::Mat is giving in form of NCHW 4 dimension array.

[2019-04-22 13:04] OuHangKresnik opened #3067 "UnboundLocalError: local variable 'tensor' referenced before assignment"
MacOS

### **Error:**
  File "/Users/ouhang/Work/Ninjia/workspace/tvm/python/tvm/_ffi/_ctypes/function.py", line 71, in cfun
    rv = local_pyfunc(*pyargs)
  File "/Users/ouhang/Work/Ninjia/workspace/tvm/topi/python/topi/opengl/pooling.py", line 124, in schedule_pool
    traverse(outs[0].op)
  File "/Users/ouhang/Work/Ninjia/workspace/tvm/topi/python/topi/opengl/pooling.py", line 110, in traverse

[2019-04-22 15:32] yjcn opened #3068 "SSD300 VGG16 ERROR tvm.error.OpNotImplemented: Operator L2Normalization is not supported in frontend MXNet."
I have trained a ssd model by using [mxnet_ssd](https://github.com/apache/incubator-mxnet/tree/master/example/ssd). I deployed  the model,and the model works well in mxnet.And I want use the tvm(git clone from github and build with LLVM ). But there still is a error:  **tvm.error.OpNotImplemented: Operator L2Normalization is not supported in frontend MXNet.**
I use this code to convert the model.

[2019-04-22 15:37] kumasento opened #3069 "Mismatching between schedule and compute for group conv2d"
Hello,

I'm not sure whether anyone has met this problem before, but when I was trying to run an ONNX model that has group convolution, i.e., `group > 1 && group != in_channels`, Relay will apply mismatched schedule and compute function (see [here](https://github.com/dmlc/tvm/blob/master/python/tvm/relay/op/nn/_nn.py)):

[code]

The reason behind is that some shape-based conditions for making the

[2019-04-22 15:43] kumasento commented on #3069
To reproduce this issue, please check this short example:
[gconv_tvm_onnx.zip](https://github.com/dmlc/tvm/files/3103888/gconv_tvm_onnx.zip)

[code]

I'm using the latest master of TVM (https://github.com/dmlc/tvm/commit/4335db0a2190adf940df8fb9379d168c01eaa49f)

[2019-04-22 16:29] tqchen commented on #3068
For this kind of community questions, please open a new thread on https://discuss.tvm.ai/

[2019-04-22 16:29] #3068 closed

[2019-04-22 16:32] tqchen commented on #3067
This fix lgtm, a PR is welcomed!

[2019-04-22 16:33] tqchen commented on #3064
For this kind of community questions, please open a new thread on https://discuss.tvm.ai/

[2019-04-22 16:33] #3064 closed

[2019-04-22 16:33] tqchen commented on #3065
For this kind of community questions, please open a new thread on https://discuss.tvm.ai/

[2019-04-22 16:33] #3065 closed

[2019-04-22 20:20] wweic commented on #3059
@yangjunpro +1 on your work. As Relay is also planning to support dynamic shape(https://github.com/dmlc/tvm/issues/3042), we might not need to directly handle step 5(relay does the JIT/bucketing under the hood). We are also thinking that is it reasonable to do the opposite, the main runtime is tvm runtime, and fallback to TensorFlow for unsupported ops, would it yield a solution that has lower mem

[2019-04-22 21:01] nhynes commented on #2887
Out of curiosity, what will be the difference between upstreamed r-s-s and fortanix sgx? The Rust `libstd` implementation is already preferable to the hugely complex and large TCB Intel C/C++ libs. Are you innovating on the runner?

[2019-04-22 21:16] bulanova-huawei opened #3072 "Performance issue in PassUpDomain when fusing and splitting axes."
PassUpDomain estimates a bounding box for IntSet conservatively when axes are first fused, and then split.
Code:
[code]
produces
[code]
Note that the whole tensor `A1` is realized at each iteration of `i.j.fused.outer`.
More efficient would be:
[code]

Related discussions:
https://discuss.tvm.ai/t/discuss-contributing-new-docs-for-inferbound/2151/9
https://discuss.tvm.ai/t/tensorize-which-use-case

[2019-04-23 02:36] yjcn commented on #1223
@ifeherva  @titikid I meet the same [problem](https://github.com/dmlc/tvm/issues/3068). Is the L2Normalization op still not suppoted in nnvm?

[2019-04-23 03:23] minminsun opened #3076 "Does relay/nnvm support dynamic shape?"
I noticed that models defined under python/tvm/relay/testing/ all have fixed input shapes. But in real applications some dimensions, e.g. the batch dimension, could vary from one request to another.
In Tensorflow, the dynamic shape is supported by specifying None for some dimensions of a placeholder's shape. So I'm curious does relay or nnvm have such support too?

[2019-04-23 03:30] wweic commented on #3076
Hi @minminsun, There is RFC for dynamic shape in Relay(https://github.com/dmlc/tvm/issues/3042). For dynamic rank, algebraic data type can be used to support it to some degree. https://discuss.tvm.ai/ is the forum for general questions/discussions :-)

[2019-04-23 03:31] minminsun commented on #3076
@wweic many thanks!

[2019-04-23 03:31] #3076 closed

[2019-04-23 03:35] srkreddy1238 opened #3077 "[TENSORFLOW] Frontend update to 1.12"
w.r.t
https://discuss.tvm.ai/t/support-for-tensorflow-ops-for-newer-tf-version/2324

Standard Tensorflow models exported in TF 1.12 & later have newer ops which have not been implemented in TVM right now.

VariableV2: I guess TF has deprecated Variable and moved to variable2. I am not 100% sure though. Here is the link 1
TruncatedNormal
Assign
I havent encountered any other non supported op. Want

[2019-04-23 04:11] cloudhan opened #3078 "[Question] Does it necessary to define project based option command in cmake?"
I notice in dmlc project,s there will always be <project_name>_option in `CMakeLists.txt` which is defined in https://github.com/dmlc/tvm/blob/3f835bd974536a3b19dc63d7f7e55ada01d752bd/cmake/util/Util.cmake#L28

I am curious, what is its purpose? Why not just use CMake's `option` command?

[2019-04-23 05:51] kevinthesun commented on #3042
I think for now it is okay to just support code gen with fully symbolic shape. Later if we want specific optimization strategies for different programs, we can revisit and adding more code gen strategies.

[2019-04-23 08:05] zhanggy358 opened #3079 "[Relay][ONNX]Import ONNX model to inference failed"
When I use ONNX model to inference , such as from_onnx.py(https://docs.tvm.ai/tutorials/frontend/from_onnx.html), I find these issue :

Traceback (most recent call last):
  File "from_onnx.py", line 98, in <module>
    **tvm_output = intrp.evaluate(sym)(tvm.nd.array(x.astype(dtype)), **params).asnumpy()**
   ......
   %0 = divide(%Input73, %Constant377) //
  %1 = nn.conv2d(%0, %Constant321, kernel

[2019-04-23 11:26] Wheest commented on #3079
Have encountered a similar issue myself, with the error `src_shape.size() == src_axis.size() (0 vs. 4) : `.

Couldn't find a solution on the [Discourse](https://discuss.tvm.ai/) last time I checked.

The error can be reproduced (at least on my systems) using this [gist Jupyter notebook](https://gist.github.com/Wheest/56d41fa210cfe7bc97ffd6d8f4173db3), which creates a PyTorch model, exports to onnx

[2019-04-23 12:59] luoqiuluoqiu opened #3080 "Win7 run error"
Environment: Win7 64
Python Version: Python 3.7
Code:
import tvm

n = 2
A = tvm.placeholder((n,), name='A')
B = tvm.placeholder((n,), name='B')
C = tvm.compute(A.shape, lambda *i: A(*i) + B(*i), name='C')
s = tvm.create_schedule(C.op)
f = tvm.lower(s, [A, B, C], name="test_add")
m = tvm.build(f, target="llvm")

error:
Traceback (most recent call last):
  File "D:/workplace/tcpython/TVM/tt.py", lin

[2019-04-23 14:56] viirya commented on #2270
For Mac users, you can modify `docker/bash.sh` to export port of the container to the host.

[code]

[2019-04-24 00:51] jroesch commented on #3079
Which versions are you using? I was able to download the exact code from the tutorial and run it on my Macbook with no error using the current HEAD of TVM and the most recent version of ONNX.

[2019-04-24 01:22] jroesch commented on #3079
There are two bugs causing the issue in your notebook. The first bug is that the ONNX importer annotates a scalar shape when the shape is unknown which gives you a type incorrect Relay program.

The second bug is that you were providing the shape information for the wrong input, the data input is `0` not `1`.

[code]

I will open a fix for the bug on our side, you should be able to run by changing

[2019-04-24 01:26] tqchen commented on #2270
@viirya do you mind open a PR to fix this? We can certainly change the setting depends on the os we detect

[2019-04-24 01:41] viirya commented on #2270
@tqchen Ok. I will do it.

[2019-04-24 06:06] zhanggy358 commented on #3079
at first ,thank you
I modify tvm code as following:
else:
 947                 self._num_input += 1
 948 #                tshape = self._shape[i_name] if i_name in self._shape else ()
 949                 if i_name in self._shape:
 950                     tshape = self._shape[i_name]
 951                 else:
 952                     print ("Must provide an input shape for `{0}`.".format(i_name))

[2019-04-24 07:30] zhanggy358 commented on #3079
@tqchen
I am sorry to trouble you for answering this issue.

[2019-04-24 08:50] fundamat commented on #3058
hi, @masahi @ghostplant

I have same problem, and I found the solution that works for me. So, I would sharing my experience on this. The `hipErrorNotFound` error was got when your environment is ROCm2.3 (not compatible with LLVM6 or 7) or use LLVM8+.

The reason is that LLVM uses `-mattr=+code-object-v3` in default for HSACO generation, but the ROCm `hipModuleLoad` function which only accepts a HS