[2019-07-23 00:50] tqchen commented on #3594
Some high level comment: the interface of the serializer should be implementation details and should not be exposed.

I think we should focus on the serialization format(text and bytecode), which could be more important(as we can always change the implementations)

[2019-07-23 01:07] zhiics commented on #3594
@tqchen My bad. The APIs started with `Serialize` and `Deserialize` are actually not exposed.

[2019-07-23 02:17] anijain2305 opened #3598 "Int8 NHWC pack tensorize failure"
If I replace `llvm` with `llvm -mcpu=skylake-avx512` at

https://github.com/dmlc/tvm/blob/master/topi/tests/python/test_topi_conv2d_nhwc_pack_int8.py#L67

, the test fails with the following error

[code]

@llyfacebook Can you please take a look?

[2019-07-23 02:43] anijain2305 commented on #3591
@FrozenGene @tqchen @u99127 Can you please approve the above API, so that we can move to next discussion. I have so many things to discuss :)

[2019-07-23 02:47] FrozenGene commented on #3591
@anijain2305 Let me look at it afternoon of today or evening.

[2019-07-23 02:47] tqchen commented on #3591
@anijain2305 to increase the throughput, can you also list other APIs, one per post and we use lazy consensus, wait for a week to see people's feedback then summarize.

[2019-07-23 02:57] tqchen commented on #3598
It seems was due to the recent revamp of integer simplification infra. One solution could be to introduce the bound information of the indices, (to hint ff.outer is non-negative) of Analyzer infra to tensorize.cc so the division simplification can be carried effectively.

Another way would be to carry through the floordiv/mod change(I could do that but need to wait a few weeks due to recent time c

[2019-07-23 03:00] jnorwood commented on #3591
There are a couple of things in this gemmlowp quantization example, which you should perhaps consider how it could be supported in your requantize api.
1.  ability to specify that range should be extended to include a zero value.
2.  ability to specify that the range should be nudged so that exact zero is an integer value.
` https://github.com/google/gemmlowp/blob/master/doc/quantization_example.c

[2019-07-23 03:09] anijain2305 commented on #3591
@jnorwood Thanks for the comment. Both good points. I will keep those abilities, though, outside of the scope of requantize op.
Another function (not necessarily a Relay operator) can take min/max, a config (like nudge that zero is exactly representable) and generates scale and zero point as per the given choice. As of now, I am thinking of them as utility functions.

[2019-07-23 03:20] anijain2305 commented on #3591
### QNN Conv2D operator

#### Tensorflow
[code]

#### MxNet
[code]

#### QNN Proposal
[code]

[2019-07-23 03:21] tqchen commented on #3301
ping @yzhliu

[2019-07-23 03:21] tqchen commented on #3563
Close for now, please open a new thread on https://discuss.tvm.ai/ if the problem persists. Thanks for reporting

[2019-07-23 03:21] #3563 closed

[2019-07-23 06:22] FrozenGene commented on #3591
@anijain2305 Could we also list the api of TFLite and QNNPACK? I think both should be considered. Because we will parse TFLite model and QNNPACK is an good quantization accelerated library

[2019-07-23 06:36] jnorwood commented on #3591
The reference integer implementation of tflite conv2d has optional bias parameters which are pointers to 32 bit signed values, where a null pointer can be used to skip the operation.

Is it the intention to always separate out the bias add operation in tvm apis?

one other comment ... I've seen an implementation of quantized conv2d where the 32 bit signed bias values were preloaded to the accumula

[2019-07-23 06:53] llyfacebook commented on #3598
It seems to be broken some time ago (Even before https://github.com/dmlc/tvm/pull/3526). Fortunately, I still have a working copy locally and try to dig into it this week.

[2019-07-23 13:56] ghostplant opened #3602 "[AUTOTVM] Cleanup subprocess when main process exit abnormally"
TVM engine uses many new python subprocesses to allocate tasks for kernel tuning. However, the problem is it doesn't clean all these processes when the main process is terminated before tuning is total done which takes unknown time to finish or other purpose for cancelling jobs manually.

This issue happens conditionally, so it might depend on what kind of work the subprocess is doing when the mai

[2019-07-23 14:44] yzhliu commented on #3301
will look into it next week.

[2019-07-23 15:38] anijain2305 commented on #3591
@FrozenGene Updated the Conv2D API. Also, added a diagram explaining how to go from TFLite to Relay operators.

[2019-07-23 15:41] anijain2305 commented on #3591
@jnorwood Yes, bias is kept outside as a separate operator. But, this can be fused with the qnn.con2d.

Regarding the accumulation point, if we perform fusion and add the bias in `int32` in the accumulator at the end, is it any different than preloading the accumulator? We need to ensure that op is fused i.e. the bias addition happens in the same accumulator where conv2d has just finished.

[2019-07-23 16:53] tqchen commented on #3602
This seems to be a reasonable thing to fix, @ghostplant can you try to look into that? Likely setting the process to be demo would enable that

[2019-07-23 17:00] tqchen commented on #3598
@llyfacebook @anijain2305  the reason was likely due what i mentioned in the last post(not being able to simplify certain expressions), we could try the proposed solutions

[2019-07-23 17:16] jnorwood commented on #3591
When preloading a negative bias, a signed 32 bit accumulator positive accumulate range is extended (before  overflow), for example.  Maybe the result from a post bias_add is the same for most implementations, but signed int overflow behavior is undefined in the C standards... so the order of bias_add operations might matter.

I saw the bias preload used in some paper.  I'll  check my notes and see

[2019-07-23 19:29] anijain2305 commented on #3598
@tqchen Makes sense. As of now, I am busy with other stuff. Let's keep status help wanted for now. Maybe I can take a look later when I get some free cycles.

[2019-07-23 19:41] anijain2305 commented on #3581
@tqchen @FrozenGene

I made following changes - basically creating an intermediate tensor for just sum.
[code]

I am still getting the following error. Any direction?

[code]

[2019-07-24 00:07] slyubomirsky commented on #3480
New docs have been written and existing ones are updated. Closing unless further changes become necessary.

[2019-07-24 00:07] #3480 closed

[2019-07-24 02:45] FrozenGene commented on #3591
@anijain2305 Could we list the ConvParams of TFLite? I think it is more clean what TFLite's convolution  computation need.

For the diagram, I think maybe we could avoid the intermediate `clip`. Because we have one `clip` in `requantize` operator. If we accept one `output_min` / `output_max`, then we just do one `clip` in `requantize`, no intermediate `clip`.

[2019-07-24 04:34] stakemura opened #3608 "[ONNX] Support ConvTranspose + auto_pad"
TVM Relay (latest master branch) couldn't compile ONNX including [ConvTranspose + auto_pad](https://github.com/onnx/onnx/blob/master/docs/Operators.md#ConvTranspose).

Here is the code and the attached
[ZIP-compressed ONNX file updated on Jul 25](https://github.com/dmlc/tvm/files/3429710/upconvert.onnx.zip)
 to reproduce the error.

[code]

This issue is critical for us.
Would you like to support

[2019-07-24 06:21] anijain2305 commented on #3591
@FrozenGene I dont think `requantize` should take output_min and output_max. We can use `requantize` after/before any operator, where `relu` might not be at all applicable. Instead, I would suggest having two clip operators. And then relying on Relay passes to optimize the graph - in this case converting two back-to-back clip into a single clip.

We had similar discussion here - https://github.com

[2019-07-24 10:27] ghostplant commented on #3602
There are many TVM modes (e.g. remote server/local) and many components (e.g. XGBoost)  using sub-process which is managed multiple times from difference places, or even outside the management of TVM (e.g. XGBoost multiprocessing pool), so I think fixing it within TVM thoroughly seems not to be a quite reasonable workload, so that is why I create this issue instead of submitting a PR  :）

[2019-07-24 16:54] anijain2305 opened #3610 "Potential Fusion Bug"
[code]

[code]

**The error goes away if I make where operator Opaque.**

Some followup discussion at - https://discuss.tvm.ai/t/potential-fusion-bug/3270

@zhiics @yzhliu @vinx13 @masahi @tqchen

[2019-07-24 16:58] tqchen commented on #3610
Let us keep the discussion in the discuss, once we have an actionable item, the open a new issue to resolve it

[2019-07-24 16:58] #3610 closed

[2019-07-24 17:26] anijain2305 commented on #3610
@tqchen Makes sense.

However, the reason I opened the issue is that people might not know about discuss forum. It is more probable they people visit Issues more frequently than discuss forum, and a tag `status: help wanted` might motivate somebody take a look.

[2019-07-24 18:06] tqchen commented on #3240
After i think a bit more about it. I think the problem was that we do need to represent the 0-rank tensor as TensorSlice, so in the above case, we should instead write(note the call in the scale)

[code]

[2019-07-24 18:12] tqchen commented on #3240
https://github.com/dmlc/tvm/pull/3612 makes the test cases more conservative. So that the topi behavior can remains the same.

[2019-07-24 18:17] tqchen commented on #3610
The line can be blurred, but given that we are already investigating it in the discuss forum, let us keep it there. We do want to fix problems as they occur, and the same stands true regardless of where we post the discussion.(both are forwarded to dev@)

[2019-07-24 18:21] tqchen commented on #2658
https://github.com/dmlc/tvm/pull/3491

[2019-07-24 18:21] #2658 closed

[2019-07-24 18:24] tqchen commented on #3608
It would be great if you can look a bit into what is going on, and the community can provide help on possibly actions

[2019-07-24 18:25] tqchen commented on #3602
Every issues need to be actionable. So while this is a problem that we need to address, it would be great if you can send in PRs on places you see that can partly address it. Then we go from there.

[2019-07-24 18:26] tqchen commented on #3209
https://github.com/dmlc/tvm/pull/3391

[2019-07-24 18:26] #3209 closed

[2019-07-24 18:26] #2971 closed

[2019-07-24 18:27] tqchen commented on #2884
Duplicated with #3154

[2019-07-24 18:27] #2884 closed

[2019-07-24 18:28] tqchen commented on #2606
https://github.com/dmlc/tvm/pull/3391

[2019-07-24 18:28] #2606 closed

[2019-07-24 18:48] #3240 closed

[2019-07-24 19:25] were opened #3613 "[Bug] Domain touched cannot correctly infer the bound"
Say a simple way to replicate:

[code]

For the first print, which expects `min=0, ext=8`, but gives `min=0, ext=7`.
The second one can be correctly inferred.

Let me fix it. I am urgent to use this feature.

[2019-07-24 19:59] #3613 closed

[2019-07-24 22:44] anijain2305 opened #3617 "[QNN] [RFC] - Adding QNN operators with simple lowering"
Relevant QNN Dialect RFC - #3591

Some QNN operators like Requantize and Conv2D are more amenable to going through C++ lowering pass. A couple of factors where C++ implementation seems better is - when new operator is conceptually very different from existing operators (Requantize), when input/output TensorType needs to be known for lowering, needs lots of type checking etc.

However, as we start

[2019-07-25 01:09] ZQPei opened #3619 "How to add an operator?"
Recently I am doing some stuff on ONNX to TVM and get this error:
`tvm.error.OpNotImplemented: The following operators are not supported for frontend ONNX: Resize, MaxUnpool`
I suppose that I need to implement these two ONNX to TVM operators.
How can I do that?

[2019-07-25 01:10] tqchen commented on #3619
Please open a new thread on https://discuss.tvm.ai/

[2019-07-25 01:10] #3619 closed

[2019-07-25 03:55] Howave commented on #3563
@srkreddy1238 It was fixed by  #3514 .

[2019-07-25 04:14] vinx13 commented on #3608
@stakemura this means we need to infer padding in case `auto_pad` is set in https://github.com/dmlc/tvm/blob/e7fb2d4d05858ad64f27cc06b944d5abcdaaef3e/python/tvm/relay/frontend/onnx.py#L209

[2019-07-25 11:33] jackwish commented on #3591
I was looking into PR #3531 and #3512 , and noticed that the PRs are going to support 32 bits quantization. I'd like to move to this RFC thread to loop more people with my consideration.

Before going far, let me clarify that, `Requantize` is obviously needed to support int32 input which is the accumulated multiplication intermediate result in conv2d when tensor type is int8. The problem is about

[2019-07-25 12:38] patrick20190725 opened #3625 "vta_config problem!"
when I change the vta_config.json configuration，it will display that A fallback configuration is used, which may bring great performance regression. and the amount of  loaded data and weight is huge. How to configure the correct parameters?
![VTA config](https://user-images.githubusercontent.com/53302474/61874941-24089c80-af1c-11e9-9a8e-3b908c786372.png)
![tvm issue](https://user-images.githubuser

[2019-07-25 16:25] anijain2305 commented on #3591
Thanks @jackwish
This is a very good analysis. Everything makes sense. I upvote for restricting to `(u)int8` for now for `Quantize` and `Dequantize`.

If in future, we see `(u)int16`, we can tackle then. `int32` is highly unlikely (why not just go to `FP32` as you say).

[2019-07-25 17:14] tqchen commented on #2563
https://github.com/dmlc/tvm/pull/3227 initial impl. Let us open new RFCs to track new improvements

[2019-07-25 17:14] #2563 closed

[2019-07-25 17:16] tqchen commented on #3625
Thanks for reporting the problem. Please use https://discuss.tvm.ai/ to involve more community members

[2019-07-25 17:16] #3625 closed

[2019-07-25 17:28] tqchen commented on #3591
@ajtulloch @antinucleon @ZihengJiang @jroesch, would be great if you can also review this week and sign off the APIs

[2019-07-25 17:45] anijain2305 commented on #3617
We added a QNN max_pool2d operator to show the file changes required in this proposal. Please share your thoughts!

[2019-07-25 18:56] jnorwood commented on #3591
on the discussion of the intermediate formats supported ...

The intel avx512 vnni/dlboost operations are simd operations that support 8 bit quantized inference.

Their intrinsic descriptions show that the int8 multiplies go to intermediate 16 bit results before they are accumulated (in the fma) to int32 registers.

Would it be worth considering how tvm can detect sequences that can be substituted

[2019-07-25 19:07] anijain2305 commented on #3591
@jnorwood We are using intrinsics for Skylake and there is already a PR to take advantage of VNNI intrinsics #3388

[2019-07-25 20:25] shoubhik commented on #3591
@jackwish, i want to get my understanding correct, when you say

are you talking about the inputs or outputs of quantize/dequantize ops being int32? Because, the current implementation for
1. Quantize - limits the inputs to be float32 and output to be (u)i8
2. Dequantize - The input to be (u)int8 and output to be float32

Or are you suggesting we should support higher number of bits (>16) for thes

[2019-07-26 01:20] jackwish commented on #3591
@shoubhik I was saying to limit to int8. I know your PR only your PR restricts to int8, while PR #3531 seems trying to enable int8/16/32. I move to here because I saw the two PRs share same code but seems are not consistent in quantization approach. Thanks for helping to clarify.

[2019-07-26 01:21] jackwish commented on #3591
I am very glad that it helped :)

[2019-07-26 02:37] shoubhik commented on #3591
Thanks for the explaination.

[2019-07-26 15:29] wweic commented on #3594
Could you also comment on how to encode heterogeneous execution information?

[2019-07-26 19:01] were commented on #3501
Yeah, I strongly agree with the point that we need to decouple schema reading and the generation.

This is somehow like LLVM's tablegen, which manages repeat and regular codes in a centralized description file to minimize the changes we need to add new IR nodes.

[2019-07-26 20:06] zhiics commented on #3594
I feel heterogenous execution will be mainly related to memory management in the VM. We don't need to encode any information in VM for the compilation and codegen. I think we probably need to handle `AllocTensor` a little differently, e.g. making it device aware.

[2019-07-26 20:32] anijain2305 commented on #3617
@tqchen @FrozenGene  Did you get a chance to take a look at this? Please let us know your thoughts. We have some more QNN ops in the working and following this proposal for now. Will be good if we can have some feedback here.

[2019-07-26 22:22] yongwww commented on #3414
@Shawhey just submitted a pr for this op. The case left is broadcasting for V2

[2019-07-26 22:56] gussmith23 opened #3635 "[Relay] Printing inception module hangs"
[code]

This code prints 1 and then hangs. Can someone confirm that this also happens on their machine?

[2019-07-26 23:08] #3635 closed

[2019-07-26 23:08] gussmith23 commented on #3635
Jared pointed out -- this will print out parameters, which are huge, and will likely lead to program crash.

[2019-07-27 03:36] zacario-li commented on #2535
Hi, I saw you mentioned that when users use tf/pt models with tvm's non_max_suppression op, they can compose 'boxes' and 'score' to generate the 'data' parameter.
Could you give me some hints for how to compose 'boxes' and 'scores'?

[2019-07-27 08:44] melo19890618 opened #3638 "how to solve "cannot match type handle64 vs int32""
I want to test roi-pooling,so i use the tvm/topi/python/topi/vision/rcnn/roi_pool.py like this:

import math
import te.lang.cce
from te import tvm
from topi import generic
from topi.cce import util
#from tvm.intrin import if_then_else
from topi.nn import pooling
import topi
from te.platform.cce_build import build_config
from topi.util import get_const_tuple
from topi.nn import softmax
import topi

[2019-07-28 00:05] tmoreau89 opened #3641 "[TEST][FLAKY] test_topi_conv2d_winograd.test_conv2d_nchw"
http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-3496/53/pipeline/239

Occurs on `test_topi_conv2d_winograd.test_conv2d_nchw`

[code]

[2019-07-28 00:08] tmoreau89 commented on #3641
It could be due to #3553 @merrymercy @cbalint13

[2019-07-28 00:25] cbalint13 commented on #3641
@tmoreau89 ,

Would like to address a hot patch in form of PR ?

- It fail with a _very_ tiny limit on newly enabled (kernel > 3) options.
- Probably the mmoization was lost and on new random generated inputs tiny limit is triggered.

Below is the possible fix.

[code]

[2019-07-28 00:29] tmoreau89 commented on #3641
That seems fine, do you mind issuing the PR with the hot fix, and adding myself and @merrymercy to the reviewers? Thanks

[2019-07-28 17:54] tqchen commented on #1811
Try to revive this thread a bit. @FrozenGene  would you be interested in contributing a tutorial?

[2019-07-28 17:56] stakemura commented on #3608
@vinx13 Thank you for the supplementary explanation!
@abuccts I deeply appreciate your help. I would like to try your patch.

[2019-07-28 23:55] mingwayzhang opened #3648 "[TOPI] conv2d schedule code"
We find a potential issue in the following line of the code:

[https://github.com/dmlc/tvm/blob/master/topi/python/topi/cuda/conv2d_direct.py#L93](https://github.com/dmlc/tvm/blob/master/topi/python/topi/cuda/conv2d_direct.py#L93)

Line 93: `ryo, ryi = cfg['tile_rx'].apply(s, OL, ry)`

Should `tile_rx` be `tile_ry`?

[2019-07-29 01:35] kuonangzhe commented on #3594
Does serialization/deserialization handles the quantized models? Currently the quantized model cannot be used when loaded from saved files.

[2019-07-29 06:40] FrozenGene commented on #1811
@tqchen Ok. What hardware we would like to focus on? However, I have to say I am busing in our internal dsp things. But I will try to do it as soon as possible.

[2019-07-29 08:22] merrymercy commented on #3648
Good catch. This is a bug when KH != KW.
We have to fix the schedule code and update records in TopHub.  Other users should also update their local autotvm records.

[2019-07-29 13:25] YPBlib opened #3652 "transform.cc: potential index overflow"
Here, https://github.com/dmlc/tvm/blob/0858c5ad42faefeefb7c24942a6bcbf075c4c4d7/src/relay/op/tensor/transform.cc#L1454

[code]

If cond_shape.size()=1 , and x_shape.size() = 2, then AssertEQ(cond_shape[i], x_shape[i]) will cause segment fault (array index overflow).

[2019-07-29 14:40] GalAster opened #3653 "[Rust] Runtime failed on windows"
- Windows10 X64

Build failure because type mismatch:

![image](https://user-images.githubusercontent.com/17541209/62056257-dbb8e980-b24f-11e9-902b-5aaa0438ca49.png)

https://github.com/dmlc/tvm/blob/cffb4fba03ea582417e2630bd163bca773756af6/rust/common/src/array.rs#L97-L104

`DLContext` seems defined in `CARGO_MANIFEST_DIR/src/c_runtime_api.rs`

It does an `i32` on my system.

![image](https://use

[2019-07-29 16:58] tqchen commented on #1811
I think the idea is to demonstrate the feature(of inline asm and how to do so), so we just have to do it say for x86.

[2019-07-29 17:27] zhiics commented on #3594
The serialization itself doesn't have much to do with quantization. If quantized model needs new opcode in the VM, we need to introduce them first and then extend the serialization/deserialization to support these instructions.

[2019-07-29 21:07] u99127 commented on #2351
A quick question here since I can't see this mentioned on #3591

Is this network going to be quantized per tensor as well as the new per-channel quantization that is appearing in tflite 2.0 ? IIUC, tf1.13 has per tensor quantization rather than the per channel quantization. i.e. more interestingly can the relay design support both ?

https://www.tensorflow.org/lite/performance/quantization_spec?so

[2019-07-29 22:40] MarisaKirisame opened #3655 "[Relay][VTA] Add ChangeBatch pass"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2019-07-29 22:40] MarisaKirisame commented on #3655
@tmoreau89

[2019-07-29 22:41] MarisaKirisame commented on #3655
I am very stupid.

[2019-07-29 22:41] #3655 closed

[2019-07-30 00:04] mingwayzhang commented on #3648
could I submit a patch to fix this?

[2019-07-30 02:18] FrozenGene commented on #3617
I think lowering in the Python make sense.

[2019-07-30 02:22] FrozenGene commented on #2351
Good question. We have only supported TF1.13 quantization. TF2.0 has separate scale and doesn't be considered in previous discussion. Seems there is a gap here. cc @anijain2305

[2019-07-30 03:02] chenaili6 opened #3659 "how to convert tensorflow saved models to pb models which can be run on tvm?"
Take inception-v1 for example, I used tf-to-nvmm.py to convert the original tensorflow pb model, frozen_inception_v1.pb, to frozen_inception_v1-shapes.pb, but when the frozen_inception_v1-shapes.pb was run on tutorials/frontend/from_tensorflow.py, an error occurred :

 /home/tvm/src/runtime/graph/graph_runtime.cc:94: Warning: cannot find "DecodeJpeg/contents" among input
Traceback (most recent cal

[2019-07-30 03:22] merrymercy commented on #3648
Thanks! Please also update the latest version of record here https://github.com/uwsampl/tvm-distro/tree/master/tophub

[2019-07-30 16:21] yongwww commented on #3659
You can feed savedmodel into tf converter as below, relay version is recommended.
[code]

[2019-07-30 16:30] tqchen commented on #3659
Please use for related questions https://discuss.tvm.ai/:)

[2019-07-30 16:30] #3659 closed

[2019-07-30 16:31] tqchen commented on #3653
cc @nhynes

[2019-07-30 16:32] tqchen commented on #3652
@YPBlib can you send a PR to add additional checks to guard against this case? I think there is a case when cond_shape.size() == 1 but x_shape.size is not. which we need to have special way of handling it

[2019-07-30 17:33] sf-wind opened #3666 "TypeError: 'NoneType' object is not iterable when kernel_size is not specified"
the default value of "kernel_size" is None in relay.nn.conv2d. thus, when invoking the operator without specifying kernel_size, the code reports error:

TypeError: 'NoneType' object is not iterable

on: https://github.com/dmlc/tvm/blob/master/topi/python/topi/x86/conv2d.py#L437

Adding the kernel_size attribute to the operator get around the issue.

Maybe should use https://github.com/dmlc/tvm/blo

[2019-07-30 18:43] mingwayzhang commented on #3648
Do you mean I need to exchange the value of tile_x and tile_y in all these files? Please clarify. Thanks.

[2019-07-30 20:10] nhynes commented on #3653
Cool, thanks for the report! I'll spin up a windows vm and give this a look. I didn't think anyone would be determined enough to get LLVM and friends working on windows, so I didn't even test this flow :)

[2019-07-30 21:24] yzhliu opened #3670 "[RFC] AlterOpLayout Pass Refactoring"
This is the follow-up issue for https://discuss.tvm.ai/t/rfc-functionality-of-alteroplayout-and-possible-refactoring/ To enhance the AlterOpLayout pass,

The reason to do the refactoring is to address the limitation in current AlterOpLayout pass:
* the altered op should have the same number of arguments as the previous one
* do not support nested tuple arguments
* It cannot properly deal with the

[2019-07-31 06:56] ajaysg commented on #2410
My pytorch onnx graph has Aten operator which was not supported by tensorrt and onnxrt. So i am planning to compile via TVM. will i face any problem because of the Aten operator

[2019-07-31 07:48] cchung100m commented on #3652
Hi @YPBlib , @tqchen ,

I'm interested in working on this if no one else has signed up. I would appreciate if you can share more detailed thought for the implementation of additional check.

Many thanks,

[2019-07-31 08:10] merrymercy commented on #3648
1. Exchange `tile_rx` and `tile_ry` in `tvm-distro/tophub/cuda_v0.04.log`, and save it to `tvm-distro/tophub/cuda_v0.05.log`
2. Update the version number in https://github.com/dmlc/tvm/blob/83591aa5a139108976baf3febc7263c6f069ce9c/python/tvm/autotvm/tophub.py#L42

[2019-07-31 09:37] Youjk opened #3679 "compute_at after fused & split,the result is wrong"
when compute_at after fused & split, the IR is not as we want,the demo is like this:

[code]

the origin IR:
[code]

the fused IR:
[code]

the fuse and split IR:
[code]

the compute at after fused and split:

[code]

we can see after compute _at, the axis is not combined, is it a bug?

[2019-07-31 11:26] merrymercy commented on #3679
https://github.com/dmlc/tvm/pull/3073

[2019-07-31 11:26] #3679 closed

[2019-07-31 16:36] zhiics commented on #3594
#3647

[2019-07-31 16:36] #3594 closed

[2019-08-01 12:59] hlq1025 opened #3688 "add new operator to onnx.py"
i have a faster rcnn model in  onnx format.I use relay.frontend.from_onnx this api 。
I add the proposal layer and roipooling layer in onnx.py。
when executing the    “return _module.Module.from_expr(func), self._params”

the errors comes：

Segmentation fault: 11

Stack trace:
  [bt] (0) /home/hua/anaconda3/lib/python3.7/site-packages/mxnet/libmxnet.so(+0x2b64150) [0x7f2af0037150]
  [bt] (1) /lib/x8

[2019-08-01 13:01] hlq1025 commented on #3688
I also print the func。
it shows：
 %0 = nn.conv2d(%data_input, %conv1_W, strides=[2, 2], padding=[3, 3], dilation=[1, 1, 1], kernel_size=[7, 7]);
  %1 = nn.batch_norm(%0, %scale_conv1_scale, %scale_conv1_b, %bn_conv1_mean, %bn_conv1_var, epsilon=1e-05f);
  %2 = %1.0;
  %3 = nn.relu(%2);
  %4 = nn.max_pool2d(%3, pool_size=[3, 3], strides=[2, 2]);
  %5 = nn.conv2d(%4, %res2a_branch1_W, dilation=[1, 1

[2019-08-01 16:25] tqchen commented on #3688
Please open a new thread on https://discuss.tvm.ai/

[2019-08-01 16:25] #3688 closed

[2019-08-01 22:06] SrivastavaKshitij opened #3690 "[Linux] Build from source fails"
Hi There

Today I tried building TVM from source to upgrade my existing tvm install and it failed for some reason. `cmake ..` output is below followed by the output of build.
[code]

## `make -j8` gives the following:

[code]

## config.cmake

[code]

[2019-08-01 23:23] anijain2305 commented on #3617
@FrozenGene Can you please review #3627

[2019-08-02 00:49] tqchen commented on #3690
Please open a trouble shooting thread in https://discuss.tvm.ai/ this is likely due to a lack of an updated version of json config file

[2019-08-02 00:49] #3690 closed

[2019-08-02 01:20] yongwww opened #3691 "features.md is missing"
https://github.com/dmlc/tvm/blob/cffb4fba03ea582417e2630bd163bca773756af6/python/tvm/autotvm/feature.py#L74

[2019-08-02 01:56] jackwish commented on #3617
I guess the `cast` is not needed in max pooling? Anyway, simply logic for compile operators looks good.

[2019-08-02 02:13] anijain2305 commented on #3617
Thanks @jackwish for confirming the python lowering looks good.

For max pooling, we used casting, because we have to subtract the zero point from the quantized tensor. That subtract needs to happen in higher precision than (u)int8. Correct me if I am wrong.

[2019-08-02 02:23] FrozenGene commented on #3617
For TFLite model's average_pool / max_pool, which doesn't have input_zero_point. So, for TFLite, we don't need to subtract zero_point. MXNet have?

[2019-08-02 02:36] jackwish commented on #3617
To me, for Pooling operators, the quantization factors of input/output tensor are the same, thus there is no need to introduce zero point semantic. For MaxPooling, as we are selecting out the max value among uint8, the selecting doesn't introduce zero point change. For AveragePooling, we will accumulate in int32, and the accumulated zero point can be easily reduced in division operation.

You may

[2019-08-02 02:39] anijain2305 commented on #3617
Thanks @jackwish and @FrozenGene I understand your points.

This can be treated as optimization then. If the input zero point is zero OR if the input and output quantization params are same, don't cast, directly apply maxpool. Generally, we would like to keep QNN APIs generic. So, if MxNet for some reason decides to have different mix/maxes, we should be able to support that. Does that sound good?

[2019-08-02 02:47] jackwish commented on #3617
If a generic api is prefered, maybe scale/zero point of input/output tensor should all be included. If the zero point of input/output is different, maybe scale is also different, which requires requantization. Pooling seems not the case, as the input and output are of the same value distribution.

Anyway, I am good if we are likely to subtract the zero point, but remember to add it back after the

[2019-08-02 03:54] cchung100m commented on #3691
Hi @merrymercy @tqchen

This issue has been posted on [Discuss Forum](https://discuss.tvm.ai/t/features-md-missing/3086) and here, I'm interested in working on this if no one else has signed up. Can you please point me how to solve it because I cannot find the similar file which talking about axis in the IR under doc/ directory.

Many thanks,

[2019-08-02 04:49] merrymercy commented on #3691
replied at the forum

[2019-08-02 04:49] #3691 closed

[2019-08-02 14:17] mshawcroft opened #3696 "docker: tvm.ci_cpu docker image fails to build"
The ci_cpu docker image currently fails to build, issue appears to be in:

Step 15/29 : RUN bash /install/ubuntu_install_rust.sh

Which results in 12 build errors, first of which is:

   Compiling tokio-service v0.1.0
error[E0412]: cannot find type `NonZeroI8` in module `num`
    --> /opt/rust/registry/src/github.com-1ecc6299db9ec823/serde-1.0.98/src/de/impls.rs:2416:5
     |
2416 |     NonZeroI8,

[2019-08-02 14:20] mshawcroft commented on #3696
@nhynes are you able to help with this?

[2019-08-02 14:31] SrivastavaKshitij commented on #3690
There is a problem in this pull request (https://github.com/dmlc/tvm/pull/3496)

[2019-08-02 15:56] tqchen commented on #2651
#3538 is now merged. @vinx13 @ZihengJiang  it would be great to create followup tutorials to demonstrate the usage of quantize pass.

[2019-08-02 18:10] harouwu opened #3697 "[PY test failure][llvm codegen] test_codegen_llvm.py"
Hi, I got these errors when running `test_codegen_llvm.py` on the trunk hash `a88b2842`. I bisected the test functions and have these:

this one comes from `test_llvm_intrin()`
[code]

this one comes from `test_llvm_lookup_intrin()`
[code]

My clang version is 10.0 and I have set `USE_LLVM` in config.cmake. Could someone take a look? My llvm is built from src. this might caused the problem

btw, i

[2019-08-03 04:04] tqchen commented on #3697
It would be great if you can dig deeper. Also please open a new thread on https://discuss.tvm.ai/ as we use the discuss forum for trouble shooting.

It could due to the fact that the intrinsic def changes. We do have a test ci which is currently green in the frontend readme

[2019-08-03 04:04] #3697 closed

[2019-08-03 11:21] nhynes commented on #3696
Is this still an issue?

[2019-08-04 09:07] cchung100m commented on #3666
Hi @sf-wind ,

Could you please demostrate the steps to reproduce this error, thanks.

[2019-08-04 10:21] jsjs0827 commented on #495
@Arthur-Shi    I encoutner the same issue in WINDOWS10;I make the tvm with pre-build llvm(clang already can be used) successfully,can you give me some advice,thanks for any reply.

[2019-08-05 13:47] mshawcroft commented on #3696
Yep still an issue.

[2019-08-06 06:32] yanlei08 opened #3714 "ZeroDivisionError when compile mxnet model target cuda under Windows"
When I compile a mxnet model target cuda under windows7, it happed a ZeroDivisionError .
space.py(207):RuntimeWarning :divide by zero encountered in long_scalars
   if self.product % np.prod(tmp_stack) == 0:

![error](https://user-images.githubusercontent.com/26413147/62516153-d9a9e880-b856-11e9-89e6-1eb94b9e8727.png)

[2019-08-06 08:30] merrymercy commented on #3648
@mingwayzhang any updates?

[2019-08-06 10:07] yanlei08 opened #3715 "Too large factor for unrolling error when auto tuning model for android arm cpu"
I am tuning a model following the Tutorials of Auto-tuning a convolutional network for ARM CPU.
Too large factor for unrolling error happened when tuning.

[2019-08-06 17:40] mingwayzhang commented on #3648
will finish it ASAP. Sorry about the delay.

[2019-08-06 22:00] tqchen commented on #3715
Please open a new thread on https://discuss.tvm.ai/

[2019-08-06 22:00] #3715 closed

[2019-08-06 22:01] tqchen commented on #3714
Please open a new thread on https://discuss.tvm.ai/

[2019-08-06 22:01] #3714 closed

[2019-08-06 23:49] anijain2305 commented on #3670
What do you guys think about having `Layout` as a member of `TensorType`? Currently `Type` basically means dtype and shape. I think it is very useful to have `Layout` there as well. If thats the case, the `Legalize` API will get arg_dtypes, and thus layout, enabling transformation based on input layouts.

This also means `infer_type` gets more complicated, as it will have to infer layout as well.

[2019-08-07 00:20] icemelon9 opened #3720 "[Relay] FuseOps pass won't work after ToANormalForm pass"
The following code can reproduce the bug:
[code]
From output, we can see that there is no op fusion in `mod2`.
[code]

[2019-08-07 00:21] icemelon9 commented on #3720
cc @jroesch @wweic @MarisaKirisame

[2019-08-07 00:41] MarisaKirisame commented on #3720
@icemelon9 in fuse_ops.cc line 321, there is the single LetNode occurrence, with the comment "do not fuse through let". It shouldnt be very hard to fix.
Unfortuantely, I am busy for 3 weeks for some internal deadline, and cannot help code on this.

[2019-08-07 06:05] masahi commented on #3720
Shouldn't we apply A normal transform after fusion? Or are fusion and A normal transform commutative?

[2019-08-07 06:16] zhiics commented on #3720
I think we usually perform fusion as the last opt. But this problem seems more related to handling of `LetNode`.

[2019-08-07 09:54] abuccts commented on #3608
Hi @stakemura, could you help to verify the patch? @vinx13 could you please review the PR, thx!

[2019-08-07 11:02] Zzmc opened #3722 "compute_at problem!"
i have two produce

- [ ] produce A{

-  for (1, 16)

- for (1, 32)

- for (1, 64)

}

- [ ] produce B{

-  for (1, 1)

-  for(1,16)

}
when make the B compute_at to A(axis[0]), can it keep the "for (1,16)" unchanged?  like that:

- [ ] produce A{

- for (1, 16)

- [ ] produce B{

-  for (1, 1)

-   **for(1, 16)**

   }

- for (1,32)

- for (1, 64)

}

[2019-08-07 14:24] fink-stanislav opened #3725 "Incorrect classification result for CoreML"
## Summary

- Inference results of converted CoreML models are not correct
- The tutorial example shows the incorrect result as expected one

## Description

I am trying to convert CoreML model into something, that can be used for inference on Linux machine. I took a snippet from the tutorial and it did not work correctly. Curiously, even in the tutorial itself, the incorrect result [is shown as e

[2019-08-07 14:37] umangyadav opened #3726 "Add functionality for removing zero extent loops in the `RemovNoOp` pass"
Consider the following example:

[code]

In this case, LoopPartition gives the following output after the `Simplify` pass:

[code]

Dead zero extent loops can be removed from `RemoveNoOp` pass if functionality for that is added.

[2019-08-07 15:51] #3726 closed

[2019-08-07 15:52] tqchen commented on #3725
@kazum @zhreshold can you look into what is happening?

[2019-08-07 15:52] tqchen commented on #3722
Please open a new thread on https://discuss.tvm.ai/

[2019-08-07 15:52] #3722 closed

[2019-08-07 16:19] MarisaKirisame commented on #3720
The problem is indeed more fundamental: FuseOps dont handle LetNode (and LetNode is needed for scope/reference).

[2019-08-07 17:13] tqchen commented on #3696
can also confirm locally. cc @tmoreau89 the docker rebuild will likely depend on this as well.

[2019-08-07 22:55] tqchen commented on #3720
This is something that we should move to https://discuss.tvm.ai/ Likely a solution could be to transform to graph normal form, apply fusion, and then back to ANF.

Currently, most of our optimizations expect a minimum use of lets as possible. The original intention of the fusor is that If a let is necessary for scoping reasons, then we should not fuse through the let.

[2019-08-07 22:55] #3720 closed

[2019-08-08 00:07] Lyken17 commented on #2623
Does it mean traditional fusion / layout transform, or more recent graph substitution like [this paper](https://www.sysml.cc/doc/2019/22.pdf)? If the later one, I would like to port my onnx implementation to TVM.

[2019-08-08 03:42] yuluny2 opened #3731 "[Relay][RFC] Relay support for Sparse Tensor"
### **** Motivation
With new sparse operators being added to TVM on a weekly basis, we would like to propose a change that would address the lack of expressiveness in sparse tensors of the current relay type system.

Currently, we represent a CSR matrix with `namedtuple("CSR", ["data", "indices", "index pointer"])`. The problem is that this representation is not only unnatural but also missing sha

[2019-08-08 04:48] tmoreau89 commented on #3731
@ZihengJiang @tqchen @jroesch @MarisaKirisame @yidawang @zheng-da @ajtulloch

[2019-08-08 09:17] stakemura commented on #3608
@abuccts I'm sorry for the late reply. I confirmed #3645 patch can load the attached onnx model successfully.

[2019-08-08 09:47] MarisaKirisame commented on #2623
Higher order automatic differentiation was done like half years ago. Please check that.

[2019-08-08 13:18] #3648 closed

[2019-08-08 13:34] merrymercy commented on #2623
@Lyken17 https://github.com/dmlc/tvm/issues/1585

[2019-08-08 13:41] umangyadav opened #3733 "LoopPartition generates the tail loop with extent one"
The way loop partition works currently is that it divides the iteration space of the for loop in three different segments based on the conditions on the loop var.

1. `mid_stmt` where the condition is proven to be definitely either true or false.

and two `doubt` loops

2. `pre_stmt`,      where we can't prove the condition to definitely true or false, just yet and `pre_stmt` gets recursed further

[2019-08-08 15:54] junrushao1994 commented on #3731
Nice to see proposals on sparse format.

There are design trade offs between “having extra fields” and “design a new type”

[2019-08-09 17:57] tqchen commented on #3670
Right now the design decision is to not put Layout as part of the type system, because most of the original deep learning programs do not have layout and they are implied in the operator. We could however, provide a separate column of layout attribute that get passed in during rewriting if we need it later.

[2019-08-09 18:16] anijain2305 commented on #3670
If its ok, I will give a couple of reasons why I think treating layout as first class citizens is important (The world can do with one *more* opinion :) )

* It seems to me that layout was an afterthought for the frameworks. They started with just one layout, as deep learning progressed, we realized we need more layouts. For backward compatibility, we are in this somewhat awkward state.
* Another

[2019-08-09 19:12] tqchen commented on #3670
I agree that layout need to be treated carefully and handling layout deserves major effort from the compilation optimization side.

Technically, the only question is how to store these information:

- Types are stored in a row based format(each Expr has a type)
- Layout and other attributes could be stored as a column based format (just like dataframe) in the function attribute of the function.

[2019-08-09 21:14] anijain2305 commented on #3670
I see. I missed the implementation detail point. My first preference is place it inside `Type` (but I guess that maybe is not the preferred choice as of now given how frameworks handles layout).

The second option that you give is pretty good too. However, how do we read the layout for example in a CallNode? For example, if I want to pass layouts to Legalize API for a particular call node, it woul

[2019-08-09 22:16] kaimast opened #3744 "Linker error when compiling rust resnet example"
Hi all,

I'm trying to compile the rust examples from the master branch. Most of it compiles and runs without problems, except for the resnet example. I get the following linker errors

[code]

I have never seen such errors in rust before and am not sure how to debug this. I'm using the latest nightly `rustc 1.38.0-nightly (2d1a551e1 2019-08-08)` on ubuntu 18.04.

Any help would be appreciated.

[2019-08-10 05:56] ritesh2212 opened #3747 "Error while building"
Hi all,
I'm getting build error in TVM runtime.

[ 98%] Built target tvm_runtime
[ 99%] Building CXX object CMakeFiles/vta.dir/vta/src/device_api.cc.o
[ 99%] Building CXX object CMakeFiles/vta.dir/vta/src/runtime.cc.o
In file included from /home/cs18mtech11033/tvm/vta/src/runtime.cc:29:0:
/home/cs18mtech11033/tvm/vta/include/vta/hw_spec.h:104:33: error: ‘VTA_LOG_UOP_BUFF_SIZE’ was not declared in

[2019-08-10 16:18] threechen1991 opened #3748 "compile fatal error for missing files(logging.h)"
/tvm-master/include/tvm/base.h:27:10: fatal error: dmlc/logging.h: 没有那个文件或目录
 #include <dmlc/logging.h>

[2019-08-10 16:26] vinx13 commented on #3748
`git submodule update --init`

[2019-08-10 16:26] #3748 closed

[2019-08-11 16:38] drord9 commented on #3747
same thing for me.
I think it has something to do with : #3650

[2019-08-11 16:51] drord9 commented on #3747
@ritesh2212 try `git pull`
Worked for me.

[2019-08-11 22:21] ghostplant opened #3753 "Is there a way to compute in-place result"
Except to compute: C += A * B;
TVM actually computes: D = C + A * B and D is not C;

Although D = C + A * B can also work for C += A * B in some cases, but they cost different number of registers so the tuning results of `D = C + A * B` is not the best for `C += A * B`.

So is there a way to compute in-place result?

[2019-08-12 11:29] xqdan opened #3757 "[ARITH] Missing Cast simplify in new simplify"
Say, new simplifier can not simplify `int32(uint1(1)) ` for now.

[2019-08-12 15:33] icemelon9 commented on #2623
# TVM Monthly - July 2019
https://discuss.tvm.ai/t/tvm-monthly-july-2019

[2019-08-12 15:54] #3652 closed

[2019-08-12 15:57] tqchen commented on #3744
Thanks for bringing up the problem, the community prefers https://discuss.tvm.ai/ for general trouble shooting and then move to issues if we have an actionable item.  Please open a thread there. cc @nhynes

[2019-08-12 15:57] #3744 closed

[2019-08-12 15:58] tqchen commented on #3747
Please open a new thread in https://discuss.tvm.ai/

[2019-08-12 15:58] #3747 closed

[2019-08-12 16:02] tqchen commented on #3753
For general discussion related questions, the community prefers to use https://discuss.tvm.ai/, see related discussions in https://discuss.tvm.ai/t/rfc-implement-add-to-semantic-in-tvm/3618/7

[2019-08-12 16:02] #3753 closed

[2019-08-12 16:12] tqchen commented on #3757
https://github.com/dmlc/tvm/pull/3758

[2019-08-12 19:47] goodhart opened #3759 "[TEST] Not assuming HOME in tvm/download.py"
Hello TVM team,

In tvm/download.py - https://github.com/dmlc/tvm/blob/master/python/tvm/contrib/download.py#L122 - there is a line that calls:

`TEST_DATA_ROOT_PATH = os.path.join(os.path.expanduser('~'), '.tvm_test_data')
 `

Unfortunately there is no guarantee that a user has a home directory. For system accounts, such as those used by our automated test infrastructure, this resolves to '/dev/n

[2019-08-12 20:55] kevinthesun commented on #3670
To support CV model in tensorflow/tflite, do we need to add propagate rules for ops to support conversion from "NHWC" to "NCHW"? If so, would ii be easier to add these rules as operator attributes?

[2019-08-12 21:11] #3407 closed

[2019-08-12 21:40] tqchen commented on #3759
Contribution is more than welcomed. I think it is reasonable to make it configurable through env variable.

[2019-08-12 22:48] kaimast commented on #3744
Thanks! Made a post in the discussion board.

[2019-08-13 01:24] slyubomirsky opened #3761 "[Relay][Documentation] List of passes invoked by opt_level does not seem to have been updated"
The comment for `relay.transform.build_config()` gives the following list of passes per optimization level:
[code]

However, looking at the implementation of `Optimize()` in `src/relay/backend/build_module.cc`, I see more passes than just these being invoked and it is not clear from reading the code how the optimization level is taken into account. E.g.,
[code]
(`CanonicalizeCast` was not listed i

[2019-08-13 02:46] cchung100m commented on #3759
Hi @goodhart , @tqchen ,

I'm interested in working on this if no one else has signed up. I would appreciate if you can suggest which files should I dig for environment variable setting/getting.

Many thanks,

[2019-08-13 17:29] zhiics commented on #3761
yeah, I agree that we need a better way to document/define the optimization level for a pass. I am not sure how the opt level is defined for each pass as well.

Do you think it is necessary to have a `-O` level system to control the passes instead of manually adding them in the `build_module.cc` file? We should probably have a separate doc to explain the passes and opt levels like what gcc does ht

[2019-08-14 04:35] ajtulloch opened #3770 "[Simplifier] [Regression] Bounds checks for variable-extent loops not eliminated by simplifier"
Reproduction script:

[code]

At 60607eff494ab0b40ec21d6faf72c2f3dcef502f, the output is:

[code]

Where we have an unnecessary bounds check on the inner loop.

at 52179338f3ed7cba17ebe2ac68b5eab6ee3f5179, the output is:

[code]

That is, we avoid any bounds checks in the inner loop. The loop partition pass makes no difference here.

This seems to be a bug in the new simplifier infrastructure? cc

[2019-08-14 05:36] MarisaKirisame commented on #3731
It look good to me.
Another design decision will be to not have any change, but move this field to the scheudling language, and allow autotvm to search for best schedule.

[2019-08-14 06:04] ajtulloch commented on #3770
Still running the `git bisect` (3 iterations to go), but it looks like it blames to https://github.com/dmlc/tvm/pull/3368. @tqchen do you have any ideas on how to cleanly get the simplifier to recognize this pattern?

[2019-08-14 06:26] #3757 closed

[2019-08-14 06:29] tmoreau89 commented on #3696
Reopening as it seems to be affecting some PRs:
https://github.com/dmlc/tvm/pull/3772
https://github.com/dmlc/tvm/pull/3762

[2019-08-14 14:42] junrushao1994 commented on #3731
One thing I don’t quite get is: why couple sparse and dense tensors into a single type?

When we are building a system incrementally, for example, adding a new feature on top of the old system, the better way would be adding a new code path, instead of hacking old ones. This would allow clearer separation of functionalities, clearer error message and easier debugging.

In our particular case, let’

[2019-08-14 15:07] umangyadav opened #3774 "[Arith] Extend `DeduceBound` to handle `EQ` op"
`DeduceBound` currently only works for the operators `LT`, `GT`, `LE`  and `GE`.

It can be extended to handle `EQ` op with some checks.

`DeduceBound` at this point only seems to be used in one place that is in the `LoopPartition`.

With loop partition use-case consider the following example:

[code]
On the `TVM` master branch currently, loop partition doesn't do anything on the above example and

[2019-08-14 15:38] tqchen commented on #3770
Great observation! I think the main reason here is that when comparing the bounds, we can try different relaxations.

While in our normal cases it is fine to just relax i, in this particular case, the best way is to not do so and makes the bound of r dependent on i.

We might want to think about whether or not if we can try both, if we can list the other failure case you mentioned, we can also dig

[2019-08-14 15:41] tqchen commented on #3770
specifically to that PR, I think one possible change is not to eagerly resolve the bound that is context depend, but marks it to be so, and then try to recursively simplify min and max after we get a bound that we know is context dependent(so we will do simplification that involves i dependent  first, then relax i if necessary)

[2019-08-14 18:46] yzh119 commented on #3731
@yuluny2 Hi, glad to hear that you have plan to support sparse tensor. I think it's a good starting point for dgl team to collaborate with you, there are a lot of opportunity for tvm to search best schedule for sparse matrix operations. It would be great if relay would be powerful enough so that user-defined message/reduce/apply_nodes(edges)/... in dgl could be converted to relay.

I also agree th

[2019-08-14 23:25] yuluny2 commented on #3731
Thank you for all the feedback! @junrushao1994 @yzh119 @MarisaKirisame

Sorry for the ambiguity in my proposal. I want to make some clarifications and answer some of the questions.

When we declare a `relay.var(TensorType(shape=(m,n), format='CSR'))`, we would lower it to a `tvm.placeholder(shape=(m,n), sformat=SparseFormat([Dense, Sparse])`, which is WIP by @ZihengJiang . We adopt the representat

[2019-08-15 18:24] ajtulloch commented on #3770
@tqchen I don't fully understand your idea. In general, how robust do you think that approach is? One thing I was thinking of adding would be a trivial step in Simplifier which, when visiting a Range(min, extent) node, adds the constraints `loop_var >= min` and `loop_var < min + extent`, and then detects expressions which exactly match one of these and replace them with const(1). This is a simple

[2019-08-15 20:41] anijain2305 opened #3784 "[Relay] Share Relay op Infer Type functions"
Currently, all the infer types functions for Relay are present in *.cc file. This prevents us from reusing these functions among dialects like QNN. This issue is to discuss how do we share them.

I added a PR that moves relevant functions to a header file for transform.cc as a possible proposal - https://github.com/dmlc/tvm/pull/3783

Please advise - @jroesch @tqchen @vinx13 @zhiics @ZihengJiang

[2019-08-15 21:18] PBC48 opened #3786 "[RELAY][FRONTEND] Keras parser parameter shape mismatch"
I'm trying to generate the cifar10 model from Keras' examples, but there's a shape mismatch in the first conv2d layer and the first dense layer. I converted the example from Sequential to Model. Below is the code used to generate the cifar10 model.
the input shape is `(32,32,3,3)`.
[code]

[2019-08-15 22:01] tqchen commented on #3770
To elaborate, in the example below, we have the following range bound to to the loop vars
[code]

Our previous approach eagerly expand the bound of each variable, so we use bind to bind the bound of r, it get relaxed to ```Union_{i \in bound of i} {0 to w[i+1] - w[i]}```, before it starts simplification. So``` r -  w[i+1] - w[i]``` can no longer get simplified.

The proposed idea is to make such e

[2019-08-16 02:40] cchung100m commented on #3759
Hi @tqchen ,

The [current design](https://github.com/dmlc/tvm/blob/master/python/tvm/contrib/download.py#L122) :

[code]

would check the directory from env variable according to python document: [os.path.expanduser(path)](https://docs.python.org/3/library/os.path.html#os.path.expanduser)

Therefore, I'd like to know your thought on making the **TEST_DATA_ROOT_PATH** configurable through env vari

[2019-08-16 03:58] murdockhou commented on #3428
hi，could you please tell me  how to delete attri 'explicit_paddings' in tensorflow.py?

[2019-08-16 11:02] FrozenGene commented on #3725
I saw before very long ago. The issue is our pad mechanism.  I could see and solve this issue this weekend. Thanks.

[2019-08-16 16:22] anijain2305 commented on #3670
@yzhliu Gave it some more thoughts over last few days. I think there might be slightly better way to deal with layouts.

* Instead of directly using the `transpose` operators, maybe we can use some new annotation ops like `annotate.change_layout` (or maybe use `layout_transform`). This will have a src and dst layout. For each op that goes through legalization, we can have one `change_layout` in th

[2019-08-16 18:26] mli opened #3793 "Only the first shape dim allows to depend on an extra variable"
I'd like to have the output shape to depend on inputs, such as `arange`. The following codes works file (similar to `arange` implementation)

[code]

but changing `(m/x, n)` to `(m, n/x)` will results in an error

[code]

outputs:

[code]

I compiled TVM about 1 week ago with the master branch on Ubuntu.

[2019-08-16 18:43] mli commented on #3793
@icemelon9 found changing from `[A, B, x]` to `[x, A, B]` resolves this issue.

Change the from the bug tag to beginner-friendly.

[2019-08-16 20:36] ZihengJiang commented on #2623
@MarisaKirisame Checked. I listed it here just because that it did not go into the last release cycle

[2019-08-17 03:28] #3793 closed

[2019-08-18 11:35] FrozenGene commented on #3725
@fink-stanislav You could refer PR https://github.com/dmlc/tvm/pull/3800, we could get the correct result now (Top-1 id 282 class name tiger cat). Please be careful this PR also update the tutorial of CoreML corresponding to your script. Because CoreML mobilenet model input image format is BGR, but we open image format is RGB by default. You could check my PR and see the modified place.

[2019-08-19 06:07] tqchen commented on #3759
Yes, i think we should make it reconfigurable via TVM_TEST_DATA_PATH and default to the original one if the env variable is not set

[2019-08-19 06:12] tqchen commented on #3725
Thanks @FrozenGene ! and thanks @fink-stanislav for reporting the issue.

[2019-08-19 06:12] #3725 closed

[2019-08-19 13:19] FrozenGene opened #3802 "[CI] error[E0412]: cannot find type `NonZeroI8` in module `num`"
In our CI, we meet many times of
[code]
See example: http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-3394/18/pipeline

If we meet this, we have to force trigger CI again.

Could we solve this issue?

@tqchen

[2019-08-19 20:07] anijain2305 commented on #3784
Ping :)

Many QNN related ops are gated by it. I am able to get good accuracy for all the TFLite hostel models locally. Will be good if we can solve these problems and ungate a bunch of QNN PRs.

[2019-08-19 21:51] tqchen commented on #3802
@nhynes @jroesch  can you comment?

[2019-08-20 01:18] slyubomirsky commented on #3761
I know @jroesch has long been against having the O-levels, so perhaps he might weigh in on this topic.

I dislike that the O-levels are opaque in that there is no stated rationale for the passes included in them nor (as far as I know) much of a process for deciding which passes should be in what level.

[2019-08-20 19:36] #3641 closed

[2019-08-20 21:33] masahi commented on #3802
Hi this is blocking two PRs I'm managing #3808, #3788 .

[2019-08-20 21:44] tqchen commented on #3802
https://github.com/dmlc/tvm/pull/3809 temporarily disabled the Rust tests, please retrigger.

[2019-08-20 21:44] #3802 closed

[2019-08-21 01:57] tqchen commented on #3786
Thanks for reporting the problem, we encourage users to use https://discuss.tvm.ai/ for this kind of trouble shooting threads, please open a new thread there.

[2019-08-21 01:57] #3786 closed

[2019-08-21 01:59] tqchen commented on #3770
@ajtulloch after thinking a bit more about the issue. I started to think that your idea of adding bound constraints may be the best way to go, can you send in a PR?

[2019-08-21 07:29] ZQPei opened #3812 "[codegen_cuda.cc] pull request check"
I have fixed an error when compiled with float16 model in cuda.
Related question in TVM Discuss can be found [here](https://discuss.tvm.ai/t/failed-to-convert-mxnet-float16-model-to-tvm/1557/2).
Can someone check my pull request?
[https://github.com/dmlc/tvm/pull/3811](https://github.com/dmlc/tvm/pull/3811)

[2019-08-21 15:39] anijain2305 commented on #3598
@tqchen @sgrechanik-h I am seeing this failure for my own tensorize implementations, prompting me to make this a priority to fix.

However, I have never touched this piece of code. Can you please do more little more hand-holding to help me solve the problem?

[2019-08-21 15:41] gussmith23 opened #3815 "Why does dcgan (in relay.testing) have a (0, 100) shaped input?"
[code]

[2019-08-21 21:47] tqchen commented on #3815
Please open threads in https://discuss.tvm.ai/ for developer discussion related questions :)

[2019-08-21 21:47] #3815 closed

[2019-08-22 00:03] zxy844288792 opened #3816 "CUDA compilation failed for float16 maxpool"
I got some errors when I try to compile a float16 maxpool operator with CUDA.

The script I used is shown as below:

    import numpy as np
    import tvm
    from tvm import relay
    from tvm.relay import transform
    from tvm.relay.testing import ctx_list
    import topi.testing

    dtype = 'float16'
    n, c, h, w = 1, 3, 224, 224
    x = relay.var("x", relay.TensorType((n, c, h, w), dtype))

[2019-08-22 00:13] anijain2305 commented on #3816
@vinx13 @kevinthesun @jroesch Have you seen these type of errors?

[2019-08-22 00:17] vinx13 commented on #3816
Likely CUDA doesn't overload max for half

[2019-08-22 01:00] cchung100m commented on #3816
Hi @zxy844288792 ,

there is a PR for it #3811 , could you help to verify that patch?

[2019-08-22 01:40] ZQPei commented on #3816
@zxy844288792 @anijain2305 This PR #3811   will help!

[2019-08-22 01:52] zxy844288792 commented on #3816
@cchung100m @ZQPei  Thanks! I will try this patch

[2019-08-22 02:09] liangfu commented on #3641
This error still exist:
[code]

@cbalint13 would you please fix this?

[2019-08-22 02:55] gasgallo commented on #3428
@murdockhou Honestly I don't remember, in the end I converted my model to MXnet that doesn't have that incompatibility.

But quickly looking at the code of `tensorflow.py`, in `__call__` function, before iterating other `attrs` keys, check if `explicit_paddings` is a key and, if so, delete it or skip that key.
You can add this code at line 133:
[code]

[2019-08-22 04:49] anijain2305 commented on #3816
Thanks everyone for such a prompt response :)

[2019-08-22 07:01] sohyongsheng opened #3818 "Very inaccurate output values for ResNet18 on Raspberry Pi Zero W."
Running this tutorial's script seems to produce inaccurate output values for Raspberry Pi Zero W:
https://docs.tvm.ai/tutorials/frontend/deploy_model_on_rasp.html#sphx-glr-tutorials-frontend-deploy-model-on-rasp-py

It works fine for my local machine (setting `local_demo = False`):
[code]

And works fine for a NVIDIA Jetson TX2:
[code]

But not for the Raspberry Pi Zero W:
[code]

There's no probl

[2019-08-22 08:54] cbalint13 commented on #3641
@liangfu ,

It fails on ```verify_conv2d_nchw(1, 1, 1, 1, 3, 1, 1)``` with 3x3 kernel with smallest winograd tile size, meaning that it could fail before https://github.com/dmlc/tvm/pull/3553 .

* Where can you see this failure exactly, is it Jenkins ?

[2019-08-22 17:21] cchung100m opened #3820 "[RELAY][TOPI] TVMError: Attribute FTVMCompute of operator nn.upsampling is already registered with same plevel=10"
Hi @jwfromm @masahi @tqchen @vinx13 @FrozenGene

I run the `tflite/test_forward.py` from the latest tvm master branch and get the following error message, I guess it might be associated with PR #3788, I would appreciate if you could help to take a look, thanks.

[code]

[2019-08-22 17:41] masahi commented on #3820
You need to rebuild tvm dll. Try make clean and rebuild.

[2019-08-22 20:35] zxy844288792 commented on #3816
This [PR #3811](https://github.com/dmlc/tvm/pull/3811)  works for maxpool. However, I got another error message for tvm.relay.op.reduce.sum operator.
The code is shown as below:

    import numpy as np
    import tvm
    from tvm import relay
    from tvm.relay import transform
    from tvm.relay.testing import ctx_list
    import topi.testing

    dtype = 'float16'
    n, c, h, w = 1, 3, 224, 224

[2019-08-23 00:09] abadams opened #3822 "Missing Halide acks"
The following file/class pairs contain too much of the same functionality using the same names to have been independently invented, but there's no credit to Halide:

https://github.com/dmlc/tvm/blob/master/include/tvm/expr_operator.h
https://github.com/halide/Halide/blob/master/src/IROperator.h

https://github.com/dmlc/tvm/blob/master/include/tvm/dtype.h#L34
https://github.com/halide/Halide/blob/m

[2019-08-23 00:36] jdomke opened #3823 "[autotvm] runtime errors for simple matmul example with double matrix size"
**steps to reproduce:**
 (used master branch with commit: ebda2589246c659f42747004a7d71ceb5ba8a254)

**download tune_simple_template.py** from
 https://docs.tvm.ai/tutorials/autotvm/tune_simple_template.html

**change matrix size** to 1k*1k:
 N, L, M = 1024, 1024, 1024 # 512, 512, 512

**output when running with python3.6**:
ConfigSpace (len=121, space_map=
   0 tile_y: Split(policy=all, product=1

[2019-08-23 04:06] tqchen commented on #3822
Thanks @abadams for bringing this up.

To explain why did we miss some of the attribution in the code. When the code was written from scratch while reflecting the same API semantics of the Halide as well as other tools such as loopy, we did not add attributions in the code. Our intention was that the attribution in the Readme to Loopy and Halide (wrt to the design) would suffice.

This is of cours

[2019-08-23 04:21] tqchen commented on #3822
https://github.com/dmlc/tvm/pull/3824 added the missing acks bought up by @abadams

[2019-08-23 04:27] tqchen commented on #3812
Please keep most of design discussions in the discuss forum :)

[2019-08-23 04:27] #3812 closed

[2019-08-23 04:29] tqchen commented on #3816
Thanks for great discussions, let us move the rest of discussions to https://discuss.tvm.ai/

[2019-08-23 04:29] #3816 closed

[2019-08-23 05:38] ljppro opened #3825 "issue in NNVM keras frontend"
Hi TVM,

When running the TVM keras tutorial, I have the issue std::Bad_alloc. After digging deeper, I found the following in GDB. It seems that the keras frontend can't convert keras properly as the output of symbols has a negative length (and the counts of some shared_ptr also). Below please find the detail information.

Many thanks!

nnvm::Graph::Graph (this=0x5e320de0) at /root/lijin/tvm/model

[2019-08-23 05:44] abadams commented on #3822
Thanks!

[2019-08-23 05:44] #3822 closed

[2019-08-23 06:04] tqchen commented on #3825
Please open a trouble shooting thread on https://discuss.tvm.ai

[2019-08-23 06:04] #3825 closed

[2019-08-23 10:46] cchung100m commented on #3820
Hi @masahi

Thank you for the prompt reply! I solve it by rebuilding the tvm. :)

[2019-08-23 10:46] #3820 closed

[2019-08-23 12:32] melo19890618 opened #3827 "Tvm.reduce_axis() does not support dynamic parameter input in tvm0.4 version"
When I use Tvm.reduce_axis() to calculate, for example: tvm.reduce_axis(0,end-start), where end and start are both tensor, and an error will be reported:Cannot match type handle64 vs int 32!
    But when I enter a fixed value in tvm.reduce_axis(), for example: tvm.reduce_axis(0,2), it works fine.
    Since my input must  tensor, I would like to ask how to solve this problem or avoid it.

[2019-08-23 13:11] tqchen commented on #3827
Thanks for bringing this up, please  open a new thread on https://discuss.tvm.ai/ The community uses the forum for general developer discussions

[2019-08-23 13:11] #3827 closed

[2019-08-23 13:12] tqchen commented on #3818
Please open a new trouble shooting thread on https://discuss.tvm.ai/

[2019-08-23 13:12] #3818 closed

[2019-08-26 06:01] kloud1989 opened #3833 "Multiple compute units for VTA?"
The current VTA design composes only 1 compute unit and 1 set of on-chip buffers, which constraints the overall throughput. Is it possible for VTA to support multiple compute units?

[2019-08-26 07:18] yongwww opened #3835 "ReLU in keras converter"
ReLU in Keras Converter missed the case "f(x) = negative_slope * (x - threshold)" defined in https://keras.io/layers/advanced-activations/#relu

[2019-08-26 08:28] cchung100m commented on #3638
Hi @melo19890618

Please open a new thread on https://discuss.tvm.ai/ The community uses the forum for general developer discussions.

[2019-08-26 10:37] Ravenwater commented on #3833
Are you concerned about the throughput of a single problem, or do you want to build concurrency to increase capacity?

Of course it is possible to create N-wide VTAs. In regular execution, the compute block will receive tens of thousands of compute requests from the same network. One VTA has a lot of overhead in terms of buffers and serialization, so two VTAs are by construction slower than one bi

[2019-08-26 13:01] kloud1989 commented on #3833
Thanks for your quick response @Ravenwater.

I think increasing the core size can't solve the problem.

The current VTA design is tensorized along batch (sized to BATCH, default to 1), input channel (sized to BLOCK_IN, default to 16) & output channel (sized to BLOCK_OUT, default to 16). To do tensorization using TVM, input channel number must be a relatively large one. Otherwise, the compute resou

[2019-08-26 13:57] Ravenwater commented on #3833
The TPU designers settled on a 256x256 matrix multiply unit, and they are showing CNNs that are compute bound on that matmul. That size compute module would not fit on an FPGA and required an ASIC, but it is indicative of the compute density that the models at Google are exhibiting.

VTA will be bound to FPGAs for the development community and thus the compute module will be at least an order of m

[2019-08-26 14:50] kloud1989 commented on #3833
Multi-core is a direction full of challenge indeed. It's going to be a big project. I popped this issue out just to see if any concern has been dropped on this topic.

With the systolic array size of 256x256, TPU also results in low efficiency in CNN (about half of the 65536 MACs hold useful weights). As far as I can see, with TVM/VTA, the tensorization will have some constraints on the workload s

[2019-08-28 05:02] cnjsdfcy opened #3845 "tsim_example runs failed"
After sync of the newest codes, both `make` and `make run_chisel` failed under vta/apps/tsim_example, please take a look.
![image](https://user-images.githubusercontent.com/5670527/63826991-03f15080-c994-11e9-9083-7aa919209de7.png)

[2019-08-28 05:52] apivovarov opened #3847 "Jenkins git issue - corrupt repository"
I submitted new PR but got the following error from Jenkins
http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-3846/1/pipeline

[code]

[2019-08-28 06:39] yurivict opened #3848 "This repository is mislabeled: the last release is 0.5 done in February, but the current version is 0.4-based: v0.4-1442-g19b8b3a4"
[code]

[2019-08-28 07:00] snowolfhawk commented on #2623
Hybrid python programming model
  transition of vision operators to hybrid mode.

what's plan for this feature?

[2019-08-28 18:44] wenchuanlee opened #3851 "Any ways to see the lowered .c function from vta?"
Hi

I am curious about the lowered function in .c format from vta.build.
vta.lower only return the lowered schedule but I am more interested in knowing about the lowered .c function before compiled into .o format.

Is there any way to see it?

Thanks

[2019-08-28 19:43] #3851 closed, assigned to nobody

[2019-08-29 02:15] tqchen commented on #3848
I believe we have backported certain changes into the v0.5 so that the v0.5 tag have some additional backported changes. For further general discussions, please open a new thread on https://discuss.tvm.ai/

[2019-08-29 02:15] #3848 closed

[2019-08-29 02:45] tqchen commented on #3833
Thanks for great discussions, the community uses https://discuss.tvm.ai/ for general developing discussions, please move the discussion thread there :)

[2019-08-29 02:45] #3833 closed

[2019-08-29 03:04] tqchen commented on #3784
A proper way would be open a thread with RFC tag, so it would get forwarded to the dev@. I think we could move forward with templatization for now.

[2019-08-29 03:04] #3784 closed

[2019-08-29 03:12] #3759 closed

[2019-08-29 03:12] tqchen commented on #3759
#3803 Thanks to @cchung100m

[2019-08-29 03:16] tqchen commented on #3845
Please open a new thread on https://discuss.tvm.ai/

[2019-08-29 03:16] #3845 closed

[2019-08-29 03:18] tqchen commented on #3823
Please open a new thread on https://discuss.tvm.ai

AutoTVM will indeed try to produce some kernels that leads to failures, and the ideas is that runtime should be able to catchup and recover when this happens. Depending on how robust the driver is, it may not be true for all drivers

[2019-08-29 03:18] #3823 closed

[2019-08-29 15:14] gyshi opened #3855 "Cannot match type float64 vs float32"
my code :
[code]

the error is :
Traceback (most recent call last):
[code]

[2019-08-29 15:15] gyshi commented on #3855
i don't know how to deal with it , float32 is right , but float64 is error

[2019-08-29 17:33] anijain2305 commented on #3784
Thank you @tqchen
I will keep that in mind

[2019-08-29 18:35] sxjscience commented on #3855
I think there's some bug within `tvm.convert`
[code]

[2019-08-29 18:50] sxjscience commented on #3855
After some tracing, I find that the type inference here is not correct:

https://github.com/dmlc/tvm/blob/187600daef6cf89f9ab1d8a8a44316b8536475c1/python/tvm/_ffi/node_generic.py#L81-L102

It's either float32 or int32

[2019-08-30 00:39] tqchen commented on #3847
Fixed

[2019-08-30 00:39] #3847 closed

[2019-08-30 00:40] tqchen commented on #3855
@sxjscience The general principle is to make sure we are consistent with numpy. can you try to send a PR to correct this?

[2019-08-30 01:47] gyshi commented on #3855
i think the error is in
` return _api_internal._const(value, dtype)`

[2019-08-30 01:59] gyshi commented on #3855
in order to make my code work, i reread my  code like this:
[code]

[2019-08-30 02:37] gyshi commented on #3855
i think  you must give the dtype, if i only give a number, tvm think dtype is none
`tvm.const(np.log(3,dtype=dtype), dtype)`
it's ok,

[2019-08-30 02:48] gyshi commented on #3855
thanks

[2019-08-30 02:54] gyshi commented on #3855
if tvm want to be better, i think tvm should make   user easy to use it,lol

[2019-08-30 03:43] snowolfhawk opened #3860 "[AutoTVM][conv2d_cuda] confusing reorder?"
`
s[OL].reorder(rco, ryo, rxo, rcm, rym, rxm, rci, ryi, rxi, n, f, y, x)`

In tune_conv2d_cuda.py, reoder OL‘s **[n, f, y, x]** as the inner axis, what it means?

why not reorder  **[n, f, y, x]**  as the outer axis?

I get the lower code for OL, there is no differences if or not reorder with **[n, f, y, x]**.

[2019-08-30 05:26] ethanjyx commented on #3835
@tqchen i'm interested in taking this, just to get more familiar with the code base, can you assign this to me?

[2019-08-30 05:57] zhiics commented on #3835
Thank you for your interest. The TVM community always encourages and welcomes people to contribute. You can ping reviewers when the PR is sent.

[2019-08-30 06:22] sxjscience commented on #3855
@tqchen @gyshi I'll fix that.

[2019-08-30 07:34] gyshi commented on #3855
thx

[2019-08-30 22:45] sxjscience commented on #3855
@gyshi https://github.com/dmlc/tvm/pull/3861 fixes the problem of `tvm.convert` and `tvm.const`. However, there are still some problems within the type parsing of tvm expressions in general. For example:

[code]

[2019-08-30 23:48] tqchen commented on #3860
Please use https://discuss.tvm.ai/ for follow up discussions

[2019-08-30 23:48] #3860 closed

[2019-08-31 06:18] yurivict opened #3866 "Version 0.5 fails to build: fatal error: 'ir/Expr.h' file not found, etc"
[code]

FreeBSD 12 amd64

[2019-08-31 06:20] yurivict commented on #3866
If 0.5 is an older version, and 0.4+ is the newer version - you should just release the latest code under the next version number.

[2019-08-31 07:16] MarisaKirisame opened #3867 "[Relay][Operator Fusion] When two node love each other very much they join and get in a group but when null is not null they stop loving each other and the join is a not join"
Sorry for the strange title, my sanity deteriorate during the one week long battle with the error.
let me explain the error: basically, operator fusion output not well-formed program if the program has a operator that output tuple, and the tuple size is odd and larger then 1.

Yes, somehow the code is doing fine when tuple has 2, 4, 6, 8... fields, but does not work if it has 3, 5... fields. see h

[2019-08-31 12:25] tqchen commented on #3867
Pleas open a new developing discussion thread on https://discuss.tvm.ai/

[2019-08-31 12:25] #3867 closed

[2019-08-31 12:28] tqchen commented on #3866
This was likely due to missing submodules. You can clone the tag and do``` git submodule update --init --recursive``` to solve the problem

For followup trouble shooting related topics, please open new thread on https://discuss.tvm.ai/ :)

[2019-08-31 12:28] #3866 closed

[2019-08-31 14:01] yurivict commented on #3866
No, submodules are present.

[2019-08-31 18:56] kice opened #3869 "remove cuBLAS header from extern "C" warpper"
ref to https://github.com/jlblancoc/suitesparse-metis-for-windows/issues/63, cuBLAS has its own way to deal with C++ compilers.

Remove `extern "C"` warpper for `cublas_v2.h` at https://github.com/dmlc/tvm/blob/master/src/contrib/cublas/cublas_utils.h

Under MSVC 1920 Win10 with CUDA 10.1, with the warpper, there will be errors; without the warpper, I could get tvm complied.

[2019-08-31 21:57] tqchen commented on #3866
Please confirm that, as these files are included via:

https://github.com/dmlc/tvm/blob/v0.5/CMakeLists.txt#L213
in the 3rdparty/HalideIR submodule , see https://github.com/dmlc/tvm/tree/v0.5/3rdparty

[2019-09-01 05:36] junrushao1994 commented on #3855
Why do you mix `np.log` with tvm IR building...

[2019-09-01 06:13] junrushao1994 commented on #3855
Xingjian's fix helps us with numpy ndarray types, but think about it: the solution, duck typing, is interesting that now we assume that we just assume we know it (i mean we just assume `dtype` exists), but it now doesn't help at all in type guessing when we want to distinguish i32 and i64 when a python scalar is given (see Xingjian's example https://github.com/dmlc/tvm/issues/3855#issuecomment-526

[2019-09-01 06:17] junrushao1994 commented on #3855
Another solution is that you just document it out...I don’t think implementing a general type solver would be worth your effort...

[2019-09-01 22:43] jwfromm commented on #3598
Just wanted to add that I'm also encountering this bug when using tensorize in some places.

[2019-09-02 02:54] gyshi commented on #3855
because i use tvm to write mxnet op exp2, use log(2) in backward.

[2019-09-02 04:39] MarisaKirisame opened #3874 "[Relay] [RFC] is_cons, unpack_cons, is_s, unpack_s"
Pattern matching is hard. currently, aot, vm, interpreter all has to implement pattern matching, and it is a huge source of complexity - the most complex code in aot is probably the pattern matcher.

there should be a pass to desugar pattern matching into if/else, however, there is no way to break up an ADT except using pattern matching, so it is impossible.

We should add two function automatical

[2019-09-02 04:39] MarisaKirisame commented on #3874
@jroesch @wweic wdythink?

[2019-09-02 04:52] junrushao1994 commented on #3855
It doesn’t explain the overuse of np.log given math.log exists...

[2019-09-02 06:08] gyshi commented on #3855
because if input is int, output must be int, so i need log(2)  astype int or float , now i have relsove this problem, but thx your help

[2019-09-02 06:31] zhiics commented on #2623
# TVM Monthly - August 2019

https://discuss.tvm.ai/t/tvm-monthly-august-2019

[2019-09-02 07:26] tqchen commented on #3598
To elaborate a bit, the simplification would need hints about bounds of the iteration variables(that they are not negative). This information can be put into the simplifier of tensorizer so that the expression can be simplified

[2019-09-02 07:27] tqchen commented on #3869
A PR is more than welcomed

[2019-09-02 17:34] kice opened #3879 "Cast from float16 to uint8 was not supported by CUDA"
Example code

[code]

Output:
[code]

After looking into cuda_fp16.h, found that no direct conversion from fp16 to uint8/int8.

Suggest to warn the user who want to this conversion, or conver it to uint16/int16 and then to uint8/int8 internally.

You may close this issue after reading.

P.S. I am sorry that I open too many small PRs and issues in short period of time. xD

[2019-09-02 18:06] kice commented on #3879
I also found that `relay.clip` does not support fp16 operation for cuda

[2019-09-02 19:14] junrushao1994 commented on #3874
does this kind of desugar compromise the ability to do dynamic batching?

[2019-09-02 22:33] MarisaKirisame commented on #3874
@junrushao1994 no. for tensorflow fold style dynamic batching, it seems like partial evaluation will give us a static computation graph, then u can just do static batching (CombineConv2d, etc) on it as usual. If it goes as plan it seems like we dont even need anymore pass (just intergrating these two pass will be enough).

[2019-09-03 01:45] wweic commented on #3874
I think it's a good idea to add a pass before aot/vm compilation, so we can apply pattern matching compilation optimization techniques only once, aot/vm will just be  a code generation pass. `is_XX`, `unpack_XX` sounds reasonable. These two functions will likely use pattern matching internally, but in a much simpler form. So aot/vm still has to support limited form of pattern matching, right?

[2019-09-03 02:27] blacklong617 opened #3882 "[TOPI] [CUDA] Not in feed graph consumer = extern(argsort_gpu, 0xd3c1490)"
I have called the function argsort_gpu in topi/cuda, and I got the log :
/tvm/src/schedule/bound.cc:129: not in feed graph consumer = extern(argsort_gpu, 0xd3c1490)
The input tensor is Tensor(shape=[1, 80, 15130], op.name=argsort_gpu)
I used by call `argsort(scores,axis=2, is_ascend=False,dtype="int32")`
I got the argsort result but it is very slowly,  the argsort cast about 7000ms.
Can someone gi

[2019-09-03 03:46] MarisaKirisame commented on #3874
no, these two function is the 'primtive' of adt.
right now, pattern matching is implemented as: check if a pattern match the data, then unpack the data.
the 'check' part is is_x. the 'unpack' part is unpack_x.
one could imagine a typical example as follow:
fun double n =
  match n
  | O => O
  | S n' => S (S n')
which double a peano natrual.
It could be decompiled into
fun double n =
  if (is_O n)

[2019-09-03 07:32] #3869 closed

[2019-09-03 22:56] wweic commented on #3874
@MarisaKirisame Yes, this is what the decompilation pass will do. But eventually interpreter/aot/vm has to deal with `is_X`/`unpack_S` function calls. There are 2 ways to handle them. One way is to change relay core to handle `is_*` and `unpack_*` specially. Another way is to dynamically generate these functions as normal relay function, but that requires some pattern matching support. Which do yo

[2019-09-03 23:09] MarisaKirisame commented on #3874
it will be relay core. there is code inside pattern matching that does is_* and unpack_*, and I think we should expose them as we are a IR.

[2019-09-04 02:09] vmiheer opened #3890 "Possibly missing lines in relay types doc"
Hi I ma looking at: https://github.com/dmlc/tvm/blob/master/docs/langref/relay_type.rst#type-relation

I think a line is missing after each colon (:) maybe some code/math snippet that didn't get exported?

[2019-09-04 03:08] zhiics commented on #3890
Thanks for reporting this. I think it is probably because of the parsing problem. We need a blank line after `..code-block:: language` to correctly parse it. Would you be interested submitting a PR to fix them?

[2019-09-04 03:30] vmiheer commented on #3890
Oh definitely.

[2019-09-04 17:17] vmiheer commented on #3890
Added PR #3892. Seems like also docs needed to marked so as to not invoke build pipelines.

[2019-09-04 23:23] MarisaKirisame opened #3895 "[Relay][RFC] Analysis Infrastructure"
RN there is already a few analysis in relay.
For example, quantize analyze for the best range, an WIP bitpack analyze for the correct layout, Partial Eval do a trivial analysis for functions id, ANF do analysis for scope...
One can even say that type inference is an analysis.
And annotations like stop_fusion is analysis as well.

RN there is two way to deal with analysis:
returning a data structur

[2019-09-04 23:49] kevinthesun commented on #3465
@tqchen I find another regression regarding to [new simplifier](https://github.com/dmlc/tvm/pull/3368). conv2d with large batch size on cpu performs slower on x86 cpu. These workloads appear in rcnn models.

One example:
[code]
On c5.9x machine, this conv2d workload performance drops from 16ms -> 19ms.

IR before that PR:
[code]

IR after that PR:
[code]
The only difference is that now conv2d_NCHW

[2019-09-05 02:23] cchung100m commented on #3882
Hi @blacklong617

Please open a thread in [tvm forum](discuss.tvm.ai) and provide more details of what you're doing.

[2019-09-05 04:24] #3890 closed

[2019-09-05 05:45] zhiics commented on #3882
Yeah, as @cchung100m suggested, please open a thread in the discussion forum.

[2019-09-05 05:45] #3882 closed

[2019-09-05 23:31] cyrusbehr opened #3905 "Loader of opencl(module.loadbinary_opencl) is not presented"
I am trying to build and run the C++ code in the example [here](https://github.com/deepinsight/insightface/wiki/Tutorial:-Deploy-Face-Recognition-Model-via-TVM)

I followed the installation instructions for TVM found [here](https://docs.tvm.ai/install/from_source.html#build-the-shared-library)  with `USE_OPENCL=OFF`

I then used the following script to generate the `deploy_lib.so`
[code]

When I t

[2019-09-06 04:47] #3905 closed

[2019-09-06 11:03] GuoliangLiCN opened #3908 "[Relay]Inconsistent behavior of ExprFunctor/ExprVisitor/ExprMutator between python and C++"
I found inconsistent behavior of ExprFunctor/ExprVisitor/ExprMutator between python and C++
Is it intended?

In C++, only ExprMutator has an internal map for memoization.
Lines 227-229 in include/tvm/relay/expr_functor.h

In python, it's implemented in ExprFunction and is inherited by ExprVisitor/ExprMutator.
Lines 26-40 in python/tvm/relay/expr_functor.py

[2019-09-06 23:47] cyrusbehr opened #3912 "No speed increase when converting Insightface (MXNET) model to TVM"
I am trying to convert an MXNET model to TVM in order to improve the inference speed.  I am able to convert it successfully, however I do not experience the improvements in speed which are advertised on [this page](https://github.com/deepinsight/insightface/wiki/TVM-Benchmark)

I have followed the tutorial [here](https://github.com/deepinsight/insightface/wiki/Tutorial:-Deploy-Face-Recognition-Mod

[2019-09-08 00:22] tqchen commented on #3912
Please open a new thread on https://discuss.tvm.ai/ for related discussions

[2019-09-08 00:22] #3912 closed

[2019-09-08 00:23] tqchen commented on #3908
cc @jroesch this seems to be something we need to unify the terminology and behavior for

[2019-09-08 00:24] tqchen commented on #3879
Would be great if you can send a PR to add an error when user performs such conversion

[2019-09-08 00:42] MarisaKirisame commented on #3908
I dont think it is intended. we should have the python one adhere to the C++ one.

[2019-09-08 18:47] cyrusbehr commented on #3912
Hi @tqchen
I made a post on  https://discuss.tvm.ai/ but have been waiting for approval of my post from a staff member for over 2 days.
Can you kindly approve my post. I am keen to get an answer.

[2019-09-09 04:35] #3855 closed

[2019-09-09 04:39] gyshi opened #3919 "[TOPI] Add logical operators to topi"
tvm docs has error:
https://docs.tvm.ai/api/python/topi.html
[code]

[2019-09-09 15:27] diamantopoulos opened #3920 "VTA simullation error: AttributeError: 'dict' object has no attribute 'TARGET'"
Dear tvm team,

I am trying to follow the steps to simulate TVM workloads on the VTA simulator from [docs.](https://docs.tvm.ai/vta/install.html#vta-fpga-toolchain-installation)

The TARGET on vta/config/vta_config.json file is set to sim.

* 1st issue: `make vta` fails with unknown vta target.
* 2nd issue:
`cd <tvm root>/vta/hardware/xilinx`
`make ip MODE=sim`
returns the following error:
![image

[2019-09-10 11:47] vadimAnyVision commented on #1093
changing to v16 didnt work for me. did anyone solved it?
thanks

[2019-09-10 19:27] #3835 closed

[2019-09-11 02:33] Ruinhuang opened #3932 "[Relay][Training] Add gradient for concatenate"
Thanks for contributing to TVM! Please refer to guideline https://docs.tvm.ai/contribute/ for useful information and tips. After the pull request is submitted, please request code reviews from [Reviewers.](https://github.com/dmlc/tvm/blob/master/CONTRIBUTORS.md#reviewers)

[2019-09-11 02:44] #3932 closed

[2019-09-11 02:53] cchung100m commented on #3920
Hi @diamantopoulos

for the first question, please ensure that you’ve properly installed the VTA python package:
`python <tvm root>/vta/tests/python/integration/test_benchmark_topi_conv2d.py`

can you dump the content of vta_config.json for double check?

You might can open a thread on [tvm forum](https://discuss.tvm.ai/) for further discussion by other tvm users.

[2019-09-11 05:28] vegaluisjose commented on #3920
Hey @diamantopoulos ,

This was fixed [here](https://github.com/dmlc/tvm/commit/83d2418a5844639477e3dc6ba6a499b7f43209a1), can you pull?

[2019-09-11 10:39] cchung100m commented on #2222
Hi @tqchen

Do we still need to cast the variable `filepath` to string type in following three class?

- `autotvm.callback.log_to_file(filepath)`
- `autotvm.apply_history_best(filepath)`
- `lib.export_library(filepath)`

[2019-09-11 21:16] Ravenwater opened #3938 "[RFC] Adding posit/bfloat16/float9 to VTA data path"
Feature proposal: add posit/bfloat16/float9 as data types to the VTA data path

We would like to add different floating point types to the VTA data path so that VTA can be used to study learning rates and recall accuracy across a variety of number systems.

Posits are a tapered floating point system providing independent control over precision and dynamic range.

Bfloat16 is the Brain Floating Poi

[2019-09-12 06:41] gyshi commented on #3919
thx your help.

[2019-09-12 23:33] slyubomirsky opened #3946 "[Relay][Bug] Type unification bug (when unifying quantified functions)"
PR #3559 added the ability to unify functions with type arguments as part of allowing for quantified local functions (needed for continuation-passing style, if I understand correctly). However, unification with quantified functions appears to fail in some cases.

This case (see `test_type_solver.py`) results in a unification exception:
[code]

A case like this should work, since if we have a funct

[2019-09-13 07:09] Ruinhuang opened #3950 "[Relay] CUDA_ERROR_INVALID_VALUE occurs when testing conv2d_grad"
Hi, I want to test conv2d_grad on GPU, but got some error.
I add this test case in def test_conv2d_grad() in /tvm/tests/python/relay/test_op_grad_level2.py
`verify_conv2d_grad((1, 736, 17, 17), (128, 736, 1, 1), [1, 1], [0, 0], [1, 1])`
when I run it on GPU, error occurred, this is the error log.

[code]

Can anyone give me some suggestion? Thanks very much

[2019-09-13 09:49] diamantopoulos commented on #3920
Hi @cchung100m , thanks for the hint. I've verified that VTA is properly installed (test_benchmark_topi_conv2d.py executes correctly).
However I am still unable to execute `make vta`. Specifically, [the advanced configuration](https://docs.tvm.ai/vta/install.html#advanced-configuration-optional) does not work for me. I am getting the following error on a fresh tvm install (195973c0a136c739c15f238f

[2019-09-13 09:50] diamantopoulos commented on #3920
Hi @vegaluisjose , thanks a lot!

[2019-09-13 09:50] #3920 closed

[2019-09-13 15:20] flip1995 opened #3951 "[VTA] make bit fails because of wrong vivado version"
The script generating the bitstream through Vivado still uses Vivado version 2018.3:
https://github.com/dmlc/tvm/blob/195973c0a136c739c15f238fb4db6b433bf505c6/vta/hardware/xilinx/scripts/vivado.tcl#L19-L22

Every other script and the documentation uses 2019.1 though.

Just changing the version in the script from 2018.3 to 2019.1 doesn't solve this problem though, but leads to this error:
https://f

[2019-09-13 20:20] tqchen commented on #3951
Thanks for reporting the problem, the community uses the discuss forum for this kind of trouble shooting, please open a new thread on https://discuss.tvm.ai/

[2019-09-13 20:20] tqchen commented on #3950
Thanks for reporting the problem, the community uses the discuss forum for this kind of trouble shooting, please open a new thread on https://discuss.tvm.ai/

[2019-09-13 20:20] #3950 closed

[2019-09-13 20:22] tqchen commented on #3938
The standard format for proposals needs to have RFC prefix. atm this seems to be a development discussion stage and the issue do not have a timeline that we can act on.
 I would recommend opening a development thread on https://discuss.tvm.ai Once we have a full proposal, we can move back to an RFC thread.

[2019-09-13 20:23] tqchen commented on #3919
https://github.com/dmlc/tvm/pull/3929

[2019-09-13 20:47] tqchen commented on #3774
Closed thanks to @umangyadav

[2019-09-13 20:47] #3774 closed

[2019-09-13 21:26] #3530 closed

[2019-09-13 21:26] tqchen commented on #3530
Close this RFC for now as it has been inactive

[2019-09-14 19:58] Ravenwater commented on #3938
https://discuss.tvm.ai/t/rfc-vta-bfloat16-fp8-fp9-posit-tensor-core/4014

[2019-09-16 07:20] flip1995 commented on #3951
Frankly, I don't think that this is something that needs to be discussed. Everything related to VTA uses version 2019.1 of Vivado. Only the bitstream generation script still uses version 2018.3. If you `grep` the TVM project for `2018.3` you only find this line:
https://github.com/dmlc/tvm/blob/9e4f07b4695a8849590cdd46de662e3fa273d59b/vta/hardware/xilinx/scripts/vivado.tcl#L19

This is an actionab

[2019-09-16 10:45] herbakamil opened #3958 "docker/build.sh demo_android -it bash fails"
https://github.com/dmlc/tvm/blob/9e4f07b4695a8849590cdd46de662e3fa273d59b/docker/Dockerfile.demo_android#L70

Command fails with errors like:
[code]
And more generally it's hard to follow the tutorial to optimize for Android.
- On my Ubuntu 19.04 Java 11 is installed by default with which sources are not compatible
- docker/bash.sh tvmai/demo-android fails
- building image fails

So the only way t

[2019-09-16 14:09] dexception opened #3959 "cuDNN: Check failed: ret == 0 (-1 vs. 0) : Check failed: e == CUDNN_STATUS_SUCCESS (3 vs. 0) : CUDNN_STATUS_BAD_PARAM"
Hi,

I am converting yolov3-tiny to TVM using the following code:

[code]

[code]

[2019-09-16 17:10] tqchen commented on #3938
moved to the discuss thread :)

[2019-09-16 17:10] #3938 closed

[2019-09-16 17:12] tqchen commented on #3920
Thanks for great discussions, for following up questions, you are more than welcomed to open a new thread on https://discuss.tvm.ai/

[2019-09-16 17:13] tqchen commented on #3959
Please open a new troubleshooting thread on https://discuss.tvm.ai/ :)

[2019-09-16 17:13] #3959 closed

[2019-09-16 17:15] tqchen commented on #3958
@junrushao1994 can you look into this? is it related to your recent change

[2019-09-16 17:18] tqchen commented on #3770
ping @ajtulloch can you follow up on this thread:)

[2019-09-16 17:27] junrushao1994 commented on #3958
The recent change is simply a single liner “separate_argument(LLVM_CONFIG)”
though...I will take a look!

On Mon, Sep 16, 2019 at 10:16 Tianqi Chen <notifications@github.com> wrote:

[2019-09-16 19:29] junrushao1994 commented on #3958
@tqchen @herbakamil I looked into the docker container, but found that there is no llvm-config-6.0 at all...

I can confirm that build succeeded when Dockerfile uses llvm-config-8 instead.

[2019-09-16 20:08] tqchen commented on #3958
Hmm, perhaps two take aways, we should fix the docker file, and ideally we should have nicer error messages when we cannot find llvm-config. @junrushao1994 can you help on that?
Thanks for looking into the problem!

[2019-09-16 20:13] tqchen commented on #3951
I agree the lines can be blurred here :) we also use both the forums for general development discussions as well. Reopen the the issue for now to see if it is something we can fix, cc @tmoreau89

[2019-09-16 20:22] tmoreau89 commented on #3951
@flip1995 thanks for reporting the issue; the migration to 2019.1 is problematic indeed as you have found due to compilation issues in Vivado after generating the HLS kernels in 2019.1. Interstingly if the HLS kernels are generated with 2018.3 and later compiled with 2019.1 there won't be an error. This requires a fix, I would say let's keep the issue open for now so we can give it visibility. I'm

[2019-09-16 21:26] junrushao1994 commented on #3958
@tqchen

**Dockerfile.** I wonder if `Dockerfile.demo_android` is included in CI. I was thinking that it shouldn't pass CI anyway bc the build won't succeed without proper `llvm-config`.

**CMake.** It shouldn't be hard to have such error message, i can do this

[2019-09-16 23:50] tqchen commented on #3958
The CI does not build docker images, we manually build docker images and upload them to the docker hub. This is something that we overlooked, we could try to add a nightly that rebuild docker images if necessary in the future.

[2019-09-17 05:45] herbakamil commented on #3958
To me as the person who is testing tvm on our model the big surprise was that there was no ready docker image to test Android tuning tutorials. Because tutorials are very nice. Also I had to think a while which dockerfile is appropriate and finally I modified the one for android_ci because this one I guess id the most comprehensive. Anyway I will see if today I manage to run these tutorials.

[2019-09-17 16:33] #3958 closed

[2019-09-17 16:37] tqchen commented on #3958
There is actually a docker image here https://cloud.docker.com/u/tvmai/repository/docker/tvmai/demo-android please let us know if there is any place where we should highlight it in our documents. Contribution to the docs is more than welcomed

[2019-09-17 16:38] #3919 closed

[2019-09-17 18:16] paddyhoran opened #3964 "[Rust] "Common" sub-crate does not build on latest nightly and master"

[2019-09-17 18:38] wweic commented on #3016
We might also need to support `Any` https://github.com/dmlc/tvm/issues/3042.

[2019-09-18 09:40] cchung100m commented on #2849
Hi @XiaolongMeng

I would appreciate if you can help to review the proposed PR.

many thank,

[2019-09-18 09:45] herbakamil commented on #3958
It seems to be not usable:

[code]

[code]

[2019-09-18 09:45] herbakamil commented on #3958
Also only 2 pulls might be a proof that something is wrong with this image

[2019-09-18 12:01] XiaolongMeng commented on #2849
maybe you can call tqchen ...

[2019-09-18 15:12] tqchen commented on #2222
https://github.com/dmlc/tvm/pull/3968

[2019-09-18 17:59] junrushao1994 commented on #3958
idk what is going on here. let's reopen this issue? @herbakamil

[2019-09-19 01:30] tqchen commented on #3958
Thanks for the note, I just updated the image, please try again.

[2019-09-19 15:36] umangyadav opened #3974 "[Arith] DeduceBound produces relaxed bounds because of rounding up"
Consider the following example for the `DeduceBound`

where we want to find bounds for expression ` b < 1 - 2*a` given variables' range, `a : [0, 1]` and `b: [0, 1]`.
[code]

Result from running above exmpale is   `IntervalSet: [neg_inf, 0]`

These bounds from `DeduceBound` are not correct.  E.g. consider `a = 0` then expression becomes `b < 1` and that is not always true given `b: [0, 1]`.

-----

[2019-09-19 15:37] umangyadav commented on #3974
@tqchen  Please let me know your thoughts, this can be fixed with a check for the sign.

@xqdan @derisavi

[2019-09-19 17:35] tqchen commented on #3974
it is hard to force deduce bound to produce exact bound for every case, so ideally we should fix loop partition to respect this assumption.

[2019-09-19 17:51] umangyadav commented on #3974
@tqchen I don't completely agree.

The subtle hack mentioned in the `deduce_bound` is valid as long as `result > 0` or `result < 0` but it is not valid when `result == 0`.  In the example given above in the issue description after the rounding up, `result == 0` and that causes the error.

[code]

[2019-09-19 18:24] tqchen commented on #3974
In the previous logic of loop partition, we always keep the same body of the loop, but transforms the loop to two segments.
[code]
In the loop above, imagine if deduce bound returns [0, 2], which is a relaxed set, then the loop will be transformed to

[code]
Regardless of what value deduce bound returns, such transformation was hold to be always valid. A tight bound will help us to eliminate the c

[2019-09-19 18:57] tqchen commented on #3974
I see, I think we should avoid directly eliminating the conditions but rather keep them. Then the follow-up simplify pass would decide if it is safe to eliminate the conditions.

In the meanwhile, we could improve deduce bound to produce tighter bound, but it is good to not making the assumption when using it. So we won't put pressure on deduce bound. Especially in the cases where we might relax t

[2019-09-20 01:59] tqchen opened #3977 "[RFC][ARITH] Migrate to FloorDiv/Mod for Index Caculation"
This is a followup of https://github.com/dmlc/tvm/issues/3478

## Background: DIvMod Variants
### Trunc div/mod
IEEE standard integer division is truncated division, directly maps to the hardware. This is the division used by C and TVM by default. The problem of trunc div is that we usually relies on knowing the sign of both operands. For example, we cannot simplify ```(x * 4 + 3)/4 => x ``` if x

[2019-09-20 02:00] tqchen commented on #3977
cc @dmlc/tvm-committer

[2019-09-20 02:00] tqchen commented on #3478
https://github.com/dmlc/tvm/issues/3977

[2019-09-20 07:52] cchung100m commented on #3666
Hi @sf-wind @tqchen

The `relay.nn.conv2d` has been updated a lot since this issue be reported and I think we don't have this issue currently.  Do we need this issue keep opening?

[2019-09-20 09:22] mbarrett97 opened #3980 "[AutoTVM] Mali autotuning fails for ResNet"
Autotuning on Mali fails for ResNet18_v1 (from gluon) with error:

[code]

[3809](https://discuss.tvm.ai/t/error-tvmerror-not-all-vars-are-passed-in-api-args-whenever-i-set-target-to-mali-gpu/3809) and [4072](https://discuss.tvm.ai/t/autotuning-tutorial-for-mali-gpu-error/4072) appear to describe the same issue.

I've been able to resolve this by forcibly disabling the use of tophub fallback confi

[2019-09-20 17:18] tqchen commented on #3666
Close this issue for now, please bring followups to https://discuss.tvm.ai/

[2019-09-20 17:18] #3666 closed

[2019-09-20 17:25] tqchen commented on #3980
@merrymercy @ZihengJiang can you followup a bit on this?

[2019-09-20 19:17] tqchen commented on #2849
#3941  thanks to @cchung100m

[2019-09-20 19:17] #2849 closed

[2019-09-20 20:49] anijain2305 commented on #3598
https://github.com/dmlc/tvm/pull/3981

@kimishpatel and @tchen are working on this

[2019-09-21 00:49] tqchen commented on #3977
https://discuss.tvm.ai/t/discuss-embed-more-bound-information-into-var-or-expr/4079

[2019-09-21 16:45] Bienqq opened #3990 "Cannot compile and run yolov3-tiny ONNX model."
Hello,

I have train yolov3-tiny model using following PyTorch implementation:
https://github.com/ultralytics/yolov3

Then I exported this trained yolov3-tiny model to ONNX format in order to compile and run it with TVM and LLVM but I don't know how to get output.

Input shape is 1 RGB image with size 608 x 352 so input tensor shape will be `(1, 3, 608, 352)`

My code:
[code]

How can I get class

[2019-09-22 23:13] #3964 closed

[2019-09-23 06:41] eslambakr commented on #761
Hello @JammyZhou  @tqchen @merrymercy
I am facing the same problem, Did you solve it?

Thanks in advance

[2019-09-23 07:15] eslambakr opened #3992 "Error while Auto tuning for GPU using opencl "CL_OUT_OF_RESOURCES""
I face the following error
`tvm/src/runtime/module_util.cc:73: Check failed: ret == 0 (-1 vs. 0) : TVMError: Check failed: e == CL_SUCCESS: OpenCL Error, code=-5: CL_OUT_OF_RESOURCES`
while auto-tuning for firefly rk3399 GPU following the tutorial for auto-tuning for mobile GPUs [https://docs.tvm.ai/tutorials/autotvm/tune_relay_mobile_gpu.html](url)

I changed the target from "opencl -device=mali"

[2019-09-23 16:06] tqchen commented on #3992
Let us consolidate to #3980 Since you are using rk3399, the mali target is the right one. For followup questions, please open a new thread on https://discuss.tvm.ai/

[2019-09-23 16:06] #3992 closed

[2019-09-23 16:49] tqchen commented on #3990
Thanks for reporting the problem, can you please open a new troubleshooting thread on https://discuss.tvm.ai/ , it would also be great if you can produce more information(error messages etc)

[2019-09-23 16:49] #3990 closed

[2019-09-24 08:34] flynnamy opened #3995 "onnx auto-tune problem"
I have a problem when I do auto-tune by using onnx model.Any ideas to solve this?
![image](https://user-images.githubusercontent.com/20398890/65495327-2d48c200-dee9-11e9-8213-74ace51ef7e5.png)

[2019-09-24 17:13] tqchen commented on #3995
Thanks for bringing up this problem, please open a new thread on https://discuss.tvm.ai, ideally provide a bit more information for reproducing the error.

[2019-09-24 17:13] #3995 closed

[2019-09-24 17:14] tqchen commented on #3951
@tmoreau89 can you conclude this issue? either by suggest a fix and close it, or conclude it and close the issue

[2019-09-24 18:59] zhiics opened #3998 "TVM fails on the following conv2d with given template"
given fail.log:
{"i": ["cuda -model=unknown", "topi_nn_conv2d", [["TENSOR", [1, 128, 64, 64], "float32"], ["TENSOR", [128, 128, 3, 3], "float32"], [1, 1], [1, 1], [1, 1], "NCHW", "float32"], {}, ["conv2d", [1, 128, 64, 64, "float32"], [128, 128, 3, 3, "float32"], [1, 1], [1, 1], [1, 1], "NCHW", "float32"], {"i": 64299, "t": "winograd", "c": null, "e": [["tile_b", "sp", [36, 1, 1, 1]], ["tile_y", "

[2019-09-24 20:56] tqchen commented on #3998
Thanks for reporting the problem. Please open a new troubleshooting thread on https://discuss.tvm.ai/ would be great if you can dig a bit further into what is happening in the low-level codegen.

[2019-09-24 20:56] #3998 closed

[2019-09-24 21:01] tqchen commented on #3998
as a side, note i think it could due to a problem in the template or low level codegen instead of the autotvm or the simplifier side. Would be great to check what is really happening in here.

[2019-09-24 21:09] tqchen commented on #3974
ping @umangyadav would be great if you can followup on this and help to update the loop partition logic.

[2019-09-24 22:10] mingwayzhang opened #3999 "[QNN] Support for tflite quantized model with per-channel scales in weights."
Hi TVM developers,

I noticed that recent TFLite quantized models generated by post-training quantization have multiple scales per weight tensor. I am not entirely sure whether qnn operators support per-channel based requantization or not. If not, do you guys have any plan on the roadmap?

Thanks.
-Mingwei

[2019-09-25 00:09] tqchen commented on #3999
Thanks for bringing up the discuss thread, please open a new thread on https://discuss.tvm.ai/ as that is our main medium for technical discussions within the community.

[2019-09-25 00:09] #3999 closed

[2019-09-25 07:59] flip1995 commented on #3951
I tried it with `2018.3` and it worked without an error. I'll open a PR to change the documentation, until the transfer to 2019.1 is complete.

[2019-09-25 17:07] tqchen commented on #3478
Move the thread to https://github.com/dmlc/tvm/issues/3977

[2019-09-25 17:07] #3478 closed

[2019-09-25 17:29] tmoreau89 commented on #3951
Thanks for the PR; I'll close this issue

[2019-09-25 17:29] #3951 closed

[2019-09-25 17:50] umangyadav commented on #3974
@ZihengJiang @tqchen

To summerize,

Problem: Currently for the `LE` op, deduce bound can produce relaxed bounds because of truncdiv, which then could lead to incorrect results for the loop partition.

We discussed two possible solutions through the discussion.
1) Fixing the implicit tight bound assumption in the loop partition.
2) Fixing the `deduce_bound` to produce tighter bound fo the `LE op.

[2019-09-25 18:28] tqchen commented on #3974
In this particular case, I still recommend to keep the original bounds, and relies on the simplifier(which provide an additional verification).

This will allows us to safe-guard the bound deduce, especially for cases that it may produce in-exact bound, not due to the deduction, but due to some iter variables being relaxed that already covers more than what it expects.  Note that the integer set a

[2019-09-25 23:35] ajtulloch commented on #3770
@tqchen  sure  - are you saying you want something like https://github.com/ajtulloch/tvm/commit/ca1088c63c51e14a9d3c02df7eaa44fd60c23ce4?

[2019-09-25 23:45] merrymercy commented on #3980
I tried our official benchmark [script](https://github.com/dmlc/tvm/tree/master/apps/benchmark#arm-cpu--mali-gpu). And found it is @3386 causes the problem.

The error message is
[code]

[2019-09-25 23:46] anijain2305 commented on #3617
This is solved. Closing.

[2019-09-25 23:46] #3617 closed

[2019-09-25 23:46] anijain2305 commented on #3581
Fixed. Closing.

[2019-09-25 23:46] #3581 closed

[2019-09-26 01:24] masahi opened #4009 "[RFC] 3D model support"
There have been some interests in running 3D networks with TVM. Relevant discussions include:
https://discuss.tvm.ai/t/conv3d-is-supported-by-tvm/4118
https://discuss.tvm.ai/t/is-conv3d-op-in-tvm-on-schedule/974

This is a call for help on bringing 3D support to TVM. This will enable new application domains such as medical and other volmetric data, video, mesh & point cloud etc.

Operators that ne

[2019-09-26 03:05] xinedison opened #4010 "tf-lite concatenation"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2019-09-26 03:05] #4010 closed

[2019-09-26 03:33] Maximilianxu opened #4011 "How to inspect lower code after compiling a TensorFlow model?"
I built a small TensorFlow model: LeNet by
[code]
This is a tiny piece for testing and I want to inspect the lower code after the optimization. For instance, the code after unrolling, vectorization for a convolutional layer. Can I obtain the lower code or the IR during the compiling of a TensorFlow model?

[2019-09-26 03:57] tqchen commented on #3770
looks great! Although this is a solution that only works for the exact condition, it fits our purpose and is a pragmatic solution

[2019-09-26 05:08] zhiics commented on #3980
I found that the shapes are not simplified here for some convs

https://github.com/dmlc/tvm/blob/d21f0ad5d946ae569ee9521578571a9d90e2d211/src/pass/storage_flatten.cc#L171-L175

I am not sure why `threadIdx.x` and `blockIdx.x` are not replaced with the corresponding bounds. @kimishpatel have you seen this as well?

[2019-09-26 07:32] eqy commented on #3980
I also encountered this issue in some recent runs on Mali with the tutorial script. All workloads except for the last layer in resnet18 have this problem.

[2019-09-26 14:21] xqdan commented on #3974
@umangyadav @tqchen @ZihengJiang
I agree "it is hard to force deduce bound to produce exact bound for every case", but if we've caught some specific cases, we should reslove them at the very beginning, unless we may bring some danger factors.
For this case, fixing the deduce_bound is better IMO, but we can take all actions, since they don't conflict with each other in TVM complier system.

[2019-09-26 14:59] kimishpatel commented on #3980
@zhiics, can you try to Simplify the `e->extent` via bounded_analyzer_? (https://github.com/dmlc/tvm/blob/d21f0ad5d946ae569ee9521578571a9d90e2d211/src/pass/storage_flatten.cc#L427) I have not run into this error since I was mostly working with x86 CPU, but I think it is reasonable to assume the analyzer I added should be able to address this. If not we should look into augmenting bounded_analyzer.

[2019-09-26 16:54] zhiics commented on #3980
I tried it but it didn't work.

[2019-09-26 17:02] kimishpatel commented on #3980
@zhiics, hmm., ir_visitor_with_analyzer right now visits only a few exprs, like For and something else. It might be that to simplify r->extent it needs more? I am not sure right now, but thats the path I can suggest.

[2019-09-26 17:06] zhiics commented on #3980
Yes, that's also something I think as well as per https://discuss.tvm.ai/t/topi-winograd-test-topi-conv2d-winograd-py-fails-for-a-given-shape/4107/5

[2019-09-26 17:16] kimishpatel commented on #3980
@zhiics, oh absolutely, this makes total sense. Realize also has bounds that we should populate as you suggested on the thread, and for that matter other Stmts too.

[2019-09-26 17:17] tqchen commented on #3980
This error reveals two things to be improved:
- Improve the simplifier
- Improve the storage rewriter itself to have more clear error message when the storage scope is index dependent.

[2019-09-26 17:26] zhiics commented on #3980
@tqchen @kimishpatel Yeah, I am actually trying to improve the simplifier to cover more exprs. One thing I am not quite sure for `Realize` is how to bind it.

For item 2, I think we can probably log warning when `sz` or `comb_size` is not constant, right?

[2019-09-26 20:13] tqchen commented on #4011
Thanks for bringing up the problem. The community uses https://discuss.tvm.ai for general topics like this one. Please open a new thread there

[2019-09-26 20:56] ZihengJiang commented on #3974
Hey @umangyadav actually @tqchen and me believe that these two things are both necessary to do instead of just choosing one of them to fix the problem.
Could you raise a PR to fix the `LE` condition? If you are interested you can also try to relax the assumption in `loop_partition`, or I will do it. @umangyadav

[2019-09-26 23:33] #4011 closed

[2019-09-27 00:06] zhiics commented on #3980
@tqchen I now found where the problem was started. The issue is actually because the bound is not correctly simplified during InferBound. The old version of the simplifier can simplify the following bound to 1

(((((((((((blockIdx.x*128) + threadIdx.x)/16)/16)/64)*16)*16) + ((((4 + (((((blockIdx.x*128) + threadIdx.x)/16) % 16)*4)) - 1)/4)*16)) + (((4 + ((((blockIdx.x*128) + threadIdx.x) %16)*4)) -

[2019-09-27 00:15] tqchen commented on #3980
The main problem  is likely due to the fact that we dd not fully bind the range of the IterVar. This is a  new requirement because we are being strict about the division mode and needs to know the sign of the expression.

[2019-09-27 02:32] zhiics commented on #3980
Thanks. So this will then be considered together with https://discuss.tvm.ai/t/discuss-embed-more-bound-information-into-var-or-expr/4079 ?

[2019-09-27 06:27] ibeltagy opened #4020 "[DOCKER] make demo images consistent with ci images when possible"
I want to mention that all the prebuilt docker images here https://hub.docker.com/u/tvmai can't be used to run the tutorials. Either they are very old and missing pytorch (demo-gpu and demo-cpu) or they don’t have tvm installed (ci-gpu and ci-cpu).
As a person who just want to see if tvm is the right tool for my use case, I would really appreciate a prebuilt docker image that can easily run the tu

[2019-09-27 07:41] ibeltagy opened #4021 "[Question] How to only compute diagonal band of matrix multiplication output?"
I want to do matrix multiplication of 2D tensors where I only care about a few diagonals of the resulting matrix. Is this something that can be done with Tensor Expression? How would you express the code below in the lambda function of `tvm.compute` ?
I need this for PyTorch/GPU, but here's the numpy code just for illustration.

[code]

[2019-09-27 16:09] tqchen commented on #4021
It looks like you want a special band matrix support. Likely you will also need pytorch support of sparse matrix to do so, or specially store your matrix in the format of ```r[2* c, d]```. if you just want the gpu to run the dense version of compute, you can use tvm.expr.Select to do that.

For following up thread, please open new threads on https://discuss.tvm.ai/ as that is where community discu

[2019-09-27 16:09] #4021 closed

[2019-09-27 16:14] tqchen commented on #4020
Thanks for the suggestion. The ci images does not contain a version of TVM because they are used to build the image. We shall update the demo images to include the necessary tools you mentioned.

[2019-09-27 16:33] tqchen commented on #4020
https://github.com/dmlc/tvm/pull/4024

[2019-09-27 16:35] tqchen commented on #4020
tvmai/demo-gpu has been updated with the additional deps

[2019-09-27 16:35] #4020 closed

[2019-09-27 17:26] tqchen commented on #3980
Upgrading the simplification will alleviate the problem, but would still be great for us to improve the bound context in the current setting. Both are directions for improvements

[2019-09-27 17:30] zhiics commented on #3980
Thanks. I think I probably need much more time to work on it because I need to understand the simplifier first. Will you have cycles to have a fix? It is currently blocking our internal merge.

[2019-09-27 17:51] tqchen commented on #3980
It would be great if you can look into it a bit, so that we have more developers who can hack into the simplifier :) reducing to unit-test cases (like the case you suggested) might help the process.

[2019-09-27 20:02] umangyadav commented on #3974
@ZihengJiang @tqchen I agree with not removing conditions directly in the loop partition now.

I've sent a PR for the `deduce_bound`.

I'll try to come up with something for the loop partition.

[2019-09-28 14:49] zcc199710 opened #4030 "Windows support is not good, doomed to do little."
对windows支持不好，注定做不大

\codes\tvm-master\include\tvm\base.h(27): fatal error C1083: 无法打开包括文件: “dmlc/logging.h”: No such file or directory (编译源文件 F:\Codes\tvm-master\src\api\api_arith.cc)
2>  api_pass.cc
2>f:\codes\tvm-master\include\tvm\base.h(27): fatal error C1083: 无法打开包括文件: “dmlc/logging.h”: No such file or directory (编译源文件 F:\Codes\tvm-master\src\api\api_codegen.cc)
2>  api_schedule.cc
2>f:\codes

[2019-09-28 16:37] tqchen commented on #4030
Thanks for reporting the problem, please open a new thread on https://discuss.tvm.ai/ as that is where most of our community members used for trouble shooting. In your particular case, it seems that you have forgotten to clone with ```--recursive``` option to get all the git submodules

[2019-09-28 16:37] #4030 closed

[2019-09-28 23:33] zhiics commented on #3980
@tqchen I dug deeper into the simplifier. Should we relax the following

https://github.com/dmlc/tvm/blob/f98035b093112ce5dfdde518c86b1511830f7172/src/arithmetic/rewrite_simplify.cc#L544-L550

by removing `CanProveGreaterEqual(x.Eval(), 0) && CanProveGreaterEqual(y.Eval(), 0)`

I think `(a*x + y) / b = x * (a / b) + (y / b)` holds if `a` is a multiple of `b` for any sign, isn't this true?

[2019-09-29 00:45] yongwww commented on #3980
@tqchen @zhiics my prove for the equation above.
`a, x, y`, and `b` are all integer numbers, `a` is a multiple of `b`. So `a = b * e`, `e` is an integer.

1).  if `y` is a multiple of `b`, then `y = b * f`, f is an integer.
[code]

2). if `y` is not a multiple of `b`, `y` can be denoted by `g*b + h`, here `g` is an integer, `h` here is an integer less than `b`.
[code]

To sum up, no matter whether

[2019-09-29 03:27] tqchen commented on #3980
This is something has to do with the division semantics. Because the semantics is truncdiv in here.

b = 2, a * x = 8, y = -3. The change of sign will make the result being different because of the truncdiv. see more about the division modes: https://github.com/dmlc/tvm/issues/3977

[2019-09-29 06:00] zhiics commented on #3980
@mbarrett97 This problem is caused by the used division mode because division in the schedule will use truncdiv in the TVM IR which needs context information about the sign. Tianqi's pending PR #4008 migrate indexdiv to floordiv. It solves my minimal example to reproduce the problem. Can you check if it solves your problem here as well?

[2019-09-30 15:22] mbarrett97 commented on #3980
It does appear to resolve my issue. However, I'm now getting a new issue when I try to run InceptionV3 on Mali:

[code]
This looks like it could potentially be related to the changes (?), I'll see if I can find a minimal example to reproduce it.

[2019-10-01 16:39] tqchen commented on #3977
Migration is finished $4008, @icemelon9 we need to followup on https://discuss.tvm.ai/t/discuss-embed-more-bound-information-into-var-or-expr/4079/14 to get the best symbolic shape code

[2019-10-01 16:39] #3977 closed

[2019-10-01 23:03] staticfloat opened #4046 ""Bad File Descriptor" whenever trying to run autotvm inside Jupyter notebook"
Hello there!  I have compiled TVM v0.5 on macOS 10.14, and although everything works great in ipython when run directly from the command-line, when trying to execute TVM code inside of a jupyter notebook kernel, I get the following errors printed out to the `stderr` stream of the notebook kernel:

[code]

And I get the following errors printed out to standard out:

[code]

Attempting to run the `q

[2019-10-02 16:50] yongwww commented on #3154
just chime in to see if there is any progress on perf regression test

[2019-10-02 20:20] #3733 closed

[2019-10-03 05:13] Hzfengsy opened #4052 "[RFC] Tensor Core Support"
Tensor Core is a defining feature of the NVIDIA new Volta and Turing GPU Architecture, which gives a massive boost for matrix multiplication and convolution. Tensor Cores enable us to use mixed-precision to achieve higher throughput without sacrificing accuracy.

## Tensor Core Overview
Each Tensor Core provides a 4×4×4 matrix processing array that operates `D = A * B + C`, where `A`, `B`, `C` and

[2019-10-03 05:17] tmoreau89 commented on #4052
Very welcome work @Hzfengsy !

[2019-10-03 06:34] yangjunpro commented on #4052
Nice to see other folks working on adding TensorCore support into TVM, we have also been working on enhancing TVM to incorporate TensorCore schedule support.
If my understanding is correct, @Hzfengsy your solution is based on extending TVM's intrinsic while our solution put most of the complexity into TVM IR passes so that at python code level, we don't need to consider too much about TensorCore s

[2019-10-03 06:35] antinucleon commented on #4052
cc @Laurawly

[2019-10-03 07:05] Hzfengsy commented on #4052
@tmoreau89 Exactly! For now, we use the NCHWnc layout, the same layout with VTA.

[2019-10-03 07:20] Hzfengsy commented on #4052
@yangjunpro Really happy to see another solution for TensorCore.

You are right! I just extend tvm intrinsic to support it. It does cause programmers who write the schedule some trouble. It is not easy to write a high-performance schedule.

I'm really curious about how to use IR passes to recognize the pattern. Does it need to split into several loops of 16 in python code? I appreciate it if you c

[2019-10-03 09:46] minminsun commented on #4052
@Hzfengsy Sure, we will show the code as well as a sample schedule very soon. It's being under internal review now. As you will see, the schedule for TensorCore CodeGen looks no different than a normal matmul schedule for GPU. Everything is done in IR passes including matrix_a/matrix_b/accumulator recognition, row/col_major recgnition as @yangjunpro mentioned, thread index unification within a war

[2019-10-03 17:42] MarisaKirisame opened #4054 "[RFC][Relay] Multiple Entries & Incremental compilation"
I am trying to train mnist using tvm, and I hit an issue:
There is two function, loss and infer, which one calculate loss and gradient, and one just does infer.
However, create_executor/aot/vm all only take one single entry point. If there is multiple entry point, the passes will be called multiple time.
Furthurmore, I think the notion of 'compile then execute' is not enough for all the deep learn

[2019-10-03 18:03] junrushao1994 commented on #4054
Just to clarify:

Do you mean that there are two modes, training and inference, so that there are multiple entry points in relay Module?

[2019-10-03 18:07] kevinthesun commented on #4054
Can we have a more detailed example to help clarify this issue?

[2019-10-03 18:09] junrushao1994 commented on #4054
And also:

So in DL, common practice is that we specify the input shape in an ad-hoc way. Particularly, in MNIST, we know that our input is in shape `(batch_size, 784)`. For more complicated workloads, like models containing complicated control flow. I don't really think loading all the data would suffice. Probably compilation should happen in basic block level if say the IR is in CFG (so you need

[2019-10-03 18:43] icemelon9 commented on #2623
# TVM Monthly - September 2019
https://discuss.tvm.ai/t/tvm-monthly-september-2019

[2019-10-03 21:26] MarisaKirisame commented on #4054
@junrushao1994 yes, that is what I mean, inference mode and training mode, each mode compiled to one function.
we do the partial evaluator primarily for partially evaluating the control flow w.r.t data. Other framework also does this, but they require manual loop unrolling

[2019-10-03 21:42] junrushao1994 commented on #4054
@MarisaKirisame Do you mean you want the training loop itself to be part of Relay?

[2019-10-03 22:35] MarisaKirisame commented on #4054
No. suppose I have a treelstm. Now normally, I cannot do any operator fusion/batching, because of control flow everywhere. Using the partial eval on batches of training data individually will solve this problem.

[2019-10-03 22:38] MarisaKirisame commented on #4054
However, that require the ability to create multiple entry (one entry per batch). If we also want to use relay for any form of jit, we must be able to interleave running relay/adding more definitions to a relay module.

[2019-10-03 22:46] junrushao1994 commented on #4054
I see. So for mnist, there is no such issue; but for treelstm, it is true that we are not able to do more optimization if we don't do code replication.

[2019-10-03 22:55] junrushao1994 commented on #4054
Let's get back to the original topic, which is broader imo.

First of all, depending on your scenario, incremental compilation may be doable or not, like on edge devices where space is only allowed for tvm runtime, not compiler.

Then, I am actually in favor of incremental compilation, or some profiling guided stuff. I do think that it is inevitable for training, especially when people are increas

[2019-10-04 00:23] MarisaKirisame commented on #4054
@junrushao1994 we unroll the control flow to be more efficient.
maybe multiple module can work, but there cant be code sharing between multiple ones.

[2019-10-04 00:26] junrushao1994 commented on #4054
my point is that we don't have to do full data-dependent unrolling, but unroll a deterministic 4 steps or 10 steps to make it data independent

[2019-10-04 00:45] MarisaKirisame commented on #4054
@junrushao1994 it is only possible for lstm. for treelstm if you do it it will blow up exponentially, and lots of time will be spend on testing the match on all the cases - unless some tricks are used (for example, a decision tree for pattern matching instead of linear)
still, this doesnt allow batching for treelstm

[2019-10-04 16:09] tqchen commented on #4046
I have not tried to run tracker on jupyter, perhaps @merrymercy @vinx13 can comment. from a quick look at the errors. The main reason seems to due to the "Connection time out", then the event handling loop tried to add the bad socket into its set of sockets(which leads to bad file descriptor)

[2019-10-04 16:12] tqchen commented on #4054
By default we have one entry point("main") but there is nothing preventing us from calling into other compiled functions as long as they are exposed as PackedFunc. So we should have already supported that.

The incremental compilation is supported in the level of modules, which means we can have one module that get compiled, and as you have additional needs, generate new modules that can then get

[2019-10-04 16:12] #4054 closed

[2019-10-04 17:35] vinx13 commented on #4046
It might be issues with your network setup. Local runner is equivalent to RPC runner with tracker and server running on localhost. You can try using RPC mode by starting RPC tracker and server with your custom address (e.g. `0.0.0.0`

[2019-10-05 01:59] Maximilianxu opened #4061 "nvcc fatal : Value 'sm_75' is not defined for option 'gpu-architecture'"
I compiled a LeNet(NCHW format) with ```target=cuda, target_host=llvm```.
The environment is:
[code]
The piece of compiling code is:
[code]
The model architecture is:
[code]
The complete error message is:
[code]

[2019-10-05 05:18] tqchen commented on #4061
Please use  discuss.tvm.ai for followup threads ：）

[2019-10-05 05:18] #4061 closed

[2019-10-05 22:45] yurivict opened #4063 "Build breaks: fatal error: 'tvm/node/node.h' file not found"
[code]

There is no such file in the source tree: ```tvm/node/node.h```.

The other error is:
[code]

[2019-10-06 01:16] tqchen commented on #4063
Thanks for bringing up the problem. it should be an issue with git submodule, the dependency is in a submodule. you can resolve by recursively cloning the repo. For follow up questions, please open a new on discuss.tvm.ai

[2019-10-06 01:16] #4063 closed

[2019-10-06 01:32] wweic commented on #4063
@yurivict you can follow the build instruction here: https://docs.tvm.ai/install/from_source.html

[2019-10-06 17:40] yurivict commented on #3848
The automated release detection system shows that 0.5 is the latest release and packages need to be updated to 0.5, while you do active development in 0.4 branch.

[2019-10-07 06:07] soiferj commented on #4052
Would it be easy to extend your gemm schedule into a schedule for BatchMatMul? That would help round out the TensorCore story for matrix multiplication.

[2019-10-07 06:18] mn-dl opened #4068 "plevel"
while installing python setup of incubator-mxnet we are getting following error:
terminate called after throwing an instance of 'dmlc::Error'
what(): [11:22:26] 3rdparty/tvm/nnvm/include/nnvm/op.h:461: Check failed: p.second != plevel Attribute FCompute<gpu> of operator signsgd_update is already registered with same plevel=10

We are able to generate libmxnet.so .
and trying to install mxnet(sudo

[2019-10-07 15:00] tqchen commented on #4068
Given that this is an issue of mxnet, please open a new thread there. For questions related to tvm, please open a new thread on https://discuss.tvm.ai/

[2019-10-07 15:00] #4068 closed

[2019-10-07 16:01] mbarrett97 opened #4072 "[CodeGen] LLVM codegen doesn't respect mfloat-abi=hard"
For versions of LLVM < 6.0, the mfloat-abi=hard flag does not appear to be respected resulting in operators such as exp and softmax giving incorrect results on Raspberry Pi 3. This issue is discussed [here](https://discuss.tvm.ai/t/softmax-layer-not-working-on-raspberry-pi-4/4191). I've tested with LLVM versions 4.0, 5.0 and 6.0 and only 6.0 gives the correct result.

I've got a small patch (PR: [

[2019-10-07 19:21] ajtulloch commented on #3770
@tqchen followed up in https://github.com/dmlc/tvm/pull/4076.

[2019-10-08 06:16] Hzfengsy commented on #4052
@soiferj Thank you for such a helpful comment. I have just made the extension into the schedule for BatchMatMul. You can check the schedule in my fork repo: https://github.com/Hzfengsy/tvm/blob/master/tests/python/unittest/test_schedule_tensor_core.py#L101

[2019-10-08 06:48] hoseung2 opened #4085 "conv int8 for armv7"
Hi, I'm trying to use int8 convolution on odroid xu4, and its architecture is armv7a.

I've only modified the TARGET_NAME of "topi/recipe/conv/test_conv_int8_arm.py" as below

[code]

And message are:
[code]
It seems like tvm automatically chooses the target platform as aarch64... How should I change the code?

Thank you.

[2019-10-08 09:58] lhutton1 opened #4086 "Docker build failing with nnpack depreciation error"
I've recently just tried to build tvm using the docker image provided in the repo. I'm getting the following depreciation errors when trying to build with nnpack enabled:

[code]

[2019-10-08 10:59] t-vi opened #4087 "rocm backend: crash with LLVM 8"
On Debian (unstable), I have LLVM 8.0.1 (as default llvm) and LLVM 9.0.0 (with llvm-config-9).
Using the rocm backend, it seems that when I compile tvm master against 8.0.1, I get crashes (`free(): invalid next size (normal)`, double free without debug build, see below). When I build with LLVM 9, this disappears.
I must admit that given that using newer LLVM seems like the future, my suggestion wo

[2019-10-08 11:15] mshawcroft commented on #4086
Confirmed. The version of nnpack pulled and built by tvm is pinned. However it appears that nnpack itself clones the pthreadpool project and checks out the most recent master of that project.  Ideally we should have a way of properly pinning nnpack *and* it's dependent packages in order to have a stable  build environment for tvm.

[2019-10-08 22:46] tqchen commented on #4087
Requiring new LLVM sounds good, but it would also be great if you can help dig a bit, to see if we are doing something that was really stupid

[2019-10-08 22:46] tqchen commented on #4085
Thanks for bringing up the issue. please open a new thread on https://discuss.tvm.ai/

[2019-10-08 22:46] #4085 closed

[2019-10-08 22:47] #4072 closed

[2019-10-08 22:47] tqchen commented on #4072
Closed by #4071  Thanks @mbarrett97 !

[2019-10-08 23:16] tqchen commented on #3696
https://github.com/dmlc/tvm/pull/4019

[2019-10-08 23:16] #3696 closed

[2019-10-08 23:17] tqchen commented on #3465
@kevinthesun please check again now that the the integer simplification infra lands

[2019-10-08 23:17] #2651 closed

[2019-10-08 23:18] tqchen commented on #2651
closed by #3538 let us open new thread for tutorials

[2019-10-08 23:18] #2222 closed

[2019-10-08 23:19] tqchen commented on #2451
superceded by relay vm solution, close for now

[2019-10-08 23:19] #2451 closed

[2019-10-08 23:19] tqchen commented on #3016
This RFC isa bit out-dated, I would recommend close it, and open new checklist for the next todos

[2019-10-08 23:19] #3016 closed

[2019-10-08 23:21] tqchen commented on #3301
@yzhliu what is the status of this issue?

[2019-10-08 23:21] #3275 closed

[2019-10-08 23:21] #3142 closed

[2019-10-08 23:21] tqchen commented on #3339
ping @were

[2019-10-08 23:21] #3455 closed

[2019-10-08 23:24] tqchen commented on #3579
it is quite subtle, perhaps a comment on the codeblock, @zhiics please act and close this

[2019-10-09 08:58] zy2008cn commented on #3912
Have your performance improved?  I encounter the same problem as yours. @cyrusbehr

[2019-10-09 16:23] zhiics commented on #3579
close by #4091

[2019-10-09 16:23] #3579 closed

[2019-10-09 16:35] #3770 closed

[2019-10-09 17:26] were commented on #3339
Jesus, let me get some bandwidth this week. I am too busy now.

[2019-10-09 18:04] petrex commented on #4087
Thanks, would love to learn whether the root cause is from either CodeGenAMDGPU, LLVM AMD GPU backend or others.

Also, explicitly requiring LLVM > 9.0 for AMD backend tends to mask potential issues IMHO.

[2019-10-09 18:08] yzhliu commented on #3301
@tqchen sorry for delay, I'm working on it.

[2019-10-09 20:18] amm0063 opened #4092 ""Unexpected unqualified-id" with fresh build (Ubuntu16.04 & clang)"
@gussmith23 - This issue is for you, discovered at ADA symposium hackathon
Ubuntu 16.04 with fresh TVM build attempt using clang that comes with LLVM pre-built binary.

When making with `make -j8`, the following errors appear:

`[  5%] Building CXX object CMakeFiles/tvm.dir/src/relay/backend/build_module.cc.o
/home/mccrabb/gus/tvm/3rdparty/posit/posit-wrapper.cc:18:16: error: expected unqualified-

[2019-10-10 10:43] t-vi commented on #4087
I have re-titled the issue to reflect your preference to see this as a crash to be fixed rather than an incompatibility to be avoided.
This is not in my priorities, currently, so I won't have time to look into it. I'm glad @petrex has a more principled position.

[2019-10-11 06:47] ic opened #4101 "Tensorflow tutorial broken with "unexpected keyword argument 'half_pixel_centers'""
Running the tutorial after compiling from source breaks with either TF1.14 or TF2 (I did not try any other version):

[code]

[Here is a WIP attempt](https://github.com/dmlc/tvm/compare/master...ic:6ec2b28) at introducing the attribute. Before committing more time, I would appreciate feedback/confirmation, as a definite new comer.

[2019-10-11 06:52] ic opened #4102 "[Relay] Support for Tensorflow 2.0"
TF2 has been released this week, and becomes the stable version. Some APIs are breaking or not supported in Relay.

[Note: I may have been wrong on the resize op thing. Same problem with TF1.14]
For example, the `half_pixel_centers` attribute in the resize op has been introduced in TF2 (separate issue #4101), and deprecated namespaces like `tf.gfile`, `tf.graph_util`, `tf.GraphDef`, etc.

Walking

[2019-10-11 07:47] srkreddy1238 commented on #4102
@ic that was good start to upgrade TF.
You could raise a formal PR and invite for review to take it to completion.

We could use this issue to track TF upgrade.

[2019-10-11 08:46] minminsun opened #4105 "[RFC] Auto TensorCore CodeGen"
We propose a solution for TensorCore CodeGen with significant transparency, flexibility and usability. In this solution, the algorithm description and schedule of TensorCore CodeGen is no different than that of a normal CUDA CodeGen. All the information needed by wmma API, such as matrix_a/matrix_b/accumulator, row_major/col_major, warp tile size and so on, is automatically derived from the AST. O

[2019-10-11 08:47] ic commented on #4102
I'll be working on #4104, usually on Fridays.

[2019-10-11 08:55] minminsun commented on #4105
#4052 @Hzfengsy

[2019-10-11 10:44] antinucleon commented on #4105
Awesome solution! Just curios: for shapes which are worse than cudnn/cublas, what kind of tuning is using?

[2019-10-11 13:16] minminsun commented on #4105
We haven’t spent much effort on performance tuning yet. For cases with bad performance we plan to do profiling to figure out the causes firstly. One possible way of optimization is to manually modify the generated code. If the manual optimization really works and it is general enough, we can try to implement it in the schedule.

[2019-10-11 15:56] yangjunpro commented on #4105
Good point! We do have some internal discussions about whether we need to automatically search the schedule space based on performance between TensorCore and non-TensorCore kernel, since TensorCore implementation may not beat the non-TensorCore version for every shapes. This is one of the plan-to-do features and any further comments and inputs are also welcome. One possible solution is to expose T

[2019-10-11 16:52] tqchen commented on #4105
Thanks for the RFC, also cross link  to https://github.com/dmlc/tvm/issues/4052.

## Non standard buffer allocation

We are moving toward using special memory scopes to annotate the special memory(e.g. mma). The use of ```new_expr``` was convenient, but never the less a bit too close to low level and overlaps with what we can do with special memory scope.  Adding ```new_expr``` to Realize seems to

[2019-10-11 18:35] kevinthesun commented on #3465
[code]
@tqchen I tested with latest master but the performance is better, but still around 18.5 ms.

[2019-10-11 18:44] tqchen commented on #3465
@kevinthesun can you look a bit into what was happening? Specifically, please look into the code after LowerIntrin to make sure that the floordiv/mod are lowered correctly to the corresponding https://github.com/dmlc/tvm/blob/master/python/tvm/build_module.py#L498

Note that we will likely need to retune the workload to given that the division order is different. To recover the original behavior,

[2019-10-11 19:18] kevinthesun commented on #3465
@tqchen Yes. I think retune is necessary here. Let me redo tuning and check the ir.

[2019-10-11 20:45] t-vi commented on #4087
So what happens is that the bitcode contains stuff LLVM 8 cannot handle here
https://github.com/dmlc/tvm/blob/9d5cba201a0dc6121ca03b5fe311ff35e4c5f220/src/codegen/llvm/codegen_amdgpu.cc#L209-L214
Printing the error message myself, I get:
[code]
But apparently by then something went so horribly wrong that the exception-throwing and orderly destruction from `LOG(FATAL)` doesn't work. (In the debugge

[2019-10-11 20:59] Hzfengsy commented on #4105
Thank you for the RFC. It is complete TensorCore support. It is nice that you can support different types and different data layouts, which is not supported in my solution currently.

## Lower Passes vs Intrinsic
Intrinsic is a tool for describing what instructions can be done in specific hardware. I believe TensorCore is one kind of specific hardware. It is perfect to use tensor intrinsic. It is

[2019-10-11 21:33] kevinthesun commented on #3465
After retuning, the performance comes to 13.5 ms! I'll retune ssd as well.

[2019-10-11 22:11] masahi commented on #4087
In #3984, bitcode for Navi was added. This could be what LLVM 8 cannot handle.

Since ROCm also tracks the latest LLVM, I agree that we require LLVM >= 9 for our backend (and ROCm 2.8+).

[2019-10-11 23:55] ajtulloch commented on #4105
This is really impressive work, congrats!

[2019-10-12 02:19] meiniangpp opened #4109 "whats"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2019-10-12 02:20] #4109 closed

[2019-10-12 02:28] meiniangpp opened #4110 "what about the support for third-part accelerators?"
Hi, it's a very impresive tool. And I have 2 questions.
1. As for the auto-tuning, is it tunning the structure of the dnn, or tunning the scheduling and/or compiling on the target platform?
2. Does it support for third-part accelerators? Such as some TPU like accelerators of our own?

Thank you a lot for your time!

[2019-10-12 02:47] Orion34C commented on #4105
Our fp16 TensorCore kernel are tuned on V100 with CUDA toolkit 9.0 with driver 396.44. The int8 TensorCore kernels are tuned on T4 with CUDA toolkit 10.1 with driver 418.39. On different GPUs, the performance of tuned kernels can be different.

[2019-10-12 04:06] minminsun commented on #4105
Thanks @tqchen and @Hzfengsy for your valuable feedbacks. We are trying out some of your suggestions. Will have further discussions with you after we have made some evaluations and trials.

I doubt whether "using TensorCores will decrease precision", if the inputs are already in fp16 or int8. We did try to add an "enable_tensor_core" option in tvm.build_config, but it seems like build_config can't

[2019-10-12 04:38] zhiqiu opened #4111 "build failed: /usr/bin/ld: cannot find -ledit"
Hi, I followed [Install from Source](https://docs.tvm.ai/install/from_source.html#) to compile tvm on ubuntu-16.04, but got failure from linker.

`/usr/bin/ld: cannot find -ledit`

I have install the requirements like this,
`sudo apt-get update &&
sudo apt-get install -y python3 python3-dev python3-setuptools gcc libtinfo-dev zlib1g-dev build-essential cmake`

Would you please tell how to install

[2019-10-12 07:20] zhiqiu commented on #4111
OK, I find the solution.
`apt-get install libedit-dev`
`apt-get install libxml2-dev`
I suggest add these two libs to the documentation[Install from Source](https://docs.tvm.ai/install/from_source.html#).

[2019-10-12 07:21] zhuochenKIDD commented on #3428
@murdockhou @gasgallo

adding ignores=['explicit_paddings'], to AttrCvt construction in
https://github.com/dmlc/tvm/blob/master/python/tvm/relay/frontend/tensorflow.py#L311

[2019-10-12 11:49] EddieBurning commented on #3428
@zhuochenKIDD i encountered the same issue, and have tried your way, but the issue still exists, any idea? do you verify the way?

[2019-10-12 16:38] t-vi commented on #4087
So when now it seems that indeed LLVM 8 itself is the culprit, is requiring >= 9 less controversial?

[2019-10-12 16:42] tqchen commented on #4111
Thanks for the suggestion, please send a PR to fix the docs https://github.com/dmlc/tvm/tree/master/docs this is a dependency of LLVM

For subsequent trouble shooting related question, please open a new thread on https://discuss.tvm.ai/

[2019-10-12 20:23] masahi commented on #4087
I think it's reasonable. Otherwise we have to decide which bitcode to link based on LLVM version.

[2019-10-13 05:24] tqchen opened #4116 "[RFC] Unifying Object Protocol in the Stack"
We start to introduce many useful reference-counted objects in the stack, including:

- ```runtime::Object``` used by virtual machine, needed in runtime.
- ```Node```  used to store ASTs.

These objects have quite a lot in common, as a matter of fact, the implementation
of Object and Node system is roughly the same as Node.
(or tag if we use the terminology tagged-union objects). Besides these two

[2019-10-13 05:24] tqchen commented on #4116
Original discuss thread https://discuss.tvm.ai/t/unifying-object-protocol-in-the-stack/4273

[2019-10-13 05:25] tqchen commented on #4116
PR for the new object impl https://github.com/dmlc/tvm/pull/4115

[2019-10-13 18:38] #4111 closed

[2019-10-13 23:18] kevinthesun commented on #4116
Just curious, is this change also related to relay/tvm node system unification?

[2019-10-13 23:25] tqchen commented on #4116
The change is mainly need for runtime object infrastructure it unifies relay vm's object with the tvm's AST node. The unification of relay.module and tvm.module would be in a separate topic, but this PR is a step towards that

[2019-10-14 04:57] kevinthesun opened #4118 "[RFC] Dynamic Shape Support - Graph Dispatching"
## Overview
There are more and more deployment requirements regarding dynamic input graphs, such as dynamic batching CV models and dynamic BERT. While dynamic input graph is supported in eager mode(Pytorch, Tensorflow Eager, MXNet Gluon) for model developing, TVM still just support static shape input models. In this thread I'll discuss about possible solution for dynamic shape AOT compilation.

Le

[2019-10-14 05:28] kevinthesun commented on #3465
With new ir simplifier infrastructure, ssd resnet50_v1 performance improves from 33ms to 26.5ms. I'll close this issue and open new one if more performance issues are found.

[2019-10-14 05:28] #3465 closed

[2019-10-14 06:44] comaniac commented on #4110
Hi, for your questions:

1. The AutoTVM is for performance tuning. It tunes scheduling for each operators in the network as well as the graph level data layout for the given platform. The architecture tuning, which refers to neural architecture search, is not supported yet in the current TVM.

2. TVM currently does not really support third party accelerators but we do have an ongoing plan for it.

[2019-10-14 15:36] tqchen opened #4120 "[TESTS] Runtime cpu feature detection util"
Right now we want to optionally disable tests based on the availability of the features, we do that for gpu runtimes, cuda/amdgpu, but not cpu features, this is an issue to track that.

Ideally, we should put that into tvm.testing.cpu_features.py

[2019-10-14 16:56] anijain2305 opened #4122 "[Relay][Topi] Conv NHWC pack int8 kernel layout"
Relavant PR - https://github.com/dmlc/tvm/pull/4038

Currently, _declaration_conv_nhwc_pack expects (NHWC, HWOI). However. TOPI expects the kernel layout to be HWIO whenever the input data layout is NHWC. There is no easy way to pass around the kernel_layout to TOPI.

Currently, we are planning to comment out the code to achieve correct functionality. This issue is to record this activity, and tra

[2019-10-14 17:27] ZihengJiang commented on #3974
Hi @umangyadav , are you interested in relaxing the loop partition assumption task ?

[2019-10-14 18:05] icemelon9 commented on #4116
I have one question about `_type_child_slots`. If the child class is a base class for others and also defines `_type_child_slots`, will you check if it overflows its parent `_type_child_slots`?

[2019-10-14 19:04] tqchen commented on #4116
Re overflow, the child that has class slots will count as number of slots rather than a single class, as in the RFC code.

[2019-10-14 22:43] #4110 closed

[2019-10-15 04:38] minminsun commented on #4105
We had a meeting with @Hzfengsy today. We discussed the difference and similarity of our solutions. They are different in the front-end: our solution tries to make it as transparent as possible to make it easy-using while #4095 provides more controllability to the user (schedule developer). They are actually targeting different users, so we think both solutions can co-exist. But we both agreed tha

[2019-10-15 22:46] umangyadav commented on #3974
@ZihengJiang

There is one more thing with the loop partition that can be improved. That is right now If the HalideIR has more than one conditions and if the intersection of their deduced bounds are empty then, loop partition will skip the partition altogether.

e.g.  something like the following:

[code]

The issue is stemming from the following line:

https://github.com/dmlc/tvm/blob/11a3a777ec7

[2019-10-16 02:56] Hzfengsy commented on #4052
I have chatted with @minminsun and his team these days. Just as then mentioned https://github.com/dmlc/tvm/issues/4105#issuecomment-542032766. We can have different frontends but only one backend. In my previous implement, users can only use fragments with 16x16x16 shape and row-major layout. To solve this problem, Minmin uses `new_expr`.  Here I proposed a new design here. We use attributes to tr

[2019-10-16 03:01] topperc commented on #2959
FYI, I think might have fixed the LLVM bug this was hitting here https://github.com/llvm/llvm-project/commit/7b49e8ac359bc35f95af548fbed4b7afd625caab

[2019-10-16 07:50] AnneChen opened #4137 "NNVM Error"
I installed tvm from source,but when i use import  nnvm.compiler

terminate called after throwing an instance of 'dmlc::Error'
  what():  [03:06:13] /media/leopard/Share/Anne/server/tvm/nnvm/include/nnvm/op.h:473: Check failed: pmap->type() == typeid(OpMap<ValueType>): Attribute FInferShape of operator max_pool2d is registered as inconsistent types previously N4nnvm5OpMapISt8functionIFbRKNS_9NodeA

[2019-10-16 16:33] zhiics commented on #4137
@AnneChen Thanks for reporting this. Can you please open a thread on the discussion forum: https://discuss.tvm.ai/

I am going to close it here.

[2019-10-16 16:33] #4137 closed

[2019-10-16 17:41] tqchen commented on #4120
cc @llyfacebook @u99127 @ajtulloch please share some of your insights? I think we could get quite far with cpuinfo?

[2019-10-16 21:11] u99127 commented on #4120
@tqchen

The approach I've taken / seen taken is to test whether the hardware supports the "feature" or not with a run time test. That could well be an introspection route like probing some environment variables if clinfo or cuda provides that information or on cpu architectures this is the route that I've preferred.

/proc/cpuinfo is available only on linux, doesn't easily translate to other OS's

[2019-10-16 21:33] llyfacebook commented on #4120
Can we annotate the test with @unittest.skipIf decorator? The condition can be generated from cuda availability or cpuinfo.

[2019-10-17 04:34] MarisaKirisame opened #4139 "[Relay] Resolve cyclic dependency in Closure"
Right now relay leak memory for all of the executor (aot, interpreter, vm), for even the simplest program (id = fun x => x). They all happened to be caused by the exact same problem.
In Relay Implementation, a closure capture over all the free variables, holding a reference to all of them. However, it also hold a reference of itself (as long as it has a name, while ANF give everything a name). Thi

[2019-10-17 05:14] tqchen commented on #4139
I am not sure I get it, as for recursive call we are capturing Variable, as opposed to the its binding I think this problem worth a bit of more thoughts. Essentially it was the same problem in the global modules, in which case we resolve by global var. Do you think if it is possible to do the same thing, eg lamda lift then only capture global vars. You will need the module map to be able to run cl

[2019-10-17 05:16] tqchen commented on #4139
@MarisaKirisame given that it is an interesting design question, can you open an RFC discuss thread ?

[2019-10-17 07:40] ajtulloch commented on #4120
https://github.com/pytorch/cpuinfo is a good, minimal, cross-platform (Linux/Android/OS X/Windows/iOS) library that might be useful for this purpose.

[2019-10-17 14:39] MarisaKirisame commented on #4139
let's take this standard program, the factorial, for example.
let fact = \x -> if x == 0 then 1 else x * fact (x - 1)
The closure object of x contain the value of all free variable of fact - in that case, also a shared_ptr reference to the fact closure too!
I will open an RFC later.

[2019-10-17 18:36] ajtulloch commented on #2959
Oh awesome @topperc, thanks so much. How did you come across this issue?

[2019-10-17 18:45] topperc commented on #2959
I was asked to look at why -mcpu=cascadelake didn't generate the same code as -mcpu=skylake-avx512 when using tvm with llvm 8.0. After ruling out llvm I started poking around tvm and happened to see this avx512 issue in my search results. Coincidentally we had hit the same underlying llvm bug internally last week with a different frontend.

[2019-10-17 19:39] MarisaKirisame opened #4143 "[Relay][RFC] Resolve cyclic dependency in Closure"
see #4139 .
Currently, relay evaluate a function to a closure. It contain both the code of the function, and a mapping of every free variable inside that function, to the value of the free variable. when a closure is invoked, that mapping is used for the free variable. This is needed because the default approach, looking up the value from the environment (also known as dynamic binding), is buggy a

[2019-10-17 20:53] MarisaKirisame commented on #4143
I also think that we should employ a cycle detector in tvm - this method can only eliminate a certain class of cycle, but there will be more as relay program grow more complex. #3423

[2019-10-18 00:15] tqchen commented on #4139
consolidate to #4143

[2019-10-18 00:15] #4139 closed

[2019-10-18 14:04] CSLJXing opened #4148 "Destruct graph module after main() will cause segment fault"
minimal reproducible example:
[code]

[2019-10-18 14:47] Gentatsu opened #4149 "Batch normalisation requiring gamma (InceptionV3 Keras)"
I'm trying to load InceptionV3 via Keras and using relay to convert the model, I receive a `TypeError: batch_norm() missing 1 required positional argument: 'gamma'` error.

After looking through the keras layer a bit, it seems that scale is not set in the layer, and is being handled in the layer.

Could gamma be an optional param in underlying cpp function?

[2019-10-18 16:36] mbarrett97 opened #4150 "[RFC] [AutoTVM] Implementing an auto-tuning library/cache"
Auto-tuning currently relies on manually keeping track of various log files. This can quickly become quite unwieldy when tuning for many different devices, trying to do partial tuning or restarting a tuning session.

Proposals
------------

Create an offline library of auto-tune configurations into which you can feed auto-tuning logs and have the optimal configurations be saved. The library should

[2019-10-18 16:49] tqchen commented on #4086
should be resolved by https://github.com/dmlc/tvm/pull/4152 thanks for reporting the problem

[2019-10-18 16:49] #4086 closed

[2019-10-18 17:23] kevinthesun commented on #4150
Thank you for this proposal. This is helpful to manage local log files. One question about:
[code]
What is the relationship between config_library and autotvm dispatch context? It seems that this design replaces dispatch context with config_library. And how are different dispatch contexts are managed in this case?

[2019-10-18 18:30] tqchen commented on #4143
@MarisaKirisame I can understand the problem, but it would be great if you could give some examples about the solution so that everyone is on the same page

Ideally we want a simple enough solution that can remain stable for a while/

[2019-10-18 18:31] tqchen commented on #4149
please open a new thread on https://discuss.tvm.ai/

[2019-10-18 18:31] #4149 closed

[2019-10-18 18:37] MarisaKirisame commented on #4143
@tqchen it is fixed in #4155 , and it is a small change that is readable.
In case of mutual recursion, the `Closure clos;` line at 129 will be replaced with `tvm::Array<Closure> clos; size_t idx;`

[2019-10-18 18:37] tqchen commented on #4148
This is due to the destruction order of global singleton in runtime. A short answer would be avoid put graph module in a singleton in your code.

We could try refactor to make the runtime more robust to unloading behavior (by taking reference to the resource of the allocator), but that also depends on the dependent library(e.g. cuda) to have the same robustness, which atm they do not.

[2019-10-18 18:38] tqchen commented on #4148
For followup questions, please open a new thread on https://discuss.tvm.ai/

[2019-10-18 18:38] #4148 closed

[2019-10-18 18:40] tqchen commented on #4143
i can see the code, but still it would be great if you can add an example explaining the data structure, and how it could fix the problem :)

It would also be great to discuss if we need to specifically produce different types of closure in runtime and if we could canonicalize so we only need one runtime closure

[2019-10-18 18:56] MarisaKirisame commented on #4143
I am confused. Coming from a PL perspective, this is obvious. I am not bragging, but everyone have different perspective, and from my perspective I suffer from curse of knowledge.

We can only keep RecClosure and have its binding = nullptr for non recursive one.
However, it get more complicate at mutual recursion, so I want to have them seperate.

[2019-10-18 19:18] tqchen commented on #4143
Of course it is not a curse. It is gives you merit to educate others and makes these ideas more accessible :)

I certainly

[2019-10-18 21:56] comaniac commented on #4150
Thanks for the RFC. I like the idea of the config library concept. Some concerns/questions:

- Same to @kevinthesun, I'd prefer to keep the current AutoTVM dispatch context instead of introducing a new one. For example, we can just overload `apply_history_best` to take either a JSON file like now or a config library in this proposal.

- Current AutoTVM has a database module that stores tuned confi

[2019-10-19 01:45] were commented on #4105
I have a proposal to minimize the invasion in TVM and also fundamentally support TensorCore in TVM. This is in the middle of both methodology of #4052 and this RFC.
I suppose the current pain point of supporting TensorCore is the data structure provided by NVIDIA, which introduces non-standard buffer allocation.
I wrote a microbenchmark before to see the generated ptx assembly code, which turned o

[2019-10-19 03:41] MarisaKirisame commented on #4143
@tqchen it is possible to merge the two in one and use nullptr, however the design of mutual recursion will require each recclosure to keep both a vector of closure, and index (so it cannot be merged). Hence, I think they should be seprated.

It is indeed ugly, but the principled approach to dealing with this is to employ a cycle detector alongside the shared_ptr.

[2019-10-20 03:23] tqchen commented on #4116
https://github.com/dmlc/tvm/pull/4161

[2019-10-20 18:01] tqchen commented on #4120
@ajtulloch It seems to be a great util that we could add as 3rdparty dependency and expose some of the detection features to python tvm.testing.cpuinfo

[2019-10-20 21:07] tqchen opened #4162 "[VOTE] Add "Organizations contributing using and contributing to TVM" Section to Community Webpage"
It has been great to see community growth over the past few years. One thing that was bought up by several community members recently was should we show organization logos that use and contribute to TVM.

This is an RFC thread to see the thoughts from the community, and see if you would like your organization(including companies and universities) to be included. The proposal would be to add a sect

[2019-10-20 21:07] tqchen commented on #4162
Links to the discuss thread https://discuss.tvm.ai/t/community-show-logos-of-organizations-that-use-and-contribute-to-tvm/4316

[2019-10-20 22:43] yzhliu commented on #4162
+1 I think most orgs will be happy to show their logos in the webpage.

[2019-10-20 23:09] zhiics commented on #4162
+1

[2019-10-21 01:00] cchung100m commented on #4162
+1

[2019-10-21 01:12] wweic commented on #4162
+1

[2019-10-21 01:17] tonyforever07 commented on #4162
+1

On Mon, 21 Oct, 2019, 6:42 AM Wei Chen, <notifications@github.com> wrote:

[2019-10-21 01:19] antinucleon commented on #4162
+1

On Sun, Oct 20, 2019 at 18:18 Tony <notifications@github.com> wrote:

--
Bing Xu

[2019-10-21 02:02] yongwww commented on #4162
+1

[2019-10-21 02:27] Edwardmark opened #4165 "[FRONTEND] Operator BlockGrad is not supported in frontend MXNet."
I want to use mobilefacenet as a classification model instead of an embedding model, but when I run the compile script as follows, pay attention that the checkpoint is not trimmed after the embedding layer but kept the last fully-connetcted layer, I just want get the prob of which person one face belongs to .
[code]
the error messages is as follows:
OpNotImplemented: Operator BlockGrad is not supp

[2019-10-21 07:00] comaniac commented on #4162
+1

[2019-10-21 07:08] srkreddy1238 commented on #4162
+1

[2019-10-21 09:36] mbarrett97 commented on #4150
Thanks @kevinthesun and @comaniac for the responses!

I'm not intending to replace the existing dispatch context, only provide some syntactic sugar. We could just override the `__enter__` method of ConfigLibrary to do `apply_history_best`. I think it would be more intuitive than extracting the relevant .json file and passing explicitly.

Does it make sense to generalise here? As far as I can tell,

[2019-10-21 12:21] umangyadav commented on #4162
+1

[2019-10-21 12:44] vinx13 commented on #4162
+1

[2019-10-21 12:55] tvm-archiver commented on #4162
+1

[2019-10-21 14:26] JammyZhou commented on #4162
+1

[2019-10-21 16:01] icemelon9 commented on #4162
+1

[2019-10-21 16:04] tqchen opened #4167 "[TEST][FLAKY] test_topi_pooling. test_adaptive_pool"
http://ci.tvm.ai:8080/blue/rest/organizations/jenkins/pipelines/tvm/branches/PR-4166/runs/1/nodes/238/log/?start=0

[2019-10-21 16:05] tqchen commented on #4167
@kevinthesun can you look into that?

[2019-10-21 16:45] tqchen commented on #3339
ping @were

[2019-10-21 17:04] comaniac commented on #4150
Thanks for the reponses and I think they are valuable. I embedded my opinions with yours and leave the dispatch context for @kevinthesun.

Also cc @tqchen and @icemelon9 for their inputs.

I agree with you that TopHub is serving a different purpose if we consider trial number in the resume logic, but they can still share the same implementation and history format in the way I suggested. My concern

[2019-10-21 17:12] Laurawly commented on #4162
+1

[2019-10-21 17:13] tqchen commented on #4150
Thanks for the helpful discussion. Some of the common themes that I see

- Need for more meta data to inform the tuner, if possible
- The key question is whether meta data is mandatory or serve as an auxiliary component.
   -  e.g. we may not want the general features to must depend on the meta-data, while it is nice to have an option to start from trial n, but it would be great if the tuner can s

[2019-10-21 20:48] mbarrett97 commented on #4150
@comaniac I think I understand where our different approaches are coming from. I was proposing that only the optimal configurations be permanently saved to the config library (like with TopHub) and a temporary log file of tuning configs would be maintained only during a tuning job. Storing all of the tuning history would rapidly result in huge files which I think would be fine in the case of a dat

[2019-10-21 21:23] comaniac commented on #4150
@mbarrett97 I see your point. If the problem is narrowed down to "skip some tasks in a model when resuming the tuning that was accidently interrupted", then your proposal is a lightweight working solution. Maybe we can file another RFC focusing on a more general history reuse support.

Then talking back to your proposal, the current solution is using `config_library` in the `log_to_file` callback

[2019-10-21 23:48] jroesch commented on #4162
+1

[2019-10-22 00:25] DamonDeng commented on #4101
Downgrading TF to 1.13.1 can resolve the issue. In case anyone else encounter this problem too.

The attribute "half_pixel_centers" was added to TF in tensorflow/tensorflow@3ae2c66 , which the pb file used in the TVM tutorial is not aware of.

Agree with @ic that we should modify the tutorial to support TF 1.14 and TF 2.0

[2019-10-22 01:35] ic commented on #4101
By the way, the tutorial is fixed in the linked PR (#4104).

[2019-10-22 02:08] hlu1 commented on #4162
+1

[2019-10-22 16:18] mbarrett97 commented on #4150
@comaniac Having given this some thought, I think it's reasonable to support both approaches. I didn't want to include full logs because I was hoping to also be able to use config library to distribute tuned configs, however it should be fine to just 'export' a config library with only optimal configs.

In that case, I propose the following. Have each auto-tuning session create a new 'job'. This j

[2019-10-22 17:46] kevinthesun commented on #4150
For local log file management, how about we store the best K schedules for each workload? User can choose how many schedules they would like to keep.

[2019-10-22 18:38] comaniac commented on #4150
Got your point, altough I think you can always pick the best config before distribution like the current AutoTVM use case. Current AutoTVM log all configs to a JSON file, and if a user only wants to keep the best one, she uses `autotvm.record.pick_best` to generate another small JSON that only contains the best config for each layer (task).

If I undertand correctly, you are going to add tuning pr

[2019-10-22 20:40] u99127 commented on #4120
@ajtulloch and @tqchen That certainly looks interesting as a project to poke into and looks like it is quite cross platform.

I will need to peek more into the guts of the implementation especially around architectural features on Arm and AArch64 as I note that cpuid based feature detection is still a todo and that for me is the better way of detecting that on those platforms compared to parsing /

[2019-10-22 20:48] tqchen commented on #4120
If we put it as a submodule, the version should be pinned by the hashtag of the submodule. We just need to make sure to have an optional flag that build around it.

[2019-10-22 21:01] u99127 commented on #4120
Since we use this as part of testsuite cpu feature probing mechanism, I think the version potentially needs pinning for the following reason.

Developer runs the test on day X for a given SHA in tvm repository - it passes
Developer runs the test on day Y for the same SHA as on day X in tvm repository - it runs the test but with different test infrastructure  ?

regards
Ramana

[2019-10-22 21:42] wweic opened #4178 "[RFC][VM] Heterogeneous execution in Relay VM"
# Heterogeneous execution in Relay VM

## Goal

Relay graph runtime supports executing different parts of the graph in various devices, namely heterogeneous execution. We’d like to port the feature to Relay VM.

## Non-goals

There is a limitation of device annotation pass that it assumes all the computation happens inside a single function, so it’s not able to compute the device assignment of mul

[2019-10-22 23:13] tqchen commented on #4120
To be clear, hashtags of submodules are pinned, so that is what you asked for @u99127

[2019-10-23 03:28] kevinthesun commented on #4167
@tqchen I can reproduce this issue locally and will try to fix.

[2019-10-23 05:59] Edwardmark opened #4180 "any inference demo for retinaface?"
I can use tvm to convert the retinaface model so I can make the forward pass faster, but how to speed up or auto-tune the post process calculation like bbox_pred or landmark_pred? Please help me out. Thanks.

[2019-10-23 12:06] CoinCheung opened #4183 "Cannot compile model in the model zoo"
my mxnet version is: mxnet_cu100-1.6.0b20191010-py2.py3-none-manylinux1_x86_64.whl,
tvm version is: a7404230695bf774be26a2 from github.

Code is like this:
[code]
And I got the error of:

/miniconda/envs/py36/lib/python3.6/site-packages/mxnet/gluon/block.py:1191: UserWarning: Cannot decide type for the following arguments. Consider providing them as input:
	data: None
  input_sym_arg_type = in_par

[2019-10-23 18:02] tqchen commented on #3301
fixed by https://github.com/dmlc/tvm/pull/4147

[2019-10-23 18:02] #3301 closed

[2019-10-23 21:11] tqchen commented on #4183
Thanks for reporting the problem, the community uses https://discuss.tvm.ai/ for trouble shooting, please open a new thread there.

[2019-10-23 21:11] #4183 closed

[2019-10-23 21:11] tqchen commented on #4180
Thanks for reporting the problem, the community uses https://discuss.tvm.ai/ for trouble shooting, please open a new thread there.

[2019-10-23 21:11] #4180 closed

[2019-10-23 23:45] soiferj commented on #4118
Thanks a lot for working on this, this is going to be really impactful, especially toward supporting NLP models. I have a couple of questions:

1. Can you please explain the shape function in a little more detail? What exactly is its purpose? Will it have to be registered for every op?
2. Some ops, like `full` take their shape argument as a constant list. With this change, we could potentially sup

[2019-10-24 00:15] comaniac opened #4188 "[RFC][AutoTVM] Selective Tuning"
Overview
---------
When a user wants to use AutoTVM to tune a model, she often lets AutoTVM tune every task extracted from the model sequentially. Assuming each task requires 1 hour or so, tuning a model with 10 to 100+ tasks requires days. This RFC proposes a lightweight solution to reduce tuning time for a model but still achieve a decent model performance.

We achieve this goal by proposing a s

[2019-10-24 02:49] tqchen commented on #4118
Thanks for the proposal. One high level comment: ideally we want to keep the module API minimum, and move transformation-like operations to the transform namespace :)

[2019-10-24 03:28] srkreddy1238 commented on #4102
How about the backward compatibility to 1.12 or 1.14 while upgrading to 2.0 ?

One easy solution is to use TF upgrade script and convert to 2.0 and use it, but it may not be more native to 2.0 features.

- Do we drop old version and go to 2.0 ?
- Maintain both
        1. Move old frontend to compatibility (relay.frontend.compatibility.from_tensorflow)? What would be CI default version ? Validating

[2019-10-24 03:40] tqchen commented on #4116
# Node System Refactor Proposal

This proposal is part of the unified object protocol RFC. The node refers to the base object structure for constructing AST/IR nodes as well as utilities manipulating them in the TVM stack.

Historically, the node folder contains a implementation of a smart pointer(NodePtr), a base object(Node) and a base reference type(NodeRef). On top of these data structures, we

[2019-10-24 03:45] icemelon9 commented on #4118
@soiferj
1. Shape function is used to compute the output shape(s) of an op at runtime, which cannot be determined at compilation time. And yes, fow now, we have to register the shape function for all ops to support dynamic shape.
2. We could do this. But we need to change the attribute of `full` op to let it take non-constant shapes.

[2019-10-24 04:45] optima2005 opened #4190 "[Documentation] example code piece in comment of tvm.build_module.build() not working"
The comment under tvm.build_module.build() gives the following example code piece:
[code]
But it reports the below error when running them,
[code]
It seems they should be modified as following to work:
[code]

[2019-10-24 04:51] tqchen commented on #4190
good catch, can you send a PR to fix the problem?

[2019-10-24 04:58] optima2005 commented on #4190
ok

[2019-10-24 05:00] wweic opened #4193 "[Relay][VM] Handle recursion to avoid memory leak"
The problem is described in https://github.com/dmlc/tvm/issues/4143.

The fix for interpreter is https://github.com/dmlc/tvm/pull/4155. We need to handle let recursion in VMCompiler and vm to avoid memory leak.

[2019-10-24 05:14] jroesch commented on #4178
I think if we look at my recent PR we need to probably track the device context when we allocate storage. The storage's context will prevent merging different pieces of storage.

[2019-10-24 06:02] kevinthesun commented on #4118
@soiferj For ```full``` op, we can change the input shape argument to be relay.Expr. We use hybrid script to register shape functions, since most of them are not easy to be written as tensor expression. We only add CPU version shape functions, and relay on Heterogeneous execution for gpu.

[2019-10-24 06:03] kevinthesun commented on #4118
@tqchen Sure. Dispatch function doesn't need to couple with relay::Module.

[2019-10-24 06:46] wweic commented on #4178
@jroesch thanks. I have put references to the PR in the RFC.

[2019-10-24 14:08] suhasgs007 commented on #4190
It must be the miss-match of the Cuda used while compiling the TVM. For example, while compiling the TVM used different version and now your using different version of CUDA.

[2019-10-24 15:30] JiaoPaner commented on #3192
Can you create a repository for this firstly ? I want to learn how to build a android app via tvm in detail ,the official docs is so confused for android.Thanks.

[2019-10-24 16:49] icemelon9 commented on #4150
@mbarrett97 I wonder why not just using the transfer learning in the AutoTVM. After using transfer learning, AutoTVM will skip the tasks that have been tried before. See the example at
https://docs.tvm.ai/tutorials/autotvm/tune_relay_arm.html#begin-tuning

[2019-10-24 16:57] #4190 closed

[2019-10-24 17:33] yongwww commented on #4102
IMHO, both 1.x and 2.0 should be maintained for a while, most of the working tf models were built on top of 1.x. Another option is to maintain the same from_tensorflow for both 1.x and 2.0, it is possible to maintain it for both since savedmodel is the universal format, not sure how much work is needed. For TVM CI, maybe we can build different container for this kind of backward compatability test

[2019-10-24 19:15] kevinthesun commented on #4167
Close it for now. Fell free to reopen if this issue pops up again.

[2019-10-24 19:15] #4167 closed

[2019-10-24 22:06] zxy844288792 commented on #4178
I'm interested in this. @wweic I'll talk to you for advice.

[2019-10-25 01:19] xqdan commented on #4162
+1

[2019-10-25 01:38] ic commented on #4102
Google seems to push for using TF2.x, perhaps to "catch up" on popularity against PyTorch and the like on developer happiness? Still I support @yongwww's point: Existing work outside Google is on TF 1.x (and 0.x :-)), and they will linger for some time. So this PR, and the sub-PR about fixing the tutorial target full backward compatibility, using the `tf.compat.v1` APIs for now. Having said and do

[2019-10-25 04:29] srkreddy1238 commented on #4102
Thanks for the comments @yongwww  & @ic

As @yongwww said, front end implementation may not get affected much as the savedmodel is universal except the operator specific API changes in 2.0. TF 2.0 has major modification in terms of  the way we build the graph and execute (session, eager execution, tf.function ..etc.). Test cases will demand more effort here.

I would suggest dual compatibility by

[2019-10-25 06:12] kevinthesun commented on #4188
Thanks for this proposal! For Yolo and ssd, does the performance advantage mainly come from larger tuning space? If so, I suggest we also do full auto-tuning with expanded tuning space, so that we have an apple to apple comparison, and a more clear picture about tuning time vs performance trade-off. Also it would be interesting to see how this method can be used to select representative schedules

[2019-10-25 06:28] comaniac commented on #4188
The leftmost two columns in the table are the total tuning time of 2,000 trials each op and the final inference latency, respectively. With XGBoost tuner, I suppose the result after 2,000 trials is sufficient to illustrate the usability of selective tuning. Comparing to the full auto-tuning result could definitely be interesting, but it is time-consuming since the tuning space is the order of 10^5

[2019-10-25 09:35] koolkoffee opened #4200 "Rename from input to output index."
https://github.com/dmlc/tvm/blob/493c98d3020fefa9f6dd3c291a9eca674838d520/python/tvm/contrib/graph_runtime.py#L203

[2019-10-25 13:06] Flova opened #4201 "Segfault while building YOLO on Jetson TX2"
Hey,
I tried to compile a tiny yolov3 for execution on an NVidia Jetson TX2 using CUDA.
The TVM instance is compiled for CUDA and LLVM.
The conversion of the yolo model runs without problems, but when I try to build the model on the Jetson I get the following error:
[code]
The compilation is done using the following code. The rest of the code bases on the yolo TVM tutorial.
[code]

[2019-10-25 13:14] tqchen commented on #4201
Thanks for reporting the problem, the community uses the discuss forum for troubleshooting please open a new troubleshooting thread on https://discuss.tvm.ai

[2019-10-25 13:14] #4201 closed

[2019-10-25 13:14] tqchen commented on #4200
Good catch, please feel free to open a new PR

[2019-10-25 13:52] tqchen commented on #4188
Thanks for the proposal. I think overall this can be categorized into schedule of the tasks. Also vc @eqy Would be nice if we can come up with abstractions for a generic task schedule strategy, then add it as a modular plugin.

The networkx dependency is something that worth discussing. Ideally we want to minimize dependencies of the core autotvm package.

[2019-10-25 14:33] OriAlpha commented on #4101
you can just go into the tensorflow graph and pop ou the attributes which create the errors. for example half_pixel_centers and then it works fine, I have faced these errors too

[2019-10-25 14:55] OriAlpha commented on #3428
you can just get the graph of the TensorFlow and then pop the arguments inside the graph and then you can feed the graph and to the TVM. this will work.  also, you can add the adding ignores=['explicit_paddings'] to the main function but it gives rise to other errors further...

[2019-10-25 15:18] OriAlpha opened #4202 "errors while Compiling the TVM from source"
I am trying to build the TVM from source but it overs below issues and not able to build the TVM on my machine.

Steps done are
i have cloned the package of TVM, did the build and modified the cmake file,
When i give make -j4 following errors

error: ‘floor’ is not a member of ‘std’
return FloatImm::make(rtype, std::floor(fa->value / fb->value));

[2019-10-25 15:24] koolkoffee opened #4203 "Support parameter "out" in the graph runtime debug"
https://github.com/dmlc/tvm/blob/1ad6a2af672dbb94861d00985f4b9f8280d04d6e/python/tvm/contrib/debugger/debug_runtime.py#L200

[2019-10-25 16:54] comaniac commented on #4188
@tqchen Thanks for the comments and you're right. One important message behind this investigation is a schedule should be shared across ops with differernt attributes.

For the networkx dependency, I have the same concern as well. I used it to build a graph and find maximum cliques in the graph. Unfortunately, I didn't find any existing TVM dependency can achieve the desire functionality. On the o

[2019-10-25 17:56] Huyuwei commented on #4162
+1

[2019-10-25 20:21] tqchen commented on #4188
If we make the code modular enough via high level scheduling(planning api), the networkx dep could be an optional once for those who want to use the component, which might help alleviate the issue

[2019-10-26 00:45] tqchen commented on #3428
Thanks for all the great discussions, as the original problem is resolved. I am going to close this, future discussions are encouraged in https://discuss.tvm.ai/

[2019-10-26 00:45] #3428 closed

[2019-10-26 01:57] KimBioInfoStudio commented on #4202
pls make sure u r follow https://docs.tvm.ai/install/from_source.html

[2019-10-26 12:35] OriAlpha commented on #4202
I have followed the same instructions

I have followed the same instructions

[2019-10-26 12:43] #4202 closed

[2019-10-28 03:47] xqdan commented on #2623
When will we have 0.6 release ? thanks

[2019-10-28 14:06] mbarrett97 commented on #4150
@icemelon9 This suggestion is more about infrastructure so that we're not required to keep track of individual log files and how they were produced. We need this to decide whether or not we can skip a task based on existing results.

@comaniac @kevinthesun I've updated the PR to include more concretely the ideas being discussed. I think an auto-tuning 'job' is distinct from a task as I am using it

[2019-10-28 15:08] tqchen opened #4210 "[TEST][FLAKY] topi/tests/python/test_topi_math.py round"
http://ci.tvm.ai:8080/blue/rest/organizations/jenkins/pipelines/tvm/branches/master/runs/117/nodes/238/log/?start=0

[2019-10-28 15:09] tqchen commented on #4210
could due to different treatment on boundary values(0.5?)

[2019-10-28 15:18] tqchen commented on #4210
https://github.com/dmlc/tvm/issues/4210

[2019-10-28 15:30] tqchen opened #4212 "[RFC][DEV] TVM Project Repo Migration"
Dear Community, as part of of apache incubation process, we will need to migrate our repo to Apache. In order to ensure smooth transition, we have been checking with the committers to set up things correctly, as well as necessary options needed for CI setup. We have done most of that. This is an RFC for migrating the repo. This repo will be transferred to a new location```apache/incubator-tvm```

[2019-10-28 18:25] yzhliu commented on #4212
I guess we will also need to change namespace `ml.dmlc.tvm` to `org.apache.tvm` in tvm4j

[2019-10-28 18:58] tqchen commented on #4188
yah, if that is the case, i think we should be fine for now. Let us focus the discussion on the high level API design of the order schedule(planning) API so that it works for other generic strategies.

[2019-10-28 19:02] tqchen commented on #4162
Thanks everyone who voted. The vote has passed. I will proceed to open the section on the website.  Contributors, feel free to send PR to add logo of your org.

[2019-10-28 19:02] #4162 closed

[2019-10-28 19:33] tqchen commented on #4162
Please followup in https://discuss.tvm.ai/t/community-show-logos-of-organizations-that-use-and-contribute-to-tvm/4316/5

[2019-10-29 03:24] yurivict commented on #4063
Both  https://github.com/dmlc/dmlc-core and https://github.com/dmlc/dlpack don't have any submodules.

Where is ```tvm/node/node.h``` supposed to come from?

[2019-10-29 04:37] comaniac commented on #4150
Some comments after reading the example and the current PR.

* The APIs are still confusing to me. I agree with the `job` part but not others.
`config_library` still doesn't look like a "library". It's more like a job manager according to your proposal. The use case `config_library.tune()` is also weird, because we already use `tuner.tune` for each task. In my personal opinion, something like `job

[2019-10-29 04:50] tqchen commented on #4063
For 0.5 the tvm/node/node comes from 3rdparty/HalideIR submodule

[2019-10-29 06:42] snowolfhawk commented on #1496
why don't merge this PR? The C++ RPC is very useful in many embeded device.

[2019-10-29 19:56] #4052 closed

[2019-10-29 21:10] tqchen commented on #4102
It seems that we have reached consensus for dual compatibility for now. In terms of implementation details, TF2 diverges too much, we can also create a separate code path and do switch at the highest level

[2019-10-30 01:13] apivovarov opened #4215 "tvm/relay/grammar/py3 module is missing after the installation"
I built TVM with LLVM and ANTLR and installed tvm using
[code]
Ubuntu 19.10 , Python 3.7

tvm is installed to `/usr/local/lib/python3.7/dist-packages/tvm-0.6.dev0-py3.7-linux-x86_64.egg/tvm`

But I do not see `tvm/relay/grammar/py3` folder after the installation. I only see `__init__.py` under `tvm/relay/grammar`

The following py files are not installed
https://github.com/dmlc/tvm/tree/master/pyt

[2019-10-30 01:40] KimBioInfoStudio commented on #4215
also find  that because  this pr https://github.com/dmlc/tvm/pull/4176
in cmake/util/FindANTLR.cmake,
[code]
cmake will  ignore the  "space"

[2019-10-30 03:11] 8600862 opened #4217 "packed_func.h:1072:5: error. Need help !!!"
I build for arm64-v8a, get the a error. Can someone help me, Thanks!
In file included from /home/ubuntu/Downloads/code/Face3D-tvm/qhFaceApi/src/main/jni/testmodel/../testmodel/tvm/tvm/runtime/module.h:194:
/home/ubuntu/Downloads/code/Face3D-tvm/qhFaceApi/src/main/jni/testmodel/../testmodel/tvm/tvm/runtime/packed_func.h:1072:5: error: no matching function for call to object of type 'const tvm::runt

[2019-10-30 04:10] #4217 closed

[2019-10-30 06:57] comaniac commented on #4188
All tasks are done with a tutorial.
@tqchen @kevinthesun @eqy @icemelon9, please review the PR and we can discuss if you have any suggestions to the API or designs.

Thanks.

[2019-10-30 09:33] OriAlpha commented on #4215
This is the issue with the latest build of TVM, Now we can't even use the TVM packages of python.

[2019-10-30 16:51] tqchen commented on #4188
Thanks @comaniac.

It would be great if people can discuss a bit more in terms of API choices. I think we achieved the proposed goals.

Specifically, here are some "complains" I have by quickly looking into the API:

- select.py was a bit confusing(it reminds me of select API of socket networking, but it is not?)
   - It is more like a annotation API that annotates the tasks, can we treat it as a

[2019-10-30 18:17] #4215 closed

[2019-10-30 18:29] kevinthesun commented on #4188
Also by further discussing with @comaniac, we thought that it's worth a bit further dig into the reason why full tuning for ssd and yolo only achieve 60% -70% performance of selective tuning. Maybe increase the number of trials of full tuning can give us a more clear picture.

[2019-10-30 19:06] tqchen commented on #4200
ping @koolkoffee would love to send a PR to fix the problem :)

[2019-10-30 19:07] tqchen commented on #4087
can we conclude, act on it and close this PR?

[2019-10-30 19:37] t-vi commented on #4087
Yes, so
- it appears that LLVM 8 itself crashes when processing bitcode,
- we want the bitcode,
- as a result, I have it on my todo to refuse to build with LLVM 8.

Would you prefer a check in the C++ code near where the crashing happens or one in CMake?

[2019-10-30 20:23] tqchen commented on #4087
Let us do the runtime checks (c++)

[2019-10-30 21:50] wweic opened #4225 "[Relay] Copy prelude.rly when install tvm"
Right now `prelude.rly` is not copied to the right place when run `python setup.py install`. So it will crash TF frontend convert.

[2019-10-30 21:55] apivovarov opened #4226 "tvm/relay/std/prelude.rly is missing after TVM installation"
`prelude.rly` is missing after TVM installation using `setup.py`:
[code]

[2019-10-30 22:03] apivovarov commented on #4215
Related issue https://github.com/dmlc/tvm/issues/4226
`tvm/relay/std/prelude.rly` is missing

[2019-10-30 22:04] apivovarov commented on #4226
dup of https://github.com/dmlc/tvm/issues/4225

[2019-10-30 22:34] tqchen commented on #4225
This might need special treatment as rly suffix is not part of py, and needs to setup copy in the setup.py

[2019-10-30 22:35] #4226 closed

[2019-10-30 22:35] tqchen commented on #4226
Move to #4225

[2019-10-30 22:54] #4225 closed

[2019-10-31 03:52] JoshNoel opened #4232 "Windows build fails due to standalone micro runtime"
Attempting to build on Windows fails with config.cmake options [set(USE_CUDA ON), set(USE_LLVM ON)]. The build process followed instructions @ https://docs.tvm.ai/install/from_source.html

By default the micro runtime is built, however this fails due to incompatibility with Windows.
For example, see unix-specific library export macro definitions:
- "TVM_MICRO_RUNTIME_API_API" - include/tvm/runtime

[2019-10-31 05:11] tqchen commented on #4232
Given that the micro runtime is only works under unix, perhaps it makes sense to disable ti by default, but explicitly enable it in ci, cc @ajtulloch

[2019-10-31 09:39] xqdan commented on #4212
Are we going to release 0.6 in new repo? @tqchen

[2019-10-31 10:56] minminsun commented on #4105
Sorry for the late reply. We were occupied by refactoring our implemention to combine with #4052.
Generating PTX or even SASS assembly is an intersting topic. We may have some investigations and disscussions on this later. As to the TensorCore CodeGen, I think the data structure is not the only pain point. The root is in the programming model of tensorcore, in which the threads inside a warp are n

[2019-10-31 11:03] minminsun commented on #4105
Opened PR #4234 for the re-implementation of our solution based on tensor intrinsic. Many thanks to @Hzfengsy for his valuable suggestions and close collaboration with us on this.

[2019-10-31 13:58] koolkoffee commented on #4200
okay will do.

[2019-10-31 16:16] #4200 closed

[2019-10-31 17:57] tqchen commented on #4232
https://github.com/dmlc/tvm/pull/4240

[2019-10-31 18:13] #4232 closed

[2019-11-01 06:19] xqdan commented on #4212
@tqchen Thanks. Both ok for us, as long as we can get a release in one or two month, is that possible?

[2019-11-01 10:07] autumnqin commented on #1331
The SocketFileDescriptorGetter interface is removed in latest version, but the android_rpc has not update yet.

[2019-11-01 14:52] yzhliu commented on #1331
@autumnqin Thanks for reminding

[2019-11-01 16:15] tqchen commented on #4212
We will do our best to do the release in one to two month :)

[2019-11-01 16:16] tqchen commented on #4212
NOTE: the repo transfer is scheduled to happen at 9:30am PDT Nov 4th(monday)

[2019-11-01 23:28] #4116 closed

[2019-11-02 00:40] comaniac commented on #4188
While I am testing if tuning more trials could make the result more intuitive, I would like to first ask for the feedbacks about the naming. Here are my thoughts based on Tianqi's comments.

- select.py -> pass.py
As suggested, this module is more like a pass over a set of tasks, so we can treat it as a pass. I can implement it as a pass table so that we can add other passes in the future.

- Sele

[2019-11-02 14:00] yzhliu commented on #2623
# TVM Monthly - October 2019
https://discuss.tvm.ai/t/tvm-monthly-oct-2019/4587

[2019-11-02 15:54] jayle19930918 commented on #3747
@ritesh2212  Hello, I have the same roblem, have you solved it?

[2019-11-02 20:09] OriAlpha opened #4248 "About operators are not implemented"
Hi guys,
I am trying convert TensorFlow model to TVM version but have facing following issues
ERRORS:
The following operators are not implemented: {'RandomUniform'}

Can anyone tell me what is this issue

[2019-11-04 07:20] FrozenGene commented on #4212
Does it affect developers? Especially the pull request in progress. Because the git remote url is changed.

[2019-11-04 17:48] comaniac commented on #4188
@kevinthesun
Your assumption was correct. After increasing the trial number, the selective tuning achieves 61% (ResNet 50), 75% (YOLO3), and 67% (SSD) to the all tuning version. This also a good motivation to the search algorithm improvement, but we can open another RFC for it. For now, I think we could focus on finishing the selective tuning. Thanks.

[2019-11-04 18:58] tqchen commented on #4212
The repo has been migrated. All the PR has been preserved and original repo url will still work. We are working to recover the CIs to make sure we get all the original infra

[2019-11-04 18:58] #4212 closed

[2019-11-04 19:14] yzhliu commented on #4188
Can user specify the similarity distance function?

would it be better to call it "share" rather than "ref", as "ref" reminds me of "reference" in programming language.

[2019-11-04 19:18] yzhliu commented on #4248
currently we don't have random op support at relay level.

[2019-11-04 19:46] comaniac commented on #4188
Thanks for the comments! Please see my responses and let me know what you think.

* In the current proposal, user can manually specify the depdendency by `task.depend = rep_task`, and the user can implement any function to do so. On the other hand, we can also make it as a callback function like `autotvm.task.mark_depend(tasks, user_callback)`, but it raises concerns about the user callback functi

[2019-11-04 21:22] petrex commented on #4087
@t-vi are you planning to upstream the change? thx

[2019-11-04 21:30] t-vi commented on #4087
Yes, sorry, I've been travelling but should be submitting the PR this week.

[2019-11-04 21:57] tqchen commented on #4248
consolidate to https://github.com/apache/incubator-tvm/issues/2591 would also be great if we can open new threads in the discuss forum

[2019-11-04 21:57] #4248 closed

[2019-11-05 02:26] KimBioInfoStudio commented on #4248
this op can easily add with using numpy, but  we  want more tvmic op

[2019-11-05 08:12] t-vi commented on #4087
So initially I thought to make this a compile time check (using `#error`), but it seems that the `codegen_amdgpu.c` is compiled in even when `USE_ROCM=OFF`.
So I'll be making it really a runtime check as @tqchen suggested.

[2019-11-05 10:25] #4087 closed

[2019-11-05 14:50] CoinCheung opened #4255 "Feature request of pytorch interpolation and pixelshuffle operator"
Hi,

I can export pytorch operator of `torch.nn.functional.interpolate` and `torch.nn.PixelShuffle` to onnx(opset11). I guess the onnx name of one of them is `Resize` and the other is `DepthtoSpace`. Current I find that tvm does not support the exported onnx operator of them, so I feel maybe it is not bad to open an issue to draw the attention of the community, since these are not so widely used a

[2019-11-05 18:36] kevinthesun commented on #4188
@comaniac Thank you for these data. Can you update in the main thread?

[2019-11-05 19:12] comaniac commented on #4188
Updated.

[2019-11-05 19:18] apivovarov opened #4256 "Install from Source doc still says to clone dmlc/tvm"
tvm moved to https://github.com/apache/incubator-tvm

Install from Source doc still says to clone dmlc/tvm https://docs.tvm.ai/install/from_source.html#build-the-shared-library

[2019-11-05 19:26] yongwww commented on #4256
besides this, we can see this issue (`github.com/dmlc/tvm`) in tons of other files. @tqchen

[2019-11-05 20:30] tqchen commented on #4256
Should be fixed by https://github.com/apache/incubator-tvm/pull/4257

[2019-11-05 21:55] tqchen opened #4259 "[RELEASE][DRAFT] TVM v0.6 Release candidate"
Dear Community, thanks to everyone's effort in the past few months. This is a proposal to do a v0.6 release.

This release will be managed by the TVM PMC, with @yzhliu and myself as moderators. In the next few days we will be populating the release note in this thread.  Most release note content will be derived from our [monthly report](https://discuss.tvm.ai/search?q=tvm%20monthly)

We also encou

[2019-11-06 00:03] #4256 closed

[2019-11-06 01:48] optima2005 commented on #4165
Hi, @Edwardmark,
I found the Operator BlockGrad has been implemented in current mxnet frontend. It is just be skipped in inferrence process.
But the 'from_mxnet' calling seems not correct in above python codes. By refering to the [tutorial](https://github.com/apache/incubator-tvm/blob/master/tutorials/frontend/from_mxnet.py), the following codes work in my environment, fyi.
[code]

[2019-11-06 02:21] CoinCheung opened #4261 "DepthWise Transposed Conv error"
A short version of my code is:
[code]

There seems to be two problems:
1) when the target is `cuda`, there will be core dump error. When the target is `llvm`, there will not be problems until "inference".
2) If I set the `groups` of the `nn.ConvTranspose2d` to be 1, there will be no problem(llvm target). However, when I set `groups=in_chan`, which means "depthwise-conv-transpose2d", there will be

[2019-11-06 02:29] tqchen commented on #4261
Thanks for reporting the problem, it would be great if you can open a new trouble shooting thread on https://discuss.tvm.ai/ where the community can jump in and help :)

[2019-11-06 02:29] #4261 closed

[2019-11-06 07:20] FinnWeng opened #4262 "[RELAY][Bug] 'name_hint' AttributeError issue when covert tensorflow to TVM"
This issue happens when converting `tf.tile` and `tf.transpose` with `relay.frontend.from_tensorflow`

My environment is:
    develop: python3.6, tensorflow1.14
    convert to TVM: container of tvmai/demo-gpu

Here's the error log for converting code which contains `tf.transpose`:

[code]

thanks!

[2019-11-06 07:39] yongwww commented on #4262
We saw the issue these days. @kevinthesun has a fix locally for the similar issue.

[2019-11-06 07:47] FinnWeng commented on #4262
Great!
Thanks for the prompt response. May I ask when will the fixed-version been released?

[2019-11-06 08:03] FinnWeng opened #4263 "[FRONTEND][Tensorflow] conv2d_transpose op of Tensorflow"
Hi,

The operation of `tf.nn.conv2d_transpose` in tensorflow, which is related to `Conv2DBackpropinput`, is not in list of `_convert_map` in `python/tvm/relay/frontend/tensorflow.py`.

I find other frameworks such as mxnet got this function. It would be great if we have it in TVM Tensorflow support.

Thanks!

[2019-11-06 08:35] FinnWeng opened #4265 "[FRONTEND][TF][Bug] output type assignment not work for tf.range()"
This issue happens when converting code with `tf.range()`.

My environment is:
develop: python3.6, tensorflow1.14
convert to TVM: container of tvmai/demo-gpu

The code of issue is
[code]

the error log is:
[code]

And I take detour to avoid this issue by:
[code]
It seems fine with code above. So I guess the issue is about type assignment in tf.range.

Thanks!

[2019-11-06 13:25] OriAlpha opened #4266 "An internal invariant was violated while typechecking your program"
I am trying to port a small lstm network to TVM version when I try to convert i see following errors.

In main:
v0.0.4
fn (%lstm_1_input: Tensor[(28, 28), float32]) {
%0 = zeros_like(%lstm_1_input);
sum(%0, axis=[1, 2]) an internal invariant was violated while typechecking your program [14:22:43] /home/Documents/tvm/src/relay/op/tensor/reduce.cc:66: Check failed: axis < indim: Axis out of bounds i

[2019-11-06 13:30] OriAlpha commented on #4248
Thanks for Replaying

[2019-11-06 13:39] #4266 closed

[2019-11-06 17:32] yzhliu commented on #4259
We will mainly refer to [Apache MXNet release note](https://github.com/apache/incubator-mxnet/releases). I'll create a draft today and tomorrow, everyone is welcomed to comment if anything should be included is missing.

[2019-11-06 23:16] tweej commented on #1419
What was the resolution to this problem? Moving to discuss.tvm.ai screws everyone who follows on similar issues.

[2019-11-07 03:42] Edwardmark commented on #4188
@comaniac Hi, the time cost for detection networks, did you include the nms post-processing steps? And how you implemented nms?Using other frameworks or using tvm tensor operations?
Thank you very much for your great work.
Best,
Edward

[2019-11-07 03:46] comaniac commented on #4188
The tuning time posted here is the total time of tuning each task. In AutoTVM, one task means one op. Since we don't have a tunable template for NMS yet, the tuning time should include it.
For the network, I directly get the definition from [the Gluon CV model zoo](https://gluon-cv.mxnet.io/model_zoo/index.html).

[2019-11-07 18:51] tmoreau89 opened #4272 "[VTA] Tutorial on how to deploy and execute model on device without RPC"
This is a follow up to forum post: https://discuss.tvm.ai/t/solved-pynq-vta-run-model-locally-on-pynq-z1-instead-of-via-rpc/4336/11

The idea is to complement the existing VTA tutorials to having one that shows how to run a model directly on the device without relying on RPC.

Assigning to @flip1995

[2019-11-07 22:08] #3339 closed

[2019-11-08 03:55] DamonDeng opened #4279 "Creating tvm.target twice will create empty params"
Calling `target = tvm.target.create('llvm')` twice will create empty params.

The following is the code snippet I used, which was copied from the quick start tutorial: <https://docs.tvm.ai/tutorials/relay_quick_start.html>

	opt_level = 3
	target = tvm.target.create('llvm')
	with relay.build_config(opt_level=opt_level):
	    graph, lib, params = relay.build_module.build(
	        mod, target, para

[2019-11-08 04:29] tqchen commented on #4279
Thanks for reporting this, please open a new troubleshooting thread on https://discuss.tvm.ai/