[2020-12-30 21:55] #7178 closed

[2020-12-30 21:56] junrushao1994 commented on #7176
Thanks for your interests in TVM. Please create a thread at the discuss forum (https://discuss.tvm.apache.org/) since it is not a bug. Thanks!

[2020-12-30 21:56] #7176 closed

[2020-12-30 21:57] junrushao1994 commented on #7155
Closed via #7175

[2020-12-30 21:57] #7155 closed

[2020-12-31 01:28] junrushao1994 commented on #6990
Thanks for your interests in TVM. Please create a thread at the discuss forum (https://discuss.tvm.apache.org/) and ask general usability issues. Thanks!

[2020-12-31 01:28] #6990 closed

[2020-12-31 01:28] junrushao1994 commented on #7079
Thanks for your interests in TVM. Please create a thread at the discuss forum (https://discuss.tvm.apache.org/) and ask general usability issues. Thanks!

[2020-12-31 01:28] #7079 closed

[2020-12-31 01:31] junrushao1994 commented on #7008
If there is no actionable item, I suggest we merge this particular issue to relay improvements, and close this thread.

[2020-12-31 01:33] junrushao1994 commented on #6721
Hey Xingjian, thanks for bringing this up! It is certainly more than welcome for future contribution. Shall we put up a list of MXNet operators to be supported and consolidate them into a single thread instead? If there is no actionable item, shall we close this issue? Thanks!

[2020-12-31 01:35] sxjscience commented on #6721
I think we can create a thread about that. Do you think that we should create a new one?

[2020-12-31 02:06] junrushao1994 commented on #6817
Closed via #6862. Please feel free to reopen if the bug still exists. Thanks!

[2020-12-31 02:06] #6817 closed

[2020-12-31 02:10] junrushao1994 commented on #6721
Yeah we can have a consolidated "[Frontend][MXNet] Importer Missing Operators" thread and mark it as "help wanted". What do you think?

[2020-12-31 02:46] sxjscience commented on #6721
Sounds good to me. Should I change the title of this issue so we may reuse that? (Or create a new one?)

[2020-12-31 02:48] junrushao1994 commented on #6721
What about creating a new one, categorizing operators like #1799 does

[2020-12-31 03:17] sxjscience opened #7186 "[Frontend][MXNet] Importer Missing Operators"
# Feature Request

Recently, TVM has supported the incoming MXNet 2.0 frontend via a series of PRs: https://github.com/apache/incubator-tvm/pull/6054, https://github.com/apache/incubator-tvm/pull/6699. This enables the new GluonNLP 1.0, which has been upgraded from MXNet 1.x to MXNet 2.0 to convert to TVM graph (as added in https://github.com/dmlc/gluon-nlp/pull/1390).

However, not all operators

[2020-12-31 03:17] sxjscience commented on #7186
@junrushao1994 I created this new issue. Also, I just figured out that I cannot attach the "help wanted" label so would you help with that?

[2020-12-31 03:18] sxjscience commented on #6721
Move to https://github.com/apache/tvm/issues/7186

[2020-12-31 03:18] #6721 closed

[2020-12-31 03:21] #7008 closed

[2020-12-31 21:51] #6633 closed

[2020-12-31 21:52] #7129 closed

[2021-01-01 02:58] insop commented on #7176
`Softplus` is added in 12/10/2020 from this https://github.com/apache/tvm/pull/7089
- https://github.com/apache/tvm/blob/c02c9c528f91f9be3967b7d9ef9f1847f533590b/python/tvm/relay/frontend/onnx.py#L2102

@junrushao1994 @jwfromm

However, I see that there were `SoftPlus` (not ethe **P** is in upper case) was already in.
According to [Onnx spec](https://github.com/onnx/onnx/blob/master/docs/Operators

[2021-01-02 22:55] jwfromm commented on #7176
Thanks for catching that, I actually totally missed that we had a SoftPlus operator. I agree its silly to have both. Thanks for removing the redundant one!

[2021-01-02 23:41] insop commented on #7176
@jwfromm
PR created: https://github.com/apache/tvm/pull/7189

[2021-01-03 05:34] insop commented on #7186
For  `_npi_subtract_scalar` BART model: https://github.com/apache/tvm/pull/7191 is submitted.

[2021-01-03 11:26] juannzou commented on #7182
Hi @junrushao1994

I thought it is a bug, since I tried with different settings and still get errors.

But I just posted it on the discuss forum, according to your suggestion. However, you seem to have restriction policy there for new users, in terms of how many links or embedded pictures they can include in their posts! So I referenced this post in the forum, for more details.

Here is the link t

[2021-01-04 08:41] aaltonenzhang opened #7196 "unsupported operators from tensorflow model garden models"
I'm checking tensorflow models from tensorflow models garden at https://github.com/tensorflow/models/tree/master/community.
For community models, there are types and operators which tvm doesn't supported. Most of them are quantize related, and some are not. I really hope these operators could be supported officially and I can check if these models work well.
The details are listed below.

model na

[2021-01-04 09:09] aaltonenzhang opened #7198 "some confusions when import official tensorflow models"
When testing tensorflow models from tfhub at https://tfhub.dev/, I found issues when import tensorflow IRs.
1. When I import saved model using TFParser.parse() and from_tensorflow(), I found that for some models, it's seems that the tags are not consistent with the real saved model.
2. I found that import model from checkpoint is not supported yet, but will tvm support it in the future? And what i

[2021-01-04 09:33] insop commented on #7196
@aaltonenzhang
Nit, it seems the embedded url (https://github.com/tensorflow/models/tree/master/community) in the above post is not the actual url shown, i.e. if you click the link you will go to different site. And I see the similar in https://github.com/apache/tvm/issues/7198

[2021-01-04 11:32] luyaor opened #7200 "[Bug] Error when compiling a simple ONNX model with MatMul operator for opt_level=2"
## Description

When compiling following model with opt_level=2, TVM will crash. While if turn opt_level to 3, it will run normally.

The model(with ONNX as frontend) with error is as follows, check bug.onnx in bug0.zip.

![image](https://user-images.githubusercontent.com/7541296/103530874-2f0e7d00-4ec3-11eb-88f4-2c8ce95329ff.png)

## Error Log

[code]

## How to reproduce

### Environment

Python

[2021-01-04 11:38] luyaor opened #7201 "[Bug] Error when compiling a simple ONNX model for opt_level=3"
## Description

When compiling following model with opt_level=3, TVM will crash. While if turn opt_level to 2, it will run normally.

The model(with ONNX as frontend) with error is as follows, check bug.onnx in bug1.zip.
![image](https://user-images.githubusercontent.com/7541296/103531448-4c901680-4ec4-11eb-8fcc-591dcb46165c.png)

## Error Log

[code]

## How to reproduce

### Environment

Python3

[2021-01-04 12:13] luyaor opened #7202 "[Bug] [Relay] Error when compiling a simple ONNX model"
## Description

When compiling following model with TVM, it will error.

The model(with ONNX as frontend) with error is as follows, check bug.onnx in bug2.zip.

![image](https://user-images.githubusercontent.com/7541296/103534130-40f31e80-4ec9-11eb-867e-76986a0e0693.png)

## Error Log

[code]

## How to reproduce

### Environment

Python3, with tvm, onnx, you could also use Conda as `conda env cre

[2021-01-04 12:29] luyaor opened #7203 "[Bug] [Relay] Error when compiling a simple ONNX model with Abs and PRelu"
## Description

When compiling following model with TVM, it will error.

The model(with ONNX as frontend) with error is as follows, check bug.onnx in [bug3.zip](https://github.com/apache/tvm/files/5764602/bug3.zip)

![image](https://user-images.githubusercontent.com/7541296/103535413-9af4e380-4ecb-11eb-82d8-d9eb1fd6508e.png)

## Error Log

[code]

## How to reproduce

### Environment

Python3, wit

[2021-01-04 12:51] rhzhang1995 opened #7204 "mesg: ttyname failed: Inappropriate ioctl for device"
When I was using Alveo U50 to configure TVM, I entered command “./tvm/docker/build.sh demo_vitis_ai bash”, and finally 2“mesg: ttyname failed: Inappropriate ioctl for device” appeared. Is TVM incompatible with Alveo U50？Thank you！

[2021-01-04 14:53] junrushao1994 commented on #7204
It is not an error actually. In our CI pipeline, we can see this message on the beginning of every stage...

[2021-01-05 01:06] aaltonenzhang commented on #7196
@insop  It seems that there are something wrong when you click the url, but you can copy and paste it to your browser. And for the issue #7198, it's also created by me, but they are different problems. Please help me to check them, thank you!

[2021-01-05 02:04] jcf94 opened #7207 "[BUG] Get wrong measure time in graph debug runtime"
This bug was introduced in #6964 .
Currently, use graph debug runtime will get wrong time result.

Cause:
https://github.com/apache/tvm/blob/d05275298d9e630af6d8ff958753fd010759935c/src/runtime/graph/debug/graph_runtime_debug.cc#L150-L159
This function returns a time with second, but is expected to return microsecond.

cc @areusch

[2021-01-05 03:13] aaltonenzhang commented on #7196
@insop reedited the url link for both of the two issues.

[2021-01-05 03:45] jwfromm commented on #7202
Thanks for finding this bug, it's due to a bad assumption made in Prelu conversion about the input layout. The issue is fixed in https://github.com/apache/tvm/pull/7208 and I've confirmed the test script works with that change.

[2021-01-05 04:12] jwfromm commented on #7203
This bug is also fixed in #7208 and was caused by the same issue as #7202.

[2021-01-05 04:31] insop commented on #7186
For `_npi_stack ` : https://github.com/apache/tvm/pull/7209 is submitted.

[2021-01-05 08:26] #7202 closed

[2021-01-05 08:26] #7203 closed

[2021-01-05 15:58] mbrookhart commented on #7201
This is simply because the DynamicToStatic pass is defined at opt level 3, not 2. We
can lower it to make this pass, if we think that's a robust thing to do more generally.

cc @tqchen @jroesch @masahi @jwfromm

[2021-01-05 15:59] mbrookhart commented on #7201
I will debug this morning.

[2021-01-05 15:59] mbrookhart commented on #7200
This is simply because the DynamicToStatic pass is defined at opt level 3, not 2. We
can lower it to make this pass, if we think that's a robust thing to do more generally.

cc @tqchen @jroesch @masahi @jwfromm

[2021-01-05 16:16] tqchen commented on #7200
I agree that given DynamicToStatic brings no harm, it should be applied more generally.

[2021-01-06 13:45] AzazelHD opened #7217 "NotImplementedError: change_ordering for Slice is not implemented"
As the tittle sais, I am getting this error when trying to convert a model.

``NotImplementedError: change_ordering for Slice is not implemented``

[2021-01-07 03:08] insop commented on #7217
@AzazelHD
It would help others if you add details, such as from what software frame you convert, what type of model you are referring, and so on.

[2021-01-07 11:07] TriLoo opened #7223 "build with MKL error: ‘CBLAS_OFFSET’ does not name a type"
I set `USE_MKL` to my mkl installed path in the `config.cmake` , however, I got below errors:
[code]

I verified the `cmake/modules/contrib/BLAS.cmake` and the correct `mkl_rt` library was found.  The `mkl_cblas.h` exactly include the definitions of `CBLAS_OFFSET, cblas_gemm_s8u8s32`, but don't know why these errors happened.

g++ version -> 7.3.1
cmake version -> 3.16.6
thanks

[2021-01-07 13:08] AzazelHD commented on #7217
Yeah. I got a model that is on pytorch format. I used ``pytorch2keras`` library (python), and posted this error there. They said it must be an ``onnx2keras`` error.

The model was trained on GPU, but on keras I wanna predict since my GPU is AMD.

Model was on format BCHW, but CPU only admits BHWC format, so I passed ``pytorch_to_keras`` ``change_ordering=True``. This arguments attempts to convert

[2021-01-07 13:54] dandingol03 opened #7224 "module 'tvm.relay' has no attribute 'Module'"
tvm: 0.8
error reproduce: `mod = relay.Module({})`

[2021-01-07 16:24] #6691 closed

[2021-01-07 16:27] tqchen commented on #7224
The Module has been moved to ir.Module. Please open new discussion thread on https://discuss.tvm.apache.org/ for further related questions

[2021-01-07 16:27] #7224 closed

[2021-01-07 18:13] #7204 closed

[2021-01-07 18:31] junrushao1994 commented on #7207
I suppose the bug has been fixed by #7197, is that correct?

[2021-01-07 18:44] areusch commented on #7207
no, it was tangential to that PR, so this issue is open to track a follow-on to fix

[2021-01-08 01:23] #7207 closed

[2021-01-08 06:35] insop commented on #7186
For `_npi_advanced_indexing_multiple ` is at https://github.com/apache/tvm/pull/7230#pullrequestreview-564031534, PTAL.

[2021-01-08 17:47] aidamanzano commented on #3545
Hello I have checked the discussion on the website[ here](https://discuss.tvm.apache.org/t/error-tvm-build-cmakefiles-cmaketmp-checksymbolexists-c10-fatal-error-opencl-include-dir-notfound-cl-cl-h-no-such-file-or-directory/3362) and no solution has been provided, how did you solve this issue?

[2021-01-09 02:00] #6813 closed

[2021-01-09 22:47] sxjscience commented on #7186
Also, there is another issue that I observed in GluonNLP: https://github.com/dmlc/gluon-nlp/issues/1425 . The initial investigation suggests it's related to mixed-dtype support in the MXNet --> TVM converter.

[2021-01-10 00:37] insop commented on #7186
@sxjscience
Any help on the above PR will be appreciated.
Thank you.

[2021-01-10 03:43] masahi commented on #7217
Sounds like this is not a problem of TVM.

[2021-01-10 03:43] #7217 closed

[2021-01-10 13:18] AzazelHD commented on #7217
WTF are you doing closing the issue without resolving it? HAHAHAAHAHAHAHAHA

So you just don't wanna have anything to do with it, so you just close it? LMAO HAHAHAHAAHAHAHAHAH

[2021-01-10 17:31] dandingol03 opened #7238 "Unable to launch tuning jobs on google colab"
Hi
    I run the ` Auto-tuning a Convolutional Network for NVIDIA GPU` tutorial on google colab, and i met an error as below:

[Task 1/16] Current/Best: 0.00/ 0.00 GFLOPS | Progress: (0/2000) | 0.00 sProcess Process-6: Traceback (most recent call last): File “/usr/lib/python3.6/multiprocessing/process.py”, line 258, in _bootstrap self.run() File “/usr/lib/python3.6/multiprocessing/process.py”, lin

[2021-01-10 18:10] AzazelHD opened #7239 "NotImplementedError: change_ordering for Slice is not implemented"
Getting this error while trying to change channels order

[2021-01-11 04:47] luyaor opened #7241 "[Bug] [Relay] Error when compiling ONNX with LpPool"
## Description

When compiling following model with TVM, it will error.

The model(with ONNX as frontend) with error is as follows, check bug.onnx in [bug4.zip](https://github.com/apache/tvm/files/5794039/bug4.zip).
![image](https://user-images.githubusercontent.com/7541296/104147450-53111780-5409-11eb-9c96-d6cf8b10525c.png)

I think it is because ONNX allows attribute `p` in **LpPool** with a def

[2021-01-11 04:56] luyaor commented on #7241
I also created a corresponding PR for this issue: https://github.com/apache/tvm/pull/7242

[2021-01-11 07:38] luyaor opened #7244 "[Bug] [Relay] Error when compiling ONNX with LeakyRelu"
[Bug] [Relay] Error when compiling a simple ONNX model

## Description

When compiling following model with TVM, it will error.

The model(with ONNX as frontend) with error is as follows, check bug.onnx in [bug5.zip](https://github.com/apache/tvm/files/5794438/bug5.zip).
![image](https://user-images.githubusercontent.com/7541296/104155892-1225fc80-5423-11eb-9e6b-2a0b8a90a017.png)

I think it is be

[2021-01-11 09:00] luyaor opened #7245 "[Bug] Wrong result when model contains LpPool (when p=1)"
## Description

When compiling following model with TVM, it will output wrong result.

The model(with ONNX as frontend) with error is as follows, check bug.onnx in [bug6.zip](https://github.com/apache/tvm/files/5794682/bug6.zip).

![image](https://user-images.githubusercontent.com/7541296/104161312-a1381200-542d-11eb-9108-6842e5e0151c.png)

I think it is because TVM relay's wrong implementation fo

[2021-01-11 09:28] luyaor commented on #7245
Sorry, maybe I need to check again for definition of LpPool.

[2021-01-11 09:28] #7245 closed

[2021-01-11 11:32] zhuwenxi opened #7246 "[BUG][Tensorize] race condition when using "tvm.tir.call_packed()" in a parallel schedule."
### Problem Statement
This bug was encountered when I was trying to use external BLAS library as "micro-kernel" to optimize the Matmul op. Basically I was just following the [TVM Tensorize Tutorial](https://tvm.apache.org/docs/tutorials/language/tensorize.html), and did a little modification by replacing the `tvm.tir.call_extern('int32', 'gemv_update'` with `tvm.tir.call_packed("tvm.contrib.cblas.

[2021-01-11 11:36] zhuwenxi commented on #7246
And by digging into TVM source code, I believe I've already root cause this bug.

Short answer: the TIR generated for "@tvm.tir.call_packed()" is not thread-safe, thus causes a race condition in a multi-threads environment.

For detail explanations, please see my analysis here: https://discuss.tvm.apache.org/t/tensorize-tensorize-couldnt-work-properly-with-parallel-schedule/8752

[2021-01-11 12:56] wejoncy opened #7247 "[BUG]( OPENCL Code-generate) Generate float type of index for local memory"
## Description

Hi
when I was trying to build a convolution kernel in OPENCL, may a unique thread-size trigger this bug.

After digging into the lower process, Datatype is `float` when StoreNode is created.

TVM will generate float type of  index expr, like `B_local[((((float)get_local_id(1)) + ((float)(((int)get_group_id(2)) * 8))))];` , which is illegal.

## Error information
[code]

## Env
TVM:

[2021-01-11 21:19] codeislife99 opened #7252 "[BUG][LLVM-Codegen] TVMError: Do not have a default for tir.ProducerLoad"
### Description:
`ProducerLoadNode` seems to be included in `https://github.com/apache/tvm/blob/main/include/tvm/tir/expr_functor.h#L122` yet when I run [this PR](https://github.com/apache/tvm/pull/7249/files) using `python3 test_dynamic_op_level3.py` I get the following error:

[code]

### Env and Code to Reproduce:
https://github.com/apache/tvm/pull/7249/files
Run: `python3 test_dynamic_op_level

[2021-01-11 23:02] tqchen commented on #7252
ProducerLoad is expected to be lowered to BufferLoad, during TE lowering and we do not expect to see it in a valid TIR.

[2021-01-12 03:01] huanleo opened #7256 "[bug] memory leak, whether on cpu or gpu，after loaded and then release the model"
when i loaded  a model and then release the model—— repeat it，it will continue increase fixed graphics memory（nvidia-gpu） or memory(cpu)——would you please find and fix it

[2021-01-12 03:32] aaltonenzhang opened #7258 "tvm doesn't support mix-precision inputs for qnn conv2d"
I have a tflite model with float32 feature map and int8 weights, when I look into convert_conv() in tflite frontend, I found that _qnn.op.conv2d is constructed only if feature map is int8(uint8) typed. So, I tried to modify code like:

        if (input_tensor.qnn_params or weight_tensor.qnn_params):
            qnn_conv2d_params = dict(params)
            qnn_conv2d_params["input_zero_point"] = i

[2021-01-12 05:57] huanleo commented on #7256
my faulty，sorry

[2021-01-12 05:57] #7256 closed

[2021-01-12 12:41] wejoncy commented on #7247
Have root cause the issue, `te.thread_axis` do not check if dom type is int. So add a cast operation in `te.thread_axis`  could resolve it.

[2021-01-12 13:07] gaintpd opened #7261 "[BUG][BYOC][Ethos-N]unable to compile tvm with ethos-n-driver-stack"
I can compile the tvm successfully on my ubuntu 20.04 LTS edition, and the hardware is thinkpad P52, When I set the ethos-n option in config.cmake in the build directory, I get the following error:
[code]
The TVM is main branch, it's updated with the official repo, and the ethos-n-driver-stack is also the most updated version. How to fix this problem?

[2021-01-12 14:05] tqchen commented on #7258
This seems to be a discussion for enhancement, would be great to open a thread on https://discuss.tvm.apache.org/

[2021-01-12 14:05] #7258 closed

[2021-01-12 14:45] luyaor commented on #7244
Fixed in #7259.

[2021-01-12 14:45] #7244 closed

[2021-01-12 14:52] luyaor opened #7262 "[Bug] Error when compiling a ONNX model with Gemm operator"
## Description

When compiling following model with TVM, it will crash.

The model(with ONNX as frontend) with error is as follows, check bug.onnx in [bug6.zip](https://github.com/apache/tvm/files/5802832/bug6.zip).

![image](https://user-images.githubusercontent.com/7541296/104329942-7d0d2b80-5528-11eb-83dc-ac3f77e30936.png)

The corresponding relay program:
[code]

## Error Log

[code]

## How t

[2021-01-12 15:11] luyaor opened #7263 "[Bug] [Frontend] Matrix C of Gemm operator in ONNX could be optional"
## Description

When compiling following model with TVM, it will error on parsing. I think it is because matrix C for inputs could be optional by ONNX specification. Check here: https://github.com/onnx/onnx/blob/master/docs/Operators.md#gemm

The model(with ONNX as frontend) with error is as follows, check bug.onnx in [bug7.zip](https://github.com/apache/tvm/files/5802949/bug7.zip).

## Error Log

[2021-01-12 18:39] comaniac commented on #7261
cc @mbaret

[2021-01-12 18:43] leandron commented on #7261
Hi @gaintpd,

Have you built the driver stack, prior to building TVM?

If not, you can follow the [official documentation](https://github.com/ARM-software/ethos-n-driver-stack#build-tools), or the steps described here https://github.com/apache/tvm/blob/main/docker/install/ubuntu_install_ethosn_driver_stack.sh. Hope that helps.

Also cc @Leo-arm.

[2021-01-12 20:16] tqchen commented on #6792
@leandron please update the state of the thread accordingly

[2021-01-13 01:38] aaltonenzhang commented on #7258
My account for discussion is on hold, I won’t be able to reply or create topics until a staff member review the status. Could you please give a help? Thanks.

[2021-01-13 02:46] #7247 closed

[2021-01-13 08:23] Leo-arm commented on #7261
The CMake script looks for header files in certain directories and that is clearly failing.
You also want to build the 20.08 version of the Ethos-N driver stack, not 20.11.

[2021-01-13 13:04] gaintpd commented on #7261
@leandron Thank you very much for the tips. As I want to build the Ethos-N backend with tvm in a minimal way, I just build the driver lib and it generates for files: `libEthosNDriver.a`,  `libEthosNDriver.so`, `libEthosNSupport.a`, `libEthosNSupport.so`. And install into the default directory, with the most updated version(20.11) of Ethos-N Driver stack. Another problem arises, I get the following

[2021-01-13 13:09] gaintpd commented on #7261
@Leo-arm the `scons` script rename the header file directory name, so the problem is not build the Ethos-N driver Stack.

[2021-01-13 14:08] tqchen commented on #6960
cc @areusch can you follow up on this?

[2021-01-13 14:13] tqchen commented on #7246
Thanks @zhuwenxi this is indeed an issue that we need to work to resolve

[2021-01-13 14:16] tqchen commented on #7246
related issue https://github.com/apache/tvm/issues/4387

[2021-01-13 14:17] tqchen commented on #7246
also cc @junrushao1994 @ZihengJiang @vinx13

[2021-01-13 14:21] tqchen commented on #7246
Possible way to resolve the issue:

- Introduce the packed_arg_alloca intrinsic that is only gauranteed to be valid for the specific packed func call
   - Skip the lifting alloca step, and keep alloca always next to the func call
- Update LLVM codegen to insert alloca always to the beginning of the current function block
- Update StackVM and C codegen to support things accordingly

[2021-01-13 14:22] tom-gall commented on #6960
Looks like a fix for this has already landed from a different PR.

[2021-01-13 14:22] #6960 closed

[2021-01-13 14:26] Leo-arm commented on #7261
As this is an issue in the Ethos-N driver stack, you might be better off asking in that GitHub repo. I don't see any obvious issue but I am not intimately familiar with their code. You are correct when you say you should end up with those three libraries; there is no need to build the kernel module. Once these are in place and pointed to in config.cmake, the TVM code should build fine.

[2021-01-13 14:35] tqchen commented on #6960
Thanks @tom-gall for the timely update :)

[2021-01-13 14:39] gaintpd commented on #7261
As @Leo-arm advise us to continue the discuss in https://github.com/ARM-software/ethos-n-driver-stack/issues/1. I will close this issue now, many thanks goes to @comaniac @leandron @Leo-arm

[2021-01-13 14:39] #7261 closed

[2021-01-13 15:26] luyaor opened #7270 "[Bug] Wrong result with model contains Flatten and Reduce"
## Description

When compiling following model with TVM, it will output different result with onnxruntime. By manually checking, I found the result of TVM may be wrong.

The model(with ONNX as frontend) with error is as follows, check bug.onnx in [bug8.zip](https://github.com/apache/tvm/files/5809509/bug8.zip).

![image](https://user-images.githubusercontent.com/7541296/104472234-b57b3b00-55f6-11e

[2021-01-13 18:12] #7201 closed

[2021-01-13 18:13] tqchen commented on #7200
closed by #7213 Thanks @mbrookhart @luyaor !

[2021-01-13 19:47] #7200 closed

[2021-01-13 23:39] tqchen opened #7277 "[TEST] Skip TensorCore TOPI test when it is not available"
https://github.com/apache/tvm/pull/7146 Introduces a test on tensorcore for batchmatmul

Because tensorcore is only optionally supported in the topi testing stage, it would be great to skip it when it is not available.

[2021-01-13 23:39] tqchen commented on #7277
cc @jwfromm @jcf94 @Meteorix

[2021-01-14 06:30] zhuwenxi commented on #7246
@tqchen , thanks for the reply!

Despite the race condition in a parallel schedule, I think the approach that allocate stack outside of (parallel) loops does have some sort of performance advantages, that it makes stack shared between multiple packed func call which could help save tremendous re-allocation time.

[2021-01-14 07:14] zhuwenxi commented on #7246
If I understand correctly, you wanna introduce a special "packed_arg_alloca" tir and make sure all backends implement it? Correct me if I'm wrong :)

As I mentioned above, the root cause of this problem is the **tir** lowering for packed func in a parallel for is not thread-safe. So have you considered to fix it on tir level, utilizing existing TVM IRs? Thus no new tir type introduction and corres

[2021-01-14 09:10] codeislife99 opened #7281 "Frontend PT cannot accept List[Tensor] as input"
I get the following error, because `inputs[0]` is of type `Var` and its typeannotation is
`<class 'tvm.ir.type_relation.TypeCall'>`

[code]

[2021-01-14 13:39] peter197321 opened #7283 "LSTM&GRU support for uTVM"
Hello guys,

I'm curious if the uTVM can support audio models and especially LSTM or GRU operations in there for ARM-based bare-metal devices such CortexM7 alike?
Is there any example for that ...

BR/Peter

[2021-01-14 14:56] leandron commented on #7283
Hi @peter197321 - it might worth raising this discussion on https://discuss.tvm.apache.org/ rather than as an issue.

[2021-01-14 15:17] peter197321 commented on #7283
OK @leandron I will push it there :)

[2021-01-14 15:17] #7283 closed

[2021-01-14 15:54] tqchen commented on #7246
Thanks @zhuwenxi. I still think the original proposal is better. Especially in the case of (rare) nested parallel loops(parallel inside parallel). Notably performance-wise we are allocating the stack at the beginning of the current function(rather than the calling site), so it comes from the thread-local stack. I don't think there will be a performance issue.

[2021-01-15 03:35] zhuwenxi commented on #7246
@tqchen
Just curious, nested parallel loops are not allowed in CPU backend: https://github.com/apache/tvm/blob/main/src/target/llvm/codegen_cpu.cc#L994 as far as I know, so I suppose you mean other backends such GPU?

Thread-local stack does make sense. Is it true that the `packed_arg_alloca` tir will only be generated, when current function is in a "parallel" for loop?

If so, there will be no pe

[2021-01-15 10:03] #7281 closed

[2021-01-15 14:06] tqchen commented on #7246
It will be generated in singele threaded as well. In that case the space will be allocated in the begining of the function, and i believe LLVM optimization should be able to collapse them via liveness analysis

[2021-01-15 16:29] leandron commented on #7277
(Posting here as I think it is related)

When running TVM tests on a CPU only machine, I'm getting an error when running `/test_topi_batch_matmul_tensorcore.py:test_batch_matmul`:
https://github.com/apache/tvm/blob/89e3688137b9d8dd0e431cbdadb84d42dae9eee3/tests/python/topi/python/test_topi_batch_matmul_tensorcore.py#L66-L71

The error I see is:

The test is marker as `uses_gpu`.

I wonder whether

[2021-01-15 18:28] tqchen commented on #7277
I think `requires_tensorcore` is the right macro cc @tkonolige

[2021-01-15 18:35] tkonolige commented on #7277
Yes, it should be `requires_tensorcore`.

[2021-01-15 19:03] tkonolige opened #7292 "[BUG] Passing wrong Tensor to tvm.build segfaults"
On d7a9a7c5bc5952e43db2ac0113fd40cc77453fbe, the following script segfaults:
[code]
The cause is that the wrong `Tensor` was passed to `tvm.build`.

Actionable item: we need to fix `tvm.build` so it provides a useful error message when the incorrect `Tensor` is provided instead of segfaulting.

[2021-01-16 17:42] #7277 closed

[2021-01-17 05:22] codgeek opened #7301 "[VTA][Relay] Reshape mismatch and Compile fail when running yolo-v3-tiny model in tutorial deploy_detection.py"
**Reproduce code:**
 config  `set(USE_VTA_FSIM ON)`  in build/config.cmake ,   build tvm with vta on host

`cd ${TVM_HOME} && python vta/tutorials/frontend/legacy/deploy_detection.py`

**description:**
 I am using the [newest version code on 'Fri Jan 15 07:59:28 2021'](https://github.com/apache/tvm/tree/c9474639dd3761b78a457ab274603d87a3dcf9b8)  with pynq Z1 board.  Error occurs inside `graph_pack

[2021-01-17 15:56] codgeek commented on #7301
some new discoveries:
after reset to version when mege yolo-v3-tiny from @huajsj  [09c55fd1f3354d2280bb792a252590ac6bd68e58](https://github.com/apache/tvm/commit/09c55fd1f3354d2280bb792a252590ac6bd68e58).  the detection task works!
the inference times on pynq Z1 is reduced to 615.49ms from 4520ms on arm_cpu version.

**As an strong infer , some  changes in 'Relay' might lead to the error on latest

[2021-01-17 16:18] tqchen opened #7302 "[TIR][REFACTOR][RFC] ForNode -- Introduce Annotations and ThreadBinding to for_type"
This is a short RFC tracking issue for a proposed refactor as part of TensorIR refactoring. https://discuss.tvm.apache.org/t/rfc-tensorir-a-schedulable-ir-for-tvm/7872

To enable the TensorIR scheduling, we will need to introduce support for more annotations to the loop node, specifically two fields will be introduced:

- Optional<IterVar> thread_binding: Used for optionally bind the loop to a con

[2021-01-18 03:00] junrushao1994 commented on #7302
I like the proposal, especially the design philosophy that separates `thread_binding` and other `annotations`, where `thread_binding` are required to be taken care of by each pass, and `annotations` are optional and are safe to ignore in irrelevant passes.

One question: what is the implication for the roundtrippable TIR parser? How do we print `thread_binding` in this case?

[2021-01-18 07:58] zhuwenxi commented on #7246
Thanks for the explanation, @tqchen . May I know when will this bug be fixed? And please let me know if I can help.

[2021-01-18 14:59] tqchen commented on #7302
Thanks @junrushao1994  We have already some mechanism to print the low level thread binding via attr (printed as launch_thread). When the threadIdx is shared in multiple launch point, the var is printed separately. Otherwise it is printed inline to the code. I believe we could adopt a similar strategy.

Note that because the initial refactor is only wrt to the data structure, we can defer the pars

[2021-01-18 15:05] spectrometerHBH commented on #7302
The problem is that launch_thread was not designed to print those additional hints，since launch_thread was syntax for Attr  now.

[2021-01-18 15:09] tqchen commented on #7302
I see, I don't think the thread binding can come with additional annotations, which might simplify the problem (if we enforce such check in IR validation).

[2021-01-18 15:19] tqchen commented on #7246
Please let me know if you are interested in contributing a patch :) Would be more than happy to shepherd the PR

[2021-01-18 15:47] tqchen commented on #7302
@spectrometerHBH it would be great if you can take a stab to get the first strawman syntax and parser

[2021-01-18 16:45] leandron commented on #6792
The status is correct as it is displayed. We'll be updating it in the next weeks with new PRs.

[2021-01-18 18:11] mathmax12 opened #7305 "how to estimate a model's flops number in tvm?"
Hi
I wonder how to estimate a model's flops number in tvm?

[2021-01-19 03:12] zhuwenxi commented on #7246
I'm happy to contribute a patch :) I will start from making some prototype code to do POC, and I'll keep you posted.

[2021-01-19 14:10] tqchen commented on #7302
https://github.com/apache/tvm/pull/7306

[2021-01-19 14:10] #7302 closed

[2021-01-19 21:22] dlexplorer opened #7310 "Error of compilation ONNX BERT with tune information"
commit [[AutoScheduler] Add layout rewrite support for dense and batch matmul…](https://github.com/apache/tvm/commit/7dcafb017a05ac0d5ecd7cfe8d8741d33a24bbad) breaks compilation of ONNX BERT with autotune information. Until this commit it was compiled successfully.
Some notes:
1. The above commit changes the workload hash for dense, need to collect different statistic before it and after.
2. I tri

[2021-01-20 06:04] masahi opened #7312 "[FLAKY] test_dlpack.py"
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-7303/12/pipeline

Just got this in my PR, need to relax the tolerance a bit

[2021-01-21 07:39] ggardet opened #7319 "GCC10: warning: catching polymorphic type 'struct dmlc::Error' by value"
With GCC10, there is the following warning:
[code]
Something like `} catch (dmlc::Error&) {` should fix it.

[2021-01-21 17:16] SebastianBoblestETAS opened #7322 "[BUG] tvmc runner: print_top sorts output causing sorted output to be stored."
The options print_top and outputs are currently incompatible, get_top_results should work on a copy of outputs.
Otherwise sorted outputs are stored in .npz

https://github.com/apache/tvm/blob/8524b28078928caf5c8ca82442ad0eab81dce838/python/tvm/driver/tvmc/runner.py#L127

[2021-01-21 17:20] comaniac commented on #7322
Thanks for pointing out. Would you send a PR to fix it?
Also cc @leandron

[2021-01-21 19:51] tqchen commented on #7319
thanks @ggardet can you send a new PR ?

[2021-01-21 19:55] tqchen commented on #7312
i see, @masahi can you send a PR to fix it?

[2021-01-22 02:28] #7312 closed

[2021-01-22 07:30] luyaor commented on #7270
@jwfromm

[2021-01-22 07:31] luyaor commented on #7262
@jwfromm

[2021-01-22 13:56] #7322 closed

[2021-01-25 16:09] ggardet commented on #6832
The problem was becauseof LTO (Link Time Optimization). Once I disabled LTO, it built properly.

[2021-01-25 17:34] #7319 closed

[2021-01-25 20:55] altanh opened #7339 "[Bug][Parser] Parser/tokenizer doesn't handle inf float"
Running `AnnotateSpans` pass on a module which uses `inf` float literal (such as in the case of `clip(x, 0, np.inf)`) causes an error.

[2021-01-26 14:42] tqchen commented on #7305
Thank you for asking the question. Please open a new thread on https://discuss.tvm.apache.org/ where the community collectively answers related questions

[2021-01-26 14:42] #7305 closed

[2021-01-27 09:14] WeberChen commented on #1209
Hi @tqchen

Because I need to import the pre-quantized model from Tensorflow but not from TF-lite, I need the FakeQuantWithMinMaxVars operator for the following steps.

Therefore, the issue-706 in "discuss.tvm.ai" may not be suitable for me
https://discuss.tvm.apache.org/t/tensorflow-operator-fakequantwithminmaxvars-not-implemented/706

Would you please put out more resources about the FakeQuantWi

[2021-01-27 10:16] marxin commented on #6832
Well I think the problem is Static Initialization Order Fiasco:
https://en.cppreference.com/w/cpp/language/siof

which is only exposed by LTO.

[code]

is called before `OpRegistry::Global()` is initialized if I see correctly.
Note that without LTO optimization, you are lucky based on the order of `.o` files provided on the linker command line.

[2021-01-28 02:06] genbattle opened #7356 "README for Rust bindings says nightly is required"
The [README for the TVM rust bindings](https://github.com/apache/tvm/blob/main/rust/tvm/README.md) says that nightly rust is required, but I just downloaded, built and ran the tests for the bindings on stable Rust 1.49.0.

Is nightly Rust actually still required? If so, it may be helpful to list the features/dependencies that cause the nightly requirement as part of the README. If not, this requir

[2021-01-28 05:22] jroesch commented on #7339
I would be happy to mentor anyone who wants to pick this one up.

[2021-01-28 05:24] jroesch commented on #7356
Thanks for opening an issue! the current documentation needs to be rewritten I've been (slowly) working to refactor the bindings with a goal to have a stable version in the coming release. The Rust docs are more up to date, but in the repo docs are stale. This use to be true about the old bindings but CI uses a recent (1.47 last time I built the images) for CI.

[2021-01-28 18:53] masahi commented on #7339
I'm interested in taking this up, @altanh can you post a repro script?

[2021-01-28 21:09] tqchen opened #7363 "[TEST][FLAKY] test_detection_models"
Seems to be quite frequent in recent PRs, might be related to #7346

https://ci.tlcpack.ai/job/tvm/job/main/495/execution/node/449/log/

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-7360/1/pipeline(this one is timeout)

[2021-01-28 21:09] tqchen commented on #7363
cc @zhiics @masahi

[2021-01-28 21:54] masahi commented on #7363
So this a flaky segfault? Not sure how I can reproduce this.

[2021-01-28 22:03] tqchen commented on #7363
based on my current read it could also be a timeout. In which case we need to look into if the detection model itself runs too long and if we could build a faster unittest

[2021-01-28 22:05] masahi commented on #7363
It should definitely run much faster than TF SSD test.

Disabled one of rewrites in https://github.com/apache/tvm/pull/7365. The other rewrite added in #7346 should be harmless. We'll see.

[2021-01-29 02:57] masahi commented on #7339
Printing `mod` shows that `inff` is a thing:

[code]
Do we want to special-case `inf` in the printer as well?

[2021-01-29 03:02] altanh commented on #7339
Not sure if Python should be the source of truth but `float("inf")` returns `inf` whereas `float("inff")` fails. Also numpy seems to have similar behavior (but they somehow avoid erroring by ignoring the rest of the input...):
[code]

[2021-01-29 07:39] zhiics commented on #7363
Would this also affect the production test cases although I haven't really seen it.

[2021-01-29 07:40] zhiics commented on #7363
Close by @7365

[2021-01-29 08:02] masahi commented on #7363
I ran MaskRCNN with that rewrite countless times, I didn't see any problem. Weird.

[2021-01-29 08:11] altanh commented on #7363
Before we move too far on from this, can someone compare with our experience in fixing this bug? https://github.com/apache/tvm/issues/7010

If there is some hard to find libomp conflict popping up again, it will crash with "Aborted" like seen the first test

[2021-01-29 08:55] masahi commented on #7363
hmm, I see what's common are the use of pytorch, and the way CI dies. But other than that I don't know if two flaky issues are related.

[2021-01-29 14:13] tqchen commented on #7363
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/503/pipeline

[2021-01-29 14:45] masahi commented on #7363
Looking at https://ci.tlcpack.ai/job/tvm/job/main/, after #7346 was merged, things had been stable for some time (https://ci.tlcpack.ai/job/tvm/job/main/487/ to https://ci.tlcpack.ai/job/tvm/job/main/491/). The crash began to happen after https://github.com/apache/tvm/pull/7354, which added const folding on `If` condition, is merged https://ci.tlcpack.ai/job/tvm/job/main/492/.

The other rewrite i

[2021-01-29 14:49] masahi commented on #7363
One thing I'm curious, the crash at CI https://ci.tlcpack.ai/job/tvm/job/main/ is very frequent, while CIs for open PRs do not get crash (except https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-7360/1/pipeline/ which was timeout) as far as I see it. I wonder why.

[2021-01-29 20:24] altanh commented on #7363
In the mean time, is there any way to disable pytest capturing while we debug the CI runs? https://github.com/apache/tvm/issues/7017

this might give more information and confirm/rule out the cause being libomp

[2021-01-30 00:35] zhiics commented on #7363
not sure if I understand the question. Do you want to just run the specific test in CI? If so, we can checkout the docker image and run pytest -v tests/python/frontend/pytorch/test_object_detection.py

[2021-01-30 00:57] altanh commented on #7363
Essentially yes, I think checking out the CI image and running `pytest -s tests/python/frontend/pytorch` will hopefully give more information about what is causing the abort (as long as we can reproduce it).

[2021-01-30 14:11] xyz8129 opened #7378 "machine type x86 conflicts with x64"
windows 7 (x64)
vs 2017, clang 6.0.1

I want get model, params and library in windows 7.

it seems  libcmt.lib is 32 bit.

the error:
export.py:263: DeprecationWarning: legacy graph runtime behavior of producing js
on / lib / params will be removed in the next release. Please see documents of t
vm.contrib.graph_runtime.GraphModule for the  new recommended usage.
  sym, target, params=params)
Trace

[2021-01-31 01:31] YongtaoHuang1994 opened #7379 "the speed of BERT's inference"
Hello:
I use TVM to speed up the inference of BERT model by CPU-avx2. Why is it slower?
Device:  8  Intel(R) Xeon(R) CPU E5-1620 v3 @ 3.50GHz.

The inference speed result is as followed:
[code]
The inference code is as followed:
[code]
Thank you for your help.

[2021-01-31 03:29] #7378 closed

[2021-01-31 09:32] masahi commented on #7363
@tqchen @zhiics I investigated this issue and I think I have a solution. Running `test_object_detection.py` indeed results in a segfault at the end, after correct execution. I didn't notice this segfault before because I was running a different script when I was working on optimizing MaskRCNN.

Now, I wondered why running one script results in the segfault, while the other doesn't, when two script

[2021-01-31 15:19] ashuezy opened #7381 "Unable to compile from source for latest build on github"
Ubuntu 18.04
gcc 7.5.0
llvm-10.0.0
cuda 10.1
[code]

[code]

[2021-01-31 19:17] masahi commented on #7363
hmm still failing. But now it clearly says all tests have passed, but then it died. https://ci.tlcpack.ai/job/tvm/job/main/495/console

I wonder if this is a driver problem on the post-merge CI node, since I don't see this error happening on CIs for the open PRs.

[2021-01-31 19:28] masahi commented on #7363
I reopened https://github.com/apache/tvm/pull/7371 for the final attempt. It disable the other rewrite done in #7346 and the cuda test.

I don't think rewrites are the problems, but disabling cuda tests should remove the segfault.

[2021-02-01 18:07] comaniac commented on #7381
Looks like cmake failed to find your CUBLAS. You may provide the CUBLAS manually in `config.cmake:USE_CUBLAS`.

For future issues like this, please post them to the discuss forum: https://discuss.tvm.apache.org/t

[2021-02-01 18:07] #7381 closed

[2021-02-01 21:39] #7339 closed

[2021-02-01 22:14] tqchen commented on #7379
Please open a new thread on https://discuss.tvm.apache.org/

[2021-02-01 22:14] #7379 closed

[2021-02-03 07:38] VertexC opened #7399 "TVM compile pytorch model mutliple times seems to have memory leak"
Hi,

I am doing some perf analysis on TVM and find compile pytorch model multiple time seems to have memory leak.

Here is the script. I am using latest tvm `commit f786` compiled with clang+llvm-11.0.1-x86_64-linux-gnu-ubuntu-16.04.
[code]

And the result show the memory usage continue to increase
[code]

[2021-02-03 17:42] mbrookhart opened #7402 "Argwhere not returning all values?"
@zhiics @masahi

I'm running into an odd issue with arghwere when I run this test:

[code]

TVM argwhere is only returning the first value, while numpy argwhere is effectively doing range. Any ideas why the tvm op is failing?

[code]

cc @jwfromm

[2021-02-03 17:43] mbrookhart commented on #7402
Nevermind, this is a bug in something else I was doing.

[2021-02-03 17:43] #7402 closed

[2021-02-04 10:45] leandron commented on #6792
@FrozenGene, @comaniac we are currently working on the first item of this TODO list:

Previous discussion here: https://github.com/apache/tvm/pull/6578#discussion_r497209168

We are struggling a bit to get rid of the getters usage, as (we think) we need a representation of the graph in order to re-load the graph, input names and shapes at `tvmc run` time.

Do you have an example in the code base,

[2021-02-08 03:28] ilovetvm opened #7420 "Parallel on Reduction Axis in CPU needs rigorous checking"
Using the primitive `parallel` on a reduction axis in CPU (`target="llvm`) can lead to silent errors. In the following `GEMM` example, TVM compiles successfully, and computes as if the computation result is correct. However, the comparison with `Pytorch` shows that the final result is wrong.
It would be better if a more rigorous checking for this could be added to TVM. At least some warning messag

[2021-02-08 04:52] FrozenGene commented on #6792
@leandron I think your point is you want to inspect the graph and query the shape information. Ah, yes, I think previous design doesn't consider this requirement, so after serializing the module, we want users only use graph runtime factory module. cc @tqchen how about meeting this inspect requirement if we package everything into graph runtime factory module?

[2021-02-08 04:57] ilovetvm opened #7421 "[Bug] Incorrect results if memory scope is set to 'local'"
The computation results of `GEMM` is wrong if the memory scope is set to `local`. I hope the following script can help you reproduce the bug. If `sch[gemm].set_scope("local")` is not properly-used here, at least some warnings should be given instead of silent incorrect results.
[code]
The execution result of the above script is
[code]

[2021-02-08 05:11] masahi commented on #7363
This can be closed now https://ci.tlcpack.ai/job/tvm/job/main/

[2021-02-08 05:11] #7363 closed

[2021-02-09 08:52] haoyang9804 opened #7426 "Incomplete message given by TVM-0.8 dev when executing parse_module"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2021-02-09 15:35] leandron commented on #6792
So we are currently using the JSON for two things:
1. To create the `GraphModule` or the `GraphModuleDebug` (when `--profile` is used)
2. To extract input shapes

For *1*, I found a way to create the Graph Runtime directly pointing to the loaded module, but it looks like it is not possible to accomplish the same for the *Debug Graph Runtime*, that requires the graph_json.

https://github.com/apach

[2021-02-10 02:03] jianlongf commented on #4845
"Which are summarized summarized from the forum discussion." double summarized may be a small mistakes.

[2021-02-10 02:35] tqchen opened #7434 "[ROADMAP] TVM v0.8 Roadmap"
This roadmap for TVM v0.8. TVM is a community-driven project and we love your feedback and proposals on where we should be heading. Please open up discussion in the discussion forum as well as bring RFCs.

Feel free to volunteer yourself if you are interested in trying out some items(they do not have to be on the list).

Please also check out the help wanted list in the github issues on things tha

[2021-02-10 02:36] #4845 closed

[2021-02-10 02:36] tqchen commented on #4845
v0.8 cycle tracking issue is created https://github.com/apache/tvm/issues/7434

[2021-02-10 02:44] tqchen commented on #7434
cc @apache/tvm-committers

[2021-02-10 19:15] tqchen commented on #7246
ping @zhuwenxi please let us know about the status and anything we can help

[2021-02-12 18:59] wx3000 commented on #4102
@srkreddy1238: I am working on a new TF parser from scratch, to be introduced as ~/python/tvm/relay/frontend/tensorflow2.py. I will share this work soon. The new parser will support control flow v2 op(While/If), instead of control flow v1 op (Enter/Exist/Merge). A lot of the existing parser code which deal with control flow v1 are not needed in the new TF parser. The new parser will support Tensor

[2021-02-12 20:48] #7252 closed

[2021-02-12 20:48] tqchen commented on #7252
closing for now because of the stale state , feel free to open new threads

[2021-02-13 03:43] masahi commented on #7399
Note that this is not specific to pytorch, try moving

[code]
outside of `tvm_build(...)`

[2021-02-13 07:30] masahi opened #7455 "[FLAKY] tvmc/test_frontends.py"
There is another CI incident on `main` https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/activity?branch=main

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/561/pipeline/
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/560/pipeline/

The error is the same one discussed in https://github.com/apache/tvm/pull/7366. Could be due to the recurring omp + pytorch iss

[2021-02-17 19:01] areusch commented on #7455
Happened again this morning: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/570/pipeline

Relevant traceback:
[code]

[2021-02-17 23:58] binarybana commented on #7434
I personally would like to see a TVM 1.0 release following the 0.8 release. Where 0.8 is the last set of big features before we as a community focus on stabilization of core APIs, semantics, and testing processes for 1.0 hopefully landing towards the end of this year (2021).

Why am I mentioning this as part of the 0.8 roadmap? Because if the community wants to do 1.0 after 0.8, then it might chan

[2021-02-18 01:14] tqchen commented on #7434
Thanks @binarybana for bringing that up. I also agree that we should start to think about 1.0 around the end of the year. That could imply that we want to have a stronger focus on stablization, documentation in the later part. Would certainly be great to consider this possibility during planning.

[2021-02-18 02:10] zhuwenxi commented on #7246
Sorry for the late response, @tqchen .

Haven't got time to look into this bug fix before Chinese New Year. I suppose I can start this work as soon as I come back to office.

Sorry again. :)

[2021-02-18 05:05] slyubomirsky opened #7466 "[Error messages/documentation] BiasAddRel indexes into a shape, does not fail gracefully for scalars"
The following program does not type check and arguably shouldn't, but the error message is an internal check failure rather than a proper error message stating what the error is

[code]

The error message is:
[code]

The cause is indexing into the input shape at [this line](https://github.com/apache/tvm/blob/b7e0cfb6d469c3745ae2195908daadea9c64d87e/src/relay/op/nn/nn.cc#L68), but there should prob

[2021-02-18 10:27] leandron commented on #7455
cc @ekalda

[2021-02-18 12:50] ekalda commented on #7455
Very odd. It looks like CI is always either skipping that test or failing with that error. That test is passing for me locally though, so I'm not sure how to reproduce it...

[2021-02-18 14:40] tqchen opened #7470 "[TEST][FLAKY] tests/python/relay/test_op_level5.py::test_crop_and_resize"
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-7469/3/pipeline/258

[2021-02-18 14:41] tqchen commented on #7470
cc @masahi can you please take a look?

[2021-02-18 16:11] areusch commented on #7455
@ekalda are you using the docker container to reproduce?

e.g.
`docker/bash.sh tlcpack/ci-cpu:v0.72-t0 ./tests/scripts/task_config_build_cpu.sh`
`docker/bash.sh tlcpack/ci-cpu:v0.72-t0 ./tests/scripts/task_build.sh build -j2`
`docker/bash.sh tlcpack/ci-cpu:v0.72-t0 ./tests/scripts/task_python_integration.sh`

[2021-02-18 16:17] apivovarov opened #7471 "test_frontends.py::test_load_model__pth munmap_chunk(): invalid pointer"
Quite often I see the following failure in CI builds
[code]

Failed CI builds:
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/579/pipeline

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-7465/4/pipeline

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-7465/3/pipeline

Related PRs: https://github.com/apache/tvm/pull/7366

@CircleSpin

[2021-02-18 16:31] leandron commented on #7471
I think this is being discussed on #7455 (maybe needs a better title)

[2021-02-18 16:39] #7471 closed

[2021-02-18 16:48] leandron commented on #7455
On a quick look in the CI jobs, all the posted links so far (including the ones by @apivovarov) point that the job was being executed by `INFO: NODE_NAME=node.aladdin.cudabuild EXECUTOR_NUMBER=1`, whereas I couldn't find any failed on `INFO: NODE_NAME=node.aladdin.cudabuild EXECUTOR_NUMBER=0`.

Looking at random on recent builds:
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/567

[2021-02-18 17:15] binarybana commented on #7434
Also under coverage I'd like to see an entry for `Leveraging ONNX test suite for more thorough testing and op support report generation`.

[2021-02-18 17:22] ekalda commented on #7455
@areusch I built and ran the tests in this docker container using the commands you gave me and I see this test being skipped (similarly to the successful CI runs), which makes me suspect that there is some CI problem...

[2021-02-18 20:19] masahi commented on #7455
FYI this test is getting disabled in https://github.com/apache/tvm/pull/7465

[2021-02-19 03:36] monklof commented on #7434
Mentioned in https://discuss.tvm.apache.org/t/guideline-relay-aot/5977

We would like to see the “Fully Featured Relay AOT” feature in V0.8

[2021-02-19 06:24] VertexC opened #7476 "onnx model failed when relay.build()"
Hi,

I am trying to build onnx model with tvm but got following error
[code]
The value `131072` will change if I change the `batch_size` of following code
[code]

The models I used are
[code]

Meanwhile, when `batch_size=1`, all models built successfully. When batch_size is not 1, only vgg16 pass the build but all others (resnet50/mobilenet/inception) failed.

[2021-02-20 07:05] VertexC commented on #7399
Hi @masahi

Thansk for the reply.
I tried with the fellowing modified script and memory still increases.
[code]

[code]

btw, if i comment out
[code]
the memory issue seems to be eased
[code]

[2021-02-22 02:55] slyubomirsky commented on #7466
Fixed

[2021-02-22 02:55] #7466 closed

[2021-02-22 16:51] srkreddy1238 commented on #4102
@wx3000 thanks for the inputs.

I see TF2.x as an amendment rather a replacement to 1.x parser. There are new operator support needed in 2.x which can go as an amend over existing operator/parser support. The control flow ops and List ops can be extended on existing parser infra.

Ref.  #7498
- Extends parser to accept concrete_function  of TF2.x from which it extracts graph.
- Once we have the gr

[2021-02-22 17:28] jwfromm commented on #7310
@merrymercy have you encountered this issue? It seems like it's quite significant given the importance of BERT.

[2021-02-23 00:09] wx3000 commented on #4102
@srkreddy1238 : I took a brief look at PR # 7498. This is useful for simple TF2 models where most of the operators did not change much from TF1 to TF2.  I am still not convinced that extending the current TF parser will be good in the long term, considering the complexity of supporting TF control flow V1 and V2 in the same code base. A clean start may provide a better foundation to build future wo

[2021-02-23 03:25] zhuwenxi commented on #7246
@tqchen , I have a few questions about the implementation detail of your proposal. That is:

1. What is the detailed definition or semantic of `packed_arg_alloca` intrinsic, and how to guarantee it is valid only for the specific packed func call?
    How does the generated tir look like? Something like:
    `let stack_1 = @tir.packed_arg_alloca(...)`
    `tir.tvm_call_packed_lowered("tvm.contrib.c

[2021-02-23 04:39] srkreddy1238 commented on #4102
@wx3000 understand the complexity around control flow ops. But, I am worried about two copies of independent  ops across parsers. Understanding the complexity of existing parser and to avoid redundant ops across parsers here are my thoughts.

- Version independent ops implementation can move to a common file (tf_op.py)
- Common entry point for the parser from_tensorflow with graphdef or concrete_f

[2021-02-23 08:26] asimniazi63 opened #7504 "[FRONTEND][COREML] Support Op LoadConstantNDLayerParams"
Hi, I am trying to get predictions from CoreML model and I got this error. Pasted below:

Traceback (most recent call last):
  File "tvm_coreml.py", line 25, in <module>
    mod, params = relay.frontend.from_coreml(mlmodel, shape_dict)
  File "/home/asim/.local/lib/python3.8/site-packages/tvm-0.8.dev609+gcfe88c1ee-py3.8-linux-x86_64.egg/tvm/relay/frontend/coreml.py", line 593, in from_coreml
    c

[2021-02-23 08:47] xhuohai opened #7505 "[Relay][topi/nn] Ways to get layout of each operator."
I'm using TVM as front end, and need to know the layout of each operator in implement. Operators like conv2d have "data_layout", "kernel_layout" in it's attrs field, which I could use directly, but many operators like tvm.relay.nn.batch_norm/tvm.relay.nn.relu/tvm.topi.add etc. don't have the layout field in attrs. Is there a way to quickly get the layout for those operators?
Thanks very much.

[2021-02-23 14:01] tqchen commented on #7246
The function will looks like
[code]

In the LLVM code generator, we want the compiled code to look like

[code]
This can be done by jumping to the function begin basic block for insertion. https://github.com/apache/tvm/blob/81d9f11ab87dc3ef5fc906aa6ca23737885f7b27/src/target/llvm/codegen_llvm.h#L173
Note that this is a restriction of LLVM IR(alloca always happens in the beginning of the function).

[2021-02-23 14:05] tqchen commented on #7246
semantics of packed_arg_alloca:
- retrieve temp memory allocated during the function entry for packed argument calls, this memory is only alive within the current basic block.

[2021-02-23 19:32] wx3000 commented on #4102
@srkreddy1238 : I like the idea of not duplicating most of the op implementation, but also creating a new parser TF2 to support control flow v2. I think will speed things up for TF2.x model support.

[2021-02-24 00:42] haruband opened #7511 "Error of compilation on main branch"
I have encountered following compilation errors on the main branch. It's okay on the v0.7 branch.

       << ICHECK_INDENT << "Check failed: " << #x " " #op " " #y << *(_check_err.str) << ": "
                                                                      ^
/workspace/include/tvm/support/logging.h:140:25: note: in expansion of macro 'ICHECK_BINARY_OP'
 #define ICHECK_EQ(x, y) ICHECK_BINARY_

[2021-02-24 01:52] altanh commented on #7511
Can you try updating your tvm git submodules?

[2021-02-24 02:11] haruband commented on #7511
It's working. Thank you very much!

[2021-02-24 02:11] #7511 closed

[2021-02-24 02:57] zhuwenxi commented on #7246
The function looks pretty much like the fix I proposed. In my proposal "reallocate the stack in parallel for loop", the function looks like this:
<pre>
fn myfunc() {
   stack_tcode = @tir.tvm_stack_alloca("arg_tcode", 8)
   stack_value = @tir.tvm_stack_alloca("arg_value", 8)
   for i in range(10):
       stack_tcode = @tir.tvm_stack_alloca("arg_tcode", 8)                 // Do reallocation if curr

[2021-02-24 06:59] lcjdd opened #7514 "【Question】How to use storage_align？"
Problem Description：
        Example:  The axis of s[conv2d_bias_stage].op is dim= [1,1,16,16] , But, In the process of ScheduleOps,  dim[2]=16 is optimized by GatherBound to dim[2] = 1（Only one of the 16 data of dim[2] is valid. I want to keep dim[2] = 16 not optimized.  I found that there is a storage_align method in schedule. So I tried to do this：
    **nns, mm, m16, n16= s[conv2d_bias_stage].

[2021-02-24 10:02] #7263 closed

[2021-02-24 14:00] tqchen commented on #7246
Right, as a matter of fact, we should simply change the semantics of tvm_stack_alloca.S ince stack should always be thread local

[2021-02-24 20:25] altanh opened #7523 "[Profiling] Unify profiling into standardized formats/APIs"
cc @tkonolige

As we further improve our TVM profiling tools (such as #7472, #7495, #7500, etc.), it will be good to agree on some kind of standard format/approach to exposing the profiling data. The type and structure of profiled data may be quite different, so ideally the format should be flexible (perhaps JSON-style?).

This issue is intended for tracking these discussions related to profiling

[2021-02-24 20:26] altanh commented on #7523
cc @jroesch

[2021-02-24 20:53] tkonolige commented on #7523
This might be a good discussion to have on discuss.

[2021-02-24 21:41] tqchen commented on #7514
Please open a new thread on https://discuss.tvm.apache.org/

[2021-02-24 21:41] #7514 closed

[2021-02-24 21:42] tqchen commented on #7476
please open a new troubleshooting thread on https://discuss.tvm.apache.org/

[2021-02-24 21:42] #7476 closed

[2021-02-24 21:48] jroesch opened #7526 "[RFC] Tracking Issue for TECompiler"
Tracking issue for [te_compiler](https://discuss.tvm.apache.org/t/rfc-relay-tecompiler-rewrite-existing-compile-engine-to-match-updated-compiler-flow/9233).

### About tracking issues
Tracking issues are used to record the overall progress of implementation and relevant issues.
A tracking issue is however not meant for large scale discussion, questions, or bug reports about a feature.
For open end

[2021-02-24 21:53] tqchen opened #7527 "[RFC][Tracking Issue] TensorIR Scheduling"
This is a global tracking issue for landing the initial PRs of TensorIR scheduling. The original RFC can be found [here](https://discuss.tvm.apache.org/t/rfc-tensorir-a-schedulable-ir-for-tvm/7872). Please feel free to bring in more questions to the corresponding thread.

To make the improvement manageable, we will be breaking the code into several steps. The main architecture scaffolding and
data

[2021-02-25 03:13] hzwangjl opened #7529 "DLTensor from float32 to float16 in cpp deploy"
I have relay.build_module.build the model to fp16, but during cpp deploy, need to convert image data to fp16. I tried the following method, but it didn't work. Is there any efficient method in TVM？ Thank you~
[code]

[2021-02-25 05:17] echuraev opened #7530 "[Bug] Error in constant folding when model has dropout operator"
I have one problem with constant folding during conversion `detr` model. When I call `bind_params_by_name` and apply `FoldConstant` pass for the module, then I get the following error message:
[code]

I can remove `dropout` operator by running `SimplifyInference` pass before `FoldConstant`. But `FoldConstant` is externally available transformation, and any function with dropout op will lead to cra

[2021-02-25 06:58] zhuwenxi commented on #7246
Make sense. So no new intrinsic required, what we need to do is merely to change the semantics of `tvm_stack_alloca` and its corresponding implementations in those 3 backends. Got it.

[2021-02-26 00:29] merrymercy commented on #7310
I think this problem is similar to the problems in #7475 and  #7501
We can fix it by taking a similar approach.

[2021-02-26 04:09] masahi commented on #7530
Ok I will take a look at this

[2021-02-26 07:25] masahi commented on #7530
We can add `SimplifyInference` to prereq passes list in `FoldConstant`: https://github.com/apache/tvm/blob/4e211a735221a9b9d188422025e2d464e37b3c96/src/relay/transforms/fold_constant.cc#L386

If we do this,
[code]
`SimplifyInference` will automatically run before `FoldConstant`. But then `SimplifyInference` would run too many times.

[2021-02-26 08:08] apivovarov opened #7536 "[CI] nvml error: driver/library version mismatch: unknown"
The following builds failed:
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-7535/2/pipeline
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-7535/3/pipeline
Unit Test / python3: GPU
docker/bash.sh tlcpack/ci-gpu:v0.72 ./tests/scripts/task_ci_setup.sh Error:
[code]

[2021-02-26 11:36] WingsleyLui opened #7538 "Causing slow data generating in Pytorch"
Hi, I implemented a cuda kernel using TVM, and converted this function to a Pytorch version. The time for computation is short, but it needs longer time for data generating when using the converted function. I wonder if this would happen in dataloading when I deploy this function for model training.

To reproduce the problem:

[code]
Here, qk_mul is a function converted from TVM module to pytorch

[2021-02-26 11:36] mesauser opened #7539 "[Failure] tests/python/topi/python/test_topi_broadcast.py::test_shift under LLVM12"
Test failed on latest llvm 12.0

FAILED tests/python/topi/python/test_topi_broadcast.py::test_shift - AssertionError:
E       AssertionError:
E       Not equal to tolerance rtol=0.0001, atol=0.0001
E
E       Mismatched elements: 4 / 4 (100%)
E       Max absolute difference: 88
E       Max relative difference: inf
E        x: array([[[-128,  -88],
E               [  32,    8]]], dtype=int8)
E

[2021-02-26 13:55] tqchen commented on #7538
Thanks for bring it up, please open a new thread on https://discuss.tvm.apache.org/

[2021-02-26 13:55] #7538 closed

[2021-02-26 14:47] tqchen commented on #7539
Thanks @mesauser for reporting. We are testing a spectrum of LLVM in the CI. Right now the latest llvm being tested was llvm-10. https://github.com/apache/tvm/pull/7541 moves that to llvm 11. Given LLVM 12 get released recently, we should work to resolve this problem and upgrade the CI.

DO you might to look into it ?

[2021-02-26 17:37] apivovarov commented on #7536
it keeps failing

[2021-02-26 22:11] vinx13 commented on #7530
We can ensure that every op has `TOpPattern` registered

[2021-02-27 02:38] #7536 closed

[2021-02-27 05:09] apivovarov opened #7546 "[torch] slice with Var Length fails"
`torch.slice` works fine for fixed ranges (e.g. a[0:2]). If instead of particular number I use Var for Length (just for Length) (e.g. a[0, L] then `from_pytorch` fails.

The code to reproduce the issue:
[code]

Error:
[code]
@masahi

[2021-02-27 09:15] peter197321 opened #7547 "uTVM for Ethos-U"
Hello all,

I have a question and want to understand if TVM or its micro TVM support or is under consideration to have support for Ethos-U class devices?
Just for your reference: https://tvm.apache.org/2020/06/04/tinyml-how-tvm-is-taming-tiny

Thank you.

[2021-02-28 00:38] comaniac commented on #7547
Hi thanks for your interest. For feature discussions please post it to the discuss forum: https://discuss.tvm.apache.org/

[2021-02-28 00:38] #7547 closed

[2021-02-28 00:58] tqchen opened #7548 "[TEST][FLAKY] test_auo_scheduler_layout_rewrite"
[code]
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/625/pipeline

[2021-02-28 00:58] tqchen commented on #7548
cc @comaniac @merrymercy

[2021-02-28 07:19] comaniac commented on #7548
This happens when no valid schedules can be applied (`load_best_record` returns None in this case). Maybe in the i386 machine it's easy to get timeout and results in this error. We could consider either of the following:

A. Only perform this test on x86.
B. Improve this test by mocking a valid record.

@merrymercy which one do you prefer or do you have other suggestions?

[2021-02-28 21:18] masahi commented on #7548
I remember we had this problem before @jcf94

[2021-03-01 04:48] masahi commented on #7530
@echuraev I confirmed that https://github.com/apache/tvm/issues/7530 fixes this. But note that this solutions leaves `dropout` after foldconstant, if that is not desired you need to run `SimplifyInference`.

[2021-03-01 07:14] echuraev commented on #7530
@masahi Thank you. I think it is the right fix for this problem.

[2021-03-01 08:12] #7530 closed

[2021-03-01 08:37] avt77 opened #7555 "Can't compile cpptest"
When I try to "make cpptest" I see the error message:

[ 93%] Linking CXX executable container_test
CMakeFiles/container_test.dir/tests/cpp/container_test.cc.o: In function `InplaceArrayBase_BadExceptionSafety_Test::TestBody()':
/hdd/_tvm/tvm/tests/cpp/container_test.cc:123: undefined reference to `testing::internal::DeathTest::Create(char const*, testing::Matcher<std::__cxx11::basic_string<char,

[2021-03-01 08:44] zhuwenxi commented on #7246
@tqchen Do you know the specific LLVM API to create a variable-length array with thread-local storage?

I'm starting from the LLVM backend, and I found existing code uses `builder_->CreateAlloca()` to do codegen for the `tvm_stack_alloc`instrinsic: https://github.com/apache/tvm/blob/main/src/target/llvm/codegen_cpu.cc#L892

To make the allocation thread-local, I searched over all the llvm document

[2021-03-01 13:01] merrymercy commented on #7548
We can use this tuning option to make sure we always get a valid schedule. It will try at most 100 schedules but stops immediately when we get a valid one.

https://github.com/apache/tvm/blob/51dc332646d90b77ae29e2e2dbe21f40008a0082/tests/python/relay/test_auto_scheduler_tuning.py#L42-L44

[2021-03-01 13:53] mesauser commented on #7539
The method to legalize/ lower vector shift  (like: v8i16 = sra t15, t14 ) changed in llvm X86 backend change (version>10)
It seems not implemented well in this special case for type i8/i16 yet.

Dumped example shift right for v8i16 and v4i32 type from llvm12:

Legalizing vector op: t20: v4i32 = sra t19, t16
Trying custom legalization
Vector-legalized selection DAG: %bb.0 'broadcast_binary_right_sh

[2021-03-01 17:44] comaniac commented on #7548
I'm afraid that this would make the CI time longer especially on slower machines such as i386.

[2021-03-01 19:18] tqchen commented on #7246
I do not want to create variable length array `builder_->CreateAlloca()` is fine, as long as we do alloca at the beginning of the function using with WithFunctionEntry. Stack will always be allocated as thread local

[2021-03-02 02:33] sunjiweiswift opened #7560 "Suggest to R CallFunc"
https://github.com/apache/tvm/blob/a1d43c15ac6382831370c6de141bf80888761e70/src/relay/backend/build_module.cc#L106-L115

If there are special requirements for returning, such as returning an Int.
template <typename... Args>
  int CallFunc(const std::string& name, Args... args) {
    auto pf = mod.GetFunction(name, false);
    pf(std::forward<Args>(args)...);
    return;
  }
CallFunc<int>(). It wil

[2021-03-02 04:31] guyzsarun opened #7563 "Accuracy drop when use batch and opt_level=3"
When autotuning with batch_size more than 1 and opt_level=3 with mxnet model multiple outputs, I encountered some accuracy drop in some of the output.
opt_level 0, 1 and 2 seems to be fine

**Environment**
TVM : 0.7.0
Mxnet: 1.6.0
OS: Ubuntu 18.04.4

**Code to reproduce**
[code]

**Comparing Accuracy**
[code]
Results
[code]

Link to issue in [TVM discuss](https://discuss.tvm.apache.org/t/bug-perfo

[2021-03-02 09:37] zhuwenxi commented on #7246
Actually, "variable length array" is merely a description I refer to the memory allocated by `builder_->CreateAlloca()`. I have absolutely no desire to change the "builder_->CreateAlloca()" related code, for sure.

I asked for the specify LLVM API is because I miss-understood your proposal, I used to believe you wanna to make the memory created by "builder_->CreateAlloca()" have the thread local s

[2021-03-02 09:55] zhuwenxi commented on #7246
I spent a little implement the fix, and it works in LLVM backend. Here is my implementation details:

1. Modify the "tir.transform.LowerTVMBuilltin" pass in "lower_tvm_builtin.cc", to make the `tvm_stack_alloca` always emitted next to the "tvm_call_packed", rather than the beginning of the PrimFunc;
2. I find that changes to the llvm codegen part is not required, because existing codegen_cpu.cc al

[2021-03-02 17:09] kazimuth opened #7565 "Bring-your-own-codegen c demo doesn't seem to handle tuples"
The bring-your-own-codegen c compiler demo fails to handle the following relay IR:
[code]
Trying to compile this with the Relay VM throws an exception: `Check failed: res.size() > static_cast<size_t>(op->index) (1 vs. 1)`, [here](https://github.com/apache/tvm/blob/b52267e/src/relay/backend/contrib/codegen_c/codegen.cc#L72). However, if the external codegen attributes (`Compiler` and `global_symbol

[2021-03-02 17:34] comaniac commented on #7565
Thanks for your interest. As its name indicates, the C codegen in BYOC is only for demo purpose so its functionality is very limited. You are welcome to send a PR to add the tuple support to the BYOC C codegen.

[2021-03-02 17:34] #7565 closed

[2021-03-02 19:59] #7546 closed

[2021-03-02 20:29] mdw-octoml opened #7567 "Unable to upload model parameters on uTVM"
I have a unit test in the PR below for converting and compiling a simple ONNX model to uTVM.

https://github.com/apache/tvm/pull/7557/files#diff-a99b62f63c41000a38abda08f9320ac0c6917a81612223b77248d43f29a85abaR212

In this test, if I do not specify `-link-params` in the target, and instead call `mod.set_input()` on the model parameters at runtime, the uTVM Zephyr runtime fails with the error `kTvm

[2021-03-02 23:37] aaronpuchert commented on #6832
If @marxin is right, this is a genuine bug. Even if it's currently not reproducible without LTO.

Maybe this should be reopened?

[2021-03-03 06:14] hogepodge commented on #7555
Thanks for reaching out about this issue. The TVM community is happy to help out with questions like this, but they are typically handled through the Discuss community. Can you repost the issue there? It will get more visibility and discussion there. https://discuss.tvm.apache.org

[2021-03-03 09:10] wayne-jd-chen commented on #4118
i am wondering if there is any chance to introduce a quick way to compatible with dynamic shapes?
as @cloudhan mentioned, TensorRT can let user set necessary input dimensions at runtime, and auto compute other tensors' shape:
[Working With Dynamic Shapes](https://docs.nvidia.com/deeplearning/tensorrt/developer-guide/index.html#work_dynamic_shapes)

and i noticed, relay can parse models with dynami

[2021-03-03 10:17] Luuk- opened #7576 "CreateAtomicRMW error C2660 during Windows 10 build."
When trying to build TVM on Windows (with VS 15 2017 and from-source-built LLVM ~11.0.0~ 13.0.0), I encountered some errors in `TVM\tvm\src\target\llvm\codegen_amdgpu.cc` and `...\codegen_nvptx.cc`.
Namely, I got `error C2660: 'llvm::IRBuilderBase::CreateAtomicRMW': function does not take 4 arguments` (twice in each file). When examing `CreateAtomicRMW()`, I notice that it's supposed to be passed

[2021-03-03 10:53] jcf94 commented on #7548
How about to set a smaller N?

[2021-03-03 11:02] masahi commented on #7576
Yes please send a pr to fix build with llvm 11.

[2021-03-03 15:27] tqchen commented on #7555
Thanks for asking, https://github.com/apache/tvm/pull/5185 might be related, please move to the forum for further conversations

[2021-03-03 15:27] #7555 closed

[2021-03-03 15:29] tqchen commented on #7529
@hzwangjl an explicit converstion method would be necessary.  Normally there are intrinsics on the device that are able to do so. The community uses https://discuss.tvm.apache.org/ for this type of questions, let us follow up there

[2021-03-03 15:29] #7529 closed

[2021-03-03 15:31] tqchen commented on #7560
Thanks @sunjiweiswift do you want to open a PR for this? Given this is not a bug and a code improvement instead I will mark it as closed for now. Thank you for your suggestion

[2021-03-03 15:31] #7560 closed

[2021-03-03 15:33] tqchen commented on #7539
I see, Thank you @mesauser for looking into it, seems the solution should be disable the i16 and i8 shift test for now?

[2021-03-03 15:44] tqchen commented on #7505
Thanks @xhuohai . right now there is no easy way to do so. We do have convert layout that transforms layout of an entire network. We generally use https://discuss.tvm.apache.org/ for this kind of topics, please open a new thread there for followup discussions :)

[2021-03-03 15:44] #7505 closed

[2021-03-03 15:46] tqchen commented on #7238
Thsnks @dandingol03 for bringing this up. This may have things to do with colab restrictions(that the env is already implemented via an event loop). A separate process might be necessary to start the rpc server. Please open a new thread on https://discuss.tvm.apache.org/ for followup discussions.

[2021-03-03 15:46] #7238 closed

[2021-03-03 15:47] tqchen commented on #7223
Thanks @TriLoo We checked locally but was not able to reproduce the error. If you still face the problem, please open a followup troubleshooting thread on https://discuss.tvm.apache.org/ Please also try to build from a clean clone

[2021-03-03 15:47] #7223 closed

[2021-03-03 15:49] tqchen commented on #6564
closing due to the stale status, please feel free to open a new trouble shooting thread on https://discuss.tvm.apache.org/

[2021-03-03 15:49] #6564 closed

[2021-03-03 15:50] tqchen commented on #5420
@zxybazh please confirm if this is fixed by recent target change

[2021-03-03 17:53] comaniac commented on #7548
Combining the above ideas, I'll file a PR to
1. Reduce the workload size (i.e., N) from 128x128 to 16x16.
2. Enlarge trial number to 100 with early_stopping=1.

[2021-03-03 19:43] zxybazh commented on #5420
I think it's been fixed in [this PR]( https://github.com/apache/tvm/pull/7063).

[2021-03-03 22:28] #5420 closed

[2021-03-03 22:28] tqchen commented on #5420
Awesome, thanks @zxybazh for confirming

[2021-03-04 00:08] #7548 closed

[2021-03-04 02:55] zhuwenxi commented on #7246
@tqchen Update some of my findings in C and StackVM backends.

1. In the C backend, "tvm_call_packed" crashes: https://discuss.tvm.apache.org/t/bug-codegenc-tvm-call-packed-crashes-when-build-with-target-c/9291, I'm wondering if it is a known issue?

2. For the StackVM side, I didn't find any facilities for parallel execution. If I understand correctly, that means we don't need to do anything for

[2021-03-04 03:26] tqchen commented on #7246
Thanks @zhuwenxi . StackVM does not support parallel execution. So we just need to make sure it works as originally intended. We might need to look into what is happening in the C backend. We should be able to just translate that into a function array

[2021-03-04 08:43] marxin commented on #6832
You can try to build the project with ASAN:
https://github.com/google/sanitizers/wiki/AddressSanitizerInitializationOrderFiasco

and you should see an `initialization-order-fiasco` error.

[2021-03-04 14:00] tqchen opened #7590 "[CI][FLAKY] Qemu pipeline timeout"
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/645/pipeline/44

[2021-03-04 14:00] tqchen commented on #7590
cc @areusch

[2021-03-05 02:14] zhuwenxi opened #7596 "[BUG][CodeGenC]“tvm_call_packed” crashes when build with target “c”"
Forum discussion thread attached here: https://discuss.tvm.apache.org/t/bug-codegenc-tvm-call-packed-crashes-when-build-with-target-c/9291

@tqchen Could you bridge me someone who's familiar with C backend to look into this? I highly doubt this is a known issue.

[2021-03-05 02:17] zhuwenxi commented on #7246
Would you prefer me to fire a PR of llvm/stackvm fix first, for you to review? Since it seems there are some issues in C backend.

[2021-03-05 02:18] mesauser commented on #7539
https://github.com/apache/tvm/pull/7597

[2021-03-05 03:17] tqchen commented on #7246
I see, if the old c backend does not support the packed. Please feel free to send a PR. In the meantime, let us look into a fix together. cc @areusch @ZihengJiang

[2021-03-05 03:32] funnyApe opened #7599 "[BUG][conv3d]output shape error when using "tvm.topi.nn.conv3d_ndhwc( )" in auto_scheduler."
This bug was encountered when I was trying to use auto_scheduler method to optimize the conv3d op.  I referred to the script "/tvm/tutorials/auto_scheduler/tune_conv2d_layer_cuda.py" and did a little modification to implement the optimization of conv3d with format "NDHWC" by call function topi.nn.conv3d_ndhwc(). I set input as  a tensor with layout (N, D, H, W, CI)， and kernel with (KD, KH, KW, CI

[2021-03-05 07:26] guyzsarun commented on #7563
Upon further inspection I have tried disabling `pass_seqs.push_back(transform::CanonicalizeOps());` in [build_module](https://github.com/apache/tvm/blob/main/src/relay/backend/build_module.cc#L308) and the results is back to normal

[code]

[2021-03-05 08:27] FrozenGene commented on #7563
@guyzsarun There is no mxnet model attachment. So I can not reproduce your issue.

[2021-03-05 08:49] zhiics commented on #7563
all the used passes are listed here: https://github.com/apache/tvm/blob/main/src/relay/backend/build_module.cc#L255

can you try to disable each of the passes that run at opt_level 3 to see which one causes the accuracy problem?

one example could be:

[code]

[2021-03-05 10:24] guyzsarun commented on #7563
Disable `CanonicalizeOps` seems to be it
[code]

[2021-03-05 22:42] #7539 closed

[2021-03-05 22:42] tqchen commented on #7539
Thank you @mesauser !

[2021-03-05 23:21] areusch commented on #7246
fixing call_packed in c sounds good, I believe it is a bug. there has been some parallel discussion on the [AOT proposal](https://discuss.tvm.apache.org/t/implementing-aot-in-tvm/9206/9) about whether the C backend should implement PackedFunc calls similar to `tir.call_extern`. Also, I don't _think_ threading or parallel tasks has been tested with C runtime, so we should take that into account too

[2021-03-06 09:07] glc12125 commented on #6266
I think your code includes the time to copy data from GPU to CPU, whereas the time_evaluator(...) does not. Please see [this](https://discuss.tvm.apache.org/t/what-time-does-time-evaluator-include/1293) as an reference.

[2021-03-06 17:35] leeexyz commented on #7421
I found the code snippet. In your case, i.outer.inner is bound to threadIdx.y and j.outer.inner is bound to threadIdx.x .

If the scope is **local**, rank is 3, and the rank of threadIdx is 1, the value for this axis is 0. This is not correct.
https://github.com/apache/tvm/blob/8aa2a7cdbc81a0633b1f78ab28f31921e9fa9e98/src/te/operation/op_utils.cc#L161-L164
[code]

But if the scope is **shared**, r

[2021-03-07 05:35] leeexyz commented on #7596
Hi @zhuwenxi , that's a bug. Actually, this is a case from tutorial **extern op**, [link ](https://tvm.apache.org/docs/tutorials/language/extern_op.html). After investigating, I have found this issue was introduced by #5417. See [diff](https://github.com/apache/tvm/commit/8d7249688771bb6806595931586d95648036f383?branch=8d7249688771bb6806595931586d95648036f383&diff=unified#diff-68d4c81453bf10caf7ae

[2021-03-07 23:37] tqchen commented on #7596
cc @areusch

[2021-03-09 09:45] elfringham opened #7618 "Fails to build with gcc"
Build fails with following error due to code that is protected by ifdef for LLVM presence being referenced by code that is not so protected.

/home/andrew/src/tvm/src/target/metadata_module.cc: In function ‘tvm::runtime::Module tvm::codegen::CreateMetadataModule(const std::unordered_map<std::__cxx11::basic_string<char>, tvm::runtime::NDArray>&, tvm::runtime::Module, const tvm::runtime::Array<tvm::

[2021-03-09 11:59] zhuwenxi commented on #7596
@leeexyz It works when I comment out the ICHECK line, but only for "tvm.build()". It still crashes when trying to run the module:
![image](https://user-images.githubusercontent.com/4969797/110467406-efa61c00-8111-11eb-880a-83d45b2c7665.png)

Below is my code to reproduce the crash:
<pre>
import tvm
from tvm import te

n = 1024
l = 128
m = 235
bias = te.var("bias", dtype="float32")`
A = te.placehol

[2021-03-10 00:23] yongwww commented on #4102
I agree with the main ideas you guys proposed above. @srkreddy1238 @wx3000 Having a common .py for op mapping for both v1 and v2, exclusive ops go to individual parsers (v1, v2).

[2021-03-10 01:56] leeexyz commented on #7596
It caused by `CSourceModuleNode` does not support to get function `runtime::symbol::tvm_module_main`. You can compare with the `LLVMModuleNode` and add it.

[2021-03-10 03:39] FrozenGene opened #7625 "[arm cpu][auto scheduler] Auto scheduler @ arm cpu can not reproduce paper's performance"
currently, in the upstream version of auto scheduler on arm cpu can not reproduce [OSDI paper](https://www.usenix.org/conference/osdi20/presentation/zheng)'s performance. One issue we find is we call wrong compute for arm cpu (https://github.com/apache/tvm/blob/main/python/tvm/relay/op/strategy/arm_cpu.py#L156) and we don't enable winograd for arm cpu too. Open this issue to tracker this.

@jcf94

[2021-03-10 06:01] jcf94 commented on #7599
Is this correct without auto_scheduler?

[2021-03-10 07:44] zhuwenxi commented on #7596
@leeexyz , I looked into the test cases for tvmc (https://github.com/apache/tvm/blob/main/tests/python/unittest/test_target_codegen_c_host.py#L36) and found that all the cases export their module as library and then load the module, before actually run the module, like this:
<pre>
mhost = tvm.build(s, [A, B, C], "c", name="test_fadd")
**mhost.export_library(path_dso)
m = tvm.runtime.load_module(pa

[2021-03-10 07:53] junrushao1994 commented on #7618
This method is defined in `src/target/llvm/llvm_module.h`. Would you like to double check if it is properly included?

[2021-03-10 08:09] gasgallo commented on #7563
You can use [this model](https://drive.google.com/drive/folders/1yGXAKebez7R_ZMjWWxaSBD5ixB68GUyR?usp=sharing) as already reported in https://discuss.tvm.apache.org/t/bug-performance-drop-with-batch-and-opt-level-3/9193/2?u=gasgallo.

[2021-03-10 08:48] leeexyz commented on #7596
I think it does not support it, namely, you cannot run `CSourceModule` directly.

[2021-03-10 09:08] ilovetvm commented on #7421
Thanks for checking this and finding the related code! Do you have any idea on how we could resolve this?

[2021-03-10 09:22] elfringham commented on #7618
On 10/03/2021 07:53, Junru Shao wrote:

The code in |src/target/llvm/llvm_module.h| is surrounded by #ifdef
TVM_LLVM_VERSION

The code that references CreateLLVMCrtMetadataModule in
src/target/metadata_module.cc is not surrounded by that #define.

In my build that #define is not defined => build failure.

Andrew

[2021-03-10 15:40] tqchen commented on #7618
https://github.com/apache/tvm/pull/7621

[2021-03-10 15:40] #7618 closed

[2021-03-10 15:41] #7576 closed

[2021-03-10 15:42] tqchen commented on #7576
Thanks @Luuk- , fixed by #7617

[2021-03-11 01:33] tqchen commented on #7399
@VertexC can you confirm if it is still a problem of GraphModule? we do need to make sure graphmodule get wrapped in a function, so the destructor get triggered

[2021-03-11 02:44] leeexyz commented on #7421
Not clear. But I will try it.

[2021-03-11 13:57] wbstanie opened #7636 "[Frontend/ONNX] "Graph Runtime only supports static graphs, got output type""
Hi, I am struggling for several hours with the following issue:

I've got a model in pytorch that I want to convert to TVM. Here is the code of the model. It includes two GRU and two FC layers.
From what I've found until now, TVM does not support yet RNN operators if converting from pytorch directly. Therefore I've decided to convert my model first to ONNX and then tried to convert it to TVM (wher

[2021-03-11 14:32] tqchen commented on #7636
Thanks for askng, please open a new troubleshooting thread on https://discuss.tvm.apache.org/

[2021-03-11 14:32] #7636 closed

[2021-03-11 14:34] FrozenGene commented on #7563
I could reproduce this issue use the model mentioned. Besides `CanonicalizeOps`, if we just disable `AlterOpLayout` we could pass it too. If we set the target be `cuda`, we could pass too. The difference I could think of is when we set target be `llvm` and turn on ``AlterOpLayout`, the layout is `NCHWc`. Maybe we trigger some bug of `NCHWc` layout when batch size is not 1.

[2021-03-12 00:14] sandeep06011991 commented on #2946
Hi Jared,
Can I join in on this ? I am a beginner looking to find tasks to better understand the TVM eco system

[2021-03-12 01:46] eleflea opened #7645 "quantized pytorch model convert bug in upsample_nearest2d"
When I convert a QNN with `aten::upsample_nearest2d` op, I encountered a error with:

  _File "/home/eleflea/.local/lib/python3.7/site-packages/tvm-0.8.dev704+g3a0e3a5bb-py3.7-linux-x86_64.egg/tvm/relay/frontend/pytorch.py", line 1749, in upsample
    assert isinstance(inputs[-2], float)_

After some research I found that for some quantized op, tvm add qparams manually to help convert. But for `at

[2021-03-12 01:49] masahi commented on #7645
Yes that sounds correct, can you send a PR?

[2021-03-12 01:55] masahi commented on #7645
Actually, for nearest we don't need to wrap upsample with dequantize/quantize, we can use the same compute as fp32, since resize nearest just copies values.

[2021-03-12 05:02] jcf94 commented on #7625
#7635 Add a fix on arm strategy to choose the right `nwhc` conv2d implementation with layout rewrite support.

[2021-03-12 06:22] #7645 closed

[2021-03-12 13:56] SubjectNoi opened #7650 "[Relay] relay.build error when setting attributes of IR Module."
TVM Version: 0.8
OS: Ubuntu 18.04

I encountered a problem when I use `relay.build` to build the context from IR Module **AFTER I SET ATTRIBUTE OF THE IR MODULE** by `mod['main'] = mod['main'].with_attr("Attr_Key", "Attr_Value")` (Since I want to use my own CodeGen by using `mod['main'] = mod['main'].with_attr("compiler", "my_code_gen")` ), the onnx model I use is bertsquad-8.onnx with dynamic sha

[2021-03-12 15:53] masahi opened #7652 "[FLAKY] test_simulated_quantize"
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-7648/1/pipeline

@jwfromm

[2021-03-13 00:15] SubjectNoi commented on #7650
Actually I encounter this [?] Error when I use with_attr to set any attribute of function in IR Module (e.g. Primitive)

[2021-03-13 15:21] tqchen commented on #7527
key data structures are updated as per @jcf94 's comment

[2021-03-15 06:47] hebowen325 opened #7660 "bug about tvm/apps/sgx"
Recently I come across several problems when trying sgx in tvm/apps. To begin with, in tvm/apps/sgx/Cargo.toml, the dependencies are still:

[code]
But tvm/rust/runtime was removed, and I only found that tvm-graph-rt matches 这code in tvm/apps/sgx best, so I replaced all the tvm-runtime with tvm-graph-rt in tvm/apps/sgx. After that I ran ‘cargo run’ command and found that:

[code]
It meant that hea

[2021-03-15 09:17] liushuangddu opened #7662 "Amazon triple containing"
Hi, I'm very glad to find you on this website. I'm a developer from China. Now I does working on Bluetooth Sigmesh . I plan to access the Amazon echo for my device , and then I recgnized before I need the BLE Mesh Credentials- A triple containing the OOB Type (Static only for now), OOB Data (pub key), and Device UUID.
But I has clicked entire website still connot find out the documentation for how

[2021-03-15 17:21] comaniac commented on #7662
I'm not sure if this question is related to TVM. For issue discussions and question answering, please create a post at https://discuss.tvm.apache.org/. Also, please be more specific about what's your task and your current environment.

[2021-03-15 17:21] #7662 closed

[2021-03-17 03:53] jikechao opened #7678 "[BUG] The accuracy of the compiled model declines."
When the model xception-imagenet_origin.onnx was compiled, the accuracy of the compiled model decreases, from 0.78 to 0.77.

12 pictures have a inconsistent prediction results during 300 pictures.
The figure is shown below in the form of : **prediction top_1_class(top_1 class probability)**
![image](https://user-images.githubusercontent.com/29506758/111411012-c8081280-8714-11eb-8820-19245adcffef.p

[2021-03-17 05:06] FrozenGene commented on #7563
Seems we could pass it when we disable more axis to fuse (https://discuss.tvm.apache.org/t/after-tuning-the-model-has-a-inconsistent-prediction-result-with-keras/9383/8?u=frozengene), but I don't know why we could pass it when we do this. Same issue: https://discuss.tvm.apache.org/t/after-tuning-the-model-has-a-inconsistent-prediction-result-with-keras/9383

@icemelon9 @kevinthesun Do you have any

[2021-03-17 07:22] XIAO-XIA opened #7682 "[BUG][Threefry] Seg fault when running threefry_generate with some out_shape"
Segmentation fault occurs when the `out_shape` of `threefry_generate` setted to some cases.

### To Reproduce
#### environment:
Ubuntu 18.04, llvm version 8.0.1
#### script:
[code]
#### error outputs:
[code]
#### error cases:
`out_shape = (1, 3, 224, 224), (1, 3, 32, 32), (1, 3, 16, 16)`

[2021-03-17 10:28] leandron opened #7683 "Golang tests (currently disabled) are broken with "undefined reference to `tvm::runtime::DenseMapNode::kNextProbeLocation'""
I'm just reporting it here as I noticed the issue, but really know nothing about Go to be able to fix it.

When investigating the issue, I also noticed that Go tests are currently disabled in upstream CI:
https://github.com/apache/tvm/blob/4abbe4902e451cc5a963b8b60a70e548d48ace62/Jenkinsfile#L186-L191

When running these tests as part of an internal CI job, it looks like they are broken for about

[2021-03-17 20:50] jwfromm commented on #7652
should be fixed in #7684

[2021-03-18 04:55] #7652 closed

[2021-03-18 06:33] zhuwenxi commented on #7596
@leeexyz I found that 1) comment the ICHECK line 2) use export_library() and load_module() didn't solve all the problem. Still, the program is not able to compile:
![image](https://user-images.githubusercontent.com/4969797/111582831-5a341780-87f6-11eb-923e-9309228b2729.png)

I think the root cause is "tvm.contrib.cblas.matmul" is not a qualified c variable name. Below is the c source file generate

[2021-03-18 11:48] leeexyz commented on #7596
@zhuwenxi Did you build tvm with cblas support?

[2021-03-18 13:18] tqchen commented on #7683
cc @tkonolige @junrushao1994 could be related to recent container migration PR

[2021-03-18 15:02] tqchen commented on #7682
cc @tkonolige

[2021-03-18 20:22] majercakdavid opened #7697 "Build error: TypeError: Map is not registered via TVM_REGISTER_NODE_TYPE"
Hello, while building the ONNX model (originally Pytorch) in TVM I got the following error:
`TypeError: Map is not registered via TVM_REGISTER_NODE_TYPE`

I have quite hard time understanding the reason because as far as I know there is no any "Map" node you can use in the PyTorch/ONNX, also if I use run `.graph` on the ONNX model the output does not contain any definition of the "Map"

[2021-03-18 20:26] comaniac commented on #7697
Hi this usually indicates that your TVM library is not up-to-date. You may check if you `git submodule update --resursive` and rebuild TVM after pulling the last commit.

In addition, for the question like this, please post it to the discuss forum: https://discuss.tvm.apache.org/

[2021-03-18 20:26] #7697 closed

[2021-03-18 21:04] majercakdavid commented on #7697
@comaniac I have tried to update the local repository, build it through conda environment, create a new python environment (venv) and run setup.py install from the build folder but Im still getting the same error

[2021-03-19 01:47] zhuwenxi commented on #7596
Yes, definitely.

[2021-03-19 10:20] xiebaiyuan opened #7705 "build tvm failed with libbacktrace.a : ld: symbol(s) not found for architecture x86_64"
[ 14%] Linking CXX shared library libtvm_runtime.dylib
ld: warning: ignoring file libbacktrace/lib/libbacktrace.a, building for macOS-x86_64 but attempting to link with file built for unknown-unsupported file format ( 0x21 0x3C 0x61 0x72 0x63 0x68 0x3E 0x0A 0x2F 0x20 0x20 0x20 0x20 0x20 0x20 0x20 )
Undefined symbols for architecture x86_64:
  "_backtrace_create_state", referenced from:
      __GLO

[2021-03-19 10:21] xiebaiyuan commented on #7705
on mac os 11.2.1

[2021-03-19 12:56] tqchen commented on #7705
cc @tkonolige

[2021-03-19 14:08] tqchen commented on #7705
https://github.com/apache/tvm/pull/7706 provide a temp patch to disable libbacktrace on MacOS and fallback to the old behavior

[2021-03-19 14:10] tqchen commented on #7682
cc @tkonolige

[2021-03-19 16:49] tkonolige commented on #7705
Are you on an M1 Mac?

[2021-03-19 20:39] junrushao1994 commented on #7705
@comaniac did you have problem on linux?

[2021-03-19 21:22] comaniac commented on #7705
Turns out that I didn't use `set(CMAKE_BUILD_TYPE Debug)`  in my config.cmake. I supposed I was building on debug mode by default until today...I guess this could be a common issue for most people as we didn't specify this in the default config.cmake.

[2021-03-19 23:33] xiebaiyuan commented on #7705
not happend on linux .> @comaniac did you have problem on linux?

[2021-03-19 23:35] xiebaiyuan commented on #7705
on mac os 11.2.1 mbp pro 2018 > Are you on an M1 Mac?

[2021-03-19 23:40] xiebaiyuan commented on #7705
no .
on my 2018 mpb pro

[2021-03-20 08:28] junrushao1994 commented on #7705
@xiebaiyuan would you like to try #7706?

[2021-03-20 08:34] changkaiyan opened #7713 "[BUG] Compile failed due to redundant cast."
When I compile tvm source code, an error occurs. I try to fix it by removing a reduntant 'MaybeAlign'.
In tvm/src/target/llvm/codegen_nvptx.cc and tvm/src/target/llvm/codegen_amdgpu.cc, please change llvm::MaybeAlign::MaybeAlign() to llvm::MaybeAlign()
---------------------------------
/mnt/d/tvm/src/target/llvm/codegen_nvptx.cc: In member function ‘virtual llvm::Value* tvm::codegen::CodeGenNVPTX:

[2021-03-20 09:10] xiebaiyuan commented on #7705
ok i will try it later .
1 day later maybe.

[2021-03-20 09:24] junrushao1994 commented on #7705
Thanks a lot! I just built #7706 locally on my 2019 mbp and it seems to work :-)

[2021-03-21 14:42] znsoftm opened #7715 "[bug] cannot load shared library on Windows"
Windows 10 , LLVM 11

error:

Exception has occurred: TVMError
Traceback (most recent call last):
  File "E:\tvm\tvm\src\runtime\dso_library.cc", line 66
TVMError: ---------------------------------------------------------------
An internal invariant was violated during the execution of TVM.
Please read TVM's error reporting guidelines.
More details can be found here: https://discuss.tvm.ai/t/error

[2021-03-22 04:00] xiebaiyuan commented on #7705
yeah it work well on 7706~

[2021-03-22 16:12] tkonolige commented on #7705
@xiebaiyuan Can you provide more info on this so I can debug? Which compiler and linker are you using? And could you provide the full build log?

[2021-03-22 16:24] tqchen commented on #7705
Thanks @xiebaiyuan , yes it would be great to learn further about what happened in your case.

[2021-03-23 01:13] pratikfegade opened #7724 "Minor bug in storage_access.cc"
Hi,

I have been playing around with TVM and it seems that the barrier insertion pass (implemented in `src/tir/storage_access.cc` and `src/tir/thread_storage_sync.cc`) does not handle the else case of an `IfThenElse` node correctly. Specifically, I think the body of the else case, when present, is not being visited in the code [here](https://github.com/apache/tvm/blob/main/src/tir/transforms/stora

[2021-03-23 01:19] tqchen commented on #7724
thanks @pratikfegade, great catch can you craft a regression test case and send a patch ?

[2021-03-23 02:39] zhuwenxi commented on #7596
@leeexyz , could you please check my screenshot posted above? This is definitely an issue that a variable named "tvm.contrib.cblas.matmul_packed" generated in the c source file, which is not a qualified c variable name (not allowed to have a "." symbol).

[2021-03-23 03:05] xiebaiyuan commented on #7705
cmake ..

=====>

-- The C compiler identification is AppleClang 12.0.0.12000032
-- The CXX compiler identification is AppleClang 12.0.0.12000032
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /Library/Developer/CommandLineTools/usr/bin/cc - skipped
-- Detecting C compile features
-- Detecting C compile features - done
-- Detecting CXX com

[2021-03-23 03:06] xiebaiyuan commented on #7705
➜  build git:(c976a07fa) ✗

make -j16

=======>

Scanning dependencies of target project_libbacktrace
Scanning dependencies of target tvm_objs
[  0%] Creating directories for 'project_libbacktrace'
[  1%] No download step for 'project_libbacktrace'
[  1%] No checkout step for 'project_libbacktrace'
[  1%] No update step for 'project_libbacktrace'
[  1%] No patch step for 'project_libbacktrace'
[

[2021-03-23 03:07] xiebaiyuan commented on #7705
config.cmake:

➜  build git:(c976a07fa) ✗ cat config.cmake
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except i

[2021-03-23 03:08] xiebaiyuan commented on #7705
return to this commit:

c976a07fa

[2021-03-23 03:10] xiebaiyuan commented on #7705
@tkonolige @tqchen   ↑ is the message, and my config.cmake

[2021-03-23 03:45] xiebaiyuan opened #7725 "do we have any check point to contine unfinished tuning jobs?"
do we have any check point to contine unfinished  tuning jobs?

sometimes i have to stop my jobs ,
but i did not find a way to contine my job,

i have to restart from 0

thanks

[2021-03-23 07:01] neoming opened #7726 "VTA make failed"
I follow this tutorial:
[bitstream-generation-with-xilinx-toolchains](https://tvm.apache.org/docs/vta/install.html#bitstream-generation-with-xilinx-toolchains)
I change the `vivado.tcl` file
 from `set scripts_vivado_version 2020.1` to `set scripts_vivado_version 2020.2`  And I successfully generate the ip. But some error was reported when generating bitstream. the output is as follow：

[code]

[2021-03-23 07:46] hebowen325 commented on #7660
@nhynes I find that issues about sgx in tvm were mostly solved by you, could you help me? I would be very grateful indeed for any help you could give me.

[2021-03-23 10:17] majercakdavid opened #7727 "Use WASM model in browser"
Hello,
please is it possible and if how to use the WASM models in the browser on the client side? The problem is that the wasi runtime requires "fs" module to work, which is unavailable on the client-side.

[2021-03-23 13:41] tqchen commented on #7727
helloe @majercakdavid , yes it is possible via emscripten polyfill version of wasi. Please see https://github.com/apache/tvm/tree/main/web#run-wasm-remotely-through-websocket-rpc However things could be a bit outdated. We use discourse forum https://discuss.tvm.apache.org/ for this type of topic. Please open a follow thread there

[2021-03-23 13:41] #7727 closed

[2021-03-23 14:10] tqchen commented on #7725
Thanks @xiebaiyuan please open a new thread on https://discuss.tvm.apache.org/ We generally use the discuss forum for related questions

[2021-03-23 14:10] #7725 closed

[2021-03-23 16:32] tkonolige commented on #7705
@xiebaiyuan Thanks for the extra information. It looks like the compiler is different between libbacktrace and the rest of the cmake project. Can you try this branch: https://github.com/tkonolige/incubator-tvm/tree/fix_libbacktrace_macos and see if that fixes it? (Please make sure you set `USE_LIBBACKTRACE=On`).

[2021-03-23 19:32] areusch commented on #7590
https://ci.tlcpack.ai/job/tvm/job/PR-7653/8/console on `node.aladdin.cuda0`

looks like it is stuck in xargs rm -f

in both cases:
`+ echo 'INFO: NODE_NAME=node.aladdin.cudabuild EXECUTOR_NUMBER=0'`

still waiting for more data, but potentially node.aladdin.cudabuild gets stuck finding *.pyc to remove.

[2021-03-23 20:47] #7682 closed

[2021-03-24 00:53] comaniac opened #7729 "[Bug] Line backtrace results in stack overflow"
After apply the PR #7153, some of my models got stack overflow when running some passes. IIUC, this is because the containers use LOG that occupies the stack, and there's no way to avoid it even turning off the backtrace feature. @tkonolige could you help fix this issue? Thanks.

Also cc @tqchen @junrushao1994 @jroesch

[2021-03-24 01:14] masahi commented on #7713
What LLVM version are you using? The recent PR introduced this change https://github.com/apache/tvm/pull/7617

[2021-03-24 01:17] junrushao1994 commented on #7729
I had a fix for this last summer but it somehow got reverted by the recent libbacktrace PR...I will submit a PR to fix it later this week. Thanks for bringing it up!

[2021-03-24 01:34] comaniac opened #7730 "[Bug] Missing broadcast_to before batch_matmul for CuBLAS"
The PR #7348 removes `broadcast_to` before batch_matmul because batch_matmul already supported implicitly broadcast. However, the CuBLAS implementation isn't changed accordingly, which results in the failure of the following case:

[code]

I guess we need to either add the broadcast_to back or support implicitly broadcasting in CuBLAS implementation.

cc @masahi @jwfromm

[2021-03-24 01:40] masahi commented on #7730
I see, this is the same issue raised by @csullivan in https://github.com/apache/tvm/pull/6616#pullrequestreview-501380546

What was the solution to this problem? @jwfromm @csullivan

[2021-03-24 06:00] leeexyz commented on #7596
@zhuwenxi Let me try it :)

[2021-03-24 07:03] Haoran-Solar opened #7732 "[Bug][Auto-scheduler] generated cuda code"
To be simple, the cuda code that generated by auto-scheduler from file
[code]
I call it as following:
[code]
Then bug occurred :
![image](https://user-images.githubusercontent.com/56677718/112267731-daec8b00-8cb0-11eb-892a-351cb41349e2.png)
kernel ruined cuda api? or something
If I do not run the kernel, nothing wrong.
![image](https://user-images.githubusercontent.com/56677718/112268455-f5733400-

[2021-03-24 07:16] xiebaiyuan commented on #7705
@tkonolige
https://github.com/tkonolige/incubator-tvm/tree/fix_libbacktrace_macos
USE_LIBBACKTRACE=On

➜  build git:(fix_libbacktrace_macos) cmake ..
-- The C compiler identification is AppleClang 12.0.0.12000032
-- The CXX compiler identification is AppleClang 12.0.0.12000032
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /Library/Develop

[2021-03-24 07:27] xiebaiyuan commented on #7705
config.log

====>

This file contains any messages produced by compilers while
running configure, to aid debugging if configure makes a mistake.

It was created by package-unused configure version-unused, which was
generated by GNU Autoconf 2.69.  Invocation command line was

  $ /Users/xiebaiyuan/Downloads/incubator-tvm/cmake/libs/../../3rdparty/libbacktrace/configure --prefix=/Users/xiebaiyuan/D

[2021-03-24 09:53] wxyhv commented on #4118
Dose any progress in dynamic input shape inference? I am expecting it

[2021-03-24 11:37] majercakdavid opened #7734 "[Web] tvmjs runtime error when loading, missing "runtime.SystemLib""
I would like to report a problem with the JS runtime. Currently when being run the instantiation of tvm run smoothly, not resulting in any error:
[code]
However, after invoking this line (just like proposed in the https://github.com/apache/tvm/blob/main/web/tests/node/test_module_load.js):

[code]

The application ended up with the following error:

[code]
Furthermore, I have been able to investig

[2021-03-24 16:31] comaniac commented on #7732
How many trials did you try and how did you apply the schedule from the log file? It's possible for auto-scheduler to generate invalid kernels during the tuning, but they shouldn't be picked ultimately when compiling the model.

[2021-03-24 18:18] csullivan commented on #7730
Thanks @comaniac @masahi. Yes the problem is that different targets, and target specific topi implementations, can support different optimizations. In the case of using the blas libraries supported for a target, implicit broadcast is not supported.

One option that comes to mind is to add a shape legalization pass that adds the broadcast if a target has specific attributes (e.g. libs=cublas/rocbla

[2021-03-24 18:45] comaniac commented on #7730
Another direction I can think of is adding the broadcast support in CuBLAS batch_matmul so that we could have a unified behavior of batch_matmul op in Relay, and we don't need to change anything else. Do you think that's reasonable and doable?

[2021-03-24 18:53] csullivan commented on #7730
Reasonable and doable for the short term. The downside being that it only fixes the problem for one target at a time. We would also need to add broadcast support to RocBLAS and CBLAS/MKL to avoid the issue for those targets.

[2021-03-24 19:29] areusch commented on #7590
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-7438/12/pipeline/

[2021-03-25 06:11] Haoran-Solar commented on #7732
Thanks for reply. I just started to try auto-scheduler, I change nothing in file tune_conv2d, just want to have a test.
Using prams from last layer in ResNet-50, just the tutorials did.
And I solve the problem. To run the generated code, I have to set the number of each dim less than 64 in a threadblock.
Which mean:
[code]
Is that some special limit for auto-scheduler code? Cause some kernels that

[2021-03-25 06:16] comaniac commented on #7732
You are not supposed to run the generated kernel by your own, so this is not a limitation to me. Since this is not a bug, I'm going to close this issue. For future questions, please post them to https://discuss.tvm.apache.org/

[2021-03-25 06:16] #7732 closed

[2021-03-25 08:44] ctlinglingliu opened #7741 "CodeGenOpenCL : expect calling_conv equals CallingConv::kDeviceKernelLaunch"
when I Compile PyTorch Models  demo in https://tvm.apache.org/docs/tutorials/frontend/from_pytorch.html#sphx-glr-tutorials-frontend-from-pytorch-py
i set the configure below
target = "opencl"
target_host = "opencl"
ctx = tvm.gpu(0)
there occurs the error below:
An internal invariant violated during the execution of TVM
Check failed: calling_conv == CallingConv::kDeviceKernelLaunch ==false: CodeGen

[2021-03-25 16:59] tkonolige commented on #7705
I've pushed a change on my branch. Could you try again?

The issue was that cmake resolves `/usr/bin/cc` to a specific compiler + flags on macOS, but does not give you any way to access these flags.

[2021-03-25 18:07] tqchen opened #7744 "[CI] Fix Rust Docs Build"
see https://github.com/apache/tvm/pull/7743

The recent outrages coulde due to multiple folds of reasons:

- The lack of environment variable updates as in task_rust.sh (LLVM_CONFIG_PATH) vs the task_python_docs
- Change of cargo behavior due to updates? (more likely below)
- The cargo might caches previous docs build if files does not change (the recent PR of Device refactor triggers a rebuild).

[2021-03-25 18:13] tqchen commented on #7741
Thanks @ctlinglingliu . please open a new thread on https://discuss.tvm.apache.org/ for followup Qs, you need to set target_host to be llvm

[2021-03-25 18:13] #7741 closed

[2021-03-25 20:56] binarybana commented on #7744
I believe the key error was:

And not the LLVM path because that `LLVM_CONFIG_PATH` warning shows up in previous successful runs.

`c_runtime_api.rs` is normally generated by [bindgen here](https://github.com/apache/tvm/blob/883954ee45b51ca8e2ff96714520a676cd1f8f74/rust/tvm-sys/build.rs#L79). So perhaps that got deleted and bindgen didn't get triggered as part of a semi-stale cache (so didn't trig

[2021-03-26 03:03] Elonaever opened #7749 "Why is the performance of vm runtime so bad?"
I have tried to deploy my own tensorflow model with tvm, and because of the dynamic_rnn layer, I have to use the vm runtime to deploy.
Thought I successfully used tvm to inference my model, the performance of tvm is so bad. While the tensorflow and onnxruntime take about 200ms for once inference, the tvm takes almost 1400ms.
I wonder if it is reasonable,  and what causes this performance gap.
My p

[2021-03-26 06:56] leeexyz commented on #7596
Yes, you are right. It was caused by the same PR I mentioned. Try to modify like
[code]
and add
[code]

[2021-03-26 12:22] tqchen commented on #7749
THanks @Elonaever, please ope a new thread on https://discuss.tvm.apache.org/

[2021-03-26 12:22] #7749 closed

[2021-03-26 13:49] leandron opened #7751 "Inconsistent python dependencies "tlcpack-sphinx-addon, synr" in CI and Docker setup scripts"
There are some dependencies that are inconsistently declared within Docker setup scripts and some CI test scripts. The cases I noticed are declared within `docker/install/ubuntu_install_python_package.sh`, `tests/scripts/task_ci_python_setup.sh` and `tests/scripts/task_ci_setup.sh` with different version constraints:

1. `tlcpack-sphinx-addon` is missing from the Docker setup
2. `synr` version spe

[2021-03-26 13:51] tqchen commented on #7734
Thanks @majercakdavid  Please make sure that wasm_runtime tvmjs_support are linked in your wasm. It is interesting that the partcular function is not registered, as it is done in https://github.com/apache/tvm/blob/main/src/runtime/system_library.cc#L71

as part of here https://github.com/apache/tvm/blob/main/web/emcc/wasm_runtime.cc#L53

I checked with the nodejs testcase and it seems to run fine(

[2021-03-26 13:52] tqchen commented on #7751
Thanks @leandron Because these two deps can be updated more frequently(and ci image update cycle is slower), we choose to use ci_setup script to install them instead of hard baking the CI image. We should also remove synr from ci the docker image for now.

[2021-03-26 15:34] areusch commented on #7751
yeah I also hit this problem. I think we need to fix the CI image update process so it is not such a burden. My opinion is we should implement one method to include dependencies in TVM and support that method, and avoid making CI-time additions like these two. I hit this problem with updating ci-arm and ci-cpu containers as well.

I think if we make the CI image update process less of a burden, it

[2021-03-26 15:53] leandron commented on #7751
I think updating all images at once would be really good, in terms of keeping track of changes that happen in our dependencies.

Specifically in this case, even if we rebuild (**not** from scratch) the image, we'll still end up with the old `synr` version, because Docker will use the cached layer, as the hash of script that install those dependencies didn't change, hence the need for the script to

[2021-03-26 16:35] tqchen commented on #7751
@areusch they are pinned because we want to make sure no cache is needed(e.g. if we change version there will be automatic update process, but won't reinstall other wise).

Note that in the best case scenario we still need a two step in order to update the image(binary image change then the code change) so having a setup hook for fast changing deps might be handy so the developers can directly see

[2021-03-27 03:17] Maximilianxu opened #7758 "TVM RPC will fail when allocating large arrays on an Android phone"
Hi
I want to deploy the BERT-base model on an Android phone. One of its params has shape (30522, 768) with dtype float32, the RPC connection will be reset each time I allocate this array.

[code]
The error message:
[code]

The BERT model was imported from Torch
[code]

The ```optimize_bert``` function has the following passes:
[code]

I also tried the commit https://github.com/apache/tvm/pull/5516

[2021-03-27 06:58] Maximilianxu commented on #7758
[code]
The last error message was generated using the latest version and the following code.
[code]
I cannot allocate a single array with the above code.

[2021-03-27 11:59] Maximilianxu commented on #7758
It seems that this is due to the Android memory limit for the TVM RPC APP.

[2021-03-28 23:01] junrushao1994 commented on #7729
@comaniac would you like to double check this issue given #7756 is merged?

[2021-03-29 08:13] zhuwenxi commented on #7596
@leeexyz , Your fix does make some sense to me. but unfortunately it still crashes my test case:
![image](https://user-images.githubusercontent.com/4969797/112805886-c2adaf00-90a8-11eb-9f09-605fb1119991.png)

This is the c source file generated:
![image](https://user-images.githubusercontent.com/4969797/112806119-06a0b400-90a9-11eb-8ccc-e9877b94f3c9.png)

Have you consider to throw a PR to fix all

[2021-03-29 08:28] wxyhv opened #7762 "The asnumpy() function costs most of the time during infer, how to use numpy to compute directly ranther than use tvm NDarray()?"
After I complete tune module, I build the tvm module,set_input() and run, then I use GraphModule.get_out() funtion to get TVM compute result,  the result is a class named "tvm.runtime.ndarray.NDArray".
However, I need 'numpy.ndarray' to do the following operations,such as get data by index,numpy.expand_dims(),and so on. So I use the asnumpy() function to convert the data type, but the asnumpy() fu

[2021-03-30 02:24] jcf94 commented on #7758
I've met some similar problem like this. This seems to be a system limitation?
@FrozenGene do you have any suggestion?

[2021-03-30 03:24] leeexyz commented on #7596
Hi @zhuwenxi, I'm not sure why introduced the Map `declared_globals_`, it is better to make it more clear before sending a PR. Can you please give me the tests? I'd like to reproduce these issues :)

[2021-03-30 05:58] zhuwenxi commented on #7596
Thanks @leeexyz , this is the code to reproduce the issue.

<pre>
import tvm
from tvm import te
import numpy as np
#from tvm.contrib import utils

n = 1024
l = 128
m = 235
bias = te.var("bias", dtype="float64")
A = te.placeholder((n, l), name="A", dtype="float64")
B = te.placeholder((l, m), name="B", dtype="float64")
C = te.extern(
    (n, m),
    [A, B],
    lambda ins, outs: tvm.tir.call_packed(

[2021-03-30 09:53] #7625 closed

[2021-03-31 04:28] apivovarov commented on #7705
I recommend to test `cmake / make runtime` for arm cross compilation toolchain.
[code]
make sure libbacktrace is built using arm gcc (not x86_64)

[2021-03-31 09:29] xiebaiyuan commented on #7705
@tqchen  it works fine for me with libbackstrace on

[2021-03-31 12:17] #7683 closed

[2021-03-31 16:44] tkonolige commented on #7705
@xiebaiyuan could you post the full build log?

[2021-03-31 16:45] tkonolige commented on #7705
@apivovarov Supporting cross compilation with libbacktrace is going to be a little more involved. I'm not sure I'll have time to work on it.

[2021-03-31 16:49] YuhengHuang42 commented on #7563
Hi, I'm interested in this bug and did some experiments. Here are some findings:

1. If you do the FuseOps transform first on the relay graph, i.e.

[code]

Then the final result is correct.

2. If you use opt_level=4 to build the model, then the final result is also correct:

[code]

This seems pretty weird to me. So I disable some passes here, trying to dig deeper.

[code]

As far as I know, the

[2021-04-01 03:53] xiebaiyuan commented on #7705
@tkonolige
 build git:(fix_libbacktrace_macos) make -j1
[  2%] Built target project_libbacktrace
[ 13%] Built target tvm_runtime_objs
[ 13%] Linking CXX shared library libtvm_runtime.dylib
ld: warning: ignoring file libbacktrace/lib/libbacktrace.a, building for macOS-x86_64 but attempting to link with file built for unknown-unsupported file format ( 0x21 0x3C 0x61 0x72 0x63 0x68 0x3E 0x0A 0x2F 0x2

[2021-04-01 03:53] xiebaiyuan commented on #7705
➜  build git:(fix_libbacktrace_macos) cat config.cmake
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in co

[2021-04-01 03:54] xiebaiyuan commented on #7705
only change USE_LIBBACKTRACE === > ON

[2021-04-01 04:53] #7729 closed

[2021-04-01 10:33] eleflea opened #7782 "Floating point exception when deploying model with C++ API"
Hi.
I try to deploy yolov5 model with C++ API. I have export a `.so` file with `lib.export_library`. Below is a part of the C++ code.

[code]

But when I run this code, it shows:

[code]

I found that error was in `run();` line.

I moved `lib.GetFunction("default")(this->device)` to `predict` method. The program is fine, but got a time overhead due to that function call (for ~26.5ms I believe).

S

[2021-04-01 16:14] masahi commented on #7713
Fixed by https://github.com/apache/tvm/pull/7783

[2021-04-01 16:14] #7713 closed

[2021-04-01 16:30] tkonolige commented on #7705
@xiebaiyuan Can you do a `make clean && make`? Can also provide your `CMakeCache.txt`?

I'm having trouble reproducing this. I wonder if its related to which compiler you are using.

[2021-04-01 22:17] ThatAIGeek commented on #4332
Hi there! What's the state of this issue?
And does/will it support convolutions with sparse kernels?

[2021-04-02 08:01] eleflea commented on #7782
Don't know why but i solved it. We should hold both `lib_factory` and `gmod`. Which means:

[code]

[2021-04-02 08:01] #7782 closed

[2021-04-02 10:15] huochaitiantang opened #7790 "target = None error while tuing an autotvm task"
After PR7534(https://github.com/apache/tvm/pull/7534), while tuning an autotvm task, self.target = None, self.target_host = None (default) in class tvm.autotvm.task.Task, will introduce the error :

@zxybazh

[code]

[2021-04-02 16:21] zxybazh commented on #7790
Hi, this is a case when the target and target host are both empty, the Target constructor function would fail. I have patched the case in the new PR. Thanks for letting me know!

[2021-04-03 12:23] #7790 closed

[2021-04-04 17:35] VoVAllen commented on #7762
You can try dlpack in tvm

[2021-04-05 09:52] laocaoshilaocao commented on #7660
Hi
I have also met the same bug as you posted.
Have you had any idea how to solve that right now?

[2021-04-05 11:16] sambitnayak commented on #6816
Hitting this issue when experimenting. Any suggestions on this, please?

[2021-04-05 13:02] hebowen325 commented on #7660
Currently I have no idea about how to solve it, but my advisor suggested that I can read the source code of rust sgx runner to figure out the whole process.

[2021-04-05 17:02] tqchen commented on #7762
Thanks @wxyhv , can you open a new thread on https://discuss.tvm.apache.org/ about the question. The time of asnumpy could also due to the fact that previous computations are asynchronous, so the cost comes from the actual compute instead of the copy

[2021-04-05 17:02] #7762 closed

[2021-04-06 07:34] TiejunChina opened #7798 "How can I run TVM over RPC on Xilinx ultra96v2?"
I tried to do this with this reference https://tvm.apache.org/docs/tutorials/get_started/cross_compilation_and_rpc.html, but failed. Not sure if currently TVM supports Xilinx ultra96v2.

[2021-04-06 09:25] TheodoreRTG opened #7799 "tests/scripts/task_python_integration.sh failing due to segmentaiton fault on aarch64."
Hello,

I've been trying to get more tests in the scripts directory working on aarch64 devices for use in the jenkins ci.

Currently I'm encountering a segmentation fault when running task_python_integration.sh : tests/python/relay/test_op_level2.py
This segmentation fault occurs when running _compile() with an ic value of 16 and an oc value of 32.

However, This doesn't occur when ic and oc are s

[2021-04-07 01:17] jroesch opened #7805 "[TIR][Bug] The buffer map, parameters and body do not agree on buffer variable identity."
Function parameters in TIR are incorrectly maintained when lowering. Even though there is no reason these should be different we don't maintain the variable identity between the function parameters, the buffer keys, buffer values and function body.

[code]

[2021-04-07 01:18] jroesch commented on #7805
cc @Hzfengsy @junrushao1994 @tqchen

[2021-04-07 02:32] Hzfengsy commented on #7805
It seems that `params` are always the same as `keys`, but unequal with `buffer.data`, while the `buffer.data` is used in the body. Right?

[2021-04-07 03:42] junrushao1994 commented on #7805
Yeah it looks like the params in the PrimFunc signature are not the variables used in the function body.

[code]

Is this or a bug or intentional? like, to avoid cyclic dependency? @tqchen

[2021-04-07 11:58] tqchen commented on #7805
This is an expected behavior. See explaination of the buffer_map signature here https://github.com/apache/tvm/blob/main/include/tvm/tir/function.h#L57

Specifically, in the low level code, note there is a difference between the two things:
- The DLTensor* pointer that points to the DLTensor* structure
- The actual data pointer in the DLTensor structure that points to a data field.

The tvmscript f

[2021-04-07 12:00] tqchen commented on #7805
Given this is more of a development question, we can also followup on the https://discuss.tvm.apache.org/

[2021-04-08 18:30] tqchen commented on #7758
Seems due to the system limitation, please feel free to followup on https://discuss.tvm.apache.org/

[2021-04-08 18:30] #7758 closed

[2021-04-08 18:32] tqchen commented on #7726
Thanks @neoming , can you open a new trouble shooting thread on https://discuss.tvm.apache.org/

[2021-04-08 18:32] #7726 closed

[2021-04-08 20:57] sahooora opened #7811 "BYODT- Error: my custom data type and float32 do not match in BroadcastRel"
I‌ have an onnx model that I want to run with my own data type.

So I got the idea from bring_your_own_datatypes.py and developed the following code:

[code]

but when I try to run it I get the following error:

[code]

After changing the model's data type form float to custom data type using line `expr = cdtype.visit(module["main"])` with printing `expr` I noticed that there are still two instruc

[2021-04-09 01:42] MadFunMaker opened #7812 "TensorRT unit test fails"
I found that the most recent TVM version fails the unit test of TensorRT. I got the following segmentation error. I don't get why I see this error given that the current version in the main branch passed the CI. I tried the following command for that:
`TVM_FFI=ctypes python -m pytest -v tests/python/contrib/test_tensorrt.py`

`platform linux -- Python 3.8.5, pytest-6.2.2, py-1.10.0, pluggy-0.13.1

[2021-04-09 01:51] comaniac commented on #7812
The test passed the CI so it should be fine. Your error shows `ImportError: cannot import name 'graph_executor' from 'tvm.contrib' (/opt/tvm/python/tvm/contrib/init.py)`. Since graph_runtime recently is renamed to graph_executor, is it possible that you are using the old version with updated test?

[2021-04-09 15:00] MadFunMaker commented on #7812
@comaniac Thank you for pointing that out! That was my bad. But. I still get the seg fault as I updated above.

[2021-04-09 17:52] #7812 closed

[2021-04-11 22:33] JC1DA opened #7822 "Could not use GraphExecutor to load optimized models tuned before GraphRuntime renamed into GraphExecutor"
I have a .so module tuned a month ago. When I tried to run that model with the latest tvm.
I noticed that tvm.contrib.graph_runtime was no longer supported. I have to use tvm.contrib.graph_executor instead.
(GraphRuntime was renamed as GraphExecutor from this commit https://github.com/apache/tvm/commit/9b43a646fc70f3d4a2d033c73380e0bae75f4586 )

But when I loaded the module using graph_executor, I

[2021-04-12 05:27] masahi commented on #6689
Still has this problem

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-7824/1/pipeline

[2021-04-12 14:49] tqchen commented on #7246
The original issue was fixed by https://github.com/apache/tvm/pull/7619 thanks to @zhuwenxi !

[2021-04-12 14:49] #7246 closed

[2021-04-12 14:54] tqchen commented on #4387
Fixed in #7246

[2021-04-12 14:54] #4387 closed

[2021-04-13 02:07] tqchen commented on #7822
cc @areusch , we should perhaps add the loader registration of GraphRuntimeFactory back as an alias

[2021-04-13 03:12] zhuwenxi commented on #7596
Ping @leeexyz, any updates?

[2021-04-13 08:38] yzh119 commented on #7683
Met the same problem when trying to build TVM deployment example: https://github.com/apache/tvm/tree/main/apps/howto_deploy.

Error message:
[code]
I also tried the patch in #7696 and add `DTVM_USE_LIBBACKTRACE=0` to CXXFLAGS but unfortunately, it doesn't work.

[2021-04-13 11:20] xiebaiyuan commented on #7705
➜  build git:(c976a07fa) ✗ make clean && make
[  0%] Creating directories for 'project_libbacktrace'
[  1%] No download step for 'project_libbacktrace'
[  1%] No checkout step for 'project_libbacktrace'
[  1%] No update step for 'project_libbacktrace'
[  1%] No patch step for 'project_libbacktrace'
[  1%] Performing configure step for 'project_libbacktrace'
checking build system type... x86_64-app

[2021-04-13 11:20] xiebaiyuan commented on #7705
➜  build git:(c976a07fa) ✗ cat CMakeCache.txt
# This is the CMakeCache file.
# For build in directory: /Users/xiebaiyuan/workspace/tvm/build
# It was generated by CMake: /usr/local/Cellar/cmake/3.19.1/bin/cmake
# You can edit this file to change values found and used by cmake.
# If you do not want to change any of the values, simply exit the editor.
# If you do want to change a value, simply edit,

[2021-04-13 22:06] tkonolige commented on #7683
see #7841

[2021-04-14 09:58] AlexanderSerov opened #7849 "[Bug][WASM] Cannot find function tvm.contrib.sort.argsort_nms in the imported modules or global registry"
We have a network which contained nms layer. I can build a module from this using relay.build and run inference using graph_runtime.GraphModule(lib["default"](ctx)) on host using python tvm interface flawlessly. But inference stuck with an error during inference when run inference of wasm file on node.js.

**Steps to reproduce:**
1) Compile wasm file using following code:
[code]
2) Run wasm module

[2021-04-14 13:12] #7805 closed

[2021-04-14 13:12] #7590 closed

[2021-04-14 14:33] AlexanderSerov commented on #7434
should be pinned in issues

[2021-04-15 02:17] ctlinglingliu opened #7855 "AttributeError: module 'tvm.contrib.graph_runtime' has no attribute 'GraphModule'"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2021-04-15 02:36] leeexyz commented on #7596
Sorry for the late, I've been busy lately :(. I will try it this week.

[2021-04-15 03:03] leeexyz commented on #7596
@zhuwenxi I modified the C source manually and it can be compiled. I will start the patch soon.

[2021-04-15 05:45] CleverFat opened #7856 "Undefined symbols when running task_cpp_unittest.sh on MacOS"
When I added logging.cc to apps/bundle_deploy/bundle.cc, this error disappeared.

Details as follow:
Undefined symbols for architecture x86_64:
  "tvm::runtime::detail::LogFatal::GetEntry()", referenced from:
      tvm::runtime::TVMPODValue_::operator tvm::runtime::Module() const in bundle-9339c6.o
      tvm::runtime::ArgTypeCode2Str(int) in bundle-9339c6.o
      tvm::runtime::detail::LogFatal::Lo

[2021-04-15 06:05] leeexyz commented on #7596
@zhuwenxi Would you please try this quick patch? https://github.com/leeexyz/tvm/commit/7c296af7af7d5af9cf53dd811118adde05bb2699

[2021-04-15 14:01] ChenNie99 opened #7857 "pynq z1 fails to make the VTA, caused by the libbacktrace"
Here is the error:

make[3]: Warning: File '../3rdparty/libbacktrace/posix.c' has modification time 9023918 s in the future
[  0%] Creating directories for 'project_libbacktrace'
[  8%] No download step for 'project_libbacktrace'
[  8%] No update step for 'project_libbacktrace'
[  8%] No checkout step for 'project_libbacktrace'
[  8%] No patch step for 'project_libbacktrace'
[  8%] Performing conf

[2021-04-16 01:42] ctlinglingliu commented on #7855
old version

[2021-04-16 08:19] ctlinglingliu opened #7865 "Check failed: (context != nullptr) is false: No OpenCL device"
when i run the tvm/apps/benchmark of mali GPU i got the error below: RPCError: Error caught from RPC call: [09:33:11] /home/temp/tvm/src/runtime/opencl/opencl_device_api.cc:120:

An internal invariant was violated during the execution of TVM. Please read TVM’s error reporting guidelines. More details can be found here: https://discuss.tvm.ai/t/error-reporting/7793.

Check failed: (context != nullp

[2021-04-17 01:22] tqchen opened #7870 "[TEST][FLAKY] test_vm_rpc"
https://ci.tlcpack.ai/job/tvm/job/main/852/execution/node/234/log/

cc @tkonolige

[2021-04-18 08:24] w-tingting opened #7872 "The Relay type checker is unable to show the following types match. In particular dimension 0 conflicts: 1200 does not match 400."
Hi! I quantified a model with Pytorch, and I am stuck with a problem in the process of transforming this model with TVM.The code is as follows:
[code]
The problem may arise in the code ` mod, params = relay.frontend.from_pytorch(script_module, input_shapes) `
The error is as follows:
[code]

As it said,I run it again after adding the `TVM_BACKTRACE=1` and I get the error:
[code]

How can I solve t

[2021-04-18 09:17] masahi commented on #7872
Can you give us a complete reproducible script?

[2021-04-18 16:54] K1504296 commented on #7799
It seems to be a problem related to LLVM. LLVM 6.0 returns a Segmentation Fault; however, LLVM 10.0 gets stuck during execution. Running with gdb and LLVM 10.0 the following is returned after interrupting the execution:

[code]
The segmentation fault occurs when trying to get the assembly code of the TVM model via : lib.get_source("asm") with an oc value of 32.

Here is a minimal example which sti

[2021-04-18 17:24] K1504296 commented on #7470
Hello,
Any updates on this? I'm consistently running into a similar error in verify_crop_and_resize() on aarch64 devices when running task_python_integration.py.

[code]

[2021-04-19 02:41] eleflea opened #7878 "PyTorch quantized group conv2d raise an error when converting to tvm"
Hi
I find a bug of relay. I used pytorch to quantize a grouped convolution model, and an error was reported in `relay.frontend.from_pytorch` function. Detailed as follows.
[code]

It raise:

[code]

But when `GROUPS = 1`, it works, so i think it is related to quantized group conv2d.
Looking forward to your reply! Thank you.

[2021-04-19 02:45] eleflea commented on #7872
@masahi After researching, I think it is a problem of quantized grouped convolution, and it cannot be quantified in multiple groups. Please refer to #7878 for the specific reproducible script.

[2021-04-19 08:27] masahi commented on #7878
@anijain2305 Is group conv supported by QNN? The following line that does multiplication seems incorrect for group conv case:
https://github.com/apache/tvm/blob/813136401a11a49d6c15e6013c34dd822a5c4ff6/src/relay/qnn/op/convolution.cc#L81

@eleflea For now you can do per tensor quantization to workaround this problem (the error happens if you use per channel weight quantization by `get_default_qcon

[2021-04-19 08:27] masahi commented on #7872
Will continue at https://github.com/apache/tvm/issues/7878

[2021-04-19 08:27] #7872 closed

[2021-04-19 08:38] masahi commented on #7470
I cannot reproduce this error on x86 or vulkan. ` Max absolute difference: 0.98851174` indices this is not simply an accuracy problem, there is something wrong in topi or reference implementation

cc @yongwww

[2021-04-19 10:41] dan-8888 opened #7881 "AttributeError: module 'tvm.auto_scheduler._ffi_api' has no attribute 'RandomModel'"
while running
`tvmc compile --target "llvm" --output resnet50-v2-7-tvm.tar resnet50-v2-7.onnx`

, I got a runtime error:
 AttributeError: module 'tvm.auto_scheduler._ffi_api' has no
attribute 'RandomModel'

Error is in python/tvm/auto_scheduler/cost_model/cost_model.py", line 37

@tvm._ffi.register_object("auto_scheduler.RandomModel")
class RandomModel(CostModel):
"""A model that returns random es

[2021-04-19 10:41] dan-8888 commented on #7881
@leandron

[2021-04-19 11:23] leandron commented on #7881
I couldn't reproduce the issue on my local TVM, current pointing at `1fb32b055171f7b82b506b0f8e3096db1acc180c`, the last commit as I write this. Can you point me to the specific git revision you're using?

I have my TVM installed following the guidance on https://tvm.apache.org/docs/install/from_source.html. Then, running the `tvmc` command line as you pointed above, it produces the output file co

[2021-04-19 11:51] dengliu1105 opened #7882 "[TVM_Release] Can you tell me when to release tvm-v0.8?"
[TVM_Release] Can you tell me when to release tvm-v0.8? thanks

[2021-04-19 11:53] zhuwenxi commented on #7596
@leeexyz Sure, let me have a try.

[2021-04-19 12:02] dan-8888 commented on #7881
Thanks @leandron for investigating.
Git is from branch main and revision 1fb32b055171f7b82b506b0f8e3096db1acc180c
$ pip list
Package     Version
----------- ---------------------
certifi     2020.12.5
chardet     4.0.0
cloudpickle 1.6.0
idna        2.10
lxml        4.6.2
numpy       1.20.2
pip         21.0.1
psutil      5.8.0
requests    2.25.1
scipy       1.6.2
setuptools  49.2.1
tornado     6.1

[2021-04-19 12:07] zhuwenxi commented on #7596
@leeexyz Cool, it works!

[2021-04-19 15:31] dan-8888 commented on #7881
I have done some more tests and managed to get it working via conda on Ubuntu only. with conda build of tvm, I had the same issue on Mac.

[2021-04-19 16:19] tkonolige commented on #7870
Maybe we just bump up the sleep timer?

[2021-04-19 16:36] comaniac commented on #7881
It's not related to tvmc as @leandron mentioned. Could you:
1. Simply run `from tvm import auto_scheduler` to see if the error can be reproduced.
2. Make sure you're using the right dynamic library. Specifically, whether the TVM python package you're running is using the built library of the same version. It may happen when you have multiply TVM builds on your environment.

[2021-04-20 00:26] tqchen commented on #7882
Thanks for asking the progress can be tracked here https://github.com/apache/tvm/issues/7434, given the current progress, we are likely looking at late May. Please feel free to ask followup questions in https://discuss.tvm.apache.org/

[2021-04-20 00:26] #7882 closed

[2021-04-20 00:27] tqchen commented on #7881
Thanks for the great discussion, normally we handle this type of questions on https://discuss.tvm.apache.org/ I would suggest us move the conversation there by opening a new trouble shooting thread

[2021-04-20 00:27] #7881 closed

[2021-04-20 07:57] vicalloy opened #7886 "error for dyn.strided_slice"
1. I get the follow error when run `relay.build`.
[code]

2. The follow code is used to build the model.
[code]
3. `dyn.strided_slice` output a dynamic shape.
[code]

[2021-04-20 08:09] dan-8888 commented on #7881
1. I can reproduce indeed just by running python and `tvm import auto_scheduler`
2. not sure how to debug this one and find  the actual used dynamic library used by TVM.

Anyway that's a progress. Thanks

[2021-04-20 13:11] gquanma opened #7888 "[bug][tvmc]auto scheduler causes an CUDA error: initialization error"
tvm/python/tvm/driver/tvmc/autotuner.py：
![image](https://user-images.githubusercontent.com/17522766/115483908-4a3fa580-a284-11eb-9f17-451e3b8dd9bc.png)

an CUDA error: initialization error occurs due to multiple processes.

[2021-04-20 14:14] jlquinn commented on #7223
I ran into this trying to build within conda.  In my case, I was missing the mkl-include package, which wasn't listed in the conda dependencies.  Posting here in case someone else lands here searching for this issue.

[2021-04-20 14:42] tqchen commented on #7870
https://github.com/apache/tvm/pull/7889 could resolve the issue in a more fundamental way

[2021-04-20 22:34] masahi commented on #7886
Unfortunately this gotcha is common and not well documented. The error means you need to use VM compiler and runtime for this model. I'll talk to people to discuss doc improvement.

[2021-04-20 22:34] #7886 closed

[2021-04-21 03:39] vicalloy opened #7896 "`relay.vm.compile()` get a error `Cannot store int32 to buffer of int64`"
1. I get the follow error when run `relay.vm.compile`.
[code]

2. The follow code is used to compile the model.
[code]
3. error on `ubuntu 20.04`
[code]

[2021-04-21 05:45] areusch commented on #7870
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-7838/26/pipeline/

[2021-04-21 12:54] K1504296 commented on #7470
Hello,
When running with img shape 224 x 224 on aarch64 this error occurs. This doesn't occur with other image sizes (244, 488 255, 128, 488 are all okay.) and it doesn't matter if it's nhcw or nchw.

Looking at the ref_res array produced by tvm.topi.testing.crop_and_resize_python() there are empty entries at the end of the array:
ref_res:
[code]
op_res.asnumpy() :
[code]

Any ideas on why this wo

[2021-04-21 14:18] tqchen commented on #7870
should be fixed by https://github.com/apache/tvm/pull/7889

[2021-04-21 14:18] #7870 closed

[2021-04-21 21:50] anwang2009 opened #7904 "feature request: RelayVM get_input"
Graph executor has the `get_input` function defined. Could we add something similar for Relay VM?

[2021-04-22 01:19] masahi commented on #7896
Can you attach the onnx model or tell me how to download it?

[2021-04-22 02:33] vicalloy commented on #7896
The model: [face-detection-0200.zip](https://github.com/apache/tvm/files/6355080/face-detection-0200.zip)

[2021-04-22 02:44] masahi commented on #7896
ok thanks reproduced. At first sight it is not clear what operator is causing the issue.

[2021-04-22 03:00] masahi commented on #7896
This error is fixed by replacing `3` below with `int64(3)` https://github.com/apache/tvm/blob/390b4d1ce32533810fc8d65dcf211f6d147764aa/python/tvm/relay/op/vision/_vision.py#L97

But I got different error.

[2021-04-22 03:26] shihangfu commented on #7857
Have you solved this problem？
I have a similar question.

[  0%] Creating directories for 'project_libbacktrace'
[  0%] No download step for 'project_libbacktrace'
[  0%] No checkout step for 'project_libbacktrace'
[  0%] No update step for 'project_libbacktrace'
[  1%] No patch step for 'project_libbacktrace'
[  1%] Performing configure step for 'project_libbacktrace'
/bin/sh: 1: /workspace/tvm/c

[2021-04-22 03:35] vicalloy opened #7908 "`vm.run(data).asnumpy()` and get `TypeError: runtime.ADT is not registered via TVM_REGISTER_NODE_TYPE`"
1. The follow code is used to run the model by vm.
[code]

2. The error
[code]

3. The model: [face-detection-0200.org.zip](https://github.com/apache/tvm/files/6355337/face-detection-0200.org.zip)

[2021-04-22 03:47] masahi commented on #7896
ok can you try replacing
https://github.com/apache/tvm/blob/8e23806d2d522b71979d0a2730b38cc5c3bf6185/python/tvm/relay/op/_transform.py#L1017-L1023

with

[code]
With two fixes above `relay.vm.compile` finishes without error. Can you verify the output?

[2021-04-22 03:51] masahi commented on #7908
See https://github.com/apache/tvm/blob/f4490708a559930c6554eec26c377d49bfb46d84/tests/python/frontend/pytorch/test_lstm.py#L202-L211 and its use in https://github.com/apache/tvm/blob/f4490708a559930c6554eec26c377d49bfb46d84/tests/python/frontend/pytorch/test_lstm.py#L239-L241

This is another point where we need to improve our doc on VM usage.

[2021-04-22 04:02] ChenNie99 commented on #7857
Yeah, I have already deployed the VTA on my pynq-z1. As for the problem, I'm not sure but you can try this command:

chmod +x /path/to/tvm/3rdparty/libbacktrace/configure

This may work, and I guess it's because the 'configure' file are not accessed due to its premission setting.

[2021-04-22 04:13] vicalloy commented on #7896
1. I got another error:
[code]

2. The change:
[code]

[2021-04-22 04:24] masahi commented on #7896
See my change above. You need to wrap `x_shape` and `y_shape` too.

[code]

[2021-04-22 05:48] vicalloy commented on #7908
thanks

[2021-04-22 05:48] #7908 closed

[2021-04-22 05:58] vicalloy commented on #7896
thanks, the output is correct.

[2021-04-22 06:07] masahi commented on #7896
Great I'll send PRs for the fix tonight.

[2021-04-22 06:07] #7896 closed

[2021-04-22 08:00] bernhardklein opened #7909 "[arm_cpu] bitserial conv2d TOPI schedule does not support post elementwise ops"
The **bitserial conv2d** nhwc operator is not working if the next operation is **elementwise**, for example if the next operation is a ReLU.
Corresponding [tvm discussion thread](https://discuss.tvm.apache.org/t/arm-bitserial-bug-cryptic-error-message/9757?u=bernhardklein)

@comaniac pointed out that in the [TOPI schedule](https://github.com/apache/tvm/blob/main/python/tvm/topi/arm_cpu/bitserial_c

[2021-04-22 16:27] tqchen commented on #7822
closed by https://github.com/apache/tvm/pull/7868

[2021-04-22 16:27] #7822 closed

[2021-04-24 02:15] mherkazandjian opened #7916 "libbacktrace does not inherit the CMAKE_C_COMPILER and CMAKE_CXX_COMPILER values of the top level project"
This issue is a followup of the discussion in the following thread:
https://discuss.tvm.apache.org/t/cross-compile-the-runtime-only-for-aarch64/9800

basically (just to minimize duplication of the forum discussion)
when cross compiling the runtime only on a x86 host, libbacktrace is causing a link-time issue

[code]

The cleanest current solution (i think) is to turn off using libbacktrace

[2021-04-24 17:46] junrushao1994 commented on #7916
A related issue: #7705

[2021-04-26 05:34] zhiqi-0 opened #7921 "TVM support for A100"
Hi, does TVM support generating kernels (e.g., matmul) on A100 GPUs using TensorCore? I failed to generate matmul (tensorcore, fp16) kernel by using the script from https://tvm.apache.org/docs/tutorials/optimize/opt_matmul_auto_tensorcore.html

[2021-04-26 12:29] tqchen commented on #7596
Closed by https://github.com/apache/tvm/pull/7911. Thanks @zhuwenxi @leeexyz !

[2021-04-26 12:29] #7596 closed

[2021-04-26 12:30] tqchen commented on #7855
Thanks for easking the question, please use https://discuss.tvm.apache.org/ for related questions

[2021-04-26 12:30] #7855 closed

[2021-04-26 12:32] tqchen commented on #7849
Thanks for easking the question, please use https://discuss.tvm.apache.org/ for related questions.

In your particular case, it could due to the original runtime bundle does not include the argsort_nms function. Changing the file https://github.com/apache/tvm/blob/main/web/emcc/wasm_runtime.cc#L44 to include https://github.com/apache/tvm/blob/main/src/runtime/contrib/sort/sort.cc might resolve the

[2021-04-26 12:32] #7849 closed

[2021-04-26 12:34] #7865 closed

[2021-04-26 12:35] tqchen commented on #7811
Thanks for asking the question, the community uses for related support , please bring a new discussion topic on https://discuss.tvm.apache.org/, where more people will be able to watch and answer the questions

[2021-04-26 12:35] #7811 closed

[2021-04-26 12:36] tqchen commented on #7857
Thanks for asking the question, the community uses for trouble shooting , please bring a new discussion topic on https://discuss.tvm.apache.org/, where more people will be able to watch and answer the questions.

You can disable libbacktrace through the cmake command

[2021-04-26 12:36] #7857 closed

[2021-04-26 12:37] tqchen commented on #7909
cc @jwfromm

[2021-04-26 12:37] tqchen commented on #7798
Thanks for asking the question, the community uses for trouble shooting , please bring a new discussion topic on https://discuss.tvm.apache.org/, where more people will be able to watch and answer the questions.

[2021-04-26 12:37] #7798 closed

[2021-04-26 12:38] tqchen commented on #7878
Thanks for asking the question, the community uses for trouble shooting and discussions, please bring a new discussion topic on https://discuss.tvm.apache.org/, where more people will be able to watch and answer the questions.

[2021-04-26 12:38] #7878 closed

[2021-04-26 12:40] tqchen commented on #7856
Thanks @CleverFat for reporting the problem, do you mind open a new PR to add the include of logging.cc? Thank you!

cc @tkonolige @junrushao1994

[2021-04-26 12:41] tqchen commented on #7921
Thanks for asking the question, the community uses for trouble shooting and discussions, please bring a new discussion topic on https://discuss.tvm.apache.org/, where more people will be able to watch and answer the questions.

The old tensor core support is indeed stale, but the community is working on adding new tensorization support via TensorIR

[2021-04-26 12:41] #7921 closed

[2021-04-26 12:41] tqchen commented on #7744
cc @jroesch

[2021-04-26 12:43] #5827 closed

[2021-04-26 12:44] #6389 closed

[2021-04-26 12:45] tqchen commented on #6389
Thanks for good discussions, let us move followups to https://discuss.tvm.apache.org/

[2021-04-26 12:45] #7010 closed

[2021-04-26 12:45] tqchen commented on #7010
closing for now as original flaky issue is fixed

[2021-04-27 00:10] jwfromm commented on #7909
fixed in #7929

[2021-04-27 01:43] wzelang opened #7930 ""CRT not found. Ensure you have built the standalone_crt target and try again""
when I try "../tests/scripts/task_cpp_unittest.sh" for testing TVM. It turned out "CRT not found. Ensure you have built the standalone_crt target and try again".
I followed TVM INSTALL with link: https://zhuanlan.zhihu.com/p/83806067.

[2021-04-27 01:57] wzelang commented on #7930
when I try "../tests/scripts/task_cpp_unittest.sh" for testing TVM. It turned out "CRT not found. Ensure you have built the standalone_crt target and try again".
I followed TVM INSTALL with link: https://zhuanlan.zhihu.com/p/83806067.

[2021-04-27 10:05] hermosayhl opened #7931 "AttributeError: module 'tvm' has no attribute 'module'"
I met this mistake while loading transfered models
[code]

What happened? If not avaliable, how would I load models using tvm?

Listed below are codes.
[code]

[2021-04-27 12:11] tqchen commented on #7931
Please use https://discuss.tvm.apache.org/ for related questions, you should use tvm.runtime.load_module

[2021-04-27 12:11] #7931 closed

[2021-04-27 12:12] tqchen commented on #7930
Please use https://discuss.tvm.apache.org/ to ask related questions

[2021-04-27 12:12] #7930 closed

[2021-04-28 07:50] hermosayhl commented on #7931
Thanks a lot !

[2021-04-28 15:20] AlexanderSerov commented on #7849
@tqchen Thanks, that works. Should we open PR to add this to wasm_runtime.cc on permanent basic?

[2021-04-28 15:29] tqchen commented on #7849
Assuming this is a common usecase, a PR(with comment on why) would be helpful. Thank you @AlexanderSerov !

[2021-04-29 06:38] WeberChen opened #7941 "How could I get the pool_size and pool_stride information from built graph_json?"
Hi all,
I have run the test example in  test_pass_partition_graph.py.
It's OK to export the graph_jason, lib.so and the parameters.
However, when I try to insert the nn.maxpool2d operator, the information of pool_size and pool_stride is missing in graph_json file.
Could someone tell me how to get the above information in graph_json file?
What files should I modify?
Thank you.

---
The following co

[2021-04-30 22:35] tqchen commented on #7941
Thanks for asking the question. Please open threads on https://discuss.tvm.apache.org/ for related questions. The generated json already inlines the pooling configuration into the library so the pooling size configuration is no longer available

[2021-04-30 22:35] #7941 closed

[2021-05-01 21:28] #7909 closed

[2021-05-04 13:52] daniperfer opened #7971 "Runtime error when tracing maskrcnn model: Only tensors, lists, tuples of tensors, or dictionary of tensors can be output from traced functions"
Hi:

I am trying to follow the tutorial in `tutorials/frontend/deploy_object_detection_pytorch.py`, but got the following error:

[code]
First of all, I have built and installed TVM according to the steps described in the [Host setup and docker build](https://tvm.apache.org/docs/deploy/vitis_ai.html#host-setup-and-docker-build) section of Vitis-AI integration tutorial.

I used the `0.8.dev0` versi

[2021-05-04 19:04] masahi commented on #7971
You need to use `model = TraceWrapper(model_func(pretrained=True))`. The output from pytorch maskrcnn model needs to be a tensor or a tuple of tensors. `TraceWrapper` makes sure the output is in a format pytorch tracing supports.

[2021-05-04 19:04] #7971 closed

[2021-05-05 02:06] masahi opened #7979 "AlterOpLayout modifies input module inplace (and other issues)"
https://discuss.tvm.apache.org/t/check-failed-axes-defined-static-cast-int-axes-size-ndim-dimension-mismatch/9887

This seems a recurring issue. A Relay pass shouldn't change the input mod inplace.

[2021-05-05 12:16] echuraev opened #7981 "Constants are stored two times with JSON Runtime"
Hello,

I faced the problem that the TVM export methods doesn’t strip original collection of constant tensor in case of usage external runtime like BNNS/ACL and others. First time we store constants in `GraphRuntimeFactory` when write it to the library and second time in `MetadataModule`. This leads to double size of final exported files and also increases memory footprint in runtime. In fact, it

[2021-05-05 15:00] daniperfer commented on #7971
Thanks for answering @masahi.
I see what you said. I have removed my modifications to the tutorial script, back to the original code, and I've launched again the original script `tutorials/frontend/deploy_object_detection_pytorch.py`, which uses the `TraceWrapper` class.

However, I got a different error this time: **LLVM ERROR: out of memory. Aborted (core dumped)**.

Any thoughts on why that err

[2021-05-05 16:29] comaniac commented on #7981
https://github.com/apache/tvm/pull/7977 should solve this problem.

[2021-05-05 19:08] echuraev commented on #7981
Thank you! I'll check then the PR will be merged.

[2021-05-06 06:59] crazydemo opened #7986 "[PyTorch] ImplementationError: The following operators are not implemented: ['aten::embedding_bag']"
when I try to relay dlrm (pytorch model), I encounter the error:
ImplementationError: The following operators are not implemented: ['aten::embedding_bag']

pytorch=1.7.0, tvm is the latest

cc @yelite

[2021-05-06 14:57] rijulg opened #7989 "Duplicate log definitions from runtime/logging.h"
While compiling on main branch [commit 9bf213d408305df01e1c207fc85cee32f54a5799] I receive the following redefinition warnings

[code]

I looked a bit into the issue and it appears like there is no easy fix since the values are duplicated between 3rd party library in `dmlc/logging.h` and `runtime/logging.h`. Neither of the libraries have namespaced definitions as well which could be a simple fix b

[2021-05-06 15:05] daniperfer commented on #7971
I will reformulate the question in a new issue, since this one is already closed...

[2021-05-06 15:19] daniperfer opened #7990 "LLVM ERROR: out of memory, when tracing maskrcnn model in deploy_object_detection_pytorch.py tutorial"
Hi:

I am trying to follow the tutorial in `tutorials/frontend/deploy_object_detection_pytorch.py`, but got the following error: **LLVM ERROR: out of memory. Aborted (core dumped)**.

First of all, I have built and installed TVM according to the steps described in the [Host setup and docker build](https://tvm.apache.org/docs/deploy/vitis_ai.html#host-setup-and-docker-build) section of Vitis-AI int

[2021-05-06 17:08] tqchen opened #7991 "[VOTE] Adopt the New RFC Process"
Dear Community:

This is a formal vote to adopt the new RFC process after being discussed in the community for a while. Please see the proposed process here https://github.com/apache/tvm-rfcs

This is a formal voting thread for the community to adopt the new RFC process.

Please vote

Vote:
 +1
 0 - I don't feel strongly about it, but don't object
-1 - because..

The VOTE will open for a week.

Th

[2021-05-06 17:15] hogepodge commented on #7991
+1

[2021-05-06 17:16] mbrookhart commented on #7991
+1

[2021-05-06 17:36] Lunderberg commented on #7991
+1

One small question: Under "Tracking Issue", the tracking issue is closed "when the RFC is either completed or abandoned."  Is "abandoned" the same as "postponed" in this context, or is there a distinction between them?

[2021-05-06 17:40] junrushao1994 commented on #7991
+1

Agree with @Lunderberg on the tracking issue

[2021-05-06 17:44] comaniac commented on #7991
+1

[2021-05-06 18:18] hogepodge commented on #7991
@Lunderberg @junrushao1994 good catch, would changing "abandoned" to "postponed" resolve the ambiguity sufficiently?

[2021-05-06 18:23] junrushao1994 commented on #7991
Thanks @hogepodge! Yeah that sounds better to me

[2021-05-06 18:38] electriclilies commented on #7991
+1 Thanks @hogepodge for your hard work on this!

[2021-05-06 18:45] tkonolige commented on #7991
+1

[2021-05-06 19:04] Lunderberg commented on #7991
Thank you!  That resolves my question.

[2021-05-06 19:56] jwfromm commented on #7991
+1

[2021-05-06 20:43] masahi commented on #7990
Can you try different LLVM installation? This is an error coming from LLVM, there is not much we can do about it.

[2021-05-06 20:49] areusch opened #7995 "Update all ci- containers to reflect main"
This is a tracking issue for the process of updating the TVM ci- containers to reflect the following PRs:
- #7926
- #7915

It will also unblock PRs:
- #7858
- #7970 (it's possible we could just include this PR in this update)

Steps:
- [x] Pick the latest revision of `main` and use that specific git hash for following steps. Document it here.
- [x] Build docker containers, tagging them as e.g. `<u

[2021-05-06 22:52] icemelon9 commented on #7991
+1

[2021-05-06 22:55] tkonolige commented on #7989
1. Are your submodules up to date?
2. What are you compiling?

[2021-05-06 23:44] jroesch commented on #7995
So last time I tried to update the images but ran into issues where tests no longer passed under updated GPU and CPU images (see docker pull tlcpack/ci-gpu:v0.73-t3).

I had chased down the image building, there are a few important things.

First disable caching in order to make sure you pull the freshest `apt` as if you have built before you can have a stale layer which pulled an apt-registry whi

[2021-05-07 01:13] zackcquic commented on #7991
+1

[2021-05-07 01:21] abeitian commented on #6258
Hello! In the process of building TVM0.8, I also met the same problem. Could you please tell me how to solve it? Thanks！

[2021-05-07 02:26] rijulg commented on #7989
Submodules look up to date
[code]
I am compiling a copy of `apps/howto_deploy/tvm_runtime_pack.cc ` with `cmake .. -DDMLC_USE_LOGGING_LIBRARY=/usr/local/include/tvm/runtime/logging.h -DCMAKE_BUILD_TYPE=Debug -GNinja
`
CMake complains about unused variables now
[code]

[2021-05-07 03:18] beautyGril100 opened #8001 "[VM]How to deploy Mask-RCNN with C++"
I compiled the Mask-RCNN(pytorch version) model with relay VM, and generated maskrcnn-code.ro and maskrcnn-lib.so. How can I use C + + for deployment? Is there an example to show how to do it?

[2021-05-07 03:21] #7989 closed

[2021-05-07 08:48] beautyGril100 opened #8003 "[VM] How to use Virtual Machine with C++. Is there an example to show how to use it?"

[2021-05-07 15:30] #8003 closed

[2021-05-07 15:30] tqchen commented on #8003
Thanks for asking the question, please open a new thread on https://discuss.tvm.apache.org/

[2021-05-07 15:31] tqchen commented on #8001
Thanks for asking the question, please open a new thread on https://discuss.tvm.apache.org/ since community uses the forum for general types of discussions.

https://tvm.apache.org/docs/deploy/index.html might be relevant

[2021-05-07 15:31] #8001 closed

[2021-05-10 22:14] zxybazh commented on #7991
+1

[2021-05-10 22:31] tvm-archiver commented on #7991
+1

Thierry

[2021-05-11 21:48] areusch commented on #7995
@tkonolige and i will attempt to update to 18.04 (e.g. include #7970) with these updates.

[2021-05-12 09:26] Cjkkkk commented on #7888
Do you have code to reproduce that error?

[2021-05-12 19:53] tkonolige commented on #7995
#8031 contains the updated docker images

[2021-05-12 21:13] areusch commented on #7995
@tkonolige is kindly rebuilding the containers. @tkonolige , can you document the `main` hash used following the steps above?

[2021-05-13 01:17] areusch commented on #7995
Testing: https://ci.tlcpack.ai/job/tvm/job/ci-docker-staging/87/

[2021-05-13 03:32] zyh3826 opened #8033 "build tvm CMakeFiles/Makefile2:136: recipe for target 'CMakeFiles/tvm_objs.dir/all' failed"
I set these configs at build/config.cmake:

set(USE_GRAPH_EXECUTOR ON)
set(USE_PROFILER ON)
set(USE_RELAY_DEBUG ON)
set(USE_LLVM ON)

I use this cmd to build:

cmake ..
make -j4

but there are some error:

                 from /root/tvm/src/arith/int_constraints.cc:36:
/root/tvm/include/tvm/runtime/device_api.h: In function 'const char* tvm::runtime::DeviceName(int)':
/root/tvm/include/tvm/runtim

[2021-05-13 04:00] zyh3826 commented on #8033
in build/CMakeFiles/CMakeError.log, there are also some error msgs:

Change Dir: /root/tvm/build/CMakeFiles/CMakeTmp
Run Build Command:"/usr/bin/gmake" "cmTC_c5039/fast"
/usr/bin/gmake -f CMakeFiles/cmTC_c5039.dir/build.make CMakeFiles/cmTC_c5039.dir/build
gmake[1]: Entering directory '/root/tvm/build/CMakeFiles/CMakeTmp'
Building C object CMakeFiles/cmTC_c5039.dir/CheckSymbolExists.c.o
/usr/bin/c

[2021-05-13 06:20] zyh3826 commented on #8033
I also find libpthead.so in /lib
![image](https://user-images.githubusercontent.com/31238754/118086309-5556a300-b3f6-11eb-95c6-20dc8a79223e.png)

but there are no *pthreads*

[2021-05-13 09:53] zyh3826 commented on #8033
after cmake .., the log in the terminal are:

-- The CXX compiler identification is GNU 7.5.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
-- Check for working CXX compiler: /usr/bin/c++
-- Check for wo

[2021-05-13 15:47] areusch commented on #7991
+1

[2021-05-13 15:54] leandron commented on #7991
+1

[2021-05-13 16:33] areusch commented on #7995
Built from: `55471632d97bb9d0d4535bd977ca4fb7e7cdcc28`

[2021-05-13 17:49] YuchenJin commented on #7991
+1

[2021-05-13 17:58] tvm-archiver commented on #7991
+1

- Ziheng

On Fri, May 14, 2021 at 01:50 Yuchen Jin ***@***.***>
wrote:

[2021-05-13 18:42] tvm-archiver commented on #7991
Hi,

+1

Kind Regards,
Furkan KAMACI

On Thu, May 13, 2021 at 8:58 PM Ziheng Jiang ***@***.***> wrote:

[2021-05-13 19:51] areusch commented on #7995
retesting: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/88/pipeline

[2021-05-13 21:55] tkonolige commented on #8033
Update your submodule

`git submodule update`

[2021-05-13 22:51] tqchen commented on #7715
Thanks for asking the question Please open a new thread on https://discuss.tvm.apache.org/. In this particular case, please check if the dll exist in the corresponding path

[2021-05-13 22:51] #7715 closed

[2021-05-13 22:51] tqchen commented on #7990
Thanks for asking the question, please try to change the LLVM version, followup questions can be asked in https://discuss.tvm.apache.org/

[2021-05-13 22:51] #7990 closed

[2021-05-13 22:54] tqchen commented on #7981
ping @echuraev please close the PR if the problem is fixed

[2021-05-13 22:54] tqchen commented on #7856
gentle ping

[2021-05-13 23:22] liangfu commented on #7991
+1

[2021-05-14 01:39] jcf94 commented on #7991
+1

[2021-05-14 04:19] echuraev commented on #7981
Yes, I remember about it. I'll do it soon.

[2021-05-14 04:50] crazydemo opened #8042 "autoscheduler tune mask rcnn, has no tasks"
with the latest tvm, pytorch and torchvision version.

[2021-05-14 05:26] comaniac commented on #8042
Please post your question to https://discuss.tvm.apache.org/ with more concrete description  and a reproducible example.

[2021-05-14 05:26] #8042 closed

[2021-05-14 06:11] zyh3826 commented on #8033
Thanks for your rely, I followed your advice, and I also find that my tvm floder missing some files, and now it worded, install successed@tkonolige

[2021-05-14 09:39] gquanma commented on #7888
![image](https://user-images.githubusercontent.com/17522766/118251812-9fb15000-b4da-11eb-9ec8-74c621c69700.png)

The above code can reproduce that error.

[2021-05-14 12:09] tqchen commented on #7991
Thanks everyone for participating so far, this vote is extended for another week in case there are more participations

[2021-05-14 14:13] sahooora opened #8046 "Tvm.parser.fromtext() doesn't work with custom data type?!"
Hi,

I'm using my custom data type in tvm-byodt framework. For the following code snippet  I get an error:

[code]

Error:
`TVMError: expected opening brace after 'custom' type incustom`

Does anybody know why I get this error?

[2021-05-14 16:55] mehrdadh opened #8049 "AOT C Codegen lib0.c tvm__run_func function"
Using AOT runtime with C codegen generates two library files: `lib0.c` and `lib1.c`
`lib0.c` includes function declarations for aot runtime. When I use AOT with  micro target it generates `tvm__run_func` function signature twice as shown below:

[code]

[2021-05-14 16:56] mehrdadh commented on #8049
cc @areusch @gromero @Mousius @giuseros

[2021-05-14 17:10] mehrdadh commented on #8049
Here is the target:
tvm.target.target.micro("host", options=["-link-params=1", "--executor=aot"])

[2021-05-14 17:22] areusch commented on #7995
we accidentally tested the wrong thing; so re-re-testing here: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/89/pipeline/6

[2021-05-14 20:40] areusch commented on #7995
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/90/pipeline

[2021-05-15 04:26] altanh commented on #7991
+1

[2021-05-16 07:18] lllggghhh1 opened #8053 "TypeError: auto_scheduler.RPCRunner is not registered via TVM_REGISTER_NODE_TYPE"
Hello, while building the tune_network_cuda.py ( Auto-scheduling a Neural Network for NVIDIA GPU)in TVM , I got the following error:  TypeError: auto_scheduler.RPCRunner is not registered via TVM_REGISTER_NODE_TYPE

Could anyone help me ?

The error:

Traceback (most recent call last):
  File "/tvm-py/tune_network_cuda.py", line 201, in <module>
    run_tuning()
  File "/tvm-py/tune_network_cuda.p

[2021-05-16 08:04] #8053 closed

[2021-05-17 10:23] DzAvril commented on #7563
@FrozenGene I have this problem too. I'm trying to tune an onnx model by autotvm and auto-schedule, the model runs on GPU mali. Tuning with autotvm passed, but failed with accuracy drop using auto-schedule. Followed the suggestion above to disable pass `CanonicalizeOps` or `AlterOpLayout` can help. By the way, the **batch size is 1** and the opt-level is 3. Hope this info can help to locate the bu

[2021-05-17 15:24] echuraev commented on #7981
It looks like the problem was fixed. Thank you!

[2021-05-17 16:29] sacalo opened #8057 "[PyTorch] deformable_conv2 error when converting torch traced model to relay"
After converting a pytorch model to torchscript using the tracing method, I can successfully execute it and make inferences. But when trying to convert the traced model following this code, it fails with the attached traceback error. I can see that is has to do with the "deformable_conv2d" but I'm not able to follow the cause deeper.

using the scripted_model (works OK):
[code]

converting scripte

[2021-05-17 16:44] comaniac commented on #8057
Looks like your model is dynamic? The argument 3 in deformable conv2d is stride, which is expected to be a static constant expression. However, according to the error message, the strides of deformable conv2d in your model is a call node, which usually means the strides was calculated by another operator on the fly. It would be better if you could try to locate and post a subgraph in the model wit

[2021-05-17 19:35] AndrewZhaoLuo opened #8058 "Type checking sometimes allows negative dimensions in shape"
The main example I have is here where avg pool expects an output with negative dimensions in the shape:

[code]

Which produces output including:

`%487 = nn.avg_pool2d(%486, pool_size=[7, 7], padding=[0, 0, 0, 0]) /* ty=Tensor[(1, 1, -5, -5), float32] */;`

*What is expected*:

The type checker will yell at you if it detects nonsensical shapes.

*What can be done*:

This can be done by having the

[2021-05-17 20:06] areusch commented on #7995
seems like the last run was unexpectedly unable to access to the gpu in "Frontend : GPU" phase. retrying with printing `nvidia-smi` before running those tests: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/91/pipeline/

[2021-05-17 20:58] masahi commented on #8057
Does this mean things work if you trace and convert to relay without going through serialization? Note that Torch erases all type information on serialization. This caused problems for quantized model in the past, see https://github.com/pytorch/pytorch/issues/39690. Not sure if this is a related issue.

[2021-05-17 22:09] mehrdadh commented on #8049
This is because the micro target returns `-system-lib=1` by default.
Thanks  @Mousius for pointing out!

[2021-05-17 22:09] #8049 closed

[2021-05-17 22:18] mehrdadh opened #8062 "AOT C Codegen Type Issue"
I have a model that I tried to deploy using AOT runtime. The model final output has type `int8` and based on that I allocated a placeholder for the output like this:

[code]

However, when I look at the C code generated for AOT runtime library, here's what has been generated:

[code]
`output_0` is the placeholder for final output (`output_data0`) that we passed to function `tvm__run_func` and it h

[2021-05-17 22:22] areusch commented on #8062
cc @Mousius @manupa-arm i think Graph Memory planning is sharing the output buffer (here named `output_data0`) with other intermediates. we probably need to add logic to GraphPlanMemory to stop it from doing this when AOT is enabled, since AOT's API treats the output parameter as a user-supplied memory region.

[2021-05-17 22:24] mehrdadh commented on #8062
thanks @gromero for helping to find this issue!

[2021-05-18 08:55] cbswj opened #8067 "Auto-tuning a Convolutional Network for ARM CPU (tutorial error, bug reports)"
tutorial link : https://tvm.apache.org/docs/tutorials/autotvm/tune_relay_arm.html#sphx-glr-tutorials-autotvm-tune-relay-arm-py
XGB API link : https://tvm.apache.org/docs/api/python/autotvm.html#tvm.autotvm.tuner.XGBtuner

I tried autoTVM tutorial and there is a problem.

Frist, I connected Raspberry Pi and the host server with an rpc session and proceeded with autoTVM.

There was a problem with tu

[2021-05-18 09:02] leandron commented on #8067
@cbswj thanks for the detailed reporting on this issue. Can you send a PR with your fix for the tutorial?

[2021-05-18 19:58] manupa-arm commented on #8062
@mehrdadh , can you confirm how do you know the output type is int8 ?
Is this a quantized network ?

I see symptoms of a different problem here because there is a fused cast at the last operator. For argument sake, can you see the last operator's arg type (post-cast) and see whether the issue persists. If my thinking is correct, the compiled model might expect the output type to be int_16 and not

[2021-05-19 10:12] sacalo commented on #8057
Thanks @comaniac I could extract the subgraph of the traced model, after serializing and deserializing it.
@masahi: I have tried the traced model before serializing it and it doesn't work neither.

[code]

[code]
Hope it helps

[2021-05-19 16:18] mehrdadh commented on #8062
@manupa-arm it is a quantized network and the final output is expected to be int8. Here is the full AOT generated library:
[lib1.c](https://gist.github.com/mehrdadh/c43bfab49e493892b7c87a04d2c427dd)

`output_0` has been reused in two other functions which both interpret it as `float` and that causes the issue. I have used float model with the same setup and this issue doesn't happen since reusing

[2021-05-19 16:19] mehrdadh commented on #8062
`output_0` is used in `fused_nn_contrib_dense_pack_add_fixed_point_multiply_add_clip_cast_cast_subtract_14669711146056581479_` as arg3, and also used in `fused_divide_add_round_cast_clip_cast ` as arg1.

[2021-05-19 20:56] torontotong opened #8080 "AttributeError: Module has no function 'tvm.contrib.vta.init' while running test_benchmark_topi_conv2d.py"
Hello,

I am trying to make TVM up running with VTA on my own Stratix 10 FPGA board.
After changed some configuration I could start the test script as show below, howver the program stopped with error, if trace the error all the wat to the bottom, it seems the failure was caused by **_AttributeError: Module has no function 'tvm.contrib.vta.init'_**.
Does anyone can point out where coould wrong or

[2021-05-20 05:41] cbswj commented on #8067
I modified the issue content. Could you take a look again and leave a comment?

[2021-05-20 06:48] JiaruiWang-Jill opened #8087 "topi.nn.conv2d_transpose_nchw and te.gradient behave strange for kernel size (1,1)"
@hzfan  and I found `topi.nn.conv2d_transpose_nchw` and `te.gradient` behave strange when they are combined together and kernel's (height, width)=(1, 1).

For instance,
[code]
Under our testing, test result shows
[code]

Please see the following lines for python test.

[code]

[2021-05-20 06:50] JiaruiWang-Jill commented on #8087
@yzhliu  fyi

[2021-05-20 13:40] leandron opened #8092 "[verilator] test_mobilenet needs to skip in case TVM is built without verilator support"
Since #7972 was merged, it is impossible to run tests without having `USE_VERILATOR ON`.

I understand this is enabled in our upstream CI, but I think that It would be good to have tests dependant on verilator support to be skipped, if I'm testing a TVM build without verilator, such as we have for many other tests.

The error I see, in case you run tests without Verilator support is:
[code]

cc @v

[2021-05-20 14:45] Johnson9009 opened #8093 "Bug in StorageFlatten Cause Mussy Index"
Below simple case can reproduce the issue.
[code]

The IR before and after pass "StorageFlatten" is something like below.
[code]
I can't found a smaller case can reproduce this issue, and the data shape is one of real ResNet-50 layer.
The fix to it can be simple, just like something be done in this temporary and trial PR #8090.
I have done some debugging and analyzing of it.
[code]

[2021-05-20 14:52] leandron commented on #8092
Just to add a bit more of the specifics, I think this can be solved with something similar to this:
https://github.com/apache/tvm/blob/813136401a11a49d6c15e6013c34dd822a5c4ff6/tests/python/contrib/test_bnns/test_conv2d.py#L86

[2021-05-20 15:20] vegaluisjose commented on #8092
Hi Leandro,

You are right, when I was refactoring the code I missed adding the `skip_test()` function back. I will add it right away.

Thanks for catching this up,

[2021-05-20 15:31] vegaluisjose commented on #8092
Fixed here #8094

[2021-05-20 16:04] giuseros commented on #8062
Hi all,
The main problem is that the Graph Memory Planner( in Relay ) sees the output of the graph as a further temporary variable. When using the graph executor this temporary area is then copied to the user real output, but in AOT that *is* the real output.

Why is this a problem? Because GMP can expand temporaries to that they can be shared. Thinking the output is a temporary it expands the out

[2021-05-20 17:10] mehrdadh commented on #8062
Thanks @giuseros!

[2021-05-20 18:36] areusch commented on #7995
apologies for the light updates here. we determined that the "Frontend : GPU" tests get into a state where either the GPU hardware is inaccessible after a while or TVM's existence check is wrong. Since we didn't change the CUDA version used here--we just updated to 18.04--the theory is that there is some interoperability problem between CUDA running in the containers (at 10.0) and the CUDA driver

[2021-05-20 18:43] mehrdadh commented on #8062
will be solved by this PR: https://github.com/apache/tvm/pull/8096

[2021-05-21 03:21] beautyGril100 opened #8100 "[device] set tvm.cpu(1), error occurred when run"
I have two physical CPUs. Each CPU has 32 cores. When I set tvm.cpu (0), the program can run normally. When I set tvm.cpu (1), the program will run with an error. Why? The error is as follows：
![cpu_1_error](https://user-images.githubusercontent.com/45866946/119077198-6fac0480-ba26-11eb-97d4-9fe08ef91172.JPG)

[2021-05-21 08:08] ZhuYuJin opened #8104 "Run slower than original pytorch?"
My mac use the following process:
https://ark.intel.com/content/www/us/en/ark/products/134906/intel-core-i7-8750h-processor-9m-cache-up-to-4-10-ghz.html

Run the official demo. It seems TVM(cost 28ms) run slower than pytorch(cost 22ms), and much slower than onnxruntime(cost 7ms).

I also find a blog that has the same situation with me...
https://zhuanlan.zhihu.com/p/88369758

![image](https://user

[2021-05-21 08:38] cbswj commented on #8067
@leandron
I modified the issue content.
https://github.com/apache/tvm/pull/8103

[2021-05-21 10:14] leandron commented on #8092
Closing this issue - thanks @vegaluisjose

[2021-05-21 10:14] #8092 closed

[2021-05-21 13:16] tqchen commented on #8104
Thanks for asking the question, please open a new thread on https://discuss.tvm.apache.org/, this likely have things to do with the tuning being involved. https://github.com/tlc-pack/tlcbench also contains some more benchmark scripts that might be relevant

[2021-05-21 13:16] #8104 closed

[2021-05-21 13:17] tqchen commented on #8100
Thanks for asking the question, please open a new thread on https://discuss.tvm.apache.org/ as we use the forum for related discussions. For CPU devices, we should always use cpu(0), and the OS should be able to pin threads to two of your CPUs

[2021-05-21 13:17] #8100 closed

[2021-05-21 13:19] tqchen commented on #8080
Thanks for asking the question, please open a new thread on https://discuss.tvm.apache.org/ as we use the forum for related discussions. In this particular case, please confirm the vta on the remote rpc setver is properly build with the VTA FPGA option set to ON

[2021-05-21 13:19] #8080 closed

[2021-05-22 01:08] masahi commented on #8057
@sacalo Can you send me a repro script and model?

[2021-05-23 19:05] #8033 closed

[2021-05-24 09:54] #7856 closed

[2021-05-24 16:07] lunar-walker opened #8118 "Can't pickle local object 'default_module_loader.<locals>.default_module_loader_mgr' while autotuning in Windows 10"
Hi,
I have successfully built TVM (latest 0.8 source from git) on windows 10 x 64. However, while trying to optimize a model (pretrained, insightface arcface r34_v1) through autotune, i encountered
AttributeError: Can't pickle local object 'default_module_loader.<locals>.default_module_loader_mgr'

Issue seems to be in tvm/autotvm/measure/measure_methods.py: Method default_module_loader(pre_load_f

[2021-05-25 06:16] elimsjxr opened #8122 "404 not found when I click https://tvm.apache.org/install/from_source.html"
when I follow the tutorials to install TVM :https://tvm.apache.org/install/from_source.html
there is a warning ：404 not found?

[2021-05-25 07:57] cyyfighting12 opened #8123 "GPU result is different from CPU"
windows10 , cuda 11,1 , from MxNet , CPU result is right，GPU  results is error.
CPU:
device = 'x86.cpu'
ctx = tvm.cpu(0)
GPU:
device = 'x86.cuda'
ctx=tvm.gpu(0)

# **the whole .py:**

import mxnet as mx
import tvm
import tvm.relay as relay
import numpy as np
from tvm.contrib import util
import os

dtype = 'float32'
use_arm64 = False
use_android = False

network = 'IrisAttackCCL'

device = 'x86.cud

[2021-05-25 08:05] cyyfighting12 commented on #8123
elif device == 'x86.cpu':
    target = 'llvm'
    target_host = None

elif device == 'x86.cuda':
    target = 'cuda'
    target = tvm.target.cuda()
    target_host = 'llvm'

**the whole .py:**
# some standard imports
import mxnet as mx
import tvm
import tvm.relay as relay
import numpy as np
from tvm.contrib import util
import os

dtype = 'float32'
use_arm64 = False
use_android = False

network = '

[2021-05-25 13:33] Tomakko commented on #5133
I have encountered a couple more missing op conversions:

`NotImplementedError: The following operators are not implemented: ['aten::remainder', 'aten::copy_', 'prim::dtype', 'prim::unchecked_cast', 'aten::__is__', 'aten::silu_', 'aten::__isnot__', 'aten::append']`

I am using a traced version of https://github.com/rwightman/efficientdet-pytorch

[2021-05-25 22:11] areusch commented on #7995
update: #8130 is an alternate solution to the issues presented in #8108, which doesn't sacrifice accuracy. we have tested this in an instance of the TVM CI using CUDA 11 on the host and docker container side, and all tests pass. we'll now attempt to merge #8130.

following that, we'll disable all CI nodes running CUDA 10 and re-run ci-docker-staging against main using our CUDA 11 containers. based

[2021-05-25 22:51] tqchen commented on #8122
It should be https://tvm.apache.org/docs/install/from_source.html, please feel free to open an new thread on https://discuss.tvm.apache.org/

[2021-05-25 22:51] #8122 closed

[2021-05-25 22:54] tqchen commented on #7991
Thanks everyone for participating, the results are:

+1
Chris, Matt, Lunderberg, Tristan, Lily, Josh, haichen, Zach, Xiyou, Thierry, Andrew, leandro, Yuchen, ziheng, Furkan, liangfu, chenfan, altan

+0 None

-0 None

The vote has passed

[2021-05-26 10:29] sacalo commented on #8057
@masahi I have created a shared folder with the model and the scripts to reproduce the issue
https://drive.google.com/drive/folders/12ZtdjAVDoRP4OiDQuzL9a84oxsyR9_Yx?usp=sharing

Let me know if you need anything more

[2021-05-26 10:43] ekalda opened #8140 "[TEST][FLAKY] tests/python/frontend/tensorflow/test_forward.py::test_forward_combined_nms"
That test failed on a whitespace change, which looks suspicious... https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8124/1/pipeline/

[2021-05-26 12:04] masahi commented on #8057
ok there is an API change in torchvision deform conv2d between 1.7 and 1.8, and we do not support 1.8.

If you replace https://github.com/apache/tvm/blob/720e7b1ebd9b789a1100dee7536d0633c7941dd1/python/tvm/relay/frontend/pytorch.py#L2071-L2073
with
[code]
the deform conv2d problem should be gone. But I hit a different error from this model.

[2021-05-26 13:54] sacalo commented on #8057
thanks for that tip @masahi, I will start researching and trying to solve the problem from there

[2021-05-26 14:46] masahi commented on #8057
It's ok, there is probably another bug in the frontend. I'll take a look.

[2021-05-26 16:15] #7991 closed

[2021-05-26 17:07] areusch commented on #7995
#8130 is merged, testing the containers again. hoping we see green this time: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/92/pipeline

[2021-05-26 21:15] tkonolige commented on #8118
Tuning is not currently supported on windows. Sorry.

[2021-05-27 02:40] euntaik opened #8145 "Auto-scheduler tuned OpenCL kernel produces Invalid Workgroup Size Error"
TVM Version: 0.8
OS: Ubuntu 20.04

Auto-scheduler tuned OpenCL kernel produces Invalid Workgroup Size Error.

Below is the script that I used to reproduce the issue. The script basically creates a tflite model, tunes it and run until an error occurs. It tunes 10 times and runs to check for errors.
I've been able to reproduce the issue in about 100 iterations or less.

[code]

With little bit of mo

[2021-05-27 03:21] euntaik opened #8146 "Performance issue with convolutional layers with big filters (OpenCL)"
TVM Version: 0.8
OS: Ubuntu 20.04

Issue : Auto-scheduler tuned model (more than 20k num_measure_trials) was much slower than other inference engines (Such as TFLite runtime).

My findings was that the time difference between the tvm and tflite widened, bigger the filter size.

Below is the test script that I used to compare the two:

[code]

Above script will generate two tflite model files and t

[2021-05-27 22:32] areusch commented on #7995
It looks like our [most recent run](https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/94/pipeline/41) passed enough to merge the containers. the failure here is actually a separate CI problem triggered by #8023. will submit another PR to fix the issue triggered there, but we should be able to proceed here.

[2021-05-28 12:01] Keshav0205 opened #8159 "[TVM] Build TVM runtime results into segmentation fault"
I am attempting to perform inference using tvm in c++.
The last line in the main function results in a segmentation fault. Before this, everything else seems to be working fine.
Any help would be appreciated.
Thanks in advance.
--------
    #include <dlpack/dlpack.h>
    #include <tvm/runtime/module.h>
    #include <tvm/runtime/registry.h>
    #include <tvm/runtime/packed_func.h>

        int main

[2021-05-29 10:42] hsiehjackson opened #8162 "[Relay] Prunedmodel cannot find dense_op due to duplicated transpose_op"
I use the following code to test sparse inference in TVM. However, when I try to find the dense_op in **relay.Expr** of the model, I find none of the dense operations.
[code]
The reason is in step2 **simplify_fc_transpose** cannot successfully transpose the transpose_op into one line which is duplicated, so step3 **_search_dense_op_weight** cannot get dense_op. I provide the **mod** of step2's out

[2021-05-29 13:14] #7995 closed

[2021-05-29 16:24] comaniac commented on #8162
You can use relay.transform.SimplifyExpr first to remove back to back transposes, so that you should get the IR you want.

[2021-05-29 17:09] hsiehjackson commented on #8162
Thanks! It's fixed!

[2021-05-29 17:09] #8162 closed

[2021-06-01 01:01] #7916 closed

[2021-06-01 12:39] d-smirnov commented on #7995
@areush Not sure but could these failures be related to the container update?
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8151/2
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8149/2

[2021-06-01 13:13] zyh3826 opened #8168 "Program suspended when transform torch script to relay"
I’m transforming torch script to relay using code like this:
`mod_ts, params_ts = relay.frontend.from_pytorch(j_model, shape_list)`
at jupyter notebook, I got the result, but at cmd I find the program suspended and not running, and some massages print in monitor like this:

 [21:02:06] /root/tvm/src/ir/transform.cc:467: Executing module pass : RemoveUnusedFunctions with opt level: 1
[21:02:06] /ro

[2021-06-01 17:35] areusch commented on #7995
@d-smirnov should be resolved by https://github.com/apache/tvm/pull/8160

[2021-06-01 19:59] d-smirnov commented on #7995
Indeed, resolved. Thank you!
--
Dmitriy Smirnov

On Tue, 1 Jun 2021 at 18:35, Andrew Reusch ***@***.***> wrote:

[2021-06-02 01:49] mherkazandjian opened #8173 "docker ci_cpu image build is failing"
Hi,

It seems that building the docker ci_cpu image build is failing.
I tested reproducing this (i think bug) in a vanilla environment OS too, so
i think you should be able to reproduce it with the following procedure:

[code]
the build fails when building at stage `` RUN bash /install/ubuntu_install_tflite.sh``
![image](https://user-images.githubusercontent.com/3264637/120411321-e44f3f00-c354-11e

[2021-06-02 02:14] zyh3826 commented on #8168
my environ：

cpu: Intel(R) Xeon(R) Silver 4116 CPU @ 2.10GHz
llvm: 6.0
tvm: 0.8.dev0

[2021-06-02 15:32] areusch commented on #8173
cc @tkonolige (who may not reply til next week) for possible insight on the error.

I think the tag version commented in `Dockerfile.ci_cpu` is out of date. The version used in CI is documented in `Jenkinsfile`, but we don't currently document the revision from which each version is built.

[2021-06-02 15:34] areusch opened #8177 "Rebuild ci-arm, ci-cpu, and ci-gpu container"
This is a tracking issue for the process of updating the TVM ci- containers to reflect the following PRs:

#8169

Steps:
- [x] Pick the latest revision of main and use that specific git hash for following steps. 61a6ea185caa180afce548807c65261326589b19
    - [x] merge #8088
    - [x] merge #8245
    - [x] merge #8268
    - [x] merge #8291
    - [x] merge #8304
    - [x] merge #8306
    - [x] merge

[2021-06-02 15:34] areusch commented on #8177
cc @d-smirnov @u99127

[2021-06-03 02:46] YuhengHuang42 opened #8182 "Support conv2d transpose operator with groups > 1"
Currently TVM doesn't support Conv2d transpose with groups > 1. When turning Pytorch model to Relay there will be an error.

Detail discussion could be seen at: https://discuss.tvm.apache.org/t/pytorch-error-when-turning-a-simple-pytorch-model-to-relay/10158

P.S. It may be better if TVM can show some warnings saying that a specific parameter for an op is unsupported, rather than  just gives some

[2021-06-03 16:11] YuhengHuang42 opened #8184 "[Relay][Frontend][Pytorch] Prelu definition mismatch in pytorch"
## Description

A similar bug was found in ONNX model, and fixed by this PR: https://github.com/apache/tvm/pull/7208

However, for Pytorch importation, the bug still exists.

By definition: [PRelu definition in pytorch](https://pytorch.org/docs/stable/generated/torch.nn.PReLU.html?highlight=prelu#torch.nn.PReLU), num_parameters can be set at 1 or  the number of channels at input.

However, current

[2021-06-03 22:04] masahi commented on #8184
thanks, it would be great if you can send a PR.

[2021-06-04 09:38] mherkazandjian commented on #8173
@areusch @tkonolige
maybe it is a good idea to have building the docker container in some kind of a CI too (as a separate pipeline or as a separate stage in the main CI pipeline?)

[2021-06-04 10:15] leandron commented on #8173
@mherkazandjian Yes, I'm working on this, aiming to have a specific pipeline to update the docker images we use and publish them in a staging area.

[2021-06-04 12:57] tqchen commented on #8118
Thanks for asking the question, you are more than welcomed to continue the topic on https://discuss.tvm.apache.org/. You can however, setup an RPC server on windows and run tuning from linux via cross compilation, please see https://discuss.tvm.apache.org/t/cross-compilation-for-windows/7698 for the an example

[2021-06-04 12:57] #8118 closed

[2021-06-04 12:58] tqchen commented on #8087
ping @yzhliu @hzfan do you have more info on this? cc @altanh

[2021-06-04 12:58] tqchen commented on #8093
gentle ping @Johnson9009 to see if you have more followups :)

[2021-06-04 12:59] tqchen commented on #7730
gentle ping @comaniac to see if you get a chance to followup on this issue

[2021-06-04 16:43] comaniac commented on #7730
While @csullivan proposed a long term solution to resolve the implementation difference between targets, this issue on CUDA has been workaround in PyTorch frontend in the PR mentioned above. Specifically, now if either one of the two inputs of matmul is 2D, then PyTorch frontend reshapes the 3D tensor to 2D and uses `dense` instead of expanding the 2D tensor to 3D and using `batch_matmul`. Meanwhi

[2021-06-04 20:10] #8184 closed

[2021-06-04 21:13] areusch commented on #8173
@mherkazandjian @leandron agreed this would be much more optimal!

[2021-06-04 22:28] areusch commented on #8177
also #8088 needs to be a part of this

[2021-06-06 20:55] abuvaneswari commented on #7204
I am considering buying Alveo U50 and following the VTA workflow. Can someone let me know if Alveo U50 is compatible with VTA? It is one of the supported PYNQ boards as you can see from the [PYNQ](http://www.pynq.io/board.html) site.

@rhzhang1995 , were you successful with your VTA workflow on Alveo U50?

[2021-06-07 00:47] vinx13 commented on #8159
Thanks for asking the question, please open a new thread on https://discuss.tvm.apache.org/ as we use the forum for related discussions.
If error occurred in `tvm::runtime::Module mod = (*tvm::runtime::Registry::Get("tvm.graph_runtime.create"))(json_data, mod_syslib, device_cpu, device_cpu_id);` you might want to check whether graph runtime is enabled see
https://github.com/apache/tvm/blob/main/cm

[2021-06-07 00:47] #8159 closed

[2021-06-07 01:03] vinx13 commented on #8145
Thanks for asking the question, please open a new thread on https://discuss.tvm.apache.org/ as we use the forum for related discussions. For this case, could you if check hardware params are correct?

[2021-06-07 01:03] #8145 closed

[2021-06-07 01:05] vinx13 commented on #8123
Thanks for asking the question, please open a new thread on https://discuss.tvm.apache.org/ as we use the forum for related discussions. Could you try to identify which operator goes wrong?

[2021-06-07 01:05] #8123 closed

[2021-06-07 05:03] zackcquic commented on #4468
Hi:

I am wondering if there is any update on this proposal (after IR unified)?

[2021-06-07 05:24] zackcquic commented on #4449
Hi @gussmith23:

I just start playing with TVM this year. I'd think this is very useful to me.

Do you keep the link? I'd like to know more details.

I am wondering if you have plan to make this upstream to TVM?
Seems this RFC didn't updated for a long time.

[2021-06-07 09:24] mherkazandjian commented on #8173
Great. If you need help testing please let me know, i'll be happy to give it a test drive.
btw, may you confirm that the ci_cpu is broken? or it is something that has to do with my environment, although i tested on a vanilla machine.

[2021-06-07 10:58] Johnson9009 commented on #8093
@tqchen Sorry for slow action, this issue has nothing to do with the idea we talk about in #8090, my fix of this issue maybe not the best one, but it is a simple and workable one, if you have better one, please let me know, thanks.
By the way, the idea we talk about before in #8090, after more testing, I found the code of mul mod merging can't be replaced by the simplifiers of analyzer, as you sai

[2021-06-08 08:20] masahi commented on #8140
The same error happened at https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8126/8/pipeline

@trevor-m This is `q != 1` case (each class has its own box), the new code path from https://github.com/apache/tvm/commits/main is not used.

[2021-06-08 10:19] Keshav0205 opened #8209 "Track TVM cpp code memory usage"
I want to determine the runtime memory usage of tvm cpp code for inferencing. Is there any way I can do this??
Thanks in advance

[2021-06-08 10:26] leandron commented on #8209
Hi @Keshav0205, this is more like a questions/discussion rather than an issue. Please post it on the discussion forum at https://discuss.tvm.apache.org/.

Thanks

[2021-06-08 10:26] #8209 closed

[2021-06-08 19:38] masahi commented on #8140
I was informed that there was another failure at https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8179/6/pipeline/ which does use the new code path. I was able to get it fail after 970 trials.

[2021-06-08 19:45] masahi commented on #8140
I'm not sure if the two flaky ness are due to the same reason, in which case yes, we need to look at the core NMS loop. Are you sure the conversion logic in TF frontend for `q != 1` case is correct?

[2021-06-08 21:34] masahi commented on #8140
The reproduction I got locally was due to a tie in scores. The top 2 scores have identical scores but the order is swapped between TF / TVM:

[code]

[2021-06-09 08:26] tiandiao123 commented on #8057
Hi, does it have some progress? I have the same issue here.

[2021-06-09 08:29] tiandiao123 commented on #8057
If you guys can check, I found that the deformable conv2d ops of pytorch and the deformable conv2d op of relay api have different result : https://discuss.tvm.apache.org/t/how-to-fix-the-difference-of-deformable-conv2d-op-between-relay-api-and-pytorch-api/10180.

[2021-06-09 10:17] codeislife99 commented on #8057
It is possible that relay and PT have different deform conv 2d results. I had put up a PR which fixed this for PT 1.6 . It's possible they changed something for later versions. My guess is that if something was changed it must be how the outer points are interpolated during the bilinear interpolation step because that's the only place where framework implementations differ as well.

[2021-06-09 10:37] masahi commented on #8057
Yeah CI runs PT deformable conv2d test with PT 1.7. It seems PT 1.8 changed something in their deformable conv2d, the same test doesn't seem to work anymore. Even after I apply the fix in https://github.com/apache/tvm/issues/8057#issuecomment-848712212 to workaround the API change, there is a shape mismatch issue.

[2021-06-10 01:46] tiandiao123 commented on #8057
OK！I see! Pytorch 1.8 add modulated deformable conv2d in it, probably we need to add it too. I mean deformable conv2d has a mask parameter

[2021-06-10 02:05] YongtaoHuang1994 opened #8232 "NVIDIA GPU inference on TVM Docker"
**OS**: ubuntu 18.04
**NVIDIA GPU**:  GM107GL [Quadro K620]

First, the inference code can run in the on the physical machine (no docker env)
[code]
Then, we wanna test TVM in docker environment.
I have build the docker as https://github.com/apache/tvm/tree/main/docker

[code]
Docker building and runing are both successful.

But when I infer the resnet-18 **_inside_** the docker 'ci_gpu', I got th

[2021-06-10 02:50] dvhg opened #8233 "[Bug] PyTorch MaskRCNN GPU OOM error"
I'm trying to run PyTorch MaskRCNN on GPU and have been running into GPU memory issues. I get errors when running repeated inferences using different inputs. There's some variety in the error messages but this is the most common:
[code]
When looking at GPU memory usage (using `nvidia-smi`), I see memory usage increases over time until the test crashes once it nears the maximum. I'm running this on

[2021-06-10 04:33] #7730 closed

[2021-06-10 06:11] masahi commented on #8233
Is this specific to MaskRCNN? What happens if the target is CPU?

[2021-06-10 19:47] areusch commented on #8062
will close this when the PR or another solution merges

[2021-06-10 21:45] mherkazandjian commented on #8173
@areusch please checkout the following PR #8239

the tensorflow issue during building the ci_cpu seems to have been fixed, i am not sure why, probably some tensorflow dependency has been updated.

technically the PR  #8239 fixes is issue (not for the original reason though)

[2021-06-11 01:19] mherkazandjian commented on #8173
this issue is not relevant anymore, the ci_cpu build is succeeding
https://github.com/apache/tvm/issues/8173

[2021-06-11 01:19] #8173 closed

[2021-06-14 21:32] mehrdadh opened #8255 "[microTVM] RPCSession Device Type Bug"
While running graph executor debugger with micro target (e.g. qemu_x86), [device](https://github.com/apache/tvm/blob/1c251f50ee616507bdfd8866408e7acf9888cc3f/python/tvm/rpc/client.py#L75) function generates invalid device_type.
In this case we have:
[code]
I think `dev.device_type` is expected to be 1 since this is a `cpu` type.

[2021-06-14 22:45] masahi commented on #7979
Other related issues
* https://github.com/apache/tvm/pull/8143
* https://discuss.tvm.apache.org/t/frontend-onnx-fail-to-compile-an-onnx-model-at-opt-level-3/9926

[2021-06-14 23:35] mehrdadh opened #8258 "[CI QEMU][Docker] pip3 access to /opt/tvm-env"
Some people are using the CI docker image for development purposes and sometimes we need to install extra packages to test something. I'm using `tlcpack/ci-qemu:v0.04` and I'm trying to install some packages for a specific model that I'm testing. My understanding is that the image is built in a way that any user that login has similar access to the user who built the image. However when I login to