[2018-11-30 12:40] grwlf commented on #2174
May I join this channel too?

[2018-11-30 17:18] merrymercy commented on #2205
It seems to be the llvm compatibility problem.

Solution here https://discuss.tvm.ai/t/solved-the-different-results-with-the-same-config/1238/2

[2018-11-30 17:18] #2205 closed

[2018-11-30 19:54] ajtulloch opened #2207 "Supporting reduction domains where the RDom depends on axis variables?"
Here's a minimized example of a compute declaration that I would have thought should be able to be handled by TVM. Essentially, we want the range of our summation variable to be dependent on the value stored in  corresponding `length` tensor. For example:

[code]

The generated IR (from tvm.lower(..) looks like:

[code]

which seems reasonable.  Unfortunately, `tvm.build` fails with

`tvm._ffi.bas

[2018-11-30 20:57] tqchen commented on #2207
Thanks, @ajtulloch for reporting this, it is a fun bug to catch. The main of the problem cause is we call substitution too early only on the loop body before.

Should be fixed by https://github.com/dmlc/tvm/pull/2208

[2018-12-01 00:18] ajtulloch commented on #2207
Thanks for the fix @tqchen, this looks great. It should make certain sparse operations much easier to implement (and more generalizable), without having to fallback into extern ops. Thanks!

[2018-12-01 00:30] #2207 closed

[2018-12-01 05:44] jroesch opened #2212 "[RELAY][DOCS] Relay Documentation Sprint"
Now that we are working towards a beta version of Relay and have stabilized many of the APIs it would be good to sprint on completing a first version of the documentation for the APIs and IR.

We have a couple pieces of docs:

- [x] Tianqi's tutorial (see #2185)
- [x] API Docs (see #1750, @jroesch is in process of updating it)
- [x] Language Reference (will be derived from #1750).
    - [x] Add in

[2018-12-02 09:40] vinx13 commented on #2182
@tqchen Since the element type of `tvm::runtime::NDArray` is only available at runtime, is there a better way to access elements than using a switch over different types?

[2018-12-02 17:30] tqchen commented on #2182
For now, seems switching over different types is the best way. We don't need to check for strange types and it is fine to only support types we know. We can build a few helper functions on this

[2018-12-02 23:06] joshpoll commented on #1782
I'm closing this issue since the text format PR has been merged. #1935 contains the missing pieces that didn't make it into #1781 and further discussion about the text format should be moved there.

[2018-12-02 23:06] #1782 closed

[2018-12-03 16:45] obust opened #2222 "[IMPROVEMENT] Support pathlib Path"
# Feature Request

All functions and methods taking a path as argument should support the `pathlib Path` type.
`pathlib` is the preferred API to handle paths in python 2.7+ (although there is no official PEP8 recommendation). It would be good to at support it and maybe even advertise it in the tutorials to display modern python usage.

The following functions fail when given a `Path` argument:
- `

[2018-12-04 01:38] daweili1226 opened #2225 "Tensorflow Frontend Fill Op error"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2018-12-04 01:40] daweili1226 commented on #2225
def _fill():
    def _impl(inputs, attr, params):
        fill_arg = params.pop(inputs.pop(1).list_output_names()[0])
        new_inputs = []
        return AttrCvt(
            op_name='full',
            extras={'shape':inputs[0],
                    'fill_value':fill_arg.asnumpy()[0], 'dtype':attr['T'].name},
            ignores=['index_type', 'T'])(new_inputs, attr)
    return _impl

The above

[2018-12-04 03:16] tqchen commented on #2222
Thanks, @obust for the suggestion. Given that pathlib is not available in 2.7, we might need to be a bit mindful on backward compatibility, other than that, I to tag this as help wanted and anyone is welcomed to bring in this feature

[2018-12-04 06:10] windyrobin opened #2227 "graph_runtime.run() support syn/aysn for stable inference time"
code like this ：
[code]
the interval is not stable:
[code]

the cost of run is unstable at the beginning, maybe caused by the syns/async strategy

compared to tensor rt:
[code]

the run result is ：
[code]

[2018-12-04 08:35] jon-soc opened #2229 "Tutorials nnvm compile tensorflow model failed"
python from_tensorflow.py

Downloading elephant-299.jpg from https://github.com/dmlc/web-data/raw/master/tensorflow/models/InceptionV1/elephant-299.jpg...
Downloading classify_image_graph_def-with_shapes.pb from https://github.com/dmlc/web-data/raw/master/tensorflow/models/InceptionV1/classify_image_graph_def-with_shapes.pb...
Downloading imagenet_2012_challenge_label_map_proto.pbtxt from https://

[2018-12-04 08:36] jon-soc commented on #2229
TypeError: 'TensorShapeProto' object is not iterable

[2018-12-04 08:57] srkreddy1238 commented on #2229
Can you share python and tensorflow versions ?

[2018-12-04 10:15] obust commented on #2222
Oh, you are right, it is not in the 2.7 standard library but is available through PyPI.
I guess there are two ways to go about it:
- cast path arguments to string in case they are `Path`
- use `pathlib2` internally and cast path arguments to `Path` in case they are `string` https://www.scivision.co/python-idiomatic-pathlib-use/

[2018-12-04 10:20] jon-soc commented on #2229
python 2.7
tensorflow 1.12.0

[2018-12-04 10:34] jon-soc commented on #2229
not,

[2018-12-04 13:55] tqchen commented on #2222
I think cast arguments to string is going to be easier for now

[2018-12-04 14:22] tqchen commented on #2227
Thanks for bringing this up, for general discussion like this, let us use https://discuss.tvm.ai/ In your particular case,  you will need to case gpu(0).sync() in order to synchronize the computation, you can use time_evaluator to do the time evaluation which is the recommended way for timing

[2018-12-04 14:22] #2227 closed

[2018-12-04 14:22] tqchen commented on #2229
Thanks for bringing this up, let us move this thread to https://discuss.tvm.ai/

[2018-12-04 14:22] #2229 closed

[2018-12-04 14:23] tqchen commented on #2225
Thanks for bringing this up, let us first move this to https://discuss.tvm.ai/, when we have an actionable item to fix the issue, we can move it to issue tracker

[2018-12-04 14:23] #2225 closed

[2018-12-04 20:58] #2182 closed

[2018-12-05 04:38] ehsanmok commented on #2174
@tqchen could you please send the invitation to me as well?

[2018-12-05 08:12] changlan opened #2233 "The stored type mismatch in nnvm.compiler.build"
Hi! I was trying to reproduce the tutorial in https://docs.tvm.ai/tutorials/nnvm/from_mxnet.html#sphx-glr-tutorials-nnvm-from-mxnet-py with the master branch, but I came across the following error when compiling the graph `graph, lib, params = nnvm.compiler.build(sym, target, shape_dict, params=params)`:

[code]
Interestingly, the `name()` of both `std::type_info` reference are the same, but the `

[2018-12-05 09:13] Foundea commented on #2207
When we use:

tvm.build error：
make_api.cc:184: Not all Vars are passed in api_args:  'i0'  does not appeared in api_args

tvm.build：ok

why?  indice[axis]=i0,  is  a axis variables. M is a  constant.

[2018-12-05 10:59] sgrechanik-h commented on #2174
Could you please invite me too?

[2018-12-05 22:43] ajtulloch commented on #2207
@Foundea could you produce a minimal runnable example, similar to e.g.

[code]

[2018-12-05 23:26] MarisaKirisame opened #2237 "[Relay][RFC] Automatic Differentiation"
This RFC aims to pave the road to add automatic differentiation (AD) to Relay, both a first-order and a higher-order algorithm. An AD algorithm calculates the gradient of a program, which is needed for training (back propagation). Additionally, higher-order gradients are sometimes needed for other optimization algorithms such as Newton's method.

Because Relay support closures and control flow, an

[2018-12-06 13:03] masahi commented on #2237
Hi @MarisaKirisame, can you suggest some fast-path background readings to understand AD implementation in Relay? Besides the "Demystifying" paper?

[2018-12-06 13:44] srkreddy1238 commented on #2229
@jon-soc  Can you to check below patch for this issue ?
https://github.com/srkreddy1238/tvm/commit/6e6ac97924c238e367617a0036b71b0befb8a5a4

[2018-12-06 15:32] sgrechanik-h commented on #1996
I've updated our [automatic differentiation branch](https://github.com/sgrechanik-h/tvm/tree/ad). Now the result of differentiating flatten is acceptable, and operations like max pool work better as well. We have also improved the API, the simple use-case look pretty much the same up to function renaming:
[code]
([The function `differentiate` is defined here](https://github.com/sgrechanik-h/tvm/bl

[2018-12-06 16:35] tqchen opened #2244 "[RFC][DISCUSS] Transition to Relay"
Dear Community:

The relay IR(see https://github.com/dmlc/tvm/issues/1673 for original RFC, and https://docs.tvm.ai/dev/relay_intro.html for a quick intro) is proposed a next-generation NNVMv2 IR support compilation for a richer set of programs and more formal optimizations. Thanks to the community's effort, as of now, the relay compilation flow is mostly on par with the existing NNVMv1 pipeline,

[2018-12-06 18:01] tqchen opened #2246 "[RELAY][FRONEND] Frontend scalfolding"
This is an issue to coordinate frontend scaffolding for relay. To help us coordinate, I have tagged a list of folks who originated the initial scaffolding of nnvm part to initiate the move, please feel free to reply to this issue and coordinate the tasks.

- [x] ONNX @zhreshold
- [x] Keras @Huyuwei
- [x] Tensorflow @srkreddy1238
- [x] DarkNet @PariksheetPinjari909
- [x] Caffe2
- [x] CoreML
- [x] N

[2018-12-06 20:06] derisavi opened #2248 "[ARITH] Enhance CanonicalSimplify(x*tvm.max(x, 1) - x*tvm.max(x, 1))"
During debugging some experimental code, I found out about a limitation in `CanonicalSimplify`. I reduced the testcase to the following:
[code]
I get the same expression as a result: `((x*max(x, 1)) - (x*max(x, 1)))`.

@tqchen (or other folks) is this something that can be fixed with fairly low effort? Any tips on how this can be fixed is appreciated.

[2018-12-06 20:35] tqchen commented on #2248
The only chance to make this happen is to map ```x*max(x, 1)``` and ```x*max(x, 1)``` to the same expression. We did this to some extent, so to debug how to make the improvement, please check if ```max(x, 1)``` does the binary caching wrt to its input and possibly add that

[2018-12-06 20:37] #2233 closed

[2018-12-06 20:40] derisavi opened #2249 "missing predicates in split loops"
Consider the following program in which we split a loop by a factor of 48 and then we split the inner loop (which is of size 48) by a factor of 32.
[code]
The generated Halide IR is:
[code]
While the generated code is functionally correct but it's inefficient in the sense that some points of the iteration space are visited more than once. In particular, when `i0.outer` is 0, we execute the assignm

[2018-12-06 20:56] zhiics commented on #2174
Could you please sent me an invitation as well? Thanks.

[2018-12-06 20:58] MarisaKirisame commented on #2237
@masahi it is the fastest path.

It use delimited continuation so it is confusing, but it can be explained without.

Essentially, for every Double expression d, we transform it to an expression of type (Double, Ref Double).
It is a tuple which hold two value: the original value, and the gradient of that value.

There is also a global Ref (() -> ()) function (it take no argument, produce an empty t

[2018-12-06 21:21] derisavi commented on #2249
I have a patch for this that I will submit hopefully tomorrow.

[2018-12-06 22:30] antinucleon opened #2250 "[RFC] Support Codegen Using Texture Memory"
Current TVM is not supporting mixture texture and buffer. This pattern is essential to obtain state-of-art performance on iOS device, and potentially better OpenGL backend for legacy devices.

A potential solution is providing extra device hints, eg:
[code]
In lowering process, some extra work is required I think:

1. We need a pass to infer output storage dev for each node
2. We need special data

[2018-12-07 06:24] MarisaKirisame opened #2253 "[RFC] [Relay]A Normal Form Conversion"
https://github.com/dmlc/tvm/pull/2251 implement a pass which converts expression with sharing (different occurrence of Expr might be the same ptr) into expression without sharing, by inserting let all over the place.

It is useful because it allows subsequent passes to ignore sharing and only deal with let (which might also reside in the original program anyway).

However, to do so, we must define

[2018-12-07 06:40] srkreddy1238 commented on #2246
#2216 for tensorflow

[2018-12-07 07:31] hcho3 opened #2254 "Undefined behavior in base64.h due to storing EOF in char type"
Related: dmlc/xgboost#3976.

Currently, base64 stream stores EOF in a `char` variable, which may cause undefined behavior for ARM targets.

Details. `std::istream.get()` and `getchar()` have return type `int`, not `char`, because both may return EOF, which is commonly -1. Storing EOF in a `char` results in undefined behavior. The `char` type is usually signed on x86 systems but unsigned on ARM sys

[2018-12-07 07:37] hcho3 commented on #2254
TODO. Produce a small example to trigger undefined behavior on an ARM machine.

[2018-12-07 09:52] hcho3 commented on #2254
#2255 should address this issue.

[2018-12-07 14:32] #2254 closed

[2018-12-08 16:44] #2249 closed

[2018-12-08 20:48] ZihengJiang opened #2259 "[RFC] Quantization Workflow"
## Goal

Here are two feasible approaches to support running quantized model with TVM:
- Get quantized model from other frontend frameworks like TF, C2, MX. We need to add the support for low-bit kernels and operators like `quantize`/`dequantize` with TVM, then transform the quantized graph directly.
 - Implement the quantization algorithm based on Relay. Take over the quantization procedure with

[2018-12-08 20:52] ZihengJiang commented on #2259
@ajtulloch @tqchen @vinx13 @lixiaoquan

[2018-12-08 21:20] tqchen commented on #2259
Given that quantization is a broad topic, it would be great to list all the possible alternatives(asymmetric and symmetric, choices of bits) and discuss the pros and cons of these perspectives and how can we support them

[2018-12-09 05:50] #1559 closed

[2018-12-09 05:51] tqchen commented on #2244
cc @dmlc/tvm-team

[2018-12-09 08:57] junrushao1994 opened #2260 "[Potential bug] `blockIdx.x` mistakenly bound to irrelevant axis"
While working on the recurrent nets, I ran into an issue that `blockIdx.x` is mistakenly bound to some irrelevant axis.

For example, when I bind `ax1.outer` in Line 81 in [this gist](https://gist.github.com/junrushao1994/617da2110fc787f8a626b4bb16d4bc6a#file-before-txt-L81) to `blockIdx.x`, it affected the beginning of the lowered code with apparently wrong boundary checking, Line 27 in [this gis

[2018-12-09 22:06] #2248 closed

[2018-12-09 22:06] tqchen commented on #2248
solved by #2261

[2018-12-09 22:07] tqchen commented on #2260
@junrushao1994 can you take some time to look into this?

[2018-12-10 03:04] were opened #2262 "[RFC][Hybrid Script] Syntax sugars for Hybrid Script"
Hybrid Script is still under a very preliminary stage of development.
Comparing with its counterpart in FaceBook, TorchScript, a lot of syntax sugars are not supported yet.
1. ~Global function call~ *Done*
[code]
`foo` can be found in `__global__` dict, so it is not hard to do this I believe.

2. Tensor level operations
[code]
3. ~Triple inequity~ *Done*
[code]
4. In-place Operator
[code]
@kevinth

[2018-12-10 07:15] kevinthesun commented on #2262
[code]
is not supported.

[2018-12-10 07:17] yzhliu commented on #2244
shall we run a set of test case to ensure there's no performance regression?

[2018-12-10 08:05] were commented on #2262
@kevinthesun
I am not very sure how `continue`, `break` and in-loop `return` can be supported, because so far HalideIR does not support it yet.

@tqchen
Do you mind if I add `break/continue` and `while` loop in Halide IR?

[2018-12-10 18:54] were commented on #2262
@tqchen Exactly, I know the current analysis is specific to loops without `break/continue`. That's why I am also reluctant to add it either.

[2018-12-10 21:06] antinucleon commented on #2259
This article is a systemic summary of current quantization. https://arxiv.org/pdf/1806.08342.pdf

Usually asymmetric is introduced by activation, like ReLU6.

What this paper is not covered is percentage quantization, which is not widely used today, but more reasonable. Percentage quantization is also a non-symmetric method.

[2018-12-10 21:52] tqchen commented on #2259
One thing we also want to discuss in detail is the map between the arithmetics in the quantized view into normal operators that are already defined, here are some examples:

- quantize: can usually be represented by mul-round-maximum/mininum(clip)- cast
- quantized_add: can usually directly translated to add in the storage type(int8 add).
- max_pool can usually directly translated to the pooling i

[2018-12-11 08:51] wonderxboy opened #2270 "Running docker environment get "sudo: unable to resolve host linuxkit-025000000001" and the notebook can not be accessed from the host browser"
When running docker script (/path/to/tvm/docker/bash.sh tvmai/demo-cpu), shell shows

Then after running jupyter notebook from container, the notebook can not be opened from host browser.

It doesn't seem that the container 8888 port is properly expose to the host. My environment:

- MacOS 10.14 Beta (18A384a)
- Docker version 18.06.1-ce, build e68fc7a

[2018-12-11 19:16] tqchen commented on #2270
Thanks for bringing it up, please move the general usage discussion to https://discuss.tvm.ai/

In your particular case, it seems due to a docker problem on your side, we are using ```--net=host``` option to expose the port. See https://github.com/dmlc/tvm/blob/master/docker/bash.sh#L20

[2018-12-11 19:16] #2270 closed

[2018-12-12 01:46] ehsanmok commented on #1601
Hopefully before the end of this week, I'll complete writing the docs and be ready for PR. In the meantime, you can checkout the [resnet example](https://github.com/ehsanmok/tvm-rust/tree/master/examples/resnet).

@nhynes I'd like to know in the proposed setup
[code]
shall we have a common, unified `tvm-sys` (matching the released version) with bindgen so that both runtime and frontend can import?

[2018-12-12 08:34] JennyChou5 opened #2279 "[RFC] Structured Error Handling Mechanism"
**Problem Statement**
TVM is gaining users in the research community and in production deployments. Simplifying the user experience can drive faster adoption, particularly among developers and users unfamiliar with the stack. A critical aspect of UX is better error handling. A structured error handling mechanism would help users of the TVM stack reduce the time to debug and deliver long-term divid

[2018-12-12 19:45] were opened #2280 "[Potential Bug?] The IR emitted does not make sense but the answer is OK?"
Refer this PR #2268 .

I was working on this PR, and after passing unit test I did a sanity check, dumping IR.

[code]

I find no allocation of `kernel_a.v0` buffer, but this piece of code works fine?

[2018-12-12 19:46] were commented on #2280
@tqchen Any suggestions that where I should look at? Or it is OK?

[2018-12-12 21:09] #2280 closed

[2018-12-12 21:41] nhynes opened #2282 "[COMMUNITY] High-res TVM logo"
Much unlike the lowered computations, the TVM logo isn't vectorized (to my best knowledge). Is there a svg/eps version somewhere? Perhaps it would be helpful to have a "iconography guidelines" page with links to assets and usage requirements.

If there is no existing vector logo, if someone could say what the "tvm" font is, I'm sure one of us with Illustrator could whip something up.

[2018-12-13 04:11] nhynes commented on #1601
Unfortunately, no because bindgen doesn't work when the target is exotic (e.g., wasm or sgx). That's why the headers are checked in as code. You're welcome to keep it as a top-level crate, though

Let's see how else your implementation looks, though. We might want a top-level `common/` crate for shared functionality.

Two spaces is also common. At Google, 2 is used to make deeply nested code more

[2018-12-13 18:03] tqchen commented on #2253
How about we define the scope of an expression to be the least common ancestor of all the scopes that directly refers the expression?

[2018-12-13 18:35] tqchen commented on #1768
This is fixed by relay module, https://github.com/dmlc/tvm/blob/master/python/tvm/relay/frontend/mxnet.py#L59

[2018-12-13 18:35] #1768 closed

[2018-12-13 18:36] tqchen commented on #1811
revive this thread a bit cc @ajtulloch @cowanmeg

[2018-12-13 18:40] tqchen commented on #2174
Thanks for everyone's participation. Please reach out to any of the current committers to add yourself to the slack. As a guideline, we still encourage discussions in public searchable places such as forum and issues when possible.

[2018-12-13 18:40] #2174 closed

[2018-12-13 18:55] tqchen commented on #2222
@obust would you like to act on this?

[2018-12-13 19:18] tqchen commented on #2282
Here it is https://tvm.ai/images/logo/tvm-logo.eps

[2018-12-13 22:14] kevinthesun commented on #2262
Chain of logical expr is not supported.
[code]

[2018-12-13 22:51] #2282 closed

[2018-12-14 00:07] MarisaKirisame commented on #2253
@tqchen we cant, it will lift outside of if else.
Beside special casing for singly scoped object it is what we do.

[2018-12-14 00:44] were commented on #2262
@kevinthesun Can you be more specific that I can replicate it?

[2018-12-14 01:17] dylanGeng commented on #2207
@ajtulloch @tqchen

[code]

[code]

[code]

[2018-12-14 01:55] tqchen commented on #2253
Can you give an example on why we cannot use the LCA scope as the scope ?

[2018-12-14 06:12] kevinthesun commented on #2262
[code]

[2018-12-14 08:34] were opened #2288 "[RFC] [Hybrid Script] IR Dump"
Because HalideIR now can be fully mapped to Hybrid Script and vice versa, I want to support IR dump to Hybrid Script so that users can play with IR body directly.

Which one do you guys prefer?
1. `mode=tvm.build(sch, args, target='hybrid'); mode.save('a.py')`
2. `tvm.hybrid.emit(stmt, file_name)`

I personally like the 2nd one better. I do not want touch too much build module thing. I want to mak

[2018-12-14 09:54] xqdan commented on #2288
What's purpose of IR dump for, debugging or some transformation?

[2018-12-14 17:10] ehsanmok commented on #1601
@tqchen @nhynes Frontend is finally [here](https://github.com/dmlc/tvm/pull/2291).

[2018-12-14 19:07] were commented on #2288
@xqdan You can dump HalideIR to this script format and play with the IR directly.
Isn't it useful, when there are some bugs (and you just need a quick fix) or some schedule not supported yet?

[2018-12-14 22:00] #2051 closed

[2018-12-14 22:00] tqchen commented on #2051
Thanks to everyone's effort, most of the ops are now supported. Let us open new threads to catch the remaining outliers when necessary

[2018-12-14 22:04] tqchen commented on #2244
@yzhliu as of now, relay's set of optimization passes is on par with all the previous nnvm benchmarks we ran in https://github.com/dmlc/tvm/tree/master/apps/benchmark

[2018-12-14 22:31] masahi commented on #2244
What do we do about nnvm symbols that are called from topi? (NCHWc conv, Winograd, etc)

Or more generally, how should we update the existing alter_layout registrations in topi that assume NNVM v1 ? I assume alter_layout mechanics of NNVM v1 and Relay are not compatible.

[2018-12-14 22:44] nhynes commented on #2122
+1 to assigning graph partitions to threads instead of axes. There are some [convincing benchmarks and discussions](https://github.com/pytorch/glow/issues/1749) which suggest that cache locality is a primary performance booster.

[2018-12-14 22:46] nhynes commented on #2122
+1 to assigning graph partitions to threads instead of axes. There are some [convincing benchmarks and discussions](https://github.com/pytorch/glow/issues/1749) which suggest that cache locality is a primary performance booster.

[2018-12-14 22:53] tqchen commented on #2244
@merrymercy is working on alt_layout and i think he already have a solution

[2018-12-14 23:09] merrymercy commented on #2244
We maybe have to introduce something like `F`, which can be either `nnvm.sym` or `relay.op.`

[2018-12-15 00:33] junrushao1994 commented on #2288
Slightly off the topic, I would say it could be better if we explicitly claim which syntactic sugar of Python is supported, which is not. You might be interested in writing it in accordance with Python's official AST document, [Green Tree Snake](https://greentreesnakes.readthedocs.io/en).

[2018-12-15 01:14] kevinthesun commented on #2288
Personally I prefer the second method, to keep this under hybrid script. @junrushao1994 It's helpful to have such a doc for developer to check whether their code syntax is supported. We can start with adding something we don't think will support in the long term, such as break/continue.

[2018-12-15 01:53] xqdan commented on #2288
@were yes, looks cool, can we do this for each pass?

[2018-12-15 03:31] junrushao1994 commented on #2288
@kevinthesun complicated jumps like break/continue is not possible in Halide, because it break all analysis conducted. Hence, it is not quite meaningful to add it to the hybrid script. Do you have specific use cases for break/continue?

[2018-12-15 04:16] kevinthesun commented on #2288
@junrushao1994 I don't think we need to support those.

[2018-12-15 04:43] were commented on #2288
@xqdan I do not want to aggressively modify the codegen backend.
I believe dumping each pass requires this.
I just want to dump the normalized schedule, the highest level.

[2018-12-15 08:46] dylanGeng opened #2294 "bugs on cache_read/cache_write with reduction domains where the RDom depends on axis variables"
@ajtulloch @tqchen

[code]

[code]

[code]

[code]

[2018-12-15 17:50] tqchen commented on #2294
Thanks for raising this issue, it would be nice if we can move the discussion to https://discuss.tvm.ai/. For this particular problem, this is indeed a restriction of the DSL itself. Because cache read/write only allow relayout on spatial dimensions. You can however, do cache read/write then do manipulation on reduction domain

[2018-12-15 17:50] #2294 closed

[2018-12-15 18:11] tqchen commented on #2122
Normally if workload is big enough, our past experience in MXNet suggest that parallelization within op has better potential than bind parts to threads. The pipeline partition would be useful though on small ops

[2018-12-15 18:19] junrushao1994 commented on #2122
In inference, graph-level parallelism does not help that much (at least on CPU/GPU), because normally an operator has been big enough to occupy all CPU threads or GPU streaming processors. About small workloads, @tqchen @nhynes do you have any specific example of such workloads, i.e. that could be accelerated by multiple issuing, but couldn't be fused into a single kernel?

[2018-12-15 18:21] junrushao1994 commented on #2122
Glow is a framework that does not support multi-threading (at least at the time of writing this post), i.e. all their operators are single-threaded. This could somehow explain why multiple issuing helps in Glow (imho).

[2018-12-15 22:49] nhynes commented on #2122
Right, but that's what they're planning on doing now. They're going the graph partitioning route and have expressed that cache locality makes this approach more efficient than op-parallelism.

I can't quite think of an example of a "small" op in the world of fusion, though.

[2018-12-15 23:00] junrushao1994 commented on #2122
Looks very interesting. @were do you have some bandwidth looking into this?

[2018-12-16 13:07] liangfu commented on #1656
@tmoreau89 As we have making progress to enable VTA for Intel FPGA, I found it is difficult to debug the generated hardware of the `compute` component, and there are several features not yet supported in the Intel HLS. Therefore, I'm wondering whether there is any plan to decompose the `compute` component into several smaller components. At least, it could be reasonably constructed with decoders,

[2018-12-16 17:02] xqdan commented on #2288
@were I see. 2nd is better for me.

[2018-12-16 17:08] xqdan commented on #2288
@kevinthesun totally agree with @were and @junrushao1994, to support continue and break, the whole TVM stack would need lots of stuff in traditional compilers, which will make things complicated. if any operators don't fit into abstraction of TVM, maybe it's better to support it with low level languages, such as CUDA c.

[2018-12-16 23:40] zhiics opened #2296 "[Relay][RFC] Compilation for heterogeneous execution"
## Motivation
The graph runtime is now able to support heterogeneous execution through annotation with various device ids. It is important to have a compiler pass to enable annotation from the frontend so that users have the flexibility to annotate the operators with "the best" device. This RFC proposes to add annotation in Relay as a standalone pass. There prototype implementation is [here](https

[2018-12-17 01:12] tmoreau89 commented on #1656
@liangfu what are the features that aren't supported in Intel HLS that are making the process challenging? We could consider breaking modules into smaller components to make testing and debugging more easy. What did you have in mind?

[2018-12-17 06:43] TaoLv commented on #2244
How would this decision impact the development of MXNet? NNVM request will still be supported?

[2018-12-17 08:14] yidawang commented on #2279
Thanks @JennyChou5 for the proposal. I think it is a good step of moving TVM to the product line.

What we should do is to define unified error types and encourage contributors to refer to as needed. We also should reasonably categorize the error types so that most of the functions can throw error in known types.

In terms of the layers proposed above (model parsing layer, NNVM/Relay pass layer, T

[2018-12-17 08:33] JennyChou5 commented on #2279
Thanks @tqchen @yidawang  for the feedback. Will come out with proposed error hierarchy for review in each layer.

[2018-12-17 15:51] obust commented on #2222
I don't have authorization to contribute PRs yet. Feel free to pick it up for now :)

[2018-12-17 16:05] tqchen commented on #2244
This will only impact the deep learning compiler support, the core nnvm ir will be kept stable

[2018-12-17 19:40] were opened #2300 "I cannot create shared object."
When I am working on #2287 , I got a CPU check failure.
I want to replicate the problem locally so that I can fix it.
[code]
What I got is:
[code]
and I followed this stackoverflow to see if `.o`s are compiled with `-fPIC`.
https://stackoverflow.com/questions/19768267/relocation-r-x86-64-32s-against-linking-error
which shows that `.o`s are compiled properly with `-fPIC`.

[2018-12-17 20:36] merrymercy commented on #2300
It is probably due to the llvm/gcc compatibility and not related to your change.
Solution and discussion:
https://discuss.tvm.ai/t/runtime-llvm-cc-create-shared-error-while-run-tune-simple-template/1037/5

[2018-12-17 20:36] #2300 closed

[2018-12-17 22:44] merrymercy commented on #670
If you want to further vectorize  the line `B[ax0] = (B[ax0] + B.rf[k.inner.v])` in the code above, you may have to create an intermidate buffer so you can vectorize on `ax0`

[code]

[code]

[2018-12-17 23:06] zhreshold commented on #2246
#2302 for onnx

[2018-12-18 01:52] ehsanmok opened #2303 "[RUST][FRONTEND] make Function clone free of is_global change"
Right now, `Clone` on `tvm_frontend::Function` needs to change `is_global` for non-global graph runtime module functions, such as `load_params`, otherwise it segfaults after the first use. TODO [#2292](https://github.com/dmlc/tvm/pull/2292)

[2018-12-18 01:56] ehsanmok opened #2304 "[RUST][FRONTEND] refactoring builder to use a derive"
Use [derive_builder](https://docs.rs/derive_builder/0.7.0/derive_builder/) for `tvm_frontend::Function` for less boilerplate codes. Proper config is required to make the return buffer accepts at most one value. TODO [#2292](https://github.com/dmlc/tvm/pull/2292).

[2018-12-18 01:58] ehsanmok opened #2305 "[RUST][FRONTEND] macro for constructing the builder"
The proposed `tvm_call!` doesn't not accept `set_output`. Expand the macro with perhaps some related syntax extension. TODO [#2292](https://github.com/dmlc/tvm/pull/2292)

[2018-12-18 02:44] ehsanmok opened #2306 "[RUST] RFC and 0.5 Release Plans"
The following are the current plans for [TVM Rust](https://github.com/dmlc/tvm/issues/1601) including both "runtime" and "frontend" as part of roadmap v0.5.

- [ ] Create `common` crate for runtime and frontend
- [ ] [Merge frontend](https://github.com/dmlc/tvm/pull/2292)
- [ ] Comply with Rust [2018-edition](https://rust-lang-nursery.github.io/edition-guide/rust-2018/index.html).
- [ ] Add functi

[2018-12-18 16:48] derisavi opened #2307 "[ARITH] Enhance Simplify(tvm.max(48*x,32)/16)"
[code]
produces
[code]

[2018-12-18 17:50] tqchen commented on #2305
to avoid creating too many issues, please merge most of them into a single rust FRONTEND working item issue and only open new issue when we think we can act in it soon(say can be closed in two weeks)

[2018-12-18 18:03] ehsanmok commented on #2305
Noted! Given the upcoming holidays, might be qualified in the timeline.

[2018-12-18 18:42] derisavi commented on #2307
https://github.com/dmlc/HalideIR/pull/30 Since the change is in HalideIR repo, I guess I need to wait for it to be merged and used by tvm master branch and then I can add unit tests, right?

[2018-12-18 19:35] derisavi opened #2308 "[ARITH] Enhance CanonicalSimplify((241+48x)/16)"
[code]
produces
[code]
where expected result is:
[code]

[2018-12-18 22:33] wweic commented on #2244
@tqchen Is it possible to release the benchmark code you did using relay so people can evaluate the effort to transition to relay?

[2018-12-19 08:03] sgrechanik-h commented on #2308
Since tvm uses truncated division (in contrast to Halide which uses Euclidean division), this is wrong for some negative values, e.g. for x = -10, `(241 + 48*(-10))/16 = (-239)/16 = -14` and `15 + 3*(-10) = -15`.

[2018-12-19 10:40] derisavi commented on #2308
Thanks for bringing up this important distinction. Does this mean that the existing rules (before my patch) also needs fixing because
[code]
produces `x` (without my patch) which is wrong if x is negative. We get the incorrect result above if we replace 5 by any positive number less than 10.

[2018-12-19 11:30] derisavi commented on #2308
What is the definition of TVM's mod operator? is it `a mod b = a - (a/b)*b` (where / is truncated division)?

[2018-12-19 11:31] sgrechanik-h commented on #2308
Oh, I didn't know that CanonicalSimplify sometimes perform incorrect transformations too. Yes, I think it needs to be fixed.

[2018-12-19 17:04] ehsanmok commented on #2304
@nhynes don't think `#[derive(Builder)]]` can add the *proper* fields in builder struct needed for `Function`. It is merely for very common type of builders. Currently, `derive_builder` only uses the fields of the underlying struct, but the signature of the current `function::Builder` is

[code]
with completely different fields, in particular `arg_buf` and `ret_buf`. So my conclusion is that the `

[2018-12-19 17:12] ehsanmok commented on #2305
@tqchen @nhynes I decided to keep the ball rolling before the holidays. Regarding the macro, currently `tvm_call!` is good enough. My suggestion is that we can generalize it to something like

[code]
and to ensure the output to have at most one value, we can use `!#[feature(macro_at_most_one_rep)]`(https://doc.rust-lang.org/unstable-book/language-features/macro-at-most-once-rep.html#macro_at_most_

[2018-12-19 17:34] nhynes commented on #2305
what you're describing seems almost exactly what [`runtime::{PackedFunc, call_packed}`](https://github.com/dmlc/tvm/blob/master/rust/src/runtime/packed_func.rs#L11-L26) do. Is there something that `tvm_call` must do that `call_packed` does not?

[2018-12-19 17:40] nhynes commented on #2305
Actually, on second reading. I'm really unconvinced that all of this `Builder` stuff is necessary since you can always just cast the TVM function to an actual `Box<Fn>` and call it directly.

[2018-12-19 19:37] ehsanmok commented on #2305
@nhynes Honestly, I don't see any added complexity.

1. Builder pattern in Rust is more common in Rust than in any other languages. I like to think that making the components clear and out of magic is the proper way in general and in particular for our case. For example, during dev, I wanted to investigate the args passed in the builder for debugging purposes. Debugging macros in Rust is not grace

[2018-12-19 20:46] nhynes commented on #2305
Okay, then let's modify `PackedFunc` to `Result<TvmRetValue>`; I didn't have need for it originally so I didn't add it. Having two ways to construct and call `PackedFunc` isn't bad so how about we do both macro _and_ builder but simplify the interior of builder to use `PackedFunc` instead of manual.

[2018-12-19 21:00] ehsanmok commented on #2305
Sure! since this issue is addressing your first proposition, shall we move on and make a succinct plan after frontend is merged?

[2018-12-19 21:11] derisavi commented on #2308
Given @sgrechanik-h's point, the testcase at the top is not a proper testcase and it has to be replaced by the following:
[code]
produces
[code]
where expected result is:
[code]

[2018-12-19 21:21] nhynes commented on #2305
Sure Builder can be improved once we merge everything in. We're going to need to update `TVMRetValue` now, though, since that's going to become a common dependency pre-merge.

[2018-12-19 21:49] ehsanmok commented on #2303
Fixed in PR reviews [#2292](https://github.com/dmlc/tvm/pull/2292)

[2018-12-19 21:49] #2303 closed

[2018-12-19 21:51] ehsanmok commented on #2304
Discussed [here](https://github.com/dmlc/tvm/issues/2305) and will plan for runtime-frontend compatibility.

[2018-12-19 21:51] #2304 closed

[2018-12-20 08:06] sgrechanik-h commented on #2308
This one, i.e. `(240+48*x)/ 16  ->  15 + (x*3)` seems to be correct for all `x` since both 240 and 48 are divisible by 16.

[2018-12-20 12:31] derisavi commented on #2308
You're right. I will fix/edit the example above. The  patch (https://github.com/dmlc/tvm/pull/2310) does the right thing.

[2018-12-21 06:07] ehsanmok opened #2318 "[RUST][CI] Add gpu node in jenkins"
Hi

Right now, for Rust frontend PR [#2292](https://github.com/dmlc/tvm/pull/2292) it's required to have a gpu node similar to [java](https://github.com/dmlc/tvm/blob/master/Jenkinsfile#L202) to have a successful build.

Please include `tests/scripts/task_rust.sh` for now so that it can be changed in the frontend PR.

[2018-12-21 17:44] tqchen commented on #2318
Given that we are quite low on resources, can we restrict the test to CPU only and detect if gpu exists and optionally run gpu tests? See some python tests for example

[2018-12-21 18:21] ehsanmok commented on #2318
Absolutely! however, there needs to be separate `task_rust_runtime.sh` and `task_rust_fronted.sh`.

[2018-12-22 01:03] daweili1226 commented on #979
Samiliar issue here.

[2018-12-22 01:19] eqy commented on #979
Please open a discuss board issue for this topic.

[2018-12-22 07:48] jroesch commented on #2296
Supporting heterogeneous execution for Relay is great!

I have a couple ideas on the implementation though.

In general I think we should avoid modifying Relay's AST if possible.

I'm motivated by a couple simple design choices. If we extend the AST for every feature the AST will quickly become large and complex. The AST is part of the user facing interface (where users are compiler/tool authors)

[2018-12-22 08:43] jroesch commented on #2244
I just wanted to write down my thoughts on this whole process. Sorry for the slow response been a busy couple weeks with paper deadlines and the TVM Conference.

I believe Relay offers multiple benefits as an intermediate representation, as well as quite a few compelling engineering reasons.

Most importantly Relay has a richer computational model, and is able to represent a wider set of deep lear

[2018-12-22 08:53] MarisaKirisame commented on #2253
@tqchen suppose we have
sum(x) = if (x == 0) {0} else {x + sum(x - 1)}
if we try to use the LCA scope, we will lift the 'x + sum(x - 1)' out of the if else, and in the same scope as the parent if, which is incorrect and make the whole thing an infinite loop. It is one reason the definition is complex.

[2018-12-22 09:34] jroesch commented on #2146
This sounds good to me too, would be cool to have some demos/targets to push forward. Could we create a little benchmark suite filled with the kinds of things it would be good to support.

[2018-12-22 17:48] tqchen commented on #2253
@MarisaKirisame  in your particular case

[code]
Because %1 is only used in the scope of else, all its usage is only in the scope of else. So the LCA of %1 is the else scope. However, if the code is:

[code]
Then because ``%1`` get used in both the condition of if, and else scope of if, its LCA is outside the if scope.

[2018-12-23 01:52] MarisaKirisame commented on #2253
@tqchen this is exactly our algorithm - we cant always take the parent scope, if it is in special location (inside any branch of if/else, inside function definition, inside pattern matching), new scope have to be created.

[2018-12-24 07:59] MarisaKirisame commented on #2253
@tqchen I am against this. Either the order does not matter, or, if the order matter in a *graph*, something is wrong. This behavior should be implementation-defined, simply because no code should depend on how it is order - something is wrong in the semantic level.

[2018-12-24 10:07] chtlp opened #2332 "inconsistent slower benchmark results on 1080ti"
Hi, we are trying out tvm to accelerate inference of deep learning models on various devices, however, we find the benchmark results inconsistent with the wiki pages.

For example, resnet-18 takes `1.1ms` on 1080ti in this page:
https://github.com/dmlc/tvm/wiki/Benchmark#nvidia-gpu

However, when I run the benchmark results in tvmai/demo-gpu docker, it takes 6.7ms, which is 6x slower. Results for

[2018-12-24 19:13] tqchen commented on #2253
It is true that order does not matter in a graph. We essentially need to impose additional semantics when converting from graph to ANF to make sure such conversion is deterministic.

Having such deterministic conversion makes developers easy to reason about the consequences of the operation. Post-DFS order is a frequently used lowering rule already for graph code, so I propose that we adopt this s

[2018-12-24 19:33] tqchen commented on #2332
Thanks for bringing this up, can you open a new thread at https://discuss.tvm.ai/

[2018-12-24 19:33] #2332 closed

[2018-12-24 19:34] tqchen commented on #2318
Sure, we can have two scripts, closing this for now as the original comment is already resolved

[2018-12-24 19:34] #2318 closed

[2018-12-24 19:36] ehsanmok commented on #2318
@tqchen Should this be merge before the PR? afaik, jenkins caches the build so cannot be in the same PR

[2018-12-24 19:38] tqchen commented on #2318
Please send a PR with task_rust_frontend.sh(which is an empty script) added to Jenkinsfile, after that is merged, you can update task_rust_frontend to add your test scripts

[2018-12-24 19:39] #2305 closed

[2018-12-25 04:09] chtlp commented on #2332
@tqchen see the topic here: https://discuss.tvm.ai/t/unable-to-reproduce-benchmark-results-on-1080ti/1386 :)

[2018-12-25 06:55] smartwell commented on #754
i had finish LLVM， and no error,but when i build tvm.sln with cuda and llvm "on",like this picture, do  you solve this problem?
![20181225142620](https://user-images.githubusercontent.com/37239387/50415214-cb253880-0854-11e9-9d96-424940d322f5.png)

[2018-12-25 06:58] smartwell commented on #2087
same problem,  i install LLVM successfully,but when i build tvm.sln with LLVM and cuda is ‘ON’，what can i do ?

[2018-12-25 13:12] grwlf commented on #2259
Could you please check the definition of  `simualted_quantize` from "Current design" section? In line `ret_data = data * dom_scale` should we change data to clipped_data?

[2018-12-26 04:16] Huyuwei commented on #2246
#2336 for keras

[2018-12-26 18:18] tqchen commented on #2259
@grwlf I think you are right, cc @ZihengJiang

[2018-12-26 18:19] tqchen commented on #2160
#2273 thanks to @masahi

[2018-12-26 18:23] #1187 closed, assigned to nobody

[2018-12-26 19:27] tqchen opened #2340 "[RELAY][PASS] Support Negative Scale in FoldScaleAxis"
So far we restrict ourselves to positive scales in FoldScaleAxis to avoid introducing errors during operators such as Relu. However, sometimes it is helpful to also support folding negative scales, as long as there are no ops such as relu/max_pooling along the path. It is not hard to enhance this capability.

The current logic of the pass contains a message passing prepare step plus a rewrite step

[2018-12-27 04:09] haroldyang977 commented on #856
Hi @yajiedesign @BigJerry

I encounter the same problem when running debug mode.

Could you elaborate how to solve it in visual studio settings?

I don't understand where to export __tvm_main__.

[2018-12-27 08:34] tianylijun opened #2342 "pld"
[feature proposals]

[2018-12-27 08:35] #2342 closed

[2018-12-27 08:54] tianylijun opened #2343 "[DISCUSS][ARM] Arm data prefetch instruction"
Platform: ARM64

Arm data prefetch instruction, e.g. prfm [arm64], pld[arm32]

It seems TVM not support this feature, as I can not find these instructions in the .o generate by TVM. (I disassemble mobilnet.o to get the assemble file ). Is that right? or is there any compile cfg can do this?

[2018-12-27 14:52] FrozenGene commented on #2160
Ah...I think I can take one. As @tqchen know, I am writing articles to introduce TVM to Chinese readers and wish to attract them to join us (see https://zhuanlan.zhihu.com/p/50529704) . My next article will be introduce one op of frozen model (like CoreML, Keras and so on) , then how to change into NNVM (Relay doesn't have frontend and I don't also be familiar with that， sorry about this), then ho

[2018-12-27 19:16] tqchen commented on #2343
cc @were @ajtulloch  there is already prefetch support as schedule primitive, however, we did not find it bring performance benefit yet. Maybe there are some gaps in the generated code

[2018-12-27 20:57] were opened #2348 "[TOPI] [HYBRID] Migrate TOPI ir_builder to Hybrid Script"
Currently, many operators in TOPI are written in IRBuilder.
To make these operators easy to maintain, migrating them to Hybrid Script is proposed.
Here are the usages:
1. x86/arm: I think just keep it for now, because LLVM intrin call is not supported yet. Also, it is not easy to do sw emu.
2. sparse: I think these can be migrated. @liangfu Can you take a look?
3. vision: @kevinthesun Let me suppo

[2018-12-27 20:59] were commented on #2348
@tqchen I apologize that I did not push the migration which made that issue stale.
Can you close the old one and we discuss here?

[2018-12-27 21:10] #1322 closed

[2018-12-28 00:35] MarisaKirisame commented on #2237
@tqchen as per the request the signature in C++ side is runtime::TypedPackedFunc<Expr()>
I have updated it in above as well.

[2018-12-28 00:50] tqchen commented on #2237
@MarisaKirisame can you give a specific comment on how is this FGradient expected to be used?
```runtime::TypedPackedFunc<Expr()>``` does not really make sense because it does not take in input expressions.

I was thinking more along the following line:

[code]
- Take in original call node, out_grad, and output, return list of gradient wrt to each input

[2018-12-28 00:52] MarisaKirisame commented on #2237
@tqchen it is a function expression taking orig_call, and will return a tuple. the right hand side will take out_grad. (it is a function in relay but not a function in C++).

[2018-12-28 00:58] tqchen commented on #2237
I see what you mean, it is possible to express simple function's gradient purely in relay. So conceptually, it is more like

 However, it could be hard to do so when some of the expression involves attributes like sum(x, axis=1).

Because we do not have a proper way to refer to the axis

I see there are advantages of expressing the gradient function in relay. However

[2018-12-28 01:46] liangfu commented on #2348
okay, I will look into this.

[2018-12-28 03:20] MarisaKirisame commented on #2253
@tqchen i just checked and it is post order. I will update the comment.

[2018-12-28 08:25] FrozenGene opened #2351 "[RFC][Quantization] Support quantized models from TensorflowLite"
Let me reference @ajtulloch 's [comment](https://github.com/dmlc/tvm/pull/2116#issuecomment-444694200) about quantization workflow firstly:

However, we have framework can do step 1 -> step 5 well like Tensorflow. For example, Tensorflow has quantization-aware training which will do step 2 and get good accuracy at last.

In the industry development, one common scenario is company will divide algor

[2018-12-29 04:30] kevinthesun commented on #2348
@Laurawly do you have circle to deal with cuda vision ops? If not, I can take over these.

[2018-12-29 05:51] were commented on #2262
@kevinthesun
Follow up your request on `tvm.container.Array`:
Unfortunately, `tvm.container.Array` cannot be directly accessed by HalideIR.
[code]

[2018-12-30 22:05] tqchen opened #2355 "[SPIRV] Incorrect Vulkan Result on Mobile GPU"
There have been several incidences reported about incorrect results when deploying to MobileGPU via vulkan. We will need to look into this.

More specifically, it would be really useful to produce a minimum reduced example from the end to end ones, to use debug_runtime to get the output of each intermediate step and compare them with the CPU or OpenCL version. Then we can look into which specific

[2018-12-30 22:58] MarisaKirisame commented on #2237
@botev
Higher order here mean AD in higher order language. It is indeed true that higher order AD of first order program need no further feature. We value the closure property (befor/after AD is in the same language) so for whatever AD algorithm you choose we can hopefully do it multiple time.

Sorry for the confusion, i had updated the RFC.

We had not thought about supporting forward mode as of

[2018-12-31 05:07] headupinclouds commented on #2355
I reported this issue in the post you mentioned [here](https://discuss.tvm.ai/t/vulkan-deploy-issue-with-latest-code/604/7).

I can post a small sample to reproduce this for review and discussion in a github repo.

I was looking for mechanisms to support this from C++ (asked [here](https://discuss.tvm.ai/t/layer-serialization-from-c/1406)).   Can you share any pointers or examples that might help

[2018-12-31 18:50] tqchen commented on #2355
You can setup an  RPC server in the mobile and use https://docs.tvm.ai/api/python/graph_runtime.html#tvm.contrib.graph_runtime.GraphModule.debug_get_output to get k-th output. Then you can just log the output using numpy's typical serialization mechanism

[2018-12-31 18:58] tqchen commented on #2351
Starting from TFLite importer to relay sounds great. cc @jroesch @ajtulloch @yzhliu

[2018-12-31 20:08] srkreddy1238 opened #2357 "[RFC][Runtime] Graph signature metadata"
In the context of integrating TVM runtime with model hosting services

Model serving solution isolate model specific information and expose unified interface to users (example via REST API). Integration with such solutions need model metadata to be exposed to users (like inputs/outputs shape, name and dtype ...etc.).

ref. https://github.com/dmlc/tvm/pull/1659 solves to an extent of querying infor

[2018-12-31 20:11] srkreddy1238 commented on #2357
@tqchen @yzhliu @grwlf welcome to comment.

[2019-01-01 07:48] ChrisHunting commented on #2270
I run into the same error using MBP. Did you solve the problem? thx

[2019-01-01 19:03] tqchen commented on #2270
Because this is a restriction on MAC or Windows, likely you can get around it by not using --net=host, and lookup the VM address of the docker host, open browser to connect to that part, alternatively, you can try directly map the port used by the notebook

[2019-01-01 19:05] hyuen opened #2358 "IOLoop already running"
I am trying to follow the tutorial from

https://docs.tvm.ai/tutorials/autotvm/tune_conv2d_cuda.html#sphx-glr-tutorials-autotvm-tune-conv2d-cuda-py

When i run the code I get the following error:

tuner = autotvm.tuner.XGBTuner(task)
tuner.tune(n_trial=20,
           measure_option=measure_option,
           callbacks=[autotvm.callback.log_to_file('conv2d.log')])

ConfigSpace (len=10454400, space_

[2019-01-01 22:20] kevinthesun commented on #2262
@were Would you think supporting array argument requires much more work than expected? If this is case, I can roll back multibox operators to use ir_build for now in https://github.com/dmlc/tvm/pull/2353.

[2019-01-02 04:15] headupinclouds commented on #2355
Thanks.  That pointed me in the right direction.  I'm able to use the same mechanism from C++ with `tvm.graph_runtime_debug.create` and the `get_output_by_layer` packaged function calls.

https://gist.github.com/headupinclouds/d87df2dcc9603589b3b9b9cb00f26011#file-tvm_deploy_gpu_sample-cpp-L521

If I use `opt_level=0` the example does return the correct result on the same Android device.  It is on

[2019-01-02 15:10] BobLiu20 opened #2359 "[ONNX] How do I know if need broadcast in elemwise op"
Because onnx had been remove broadcast attribute in Mul op from version 6. See [here](https://github.com/onnx/onnx/blob/master/docs/Operators.md#Mul). So, We can't checkout broadcast attr anymore.  Code below:
https://github.com/dmlc/tvm/blob/b11884858fa052503d1e2e8318380111910faa2e/nnvm/python/nnvm/frontend/onnx.py#L49-L51

My question:
Does any idea to check if we should use elemwise_xx or broad

[2019-01-02 15:15] BobLiu20 commented on #2359
I have a bad idea: remove condition and let all onnx Mul op convert to tvm broadcast_mul. It will be working well. But I don't know how it will effect performance. Any idea?

[2019-01-02 18:19] zhiics opened #2360 "Compilation error of high_resolution_clock on Mac"
https://github.com/dmlc/tvm/blob/b11884858fa052503d1e2e8318380111910faa2e/src/runtime/rpc/rpc_session.cc#L1218

I had a compilation error on my Mac because `high_resolution_clock` could be an alias of either `system_clock` or `steady_clock` as suggested here: https://en.cppreference.com/w/cpp/chrono/high_resolution_clock.

Should we change `high_resolution_clock` to `system_clock` directly? Thanks

[2019-01-02 18:43] tqchen commented on #2359
We can always use the broadcast version of multiplication. The NNVMv2 relay support broadcast by default

[2019-01-02 18:43] #2359 closed

[2019-01-02 20:51] zhiics commented on #2360
#2362 should solve this.

[2019-01-02 21:03] #2360 closed

[2019-01-03 04:21] invisibleboy opened #2363 "Where are the LSTM and GAN benchmarks?"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2019-01-03 05:38] nttstar opened #2364 "[CODEGEN] LLVM PReLU Error"
Related discussion: [https://discuss.tvm.ai/t/debug-failed-to-export-library-with-llvm-on-arm-cpu-when-using-prelu/1006](https://discuss.tvm.ai/t/debug-failed-to-export-library-with-llvm-on-arm-cpu-when-using-prelu/1006).

It is ok on arm mali gpu and x86 cpu.  Only failed on arm cpu.   It could be critical as lots of CNN models using prelu.

[2019-01-03 18:47] tqchen commented on #2363
Please open a thread at  https://discuss.tvm.ai , thanks

[2019-01-03 18:47] #2363 closed

[2019-01-03 18:47] tqchen commented on #2358
Please open a thread in https://discuss.tvm.ai/, thanks

[2019-01-03 18:47] #2358 closed

[2019-01-04 02:30] simpzan opened #2368 "[FRONTEND] Tensorflow Op: Conv2DBackpropInput"
the following errors occurred when I was trying to import tensorflow models with [this script](https://github.com/dmlc/tvm/blob/master/tutorials/nnvm/from_tensorflow.py).
Any plans to support these 2 operators? Thanks!

[code]

[2019-01-04 04:08] srkreddy1238 commented on #2368
@simpzan thanks for reporting this.
```Slice``` should be a straight forward implementation. ```Conv2DBackpropInput``` required effort.
You are welcome to contribute a part or all of it if interested.

[2019-01-04 06:17] ZihengJiang commented on #2351
If you want to support transforming quantized model, be careful to transform ops like `quantize` to small ops like `multiply` and `add` for reusing kernels and optimizations like fusion

[2019-01-04 06:31] FrozenGene commented on #2351
Thanks for reminding. However, I don't fully understand your reminder. Do you mean I should be careful `quantize` or `multiply` / `add` ops? If we import existing quantized model like TFLite, we shouldn't see `quantize` ops any more.

[2019-01-04 10:00] mjs-arm commented on #2174
Can someone send me an invitation to the slack channel please?

[2019-01-04 18:02] #2308 closed

[2019-01-04 18:08] tqchen commented on #2364
Thanks for reporting this issue. It would be helpful to narrow the case down, for example, try to compose a single layer Prelu and see if the error still occurs, this will help to give evidence to other developers.

Likely this problem is due to LLVM or low-level lowering type check issues. cc @masahi @grwlf @ZihengJiang @denis0x0D  who might be familiar with this part of the code

[2019-01-04 18:17] tqchen commented on #2357
There are certainly tradeoffs we can make here. Supporting more meta-data query will make the module more informative, but never-the-less creates additional APIs that need to maintain and part of the code that need to be included in the runtime(which somewhat goes against minimalist principle).

This additional information can also be provided as a wrapper on the current API, for example, storing

[2019-01-05 03:32] srkreddy1238 commented on #2357
storing the input info in graph json should be ok.

[2019-01-05 18:43] tqchen commented on #2174
Invitation sent, for follow up requests please open a thread with the "development" category in https://discuss.tvm.ai/.

Again, the slack channel is used for quick communication between developers, and we do not intend to use for long discussions and technical decisions. We welcome topics in the discuss forum, which is publically archived so everyone in the community can see and participate

[2019-01-05 19:48] reminisce commented on #2237
Maybe this is not in the scope of this RFC or extra work needs to be added, but can this feature be extended to support AD in imperative programming? NNVM is able to achieve that purpose and that's how it works in MXNet/Gluon APIs. Just want to make sure this design has taken imperative programming into consideration.

Eventually, can we achieve the UX as in https://github.com/HIPS/autograd?

[2019-01-05 22:49] ehsanmok commented on #2306
Here're my thoughts about a `common` crate:

The main difference (besides some conversions and using a fat point) between frontend and runtime `TVMArgValue` and `TVMRetValue` is how they're wrapping/using `TVMValue`. The runtime `TVMValue`  is raw, however, frontend needs `Debug + Display` and some idiomatic conversions. Therefore, `common`'s `TVMValue` has to be wrapped *at least*.

Because bindg

[2019-01-06 01:08] DavidGOrtega opened #2374 "libgtest.a not found"
Ubuntu 16.04

Following the instructions I got that error. I had to install libgtest and copy the *.a on my own.
Does anyone had the same issue?

Just in case that happens to you:

[code]

[2019-01-06 02:46] DavidGOrtega commented on #2374
I saw this

[code]

[2019-01-06 02:46] #2374 closed

[2019-01-06 03:11] DavidGOrtega commented on #2086
Ubuntu 16.04

I can't build it either!

I follow the instructions compiling the libraries but I'm not able to build the runtime. I have a weird error. Can't find execinfo.h

[code]

If I comment the line 27 n build_config.h I have others errors:

[code]

[2019-01-06 14:02] denis0x0D commented on #2364
@nttstar can you please add simple test case, which fails. In this case it would be easy to reduce probmle in llvm codegen part.
Thanks.

[2019-01-06 22:32] headupinclouds commented on #2355
I've posted an initial example to help reproduce the issue here:

https://github.com/headupinclouds/tvm_cpp_test

In addition to the observations noted above (the same example works in every tested configuration except Android w/ Vulkan), I've noticed the error:

* is reproducible across runs (consistent but wrong)
* occurs in the first actual `nnvm` fused layer (`fuse_conv2d_broadcast_add_relu` b

[2019-01-07 03:19] heguixiang opened #2378 "Why set LRN Op Pattern to OPAQUE"
Thanks for your TVM project.

    I have benefited a lot after reading your excellent project.  But I have a puzzle, why you setting LRN operator pattern as OPAQUE, just like "reg.register_pattern("lrn", OpPattern.OPAQUE)", why it can not merge with ops even with elemwise pattern attribute, I am looking forward your reply, thank you very much.

[2019-01-07 04:10] tqchen commented on #2378
Please open a new thread in https://discuss.tvm.ai/

[2019-01-07 04:10] #2378 closed

[2019-01-07 04:19] tqchen commented on #2086
should be fixed by https://github.com/dmlc/tvm/pull/2379

[2019-01-07 04:19] #2086 closed

[2019-01-07 07:41] FrozenGene commented on #2364
I can reproduce this issue after 100 trials auto tvm tunning on ARM CPU, but can not reproduce without auto tvm tunning.

[code]

The issue is that when we apply schedule of conv2d combined prelu we emit wrong LLVM IR. For example, we would emit this kind of LLVM IR:

[code]

However, `br` instruction can not accept <N x i1> type, which only accept i1 type. Please see this link: https://llvm.org/d

[2019-01-07 11:39] denis0x0D commented on #2364
@FrozenGene, thanks for the answer, good to know you've resolved the issue.

[2019-01-07 14:00] DavidGOrtega commented on #2086
There is a minor issue in the docs

[code]

However the files are created inside bin folder:

[code]

[2019-01-07 14:10] srkreddy1238 opened #2382 "[RELAY][PASS] AlterOpLayout handling for Tuple"
[code]

Tuple arguments not retained as Tuple after layout handling for operators like Concatenate.

[2019-01-07 14:13] srkreddy1238 commented on #2382
#2383

[2019-01-07 16:07] srkreddy1238 commented on #2382
#2536 fix this issue.

[2019-01-08 00:44] reminisce commented on #2237
@MarisaKirisame Sorry for the confusion. Here is an introduction of [imperative and symbolic programming](https://mxnet.incubator.apache.org/architecture/program_model.html#case-study-backprop-and-autodiff) in MXNet.

Basically, imperative programming means the computation of operators are executed one by one so that users can still get intermediate layer outputs of a model. In the [AD PR](https:/

[2019-01-08 01:53] liwchang opened #2388 "CI numerical issue"
CI seems too numerically sensitive.
Also, tvm using random numbers in unit tests made it even worse.
That caused too many false alarms during CI.

Maybe fixing seed or inputs can resolve this issue.

-L

[2019-01-08 04:35] tqchen commented on #2388
So far there is not too many flaky cases, if there are, we should fix the test-case to relax the bound, and nail down the flay testcases

[2019-01-08 05:12] liwchang commented on #2388
Thanks.

I encountered one in logSoftMax today.

Let's keep this thread for a few while.
I think others might wanna report it.

[2019-01-08 05:18] tqchen commented on #2388
As per current guideline, https://github.com/dmlc/tvm/blob/master/.github/ISSUE_TEMPLATE.md we try to close issues aggressively and make sure each issue are actionable.  This approach avoids a huge pile of issues that nobody gets attend to. So I would recommend close this one, open a thread in https://discuss.tvm.ai/  and open separate actionable items as issues, for example:

- https://github.com

[2019-01-08 05:40] tqchen commented on #2388
The random number is useful for test-cases and I believe in most cases, as long as we make sure the ranges are right(correct interval of the distribution for certain functions) or have the right tol value, most cases are not flaky.  Using random number can sometimes help us find problems.

[2019-01-08 05:41] tqchen commented on #2388
centralized thread created per your suggestion https://discuss.tvm.ai/t/flaky-test-cases-thread/1437

[2019-01-08 06:10] hyuen commented on #2358
I believe this is a bug, the way to reproduce this is to run the notebook in ipython command line and everything works as expected, but when running from the python notebook I get the failure described in the first comment.
This is probably some interaction between the network connection of the notebook and the network connection to the slaves running tasks?

[2019-01-08 08:01] nhynes commented on #2306
an interesting point. what happens if the `common` crate has the headers behind one of two mutually exclusive feature flags: `runtime` and `frontend`? The former would pull in the definitions from `c_runtime_api.rs` and the latter would expose `tvm-sys`.

I'm not sure I follow. Is it not as easy as `#[derive(Debug)]` or even `impl Debug for Struct`

[2019-01-08 08:55] #2364 closed

[2019-01-08 11:53] LJenny opened #2390 "Is autoTVM an option?"
Hi, I would like to ask a simple question.
In the tutorial, there is optimize / opt_gemm.py.
In this sample, I can not find an automated schedule optimizer (autoTVM).
Is not the sample optimized for the schedule?
For example, do I need to add an autotvm module to optimize this sample?
Thank you in advance.

[2019-01-08 17:22] tqchen commented on #2390
Thanks for raising the question, please open a new thread in https://discuss.tvm.ai/

[2019-01-08 17:22] #2390 closed

[2019-01-08 17:23] #2388 closed

[2019-01-08 17:32] tqchen opened #2391 "[RFC] Namespace for Optimization Specific Annotation"
As we start to get some optimization specific operators to annotate additional information needed by relay. Here is a rough list that I am aware of:

- on_device, annotate which device we should run computation on
- stop_gradient, stop gradient in AD
- stop_fusion, stop to fuse continuous ops, useful for accelerator ware partition
- simulated_quantize, used for intermediate annotation for quantiza

[2019-01-08 17:32] tqchen commented on #2296
https://github.com/dmlc/tvm/issues/2391

[2019-01-08 17:34] tqchen commented on #2357
close this for now as it is temporary, not actionable. If we have an additional info field in the json, we can sent an update to allow parser to skip the field correctly while let the high level framework to get the info

[2019-01-08 17:34] #2357 closed

[2019-01-08 17:35] tqchen commented on #2250
I would recommend us to start with backend support for texture and list them as a separate device type. Once we have enough evidence to support the texture code, then we can start this migration

[2019-01-08 17:38] zhiics commented on #2391
@tqchen Thanks for the RFC. I personally would prefer relay.annotation.on_device since some of the passes are probably not for optimization but really for annotation purpose.

[2019-01-08 17:56] tqchen commented on #2343
Given that this is a discussion and we do not yet have actionable items, this issue is closed for now, let us move further discussion to https://discuss.tvm.ai/

[2019-01-08 17:56] #2343 closed

[2019-01-08 17:57] tqchen commented on #2176
close due to inactive status, contribution is still welcomed

[2019-01-08 17:57] #2176 closed

[2019-01-08 17:59] tqchen commented on #1864
close this for now, future onnx test cases will be added for relay

[2019-01-08 17:59] #1864 closed

[2019-01-08 17:59] tqchen commented on #1732
Let us act on this, any volunteers?

[2019-01-08 18:01] tqchen commented on #1935
I am not sure if this is staled already, close this for now because this issue is rather inactive. Let us open new thread with smaller actionable items

[2019-01-08 18:01] #1935 closed

[2019-01-08 18:12] tqchen opened #2393 "[TEST][ONNX] ONNX test flaky"
cc @icemelon9 @zhreshold , could due to initialization issue as the op is 1/x, see , please send in a PR to fix the flaky testcase

http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/master/588/pipeline/

[2019-01-08 18:14] zhiics commented on #1732
I think the easiest thing is to add a .clang-format in the project root dir as most of other projects do.

[2019-01-08 18:21] tqchen commented on #1732
that sounds good, @zhiics can you open a PR, we only need to modify a bit in terms of max chars per line(we use 100 chars).

[2019-01-08 18:23] zhiics commented on #1732
@tqchen NP. Let me do that.

[2019-01-08 19:03] MarisaKirisame commented on #2237
@reminisce
this is an orthgonal problem.
we are working on converting a define-by-run(imperative model) to a define-then-run(symbolic model)

[2019-01-08 19:04] tqchen commented on #2237
My understanding is that the current signature support imperative AD as well

[2019-01-08 19:19] yangchen-MS opened #2396 "[TEST][ONNX] ONNX test flaky (Div in test_binary_ops)"
With commit be07fac, the following test input produced failure for Div op:

    x = np.asarray([[[[ 0.71703678, 0.56416506, 0.08745602],
                      [ 0.87705201, 0.50444186, 0.70680761],
                      [ 0.20275222, 0.00688661, 0.88937372]],
                     [[ 0.70284462, 0.31927493, 0.33494693],
                      [ 0.77690017, 0.7294656,  0.33145803],

[2019-01-08 19:22] yangchen-MS opened #2397 "[TEST][ONNX] ONNX test flaky sqrt, div, logsoftmax"
With commit be07fac, the following test input produced failure for Sqrt op:

    indata = np.asarray([[0.69074488, 0.29226714,-0.56205946, 0.01265035]], dtype='float32')

With the input above, I got:

    outdata:
    [[-0.90204036 -1.30051804 -2.15484476 -1.58013487]]
    tvm_out:
    [[-0.90204048 -1.30051827 -2.15484476 -1.58013499]]

[2019-01-08 19:29] yangchen-MS opened #2398 "[TEST][ONNX] ONNX test flaky (test_LogSoftmax)"
With commit be07fac, the following test input produced failure to test_LogSoftmax:

    indata = np.asarray([[0.69074488, 0.29226714,-0.56205946, 0.01265035]], dtype='float32')

With this input data, I got:

    outdata:
    [[-0.90204036 -1.30051804 -2.15484476 -1.58013487]]
    tvm_out:
    [[-0.90204048 -1.30051827 -2.15484476 -1.58013499]]

[2019-01-08 19:31] yangchen-MS commented on #2396
BTW, the failure happened when testing nnvm/tests/python/frontend/onnx for CPU target. My TVM built with LLVM 6.0.1.

[2019-01-08 19:36] yangchen-MS commented on #2397
I should have been more careful when reporting the issue. The failure happened when running nnvm/tests/python/frontend/onnx for CPU target. My TVM built with LLVM 6.0.1. To reproduce the failure (hopefully you could reproduce it because it might be arch-related), you can replace:

    x = np.random.uniform(size=in_shape).astype(dtype)

with

        x = np.asarray([[[[ 0.94189703, 0.24268626, 0.25

[2019-01-08 19:42] yangchen-MS commented on #2398
To reproduce the issue, you may try the following patch:

    diff --git a/nnvm/tests/python/frontend/onnx/test_forward.py b/nnvm/tests/python/frontend/onnx/test_forward.py
    index 82b5d319..d20b0521 100644
    --- a/nnvm/tests/python/frontend/onnx/test_forward.py
    +++ b/nnvm/tests/python/frontend/onnx/test_forward.py
    @@ -273,7 +273,7 @@ def test_slice():
         _test_slice_iteration(x,

[2019-01-08 19:49] yangchen-MS commented on #2397
I think we may want to adjust '```rtol``` for these failing tests. The reason is that different FP-related algorithms (e.g. vectorization algorithm used by LLVM, or CUDA library) could produce results with different accuracy. For example, we might want to check only 3 or 4 most significant digits after dot.

[2019-01-08 20:10] tqchen commented on #2397
@yangchen-MS can you send in a PR to adjust the rtols and atol(of the recently reported flaky case). We can use tvm.testing.assert_allclose which sets the atol correctly.

In some cases, we might need to fix the way random numbers are generated(e.g. Div, (x/y) we will need to make sure y is not too small)

[2019-01-08 20:42] yangchen-MS commented on #2397
Yes, I will do that. Thanks.

[2019-01-08 20:46] reminisce commented on #2237
@MarisaKirisame Thanks. That's what I thought. No pressure to put it in this PR. Has an RFC been submitted?

@tqchen Could you elaborate your thoughts? My understanding is that we will need to attach node info to NDArray in the forward pass to construct Relay AST at runtime, and create a backward AST for running AD. Thanks.

[2019-01-08 21:09] tqchen commented on #2398
move to https://github.com/dmlc/tvm/issues/2398

[2019-01-08 21:09] #2398 closed

[2019-01-08 21:10] tqchen commented on #2396
move to https://github.com/dmlc/tvm/issues/2398

[2019-01-08 21:10] #2396 closed

[2019-01-08 21:10] tqchen commented on #2393
related https://github.com/dmlc/tvm/issues/2398

[2019-01-08 21:22] tqchen commented on #2237
The current AD signature: ```Array<Expr> (Expr orig_call, Expr out_grad)``` constructs the gradient AST for a given input.

Imperative AD can make use of this signature along with a high-level taping structure(possibly attached to NDArray of the framework) to get the gradient. So you don't need another separate signature for imperative AD.

[2019-01-08 21:34] reminisce commented on #2237
@tqchen Thanks for the answer. I will take a look.

[2019-01-08 21:36] MarisaKirisame commented on #2237
@reminisce not yet. it is still wip.

[2019-01-09 00:13] tqchen opened #2401 "[RFC][DISCUSS] TVM Apache Incubation"
Dear community, happy new year! As the TVM community grows larger, we have heard voices on the possibility of joining a software foundation. As per our community tradition, I open this thread for discussing the possible futures of the community. In particular, we would like to discuss the possibility to propose TVM to Apache Incubator.

Please share your thoughts, concerns, ideas.

##  Why

The TV

[2019-01-09 01:37] #2393 closed

[2019-01-09 01:38] #2397 closed

[2019-01-09 01:45] tqchen commented on #1676
close for now due to inactive status

[2019-01-09 01:45] #1676 closed

[2019-01-09 01:45] tqchen commented on #1732
close by #2395

[2019-01-09 01:45] #1732 closed

[2019-01-09 02:06] eqy commented on #2355
Thanks for your work on this! Were you able to verify that it was the fusion pass in particular that produces the error (e.g., by disabling/enabling other passes to check https://discuss.tvm.ai/t/different-output-values-when-setting-opt-level-3-in-nnvm-compiler-build-config/1392).

[2019-01-09 03:02] headupinclouds commented on #2355
I don't know enough to say that specifically.

Here is the output for opt_level=0,1,2,3.

### opt_level=3

[code]

### opt_level=2

[code]

### opt_level=1

[code]

### opt_level=0

[code]

Please let me know if there are other tests that could be useful.

Is it possible to debug this at the level of individual Vulkan commands somehow?

[2019-01-09 04:00] ZihengJiang commented on #2401
+1

[2019-01-09 04:05] ZihengJiang commented on #2391
Prefer `relay.annotation.on_device`

[2019-01-09 05:56] were commented on #2401
+0

[2019-01-09 05:57] masahi commented on #2401
+1

[2019-01-09 06:10] icemelon9 commented on #2401
+1

[2019-01-09 06:38] tqchen commented on #2401
Thanks for everyone who responded so far, I have updated the thread to also discuss the cons. If you have some specific questions, or thoughts, please feel free to share them

[2019-01-09 06:41] srkreddy1238 commented on #2401
+1

[2019-01-09 07:13] ZihengJiang commented on #2401
The transition sounds good to me. One thing is, will Apache require us to transition the website/CI hosting?

[2019-01-09 07:21] tqchen commented on #2401
re. CI/website, as far as I understand, the main website(tvm.ai) will need to be migrated to tvm.incubator.apache.org.  Likely we can keep our own CIs due to the special requirement to setup the pipelines and https://discuss.tvm.ai/, but we can also confirm this in our proposal.

Regardless of where things goes, the general principle is that the resources are owned and shared by the community

[2019-01-09 09:26] LJenny opened #2405 "can't run nnvm_get_start.py"
Hi, I can't run nnvm_get_start.py in tutorial.
It seems to be changed the parameter number from 3 to 4.

the error :
[code]

I think the below commit is related it.

[code]

[2019-01-09 13:41] Ravenwater commented on #2401
what are the success statistics for Apache projects that have University-paid versus Company-paid principals? I am worried that a project with this level of complexity needs a continuously engaged engineering team of significant cost and skill level to keep the core healthy.

[2019-01-09 16:50] tqchen commented on #2401
I think it does not matter in terms of contributors from university v.s. company,  it is dangerous to impose bias toward either one. Note that a contributors' background does not necessarily imply their skill level.  I have personally seen proliferate open source contributors from both backgrounds.

The merit-based principle means that whoever made sustained high-quality contributions will get add

[2019-01-09 16:54] tqchen commented on #2405
Please open a new thread in https://discuss.tvm.ai/

[2019-01-09 16:54] #2405 closed

[2019-01-09 17:40] nhynes commented on #2401
I think that's already what we have! Even without incubation and a community-based dev team, TVM is already a significant way towards not only fast ML on the usual devices, but also heretofore unexplored ones with VTA. Indeed, TVM's development closely parallels that of MXNet, which continues to thrive, and actually drops some of the procedural/tooling baggage that can hinder contribution.

Furthe

[2019-01-09 17:57] sscdotopen commented on #2401
Sebastian here from the ASF. I would like to note that many successful
Apache projects such as Flink or Spark managed to attract a mix of
(paid) academic and industry contributors.

A goal of the incubation process in Apache is to broaden the set of
stakeholders in a project so that it does not exclusively rely on the
benevolence of a single contributing entity.

Best,
Sebastian

On 09.01.19 08:41

[2019-01-09 23:49] eqy commented on #2355
Maybe a way to simplify the debugging is to see if the behavior changes for smaller pieces of the graph. As it is, it may be difficult to trace exactly the error is when doing a full end-to-end inference. Can you try checking what happens, say, when only running the first layer---adding layers until the problem resurfaces?

[2019-01-10 00:00] headupinclouds commented on #2355
Thanks for the feedback.  In this case it actually does seem to occur directly in the first real layer of the fused/optimized network `fuse_conv2d_broadcast_add_relu` in the post [above](https://github.com/dmlc/tvm/issues/2355#issuecomment-451781350).

[2019-01-10 00:20] were opened #2409 "C/Python glue?"
I am extending the schedule support to Hybrid Script.
I did something like `src/op/compute_op.{cc/h}`, which separates out some functions dedicated to hybrid schedule.
However, after doing that and recompiling the project.
[code]
which may give me
[code]

[2019-01-10 00:22] were commented on #2409
@merrymercy @ZihengJiang @tqchen Any one can help me out?

[2019-01-10 00:49] eqy commented on #2355
Thanks for this; it is useful to know that the problem can be triggered with a single fused conv2d layer.
I think the next step is to check if the problem persists when using a default schedule for the operator.
For example, we could manually define a direct 2d convolution with minimal scheduling (e.g., just bind threads to a single dimension) while inlining the next operation (to simulate fusion)

[2019-01-10 02:30] tmoreau89 commented on #2401
I'm all for this proposed transition. And regarding academic-based vs. industry-based engineering team, I think we have the right mix to keep the project healthy and growing!

[2019-01-10 02:48] tqchen commented on #2409
This usually was due to mismatch of signatures. I faced similar errors and eventually find it was because I declared the function as MyXYZ(Stmt xyz), but implemented it as MyXYZ(const Stmt& xyz);

Given that this is a general discussion and not in particularly actionable, I suggest we move it to discuss https://discuss.tvm.ai/

[2019-01-10 03:24] jinfagang opened #2410 "Does tvm support model convert from pytorch or onnx?"
Does tvm support model ocnvertion from pytorch or onnx? It seems it define models it self and compile to lib,

[2019-01-10 04:13] tqchen commented on #2410
Yes, see https://docs.tvm.ai/tutorials/index.html#compile-deep-learning-models. For general questions as such, please open new threads in https://discuss.tvm.ai/

[2019-01-10 04:13] #2410 closed

[2019-01-10 05:00] reminisce opened #2411 "[Relay] Global reduce fails to compile"
I was trying to use `relay.sum` to perform global reduction on a tensor, but it fails to compile. I also noticed that this use case is skipped in the [unit test](https://github.com/dmlc/tvm/blob/master/tests/python/relay/test_op_level4.py#L138). Is this a bug or a known issue of Relay?

[code]
Error message
[code]

[2019-01-10 06:39] xqdan commented on #2401
Let us do apache incubation

[2019-01-10 10:44] jroesch commented on #2401
I am in favor as well. My only concerns are about development workflow/methodology, i.e staying on Github, and avoiding JIRA.

[2019-01-10 12:24] srkreddy1238 opened #2413 "[RELAY][COMMON] Common api across nnvm relay"
This issue is to track the common API movement from nnvm to relay.
This movement is based on the fact that nnvm will depends on relay.

- [ ] nnvm.compiler.save_param_dict

- [ ] nnvm.compiler.load_param_dict

please feel free to add if anybody come across such API require a movement.

[2019-01-10 12:34] markusweimer commented on #2401
Markus here, like @sscdotopen from the ASF. Allow me to address a couple of the questions raised so far. I realize that some of what I say is repetitive with the comments made by others, but maybe the different formulation from a different perspective is useful.

@jroesch said:

The vast majority of the workflow of TVM seems unaffected by a move to the ASF. The biggest challenge usually is to move

[2019-01-10 18:40] tqchen commented on #2401
To follow up a bit on comments on development workflow. One thing that Apache is quite strict about is the dev@ mail-list. There is a that everything (also) happens on the ASF list, this helps to provide a legal shield to the discussion. Given that our current way of development requires major design decisions and discussions being made in Github issues, we will likely resolve the issue by mirrori

[2019-01-10 20:12] jroesch commented on #2413
I will try and open a PR today after I get a few other things done.

[2019-01-10 20:25] qigtang opened #2415 "Error when running "Compile ONNX Models" tutorial"
I am trying to run the tutorial in https://docs.tvm.ai/tutorials/nnvm/from_onnx.html#sphx-glr-download-tutorials-nnvm-from-onnx-py

- use tvmai/demo-cpu:latest docker image
- inside docker, type "pip3 install onnx" to install onnx
- Then download jupyter notebook https://docs.tvm.ai/_downloads/0f32a5e1990d5f813b94ba5abdc4600e/from_onnx.ipynb
- in the script, convert target from 'gpu' to 'cpu'
- ru

[2019-01-10 21:30] zhiics commented on #2391
So I think we will go for opening a new `annotation` namespace.

As for the support level, what do you guys think?

[2019-01-10 21:51] ZihengJiang commented on #2391
vote for 10, since it is experimental so we can change it to 9 after it is stable

[2019-01-10 22:50] tqchen commented on #2391
The current proposal seems to converge toward ```annotation```, let me suggest that we start with level 10 and move to level 9 once we think things are stable.

Let us leave this RFC open for a week so others has time to take a look and share their thoughts, in the meanwhile, we can proceed with changes in the PR accordingly.

[2019-01-10 23:11] zhiics commented on #2391
No problem. I will then go ahead with `annotation` but keep level 10 for now.

[2019-01-10 23:58] tqchen commented on #2415
Thanks for reporting the problem, please open a new thread at https://discuss.tvm.ai/. In your case, it is likely due to not compiling with LLVM

[2019-01-10 23:58] #2415 closed

[2019-01-11 00:03] qigtang commented on #2415
Thanks!
Will try build the tool from source with llvm later.

[2019-01-11 01:45] liwchang opened #2418 "[RFC] Disable Floating-point distributive property"
TVM seems applying floating-point distributive property (HalideIR\src\arithmetic\Simplify.cc, Around Line 845-86 ).
In general, floating point should allow only commutative property, not associative or distributive.

Applying distributive property in floating point could significantly change rounding error, and impact accuracy.
And we did observe that in some models.

One way to fix it is to check

[2019-01-11 07:19] p517332051 commented on #1269
slice_axis seems not supported in nnvm

[2019-01-11 09:32] Vooblin commented on #2259
I think `simulated_quantize` shouldn't have attribute `sign`. Only attribute `nbit` and method of calculating `dom_scale`, but not a quantization scheme, affect the rounding error, isn't it?

[2019-01-11 13:02] sgrechanik-h opened #2421 "[BUG][LLVM] Division by inf bug (affects sigmoid)"
The commit 194a2e7cfd4b4b4a702e081fdf098377fa5a6a66 (#2386) introduced the following bug: in some cases sigmoid returns NaN instead of 0. The reason is that llvm started to compute reciprocals using the instruction `rccps` instead of `divs`, however `rccps` seems to work incorrectly when the argument is `inf`, returning nan instead of 0. The bug can be demonstrated by the following code:
[code]
Th

[2019-01-11 13:57] headupinclouds commented on #2355
Okay, this sounds good, although I'll need help with the details (unless you have an example close to what you are suggesting already).  It sounds like this would be a small unit test entirely in TVM (no NNVM or end-to-end CNN) that runs something like conv2d + relu on a simple test input tensor `ones(64,64,3)`?  We would make a small python script, then `build` for Android + Vulkan and run the te

[2019-01-11 15:31] denis0x0D commented on #2421
By the way, here is a discussion about reciprocal instruction accuracy and performance https://bugs.llvm.org/show_bug.cgi?id=21385

We also, probably, can disable it for kernel function by using attributes
`llvm_function->addFnAttr("reciprocal-estimates", "!sqrtf, !vec-sqrtf, !difv, !vec-divf")`
 since this is checking at
https://github.com/llvm-mirror/llvm/blob/master/lib/CodeGen/TargetLoweringBa

[2019-01-11 17:02] eqy commented on #2355
Yes, your understanding is correct. That TVM tutorial should be almost exactly what we need.
If you have a C++ function deploy flow on device, we can use that, but otherwise it would be simpler to just use the RPC server so that we can make changes quickly without rebuilding anything manually for the device.

I am not sure we need to use the packed function test, because more basic functions (e.g.

[2019-01-11 18:18] #2421 closed

[2019-01-12 17:06] tqchen opened #2425 "[WEB] Recover WASM and JS Flow on the Latest Emscripten"
There have been some problems in using the web flow on the latest version of Emscripten. The main reason seems due to Emscripten moves the default from ASMJS to WASM and there is some gap in vector support.

It would be great if someone can look into them and revive the support. More generally, given the amount of interest in web support, we might want to do an upgrade to also move more of our run

[2019-01-12 18:04] sscdotopen commented on #2401
Hi Tianqi,

I asked on the incubator mailing list whether the ASF has an official
stance on discussion boards, I will keep you (and the TVM community)
updated on what they answer. I also feel that it would make sense to
keep it.

Best,
Sebastian

On 10.01.19 13:40, Tianqi Chen wrote:

[2019-01-12 23:59] jroesch commented on #2413
@weberlo I think this would actually be a good way to get back into the code base, could you try and do this? I'm happy to mentor/explain.

[2019-01-13 00:31] weberlo commented on #2413
Yeah.  Sure thing.  I'm free to talk about it any time.

[2019-01-14 03:46] bravomikekilo commented on #2368
I would like to implement slice, may I get this part? @tqchen

[2019-01-14 04:12] FrozenGene commented on #2413
@srkreddy1238 This help we call Relay pass in NNVM or other purpose?

[2019-01-14 05:55] JeffSoong opened #2428 "FullyConnected with PRelu Error"
Check failed: dshape.ndim() == 4 (2 vs. 4) Input data should be 4D, but got 2

[2019-01-14 06:54] srkreddy1238 commented on #2413
@FrozenGene no special purpose.

A simple model frontend, compilation and execution is now possible without importing NNVMv1 (nnvm).
I came across these API which are still under NNVMv1 but needed to save compilation output of relay.
This issue is just to track such things.

[2019-01-14 06:56] srkreddy1238 commented on #2368
@bravomikekilo you are most welcome to contribute :+1:

[2019-01-14 07:36] FrozenGene commented on #2413
@srkreddy1238 Thank you for the explanation.

[2019-01-14 07:40] p517332051 commented on #1269
NotImplementedError: Operator: slice is not supported in nnvm.

[2019-01-14 07:58] p517332051 commented on #1269
axis : tuple of <int>, optional, default=[]
    List of axes on which input data will be sliced according to the corresponding size of the second input. By default will slice on all axes. Negative axes are supported.
, in operator slice_like(name="", axes="(2, 3)")

[2019-01-14 09:49] srkreddy1238 commented on #2368
@bravomikekilo  sorry about my communication above. #2285 is WIP PR for Slice.

[2019-01-14 10:52] FrozenGene commented on #2428
@JeffSoong could you list more detail information? For example, what frontend you use? what model you test? If the model is your internal, could you construct simple unit test case? These information could help we reconstruct your issue and help to find out the reason.

[2019-01-14 11:13] hxcai opened #2429 "tensorflow frontend _resize_bilinear infer shape wrong"
I trained my model with tensorflow and saved as pb file, when I use tensorflow frontend, I got errors.
The main error info:
Operator concatenate(axis=3, name=concatenate_1/concat) expects data1's shape to be [1,4294967295,4294967295,0], but got [1,10,10,512].
data0 was from _resize_bilinear function, data1 was from some conv op, it seems _resize_bilinear infered shape was wrong, the infered shape

[2019-01-14 20:39] tqchen commented on #2428
Thanks for reporting this problem, as the item is not currently directly actionable, please open a new thread in https://discuss.tvm.ai/

[2019-01-14 20:39] #2428 closed

[2019-01-14 20:39] tqchen commented on #2429
please open a thread in https://discuss.tvm.ai/

[2019-01-14 20:39] #2429 closed

[2019-01-14 22:32] tqchen commented on #2401
To follow up a bit on the discourse, one way to make it work with the current ASF infra is to archive every post into a mail-list. I have done some experiments on this and found it is possible via [mail-list mode](https://meta.discourse.org/t/what-is-mailing-list-mode/46008)

In particular, I created an account archiver, with its own gmail account and enabled mail-list mode. I can confirm the emai

[2019-01-14 22:51] sscdotopen commented on #2401
Hi Tianqi,

Thank you for trying this, if we archive to an ASF controlled email list
(which we can get from Apache Infra), than everything should be fine :)

Best,
Sebastian

On 14.01.19 17:32, Tianqi Chen wrote:

[2019-01-14 23:42] kevinthesun opened #2431 "[Relay] Flaky Compilation for Gluoncv SSD model"
I'm adding relay support for gluoncv ssd models. The end to end compilation randomly fails:https://github.com/kevinthesun/tvm/blob/RefactorSSDOperator/tutorials/nnvm/deploy_ssd.py

First build RefactorSSDOperator branch under my folk tvm with USE_SORT ON
Then run the test several times:
[code]
Sometimes it succeeds but sometimes fails.
The segfault happens inside op fuse pass: https://github.com/k

[2019-01-15 01:11] masahi commented on #2431
Ok, that line was added by me. I'll take a look.

[2019-01-15 03:42] kevinthesun commented on #2401
+1 apache is a good way to go.

[2019-01-15 05:13] masahi commented on #2431
on Windows, it always segfaults. Disabling fusion support for tuple node will remove the segfault, but then there is another error:

[code]

[2019-01-15 07:03] masahi commented on #2431
@kevinthesun I found the bug! deploy_ssd.py works with relay.

please change [this line](https://github.com/dmlc/tvm/blob/master/src/relay/pass/fuse_ops.cc#L744) to

[code]

I'll send a PR soon.

[2019-01-15 07:43] kevinthesun commented on #2431
Thank you for quick response！

[2019-01-15 07:43] jroesch commented on #2431
Thanks for showing up with the fix @masahi !! Will you cc me on the PR?

[2019-01-15 08:20] #2288 closed

[2019-01-15 08:35] were opened #2432 "[RFC] [Hybrid Script] A hybrid script backend"
Sorry to change my mind again and again, and I will never use the term "finally". Making ideas is endless.

An IR Dumper #2288 , is more heavy-weighted than I supposed before.
I now decide to break this issue into 2 steps:

~We already have Halide's `IRPrinter` to do a statical sanity check, and also the lowered IRs are too low-level to give good readability. Overall, what I want becomes something

[2019-01-15 08:36] were commented on #2432
@merrymercy @junrushao1994 @Laurawly @kevinthesun @xqdan

[2019-01-15 15:33] DavidGOrtega commented on #2425
I'm looking the code. I'm interested on this. Should be possible to put back the code to a stable release before the change?

Also, should not WASM be compatible with ASMjs?

[2019-01-15 17:19] #2431 closed

[2019-01-15 17:42] tqchen commented on #2259
The sign bit will affect the effective number of bits being used to represent nbit and the way people do clipping

[2019-01-15 18:01] tqchen commented on #2432
I believe that maybe we want to have a pass rather than a backend, if we want to use it as a default debug printer.

[2019-01-15 18:03] tqchen commented on #2391
Thanks, everyone for the helpful discussions. The current consensus is:

- Use ```annotation``` as namespace
- Start with level=10, then move toward level 9

@ZihengJiang please also update your PR of quantization accordingly(annotate.simulated_quantize)

[2019-01-15 18:03] #2391 closed

[2019-01-15 18:06] tqchen commented on #2425
WASM is compatible with ASMJS, but we might need some runtime changes to make sure that the runtime can hook into both of them.

We might not need the emscripten layer if we use the pure WASM

[2019-01-15 18:22] were commented on #2432
@tqchen Then we return to a simple interface:
[code]

[2019-01-15 18:59] tqchen commented on #2411
seems that line of check is added by @siju-samuel as part of https://github.com/dmlc/tvm/pull/2091, we do need to fix this

[2019-01-15 19:23] tqchen commented on #2411
should be fixed by https://github.com/dmlc/tvm/pull/2436

[2019-01-15 20:34] #2411 closed

[2019-01-16 05:37] wang2wei1 opened #2443 "Build Mistakes"
WARNING: Configuration 'compile' is obsolete and has been replaced with 'implementation'.
It will be removed at the end of 2018
WARNING: Configuration 'androidTestCompile' is obsolete and has been replaced with 'androidTestImplementation'.
It will be removed at the end of 2018
WARNING: Configuration 'androidTestApi' is obsolete and has been replaced with 'androidTestImplementation'.
It will be rem

[2019-01-16 06:49] were commented on #2432
I am facing a problem --- it cannot dump too low-level IR.
If the IR body is too level, all the tensors are lowered to buffers.
Thus, the placeholders no longer exist.

[2019-01-16 07:54] wu-yy commented on #768
I install the openblas, and it is ok.you can install openblas with the following command on Ubuntu.
`sudo apt-get install libopenblas-dev`

[2019-01-16 18:23] tqchen commented on #2443
please open a thread in https://discuss.tvm.ai/

[2019-01-16 18:23] #2443 closed

[2019-01-16 19:50] ehsanmok commented on #2306
@nhynes the major issue I'm dealing with now is to be able to clone `TVMRetValue`.

First of all, I think, it is incorrect to [cast handle types as `u64`](https://github.com/dmlc/tvm/blob/master/rust/src/runtime/packed_func.rs#L189) as `from_tvm_value` and `into_tvm_value` won't be inverse of each other, so I had to modify `from_tvm_value` to box the handles like `v_handle: Box::into_raw(self.box_

[2019-01-16 23:00] were commented on #2432
@tqchen A debug printer is far away from what we truly want.

As I mention above, Halide `IRPrinter` can already do a static sanity check. There is no point to build another static dumper, so a "runnable" one is desirable. To make it runnable, it requires much runtime information passed to build modules.

To sum up, it is built like a "module" (arguments and buffers), stores information like a "mo

[2019-01-17 01:29] #2340 closed, assigned to nobody

[2019-01-17 01:43] ZihengJiang opened #2448 "TVM 0.5 Release Note"
The release is managed by the TVM PMC, moderators for this release are @ZihengJiang and @yzhliu

The community welcomes new reviewers @nishi-t @were @siju-samuel @jroesch @xqdan @zhiics  @grwlf @ajtulloch @vinx13 @junrushao1994 @FrozenGene @liangfu , new committers @srkreddy1238 @eqy @masahi @nhynes @phisiart @merrymercy @Laurawly @adityaatluri  @Huyuwei

# Change List
## New Features
- Fully feat

[2019-01-17 01:44] ZihengJiang commented on #1596
0.5 release note candidate is now up at #2448

[2019-01-17 01:45] ZihengJiang commented on #2448
Thanks to everyone who have pushed to last release cycle in the past months. We would like to propose the release of v0.5 on Jan 26th.

We encourage everyone in the community to put their weights to review and vote the release. @dmlc/tvm-team

Please reply this thread on

- Things that we missed in the release note
- Bugfixes that need to be included in this release

[2019-01-17 02:40] tqchen opened #2449 "[RFC] Streamline the relay build and optimize interface"
As per #2361 , the build now takes an additional parameter(fallback_device). This is an RFC to discuss the interface of the build.

In particular, there is a dangerous trend in adding compilation related options to the interface itself, we can imagine that additional parameters will get added when we want more options, making build and optimize harder to maintain, this happened in the past in XGBo

[2019-01-17 03:48] chinakook opened #2450 "Windows NNVM Module export_library error"
[code]

[2019-01-17 04:00] tqchen commented on #2450
Please open a new thread in https://discuss.tvm.ai/

[2019-01-17 04:00] #2450 closed

[2019-01-17 04:05] antinucleon opened #2451 "[RFC] Symbolic shape runtime"
Problem: In real world workload, not everything is static. We may want to inference image in different size, or batch size. In some work load, we may need to contact different number of embedding for each instance.

Design: Introduce ```upper_bound``` idea for memory allocation, use different view for different inputs. For example, the inference input shape is [n, 3, 224, 224], we will give hint o

[2019-01-17 05:18] liwchang opened #2452 "[RFC] Make use of Shuffle Expr"
It might be considered as a general version to replace tvm_warp_shuffle.
For llvm, it can simply generate llvm vector instruction, like extractelement or shufflevector.

-L

[2019-01-17 05:33] tqchen commented on #2452
The warp_shuffle is different from shuffle because it involves multiple threads. But indeed shuffle can be useful in certain cases. This is something I have been debating about recently.

On one hand, shuffle will enrich the semantics of the low-level IR and makes it easy to generate complicated vector instructions.  On the other hand, such additional complexity and expressiveness introduced, whil

[2019-01-17 05:42] tqchen commented on #2452
BTW, for general RFC style proposals, please use RFC prefix :) We also welcome general discussion threads in https://discuss.tvm.ai/

[2019-01-17 05:57] were commented on #2432
@tqchen I now know what you mean. For me, the current IRDumper in build_config is kinda horrible.
It generates infinite files named `.cc`. It just borrows `.cc` suffix for code highlight, which makes no sense.

[2019-01-17 06:02] liwchang commented on #2452
Sure.
It is not difficult to work around anyway, just look ugly to me.

BTW, warp_shuffle should be exactly like vector shuffle.
Warp is just terminology of vector in CUDA.

To me, shuffle is a sugar expression for access pattern.
The same shuffle be also lowered to storing local array, and loading back, like scratchpad in GPU.
It can further unify transformation across architecture.

But you migh

[2019-01-17 08:17] xqdan commented on #2432
Normally we have two kinds dump in traditional compilers,

- one is just for reading, just like gcc, tvm's dump pass it play just like this right now.

- another is for reading and executing, just like llvm ir or text ir in relay, which can be as input for another phase of compilers.

is the second one what you want?
if so, we can do it like this, we can save two dump for each pass, one is cc file

[2019-01-17 16:20] sgrechanik-h opened #2455 "[BUG] Integer overflow during interval analysis and simplification"
Consider the following code:
[code]

(Note that all the specified ranges are within the limits for int32).
CanonicalSimplify simplifies the expression to 1 which is wrong. The reason is that during interval analysis (EvalSet) an integer overflow happens. Note that although internally values are represented as int64, which should be enough, the function `IntImm::make` from HalideIR intentionally pe

[2019-01-17 17:01] tqchen commented on #2455
given that the real code overflows, it is hard to argue this as a bug for now. Ideally, we will want to move most of the integer analysis to int64 and do a bound analysis to narrow down necessary ones to int32. This will likely mean a refactor of the current integer analysis. I would suggest we put this in our list to be noticed, and come back to it when we refactor integer analysis. I hope that c

[2019-01-17 17:16] tqchen commented on #2452
I can get the analogy between warp_shuffle and shuffle, it is just that the programming model of CUDA and OpenCL did not treat the warp as a vector lane but allows you to program them separately. So it looks more like an all-to-all communicator. If we have a good idea on how to represent them in a unified way in low level IR, it would be interesting to see what that would look like

[2019-01-17 17:18] tqchen commented on #2451
cc @jroesch @dmlc/tvm-comitter

I think we also need to discuss the scope of this proposal. Seems the current proposal it is good for doing dynamic shape in the case of object detector, a simple but effective generalization to the current version.

We also need to discuss how to handle the kernels when the shape change present.

[2019-01-17 17:43] nhynes commented on #2451
+1 to the general idea of this proposal. We should also consider making the `max_bytes` optional and (for now) adding stubs for delegating to the device allocator just in case the user needs more flexibility.

One example of when allocation might be necessary is during online learning. If the user doesn't fully anticipate the dataset, a large input could come in and crash the system (which is a Ba

[2019-01-17 18:39] zhiics commented on #2449
Yes, I am actually also aware of this. Another case may need again to extend the API is when we have different annotation schemes. Adding options looks a better way to me.

[2019-01-17 18:41] tqchen commented on #2449
@zhiics can you send a refactor patch then?

[2019-01-17 18:53] zhiics commented on #2449
Sure. I will.

[2019-01-17 19:05] eqy commented on #2451
Does `upper_bound` mean anything between 1 and `upper_bound` is likely to be used---or is it more often the case that we only care about a few values? If we want kernels to actually specialize for the difference in values (e.g., actually batching inference instead of running batch-1 n times), then this choice will affect how much time we need to spend optimizing different kernel shapes.

[2019-01-17 20:07] liwchang commented on #2452
I think you got the key point, since you mention communicator.
I think I also realized some confusion since I mentioned HalideIR's Shuffle.
HalideIR's Shuffle seems only working on vector type, so that is why you kept mentioning vector.

The best design in my mind should be Shuffle that works on axis.
It can apply in scheduling by giving strong hint for communication/access pattern.
If that axis g

[2019-01-17 20:12] tqchen commented on #2452
This seems to head in the right direction, but we will need a more detailed proposal. How about we close this RFC first, as it is not currently directly actionable. If you can think a bit more and sent in another RFC as a proposal, we can do a more in-depth discussion.

[2019-01-17 20:39] liwchang commented on #2452
Sure.

[2019-01-17 22:11] #2452 closed

[2019-01-17 22:23] antinucleon commented on #2250
Just FYI there is other effort on this topic: https://medium.com/tensorflow/tensorflow-lite-now-faster-with-mobile-gpus-developer-preview-e15797e6dee7

I want to check whether there is other people in community plan to work on this problem so we may avoid redundant work.

[2019-01-17 23:58] #2449 closed

[2019-01-18 01:06] #2296 closed

[2019-01-18 01:06] tqchen commented on #2296
closed by #2361

[2019-01-18 05:38] liangfu commented on #2448
We have brought the initial support for sparse tensor computation in TOPI (see #1289), though it would be migrated to use hybrid script instead of IR builder in the future.

[2019-01-18 06:43] kevinthesun commented on #2432
@were Can you provide more details about how this backend is used by developer?

[2019-01-18 07:07] ehsanmok commented on #2448
Was hoping to make the rust frontend and runtime both ready for this release. Hopefully soon after

[2019-01-18 07:22] 2909638069 opened #2458 "wrong elf class elfclass64"
I compile at 64bit, deploy at 32bit.
The lib.so occurs error when tvm.module.load at 32bit.
It appears that I should compile at 32bit machine, however I have no one.
What can I do?

[2019-01-18 07:43] were commented on #2432
@kevinthesun I can elaborate it here:
You can compile a schedule of arbitrary op node to hybrid target, which returns a hybrid module.
The usage of this module is basically the same as hybrid functions and a normal module.
You can call it by tvm data structures to compile it to hybrid op.
You can software emulate it by passing numpy data structures.
You can get the source code by using `.get_sourc

[2019-01-18 09:07] #2458 closed

[2019-01-18 09:07] denis0x0D commented on #2458
You can compile 32 bit library on 64 bit host,
It's preety much straightforward.
You need to have:
1. gcc-multilib package, because you need 32 bit crt*.o files, otherwise you can rebuild gcc from source adding --enable-multilib to configure file.
2. llvm 32bit, you can rebuild llvm from source adding -m32 to CXXFLAG
https://clang.llvm.org/get_started.html
export CFLAGS='-m32'
export CXXFLAGS='-m3

[2019-01-18 18:12] tqchen opened #2461 "[RFC] Meta-data default behavior Relay astext API"
## Background

We introduced the API [relay_node.astext](https://docs.tvm.ai/api/python/relay/base.html?highlight=astext#tvm.relay.base.RelayNode.astext) to dump relay code into text format. This can be useful for debugging purposes, so we can get text format out. In order to enable round-trip of between the text format and the in-memory one, we introduced a meta-data section to the text format. T

[2019-01-18 19:59] zhiics commented on #2461
I think it is probably worthy to have a separate API for serialization. Overloading can suppress meta in python, but we will still print it in c++ during debugging if `False` is not given.

[2019-01-18 22:44] eqy commented on #2259
X-posting my comment from the PR thread as it is more relevant here:
Is there support for mixed quantization levels? It looks like currently we specify a global weight and activation precision only---there seems to be only one QConfigNode object. Since we can already do things like skip the first k conv layers when quantizing, it seems that this would be a useful generalization.

[2019-01-18 23:48] tqchen commented on #2461
To unify the API, if we take the other way, astext defaults to show meta-data.

We can have also two functions in C++, AsText, which default to show meta-data, and Print, which by default do not show meta-data. We can also directly overload ```operator<<``` for the c++ side.

[2019-01-18 23:52] zhiics commented on #2461
Yes, then I don't have any preference. But sol. 2 looks cleaner.

[2019-01-19 08:11] junrushao1994 commented on #2253
@tqchen in your example, `%1 = %x -1` should be `%1 = %x`, which is a typo

[2019-01-19 18:34] tqchen opened #2466 "[RFC][COMMUNITY] TVM Apache Incubation Proposal"
In #2401 , the community agrees that it is a good idea to move toward Apache. On behalf of the community, the TVM PMC drafted a incubtation proposal: [TVM Incubation Proposal](https://docs.google.com/document/d/11xjGiRKXnAfc6RhznmL6-CT5f1vw-0ajBdlBYkbZXk0/edit?usp=sharing
)

Please share your thoughts on the proposal. Everyone can comment on the google doc, the PMCs has edit permission and will tr

[2019-01-19 18:38] tqchen commented on #2401
Thanks, everyone for helpful discussions. To summarize, we agree that it is a good idea to move to Apache. The community will need to strive to address the issues being raised and makes the project better for everyone.

We would like to invite everyone to review the formal incubation proposal draft in https://github.com/dmlc/tvm/issues/2466  and move further discussions there.

[2019-01-19 18:38] #2401 closed

[2019-01-20 08:30] FrozenGene commented on #2466
I think the key is ecosystem. For building more mature and larger ecosystem, the key is to attract more developers into our community. Without them, we can not be successful. No doubt is that TVM is become better and more powerful, however, to attract more developers, it is not enough. We should do more PRs to let more developers know us and be more friendly to new developers.

TVM is powerful, bu

[2019-01-20 10:01] nhynes commented on #2466
Is it really? I'd say _yes, superficially_ but if you dig into it, you end up in DOxygen which is mostly unhelpful. Here's a quick example: how long does it take you to figure out what alternatives there are to [`reloc::PIC_`](https://github.com/dmlc/tvm/blob/98e761f8b3fcb6a7fb65c4d9741a765900d58b55/src/codegen/llvm/llvm_common.cc#L146) and what `reloc::ROPI_RWPI` does?

Jokes aside, I (quite unco

[2019-01-20 16:45] Ravenwater commented on #2466
IMHO, excellent documentation is essential for the knowledge transfer demanded for an Apache top level project. Documentation that is 'use case oriented' in my mind is the most productive. With general technology stacks like TVM, it is difficult to 'capture' the intent of the source code when you are coming to it from a very specific use case such as having to integrate inference in an Android app

[2019-01-20 18:02] headupinclouds commented on #2355
I made a smaller test project [tvm_intro_topi](https://github.com/headupinclouds/tvm_intro_topi/blob/69a709e48ddb53ad7856c4c18bb99ea9f20d58c5/intro_topi.py#L101-L104) containing just the conv2d + relu chain along with a C++ test executable.

[code]

This is based on the original TVM TOPI tutorial [intro_topi.py](https://github.com/dmlc/tvm/blob/45456b1495048883fa3b3f2095c6747b8188db85/tutorials/to

[2019-01-20 18:37] yidawang commented on #2466
+1 for document focus in the next release cycle. We will be more than happy to help on this end.

[2019-01-20 18:45] tqchen opened #2469 "[RFC] Developer Documentation Feedbacks"
There has been a growing demand for better documentation which many of us totally agree.  Good developer documentation makes others to quickly jump in to use TVM and helps us to get more community users.

We need your help in giving thoughts on how we can do better, in particular:

- What do you think are the important categories of docs?
   - In particular, how can be better (re)organize our docs

[2019-01-20 18:47] Ravenwater commented on #2466
Love to help on the documentation side as well.

[2019-01-20 18:58] tqchen commented on #2461
@jroesch what are your thoughts on this?

[2019-01-20 18:59] tqchen commented on #2246
@Huyuwei can you also help to migrate the frontend tutorial into tutorials/frontend?

[2019-01-20 20:52] headupinclouds commented on #2355
The from_mxnet.py example is using [resnet18_v](https://github.com/headupinclouds/tvm_cpp_test/blob/9c41ead301545120975d55c3806689d7e610bb71/from_mxnet.py#L78)

[code]

Since we seem to see issues in the first block, we can probably replicate that from the gluon-cv definition  [here](https://github.com/dmlc/gluon-cv/blob/5e7a3a2f86d0fe4c8ad394c03618c7abca07f608/gluoncv/model_zoo/resnet.py#L392-L39

[2019-01-20 23:10] headupinclouds opened #2470 "[TOPI] topi.nn.batch_norm_inference is broken"
The `topi.nn.batch_norm_inference` python implementation appears to be broken.

[code]

https://github.com/dmlc/tvm/blob/e4b9f986dab8c48ba109a52106565fc4be6b67c4/topi/python/topi/nn/batch_norm.py#L54-L56

Should the offending lines (`mean` and `var` return variables) just be removed here?

C++ prototype:

https://github.com/dmlc/tvm/blob/e4b9f986dab8c48ba109a52106565fc4be6b67c4/topi/include/topi/n

[2019-01-21 01:36] yzhliu commented on #2470
I feel `batch_norm_inference` is no longer used as `batch_norm` gets decomposed into several scalar operations in `simplify_inference` pass.

[2019-01-21 03:52] FrozenGene commented on #2469
Let me express some thoughts about documentation suggestions from my mind, with the hope that my crude remarks may draw forth by abler people.

I think `Use TVM` should be first and important, not TVM internal development. i.e. Teach users how to integrate TVM into their projects smoothly and quickly should be the first place.

In this part, we should write the tutorial very detail, from `Installa

[2019-01-21 08:56] Mut1nyJD opened #2474 "Getting stack overflow error with nnvm_quick_start.py"
After installing the latest tvm from github when I try to run the nnvm_quick_start python example in the tutorial directory I'll get a stack overflow error, see complete stack trace below:

Traceback (most recent call last):
  File "nnvm_quick_start.py", line 83, in <module>
    net, target, shape={"data": data_shape}, params=params)
  File "d:\ProgramData\Anaconda3\lib\site-packages\nnvm-0.8.0-py

[2019-01-21 09:21] junrushao1994 commented on #2253
Just curious, have you guys decided to do opt based on anf or cps? What doves the time complexity looks like when it comes to crazy neural nets as deep as ~10k layers?

[2019-01-21 09:42] tpoisonooo opened #2475 "bug: remote.connect error"
[Description]
According to  [Deploy the Pretrained Model on Raspberry Pi](https://docs.tvm.ai/tutorials/nnvm/deploy_model_on_rasp.html#tutorial-deploy-model-on-rasp),
I have compiled the project with llvm-4.0,  but `deploy_model_on_rasp.py` crashed on `tvm/src/runtime/rpc/rpc_socket_impl.cc:47`:
[code]

It seems like some network error caused assertion, then I checked the commit log and revert it

[2019-01-21 13:10] headupinclouds commented on #2470
I see.  Are you suggesting it should just be removed?

[2019-01-22 01:13] eqy commented on #2475
Can you share some more details of your network setup? Is it IPv6 or IPv4? We will need to add a regression test for this.

[2019-01-22 01:14] eqy commented on #2474
Can you please cross-post this to the [discuss board](https://discuss.tvm.ai/)? Thanks!

[2019-01-22 01:14] #2474 closed

[2019-01-22 02:03] Huyuwei commented on #2246
#2479 migrates from_keras tutorial to tutorials/frontend

[2019-01-22 02:16] ehsanmok opened #2480 "[RUST][RUNTIME] nnvm test fails"
During my local dev for Rust frontend, the current runtime `tests/test_nnvm` fails with that is also a problem with other current PRs such as [this](http://ci.tvm.ai:8080/blue/organizations/jenkins/tvm/detail/PR-2479/1/pipeline) in [here](https://github.com/dmlc/tvm/pull/2479).

[code]
Previously, my local test was failing at [this check_sum](https://github.com/dmlc/tvm/blob/master/rust/tests/test

[2019-01-22 02:59] tpoisonooo commented on #2475
[Evnvironment]
IPv4, normal local area network.

Nvidia tx1 IP:  10.100.31.193
MacOS IP: 10.100.31.156

[Operation]
1. Open a MacOS terminal, login tx1, startup tvm server:
[code]

2. Execute `deploy_model_on_rasp.py`, this python code has been changed:
https://github.com/tpoisonooo/how-to-optimize-gemm/blob/master/deploy_model_on_rasp.py

[2019-01-22 03:17] MarisaKirisame commented on #2253
@junrushao1994
0: we decided to used anf instead of cps because the latter is more complex (not just the transformation, but subsequent optimization is harder to write in cps style). also we do not need continuation.
1: the complexity is somewhere around n log n, so it would not be an issue. also other passes will have a higher complexity, so this is not a bottleneck afaik. also even if the nn is

[2019-01-22 03:30] junrushao1994 commented on #2253
@MarisaKirisame looks good with this complexity as long as you implement lca and dominator analysis efficiently. Sure, people build nn in a modular way, so we need to convince ourselves that our interprocedural analysis works.

[2019-01-22 03:39] eqy commented on #2475
Great, thanks. I have a macOS machine and will try to reproduce this tomorrow.

[2019-01-22 14:42] Ravenwater commented on #2466
@bgchun I would think that if we managed it as a Hardware Abstraction Layer with a proper functional simulator behind it then it is as naturally supported as pure software. The run-time and the tvm integration would all be part of the flow, and then different hardware experiments can come in with open source, different simulators, different run-times, or fixed hardware and integrate seamlessly.

O

[2019-01-22 17:01] nhynes commented on #2480
I ran the tests in a local docker container according to the CI flow on 0806b69e3fb136226fa1dafad00bd2c606cc998d but could not reproduce the bug. I'd suggest rebasing the failing PRs onto `master`, at the very least.

[2019-01-22 19:02] eqy commented on #2480
Interesting, the three most recently opened PRs all fail with this error.

[2019-01-22 19:16] nhynes commented on #2480
Well, I [found the bug](https://github.com/dmlc/tvm/blob/master/rust/tests/test_nnvm/build.rs#L17). Why I couldn't reproduce is a separate issue, but I'll post a fix now :)

[2019-01-22 20:08] yzhliu commented on #2470
Yes, let's do it. would you mind shoot a PR to remove?

[2019-01-22 20:17] eqy commented on #2475
I have reproduced the bug, it seems to be related to the wrong size being passed into `Connect`, will submit a PR later today.

[2019-01-22 20:25] MarisaKirisame opened #2483 "[RFC][Relay] Reference(Mutation)."
This RFC aim to add ML style Reference into Relay, which is crucial for modeling traditional imperative algorithm, and for higher order reverse mode automatic differentiation (backpropagation require using reference to store the gradient).

Informally speaking, a `Ref(erence)<a>` point to a box, which hold a value of `a`.
We can fetch value from the box, or update a new value into the box, forgett

[2019-01-22 20:32] eqy commented on #2475
A fix is in #2484 that you can try. Unfortunately due to another issue in CI (#2480, #2482), CI and merging of the fix into mainline might be a little delayed.

[2019-01-22 22:14] derisavi opened #2486 "Mod constant folding in canonical.cc gives incorrect result"
This is happening because of a typo in line 366 below https://github.com/dmlc/tvm/blob/0806b69e3fb136226fa1dafad00bd2c606cc998d/src/arithmetic/canonical.cc#L356-L366  Instead of mod-ing the two operands, they are being multiplied.

[2019-01-22 23:35] eqy commented on #2355
I think a simple thing to try would be to just tack on a few elementwise operations (e.g., add, subtract, multiply) following the convolution, and then trying `compute_inline`.
https://docs.tvm.ai/tutorials/language/schedule_primitives.html#compute-inline

[2019-01-23 00:04] eqy commented on #2475
Also, feel free to submit a PR for the spelling fix.

[2019-01-23 02:57] #2480 closed

[2019-01-23 07:48] JennyChou5 opened #2494 "[RFC] Pytorch Support for TVM"
### Problem Statement
PyTorch is a relatively new deep learning framework that is fast becoming popular among researchers and data scientists. It shows the capability to build deep learning applications on top of dynamic graphs which can be played with on runtime. Having Pytorch support in TVM can drive faster adoption, particularly among product builders who would like to ship PyTorch models into

[2019-01-23 09:15] MarisaKirisame commented on #2237
AD is finished in #2496 .

[2019-01-23 11:30] mukul74 opened #2497 "can not found cl.exe,please run this in Vistual Studio Command Prompt"
![image](https://user-images.githubusercontent.com/5962451/51603601-3e8f9800-1f30-11e9-8452-981681ef48c8.png)

https://docs.tvm.ai/tutorials/get_started.html#sphx-glr-tutorials-get-started-py
* I have added the cl.exe path in the environment path but still this issue is appearing .
* Any suggestions?

[2019-01-23 13:54] Ravenwater commented on #2469
@FrozenGene In the `Use TVM`, which maybe better titled `Getting Started with TVM`, I think you will need to create a progression of examples, progressively more complex, and organized by DL discipline (image, sound, text). Trying to mimic the organization of the TensorFlow tutorial IMHO would be good, many folks are familiar with it, it has been battle tested on tens of thousands of folks, and it

[2019-01-23 14:04] yvn96 opened #2499 "can't find the header file"
When we are saving the shared library then .o files are being passed to form a .so file. There should be a .h file also for linking. Where can I get that .h file?

[2019-01-23 14:17] FrozenGene commented on #2469
@Ravenwater Yes. I propose `Use TVM` before just want to emphasize we should care more of `usage`, not `development`. I agree `Getting Started with TVM` is a better name. :-)

[2019-01-23 15:00] MarisaKirisame commented on #2469
This gives us a sense of what specifically the docs we need

writing new construct in relay has become incredibly tediuos. when i add reference I have to:
0: update expr
1: update expr_functor, expr_visitor, expr_mutator
2: update structural_hash, ir_printer, alpha_equal
3: update interpreter, fuse_ops, memory_planner, to_anf, free_vars.
It is very long. Also what if I miss something? (in fact i m

[2019-01-23 17:42] antinucleon commented on #2451
It has been a while and I hope I can hear from you guys about plan on this PR. Also I suggest update roadmap on time so everyone is able to know what is going on for all future features.

[2019-01-23 18:55] eqy commented on #2499
[This](https://github.com/dmlc/tvm/blob/master/apps/howto_deploy/cpp_deploy.cc) is an example of using C++ to deploy a TVM module. In the future, please use the [discuss board](discuss.tvm.ai) for support questions; thanks!

[2019-01-23 18:55] #2499 closed

[2019-01-23 21:29] joshpoll opened #2501 "[Relay][Parser] Parser Roundtrip"
The Relay parser should be able to roundtrip with the pretty printer, i.e., for any Relay AST `ast`, `relay.fromtext(ast.astext()) == ast`. We probably want a similar guarantee for pretty printing and parsing modules. This will ensure that the parser and printer agree on a single canonical text format.

One simple way of doing this is to write a bunch of tests by hand; however, it should be possib

[2019-01-23 22:38] eqy commented on #2259
@ZihengJiang I am currently playing around with some ways to implement mixed-precision quantization here. Currently it is a little tricky to give the user fine-grained control. Do you think something like tagging each annotation (e.g., with some id) and potentially giving QConfigNode a mapping of id->quantization levels is reasonable. A simple first approach is to use the conv_counter as the id, b

[2019-01-24 02:13] slyubomirsky opened #2502 "[Relay] Negative test cases for type inference"
Type inference is a critical feature for Relay, as the number of explicit type annotations that would be needed for the type system to be workable would be overwhelming otherwise. However, our test suite for it is pretty sparse considering how important a feature it is.

A simple area of improvement would be adding more negative test cases, which the current tests do not include at all. These case

[2019-01-24 02:47] FrozenGene commented on #2451
As discusses with @antinucleon in PR #2488 , I advice we extend the functionality supporting auto increasing the memory allocation when the input size larger than hint. The factor could be 1.5 like Folly's vector.

[2019-01-24 05:02] FrozenGene commented on #2448
We have new frontend TFLite support (see #2365 ).

[2019-01-24 06:49] kevinthesun commented on #2451
Memory planning is a great starting point! To achieve dynamic batch inference, we might want to select kernels for different batch sizes, to get descent performance comparing to sequential inference. This depends on the way we support multi-batch kernel schedules. Setting some buckets between [1, upper_bound] might be a possible way. It's also possible to optimize for some values of batch sizes, s

[2019-01-24 08:18] tpoisonooo opened #2505 "[Bug] tvm.exec.query_rpc_tracker timeout"
[Problem]
I have checked [Android TVM Demo](https://github.com/tpoisonooo/tvm/tree/master/apps/android_rpc) and installed `tvmrpc-release.apk` on my Android device.

A process is listening `9190` on my macOS
[code]

But `tvm.exec.query_rpc_tracker` is always timeout.
[code]

I have tried same command on Nvidia tx1, everything goes on well. It doesn't work on MacOS.

[Envrionment]
1. TVM version
[c

[2019-01-24 12:42] grwlf commented on #2466
My post doesn't directly related to the Incubation Proposal. I agree with @FrozenGene and others  that good documentation is indeed important. Still I think that in attracting developers is a different goal because developers will effectively do in-depth architecture review which may be not the case for Apache graduation officials. Good documentation could impress newcomers, but they leaves shortl

[2019-01-24 19:22] antinucleon commented on #2451
@FrozenGene Because we don't want to introduce shape inference in runtime, if we simply linear expand storage pool like a vector, it will make potential bug. If we want to dynamic change, we have to encode storage pool shape expression in json file.

[2019-01-24 20:50] #2486 closed

[2019-01-24 20:59] tqchen commented on #2494
Maybe someone from Pytorch team can also chime in and see if it is a recommended way? Is there an official IR in Pytorch that we should connect to.

Might also be helpful to get feedbacks from pytorch folks: cc @hlu1 @ajtulloch @ezyang @soumith

[2019-01-24 21:00] tqchen commented on #2497
Please open a new thread in https://discuss.tvm.ai/

[2019-01-24 21:00] #2497 closed

[2019-01-24 21:57] eqy commented on #2505
I don't see a discuss board thread so I will respond here (if you want to continue this thread, please open a new thread there). I can reproduce the output you see, however I think it may be unrelated to tvm and just be an issue of how addresses are specified in macOS (maybe there is something weird with how `localhost` works or if there is some weird request filtering). I found that it works if I

[2019-01-24 23:16] tqchen commented on #2466
@grwlf These are great points. I think we can start a discussion on some of these in RFC threads. On C++ vs python, the current project's philosophy is to be agile when possible while being rigor. So have most of the test cases covered in python help toward that. To move toward a more stable C++ API, we can start from the runtime :)

The bottom line is that while we might make the project perfect

[2019-01-25 01:33] #2253 closed

[2019-01-25 01:36] tqchen commented on #2253
close by https://github.com/dmlc/tvm/pull/2251

[2019-01-25 03:05] ehsanmok opened #2506 "[RUST][CI] Add libtvm_runtime to CI"
Related to [frontend PR](https://github.com/dmlc/tvm/pull/2292) I've tried multiple times now and couldn't add the required `libtvm_runtime.so` to `LD_LIBRARY_PATH` in `tests/scripts/task_rust.sh` for successful build. Simple `export LD_LIBRARY_PATH=build:LD_LIBRARY_PATH` and variations of that didn't work.

Please add it somehow as [previous discussion](https://github.com/dmlc/tvm/issues/2318) wa

[2019-01-25 06:14] makihiro commented on #2246
#2507 for Caffe2

[2019-01-25 22:19] rbohl64 opened #2511 "LLVM error on mobilefacenet compile after successful auto-tune"
The following applies to tag v0.4 of the tvm repository on a NXP i.MX8M EVK target.

After successful auto-tuning of a mobilefacenet network, I encountered the following error upon compilation. The input neural network is from the the files model-symbol.json and model-0000.params found at the github repository at https://github.com/honghuCode/mobileFacenet-ncnn. The run script which encountered th

[2019-01-25 22:59] ZihengJiang commented on #2461
Prefer solution 2

[2019-01-25 23:47] tqchen commented on #2461
OK, seems everyone is leaning towards solution 2, contribution is welcomed

[2019-01-26 00:03] tqchen commented on #2511
Thanks for reporting the problem, please open a thread at https://discuss.tvm.ai/

[2019-01-26 00:03] #2511 closed

[2019-01-28 02:06] zhiics opened #2512 "[Relay][RFC] Pass Manager"
After several discussions with @jroesch and some people tagged below, we come up with the following RFC for Relay Pass Manager design.

## Motivation

Relay features a series of optimization passes which improve performance metrics of models such as mean inference, memory footprint, power consumption, or for specific devices. There are a suite of standard optimizations as well as machine learning

[2019-01-28 02:12] jroesch commented on #2512
Could you mark the code regions as ```cpp ... ```

[2019-01-28 02:14] zhiics commented on #2512
@jroesch yeah, thanks.

[2019-01-28 05:50] yzhliu commented on #2448
Pending PR for this release:

Required: #2507 #2476
Good to have: #2508 #2493 #2510 #2292

@ehsanmok as we're approaching the due, do we have chance to get the rust frontend in?

[2019-01-28 06:54] FrozenGene commented on #2448
BugFix:
[LLVM CodeGen] Solve LLVM CodeGen br instruction accept not-i1 type issue #2381 . It could solve conv2d+ PRelu crash issue on ARM CPU. We have met two threads report this issue on the forum: https://discuss.tvm.ai/t/compile-failure-after-successfull-auto-tune/1561 and https://discuss.tvm.ai/t/debug-failed-to-export-library-with-llvm-on-arm-cpu-when-using-prelu/1006/4

[2019-01-28 11:32] Hkathuria opened #2513 "[FRONTEND][ONNX] 'Split' operator not implemented"
Getting Error while compiling onnx model as in the tutorials https://docs.tvm.ai/tutorials/nnvm/from_onnx.html

Traceback (most recent call last):
  File "sface_from_onnx.py", line 12, in <module>
    sym, params = nnvm.frontend.from_onnx(onnx_model)
  File "/home/ubuntu/.local/lib/python3.6/site-packages/nnvm-0.8.0-py3.6.egg/nnvm/frontend/onnx.py", line 967, in from_onnx
    sym, params = g.from_

[2019-01-28 18:17] nhynes opened #2515 "Impossible to make non-C++ DeviceApi"
It's possible to register new APIs from other languages by registering a global `device_api.my_device`, but it breaks down because the actual implementation depends on being a C++ `DeviceApi` with methods like [`AllocDataSpace`](https://github.com/dmlc/tvm/blob/master/src/runtime/ndarray.cc#L132). One solution is to create a "wrapper" DeviceAPI which calls out to globals like `device_api.ext_dev.a

[2019-01-28 19:48] ehsanmok commented on #2448
@yzhliu it should be ready if the last issue with CI build resolves quickly and there's no other requested changes which seems there's none.
cc: @nhynes

[2019-01-28 20:12] nhynes commented on #2448
@yzhliu the rust frontend is _almost_ ready. It'll probably take a few days of concerted effort to get it ready to merge, but I think it'll make it in time.

[2019-01-28 20:19] JuliaNakhleh opened #2516 "Compilation error running get_started.py"
I'm running the file get_started.py (downloaded from the "Get Started with TVM" tutorial) on Ubuntu 16.04. CMake, tvm and LLVM all appear to be installed properly. But when I run `$ python get started.py`, I get the following error:

`Traceback (most recent call last):
  File "get_started.py", line 196, in <module>
    cc.create_shared(temp.relpath("myadd.so"), [temp.relpath("myadd.o")])
  File "/

[2019-01-28 21:08] patrikhermansson opened #2517 "Compilation error Golang 1.11 (go1.11.4 darwin)"
Hi,
I'm getting the following error when building the Golang module. Latest checkout of the tvm repository.

go version go1.11.4 darwin/amd64

`$ make
function_test.go:207:30: error strings should not be capitalized or end with punctuation or a newline
ndarray.go:104:30: error strings should not be capitalized or end with punctuation or a newline
ndarray.go:198:30: error strings should not be capi

[2019-01-28 21:15] eqy commented on #2516
Please open a [discuss forum](https://discuss.tvm.ai) thread for this; thanks!
Also, the issue might be related to this https://discuss.tvm.ai/t/compile-error-when-running-tvm-on-ubuntu-18-04-4-15-kernel/1481.

[2019-01-28 21:15] #2516 closed

[2019-01-28 21:39] yongwww opened #2518 "[FRONTEND] Tensorflow Op: FIFOQueueV2 and QueueDequeueManyV2 are not supported"
Got the following error message when tried to parse [TensorFlow Lite official model](https://www.tensorflow.org/lite/models) ResNet_V2_101, the frozen pb file is resnet_v2_101_299_frozen.pb.

`NotImplementedError: The following operators are not implemented: {'FIFOQueueV2', 'QueueDequeueManyV2'}`

[2019-01-28 21:41] yongwww commented on #2518
Potential fix: Skip the two ops by simply mapping to _undef, they are not related inference in this graphdef, any suggestion or comments? @srkreddy1238 @zhiics

[2019-01-29 03:07] FrozenGene opened #2519 "[RFC] Frontend layout transformation"
Currently, frontend models has two different input layout: NHWC and NCHW. Tensorflow and TFLite are NHWC layout, while like CoreML frontend is NCHW layout.

For converting model with NHWC input layout, currently there is no unified way. Some framework convert NHWC into NCHW input layout. For example, Intel OpenVINO, Tensorflow-CoreML converters (https://github.com/tf-coreml/tf-coreml). This has so

[2019-01-29 07:22] srkreddy1238 commented on #2517
@patrikhermansson  thanks for reporting, let me check.

[2019-01-29 08:35] mnboos commented on #2450
I was able to export the library.

I'm not 100% sure I correctly understand what happened. As far as I know, it's a bad idea to mix different compilers. And since I used the llvm target, the export fails because it uses the MSVC compiler, instead of LLVM. The same goes for the linking.

So the solution was:
1. Update `tvm/contrib/cc.py` as follows:
[code]
2. Run in Visual Studio Command Prompt to

[2019-01-29 14:24] alexeyr opened #2521 ""Disable copy and assign from another value, but allow move""
This is the comment at https://github.com/dmlc/tvm/blob/1120655b7bc43c8881f982424a986974eeaf75e6/include/tvm/runtime/packed_func.h#L609-L612, but instead of being disabled the copy constructor is declared on the next line (and the assignment operator on https://github.com/dmlc/tvm/blob/1120655b7bc43c8881f982424a986974eeaf75e6/include/tvm/runtime/packed_func.h#L718-L720).

One of them should be rem

[2019-01-29 14:52] TonyZhouCH opened #2522 "[Installation]rang.hpp: No such file or directory"
Hi!
I pull the latest code. And I compile the tvm from source code.
+  When I compile, an error occurs which is "/tvm/src/relay/ir/error.cc:12:20: fatal error: **rang.hpp**: No such file or directory"
+ I checked the git log, the 'error.cc' was created 4 days ago. And I didn't find the 'rang.hpp' in the repo.

Thanks!!!

[2019-01-29 15:08] leeexyz commented on #2522
Hi, it is a sub-repository under`tvm/3rdparty/rang`. you should clone it. please check [rang](https://github.com/agauniyal/rang/)

[2019-01-29 15:20] TonyZhouCH commented on #2522
It solves! Thank you!!

[2019-01-29 15:20] #2522 closed

[2019-01-29 16:23] nhynes opened #2523 "[RFC][Rust][Roadmap] Expand Rust capabilities"
The one thing that common to Rust programmers is that, if it's not written in Rust, it ~probably~ almost definitely should be. In the case of TVM, we can do this rather painlessly and incrementally since the "frontend" (i.e. _bindings_) made by @ehsanmok allow us to replicate the functionality of c++ TVM until the pure-Rust portion (currently a CPU-only static runtime) is feature complete.

The ta

[2019-01-29 17:31] Ravenwater commented on #2523
If TVM moves to Rust, I will certainly cease to be interested.

[2019-01-29 19:21] nhynes commented on #2523
That wasn't the proposal, nor do I have the authority to declare this so. However, I would say that proper use of C interop allows bindings in other languages. In any case, would you mind expanding on the reasoning behind your comment a bit? Are you a python proponent? If not, what about C++ does your use case require?

[2019-01-29 19:32] ehsanmok commented on #2523
@nhynes I like the idea very much and can see how an elegant rewrite would help the future directions of TVM. Definitely, leveraging the power of `proc_macro/attr/derive` can make adding new features seamless.  Right now,  I think the tight relation between C++ and Python is perhaps going too far and more likely it will become a major dev bottleneck when new features would be added. I envision tha

[2019-01-29 20:40] Ravenwater commented on #2523
@nhynes @ehsanmok the reason that Rust is unattractive in anything we do with TVM/VTA is that we are interfacing with systems that are 10M LoC of C++ that took hundreds of millions of dollars to create. These systems are not going to be Rust compatible for the rest of their economic life. Most of these lines are implementations of complex optimization algorithms where clever memory management tech

[2019-01-29 20:51] nhynes commented on #2523
would C++ bindings not solve that? it sounds like your (completely reasonable) issue with Rust is just that it doesn't have a C++ ABI.

[2019-01-29 20:58] Ravenwater commented on #2523
@nhynes C++ bindings would at least make it compatible. However, the additional complexity of yet another language/compiler/build/package environment that needs to be supported among two dozen compiler and hardware environments is so very unattractive. We like to do science, not spent 95% of our time keeping the build going, :-(

[2019-01-30 00:36] nhynes commented on #2523
I didn't intend the porting effort as a top-level project. It's more of a thing I was hoping to help with _anyway_. The idea was that a Rust impl would eventually get good enough that people would choose to use it over C++ or Python. If you think that, even as a side project, it would detract from contributions to the main project, then I will gladly table the idea. Ideally, we'd focus on tight in

[2019-01-30 02:16] FrozenGene commented on #2523
What I only say is -1. TVM is not toy project and is not the place expressing the favor of one programming language and try to introduce it into project. TVM is growing rapidly and many companies are trying to use or have used it. We shouldn’t introduce any unnessary distraction for developers and make other companies not use it because of this.

[2019-01-30 03:51] nhynes commented on #2523
@FrozenGene understood. I will extract the high-level idea of your comment and say that the development of any Rust functionality will be independent of the main project. Although I jokingly suggested that the reason to rewrite in Rust is because of the language alone, doing so would have the benefits of easier extensibility/prototyping and bringing any re-implemented functionality to new platform

[2019-01-30 05:52] tqchen commented on #2523
Great discussions :) First of all, as many people said, I think the core of TVM should stay C++ at least in the foreseeable future.

On the other hand, the question is that, can we enable the use of rust(optionally), along with C++ core? I think the answer is yes.

Let me elaborate that a bit. The TVM project is a layered system: we have runtime, frontend and compiler core. So we should really ask

[2019-01-30 06:40] tqchen commented on #2521
Thanks for pointing it out. The comment should be removed

[2019-01-30 06:50] Hkathuria commented on #2513
Basically 'Split' operator (as specified in onnx operator List https://github.com/onnx/onnx/blob/master/docs/Operators.md#Split ) is to infer the shape of input tensor as 1D int64 output tensor .
Is there any alternative way to output the shape in 1D int64 tensor in onnx frontend ?

[2019-01-30 06:53] mnboos commented on #2450
I would consider that a workaround for an unsolved problem, not a solution. With the patch above it's possible to make `export_library` work on windows. Maybe an expert could comment my approach @tqchen ?

[2019-01-30 09:08] rivergold opened #2528 "[TFLite] Tutorial Compile TFLite Models occur AttributeError: 'SubGraph' object has no attribute 'InputsAsNumpy'"
I follow the Tutorial: [Compile TFLite Models](https://docs.tvm.ai/tutorials/frontend/from_tflite.html#sphx-glr-tutorials-frontend-from-tflite-py), and when I run the followings
[code]
meet the  error
[code]
Is there any solutions or what have I missed?

[2019-01-30 09:23] Hkathuria commented on #2513
@tqchen @zhreshold could you please help on this

[2019-01-30 12:02] mnboos commented on #2450
@myproject24 Did you run the script in the Visual Studio Command Prompt?

[2019-01-30 12:07] chinakook commented on #2450
It cannot export_library in windows at all because *.o cannot be compiled by cl.exe at all.

[2019-01-30 12:21] mnboos commented on #2450
Did you read my comment above that describes how to solve this problem?

[2019-01-30 14:41] FrozenGene commented on #2528
Which python version do you use? Have you install TFLite package correctly? Subgraph should have this method of InputsAsNumpy(). See here: https://github.com/FrozenGene/tflite/blob/master/tflite/SubGraph.py#L50

[2019-01-30 15:35] tqchen commented on #2528
please open a new thread in discuss.tvm.ai

[2019-01-30 15:35] #2528 closed

[2019-01-30 16:00] tqchen commented on #2521
close by #2527  thanks to @alexeyr

[2019-01-30 16:00] #2521 closed

[2019-01-30 17:28] sameer120 opened #2530 "Debug VTA in Simulation"
Hello,

I am modifying the VTA Core to add some extra SRAM and hold the data locally instead of sending it to DRAM, I want to debug my logic, can I know the tool chain and enviornment i should use to debug this issue. Just want clarify i want to do it in Host Software(Simulation) not on FPGA.

Thanks & Regards
Sameer

[2019-01-30 18:58] zhreshold commented on #2513
currently topi.split takes `indices_or_sections` as splitting argument.

@tqchen  I need clarification if this operator is fully compatible with numpy: https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.split.html or not.
More specifically, what is the behavior if integer N is used to split the array, but cannot be evenly divided? Numpy says `If indices_or_sections is an integer, N,

[2019-01-30 22:49] Ravenwater commented on #2530
@sameer120 looking at the code, the sim is a pure functional emulator of state ( https://github.com/dmlc/tvm/blob/master/vta/src/sim/sim_driver.cc ) and thus a simple C++ compiler and debugger would be sufficient to validate your mods.

I heard from @tmoreau89 that there is a WIP branch for another FPGA board, but I cannot find a proper fsim/asim/psim/rtl progression that is more common in process

[2019-01-31 04:53] myproject24 commented on #2450
@mnboos I have built LLVM and TVM using Visual studio command Prompt build was success and i got all libraries, based this tvm build document https://docs.tvm.ai/install/from_source.html

Building on Windows

TVM support build via MSVC using cmake. The minimum required VS version is Visual Studio Community 2015 Update 3. In order to generate the VS solution file using cmake, make sure you have a r

[2019-01-31 05:51] tqchen commented on #2530
Thanks for the helpful discussion, given its nature, please open a new thread in https://discuss.tvm.ai/

[2019-01-31 05:51] #2530 closed

[2019-01-31 05:53] tqchen commented on #2513
I have not yet checked the unequal split when n is given. Can you run a quick exp to confirm?

[2019-01-31 05:54] Hkathuria commented on #2513
Update :  I have changed the code split Class  of below python File https://github.com/dmlc/tvm/blob/master/nnvm/python/nnvm/frontend/onnx.py
Original
class Split(OnnxOpConverter):
    """ Operator converter for Split.
    """

    @classmethod
    def _impl_v1(cls, inputs, attr, params):
        attr['indices_or_sections'] = []
        index = 0
        for i in attr['split'][:-1]:
            in

[2019-01-31 17:42] tqchen commented on #2518
Thanks for brings this up. For normal questions and requests please open a new thread in https://discuss.tvm.ai/

[2019-01-31 17:42] #2518 closed

[2019-01-31 18:03] tqchen commented on #2515
I think we should put some thoughts into this. The main reason is that this will increase the size of C++ runtime which we otherwise would not need.

The minimalist nature of the runtime makes me think whether it is a good idea to mix languages in runtime side, or should we simply try to restrict runtime backend into one language. If we decided that we want this, we should put it as an optional de

[2019-01-31 18:10] tqchen commented on #2519
When possible, I think we should keep the original format in the frontend importer, and implement automatic layout conversion pass that can be shared across frontend.

The layout conversion pass should try to eliminate as many intermediate layout changes as much as possible.

[2019-01-31 18:16] tqchen commented on #2451
Let us wait until 0.5 release has been tagged, and then we revisit the proposal. The current proposal seems to be a good intermediate-term solution for some of the problems.

@antinucleon can you post some end to end examples using the new set of changes to give everyone a sense on what can it do? I am still not very sure whether we propose to use bucketing, or generic shape size. Perhaps @ajtullo

[2019-01-31 18:23] Ravenwater commented on #2515
Trying to get my brain around the request. The abstraction of a Device is implemented as an abstract C++ class, with actual implementations provided for each environment. @nhynes what are you trying to do that couldn't be supported by a Rust DeviceApi class implementation that calls out to your Rust device api?

[2019-01-31 19:31] ZihengJiang commented on #2483
Why the `Ref<Int>` in `Ref<Ref<Int>>` is mutable while "The value in the box is immutable"?

[2019-01-31 20:35] ZihengJiang commented on #2451
The RFC addressed how to support symbolic shape in terms of memory planing. We'd better come up the way how to generate efficient dynamic kernels.

[2019-02-01 00:25] wkcn opened #2534 "The ABI compatibility of `PackedFunc`"
Hi! there.
I met a problem in `MXTVMBridge` function of MXNet. [The problem of ABI compatibility in MXTVMBridge](https://github.com/apache/incubator-mxnet/issues/14030)

Then I wrote [a minimum reproducible example](https://github.com/wkcn/test_tvm_bridge) to test `MXTVMBridge`.
In this example, `tvm_packed_func.h` is simplyfied from TVM.

### Steps to reproduce
1. clone the example
2. change the

[2019-02-01 00:33] tqchen commented on #2534
Thanks for bringing this up, as per TVM community guideline, please open a new thread in https://discuss.tvm.ai/ since this is a general technical discussion.

[2019-02-01 00:33] #2534 closed

[2019-02-01 01:00] Laurawly commented on #2448
@ZihengJiang Bug fix for SSD full GPU support and SSD tutorial update #2510 could be added to the list.

@ZihengJiang SSD full support and tutorial update PR #2510 is merged could be added.

[2019-02-01 02:12] zhreshold commented on #2513
@Hkathuria Without manullay setting indices, will a single interger work?

[code]

[2019-02-01 03:45] kevinthesun opened #2535 "[RFC] NMS API Change"
To support gluoncv object detection model, nms operator api needs to be changed.
While the old api is nms(data, valid_count, overlap_threshold, force_suppress, topk), new api is non_max_suppression(data, valid_count, return_indices, iou_threshold, force_suppress, topk, id_axis, invalid_to_bottom).

- overlap_threshold is changed to iou_threshold to align with intersection over union(IoU) in object

[2019-02-01 04:00] rdivyashree1995 opened #2536 "TVM installation issue."
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2019-02-01 04:12] antinucleon commented on #2451
Let's decompose this problem.

In order to support dynamic shape, we have to fix two problem:

1. Memory management.

2. Kernel support.

Memory management will determine  whether a program is able to run or not, then may determine efficiency of the runtime. However Kernel support only determines efficiency.

If you agree with this, we can future decompose what blocks us: memory management.

There

[2019-02-01 04:19] rdivyashree1995 commented on #2536
Hello,
I am trying to install TVM from source (https://docs.tvm.ai/install/from_source.html) While executing the "make -j4" command found the following error:

[  1%] Building CXX object CMakeFiles/tvm_runtime.dir/src/runtime/system_lib_module.cc.o
[  2%] Building CXX object CMakeFiles/tvm_runtime.dir/src/runtime/registry.cc.o
/home/iei-tank_iotg/Downloads/tvm-master_new/src/runtime/registry.cc:6:

[2019-02-01 05:07] zhiics commented on #2451
I am just curious if anybody has any insight about what are the most frequently used batch sizes for a certain model? Is it just a few or many different possible ones? And how much memory would it cost?

My concern is that it would be much harder to determine the `max_bytes` and also the number of `frequently used` sizes would be significant when shape also varies. In addition, I am also curious h

[2019-02-01 05:41] antinucleon commented on #2451
@zhiics Ideally, JIT + a very good dynamic memory allocator will be most elegant solution. However this plus dynamic control flow, is not something we can quickly use . On server side inference, when memory is not very sensitive, we can use current solution.

The graph runtime size is not changed too much as we only introduced a tiny expression for symbolic shape evaluation. The new size of ```lib

[2019-02-01 06:41] leeexyz commented on #2536
You forgot to clone the sub-repositories under [3rdparty](https://github.com/dmlc/tvm/tree/master/3rdparty).

[2019-02-01 06:55] Hkathuria commented on #2513
@zhreshold

@classmethod
def _impl_v1(cls, inputs, attr, params):
    new_attr = {'indices_or_sections': attr['split']}
    return AttrCvt(
        op_name='split',
        ignores=['split'])(inputs, new_attr, params)

Making the above changes I am again getting the below error:

Traceback (most recent call last):
  File "sface_from_onnx.py", line 12, in <module>
    sym, params = nnvm.frontend.fr

[2019-02-01 11:50] alexeyr opened #2538 "Repeated check for `if (c.mem.opcode == VTA_OPCODE_LOAD || c.mem.opcode == VTA_OPCODE_STORE)`"
Nested under https://github.com/dmlc/tvm/blob/75f91c45d7135f366ce653cb2b2d26de2cf25df0/vta/src/runtime.cc#L626 we have the same check in https://github.com/dmlc/tvm/blob/75f91c45d7135f366ce653cb2b2d26de2cf25df0/vta/src/runtime.cc#L641
which even has an `else`.

Probably the second `if` should either be removed or have its condition changed.

[2019-02-01 11:54] alexeyr opened #2539 "Trivially true CHECK(to != kLoadStage || to != kComputeStage);"
The condition in https://github.com/dmlc/tvm/blob/75f91c45d7135f366ce653cb2b2d26de2cf25df0/vta/src/runtime.cc#L498
is always true whatever `to` is. Should it be `&&` instead of `||`, or should one of the sides have `from` as in the previous line?

[2019-02-01 12:25] alexeyr opened #2540 "An uint32_t compared with 0"
Either the comparison in https://github.com/dmlc/tvm/blob/426e3bb0a8e86bb48a25b950fd8ef965ca5d370b/src/relay/op/layout.h#L115 should be changed to `!= -1` or `int32_t` used for `superdim_pos` and the other two vectors. The second looks better to me since `-1` is used as the sentinel value.

[2019-02-01 12:54] alexeyr opened #2541 "Duplicate functions entry_id and GetEntryId"
Functions in https://github.com/dmlc/tvm/blob/f359e06590fef2275c8f5eae91c8f0beced0f857/src/runtime/graph/graph_runtime.h#L364-L366 and https://github.com/dmlc/tvm/blob/f359e06590fef2275c8f5eae91c8f0beced0f857/src/runtime/graph/graph_runtime.h#L149-L151 are identical. Should one of them be removed or call another?

Ok, this should be the last minor issue for now :)

[2019-02-01 15:24] MarisaKirisame commented on #2483
@ZihengJiang this is like a pointer to a const object.
the Ref<Int> is still immutable per se, but Ref<Ref<Int>> has the effect of mimicing a pointer to an int, in which both the pointer and the int is mutable. The pointer mutability is provided by calling WriteRef on Ref<Ref<Int>>, and the int mutability is provided by calling WriteRef on Ref<Int>

[2019-02-01 16:56] tqchen commented on #2541
I think we should only support entry_id

[2019-02-01 17:00] tqchen commented on #2536
Thanks for bringing this up, the community adopts the convention to use https://discuss.tvm.ai/ for general discussion and support, please open threads there for followups :)

[2019-02-01 17:02] tqchen commented on #2535
I asked @kevinthesun to bring this up mainly to make sure we have put enough thoughts into the API naming.  as per https://docs.tvm.ai/contribute/code_review.html#deliberate-on-api-and-data-structures

Can we also do a brief survey of existing frameworks and their API on nms?

We do not have precedence API to learn fro

[2019-02-01 17:05] #2539 closed

[2019-02-01 18:42] ehsanmok commented on #2523
I think now, this is more qualified as a _pre-RFC_ to be more specific IMHO. I should say that `no_std` is appealing to me and it's in my todo list to go through, however, based on my understanding it's very likely that it will lead to yet undiscovered area in embedded Rust, but it'd be great as a research at least. It'd also be very helpful if we could consult with [Rust embedded group](https://g

[2019-02-01 18:54] zhreshold commented on #2535
From functionality-wise I feel good about the new proposal, but @tqchen is correct, we probably need to put some effort survey for example, tf(https://www.tensorflow.org/api_docs/python/tf/image/non_max_suppression)

[2019-02-01 18:58] zhreshold commented on #2513
@Hkathuria  According to ONNX doc, it should have a `split` attribute: https://github.com/onnx/onnx/blob/master/docs/Operators.md#split

Can you debug the attributes of the original node in ONNX?

[2019-02-01 19:01] nhynes commented on #2515
(@Ravenwater) The issue is that one cannot make a device API from non-C++ languages because creating one requires generating a pointer to a `DeviceAPI` which is used within C++ (and isn't C ABI-compatible POD). This PR just makes it possible to make a device API in _any_ language (incl. Python).

Of course, _what_ the PR does is independent of _why_ it exists. The reason is because I wanted to wri

[2019-02-01 19:48] Ravenwater commented on #2515
@nhynes turns out that we have a lot in common! I am looking into how to connect our Golang simulation environment that models are tensor processor and masquerade it as a VTA widget.

Since, our sim environment can run at scale, modeling hundreds of thousands of processors, we went with a GRPC/HTTPS interface that marshals the command and data streams of the processor. So I was planning to create

[2019-02-01 21:07] nhynes commented on #2515
Iiinteresting. I'm actually _also_ trying to extract the commands and data from VTA programs. I tried extracting the cmds and uops directly from the IR, but it's easier to just run the compiled program.

Right, I see. If it's C++, you could just register your own `device_api.ext_dev` and replace the VTA simulator with your own high-performance, distributed implementation. It's an extra layer of in

[2019-02-01 23:26] tqchen opened #2543 "[VOTE] Apache Incubation"
In #2401 , the community agrees that it is a good idea to move toward Apache. In #2466 , the TVM community collectively drafted the proposal.

This is the formal voting thread for the [TVM Apache Incubation Proposal](https://docs.google.com/document/d/11xjGiRKXnAfc6RhznmL6-CT5f1vw-0ajBdlBYkbZXk0/edit?usp=sharing
)
The vote will last for a week and end on Feb 9th. Everyone in the community is welco

[2019-02-01 23:52] tqchen commented on #2535
The TF's API is definitely something we should look into, and possibly adopt

[2019-02-02 01:07] ZihengJiang commented on #2448
@Laurawly @FrozenGene added. Given the current status of the rust frontend, I will add it to the 0.5 release announcement. @nhynes @ehsanmok

[2019-02-02 01:08] ShawnZhuang opened #2545 "Description of computing block data"
a tvm.compute support only point to point description (ignore the tensor-compute since it is incompatible with inferbound and split).   For new incomming hardwares , such as arm tpu or huawei Ascend,   the instructs usually operate on blocks of buffer. only the address and range of the buffer is concerned.  i want to develop a new compute to descript  a block buffer operation

[2019-02-02 02:01] tqchen commented on #2545
please open a new thread in discuss forum

[2019-02-02 02:01] #2545 closed

[2019-02-02 02:04] ZihengJiang commented on #2543
+1

[2019-02-02 04:31] icemelon9 commented on #2543
+1

[2019-02-02 04:46] nhynes commented on #2543
+1

[2019-02-02 04:59] nhynes commented on #2523
@ajtulloch a no-std runtime is a nice idea! It's actually possible to use the current implementation with a custom sysroot built using xargo that only pulls in `core` and exposes it as `std`. The size of the final binary depends on DCE and LTO. I'm not sure what that is, but I'm definitely curious; I'll post back with findings. I guess this is a good opportunity to see how well the RISC-V toolchai

[2019-02-02 05:14] nhynes commented on #2515
Quite possibly. There's definitely some common functionality here. Also, once the VTA Chisel port is ready, we'll need a way to streamline building TVM modules, extracting their data, pushing the memories into the (Chisel) simulator stack, and running the test harness.

Right now I'm trying to get the data extraction rolling. If I understand correctly, you're working on getting VTA programs into y

[2019-02-02 05:14] zhiics commented on #2543
+1

[2019-02-02 05:45] tqchen commented on #2512
Here are some high-level comments on the design:

- We always need to keep in mind what is the "imperative-style" of passes and keep pass manager's signature similar to the imperative-style
- The optimize function should also be able to take imperative-style functions.
- We need to deliberate on whether we want to carry states in the managers, especially the mutation(module) style vs functional st

[2019-02-02 06:07] ZihengJiang opened #2547 "[VOTE] TVM 0.5 Release"
Dear TVM Community,

This is the vote to release TVM version v0.5 (commit: e0af5c200faa786967e5c76f37b71e12fb64d661). Voting will start today, Friday February 1st and will close on Wednesday Feb 6th.

Link to release notes candidate: https://github.com/dmlc/tvm/issues/2448

Everyone in the community is welcomed to participate, please vote (by replying to the thread, emoji is also fine but a reply

[2019-02-02 06:32] masahi commented on #2547
+1

[2019-02-02 06:54] FrozenGene commented on #2448
@ZihengJiang The link of TFLite is refered to CoreML, correct link should be #2365

[2019-02-02 06:54] yzhliu commented on #2448
@FrozenGene Thanks, my bad

[2019-02-02 06:55] FrozenGene commented on #2547
+1

[2019-02-02 06:55] FrozenGene commented on #2543
+1

[2019-02-02 07:07] tqchen commented on #2512
Let me elaborate on what I mean by functional style and imperative execution. Currently, most of the current pass such as relay.ir_pass.FoldScaleAxis, is a simple function of Expr->Expr. This is a simple function, without any states.

I feel that most of the passes should be exposed as a function, which allows us to do Module->Module or Function->Function. Ideally, there should be no pass states,

[2019-02-02 09:20] yongwww commented on #2543
+1

[2019-02-02 10:18] alexeyr commented on #2539
That's my understanding of the CHECK in the previous line, but this one can't guard against anything, can it?

Unless `kLoadStage` and `kComputeStage` are accidentally changed to be equal, which would be a rather bigger problem, but probably not the intention :)

[2019-02-02 17:37] tqchen commented on #2539
Ah,  you are right, thanks for pointing it out, a fix is welcomed :)

[2019-02-02 18:06] zhiics commented on #2512
@tqchen Thank you for your comments.

1. The current design actually supports Expr -> Expr passes, but I constructed a module first using `FromExpr`.
2. Yes, most of the passes should be Module -> Module or Function -> Function. I am not sure how do we define state here. If the function/module changes, we might say it is not stateless. I understand your point that we can do Moudle/Function -> Modu

[2019-02-02 18:32] alexeyr commented on #2539
The problem is that I don't know what the fixed check should be, I only have guesses which I mentioned in the original post.

[2019-02-02 18:35] tqchen commented on #2539
It should be  CHECK(from != kLoadStage || to != kComputeStage);

[2019-02-02 18:40] tqchen opened #2551 "[TEST] Flaky test case in topi.round"
http://ci.tvm.ai:8080/blue/rest/organizations/jenkins/pipelines/tvm/branches/PR-2531/runs/7/nodes/235/steps/276/log/?start=0

[2019-02-02 18:41] tqchen commented on #2551
Perhaps was due to float near 0.5 and different rounding on device types, need to modify PRNG to avoid such case

[2019-02-02 18:43] Ravenwater commented on #2543
+1

[2019-02-02 20:07] Laurawly commented on #2547
+1

[2019-02-02 21:32] kazum commented on #2547
+1

[2019-02-02 23:00] tqchen opened #2552 "[RFC][RELAY] Text format for meta-data"
This is a summarization of discussion with @joshpoll  One nice feature of the relay text format is the ability to embed arbitrary meta-data in the text and we serialize the meta-data section as json file.

Currently, the meta-data is stored in an ```Array<NodeRef>```, and we print them as ```meta.TypeName(id=index)```.

@joshpoll suggested that we should use an alternative format, to store the met

[2019-02-02 23:01] tqchen commented on #2552
cc @yzhliu @ZihengJiang @joshpoll @jroesch @wweic @FrozenGene

Given that this will make some change to the text format, if everyone agrees, I will send in a patch to make the change before 0.5

[2019-02-02 23:17] tqchen commented on #2552
https://github.com/dmlc/tvm/pull/2553

[2019-02-03 01:46] nhynes commented on #2515
Yes, this should be done now before too much real discussion gets lost in this thread.

I think that the first dimension is something that can reasonably be expected of a `DeviceAPI` since synchronization comes up in any context that's not (host cpu)=(target cp). I'm not so sure about the second, though.

### Dimension 1: Concurrency

Such functionality would be amazing to see and is certainly a l

[2019-02-03 01:47] kevinthesun commented on #2535
It looks like tf nms can be covered by current implementation. I'll take a look at tf noms implementation details to see whether there is any difference.

[2019-02-03 03:56] #2306 closed

[2019-02-03 05:01] #2552 closed

[2019-02-03 05:07] srkreddy1238 commented on #2543
+1

[2019-02-03 06:32] yzhliu opened #2554 "[RFC] Data Layout Structure in TVM Node System"
As we now more and more rely on data layout optimization to get decent performance, I'd like to introduce Layout structure into TVM Node system. It would make life easier because,

* Relay and NNVM both have `AlterOpLayout` pass to modify data layout between layers, for now they have their own Layout implementation.
* Later on @kevinthesun will introduce end-to-end auto-tuning. The basic idea is t

[2019-02-03 07:07] ehsanmok commented on #1601
@tqchen This can be closed now.

[2019-02-03 07:07] ehsanmok commented on #2506
Addressed in [#2292](https://github.com/dmlc/tvm/pull/2292)

[2019-02-03 07:07] #2506 closed

[2019-02-03 07:23] #1601 closed, assigned to nobody

[2019-02-03 14:31] cloudhan opened #2555 "Error C2487 when build on Windows"
When build with latest master on Windows 10 with Visual Studio 2017, I get the following error:
[code]
Many  same error on line 176 of `device_api.h`. According to [MSDN](https://docs.microsoft.com/en-us/cpp/error-messages/compiler-errors-1/compiler-error-c2487?view=vs-2017) :

That is, the TVM_DLL macro on class and class member are **mutually exclusive**.

[2019-02-03 14:56] cloudhan commented on #2555
After removing `TVM_DLL` from the static `Get` Method of `DeviceAPI`, now it compiles.

[2019-02-03 17:31] tqchen commented on #2535
It is good that we have a superset if API, however. We might want to make sure that the function and parameter names are consistent

[2019-02-03 17:42] tqchen commented on #2555
A patch is welcomed!

[2019-02-03 18:30] #2461 closed

[2019-02-03 18:30] tqchen commented on #2461
#2533

[2019-02-03 18:32] tqchen commented on #2262
Close this RFC for now as most discussed items has been implemented, please open new threads for new feature discussion

[2019-02-03 18:32] #2262 closed

[2019-02-03 18:34] derisavi commented on #2543
+1

[2019-02-03 22:02] #2551 closed

[2019-02-03 22:02] tqchen commented on #2551
#2557

[2019-02-03 22:02] tqchen commented on #2540
#2557

[2019-02-03 22:02] #2540 closed

[2019-02-03 22:02] tqchen commented on #2541
#2557

[2019-02-03 22:02] #2541 closed

[2019-02-03 22:02] tqchen commented on #2538
#2557

[2019-02-03 22:02] #2538 closed

[2019-02-03 22:03] tqchen commented on #2555
#2557

[2019-02-03 22:03] #2555 closed

[2019-02-04 18:34] icemelon9 commented on #2547
+1

[2019-02-04 18:44] jroesch commented on #2512
@tqchen The pass state is not about preserving analysis results across passes but allowing the pass manager to instantiate the appropriate pass level state state and make it accessible to the pass.

For example we can no longer let passes optionally take a module it causes a suite of problems that I've had to solve in my current working branches. My proposal is we wrap this state in a structure fo

[2019-02-04 18:54] sabhiram opened #2560 "[autotvm] callback.log_to_file should clean-up the log file if `tuner.tune` is interrupted"
Currently when running a large tuning job, there is no way to know if the results in the log were due to an interrupted task or if the tuning task fully completed.

Any idea how I can track this? Happy to help if one of the maintainers can point me in the right direction.

[2019-02-04 19:51] jroesch opened #2562 "[RELAY] Add primal gradients for Relay operators."
Relay's automatic differentiation is still missing primal gradients. It would be interesting to integrate with the Tensor level AD at some point, but for the time being we should focus on adding primal gradients. I will open an PR adding to the basic set but we should work towards completion for Relay operators.  Those with expertise on the less straight forward gradient computations help would be

[2019-02-04 21:24] Mutinifni opened #2563 "[RFC][μTVM] Bringing TVM to Bare-Metal Devices"
There has been a proliferation of resource-constrained and embedded devices that do not have operating systems or a mature software stack. This trend is likely to continue with the shift towards hardware specialization and the growing interest in open-source hardware, for which software support takes time to develop. Running ML and DL applications on such devices will lead to opportunities for fas

[2019-02-05 03:42] kevinthesun commented on #2535
TF non_max_suppression_v3 op has the same functionality with current tam implementation. There is one different parameter naming. TVM uses topk which is from mxnet while tf uses max_output_size.

[2019-02-05 03:53] tqchen commented on #2535
Is it possible to also look at other libraries(keras, pytorch)?

[2019-02-05 04:37] masahi commented on #2562
does this mean we need to write all gradient ops in TOPI (`conv2d_grad` etc)? That would be major undertaking.

[2019-02-05 04:44] FrozenGene commented on #2512
@jroesch, my concern is if we add opt_level property, users want to add one custom pass, he has to know which opt_level he should set. To achive this goal, he has to know what to do of different opt_level, even every pass. This will make huge workload if we have many passes in the future. So, if we could keep passes dependent, this could make other users develop plugin pass easier. I agree pass de

[2019-02-05 05:04] reminisce commented on #2562
To ease the work of implementing so many gradient expressions, I think we can take advantage of this PR https://github.com/dmlc/tvm/pull/2498 for simple operators and attach appropriate schedules. For complicated operators such as convolution, we will probably need to implement gradient expression manually.

[2019-02-05 05:07] yzhliu commented on #2512
I also feel `add_required` would be more clear to users who write customized passes.
Regarding the state, can we make everything in State immutable?

[2019-02-05 05:22] zhiics commented on #2512
hmmm, after another thinking, I think storing the dependent passes is probably needed as opt_level might not provide enough information to help build a dependency graph.

@yzhliu We could make State immutable but then we need to return the updated state.

[2019-02-05 08:52] srkreddy1238 commented on #2547
+1

[2019-02-05 12:38] grwlf commented on #2562
We think that a portion of above operations may indeed be handled by #2498. We will test tensor-level AD for compatibility with listed operations and publish results. Meanwhile, we work on integration of AD with Relay. We plan to provide a layer similar in spirit to our NNVM draft https://github.com/sgrechanik-h/tvm/blob/87d6f319f74360b9dfd0578b68214d1309b208fe/nnvm/src/top/tensor/gradient.cc .

[2019-02-05 13:09] Ravenwater commented on #2563
Love it.

Isn't this better floated in https://discuss.tvm.ai ? There is another discussion there that has baring on this same topic: https://discuss.tvm.ai/t/vta-define-a-complete-architecture-specification-for-vta/1614

One of our goals is to drive MACRO devices such as 1M core compute clusters and custom tensor processors.

To be able to communicate with TVM efficiently, we need an architecture

[2019-02-05 17:51] jdavies-huawei opened #2564 "Loose buffer bound for TensorComputeOp"
When a buffer is used by a TensorComputeOp, the buffer's size can be larger than necessary because of a weakness in EvalSet on ranges.

An example is test_bound.py:

[code]

The output is in test_bound.cc:
[code]

In the above IR, the size of buffer B is larger than necessary: it is 21\*20 floats, but only 12\*20 floats are actually needed. To see why only 12 rows of B are needed, consider the max

[2019-02-05 17:55] alex-weaver commented on #2543
+1

[2019-02-05 20:36] ajtulloch commented on #2562
@jroesch given how many of these are just simple either elementwise ops (log, etc) or reductions (broadcast, etc) - would it be possible for you (or someone familiar with how you want this work done) to first implement one of them as a template (i.e. showing desired code location (alongside or in separate file?), primal grad registration, direct + gradient checking in unittests, etc), which will a

[2019-02-05 20:37] ajtulloch commented on #2543
+1

[2019-02-05 20:55] Laurawly commented on #2535
Here’s one implementation from keras: https://github.com/pierluigiferrari/ssd_keras/blob/master/models/keras_ssd512.py

[2019-02-05 21:12] zhiics opened #2566 "[Relay][RFC] Support layout altering for heterogeneous compilation"
The current `AlterOpLayout` optimization pass is implemented with only one target. For heterogeneous execution, we may need multiple targets for different `CallNode`. This RFC proposes to enable AlterOpLayout in heterogeneous compilation.

I am thinking of the following changes:
1. Pass `target` that could be a `dict` or tvm.Target to this pass.
`def alter_op_layout(expr)` to `def alter_op_layout(

[2019-02-06 04:57] srkreddy1238 commented on #2517
@patrikhermansson  can you try below patch ?

[code]

[2019-02-06 09:37] tiwignite opened #2570 "[VTA] Running Tensorflow code in VTA simulation gives `c_runtime_api.cc` error"
**Issue**:
So I tried to make a simple code that runs end to end (from building a Tensorflow graph, saving, loading, and compiling with TVM compiler to make it run on VTA), hoping that it could be a good tutorial.

But following [this](https://docs.tvm.ai/vta/tutorials/resnet.html#sphx-glr-vta-tutorials-resnet-py) tutorial, I can't seem to make a very simple Tensorflow graph run in the **VTA simul

[2019-02-06 14:19] Ravenwater commented on #2570
We need more of these efforts to give this important path a work out and make it rock solid. If the simplest of examples don't work, there will be no adoption.

[2019-02-06 15:27] Mutinifni commented on #2563
I think our eventual goal might also be to target many-core systems with wimpy cores, although, we were not thinking about as many as 1M cores. From TVM's perspective, that would still require a multithreaded code generator suitable for the target backend. The current gcc codegen, for example, does not have multithreaded support.

Thanks for pointing to the forums discussion -- I really like the a

[2019-02-06 16:42] tqchen commented on #2570
Let us move the discussion to https://discuss.tvm.ai/t/vta-running-tensorflow-code-in-vta-simulation-gives-c-runtime-api-cc-error/1620/1

[2019-02-06 16:42] #2570 closed

[2019-02-06 18:00] Ravenwater commented on #2563
@Mutinifni I am very glad you are working on μTVM. As we are both looking towards a hardware accelerated VTA backend, we are going to face the same issues. The architecture spec is going to be the vehicle that allows us to collaborate and solve these issues synergistically. The communication of the IR and its attributes to a remote hardware accelerator is going to be one such issue. Let's work tog

[2019-02-06 20:45] jroesch commented on #2562
@ajtulloch yes, there are a few basic ones committed to the repo, I will try to open a PR with multiple examples from level 1 this week. I've been busy prototyping other Relay features for training and execution which I hope to RFC in the coming weeks.

@reminisce @grwlf I think it would be great if we could get default behavior for Relay, and if the generated gradient's performance isn't sufficie

[2019-02-06 22:03] Anthony-Mai opened #2571 "[TVM] [NNVM] Namespace pollution and name conflict of NodePtr"
I notice there is a series name space pollution and name conflict issue, of NodePtr:
In [https://github.com/dmlc/tvm/blob/master/nnvm/include/nnvm/node.h#L29](url):
    using NodePtr = std::shared_ptr<Node>;
In [https://github.com/dmlc/tvm/blob/master/include/tvm/runtime/node_base.h#L95](url)
    template<typename T> class NodePtr {

The second definition, which defines NodePtr as a template class

[2019-02-06 22:23] Anthony-Mai commented on #2571
The Google C++ Sty;e Guide explicitly says:
- You may not use a using-directive to make all names from a namespace available.
- Do not use Namespace aliases at namespace scope in header files except in explicitly marked internal-only namespaces, because anything imported into a namespace in a header file becomes part of the public API exported by that file.

That means never to use "using namespac

[2019-02-07 00:24] tqchen commented on #2571
Thanks for bringing it up, I understand the cause of the confusion, given that we are moving toward NNVMv2(relay), I think we will just leave the name as it is for now.

[2019-02-07 00:24] #2571 closed

[2019-02-07 00:27] tqchen commented on #2560
Given that this is a discussion item, can you open a new thread in https://discuss.tvm.ai/? We can follow up in issues once we have an actionable item. My guess is that we can add some callback hooks to make this happen

[2019-02-07 00:27] #2560 closed

[2019-02-07 13:05] kevinthesun commented on #2535
One implementation from pytorch: https://github.com/kuangliu/torchcv/blob/6291f3e1e4bbf6467fd6b1e79001d34a59481bb6/torchcv/utils/box.py#L88 It is similar to tf nms. tf and pytorch implementation returns a variable lengthindices of selected boxes. We can add an argument to choose return types.

[2019-02-07 17:50] tqchen commented on #2535
Can we summarize all the argument names(keras, tf, proposed) and types at the RFC post?

[2019-02-08 14:11] grwlf commented on #2562
@jroesch , dear all. We made a quick check of [AD](https://github.com/dmlc/tvm/pull/2498)-Relay compatibility: For every relay operation from the above list, we (a) Look at its `FTVMCompute` attribute (b) determine which TOPI function corresponds to it and (c) Compare the gradients of this function  calculated by AD with their numerical estimations. The results are in the table below.

Additional

[2019-02-08 18:03] tqchen commented on #2562
While it is great to have a tensor expression gradient support. I recommend we provide the primal gradient in the form of relay operators, at this moment.

The main reason is that the relay-> relay transformation and makes it easier to do follow up analysis and transformations in relay, it also makes sure that each op can generate different variants easily(winograd, spatial pack for conv2d).

This

[2019-02-09 13:35] zzzzzzch opened #2579 "libprotobuf issue"
Hi!
Sorry to bother you. I came accros a problem about protobuf, which cost me a lot of time to solve and failed.

+ Motivation
   import other DL models (using ONNX or TF) to tvm and sgx
+ Problem
   when using ONNX, it cames:

   + ONNX needs python-protobuf 3.6.1 version ( I tried installing python-version-2.6.1 to keep the python version consistent with .so version , but python-version-2.6.1 d

[2019-02-09 15:40] srkreddy1238 commented on #2579
Can you share the exact error log while import ?

[2019-02-09 17:44] tqchen commented on #2579
Let us always use discuss for this kind of topic https://discuss.tvm.ai/t/libprotobuf-issue/1635

[2019-02-09 17:44] #2579 closed

[2019-02-10 06:29] kevinthesun commented on #2535
API summary updated.

[2019-02-10 19:39] souptc opened #2581 "double_buffer schedule conflict with tenorize"
A simple example:
[code]
The double buffer schedule looks correct.

[code]

But if I tile the data and tensorize it with my custom copy intrinsic:
[code]
Then the double buffer schedule seems gone, only an AttrStmt left:
[code]
Is it a bug?

[2019-02-10 21:46] tqchen commented on #2581
Thanks for bringing this up, let us move the topic to https://discuss.tvm.ai/

[2019-02-10 21:46] #2581 closed

[2019-02-11 02:04] tqchen commented on #2543
Thanks to everyone who voted on this thread. The vote has passed. We will start the incubation proposal process.

cc @dmlc/tvm-committer @markusweimer, @sscdotopen, @bgchun

[2019-02-11 02:40] tqchen commented on #2535
@zhreshold @vinx13 @Laurawly Please share your thoughts on the API names.

My feeling is that perhaps we should make the API as consistent as possible as Pytorch/TF (use name non_max_suppression). But use a different name or an additional argument that indicates -1 padding.

[2019-02-11 03:00] derisavi opened #2583 "[RFC][TVM] Define a common base class for ComputeOpNode and TensorComputeOpNode"
## Motivation
There is a significant amount of common code (and concepts) between `ComputeOpNode` and `TensorComputeOpNode`. In particular, methods `root_iter_vars()`, `output_shape()`, `GatherBound()`, `BuildRealize()`, `MakeLoopNest` (and `ComputeLoopNest::make()`, its counterpart for `ComputeOpNode`) have either exactly or almost the same code (around 130 LOC)

## Proposed Solution
We define a

[2019-02-11 03:09] vinx13 commented on #2535
@kevinthesun Is the shape of `valid_counts` `[num_batch]`? how do you set `valid_counts` in TF/Keras frontend? Setting `valid_counts` to a constant array won't work because you can't use TVM expr to subscript a python/numpy array

[2019-02-11 11:48] grwlf commented on #2562
Expressing gradients in relay would be a good design test. My thoughts regarding this design choice are follows:
- I am not sure that all listed operations have gradients which may be expressed in Relay language currently. Ideally we should move towards creating a list of basic operations which form a closed set in the sense that they have gradients expressible in themselves.
- Expressing gradient

[2019-02-11 13:11] mnboos opened #2584 "nnvm._base.NNVMError: Cannot find argument 'auto_pad'"
The following problem occures when trying to load an ONNX model in a linux environment:

[code]

[2019-02-11 16:57] tqchen commented on #2584
Thanks for bringing this up, please open a new thread in https://discuss.tvm.ai/

[2019-02-11 16:57] #2584 closed

[2019-02-11 18:18] yongwww opened #2585 "[Relay] x86 conv2d_alter_layout support"
Got the warning message "Only support alter layout for x86 in NNVM now. This pass is ignored in relay" when running codes in from_tensorflow tutorial.

https://github.com/dmlc/tvm/blob/master/topi/python/topi/x86/conv2d.py#L287-L291

[2019-02-11 20:34] yzhliu commented on #2585
Would you mind shoot a PR and test for this? I believe the functionality is all prepared.

[2019-02-11 20:51] yongwww commented on #2585
@yzhliu  Sure, I am working on another pr, will work on this fix after that, hopefully in this week.

[2019-02-11 23:49] Laurawly commented on #2535
@kevinthesun where shall I find the API summary?

[2019-02-12 00:07] tqchen commented on #2583
I agree this is a good direction, although we might want to discuss a bit with detailed code, please tag folks who you think are relevant

[2019-02-12 02:17] liangfu commented on #2535
@Laurawly I think it's updated on the top of this page.

@kevinthesun have you checked the layout of the `data` matrix in different implementations? I mean the order of [classid, x, y, w, h] columns, and some implements may contain a `probability` column. Can we handle all of them properly in the proposed new API?

[2019-02-12 03:43] tqchen opened #2588 "[RFC][EXPR] Formalize Integer Arithmetic Analysis"
The integer analysis (arith namespace) serves as a foundational tool for the low-level code generation. At this point, the analysis code is somewhat scattered in the codebase. This RFC proposes to revamp them.

Here is the list of currently related code:

- Symbolic integer simplification
   - Canonical form based simplification(as in CanonicalSimplify)
   - Rewrite-rule based simplification(Simpl

[2019-02-12 03:44] tqchen commented on #2418
Consolidate this issue to https://github.com/dmlc/tvm/issues/2588

[2019-02-12 03:44] #2418 closed

[2019-02-12 03:45] tqchen commented on #2455
Consolidate this issue to #2588

[2019-02-12 03:45] #2455 closed

[2019-02-12 03:45] tqchen commented on #1711
Consolidate this issue to #2588

[2019-02-12 03:45] #1711 closed

[2019-02-12 07:41] mnboos opened #2591 "NotImplementedError: Operator RandomUniform not implemented."
The following problem occures when trying to compile an ONNX model in a linux environment. Are there any plans when this operator will be implemented?

[code]

[2019-02-12 08:07] mnboos opened #2592 "Incompatible attr in node elemwise_add0 at 1-th input: expected [1,256], got [256]"
The following problem occures when trying to load an ONNX model in a linux environment.

[code]

[2019-02-12 09:31] kevinthesun commented on #2535
@vinx13 We have another op get_valid_counts to generate this tensor for some tf/pt nms and mxnet box_nms operator. I separate it out from nms to make this API support more different way of generating this tensor.

@liangdzou I think you are talking about score. This API supports [class_id, score, l, t, r, b], and should cover your case.

[2019-02-12 09:38] kevinthesun commented on #2535
@tqchen We can change the name to align with tf/pt. For type of return, I feel it's easier to support both mxnet/keras and tf/pt by adding another argument to indicate the return type.

[2019-02-12 12:48] Ravenwater commented on #2418
For what it is worth, the posit number system restores associative and distributive properties for floating point. The culprit is IEEE floating point rounding rules. The solution requires special hardware which is available as of Dec 2017, and we are trying to incorporate this hw into VTA. The benefit is significant: an 8-bit posit beats a 32-bit IEEE float in terms of training accuracy. And since

[2019-02-12 15:56] tqchen commented on #2592
Thank you for bringing this up. Please open a new thread in https://discuss.tvm.ai/ and provide a bit more detail for reproduction of your problem.

[2019-02-12 15:56] #2592 closed

[2019-02-12 18:53] #2564 closed

[2019-02-12 19:54] tqchen commented on #2535
That sounds good, @kevinthesun can you update the proposed API? Perhaps we want to make the additional return type option mandatory to avoid confusion from tf/pt ops

[2019-02-13 00:39] jroesch commented on #2512
@FrozenGene We can provide defaults for all pass meta-data including defaulting to no scheduling of the pass at all. I believe we should also include a `-Fpass` style mechanism to enable and disable individual passes as well. The current build_config interface doesn't allow us to fully remove, add, and order passes.

Particularly I feel reaching consensus and moving forward soon would be good. @zh

[2019-02-13 03:29] tqchen commented on #2512
Some summary of my takes:

- The signature of the Pass.operator()(or __call__ in python) should be ```Module->Module``` to minimize the simplicity
- We can provide meta-data about passes to allow the manager to automatically compose pass together. The meta-data provides the declarative fashion to compose up things, just like nn.Module
- The composed pass should, in turn, should expose the same sig

[2019-02-13 03:54] luorixiangyang commented on #2401
+1 apache is a good way to go.

[2019-02-13 04:15] kevinthesun commented on #2535
@tqchen API updated.

[2019-02-13 04:50] zhiics commented on #2512
okay, It looks I can probably summarize our great discussion as follows:

- I think we are actually kind of having `Module->Module` optimizations as `PassState` which includes `Module` and information. The question is wether or not we need to only pass `Module` and keep other information internal, meaning we can make `PassState` internal (to C++) and let it contain only internal information.
- Eac

[2019-02-13 05:29] tqchen commented on #2512
While I do not doubt that the current proposal can expose the same interface, we still need to discuss the internal interface "pass signature" mentioned by @jroesch. It is always easy to get more by adding another layer of abstraction. But as I may quote "The best design is achieved not when there is nothing to add, but when there is nothing to be taken away".

Now back to the internal signature d

[2019-02-13 11:39] sgrechanik-h commented on #2588
Concerning using int32/int64 for indices, I think we should create a separate, conceptually unbounded integer type for index arithmetic. Ideally, in compile-time we should use some arbitrary precision integer library for it, but using int64 may do as a starting point. (And of course it should be represented with int32/64 in run-time).

[2019-02-13 12:51] grwlf commented on #2588
@tqchen I think this is very important direction to improve. Have you thought about using existing libraries like ISL? As far as I know it contains many useful algorithms and, more importantly, well-defined notation for describing formulas and relations of variables.

[2019-02-13 17:48] tqchen commented on #2588
re conceptual integer index. I think moving toward int64 as default and do optional narrowing is a good starting point as @sgrechanik-h  pointed out.

re ISL. My understanding of isl is that it tries to do exact integer set analysis, and uses a constraint solver based approach(although I am not an expert in isl). As a result, it has some restrictions in terms of operation, as well as speed of solv

[2019-02-14 00:47] were commented on #2448
#2477 Can you also add this PR?

[2019-02-14 13:55] mnboos opened #2599 "Incompatible attr in node elemwise_add0 at 1-th input: expected [1,180], got [180]"
See: https://discuss.tvm.ai/t/nnvm-base-nnvmerror-cannot-find-argument-auto-pad/1644/3

This error occurs when I try to compile an ONNX model. I'm currently clarifying if I'm allowed to share the model or if it's confidential.

[code]

cc @srkreddy1238

[2019-02-15 02:10] eqy commented on #2585
Actually I need this support for some experiments with AutoTVM, so I opened a PR for this #2602.

[2019-02-15 02:24] slyubomirsky opened #2603 "[Relay][RFC] Mutual Recursion"
Mutual recursion is a construct available in many functional programming languages that allows two functions to be defined together such that each can make recursive calls to the other. For example (using OCaml):

[code]

~In Relay, mutual recursion is currently only possible for global functions~ (it should be but apparently doesn't work); it is not otherwise possible for locally defined function

[2019-02-15 05:29] kevinthesun commented on #2535
If everyone is fine with proposed API, I'll go ahead updating current implementation.

[2019-02-15 18:36] ehsanmok commented on #2448
@ZihengJiang @yzhliu would you mind keeping us updated about the release? we've long passed the [voting deadline](https://github.com/dmlc/tvm/issues/2547) but it's still open!

[2019-02-15 19:12] sgrechanik-h commented on #2562
I've updated the tensor expression AD PR with a Relay integration, [here](https://github.com/dmlc/tvm/pull/2498#issuecomment-464163692). The commit itself is [here](https://github.com/dmlc/tvm/pull/2498/commits/cf5083a81072c72cedd14433d6ce90e744b216f7).

[2019-02-15 19:32] ZihengJiang commented on #2448
Hey @ehsanmok , sorry about this. We are working on the release https://github.com/dmlc/tvm/pull/2604. One thing is that it would be better to have several bug-fix PRs in the 0.5 release like #2495 #2573 #2580 , which will lead to dismatch with the voted commit number. We are discussing whether we should have another round of vote. @tqchen @yzhliu

[2019-02-15 19:47] Laurawly commented on #2535
@kevinthesun What's the difference between `return_indices` in proposed API and `selected_indices` in TF/Pytorch?

[2019-02-15 20:03] zhreshold commented on #2535
@Laurawly Actually TF always return `selected_indices`, and they expect users to `tf.gather` boxes by these returned indices. I suppose @kevinthesun is going to support both behavior, either return boxes or indices by flag `return_indices`

[2019-02-15 22:52] jdavies-huawei opened #2606 "[RFC][TVM] Extend TensorComputeOp to allow scalar inputs"
### Motivation ###

TensorComputeOp allows a TensorIntrin to be called by the user directly, rather than relying on schedule.tensorize to match a pattern and perform a replacement. The original motivation for TensorComputeOpt was to generalize TVM's compute to tensor regions, as described in issue #1485.

Currently, all arguments passed to the tensor intrinsic must be tensor regions. We believe th

[2019-02-16 00:23] jroesch commented on #2512
Discussed some more in person with Tianqi as well as some informal feedback about the PR with @zhiics. After the following discussion we all agree we can remove unnecessary concepts and ship a minimal definition of pass and the pass manager.

The pass interface will be Module -> Module with an optional PassContext object which will contain things such as the error reporter. User passes can ignore

[2019-02-16 00:28] zhiics commented on #2512
Thanks everybody for your valuable comments and suggestions. I've updated the PR #2546 accordingly. I will send another RFC with the stuff we want to focus on after the framework of pass manager is merged. I appreciate your time to review it.

[2019-02-16 02:08] kevinthesun commented on #2535
@zhreshold Yes

[2019-02-16 04:06] ZihengJiang commented on #2547
Hi community, thanks to everyone who voted on this thread. However, we have several bug-fix PRs for the new feature, liker #2495 #2573 #2580 . Members like @tqchen , @yzhliu and me believe that It would be better to have them in the 0.5 release. According to the apache rule, we need to cancel this vote and have another round of vote for the new commit. I will move the vote forward with another Git

[2019-02-16 04:06] #2547 closed

[2019-02-16 05:22] tqchen commented on #2448
I would suggest to open another voting thread and keep that open for two days

[2019-02-16 06:53] abergeron opened #2612 "Bug with relay var that have no shape"
If you create a variable and pass None as the shape (or just don't pass the shape argument),  the variable ends up being created with None as the type_annotation.

Later on when you try to call a graph that includes such a variable, you get a crash saying the variable has no type.

The code to get a function to compile is rather involved, so I'm not copying it here, but here is how I created the f

[2019-02-16 15:18] ZihengJiang opened #2614 "[VOTE] TVM 0.5 Release"
Dear TVM Community,

Because we have several bug-fix PRs for the new feature, liker #2495 #2573 #2580 . According to the apache rule, we need to cancel the previous vote and have another round of vote for the new commit. This is the new vote to release TVM version v0.5 (commit: [18c36a](https://github.com/dmlc/tvm/commit/18c36ab586f1ce72d7a420ac76d66a3f8b3e1dd6)). Voting will start today, Saturday

[2019-02-16 15:20] tqchen commented on #2614
+1

[2019-02-16 15:22] tqchen commented on #2612
Thanks for bringing this up, because we do not yet have a clear actionable item, do you mind open a thread in https://discuss.tvm.ai/? Would be more than happy to continue discussing there

[2019-02-16 15:22] #2612 closed

[2019-02-16 15:42] tqchen commented on #1996
@sgrechanik-h Thanks for the hard work on proposing and bringing in the implementation, this seems to be a place where everyone is interested in.

I have no doubt on the possibility to make a correct and efficient tensor expression auto diff. The key issue we need to address first is how can we make a clear set of APIs and namespaces so that:
- We have a clear separation between relay's grad and t

[2019-02-16 15:47] Ravenwater commented on #2614
+1

[2019-02-16 15:49] tqchen commented on #1996
@sgrechanik-h would be great if you can edit the first post and list the choices  or options clearly so that everyone can discuss in a coordinated way, see https://github.com/dmlc/tvm/issues/2535

[2019-02-16 15:58] siju-samuel commented on #2614
+1

[2019-02-17 03:16] kazum commented on #2614
+1

[2019-02-17 04:24] yzhliu commented on #2614
+1

[2019-02-17 04:45] vinx13 commented on #2614
+1

[2019-02-17 07:01] Laurawly commented on #2614
+1

[2019-02-17 07:06] yidawang commented on #2614
+1

[2019-02-17 18:22] #2585 closed

[2019-02-17 18:23] ZihengJiang commented on #2606
Hi @jdavies-huawei , I like the idea to extend TensorComputeOp with scalar inputs, but for the API. It would be better we can use `tfunc(A[i, 0:n], i*i)` directly instead of having another parameter called `scalar_inputs`

[2019-02-17 18:43] ZihengJiang commented on #2583
Just out of curiosity, in what situation we need to use `tensorize` in `TensorComputeOp`?

[2019-02-17 18:45] derisavi commented on #2606
@ZihengJiang What if we have multiple tensor inputs and multiple scalar inputs? Do you suggest that we should be able to interleave them and write something like `tfunc(A[i, 0:n], i*i, i+1, B[i, 0:n])`?

[2019-02-17 18:58] derisavi commented on #2583
We have used `TensorComputeOp` to put some fine-grained tensor computation inside a black box (for example, a 4x4 matmul). However, our hardware also supports a coarse-grained version of the same tensor computation (for example, a 16x16 matmul), and that is expressible by a loopnest around the fine-grained version. What we would like to do is to `tensorize` to replace the loopnest of fine-grained

[2019-02-17 20:48] ehsanmok commented on #2614
+1

[2019-02-18 06:18] antinucleon opened #2617 "AutoTVM x86 Tutorial is broken on MacOS"
python tune_relay_x86.py
[code]

python -m tvm.exec.query_rpc_tracker --port 9000

[code]

[2019-02-18 09:06] mnboos commented on #2599
See the attached model for reproducing the errors:

[model.zip](https://github.com/dmlc/tvm/files/2874758/model.zip)

[2019-02-18 11:08] eqy commented on #2617
I think we have seen this issue before, but I am not sure how we should fix it in the tutorial. Does the workaround of changing `localhost` to a real address such as `127.0.0.1` work for you? macOS seems to have many more network interfaces than other systems we have tried AutoTVM on, so maybe there is something strange when resolving `localhost`.

[2019-02-18 15:39] sgrechanik-h commented on #1996
Here are the things to discuss I came up with.

## Naming

Concerning names, here is a list of things in the tensor expression AD that we might want to rename:
* C++ files `include/tvm/autodiff.h` and `src/pass/autodiff.cc`, and a python module `tvm.autodiff`.  `autodiff` is the most important thing to rename. I'd suggest something like `tensordiff`, `tensor_expr_diff`, `tensor_expr_ad`. I think u

[2019-02-18 19:13] icemelon9 commented on #2614
+1

[2019-02-18 20:21] ZihengJiang commented on #2614
Thanks to everyone who voted on this thread. The vote has passed. We will start the release process. cc @dmlc/tvm-committer .
I will also keep updating this thread with more news.

[2019-02-18 21:55] #2260 closed

[2019-02-18 21:56] tqchen commented on #2259
Close by https://github.com/dmlc/tvm/pull/2116 Let us open new threads for new discussions on supporting more data types

[2019-02-18 21:56] #2259 closed

[2019-02-18 21:57] tqchen commented on #2173
move to #2588

[2019-02-18 21:57] #2173 closed

[2019-02-18 21:58] tqchen commented on #902
close for now due to inactive status

[2019-02-18 21:58] #902 closed

[2019-02-18 21:59] tqchen commented on #2175
closed by #2442