[2020-03-19 19:11] tqchen commented on #5102
+1 TQ

[2020-03-19 19:13] tmoreau89 commented on #5102
@huajsj @liangfu @pasqoc @vegaluisjose

[2020-03-19 19:18] jroesch commented on #5102
+1

[2020-03-19 19:27] vegaluisjose commented on #5102
`+1`

[2020-03-19 20:01] kparzysz-quic commented on #5102
+1

[2020-03-19 20:23] icemelon9 commented on #5102
+1

[2020-03-19 20:25] pasqoc commented on #5102
+1

[2020-03-19 20:34] kazum commented on #5102
+1

[2020-03-19 21:25] tqchen commented on #2355
NOTE: the vulkan runtime has been rewritten, would be great to confirm again if the result is correct under the new runtime.

[2020-03-19 21:27] hypercubestart commented on #4914
AddV2 added in #5046

[2020-03-20 00:12] liangfu commented on #5102
+1

[2020-03-20 01:31] cchung100m commented on #5102
+1

[2020-03-20 02:02] windclarion opened #5108 "[Relay] CompilerAttrs hasn't registered with TVM_REGISTER_NODE_TYPE"
if expr has CompilerAttrs , and use astext() to show it, compiler will report error: relay.attrs.CompilerAttrs is not registered via TVM_REGISTER_NODE_TYPE.  test_pass_partition_graph.py doesn't report the error because it doesn't contain any log.

[2020-03-20 02:14] tqchen commented on #5108
cc @comaniac

[2020-03-20 02:18] ZihengJiang commented on #5102
+1

[2020-03-20 08:29] gftd opened #5113 "ModuleNotFoundError: No module named 'tvm._ffi.function'"
error info：

  File "mobilenet_v2.py", line 35, in <module>
    import tvm.relay as relay

  File "/workspace/python/tvm/relay/__init__.py", line 26, in <module>
    from . import expr_functor

  File "/workspace/python/tvm/relay/expr_functor.py", line 24, in <module>
    from .op import Op

  File "/workspace/python/tvm/relay/op/__init__.py", line 23, in <module>
    from . import strategy

  Fil

[2020-03-20 14:36] Robeast commented on #4914
Thank you very much @hypercubestart for taking the initiative!

[2020-03-20 15:28] tqchen commented on #5113
Please open a new thread on https://discuss.tvm.ai/

[2020-03-20 15:28] #5113 closed

[2020-03-20 16:29] tqchen commented on #4831
What is the state of this issue? @anijain2305 @shoubhik

[2020-03-20 16:35] szha opened #5114 "MXNet Nightly Builds Moved to S3"
Hi,

MXNet nightly builds have been moved from PyPI to S3 (https://github.com/pypa/pypi-support/issues/243). If this project requires the nightly builds for CI validation, please make sure that your CI pipeline now takes the nightly builds from https://dist.mxnet.io/python. Furthermore, as MXNet [1.7](https://github.com/apache/incubator-mxnet/issues/16864) and [2.0](https://github.com/apache/incub

[2020-03-20 17:22] shoubhik commented on #4831
sorry got swamped. I will definitely send a fix on Monday.

[2020-03-21 02:20] tqchen commented on #5114
Close for now as the project does not requires nightly build from mxnet

[2020-03-21 02:20] #5114 closed

[2020-03-21 02:21] #5108 closed

[2020-03-21 02:21] tqchen commented on #3192
#5005

[2020-03-21 02:21] #3192 closed

[2020-03-21 02:26] tqchen commented on #4914
Close for now as part of the request has been fullfilled by #5104  feel free to open new thread if there is request to support remaining ones

[2020-03-21 02:26] #4914 closed

[2020-03-21 02:59] #5068 closed

[2020-03-21 08:42] Robeast commented on #4914
Great! Thanks a lot for your support! Will open a new issue with the remaining operators.

[2020-03-21 08:46] Robeast opened #5117 "[FRONTEND] Tensorflow Op: Resampler, SparseReshape, SparseTensorDenseMatMul"
Hello there,

this is a followup issue on #4914 . I have encountered on a project some unsupported Tensorflow operators when importing to TVM:

[code]

If anyone would be so kind to help implementing these / any of these operators in TVM I would highly appreciate it!

[2020-03-22 20:47] tqchen commented on #5069
Example of the new style https://github.com/apache/incubator-tvm/blob/master/include/tvm/ir/type.h#L236

[2020-03-23 03:43] roastduck opened #5130 "Wrong boundary check for GPU blocks / threads indicies"
The boundary check for GPU blocks / threads indices is wrong when they are used inside a loop range (loop condition).

Code is better than words:

Algorithm:
[code]
*PS. (not related to this issue) Issue #4929 should be explicitly avoided here.*

Schedule:
[code]

The generated CUDA code is like this:
[code]

Please look at the `< 21954` and the `< 702528` check **inside** the loops. I think it sh

[2020-03-23 07:05] mikeseven commented on #5102
+1

[2020-03-23 12:54] masahi opened #5133 "[Torch] A list of missing op conversion in need of help"
Let's keep a list of missing conversion reported so far in one place here. The list will continue to grow as Torch has too many ops. cc @alexwong @jwfromm @pyjhzwh @jjohnson-arm

Implementing conversion should be straightforward following existing implementations. They are up for grab.

- [x] `aten::reshape`
- [x] `aten::split`
- [x] `aten::max_pool1d`
- [x] `aten::embedding`
- [x] `prim::Implicit

[2020-03-23 12:55] masahi commented on #5079
Added to the list. See https://github.com/apache/incubator-tvm/issues/5133

[2020-03-23 12:55] #5079 closed

[2020-03-23 18:15] #5069 closed

[2020-03-23 18:31] tmoreau89 commented on #5060
@liangfu regarding "superseding uTVM standalone runtime", will MISRA-C runtime support running on bare-metal systems?

[2020-03-23 18:32] tmoreau89 commented on #5060
@ajtulloch @weberlo @u99127 (this might be of interest to you)

[2020-03-23 23:01] liangfu commented on #5060
Yes, at least it intended to be, but how shall we provide a proper demo on this? Any idea?

[2020-03-23 23:07] tmoreau89 commented on #5060
We can test it on the STM board that @weberlo implemented a demo on: https://github.com/apache/incubator-tvm/pull/4274

[2020-03-23 23:58] liangfu commented on #5060
Excellent idea. Perhaps we can also test the bare-metal demo in CI, with a simple RISCV processor like picorv32.

[2020-03-24 01:34] tqchen commented on #4831
#4831

[2020-03-24 01:34] #4831 closed

[2020-03-24 05:15] KireinaHoro commented on #5060
@tqchen Removing all external allocator use and go with an embedded arena allocator sounds a little bit fishy.  Bare-metal platforms does not necessarily lack a proper allocator; `newlib`, for example, provides a pretty usable `dlmalloc` implementation.  Are there any other concerns?

[2020-03-24 05:41] liangfu commented on #5060
In PR #5124, we have a reference allocator, which implements vmalloc, vrealloc, and vfree. When necessary, I think we can redirect the function calls to different implementations, e.g. dlmalloc in newlib, jemalloc and many others.

I would agree with @KireinaHoro to use implementations in newlib for bare-metal applications.

For arena like allocator, I have concerns on how shall we deal with large

[2020-03-24 17:06] tqchen commented on #5060
The workspace memory could have a different strategy. The way it works is that we create a different arena for workspace, along with a counter.

- When a memory is allocated, we allocate memory from the arena, and add the counter
- When a memory is de-allocated, we decrease the counter
- When the counter goes to zero, we free all the memory.

This will work because all workspace memory are tempora

[2020-03-24 17:55] u99127 commented on #5060
Thanks for pointing this to me @tmoreau89 and thank you for this work @liangfu . Very interesting and good questions to ask.

From a design level point of view for micro-controllers I'd like to take this one step further and challenge folks to think about whether this can be achieved with static allocation rather than any form of dynamic allocation . The hypothesis being that at compile time one w

[2020-03-25 04:24] tqchen commented on #5060
re: fragmentation issue, think the allocation strategies carefully and adopt an arena-style allocator(counter based as above) can likely resolve the issue of fragementation. In terms of the total memory cost, we can indeed found the cost out during compile time for simple graph programs

[2020-03-25 09:53] liangfu commented on #5060
![](https://cdn-learn.adafruit.com/assets/assets/000/083/179/medium800/adafruit_products_image.png)

It's very interesting to see tflite is using arena like allocator for micro-controllers. See how adafruit demonstrate its [PyBadge board](https://www.adafruit.com/product/4200) with TFLite [here](https://learn.adafruit.com/tensorflow-lite-for-edgebadge-kit-quickstart?view=all).

[2020-03-25 11:07] Robeast opened #5145 "[BUG][TUTORIAL] Tutorial for quantization need update"
Dear community,
I've noticed that the [stock tutorial for quantization](https://github.com/apache/incubator-tvm/blob/master/tutorials/frontend/deploy_quantized.py) fails if the following call is changed from local scales to global scales:

[code]

The fix is straight forward:

[code]

I would like to kindly ask @vinx13 to update the tutorial. Thank you very much in advance & best regards!

[2020-03-25 15:04] tqchen commented on #5145
feel free to send a PR to fix this

[2020-03-25 15:35] tqchen commented on #5060
@liangfu can you try to do a arena based approach given that it is simpler? We could adopt the counter based approach to enable early free of sub-arenas(when the free counters in the arena decreases to zero, we can free the space)

[2020-03-25 19:45] Robeast commented on #5145
@tqchen I'm extremely ashamed to say this, but due to company policy I'm not allowed to contribute to anything other than company code bases. Especially shameful since it's only 1 string change... :( I'm really sorry.

[2020-03-25 19:50] tqchen commented on #5145
no problem, thanks @Robeast for reporting the problem :)

[2020-03-25 20:52] Robeast commented on #5145
Thank you for your understanding... And thank you very much for @vinx13 for fixing!

[2020-03-25 22:27] #5145 closed

[2020-03-26 00:42] liangfu commented on #5060
Sure, as this is definitely the direction we should follow, I can do that. And maybe we need a separate PR for the arena allocator feature.

[2020-03-26 14:39] JishinMaster opened #5152 "ONNX Compatibility"
Dear all,

- What is the ONNX compatibility of the latest incubator-tvm version? (onnx v1.5?)
- Does incubator-tvm supports the classical ML operators described in onnx-ml (svm, tree, linear classifier, etc)?
I also understand that the llvm cpu backend supports more than the opengl or vulkan ones. Where can I find the information as to which backend supports which operations?

Thank you for your s

[2020-03-26 15:59] tqchen commented on #5152
Thanks for asking the question, please open a new thread on https://discuss.tvm.ai/

[2020-03-26 15:59] #5152 closed

[2020-03-26 21:00] tmoreau89 commented on #5102
Thanks for everyone that voted closing the vote now.

[2020-03-26 21:00] #5102 closed

[2020-03-26 21:09] tmoreau89 commented on #5102
I'm glad to announce the results of the vote on VTA HW/SW refactor.

This vote passes with 11 +1 votes, no 0 votes, and 0 -1 vote.

+1 votes

    Tianqi Chen
    Jared Roesch
    Luis Vega
    Krzysztof Parzyszek
    Haichen Shen
    Pasquale Cocchini
    Kazutaka Morita
    Liangfu Chen
    Neo Chien
    Ziheng Jiang
    "Mike Seven"

0 votes

    No votes

-1 votes

    No votes

[2020-03-27 18:34] megjoshi commented on #5133
can we add this as well?
'prim::ImplicitTensorToNum', 'aten::layer_norm', 'aten::arange', 'aten::rsub', 'aten::gelu'

[2020-03-27 20:52] masahi commented on #5133
@megjoshi Updated. If possible, please show your original PyTorch models where these ops are generated from.

[2020-03-28 03:00] tqchen opened #5159 "[RELAY] Migrate AlphaEqual StructuralEqual, Relay::StructuralHash to StructuralHash"
https://github.com/apache/incubator-tvm/pull/5154 inroduces StructuralEqual that supersedes AlphaEqual.

https://github.com/apache/incubator-tvm/pull/5160 Introduces StructuralHash

We should update the relay's AlphaEqual usage to StructuralEqual instead

- [x] Migrate alpha_equal and assert_alpha_equal from python to structural equal
- [x] Migrate AlphaEqual(lhs, rhs) in C++ to StructuralEqual()(

[2020-03-28 03:00] tqchen commented on #5159
cc @zhiics @MarisaKirisame @slyubomirsky see if you are interested

[2020-03-28 03:44] megjoshi commented on #5133
https://github.com/huggingface/transformers#quick-tour

this is on which i was trying to optimize using tvm

[2020-03-28 06:36] zhiics commented on #5159
I can probably try to squeeze some time to work on some of them over the weekend

[2020-03-29 00:03] tqchen commented on #5159
Thanks @zhiics I also updated the thread to include related items for StructuralHash

[2020-03-29 20:55] zhiics commented on #5159
@tqchen I can probably spend some time this afternoon/night to finish the other items. Could you take a look and see if this is a bug?

https://github.com/apache/incubator-tvm/pull/5154#discussion_r399839877

[2020-03-30 01:57] #5159 closed

[2020-03-30 01:57] tqchen commented on #5159
Thanks @zhiics !

[2020-03-30 10:43] heliqi opened #5172 "[FRONTEND] tensorflow _stridedSlice function error"
I find a some problems about the _stridedSlice  from relay/frontend/tensorflow.py:
1. when begin < 0  and shrink_axis_mask > 0 ,end error. example:
begin = [-1] end= [0] shrink_axis_mask = 1  data_shape = (4,)
after _transformask,get result: begin = [3] end = [0]. The correct answer would be 'begin = [3], end = [4]'
[code]
2.
[code]
or  change judge CHECK_LT to CHECK_LE  on  src/relay/op/tensor/tr

[2020-03-30 21:10] tqchen commented on #5172
cc @yongwww @srkreddy1238 @jonso4 @kevinthesun please help confirm

[2020-03-30 21:11] tqchen commented on #4953
@leandron can you please comment about the current state?

[2020-03-30 21:13] #4648 closed

[2020-03-30 21:13] tqchen commented on #4648
Close for now as most relay and tir nodes has been updated

[2020-03-30 21:14] #4676 closed

[2020-03-30 21:14] tqchen commented on #4676
close as the oroginal instruction seems to be OK.

[2020-03-30 21:15] tqchen commented on #5003
Please comment about the state of the issue. Whether there are actionable items, or should it be closed

[2020-03-30 21:21] pasqoc commented on #5003
The issue is still open, as far as I know a fix has not been made.

[2020-03-30 21:22] tqchen commented on #5003
cc @liangfu @vegaluisjose @tmoreau89

[2020-03-31 01:16] Mimi2119 opened #5187 "Squirrel"
2020-03-04 22:58:28> Program: Starting Squirrel Updater: --install .
2020-03-04 22:58:28> Program: Starting install, writing to C:\Users\tammy\AppData\Local\SquirrelTemp
2020-03-04 22:58:29> Program: About to install to: C:\Users\tammy\AppData\Local\GitHubDesktop
2020-03-04 22:58:29> CheckForUpdateImpl: Couldn't write out staging user ID, this user probably shouldn't get beta anything: System.IO.D

[2020-03-31 01:41] #5187 closed

[2020-03-31 01:43] roastduck opened #5189 "Python unit test test_tuple_type crashes"
Python unit test test_tuple_type crashes in my platform, but it is passing in the CI.

Log:
[code]

I am running the latest version (ff6fa3995c6b2cd253c6265798567a635dc00aa8), built with GCC 7.3.0 and python 3.7.0.

My build config:
[code]

[2020-03-31 02:47] liangfu commented on #5003
I think this is actually a hardware issue in Chisel implementation of VTA. An incorrect result takes place when we run multiple cycles of inference, due to buffer is contaminated in the first cycle.

[2020-03-31 21:13] tqchen commented on #5189
Thanks for bringing up the issue, It would be great if you can dig a bit further. Also the community uses https://discuss.tvm.ai/ mostly for trouble shooting related discussions, it would be great if we can open a new thread there with more details(e.g. stack trace, valgrind)

[2020-03-31 21:13] #5189 closed

[2020-04-01 00:19] kognat-docs opened #5199 "Tensorflow Tutorial Fails with Metal as the context"
See:

`# tvm, relay
import tvm
from tvm import te
from tvm import relay

# os and numpy
import numpy as np
import os.path

# Tensorflow imports
import tensorflow as tf
tf_compat_v1 = tf

# Tensorflow utility functions
import tvm.relay.testing.tf as tf_testing

# Base location for model related files.
repo_base = 'https://github.com/dmlc/web-data/raw/master/tensorflow/models/InceptionV1/'

# Test i

[2020-04-01 00:21] kognat-docs commented on #5199
See python script.

[metal_tf_demo.zip](https://github.com/apache/incubator-tvm/files/4412095/metal_tf_demo.zip)

[2020-04-01 04:37] heliqi commented on #4969
Have you try the nlp model? I use latest code, dynamic sahpe don't working.
recursively find the input to the control flow nodes , have some problems with fixed dynamic input.

For example, I set the 'Placeholder' op(the original shape is dynamic (-1,-1)) shape as (1,30) in the from_tensorflow interface.First, for each control flow node, we backtrack all its ancestor nodes until input nodes.But al

[2020-04-01 21:03] tqchen commented on #5199
Thanks for reporting the problem, the community uses the discuss forum for general trouble shooting please open a new thread on https://discuss.tvm.ai/

[2020-04-01 21:03] #5199 closed

[2020-04-01 21:13] tqchen opened #5210 "[RELAY] kExternalSymbol -> kGlobalSymbol"
As part of the unified IR effort, we introduced the kGlobalSymbol attribute to indicated the linker global symbol of PrimFunc https://github.com/apache/incubator-tvm/blob/master/include/tvm/ir/function.h#L235

This name is largely overlaps with the kExternalSymbol in the current relay custom compiler pass. It would be great to see if we can consolidate the two concepts by simply use kGlobalSymbol

[2020-04-01 21:13] tqchen commented on #5210
cc @zhiics @comaniac @mbaret

[2020-04-01 21:25] comaniac commented on #5210
Seems doable. `kExternalSymbol` is added by graph partition pass, so as long as we can make sure the build flow after graph partition pass won't mess up with `kExternalSymbol` and `kGlobalSymbol`, we should be good.

I checked the flow after graph partition pass and mainly located to `compiler engine` and `customized codegen`.

1. Since `compile_engine::LowerExternalFunctions` will first check if

[2020-04-01 21:53] zhiics commented on #5210
I think we can just replace it as we really only use for runtime lookup. @comaniac you have time to give it a try?

[2020-04-01 22:04] tqchen commented on #5210
Please do note the type change(from StringImm to runtime::String)

[2020-04-01 22:23] zhiics commented on #5210
@tqchen runtime::String hasn't yet been exposed to Python side, right?

[2020-04-01 22:48] tqchen commented on #5210
Not yet, but we have directly use it on the c++ side, this is a TODO in #5047 . If we need a quick python function, we can expose a quick constructor function for now

[2020-04-01 23:04] zhiics commented on #5210
@tqchen sounds good. I can send a quick change on this.

[2020-04-02 02:13] FrozenGene opened #5215 "[AutoTVM] AutoTVM incorrect measurement"
Our AutoTVM use `debug_skip_region` to skip our precompute stage (like precompute kernel). However, `debug_skip_region` can not reflect practical running, which just only create empty tensor for it. Empty tensor will make AutoTVM record the performance incorrect. This condition will become worse like Winograd. In Winograd, our weight shape will be changed from (KH, KW, CO, CI) to (alpha, alpha, CO

[2020-04-02 02:34] FrozenGene opened #5216 "[AutoTVM] RPCRunner network overhead"
When we use AutoTVM to tune on remote devices, we will introduce data copy to remote devices and bring network overhead: https://github.com/apache/incubator-tvm/blob/9d2c984ab633b372cd31054a5abd84a2e16f6220/python/tvm/autotvm/measure/measure_methods.py#L484

To solve this, we could implement a `tvm.nd.non_empty` in the tvm runtime, then we can do the random fill on the target device without copyin

[2020-04-02 08:25] qinxianyuzi opened #5218 "TVMError: Check failed: ObjectTypeChecker: :Check(ptr): Expect relay.Expr but get IRModule"
When I use this code for evaluating, An TVMError has occurred.
`with relay.build_config(opt_level=0):
    intrp = relay.build_module.create_executor('graph', sym, tvm.cpu(0), target)
dtype = 'float32'
func = intrp.evaluate(sym)`

TVMError: Check failed: ObjectTypeChecker: :Check(ptr): Expect relay.Expr but get IRModule

The onnx graph:
`
graph(%input.1 : Float(1, 3, 224, 224),
      %conv1.weight

[2020-04-02 15:10] windclarion opened #5221 "TextPrinter for PrimFunc in IRModule"
I sync the latest code and only add one statement at function BuildForIRModule in tvm/src/code/target.cc:

LOG(INFO) << "BuildForIRModule:module=" << AsText(module, false);

and run the first function test_multi_node_compiler  in tvm/tests/python/relay/test_pass_partition_graph.py，report runtime fail:

Traceback (most recent call last):

  File "test_pass_partition_graph.py", line 896, in <module>

[2020-04-02 15:51] tqchen commented on #5218
Thanks for reporting the problem, the community uses the discuss forum for such kind of trouble shooting questions, please open a new thread there

[2020-04-02 15:51] #5218 closed

[2020-04-02 15:55] #5210 closed

[2020-04-02 17:22] tqchen commented on #5221
This is a known limitation for now. Because we have not yet add text printer support for the TIR. Will keep this issue open until the text printer lands

[2020-04-03 01:34] tqchen commented on #5221
https://github.com/apache/incubator-tvm/pull/5225 should provide a temporary fix to allow printing of IRModule, note that however the text format cannot yet be parsed

[2020-04-03 11:38] adobay opened #5229 "gather_nd result seems not correct"
with data shape [6, 4, 3] , indices shape [6, 2], gather_nd will throw error.
with data shape [1, 4, 1],  indices shape [3, 2], result shape is [2].

[2020-04-03 15:37] tqchen commented on #5229
cc @kazum @icemelon9

[2020-04-03 17:24] icemelon9 commented on #5229
`gather_nd` in relay follows the [mxnet semantics](https://mxnet.apache.org/api/python/docs/api/ndarray/op/index.html#mxnet.ndarray.op.gather_nd) where each column indicates the indices in the data.

[2020-04-03 23:19] #5229 closed

[2020-04-03 23:19] tqchen commented on #5229
Close for now then, please feel free to open new thread on https://discuss.tvm.ai/ for followup discussions :)

[2020-04-04 03:33] xinyi61 opened #5234 "tvm 0.7.dev1 AttributeError: module 'tvm' has no attribute 'placeholder'"
I am trying to build the TVM from source on my machine(CentOS Linux release 7.7.1908),after compiled done, When I run the test cases below

import tvm
import time
import timeit
import numpy as np
from matplotlib import pyplot as plt
print(tvm.__version__)

def vector_add(n):
    """TVM expression for vector add"""
    A = tvm.placeholder((n,), name='a')
    B = tvm.placeholder((n,), name='b')

[2020-04-04 04:09] kognat-docs commented on #5199
Here it is:
https://discuss.tvm.ai/t/unable-to-get-started-with-metal-on-macos-10-13-with-radeon-pro-560-4096-mb/

[2020-04-04 12:42] flip1995 commented on #4272
@tmoreau89 I have time to write up this documentation now. Should I start a new page in the documentation or just append this to a previous document? Can you post a quick link where to put this documentation in either case?

Sorry for the delay. I forgot about this and just discovered it in my saved issues again.

[2020-04-04 16:45] tqchen commented on #5234
Thanks for reporting the problem, the community uses https://discuss.tvm.ai/ for trouble shooting, please open a new thread there. As of 0.7 development, cycle, we have migrated the tvm.compute, placeholder under the tvm.te namespace

[2020-04-04 16:45] #5234 closed

[2020-04-05 22:48] kognat-docs opened #5242 "[Metal] Traceback macOS 10.13 on AMD Radeon Pro 560 using https://docs-assets.developer.apple.com/coreml/models/MobileNet.ml model"
[code]

From the following input `python ~/dev/tvm_test/from_coreml.py`

Where `~/dev/tvm_test/from_coreml.py` reads as follows

[code]

based on

https://docs.tvm.ai/tutorials/tensor_expr_get_started.html

With the single line edit

`ctx=tvm.cpu(0)` becomes `ctx=tvm.metal(1)`

The output is as follows

[code]

note `TVMError: Check failed: ret == 0 (-1 vs. 0) : Assert fail: (dev_type == 1), devic

[2020-04-05 22:52] kognat-docs commented on #5242
For history

[code]

[2020-04-06 01:43] kognat-docs commented on #5242
On the same HW OS and TVM install the following

`python ~/dev/tvm_test/tensor_expr_get_started.py`

Results in

[code]

Where the script is as follows adapted from https://tvm.apache.org/docs/tutorials/tensor_expr_get_started.html?highlight=metal

[code]

So I am at a loss, Metal is working and not working.

[2020-04-06 02:00] kognat-docs commented on #5242
The solution was found here

[code]

[2020-04-06 02:01] #5242 closed

[2020-04-06 02:38] kognat-docs opened #5244 "[Metal] Backtrace graph_runtime Tensorflow example without tvm.gpu(0) or tvm.target.cuda() calls CUDA"
Running the following command

`python ~/dev/tvm_test/from_tensorflow_metal.py`

Results in a Backtrace

[code]

What is concerning is that CUDA code is being called when `tvm.gpu(0)` and `tvm.target.cuda()` are not mentioned

[code]

see

[code]

These results are not found

The contents of the script is as below

[code]

Is it that `contrib.graph_runtime`, has only ever been tested with CUDA and

[2020-04-06 02:41] kognat-docs commented on #5242
Other issue on same setup:
https://github.com/apache/incubator-tvm/issues/5244

[2020-04-06 03:46] tqchen commented on #5244
please use the discuss forum https://discuss.tvm.ai/ for general trouble shooting and discussions :)

[2020-04-06 03:46] #5244 closed

[2020-04-06 03:54] kognat-docs commented on #5244
Already done: https://discuss.tvm.ai/t/using-metal-but-tvm-asking-for-cuda-use-llvm-on-use-metal-on/6234

But a backtrace using the software as intended is not trouble shooting.

It is a software defect.

[2020-04-06 04:00] tqchen commented on #5244
There is certainly a blurred line here. But as you can see from other trouble shooting threads, many of them do involves problems that the community work collectively to fix, regardless being on an issue tracker for the discuss forum :) I have followed up on https://discuss.tvm.ai/t/unable-to-get-started-with-metal-on-macos-10-13-with-radeon-pro-560-4096-mb/6209/4

[2020-04-06 04:03] tqchen commented on #5244
cc @Shawn-Inspur @Hzfengsy please followup on the post

[2020-04-06 04:16] Leebsun commented on #5113
Did you solve this?

[2020-04-06 09:01] roastduck opened #5245 "[TIR] lower_warp_memory not working"
`src/tir/transforms/lower_warp_memory.cc` transforms memory accesses in "warp" scope to "local" scope, and generates warp shuffle primitives. I found it indeed transformed the scope to "local", but it failed to generate the shuffle primitives for me.

To reproduce:

[code]

The output was:

[code]

You will find that the shuffle primitive is missing. Instead, it directly stores the  unshuffled dat

[2020-04-06 12:45] roastduck commented on #5245
Well, `%s/Mutate_/VisitExpr_` solves the problem. I will make a PR.

[2020-04-06 14:23] adobay opened #5248 "[FRONTEND] tensorflow GatherNd function error"
in relay/frontend/tensorflow.py, GatherNd's converter function is relay's gather_nd, but gather_nd in relay follows the mxnet semantics where each column indicates the indices in the data, which is completely different to tensorflow.

[2020-04-06 15:44] #5245 closed

[2020-04-06 15:44] tqchen commented on #5245
Closed by #5247, thanks @roastduck

[2020-04-06 15:58] tqchen commented on #5248
cc @kazum @srkreddy1238 @icemelon9  Would be great if we can look into this.

Also perhaps we should have a discussion in the discuss forum about existing API conventions for gather nd so that we have a clear picture about what they are and how can we convert from one another

[2020-04-06 16:04] tqchen opened #5250 "[REFACTOR] StringImm -> String"
We have introduced the runtime::String to the tvm runtime. This new object can be used to replace most of the StringImm usages, except for the one that uses the IR. This issue tracks the refactor items to perform such migration.

- [x] Support automatic convertion to runtime::String when PackedFunc takes a str argument. https://github.com/apache/incubator-tvm/pull/5251

- [x] Due to the nature of

[2020-04-06 16:05] tqchen commented on #5250
cc @wweic @zhiics

[2020-04-06 16:50] tmoreau89 commented on #4272
@flip1995 if you could start a new page of the doc (see: https://github.com/apache/incubator-tvm/tree/master/docs/vta), and from your private fork issue a PR. When it's ready please assign the PR to be reviewed by me. Thank you!

[2020-04-07 00:09] icemelon9 commented on #5248
Yes, let's open a discussion in the forum about this.
https://discuss.tvm.ai/t/gather-nd-semantics/6243

[2020-04-07 01:18] hcho3 commented on #4953
@leandron Thanks for pointing out which part of TVM test is failing. Not sure if running in debug mode would help, since XGBoost is crashing with segfault here. I will take a look some time this week.

[2020-04-07 02:21] fcqfcq opened #5255 "[pytorch] ['aten::leaky_relu', 'aten::reciprocal', 'aten::repeat']"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2020-04-07 03:02] fcqfcq opened #5256 "[onnx] [llvm ]"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2020-04-07 03:02] fcqfcq commented on #5256
WARNING:root:Failed to download tophub package for llvm: <urlopen error [Errno 110] Connection timed out>
download failed due to URLError(TimeoutError(110, 'Connection timed out'),), retrying, 2 attempts left
download failed due to URLError(TimeoutError(110, 'Connection timed out'),), retrying, 1 attempt left
WARNING:root:Failed to download tophub package for llvm: <urlopen error [Errno 110] Conne

[2020-04-07 04:11] tqchen commented on #5256
Please open a new thread on https://discuss.tvm.ai/

[2020-04-07 04:11] #5256 closed

[2020-04-07 09:11] CallmeZhangChenchen opened #5260 "tvm 0.7 only work in python3.6"
Exception: The minimal Python requirement is Python 3.6

[2020-04-07 10:44] masahi commented on #5255
leaky_relu was added in https://github.com/apache/incubator-tvm/pull/5194. I added other two in
https://github.com/apache/incubator-tvm/issues/5133

[2020-04-07 10:44] #5255 closed

[2020-04-07 15:52] tqchen commented on #5260
This is an expected behavior, as we will start to require python3.6 in 0.7 For otehr questions, please open a new thread on https://discuss.tvm.ai/

[2020-04-07 15:52] #5260 closed

[2020-04-07 19:07] zhiics commented on #5250
@tqchen I will spend some time on this. I just had simple test based on #5251. It looks I had a problem. Could you please take a look?

[2020-04-08 03:45] CallmeZhangChenchen opened #5273 "Run relay_quick_start.py Wrong"
zzjhtest@zzjhtest:~/ZCC/testtvm$ python3 relay_quick_start.py
v0.0.4
def @main(%data: Tensor[(1, 3, 224, 224), float32], %bn_data_gamma: Tensor[(3), float32], %bn_data_beta: Tensor[(3), float32], %bn_data_moving_mean: Tensor[(3), float32], %bn_data_moving_var: Tensor[(3), float32], %conv0_weight: Tensor[(64, 3, 7, 7), float32], %bn0_gamma: Tensor[(64), float32], %bn0_beta: Tensor[(64), float32], %

[2020-04-08 03:46] CallmeZhangChenchen commented on #5273
i think tvm is no question .

[2020-04-08 03:47] CallmeZhangChenchen commented on #5273
and llvm no question

[2020-04-08 09:45] NarendraPatwardhan commented on #5133
Also aten::groupnorm as it is integral part of many new SOTA models and the alternative route pytorch->onnx->tvm introduces inefficient conversion by converting groupnorm to multiple instance norms instead.

[2020-04-08 10:08] NarendraPatwardhan opened #5278 "[Relay] Support for GroupNorm"
Many modern models utilize GroupNorm, there is support for LayerNorm and InstanceNorm under tvm/relay/op/nn. It is especially helpful for training with low number of samples and more efficient than instance norm in terms of parameters. It would be valuable addition to add it to core set of operators as libraries like pytorch or mxnet already support it.

[2020-04-08 15:21] tqchen commented on #5273
Please open a new thread on https://discuss.tvm.ai/

[2020-04-08 15:21] #5273 closed

[2020-04-09 00:58] tqchen opened #5285 "[TEST][FLAKY] Sphinx pre-check build error"
We have a couple CI error in the sphinx check https://ci.tvm.ai/blue/rest/organizations/jenkins/pipelines/tvm/branches/master/runs/733/nodes/151/log/?start=0 on an CI node. would be great if we can look into what is going on.

I temporarily bring that node offline.

[2020-04-09 00:58] tqchen commented on #5285
cc @zhiics

[2020-04-09 05:12] zhiics commented on #5285
I rebooted the machine. Not sure if this error will remain.

[2020-04-09 05:58] zhiics commented on #5285
The same error now also happens on other CI nodes as well.

[2020-04-09 13:37] adobay opened #5290 "relay build error, how to find root cause?"
please help!!!

error message:
[code]

[2020-04-09 15:36] adobay commented on #5290
the problem is in gather_nd...

[2020-04-09 15:43] zhiics commented on #5290
Please open a thread in the discussion forum (https://discuss.tvm.ai/) with a minimal example to reproduce.

[2020-04-09 15:43] #5290 closed

[2020-04-09 15:57] tqchen commented on #5285
I see, i will look into it

[2020-04-09 16:16] tqchen commented on #5285
Should be fixed by https://github.com/apache/incubator-tvm/pull/5292 Thanks @zhiics for looking into it

[2020-04-09 16:39] tqchen opened #5294 "[CRT] Clear Compiler Warnings"
During the investigation of https://github.com/apache/incubator-tvm/pull/5293, we find that the CRT source currently generate multiple warnings in both 64 bit and 32 bit env.

It is worth to look into and eliminate all the warnings, and turn on the `-Werror` compiler for future compilations

[2020-04-09 16:39] tqchen commented on #5294
cc @liangfu @mehrdadhe  @tmoreau89

[2020-04-09 19:53] tqchen commented on #5285
closing for now. btw @zhiics perhaps we need to look into cuda driver of the rebooted machine, which reports cuda not found

[2020-04-09 19:53] #5285 closed

[2020-04-09 21:39] tqchen opened #5298 "[CRT][FLAKY] Flaky failures on 32bit platforms"
We have some flaky tests for the CRT under the 32bit platforms(even after https://github.com/apache/incubator-tvm/pull/5293) , see example log here:

https://ci.tvm.ai/blue/rest/organizations/jenkins/pipelines/tvm/branches/PR-5282/runs/9/nodes/152/log/?start=0

https://github.com/apache/incubator-tvm/pull/5297 temporary disabled the tests. It would be great if we look into the potential cause of t

[2020-04-10 10:38] roastduck opened #5303 "[TIR] Buggy LoopPartition"
Pass `LoopPartition` may be wrong when there are variables unknown at compile time.

Here's the example.

[code]

In this example, we tile `a` with factor 32, and cache it to the shared memory. The major characteristic of this example is that the reduce length `n` is unknown at compile time, so TVM will emit some boundary checkings.

We first print the IR, and then print the generated CUDA code. T

[2020-04-10 13:54] #5248 closed

[2020-04-10 14:44] roastduck commented on #5303
It's my misunderstanding. `j.outer < 32` (not `<=`), so `(j.outer*32) + threadIdx.x) < 1024` still holds.

[2020-04-10 14:44] #5303 closed

[2020-04-10 18:02] tqchen commented on #5250
closed by #5276 Thanks to @zhiics

[2020-04-10 18:02] #5250 closed

[2020-04-12 16:21] tqchen opened #5313 "[TE] Support Scan of non-highest axis"
For algorithms like cumsum, most of the cases requires scanning over non-highest axis. The current workaround for this issue is to transposing the target axis to the highest and then do the scanning. It would be great to add direct support for scanning over other axis though.

Background https://github.com/apache/incubator-tvm/pull/5289

[2020-04-13 05:50] shoubhik commented on #4845
What is the expected time of release for this release? what are the chances of it happening in May?

[2020-04-13 16:38] sibadakesi opened #5317 "op.BuiltinOptionsType() == BuiltinOptions.ReshapeOptions"
When i run this code.it appears error  op.BuiltinOptionsType() == BuiltinOptions.ReshapeOptions
[code]

[2020-04-13 17:51] tqchen commented on #5317
Please open a new thread on https://discuss.tvm.ai/

[2020-04-13 17:51] #5317 closed

[2020-04-13 17:56] tqchen commented on #4845
Due to recent situation, we might expect a bit of delay in the release to June/July. We will do our best to keep the timeframe.

[2020-04-13 18:13] tqchen opened #5318 "[REFACTOR][IR] Migrate ObjectRef to not-null and use Optional"
https://github.com/apache/incubator-tvm/pull/5314 Introduced NotNull and optional support to the IR data structure.

We should start to track the migration of existing ObjectRef sub-classes to not-null by default to enhance the robustness throughout the codebase.

### Update Guide

Right now the not-null ObjectRef is **opt-in**. That means by default an ObjectRef is nullable. We can gradually chan

[2020-04-13 18:14] tqchen commented on #5318
cc @jroesch @junrushao1994 @yzhliu @wweic @MarisaKirisame @zhiics @antinucleon

[2020-04-15 08:30] anijain2305 opened #5340 "Schedule Transferability between Intel and ARM CPU targets"
Relevant discuss post - https://discuss.tvm.ai/t/topi-using-x86-schedules-for-arm-conv2d/6365

Currently, TVM has different schedules for ARM and Intel for conv2d operators. The discuss post listed above shows that Intel conv2d NCHWc schedule on ARM gives better end-to-end latency compared to ARM NCHW conv2d spatial pack schedule for many TFLite networks.

However, this is just one opportunity and

[2020-04-15 18:41] tqchen opened #5342 "[PYTHON] Remove developer facing api from frontend exports"
Just find this case when going through the doc generation process. We only want to expose from_xxx in the relay.frontend namespace as public APIs.

The functions being used in test, e.g. `quantize_mxnet_min_max` should be explicitly imported in testcases via from ``tvm.relay.frontend.mxnet_qnn_op_utils import xyz`

https://github.com/apache/incubator-tvm/blob/master/python/tvm/relay/frontend/__ini

[2020-04-15 18:41] tqchen commented on #5342
cc @anijain2305 @shoubhik

[2020-04-15 18:58] shoubhik commented on #5342
I'll submit the changes tomorrow.

[2020-04-15 19:18] austinmw commented on #713
Hi @tqchen , curious if there's any updated perspective on TVM vs. TensorRT?

[2020-04-15 19:32] tqchen commented on #713
Some updates https://tvm.apache.org/2019/04/29/opt-cuda-quantized please feel free to followup on https://discuss.tvm.ai/

[2020-04-16 18:56] zhiics opened #5351 "[Jenkinsfile] Should we include libvta_tsim.so at the top level"
@tqchen @tmoreau89

Should we include libvta_tsim.so and libvta_fsim.so here?

https://github.com/apache/incubator-tvm/blob/84d1eec39a10c559cb659d3f411cacce08cfdaff/Jenkinsfile#L56-L57

it looks we should set them on in the CPU script, but not in the GPU script (we probably don't need to)
https://github.com/apache/incubator-tvm/blob/84d1eec39a10c559cb659d3f411cacce08cfdaff/tests/scripts/task_confi

[2020-04-16 19:02] tqchen commented on #5351
we still need them for building vta tutorials, which is in the last docs stage

[2020-04-16 19:06] zhiics commented on #5351
I see. Thanks. Then should we add `set(USE_VTA_TSIM/FSIM, ON)` in the build_gpu.sh? We see errors when packing the lib

[2020-04-16 19:18] tqchen commented on #5351
I agree, please send a patch :)

[2020-04-16 22:29] zhiics commented on #5351
close by #5352

[2020-04-16 22:29] #5351 closed

[2020-04-17 04:25] zchuang11 commented on #5024
@tqchen I have pushed a unsupported op as [Lambda in keras](https://discuss.tvm.ai/t/lambda-op-for-keras/6408) Thanks  for your replay!

[2020-04-17 06:11] MrCrazyCrab opened #5356 "some bug about tvm"
when i run my code, i met a problem about parsing my onnx model
`return self.input_dict[self.input_keys[item]]

IndexError: list index out of range`
i could't find the key to the problem,  what' s the cause of it?

[2020-04-17 14:34] tqchen commented on #5356
Please open a new troubleshooting thread on https://discuss.tvm.ai/ . when possible provide more details about your problem

[2020-04-17 14:34] #5356 closed

[2020-04-17 14:37] #5294 closed

[2020-04-17 14:54] masahi commented on #5278
#5358

[2020-04-17 14:54] #5278 closed

[2020-04-17 14:55] masahi commented on #5133
@NarendraPatwardhan Group norm is supported in #5358.

[2020-04-18 06:56] jackwish commented on #5340
That is really good idea that we can share schedules across *backends*!
A few monthes ago, I had once thought that, maybe we can modularize TOPI such that some *well known* schedules can be shared as much as possible. For example, we can have schedules for CPU and GPU which could shared between x86/ARM/... and CUDA/OpenCL respectively. Though I am not actively working on TVM nowdays, hoping to con

[2020-04-18 07:25] roastduck opened #5366 "[TIR] lower_warp_memory cannot handle >1 warp buffers"
Pass  `lower_warp_memory` cannot handle more than one warp buffers. Buffers except the first one cannot be correctly transformed to warp shuffles.

To reproduce:

[code]

I think the problem is `WarpMemoryRewriter::VisitStmt_(const AllocateNode*)` in `lower_warp_memory.cc` doesn't continue the recursion after rewriting the first buffer.

I will fix it.

[2020-04-18 14:31] adobay opened #5369 "[AutoTVM] Tune graph for x86 cpu throws exception"
I tuned my model for x86 cpu according to [this tutorial](https://tvm.apache.org/docs/tutorials/autotvm/tune_relay_x86.html?highlight=tune_graph), and an exception occurred. Can someone help?

This is my code, which is almost the same as the tutorial.
[code]

This is the exception.
[code]

[2020-04-18 15:23] JishinMaster opened #5370 "Remove Interference of TensorCore Strategy to OpenCL/Metal"
Dear all,

Is it possible to use the OpenCL/Vulkan/RoCM backends without enabling the CUDA one?
I want to use TVM on AMD and Intel GPU platforms (i.e without Nvidia).
It seems that CUDA also enables everything related to GPU (for instance the schedule).
Enabling only opencl with the latest tvm source gives me "TVMError: Check failed: allow_missing: Device API gpu is not enabled" at the following l

[2020-04-18 16:19] tqchen commented on #5370
cc @icemelon9 @jwfromm @Shawn-Inspur @Hzfengsy

[2020-04-18 16:19] tqchen commented on #5370
This is related to the strategy introduced by the tensorcore PR

[2020-04-18 17:55] PrashantDandriyal commented on #2802
Hey @mnboos Can you help me figure the same problem on Ubuntu ?

[code]

[2020-04-19 00:05] tqchen opened #5373 "[REFACTOR][TIR] Migrate HoistIfThenElse to the unified pass manager"
See background https://github.com/apache/incubator-tvm/pull/5364

cc @kevinthesun can you work on this item?

[2020-04-19 01:34] roastduck opened #5374 "[TE] Warp memory in InferBound"
I'm working with a buffer that bound to warp scope. In `src/te/schedule/message_passing.cc:208`:

[code]

I found `threadIdx.y` is presented both in `state[s->parent]` and `parent_min` in my application, so the result becomes `threadIdx.y + threadIdx.y + ...`, which leads to a wrong boundary checking in the end.

I tracked down `state[s->parent]`. In `src/te/operation/op_util.cc:167`, there is a c

[2020-04-19 02:03] jwfromm commented on #5370
It looks like this is probably happening because we forgot to check that the current target is `cuda` before calling `nvcc.have_tensorcore` in the `dense` strategy function. PR #5376 should fix this. Can you give the change a try and see if it solves your problem?

[2020-04-19 02:43] tqchen commented on #5374
given that this topic is more like a development discussion, please open a new thread on https://discuss.tvm.ai/

[2020-04-19 02:43] #5374 closed

[2020-04-19 03:11] #5366 closed

[2020-04-19 04:09] #5342 closed

[2020-04-19 10:02] mnboos commented on #2802
Line 9 of the error log says:

[code]

So the include dir of OpenCL was not found.

[2020-04-19 18:20] #5370 closed

[2020-04-20 05:26] hcho3 commented on #4953
I compiled TVM from source and tried running the test `tests/python/unittest/test_autotvm_xgboost_model.py::test_fit` and I cannot reproduce the issue. Do I need a specific Docker container to reproduce the problem?

[2020-04-20 05:50] hcho3 commented on #4953
I also tried building `ci-cpu` Docker image from scratch and running the unit test myself. The test runs without crashing.

[2020-04-20 15:01] leandron commented on #4953
We applied a workaround, pinning the xgboost version to be 0.90. Which XGBoost version you see in the image you created from scratch?

[2020-04-20 16:20] tqchen opened #5384 "[ARITH] Merge Impl of Extended Euclidean"
See
- https://github.com/apache/incubator-tvm/blob/master/src/arith/modular_set.cc#L305
- https://github.com/apache/incubator-tvm/blob/master/src/arith/util.cc#L29

Consider move the impl in modularset(since it has more comments) as a function to https://github.com/apache/incubator-tvm/blob/master/src/arith/int_operator.h

[2020-04-20 16:20] tqchen commented on #5384
cc @yzhliu

[2020-04-20 19:46] hcho3 commented on #4953
@leandron I checked out commit 8502691b5b7ca152da9eb626529070db53d479c8 so that XGBoost 1.0.x is used.

[2020-04-20 20:05] tqchen commented on #4617
Move to #4647

[2020-04-20 20:05] #4617 closed

[2020-04-21 01:06] samwyi opened #5388 "[RUNTIME][VULKAN] vkBuffer released before memory copy command send to GPU"
**Problem**: When the Vulkan runtime uses deferred kernels to do a GPU -> GPU copy, the source vkBuffer is released before the copy command is put into command buffer. That can cause seg fault in vulkan driver.

**Details**:
The problem happens in:
`args = [ [nd.array(x, ctx=ctx) for x in args] (measure_methods.py: 482).`
This line of code rpc calls CopyDataFromTo() (vulkan.cc: 200) to do a GPU ->

[2020-04-21 01:30] tqchen commented on #5388
Thanks @samwyi for reporting the problem. Perhaps an easier fix now would be call into Synchronize directly in when FreeDataSpace is called. This is also the default behavior in CUDA. Given that most of the space won't be freed during computation, this might be a fine fix.

@samwyi do you mind to send a PR?

[2020-04-21 01:31] tqchen commented on #5388
cc @ajtulloch @antinucleon

[2020-04-21 06:12] zchuang11 commented on #4845
Including more operator should be scheduled as least for one frontend? Onnx or tensorflow or mxnet etc, it will be great if 'ONE'  frontend is widely supported!!

[2020-04-21 06:13] Jon-drugstore opened #5393 "Tensorflow OP: 'DenseToDenseSetOperation', 'NonMaxSuppressionV3', 'SparseToDense', 'Unique'"
Some ops are not supported as mentioned in https://discuss.tvm.ai/t/lambda-op-for-keras/6408, any help will be very appreciated!

[2020-04-21 07:34] kevinthesun commented on #5373
@tqchen Sorry I'm quite busy these days. Will work on it when I get time.

[2020-04-21 12:54] gopinath-r commented on #5133
@masahi I am trying to use tvm for the following model
[https://github.com/cogaplex-bts/bts/blob/master/pytorch/bts.py]

I am getting the following error while building the relay IR from pytorch scripted model
**TypeError: Don't know how to handle type <class 'torch.Tensor'>**

After debugging i found that error is thrown at parsing the operation torch.repeat.
and torch.repeat is mapped as aten::r

[2020-04-21 14:49] tqchen commented on #5189
https://github.com/apache/incubator-tvm/pull/5390

[2020-04-21 14:53] tqchen commented on #5373
Thanks @kevinthesun , it should take about a few hours

[2020-04-21 14:56] tqchen commented on #5215
@FrozenGene what is the status of this issue?

[2020-04-21 14:57] #5369 closed

[2020-04-21 15:44] FrozenGene commented on #5215
This issue wants to track all template of using `debug_skip_region`(like arm / cuda and so on). Currently, we only fix intel conv2d. I think I should list the target we should fix.

[2020-04-21 16:34] siju-samuel commented on #5133
@gopinath-r can you please share the script  to run from bts github or scripted_model?
In `repeat`, can u please print both `inputs, input_types` and share the result.

[2020-04-21 18:35] tqchen opened #5396 "[DOCS] Sphinx docs warning fixes"
This issue happens when the docker update status for ci-gpu to the lastest(the main change is is mkl-ml), and it also triggers a latest sphinx update.

Currently log for the sphinx pre-check warnings  due to the version upgrade http://ci.tvm.ai:8080/job/temp-ci-docker-staging/job/ci-stage/29/execution/node/205/log/ need to fix them before the we upgrade the image.

Actions to be taken
- [x] Migrat

[2020-04-21 21:29] samwyi commented on #5388
I'd be glad to provide a fix, but seems CUDA didn't call Synchronize in FreeDataSpace. Seems CUDA doesn't use deferred kernels, so it should be fine.

[2020-04-21 21:43] tqchen commented on #5388
CUDA's cudaFree implicitly syncs the default stream

[2020-04-22 00:13] tqchen commented on #4953
@leandron can you also provide a bit more details

e.g. does directly run `tests/python/unittest/test_autotvm_xgboost_model.py` fails or do we need to run the entire unittest. It would also be nice if you can send a CI binary hashtag(perhaps in docker hub) to confirm the problematic issue.

[2020-04-22 01:21] areusch commented on #4953
I see this reliably with a virtualenv on bionic on AWS.

environment:
ami: `099720109477/ubuntu/images/hvm-ssd/ubuntu-bionic-18.04-amd64-server-20200408`

python version
[code]

installed python packages:
[code]

backtrace:
[code]

pytest log:
[code]

[2020-04-22 01:25] hcho3 commented on #4953
Let me try again with `TVM_FFI=ctypes` environment variable set. What does this do?

[2020-04-22 01:32] tqchen commented on #4953
The trace might offer some insights, @hcho3 , couldit caused by ConfigureGpuId?
[code]

[2020-04-22 02:24] trivialfis commented on #4953
Is it possible that somehow XGBoost linked a wrong dmlc static library?

[2020-04-22 03:28] hudmgy opened #5402 "lib.export_library('path/to/deploy_lib.dll') on windows"
when I ran  "lib.export_library('path/to/deploy_lib.dll')" on windows, I failed

cl: Command line warning D9024 :unrecognized source file type“C:\Users\afx-\AppData\Local\Temp\tmprr0gougm\lib0.o”，object file assumed
cl: Command line warning D9027 :source file“C:\Users\afx-\AppData\Local\Temp\tmprr0gougm\lib0.o”ignored
dllmain.cc
C:\Users\afx-\AppData\Local\Temp\tmpfj_x3sy6\dllmain.cc(1): warning C

[2020-04-22 03:42] hudmgy commented on #856
hello, When I generated .dll file using "lib.export_library('path/to/deploy_lib.dll')",  I failed with exception

cl: Command line warning D9024 :unrecognized source file type“C:\Users\afx-\AppData\Local\Temp\tmprr0gougm\lib0.o”，object file assumed
cl: Command line warning D9027 :source file“C:\Users\afx-\AppData\Local\Temp\tmprr0gougm\lib0.o”ignored
dllmain.cc
C:\Users\afx-\AppData\Local\Temp\tmp

[2020-04-22 03:49] tqchen commented on #4953
i don't know unless we go and dig deeper, but if the bug is reproducible, then it should not be hard to find the cause

[2020-04-22 05:59] gopinath-r commented on #5133
@siju-samuel thanks for the reply

These are the values of input and input_types in repeat
**input>>> <built-in function input>
input_types>>> ['float', 'ListType']
data>>> tensor([[[0., 1., 2., 3., 4., 5., 6., 7.]]])
reps>>> [1, CallNode(Op(multiply), [Constant(152), Constant(8)], (nullptr), []), 44]**

Use of torch.repeat can be found at line numbers 141, 144 of bts.py.

I have uploaded the scri

[2020-04-22 07:01] siju-samuel commented on #5133
@gopinath-r
Currently tvm-pytorch frontend doesnt support taking each value of `reps` as another tensor or function. It is expecting as an simple constant and in this case we are getting a  multiplication operator.

So as a workaround, you can modify your `bts.py`
change your `local_planar_guidance` method
typecast the scalar multiplication to int.

Modify the below two lines  and do a simple type

[2020-04-22 12:50] srkreddy1238 opened #5404 "[Gradient] Building module out of backward function (gradient pass) fails."
Out of curiosity  I tried to build module out of back ward function by adding below  snippet at https://github.com/apache/incubator-tvm/blob/3e3ccce1135c25dd1d99dc7c2b8ff589c93ee7ea/tests/python/relay/test_op_grad_level2.py#L145

`       bwd_mod = tvm.ir.IRModule({'main': bwd_func})
        with relay.build_config(opt_level=0):
            graph, lib, params = relay.build(bwd_func, "llvm", None, {

[2020-04-22 12:53] u99127 opened #5405 "TFlite testsuite issue , qnn_mobilenet_v3 with moving up to TFlite 2.1.0"
As #5392 shows when running the testsuite for Tflite with 2.1.0 there are testsuite failures with tflite 2.1.0

this tracks the failure for qnn_mobilenet_v3_net

Ramana

[2020-04-22 12:55] u99127 opened #5406 "Tflite testsuite issue with tflite 2.1.0 (test_elemwise(partial(add, "RELU6")))"
As documented in #5392 using the packages for tflite and tensorflow 2.1.0 the test as in the subject line segfaults. It has now been skipped in the testsuite but this needs to be fixed.

[2020-04-22 12:57] u99127 opened #5407 "Tflite 2.1.0 upgrade of testsuite fails for _test_unary_elemwise (tan)"
As documented in #5392 running the test for the tan operator under Tflite 2.1.0 fails. This issue is to track this and to ensure that this is uncommented in the test on a later date.

The error from running this in the testsuite is as below.

`tests/python/frontend/tflite/test_forward.py:810:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
tests/python/frontend/tfli

[2020-04-22 14:26] u99127 commented on #5406
This is the failure in the build and test run.

`

E         tensorflow.lite.python.convert.ConverterError: See console for info.
E         2020-04-22 14:25:04.973317: W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynamic library 'libnvinfer.so.6'; dlerror: libnvinfer.so.6: cannot open shared object
file: No such file or directory; LD_LIBRARY_PATH:
E         2020-0

[2020-04-22 15:22] tqchen commented on #5402
Please open a new troubleshooting thread on https://discuss.tvm.ai/

[2020-04-22 15:26] #5402 closed

[2020-04-22 16:29] areusch commented on #4953
tried to reproduce with xgboost built from source (at HEAD/e4f5b6c8 and v1.0.2), no luck (test_autotvm_xgboost_model passes). if I reinstall the pip package (1.0.2), I can get it to reproduce again.

I built xgboost with this config:
`cmake -GNinja .. -DUSE_CUDA=ON -DUSE_NCCL=ON -DOPEN_MP:BOOL=ON`

any other suggestions to get it to build or install like the pypi package? might it be related to bu

[2020-04-22 18:02] tqchen opened #5412 "Relay tests memory leak"
tracks https://discuss.tvm.ai/t/incrrect-use-of-ndarray-leads-to-memory-leak/6459

[2020-04-22 19:58] trivialfis commented on #4953
@areusch Are you still running bionic when installing from pip?

[2020-04-22 20:00] areusch commented on #4953
yes

[2020-04-22 21:14] leandron commented on #4953
There is something I wanted to point out, which is an insight after @areusch's comment (thanks for that!).

The VM I'm running this test, *does not* have a GPU. However, the same test used to pass on this very same machine, with `xgboost<1`. Is that the case for you @areusch?

@hcho3 do you think this is something caused by a change in behaviour after `xgboost>=1.0` ?

[2020-04-22 21:21] areusch commented on #4953
no GPU on my instance (it is c5.4xlarge)

[2020-04-22 21:59] #5412 closed

[2020-04-22 23:11] trivialfis commented on #4953
I can reproduce it on bionic.  Here is what I have found so far:

- It's only reproducible with bionic, I have both 19.04 (EOL) and 19.10 tested.
- It's only reproducible with the tvm test, so normal training with XGBoost doesn't have the issue.
- It's only reproducible with pip installation.  Building from source works fine, which is annoying.
- From valgrind, it has 1 byte invalid read, which is

[2020-04-22 23:14] tqchen commented on #5388
ping @samwyi  :)

[2020-04-22 23:32] samwyi commented on #5388
I'll send out a PR soon.

[2020-04-22 23:33] samwyi commented on #5388
Do we

[2020-04-22 23:37] samwyi commented on #5388
I'll send out a PR soon. Just to confirm the procedure: (1) create own fork, (2) change in the main branch of my own fork, (3) push to remote and request pull, correct?

[2020-04-22 23:54] tqchen commented on #5388
yes, that is the correct procedure

[2020-04-23 00:03] hcho3 commented on #4953
I am still unable to reproduce it on my Bionic machine. @areusch Can you share the content of your `config.cmake`?

@trivialfis I'll try to build a wheel using CentOS Docker image.

[2020-04-23 00:23] trivialfis commented on #4953
@hcho3 You have to install the package on pip to reproduce it.  Building from source works fine.

[2020-04-23 00:26] areusch commented on #4953
@hcho3 Here is [config.cmake](https://github.com/apache/incubator-tvm/files/4519560/config.cmake.txt) from tvm.

[2020-04-23 00:40] samwyi commented on #5388
PR: https://github.com/apache/incubator-tvm/pull/5418

[2020-04-23 05:35] hcho3 commented on #4953
@trivialfis I rebuilt the 1.0.2 wheel with debug symbol enabled: https://drive.google.com/file/d/1cELaBb_rnmb9y8irSwEBQ5AIvaDQgDcF/view?usp=sharing. Feel free try it.

@areusch Since you are using AWS, can you make AMI from your EC2 instance and share it with me?

[2020-04-23 07:20] srkreddy1238 commented on #5404
cc  @jroesch any clues here ?

[2020-04-23 10:42] JonathanMace opened #5420 "Remote Cross Compilation CUDA Runtime Independent Target"
I'm training a resnet18_v2 model for CUDA using the RPC runner.  I run an RPC server on a remote machine that has a GPU, and I run the training program locally on a machine that has no GPUs.

`extract_from_program` fails because internally a GPU is required.  Specifically, in `/python/tvm/relay/op/strategy/cuda.py`, the code checks for local GPU properties in three places:
[code]
This check fails

[2020-04-23 11:30] trivialfis commented on #4953
@hcho3 I found the cause:

The dmlc error is thrown from `libtvm.so` instead of `libxgboost.so`, which can not be caught by XGBoost.  I believe there's some mixed up in the built binary.

[code]

[2020-04-23 11:34] trivialfis commented on #4953
But I don't understand how it happens.

[2020-04-23 12:17] trivialfis commented on #4953
Somehow the `dmlc::LogMessageFatal` constructor is a plt function, but the one in tvm is not plt, and calling it in XGBoost got resolved into the one in tvm.

[code]

[2020-04-23 12:28] leandron commented on #4953
Looks promising!

Naive question: based on what you see here, is it possible to correlate with the original stack trace/error described in the first report? https://github.com/apache/incubator-tvm/issues/4953#issue-572158142

[2020-04-23 12:54] trivialfis commented on #4953
@leandron I believe it's the root cause of this issue.  I just don't know how to fix it.  Maybe it's a bug in system linker or compiler used to build to pip package?  Or a convention in hairy C++ ABI I'm not aware of?  Or there's a wrong CMake flag that makes the function plt somehow while it's not supposed to?

[2020-04-23 13:53] trivialfis commented on #4953
@hcho3

Could you please create another build with position independent code of dmlc-core disabled?

[code]

[2020-04-23 15:16] tqchen commented on #5420
This is something that we could improve as part of the target system https://discuss.tvm.ai/t/target-and-attributes/6013 they should be part of the target attributes instead of the runtime attribute.

Leave it open for tracking the issue.

[2020-04-23 15:40] tqchen commented on #4953
I wonder if that was due to inconsistency between dmlc-core of tvm and xgb. https://github.com/apache/incubator-tvm/pull/5401 updated the logging to latest, please check again.

[2020-04-23 18:09] hcho3 commented on #4953
@trivialfis Here it is: https://drive.google.com/file/d/13WZRRaUPKil4rwH2avgUix_xO5LpIYs5/view?usp=sharing

[2020-04-23 19:00] areusch commented on #4953
@hcho3 do you still need an AMI from me? I think you can repro by using the AMI I mentioned [earlier](https://github.com/apache/incubator-tvm/issues/4953#issuecomment-617491801)

ami: `099720109477/ubuntu/images/hvm-ssd/ubuntu-bionic-18.04-amd64-server-20200408`

it should be enough to just try and run the tvm test using a pip installed xgboost. I can build you another if it would help.

[2020-04-23 20:14] trivialfis commented on #4953
@hcho3 One last request, otherwise I'm running out of ideas.

Patch both xgboot and rabit's C API macro:

For xgboost:

[code]

For rabit:
[code]

Build XGBoost with following flags appended:
[code]

[2020-04-23 20:15] hcho3 commented on #4953
@trivialfis Did you update TVM to latest?

[2020-04-23 20:16] trivialfis commented on #4953
@hcho3 I tried master branch and the commit before:

[2020-04-23 20:20] hcho3 commented on #4953
@trivialfis And you ran `git submodule update --init --recursive`?

[2020-04-23 20:21] trivialfis commented on #4953
@hcho3 Yes.

[code]

[2020-04-23 20:28] hcho3 commented on #4953
@areusch Can you try out the latest TVM master on your end? I'm still having trouble reproducing.

[2020-04-23 20:39] hcho3 commented on #4953
Finally, I reproduced it. Yes!

[2020-04-23 20:49] trivialfis commented on #4953
@hcho3 Could you try applying the patches I posted above and use the corresponding cmake flags?

[2020-04-23 21:11] hcho3 commented on #4953
@trivialfis I applied your patch and changed CMake flags. And now the unit test does not crash any more.

You should try it too. Get the wheel at https://xgboost-wheels.s3-us-west-2.amazonaws.com/xgboost-1.0.2-py3-none-manylinux1_x86_64.whl.

[2020-04-23 21:15] trivialfis commented on #4953
@hcho3 Yup.  It works fine on my machine too

[2020-04-23 21:15] areusch commented on #4953
@hcho3 tested with your new wheel on my aws instance and the test now passes!

[2020-04-23 21:19] hcho3 commented on #4953
@trivialfis Can you elaborate what your patch does? Does it hide certain symbols?

[2020-04-23 21:20] trivialfis commented on #4953
It hides all the symbols, except for C APIs.  So if anyone's using C++ header, it might generate a lots of linker errors.

[2020-04-23 21:21] hcho3 commented on #4953
@trivialfis I think we can hide all C++ symbols when building Python wheels. WDYT?

[2020-04-23 21:23] trivialfis commented on #4953
@hcho3 Yup.  Good idea.  We can make it a CMake option:

https://stackoverflow.com/questions/17080869/what-is-the-cmake-equivalent-to-gcc-fvisibility-hidden-when-controlling-the-e

[2020-04-23 21:25] hcho3 commented on #4953
@trivialfis Let me file a pull request. We'll include the fix as part of the upcoming 1.1.0 release.

[2020-04-23 21:31] trivialfis commented on #4953
We need to be careful about this.  Rabit and dmlc core are independently built, I'm not sure what will happen if they throws an error, as hiding symbols means exception can not be propagated out.

[2020-04-23 21:32] trivialfis commented on #4953
Not entirely sure in the context of static linking.

[2020-04-23 21:36] hcho3 commented on #4953
Got it. How about compiling the wheel using latest Ubuntu (not CentOS) and put it in a S3 bucket? The TVM CI can pull from this bucket instead of PyPI.

Current build environment for the Pip wheel is quite old: CentOS 6 + devtoolset-4 (GCC 5.x). When we drop CUDA 9.0, we can upgrade to CentOS 6 + devtoolset-6 (GCC 7.x). Upgrade may fix the issue.

[2020-04-23 21:40] trivialfis commented on #4953
Before upgrading libc dependency, we can try to add a test that forces rabit to throw an error, see if it crashes XGBoost with segfault.  An uneven all reduce can do.

Or a test with dmlc core, a file nonexist error seems to be simple.

[2020-04-23 21:41] trivialfis commented on #4953
Just make sure error is not thrown in header.

[2020-04-23 21:43] trivialfis commented on #4953
I believe if it works it will be a net gain for XGBoost, hiding symbols is a good practice for shared libraries.

[2020-04-23 22:14] tqchen commented on #5384
ping @yzhliu  :)

[2020-04-24 00:07] hcho3 commented on #4953
With https://github.com/dmlc/xgboost/pull/5590, I can now run `tests/python/unittest/test_autotvm_xgboost_model.py::test_fit` without crashing.

[2020-04-24 02:52] tqchen commented on #5047
https://github.com/apache/incubator-tvm/pull/5426

[2020-04-24 05:40] woniuasd commented on #5133
my pytorch code is "canvas[:, indices] = voxels"

The following operators are not implemented: ['aten::index_put_']

[2020-04-24 06:27] antinucleon opened #5427 "[Relay] Lack complex tests for parser"
Complex tests such as full models should be added to relay parser tests. As today, I tested MobileNet / Bert and a few more models, none is able to be successfully loaded.

[2020-04-24 08:53] MarisaKirisame commented on #5427
Hi, in the parser test file, you can see that we use roundtrip to do test - in particular, we test that parsing/pretty printing or prettyprinting/parsing give the same result. It is very easy to add new model there. I am trying to submit to NeurIps rn, so I cant work on it. Maybe other ppl (or perhap you) can take a look?

[2020-04-24 15:59] tqchen commented on #5427
It would be great if we can add some of these models(or found the root cause get a fragement) and add them to the round trip test

[2020-04-24 16:04] tqchen opened #5435 "[FFI] Improve Array FFI Type Error Message"
Currently, the PrintType for Array/Map does not try to nest into the content, but the FFI type checking do. This can create confusion when there is an error message. We should improve the TypeName printing to be able to do such kind of nesting(at least one-level of it) for more to be more informative.

[2020-04-24 16:44] zhiics commented on #5427
I think I met some other issues before with the roundtrip parser. If I remember correctly, they don't support functions in prelude

[2020-04-24 20:07] dreamqin68 opened #5440 "import vta: Cannot find config in /3rdparty/vta-hw/config/vta_config.json"
I installed VTA according to the VTA Simulator Installation guide. Then I set the environment. But when I imported vta, there was a bug.

[code]

In fact, I found `vta_config.json` in `/3rdparty/vta-hw/config/`.

I don't know how to fix it.

[2020-04-24 21:50] mbrookhart commented on #3670
@yzhliu I've hit a couple of issue that would be completely solved by this change :). Any chance you've made progress? If not, would you be offended if I gave it a shot over the next few weeks?

[2020-04-24 21:57] hcho3 commented on #4953
@leandron @areusch @tqchen I've put up RC1 for the upcoming XGBoost 1.1.0 release. Feel free to try it:
[code]

The unit test should not crash.

[2020-04-24 22:22] yzhliu commented on #3670
@mbrookhart not at all, please feel free to proceed :)

[2020-04-25 06:45] lixiaoquan commented on #5440
vta-hw is a submodule, you may need 'git submodule init' and 'git submodule update'

[2020-04-25 09:18] HK017 opened #5443 "How to implement a demo of TVM C++ object-detection?"
hi all developer， how to transform tvm::run_time::NDArray data to c++ data so that I can process the data better，for example，
For yolov3 (Darknet version) TVM C + + code, how to handle the output of get_output?

If you see the problem, please help me to solve it, I will be very grateful！！！
Thanks again

[2020-04-25 09:42] FrozenGene commented on #5443
Suggest asking this question on the discuss forum: https://discuss.tvm.ai/

[2020-04-25 09:42] #5443 closed

[2020-04-25 13:02] HK017 commented on #5443
Because no one replied to me, I came here for help on the discuss forum: https://discuss.tvm.ai/

[2020-04-25 16:47] woniuasd commented on #5133
@siju-samuel You mean i can use embedded instead of  aten::index_put_ ？

[2020-04-25 18:39] antinucleon commented on #5427
Before the parser is fixed, in case someone needs a parser in a hurry, here is my emergency use parser:

[code]

[2020-04-26 04:26] #5440 closed

[2020-04-26 04:26] tqchen commented on #5440
Please try the suggested step, pleas also feel free to followup on the https://discuss.tvm.ai/

[2020-04-27 00:03] #4953 closed

[2020-04-27 00:04] tqchen commented on #4953
Thanks @hcho3 @areusch @leandron @trivialfis for resolving this problem.

[2020-04-27 03:01] MeioJane opened #5446 "[NMS] nms operation cost too mush time"
Hi: I create a network using relay.build. Now I need to add the nms(relya.vision.non_max_suppression) after the network, and then get a new network, But I find only the nms operation cost about 30ms time. It is too strange to cost so much time. I want to know if there is any wrong with nms using or add the nms layer. There are part code as follows:
[code]

[2020-04-27 03:18] siju-samuel commented on #5133
@woniuasd Can you share me the complete script or model where i can simulate this `aten::index_put_` operator? Im not sure how to invoke this op.

[2020-04-27 06:41] murdockhou opened #5448 "TypeError:'NoneType' object is not callable"
I have update the tvm to the latest(2020/04/27). After this, I run the code that convert pyorch model to tvm. But get error in the first like this:
[code]
I'm confused with that, I run these command line below to update tvm:
[code]

[2020-04-27 06:52] schliffen opened #5449 "Windows OSError: "exception: access violation reading 0x0000000000000000""
We are trying to convert a mxnet model into tvm (v7) in windows using the following part of code:
loading model (works fine):
 `      mx_sym, args, auxs = mx.model.load_checkpoint(root + ap.mdlrt, 0)`
       ` mod, params = relay.frontend.from_mxnet(mx_sym, shape_dict, dtype, arg_params=args, aux_params=auxs)
`
build tvm model (fails):

`    with relay.build_config(opt_level=3):`
        `graph, m

[2020-04-27 06:55] masahi commented on #5133
@siju-samuel @woniuasd Since relay doesn't support in-place op, you cannot use that python idiom.

[2020-04-27 20:37] tqchen commented on #5449
Please open a new trouble shooting thread on https://discuss.tvm.ai/

[2020-04-27 20:37] #5449 closed

[2020-04-27 20:38] tqchen commented on #5448
It is likely that you will also need to update your cython module, by typing `make cython3`, for future questions, please open a new trouble shooting thread on https://discuss.tvm.ai/

[2020-04-27 20:38] #5448 closed

[2020-04-27 20:40] tqchen opened #5455 "[CI] [TEST] test_conv2d_int8_intrinsics"
In the past week I attempted to upgrade the docker image CPU to bionic(ubuntu 18.04), during the time, a new unittest error occurs(note that the master CI was fine) in the int8 intrinsic test,

it would be great it we can look into it. To reproduce, use the docker image `tvmai/ci-cpu:v0.62-t0`

http://ci.tvm.ai:8080/job/temp-ci-docker-staging/job/ci-stage/30/execution/node/131/log/

[2020-04-27 20:40] tqchen commented on #5455
cc @anijain2305

[2020-04-27 20:42] tqchen commented on #5455
[code]

The error has things to do with constant int bound rebound to a different result.

[2020-04-27 20:43] tqchen commented on #5455
also cc @yongfeng-nv @hzfan since both of you have touched/reviewed the const int bound recently

[2020-04-27 20:58] masahi commented on #5455
I also saw this error when running `test_op_level2.py` locally. It happens randomly.

[2020-04-28 00:53] tqchen opened #5458 "[CI] Fix gluoncv tutorial under mxnet-mkl"
This is an error message generated by the mxnet-mkl image in the current master. The error was due to the operator `amp_multicast` is not implmented in the mxnet frontend(likely due to a mkl specialization).

http://ci.tvm.ai:8080/job/temp-ci-docker-staging/job/ci-stage2/6/execution/node/309/log/?consoleFull

Please see if we are interested in quick a fix, since we have docker upgrades depending o

[2020-04-28 00:53] tqchen commented on #5458
cc @icemelon9 @shoubhik @anijain2305

[2020-04-28 04:28] yongfeng-nv commented on #5455
Ran the test in tvmai/ci-cpu:v0.62-t0, but couldn't reproduce the failure.
I cloned and built TVM by myself, as I I didn't find TVM in the docker image.

[2020-04-28 07:25] dreamqin68 commented on #5440
Thank you for your help.

Do you mean that Windows users who use Github tools need to 'git submodule init' and 'git submodule update'? In fact, I have already used `--recursive` in Linux environment.  I followed the installation guide. But there was still wrong.

[2020-04-28 08:55] zoufangyu1987 opened #5462 "centernet_dlav0 pytorch to tvm is wrong,who can help me?"
File "/data_1/TVM/TVM/tvm/python/tvm/_ffi/_ctypes/packed_func.py", line 219, in __call__
    raise get_last_ffi_error()

tvm._ffi.base.TVMError: Traceback (most recent call last):
  [bt] (8) /data_1/TVM/TVM/tvm/build/libtvm.so(TVMFuncCall+0x65) [0x7f95b6864615]
  [bt] (7) /data_1/TVM/TVM/tvm/build/libtvm.so(+0xa0dfb4) [0x7f95b5f25fb4]
  [bt] (6) /data_1/TVM/TVM/tvm/build/libtvm.so(tvm::IRModule::F

[2020-04-28 09:02] Pcheng-L opened #5463 "wda"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2020-04-28 09:21] westion717 opened #5464 "[OpenCL] `directly 4 8 bit int in integer` causes compiling error"
Hi, I find if use `directly 4 8 bit int in integer ` as following link, it will cause compiling error (when the member of int is referred as .s0, .s1 later) in my opencl compiler provided by my vendor. I am wondering whether the paradigm is legal in the specific opencl spec version or it should be fixed to use `char4` instead.

https://github.com/apache/incubator-tvm/blob/952def53da51e6cf17c5dbf50

[2020-04-28 14:38] tqchen commented on #5462
Please open a new troubleshooting thread on https://discuss.tvm.ai/

[2020-04-28 14:38] #5462 closed

[2020-04-28 14:38] #5463 closed

[2020-04-28 14:39] tqchen commented on #5440
do a `git submodule update --init`

[2020-04-28 17:20] dreamqin68 commented on #5440
Thank you for your help.

I did `git submodule update --init`, then I rebuilt, `cmake ..`:
[code]
[code]
I don't know what happened.

[2020-04-28 18:53] dreamqin68 commented on #5440
Thank you very much! It works.

[2020-04-29 14:17] tqchen commented on #5464
cc @kazum @masahi

[2020-04-29 14:18] tqchen commented on #5446
Thanks for start the discussion, Please open a new discussion thread on https://discuss.tvm.ai/

[2020-04-29 17:46] tqchen commented on #4102
NOTE: the Mainline CI now uses tensorflow 2.0

[2020-04-30 03:39] tobegit3hub commented on #4464
The PR has been merged and we will close this issue.

[2020-04-30 03:39] #4464 closed

[2020-04-30 03:47] srkreddy1238 commented on #4102
Good to see CI moving to 2.0.

On this context.

- I have upgraded TF test cases to use pure 2.0 API (with out  compat v1,  tf.graph, tf.session ...etc.).
- Trying to simplify the frontend with support to use model signatures unlike explicit arguments of shapes and out info (In the interest of SavedModel & TF Serving signatures being officially used export formats for TF).

Most of this work is co

[2020-04-30 06:54] #5446 closed

[2020-04-30 18:05] kazum commented on #5464
It looks wrong and should be fixed, I think.

[2020-04-30 19:14] tqchen opened #5490 "[REFACTOR] std::string -> String Migration in IR nodes"
This is an issue to track the progress of std::string -> String migration in IR Nodes.

- [x] Merge initial example https://github.com/apache/incubator-tvm/pull/5438
- [x] Convert relay nodes
- [x] Convert base types
- [x] Convert tir nodes.

[2020-04-30 19:15] tqchen commented on #5490
cc @icemelon9 @jroesch @zhiics please chime in if you would like to take a stab

[2020-04-30 19:15] #5396 closed

[2020-04-30 19:16] tqchen commented on #5396
All the docs change are  landed by now

[2020-04-30 19:16] #5221 closed

[2020-04-30 19:17] tqchen commented on #5221
close as we have a printable version, see also https://github.com/apache/incubator-tvm/pull/5483

[2020-04-30 19:17] #5047 closed

[2020-05-02 06:13] srkreddy1238 commented on #5404
Doesn't reproduce on latest version. closing.

[2020-05-02 06:13] #5404 closed

[2020-05-02 19:47] anijain2305 commented on #5455
I was able to reproduce the failure. I have not been able to solve it yet. The only pointer that I have till now is that if I disable tensorize (this test uses tensorize to use Intel VNNI), the test progresses.

I am not familiar with const int bound. I will try to get familiar with it and see how tensorize impacts const int bounds.

[2020-05-04 05:37] tqchen commented on #5373
ping @kevinthesun

[2020-05-04 23:38] anijain2305 commented on #5455
Dug little bit deeper, but still not able to root cause.

I think the const int bounds are good.

https://github.com/apache/incubator-tvm/blob/7e88030a804357421b766d7309f9085ca2b83378/src/arith/const_int_bound.cc#L149-L161

The problem here is that two different PrimExpr have same PrimExprNode* at L150
[code]

And therefore, Expr(63) whose ConstIntBound is set correctly to [63, 63] is used to comp

[2020-05-05 17:35] giuseros opened #5514 "RPC error for large arrays"
Hi all,
I am running TVM from an Ubuntu 16.04 machine and I have the tracker running on the same machine.

An aarch64 machine is connected to the tracker.

When running from the master branch, the following Python code:
[code]

Produces the following error on the server: `free(): invalid next size (normal)`

On the host side, I get this error instead:
[code]
I investigated the issue and found out

[2020-05-05 19:10] tqchen commented on #5514
Looking into the diff you point out, perhaps the most relevant one would be the change on the ring buffer

[2020-05-05 19:29] tqchen commented on #5514
Please see if https://github.com/apache/incubator-tvm/pull/5516 fixes the problem

[2020-05-06 02:19] tqchen commented on #5490
NOTE, as in the intiial example, we will need to update the converter(via _update_from_std_str) to keep backward compatibility of the nodes

[2020-05-06 07:47] ANSHUMAN87 commented on #5490
I like to contribute for this movement. May be we can share the workload, if @zhiics  already working on it. Please let me know.Thanks!

[2020-05-06 09:16] giuseros commented on #5514
Hi @tqchen ,
Thanks for the prompt fix! It is now working fine (it was also nice to dig a bit around the RPC part of the codebase).

I will close the issue now.

[2020-05-06 09:16] #5514 closed

[2020-05-06 11:24] Robeast commented on #5060
Hi @liangfu is there any update on your current implementation efforts? We are really looking forward to it!!

[2020-05-06 15:37] zhiics commented on #5490
@ANSHUMAN87 Welcome to contribute. I've busy with other things recently. Thanks.

[2020-05-06 16:09] mikeseven opened #5529 "[RELAY][PASS] Handle Op Attribute for LRN in ConvertLayout"
While converting layout from TensorFlow, from NHWC to NCHW, I noticed LRN axis was not converted from using axis=3 to axis=1.

Looking at the code, I don't find where ConvertLayout pass would handle attributes of operators. So, potentially, I wonder if this bug on LRN may be even more widespread to other nodes?

[2020-05-06 16:14] mikeseven opened #5531 "[BUG] topi/python/x86/conv2d_avx_* is incomplete, won't run"
In conv2d_avx_1x1.py and conv2d_avx_common.py, some methods are missing declaration of oc_bn. When code is called, python crashes.

I believe oc_bn should be at least 1 and that seems to work but author should fix to the proper value...

[2020-05-08 00:12] liangfu commented on #5060
Hi @Robeast, thanks for your attention. I only have a draft version of the new allocator for now, I'd like to send a PR soon this week.

[2020-05-08 08:57] wangzhao123456 opened #5543 "Can not find stride and padding information in graph after relay.build function"
Hello, I am a beginner of TVM and I run the tutorials on official website to learn TVM.
I noticed that before  relay.build function there has stride and padding informations stored in the model. After relay.build function, conducting some kinds of  graph-level optimizations, there has no stride and padding information in the optimized graph. I wonder where could I find the stride and padding infor

[2020-05-08 18:38] tqchen commented on #5543
Please open a new thread on https://discuss.tvm.ai/

[2020-05-08 18:38] #5543 closed

[2020-05-08 22:42] kevinthesun commented on #5215
@FrozenGene In https://github.com/apache/incubator-tvm/pull/5200 we discussed another source of autotvm inaccurate measurement due to empty input tensor. Do we have a timeline to fix that?

[2020-05-09 01:24] FrozenGene commented on #5215
I hope we could bring this with Auto Scheduler this month if every thing goes well.

[2020-05-09 07:36] angusHeZZ opened #5550 "RuntimeError: Unsupported operator: global_pool_avg"
the call stack is :

[code]

[2020-05-09 15:40] tqchen commented on #5550
cc @icemelon9 @kevinthesun seems to be a typo in strategy refactor? `global_pool_avg`

[2020-05-10 18:19] anijain2305 commented on #5455
@tqchen I verified locally. This is resolved now. You can close this.

[2020-05-10 18:31] anijain2305 commented on #5458
@icemelon9 Do you know about this operator?

[2020-05-10 19:52] #5388 closed

[2020-05-10 19:52] tqchen commented on #5388
closed thanks to @samwyi !

[2020-05-10 19:52] #5455 closed

[2020-05-11 00:10] #2425 closed

[2020-05-11 00:10] tqchen commented on #2425
The new webgpu and wasm support are now landed in the mainline

[2020-05-11 00:11] #4262 closed

[2020-05-11 00:11] tqchen commented on #4262
close for now due to inactive status, feel fre to open another thread on https://discuss.tvm.ai/

[2020-05-11 00:12] tqchen commented on #3879
close for now due to inactive status, i believe there were a few recent improvement by @wpan11nv that might be relevant, feel free to open new forum thread or issue if there are more things to be addressed

[2020-05-11 00:13] #1996 closed

[2020-05-11 00:13] tqchen commented on #1996
The te AD has been landed in the mainline

[2020-05-11 00:13] #2355 closed

[2020-05-11 00:14] tqchen commented on #2355
close for now due to inactive status, we will open new thread to track problems if there are more followups

[2020-05-11 00:14] #4821 closed

[2020-05-11 00:15] tqchen commented on #4821
close for now due to inactive status, feel free to open new threads on https://discuss.tvm.ai/

[2020-05-11 00:16] tqchen commented on #4542
close for now due to inactive status, and there are related  #3859 feel free to open new thread on the discuss forum

[2020-05-11 00:16] #4542 closed

[2020-05-11 00:17] tqchen commented on #3731
close for now due to inactive status

[2020-05-11 00:17] #3731 closed

[2020-05-11 00:18] tqchen commented on #5172
ping @kevinthesun

[2020-05-11 00:56] kice commented on #3879
If you take a look here
[code]

We need to convert to `uint16` and then cast to `uint8`. No direct conversion from `fp16` to `uint8`.

ref: https://docs.nvidia.com/cuda/cuda-math-api/group__CUDA__MATH____HALF__MISC.html#group__CUDA__MATH____HALF__MISC

[2020-05-11 01:54] kazum commented on #5464
@westion717 Can you share your program to reproduce this problem?

[2020-05-11 02:09] tqchen commented on #3879
cc @wpan11nv @Hzfengsy

[2020-05-11 12:51] roastduck opened #5559 "[TIR] Bugs in HoistIfThenElse"
`HoistIfThenElse` is a pass currently not enabled in TVM. I tried to enable it in #5553, but there are too many bugs in this pass. Let's fix them first.

**BUG 1:** `HoistIfThenElse` transforms

[code]

into

[code]

Possible cause:

https://github.com/apache/incubator-tvm/blob/0e877521f454e239f5c44bb88e557801444d81a5/src/tir/pass/hoist_if_then_else.cc#L295

It only checks whether `if_stmt` has a

[2020-05-11 14:13] tristan-arm opened #5560 "[DOCKER] Update vulkan installation to later versions of driver"
Broken external link (https://sdk.lunarg.com/sdk/download/1.0.65.0/linux/vulkansdk-linux-x86_64-1.0.65.0.run) results in https://github.com/apache/incubator-tvm/blob/master/docker/install/ubuntu_install_vulkan.sh failing to execute successfully.

Note: the 'run' script downloads successfully, however the result is a file containing the text 'Not Found'

[2020-05-11 15:06] tqchen commented on #5560
We should update the script to points to new version of vulkan drivers then

[2020-05-11 15:54] angusHeZZ opened #5564 "why the data and the weight for the nn.dense are not correct"
Use implementation for op not is_dyn:  nn.dense
inputs size:  2
data input shape:  [1, 512]
weight input shape:  [1000, 512]
local_pyfunc:  <function dense_strategy at 0x7f80e8fc7598>
WARNING:strategy:dense is not optimized for this platform.
local_pyfunc:  <function wrap_compute_dense.<locals>._compute_dense at 0x7f80ba7d0048>

[2020-05-11 16:03] angusHeZZ commented on #5564
data input is NHWC,  How is the weight input setted to NHWC?

[2020-05-11 16:31] tqchen commented on #5564
Please open a new thread on https://discuss.tvm.ai/

[2020-05-11 16:31] #5564 closed

[2020-05-11 17:15] tqchen commented on #5560
https://github.com/apache/incubator-tvm/pull/5566

[2020-05-11 20:50] wpan11nv commented on #3879
Looks like there is a choice on rounding mode. If rounding mode is not important, then a fix in CUDA code  is fine.

[2020-05-11 21:24] videetparekh opened #5569 "[Web][WASM] Running Inference with WASM"
I'm attempting to build a Node.js application using MobileNet model compiled to WASM, and attempting inference using TVM's web runtime. The model I'm using a Mobilenetv2 trained on Imagenet.
The code snippet to generate the `.wasm` is below.

[code]
I'm attempting to now load the model and do inference using the tutorials here:
https://github.com/apache/incubator-tvm/blob/master/web/tests/node/tes

[2020-05-11 22:28] #5560 closed

[2020-05-11 22:32] tqchen commented on #5569
Thanks for asking the question. https://discuss.tvm.ai/ The community uses the discuss forum for discussing related issues, please open a new thread there.

See https://github.com/tqchen/tvm-webgpu-example for a related example for your usecase

[2020-05-11 22:32] #5569 closed

[2020-05-11 23:20] icemelon9 commented on #5458
It's weird that I cannot reproduce the error in my local environment with mxnet-mkl 1.6.0 and gluoncv.

[2020-05-11 23:37] tqchen commented on #5458
@icemelon9 could it due to that mxnet optionally enabled amp on the platform that support these ops?

[2020-05-12 02:28] angusHeZZ commented on #5564
T can not open a new thread on https://discuss.tvm.ai/

[2020-05-12 02:29] angusHeZZ commented on #5564
Your new topics appear here.

By default, topics are considered new and will show a new indicator if they were created in the last 2 days.

Visit your preferences to change this.
You have no new topics. Browse all categories or view latest topics

[2020-05-12 04:23] Dounm opened #5573 "Will TVM be compiled as a standalone C++ library with all its functionality?"
Hi, all

I’m integrating TVM into a C++ deep learning framework, which is similar to the work of torch-tvm.

And during the work, I found that the whole functionality of TVM relies on not only the C++ code, but also the python code, which cannot be compiled into the libtvm.so.

For example, the relay op nn.relu was registered at the src/relay/op/nn/nn.cc without the TOpPattern attribute, but when

[2020-05-12 04:35] tqchen commented on #5573
This is a good topic, the community uses https://discuss.tvm.ai/ for related development discussions,  please open a new thread there

[2020-05-12 04:35] #5573 closed

[2020-05-12 06:02] icemelon9 commented on #5458
@tqchen Yes, that might be possible. I'll check it on a GPU instance.

[2020-05-12 11:27] Xuxue1 opened #5575 "[PYTORCH] pytorch frontend expand op bug"
In pytorch frontend testcase  modify input_shape and expand shape

[code]

Traceback (most recent call last):

  File "tests/python/frontend/pytorch/test_forward.py", line 2109, in <module>
    test_forward_expand()

  File "tests/python/frontend/pytorch/test_forward.py", line 912, in test_forward_expand
    verify_model(Expand1().float().eval(), input_data=input_data)

  File "tests/python/fronte

[2020-05-12 17:10] tqchen commented on #3879
I think we can pick a rounding mode and add a support. Most rounding mode from fp -> int are round down

[2020-05-12 18:41] areusch opened #5580 "[ONNX] check-fail with max_pool2d operator"
Steps to reproduce (decompress and place [cifar10.onnx.gz](https://github.com/apache/incubator-tvm/files/4617785/cifar10.onnx.gz) in same dir):
[code]

Traceback:
[code]

[2020-05-12 18:46] #5580 closed

[2020-05-13 00:10] masahi commented on #5575
Fixed by #5576

[2020-05-13 00:10] #5575 closed

[2020-05-13 02:50] kice commented on #3879
Although rounding is important, but here is a legitimate type conversion but no compiler support or native support on our target device.

I will suggest we implement type converter or add a cast function to TVM Type class. And then we can add global flags to control type conversion, like which rounding mode we should use as default.
But the drawback is we need to write codes for all target device

[2020-05-14 09:36] huanleo opened #5594 "segment fault，when convert mxnet-model to tvm-model"
when i convert mxnet-model to tvm-model, resnest-50 is ok, but when convert lager network(resnest101  or  resnest-200) will get "segment fault"——whether llvm or cuda mode

I suspect there's not enough space tvm allocated，but i don't know where to change

[2020-05-14 14:49] GalMoore opened #5597 "make fails during installation on ARM error: ‘amdgcn_s_barrier’ is not a member of ‘llvm::Intrinsic’"
Hey,

I'm trying to install TVM (with LLVM) on new EulerOS aarch64 server.
'Cmake' works fine:

`gal@localhost build]$ cmake ..
-- Build with RPC support...
-- Build with Graph runtime support...
-- Build VTA runtime with target: sim
-- Use llvm-config=/home/gal/llvm/clang+llvm-10.0.0-aarch64-linux-gnu/bin/llvm-config
/home/gal/llvm/clang+llvm-10.0.0-aarch64-linux-gnu/bin/llvm-config: /lib64/libti

[2020-05-14 15:03] tqchen commented on #5597
Okease ioeb a new thead on https://discuss.tvm.ai/, This is likely due to your version of LLVM idd not install with these target.

[2020-05-14 15:04] #5597 closed

[2020-05-14 15:05] tqchen commented on #5594
Please open a new thread on the discuss forum for trouble shooting https://discuss.tvm.ai/. This is likely due to the stack overflow, setting stack limit might help. The community is also migrating to a non-recursive visitors and the problems will be solved after the migration is completed

[2020-05-14 15:05] #5594 closed

[2020-05-15 07:48] junrushao1994 commented on #5594
A straightforward explanation is stack overflow. Please try to increase stack size. And for questions like that please open a new thread on the discuss forum :-)

[2020-05-15 07:52] liaopeiyuan opened #5602 "[Torch] tvm's interaction with pytorch_geometric"
I'm trying to compile a graph neural network model written with PyTorch and an extension called [torch_geometric](https://github.com/rusty1s/pytorch_geometric), but it seems that tvm has limited support for external libraries it uses such as torch-scatter, torch-sparse, torch-cluster and torch-spline-conv. I'm very new to tvm so I'm not 100% sure if I'm using it correctly, but here's the code to t

[2020-05-15 21:42] tqchen commented on #5559
@kevinthesun it would be great if you can followup

[2020-05-15 21:43] tqchen commented on #5602
Thank you for bringing up the topic, he community uses https://discuss.tvm.ai/ for technical discussions, please open a new thread there.

[2020-05-15 21:43] #5602 closed

[2020-05-15 21:48] tqchen commented on #5133
@masahi shall we close the PR and open new ones since that all the lists are checked off?

[2020-05-15 21:50] #5133 closed

[2020-05-15 21:51] masahi commented on #5133
@megjoshi All ops you requested have been implemented (big thanks to @siju-samuel ), please try again

[2020-05-15 23:54] kevinthesun commented on #5559
@roastduck Thank you for bringing these up. This pass was tested only for limited number of cuda conv2d workloads, and not production ready yet. It would be great if you can help fix or improve this pass.

[2020-05-16 00:59] comaniac opened #5605 "[BUG] Pattern Reeriter Seg Fault"
I was trying the new merged pattern language. Specifically, my goal is to create a function for the matched pattern and rewrite the pattern with a function call, which is very similar to fusion.

However, the following example encounters segmentation fault. I breifly located the position and found that it was in dominator analysis. Specifically in `LeastCommonAncestor`. It crashes when visiting an

[2020-05-16 02:38] masahi commented on #4435
#4667, #5321, #5362, #5585 added tutorials for quantization.

[2020-05-16 02:38] #4435 closed

[2020-05-16 03:51] junrushao1994 commented on #4435
@masahi Hey the last link should be #5595, not #5585

[2020-05-16 04:01] masahi commented on #4435
@junrushao1994 Thanks, fixed.

[2020-05-16 04:30] kaimast opened #5608 "Failed to compile Rust examples on SGX"
When trying to compile the `test_nn` crate I get the following error.

[code]

The crate runs and compiles fine without SGX. i am not entirely sure where the tvm_moule_startup symbol is defined. Is there some other library I have to link to?

Thanks,
Kai

PS: Also the `apps/sgx` example seems to be broken.

[2020-05-16 18:11] tqchen commented on #5608
cc @nhynes

[2020-05-18 02:55] Observer007 opened #5610 "time cost gap between autotvm and running."
I tune a 1x1 conv with shape 28*128*56*56 and got a time cost gap between autotvm tuning log and actual running. The gap is about 0.01-0.05 ms and total execute time is 0.7-0.8 ms.
I used autoTVM tuning and got up to 3800 gflops, but during running with best parameters, I just got 3600 gflops.
The target and other parameters are same during tuning and running. My machine is intel clx-8280.
I used

[2020-05-18 04:48] mbrookhart commented on #5605
Thanks, @comaniac! Just saw this, I'll reproduce and produce a fix first thing tomorrow.

[2020-05-18 07:50] Sophia0806 commented on #4490
Hi have you resolved this problem? I meet the same one.

[2020-05-18 16:41] comaniac commented on #5605
The PR fixed this issue. Thanks!

[2020-05-18 16:41] #5605 closed

[2020-05-18 22:49] nhynes commented on #5608
https://github.com/apache/incubator-tvm/blob/master/apps/sgx/build.rs#L68-L73

[2020-05-18 23:22] kaimast commented on #5608
Thanks. Not sure why but that fixes it!

[2020-05-18 23:22] #5608 closed

[2020-05-19 08:33] ShivaKothuru commented on #5133
aten::reflection_pad2d, aten::elu_
please add these

[2020-05-19 08:35] ShivaKothuru commented on #5133
@masahi Please add
aten::reflection_pad2d, aten::elu_

[2020-05-19 08:44] poincarelee commented on #4371
why closed this issue? I don't think you really solve it.
I did not find bilinear_sample_nchw in any folder so I replaced it with the resize module, however, when I run the main.py, a new error occurs: ValueError: Compute is already registered in autoTVM task conv2d_NCHWc.x86.
I am not sure whether this is a little problem, while closing the issue easily is really a stupid choice.

[2020-05-19 14:12] tqchen commented on #5610
Please open a new thread on https://discuss.tvm.ai/

[2020-05-19 14:12] #5610 closed

[2020-05-19 14:42] siju-samuel commented on #5133
@ShivaKothuru #5624

[2020-05-20 02:04] lichun-wang opened #5629 "[Question] mxnet resnest, after using tvm is too slow"
Hi,
I downloaded resnest from gluon and converted it to mxnet model(json + params). Then I used tvm auto tune to make the model faster on 1080ti. But after tuning , the model became too slow . mxnet model take 15ms to process a image, but after tuning, it will take 380ms, I don't find the reason.

[2020-05-20 03:11] kevinthesun commented on #5629
Use debugger runtime to see which layer is the bottleneck?

[2020-05-20 04:18] tqchen commented on #5629
Please open a new thread on https://discuss.tvm.ai/

[2020-05-20 04:18] #5629 closed

[2020-05-20 06:24] samwyi opened #5632 "[RUNTIME][VULKAN] Seg fault in WorkspacePool's destructor"
**Problem:** When VulkanThreadEntry is destructed, its member "streams_" is destructed before  "pool" (members are destructed in reverse order of their appearance in class definition).  pool's destructor calls FreeDataSpace(), which calls StreamSync(), which references "streams_", which is already destructed. This caused seg fault.

**Reproduce**:
Run apps/benchmark/gpu_imagenet_bench.py using Vul

[2020-05-20 14:58] tqchen commented on #5632
The proposal sounds good, feel free to send a PR.

[2020-05-21 06:51] lichun-wang commented on #5629
i print the time of the resnest, I found the cost of first layer( just conv + bn + relu ) was bigger than resnet, resnet just cost 0.75ms,  resnest cost 37ms, the only difference of is channel resnest is 64,resnet is 32 .  I open a issus on disscuss.tvm.ai :https://discuss.tvm.ai/t/question-after-auto-tune-the-speed-of-resnest101-and-resnet101-have-big-difference/6748

[2020-05-21 19:23] #5632 closed

[2020-05-21 23:02] comaniac opened #5647 "[PatternLang] pattern.partition doesn't include the last optional op."
In the unit test of pattern language, the pattern `conv2d -> optional(bias_add) -> relu` can match `conv2d -> bias_add -> relu`, and the partitioned function does include 3 ops.

On the other hand, I tried to modify the pattern to `conv2d -> bias_add -> optional(relu)` and found the following issue:

1. Graph: `conv2d->bias_add`.

    * Match: True
    * Partition: Correct.

2. Graph: `conv2d->bia

[2020-05-21 23:15] mbrookhart commented on #5647
Ooh, fascinating, where did I screw up? :) Will debug, thanks!

[2020-05-21 23:37] mbrookhart commented on #5647
Okay, I see the problem. I'm doing a post order traversal of the expression to find subgraphs to partition. That means it comes to the bias-add first, that matches the pattern, so it marks that subgraph as part of a fusion. Then it gets to the relu, ALSO matches it to the pattern, but can't fuse the nodes  because they're already in another subgraph.

I either need to allow growing fusion groups,

[2020-05-21 23:53] comaniac commented on #5647
I encountered the similar issue before when we were implementing `PartitionGraph` pass in BYOC. We then had a group merging mechanism as you mentioned.

I think I didn't quite get the point of using preorder to solve this problem. Is this because the first/input nodes of a pattern are impossible to be optional?

[2020-05-21 23:54] mbrookhart commented on #5647
It's because the matching is pre-order: you start with the final node of the pattern, check to see if that matches the expresssion. If it does, you compare the pattern's inputs to the expr's inputs recursively.

[2020-05-22 00:04] comaniac commented on #5647
Ah I see. Yeah then I totally agree that using pre-order traversal would be cleaner.

[2020-05-22 15:04] tqchen opened #5650 "[REFACTOR] PassContext.fallback_device -> PassConfig.config"
https://github.com/apache/incubator-tvm/pull/5631 Introduces a generic config mechanism to store the pass configuration options. Given that fallback_device is a pas related config, We should probably also migrate PassContext->fallback_device to a special config. e.g.` relay.fallback_device_type` with IntImmNode as its node type

[2020-05-22 15:04] tqchen commented on #5650
cc @zhiics

[2020-05-22 15:20] tqchen commented on #5373
ping @kevinthesun

[2020-05-22 15:23] zhiics commented on #5650
@tqchen Thanks for reminding. I will take a stab next week.

[2020-05-22 21:02] comaniac commented on #5647
Thanks @mbrookhart for the quick fix :)

[2020-05-22 21:02] #5647 closed

[2020-05-23 01:05] comaniac opened #5662 "[PatternLang] Lift constant nodes to partitioned function arguments"
In #5656, we found that `pattern.partition` will not lift the bind constant nodes to the partitioned function arguments. This results in argument mismatch and could be a potential problem when applying to op fusion.

Here is an illustrative example:
[code]

Output:
[code]

We can see that the function generated by the op fusion keeps the original arguments and refers to the constant node in the fu

[2020-05-23 06:11] mbrookhart commented on #5662
Hey Cody. This might just be a design misalignment. When writing the partition function, I explicitly dropped the constants from the inputs because I assumed we'd want to propagate constants through the body of the function.

If that was an incorrect assumption, this change:
[code]

Gives me this result:
[code]

Where the only difference I see is the naming of function variables and the fact that

[2020-05-23 06:48] comaniac commented on #5662
Thanks for the advise!
This major difference affects how the constant values will be used in the runtime, and I consider Relay functions should be used as same as Relay ops. For example, we may have

[code]

If we treat `nn.conv2d` as a Relay function, we can see that even one if its arguments is a constant, we still maintain its function signature and pass the constant node via the call. Since th

[2020-05-24 16:55] tqchen opened #5667 "[TEST][FLAKY] tests/python/contrib/test_cudnn.py"
https://ci.tvm.ai/blue/organizations/jenkins/tvm/detail/PR-5665/1/pipeline
https://ci.tvm.ai/blue/organizations/jenkins/tvm/detail/PR-5663/2/pipeline

[2020-05-24 16:55] tqchen commented on #5667
cc @wpan11nv

[2020-05-25 01:42] junrushao1994 commented on #4371
The original issue was closed because it had been fixed. Discussion thread: https://discuss.tvm.ai/t/cannot-import-name-bilinear-sample-nchw/2510/30?u=junrushao1994.

@poincarelee if it is still a problem for you, this would be super helpful for the community if you ask on the discussion forum. Thanks!

[2020-05-25 08:55] alicera opened #5669 "build env"
can I use the TVM to debug on ubuntu , then deploy on IOS and Android ?

[2020-05-25 17:26] tqchen commented on #5669
Please open a new question thread on https://discuss.tvm.ai/

[2020-05-25 17:26] #5669 closed

[2020-05-25 17:27] tqchen commented on #5550
ping @icemelon9

[2020-05-26 12:21] lichun-wang opened #5673 "mxnet group conv not support very well by tvm"
hi，
I have a problem,  I use tvm to speed up resnet101(mxnet) on 1080ti， I try to use group conv, but after I set group =2, the speed became slower too much.  Then I try to speed up resnext101(mxnet). ResNext also became more slower .  So , do  tvm not support  group conv (mxnet ) ?

[2020-05-26 17:46] comaniac commented on #5662
#5663 merged. Thanks @mbrookhart :)

[2020-05-26 17:46] #5662 closed

[2020-05-27 02:00] lichun-wang commented on #5673
if I set group=32, the speed is faster then group = 2.  if group = 1 ,  after tvm  , process one image cost  6ms, if group = 2 , cost about 200ms,  group = 3 cost 17ms.  When group =2 , the speed is the  slowest.

[2020-05-27 04:25] tobegit3hub opened #5678 "The method scale_shift_nchw in C should add shift from the values of channel"
It is a little confused for me when reading the source code of https://github.com/apache/incubator-tvm/blob/master/topi/include/topi/nn/mapping.h#L51 . The `scale_shift_nchw` and `scale_shift_nhwc` should apply scale and shift from the values of channel. There is another implementation in Python topi which seems to be right in https://github.com/apache/incubator-tvm/blob/master/topi/python/topi/nn

[2020-05-27 14:33] exitstop commented on #3905
Hey. Did you manage to solve this problem?
`nullptr Loader of opencl(module.loadbinary_opencl) is not presented.`

[2020-05-27 14:37] leandron opened #5682 "[TFLite] test_forward_mediapipe_hand_landmark() test fails due to non-supported 'DEQUANTIZE' operator in TFLite frontend"
With the[ latest update ](https://github.com/google/mediapipe/commits/master/mediapipe/models/hand_landmark.tflite)to the `hand_landmark.tflite` network (publicly announced [here](https://twitter.com/googleai/status/1265319835283537921?s=21)), it is causing `test_forward_mediapipe_hand_landmark()` test to fail with `tvm.error.OpNotImplemented: The following operators are not supported in frontend

[2020-05-27 15:59] #5678 closed

[2020-05-27 17:54] siju-samuel commented on #5682
#5394 will solve this problem

[2020-05-28 05:42] mei-ye opened #5686 "[vulkan] Assertion in tir/transforms/lower_thread_allreduce.cc", line 157 TVMError: Check failed: v:"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2020-05-28 06:25] lichun-wang commented on #5673
sorry,  group=32,  cost17ms,  not group=3

[2020-05-28 09:03] poincarelee commented on #4371
Thanks a lot, this problem was solved indeed. I retried and it worked. Thanks again.

At 2020-05-25 09:43:09, "Junru Shao" <notifications@github.com> wrote:

The original issue was closed because it had been fixed. Discussion thread: https://discuss.tvm.ai/t/cannot-import-name-bilinear-sample-nchw/2510/30?u=junrushao1994.

@poincarelee if it is still a problem for you, this would be super helpful

[2020-05-28 19:19] tqchen commented on #5673
Thanks for reporting the problem, let us move to the discuss thread https://discuss.tvm.ai/t/mxnet-group-conv-not-support-very-well-by-tvm/6811/3

[2020-05-28 19:19] #5673 closed

[2020-05-28 23:42] zhiics commented on #5650
I realize we may also want to remove `relay.build_config` and directly use PassContext to keep it consistent to tir, but it may invoke a lot of changes. @tqchen thoughts?

[2020-05-28 23:58] tqchen commented on #5650
I agree we should do that as well

[2020-05-29 02:44] tqchen commented on #5559
@roastduck would you be interested in taking over the pass?

[2020-05-29 03:38] roastduck commented on #5559
I met some difficulties improving this pass. For now, I'm not going to take over it.

This pass massively utilizes low level semantics such as `PostOrderVisit` (instead of `StmtExprMutator`) and raw pointers to `Object`, and it relies on manually tracking the updates to these pointers, which is hard to understand. Maybe we should develop an improved `StmtExprMutator`, which can track the updates t

[2020-05-29 03:51] zhiics commented on #5650
One potential problem is that it may break downstream deployment.

[2020-05-29 04:02] tqchen commented on #5650
We could mark build_config as deprecation, and remove that API in the next release cycle. In the meanwhile, we should replace all of the current usages.

[2020-05-29 04:03] tqchen commented on #5559
We could certainly rewrite the pass completely, instad of the PostOrderVisit

[2020-05-29 04:05] zhiics commented on #5650
Sounds like a good plan.

[2020-05-29 04:59] majiang31312 commented on #5686
I have encounted the same problem.
It's triggered by 7b74a8672e1e40e7541c0007d8628586c62277e8, as vulkan use some cuda codes in topi.  Forcing the sched_warp_softmax  (in topi/python/topi/cuda/softmax.py) to return false could bypass the problem.
The root cause of the problem seems that MakeAllreduce mistakenly assume the fourth arg should be a var node, as the var node might be replaced by a cons

[2020-05-29 15:13] tqchen commented on #5686
Thanks @majiang31312  please let me know if you would like to attempt a fix. cc @kazum @wpan11nv @yongfeng-nv @roastduck

[2020-05-29 19:39] kevinthesun commented on #4845
We will have general support for TensorFlow control flow and tensor array, which allows parsing for TensorFlow object detection models

[2020-05-29 21:24] tqchen commented on #5038
@FrozenGene can we follow up on this?

[2020-05-30 07:48] FrozenGene commented on #5038
Hi, @tqchen I will start to work on it from next Monday! Sorry for working on it lately because of other things.

[2020-05-30 08:43] FrozenGene commented on #5215
@kevinthesun FYI. We are rebasing our code based on the laster master. After completing it, this fix will be brought in.

[2020-05-30 13:25] power0341 commented on #5133
can we have this guy 'aten::floor_divide' as well? it's required by shufflenetV2

[2020-05-30 13:56] siju-samuel commented on #5133
@power0341
Please apply the below patch and let me know.

[code]

[2020-05-30 14:13] power0341 commented on #5133
@siju-samuel
thanks a lot, it works, good job

[2020-05-30 15:02] majiang31312 commented on #5686
I'm new to TVM, but I will have a try :)
Thanks! @tqchen

[2020-05-31 05:10] abergeron opened #5704 "tests/python/integration/test_ewise.py::test_add fail on macOS with Metal"
To reproduce, build on macOS X with metal enabled (I use min-version=10.11, if that makes a difference), install the python modules and run the test with pytest.

The error seems to complain about the "float44" dtype which I think doesn't exist.

[code]

[2020-06-01 03:41] zhanghaohit commented on #4118
any progress update about this feature? Thanks

[2020-06-01 03:57] zhanghaohit commented on #4118
I'm still curious what will happen if we have conv2d(5, 3, 224, 224)? We'll use conv2d(8, 3, 224, 224)? Do we need to do some padding to use the kernel conv2d(8, 3, 224, 224)?

Thanks @kevinthesun for the clarification.

[2020-06-01 04:33] breandan opened #5707 "Publish TVM4J artifact"
It would be great if there were a single multi-platform JAR for TVM4J, including Mac OS X, Windows and *nix x64 builds, available on a publicly accessible package repository to avoid [manual compilation](https://github.com/apache/incubator-tvm/tree/master/jvm#installation).

The [Z3-TurnKey](https://github.com/tudo-aqua/z3-turnkey#how) project is a pretty good example of how this works. If you ins

[2020-06-01 16:12] tqchen commented on #5707
Please open a new discuss thread on https://discuss.tvm.ai/ for the related topic. Due to the ASF policy, we only release source release officially.

But we could faciliate community members and to publish binary releases as individuals and thirdparties.

[2020-06-01 16:12] #5707 closed

[2020-06-01 16:12] #5650 closed

[2020-06-01 16:17] breandan commented on #5707
Tried to resubmit this issue on the forums, but received the following message:

![image](https://user-images.githubusercontent.com/175716/83429283-d1ccbd80-a401-11ea-9916-aa26f0ca7cba.png)

[2020-06-01 16:19] tqchen commented on #5707
seems to be a false alarm of the discours, just approved, Thanks @breandan

[2020-06-01 16:21] breandan commented on #5707
Thanks @tqchen, continuing the discussion [here](https://discuss.tvm.ai/t/publish-tvm4j-artifact/6861).

[2020-06-01 17:10] aGiant opened #5709 "tvm/apps/bundle_deploy/build --> make failed"
- Ubuntu 18.04 LTS
- LLVM installed according to https://apt.llvm.org/
- tvm was successfully compiled and worked well using python 3.7 with MXNet.
- tvm 0.7 dev

But for this example under tvm/apps/bundle_deploy/build, dynamic and static libs, described in offical web site, did not work at all. Tried many times but always the same error:

In file included from runtime.c:61:0:
../../src/runtime/cr

[2020-06-01 20:17] tqchen commented on #5709
cc @liangfu

[2020-06-01 22:02] mole10 opened #5710 "[BUG][CODEGEN][OPENCL]Invalid data type in generated OpenCL kernel"
Hello all,

I believe there is a bug within OpenCL codegen which results in a typo in data type identifiers. I am recently observing undefined type identifiers such as 'float44' and 'float88' in generated OpenCL codes. Here is an example.
<pre><code>
vstore4(((float44)(((__global float*)placeholder)[_1.s0],((__global float*)placeholder)[_1.s1],((__global float*)placeholder)[_1.s2],((__global float

[2020-06-01 22:22] tqchen commented on #5710
cc @kazum @kevinthesun @vinx13  please help confirm the issue

[2020-06-02 05:57] kevinthesun commented on #4118
@zhanghaohit This feature is one part of dynamic codegen. We are working some significant backend features and will update this later.

[2020-06-02 16:12] mbrookhart commented on #5667
I can reproduce this consistently on my desktop system with Cuda 10.0 and Cudnn 7.6.5.

[2020-06-02 16:22] tqchen commented on #5709
#5713

[2020-06-02 16:22] #5709 closed

[2020-06-03 08:52] vinx13 commented on #5710
I think printing `t.lanes()` here is unnecessary, a patch is welcomed

[2020-06-03 15:24] cloudhan commented on #4118
@kevinthesun Any timeframe?

Off topic, I want to mention TensorRT supports dynamic shape from 7.0. To provide better performance, it supports multiple optimization profiles for different shape range. Say your input is 1d ranged from 1 to 1024. You can create profiles whatever shape you specified, overlap or non-overlap, e.g.
[code]
Users can manually select profile to use. In terms of https://sam

[2020-06-03 17:29] abergeron commented on #5710
This seems similar to what I've seen in #5704.

[2020-06-03 18:32] kevinthesun commented on #4118
@cloudhan Thanks for your info. @icemelon9 Do we have any work related to dynamic axis range?

In terms of codegen, indeed efficiency(and also how to limit the number of buckets but loss less performance) is one of the difficult part. We are working on improving some fundamental infra to see how we can achieve a practical workflow in tvm. Currently it is still in researching stage.

[2020-06-03 21:24] #5704 closed

[2020-06-03 21:24] #5710 closed

[2020-06-03 21:24] tqchen commented on #5710
fixed by  #5722 thanks to @abergeron

[2020-06-04 10:05] t-vi commented on #5686
This sounds similar to me to the symptoms discussed in the recent posts in #5600.
So quite likely, making the cuda softmax schedule specific to cuda would fix this. Of course, implementing shuffle reductions where they exist is the alternative...
I'm not entirely sure how to improve the error message (because the root cause is that warp shuffle reductions are not supported on the target).

[2020-06-04 13:44] akosik-anyvision opened #5728 "Mismatched new / delete [ ] in Relay VM"
There seem to be mismatched new / delete[] statements in the following lines:

https://github.com/apache/incubator-tvm/blob/a64208910b22b60da5eb312d3a63cffb6e11f747/src/runtime/vm/vm.cc#L264
https://github.com/apache/incubator-tvm/blob/a64208910b22b60da5eb312d3a63cffb6e11f747/src/runtime/vm/vm.cc#L267
https://github.com/apache/incubator-tvm/blob/a64208910b22b60da5eb312d3a63cffb6e11f747/src/runtime

[2020-06-04 16:07] majiang31312 commented on #5686
The fix seems quite simple, but I'm not sure whether it's complete.
Please take a look at the Discussion section. Thanks! @tqchen @wpan11nv

Problem:
when num_thread = 1 (that's the case for vulkan as CreateTarget in target.cc set thread_warp_size to 1),
'
ko, ki = s[B].split(B.op.reduce_axis[0], factor=num_thread)
s[B].bind(ki, te.thread_axis("threadIdx.x"))
'
will triger "TVMError: Check failed:

[2020-06-04 16:12] majiang31312 commented on #5686
@t-vi Thanks for the advice.
In my opinion this is not a backend problem, we can triger it in the cuda backend (my test case above is using cuda).

[2020-06-04 17:19] t-vi commented on #5686
@mei-ye Cool! Yes. I ran into trouble when the target info erroneously specified 1 thread per warp for ROCm, which would look similar but not for the same reason. I'm glad you found the complementing fix.

[2020-06-04 21:38] tqchen commented on #5728
cc @jroesch @zhiics

[2020-06-04 21:53] zhiics commented on #5728
They are allocated when the instruction is constructed and deleted when it is deconstructed

https://github.com/apache/incubator-tvm/blob/34c95a89eae13043aa3a269ad7d27d28837ffb56/src/runtime/vm/vm.cc#L100-L103

https://github.com/apache/incubator-tvm/blob/34c95a89eae13043aa3a269ad7d27d28837ffb56/src/runtime/vm/vm.cc#L66-L71

I don't think there is a mismatch.

[2020-06-04 22:07] akosik-anyvision commented on #5728
Sorry, the title is backwards. The issue is that `new[]` is used to allocate objects that are deleted with `delete`.

[2020-06-04 22:47] zhiics commented on #5728
ah, I see. We should have used `delete[]`. You are welcome to send a PR. Thanks.

[2020-06-05 10:35] aarongreig opened #5734 "LLVM 10 compatibility"
Hello

I tried to build TVM linking against LLVM 10.0 and I got the following error:

[code]

My CMake invocation was just `cmake -DCMAKE_BUILD_TYPE=Release -GNinja`. I used a custom `cmake.config` with `USE_LLVM` pointing to the llvm-config.

[2020-06-05 13:43] akosik-anyvision commented on #5728
Thanks for confirming. I would've done that directly, but I was waiting on approval from my company.

[2020-06-05 15:39] #5728 closed

[2020-06-05 20:35] aGiant commented on #5709
@tqchen
it worked on Intel CPU Ubuntu 18.04 LTS
Now, we tried for arm cpu under armbian got error:

compiled with tvm.target.arm_cpu('pynq') in build_model.py

gcc -shared -Wall -std=c99 -O2 -fPIC -I/home/pi/incubator-tvm/include -I/home/pi/incubator-tvm/3rdparty/dmlc-core/include -I/home/pi/incubator-tvm/3rdparty/dlpack/include -fvisibility=hidden -o build/bundle_c.so  bundle.c runtime.c build/mo

[2020-06-05 21:13] tqchen commented on #5709
Please open a new thread on https://discuss.tvm.ai/ to followup

[2020-06-05 22:05] alex96295 commented on #2518
@yongwww  @zhiics sorry how do you 'map ops to _undef'? I have the very same issue

[2020-06-06 00:44] srkreddy1238 commented on #2518
One option would be mapping them to Identity in frontend.

[2020-06-06 06:34] alex96295 commented on #2518
@srkreddy1238 thank you for your answer
I am pretty a beginner here, especially with TensorFlow, could you please tell me a possible - practical - way of doing what you said? In terms of code, where and how modify it

[2020-06-06 16:28] tqchen commented on #5682
#5394

[2020-06-06 16:28] #5682 closed

[2020-06-06 16:46] tqchen opened #5741 "Upgrade AutoTensorCore as to a TIR Pass"
AutoTensorCore is a pattern detection util that detects the matrix multiplication pattern, and rewrites the compute to make use of the tensorcore intrinsics. https://github.com/apache/incubator-tvm/pull/4234

However, because part of the pattern analysis depends on the tensor expression information and couples with the analysis, it does not qualify as a pass.

Under the unified IR, a transformatio

[2020-06-06 16:47] tqchen commented on #5741
cc @minminsun @Hzfengsy @merrymercy @jcf94, @yangjunpro

[2020-06-06 18:05] were commented on #5741
#5498 Kind of related to this one.
The current TensorCore code generation is tricky --- since we have no fundamental wrap reduction support in TVM, generating TensorCore code inevitably messes up the thread bind. No threadIdxwas bound to a reduce axis before, but we inevitably need a threadIdx for that reduce axis.

Is it possible to somehow represent the warp wise reduce in the schedule, and then

[2020-06-07 03:09] jcf94 commented on #5741
Thanks! We've also noticed the problem that current implementation of AutoTensorCore is not pretty enough.
We're working on enabling TVM to auto generate schedule in the project Ansor with @merrymercy now, and we also had some discussions with @Hzfengsy during the development.
Auto TensorCore codegen support is an important feature for us, we'll continue to work on it and try to figure out a bette

[2020-06-07 07:01] junrushao1994 opened #5744 "[Test][CPPTEST] File is not tested `./tests/cpp/relay_transform_sequential.cc`"
Occasionally I found that this file is not tested in our master's CI pipeline, and the primary reason is that the test launcher `./tests/scripts/task_cpp_unittest.sh` only finds executables ending with "_test"...I manually ran the file but it fails, because some global packed functions are renamed...

CC: @zhiics if you are interested in reviving this unit test :-)

[2020-06-07 16:27] tqchen commented on #5741
Thanks @jcf94 . I agree that making a better approach for tensorization is important and we should continue to push that direction.

My specific issue is about what to do with the pass as in its current state now. Specifically, there are a few options:

- A0: Temporarily remove AutoTensorCore, assuming it has limited usecase and most of the current TensorCore goes through the tensorcore intrinsics

[2020-06-07 17:00] zhiics commented on #5744
ahh, sorry about that. It worked locally before. Recently we changed schedule registration. That's probably why it fails.

[2020-06-07 17:08] zhiics commented on #5744
#5745

[2020-06-07 17:11] junrushao1994 commented on #5744
Closed via #5745

[2020-06-07 17:11] #5744 closed

[2020-06-07 17:41] minminsun commented on #5741
Thanks @tqchen.

Can't agree more!
Just as @jcf94 said this pass is required for Ansor to generate code for TensorCore, so we prefer not to remove it for now. We will try to figure out the possiblilty of matmul pattern matching of on TIR instead of TE.

[2020-06-07 23:26] tqchen commented on #5734
Please open a new thread on https://discuss.tvm.ai/ for discussing trouble shooting issues. Noteably, the current CI uses llvm-10 from the llvm's apt snapshot and the project seems to built fine https://github.com/apache/incubator-tvm/blob/master/tests/scripts/task_config_build_cpu.sh#L32

[2020-06-07 23:26] #5734 closed

[2020-06-08 11:30] wrongtest opened #5747 "Confusing error message when mod.export_library() with non-standard library suffix"
When dump compiled library with ```lib.export_library(filename)```,  if the filename does not end with ".so" or ".dylib", there will lead to compiler error like
[code]
Since we almost always expect to export shared library (except tar), can this restrict be removed or more friendly noted? The current error is somewhat confusing.

[2020-06-08 16:42] tqchen commented on #5747
Good suggestion, let us enhance linux compile to detect the sufix of the file. Let us followup on https://discuss.tvm.ai/ given that it is more around development discussion

[2020-06-08 16:42] #5747 closed

[2020-06-08 20:41] icemelon9 commented on #5550
@angusHeZZ Could you provide a script that can reproduce the error? I see that `global_pool_avg` is in the unit test, and there's no problem.

[2020-06-09 15:00] FrozenGene commented on #5038
Draft pr: https://github.com/apache/incubator-tvm/pull/5753 There is still many things to do but will update it next in this pr.

[2020-06-10 14:30] AlexeyAB opened #5765 "Feature-request: State-of-art Yolo v4 Detector"
Feature-request: State-of-art **Yolo v4** Detector

* paper: https://arxiv.org/abs/2004.10934
* source code: https://github.com/AlexeyAB/darknet
* cfg-file Yolov4: https://github.com/AlexeyAB/darknet/blob/master/cfg/yolov4.cfg
* weights-file Yolov4: https://drive.google.com/open?id=1cewMfusmPjYWbrnuJRuKhPMwRe_b9PaT

----

Required features for YOLOv4:

1. Mish-activation:
[code]

2. Eliminate grid

[2020-06-11 03:27] leonwanghui opened #5771 "How to test wasm32 target on Rust runtime binding"
Hi @tqchen @jroesch , I was working for embedding TVM Rust runtime for WASM target (see [here](https://github.com/leonwanghui/ms-backend-wasm/tree/master/wasm-backend-tvm) for the details), but came across some problems when building test-wasm32 crate.

## Error elaboration
Firstly I need to clarify that I can build and run the [test-wasm32](https://github.com/apache/incubator-tvm/tree/master/rust

[2020-06-11 04:02] tqchen commented on #5771
Thanks @leonwanghui for bringing up the problem, the community uses https://discuss.tvm.ai/ for general discussions, please bring a new thread there https://discuss.tvm.ai/

[2020-06-11 04:02] #5771 closed

[2020-06-11 09:08] leandron opened #5774 "[TFLite] KeyError: 'conv2d/Kernel' on test_forward_mediapipe_hand_landmark()"
After #5682, we're now seeing the error below on `test_forward_mediapipe_hand_landmark`. I think that it is not seen on upstream CI because of file caching. As I ran this test, `master` points at `c7274fd3b0f693fc6214a450e13d5e99026337ae`.

This is the error:

[code]

[2020-06-11 13:01] SJTU-yys commented on #5133
It seems that aten::norm is not  supported.
 @siju-samuel  could you please add this layer?

[2020-06-11 20:36] tqchen commented on #5686
https://github.com/apache/incubator-tvm/pull/5726

[2020-06-11 21:07] t-vi commented on #5686
I do think there is a bug still to be fixed even if it is not currently triggered by the schedules, i.e.
@majiang31312 's analysis looks very plausible and I can reproduce the assertion with the demo.

[2020-06-11 21:17] tqchen commented on #5686
@majiang31312 can you please followup with another pr :)?

[2020-06-12 02:27] majiang31312 commented on #5686
Hi @tqchen, do you mean #5726?
  I'm strongly agree with @t-vi  that this problem(5686) should be fixed separately. This problem is not related to any specific backend. In my opinion, it's just a misunderstanding in MakeAllreduce that impose a overstrict assert.

[2020-06-12 02:31] zhanghaohit commented on #4118
Hi @kevinthesun . For this question, do we plan to do padding or resize? Thanks

[2020-06-12 02:42] tqchen commented on #5686
@majiang31312 that sounds good, can you send a PR with your proposed fix?

[2020-06-12 04:58] majiang31312 commented on #5686
Thanks, I have create a PR for the fix.

[2020-06-12 05:48] kevinthesun commented on #4118
@zhanghaohit It's still under investigation for different options, but it's more likely a static shape will fall into a bucket and calling corresponding kernel.

[2020-06-12 05:56] kevinthesun commented on #4969
This feature is now supported in TVM.

[2020-06-12 06:02] #4969 closed

[2020-06-12 15:22] #5686 closed

[2020-06-12 15:44] #5384 closed

[2020-06-12 15:45] tqchen commented on #5529
cc @yzhliu @anijain2305 can you look into the issue?

[2020-06-12 15:47] tqchen commented on #3879
Let us try an impl that support round down behavior, which is typical in float to int conversion

[2020-06-12 17:19] yzhliu commented on #5529
The attributes are handled in registered python code, e.g., https://github.com/apache/incubator-tvm/blob/master/topi/python/topi/x86/conv2d_alter_op.py
I don't see such registry for LRN, did I miss anything @anijain2305 ?

[2020-06-12 17:45] anijain2305 commented on #5529
Yes, we dont have a registry for LRN. Not sure this is a bug. This seems like a missing feature. ConvertLayout will put LayoutTransforms before and after LRN.

[2020-06-12 17:54] tqchen commented on #5529
I see, if the result is generated corrected, then it should be missing feature case.

[2020-06-12 18:54] tqchen opened #5792 "[RUNTIME][IR] String operator+"
We have a few places in the code base that uses operator+ of String. Right now:

-  we either convert to std string https://github.com/apache/incubator-tvm/blob/master/src/tir/ir/expr.cc#L86
- Or added some overload that converts to std::string https://github.com/apache/incubator-tvm/blob/master/include/tvm/runtime/container.h#L1391

Given that operator+ is quite common, and we can have a better s

[2020-06-12 18:54] tqchen commented on #5792
cc @zhiics @wweic @junrushao1994

[2020-06-12 20:21] junrushao1994 commented on #5792
I agree, not sure about the performance impact though

[2020-06-12 20:32] tqchen commented on #5792
k, it is mainly about the usability, than the perf aspect

[2020-06-13 15:28] KnowingNothing opened #5798 "Can't build large number of operations"
This is an extreme case in which tvm will give Segmentation Fault.
[code]
But for some reason, I want tvm to be able to handle such a case, is there any fix to make it?

[2020-06-13 22:42] zhiics commented on #5792
Besides this, I think we should make the comparison operators free functions instead of member functions because they are not communicative.

[2020-06-14 01:06] tqchen commented on #5798
This is due to the fact of us storinhg the tensor expression recursively. There is an ongoing effort to move more of the parts into TIR, where the sequential structure won't be stored recursively. The problem could be addressed by the migration of more compute infra to TIR, however that will take a few months effort to land. Feel free to open a new discussion thread on https://discuss.tvm.ai/

[2020-06-14 01:06] #5798 closed

[2020-06-14 01:07] tqchen commented on #5792
@zhiics would you be interested in taking a stab?

[2020-06-14 01:25] #5490 closed

[2020-06-14 04:57] chaozju opened #5804 "Dump module to llvm ir"
Is there a way to dump the Module to llvm ir into a `.s` file which can be later built to standalone executable by `clang` ?

where I am:

- dump an output from python following toturial
[code]

- assembling and linking with llvm backend
[code]
- result
[code]

[2020-06-14 17:18] tqchen commented on #5318
NOTE: The notnull support for composite types has a bit more complications, we will stop working on it for now and then revisit once w ehave a solution.

[2020-06-14 19:57] tqchen commented on #5774
cc @FrozenGene

[2020-06-14 21:33] tqchen commented on #5804
Move discussion to https://discuss.tvm.ai/t/dump-module-to-llvm-ir/6966/8

[2020-06-14 21:33] #5804 closed

[2020-06-15 00:18] junrushao1994 commented on #5798
@KnowingNothing you can work around it by “ulimit -s SOME-LARGE-NUMBER” to make stack size larger

[2020-06-15 01:02] KnowingNothing commented on #5798
I see. Thanks for your response.

[2020-06-15 04:06] moderato opened #5809 "[RFC][AutoTVM] Non-square ConfigSpace"
Hello! I find that non-square ConfigSpace might be critical to a project I'm working on, while currently this is not supported. By `non-square` I mean the scheduling of one axis has a constraint that is also relying on another axis. For example, if we have a sample code like:
[code]
and if we want to limit the inner block size to be less or equal to 64, then we have a constraint
[code]
We cannot s

[2020-06-15 05:03] FrozenGene commented on #5774
This model has been changed rapidly. Previous `hand_landmark.tflite` model is just FP32 model simply. Like this:
![image](https://user-images.githubusercontent.com/7287321/84619405-889f6200-af07-11ea-8be9-235e58be14db.png)
However, current master `hand_landmark.tflite`'s weight is been quantized into FP16. Then it insert `dequantize` to FP32 execution, which is benefit for TFLite GPU execution. li

[2020-06-15 05:46] yjiangling opened #5810 "NotImplementedError: The following operators are not implemented: {'GatherTree'}"
Hi,
    When I compile a tensorflow pb model with TVM, it gives the following error message:

NotImplementedError: The following operators are not implemented: {'GatherTree'}

Is it caused by dunamic RNN network? The op "TensorArray" is not support yet? How can I solve it? As the examples given in the projects are image processing models, most of them are CNN networks. But when we deal with speech

[2020-06-15 08:46] leandron commented on #5774
I think this is a good workaround.

I'd suggest to use a tag on that repository (rather than a commit hash), to make the URL a bit more meaningful: https://github.com/google/mediapipe/blob/v0.7.4/mediapipe/models/hand_landmark.tflite

[2020-06-15 08:50] FrozenGene commented on #5774
I think it is nice. @leandron  Could you help to make a pull request to lock it in the tag you mention?

[2020-06-15 08:52] leandron commented on #5774
Sure, will do.

[2020-06-15 12:02] u99127 commented on #5774
Do we also need another issue to indicate that we don't support this kind of quantized networks and tag it as help needed ?

[2020-06-15 14:54] FrozenGene commented on #5774
I agree.

[2020-06-15 14:54] #5774 closed

[2020-06-15 15:46] zhiics commented on #5792
#5770 5806

[2020-06-15 17:34] tqchen commented on #5559
Given that this pass is not product ready and we have not yet migrated this pass to the transform. Perhaps we can remove the pass for now, and then add it back once we have a better impl. Leaving the thread open for a week to see how would everyone think

[2020-06-16 11:06] FrozenGene opened #5823 "[TFLite] TFLite FP16 Post Quantization Support"
TensorFlow Lite now supports converting weights to 16-bit floating point values during model conversion from TensorFlow to TensorFlow Lite's flat buffer format. This results in a 2x reduction in model size.

However, this will insert new `dequantize` for ops (like `conv2d`) used for `dequantize` fp16 weight to fp32.  Like this:
![image](https://user-images.githubusercontent.com/7287321/84767184-92

[2020-06-16 11:08] FrozenGene commented on #5774
@u99127 Open the issue: https://github.com/apache/incubator-tvm/issues/5823

[2020-06-16 19:45] tqchen opened #5827 "[TEST][FLAKY][RUST] rust threading::tests::test_parallel_launch"
http://ci.tvm.ai:8080/job/tvm/job/master/1243/execution/node/169/log/

[2020-06-16 19:45] tqchen commented on #5827
cc @jroesch

[2020-06-17 18:45] alexwong opened #5835 "Darknet library support out of date/inconsistent with master?"
I recently tried to run the darknet tutorial using a shared library built from the master branch (https://github.com/pjreddie/darknet) rather than the one hosted here https://github.com/dmlc/web-data/tree/master/darknet/lib which seems to be https://github.com/siju-samuel/darknet/tree/tvm. I am hitting an error in the darknet->relay converter.

[code]

Using either the .so hosted by TVM or buildin

[2020-06-17 21:02] #5792 closed

[2020-06-17 21:03] tqchen commented on #5792
Closing thanks to @zhiics !

[2020-06-18 09:11] siju-samuel commented on #5835
@alexwong This error is because the `network` and `layer` datastructure is not same. So the parsing have issues.
Im currently updating the whole code based on 'https://github.com/AlexeyAB/darknet' to support yolov4 and this can support previous versions as well.
Since we have to rely on their library (`.so`  we have to  build locally ) to parse darknet cfg and weight, maintenance is high for this

[2020-06-18 10:13] zhanghaohit opened #5840 "[RFC][VTA] Support for Cloud Devices (OpenCL-compatible)"
# Motivation

Cloud devices are more powerful than Edge devices, which provides higher computation capabilities for deep learning workloads. For example, for the VTA core, with Cloud devices, we have more resources to support larger GEMM cores (e.g., 32\*32 or even 64\*64) and device buffers, thus making it possible to boost the performance to great extent. Therefore, it is worthwhile to provide a

[2020-06-18 10:53] agdkyang opened #5841 "When I use Julia to call tvm at arm server, find the error : CommandLine Error: Option 'aarch64-enable-ccmp' registered more than once! LLVM ERROR: inconsistency in registered CommandLine options"
When I use Julia to call tvm at arm server, find the error:
: CommandLine Error: Option 'aarch64-enable-ccmp' registered more than once! LLVM ERROR: inconsistency in registered CommandLine options

[2020-06-18 16:16] tqchen commented on #5841
Please open a new trouble shooting thread on https://discuss.tvm.ai/

[2020-06-18 16:16] #5841 closed

[2020-06-18 18:00] alexwong commented on #5835
That makes sense. Do you have a rough idea of when you think you'll finish the update? Thanks!

[2020-06-23 00:35] jroesch opened #5889 "[Rust][Runtime] Address issues with unsafe code in existing Rust graph runtime."
@robo-corg and @binarybana brought up lots of small issues with the existing graph runtime code as noted here: https://github.com/apache/incubator-tvm/pull/5830.

cc @areusch @ehsanmok

[2020-06-23 02:29] windclarion opened #5891 "call has no attribute name"
python/tvm/target/intrin.py      function   _rule_float_suffix          Line 86  "name = op.name"      when  op is tir.Call, it has no attribute name, so   op.name  will get the attribute name, and  LOG(FATAL)

[2020-06-23 04:19] tqchen commented on #5891
Thanks @windclarion https://github.com/apache/incubator-tvm/pull/5895 should fix it

[2020-06-23 05:46] siju-samuel commented on #5835
@alexwong You can use my private branch https://github.com/siju-samuel/tvm/tree/darknet_yolo
This can parse the latest darknet networks(including yolov4) with tvm. Since this branch cannot support some of exisitng networks, im not raising pr to tvm. If you find any issues please let me know.

[2020-06-23 06:15] #5891 closed

[2020-06-24 00:22] BelfortXP opened #5908 "[Micro] Some problems about riscv_spike micro device"
Anybody knows how to use of the riscv-spike?  The strange thing is that the spike shows "get unsupported command" when execute the test_alloc() in tvm\tests\python\unittest\test_runtime_micro.py.

The definition of config is like this:
![image](https://user-images.githubusercontent.com/39782968/85480629-f0823680-b5f2-11ea-80a5-6aafa7f2cb7a.png)
if the image cannot be loaded, you can see this: DEV_

[2020-06-24 00:23] BelfortXP commented on #5908
![image](https://user-images.githubusercontent.com/39782968/85481184-ed3b7a80-b5f3-11ea-9489-c08ec2a2279e.png)

[2020-06-24 00:25] BelfortXP commented on #5908
These are the information in spike, you can see this if the image cannot be loaded.

 spike --rbb-port=9824 -m0x10000000:0x20000 rot13-64
Listening for remote bitbang connection on port 9824.
warning: tohost and fromhost symbols not in ELF; can't communicate with target
remote_bitbang got unsupported command 'e'
remote_bitbang got unsupported command 's'
remote_bitbang got unsupported command 'e'

[2020-06-24 00:28] tqchen commented on #5908
Thanks @BelfortXP  Please open a new trouble shooting thread on https://discuss.tvm.ai/

[2020-06-24 00:28] #5908 closed

[2020-06-25 06:18] masahi commented on #5809
This sounds like you need polyhedral model?

[2020-06-25 19:16] comaniac opened #5928 "[PatternLang] The pattern failed to match some subgraphs in a model"
Pointed out by @trevor-m, the following case that uses a `batch_norm -> get(0)` to match MobileNet V2, but some subgraphs were failed to be matched and partitioned.

[code]

Here is a log snippet:

[code]

As can be seen, `batch_norm` `%20` and `%28` were successfully matched and partitioned, but `%25` wasn't. It seems to me that they are all the same, tho.

@mbrookhart could you help take a look?

[2020-06-25 20:04] mbrookhart commented on #5928
I'll try to reproduce, thanks for filing the issue!

[2020-06-25 20:49] mbrookhart commented on #5928
This isn't making much sense to me, it looks like a few of the batch_norm call nodes are duplicated, i.e., exactly the same object. The partition pass is refusing to fuse the same op into two different graphs, cause that would be bad.
But I don't see an obvious duplication in the relay IR. Digging more.

[2020-06-25 20:59] comaniac commented on #5928
Yeah it should not be a case for MobileNet model. MobileNet model should be a single dataflow pipeline without branches and residual connections.

[2020-06-25 21:00] mbrookhart commented on #5928
Found it:

The original model has this:
[code]
and later:
[code]

[2020-06-25 21:05] mbrookhart commented on #5928
It should probably just be:
[code]
To get the behavior you want. So...Relay level CSE? I'm going to double check the partition rejection logic, I'm not sure that 100% works right now, I think I might be partitioning one of those when I shouldn't.

[2020-06-25 21:11] comaniac commented on #5928
Ah apparently I was wrong. MobileNet has residual connections...I see. So `%20` and `%33` are partitioned to a function. In this case "another `%20`" is rejected to be partitioned again with `%21`. I need to think about the proper semantic for this case. Having Relay level CSE would definitely solve this issue but I'm not sure if it's overkill.

[2020-06-25 21:22] comaniac commented on #5928
I guess an ideal solution would be trying to figure out those two matches are duplicated and reuse the first partitioned function for the second match? But this would look like an ad hoc solution targeting to Relay graph with duplicated nodes...

[2020-06-25 21:53] mbrookhart commented on #5928
Yes. I think the right solution is CSE, but that is at lot of work.

[2020-06-25 23:43] mbrookhart commented on #5928
Those two PRs plus this change to the script fixes the issue for me:

[code]

[2020-06-26 07:51] moderato commented on #5809
@masahi Yes, exactly, but it looks like TVM doesn't support it, does it?

I'm thinking of a temporary workaround by adding appending all the constraints and axis dependencies as well as a function to verify a config's validity to the ConfigEntity class. Every time when a tuner's `next_batch` function is called, it calls the validation function and only takes those configs that are valid. I think d

[2020-06-26 14:15] #5928 closed

[2020-06-26 14:32] tqchen commented on #5809
In this case it is not polyhedral model, but just some constraints on the config space.

[2020-06-26 17:49] comaniac commented on #5809
Polyhedral analysis would be an approach to generate the constraints in this scenario. On the other hand, the runtime validation sounds not a general solution, because it might affect the tuner. For example, throwing invalid configs in `next_batch` would result in no measurement results for those records, which means the learning based tuner won't get the feedback of invalid configs. I would prefe

[2020-06-26 23:57] yzhliu opened #5939 "[VOTE] Release Apache TVM (incubating) v0.6.1.rc0"
Dear TVM community,

This is a call for vote to release Apache TVM (incubating) version 0.6.1. This is a maintenance release incorporating important bug fixes. All users of Apache TVM (incubating) 0.6.0 are advised to upgrade.

Link to release notes:
    https://github.com/apache/incubator-tvm/releases/tag/v0.6.1.rc0

Link to release candidate:
    https://dist.apache.org/repos/dist/dev/incubator/

[2020-06-27 00:17] tqchen commented on #5939
+1 (binding),  I checked

- Signatures and hashes good
- DISCLAIMER, LICENSE, NOTICE
- Signatures and hashes
- No unexpected binary files
- Code compiles

TQ

[2020-06-27 01:16] masahi commented on #5939
+1

[2020-06-27 01:20] tvm-archiver commented on #5939
+1

Thierry

[2020-06-27 01:44] ZihengJiang commented on #5939
+1

[2020-06-27 02:44] junrushao1994 commented on #5939
+1

[2020-06-27 02:57] siju-samuel commented on #5939
+1

[2020-06-27 03:56] jroesch commented on #5939
+1

[2020-06-27 06:10] moderato commented on #5809
@tqchen @comaniac Thanks for the comments! The feedback of the invalid configs is something I didn't think of. Actually this is the representation I came up for non-grid config space. If the config space is too large, and there are too many constraints so that the shape of the space is very irregular, it will cost too much memory to store the whole config space during the runtime. Therefore I'm th

[2020-06-27 15:59] tqchen commented on #5939
One minor thing, we  need to update the notice file to include "copyright 2019 - 2020". Thanks.

[2020-06-27 16:20] tqchen commented on #5559
https://github.com/apache/incubator-tvm/pull/5944 removes this pass for now.

[2020-06-27 20:40] yzhliu commented on #5939
Thanks everyone. I'm going to create another release candidate and close this vote.

[2020-06-27 20:40] #5939 closed

[2020-06-27 20:59] yzhliu opened #5947 "[VOTE] Release Apache TVM (incubating) v0.6.1.rc1"
Dear TVM community,

This is a call for vote to release Apache TVM (incubating) version 0.6.1. This is a maintenance release incorporating important bug fixes. All users of Apache TVM (incubating) 0.6.0 are advised to upgrade.

Link to release notes:
    https://github.com/apache/incubator-tvm/releases/tag/v0.6.1.rc1

Link to release candidate:
    https://dist.apache.org/repos/dist/dev/incubator/

[2020-06-27 21:56] #5559 closed

[2020-06-27 21:57] tqchen commented on #5939
Please vote again on this thread https://github.com/apache/incubator-tvm/issues/5947

[2020-06-27 21:58] tqchen commented on #5947
+1 (binding), I checked

- Signatures and hashes good
- DISCLAIMER, LICENSE
- NOTICE is good
- No unexpected binary files
- Code compiles and runs

TQ

[2020-06-28 00:39] masahi commented on #5947
+1

[2020-06-28 07:19] yzh119 commented on #5130
+1, we me the similar problem, @ZihengJiang  would you mind taking a look at this issue?

[2020-06-29 00:08] abidmalikwaterloo commented on #2469
Dear all,
Do we have a good documentation for TVM? I am interested in learning more about the TVM compiler optimization strategies especially for Scientific Data for HEP, NP, and DL models for these applications. Any feedback or hint where to start in the source code.

[2020-06-29 15:43] #5373 closed

[2020-06-29 18:59] merrymercy commented on #5947
+1

[2020-06-29 18:59] jroesch commented on #5947
+1

[2020-06-29 19:00] tmoreau89 commented on #5947
+1

[2020-06-29 19:02] ZihengJiang commented on #5947
+1

[2020-06-29 19:07] kazum commented on #5947
+1

[2020-06-29 19:14] junrushao1994 commented on #5947
+1

[2020-06-29 19:56] comaniac commented on #5947
+1

[2020-06-29 20:29] tvm-archiver commented on #5947
+1 (binding)

I checked hashes and performed a default build on Ubuntu 20.04 on Windows 2004.

Markus

On Mon, Jun 29, 2020 at 12:57 PM Cody Yu <notifications@github.com> wrote:

[2020-06-30 16:43] oessam opened #5966 "TVMError: Check failed: nargs == args.size() (3 vs. 4) : Expect 3 arguments but get 4"
Can anyone please help with this error.

Traceback (most recent call last):
  File "e:\tvm\tutorials\frontend\from_darknet.py", line 42, in <module>
    from tvm import relay
  File "C:\Users\omara\AppData\Local\Programs\Python\Python36\lib\site-packages\tvm-0.7.dev1-py3.6-win-amd64.egg\tvm\relay\__init__.py", line 29, in <module>
    from . import prelude
  File "C:\Users\omara\AppData\Local\Prog

[2020-06-30 17:07] tqchen commented on #5966
Please open a new thread on https://discuss.tvm.ai/ this is likely due to a recent refactor and you will need to reinstall the python package after the build

[2020-06-30 17:07] #5966 closed

[2020-06-30 19:38] jroesch opened #5968 "[Relay][Parser] Add type checking of all successful parses."
The Relay parser tests should type check all produced fragments of code, currently they just ensure they parse. This causes all kinds of issues as all type information must be identical between the two program fragments even though much of it can be inferred. I found some strange inconsistencies that are hard to diagnose without type checking. The current type checking error reporting requires the

[2020-06-30 19:40] jroesch opened #5969 "[Relay][Parser] Add support for annotating error messages to add negative tests."
The parser should support getting annotated error comments and indexing them so we can use same parsing infrastructure to write negative test cases. This is common in other compilers and will help improve test coverage of TVM.

[2020-06-30 19:44] jroesch commented on #5969
cc @joshpoll @electriclilies

[2020-06-30 19:44] jroesch commented on #5968
cc @joshpoll @electriclilies

[2020-06-30 21:31] jroesch opened #5971 "[Relay][InferType] Standardize the behavior between IRModule::Add and IRModule::IRModule"
Currently you get different behavior if you pass a set of functions to IRModule directly, vs iteratively calling Add. This behavior can be problematic when comparing modules for equality in testing due to varying presence of type information. We should resolve a standard behavior for adding functions to the module.

cc @junrushao1994 @weberlo

[2020-06-30 21:42] yzhliu opened #5972 "[RESULT][VOTE] Release Apache TVM (incubating) v0.6.1.rc1"
Dear TVM community,

I'm glad to announce the results of the vote.

This vote passes with 12 +1 votes (9 binding), no 0 votes, and 0 -1 vote.

+1 votes

* Tianqi Chen (binding)
* Masahiro Masuda (binding)
* Lianmin Zheng (binding)
* Jared Roesch (binding)
* Thierry Moreau (binding)
* Ziheng Jiang (binding)
* Kazutaka Morita
* Junru Shao
* Cody Yu
* Markus Weimer (binding)
* Henry Saputra (binding)

[2020-06-30 21:47] yzhliu commented on #5947
Thanks everyone for voting. The voting result has been sent out.

[2020-06-30 21:47] #5947 closed

[2020-07-01 02:44] hewumars opened #5973 "1d vector dot product"
N = 512
ctx = tvm.context("cpu")
k = te.reduce_axis((0,N),'k')
A0 = te.placeholder((N,),'uint16', name='A0')
A1 = te.placeholder((N,),'uint16', name='A1')

B = te.compute((1,), lambda k: te.sum(A0[k] * A1[k],axis=0), name='B')
a0 = tvm.nd.array(np.ones(512).astype(A0.dtype), ctx)
a1 = tvm.nd.array(np.ones(512).astype(A1.dtype), ctx)
b = tvm.nd.array(np.zeros(1, dtype="int32"), ctx)
func = tvm.buil

[2020-07-01 03:07] #5973 closed

[2020-07-02 07:13] Leslie-Fang opened #5978 "[Frontend][TENSORFLOW] batch_norm() got an unexpected keyword argument 'exponential_avg_factor'"
I am trying to convert a resnet style model into TVM, but I got the error message:
[code]

Refer to this issue https://github.com/apache/incubator-tvm/issues/3428, I have checked my model's bn op. it doesn't set this attr. But since this PR https://github.com/tensorflow/tensorflow/pull/37176, tensorflow should set the default value of this attr.

I have 2 questions:
1. It seems TVM will also check

[2020-07-02 07:41] zhangzhen507 opened #5979 "Quantize DeepLabV3+ problem"
I quantize DeepLabV3+ model from Tensorflow and meet the problem here.

The quantization pass has the following problem.

02-07-2020:01:42:42,719 INFO     [_calibrate.py:99] finding threshold with kl for calibration...
Traceback (most recent call last):
  File "/root/test6_root/zzhen/2020/tvm0620/tutorials/quantize/deeplabv3/quantize_deeplabv3_tf.py", line 330, in <module>
    main()
  File "/root

[2020-07-02 15:16] marcelotrevisani opened #5981 "TVM on conda-forge"
Just to let you know that I added TVM to the ``conda-forge``
So you will be able to install the tvm libs using conda such as:
``conda install -c conda-forge libtvm``
and the python interface using
``conda install -c conda-forge tvm-py``

https://github.com/conda-forge/tvm-py-feedstock
https://github.com/conda-forge/libtvm-feedstock

[2020-07-02 22:47] Leslie-Fang commented on #5978
@FrozenGene Could you help to take a look of this issue:) Thanks

[2020-07-03 01:47] tqchen commented on #5979
Please open a new thread on https://discuss.tvm.ai/

[2020-07-03 01:47] #5979 closed

[2020-07-03 01:47] tqchen commented on #5978
Thanks for reporting the problem, the community uses https://discuss.tvm.ai/ for quick trouble shooting and discussions, please open a new thread there

[2020-07-03 01:47] #5978 closed

[2020-07-03 20:14] marcelotrevisani commented on #5981
Even ``nnvm``
https://github.com/conda-forge/nnvm-feedstock

If any of the maintainers want to maintain those recipes please let me know and I can add

[2020-07-06 02:49] yangjing69 opened #5996 "How to call DNNL under TVM version 0.7"
I'm using tvm version 0.7 and need to call the DNNL library, but tried the following statements and found that none of them are supported .
mod = relay.build_extern(mod, "dnnl")
mod = relay.build_extern_compiler(mod, " dnnl")
mod = relay.transform.AnnotateExternalCompiler("xx")(mod)
How should I replace it?
Looking forward to everyone's help.Thank you!

[2020-07-06 15:20] tqchen commented on #5996
Thanks for asking the question. Please open a new discussion thread on https://discuss.tvm.ai/

[2020-07-06 15:20] #5996 closed

[2020-07-06 21:58] austinmw opened #5998 "Two issues when running Compile ONNX Models tutorial"
I've pulled the docker image `tvmai/demo-gpu` and am trying the tutorial [Compile ONNX Models](https://tvm.apache.org/docs/tutorials/frontend/from_onnx.html?highlight=onnx) using the python3 install inside the container.

The first issue I run into is that the line `from tvm import te` fails to import. The version of tvm inside this container is `'0.6.dev'`, so maybe the tutorial is a bit out of d

[2020-07-06 23:48] austinmw commented on #4839
Hey, looks like the docker hub images are using CUDA 8.0, is there any plan to upgrade?

[2020-07-07 15:36] austinmw commented on #5462
Ran into same issue

[2020-07-07 20:17] tqchen opened #6009 "[TEST][FLAKY] test_arith_solve_linear_inequality.py::test_multi_equal"
https://ci.tvm.ai/blue/organizations/jenkins/tvm/detail/master/1247/pipeline

Seems was due to indeterminsm(possible iteration over a Map etc), perhaps we need to rewrite the assertion by subtraction and then simplify

[2020-07-07 20:17] tqchen commented on #6009
cc @yzhliu

[2020-07-07 21:14] yzhliu commented on #6009
ack

[2020-07-08 06:07] fernchen commented on #6009
I meet the same problem: https://ci.tvm.ai/blue/organizations/jenkins/tvm/detail/PR-6000/4/pipeline/38
Then I test this case many times, and find that this error does not always happen, it happens reandomly.

[2020-07-08 07:44] ZihengJiang opened #6015 "[DSL/TE] Scalar support for `te.extern`"
We have scalar support in `te.compute` now. But for `te.extern`, tvm will raise error for scalar input. It would be great that we can have consistent behavior.

Sample code:
[code]

[2020-07-08 09:55] cam145 commented on #5393
'NonMaxSuppressionV3' has been added the tensorflow frontend.

[2020-07-08 16:39] junrushao1994 commented on #6009
should be good to close @tqchen

[2020-07-08 17:21] zhiics commented on #6009
close by #6014

[2020-07-08 17:21] #6009 closed

[2020-07-08 20:34] trevor-m opened #6019 "32-bit arm-linux-android compilation for OpenCL broken after PR #4657 ([CodeGen] Generate blob use LLVM directly)"
I have the script below which I was using to compile a mobilenet model for an android target with a 32-bit ARM processor and a Mali gpu, using a much older commit of TVM.
When I updated to a newer commit of TVM, I will get this error during compilation:
[code]

I did a binary search on the TVM commits to find when this error was introduced, and I traced it down to the following PR. https://github.

[2020-07-08 23:23] tqchen commented on #6019
Thanks @trevor-m , please open a new troubleshooting thread on https://discuss.tvm.ai/

[2020-07-08 23:23] #6019 closed

[2020-07-09 13:39] cam145 opened #6025 "Adding an operator support for frontend TFLite: 'NON_MAX_SUPPRESSION_V5'"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2020-07-09 13:41] cam145 opened #6026 "Adding an operator for frontend ONNX: NonMaxSuppression?"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2020-07-09 17:36] taeheej opened #6028 "very slow runtime for keras compiler on CPU"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2020-07-09 17:41] taeheej commented on #6028
I am following 'Compile Keras Models' (https://tvm.apache.org/docs/tutorials/frontend/from_keras.html).
Instead of gpu, I set up target as 'llvm' and ctx as cpu.
Then, I executed the following code. It takes about 12,000 millseconds.
The warning message is 'Cannot find config for 'dense_nopack.x86' and 'conv2d_NCHWc.x86'.
Is there any solution to make better performance?

-------------------------

[2020-07-09 17:51] zhiics commented on #6028
Could you please open a thread in the discussion forum https://discuss.tvm.ai? We generally use the forum to such discussions. Thanks.

[2020-07-09 17:51] #6028 closed

[2020-07-09 17:53] tqchen opened #6029 "[TEST][FLAKY][ARITH] test_arith_solve_linear_inequality.py:test_solution_consistency"
http://ci.tvm.ai:8080/job/temp-ci-docker-staging/job/ci-stage2/12/execution/node/229/log/

[code]

cc @junrushao

[2020-07-09 17:53] tqchen commented on #6029
cc @yzhliu

[2020-07-09 17:54] zhiics commented on #6025
Could you please open a thread in the discussion forum (https://discuss.tvm.ai) for this issue? Thanks.

[2020-07-09 17:54] #6025 closed

[2020-07-09 17:55] zhiics commented on #6026
Could you please open a thread in the discussion forum (https://discuss.tvm.ai) to start the discussion? Thanks.

[2020-07-09 17:55] #6026 closed

[2020-07-09 21:44] cam145 commented on #6026
Thanks for your message.
I have posted on forum and came across an implementation on NMS from your AWS team. I wonder if your team intend to implement NMS on other frontend as well, e.g., onnx or tflite. I know mxnet is your main tool. Cheers

[2020-07-10 03:52] eqy opened #6034 "Dispatcher warning for target-keys=tracing,cpu"
https://github.com/apache/incubator-tvm/blob/64766c2cb1cd3ce41ee91a54909882036fffd412/python/tvm/autotvm/task/dispatcher.py#L419

Currently it seems that the warning will always print, even after tuning (e.g., for x86 CPU) when the key is "tracing,cpu". Is this the desired behavior or can the warning be suppressed here?

[2020-07-10 16:05] #5435 closed

[2020-07-10 16:06] tqchen commented on #4188
closing for now as we are moving towards a new autoscheduler

[2020-07-10 16:06] #4188 closed

[2020-07-10 23:00] tqchen commented on #6034
Ideally we would like to supress the warning and only show once per error kind

[2020-07-11 00:17] #5972 closed

[2020-07-13 15:53] simplelins opened #6045 "Rust SGX Example App Compilation Problem"
I try to compile the demo " incubator-tvm/apps/sgx", but some error occured , that log show as below, i had tried to build at two machines, the same error showing:
`cargo build
warning: Patch `backtrace v0.3.37 (https://github.com/nhynes/backtrace-rs?branch=fix-sgx#10569cb8)` was not used in the crate graph.
Check that the patched package version and available features are compatible
with the depe

[2020-07-14 01:43] jxx123 opened #6050 "[BUG] Pytorch frontend error when the value of prim::Constant is a tensor in cuda"
Script to reproduce the issue:
[code]

Fix is quite straightforward. Just need to convert the tensor to cpu when the tensor is in cuda at line https://github.com/jxx123/incubator-tvm/blob/master/python/tvm/relay/frontend/pytorch.py#L2174.

Will submit a PR soon.

[2020-07-14 03:09] jxx123 commented on #6050
PR link: https://github.com/apache/incubator-tvm/pull/6051

[2020-07-14 06:19] zchuang11 commented on #5393
Thanks, DenseToDenseSetOperation', 'SparseToDense' and  'Unique' had been supported?

[2020-07-14 06:52] #6050 closed

[2020-07-15 06:40] MaxS1996 opened #6060 "Deploy autotuned network as bundle on ARM fails"
I created a simple MNIST test case to evaluate the performance of different DL Compilers on an Raspberry Pi 4. I was able to build a standalone bundle by modifying the bundle example at /apps/bundle.
But this fails, if I generated the model.o, params.bin and graph.json with autoTVM.
The binary still gets created, but fails when I try to run it on the device

The error message is (6 different versi

[2020-07-15 06:56] LEA0317 opened #6061 "The version of tvm of v0.6.1 is incorrect."
There is a problem that the internal version of tag 0.6.1 has not been rewritten.
It remains at 0.6.0.

I fixed this problem in my repository and confirmed the version.
Check this one.
https://github.com/LEA0317/incubator-tvm/releases/tag/v0.6.1

[2020-07-15 15:41] tqchen opened #6064 "[TEST][FLAKY] frontend/tflite/test_forward.py _test_tflite2_quantized_depthwise_convolution"
https://ci.tvm.ai/job/tvm/job/master/1287/execution/node/361/log/

[2020-07-15 15:42] tqchen commented on #6064
cc @anijain2305

[2020-07-15 15:45] tqchen commented on #6060
Thanks for reporting the problem, the community uses https://discuss.tvm.ai/ for related trouble shooting questions, please open a new thread there and provide a few mode steps.

Please also consider to look at https://github.com/apache/incubator-tvm/tree/master/apps/benchmark for benchmarking

[2020-07-15 15:45] #6060 closed

[2020-07-15 15:46] tqchen commented on #6045
cc @jroesch @nhynes

[2020-07-15 15:49] tqchen commented on #6061
Thanks for reporting, cc @yzhliu

[2020-07-15 16:13] MaxS1996 commented on #6060
https://discuss.tvm.ai/t/autotvm-or-quantization-for-raspberry-pi-fails/7319

I created a topic there to afterwards, as I am not sure if its a bug or just a user error

[2020-07-15 17:24] yzhliu commented on #6029
@tqchen is it resolved?

[2020-07-15 17:28] yzhliu commented on #6061
Thanks. I'll add one section to check&update version in the step-by-step release document.

[2020-07-15 17:31] tqchen commented on #6029
Ah, sorry, I mistaken it with another arith issue, reopening.

[2020-07-15 18:15] nhynes commented on #6045
odd. builds fine for me. I just pulled and built:

[code]
I'm sure you can use an older nightly (but it has to be a nightly)

[code]
then
[code]

[2020-07-16 03:07] SpaceView opened #6071 "error C2679 build with windows vs2019 (LLVM9.0.1+ TVM0.6.1)"
Problem (1):
I was trying to build tvm under windows with VS2019,  and succeeded with the following versions:
LLVM9.0.1+TVM0.6.0
LLVM9.0.1+(the most updated, i.e., git clone --recursive https://github.com/apache/incubator-tvm.git)
but,
when I'm trying with TVM0.6.1, I got the following 2 erros (C2679), and I tried with packages from https://tvm.apache.org/download, it gave me the same error as bel

[2020-07-16 07:38] poyenc opened #6074 "[IR] Missing check for dependency passes in SequentialNode::operator()"
## Problem
In [`SequentialNode::operator()`](https://github.com/apache/incubator-tvm/blob/8578096853eec5711bfcc9a3a68145fd12a135cb/src/ir/transform.cc#L364), before executing each passes, we do not check if their own dependency passes are all enabled:

[code]

## Suggestion
In the loop shown above, add [`PassEnabled()`](https://github.com/apache/incubator-tvm/blob/8578096853eec5711bfcc9a3a68145fd1

[2020-07-16 17:15] eric-haibin-lin commented on #6015
I'll take a stab

[2020-07-16 17:40] eric-haibin-lin commented on #5458
I cannot reproduce the error either on Ubuntu GPU instance
[code]
for both mxnet==1.6.0 and mxnet-mkl==1.6.0

[2020-07-16 20:21] tqchen commented on #6074
In this particular case, I think the behavior is expected. Because the dependency itself might be required in order to run the pass

[2020-07-16 20:47] #6074 closed

[2020-07-17 10:43] HakanKumdakci opened #6087 "error building docker image"
I run below command to clone repository.
`git clone --recursive https://github.com/apache/incubator-tvm tvm`
I run below command in tvm directory.
`docker build -t tvm.demo_android -f docker/Dockerfile.demo_android ./docker`
And got this error

![s1](https://user-images.githubusercontent.com/43298396/87777752-b7746500-c832-11ea-99a3-aaaa9c692c9a.png)

I couln't fix it. Its seems like sdkmanager ca

[2020-07-17 14:47] cam145 opened #6088 "tflite frontend reshape operator AssertionError assert op.BuiltinOptionsType() == BuiltinOptions.ReshapeOptions"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2020-07-18 02:40] mikeseven opened #6090 "[BUG] PartitionGraph and ccompiler too simplistic, too limited"
Using the test_pass_partition_graph.py and whitelisting nn.conv2d to be built with ccompiler crashes in codegen.cc because it seems to support only the simple operations in this test!

Seems like ccompiler codegen is just a test itself???

Bummer, it would have been great to test separate compilation of real NN operators as a fallback mechanism on CPU if external compiler like DNNL are not availab

[2020-07-18 04:21] comaniac commented on #6090
Could you provide more details for the crashing you encountered? DNNL codegen is mainly for BYOC demonstration purpose and it's not in production for now.

On the other hand, BYOC does have the mechanism to offload supported ops to the external codegen.

[2020-07-19 06:23] hanzz2007 opened #6093 "[BUG] Exception may be throwed when attrs is constructed"
[code]
When the AttrsNode is first constructed
[code]

Maybe we could fix it via the following codes

https://gist.github.com/hanzz2007/803b28a7915c31686cffce0ac6450b73
https://gist.github.com/hanzz2007/e42b14b51c8c9c765cca107867e64d49

[2020-07-19 06:36] hanzz2007 commented on #6093
for example
[code]

[2020-07-20 20:43] tkonolige opened #6096 "apply_history_best requires extract_from_program to be run even if log file already exists"
I'm running into a weird bug where `apply_history_best` doesn't work unless `extract_from_program` has been called somewhere before in the program (given the log file already exists).

Here is a minimal example:
[code]

Run it like so:
[code]

On my laptop (macOS, quad-core 2.3GHz i7) I get the following output:
[code]

Ignore the fact that tuning makes results worse. I only run a couple iteration

[2020-07-20 21:43] jroesch opened #6098 "[Rust] Audit all unsafe code and drop implementations."
There are a few remaining issues from the old binding design that introduce unsoundness. Spend a day or two performing an audit of the current abstractions and unsafe code in order to ensure bindings are memory safe.

- [ ] Audit all unsafe
- [ ] Function calling convention
- [ ] Owned semantics for RetValue
- [ ] Borrowed semantics for ArgValue
- [ ] Ensure all pointer structures contain proper d

[2020-07-21 00:09] 652994331 opened #6101 "Question about how to compile tvm environment"
Hi, what i am doing is to build a tvm environment to test bert model inference. According to https://gist.github.com/icemelon9/860d3d2c9566d6f69fa8112840dd95c1. we need to build tvm c++ environment  with command like below:
![image](https://user-images.githubusercontent.com/51428350/87995724-dd478580-cb22-11ea-90de-26812b8cd458.png)

from the command above, i built llvm=6.60 and intel-mkl.

The pr

[2020-07-21 00:10] 652994331 commented on #6101
the error screen shot is this one, mb.
![image](https://user-images.githubusercontent.com/51428350/87998141-ade84700-cb29-11ea-84c9-d482aa35bde2.png)

[2020-07-21 00:26] tqchen commented on #6101
Thanks for asking the question, Please open a new trouble shooting thread on https://discuss.tvm.ai/

[2020-07-21 00:26] #6101 closed

[2020-07-21 00:27] tqchen commented on #6093
Can you elaborate? It is the intended behavior to throw when a value is missing

[2020-07-21 00:29] tqchen commented on #6088
Could you please open a thread in the discussion forum https://discuss.tvm.ai? We generally use the forum to such discussions. Thanks.

[2020-07-21 00:29] #6088 closed

[2020-07-21 00:29] tqchen commented on #6087
Could you please open a thread in the discussion forum https://discuss.tvm.ai? We generally use the forum to such discussions. Thanks.

[2020-07-21 00:29] #6087 closed

[2020-07-21 00:30] tqchen commented on #6071
Could you please open a thread in the discussion forum https://discuss.tvm.ai? We generally use the forum to such discussions. Thanks.

[2020-07-21 00:30] #6071 closed

[2020-07-21 00:30] tqchen commented on #6061
closing for now as the release docs PR update has been merged and we won't act on it further for now. Thanks @LEA0317

[2020-07-21 00:30] #6061 closed

[2020-07-21 00:31] tqchen commented on #5981
Thanks @marcelotrevisani  closing this issue for  now as there is nothing to be acted on. Feel free to post followups on https://discuss.tvm.ai/

[2020-07-21 00:31] #5981 closed

[2020-07-21 00:32] tqchen commented on #5427
Closing for now due to inactive status, feel free to reopen once we want to land a new paser

[2020-07-21 00:32] #5427 closed

[2020-07-21 00:33] tqchen commented on #5215
@FrozenGene please update the status of this issue

[2020-07-21 00:34] tqchen commented on #4495
https://github.com/apache/incubator-tvm/pull/5932 is an effort to replace the ANTLR parser

[2020-07-21 00:35] tqchen commented on #4403
closing for now due to inactive status, feel free to reopen

[2020-07-21 00:35] #4403 closed

[2020-07-21 00:36] tqchen commented on #2469
https://github.com/apache/incubator-tvm/pull/6097

[2020-07-21 00:38] tqchen commented on #5298
cc @liangfu @areusch can you comment on the status? given the recent significant refactor of CRT, shall we conclude that the flaky error no longer exist?

[2020-07-21 00:38] #5038 closed

[2020-07-21 00:39] tqchen commented on #5038
Closing for now, #5753 lands the interface, let us open a new thread for the multi model support. Thanks to @FrozenGene !

[2020-07-21 00:39] tqchen commented on #5406
@u99127 @anijain2305 can you comment on the state of the issue?

[2020-07-21 00:42] tqchen commented on #5998
closing for now as the topic moved to https://discuss.tvm.ai/

[2020-07-21 00:42] #5998 closed

[2020-07-21 00:42] comaniac commented on #6096
Could you add `compile_engine.get().clear()` (require `from tvm.relay.backend import compile_engine`)before `with autotvm.apply_history_best(log_filename)` to see if it could solve this issue?

[2020-07-21 00:42] #5550 closed

[2020-07-21 00:43] tqchen commented on #5550
close due to inactive status, feel free to open a new thread

[2020-07-21 00:43] #3276 closed

[2020-07-21 00:45] tqchen commented on #4534
Close for now as it is potentially fixed by https://github.com/apache/incubator-tvm/pull/4886, please feel free to open another thread

[2020-07-21 00:45] #4534 closed

[2020-07-21 00:46] tqchen commented on #5003
@liangfu can you comment the state of the issue? is it possible to fix? or shall we simply close it due to the inability to take further actions

[2020-07-21 00:50] #6015 closed

[2020-07-21 03:01] MarisaKirisame commented on #2469
I had been working on pytorch a bit lately. One thing that is really great about it, is that pytorch has a 'architecture/code structure' document. It is a detailed description of the core system that allow a good outside coder to build a 'mini-pytorch' just by reading it. Should such a thing exist for tvm?

[2020-07-21 07:51] hanzz2007 commented on #6093
I know it's intended when we want to initialize AttrsNode with arguments, but what if initialize with default value,  `if (ffind_(key, &val))` will always return `false`,  so `opt.value_missing_` must be `true` in `AttrInitEntry<T> operator()(const char* key, T* value) `,
and when return from `AttrInitEntry<T> operator()`,  `opt` will be destructed so exception throwed.

  `opt.value_missing_` is

[2020-07-21 14:50] tqchen commented on #2469
@MarisaKirisame #6097 aims to achieve part of the goal

[2020-07-21 14:52] #6045 closed

[2020-07-21 15:51] simplelins commented on #6045
thanks for your reply,  this question caused by **clang-sys** at  that day,and restored after a few time.  Sorry I' replying so late. immediately.

[2020-07-21 15:53] tqchen commented on #6093
I see, would it be suffice to force move in the return statement?

[2020-07-21 17:43] tkonolige commented on #6096
Adding `compile_engine.get().clear()` does not fix the issue.

[2020-07-22 00:45] tqchen opened #6106 "[TEST][FLAKY] tests/python/frontend/onnx/test_forward.py::test_mod"
https://ci.tvm.ai/job/tvm/job/master/1319/execution/node/357/log/

Likely due to near boundary problem of the testcase

see related past issues: https://github.com/apache/incubator-tvm/issues/4210 https://github.com/apache/incubator-tvm/issues/4378

[2020-07-22 00:46] tqchen commented on #6106
cc @siju-samuel @jwfromm

[2020-07-22 04:12] jroesch commented on #5827
I disabled the test in the current branch, but the underlying issue bears investigation.

[2020-07-22 16:04] tqchen opened #6111 "[TEST][FLAKY] tests/python/frontend/tflite/test_forward.py::test_forward_convolution"
https://ci.tvm.ai/job/tvm/job/master/1322/execution/node/354/log/

[2020-07-22 16:04] tqchen commented on #6111
cc @anijain2305

[2020-07-22 16:29] hanzz2007 commented on #6093
Yes, move can solve. And we should add a default constructor and a rvref constructor to AttrInitEntry
[code]

[2020-07-22 16:40] tqchen commented on #6093
Sounds good, feel free to send a PR

[2020-07-22 16:55] anijain2305 commented on #6111
Thanks @tqchen for diligently adding issues. For this one, I looked at the logs and this is the duplicate of https://github.com/apache/incubator-tvm/issues/6064

The PR to disable the tests is here - https://github.com/apache/incubator-tvm/issues/6064
It was failing CI earlier due to some other issues. I have retriggered CI. Lets try to land that PR soon.

[2020-07-22 17:30] tmoreau89 commented on #6090
Having a small script to reproduce the bug would be helpful, thanks!

[2020-07-23 02:25] hatsunexym opened #6120 "[Output mismatch] Different output by using C++"
I successfully used assert command by Python to make sure the **tvm_output** is similar to the **torch_output** with 1e-3 when using TVM to do model transform.
Then I deploy the **param, graph and lib** on my C++ SDK, and use the same input to test the result. But the output of C++ is too different from the original tvm_output on python.
(e.g: the tvm_output on python is [0.7237, 0.4792, ..., 0.63

[2020-07-23 04:05] #6120 closed

[2020-07-23 07:30] mikeseven commented on #6090
The script is simply test_pass_partition_graph.py is TVM tests.
Replacing `mod=WhiteListAnnotator(["add","substract","multiply"], "ccompiler")(mod)`
with `mod=WhiteListAnnotator(["nn.conv2d"], "ccompiler")(mod)`

Then simply calling `relay.build(mod, target, params)`

Crash happens because it only knows about add, substract, multiply and nothing else.
[code]

I was under the assumption that using

[2020-07-23 15:23] cloud-mxd opened #6129 "NotImplementedError: The following operators are not implemented: ['aten::values']"
I'm using file /python/tvm/relay/frontend/pytorch.py to convert pytorch model, but raise error like this:
[code]

pytorch == 1.3.1 and tvm is latest

[2020-07-23 15:43] comaniac commented on #6090
The message you posted is expected. `ccompiler` is only used for demonstration purpose, and we don't expect to suppose more ops for it. The fallback mechanism on CPU is to use the LLVM backend instead directly.

[2020-07-23 20:00] jwfromm commented on #6096
I did a few tests with the script you provided and I'm fairly certain this has nothing to do with `apply_history_best`. I think this is instead an issue of whether tophub schedules are applied or not. It seems like calling task extraction registers tophub schedules that can override the manually tuned schedules, which in your case seems to be causing the worse performance. A good way to test this

[2020-07-23 20:34] merrymercy commented on #6096
I ran the code and found adding `compile_engine.get().clear()`  before `with autotvm.apply_history_best(log_filename):` acutally fixes the issue.
This issue is not related to autotvm at all. The autotvm feature extraction is not stateful.
Instead, the relay compiler is stateful. We have to clear the relay cache before using a different schedule
@tkonolige @jwfromm Could you double-check. This issu

[2020-07-23 20:40] merrymercy commented on #6096
To prevent such bugs happening again, we can force relay to clear the cache after every `relay.build`

[2020-07-23 20:44] tkonolige commented on #6096
Now it is working with `compile_engine.get().clear()`, but I had to remove the tuning log first.

[2020-07-23 21:00] merrymercy commented on #6096
What do you mean by `remove the tuning log`?
If you add `compile_engine.get().clear()`, then the result of `python3 example.py extract` will match the result of `python3 example.py run` exactly.

In `python3 example.py extract`, the autotvm task extraction calls `compile_engine.get().clear()` internally.
In `python3 example.py run`, in order to match the above command, we can manully call `compile

[2020-07-23 21:00] jwfromm commented on #6096
@merrymercy, it seems like the keys are still being saved in the DispatchContext memory even after clearing the cache. An easy to way to see this is doing build twice on the same graph with no logs and clearing the cache in between. We see the usual warning message `Cannot find config for ...` for the first builds operations but not the second. Should we be doing a full clear?

[2020-07-23 21:04] tkonolige commented on #6096
@merrymercy When I tested `compile_engine.get().clear()` the first time I might have had a corrupted or incorrect tuning log. The second time I test `compile_engine.get().clear()` I removed the tuning log before hand. It is unclear this had any effect.

[2020-07-23 21:06] merrymercy commented on #6096
@jroesch  Yes, the behavior you mentioned is desired. That is designed by me to mimic the behavior of `logging.warning` in python's built-in library. The principle is that a warning message should be printed only once.

However, this behavior does not affect performance. Because if you see such a warning, it means the returned config is a `None`. The 'None' will be cached in `FallbackContext`. Cac

[2020-07-23 21:07] jwfromm commented on #6096
ok that all makes sense to me, thanks for the clarification @merrymercy!

[2020-07-23 21:08] jwfromm commented on #6096
We should probably try to upstream a PR that adds `compile_engine.get().clear()` to the end of the `relay.build` function.

[2020-07-23 21:10] jroesch commented on #6096
@tkonolige @jwfromm yeah the caching makes sense to me, this is why I was against it a long time ago 😆 . I think we should add to the C++ implementation of `build` to ensure that we don't accidentally trigger this behavior in other places. The main purpose of the cache is not code generate identical ops inside of the same graph from my point-of-view.

cc @tqchen

[2020-07-23 21:21] merrymercy commented on #6096
To conclude, the current cache mechanism in relay works globally across different calls to `relay.build`. If we want to use two different schedules for the same relay subgraph in two different `relay.build`, we have to call `compile_engine.get().clear()` between two `relay.build`.

In @tkonolige 's test, the autotvm task extraction calls `compile_engine.get().clear()`  internllay, making @tkonolig

[2020-07-24 02:16] merrymercy opened #6133 "Ansor Stabilization Todo Items Tracking"
This issue is used to track all unresolved todo items in Ansor ([RFC](https://discuss.tvm.ai/t/rfc-ansor-an-auto-scheduler-for-tvm-autotvm-v2-0/7005)) during upstream.

### Motivation and Plan
Ansor has more than 13K lines of code in our internal codebase.
To upstream the huge code base of Ansor, we divide Ansor into several (10+) small PRs to make the review process easier.

However, addressing e

[2020-07-24 14:13] MarisaKirisame opened #6136 "[Runtime] should VM/graph runtime support multiple entry?"
I noticed that tvm only assume a single "main" entry in the code. I dont think this is a good design for training - when training a network, you will switch between training, validation, and maybe even pruning and quantization.

If we do not allow multiple entry in tvm module, one will have to manage multiple module himself, which will result in code duplication and code complexity (one module to

[2020-07-24 18:20] tqchen commented on #6136
We support multiple entry by default by allowing the user to pick the name of the function. For example

[code]
refers to the function xyz, then we could followup to call the function xyz. In the case of the graph runtime, we can have ```gmod["set_input"]`, ```gmod["run"] ```, each of them can be viewed as an entry function

[2020-07-24 18:21] tqchen commented on #6136
For followup dicsussions like this, let us open new threads on the discuss forum https://discuss.tvm.ai/

[2020-07-24 18:21] #6136 closed

[2020-07-25 15:28] tqchen commented on #6133
cc @jroesch @jwfromm

[2020-07-25 15:29] tqchen commented on #6111
Move to #6064 then, thanks @anijain2305

[2020-07-25 15:29] #6111 closed

[2020-07-25 15:31] tqchen commented on #2469
Closing for now, the new design and architecture guide now lands in the official docs https://tvm.apache.org/docs/dev/index.html let us open new ones for further improvements

[2020-07-25 15:31] #2469 closed

[2020-07-25 18:23] mikeseven commented on #6090
ah ok, make sense now.

[2020-07-25 18:23] #6090 closed

[2020-07-25 18:26] mikeseven commented on #5529
thanks @tqchen and @anijain2305

[2020-07-26 03:22] cloud-mxd commented on #6129
cc @MarisaKirisame

[2020-07-27 00:51] 652994331 opened #6139 "tvm.error.OpNotImplemented: Operator _contrib_arange_like is not supported in frontend MXNet."
Hi, guys, i built  the tvm 0.6.1 and build the python bind successfully, i was folllowing this (https://gist.github.com/icemelon9/860d3d2c9566d6f69fa8112840dd95c1) to do a bert inference. However, i got this problem:

(tvm) [qizhouhuang@GPU-10-252-192-90 apache-tvm-src-v0.6.1.rc1-incubating]$ python3 test_bert.py
MXNet latency for batch 1 and seq length 128: 114.93 ms
Traceback (most recent call l

[2020-07-27 01:53] Leslie-Fang opened #6140 "[Bug Report][Unit Test Failed] Failed to run the tensorflow frontend test_forward_ssd unit test"
TVM 0.7.1[36a0bf94cf93c5d4b067ae4359b8807ae2dde2d2]
Failed to run the unit test in https://github.com/apache/incubator-tvm/blob/959cff1c786e0eb33b99007be66de61d2275d7a5/tests/python/frontend/tensorflow/test_forward.py#L3943

The test will pass if I use the default `vm` mode https://github.com/apache/incubator-tvm/blob/959cff1c786e0eb33b99007be66de61d2275d7a5/tests/python/frontend/tensorflow/test_f

[2020-07-27 01:55] Leslie-Fang commented on #6140
report in TVM discuss: https://discuss.tvm.ai/t/bug-report-unit-test-failed-failed-to-run-the-tensorflow-frontend-test-forward-ssd-unit-test/7425

[2020-07-27 01:55] #6140 closed

[2020-07-27 14:51] tqchen opened #6144 "[DOCS][REFACTOR] Update Pass Infra Docs to Reflect the latest State"
The current doc https://tvm.apache.org/docs/dev/relay_pass_infra.html

- [x] Move to the tvm/ir section
- [x] Update terminologies
- [x] Split out the how-to usecases (how to construct pass, how to print out IR after each stage) into seperate guide and put them under the developer how-to guide section.

[2020-07-27 14:51] tqchen commented on #6144
cc @zhiics @jroesch

[2020-07-27 15:44] zhiics commented on #6144
Thanks, will do when I get cycles recently.

[2020-07-27 18:21] trevor-m commented on #6019
I found the source of the bug: https://discuss.tvm.ai/t/opencl-target-for-32-bit-arm-linux-android-broken-after-pr-4657/7252/4?u=trevor-m

[2020-07-28 00:29] jroesch opened #6153 "[Parser][Tracking] Parsing and Pretty Printing 2.0 for Error Reporting"
Following my suggestion to keep a tracking issue for big work items like Ansor. I will keep a tracking issue for all the work being done on the Parser 2.0. I will track remaining todo items and their completion here. Will update when I open second PR shortly.

- [ ] Add support for tokenizing escape sequences correctly in string literals.
- [ ] Update lexer to use diagnostic context.
- [ ] Add spa

[2020-07-28 05:06] yzh119 opened #6157 "[feature request] Support for cuda 11"
Currently, if I build tvm with cublas and CUDA 11, I'll encounter the following error:
[code]

which is no longer compatible with CUDA 11 [cublasLtMatmulDescCreate interface](https://docs.nvidia.com/cuda/cublas/index.html#cublasLtMatmulDescCreate), the new API has three arguments:
[code]
it breaks the old api which only has two arguments.

I'm not sure if there are other breaking changes in CUDA 1

[2020-07-28 07:17] tiandiao123 commented on #1027
did you find some solution? I have exact same issue. I don't know how to fix it, could you help me?

[2020-07-28 08:06] 12101111 opened #6158 "AttributeError: module 'tvm.runtime' has no attribute 'load'"
I'm testing the rust front-end example, and got this error when running `tvm/rust/tvm/examples/resnet/src/build_resnet.py`:
[code]
In https://github.com/apache/incubator-tvm/pull/4837, It seems `tvm.module.load` is renamed to `tvm.runtime.load_module` in 250eb03b3aa60febf67389af2cf899ce2ddd3a88. But in the later commit f48486ca8ac436aaf89437d1f64744bc77bc3026, `tvm.module.load` is changed to `tvm.

[2020-07-28 15:46] tqchen commented on #6158
THanks @12101111 good catch!

[2020-07-28 16:01] tqchen commented on #6158
https://github.com/apache/incubator-tvm/pull/6161

[2020-07-28 16:30] tqchen commented on #6157
Thanks @yzh119 for bringing it up, would you like to take a stab? cc @Laurawly @icemelon9

[2020-07-28 20:18] #6158 closed

[2020-07-29 02:08] windclarion opened #6163 "[DOC] xgboost require new cmake version"
2020-02-20 xgboost 1.0 need cmake 3.12,  2020-05-17  xgboost 1.1 need 3.13,  both version > 3.10.2 which is ubuntu 18.04 default cmake verison.   And it is  > 3.2 which TVM required, too.

our doc https://tvm.apache.org/docs/install/from_source.html#python-package-installation

say  "pip3 install --user tornado psutil xgboost"

Should we need to specify  these pip package version in the doc or

ju

[2020-07-29 02:29] tqchen commented on #6163
GIven that most of the platforms comes with xgboost binary wheel, so it shouldn't be a problem. Given that it is a dependency package problem, we won't put it as a requirement of TVM. But it might be helpful to put a note. @windclarion do you mind to send a PR?

[2020-07-29 02:53] liangfu commented on #5298
https://github.com/apache/incubator-tvm/blob/44ff1f3b5ed0751fee39537a0e6e3870a74c930b/tests/scripts/task_python_integration.sh#L39

This wouldn't be successful unless https://github.com/apache/incubator-tvm/pull/6145 is merged, and let's see whether the PR works on i386.

[2020-07-29 03:34] wang-y-z commented on #2563
@weberlo Nice work and I think always-on tiny machine learning on IoT devices has arrived.

Recently the work [MCUNet: Tiny Deep Learning on IoT Devices](https://arxiv.org/abs/2007.10319) which implement TinyNAS TinyEngine(a memory-efficient inference library) co-design to find best way to deploy model on to bare-matel device like STM32F746(320kb SRAM / 1MB Flash) is very intersting~  How do you t

[2020-07-29 05:40] windclarion commented on #6163
Yes, you are right!  I make a mistake, I misunderstand the cmake requirement which it belong to xgboost building procedure, each platform has its binary wheel, so it's not a problem!         Thanks tianqi!!

[2020-07-29 05:40] #6163 closed

[2020-07-29 14:24] ggardet opened #6169 "Build fails on TVM 0.6.0/0.6.1 - error: template with C linkage"
Build fails on TVM 0.6.0/0.6.1 with GCC10 and GCC7, with the following errors:
[code]

[2020-07-29 15:38] tqchen commented on #6169
Please open a new thread on https://discuss.tvm.ai/ for build trouble shooting. In your particular case, it seems to be a prpblem of your c++ compiler setup

[2020-07-29 15:38] #6169 closed

[2020-07-29 15:42] tqchen commented on #5464
@westion717 please follow up

[2020-07-29 15:43] ggardet commented on #6169
Ok, reported at: https://discuss.tvm.ai/t/build-fails-on-tvm-0-6-0-0-6-1-with-gcc10-and-gcc7/7462

[2020-07-30 07:19] mikeseven opened #6175 "Bundle_deploy app doesn't build demo_dynamic"
The example runtime bundle_deploy builds demo_static but not demo_dynamic due to runtime.c that has moved.

[2020-07-30 17:13] xijiz opened #6178 "[GOLANG]Can not import the compiled binary package gotvm.a in Golang with version > 1.12"
Hi,
  I am using TVM Golang API for neural model inference. However, I can not import the compiled binary package `gotvm.a` in my code. The environment information as follows:

- Golang 1.14.6
- Ubuntu 18.04/amd64

[2020-07-30 17:20] tqchen commented on #6175
cc @liangfu @areusch

[2020-07-30 18:56] areusch commented on #6175
this should be addressed by #6145

[2020-07-30 20:22] tqchen opened #6179 "Fix conv2d grad for strided cases under the new conv2d_transpose def"
https://ci.tvm.ai/blue/organizations/jenkins/tvm/detail/PR-6173/3/pipeline

[2020-07-30 20:25] tqchen commented on #6179
An additional note is that we should change the grad verification to use numerical grad checking instead of Pytorch

[2020-07-30 23:21] tqchen commented on #6179
cc @jroesch @MarisaKirisame @junrushao1994 @antinucleon

[2020-07-31 09:17] srkreddy1238 commented on #6178
Thanks for notifying this issue. I will  try to spend some time to upgrade golang version.
You are most welcome to contribute, if you are already progressing with upgrade.

[2020-07-31 19:03] areusch commented on #6179
I bisected this by building with ci-gpu and running `tests/python/relay/test_op_grad_level2.py` 10 times, I believe the offending PR is #5758

[2020-07-31 19:50] #6096 closed

[2020-07-31 21:51] tqchen commented on #6179
@vinx13  it would be great if you can followup on this thread

[2020-07-31 22:01] tqchen commented on #6179
In particular, it seems that we will need to fix the conv2d grad def under the new spec of conv2d_transpose introduced in #5758. Thanks @areusch for finding the offending PR

[2020-07-31 22:02] vinx13 commented on #6179
I will take a look

[2020-08-01 23:59] melty-chocolate opened #6185 "TVM output shape doesn't match DarkNet YOLO output"
Lately I tried to benchmark tvm compiled darknet models, I followed the instruction from the darknet frontend tutorial. I found output shape mismatch between tvm compiled models and original darknet models.

For darknet imagenet classifier models, the output shape of tvm compiled model is `(1000, 1)` while original darknet model output shape is `(1, 1000, 1, 1)`.

For darknet yolov2 and yolov3 mod

[2020-08-02 04:22] eric-haibin-lin commented on #6139
maybe try tvm master branch?

[2020-08-02 13:19] siju-samuel commented on #6185
I think this is a bug, an extra flatten is happening during softmax.

the postprocessing after `m.run` is for marking of bounding boxes.
the `net->output` and `m.run` output is same.

 [This link](https://github.com/apache/incubator-tvm/blob/1823a7b7007d7d7dfef3cdaf5cb60198fd853517/tests/python/frontend/darknet/test_forward.py#L44) may help.

[2020-08-03 13:13] 12101111 opened #6197 "[Rust] TVMError: Check failed: type_code_ == kDLInt (1 vs. 0) : expected int but get uint"
I got this when trying example of rust frontend:
[code]

[2020-08-03 18:33] tqchen commented on #6179
NOTE, the test is temporarily disabled in https://github.com/apache/incubator-tvm/pull/6183, we will update this issue again once @vinx13 fix the problem

[2020-08-03 19:30] #6093 closed

[2020-08-04 02:51] wjliu1998 opened #6201 "GoogleNet aux is None in pytorch test"
When running
`TVM_FFI=ctypes python -m pytest -v /home/liuwenjian/incubator-tvm/tests/python/frontend/pytorch/test_forward.py -k "test_googlenet"
`

error will occur at
https://github.com/apache/incubator-tvm/blob/90bde33e60a3ae0d18a767eba9a2092eab204788/tests/python/frontend/pytorch/test_forward.py#L179

the error message is
"
         assert(isinstance(orig, torch.nn.Module))
E       AssertionEr

[2020-08-04 04:07] 12101111 commented on #6197
This example code is incorrect.
[code]
The `into()` here don't convert `Context` to `ffi::DLContext`, so type of `ctx.device_id` is still  `usize`.
To confirm this, run the following code.
[code]
The output is:
[code]
This C++ type check macro expect type `int` but get `uint`.

And type of `ffi::DLContext` is wrong too.
rust-bindgen generated this code:
[code]
the type of `device_type`, `DLDeviceT

[2020-08-04 08:50] 12101111 opened #6205 "[Rust] unsafe transmute cause runtime error"
The `impl From<ByteArray> for ArgValue<'static>` is unsound and cause runtime error:
[code]
Here is a reproducible example:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=79b8e8c9abda957d250b0c780582f014
miri catch this UB:
[code]

[2020-08-04 11:02] masahi commented on #6201
PyTorch 1.6 is not supported yet, a PR welcome.

[2020-08-04 11:10] wjliu1998 commented on #6201
I'll try this one, thanks!

[2020-08-04 13:09] 12101111 commented on #6205
There is another error:
In `ArgValue` 's `to_tvm_value()` ( inside `TVMPODValue!` macro).
[code]
The type of `val` is `&&ffi::TVMByteArray`, so the pointer return is a invalid dangling pointer.

[2020-08-04 21:21] jroesch commented on #6205
Thanks for the issue, I have another open issue #6098 that is worried about these kinds of things. I believe the old `TVMArgValue` and `TVMRetValue`'s implementations were previously unsound, and now more unsound after migrating things to object system. I believe we need to remove all non-owned variants but I haven't got around to doing this yet. If you have the cycles happy to accept a PR on this

[2020-08-04 21:24] jroesch commented on #6197
@12101111 agreed I think this is another leftover from the previous version which I've been working on cleaning up and refactoring to bring up to date with modern TVM. My feeling is the graph runtime should use `tvm_sys::Context` as its public interface and only convert to the low level `tvm_sys::ffi` structs in a single location where we can be sure to correctly match the types as its very error

[2020-08-04 22:19] tkonolige opened #6210 "Reshape does not check that shape change is valid"
This following code snippet causes zero errors. Running this module with the graph runtime also does not error.
[code]
@tqchen

[2020-08-05 00:16] tkonolige commented on #6210
@mbrookhart

[2020-08-05 01:30] mbrookhart commented on #6210
I see that the Shape relation function indeed fails to check for a valid reshape. I'm kind of surprised that running it doesn't crash. What value does the 7th element of the output have?

[2020-08-05 01:33] mbrookhart commented on #6210
Doesn't look like the recent dynamic work removed a check, I'll spend some time tomorrow to see if we can add one to the shape relation function.

[2020-08-05 02:32] #6205 closed

[2020-08-05 04:39] tkonolige commented on #6210
@mbrookhart I figured out how to add a shape check to reshape. I will submit the PR tomorrow.

[2020-08-05 17:04] #6157 closed

[2020-08-05 17:04] tqchen commented on #6157
closed by #6213 thanks to @lanchongyizu

[2020-08-05 20:02] #6201 closed

[2020-08-05 21:57] #6197 closed

[2020-08-05 21:57] tqchen commented on #6197
Fixed by  #6207

[2020-08-07 15:56] NarendraPatwardhan opened #6234 "Conversion from Onnx fails for Efficientnet-b0."
I have a pytorch model converted to onnx which I aim to convert to TVM. The model has 1 input and 2 outputs. The conversion from pytorch to onnx is successful (checked with onnxruntime) but from onnx to tvm I receive the following error. The network is similar to the efficientnet-b0.

File "to_tvm.py", line 99, in tune_and_evaluate
    mod, params, input_shape = get_network()

  File "to_tvm.py",

[2020-08-07 18:12] shizukanaskytree commented on #5133
Missing op `aten::copy_`:

error:
[code]

[2020-08-07 18:35] weberlo commented on #2563
Hi @wang-y-z.  I wasn't aware of this work until now.  Thanks for the pointer!  It's a bit embarrassing to see them compare against the old runtime that was designed purely for AutoTVM purposes (and it only _happened_ to be able to run entire models).  Because of that design goal, it makes no use of flash memory, so it runs out of memory very quickly 😅.

I'd say TinyNAS isn't comparable to µTVM, s

[2020-08-08 03:39] electriclilies opened #6237 "Resize produces incorrect results"
The relay reshape function produces incorrect results. For scale factors other than 2, the output of relay.resize does not match the testing function.

The test I changed:

`--- a/tests/python/relay/test_op_level5.py
+++ b/tests/python/relay/test_op_level5.py
@@ -66,7 +66,7 @@ def test_resize():
                 tvm.testing.assert_allclose(op_res.asnumpy(), ref_res, rtol=1e-4, atol=1e-6)
     for

[2020-08-09 01:26] #6210 closed

[2020-08-09 01:35] #6175 closed

[2020-08-09 01:35] tqchen commented on #6175
#6145

[2020-08-09 01:37] tqchen commented on #6234
Could you please open a thread in the discussion forum https://discuss.tvm.ai? We generally use the forum to such discussions. Thanks.

[2020-08-09 01:37] #6234 closed

[2020-08-09 01:37] tqchen commented on #6185
Good discussions . please follow up on https://discuss.tvm.ai. We generally use the forum to such discussions. Thanks.

[2020-08-09 01:37] #6185 closed

[2020-08-09 07:05] cloud-mxd opened #6239 "[Frontend][PyTorch] NotImplementedError: The following operators are not implemented: ['aten::is_floating_point', 'aten::true_divide']"
I'm using file /python/tvm/relay/frontend/pytorch.py to convert pytorch model, but raise error like this:
![image](https://user-images.githubusercontent.com/68592047/89726825-a1348000-da51-11ea-8368-124062d4aa52.png)

pytorch == 1.6.0 and tvm is latest

[2020-08-09 07:05] cloud-mxd commented on #6239
@masahi

[2020-08-09 15:53] zyxcambridge commented on #4105
mark

[2020-08-10 15:37] #6179 closed

[2020-08-10 22:30] tom-gall opened #6246 "new --runtime=c fails for uTVM"
@areusch

The failure looks like
  graph, c_mod, params = relay.build(mod, target=target, params=params)
Traceback (most recent call last):
  File "./working-micro-st-tflite.py", line 48, in <module>
    micro_mod = micro.create_micro_mod(c_mod, dev_config)
  File "/home/tgall/tvm/tvm/python/tvm/micro/base.py", line 213, in create_micro_mod
    micro_mod = tvm.runtime.load_module(lib_obj_path)
  F

[2020-08-11 02:17] #6144 closed

[2020-08-11 03:15] zhouyongxyz opened #6247 "NotImplementedError occur when i convert pytorch model to tvm"
File "compile_pytorch.py", line 48, in <module>
    net, params = relay.frontend.from_pytorch(scripted_model, shape_list)

  File "/home/haifan/haifan/zhouyong/mxnet/maskfaceapi/tvm/python/tvm/relay/frontend/pytorch.py", line 1616, in from_pytorch
    _report_missing_conversion(op_names)

  File "/home/haifan/haifan/zhouyong/mxnet/maskfaceapi/tvm/python/tvm/relay/frontend/pytorch.py", line 1212, i

[2020-08-12 03:27] tqchen commented on #4495
https://github.com/apache/incubator-tvm/pull/6162

[2020-08-12 03:27] #4495 closed

[2020-08-12 09:10] leandron opened #6255 ""Unable to locate package" llvm-11 and clang-11 in ubuntu1804_install_llvm.sh"
In the current ubuntu1804_install_llvm.sh, we are using LLVM snapshot as a way to install clang-11. Since 15th July, snapshot points to `llvm-12` and `clang-12`.

https://github.com/apache/incubator-tvm/blob/419672617d983cca2836e84d7908ffda20003990/docker/install/ubuntu1804_install_llvm.sh#L34-L37

When trying to run it, we will see this error:
[code]

[2020-08-12 13:01] vadimsightx opened #6258 "unable to import tvm python"
when doing "import tvm"
I get next error:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/user/.local/lib/python3.6/site-packages/tvm-0.7.dev1-py3.6-linux-x86_64.egg/tvm/__init__.py", line 49, in <module>
    from . import target
  File "/home/user/.local/lib/python3.6/site-packages/tvm-0.7.dev1-py3.6-linux-x86_64.egg/tvm/target/__init__.py", line 57, in <mod

[2020-08-12 14:15] leandron commented on #6258
Hi @vadimsightx. Can you provide a bit more context on how you built TVM, in terms of CMake flags, etc?

[2020-08-12 15:49] tqchen commented on #6258
Please open a new thread on https://discuss.tvm.ai/ You likely need to rebuild tvm source before installation