[2018-03-20 10:37] tqchen commented on #1023
This is strange, because  https://github.com/dmlc/nnvm/blob/master/src/compiler/graph_fuse.cc#L195 is exactly this logic, except that we moved it to compile time.

Please double check if you have used the latest nnvm(and rebuild the nnvm dynamic lib)

[2018-03-20 12:05] PariksheetPinjari909 commented on #1023
With latest Nnvm and Tvm workspace and compiled model (deploy_graph.json, deploy_lib.so and deploy_param.params) above problem is not able reproduce.

Thanks

[2018-03-20 19:04] #1023 closed

[2018-03-20 23:21] derisavi-huawei commented on #768
Supported values for USE_BLAS are `openblas`, `atlas`, `blas`, and `apple`.

[2018-03-21 00:08] zhangxinqian opened #1028 "How does tvm decide the number of threads and blocks to launch the cuda kernels?"
Hi, can someone tell me how tvm choose the proper number of threads and blocks when launching the cuda kernels?  If possible, please show me the related codes. Thanks.

[2018-03-21 18:10] merrymercy commented on #1028
same problem #1005

[2018-03-21 20:28] eqy commented on #1027
Are you using a custom schedule for your model? Usually this is caused by a schedule not being able to handle a specific input shape e.g., the input shape causes too much local memory to be used or too many threads per blocked to be allocated.

[2018-03-21 20:36] arassadin commented on #1027
Hi,

My code is exactly the same as [here](http://nnvm.tvmlang.org/tutorials/from_keras.html#compile-the-model-on-nnvm) with the only difference - the model is my own. Its input is `288x512x3` which, I suppose, not too much for the GTX 1070 with 8 Gb.

[2018-03-21 20:47] eqy commented on #1027
Ok, then the issue is likely due to an operator not handling one or more of the shapes in your model correctly. One way to verify this is to temporarily try out more common shapes, e.g., those in Resnet-18 such as (224x224x3) and see that works.

[2018-03-21 20:48] arassadin commented on #1027
Ok, thanks for the tip, I'll try it

[2018-03-21 21:07] philtomson opened #1030 "Verilog backend"
I realize the comment in the verilog subdirectory says it's not ready yet, but I'm wondering how it will work? I see some .v files in the verilog subdirectory and I'm wondering is those the start of a verilog intrinsics library that tvm will map to?

also, I tried to run: tests/verilog/integration/test_codegen_verilog.py and got:

It's saying that it's checking to ensure that 4 arguments are passe

[2018-03-21 21:31] zhangxinqian commented on #1028
Thanks for the reference. @merrymercy
But I did not explicitly bind the axis. I just  compiled mxnet model into .so lib using nnvm, then loaded it and ran with tvm runtime. So I wonder how the tvm decides the threads and blocks number automatically.

[2018-03-21 21:50] merrymercy commented on #1028
The related code is [TOPI](https://github.com/merrymercy/tvm/tree/master/topi).
Take convolution for examples. Convolution layers in mxnet model will be converted to topi's operators, then tvm call their schedule functions in [topi/cuda](https://github.com/merrymercy/tvm/blob/master/topi/python/topi/cuda/conv2d_nchw.py). These schedule functions bind the thread explicitly. Currently the rules for

[2018-03-22 03:44] hiranoaya opened #1032 "setup script Error when build egg"
[code]

[2018-03-22 03:48] PariksheetPinjari909 commented on #1032
Try make clean, then make and install again.

[2018-03-22 03:50] hiranoaya commented on #1032
pure dir  here , it seems to no ';'
void TVMAPISetLastError(const char* msg);

[2018-03-22 03:54] zhangxinqian commented on #1028
Great. Thanks a lot. @merrymercy

[2018-03-22 06:18] tqchen commented on #1032
please upgrade your cython and try again

[2018-03-22 06:18] #1028 closed

[2018-03-22 06:18] tqchen commented on #1028
close and tahnks @merrymercy for the answers

[2018-03-22 06:34] tqchen commented on #1032
see https://github.com/dmlc/tvm/issues/964

[2018-03-22 06:34] #1032 closed

[2018-03-22 06:35] tqchen commented on #1032
This being said, the semicolon should be preferably fixed. Feel free to send a PR to fix this:)

[2018-03-22 09:11] arassadin commented on #1027
Actually, following the original example with Keras ResNet-50 model, I got the error even earlier, on
[code]
[code]
but probably it more about `nnvm`. What do you think about it?.. Will it be correct to answer "no, common shape not really works"?..

[2018-03-22 09:28] jiacunjiang1215 opened #1033 "converting to ‘const std::unordered_set<std::basic_string<char> >’from initializer"
Hi everyone.

I got such error when i build the lasted source code:
converting to ‘const std::unordered_set<std::basic_string<char> >’from initializer list would use explicit constructor ‘std::unordered_set<_Value, _Hash, _Pred, _Alloc>::unordered_set(std::unordered_set<_Value, _Hash, _Pred, _Alloc>::size_type, const hasher&, const key_equal&, const allocator_type&) [with _Value = std::basic_strin

[2018-03-22 15:35] cnuernber opened #1034 "Odd output from if-then-else (cannot use variables as statements??)"
I am trying to build a lookup table in order to do a static reordering of indexes in a given dimension:

[code]

This is the compiler code:
[code]

Output of the print statement:
[code]

This is what I am getting:
[code]

I think the answer to this is that I need an assignment statement in both branches of the if statement.

This is confusing because you don't need an explicit assignment statement

[2018-03-22 16:06] cnuernber commented on #1034
It appears what I am looking for is the select expression.  This works as I expected the if statement to work.

Looking through the python code, the only place that I find if statements is in the ir_builder.  That alone is a fairly confusing concept because that appears to avoid the use of constructs like compute_op and does in fact write directly to buffers, at least in tests.  So working at the

[2018-03-22 19:26] eqy commented on #1027
This is confusing because the error is complaining about `llvm` not being enabled, though `llvm` should not be a requirement for CUDA codegen (e.g., https://github.com/dmlc/tvm/blob/master/docs/how_to/install.md).

Can you verify that the target is the CUDA GPU?

[2018-03-22 19:28] arassadin commented on #1027
The built-in example fails before the `ctx = tvm.gpu(0)`...

[2018-03-22 19:29] #1034 closed

[2018-03-22 19:41] arassadin commented on #1027
BTW, with CPU context and my own model, I got such trace
[code]

[2018-03-22 19:50] cnuernber opened #1035 "Clojure compilation of tensor code just worked ~~ (first time)"
I managed to compile generic tensor code:

[code]
[code]

I ran it on an image of dimensions: 2988x5312x3

https://github.com/tech-ascent/tvm-clj/blob/master/test/tvm_clj/compute/compile_fn_test.clj

This is huge for a lot of reasons.  One interesting thing to note is that the java versions produce incorrect results due to the fact that the jvm doesn't support unsigned datatypes.  The tvm version

[2018-03-22 21:00] zhangxinqian opened #1036 "There is no file "src/runtime/cuda/cuda_runtime.cc""
I find that there is no file named cuda__runtime.cc which is inclueded in https://github.com/dmlc/tvm/blob/master/apps/howto_deploy/tvm_runtime_pack.cc (line 59). Maybe it is a mistake, in which actually it is cuda_module.cc.

[2018-03-23 07:10] tqchen commented on #1036
@zhangxinqian nice catch, can you send a PR to fix this?

[2018-03-23 07:11] tqchen commented on #1033
Good catch, can you send a PR to fix this?

[2018-03-23 07:32] jiacunjiang1215 commented on #1033
@tqchen
Ok, let me to fix it.

[2018-03-23 08:59] #1033 closed

[2018-03-23 17:05] zhangxinqian commented on #1036
@tqchen ok. I'll do it.

[2018-03-23 21:52] eqy opened #1039 "TVM4J Unit Test failing"
I'm currently getting the following output when building tvm4j with `make jvmpkg JVM_TEST_ARGS="-DskipTests=false"`
[code]
can this safely be ignored or am I missing something in the install process before build?

[2018-03-24 11:24] libing4752 opened #1043 "Errors occurs when use cache_read in the situation of reuse same buffer in multiple stages"
When I tried the following case

    import tvm
    shape = (255,)
    data = tvm.placeholder(shape)

    a = tvm.compute(shape, lambda i: data[i] + data[i], name = "a")

    b = tvm.compute(shape, lambda i: data[i] + a[i], name = "b")

    c = tvm.compute(shape, lambda i: data[i] + b[i], name = "c")

    res = tvm.compute(shape, lambda i: data[i] + c[i], name = "res")

    s = tvm.create_schedule

[2018-03-24 11:36] libing4752 commented on #1043
I tried to analysis the problem, and I find that, the feedGraph is constructed by scraping the map of tensors, and computeOp is keys to locate stages.
So my understand is that computeOp connect tensors and stages
But in cache_write and cache_read, new computeOps are created, even thought we replace the old computeOps to new computeOps, but the computeOp in tensor->op is the old one

[2018-03-24 17:14] #1036 closed

[2018-03-25 01:50] #1011 closed

[2018-03-25 01:52] tqchen commented on #1011
close due to in-activity, feel free to reopen. Currently, we have schedule-opt -> IR -> IR-optimizaiton -> codegen->TVM Runtime. You can make the cut at any of these level

[2018-03-25 02:00] tqchen commented on #1030
The verilog backend is not currently being tested in CI so that error was actually a sync issue with updated API, should be fixed by https://github.com/dmlc/tvm/pull/1047

[2018-03-25 02:04] tqchen commented on #1030
The current verilog backend provide two things:
- Hook to verilog simulator so it makes TVM easy to run (in simulation) a customized ASIC design
- A simple code generator that generates tvm dsl into verilog(generating hardware)

The first one is already fully functioning. The testcase has a basic version for second one. But second goal is not realized atm. Note that this is different from generate

[2018-03-25 02:04] #1030 closed

[2018-03-25 02:06] tqchen commented on #1020
close due to inactive status, feel free to reopen

[2018-03-25 02:06] #1020 closed

[2018-03-25 02:08] tqchen commented on #1018
close due to inactive status, we adopt an aggressive issue closing policy so all issues can be act upon.  feel free to reopen or followup with new issues

[2018-03-25 02:08] #1018 closed

[2018-03-25 02:11] tqchen commented on #1035
was traveling in last few days, this is great! Once you feel it is good to reach out to folks, maybe you could send a guest blogpost to tvmlang.org . I am less familiar with what clojure users care about but maybe you have better ideas of motivating examples

[2018-03-25 02:12] #848 closed

[2018-03-25 02:12] tqchen commented on #923
#892

[2018-03-25 02:12] #923 closed

[2018-03-25 02:13] #1004 closed

[2018-03-25 02:14] tqchen commented on #1039
no idea, the javatest do pass in the CI though. could due to mismatch of ABI, try to build things from scratch maybe and use the same compiler for both tvm and jni compilation

[2018-03-25 02:57] eqy commented on #1043
`cache_read` will return a new tensor that is a cached copy of the source (in this case data). So I believe you also need to specify where this cached copy will be produced (via `compute_at`).
http://docs.tvmlang.org/tutorials/optimize/opt_conv_cuda.html has some examples of how these primitives are used.

[2018-03-25 10:59] libing4752 commented on #1043
Thanks for replying, I tried `compute_at` after `cache_read `, and it failed either.

and I tried case

    import tvm

    shape = (255,)

    data = tvm.placeholder(shape)

    a = tvm.compute(shape, lambda i: data[i] + data[i], name = "a")

    res = tvm.compute(shape, lambda i: data[i] + a[i], name = "res")

    s = tvm.create_schedule(res.op)

    s.cache_read(data, "local", [a, res])

    pr

[2018-03-25 13:33] #957 closed

[2018-03-25 13:54] tqchen commented on #957
thanks to @ HungMingWu #1048

[2018-03-25 20:12] tqchen commented on #1027
The error for passing in cpu context is correct because we expect gpu. try the latest version in master and it might throw a error and tell you which graph causes the problem

[2018-03-26 06:39] arassadin commented on #1027
Hi,

According to your suggestion, I rebuilt latest `nnvm` (`c8832cc1c57fc35d8f1e8042c258ac32c0309ebc`) with the latest `tvm` (`567a10bb0947180b067f39a97c76d7fe7a3ca1f2`) and traceback doesn't changed:
[code]
for my own model and
[code]
for Keras ResNet-50 example.

[2018-03-26 09:48] kun-zh commented on #1043
Actually cache_read will equal the code as below,  maybe it can be used as a workaround.

import tvm
shape = (255,)
data_origin = tvm.placeholder(shape, name="data_o")
data = tvm.compute((shape), lambda i: data_origin[i], name="data")
#data = tvm.placeholder(shape)

a = tvm.compute(shape, lambda i: data[i] + data[i], name = "a")

b = tvm.compute(shape, lambda i: data[i] + a[i], name = "b")

c = tv

[2018-03-26 21:16] cnuernber commented on #1035
I am also less familiar with clojure users than one might think.  I like it and am very productive with it so that is good enough for me.  TVM is a *great* counterpart to clojure regardless as the Venn diagrams of their respective strengths do not overlap.

I sprinted to get the above to work; it is really more of a vision of what could be than a reality.  I only support injective kernels and I di

[2018-03-26 21:16] #1035 closed

[2018-03-26 23:33] eqy commented on #1039
Closing for now (might reopen if other issues surface later)

[2018-03-26 23:33] #1039 closed

[2018-03-26 23:44] eqy opened #1054 "missing include when building android_rpc apk?"
While building the apk for android rpc I am getting errors that look like `/ndk-bundle/sources/cxx-stl/llvm-libc++/include/memory:2233: undefined reference to `tvm::runtime::threading::ThreadGroup::~ThreadGroup()'` which suggests that I am missing an include/dependency somewhere.

I've built `libtvm.so` and `libtvm_runtime.so` and `tvm4j`; it seems I have all of the environment variables set up ac

[2018-03-27 06:11] PariksheetPinjari909 opened #1055 "Usage of name and tag attributes in softmax.h"
Attributes name and tag are not used in the schedule_softmax() function in topi/include/topi/nn/softmax.h. Is it done on purpose or is it missing from last tvm.compute() statement?

https://github.com/dmlc/tvm/blob/master/topi/include/topi/nn/softmax.h

[code]
`

[2018-03-27 09:12] gitathrun opened #1056 "Any examples for lstm network?"
Try to implement tvm with a trained lstm, since the graphic and the parameters are trained by tensorflow, is it possilbe to use TVM to optmise the runtime? Any examples?

[2018-03-27 11:08] dayanandasiet commented on #1054
@eqy

please share complete error details.

[2018-03-27 12:08] masahi commented on #1055
Ah, I missed that. Thanks for catching.

[2018-03-27 13:02] derisavi-huawei opened #1058 "converting 2D->1D sum reduction to vector add"
Consider the following algorithm+default schedule:
[code]
The resulting Halide IR is:
[code]
Note that the `y` loop is 1D->scalar sum reduction. Similarly the whole code is 2D->1D sum reduction.
I am wondering whether we can come up with such a schedule (or as a second alternative, a new algorithm+schedule) to do the same 2D->1D sum reduction using "vector add" operation, similar to:
[code]
or
[co

[2018-03-27 13:31] PariksheetPinjari909 commented on #1055
I have fixed this with PR https://github.com/dmlc/tvm/pull/1057

[2018-03-27 16:57] tqchen commented on #929
close by #1029 thanks to @dingobye

[2018-03-27 16:57] #929 closed

[2018-03-27 16:59] #1055 closed

[2018-03-27 17:15] tqchen commented on #1054
@eqy This is due to a recent update, need to add https://github.com/dmlc/tvm/blob/master/src/runtime/threading_backend.cc to the app pack.

[2018-03-27 18:20] #994 closed

[2018-03-27 18:39] eqy commented on #1054
Do you mean we also need to add `threading_backend.cc` in addition `ml_dmlc_tvm_native_c_api.cc` as to `LOCAL_SRC_FILES`?

[2018-03-27 20:26] eqy commented on #1058
Can we simply do a reorder to get desired schedule?

[code]

[2018-03-27 20:42] derisavi-huawei commented on #1058
haha! Thanks @eqy ! For some reason, I was assuming I couldn't move reduction axis before non-reduction axis. :-)

[2018-03-27 20:42] #1058 closed

[2018-03-27 22:43] tqchen commented on #1054
need to add that to https://github.com/dmlc/tvm/blob/master/apps/android_rpc/app/src/main/jni/tvm_runtime.h#L24

[2018-03-27 22:56] eqy commented on #1054
Ok, now I am getting
[code]
I'm not sure if there needs to be more compile options enabled due to the use of pthreads, but just `-lpthreads` doesn't seem to work.

[2018-03-27 23:01] tqchen commented on #1054
Check out the implementation of that file, seems was due to __ANDROID__ macro path not present

[2018-03-27 23:01] tqchen commented on #1054
I mean the backend.cc

[2018-03-27 23:41] eqy commented on #1054
Right, looks like the macro is firing properly but there is no `__ANDROID__` version implemented.

Adding
[code]
seems to fix the build, but I have not tested the app yet.

[2018-03-27 23:56] tqchen commented on #1054
OK, seems due to problem introduced by latest PR, can you send a patch?

[2018-03-28 01:06] #1054 closed

[2018-03-28 09:45] feiyuvl opened #1060 "Persistent RNN using TVM"
Hi, is that possible to implement persistent rnn using the tvm schedule primitives?

[2018-03-28 18:20] tqchen commented on #1056
We are moving the question and discussion issues to [TVM Discuss forum](https://discuss.tvmlang.org) and only use issue tracker for development purposes. Please create a post there :)

[2018-03-28 18:20] #1056 closed

[2018-03-28 18:23] tqchen commented on #1002
We plan to move discussion type issues to [TVM Discuss forum](https://discuss.tvmlang.org), close this for now. Announcement will be made on the forum when it is available

[2018-03-28 18:23] #1002 closed

[2018-03-29 16:02] kaishijeng commented on #908
@zhreshold

Do you have a plan to implement ssd-mobilenet in near future?

Thanks,

[2018-03-29 18:59] zhreshold commented on #908
@kaishijeng Not particularly which model, but I will revisit ssd models in late April hopefully.

[2018-03-29 19:31] kaishijeng commented on #908
@zhreshold

Any SSD model should be fine.

Thanks,

[2018-03-30 01:30] tqchen commented on #973
close by #980 open another Issue for vulkan tutorial

[2018-03-30 01:30] #973 closed

[2018-03-30 01:31] tqchen opened #1067 "Android Vulkan Tutorial"
Followup on #973 We already have vulkan support in TVM and we will need materials for showing how to deploy to android with vulkan support

[2018-03-31 22:44] eqy commented on #1021
@adityaatluri can `__constant` also be specified in the rocm backend? Look at the [llvm guide](https://llvm.org/docs/AMDGPUUsage.html#address-spaces) it seems possible:
`Constant | constant | same as global | 64 | 0x0000000000000000 -- | -- | -- | -- | --`

[2018-04-01 00:17] adityaatluri commented on #1021
Unfortunately, no. @gstoner how should we solve this?

[2018-04-02 06:03] santhnm2 opened #1073 "Converting HWCN example convolution kernel to NCHW"
I'm trying to convert the kernel given [here](http://docs.tvmlang.org/tutorials/optimize/opt_conv_cuda.html) to NCHW format. The algorithm specification and blocking strategy seem to be pretty straightforward (just rearranging the axes according to the NCHW format) but I'm having trouble with the cooperative fetching step. Specifically, I'm not sure how to schedule `s[BL]`. The original code split

[2018-04-03 11:41] xqdan opened #1074 "How to generate copy intrinsic for pattern with if stmt"
Hi, all,

Consider stmt as below, the move range for ax1 and ax2 should be 34, instead of 36. How can we get this and generate copy intrinsic?
[code]

[2018-04-03 12:58] derisavi-huawei commented on #1074
One alternative is to implement a pass that checks the if statements and merges their conditions into one of the loops when possible.

[2018-04-03 20:49] eqy commented on #1073
Loop ordering in general is fairly tricky in this situation because there's many factors at play. Two major things to balance are:
+ memory access stride; generally you want inner loops or those mapped to threads to access adjacent elements so these accesses can be coalesced
+ reuse; if a piece of memory is cached, you want to reuse that piece take advantage of faster cache accesses before moving

[2018-04-03 21:04] tqchen commented on #1073
good discussion, we have created https://discuss.tvmlang.org for this kind of discussions :)

[2018-04-03 21:04] #1073 closed

[2018-04-03 21:04] tqchen commented on #1074
let us https://discuss.tvmlang.org for general discussions

[2018-04-03 21:04] #1074 closed

[2018-04-03 21:05] tqchen commented on #1043
close by #1062

[2018-04-04 11:00] zt706 opened #1078 "[TOPI] Shape Compatibility Check"
[code]

the error:
Traceback (most recent call last):
  File "eval_api_classify_tvm.py", line 356, in <module>
    calc_presion(args)
  File "eval_api_classify_tvm.py", line 292, in calc_presion
    predictor = init_model(params_path, {'net':net, 'batch_size':batch_size, 'inner_size':224, 'test_device': gpu})
  File "eval_api_classify_tvm.py", line 167, in init_model
    compile_tvm_graph(base_net

[2018-04-05 03:15] zhangqiaorjc commented on #379
yes, setting CUDA_PATH= /usr/local/cuda in the config.mk

fixes the error for me as well

src/codegen/build_cuda.cc:12:19: fatal error: nvrtc.h: No such file or directory
compilation terminated.

[2018-04-07 23:58] tqchen commented on #908
http://nnvm.tvmlang.org/tutorials/from_darknet.html#sphx-glr-tutorials-from-darknet-py Implements YOLOv2, but still the last two layers, nms are not in TVM yet

[2018-04-08 03:13] QiJune opened #1088 "Why TOPI is implemented in both c++ and python"
Let's take relu as an example:
In C++:
https://github.com/dmlc/tvm/blob/20c06f2e5e1c7ca2fdd834087bba38c0dde0b5ca/topi/include/topi/nn.h#L44-L57

In Python:
https://github.com/dmlc/tvm/blob/20c06f2e5e1c7ca2fdd834087bba38c0dde0b5ca/topi/python/topi/nn/elemwise.py#L7-L21

It seems that these two parts have the same logic. What's the point of this design?
Thanks!

[2018-04-08 03:56] tqchen commented on #1088
please redirect general questions to dicsuss.tvmlang.org

[2018-04-08 03:56] #1088 closed

[2018-04-08 16:54] tqchen commented on #438
close to open a more specific issue later

[2018-04-08 16:54] #438 closed

[2018-04-09 03:31] badlooop opened #1093 "[Android_rpc demo error] code == RPCCode::kReturn code=4"
Hi all,

I've tried to run the Android_rpc demo on Huawei Mate10 which have libOpenCL.so under /vendor/lib64.

To run the android_rpc_test.py on v0.2, I tweaked the .py file a bit.

from:
`from tvm.contrib import rpc, util, ndk, rpc_proxy`
to:
`from tvm.contrib import rpc, util, ndk#, rpc_proxy`

The script runs well, but the App will crash after calling remote.cpu(0) or remote.gpu(0).

The key er

[2018-04-09 06:08] ZihengJiang commented on #1093
@yzhliu Do you have time to look at this?

[2018-04-09 19:50] tqchen commented on #1093
@eqy can you confirm? The things should be backward compatible

[2018-04-10 01:45] llhe commented on #1093
I have exact the same issue (both python import and `Check failed: code == RPCCode::kReturn code=4`), here is the related android logging:
[code]

[2018-04-10 01:50] llhe commented on #1093
By the way, the `./tests/android_rpc_test.py` runs well without crash,  and [mali_imagenet_bench.py](https://github.com/merrymercy/tvm-mali.git) crashed with this error:
[code]

[2018-04-11 12:27] PariksheetPinjari909 opened #1099 "Vulkan compile support required"
Am trying to compile model and facing vulkan target is not enable error, need help on same

target = 'vulkan'
target_host = "llvm -target=%s-linux-android" % "arm64"
with nnvm.compiler.build_config(opt_level=opt_level, add_pass=None):
    graph, lib, params = nnvm.compiler.build(sym, target, shape, params=params, target_host=target_host)

error :
`tvm._ffi.base.TVMError: [17:51:39] src/codegen/cod

[2018-04-11 16:00] tqchen commented on #1099
could due to trivial errors like USE_VULKAN=1 not enabled, or did not make clean and make

[2018-04-11 16:00] #1099 closed

[2018-04-11 16:00] tqchen commented on #1099
see https://github.com/dmlc/tvm/blob/master/src/codegen/spirv/build_vulkan.cc#L6

[2018-04-12 02:12] #1014 closed

[2018-04-12 06:11] PariksheetPinjari909 commented on #1099
After compile TVM with Vulkan enable(USE_VULKAN=1), am facing Driver incompatible error. Followed install vulkan sdk [here](https://github.com/dmlc/tvm/blob/master/tests/ci_build/install/ubuntu_install_vulkan.sh)

`Build Graph...
Traceback (most recent call last):
  File "run_mobile.py", line 62, in <module>
    graph, lib, params = nnvm.compiler.build(sym, target, shape, params=params, target_hos

[2018-04-12 06:18] hiranoaya opened #1101 "unmatch type int64 vs. uint64 when call tvm.const(2 ** 64 - 1, "uint64")"
python setup.py bdist_egg
easy_install --user tvm-0.2.0-py2.7-linux-x86_64.egg

[code]

without egg file install, export PYTHONPATH to nnvm/tvm/python
it run ok
[code]

Any difference between core.so  or core.pxy/*.pxi ?

[2018-04-13 16:41] tqchen commented on #1101
This is mainly because the value of integer is indeed too large to fit into int64_t. To make the API simple, we are only passing the value of range int64 integers around the API.

The error raised in cython interface is correct that this is the case which we did not handle well.

[2018-04-13 16:41] #1101 closed

[2018-04-13 16:42] tqchen commented on #1101
in the future, please redirect the general question to https://discuss.tvmlang.org/

[2018-04-13 17:29] tqchen commented on #1078
move to https://github.com/dmlc/tvm/issues/1024

[2018-04-13 17:32] tqchen opened #1106 "[TOPI] Better Equality Checking"
Currently TOPI relies on several functions to check equality constraint that are not in particularly general and produces problems in cases like concatenate #1078 #1024

We need to solve this issue, there are two orthogonal ways

- [ ] Upgrade concatenate to simplify its output expression, so that it won't have composed sum
- [ ] Define a stronger version of topi::EqualCheck that first calls ir::E

[2018-04-13 17:32] tqchen commented on #1078
move to https://github.com/dmlc/tvm/issues/1106

[2018-04-13 17:32] #1078 closed

[2018-04-13 17:33] tqchen commented on #1024
Move to https://github.com/dmlc/tvm/issues/1106

[2018-04-13 17:33] #1024 closed

[2018-04-13 17:33] tqchen commented on #1021
move general discussion to https://discuss.tvmlang.org/

[2018-04-13 17:33] #1021 closed

[2018-04-13 17:35] #823 closed

[2018-04-13 21:38] tqchen commented on #1099
please see if https://github.com/dmlc/tvm/pull/1107 fixed the problem.

We still need vulkan SDK to validate the SPIRV tools etc, but we do not need to have vulkan enabled devices to be available

[2018-04-16 03:55] adityaatluri commented on #1021
@eqy can you create a thread at https://discuss.tvmlang.org/

[2018-04-16 06:37] fzuwill opened #1114 "Check failed: compile_res == NVRTC_SUCCESS (6 vs. 0) __nv_nvrtc_builtin_header.h(49099): error: expected a ";""
tvm._ffi.base.TVMError: [10:07:33] /home/will/D/imperial-vision/tvm/src/codegen/build_cuda.cc:38: Check failed: compile_res == NVRTC_SUCCESS (6 vs. 0) __nv_nvrtc_builtin_header.h(49099): error: expected a ";"

__nv_nvrtc_builtin_header.h(49100): error: expected a ";"

__nv_nvrtc_builtin_header.h(49101): error: expected a ";"

__nv_nvrtc_builtin_header.h(49102): error: expected a ";"

__nv_nvrtc_bu

[2018-04-16 06:41] fzuwill commented on #1114
After I builded TVM with cuda, I execute the get_started.py in tutorial, but it failed with the error NVRTC_ERROR_COMPILATION = 6.

[2018-04-16 08:46] #1114 closed

[2018-04-16 21:35] ehsanmok opened #1116 "tvm ndk arm64 compiler"
Hi

I'm on Ubuntu 16.04 server, LLVM 6.0, android-ndk-r16b-linux-x86_64. As a test, I'm using nnvm to compile a simple convnet for `target = 'llvm -target=arm64-linux-android'` with `target_host=None` (on cpu now. Is this correct?). I want to create the shared lib, graph and params **without RPC** (as described [here](http://www.tvmlang.org/2017/11/08/android-rpc-introduction.html)) locally and pu

[2018-04-16 21:38] tqchen commented on #1116
please move general support question to https://discuss.tvmlang.org/ :)

[2018-04-16 21:38] #1116 closed

[2018-04-17 01:18] ehsanmok opened #1117 "LLVM codegen compiles with failing assertions"
Hi

I'm on Ubuntu 16.04, LLVM 6.0, gcc 5.4, Python 3.6 Anaconda
Reproducing example:

[code]
outputs

[code]

with a lot of fails though. Any idea?

[2018-04-17 16:46] ljppro opened #1119 "No libtvm.dll is generated in Windows"
Hi,
I'm building tvm with CUDA and LLVM in Windows 10 with Visual Studio 2017. LLVM is built and installed successfully. After that I changed the CMakeLists.txt to USE_CUDA and USE_LLVM and cmake it as following:
C:\Users\xxx\Desktop\TVM\tvm\build>cmake -G "Visual Studio 15 2017 Win64" -DLLVM_DIR=C:\Program\lib\cmake\llvm -DCMAKE_BUILD_TYPE=Release -DCMAKE_CONFIGURATION_TYPES="Release" ..
-- Selec

[2018-04-17 16:51] tqchen commented on #1117
these asserts are runtime asserts that do not indicate compilation failure, but is the error message that the code will raise when these asserts are not met during runtime

[2018-04-17 18:04] ehsanmok commented on #1117
I see! thanks for the clarification. However, I suspect that batchNorm (used in ResNetV2) is not yet supported in tvm? that's why the android app crashes when loading the model!

[2018-04-17 18:07] tqchen commented on #1117
it is supported, and will get optimized away by translating that to scale and shift, but you need to set opt_level to be bigger than 1 to enable that

[2018-04-17 20:50] ehsanmok commented on #1117
Right! thanks, it works now. I mistakenly added `softmax` which caused the crash.

[2018-04-17 20:50] #1117 closed

[2018-04-17 21:09] ehsanmok commented on #1119
Did you `python setup.py install` after the build?

[2018-04-18 01:07] ljppro commented on #1119
@ehsanmok Yes. And I can find all three dll files copied into site-packages. By the way, I just install CUDA 8.0 into my system without a real GPU presented. Does it matter?
Thanks!

[2018-04-18 05:55] PariksheetPinjari909 opened #1120 "Getting intermediate outputs for yolov3"
I am trying to implement yolov3 support now. But i am facing a problem right now because Yolov3 needs intermediate layer outputs for computing the region boxes.
Is there any way to get the intermediate layer outputs as tvm_getoutput can fetch only last layer outputs.

[2018-04-18 16:05] tqchen commented on #1120
please use https://discuss.tvmlang.org/ for this kind of question. What we need is to get the intermediate layer as output and group them as output symbol, just as multiple output in mxnet

[2018-04-18 16:05] #1120 closed

[2018-04-18 20:38] ehsanmok commented on #1119
I don't know! perhaps @tqchen can help?

[2018-04-18 20:53] ehsanmok opened #1121 "Android API > 23 and OpenCL/GLES_mali permission"
Hi

I'm not an android dev. Just following the app/android_deply, would like to ask whether there'll be some solutions within TVM to use OpenCL with API 24 and above (as there's restrictions to access system libs) other than bundling the OpenCL.so and all of its dependencies with the app? (continuation of [#973](https://github.com/dmlc/tvm/issues/973) would be great though)

For example, is there

[2018-04-18 22:58] ehsanmok commented on #1121
I think I found what I need but not sure how to use it [tvm.module.system_lib](http://docs.tvmlang.org/api/python/module.html#tvm.module.system_lib) ?

[2018-04-19 03:16] tqchen commented on #1121
Yes, using systemlib option, we can bundle everything together, but we do need libOpenCL dependency

[2018-04-19 03:17] tqchen commented on #1121
We don't have plan to support renderscript, but vulkan support is ready, which should be supported in most system.

[2018-04-19 03:17] tqchen commented on #1121
This topic is better be moved to https://discuss.tvmlang.org/

[2018-04-19 03:17] #1121 closed

[2018-04-20 16:00] #933 closed

[2018-04-20 23:53] were opened #1126 "How to invoke C code generator?"
I have scanned the document and code repo for a long time, but I found no way to invoke C code generator.

[2018-04-21 04:05] tqchen commented on #1126
The C code generator was only used for the device code but not for the host side generation so far. LLVM is directly used. BTW, we are moving the general discussion to https://discuss.tvmlang.org/

[2018-04-21 04:05] #1126 closed

[2018-04-21 17:55] tqchen commented on #1119
You can try build TVM without CUDA, you can do that by switch the USE_CUDA option to be OFF in the cmake file.

[2018-04-21 17:56] tqchen commented on #1119
tvm.dll is enough to use TVM for tvm to run on windows. Please see if the solution works, if not, we can followup in https://discuss.tvmlang.org/

[2018-04-21 17:56] #1119 closed

[2018-04-21 17:58] #958 closed

[2018-04-21 17:59] tqchen commented on #958
close due to inactive status. The original question is answered. Future questions are welcomed at https://discuss.tvmlang.org/

[2018-04-21 17:59] tqchen commented on #1106
@PariksheetPinjari909 Are you interested in help on this?

[2018-04-23 12:27] danilopau commented on #854
Support for tensor comprehension would be great: optimized c code generation with openmp pragmas. Support for ONNX interoperability
Support for 32 FP down to 16FX, 8FX, 2 (ternary) and 1 bit (binary) weights and activations to enable vector instructions.

[2018-04-23 17:13] tqchen commented on #854
@danilopau Just so that you know that many things you mentioned are already supported. Include high performance optimized cpu code generation, [ONNX interoperability](http://nnvm.tvmlang.org/tutorials/from_onnx.html#sphx-glr-tutorials-from-onnx-py), 32 FP to 16 FP, part of binary computation

[2018-04-24 07:43] danilopau commented on #854
custom hardware backend example .... please look https://blog.st.com/orlando-neural-network-iot/.

[2018-04-26 01:40] dtmoodie opened #1133 "[TOPI] Support deconvolution in opengl"
When trying to deploy a model of mine that uses deconvolution for upsampling of feature maps, I get the following error when trying to target opengl.

`NNVMError: TVMCall CFunc Error:
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/tvm-0.2.0-py2.7-linux-x86_64.egg/tvm/_ffi/_ctypes/function.py", line 54, in cfun
    rv = local_pyfunc(*pyargs)
  File "/usr/local/lib

[2018-04-29 02:38] ehsanmok commented on #917
@tqchen I'm interested in writing a tutorial on time as I'm learning it, if no one else is currently working on it!

[2018-04-29 21:01] dtmoodie commented on #1133
I'm currently trying to target a raspberry pi's GPU.

[2018-04-30 00:08] tqchen commented on #1133
I see, although it is possible to program QPU via OpenGL. My guess is that it won't yield desired performance. A better way might be build a direct QPU asm backend for TVM. In the meanwhile, the peak flops you can get from ARM core is already as good as QPU(if we optimize for 8bit) so we there is no official effort on this.

[2018-04-30 16:28] tqchen commented on #908
https://github.com/dmlc/tvm/pull/1095

[2018-05-01 15:58] dtmoodie commented on #1133
Thank you, I'll try deploying to the raspberry pi CPU to see if it is sufficient.

[2018-05-01 15:58] #1133 closed

[2018-05-02 12:42] DLDarwin opened #1138 "support schedule of fp16 in cuda"
Hi,  is there any support schedule of fp16 in cuda?  Recently, I tried to check my algorithm's  peformance of fp16 version, and it seems that tvm has not support it.

[2018-05-02 15:06] derisavi-huawei opened #1139 "[PASS] Update StorageRewrite to Handle Allocate Depending on Loop Variable"
Consider the following hypothetical example:
[code]

The resulting lowered code is as follows. See how the size of `A.local` depends on `i` which is a loop variable. I think the problem is that the two references to `A`, i.e., `A[2*i,j]` and `A[i+1,j]` have different functions of `i` (i.e., `2*i` vs `i`) in their first dimension. That makes calculating buffer size more complicated, and TVM probabl

[2018-05-04 15:44] tqchen opened #1142 "ThreadPool Thread-Safety"
Cross ref [this issue](https://discuss.tvmlang.org/t/why-concurrent-graph-excutor-core-dump/140)
Currently the thread pool assumes single producer and always launching(for barrier to work). The thread-pool itself is global, this will becomes a problem if we call the cpu function from different threads.

- To keep things simple and safe, we need to change the thread-pool to be threadlocal, so more

[2018-05-05 15:50] fumihwh opened #1144 "[TOPI] Add count_include_pad attr to AvgPool Op"
Reference: https://pytorch.org/docs/master/nn.html?highlight=avg_pool2d#torch.nn.AvgPool2d

Current, when calculating average pool, padding will be counted.

But in Caffe2 and Tensorflow, they do average pool without counting padding.
https://github.com/caffe2/caffe2/blob/master/caffe2/operators/pool_op.cc#L556

e.g.:
[code]
Above average pool will be:
without padding: ( 1 + 2 + 3 + 4 ) / 4
with p

[2018-05-07 15:44] tqchen commented on #1144
This can likely be solved via a select condition to add the tail padding unit calculation.

[2018-05-09 06:06] feiyuvl commented on #760
@tqchen I write a special batch-gemm and get the same problem when using the latest tvm. If I set the matrix size (m, n) to a const, it will be ok,  however if I let `m = tvm.var('m')`, it occurs the error
![default](https://user-images.githubusercontent.com/13388702/39798180-fe2d8d9a-5391-11e8-90b3-9764b6363001.PNG)

[2018-05-09 06:57] feiyuvl commented on #760
@tqchen Sorry, the real error occurs in `src/pass/storage_sync.cc:76`, following is the full stack
![default](https://user-images.githubusercontent.com/13388702/39800002-ea3edefe-5398-11e8-9593-a6e33ca9c6ec.PNG)
It seems the shared memory load pass causes the error. Any help will be appreciated

[2018-05-10 00:08] xiaolin-cheng opened #1148 "Tutorial example "How to optimize GEMM on CPU" not running"
I was trying to run the example script from "How to optimize GEMM on CPU" **opt_gemm.py**, but got the following error on both  server **Intel(R) Xeon(R) CPU E5-2640 v3 @ 2.60GHz** and laptop **Intel i-7 5600U @ 2.6GHz**:

Numpy running time: 0.007843
Traceback (most recent call last):
  File "opt_gemm.py", line 89, in <module>
    func = tvm.build(s, [A, B, C], target=target, name='mmult')
  File

[2018-05-10 00:31] tqchen commented on #1148
please ask the general discussion question at https://discuss.tvmlang.org/

In your case, as the error message indicated, you need to build tvm with llvm support http://docs.tvmlang.org/how_to/install.html#customized-building

[2018-05-10 00:31] #1148 closed

[2018-05-10 07:00] lyqscmy commented on #1142
How ThreadPool work with the graph runtime? Associated with the compiled operator? I'm wondering if we can implement graph runtime in Rust?

[2018-05-10 18:14] nhynes commented on #1142
This is a most excellent idea! Not only would Rust solve the data race problem, it would also improve integration with SGX via [rust-sgx-sdk](https://github.com/baidu/rust-sgx-sdk). I've also noticed that it's very easy to break the system allocator in very subtle ways by incorrectly memsetting the structs used by the runtime.

I anticipate several challenges, though. A primary concern is C++/Rust

[2018-05-10 23:15] yidawang commented on #1142
#1152

[2018-05-11 00:20] ehsanmok opened #1153 "CPU fails but GPU works on Android"
Hi

I'm on Ubuntu 16.04, LLVM 6.0, MXNet 1.2 (built from source) and I've built TVM after [#1132](https://github.com/dmlc/tvm/pull/1132) merged and NNVM after [#448](https://github.com/dmlc/nnvm/pull/448) merged. I've a small model in MXNet Symbol and the very strange thing is that compiling with OpenCL is running the model on Android works but for CPU crashes on Android with

[code]

Any idea abo

[2018-05-11 01:15] tqchen commented on #1153
Let use  https://discuss.tvmlang.org/ to discuss this. As indicated by the error message, it means somehow the device library cannot find expf

[2018-05-11 01:15] #1153 closed

[2018-05-11 07:14] feiyuvl opened #1156 "error "Cannot insert syncs inside condition" when using tvm.var"
![default](https://user-images.githubusercontent.com/13388702/39911320-9e531c80-552d-11e8-9e4a-f7112c13a45f.PNG)

This error occurs when I change the code
`https://github.com/dmlc/tvm/blob/master/tutorials/optimize/opt_conv_cuda.py:28`
to
`batch = tvm.var('batch')`

It seems tvm doesn't support variable input size in some condition when generating cuda kernels. Is there any way to solve that? @tqc

[2018-05-11 15:54] tqchen commented on #1156
please raise general discussion at https://discuss.tvmlang.org/ This is indeed an limitation of current code generator and we normally encourage optimization for constant shape.

[2018-05-11 15:54] #1156 closed

[2018-05-11 17:02] tqchen commented on #1106
@PariksheetPinjari909 can you verify if the case still exists, if so apply the listed fixes?

[2018-05-12 13:40] webbery opened #1159 "link error with tvm_topi.dll by vs2017"
Hi, I'm new with tvm.
I used cmake to generate a .sln file and tvm.dll was created. But I encountered following error with tvm_topi.dll:
[code]
I tried to add tvm_runtime.lib to tvm_topi project manually, but the error was still here. Have any idea to solve it?

[2018-05-13 15:30] GryffindorZz commented on #1159
I met the same error with you, did you solve it?

[2018-05-14 11:36] PariksheetPinjari909 commented on #1106
Sorry, i missed your comment. Of course i will be interested in working on this. Yes the issue still exist and we need one of the solution provided by you above. What i feel is we can simplify the output expression there itself in concatenate operation. Could you throw more light on 3rd point of regression test. In the mean time i will prepare the PR for concatenate op upgrade.

[2018-05-14 15:44] tqchen commented on #1106
by regression test I mean build a testcase that fails in current master but can be fixed in the patch.

[2018-05-14 15:48] #1142 closed

[2018-05-14 16:07] tqchen commented on #854
Thanks for everyone who have pushed to last release cycle in the past three month. I would like to propose release of v0.3 on May 21th.  As usual, the current checklist will go into the release note, and we will move the unfinished ones into the roadmap of next release cycle.

Main contributors to the past release, see complete list [here](https://github.com/dmlc/tvm/graphs/contributors?from=2018-

[2018-05-14 16:07] tqchen commented on #854
Please reply to see if there is something we would like to merge in before tag v0.3

[2018-05-14 22:42] adityaatluri commented on #899
I'm getting into implementing winograd kernels, will let you know the progress.

[2018-05-16 15:14] webbery commented on #1159
Well, I open tvm.lib by vim and find none of words 'InputTensors'. So it seems not export in windows. Then I add `TVM_DLL` to `class ComputeOpNode` thus it works.

[2018-05-16 15:43] tqchen commented on #1159
@webbery can you open send a patch to fix this?

[2018-05-17 05:44] alirezag commented on #1159
Same error here. Any resolution yet?

[2018-05-17 11:58] PariksheetPinjari909 commented on #1106
Both the issues #1078 #1024 are caused in CPP code. When i tested it on python equivalent, it passed fine. But keeping consistency in mind, i suggest we should make changes in both cpp and python concatenate function to simplify expression. What are your views on this @tqchen ?

[2018-05-17 16:25] tqchen commented on #1106
sound sgood, we should also add a stronger version of EqualCheck in C++

[2018-05-18 04:14] dtmoodie opened #1166 "Feature request improve usability with inspection"
As far as I can tell there is no way of inspection which functions are exposed by a module once loaded. And thus the only way for me to know how to interact with a loaded module is by looking at examples to see what other people see doing.
I'd like a feature to query a loaded module for at least a list of the names of functions that I can access.

[2018-05-18 05:18] srkreddy1238 commented on #1166
@dtmoodie Are u talking about the compiled module loaded on tvm runtime ?

The fused operators are available in json file in each node.
Not sure if you are looking for it.

I think we could discuss on https://discuss.tvmlang.org/ until it yields some work.

[2018-05-18 15:16] dtmoodie commented on #1166
@srkreddy1238

I don't mean the operators of my graph but the exposed functions of the compiled module.  IE when I call mod.GetFunction("load_params");  Where is a list of all possible functions that can be accessed?  I found while digging through mxnet's nnvm backend that there is a "set_stream" function, but I have no idea how I would have found that other than through digging through code.

[2018-05-18 17:28] nhynes commented on #1142
@lyqscmy, I have a need to implement the TVM runtime in Rust. Would you be interested in helping build this? I can try to have a first version ready for further development early next week.

[2018-05-19 01:13] tqchen commented on #1159
fixed thanks to @webbery

[2018-05-19 01:13] #1159 closed

[2018-05-19 01:13] tqchen commented on #1144
topi support is added thanks to @nishi-t need to update nnvm to support this

[2018-05-19 16:48] tqchen commented on #1093
move discussions to https://discuss.tvmlang.org/

[2018-05-19 16:48] #1093 closed

[2018-05-19 16:49] tqchen commented on #1138
discussions are moved to https://discuss.tvmlang.org/  fp16 requires special intrinsic support are not yet added

[2018-05-19 16:49] #1138 closed

[2018-05-19 16:49] tqchen commented on #1027
close due to we are not able to further act on this, discussions are moved to https://discuss.tvmlang.org/

[2018-05-19 16:49] #1027 closed

[2018-05-20 01:20] dtmoodie commented on #1166
Hello,
Sorry for the confusion, in mxnet there appears to be a [set_stream ](https://github.com/apache/incubator-mxnet/blob/3545697210edebe02ef68bad7465c3054d34313d/src/nnvm/tvm_bridge.cc)function that is imported when using tvm modules.

[2018-05-21 01:06] lyqscmy commented on #1142
@nhynes, thanks for your appreciation. I really would love to do this job with you, but I'm afraid my ability is not enough, because I just learn Rust a few weeks.

[2018-05-21 04:08] tqchen opened #1170 "TVM v0.4 Roadmap"
This roadmap for TVM v0.4. TVM is a community-driven project and we love your feedbacks and proposals on where we should be heading. Feel free to volunteer yourself if you are interested in trying out some items.

As usual, the checklist will go into the release note.

## Features
- BUILD
  - [x] Unify the build system to use cmake
  - [x] Customizable cmake path for vulkan, rocm, cuda
- TVM opera

[2018-05-21 04:27] tqchen commented on #854
v0.3 is now tagged, next cycle roadmap issue is available at https://github.com/dmlc/tvm/issues/1170

[2018-05-21 04:27] #854 closed

[2018-05-21 04:34] nhynes commented on #1142
well, if you ever feel like testing your new skills, you're always welcome to [submit a PR](https://github.com/nhynes/tvm-rs) :)

[2018-05-21 06:18] starimpact commented on #1170
mark ^_^

[2018-05-22 03:35] were commented on #1170
Do you have FPGA runtime?
How do you deal with the heterogeneity of different models of FPGAs?

[2018-05-22 13:53] PariksheetPinjari909 opened #1177 "Softmax schedule for llvm has a bug"
When i enabled Target = 'llvm' in "tvm/topi/tests/python/test_topi_softmax.py" i get below error:
Skip because cuda is not enabled
Skip because opencl is not enabled
Skip because metal is not enabled
Skip because rocm is not enabled
Skip because vulkan is not enabled
Running on target: llvm
Traceback (most recent call last):
  File "test_topi_softmax.py", line 76, in <module>
    test_softmax()

[2018-05-23 19:23] #1144 closed

[2018-05-23 19:23] tqchen commented on #1144
Thanks for @nishi-t's contribution

[2018-05-23 19:23] #1106 closed

[2018-05-24 07:44] liangfu commented on #908
@kevinthesun @tqchen It's great to see an implementation of `topi.vision.ssd.multibox`, as you said earlier, the implementation is based on `ir_builder` and `tvm.extern`, and it plays a role for unified CPUs.
However, I can see no way to bind any axis in `ExternOp` to make it parallelized for GPUs.
As mentioned in #1095, the most of code can be reused for other backends. Can you provide a guide ho

[2018-05-24 20:35] kevinthesun commented on #908
@liangfu Current plan is to support multibox_detection on cpu. We can then split SSD model into two parts: major network and final multibox_detection op. Major network can be run on various hardwares and then copy the output to cpu to run multibox_detection. This functionality will be added through https://github.com/dmlc/nnvm/pull/482

[2018-05-25 02:13] liangfu commented on #908
@kevinthesun Thank you for your reply. My interest is focus on `opencl` as a final target. I'm good with the major network and the nnvm part ( dmlc/nnvm#482 ), since it can already run on top of GPU. But when implemented with `ir_builder` in `topi`, is it possible to target `opencl` or `cuda` ? How can I implement reuse the code in `ir_builder` for `opencl` ?

[2018-05-25 10:58] feiyuvl commented on #1170
Is there any plan to support variable input shape more friendly as mentioned in this link ?[https://discuss.tvmlang.org/t/variable-shape-input-support-for-code-generation](https://discuss.tvmlang.org/t/variable-shape-input-support-for-code-generation/189/2)

[2018-05-25 16:16] tqchen commented on #1170
@feiyuvl I replied in the post, it is already supported in DSL level, but need a bit more work in the optimization part

[2018-05-28 10:27] lewisgit commented on #967
after I delete the whole line of USE_CUDA,
and insert a newline with USE_CUDA = 1
I get the compilation works fine with cuda

So I think there might be an encoding problem

[2018-05-29 04:45] liangfu opened #1180 "ir_builder for gpu backend"
As some of the `topi` operators are implemented with `ir_builder` (e.g. `nms`), and they are currently only available for `llvm` backend. I'm wondering how to create a port for these operators to be available for other backends, such as `opencl` and `cuda`.

I think the major problem is with the `ExternOp`, which doesn't have an `axis` to be bind with GPU threads. Most other operators are portable

[2018-05-29 15:49] tqchen commented on #1180
this discussion is better suitable for the forum https://discuss.tvmlang.org/ It is possible to use GPUs in extern ops. We cannot do explicit schedule, but we can directly create a thread_extent scope that represents the GPU threads, take a look at IR generated by a common GPU schedule and modify the builder to construct these IRs will serve the purpose

[2018-05-29 15:49] #1180 closed

[2018-05-29 16:13] tqchen opened #1183 "[OP] Add slice operator"
To support advanced indexing. c.f. https://mxnet.incubator.apache.org/api/python/ndarray/ndarray.html?highlight=slice#mxnet.ndarray.slice

Also need support in TOPI

[2018-05-29 16:21] tqchen opened #1184 "C++ Compiler API"
Given that there is enough attention to the c++ compiler. I am creating this issue by elaborating the technical issues around this.

## Benefit and Feasibility
Once we move everything to C++, we can expose the compiler API via PackedFunc to any front-end language we like. So everything still only depends on TVM's core C API but takes benefit of getting compiler support

This is definitely feasible

[2018-05-29 16:23] tqchen opened #1185 "[OP] Support LRN"
LRN is supported by dmlc/tvm#1051 by @PariksheetPinjari909 Now only changes in nnvm is needed

[2018-05-29 16:24] tqchen opened #1186 "[FRONTEND] Tensorflow support"
Updated task list from @srkreddy1238

- [x] Tensorflow frontend (V1)
- [x] More Models (V3 & others)
- [x] Tutorials.
- [x] Test cases.

[2018-05-29 16:26] tqchen opened #1187 "[CoreML][FRONTEND] Support Split Multiple Output"
Split is not necessary and this is only the problem of improving the frontend to handle split

[2018-05-29 17:55] srkreddy1238 commented on #1186
Ref. https://github.com/dmlc/tvm/pull/1188

Front end with all above support for review.

[2018-05-29 17:58] kevinthesun opened #1189 "Security concern for private key in tvm repo"
There is a private key stored in tvm repo：https://github.com/dmlc/tvm/blob/fdba6cc9bd3bec9ccd0592fa3900b7fe25d6cb97/apps/sgx/enclave_private.pem Do we have any potential security concern？Can we remove it？

[2018-05-30 00:37] nhynes commented on #1189
yep, it's for the SGX demo. It's not a security concern but it can't be removed otherwise the demo won't run.

[2018-05-30 00:50] tqchen opened #1194 "[SGX] Build Migration Updates"
- [ ] CMake migration
- [ ] NNVM example migration

cc @nhynes now that nnvm is merged into tvm, we need to merge nnvm/examples/sgx to apps/sgx as a single example

[2018-05-30 00:50] #1189 closed

[2018-05-30 01:04] jwfromm opened #1195 "to_mxnet_func on Raspberry Pi"
It looks like to_mxnet_func hits an error when run on raspberry pi. I've tried a few schedules and always run into the same error, maybe it has to do with some arm types having different identifiers? TVM and mxnet are both up to date and build from source, they work without issue.

Here's a quick snippet that can replicate the issue
[code]

The error I'm encountering is
[code]

[2018-05-30 02:16] tqchen commented on #1195
can you do a bit debug here? The error seems to indicate the the ```type_codes[i]``` being passed was not the right one (14999744 )

[2018-05-30 09:05] PariksheetPinjari909 commented on #1185
Now NNVM changes are also provided with PR #1157

[2018-05-30 14:14] sergei-grechanik opened #1200 "[BUILD] Improve CMake to allow specify llvm-config"
Hello, I'm trying to build tvm with LLVM support. I use LLVM 6.0 from Ubuntu 18.04. However, after
building tvm and importing it in python I get the following:

    $ export LD_LIBRARY_PATH=/path-to-tvm-build-dir/:$LD_LIBRARY_PATH
    $ export PYTHONPATH=/path-to-tvm-src-dir/python:${PYTHONPATH}
    $ python -c 'import tvm'
    : CommandLine Error: Option 'help-list' registered more than once!

[2018-05-30 17:07] jwfromm commented on #1195
I'm having a hard time tracing exactly what's going on as parsing to_mxnet_func source code is very difficult, but it looks like a pointer is being sent to to_tvm_func instead of a type. Maybe there's a condition check somewhere thats defaulting?

[2018-05-30 21:29] ehsanmok commented on #917
@tqchen so I just started writing the tutorial and there're some points needs clarification:
1) Should I put it in tutorials/topi/ or in tutorials/language?
2) How much should I go into topi package? since this is an introduction, for example, should I talk about topi/vision or nn it's enough to introduce its advantages and write separate tutorials for vision and nn?

[2018-05-30 21:31] tqchen commented on #917
Let us put in tutrials topi, you can use your judgment on 2. I think it makes sense to have multiple tutorials

[2018-05-30 21:31] tqchen commented on #917
cc @sxjscience

[2018-05-30 21:34] ehsanmok commented on #917
Alright! so I'll try to make it simple and will send it soon.

[2018-05-31 03:04] tqchen opened #1202 "[RUNTIME] Endian aware runtime"
Currently, most of the code assumes little endian in serialization and using little-endian system. Running cross-compilation from little endian to big endian won't work. Need to resolve this to make runtime serialization endian aware. To keep backward compatibility, we will use little endian for storage format.

[2018-05-31 03:13] libing4752 opened #1203 "output temporary data to global in schedule"
How can I output a intermediate result to global buffer and also keep the intermediate result in local buffer to be calculated next. the calculating graph is as below

![image](https://user-images.githubusercontent.com/13060752/40756187-8cf44ad6-64b4-11e8-9d94-540550b135af.png)

I tried code like this:

    import tvm

    shape = (255,255, 255)
    data = tvm.placeholder(shape, "float16", "data")

[2018-05-31 03:21] acostin1 opened #1204 "Getting a crash on a MacBook Pro 13' with Intel GPU"
I am trying tvmlang on my Mac OS 13.3, MacBook pro 13 with just a mere Intel GPU 550. I am unable to compile any model - I get this error

I compiled with support for metal, cuda, opencl, opengl (I manually installed glfw3 and modified config.mk to add the following flags)
# the additional link flags you want to add
ADD_LDFLAGS = -lglfw3

# the additional compile flags you want to add
ADD_CFLAGS =

[2018-05-31 03:28] libing4752 commented on #1203
I find in `tvm.schedule.InferBound` part, when a `data` is `output`, the type must be `Root`, so we cannot compute_at `data` to any tensors.
so should we add a new type of like "tmp_output"?

[2018-05-31 03:28] tqchen commented on #1203
Let us move the general discussion to https://discuss.tvm.ai/

[2018-05-31 03:28] #1203 closed

[2018-05-31 03:29] tqchen commented on #1204
please ask general questions at https://discuss.tvm.ai/ in your case, we will need to change the target context to metal(0) instead of gpu(0)(which means cuda)

[2018-05-31 03:29] #1204 closed

[2018-05-31 03:43] libing4752 opened #1205 "output temporary data to global, and also keep data in local buffer"
How can I output a intermediate result to global buffer and also keep the intermediate result in local buffer to be calculated next. the calculating graph is as below

![image](https://user-images.githubusercontent.com/13060752/40756187-8cf44ad6-64b4-11e8-9d94-540550b135af.png)

I tried code like this:

    import tvm

    shape = (255,255, 255)
    data = tvm.placeholder(shape, "float16", "data")

[2018-05-31 03:44] #1205 closed

[2018-05-31 03:54] acostin1 commented on #1204
Hi Tianqi.

Thanks for the note. I'll try now. BTW - installation instructions improved dramatically in the last week. I like your project and I am curious to see how it will improve the performance of models on desktop in particular.

As a funny note though - as TVM is trying to make neural networks fast everywhere, on all GPUs and CPUs, is there a way to refactor the API reflect that? (like tvm.

[2018-05-31 05:02] tqchen opened #1207 "TVM Community Guideline"
see https://discuss.tvm.ai/t/new-tvm-community-structure-and-gudieline/221 cross-posting in issues

[2018-05-31 05:28] tqchen commented on #1202
https://github.com/dmlc/tvm/pull/1206

[2018-05-31 05:28] #1202 closed

[2018-05-31 05:28] tqchen commented on #1195
discussed with @jwfromm offline, could due to different compilers, closing for now

[2018-05-31 05:28] #1195 closed

[2018-05-31 08:23] tpoisonooo opened #1209 "[tutorial] UINT8 quantization inference example"
I have converted tensorflow quantization model into onnx.

Referring [Compile ONNX Models tutorial](http://docs.tvm.ai/tutorials/nnvm/from_onnx.html#sphx-glr-tutorials-nnvm-from-onnx-py), I got runtime error:
`NotImplementedError: Operator FakeQuantWithMinMaxVars not implemented`

I have read [this quantization inference paper](https://arxiv.org/abs/1712.05877), is that means I have to  implement

[2018-05-31 12:57] feiyuvl commented on #1170
@tqchen Sorry, I can't access the tvm discuss recently, so I'm not sure whether you have replied the tvm.var problem I have met. It seems tvm.var does't work in some condition when generating cuda kernel. The problem can be reproduced by change the sample code
https://github.com/dmlc/tvm/blob/master/tutorials/optimize/opt_conv_cuda.py:28
to
`batch = tvm.var('m')`
We are planning to use tvm to acce

[2018-05-31 13:59] TaoLv commented on #1170
What's the further plan for those external libs under folder contrib?

[2018-05-31 14:34] PariksheetPinjari909 opened #1211 "Why TVMArgValue does not support float"
While analyzing some other issue, i just fumbled upon below error
 **## error: conversion from ‘tvm::runtime::TVMArgValue’ to ‘float’ is ambiguous**

I resolved it by changing the parameter type to double.

But just curious to know why Float is not supported if double is supported.

[2018-05-31 19:09] were opened #1213 "[FRONTEND] Hybrid python frontend"
## TODOs
- [x] Summarize the design decision, language, keyword, examples descriptions in docs/dev/hybrid_script.md (reuse what we have in this issue)
- [x] Also cross pasting the issue in here
- [x] Update the PR to support the discussed feature, up to the parse function
- [ ] Write a tutorial on how to use hybrid script under tutorials
- [ ] Support generating of op in a later part of the PR, th

[2018-05-31 20:48] tqchen commented on #1170
@feiyuvl discussion forum is moved to new address https://discuss.tvm.ai

[2018-05-31 21:35] tqchen commented on #1209
please use https://discuss.tvm.ai/ for general discussions, the support for int8 inference is work in progress and we will put out more resources in next release cycle

[2018-05-31 21:35] #1209 closed

[2018-05-31 21:36] tqchen commented on #1211
This discussion is better suited at discuss forum. We didn't support float to make the FFI interface simple, as double is enough to pass arguments around. It also reflects the fact that python only have int and float types and do not distinguish between float and double

[2018-05-31 21:36] #1211 closed

[2018-05-31 21:41] tqchen commented on #1200
Hmm, it seems that the CMake module for find LLVM is not functioning properly. Maybe we will need a customized version of CMake that calls ```llvm-config``` and also allows optional specification of llvm-config

[2018-05-31 21:41] tqchen commented on #1200
We did that in Makefile version of build

[2018-05-31 21:44] tqchen commented on #1166
this top is better suited at https://discuss.tvm.ai/ forum.

It is possible to support adding list of function names, specifically, we could ask each module to optionally register a function ```___dir___```, which when called, return list of names. We cannot force all the modules to support this though, since we want to keep things minimum.

[2018-05-31 21:44] #1166 closed

[2018-06-01 03:31] liangfu commented on #1180
Thanks for your answer, and I would put future discussions to the forum.
As a further notice, I've tested with IR generated by a common GPU schedule.
I observe that before binding to gridIdx and threadIdx, the IR looks like this

[code]

And after binding to gridIdx and threadIdx, the IR looks like this:

[code]

The above IR are generated by following statement,
[code]

[2018-06-01 19:22] nhynes commented on #1189
No, but generating the key is [non-trivial](https://software.intel.com/en-us/articles/how-to-create-self-signed-certificates-for-use-with-intel-sgx-remote-attestation-using)

[2018-06-03 17:06] tqchen commented on #917
https://github.com/dmlc/tvm/pull/1222

[2018-06-04 03:04] titikid opened #1223 "[FRONTEND][MXNET] L2Normalization is not supported in nnvm"
Hi all. I got this error when i run model VGG_VOC0712_SSD_300x300 in mxnet through command
nnvm_sym, nnvm_params = nnvm.frontend.from_mxnet(mx_sym, args, auxs)

Error is:
File "/home/prdcv181/PycharmProjects/darknet_nnvm/Phase2/from_mxnet.py", line 86, in
nnvm_sym, nnvm_params = nnvm.frontend.from_mxnet(mx_sym, args, auxs)
File "/usr/local/lib/python2.7/dist-packages/nnvm-0.8.0-py2.7.egg/nnvm/fron

[2018-06-04 03:14] PariksheetPinjari909 commented on #1223
L2Normaization is supported in tvm. I have raised PR #1157 to support it in NNVM. Waiting for review. @tqchen Please review the PR #1157 so we will not face these issues.

[2018-06-04 04:06] were commented on #1213
@tqchen Gather some people to discuss!

[2018-06-04 06:03] lewisgit opened #1224 "running time of the generated cuda code"
I use "get_source()" api to get the source code of the generated cuda code, and compile it using nvcc.
It shows that the kernel's running time is 640ms. But the time_evaluator tells me, the running time is 20ms.
I wonder why this happens.
I use -O3 as my compile option, am I missing some critical compile options?

[2018-06-04 16:33] tqchen commented on #1224
please use https://discuss.tvm.ai/ for general questions

[2018-06-04 16:33] #1224 closed

[2018-06-04 16:45] #917 closed

[2018-06-04 16:47] lewisgit commented on #1224
@tqchen hi, i created my account on the forum, and my account was on hold. I havent created a topic yet. So can you check my account, and see what's the problem. Sorry for posting the question here.

[2018-06-04 16:59] tqchen commented on #1213
@merrymercy @eqy @kevinthesun @Laurawly @xqdan @ZihengJiang  Please read the hybrid script spec and participate the RFC discussion, we want to discuss the following questions:

## What is the preferred way of specifying bind thread syntax
1) explicit bind
[code]
2) code mixing, similar to TVM convention
[code]

## What is the preferred way of naming the annotated loops
Currently, keywords are: unr

[2018-06-04 18:11] mnuyens commented on #1189
Leaving the key in the repo means that it will be flagged by many security tools, even if the key is not used for anything but the demo. I think the simplest fix would be move the demo into a separate repo for demos and examples, which would let TVM itself not be flagged, but not require the work to generate the key each. I think long term we should probably generate the key each time.

[2018-06-04 18:17] kevinthesun commented on #1189
If we just don't want any private key in TVM repo, a quick workaround might be create a gist to store the private key file.

[2018-06-04 18:37] nhynes commented on #1189
Hmm. I wonder if a fake key can be auto-generated from random bytes instead. I'll look into that

Which ones, exactly? Do they check the file extension or do they look in the file, itself?

[2018-06-04 20:03] nhynes opened #1226 "[TVM][RUST] Heap corruption when using FFI for `BackendParallelLaunch`"
When using a FFI for `TVMBackendParallelLaunch`, even [heap allocating a single byte](https://github.com/nhynes/tvm-rs/blob/master/src/runtime/threading.rs#L227) corrupts the resulting computation.

One possible cause is that there's some unintentional malloc/free happening when [constructing the flambda closure](https://github.com/dmlc/tvm/blob/master/src/codegen/llvm/codegen_cpu.cc#L340).
Anothe

[2018-06-05 01:36] kun-zh opened #1227 "Enhance Split for overlap data"
Sometimes, we need to split the tensor with overlap data, for example, split featuremap by H/W axis in conv kernel.

Here is the simple case: A1 = A, the size of 1-D tensor A is 10, we want use it for A1 loading in 2 times, then it should be splitted by 2, currently we can use "split(s[A1].op.axis[0], nparts=2)". But we want to copy 6 elements every times with 2 overlapped elements.  Can we enhanc

[2018-06-05 01:58] xqdan commented on #1213
1, bind thread syntax:
-  explicit bind is better for its simplicity

2, naming the annotated loops:
- can we make serial as default so we can get ride of serial,
- we may use uniform style, with or without -ed, like unroll vectorize parallel

[2018-06-05 03:15] xqdan commented on #1213
A new Features to discuss,
For some complex ops, they may need STL in cuda c++, so can we have containers in python front end and then tvm lowers this into STL?

[2018-06-05 03:52] PhenixI opened #1229 "I got "C:\Users\Phenix\AppData\Local\Temp\tmp2s9ib2fk\dllmain.obj : fatal error LNK1112: module machine type 'X86' conflicts with target machine type 'x64'" error when run get_started.py in win10 with vs2015"
Hi,
When I run get_started.py in win10, I got the following errors:
C:\Program Files (x86)\Microsoft Visual Studio 14.0>python E:\dl_projects\tvm\get_started.py
<class 'tvm.tensor.Tensor'>
-----GPU code-----
extern "C" __global__ void myadd__kernel0( float* __restrict__ C,  float* __restrict__ A,  float* __restrict__ B, int n) {
  if (((int)blockIdx.x) < (n / 64)) {
    C[((((int)blockIdx.x) * 64)

[2018-06-05 12:57] rajh619 opened #1231 "nnvm.compiler.build fails for onnx models containing GEMM ( FC layer) operation"
**nnvm.compiler.build** fails for onnx models downloaded from onnx-modelzoo.

The problem seems to be in the **FC layer containing GEMM operation** .

Tried with [VGG19](https://github.com/onnx/models/tree/master/vgg19)  and [Resnet50](https://github.com/onnx/models/tree/master/resnet50) ONNX models from ONNX model zoo .
(couldnt try this properly in ["bvlc_alexnet"](https://github.com/onnx/models

[2018-06-05 13:29] nolanliou commented on #1093
Meet the same issue. Any new progress? By the way, I can not access  https://discuss.tvmlang.org/

[2018-06-05 17:27] mnuyens commented on #1189
In this case it was specifically an internally developed one and I assumed that others would flag it as well. And I believe it looks in the file itself, this part is also supposed to flag keys that are hard coded as well.

[2018-06-05 18:14] wangshangsam commented on #1170
Hi @tqchen,

I noticed in the newer version of the TVM paper (https://arxiv.org/pdf/1802.04799.pdf), it mentioned that the automatic schedule space exploration & tuning was implemented and experimented, and how it was faster than Tensor Comprehensions on conv2d. However I still couldn't find the code for it in the TVM repo. Could you point me to the right direction to look for?

Thanks a lot!
Shan

[2018-06-05 19:54] were commented on #1213
@eqy This frontend is to write some preliminary IR code. Because we are using conventional imperative language, we do somehow abandon the halide-style decouple.

@xqdan the -ed thing is to be consistent to `For` class in the `stmt.py`.

@nhynes Thank you for ur suggestion. Later I will support the `*` thing and add some interfaces for users to register their own intrinsics in the decorator.

[2018-06-05 20:59] tqchen commented on #1229
please ask general questions at https://discuss.tvm.ai/

[2018-06-05 20:59] #1229 closed

[2018-06-05 21:06] tqchen commented on #1227
@kun-zh let us move general discussion that is not directly actionable to https://discuss.tvm.ai

[2018-06-05 21:06] #1227 closed

[2018-06-05 23:40] tqchen commented on #1170
@wangshangsam more discussions can be found at https://discuss.tvm.ai/t/bring-auto-tuner-to-tvm/206/5 We will release the autotvm in this release cycle.

[2018-06-05 23:50] pallabdatta opened #1236 "[ONNX] Fix Filed t is not supported in nnvm"
Hi
I have a ONNX file exported via pytorch4. Now I import the ONNX file via NNVM as:
onnx_graph = onnx.load('network.onnx')
Then when I do:

sym, params = nnvm.frontend.from_onnx(onnx_graph)
I get the following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/pallabdatta/nnvm_tvm_npcompiler/np-compiler/tvm/nnvm/python/nnvm/frontend/onnx.py", line 709,

[2018-06-06 01:51] titikid commented on #1223
@PariksheetPinjari909  i see. But it seem to be an error during test phase. I hope to see this feature as soon as possible

[2018-06-06 17:09] tqchen opened #1242 "Graph Runtime for Heterogeneous Execution"
## Problem
The current graph runtime assumes that all the op are on a single context (OpenCL, or ARM), in reality we usually need switch between devices, especially for last few layers in detector models, where it might be hard to get a GPU version of the detector operators (@Laurawly is working on one, but that is a different story). A better solution would be enable the graph runtime and builder

[2018-06-06 18:42] pallabdatta commented on #1236
HI @tqchen

this issue is also related to: https://github.com/dmlc/nnvm/issues/433

Can you please suggest me how to fix this issue so that I can import the ONNX model via NNVM FrontEnd.

[2018-06-06 20:13] kevinthesun commented on #1242
@zheng-da @reminisce Since they are working on subgraphs.

[2018-06-07 08:18] pribadihcr opened #1246 "NotImplementedError: act_type: prelu is not supported in nnvm."
Hi

is prelu not supported in nnvm?.

[2018-06-07 23:40] tqchen opened #1250 "[BUILD][RFC] Switch to Use CMake only for library build"
So far we have maintained two build systems, but as the project grows we see a lot of burdens continuously doing so.

The only reason we kept Makefile is that for small devices like raspberry pi the CMake version may not be up to date having a Makefile build is convenient for runtime only build with minimum dependency. CMake itself is not very hard to install though, so one way would be simply req

[2018-06-07 23:40] tqchen commented on #1250
This might have implications on jvm and other build. cc @nhynes @yzhliu @tmoreau89

[2018-06-08 00:07] pribadihcr commented on #1246
yes, MXNet. will check it. thanks

[2018-06-08 04:32] #1246 closed

[2018-06-08 18:46] tqchen commented on #1213
thanks for all the helpful discussions, I would suggest the following steps move forward @were

- [ ] Summarize the design decision, language, keyword, examples descriptions in docs/dev/hybrid_script.md (reuse what we have in this issue)
- [ ] Also cross pasting the issue in here
- [ ] Update the PR to support the discussed feature, up to the parse function
- [ ] Write a tutorial on how to use hyb

[2018-06-09 22:19] kaishijeng opened #1252 "Support NHWC on Mali"
@tqchen

Is there a plan to support this?

Thanks,

[2018-06-10 00:01] tqchen commented on #1252
since it is not a general feature that we are propose to acting on, maybe it is better move discussion to https://discuss.tvm.ai/ where we can propose such change and discuss how it can be implemented

[2018-06-10 00:01] #1252 closed

[2018-06-11 03:54] dongxiao92 opened #1256 "build tvm failed on macos"
I try to install tvm as described at http://docs.tvm.ai/install/index.html.
When I run
make -j8
,I get the following error message:
c++ -std=c++11 -Wall -O2 -Iinclude -I/Users/dongxiao/working/tvm/dlpack/include -I/Users/dongxiao/working/tvm/dmlc-core/include -IHalideIR/src -Itopi/include -fPIC -DTVM_CUDA_RUNTIME=0 -DTVM_ROCM_RUNTIME=0 -DTVM_OPENCL_RUNTIME=0 -DTVM_VULKAN_RUNTIME=0 -DTVM_OPENGL_RUN

[2018-06-11 05:01] tqchen commented on #1200
https://github.com/dmlc/tvm/pull/1254

[2018-06-11 05:01] #1200 closed

[2018-06-11 05:02] tqchen commented on #1250
https://github.com/dmlc/tvm/pull/1254

[2018-06-11 05:02] #1250 closed

[2018-06-11 05:03] tqchen commented on #1250
@nhynes I have migrated most of the changes, but don't know how to migrate the build rule for SGX, so now the CMake rules for SGX runtime is missing. Can you help with subsequent PR to fix SGX runtime build?

[2018-06-11 05:04] tqchen commented on #940
closing due to inactive status and not being able to act further on this. further discussions are encouraged at https://discuss.tvm.ai

[2018-06-11 05:04] #940 closed

[2018-06-11 13:54] nhynes commented on #1250
Will do! I've actually been working on updating the NNVM example, too, but I'm encountering some memory allocator issues (which prompted me to start the Rust runtime in the first place).

[2018-06-11 15:37] kaishijeng opened #1258 "use multicore CPU"
@tqchen

I noticed that from_mxnet.py and from_tensorflow.py uses only 1 core during running. My platform is RK3399 which has 6 cores (2xA72+4xA53). Is there a way to use all 6 cores to speed up?

Another issue is from_mxnet.py and from_tensorflow.py using little processor (A53) even I use taskset to constrain them on A72. Any idea why?

Thanks,

[2018-06-11 16:57] tqchen commented on #1258
Thanks for bringing the questions up, please use https://discuss.tvm.ai/ for general discussions.

[2018-06-11 16:57] #1258 closed

[2018-06-11 16:58] tqchen commented on #1256
Thanks for bringing this up, please use http://discuss.tvm.ai/ for general discussions and installation questions. There is a recent switch to cmake system and please see if the latest master works

[2018-06-11 16:58] #1256 closed

[2018-06-11 17:00] tqchen opened #1259 "[DOCS] Switch to Python3 by default"
Most of the docs build still assumes python(python3), as python2 is going to be deprecated.
We should switch all the docs and CI script to use python3 by default

[2018-06-12 00:08] tqchen commented on #1259
https://github.com/dmlc/tvm/pull/1260

[2018-06-12 00:08] #1259 closed

[2018-06-12 03:15] tqchen commented on #1207
https://github.com/dmlc/tvm/issues/1207

[2018-06-12 04:38] tqchen commented on #1236
@fumihwh can you suggest possible fix to this issue?

[2018-06-12 04:40] #1207 closed

[2018-06-12 05:56] fumihwh commented on #1236
@tqchen @pallabdatta
Field `t` means current node has one attribute which type is tensor. BTW, `g` for `graph` is also not supported.
I think `tensor` is quite easier to parse than `graph`.
By using `onnx.mapping.STORAGE_TENSOR_TYPE_TO_FIELD`, we can get value of tensor.
Try:
[code]

[2018-06-12 17:57] tqchen opened #1265 "[INTRINSIC] Support Floor Operator"
Blocker of #1181

[2018-06-12 19:07] tqchen commented on #1265
https://github.com/dmlc/tvm/pull/1267

[2018-06-12 20:31] #1265 closed

[2018-06-13 00:25] kevinthesun opened #1269 "[OP] SSD gluon-cv model support"
This PR https://github.com/dmlc/tvm/pull/1214#issuecomment-396759006 adds support for SSD model. It would provide a more convenient way to import and compile SSD model if we can also support gluon-cv SSD model. The major work is to add several operators:
- [x] L2Normalization
- [ ]  _contrib_box_nms
Currently we have nms operator implemented in tvm, but the interface can be a slightly different.
I

[2018-06-13 02:19] tqchen opened #1271 "[BUILD] Enable custom path for most build config"
c.f. https://discuss.tvm.ai/t/cmake-auto-search-for-libraries/271

[2018-06-13 02:19] tqchen commented on #1271
https://github.com/dmlc/tvm/pull/1270

[2018-06-13 06:41] kevinthesun commented on #1242
For the first step, is there a way we can detect that whether op is registered for current target in tvm? In this case, we don't need to add an extra attribute. If this is unrealistic, then in FComputeFallback, we may want to specify for what targets this operator needs to be fall back to cpu.

[2018-06-13 16:09] doctaweeks opened #1275 "[BUILD] Enable optional standalone spirv-tools"
libspirv.h is packaged with spirv-tools: spirv-tools/libspirv.h

[2018-06-13 16:20] tqchen commented on #1275
hmm, does this change happens in the recent VulkanSDK? Normally files will be copied if you do build tools after you install vulkan sdk

[2018-06-13 16:36] tqchen commented on #1275
The default build assumes the installation of vulkan sdk https://vulkan.lunarg.com/sdk/home, which comes with spirv-tools, and if you run ./build_tools.sh under the sdk root, you should be able to get spirv-tools in the corresponding folder. If you use a standalone spirv-tools, maybe we need to update the CMake search rule to do so

[2018-06-13 16:38] #1186 closed

[2018-06-13 16:39] tqchen commented on #1170
Tensorflow frontend support updated, c.f. #1186

[2018-06-13 17:21] doctaweeks commented on #1275
I have a standalone spirv-tools. I think updating the search rule would be useful for any distro that packages the vulkan components separately.

[2018-06-13 17:28] tqchen commented on #1275
This likely involves modification of the following two files
- https://github.com/dmlc/tvm/blob/master/cmake/modules/Vulkan.cmake
- https://github.com/dmlc/tvm/blob/master/cmake/util/FindVulkan.cmake

We can introduce an optional option USE_SPRIV and use that info when this is set

[2018-06-13 17:29] #1271 closed

[2018-06-13 17:31] tqchen commented on #1236
@fumihwh since you know how to do so, it would be really nice if you could help send a PR to fix onnx frontend for this case. Thanks!

[2018-06-13 17:52] tqchen opened #1276 "Support Inline Assembly Microkernel"
This issue arises through discussion with several people @eqy @adityaatluri @ajtulloch @cowanmeg
So far we can use IR to embed a sequence of LLVM intrinsics to generate microkernel. But this may not be ideal, in certain cases, we need to make use of hand-crafted micro-kernels, or utilize assembly generator such as Peachey to generate and embed them into the code. This issue is used to discuss poss

[2018-06-13 17:54] doctaweeks commented on #1275
Rather than an option I think it's fine to check for one, then the other, and just use the one that's found. I suspect it's unlikely for someone to have it installed both ways.

[2018-06-13 23:45] eqy commented on #1276
I think @adityaatluri/AMD Folks will have the most relevant experience as to whether we need embedded asm for AMD GPUs, which are an interesting target. The fact that some of the kernels in MIOpen (e.g., Winograd) do not have exposed source suggests that the asm implementation yields the best performance.

Can any of the AMD folks comment on whether this is just an artifact of how kernels are typi

[2018-06-14 03:49] ajtulloch commented on #1276
Hi folks - I'm interested in (mobile) CPU backend improvements for TVM.

What I've just implemented is slightly more general than what you suggested - patching `llvm_module.cc` to support loading external LLVM IR modules (via a registered callback, like ROCM case), and then a bit of Python helper logic for passing these to tensor intrinsics. So, you can then write essentially arbitrary C or assemb

[2018-06-14 12:47] fumihwh commented on #1236
@pallabdatta Could you give me an ONNX pb to test?

[2018-06-14 16:08] tqchen commented on #1276
@ajtulloch Patching llvm module seems fine as long as we call micro-kernels as common extern functions, the inline optimization happens only at link time, there could be a chance that inlining did not happen or did not benefit from too much early optimizations.

The general logic makes sense, and I guess the same way would work if we bring a helper function and put it in the codegen phase. Would y

[2018-06-14 16:13] tqchen commented on #1276
Given the heated discussion, I would suggest we have a quick discussion on API and patch the TVM to support this feature(should not cost too many loc)

[2018-06-14 21:54] kevinthesun commented on #1269
This PR https://github.com/dmlc/tvm/pull/1157 implements L2Normalization.

[2018-06-15 03:14] zheng-da opened #1285 "nnvm can't be built in MXNet after commit b877687."
After this commit https://github.com/dmlc/tvm/commit/b877687fbeb8a6c12b62aac9869f7e54091395f4
nnvm can't be built in MXNet.

[2018-06-15 03:41] tqchen commented on #1285
A better way would be moving forward to modify . https://github.com/apache/incubator-mxnet/blob/master/CMakeLists.txt#L583 to remove the link to nnvm, and instead, add ${NNVMSOURCE} to the compiled source

[2018-06-15 03:47] ajtulloch commented on #1276
As an update - with this microkernel

[code]

I get essentially equivalent performance (+/-10%) to Accelerate/MKL single-threaded on most GEMMs, without any scheduling work involved (i.e. just constructing full panels separately, then tensorizing the reduction) - and presumably a scheduling guru could get this even better. AFAIK I haven't seen any TVM schedules that can get within 30% of this numb

[2018-06-15 03:51] tqchen commented on #1285
https://github.com/apache/incubator-mxnet/pull/11300

[2018-06-15 03:51] #1285 closed

[2018-06-15 03:55] masahi commented on #1276
@ajtulloch for tvm, are you using the target "llvm -mcpu=core-avx2"? With the target "llvm", you only get SSE even if your cpu supports avx2.

[2018-06-15 05:16] ajtulloch commented on #1276
That looks great @tqchen.

[2018-06-15 06:47] ajtulloch commented on #1276
@masahi, @tqchen for example, check https://gist.github.com/ajtulloch/0087cb2dee2fab580ec60cc87220fbde. With this, I see (running `MKL_NUM_THREADS=1 VECLIB_MAXIMUM_THREADS=1 TVM_NUM_THREADS=1 python tutorials/optimize/opt_gemm.py 2>&1 | grep Opt`)

[code]

which is a 40% speedup (60 -> 88) over the previous best Opt routine, and equal to the Accelerate BLAS performance.

The schedule for the Tenso

[2018-06-15 07:28] ajtulloch commented on #1276
@tqchen since you can't really go from ASM to LLVM IR, what about also supporting linking against object files directly? That's the only way to support a PeachPy-style case right?

[2018-06-15 17:59] tqchen commented on #1276
After thinking more carefully about the problem. Here is a new alternative proposal.

- Introduce a pragma scope,  import into the pragma, which the code generator will treat as
IR pseudocode:

[code]
We can make the llvm code generator to handle import gracefully, by link and inline the module.
The advantage over the build config is that we can actually attach source code during schedule(via prag

[2018-06-15 18:14] pallabdatta commented on #1236
Hi Wenhao

Attached is a network with a Constant node.

On Thu, Jun 14, 2018 at 5:47 AM, Wenhao Hu <notifications@github.com> wrote:

[2018-06-15 18:18] pallabdatta commented on #1236
Attached it as a .log file.

[network.log](https://github.com/dmlc/tvm/files/2107102/network.log)

[2018-06-15 18:28] ajtulloch commented on #1276
@tqchen I don’t quite understand the advantages of the second proposal. Could you flesh out the example a bit please?

[2018-06-15 19:01] tqchen commented on #1276
@ajtulloch I updated my post

[2018-06-15 22:57] mnuyens commented on #1189
This change is not enough to not have it flagged by the security tools as they are looking for any private keys hardcoded in the repo, and once the key is removed we should also rewrite the commit history to remove it there as well, otherwise it is still in the repo. Here is a link that details easy ways to do that. https://help.github.com/articles/removing-sensitive-data-from-a-repository/

[2018-06-15 23:34] nhynes commented on #1189
Rewriting history for a public repo is a no-go. I suggest that you whitelist TVM in your security checker. This should be relatively easier since your tool is developed in-house.

[2018-06-16 00:22] liangfu opened #1291 "[Sparse] Support sparse matrix computation"
Objective
---
- To reduce unnecessary work load in computing convolution over large amount of zeros.
- To reduce memory/cache footprint

TODOs
---
- [x] Step 0 : Summarize the design decision
- [x] Step 1 : Update the PR (#1289) to support the following features
 - Create `tvm.contrib.sparse.CSRNDArray` and `tvm.contrib.sparse.placeholder` for creating sparse tensor.
 - Provide conversion between

[2018-06-16 00:47] fumihwh commented on #1236
@pallabdatta
Plz send your network again...
The above comment does not contain any info about that..

[2018-06-16 01:01] pallabdatta commented on #1236
Can you access the network from here:

https://drive.google.com/drive/folders/16Fe-9iR6Z-181u_WmpG0j7YsozbXV-u1

[2018-06-16 09:58] fumihwh commented on #1236
@pallabdatta Plz grant permission..

[2018-06-16 11:20] pallabdatta commented on #1236
Done..

[2018-06-16 11:39] fumihwh commented on #1236
@pallabdatta not yet...I can't access that......

[2018-06-16 22:17] pallabdatta commented on #1236
Can you please try now..

[2018-06-16 22:32] tqchen commented on #1291
It is great to introduce sparse computations. However, directly introducing the sparse tensor into Tensor object seems to be a big change.

How about we still keep the original tensor data structure, but implement sparse operation using two tensors(index, data). Benchmark the end to end speed, then work on proposals to bring formal sparse storage in once we have a good idea about what is needed.

[2018-06-17 01:05] liangfu commented on #1291
In this case, we shall introduce tvm.tensor.SparseTensor and adopt it into ComputeOp for a quick benchmark implementation. The sparse tensor would only support indexed data structure, so that it would be easier to maintain.

[2018-06-17 01:56] tqchen commented on #1291
we could start with a tvm.contrib.SparseTensor for this. The only thing that I am not so sure so far is how much code generation trick need to be included.

[2018-06-18 16:55] rajh619 opened #1297 "[FRONTEND][ONNX] 'Shape' operator not implemented"
I have an Alexnet-ONNX model converted from Tensorflow which contains 'Shape' operator.
Unfortunately while loading in nnvm , it fails with  `NotImplementedError: Operator Shape not implemented.`
and i couldn't find the same in `nnvm.symbol `(nnvm tensor operator api).
Basically 'Shape' operator (as specified in onnx operator [List ](https://github.com/onnx/onnx/blob/master/docs/Operators.md#Shape

[2018-06-18 17:44] srkreddy1238 commented on #1297
I have an active PR in tensor flow for Shape.

You could take ref and implement for ONNX.

[2018-06-18 19:39] tqchen commented on #1276
@eqy @ajtulloch can you comment on the new embedded API by introducing import program to the IR? if you think that is good, we can proceed with implementations

[2018-06-18 19:42] tqchen commented on #1275
@doctaweeks any updates on this? would you like to send a patch?

[2018-06-18 19:46] ajtulloch commented on #1276
@tqchen it looks good to me I think. I think this is going to be very useful for CPU performance (I've already got ~2x speedup for AVX 1x1 kernels vs the conv2d_avx_1x1.py ones).

[2018-06-18 20:47] doctaweeks commented on #1275
I haven't had a chance to revisit this in depth yet.

I can add that a complete fix for this will be a little more complicated. There is a separate pkgconfig file for spirv-tools that should probably be used (currently "find_package(Vulkan").

I'll try to get to it this week.

[2018-06-18 22:06] tqchen commented on #1276
@ajtulloch awesome, can you open a PR to bring this in? I have will change the issue to WIP and list the action items

[2018-06-18 22:17] eqy commented on #1276
@ajtulloch to comment on the AVX-2/AVX-512 schedules currently in tvm: I believe these are currently tuned mainly for high core count c5 AVX-512 instances, where the end2end performance should be better than with mkldnn. Retuning them for AVX-2 can recover some performance, but overall I think the current schedules heavily target AVX-512 over AVX-2 (@yzhliu knows more details).

[2018-06-18 22:35] yzhliu commented on #1276
I believe we do have room for AVX2 optimization, as well as the (AVX-512/AVX2) 1x1-kernel convolution. Looking forward to the numbers & implementation.

[2018-06-18 22:47] ajtulloch commented on #1276
Cool, sounds good. Re code, https://github.com/ajtulloch/tvm/tree/tvm-tulloch is my WIP branch - key changes (compute + schedule for 1x1 conv) is https://github.com/ajtulloch/tvm/blob/5c93b249a961d522265de36a007ed16b24d3e728/topi/python/topi/x86/conv2d_avx_1x1.py.

- Custom ukernel LLVM integration in https://github.com/ajtulloch/tvm/blob/5c93b249a961d522265de36a007ed16b24d3e728/src/codegen/llvm/l

[2018-06-18 22:55] ajtulloch commented on #1276
Current numbers:

|  `(bs, in_channel, in_size, num_filter, kernel, stride, padding)` | `AVXConv2DTensorize GFLOP/s` | `AVXConv2D GFLOP/s`
| --- | --- |  -- |
| `(1, 128, 28, 256, 1, 1, 0)` | 66.171627 | 38.920085
| `(1, 64, 56, 128, 1, 1, 0)` | 38.293128 | 27.431091
| `(1, 128, 28, 128, 1, 1, 0)` | 58.991617 | 36.568366
| `(1, 128, 28, 256, 1, 1, 0)` | 67.684656 | 38.701075
| `(1, 256, 14, 256, 1

[2018-06-18 23:03] tqchen commented on #1276
I have modified the first post to list the actionable items. This issue is changed to WIP. @ajtulloch would you be interested in PR?

[2018-06-19 03:58] rajh619 commented on #1297
could you please share the link of your PR .

[2018-06-19 04:00] srkreddy1238 commented on #1297
https://github.com/dmlc/tvm/pull/1232

[2018-06-19 17:28] yzhliu commented on #1276
Thanks @ajtulloch Have you tried other kernel size? I'm curious whether assembly intrinsic can improve avx_common as well.

[2018-06-19 17:29] rajh619 commented on #1297
@srkreddy1238

I have converted only a fragment of alexnet tf model into onnx, containing the 'Shape' operator for easy debugging.
Below is my ONNX graph :

[code]
[code]
In my graph Attributes for 'Shape' is empty{} .  I see no attr['_input_shapes']  for op_type 'Shape'.
So i get following error :

[code]
So what does " %Shape:0 = Shape(%Conv2D__3:0)" mean ? how to feed Conv2D__3:0 as input for '

[2018-06-19 17:44] srkreddy1238 commented on #1297
You can't copy the function as it is, it's only a reference.

Can you share the ONNX graph ?

[2018-06-19 19:59] tqchen commented on #1275
close by #1298

[2018-06-19 19:59] #1275 closed

[2018-06-20 01:44] fumihwh commented on #1236
@pallabdatta Could you try #1300 ?

[2018-06-20 01:56] rajh619 commented on #1297
Hi please find the attached onnx file
[alexnet_fragment.zip](https://github.com/dmlc/tvm/files/2117508/alexnet_fragment.zip)

[2018-06-20 03:28] etaf commented on #1170
@tqchen The features you listed above are very attractive， may I know when the release 0.4 will be ready？

[2018-06-20 06:36] nguyenducthinhdl opened #1302 "[OpenCL][Mxnet] Error: Entry function 'fuse_conv2d_relu_7__kernel2' uses too much shared data"
Dear contributors,

I met an issue related to the OpenCL targeting with mxnet model on TVM processing:

This is message error:

Have you got any idea to resolve this trouble?

Thanks a lot

[2018-06-20 13:47] srkreddy1238 commented on #1297
@rajh619

I checked the graph and it's a bit different from tensorflow.
Tensorflow frontend has all the out_shapes for all nodes available hence the Shape operator is computed at frontend and made it as a param to graph.

We may need Shape as an operator from compiler / topi in this case.

@tqchen
Earlier assumption of output_shapes availability doesn't hold true for all frontends.
Do we implement

[2018-06-20 16:49] tqchen commented on #1302
please use https://discuss.tvm.ai/ for general support questions

[2018-06-20 16:49] #1302 closed

[2018-06-20 17:00] tqchen commented on #1291
One of the design consideration we need to think here is that whether the sparse storage specification should sit inside the Operation object, or should it be specified via memory layout, in which case it should be the Buffer object. Having a SparseBuffer might be better in such case

[2018-06-21 03:55] ajtulloch commented on #1276
@yzhliu it seems like it can - I did some experiments with simple im2col + gemm, using the tensorize + microkernel for the gemm. This has a geometric mean speedup (from the workloads in https://github.com/dmlc/tvm/blob/master/topi/python/topi/x86/conv2d.py#L16 and https://github.com/dmlc/tvm/blob/master/topi/python/topi/nn/conv2d.py#L24), of:

| Network | Speedup (geometric mean) |
| --- | -- |
|

[2018-06-21 04:01] srkreddy1238 commented on #1297
@rajh619

I further checked and here is my observation.

Tensorflow uses Shape operator to derive shape as a Tensor.
This Tensor is passed to next operators like Reshape as a Tensor argument for shape.

TVM Reshape operator doesn't support Tensor argument for shape (it's a tuple instead).
This shape operator is specific to tensorflow and onnx (not sure if onnx inherited from tensorflow for compati

[2018-06-21 15:27] rajh619 commented on #1297
@srkreddy1238  Thanks for the explanation .
I will try tensorflow frontend .But am mostly interested in ONNX front end ,as it is the open format for any deep learning model .Also i think it helps users to convert their DL models implemented in DL frameworks where there is no  frontend support available in  NNVM (like Caffe2/CNTK/Chainer models etc.) to ONNX  using converters

So maybe i have to wa

[2018-06-21 16:12] srkreddy1238 commented on #1297
I will PR the shape and reshape_like soon. I could enhance the tensor flow too with these.

[2018-06-21 16:13] ehsanmok opened #1308 "[DOC][Tutorial] How to write a pass in python"
@tqchen As part of roadmap v0.4, I'd like to write a tutorial on how to write a pass in python, but I'll need to know more details. Could you point me where to look for and what the goals are more specifically?

[2018-06-21 16:15] tqchen commented on #1308
@were @ZihengJiang may have more suggestions to provide. The goal is to understand how to do low level IR transformations, and related python function to do so.

Doing so a simple example task, like(mark a serial loop as parallel), or replace a pattern with intrinsic, would be a useful thing

[2018-06-21 16:28] tqchen commented on #1308
also cc @xqdan @libing4752

[2018-06-21 18:40] tmoreau89 opened #1309 "[CONTRIB] Moving nnvm/testing/download.py to tvm/contrib/download.py"
It would be useful to have a download utility under tvm/contrib similar to the one in nnvm/testing.

[2018-06-21 20:35] merrymercy opened #1311 "[AUTOTVM] Automated Operator Optimization"
This is the tracking issue for bringing auto-tuning module to tvm. The auto-tuning module is critical to the performance and portability of tvm.
Since this is a big change, I will send several PRs to complete the integration. Here is the roadmap.

### Step 1: Basic auto tuning infrastructure (#1312)
The core components to support auto-tuning in tvm:
- Template and space definition
- Measurement ex

[2018-06-21 22:40] #1309 closed

[2018-06-21 22:40] tqchen commented on #1309
cc @kevinthesun  #1313

[2018-06-22 00:09] kevinthesun commented on #1309
I'll move this in another PR.

[2018-06-22 02:13] yidawang commented on #1276
@ajtulloch I quickly tried your tvm-tulloch to reproduce the gemm results but failed. Can you rebase your code to the latest and make sure `python opt_gemm.py` would work? Thanks!

FYI, the errors I got are something like " Cannot find function tvm.contrib.cblas.matmul in the imported modules or global registry" and "Fail to load bitcode file gemmMxN__avx2.bc".

[2018-06-22 02:15] masahi commented on #1276
@yidawang you need to enable cblas during cmake.

[2018-06-22 02:43] yidawang commented on #1276
@masahi thanks! This fixed the first error, but the second one remains.

[2018-06-22 03:51] siju-samuel opened #1315 "[RFC][DEBUG]Support a debug framework for TVM Runtime"
**OBJECTIVE**
Support a debugging tool for TVM's computation graphs which helps to  access internal graph structures, ops, input and output values at TVM runtime.

In TVM's current computation-graph framework, computation after graph construction happens as part of Python function(`graphruntime.run`). Basic Python debugging tools such as pdb cannot be used to debug graphruntime.run because TVM's g

[2018-06-22 04:18] tqchen commented on #1315
cc @dmlc/tvm-team, please discuss this proposal, also cc @yidawang @jroesch

[2018-06-22 04:27] tqchen commented on #1315
First of all, it could be indeed helpful to introduce profiling mode into the runtime. There are two major comments that I would like to see improve on this design

## Zero Overhead
We should design the debug runtime/ or profiler to be zero cost, this means that we should not worry about it when it is switched off. That would likely mean we would need a common implementation with two subclasses of

[2018-06-22 05:23] yidawang commented on #1315
This sounds great! cc @mnuyens

[2018-06-22 05:46] liangfu commented on #1291
In my observation, if sparse storage is designed to sit inside a Operation object, there is a need to create a sparse buffer object. However, there would be too much work, and I think it is unnecessary to make sparse storage inside operation object at current stage.

Also, I think the main problem right now is that the output shape of `data`, `indices` and `indptr` are sometimes undetermined (e.g.

[2018-06-22 08:17] kun-zh opened #1316 "Unexpected result when I use compute_at"
The case is shown as below:

import tvm

A = tvm.placeholder((15,), name='A')
B = tvm.compute((15,), lambda i: A[i]+1, name='B')
C = tvm.compute((5,3), lambda i, j: B[i+j*5]*2, name='C')
s = tvm.create_schedule(C.op)
s[B].compute_at(s[C],s[C].op.axis[0])
print(tvm.lower(s, [A, B, C], simple_mode=True))

And I get the result as below:
produce C {
  for (i, 0, 5) {
    produce B {
      for (i, 0, 1

[2018-06-22 10:21] merrymercy commented on #1316
It is right. Although there are two axes with the same name `i`, tvm does not distinguish axes by name.
To avoid the name conflict, you can replace `i` with `k` in `B = tvm.compute((15,), lambda i: A[i]+1, name='B')`

[2018-06-22 15:28] ajtulloch commented on #1276
@yidawang you probably need to regenerate the .bc file with your current clang version (and ensure it’s in your $CWD?). `clang gemmxN__avx2.c -O3 -march=core-avx2 -emit-llvm -O gemmMxN__avx2.bc` or similar should work?

[2018-06-22 18:22] yidawang commented on #1276
@ajtulloch Thanks, setting $CWD works (with some warnings though, e.g. *** is not a recognized feature for this target. I didn't look into them yet). The performance looks promising! But looks like it only works for the matrix shape you gave?

[2018-06-22 19:06] pallabdatta commented on #1236
Thank you @fumihwh it works now..!!

[2018-06-22 20:56] tqchen commented on #1213
This issue can be closed as #1251 is merged. @were let us open another issues for the next stage working  items

[2018-06-22 20:56] #1213 closed

[2018-06-22 20:56] tqchen commented on #1185
closed by https://github.com/dmlc/tvm/pull/1157

[2018-06-22 20:56] #1185 closed

[2018-06-22 20:58] tqchen commented on #1170
Hybrid support first phase finished (#1213 )

[2018-06-22 20:58] #908 closed

[2018-06-22 20:59] tqchen commented on #908
close as basic ssd is checked in, the next steps are tracked in #1269

[2018-06-22 21:00] tqchen commented on #1316
Please raise this discussion question at https://discuss.tvm.ai/ @merrymercy seems to provide a reasonable answer,

[2018-06-22 21:00] #1316 closed

[2018-06-22 21:42] adityaatluri commented on #1276
Sorry I missed the party.
@eqy  Yes, assembly kernels are proven to be high performant than OpenCL or HIP kernels.
@tqchen I am working on generating microkernels which are llvm basic blocks, the kernel I am generating are using way more registers than it supposed to. The basic one for 4kx4kx4k gemm I am seeing 9TFLOPs on Vega64 (peak is 12). I have made few changes today to bring register count d

[2018-06-22 21:51] tqchen opened #1320 "[TOPI] Numpy consistency: always broadcast binary ops"
So far we have mixed support for broadcasting ops in topi. For example broadcast_add, broadcast_sub are broadcasting ops, while ops like left_shift, right_shift are somewhat restricted. We would like to improve numpy consistency and brings full support to broadcasting to binary ops as numpy did. Here are a few items that I would like to propose to make this happen.

This is **a non-backward compat

[2018-06-22 22:05] tqchen commented on #1320
cc @tmoreau89 @kevinthesun

[2018-06-22 23:44] tqchen opened #1322 "[TOPI] Migrate Vision Kernel from IRBuilder to Hybrid Script"
Now that hybrid script is merged in, we should start migrating the ir_builder code into the hybrid script.

- see [lanugage ref to hybrid script](https://docs.tvm.ai/langref/hybrid_script.html)

## Action Items
- [ ] Migrate vision code to use the hybrid script
- [ ] List possible problems on using the hybrid script and report back to the issue, when possible, fix it.

[2018-06-22 23:44] tqchen commented on #1322
cc @kevinthesun

[2018-06-22 23:49] #1320 closed

[2018-06-23 04:29] xqdan commented on #1316
that's not Kun talking about, the result is
[code]
however we are expecting
[code]

[2018-06-23 05:49] merrymercy commented on #1316
Because the range inference of `compute_at` only supports continuous layout.
To compute C, if we only support fetch a continuous range of B, then 11 = (3-1) * 5 + 1 is the minimum. So I say it is correct..

[2018-06-23 06:06] were commented on #1322
If there are any problems with this frontend, please feel free to ping me. I will fix it asap.

[2018-06-23 06:11] kevinthesun commented on #1322
Will try this out.

[2018-06-23 06:57] xqdan commented on #1316
I see, is it possible to support fetching with stride?

[2018-06-23 15:54] ajtulloch commented on #1276
@yidawang check out the nhwc-optimization branch in that repo, it has generic convolutions built on these microkernels (1x1 and MxN, arbitrary size/stride/padding) which have similar efficiency benefits.

[2018-06-23 16:12] tqchen commented on #1315
@siju-samuel please try to address these points by updating the design doc and post them in this issue.

[2018-06-23 17:23] tqchen commented on #1291
I think @eric-haibin-lin might have more ideas. Dynamic memory allocation could be necessary for sparse computations.
Also, [taco](https://github.com/tensor-compiler/taco) contains a lot of great ideas by @fredrikbk and we should adopt it in some way

[2018-06-23 17:29] tqchen commented on #1276
@ajtulloch would you be interested in contribute a PR to support the first part of the action item(as updated in the first post of this issue).

[2018-06-24 01:21] zwhdang commented on #1297
@srkreddy1238
Thanks for your explanation.
I just export the super_resolution.onnx by the latest version of pytorch(ebae3f) according to "http://pytorch.org/tutorials/advanced/super_resolution_with_caffe2.html". When I try the "from_onnx.py" in tutorials of nnvm, it fails with _NotImplementedError: Operator Shape not implemented_ too. So the 'Shape' operator may by a common demand for several ONNX

[2018-06-24 02:37] siju-samuel commented on #1315
WIP, will update soon

[2018-06-24 03:28] srkreddy1238 commented on #1297
@zwhdang
I further analyzed and here are some challenges around shape.
Implementing Shape is not a challenge but, the next operation after Shape is tricky.

For example Reshape receiving the "to shape" as an input Tensor cannot pass through compilation process in current framework.

I have seen Shape operator in Tensorflow and may be inherited into ONNX to keep the compatibility. But with TVM it's

[2018-06-24 03:42] masahi commented on #899
I have a very basic winograd working for CUDA and AMDGPU [here](https://gist.github.com/masahi/53e896bc5c990007ecf7aa04717c0705). Will try optimize batched gemm which is taking 96% of compute.

For AOT compiler like TVM, filter transform can be pre-computed during compile time. TVM Mali implementation doesn't do this, but it should.

[2018-06-24 03:45] zwhdang commented on #1297
@srkreddy1238
I just try the pretrained model of pytorch, such as AlexNet and ResNet, and the "Shape problem" appears multiply in tvm-onnx-frontend. So do you have any good suggestion for loading pytorch-onnx models? Thanks.

[2018-06-24 12:11] fredrikbk commented on #1291
Hi @liangfu and @tqchen,

Sparse matrix computations require dynamic memory allocation when the results are sparse, such as in e.g. sparse matrix addition, multiplication and element-wise multiplication.  For examples, you can use the code generator at http://tensor-compiler.org/codegen.html.  Just select matrix addition from the dropdown menu (three vertical dots), press general kernel, and selec

[2018-06-24 13:45] merrymercy commented on #899
I implemented some experimental cuda winograd with filter transform precomputed. The code is not very clean so I only keep it in my local branch.

ref (only compute definition, schedule is in a private repo):
https://github.com/merrymercy/nnvm/blob/winograd/python/nnvm/top/contrib.py
https://github.com/merrymercy/tvm/blob/winograd/topi/python/topi/contrib.py

To support pre-computing filter transf

[2018-06-24 14:55] masahi commented on #899
nice, I am hoping to push my winograd code to AMDGPU backend with necessary changes in NNVM soon. Later when you add cuda winograd, I can update AMDGPU winograd to be in sync with cuda one.

For AMDGPU backend, my basic winograd is already faster than existing direct conv, which uses cuda schedules as is.

[2018-06-24 16:10] tqchen commented on #1297
Seems most of the shape requirement was to achieve reshape_like, which we cold have a specialization path

[2018-06-24 16:12] #1223 closed

[2018-06-24 16:13] tqchen commented on #1223
https://github.com/dmlc/tvm/pull/1157

[2018-06-24 20:18] pribadihcr opened #1331 "android_rpc error"
HI,

I got error when build android_rpc
$:~/LIBRARIES/tvm/apps/android_rpc$ sudo gradle clean build

[code]

[2018-06-24 23:42] tqchen commented on #1331
please ask general  questions at https://discuss.tvm.ai

[2018-06-24 23:42] #1331 closed

[2018-06-25 02:39] nguyenducthinhdl commented on #1302
Many thanks for you @FrozenGene ,

I will refer your solution.

Regards

[2018-06-25 03:35] srkreddy1238 commented on #1297
I am thinking on below two approaches.

- We could have a an extra function in nnvm build_module some where after infer_shape and around optimize to convert Shape followed by Resize to drop Shape and update attributes for Reshape.

Or

- A new pass backed by a new node API like
               FConversion: which indicates converting this node to param node.
               FInferAttributes: which is

[2018-06-25 05:54] siju-samuel commented on #1315
After NNVM build, `tvm.contrib.GraphModule` object is created to interact with `runtime.graph.GraphRuntime`.
To enable the debug, instead of importing `from tvm.contrib import graph_runtime` user needs to import `from tvm.tools.debug.runtime import debugruntime`

[code]

It creates a `tvm.tools.debug.runtime.DebugGraphModule` which hold `tvm.contrib.GraphModule` object to interact with `runtime.gr

[2018-06-25 06:30] masahi commented on #899
@merrymercy for input transform, my IR dump is something like this
[code]

But ideally I want minimum amount of add and sub, and remove add by 0.0f. The desired code is something like [this ](https://github.com/gcp/leela-zero/blob/master/src/OpenCL.cpp#L158)

Is achieving minimal math possible with tvm? Same for inverse transform.

[2018-06-25 13:06] srkreddy1238 commented on #1297
Ref. https://github.com/dmlc/tvm/pull/1333 much simpler and better approach.

[2018-06-25 13:25] dayanandasiet opened #1334 "RPC Proxy upload failing to Android phone target"
RPC proxy upload failing on latest master, this is recent induced with Tracker design changes? any solution?
`user@user-VirtualBox:~/shared-windows7/work_nnvm/work_tvm/apps/android_rpc$ python tests/android_rpc_test.py
Run CPU test ...
Traceback (most recent call last):
  File "tests/android_rpc_test.py", line 74, in <module>
    test_rpc_module()
  File "tests/android_rpc_test.py", line 63, in te

[2018-06-25 18:09] adityaatluri commented on #899
Great work @masahi . Can you share your performance numbers?

[2018-06-25 18:13] ajtulloch commented on #1276
@tqchen sure, me (or someone I loop in) will work on that part.

[2018-06-25 20:00] masahi commented on #899
It is still preliminary, but I put some numbers [here](https://github.com/masahi/tvm-winograd/blob/master/README.md)

I'm sure there are many opportunity for improvement.

[2018-06-25 21:39] ajtulloch commented on #1315
This looks like a great direction. Even having a rough dump of time-per-stage (like Halide's) would be super helpful for performance tuning.

[2018-06-26 00:32] eqy commented on #1334
Are you using the tracker in this case? A tracker restart is required if the RPC proxy server was updated.

Otherwise can you link an example? (seems to work with and without tracker in my case)

[2018-06-26 02:21] tqchen commented on #1334
please move the general discussion to https://discuss.tvm.ai/

[2018-06-26 02:21] #1334 closed

[2018-06-26 03:44] tqchen commented on #1315
@ajtulloch are you asking for a different thing that this one? Since the current proposal was mainly about per step timing of an end to end graph, rather than per stage timing.

There are some useful ways to get the per stage timing. One way to do so is to use ```debug_skip``` region pragma to skip certain stages.

[2018-06-26 03:54] tqchen commented on #1315
@siju-samuel Thanks for the updated discussion. To follow-up on the points:
- We don't want the user to pay the size of the debug code when the debug is not used(affects the binary size of libtvm_runtime.so), here is a way to do so
    - Move the class definition of graphruntime into graph_runtime.h
    - Add graph_runtime_debug.cc, add class DebugGraphRuntime : public GraphRuntime;
    - Override

[2018-06-26 11:08] zwhdang commented on #1297
@srkreddy1238
I try this commit and the Shape problem disappears. However, another error occurs:
_NotImplementedError: Operator Slice not implemented._
Below is my ONNX graph :
[code]

[2018-06-26 11:32] srkreddy1238 commented on #1297
@zwhdang

This model need Slice , Squeeze and Unsqueeze (expand_dims) to get through.
recent days there are few operators added to topi but frontends are not updated.

I am working for tensorflow and onnx to start with. I will try to push these operators first to unblock you.
You may need to wait for a while :)

[2018-06-26 18:37] srkreddy1238 commented on #1297
#1339 for Squeeze and Unsqueeze.

[2018-06-27 01:43] #1236 closed

[2018-06-27 01:43] #1297 closed

[2018-06-27 08:16] abner2015 opened #1341 "/tvm/src/codegen/codegen.cc:27: Check failed: bf != nullptr Target llvm is not enabled"
when i run Deploy Single Shot Multibox Detector(SSD) model  follow  TVM tutorials, get the error :
`/tvm/src/codegen/codegen.cc:27: Check failed: bf != nullptr Target llvm is not enabled`

`[16:03:28] src/nnvm/legacy_json_util.cc:209: Loading symbol saved by previous version v0.8.0. Attempting to upgrade...
[16:03:28] src/nnvm/legacy_json_util.cc:217: Symbol successfully upgraded!
[16:03:28] src/n

[2018-06-27 09:05] ariwaranosai opened #1342 "find llvm include dir incorrect with some symbol in path"
File `FindLLVM.cmake` use regex following to extract llvm include dir. This will case error since other symbol (such as @) may exist in path. For me, include path is `/usr/local/Cellar/llvm@5/5.0.2/include`  with llvm install by homebrew.

[code]

why not get include flags with `llvm-config --includedir`?

[2018-06-27 10:09] abner2015 commented on #1341
solve:
compile python use the commend:
python setup.py install --user

if use the commend :
python setup.py install
you will get the error .

 i don't know the reason

[2018-06-27 11:16] PariksheetPinjari909 commented on #1341
cmake automatically identify LLVM path. In your case you can set the llvm-config path manually in config.cmake as below:
`set(USE_LLVM /usr/lib/llvm-6.0/bin/llvm-config)`

You can check the llvm-config is present at this location or not.

[2018-06-27 17:50] ariwaranosai commented on #1342
I'm glad to fix this.

[2018-06-27 18:06] rajh619 opened #1344 "Windows VS 2015 Build Error with current master"
Current master update creates build(link)  error  while compiling in Windows VS2015 .
Following is the error log :

[code]

[2018-06-27 18:09] adityaatluri commented on #1276
@tqchen got a version of micro-kernel generator working. I am seeing peak throughput (12TFLOPS) on vega64. I am making it a proper library now, code will be hosted [here](https://github.com/adityaatluri/redraptr)

[2018-06-28 01:25] abner2015 opened #1347 "Can i use my ssd model inference?"
can i change the model and json in the ssd demo?
if not , how can i do ?

[2018-06-28 01:37] abner2015 opened #1348 "SSD Model total running time of the script 120 seconds."
`from __future__ import absolute_import, print_function
import os
import zipfile
import tvm
import mxnet as mx
import cv2
import numpy as np

from nnvm import compiler
from nnvm.frontend import from_mxnet
from tvm.contrib.download import download
from tvm.contrib import graph_runtime
from mxnet.model import load_checkpoint
import time
model_name = "ssd_resnet50_512"
model_file = "%s.zip" % model_n

[2018-06-28 01:38] tqchen commented on #1347
please ask the general questions at https://discuss.tvm.ai/

[2018-06-28 01:38] #1347 closed

[2018-06-28 01:39] tqchen commented on #1348
please use https://discuss.tvm.ai/ for general discussions

[2018-06-28 01:39] #1348 closed

[2018-06-28 01:47] tqchen commented on #1344
Thanks for reporting this, please see if https://github.com/dmlc/tvm/pull/1349 fixes the problem

[2018-06-28 03:55] nj0904107027 opened #1353 "The elapsed time of set_input(data',....)"
I  test  yoloV2   on   RK3399    platform  using    mali   gpu  ,but The elapsed time  of   set_input(‘data’,...)
is about 5 second   when  I set new image .  I  wonder why  it  is so  slow 。

[2018-06-28 07:55] rajh619 commented on #1344
Yes #1349 fixes this issue . Now Build is successful .
Thanks.

[2018-06-28 10:01] PariksheetPinjari909 commented on #1353
Are you using darknet api to load the image? Please check, as the darknet api resizes the image. Can you provide a code snippet? That will help us to understand the issue.

[2018-06-28 14:57] #1344 closed

[2018-06-28 15:03] #1342 closed

[2018-06-28 15:06] tqchen commented on #1353
please use https://discuss.tvm.ai  for general discussions. Thanks!

[2018-06-28 15:06] #1353 closed

[2018-06-28 15:06] #1183 closed

[2018-06-29 12:14] siju-samuel commented on #1315
This will be taken as you said. I have done these modifications. Since the code is protected under compilation macro USE_GRAPH_RUNTIME_DEBUG, user need to change makefile,  build and install tvm again to enable the debug whereas in most other platforms, user can go to debug environment without much overhead.

1. GRAPH. Here we do not need any special format change for the graph.  curses_ux can dir

[2018-06-29 22:44] pvn25 opened #1359 "REMOVE_ITEM error with LLVM"
I'm trying to build TVM and related libraries on Windows Machine and I get this error:

-- Build with RPC support...
-- Build with Graph runtime support...
CMake Error at cmake/util/FindLLVM.cmake:21 (list):
  list sub-command REMOVE_ITEM requires list to be present.
Call Stack (most recent call first):
  cmake/modules/LLVM.cmake:5 (find_llvm)
  CMakeLists.txt:171 (include)

-- Build with LLVM
--

[2018-06-30 03:10] ljppro opened #1360 "Does TVM support multiple GPUs or multiple streams?"
Hi,

Just as title. In some cases, some compute nodes in a graph are not dependent on other nodes, so we can put two set of nodes into two CUDA streams and let them run in GPU independently.  Can TVM calculate how many independent computation set there are in the graph and put each set into different streams?

Thanks!

[2018-06-30 04:15] srkreddy1238 commented on #1360
We don't support now.

We could move this topic to discuss.tvm.ai

[2018-06-30 08:34] ljppro opened #1361 "Tutorial Compile the model on NNVM can't run"
Hi,
As title.

When I run this tutorial to:
# convert the keras model(NHWC layout) to NNVM format(NCHW layout).
sym, params = nnvm.frontend.from_keras(keras_resnet50)
# compile the model
target = 'cuda'
shape_dict = {'input_1': data.shape}
with nnvm.compiler.build_config(opt_level=2):
    graph, lib, params = nnvm.compiler.build(sym, target, shape_dict, params=params)
An error reported as:
-------

[2018-06-30 08:53] ljppro opened #1362 "Tutorial Compile Tensorflow Models can't be run on GPU"
Hi,

When I run this tutorial on target LLVM, it's OK. But if I set the target to cuda, it will report error. Does TVM 0.4 not support Tensorflow on GPU yet?

Thanks!

[2018-06-30 12:07] srkreddy1238 commented on #1362
Can you share the error log ?

[2018-06-30 14:17] #1360 closed

[2018-06-30 14:40] tqchen commented on #1359
please move discussion on installation to discuss.tvm.ai.

Your case could mean llvm is not available in your system, or something is wrong in the cmake build, it would be preferably if you can debug it a bit. E.g. add message(STATUS "LLVM_LIBS" ${LLVM_LIBS}) in https://github.com/dmlc/tvm/blob/master/cmake/util/FindLLVM.cmake#L21 to see what are the library.

It could be possible you didn't have

[2018-06-30 14:40] #1359 closed

[2018-06-30 14:42] tqchen commented on #1361
please move discussions to https://discuss.tvm.ai. This is due to keras compatibility issues, please upgrade the keras  to lastest

[2018-06-30 14:42] #1361 closed

[2018-06-30 15:46] alex-weaver opened #1363 "[DISCUSS][RFC] Static Destruction Order Problem"
A crash occurs when exiting the process when at least one vulkan device has been constructed. This appears to be due to the way static destruction order interacts with library unloading order on Windows (a similar issue appeared previously with NNVM).

The core of the previous issue, and seemingly the same issue here, is that when using static destructors in libraries, it is easy to run into a sit

[2018-07-01 05:19] ljppro commented on #1362
When run to this:
import nnvm.compiler
target = 'cuda'
shape_dict = {'DecodeJpeg/contents': x.shape}
dtype_dict = {'DecodeJpeg/contents': 'uint8'}
graph, lib, params = nnvm.compiler.build(sym, target, shape_dict, dtype=dtype_dict, params=params)

it reports:
---------------------------------------------------------------------------
NNVMError                                 Traceback (most recent

[2018-07-01 05:31] ljppro opened #1364 "Tutorial Compile Keras Models error"
Hi,

I want to raise this issue in discuss to https://discuss.tvm.ai, but it seems that after I open this page, it's only a blank page. So I still raise here.

I raise an issue (#1361) before. But after I update my keras, another error reported as:
keras_resnet50 = keras.applications.resnet50.ResNet50(include_top=True, weights=None,
    input_shape=(224,224,3), classes=1000)
keras_resnet50.load_we

[2018-07-01 05:48] tqchen commented on #1363
Unfortunately, static destruction order problem does occur in certain cases. There are several ways to alleviate this problem

- For resources that we can control, always obtain a shared_ptr of a global singleton you dependent on(so destruction happens after that).
- I do agree that having an eager destructor could help in certain cases, as long as the destructor itself is idempotent (if it is cal

[2018-07-01 05:51] tqchen commented on #1364
The error you were facing seems comes from keras and tensorflow, so not necessarily related to tvm itself. Maybe you want to upgrade your tensorflow building.

https://discuss.tvm.ai/ seems to be fine from my side, maybe you want to check your network settings and use that for future support problems

[2018-07-01 05:51] #1364 closed

[2018-07-01 06:30] masahi commented on #1362
NHWC layout is only supported on x86 backend.

[2018-07-01 08:20] alex-weaver commented on #1363
Having thought about this some more, I think that an eager destructor is necessary to resolve this issue. The issue is not just destruction order across statics in the project (although it is important to have a robust way of dealing with this), the issue is that, on windows at least, some libraries may be unloaded before others have their static destructors invoked, and AFAIK we cannot control th

[2018-07-01 13:07] ljppro commented on #1362
Hi masahi, (@masahi )
I was using "cuda" as target and set the GPU as following, instead of using x86 backend:
# Import the graph to NNVM
sym, params = nnvm.frontend.from_tensorflow(graph_def)

# compile the graph through NNVM
import nnvm.compiler
target = 'cuda'
shape_dict = {'DecodeJpeg/contents': x.shape}
dtype_dict = {'DecodeJpeg/contents': 'uint8'}
graph, lib, params = nnvm.compiler.build(sym

[2018-07-01 15:11] masahi commented on #1362
See the last error message. Your model is in NHWC format, which is not supported in cuda backend.

[2018-07-01 16:33] aswinjohn opened #1366 "undefined symbol in libtvm from NNPACK"
https://github.com/dmlc/tvm/blob/2693dad5aba64a181be87fdcee53df8b39e45311/cmake/modules/contrib/NNPack.cmake#L10

NNPACK_CONTRB_LIB must be NNPACK_CONTRIB_LIB

Else the error is :
  File "/home/XXX/anaconda3/lib/python3.6/ctypes/__init__.py", line 348, in __init__
    self._handle = _dlopen(self._name, mode)
OSError: /home/XXX/tvm/build/libtvm.so: undefined symbol: nnp_convolution_output

[2018-07-01 16:48] tqchen commented on #1366
nice catch @aswinjohn can you send a patch to fix this problem?

[2018-07-01 16:55] tqchen commented on #1363
if the eager destructor is not called automatically, the default destructor of these singleton object will get called, and will hopefully exit correctly given. I do agree that having an exit hook that calls into finalize is nice(although in certain cases this creates an additional burden on the user).

For drivers like CUDA, we can simply catch the error code saying the driver has been unloaded an

[2018-07-01 17:21] alex-weaver commented on #1363
Ah - I wasn't specific before but the error raised when calling vkDestroyDevice is an access violation, not a catchable exception. This was because the vuklan API library had been unloaded by the OS before TVM's static destructors were called.

This means that any cross library function calls in static destructors can potentially cause an un-catchable error, and I'm not sure there is a safe way to

[2018-07-01 18:27] solderzzc opened #1367 "[Tensorflow][Frontend] Sigmoid is not supported"
The sigmoid activation is not supported in tensorflow nnvm frontend:
[code]

[2018-07-01 22:34] tqchen commented on #1366
thanks @aswinjohn for the patch closed by #1368

[2018-07-01 22:34] #1366 closed

[2018-07-02 02:50] srkreddy1238 commented on #1362
NHWC is not suitable for CUDA. Tensorflow could support CUDA as long as the layout is NCHW.

[2018-07-02 09:15] chinakook opened #1375 "Can tvm support merge Conv and BN layer?"
We can merge Conv layer and sequent BN layer to a single Conv layer with bias. It's more efficient especially when doing inference on CUDA cards.

[2018-07-02 11:16] masahi commented on #1375
Layer fusion is done by nnvm. See the relevant tutorial [here](https://docs.tvm.ai/tutorials/nnvm/using_external_lib.html#create-a-simple-network).
Conv + Bias + BN + Relu can be fused into a single kernel.

[2018-07-03 03:05] tqchen commented on #1315
@siju-samuel The general proposal looks good. A few minor comments

- Let us put debugger at ```tvm/contrib/debugger```, the location can be moved once the
- The ux can be put under ```tvm/contrib/debugger/curses```

Marking this RFC as WIP, as we have a good step forward. When opening PR, please list detailed actionable items, and include regression test cases for the components

[2018-07-03 03:08] tqchen commented on #1362
close this for now, as the original question is answered, please move followups to https://discuss.tvm.ai/ Thanks all the people who are involved in the discussion!

[2018-07-03 03:08] #1362 closed

[2018-07-03 03:11] tqchen commented on #1315
@jroesch  have some interesting thoughts on how to use pdb on TVM runtime, @jroesch can you comment on that?

[2018-07-03 03:35] tqchen commented on #1363
I think it makes sense to have eager idempotent destructor. But we do also want to be compatible with cases when TVMFinalize is not called, as it works for some cases depending on how good the driver is.

So a good middle ground could be support TVMFinalize and encourage a user to use it in runtime, while still support the old use case

[2018-07-03 07:45] alex-weaver commented on #1363
I don't think that will work as a solution; since we cannot be sure (AFAIK) when a static destructor is running whether any other DLL has been unloaded from the process' address space then making cross library calls is undefined behaviour.

It so happens that this works on linux, but this is implementation dependant.

This goes for any cross library calls - in this case it is tvm->vulkan but befor

[2018-07-03 07:52] liangfu commented on #1291
Hi @fredrikbk , thanks for your explanation. I think we should refer to [taco](http://tensor-compiler.org) for the code generation part in tvm, especially for the unified sparse tensor structure. However, we would very likely to support the runtime for cuda, opencl and many other backends, therefore I think it is necessary to implement code generation in tvm.

In my observation, there are two cate

[2018-07-04 02:19] tqchen opened #1379 "[TUTORIAL] Tutorial for tensorize"
Tensorize has been used in several places throughout the project but not very clearly documented, we will need one or a few tutorials in demonstrating what it is and how can be use it to run micro kernels etc.

[2018-07-04 02:38] solderzzc commented on #1367
It isn't. Let me close it.

[2018-07-04 02:38] #1367 closed

[2018-07-04 06:52] titikid commented on #525
@ma-xiaodong i couldn't access to your file: [https://github.com/ma-xiaodong/tvm_tuning/blob/master/02_conv_order.py](url), can you update the link?

[2018-07-04 06:55] titikid commented on #1302
@FrozenGene thanks for your information. But i think the fuse function here use too much memory (~111kb) so we need to reduce array size as ur suggestion. Can you share the way you tune your model in detail?

[2018-07-04 22:30] tmoreau89 commented on #1379
I think it'd be a good idea to incorporate an ARM example with a bit-serial tensor kernel.

We can also use a VTA tensorization example, but the tutorial will be less straightforward. @cowanmeg  - do you think we can put one together with your ARM bit-serial kernel, including the definition of the tensor intrinsic?

The only issue I see at the moment is that this tutorial will have to execute on A

[2018-07-05 00:56] yzhliu commented on #1379
I feel tutorial on cpu is also good enough for demonstrating. I can help with that.

[2018-07-05 04:28] were opened #1384 "[FRONTEND] [HYBRID] Support schedule interfaces on hybrid script"
I have an ongoing PR(#1382), which has a hacky support on manipulating IR through some IR transform passes.

@tqchen suggested that I should refine it to make it able to reuse `compute.op`-like data structures. Then my solution comes to build some kind of op node between `compute.op` and `extern.op`, which supports: `split`, `loop_type`, `pragma`, `reorder`, and `bind` schedules.
[code]

Points to

[2018-07-05 05:59] ma-xiaodong commented on #525
@titikid My example is too old, so I remove it. TVM already has good example.
https://github.com/dmlc/tvm/blob/master/topi/python/topi/cuda/conv2d_hwcn.py

[2018-07-05 06:10] titikid commented on #525
@ma-xiaodong i see. Anyway, after use smaller split factor in conv2d_nchw.py as your hint i could solve my issue related to openCL. Thank you

[2018-07-05 14:30] shamanqing opened #1386 "devc.cc:13549:1: error: narrowing conversion of ‘150’ from ‘int’ to ‘char’ inside { }"
I build tvm refer to  https://docs.tvm.ai/install/index.html#build-the-shared-library using ubuntu 18.04, llvm-5.0, cuda 9.2, and run the tutorial https://docs.tvm.ai/tutorials/nnvm_quick_start.html#, when in step "Save Compiled Module" get this error:

---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call

[2018-07-05 16:05] tqchen commented on #1386
This have something to do with your C compiler library. Please try to print the dev.cc in here https://github.com/dmlc/tvm/blob/master/python/tvm/module.py#L110

and see if the resulting code can be compiled with your default g++. In the future, please raise these discussions in https://discuss.tvm.ai

[2018-07-05 16:05] #1386 closed

[2018-07-05 16:06] tqchen commented on #1384
@were Can you post a complete code example so we can start discussing the API?

[2018-07-05 16:07] tqchen commented on #1308
@were would you be interested in this?

[2018-07-06 14:59] aswinjohn opened #1391 "AttributeError: ‘Model’ object has no attribute ‘output_layers’ in nnvm/frontend/keras.py"
https://github.com/dmlc/tvm/blob/941f684614bb643258986fff256f1310587471b3/nnvm/python/nnvm/frontend/keras.py#L526

Google cached solution: https://webcache.googleusercontent.com/search?q=cache:E4rBauh661UJ:https://discuss.tvm.ai/t/compile-keras-model-issue-report-and-solution-included/256+&cd=1&hl=en&ct=clnk&gl=us

outsym = symtab.get_var(model._output_layers[0].name + ':0')
must be
outsym = symta

[2018-07-06 16:02] kazum commented on #1391
Which backend are you using for Keres?  As I wrote in the link, TVM supports Keres with the tensorflow backend only for now.  See also #1392.

Anyway, I think further discussion should be moved to https://discuss.tvm.ai/ .

[2018-07-06 16:08] tqchen commented on #1391
This is mainly due to keras versions, if you update to latest keras version it should be fine

[2018-07-06 16:08] #1391 closed

[2018-07-06 16:10] aswinjohn commented on #1391
Using TensorFlow backend and keras-2.2.0

[2018-07-06 18:13] tqchen opened #1394 "History Rewriting to remove SGX Private Key"
## Instruction to sync to master after rewrite

If you do not have local changes, you can simply do ```git reset --hard [HASHTAG-OF-NEW-HEAD]```

Please use the following commands
[code]
Here ```e316f03d2d2e0c06019b6d026b9696b7d3f67b8d``` is the hashtag of the head before fiilter. The last command will take the commits between ``e316f03``` and your head and apply it to the upstream/master's HEAD

[2018-07-06 18:13] tqchen commented on #1394
@dmlc/tvm-team

[2018-07-06 20:34] wangshangsam opened #1395 "Undefined symbol: cudaGetDevice"
https://discuss.tvm.ai/t/solved-undefined-symbol-cudagetdevice/425/4

[2018-07-06 20:34] wangshangsam commented on #1395
Assigned to myself.

[2018-07-06 21:04] wangshangsam commented on #1395
https://github.com/dmlc/tvm/pull/1396

[2018-07-08 07:34] ANSHUMAN87 opened #1399 "when run tvm deploy app on android, exception at jni_helper_func.h:182"
I am trying to load tvm on android, by generating tvm android deploy app.
But when i load the  module (deploy.so), i get exception  at jni_helper_func.h:182.

Please help me resolve the issue , Thanks.

[2018-07-08 08:36] srkreddy1238 commented on #1399
Could move this to general discussion.

Also please share more details of the exception.

[2018-07-08 17:02] tqchen commented on #1308
pass means transformations between IRs, so these are approperiate @were

[2018-07-08 17:04] were commented on #1308
OK. Then essentially, what we want on the tutorial becomes how to gather information via IR and how to transform the IR.

[2018-07-08 17:47] tqchen commented on #1399
move to https://discuss.tvm.ai/

[2018-07-08 17:47] #1399 closed

[2018-07-08 18:29] alex-weaver commented on #1394
Regardless of whether this is actually carried out or not, I think the most important thing is (if possible) add a check to the CI build to prevent security keys from ever being merged in the future. This would at least prevent needing to make this same decision again.

[2018-07-09 02:48] yzhliu commented on #1394
Agree with @alex-weaver that we should add checker to CI.
Personally I support to remove the key file from history since this can confuse people who are sensitive to security and we may lose our potential users.

[2018-07-09 21:20] tqchen opened #1411 "[TUTORIAL] Tutorial for Vision Operators"
now that #1095 and #1397 is added, we have a comprehensive set of vision operators in topi. It would be great if we can write a tutorial for these operators

[2018-07-09 21:21] tqchen commented on #1411
cc @zhreshold @Laurawly @kevinthesun

[2018-07-09 21:21] tqchen commented on #1269
@kevinthesun can you revisit and update the status of this issue?

[2018-07-09 21:40] Laurawly commented on #1411
@tqchen Since @kevinthesun has a tutorial here: https://docs.tvm.ai/tutorials/nnvm/deploy_ssd.html#sphx-glr-tutorials-nnvm-deploy-ssd-py
Should I update this one for the GPU SSD or write a new one?

[2018-07-09 21:52] tqchen commented on #1411
We just have to update https://docs.tvm.ai/tutorials/nnvm/deploy_ssd.html#sphx-glr-tutorials-nnvm-deploy-ssd-py to introduce GPU SSD.

What I mean, however, is the topi library calls, like https://docs.tvm.ai/tutorials/topi/intro_topi.html#sphx-glr-tutorials-topi-intro-topi-py, instead of the nnvm ops.

[2018-07-09 22:01] mnuyens commented on #1394
This doesn't remove all cases, it also needs to be removed from the history of the python file.

I'm working on prepping a branch that has it removed as well.

[2018-07-09 22:13] tqchen commented on #1394
@mnuyens can you comment which specific python file that we need to remove?
It would be great if you can help to update https://gist.github.com/tqchen/ca5f1b898e27035621130d87aa9bebaf to be the one that contains the correct form

Because the master branch is still evolving, we will need an automatic script to do the filtering

[2018-07-09 22:35] kevinthesun commented on #1411
@tqchen You mean adding a section named "vision operators" into that tutorial?

[2018-07-10 11:32] FrozenGene opened #1414 "[Optimization] Apply multi times apply passes will result in check shape error"
This is the reduced case from real model leveraging test_fold_scale_axis.py

[code]
The problem is the second time. Will result in:

Traceback (most recent call last):
  File "/Users/blue/Documents/dev/tmp/tvm/nnvm/python/nnvm/_base.py", line 75, in check_call
    raise NNVMError(py_str(_LIB.NNGetLastError()))
nnvm._base.NNVMError: [19:28:33] /Users/blue/Documents/dev/tmp/tvm/nnvm/src/top/nn/convo

[2018-07-10 13:29] FrozenGene commented on #1414
I find here:

conv_weight = conv_weight * sym.expand_dims(in_scale, axis=1, num_newaxis=2) ===> 2 becomes 3 can pass. My real situation occurred in the fold_scale_axis's optimization, which also can 'expand_dims' and has the same problem.

[2018-07-10 16:12] mnuyens commented on #1394
We don't need to remove a whole file just some lines from apps/sgx/prepare_test_libs.py.
I'll test out changes to the command today and upload one that I think works along with a example branch that I've run the command on to confirm that it still keeps everything the way it should be.

[2018-07-10 23:30] mnuyens commented on #1394
Here is my command that both removes the pem file and removes the necessary lines from apps/sgx/prepare_test_libs.py: https://gist.github.com/mnuyens/78deb8c9ad3df0070e0514ce62717659. I'll update with the new branch once I get that up.

[2018-07-10 23:35] mnuyens commented on #1394
Here is the branch I've made a sample: https://github.com/mnuyens/tvm/tree/revised. I'm going confirm with the security team that this solves any problems and will update with confirmation once that's done.

[2018-07-11 09:12] qingyuanxingsi opened #1419 "C++ Inference Failed"
**Error Message:**

`tvm/src/runtime/module.cc:58: Check failed: f != nullptr Loader of (module.loadfile_so) is not presented.
terminate called after throwing an instance of 'dmlc::Error'
  what():  [16:49:05] tvm/src/runtime/module.cc:58: Check failed: f != nullptr Loader of (module.loadfile_so) is not presented.
`

Reproducing step:
1. Get the pretrained resnet18 model and dump the necessary fil

[2018-07-11 09:36] srkreddy1238 commented on #1419
What is your argument for LoadFile ?

You could move this general discussion to discuss.tvm.ai

[2018-07-11 10:05] qingyuanxingsi commented on #1419
@srkreddy1238 **resnet18_deploy.so**, as output from the above python script, I have also post a question in [here](https://discuss.tvm.ai/t/how-to-build-tvm-as-static-library-and-inference-using-c/453), feel free to close this issue if *discuss.tvm.ai* is better

[2018-07-11 10:43] srkreddy1238 commented on #1419
Replied on discussion forum.

I can't close this here. You should be able to :)

[2018-07-11 12:42] rajh619 opened #1420 "[TOPI] Conv2d Schedule for Intel HD Graphics Target fails and produces wrong output"
nnvm.compiler.build()  fails for intel_graphics target.
sample model [https://s3.amazonaws.com/download.onnx/models/opset_3/resnet50.tar.gz](url)
error log
[code]
call stack hits from here :
https://github.com/dmlc/tvm/blob/fd1a572058aef5a07e1e1032e26e67fe1906f9b2/nnvm/python/nnvm/top/nn.py#L169-L170

https://github.com/dmlc/tvm/blob/fd1a572058aef5a07e1e1032e26e67fe1906f9b2/nnvm/python/nnvm/top/nn

[2018-07-11 21:34] Laurawly commented on #1420
@rajh619 Are you using opt_level= 3? It seems that recent PRs have changed the layout transferring api. I haven't update accordingly yet. But it should work for opt_level = 2. I have tested on Intel Graphics HD500. Also which hardware are you running on?

[2018-07-12 07:55] rajh619 commented on #1420
@Laurawly   Yes you are correct ,i was using opt_level=3 .
I have tried it with opt_level=2 and found it is working . but as i said before while using opt_lvl=2 , the prediction accuracy changes a lot , which is a major concern as the output changes !

I have a test script to test [here](https://gist.github.com/rajh619/bbcbb2e776c7c24a016bb61bf1a2d156) . If i set target='opencl'  the prediction is

[2018-07-12 13:50] avlechen opened #1425 "Unable to compile VGG16 from keras.applications"
I have ran example from keras tutorial with resnet50 and it worked great. But after that I decided to try different model from keras and it failed. The minimal snippet to reproduce the error:

[code]

The error I get:

I use keras=2.2.0 and conda=4.5.5 on MacOS 10.13.5

[2018-07-12 15:27] Huyuwei commented on #1425
@avlechen I tried VGG16, it works fine with cuda target. Can you update tvm to the latest?

General questions can be moved to https://discuss.tvm.ai/

[2018-07-12 15:33] Huyuwei commented on #1425
@avlechen It should be input_1. Maybe this is the reason.

[2018-07-12 18:31] Laurawly commented on #1420
@rajh619 What's your hardware specification? I tested both the performance and accuracy on Intel HD graphics  500 and there's no problem on that hardware.

[2018-07-12 18:45] tqchen commented on #1420
@rajh619  the community will always trying to solve the problem together, be it on forum or issue ;) The forum is preferred because issues are for actionable items we aggressively close issues and expect issues to be active actionable items that can get closed in an expected time span (so we won't have pile of  issues that get missed).

[2018-07-12 18:45] tqchen commented on #1425
Thanks @Huyuwei for answering the question, please move further discussion to https://discuss.tvm.ai/

[2018-07-12 18:45] #1425 closed

[2018-07-12 22:04] tqchen commented on #1194
@nhynes can you act on this issue?

[2018-07-12 22:05] tqchen commented on #1170
https://tvm.ai/2018/07/12/vta-release-announcement.html #1423

[2018-07-12 22:51] masahi commented on #1420
@rajh619 can you check if [_alter_conv2d_layout for intel HD](https://github.com/dmlc/tvm/blob/master/topi/python/topi/intel_graphics/conv2d.py#L40) is running when you turned opt level 3? I think instead of this, x86's _alter_conv2d_layout is running. This is the cause of the bug.

[2018-07-13 00:59] tmoreau89 commented on #1379
Did we agree on who would get started on the CPU tensorization tutorial @yzhliu @cowanmeg ?

[2018-07-13 03:12] rajh619 commented on #1420
@Laurawly  my hardware specs are : iGPU -Intel HD 4600 and CPU is - intel core i5 (4590s) ,8GB .

Using  opt_lvl=2 , the accuracy changes .
I have tried the resnet50 model mentioned below :
https://s3.amazonaws.com/download.onnx/models/opset_3/resnet50.tar.gz

you can load the model and check the change in  accuracy with this script :
https://gist.github.com/rajh619/bbcbb2e776c7c24a016bb61bf1a2d15

[2018-07-13 12:49] rajh619 commented on #1420
@Laurawly  I have an update :
I tested in Intel HD Graphics 520 .The prediction is correct  for opt_lvl =2 .
Also i modified the code , to use opt_lvl =3 ,and the prediction is correct.
The problem i think is ,  I was using Intel HD 4600  which is not  "Intel® Processor Graphics Gen9" category . Also i can see improvement in performance too !
It will be great if schedules for other operations like

[2018-07-13 17:16] cowanmeg commented on #1379
Yes, sounds good!

[2018-07-13 18:51] #1420 closed

[2018-07-13 18:52] tqchen commented on #1420
Thanks for all the discussions, this issue is closed, let us move further discussions to the forum

[2018-07-14 19:10] alex-weaver opened #1433 "[RFC] Android RPC service performance issues"
Using a service process for RPC in Android is causing significant performance regressions (approximately by a factor of 3 on my test device).

@merrymercy identified the watchdog process commit as the cause in #1426
The service/watchdog process was added in #1387

I've confirmed that on my device performance returns to its previous level if I roll back `MainActivity.java` to before the service/wat

[2018-07-14 19:44] alex-weaver commented on #1433
That sounds great :)

Bringing the RPCProcessor back into the activity will definitely resolve the issue, I've just been digging into this because it's somehow unsatisfying without knowing why it was broken in the first place!

[2018-07-16 05:19] joyalbin commented on #1242
@tqchen, Someone already working on this? or any conflict with relay related works going on?
How about fusing graph nodes with different device placement, this has to avoid?
I am interested to take up this.

[2018-07-16 05:48] zheng-da commented on #1242
@tqchen It seems to me that the subgraph approach currently developed in MXNet can fit well for the heterogeneous execution.
https://cwiki.apache.org/confluence/display/MXNET/Unified+integration+with+external+acceleration+libraries
We might need to allow users to specify what device an operator should run.
What kind of target hardware are you thinking about? A machine with one type of accelerators

[2018-07-16 09:38] Youjk opened #1438 "[tensorize] tensorize after reorder will be wrong"
xal1, xbl1, xcl1 = s[CL].op.axis
s[CL].reorder(xbl1, xcl1, xal1)
s[CL].tensorize(xal1, concat_intrin)

S[CL] is 3-dim,intrin input tensor is 1-dim

when run the code ,it will check failed:
    for (size_t i = 0; i < e.start; ++i) {
        CHECK(is_one(e.region[i]->extent))
            << "Tensorize " << intrin->name << ":"
            << " Input dimension mismatch with tensor intrin "

[2018-07-16 15:38] zhiics commented on #1242
@tqchen @joyalbin @zheng-da I have actually started working on the step one. The current graph partitioning approach is based on the one developed in MXNet.

[2018-07-16 16:49] nhynes commented on #1194
hrm.. the current best way to use TVM in SGX is via Rust. The C++ is still segfaulting for unknown reasons. I could _try_ to update the C++ version, but it's not the preferred interface imho. How would you like to proceed?

[2018-07-16 18:12] tqchen commented on #1194
Let us update the c++ interface to make sure it is complete

[2018-07-16 18:14] tqchen commented on #1438
please give more details and move this discussion to the forum http://discuss.tvm.ai/

[2018-07-16 18:14] #1438 closed

[2018-07-16 20:46] adityaatluri commented on #1170
Here are some items that I would like TVM to have.
1. Debug log: Tensorflow captures log level from env variable and emit what functions being called. Having this can help understand issues better.
2. Performance log: As TVM is focused on inference, having a performance log across different function calls can help understand bottlenecks not only in the compiler, but also the runtime.

[2018-07-16 21:45] tqchen commented on #1394
@mnuyens can you confirm if your script works?

[2018-07-16 22:03] tqchen commented on #1242
@zhiics this sounds awesome, do you want to provide more details, feel free to post discussions here

[2018-07-17 00:05] tqchen commented on #1276
@ajtulloch what is the status on this? If you haven't started yet, I may have some free cycles to get it in this week.

[2018-07-17 16:41] yzhliu commented on #1379
@cowanmeg would you like to contribute the tutorial? or I can start to work on it from this weekend.

[2018-07-18 15:30] cowanmeg commented on #1379
I have some time this week too. My example is for adding an ARM microkernel, but it would be great if you have an x86 example so that people can run it.

[2018-07-18 22:19] zhiics commented on #1242
@tqchen The basic idea is to partition a computational graph into a bunch of subgraphs according to some rules. Each subgraph, therefore, contains a number of nodes. These subgraphs will be compiled into modules individually, potentially each one could be for a specific device. In the end, each module will be executed using tvm runtime. Any suggestions or comments will be appreciated.

[2018-07-18 23:22] tqchen commented on #1242
I see, I was thinking a more basic way, to extend the runtime a bit with a context field, and insert cross device copy, so the final evaluation still runs on a single graph, but each entry can use different context

[2018-07-19 02:10] reminisce commented on #1242
If the purpose is for executing different nodes on different devices, I think @tqchen 's method is more suitable. It would be similar to using context group in `simple_bind` in MXNet.

The subgraph method developed in MXNet is mostly for executing the subgraphs of a nnvm graph using different accelerators, such as TVM, MKLDNN, and TRT. Each accelerator can take an nnvm subgraph and applies operato

[2018-07-19 03:55] srkreddy1238 commented on #1242
@zhiics building individual modules lead to many outputs which complicates the deployment. inserting a context field make it more transparent to user.

[2018-07-19 04:13] jackwish commented on #1242
Really interesting topic! I have once developed similar mechanism in caffe for an accelerator (could be one of the fast ones in this plant currently :) ).

Personally, I think it would be cool if there were *generic graph* for every backend device - especially when you are talking about *Heterogeneous Execution*. Basically, accelerator drivers only handle *generic* neural networks interfaces - one

[2018-07-19 04:58] junrushao1994 commented on #1242
I believe @tqchen's solution should be the most suitable and (also the most general) one. Do program slicing and synchronize only necessary data is proven promising.

Suppose we have a higher-level IR and its interpreter (probably with JIT), and this IR also supports program slicing by reusing some simple type inference system. Is it worth discussing the advantages and disadvantages between synchr

[2018-07-19 12:57] feng98 opened #1454 "get shapeInfo in ARM project using C++ interface"
The ARM project need shape information of input data, so that have flexible parameter configuration. Is there any other convenient way to get the shape information of input data when use runtime in ARM?
@tqchen @merrymercy

[2018-07-19 13:01] srkreddy1238 commented on #1454
I feel we should have an graph runtime API just to query input and output dimensions.

@tqchen what do you think ?

[2018-07-19 16:49] zhiics commented on #1242
Thank you all for sharing. We (@yidawang @yzhliu ) also thought about @tqchen 's solution. It's a very nice and generic approach. But we think it is also helpful to keep another hierarchy for optimization and deployment on different devices. I agree that dividing into modules may lead to multiple outputs sometimes. But we could provide some wrapper to make the process of module build and deploymen

[2018-07-19 16:57] zheng-da commented on #1242
I think this task has two parts. The first task is to compile part of a graph for a particular device. I think the simplest way is to partition the graph into subgraphs so that we can reuse everything TVM has right now to compile individual subgraphs. Without partitioning, graph-level scheduling search can be difficult.
The second task is to execute the graph. I think both solutions work. @tqchen'

[2018-07-19 17:12] tqchen commented on #1242
I agree with @zheng-da thought on having two mindshares on this:
- Runtime: Think of what do we need for runtime(this case like bytecode), we want a minimum design that can be deployed
- Compiler: Think of what needs to be done for optimizations, this case might benefit a bit handling of hierarchy etc.

 I am advocating for the simple context-based method on the runtime side, regardless of how com

[2018-07-19 22:49] tqchen commented on #1433
https://github.com/dmlc/tvm/pull/1457

[2018-07-20 03:41] tqchen commented on #699
supported by #1413

[2018-07-20 03:41] #699 closed

[2018-07-20 03:48] tqchen commented on #1433
close this for now as @merrymercy confirmed that the performance regression is fixed by #1457 @alex-weaver it would be great if you can also verify independently

[2018-07-20 03:48] #1433 closed

[2018-07-20 04:22] jackwish commented on #1242
@junrushao1994 still in confidential. Also, caffe is so lightweighted that we simply feeds abstracted networks data into underlying device driver without any optimization that TVM does. The driver itself handles optimization, compiling, running.

My point is, when we are talking about something like interface or heterogeneous, the abstracted description passed from *high level* to *low level* shou

[2018-07-20 04:45] kevinthesun commented on #1242
@jackwish My understanding for this problem is that we might want to keep abstract graph for compiler so that different optimizations can be done easily for heterogeneous devices, but not necessarily for runtime. Since we might not want to execute these subgraphs individually, a wrapper to pack all subgraphs and data flow information is what we want for runtime. I think both solutions will work, b

[2018-07-20 05:33] junrushao1994 commented on #1242
@jackwish I am not sure if my understanding is correct. Are you referring to [program slicing](https://en.wikipedia.org/wiki/Program_analysis#Program_slicing), which is the solution in [TensorFlow Swift](https://github.com/tensorflow/swift/blob/master/docs/GraphProgramExtraction.md#adding-hostgraph-communication) for synchronizing data between different devices?

For example, the compiler knows th

[2018-07-20 15:06] jackwish commented on #1242
@kevinthesun Thanks for your explanation. I know exactly that TVM aims to provide generic optimization regardless the backend device, and I was very excited when I got to know this. However, when it come to practice, especially in context of this *heterogeneous execution* issue, the primitives of the backend is mostly inconsistent across different devices. What I am trying to say is that, yes we c

[2018-07-20 15:51] tqchen commented on #1242
To be clear, the simple context-based approach works for multiple devices mentioned by @jackwish , including cases that do not fall back to CPU.  What we can do is to annotate the context for each node.

The only "drawback" of not introducing subgraph abstraction is that subfunction might be helpful to do things with recursion(which we do not consider). Note that even if we introduce subgraph abst

[2018-07-20 22:56] mnuyens commented on #1394
Still working with to security to confirm sorry for the delay.

[2018-07-21 01:10] clouds56 opened #1469 "Attribute FTVMCompute has not been registered for Operator _max_pool2d_grad"
Is there any plan for this?

I'm willing to help here but don't know where to start.
Should we add some ir_operator like argmax?

[2018-07-21 03:09] jackwish commented on #1242
@tqchen Yes, the execution can be done on different devices for both solution. Device drivers don't need to know the *context semantic* as it receives a graph and execute it in the subgraph approach.

A subgraph approach is not necessarily to have a recursion behavior. Say, we get a graph, we partition it into several subgraphs - the module, which holds subgraphs, is simply an executor. The master

[2018-07-21 03:42] tqchen commented on #1242
Good discussion and contributions are always welcomed @jackwish

[2018-07-21 04:48] tqchen commented on #1454
Sorry for delayed reply here, yes we want to add runtime interface to query the shape. The real question is what should it look like.

- We could directly create an API that returns a tensor(ndarray) reference
    - Need to change the runtime
    - Do not work across the RPC boundary
- Create an information query function that returns dimension and each value of the shape
   - Need additional fron

[2018-07-21 13:44] srkreddy1238 commented on #1454
I vote for second option(frontend wrapping) to keep it common and available every where.

[2018-07-21 17:20] tqchen commented on #1469
We will need to add tvm implementation of _max_pool2d_grad, if you open a discussion thread at https://discuss.tvm.ai/, we can check what can be done.

[2018-07-22 06:07] kevinthesun commented on #1454
Vote for 2 for RPC support.

[2018-07-22 21:16] kazum commented on #1454
+1 for the second one, for the same reason with @srkreddy1238 and @kevinthesun.

[2018-07-23 08:50] feng98 commented on #1454
I vote for the second one.

[2018-07-23 11:05] liyb13 opened #1475 "Timing violation for vta hardware implementation!"
Hello there, I clone this repository and compile the hardware design "/tvm/vta/hardware/xilinx/". It successfully generate the bitstream but the timing closure is not satisfied. It reports WNS and TNS are -1.601,  -1198.534 respectively. My synthesis and implementation keep the default settings unchanged.

[2018-07-23 16:55] tmoreau89 commented on #1454
Same, option 2 - it's best to keep the RPC stable.

[2018-07-23 16:58] zhreshold commented on #1454
+1 for option 2.

[2018-07-23 18:16] tqchen commented on #1475
please open a new thread at http://discuss.tvm.ai/ :) and i think the community will be more than happy to answer the question

[2018-07-23 18:16] #1475 closed

[2018-07-23 18:45] zhiics commented on #1242
Thanks for all inputs. After more discussions, we think it would be more convenient for runtime to take a single graph because 1) there are usually not that many devices on a single machine in practice, 2) compiling each subgraph and executing them individually would require the construction of the subgraphs in a way to keep their correct execution order. It does complicate the design and runtime.

[2018-07-23 18:51] #1469 closed

[2018-07-24 03:08] srkreddy1238 commented on #1454
What would be the final return for get_input_info ?
How packed function args & return values ? receives: (name, field, index ) return : (integer) ?

Hope there would be similar for "get_output_info" too ..

[2018-07-24 06:40] FrozenGene commented on #1414
The reason is FoldScaleAxis doesn't support convolution with groups (including depthwise conv2d) currently. The fix can be done modify ScaleAxisForward for conv2d. Close it.

[2018-07-24 06:40] #1414 closed

[2018-07-24 21:46] tqchen commented on #1454
+1 for get_output_info. The get_input_info returns a PackedFunc, which takes in field, index and return the corresponding field.

[2018-07-24 21:52] tqchen opened #1482 "[TVM4J] Upgrade support for NDArray Container"
See https://github.com/dmlc/tvm/pull/1418

The change is pretty simple
- TVMArrayAlloc now contains a field with type kNDArrayContainer
- Support return value kNDArrayContainer and create an NDArray.

This enables us to get returned NDArray from PackedFunc

[2018-07-24 21:52] tqchen commented on #1482
cc @yzhliu

[2018-07-25 01:11] yzhliu commented on #1482
I'll look into it tomorrow

[2018-07-25 03:25] ZihengJiang opened #1485 "[RFC] Generalize compute to tensor region"
## Target:

- Avoid verification in the original Tensorize, which we found it is not easy while detecting some patterns, like specifying abosolute/relative indexing.
- Achieve better encapsulation. Vendors can build external package for their hardware, and user do not need to know the detail while writing their TVM declaration.
- Propose a way to represent a block in tensor, which can be scheduled

[2018-07-25 05:10] tqchen commented on #1276
PR at https://github.com/dmlc/tvm/pull/1486

[2018-07-25 05:14] tqchen commented on #1485
cc @dmlc/tvm-team

[2018-07-25 05:20] merrymercy commented on #1414
@FrozenGene  Can you send the patch?

[2018-07-25 07:49] FrozenGene commented on #1414
@merrymercy Currently，I only fix depthwise conv2d. i.e. input channel equals to groups.

For the input channel not equals to groups, currently, I just return false and not apply this optimization. Because I find it is not easy for fixing input channel not equals to groups, which will need to extend our struct FoldChainInfo to contain more information. And conv2d / depthwise conv2d is enough for us

[2018-07-25 16:31] tqchen commented on #1276
close by #1486 let us open up followup issues for potential proposed improvements and micro-kernel exploration. Thanks @ajtulloch @eqy @adityaatluri @yidawang @yzhliu for helpful discussions in this RFC

[2018-07-25 16:31] #1276 closed

[2018-07-25 16:54] tqchen commented on #620
close due to stale state, will open a new issue when there is ongoing int8 ops

[2018-07-25 16:54] #620 closed

[2018-07-25 19:21] merrymercy commented on #1414
Thanks, I think it is okay for now. I also met this bug.

[2018-07-26 14:11] ljppro opened #1493 "Does TVM support training?"
Hi,
All the tutorials I can find are all about inference. Does TVM support training? If yes, where can I find a tutorial? If no, do you have a schedule to support it? Thanks!

[2018-07-26 16:09] tqchen commented on #1493
Thanks for asking the question, this is a great discussion topic that can be discussed at https://discuss.tvm.ai/

[2018-07-26 16:09] #1493 closed

[2018-07-26 16:18] tqchen commented on #899
#1487 provides winograd for cpu

[2018-07-26 17:47] yzhliu commented on #1493
pls refer to https://discuss.tvm.ai/t/dose-tvm-support-training-models/225

[2018-07-26 19:07] tqchen opened #1496 "[RUNTIME] C++ RPC Server"
So far most of the logic of RPC session handling is in [C++]( https://github.com/dmlc/tvm/blob/master/src/runtime/rpc/rpc_socket_impl.cc#L85). However, we use frontend languages(python,java) to do the basic incoming request handling.

This issue explores if we can move even more logic to C++, to make it possible to create a bare-metal c++ version of RPC, or reuse more logics across language bindin

[2018-07-26 19:13] tqchen commented on #1496
cc @yzhliu @eqy @FrozenGene

[2018-07-26 23:00] ajtulloch commented on #1276
Ah sorry @tqchen, I was out the last few weeks. This looks great, thanks so much. I'm restarted working on these tensorized implementations in https://github.com/ajtulloch/tvm/blob/43f50eba9eab45ec505e92ce372c45d91227778a/tensorize/gemm__neon.c + https://github.com/ajtulloch/tvm/blob/43f50eba9eab45ec505e92ce372c45d91227778a/tensorize/gemm__avx2.c, and there's so pretty promising results on ARMv7 i

[2018-07-27 00:03] tqchen commented on #1276
Now that the feature is upstreamed to the main branch, let us continue to explore the direction on what benefit we can bring. @ajtulloch 's result looks encouraging. I created a thread in https://discuss.tvm.ai/t/inline-assembly-micro-kernel-and-performance-experiment-for-arm-and-x86/527 for followup discussions on this

[2018-07-27 18:18] adityaatluri commented on #1276
@ajtulloch can you share performance numbers?

[2018-07-27 20:41] adityaatluri commented on #1184
I am interested in this too. I have a pet project trying to do the same but a little less verbose.

[2018-07-27 23:40] srkreddy1238 commented on #1184
+1

As I remember the last discussion on this was about target specific schedule selection from cpp.

We could start by revisiting the NNVM tracker.

[2018-07-30 06:41] XiaSunny opened #1507 "TypeError: shape value must be int iterator"
When i  run deploy_ssd.py,i meet this problem:
Traceback (most recent call last):
  File "deploy_ssd.py", line 78, in <module>
    graph, lib, params = compiler.build(net, target, {"data": dshape}, params=params)
  File "/home/pi/tvm/nnvm/python/nnvm/compiler/build_module.py", line 279, in build
    graph, params = precompute_prune(graph, params)
  File "/home/pi/tvm/nnvm/python/nnvm/compiler/buil

[2018-07-30 11:19] srkreddy1238 commented on #1507
@XiaSunny

The error basically tell that there are non int values in the shape dictionary argument to build.
Can you share the code snippet ?

Also suggest to raise this general discussion @ https://discuss.tvm.ai/

[2018-07-30 13:37] XiaSunny commented on #1507
Thanks for your reply.My code snippnet is:
[deploy_ssd.txt](https://github.com/dmlc/tvm/files/2241313/deploy_ssd.txt)

[2018-07-30 13:57] #1507 closed

[2018-07-30 13:58] tqchen commented on #1507
let us move general discussion to https://discuss.tvm.ai/

[2018-07-31 05:44] #1482 closed

[2018-07-31 18:46] kevinthesun opened #1516 "[x86][Schedule]Vectorization for pooling schedule for 4D data layout"
This PR https://github.com/dmlc/tvm/pull/1506 adds vectorization for pooling on x86. Currently this works when data layout is larger than 4 dimension. For 4D data, inline padding has conflict with vectorization introduced by that PR and will cause LLVM error. I'll investigate this issue later.

Reproduce: apply vectorization function to 4D case and create a nnvm graph with a pooling operator with

[2018-08-01 01:51] xqdan commented on #1485
any update on this? @tqchen

[2018-08-01 02:19] qingyuanxingsi opened #1519 "Detailed TVM System Module Deploy Guide"
Will you give a more detailed guide on how to deploy the compiled library as a System Module, introduced in [this guide](https://docs.tvm.ai/deploy/cpp_deploy.html#dynamic-library-vs-system-module), I found it really painful to figure how to make it really work!

[2018-08-01 13:34] qingyuanxingsi commented on #1519
@tqchen I have added a question [here](https://discuss.tvm.ai/t/how-to-make-module-so-static-link-glibc/124/3), but nobody answers after 8 days~~~~~

[2018-08-01 17:13] tqchen opened #1523 "[DOCS] Neural network Deployment Guide with System Module Mode"
The current [nnvm deployment module guide](https://docs.tvm.ai/deploy/nnvm.html) uses dynamic library mode, as @qingyuanxingsi suggested, we might want to add a system module deployment guide.

## Actionable Items

- [ ] Add a section to https://github.com/dmlc/tvm/blob/master/docs/deploy/nnvm.md on how to compile module as system module
- [ ] Add code example on how to run the graph runtime in sy

[2018-08-01 17:16] tqchen commented on #1519
It is great that you have found things we can improve and hopefully that we can improve it together. Please follow up on the forum on further questions.

[2018-08-01 18:08] srkreddy1238 commented on #1523
@dmlc/tvm-team  I will take up this.

[2018-08-01 21:10] tqchen commented on #1523
@srkreddy1238 great, note that however unless it is a design discussion, we don't have to loop in all the current tvm team :)

[2018-08-02 02:42] Faldict opened #1525 "Can't Import NNVM after MXNet imported."
I have installed MXNet 1.3.0 and TVM 0.4.0 on my Jetson TX2. I could import MXNet or NNVM alone, but I couldn't import both MXNet and NNVM together. Here's my code:

[code]

And the logs:

[code]

So how to fix it?

[2018-08-02 03:00] tqchen commented on #1525
Thanks for raising this question, please use https://discuss.tvm.ai/ for general discussion. This might have something specific to the TX2 board env (related to the implementation of RTLD.local, in theory, nnvm should resolve to its internal version of the json), as such a problem does not occur in normal desktops. I also recall @kazum have some related fix on such symbolic resolve issues

As a te

[2018-08-02 03:00] #1525 closed

[2018-08-02 09:33] moemen95 opened #1529 "Please include keras.layers.ReLU in nnvm frontend of Keras. Thank you"

[2018-08-02 10:04] janboeye opened #1532 "GPU SSD nms op cause HalideIR assert fail"
hi,

in cuda/nms.py line 117, sort_ir will xor int32 with bool type, this will reject by Halide IR and cause a assert fail.
[code]
I do not understand why xor less-than result with bool is denied by IR @tqchen @Laurawly

[code]
Thanks

[2018-08-02 10:16] dayanandasiet commented on #1187
Am woking on this to support Split layer in CoreML frontend.

[2018-08-02 11:51] xqdan commented on #1532
you may use int to express is_descend, instead of bool type

[2018-08-02 16:05] tqchen commented on #1532
@Laurawly can you followup on this, explicit type conversion using astype might be needed

[2018-08-02 16:06] tqchen commented on #1529
https://github.com/dmlc/tvm/pull/1530

[2018-08-02 16:06] #1529 closed

[2018-08-03 01:33] srkreddy1238 opened #1536 "[ONNX] Gather : Should support indices being a second param instead of attributes."
@siju-samuel

[2018-08-03 01:33] Youjk opened #1537 "when running a tvm case, a run time error happens."
IR.cpp:32:11:run time error : left shift of negative value -1

IR.cpp source code:

Expr IntImm::make(Type t, int64_t value) {
    internal_assert(t.is_int() && t.is_scalar())
        << "IntImm must be a scalar Int\n";
    internal_assert(t.bits() == 8 || t.bits() == 16 || t.bits() == 32 || t.bits() == 64)
        << "IntImm must be 8, 16, 32, or 64-bit\n";

    // Normalize the value by dropping

[2018-08-03 02:14] tqchen commented on #1537
please open a discussion thread at https://discuss.tvm.ai/, it would also be very helpful to provide a specific producible test code

[2018-08-03 02:14] #1537 closed

[2018-08-03 03:04] iwasaki-kenta opened #1539 "[ONNX] Implement ConstantFill operator."
The `ConstantFill` operator is required for many seq2seq models.

Happy to integrate and make a PR for it, though want to ask if there's any documentation available on the NNVM Symbol/Variable API (instantiating new Variables to provide defaults for parameters, etc). Tried looking through other operators and noticed that the majority of them simply are pass-throughs/wrappers for already-existing o

[2018-08-03 03:23] zhiics opened #1540 "Separate fusion from compilation/lowering as a standalone pass"
Currently, TVM implements fusion in two steps: GraphFuseParition and GraphFuseCompile. The second pass actually does both fusion and lowering together.

Would it be more appropriate to make fusion as a separate pass so that both the input and output are a graph? Compilation/lowering is decoupled as a separate pass as well. This way, other graph level optimization(s) might still be applicable.

Fur

[2018-08-03 03:27] sanallen opened #1541 "[RUNTIME]Add the flexibility of CPU affinity"
After I used config_threadpool function which is added by #1403, I think can add a offset parameter

[code]
Example:
System has 4x Cortex A-53 (LITTLE) + 2x Cortex A-72 (big).
cpuid 0: LITTLE
cpuid 1: LITTLE
cpuid 2: LITTLE
cpuid 3: LITTLE
cpuid 4: big
cpuid 5: big

config_threadpool("big", 1, 1) -> changes affinity order to [5,1,2,3,4], will use CPU 5
config_threadpool("little", 1, 3) ->leaves af

[2018-08-03 05:27] tqchen commented on #1540
This is a reasonable decision to make. We can to roll out something in this direction around next release cycle

[2018-08-03 05:35] sanallen commented on #1541
Thanks, I will create a PR that add this feature.

[2018-08-03 05:46] srkreddy1238 commented on #1539
@iwasaki-kenta welcome to contribute PR for ```ConstantFill```.

As of now I think we don't have a tutorial about how to develop a new operator across TVM & NNVM.
[TOPI Intro](https://github.com/dmlc/tvm/blob/cca57ae6d5815699206da6dfe44b31110edf5ceb/tutorials/topi/intro_topi.py) is a tutorial we have about how to use tvm topi. Community is always there to help with areas which are not documented t

[2018-08-03 10:33] rajh619 opened #1547 "[Windows]: link error with current master"
In  Windows 10 environment (VS2015) build fails  with linking error  in current master revision(8056165eea6b55aa27b6bbed741f58dc3a6e639b) as shown below :

[code]

The issue happens in this line :
https://github.com/dmlc/tvm/blob/8056165eea6b55aa27b6bbed741f58dc3a6e639b/nnvm/src/compiler/graph_runtime.cc#L103

[2018-08-03 10:37] srkreddy1238 commented on #1547
Submodule update ??

[2018-08-03 10:43] rajh619 commented on #1547
@srkreddy1238  "git submodule " init  &  "git submodule update" is done after cloning tvm .

[2018-08-03 20:01] souptc commented on #1547
the root cause is because we static link dmlc-core to tvm shared lib, but on windows, by default the shared library won't expose the symbols (Need annotation like TVM_EXPORTS ). dmlc::Registry::Get is not exposed in this case.

I am currently fix it by re-enable the registry in nnvmcompiler shared lib, but a better fix may be from dmlc-core side to expose this symbol. Any suggestion from tvm team?

[2018-08-03 23:32] mnuyens commented on #1394
Go ahead with it.

[2018-08-03 23:49] tqchen commented on #1394
After deliberation and discussion with the team, we are going to filter the history to remove the trace. This is a reminder that we are going to do the filtering branch in 24 hours and please rebase your code to master after it gets updated @dmlc/tvm-team

[2018-08-04 04:00] pribadihcr opened #1555 "AttributeError: 'module' object has no attribute 'tophub'"
Hi,

I run tvm/vta/tests/python/integration/test_benchmark_topi_conv2d.py, got the following error:
autotvm.tophub.check_package('vta')
AttributeError: 'module' object has no attribute 'tophub'

[2018-08-04 04:09] tqchen commented on #1555
Thanks for reporting the issue, please use https://discuss.tvm.ai/ for general questions

[2018-08-04 04:09] #1555 closed

[2018-08-04 16:55] tqchen commented on #1523
OK, maybe we need to add a bit more additional details of device-related build into the doc. See the code here https://github.com/dmlc/tvm/blob/master/python/tvm/module.py#L93

What is happening for CUDA like modules is that we need to generate two files
- myfunc.o (the host module you can obtain by mod.save)
- device_blob.cc (the device part binary file that contains the device side binary embedd

[2018-08-04 17:16] tqchen commented on #1394
The master branch has been filtered and put back into protection mode

[2018-08-05 02:55] tqchen commented on #1541
My major question is that whether we need such flexibility, on one note is that we do want to be backward compatible and also support the case with a single number @eqy maybe have more thoughts on this

[2018-08-05 02:55] tqchen commented on #1541
cc @yidawang @yzhliu

[2018-08-05 02:58] Laurawly commented on #1532
I also encountered this bug when updated HalideIR, and I ended up not using xnor op here. I'll do a quick fix for this.

[2018-08-05 04:39] srkreddy1238 opened #1559 "[RFC][GOLANG] TVM Golang Runtime Interface Discussion"
Here briefing the golang interface design aspects.

# Few golang concepts
- Usage of packages ```C``` and ```unsafe``` golang packages to go across golang boundary while accessing functions, types and pointer ..etc.
- Slices: Usage if golang slice where ever is possible to simplify application programming. Example being use ```slice of string``` instead of argument pair containing ```argc, argv```

[2018-08-05 04:47] tqchen commented on #1559
I hope we can have a healthy discussion on what high-level API that goes beyond C FFI style API can be provided. Specifically, if we look at tvm runtime API of java, js, python, we have specific object class for Module, Array, and Function which automatically manages their lifecycle and when necessary overloads the ops. I know little about go but from what I learnt, this should be possible

[2018-08-05 04:50] tqchen commented on #1559
Some things I think that are related,

- Use variadic interface to implement function invocation, it seems to be possible to implement a dynamically dispatched variadic function via ``` func function_name(a ...interface{})
[code]

[2018-08-05 04:53] tqchen commented on #1559
Point2: ideally we want to remove Free functions, and always use Finalizer to trigger the free of the objects https://golang.org/pkg/runtime/#SetFinalizer

[2018-08-05 04:57] tqchen commented on #1559
Point3: from user's point of view, we may not need to have a TVMFunction object at all, the handle can be captured, but module.GetFunction can directly return a closure with signature:

[code]

This way the function returned by module.GetFunction can be directly invoked as a function

[2018-08-05 07:01] jroesch commented on #1540
We (@tqchen and I) are planning to ship the first version of the new high level IR we have beeg designing in the next release. I think it would be good to try to design the new fusion machinery with this in mind, and possibly implement it on top of the new IR.

We have been talking informally about porting fusion to the IR. My view is we ideally want most passes (including fusion) to be functions

[2018-08-05 08:12] masahi commented on #1540
Interesting discussion. I have a PR at #1548 which adds another stage of fusion. Since I didn't modify existing fusion algorithm at all, it can be implemented as a separate function. It should be cleaner that way. If later someone comes up with another fusion rule, we don't want to add another big block of code after existing one.

My fusion rule assumes that the existing fusion algorithm has alre

[2018-08-05 13:38] sanallen commented on #1541
@tqchen I understand your question, hope @eqy can give me some suggest

[2018-08-06 04:49] zhiics commented on #1540
@jroesch I totally agree that most passes should be implemented as functions just as optimization passes in compilers like LLVM. The ordering of different graph level and tensor level optimizations may also have notable performance impact which is similar to the phase-ordering problem in compilers.

[2018-08-06 06:59] chenjunweii opened #1561 "Can't Run ssd example"
I got this error when i run the ssd example, any idea ?

/home/xxx/src/tvm/src/runtime/module.cc:92: Check failed: f != nullptr Cannot find function tvm.contrib.sort.argsort in the imported modules or global registry

**verbose output**

Traceback (most recent call last):
  File "ssd.py", line 69, in <module>
    m.run()
  File "/home/xxx/src/tvm/python/tvm/contrib/graph_runtime.py", line 113, in

[2018-08-06 07:02] #1561 closed

[2018-08-06 21:50] yzhliu commented on #1540
+1 for separating fusion from compiling and enabling multiple passes of fusion.

[2018-08-07 05:01] rajh619 commented on #1547
@souptc  thanks for the info , i saw your commit in #1550 , shall i use it for windows ?
I understand the change  conflicts with other platform .But as of now i hope i can use it as temporary fix for windows .

[2018-08-07 05:07] souptc commented on #1547
@rajh619 ，that commit could pass the build, but I didn't run all the tvm test cases, not sure is there any protential issue.

[2018-08-07 15:30] olesalscheider opened #1563 "[FRONTEND][TENSORFLOW] Support separable_conv2d and depthwise_conv2d"
It would be nice if the Tensorflow frontend would support separable_conv2d and depthwise_conv2d.

In Tensorflow, these operations are composed of the convolution itself and a space_to_batch operation (that handles the dilation rate): https://github.com/tensorflow/tensorflow/blob/62cf06bfa94af4c97cdd8ca5c4faab49accc7a12/tensorflow/python/ops/nn_impl.py#L550

So either the Tensorflow frontend should

[2018-08-07 22:15] zhiics opened #1565 "[x86][intrinsic]Is test_llvm_lookup_intrin test LLVM version dependent?"
https://github.com/dmlc/tvm/blob/0241fdc5d23a410cff63a0ffeab7c548fadfaa98/tests/python/unittest/test_codegen_llvm.py#L62

I was trying to run tests using LLVM 7.0. It seemed that this test failed because it triggered an LLVM error during codegen.
Assertion failed: ((i >= FTy->getNumParams() || FTy->getParamType(i) == Args[i]->getType()) && "Calling a function with a bad signature!"), function init

[2018-08-07 23:36] cowanmeg commented on #1565
Hmm..I just downloaded the current llvm-7 development branch and the test passed for me.
Can you see if updating fixes the issue?

Also thanks for catching that unused variable!

[2018-08-07 23:46] zhiics commented on #1565
I see, Thanks. I think mine was probably the trunk version.

[2018-08-08 02:52] 13301338176 commented on #1093
i have same issue on Xiaomi Max:

08-08 10:33:56.190 3409-3409/? I/art: Late-enabling -Xcheck:jni
08-08 10:33:56.225 3409-3409/? D/TidaProvider: TidaProvider()
08-08 10:33:56.333 3409-3409/ml.dmlc.tvm.android.demo W/art: Before Android 4.1, method android.graphics.PorterDuffColorFilter android.support.graphics.drawable.VectorDrawableCompat.updateTintFilter(android.graphics.PorterDuffColorFilter, a

[2018-08-08 02:59] 13301338176 opened #1567 "apps/android_deploy not work"
Here is adb logcat:

08-08 10:56:08.917  1238  4243 I ActivityManager: START u0 {act=android.intent.action.MAIN cat=[android.intent.category.LAUNCHER] flg=0x10200000 cmp=ml.dmlc.tvm.android.demo/.MainActivity bnds=[325,604][493,772] (has extras)} from uid 10020 on display 0
08-08 10:56:08.957  1238  5975 I ActivityManager: Start proc 5956:ml.dmlc.tvm.android.demo/u0a358 for activity ml.dmlc.tvm.an

[2018-08-08 03:04] 13301338176 opened #1568 "TVM4J cannot compile"
/tvm/build$ ls -l
总用量 70620
-rw-rw-r--  1 haijunz haijunz    43667  8月  6 13:49 CMakeCache.txt
drwxrwxr-x 22 haijunz haijunz     4096  8月  7 21:12 CMakeFiles
-rw-rw-r--  1 haijunz haijunz     5412  8月  6 13:49 cmake_install.cmake
-rw-rw-r--  1 haijunz haijunz     2952  8月  7 20:51 config.cmake
-rwxrwxr-x  1 haijunz haijunz  4045971  8月  6 13:52 libnnvm_compiler.so
-rwxrwxr-x  1 haijunz haijunz   9

[2018-08-08 03:33] titikid commented on #1170
Hi @tqchen i'm really interested in 8bit quantization feature in this release. May i know when this feature will be available?

[2018-08-08 05:10] 13301338176 commented on #1568
cd root directory(,/tvm) :    make jvmpkg   make jvminstall  will work  . close it

[2018-08-08 05:10] #1568 closed

[2018-08-08 05:42] srkreddy1238 commented on #1563
@olesalscheider  Thanks for raising this issue.

We do support depthwise as a special case of group convolution to an extent.
Let me analyse the feasibility to support separable convolution and get back on this.

[2018-08-08 16:57] tqchen commented on #1567
Thanks for bringing up this issue, please open a discuss thread at so community can work together on resolving this https://discuss.tvm.ai/

[2018-08-08 16:57] #1567 closed

[2018-08-08 17:03] tqchen commented on #1093
For reference, discuss are moved to https://discuss.tvm.ai/

[2018-08-08 17:10] tqchen commented on #1559
Please update the examples accordingly, once we have a clear interface proposal, we can proceed on implementation again

[2018-08-08 17:13] tqchen commented on #1568
Glad that you resolved the problem, please use https://discuss.tvm.ai/ for future related questions

[2018-08-08 17:33] tqchen commented on #1394
close this PR since rewriting is done

[2018-08-08 17:33] #1394 closed

[2018-08-08 17:34] tqchen commented on #1311
Close this as most two steps are done

[2018-08-08 17:34] #1311 closed

[2018-08-08 17:34] #1536 closed

[2018-08-08 17:35] tqchen commented on #899
Close as most winograd are checked in, let us open new threads for specific working items

[2018-08-08 17:35] #899 closed

[2018-08-08 17:35] #1547 closed

[2018-08-08 17:35] tqchen commented on #1547
fixed thanks to @souptc

[2018-08-08 17:37] tqchen commented on #1379
@cowanmeg @yzhliu any updates?

[2018-08-08 17:37] tqchen commented on #1269
close due to inactive status, please reopen with new items

[2018-08-08 17:37] #1269 closed

[2018-08-08 17:38] tqchen commented on #1565
Let us move this discussion to https://discuss.tvm.ai/ as there is no actionable items. Please feel free to send a patch to remove unused variable

[2018-08-08 17:38] #1565 closed

[2018-08-08 17:39] tqchen commented on #1170
The 8bit quantization will be the major focus of the next release cycle

[2018-08-08 17:40] tqchen commented on #1411
close for now due to inactive status

[2018-08-08 17:40] #1411 closed

[2018-08-08 17:40] tqchen commented on #1322
Please update status on this

[2018-08-08 17:47] tqchen commented on #1170
Thanks to everyone who have pushed to last release cycle in the past three months. I would like to propose the release of v0.4 on Aug 13th.  As usual, the current checklist will go into the release note, and we will move the unfinished ones into the roadmap of the next release cycle.  The first post will be edited into a release note.

We encourage everyone in the community to put their weights an

[2018-08-08 18:48] srkreddy1238 commented on #1559
Updated the interface and example code above.
This version is based on
- variadic args for variable parameters
- Finalizers for automatic garbage collection
- Interfaces to send and receive arbitrary datatypes

The PR #1470 also updated accordingly for review.

[2018-08-08 18:56] tqchen commented on #1559
Three things:
- Try to (hide) the C APIs and remove them from API list
- Use return value style
[code]
- Please check if there is a common convention of code style guide and have a consistent code style for function naming etc.

[2018-08-08 19:06] kevinthesun commented on #1322
@were is working on some fixes for hybrid script.

[2018-08-08 21:28] yzhliu commented on #1379
not yet from my side ...

[2018-08-08 21:52] yzhliu commented on #1540
Having the PR merged, close for now.

[2018-08-08 21:52] #1540 closed

[2018-08-09 03:09] nhynes opened #1574 "[TVM][Wasm] LLVM 7+ not exporting symbols"
For LLVM versions 7 and 8, compiling TVM modules using `-target=wasm32-unknown-unknown -system-lib` (and, indeed, any wasm module compiled using llvm) does not export the `__tvm_module_startup` and module functions. The functions are all in the module, but the names aren't exported.

The solution is to run `wasm-ld` on the output object file with either `--export-all` or `--export=...` and `--no-s

[2018-08-09 03:09] #1574 closed

[2018-08-09 03:14] srkreddy1238 commented on #1559
@tqchen  Sorry, I forgot to submit the edited sample code and final API interface above :)

 Have a look now.

- Only above listed API and Types are exposed on golang side.
- Yes, used return value style as ```ret, err```. Optional second return value is golang style of reporting error. Here I am returning TVMGetLastErr as golang error object.
-  Golang goes with CamelCase and PascalCase based on

[2018-08-09 04:25] ZihengJiang commented on #1485
@tqchen @yzhliu @tmoreau89 @merrymercy @cowanmeg welcome to comment

[2018-08-09 08:25] feng98 opened #1575 "[AUTOTVM] Building SSD error"
# python tune_nnvm_arm.py
Traceback (most recent call last):
...
TVMError: [16:12:36] /tvm/src/schedule/message_passing.cc:36: Check failed: match iter_var(threadIdx.x, Range(min=0, extent=5), threadIdx.x) domain already inferred, cannot prove their extents are the same 4 vs 5

Stack trace returned 10 entries:
[bt] (0) /tvm/build/libtvm.so(dmlc::StackTrace[abi:cxx11]()+0x5b) [0x7f9cc54b20cb]
[bt]

[2018-08-09 17:49] tqchen commented on #1575
please raise general questions at https://discuss.tvm.ai/

[2018-08-09 17:49] #1575 closed

[2018-08-09 17:51] tqchen commented on #1532
@Laurawly can you update on this?

[2018-08-09 17:58] Laurawly commented on #1532
I'll send a PR which fixes this right away.

[2018-08-09 18:28] tqchen opened #1577 "TVM 0.4 Release Note"
This release features several major improvements. The high-level graph optimizer is now part of TVM repo. Some of the highlights are: Initial support of AutoTVM for automated optimization; customized accelerator backend VTA. Please also check out [tvm.ai](https://tvm.ai) for latest blogposts.

The community welcomes new reviewers @kazum @alex-weaver @masahi @zhreshold @PariksheetPinjari909 @srkred

[2018-08-09 18:37] tmoreau89 commented on #1485
I like this proposal as it provides better control to the programmer over how tensorization is applied.

[2018-08-09 18:38] tmoreau89 commented on #1485
Another thing that is tricky with current tenorization, is error reporting (when the intrinsic does not match the code we apply tensorization on). Do you know if this new approach will lead to clearer error reporting?

[2018-08-09 19:24] tqchen commented on #1170
0.4 release note candidate is now up at https://github.com/dmlc/tvm/issues/1577

[2018-08-09 19:25] tqchen commented on #1577
Thanks to everyone who have pushed to last release cycle in the past three months. We would like to propose the release of v0.4 on Aug 13th.

We encourage everyone in the community to put their weights to review and vote the release. @dmlc/tvm-team

[2018-08-09 19:34] masahi commented on #1577
Operator Fusion enhancement to nnvm is missing in the release note !

[2018-08-09 19:45] tqchen commented on #1577
@masahi just added that

[2018-08-09 20:35] dayanandasiet opened #1579 "TVM CI issue"
Many times before facing unreleated CI issue , below is one of example scenario
`OK
Running MXNet frontend test...
test_forward.test_forward_mlp ... ok
test_forward.test_forward_vgg ... ok
test_forward.test_forward_resnet ... ok
test_forward.test_forward_elu ... ok
test_forward.test_forward_rrelu ... ok
test_forward.test_forward_prelu ... ok
test_forward.test_forward_softrelu ... ok
test_forward.t

[2018-08-09 21:10] zhiics commented on #1577
@tqchen fusion now is a separate pass.

[2018-08-10 00:16] yzhliu commented on #1577
GraphRuntime support for tvm4j - E2E inference in Java!

[2018-08-10 02:00] #1523 closed

[2018-08-10 02:01] tqchen commented on #1067
https://github.com/dmlc/tvm/pull/1571/ Thanks to @dayanandasiet

[2018-08-10 02:01] #1067 closed

[2018-08-10 03:29] b-y-e commented on #1485
the result's shape from tensor_op is not obvious and inconsistent with compute.

[2018-08-10 04:51] tqchen commented on #1559
- TVMType might not be necessary, most cases people are good with strings e.g. "float32"
- Need to pass in TVMContext in array creation instead of flag
- GetData is dangerous as it only works on CPU, instead, do copy API(backed by copy(from/to)bytes
   - Checkout js api and java api https://docs.tvm.ai/jsdoc/tvm.NDArray.html
   - AsArray
   - CopyFrom

[2018-08-10 04:53] tqchen commented on #1559
maybe @yzhliu can also chime in to comment on api design

[2018-08-10 05:37] souptc opened #1582 "TVM can't run with static c runtime (/MT) on Windows due to std:: string in dll interface"
Currently if we build tvm with static runtime (/MT) option on Windows, tvm will crash due to the std::string in dll interface, like:

`TVM_DLL Tensor placeholder(Array<Expr> shape,
                           Type dtype = Float(32),
                           std::string name = "placeholder");`

basically on windows it is not a good practice to have object type like std::string in dll interface, if

[2018-08-10 15:35] tqchen commented on #1582
This problem is better suited to be in https://discuss.tvm.ai/. This is indeed a problem that will happen for every C++ project that have dll boundary and tries to statically link libc++(which results in different allocator). Similar things will happen for things like std::vector etc.

In my experience, it is really hard to get such things right in c++, the best way is to resort to C API, which mo

[2018-08-10 15:35] #1582 closed

[2018-08-10 22:46] kevinthesun opened #1585 "[RFC][Graph Tuner] Graph level auto-tuning"
### Motivation
Currently we can tune operator with handcrafted schedules or AutoTVM, which can give us descent kernel performance. However, usually these kernel templates involve transform operator data layout to other formats, such as conv2d for Intel and ARM CPU. In this case, a lot of layout transformation can be introduced into graph. Graph tuner considers both fast kernel schedules and extra

[2018-08-11 07:41] liangfu commented on #1577
broadcast operators like not_equal, greater_equal and less_equal is now supported in both nnvm and topi.

[2018-08-12 03:50] srkreddy1238 commented on #1454
@tqchen

[2018-08-12 13:52] srkreddy1238 commented on #1559
Addressed above changes.

- Strings instead of TVMType
- TVMContext exposed to user
- Copy API's used instead of direct access to TVMArray data.

[2018-08-13 02:09] Youjk opened #1590 "IR.cpp:32: runtime error:left shift of negative value -1"
In HalideIR source code:
[code]
![image](https://user-images.githubusercontent.com/8721085/44009810-f35bb2e4-9ee0-11e8-9186-75b288d3d494.png)

if value is -1 will cause a runtime error.

can I modify the code like this:
`value =(uint64_t) value << (64 - t.bits());`

[2018-08-13 07:55] xqdan opened #1592 "[Pass] Missing CHECK in storage rewrite"
We have a complicated case triggering this bug.

after L586,  we should have the same check as L559
https://github.com/dmlc/tvm/blob/master/src/pass/storage_rewrite.cc#L559

[2018-08-13 08:31] pengd opened #1593 "Halide::Internal::StmtNode<For> does not have stride attribute"
Hi. I am trying to operate For ast node on Halide IR. But the Halide::Internal::StmtNode<For> seem not have stride attribute. Is there any way to make a "For" node with specified stride? Thanks.

[2018-08-13 16:36] tqchen commented on #1532
Fixed by #1578

[2018-08-13 16:36] #1532 closed

[2018-08-13 17:04] tqchen commented on #1485
Thanks for all the discussions so far, this is a very important feature, as @xqdan and @ZihengJiang suggested, there are certain use cases for it.  Here is a summary of my takes:

## Significance
So far, there is a two-level separation of "expressions", the scalar index expression as in the compute body, and the tensor relation dataflow as in the chains of operators defined by the compute (topi).

[2018-08-13 17:10] tqchen commented on #1485
My last post list summarizes some of the considerations. Due to the significance of this proposal,  we would like to invite the community to have a good discussion on APIs. Specifically, we want to reach the following goals

- Natural consistency with the compute API, so it feels like a tensor region generalization of compute
- Consistency and reuse of tensorization infrastructure, so user don't g

[2018-08-13 18:36] tqchen commented on #1485
@merrymercy @tmoreau89 @xqdan @cowanmeg @eqy @yzhliu @were @dmlc/tvm-team  please put your weight on the API proposal and technical questions. also cc

[2018-08-13 18:49] tqchen commented on #1577
v0.4 has been tagged https://github.com/dmlc/tvm/releases/tag/v0.4

[2018-08-13 18:49] #1577 closed

[2018-08-13 18:56] tqchen opened #1596 "TVM v0.5 Roadmap"
This roadmap for TVM v0.5. TVM is a community-driven project and we love your feedback and proposals on where we should be heading. Please open up discussion in the discussion forum as well as bring RFCs.

- Feel free to volunteer yourself if you are interested in trying out some items(they do not have to be on the list).
- Please also check out the [help wanted](https://github.com/dmlc/tvm/issues

[2018-08-13 18:57] tqchen commented on #1170
v0.4 is now tagged, next cycle roadmap issue is available at https://github.com/dmlc/tvm/issues/1596

[2018-08-13 18:57] #1170 closed

[2018-08-13 18:58] tqchen commented on #1577
v0.5 roadmap is available at https://github.com/dmlc/tvm/issues/1596

[2018-08-13 19:08] tmoreau89 commented on #1485
Regarding the concerns that @tqchen raised, would it make sense to keep tensorization as it is, and introduce this new form of tensorization as "encapsulation" or "inlining"? This can maintain our clean separation of compute/scheduling, while introducing a convenient way to inlining high-performance intrinsics in schedules.

[2018-08-13 20:57] yzhliu commented on #1596
Shall we add heterogeneous graph runtime? @zhiics is working on that.

[2018-08-13 22:25] anijain2305 commented on #1596
I am interested in implementing the Intel CPU support for INT8 quantization

[2018-08-14 00:38] siju-samuel commented on #1596
I'm interested in implementing the RUST runtime.

[2018-08-14 00:55] tqchen commented on #1592
also, please clarify if this is a bug, or a guard that need to be added to the case

[2018-08-14 01:14] xqdan commented on #1592
Sure, short cut case may take some time

[2018-08-14 02:35] ehsanmok commented on #1596
@tqchen @siju-samuel [My Rust runtime](https://github.com/ehsanmok/tvm-rust) (dylib) support which follows the same generic API as Java for example (CPU, GPU, etc.) is 80%-ish done! I'll need to finish the callback support, add docs and cleanup. @nhynes [Rust static support](https://github.com/nhynes/tvm-rs) is in a good shape as well but is specific to CPU with custom allocator etc.

[2018-08-14 03:31] siju-samuel commented on #1596
@ehsanmok OK
Anyone doing  "Support a c++ version of cross platform RPC"? If not, I'm interested in taking up this.

[2018-08-14 03:42] PariksheetPinjari909 commented on #1596
@tqchen I have started working 8 bit quantizer and its operator support for conv2d, dense and relu. To avoid duplicate work pls let me know if anyone else is doing this work.

[2018-08-14 03:47] nhynes commented on #1596
PR for static Rust runtime in https://github.com/dmlc/tvm/issues/1596.

@ehsanmok I'm not sure what you mean by "custom allocator etc." It uses whatever `GlobalAlloc` you care to use.

[2018-08-14 03:54] ehsanmok commented on #1596
@nhynes I meant you've defined your own allocator, threading, parallel backend support for CPU for staticlib compiling with xargo while I've taken different route.

[2018-08-14 04:05] tqchen commented on #1596
@PariksheetPinjari909 the UW SAML team are working on a generic n-bit quantizer and hopefully things will get RFCed and upstreamed in this release cycle

[2018-08-14 04:07] tqchen commented on #1596
Please feel free to open new issues to track the working items, @siju-samuel standalone RPC is tracked by https://github.com/dmlc/tvm/issues/1496

[2018-08-14 04:12] tqchen commented on #1596
The current thread contains things that we know off head or by the request of the community, please also feel free to propose new things and we will add it to the roadmap

[2018-08-14 04:14] tqchen commented on #1559
@srkreddy1238 can you please also update the sample code on the first post?

[2018-08-14 04:14] tqchen commented on #1585
@eqy @merrymercy please comment

[2018-08-14 04:45] PariksheetPinjari909 commented on #1596
@tqchen Ok. Let me know what support i can give in 8 bit quantization. I am interested to contribute here.

[2018-08-14 05:33] srkreddy1238 commented on #1559
Updated the sample code.

[2018-08-14 05:50] tqchen commented on #1559
Some of the suggestions to make it more consistent with existing APIs in other languages(js, java)

- If there is concept of namespace(gotvm), we can consider remove TVM prefix, i.e. TVMContext -> Context
- ModLoadFromFile -> LoadModuleFromFile
- EmptyArray -> Empty
- SetData-> CopyFrom(slice)
- GetData -> AsSlice

[2018-08-14 06:26] eqy commented on #1585
Thanks for opening this RFC, graph level optimization is an important step in pushing performance in cases were we have to make inter-layer decisions (such as data layout in this case).

Looking at the code, I think that this is a good opportunity to either refine or more clearly lay out what we should have in our autotvm/general tuning API. Having a good API that is used healthily ensures that we

[2018-08-14 07:47] kevinthesun commented on #1585
Currently graph tuner doesn't use any autotvm code, we should definitely reuse the AutoTVM system tune kernel. Actually graph tuner is designed to be a standalone module and doesn't couple with any specific tensor tuner.
Things might need to be changed to make this happen:
1. A plain benchmark mode for operator. Graph tuner need to benchmark layout transformation, given input shapes and parameters

[2018-08-14 08:32] huanglishan6 opened #1598 "NotImplementedError: Operator Upsample not implemented."
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :)

Issues that are inactive for a period of time may get closed. We adopt this policy so that we won't lose

[2018-08-14 09:07] srkreddy1238 commented on #1598
@huanglishan6  Can you share the logs ?

Suggest to post the general issue @  https://discuss.tvm.ai .

[2018-08-14 10:53] PariksheetPinjari909 commented on #1596
I would like to take up the control flow ops. Let me know if someone is working on that.

[2018-08-14 11:26] huanglishan6 commented on #1598
ok. I had posted. Thks.

At 2018-08-14 17:07:55, "Siva" <notifications@github.com> wrote:

@huanglishan6 Can you share the logs ?

Suggest to post the general issue @ https://discuss.tvm.ai .

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-08-14 16:36] tqchen commented on #1596
@PariksheetPinjari909 We will make a major RFC to upgrade the IR system including control flow ops and type system, and after the first phase proposal is done, everyone is welcomed to contribute

[2018-08-14 16:43] tqchen commented on #1559
- Let us add ```gotvm.CPU(0)``` and ```gotvm.GPU(0)``` as helper constructors.  The example now looks good to me.

We still need to flesh out the details of the PackedFunc system, specifically
- Please also add simple packed function example that handles return values(so we can see the usage of TVMValue)
- We need to handle passing go callbacks as PackedFuncs(see other language APIs)

Please creat

[2018-08-14 16:44] #1598 closed

[2018-08-14 16:51] srkreddy1238 commented on #1559
Ref below from complex.go example

[code]

Packed Function return is handled and it return an interface holding the value based on the ret_type_code from TVM runtime.

- I will work on amending the target helpers and go callbacks.