[2021-06-15 01:16] mehrdadh commented on #8255
Update:
device_type should be converted before passing to DeviceName function. PR #8259 will fix this issue.

[2021-06-15 05:08] m3at commented on #6624
@jwfromm I think this was fixed in #8143 and can now be closed ? (sorry I can't test it atm)

[2021-06-15 05:56] electriclilies commented on #7979
#6624 is an old issue that was worked around by #8143

[2021-06-15 05:56] electriclilies commented on #6624
@m3at I think #8143 was just a workaround, so we can't close this issue yet. #7979 is an issue tracking all the times AlterOpLayout does in place modification of modules; instead of closing it, I'll link it to the other issue and we can close it when there is an actual solution, not just a workaround.

[2021-06-15 07:14] m3at commented on #6624
Understood. Thanks for checking 👍

[2021-06-15 17:47] electriclilies commented on #6624
Hopefully the issue should be resolved soon! The AlterOpLayout pass has been causing issues for a while now :)

[2021-06-16 00:08] SamKG opened #8263 "[RELAY] Support different PRNG algorithms"
It is well-established that performance of PRNG algorithms differs greatly on different hardware [1]. Currently, TVM seems to only support threefry random number generation. However, a user who is deploying to a GPU may benefit greatly from Philox instead (the paper linked below demonstrates a 3x performance difference!). In addition, decreasing the precision of the PRNG algorithm can also improve

[2021-06-16 01:53] UniverseFly opened #8264 "[TIR] Potential bug: type mismatch makes TVM core dumped, which cannot be captured as a Python exception"
The following code triggers the problem, where I deliberately pass an `int` to the `name` argument of `Var`. Should such a behavior be considered a bug? Though it's common that people misuse APIs, we may still want to capture this bug at user level instead of a crash.

[code]

Error message:

[code]

[2021-06-16 19:30] areusch commented on #8177
expanding to ci-gpu and including #8268

[2021-06-16 19:45] trevor-m commented on #8233
Hi @dvhg @masahi
I was able to reproduce this with this simple script below. Looks like Relay VM is not freeing memory allocated for dynamic shapes. On my T4 gpu with 16gb GPU memory, I run out of memory on the 31st iteration.

[code]

cc @zhiics

[2021-06-17 03:34] enjustli opened #8271 "tvm::Map<Primexpr,Primexpr>"
when I using tvm::Map<Primexpr,Primexpr>, the gcc compile with throw error like this:
[code]
I just do it like case:
[code]

[2021-06-17 03:37] enjustli commented on #8271
Now I have to use std::pair<Primexpr, Primexpr> instead of Map<Primexpr,Primexpr>

[2021-06-17 07:10] GoodNight-bye opened #8272 "Import the DLRM NET graph from pytorch to Relay failed"
It seems that the type with arg name % 61 of aten:: index is nonetype，so i failed to call the interface
 relay.frontend.from_pytorch. How should I solve this problem？

**ERROE INFO:**
Traceback (most recent call last):
  File "dlrm.py", line 146, in <module>
    test_dlrm()
  File "dlrm.py", line 126, in test_dlrm
    mod, params = relay.frontend.from_pytorch(scripted_model, shape_list)
  File "./

[2021-06-17 14:03] jrfonseca opened #8273 "Failures using many of ONNX Model Zoo models."
I'm filing an issue before posting on the forum because GitHub allows me to attach the script to reproduce the issue.

When I try to use TVM with the models from https://github.com/onnx/models many fail:

[code]

This is the full output:
[tvm_onnx_model_zoo.log](https://github.com/apache/tvm/files/6670776/tvm_onnx_model_zoo.log)

And this is the Python script I used:
[code]

This was with:
* lates

[2021-06-18 09:46] jrfonseca commented on #8273
With the help of folks from https://discuss.tvm.apache.org/t/failures-using-many-of-onnx-model-zoo-models/10268 I got all models except Mask-RCNN (which fails due to known limitations) working.

I don't think there's further action required here, so closing.  Thanks.

[2021-06-18 09:46] #8273 closed

[2021-06-18 14:36] Lunderberg commented on #8177
Found while implementing #8029, there are a few version incompatibilities in `tlcpack/ci_gpu:v0.75`.

* Current version of `tensorflow==2.3.1` is incompatible with cuda 11.0.  Based on [this table](https://www.tensorflow.org/install/source#gpu), we'll want to switch to `tensorflow==2.4.0`.  The warning can be reproduced by running `import tensorflow` in a python shell.

* `WARNING:root:scikit-lear

[2021-06-19 06:51] kevinLu1114 opened #8284 "[ONNX] ssd-mobilenetv1 fail to build"
The discussion I saw is at https://discuss.tvm.apache.org/t/failures-using-many-of-onnx-model-zoo-models/10268

I used a script like https://gist.github.com/masahi/9348db919edb105912b94b84792dd7d3 to build ssd-mobilenetv1, but some errors appeared.

tvm branch (commit 1fac10b3)
llvm version; 12.0.1
OS info: Ubuntu 20.10 (Groovy Gorilla)

error message:
[code]

script
[code]

[2021-06-19 13:18] kevinLu1114 commented on #8284
ssd-mobilenetv1 model :https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/ssd-mobilenetv1

[2021-06-19 21:49] masahi commented on #8284
This is a very strange model in that there are multiple ONNX `Loop` for no good reason. In particular, there is a loop at the beginning that does input image preprocessing, and for some reason the output of the loop is already dynamic in all dimensions. So the input to the first convolution op is already dynamic in H and W dimensions, which result in the error above.

[code]

I have a feeling that

[2021-06-20 04:09] kevinLu1114 commented on #8284
Thank you for your reply, I have also observed this,but I am not sure if it is because the ssd-mobilenet model originally needs dynamic shape(e.g predict bounding box).

If you can, I'll help as much as possible, but probably limited ability because I was a beginner :)

[2021-06-20 08:10] YongtaoHuang1994 opened #8286 "TVM on AMD GPU. Errors: LLVM ERROR: Unknown specifier in datalayout string"
We have prepared the AMD GPU and its SDK ROCm.
[code]
Then we turn on "set(USE_LLVM llvm-config-9)" and "set(USE_ROCM on)" and build TVM with ROCm successfully. Next, we set the env variable：
[code]
After all the dependence is ready, we test resnet in TVM with ROCm. The inference code is shown as followed：
[code]

Then we get these errors:

[code]

Could you help me solve this problem? Thanks a lo

[2021-06-21 02:06] masahi commented on #8286
Please open a thread on discuss. The warning msg ` Warning: Unable to detect ROCm compute arch` suggests that there is some issue with rocm runtime. Make sure you have installed rocm correctly and that a normal rocm app works.

[2021-06-21 02:06] #8286 closed

[2021-06-21 02:14] masahi commented on #8168
I don't see actionable items, so I have to close this. For a question like this, please open a thread on the discuss forum.

[2021-06-21 02:14] #8168 closed

[2021-06-21 08:25] GoodNight-bye commented on #7986
hello, have you finished importing the DLRM model，i have the same task

[2021-06-21 08:27] crazydemo commented on #7986
no i haven't

发自我的iPhone

------------------ Original ------------------
From: GoodNight-bye ***@***.***&gt;
Date: Mon,Jun 21,2021 4:26 PM
To: apache/tvm ***@***.***&gt;
Cc: Ivy Zhang ***@***.***&gt;, Author ***@***.***&gt;
Subject: Re: [apache/tvm] ImplementationError: The following operators are not implemented: ['aten::embedding_bag'] (#7986)

[2021-06-21 08:31] crazydemo commented on #7986
是的

发自我的iPhone

------------------ Original ------------------
From: GoodNight-bye ***@***.***&gt;
Date: Mon,Jun 21,2021 4:30 PM
To: apache/tvm ***@***.***&gt;
Cc: Ivy Zhang ***@***.***&gt;, Author ***@***.***&gt;
Subject: Re: [apache/tvm] ImplementationError: The following operators are not implemented: ['aten::embedding_bag'] (#7986)

[2021-06-21 08:32] GoodNight-bye commented on #7986
我这边是把网络拆分了，embedding的部分不放在NPU上执行，但是后面有个index算子的问题

[2021-06-21 16:07] areusch commented on #8177
i won't have time to get to this during this week. if someone else wants to push the images, go for it. #8193 could also potentially join this merge train

[2021-06-21 16:15] mbrookhart commented on #8177
I can probably take this. It looks like there are a number of things we need to merge to main before regenerating the tickets?

It looks like the follow up to #8169 was merged as #8245. Do we need to merge #8088 and a CI-only version of #8193 before generating the images? It looks like #8268 failed a flaky test in the TF frontend, @areusch can you rebase?

@Lunderberg Do you want to make a PR for

[2021-06-21 16:55] AndrewZhaoLuo opened #8294 "[AMP] CUDA support for mixed precision pass"
Solve issues and make modifications to support CUDA for mixed precision pass here: https://github.com/apache/tvm/pull/8069

Current initial issues as described by @Lunderberg

This issue is completed when unit tests can pass for CUDA target.

[2021-06-21 16:55] AndrewZhaoLuo commented on #8294
cc @Lunderberg @masahi

[2021-06-21 16:55] AndrewZhaoLuo opened #8295 "[AMP] Vulkan Support for Mixed Precision Pass"
Solve issues and make modifications to support Vulkan for mixed precision pass here: https://github.com/apache/tvm/pull/8069

Current initial issues as described by @Lunderberg

%_struct_12 = OpTypeStruct %_runtimearr_v3half

This issue is completed when unit tests can pass for Vulkan target.

[2021-06-21 16:55] AndrewZhaoLuo commented on #8295
cc @Lunderberg

[2021-06-21 17:21] AndrewZhaoLuo opened #8296 "[RFC][Tracking Issue][AMP] Tracking Issue for Mixed Precision Pass"
This issue tracks work on supporting mixed precision within TVM.

RFC: https://github.com/apache/tvm-rfcs/pull/6

- [x] Write initial mixed precision pass (https://github.com/apache/tvm/pull/8069)
- [x] Audit schedules for support of accumulation dtypes (should be fixed with https://github.com/apache/tvm/pull/8517)
- [x] Benchmark accuracy loss on select models (https://gist.github.com/masahi/e4c6

[2021-06-22 00:25] masahi commented on #8294
Got this error when running `test_convert_single_conv()` with cuda or opencl:

[code]

[2021-06-22 00:56] areusch commented on #8177
@mbrookhart rebased

[2021-06-22 02:44] yangshuo0323 opened #8298 "[Codegen] how to get the binary code of one computed case?"
For example:
1. use this case: `tests/python/unittest/test_target_codegen_x86.py`:
    only execute one func `fp16_to_fp32("llvm -mcpu=skylake-avx512", 15, match="vcvtph2ps.*mm")` in this file.
    in x86_64 platform: `$ python  test_target_codegen_x86.py`
2. Add code `print(f.get_source())` in the test file, I printed out the result code:
  part of the code:
[code]

**This code seem to be assembl

[2021-06-22 08:15] junluan opened #8299 "[BUG][Relay][QNN] relay.qnn.op.conv2d failed with group > 1 and weight scale's length is [out_c]"
For example:

When the input tensor with shape [1, 256, 56, 56], weight tensor with shape [256, 8, 3, 3], weight scale with shape [256], group is 32, then this can be failed because of this check: [https://github.com/apache/tvm/blob/main/src/relay/qnn/op/convolution.cc#L81](https://github.com/apache/tvm/blob/main/src/relay/qnn/op/convolution.cc#L81)

This check needs weight scale's length is the s

[2021-06-22 10:55] neos-lc commented on #5133
I have encountered the following missing op conversions:

`The following operators are not implemented: ['aten::silu_', 'aten::copy_']`

I'm trying to compile a YoloV5 model in AWS Sagemaker Neo.
This is the full failure reason:

`ClientError: InputConfiguration: TVM cannot convert the PyTorch model. Invalid model or input-shape mismatch. Make sure that inputs are lexically ordered and of the corr

[2021-06-22 16:27] AndrewZhaoLuo commented on #8294
I suspect this has to do with the schedule not actually supporting accumulation dtypes.

Can you post the rest of the trace?

[2021-06-22 17:16] AndrewZhaoLuo commented on #8294
Hmm yeah the problem has to do with what i say. Specifically in `python/tvm/topi/cuda/conv2d_winograd.py` the winograd matrix `G` is cast to the output dtypes while the kernel isn't so there is a type mismatch.

In general it seems reasonable to have implicit type promotion to higher bit floating point types. Furthermore, it might also be good to have most binary arithmetic ops to have output_dtyp

[2021-06-22 17:35] AndrewZhaoLuo commented on #8294
I'm just going to turn off accumulating to fp32 for now. I don't want to manually look at every single schedule ever written to check for correctness.

Turning things off all the unit tests except one pass. The one that doesn't pass is the problem described by @Lunderberg. This ones seems trickier since I don't understand how cuda codegen works at all.

[2021-06-22 17:58] Lunderberg commented on #8177
@mbrookhart #8306 is now open, includes the TF version update.

Regarding `coremltools`, we're already installing the latest version `coremltools==4.1`, and even the beta version `coremltools==5.0b1` gives warnings about the scikit-learn and tensorflow versions.  That said, all the tests in `tests/python/frontend/coreml` and `tests/python/contrib/test_coreml_codegen.py` pass despite the warnings.

[2021-06-22 18:47] Lunderberg commented on #8294
From what I can tell, the float16 values are packed into uint32 when not in use, and are cast to the float16 when used.  I think there will need to be some special handling to pad out the calls to `make_uintN` (e.g. `make_uint2` for a length-3 array of float16s packed into 64-bits with the last 16 bits empty), or the packing will need to change.  Either way, looks like there isn't an immediate fix

[2021-06-22 19:14] AndrewZhaoLuo commented on #8294
Yep, not familiar with CUDA codegen either. I can't seem to trivially find the ops which cause this. Looks like another TODO.

@junrushao1994 do you have any ideas?

[2021-06-23 00:43] mbrookhart commented on #8177
I've merged everything I think we want, but unfortunately, none of the docker images are building.

ci_arm fails with this: `/install/ubuntu_download_arm_compute_lib_binaries.sh: line 54: curl: command not found`, I think that's an issue with #8245 . @d-smirnov @leandron , can you debug and fix? you probably need to install curl in the download script or use wget.

Everything else is failing with:

[2021-06-23 00:45] mbrookhart commented on #8177
I'm trying to rebuild the images one at a time instead of in parallel on this machine to see if that fixes the LLVM issue

[2021-06-23 03:36] wrongtest opened #8308 "[BUG] Incorrect buffer offset for vectorized computation"
Hi there, we are working on vectorized computation in some tagged storage scope. We encountered the problem on vectorize:
The example is as below:
[code]

Here we use tagged storage scope, thus `A`,`B`,`C` can be merge into single buffer `Merged` and `A` and `C` share same region:
- `A` -> `Merged[0: 1024]`
- `B` -> `Merged[1024; 2048]`
- `C` -> `Merge[0: 1024]`

It seems that after buffer merging

[2021-06-23 04:59] masahi commented on #8299
Sounds like the same problem in https://github.com/apache/tvm/issues/7878?

Pinging @anijain2305 for the bug fix.

[2021-06-23 05:01] masahi commented on #8298
Please post a general usage question at https://discuss.tvm.apache.org/.

You can try `get_source("asm")`.

[2021-06-23 05:01] #8298 closed

[2021-06-23 08:25] u99127 commented on #8177
I've had a look and probably have a fix for it - it appears that curl is installed in individual install files rather than moving into a common place which is what I'll look to do .

That happens when the LLVM mirrors are updating to get new packages. Nothing much can be done but wait, sadly. @leandron probably knows more.

Ramana

[2021-06-23 09:06] u99127 commented on #8177
@mbrookhart  - see #8315

[2021-06-23 15:02] mbrookhart commented on #8177
Thanks, @u99127 . I'll retry building this morning with these changes

[2021-06-23 16:57] tqchen commented on #8140
normally we should construct test cases to ensure there are no ties

[2021-06-23 17:08] mbrookhart commented on #8177
@areusch is out this week, but his sphinx fix had a syntax error. If someone could review this, I'd appreciate it:
https://github.com/apache/tvm/pull/8316

With that PR and the other two linked above, I can build the ci_cpu, ci_gpu, and ci_arm images. ci_qemu is failing with a gpg error that arose with one of these PRs, I've asked @mehrdadh to debug. https://github.com/apache/tvm/pull/8156 https:/

[2021-06-23 17:59] mehrdadh commented on #8177
@mbrookhart looks like `http://keys.gnupg.net/` is down. I tried with replacing it to `hkp://keyserver.ubuntu.com:80` and it worked.
[gpg --keyserver keys.gnupg.net --recv-keys 0x3353C9CEF108B584](https://github.com/apache/tvm/blob/d0791d3db971a111826d96201bd1e4c9c0d531da/docker/install/ubuntu_install_qemu.sh#L56)

[2021-06-23 20:46] vinx13 commented on #8271
I can compile your test case with g++ 7.5.0. Which version did you use?

[2021-06-23 20:46] #8271 closed

[2021-06-23 20:48] vinx13 commented on #8232
You need to enable llvm when compiling it. See https://github.com/apache/tvm/blob/main/cmake/config.cmake#L122

[2021-06-23 20:48] #8232 closed

[2021-06-23 21:58] mehrdadh commented on #8177
@mbrookhart sent a PR to fix this issue: https://github.com/apache/tvm/pull/8319

[2021-06-24 13:00] tqchen commented on #8308
Thanks @wrongtest for reporting the issue, can you help to suggest a fix and send a PR?

[2021-06-24 13:01] tqchen commented on #8308
also cc @vinx13 @masahi who can help manage the related PRs

[2021-06-24 13:04] tqchen commented on #8255
In this particular case, it might be related to the fact that we are running graph runtime locally while the computation are on the remote. @areusch might have more background. In such cases, `remote.cpu(0)` is actually the correct device type.

[2021-06-24 15:42] mbrookhart commented on #8140
I'm seeing flakiness in this test in about 1/3 of CI jobs, it's becoming a real problem to getting other PRs merged. Should we think about disabling this test until we can resolve the flakiness?

[2021-06-24 16:32] trevor-m commented on #8140
I'm fine with disabling the test for now, sorry I haven't had a chance to look into the flakiness yet.

[2021-06-25 08:04] wrongtest commented on #8308
Hi, there is a fix at https://github.com/apache/tvm/pull/8338.  @tqchen @vinx13 @masahi

[2021-06-25 12:00] enjustli commented on #8271
I'm sorry, when I create Map<PrimExpr, PrimExpr>, I use such code:
[code]
In the above example the Map constructor func is
[code]

I should use
[code]
😭

[2021-06-25 12:42] manupa-arm opened #8339 "tflite==2.4.2 breaks "test_forward.py::test_forward_mobilenet_v1" (and few other tests in the tflite frontend)"
With recent docker environment update to #8306, the tflite version is upgraded to 2.4.2.

I'm raising this, as when we re-generate Docker images, this will certainly show up.
The error messages I see are as follows :

[code]

A specific error message from the above list will be as follows :

[code]

Therefore, I think we should stick with tflite=2.3.1 unless we include the changes to the tflite fr

[2021-06-25 12:42] manupa-arm commented on #8339
cc : @leandron @areusch @Lunderberg @mbrookhart

[2021-06-25 14:00] leandron commented on #8339
@Lunderberg @mbrookhart any idea on whether this is something trivial to fix?
Otherwise I would suggest we revert #8306 while this is investigated.

[2021-06-25 15:16] mbrookhart commented on #8339
:( I would probably hit this today as I get closer to finally being able to build the images.

I think the issue is that we updated docker to cuda 11, and the older version of TF isn't compatible with cuda11. I'll poke and see if I can figure out what's going on.

[2021-06-25 15:41] Lunderberg commented on #8339
We might be able to still use the older version of TF, since I think it falls back to using the CPU implementation, but would add to the already long time to runtime of the CI.  It also wouldn't be as direct of a comparison, since it would be comparing TVM+cuda to tflite+CPU.

I'd lean toward improving compatibility with TF 2.4.2, but haven't looked at that portion of TVM to know how difficult tha

[2021-06-25 16:08] Lunderberg commented on #8177
A question on the rebuilds overall.  Beyond just the version dependencies, we've had a few cases where the built images would result in failing unit tests (e.g. #8339).  Would it be good to add running the unit tests to the Dockerfiles?  Since we need to test the built images anyways before using them, that would make the testing of each image, with unit tests appropriate for that image, be automa

[2021-06-25 16:09] AndrewZhaoLuo opened #8340 "[AMP] Audit mixed precision operation schedules for correctness"
Some operations like conv2d and matmul support heterogenous output datatypes.

E.g. the operation could be done with float16 operands but accumulate the result in float32.

However, some schedules for these ops don't actually support mixed precision types. For example `python/tvm/topi/cuda/conv2d_winograd.py` has a type error if the output dtype is not the same as the input dtypes.

This issue is

[2021-06-25 16:15] leandron commented on #8177
I think running TVM unit tests would imply in also building TVM as part of the Docker image rebuild, which doesn't make much sense. Based on that, I think we should avoid adding the unit tests as part of the Dockerfiles themselves.

IMHO, it would be better just to be able to qualify images in a systematic way, as part of the release of new images.

We are currently working on a way to improve the

[2021-06-25 16:19] mbrookhart commented on #8177
I think a nightly job would be great, trying to do it this week has been a mess :)

[2021-06-25 16:27] leandron commented on #8177
Yeah, it won't solve the problems per se, but once we get it into a stable state once, we'll be able to take one problem at a time, and not all of them at once, when we decide to update the images - that's the advantage.

[2021-06-25 16:37] mbrookhart commented on #8339
Does anyone know where an API reference for TFLite is? I'm not super familiar with this frontend, but this does seem to be tflite returning the wrong number of inputs. I'm kind of wondering if they merged "ADD" and "ADD_N"

[2021-06-25 17:38] mehrdadh commented on #8255
@tqchen I think the device type is correct here. I added a test [here](https://github.com/apache/tvm/pull/8259/files#diff-1f8002fa397ffc8695c94af887bebe36dc2367c1b5655350d87cf660119d5bc7R193)
And the `sess.device` is equal to `remote[0]:cpu(0)`

[2021-06-25 19:55] AndrewZhaoLuo commented on #8294
With PR #8341 we can tune some models. Results here : https://docs.google.com/spreadsheets/d/12lgyfuHaRS-X4uG-1iQOV8oAuPpuVAbspcmkOSPRFHQ

We see good speedups, esp. for BERT.

[2021-06-25 21:09] mehrdadh commented on #8255
https://github.com/apache/tvm/pull/8345

[2021-06-26 08:05] #6624 closed

[2021-06-28 02:25] enjustli opened #8355 "simplify with let stmt"
In such case:
[code]
if simplify skip_index_ is true, the index in output stmt still has `pid`.

I found the bug in tvm/src/tir/transforms/simplify.cc
[code]
when let is simplified, but the var will not be fixed if `skip_index_ == true`

[2021-06-29 07:30] masahi commented on #8140
Another failure from the `(1, 64, 20, 4)` workload despite the fix in https://github.com/apache/tvm/pull/8335. `Mismatched elements: 65 / 256 (25.4%)` suggests that something is off @trevor-m
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8358/2/pipeline

[2021-06-29 10:25] HerrLieber opened #8365 "When I run make under /home/libo/tvm-vta-main/apps/tsim_example I get an error"
I followed ../tvm-vta-main/apps/tsim_example/READ.md step by step

When I go to this step
Test Verilog backend

Go to <vta-hw-root>/apps/tsim_example
Run make

After running "make", the following error always appears.

(tvm-build) libo@ubuntu:~/tvm-vta-main/apps/tsim_example$ make
make -C hardware/verilog
make[1]: 进入目录“/home/libo/tvm-vta-main/apps/tsim_example/hardware/verilog”
g++ -O2 -Wall -fPIC

[2021-06-29 15:51] mbrookhart commented on #8177
I built the images at pushed them to a PR this morning, I expect the job to fail due to #8339 , but we'll see if there's anything else.

[2021-06-29 18:20] mbrookhart commented on #8177
Okay, I see failures with tflite, but I also saw this:
[code]
I built the arm image on an amd64 system, do I need to build it on an ARM system instead?

[2021-06-29 18:37] areusch commented on #8177
the platform error is due to building ci-arm on wrong arch (i use an m6g on AWS). i'm rebuilding for you now.

[2021-06-29 18:45] areusch commented on #8177
[code]

[2021-06-29 19:55] u99127 commented on #8177
Looks like I hadn't tested it properly. I think #8371 should fix it.

[2021-06-29 23:53] electriclilies commented on #8272
Hi @GoodNight-bye, for general debugging, it would be better for you to open create a discussion post where the community can give input about what is wrong. If you have a found a specific bug, then you should create a tracking issue.

[2021-06-30 04:28] GoodNight-bye opened #8374 "[BUG]Import the DLRM NET graph from pytorch to Relay failed"
I am try to compile the DLRM from PyTorch, when i call the function  relay.frontend.from_pytorch get some errors.
Here are some of the information I've summarized:
The part of source code from DLRM NET:
[code]
Zflat is obtained by slicing and indexing Z, when I call the torch.jit.trace to load model, the part of scripted model' graph as follow:
[code]
 %Zflat is computed by aten::index, the %44 is

[2021-06-30 04:38] GoodNight-bye commented on #8272
@electriclilies ，thank you for your advice,  I create a new issue and provide a minimum script to reproduce the problem，Look forward to your favourable reply
https://github.com/apache/tvm/issues/8374

[2021-06-30 09:20] manupa-arm commented on #8339
Can we merge this reasonably sooner ?

https://github.com/apache/tvm/pull/8375

@mbrookhart  @Lunderberg  @leandron @u99127

[2021-06-30 15:05] mbrookhart commented on #8177
I think we have fixes in for the tflite error and the arm build error (Thanks @u99127 !). I'll regenerate the cpu/gpu/qemu images this morning off https://github.com/apache/tvm/commit/8d4df91836bac8ee416adf29141d051c952802a7, @areusch could you try the ARM image on that commit?

[2021-06-30 15:48] areusch commented on #8177
well, at that commit i get:
[code]

but with this patch
[code]

i'm able to get it to build. pushed as `areusch1/ci-arm-staging:v0.04`, if you want to use that. sent #8377 to resolve on `main`.

[2021-06-30 16:00] mbrookhart commented on #8177
I hit this building the CPU image as well :(

[2021-06-30 18:23] mbrookhart commented on #8177
I've started a CI staging job with :point_up: that diff and new images here: https://github.com/apache/tvm/pull/8193

[2021-06-30 18:59] delldu opened #8378 "Bug meshgrid"
**1. Environment:**
1.1 The version of TVM you are using (e.g., the git commit hash of your source tree).
commit 8d4df91836bac8ee416adf29141d051c952802a7 (HEAD -> main, origin/main, origin/HEAD)

1.2 Which hardware and operating system version you are running TVM on.
AMD x86, ubuntu18.04

1.3 Which hardware device and OS you are targeting for your TVM compilation.
AMD x86, ubuntu18.04, only set(US

[2021-07-01 00:15] ymwangg commented on #8378
The document may be misleading. You need to compile the relay expression.
The following code should work.
[code]

[2021-07-01 05:03] roastduck commented on #8053
Hi @lllggghhh1, have you solved the problem? I am encountering the same error.

[2021-07-01 14:36] mbrookhart commented on #8177
The staging job failed because Keras didn't seem to make it into the packages? Did TF drop Keras in 2.4?

Also, @Lunderberg there are a couple more TF failures:

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/107/pipeline

[2021-07-01 14:57] leandron commented on #8339
#8375 is now merged, so perhaps we can close this issue?

[2021-07-01 15:10] areusch commented on #8339
i think we should wait til #8177 is done, just to make sure the fix will stick.

[2021-07-01 16:39] Lunderberg commented on #8177
@mbrookhart  Whoops, I was mistaken.  I thought that `keras` was a dependency of TF, because it was in the `ubuntu_install_tensorflow.sh` script, and that the removal of the pinned version of keras was part of the same issue that required the pinned h5py version.  I was wrong, and the keras installation was separate from the installation of TF, but depends on TF.

It looks like the standalone-kera

[2021-07-01 17:56] #8378 closed

[2021-07-01 17:59] vinx13 commented on #8365
You need to clone apache/tvm repo and set up tvm path.

[2021-07-01 17:59] #8365 closed

[2021-07-01 20:56] mbrookhart commented on #8177
Is this something we can fix, or do we need to revert the TF upgrade for this round of CI upgrades?

[2021-07-02 08:37] leandron commented on #8177
The original discussion was kept in #6754, but my local tests are CPU only, so I don't have any data regarding CUDA versions w.r.t the referred issue.

[2021-07-02 12:47] leandron commented on #8177
I tried this, and _just to report back_, it fails with `AttributeError: module 'tensorflow.python.framework.ops' has no attribute '_TensorLike'`, which is sort of expected with that combination.

[2021-07-02 14:49] leandron commented on #8177
On a CPU-only machine, **all frontend tests pass with** the following combination:
`tensorflow==2.4.2 keras==2.4.3`

There is no need to pin `h5py` (which, out of curiosity, installs version `2.10.0`)

cc @mbrookhart @Lunderberg

[2021-07-02 15:01] mbrookhart commented on #8177
Thank you!

It looks like which version of h5py you get might depend on your pip version:
[code]
I think we should keep that constraint in there.

[2021-07-02 15:23] tqchen opened #8392 "[BUG][FRONTEND] Pytorch Importer mm"
Caught this when reading through the code. Dense requires transposition.

https://github.com/apache/tvm/blob/main/python/tvm/relay/frontend/pytorch.py#L1880

[2021-07-02 15:23] tqchen commented on #8392
cc @masahi

[2021-07-02 16:10] areusch commented on #8177
it may also depend on the order in which things are installed, too.

[2021-07-02 21:17] mbrookhart commented on #8177
I'm going to rebuild the images on https://github.com/apache/tvm/commit/22204bee7c4f8cada1afa9702abb8223e8f2014d and try again. Thanks, @leandron!

[2021-07-03 13:25] tqchen commented on #8392
tracking an related error here https://discuss.tvm.apache.org/t/pytorch-unable-to-import-a-simple-torch-nn-linear-to-relay/10383

[2021-07-03 13:26] tqchen commented on #8392
cc @jcf94 @comaniac

[2021-07-03 13:50] masahi commented on #8392
Yeah `torch.mm` expects non-transposed input, so our converter doesn't seem correct. https://pytorch.org/docs/stable/generated/torch.mm.html

I wonder why the test cases didn't catch this...

[2021-07-03 14:30] masahi commented on #8392
Sorry for the confusion, this converter is not used anywhere. Removed in https://github.com/apache/tvm/pull/8397

[2021-07-03 21:32] #8392 closed

[2021-07-05 02:02] jcf94 commented on #8392
Sorry for my later replay, what's the latest update to this problem?
The `nn.matmul` should currently only be enabled in TensorFlow frontend with extra parameters.

[2021-07-05 12:22] manupak opened #8404 "[RFC] Unified Static Memory Planning (USMP) Tracking Issue"
This is the tracking issue for the changes proposed in the USMP [RFC](https://discuss.tvm.apache.org/t/rfc-unified-static-memory-planning/10099).

# Steps

- [x] Introduction and integration of tir.allocate_const (similiar to tir.allocate). The integration would be a refactor of current link-params implementation to lower from tir.allocate_consts.
  - [x] Introduce tir.allocate_const TIR construct

[2021-07-05 13:03] learning-chip opened #8406 "[BUG] topi.sparse.csrmv only accepts float32, but not other data types"
## Problem description

`topi.sparse.csrmv` has `"float32"` hard-coded inside `ir_builder` and `te.extern`, making it only accept float32, but not float64 and other data types:

https://github.com/apache/tvm/blob/d3fc562a6f3b8cd4d0a5f86e1e3ebc503ebeba2b/python/tvm/topi/sparse/csrmv.py#L66-L68

https://github.com/apache/tvm/blob/d3fc562a6f3b8cd4d0a5f86e1e3ebc503ebeba2b/python/tvm/topi/sparse/csrmv.

[2021-07-05 15:20] HerrLieber commented on #8365
Thanks for your reply.
But there is no tsim_example folder in apache/tvm/apps.

If I want to simulate the FPGA with TSIM to get the running time of each layer, what could I do?

[2021-07-06 03:06] #8272 closed

[2021-07-06 03:24] #8355 closed

[2021-07-06 15:23] syang-ng opened #8410 "[BUG] Segmentation fault during executing a module that uses pass tir.transform.DecorateDeviceScope"
Hi there, we are trying to apply some tir passes for our program. We encountered the problem on pass `tir.transform.DecorateDeviceScope`:

The code to reproduce the problem is as below:

[code]

A segmentation fault occurs during this program execution.

[code]

It seems that after applying the pass `tir.transform.DecorateDeviceScope()`, a bug is left in the final built module `opt_execute` and th

[2021-07-06 21:27] AndrewZhaoLuo opened #8412 "[Topi] Allow relay.nn.dense support arbitrary number dimensions"
Right now the schedule assumes two dimensions for the input tensor though the documentation suggests otherwise:
https://tvm.apache.org/docs/api/python/relay/nn.html#tvm.relay.nn.dense

Alternatively we can just adjust the documentation to stipulate relay.nn.dense has an input tensor of only two dimensions. However, other frameworks allow their dense layers to be arbitrary number dimensions. E.g. h

[2021-07-07 05:37] mbrookhart commented on #8177
The images are built and running, but I'm hitting a few more TF issues. Anyone care to take a look? https://github.com/apache/tvm/pull/8193

[2021-07-07 06:50] nft30001 commented on #4111
sudo apt-get install libgmp3-dev

[2021-07-07 07:04] learning-chip opened #8413 "[BUG] tvm.contrib.sparse.placeholder cannot be used as argument for tvm.build()"
## Problem description

 `tvm.contrib.sparse.placeholder` is intended to be an input type for `topi.sparse.csrmv` (#1289, #1291 by @liangfu). However, passing `sparse.placeholder` to `tvm.build` leads to `ValueError: don't know how to convert type <class 'tvm.contrib.sparse.CSRPlaceholderOp'> to object`.

This is because `tvm.contrib.sparse.CSRPlaceholderOp` cannot pass the check inside `tvm.runti

[2021-07-07 07:10] learning-chip commented on #8413
I can indeed using `A.data`, `A.indices`, `A.indptr` as three separate nodes and inputs. But then the purpose of `tvmsp.placeholder` becomes unclear, because I can simply use three 1-D tensors to represent the CSR matrix, without having a new CSR data type.

Here's a simple example:
[code]

[2021-07-07 07:19] learning-chip commented on #8413
Should `tvmsp.CSRPlaceholderOp` be defined as a subclass of `object_generic.ObjectTypes`?

The current relationship between those classes:
[code]

[2021-07-07 14:37] tqchen opened #8417 "[TEST][FLAKY] test_arm_compute_lib"
https://ci.tlcpack.ai/job/tvm/job/main/1262/execution/node/352/log/

[2021-07-07 14:38] tqchen commented on #8417
cc @leandron @masahi @areusch perhaps we should consider temporary disable the test

[2021-07-07 14:40] tqchen commented on #8417
https://github.com/apache/tvm/pull/8400

[2021-07-07 14:44] tqchen commented on #8417
I am not too sure about the cause, but this case it seems to be more frequent than the i386 ones

[2021-07-07 14:47] u99127 commented on #8417
We have a docker image update for ci_arm which uses pre-built binaries which is due and we are waiting for it for the past many weeks. I haven't seen any of these failures occur in the gazillion times I've run this with the latest Dockerfile.ci_arm image baked by myself locally. Perhaps we can look to move that ahead and see how it runs in the CI and if we have similar flakiness ?

[2021-07-07 14:59] tqchen commented on #8417
Yah, let us do that. However, the CI Jenkinsfile will only take in effect in main, so perhaps a good first step is to first cleanup the compute_lib.sh so we unblock others, then upgrade the image

[2021-07-07 15:08] u99127 commented on #8417
I think that's already done by @areusch and @mbrookhart as part of their work in updating the ci images in #8177 .

[2021-07-07 15:54] u99127 commented on #8417
I've updated #8400 as suggested till we figure this out - is there a way to access the CI machine to debug interactively what is going on ? I am unable to reproduce the issue at all at my end having tried it on quite a few AArch64 linux boxes I have control of.

[2021-07-07 16:25] areusch commented on #8417
@u99127 do you have either a) a packer build flow for the CI ARM machine or b) a suggested AMI or recipe for building the CI machine? my understanding is that the ARM machines use an image we built in-house, and it would be great to just document the build process.

[2021-07-07 21:50] u99127 commented on #8417
On the machines I have access to I'm using bog standard 18.04 ubuntu + the docker image baked from the Docker scripts .

On your query about the machine possibly @zhiics might be able to help ?

Ramana

[2021-07-08 15:35] Lunderberg commented on #8177
It looks like the latest issues are running out of GPU memory.  Does the new TF increase memory usage, or change when python garbage collection runs?

[2021-07-08 17:06] mbrookhart commented on #8177
[code]

Anyone know how a 750 Ti got into CI?

[2021-07-08 17:16] areusch commented on #8177
[code]

looks like another SAMPL node @tqchen. do we want to keep this in for diversity of testing or remove it? my vote is to remove it since it is a probabilistic failure scenario rather than a deterministic one. i think our CI is so long that we can't afford to allow code to merge that isn't expected to deterministically pass a following run.

[2021-07-09 13:25] echuraev commented on #8146
I tried to use `TFLite Lab` for running tflite model, but I'm not able to select the model file. The files are not active in file manager:
![изображение](https://user-images.githubusercontent.com/5525113/125084140-dd44ea80-e0d1-11eb-83e2-660d3bab81c9.png)
Maybe you know what is the problem and why I'm not able to select these mode files? Which version of `TFLite Lab` are you using?

[2021-07-09 15:05] mbrookhart commented on #8177
Hmm, now I hit an out of memory issue on a T4: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/111/pipeline/393

[2021-07-09 17:02] Johnson9009 opened #8432 "[Bug.Relay.InferType] Type Inference Report Mismatch after One Operator Is Removed"
## Standard Ouput and Error Message
[code]

## Reproduce Test Case
[code]

## Current Clue
We can see the first InferType pass works well, so before the pass "SimplifyPad" the infered output shape of "nn.conv2d" is (1, 224, 224, 64), after the pass "SimplifyPad" the operator "nn.pad" is removed, because "SimplifyPad" is a function pass so the InferType pass will be executed automatically, the erro

[2021-07-09 17:05] Johnson9009 commented on #8432
@jwfromm @jroesch @tqchen Can help to check this issue? Thanks.

[2021-07-09 19:46] ya0guang opened #8439 "[BUG] `wasm-standalone` app cannot work"
When @mssun and me try to rebuild [wasm-standalone app](https://github.com/apache/tvm/tree/main/apps/wasm-standalone), we encountered several problems. Some of them were fixed TEMPORARILY, and we failed to get over some problems.

## My environment

TVM: e3e03df3b6ad35ca81671284d229d1b37b032a27, default config, except `USE_LLVM ON`
rustc: 1.53.0
LLVM: 12.0.0
Python: 3.9.5

## Problem 1: `build_gra

[2021-07-09 19:47] ya0guang commented on #8439
Hopefully, the initial committer of this app can help us @leonwanghui .

[2021-07-10 02:06] ymwangg opened #8441 "[BUG] nn.dense does not work for dynamic shapes"
It looks like the native tvm implementation of nn.dense does not handle dynamic shapes correctly though using libs such as mkl, cublas has no issues. The following is the code to reproduce this issue.
[code]
Please note nn.batch_matmul works correctly for such cases not using libs:
[code]

[2021-07-10 16:06] AlexYaoRuihao opened #8444 "TVM Docker build issues on Rust SGX SDK"
Hi, I was working on building TVM based on Rust SGX SDK right before #4976 with commit hash 93dff448b06a8fd6e133326cf8c32bb623817fc3. I was trying to run the docker version following instructions below.
![image](https://user-images.githubusercontent.com/34175393/125169032-01560980-e16e-11eb-9b39-44cb1de62767.png)
When I try to run the command `make -j4` after cmake, I got the following errors.
![i

[2021-07-10 17:53] Lyken17 commented on #8182
happened to be here. It was surprising the issue was not solved after so long time. For anyone who also had this trouble, you may refer following code to support `group` parameter in transposed convolution

[code]

[2021-07-12 07:29] leonwanghui commented on #8439
@ya0guang Sorry for the late reply, this app has not been maintained since https://github.com/apache/tvm/pull/6862, if you want to make the demo work, it's highly suggested to downgrade the version of TVM to `44ff1f3b5ed0751fee39537a0e6e3870a74c930b`, and the demo was only tested on LLVM 10.0

[2021-07-12 12:43] Tomakko commented on #6801
Have you found a workaround for this?

[2021-07-12 15:02] Johnson9009 commented on #8432
After one day debugging, I find the root cause of this issue, it is the below "if" statement.
https://github.com/apache/tvm/blob/1d7a9e9dff1983cd4b12104f93b32bfe4b4c4f7e/src/relay/transforms/type_infer.cc#L557-L559
With the help of git history, it is added by the PR #2437.

Just use the above test case to describe why the issue will happen, before the 1st invocation of "InferType" pass, the types

[2021-07-12 22:39] mbrookhart commented on #8177
Still hitting the Tensorflow OOM issue on the T4. Any ideas?

[2021-07-12 23:10] mbrookhart commented on #8177
I don't see any excessive memory use when I put the test on a loop locally or run the full tensorflow test suite locally with this version of TF...

[2021-07-13 03:17] ya0guang commented on #8439
Thanks a lot for your reply!

However, the problem still exists after I switch to the specific commit and LLVM 10. The Python script doesn't work and complains about "Invalid target". Then I checked the source code [`src/target/target_id.cc`](https://github.com/apache/tvm/blob/44ff1f3b5ed0751fee39537a0e6e3870a74c930b/src/target/target_id.cc#L351) and found that it doesn't accept `target` as an att

[2021-07-13 04:19] rijulg commented on #7886
@masahi are there any links to follow up on this, or references to reach a working solution for dynamic shapes?

[2021-07-13 17:35] AndrewZhaoLuo commented on #8296
cc @Lunderberg

[2021-07-13 17:52] leandron commented on #8177
Does Jenkins has more than one executor runnin on that same machine?

[2021-07-13 18:09] areusch commented on #8177
It may have that, I think there are 2 executors per GPU node.

On Tue, Jul 13, 2021 at 10:52 AM Leandro Nunes ***@***.***>
wrote:

[2021-07-13 19:21] #8406 closed

[2021-07-14 17:06] mbrookhart commented on #8177
@trevor-m I'm hitting an error in this test you added: https://github.com/apache/tvm/blob/e1b3ff4ae3b1ea22691e8d3cc9c001459a7aa080/tests/python/frontend/tensorflow/test_forward.py#L460-L468

When updating the TF version in CI.

The error is
[code]

Did you expect that test to be run in NHWC?

[2021-07-14 17:09] trevor-m commented on #8177
Hmm, yeah It looks like it was meant for NHWC. I guess we may need to explicitly state the format now? Or if it is easier, we could change to NCHW.

[2021-07-14 17:10] mbrookhart commented on #8177
https://github.com/apache/tvm/blob/e1b3ff4ae3b1ea22691e8d3cc9c001459a7aa080/tests/python/frontend/tensorflow/test_forward.py#L315-L322

It looks like that utility is doing something a little crazy with gpu. Let me try to just the base utility directly

[2021-07-14 17:18] mbrookhart commented on #8177
https://github.com/apache/tvm/pull/8193/commits/c6064b041845bd3b49a6c724804f54c2954d1179 fixed it.

[2021-07-14 18:20] junrushao opened #8473 "[RFC][Tracking Issue] Meta Schedule (AutoTIR)"
This is a global tracking issue for landing the meta schedule. The RFC can be found [here](https://github.com/apache/tvm-rfcs/blob/main/rfcs/0005-meta-schedule-autotensorir.md).

## Steps

The steps are numbered following TensorIR (#7527).

### [M3a] Core infrastructure

- [x] Instruction & Trace #8615
- [x] TracedSchedule #8623
- [x] Sampler #8642 #8817
- [x] Design space generator #9079
- [x] Se

[2021-07-14 20:28] mehrdadh opened #8474 "[microTVM][Zephyr][AOT] Memory Alignment"
There's an issue with AOT demo where the zephyr RTOS doesn't guarantee that [g_aot_memory](https://github.com/apache/tvm/blob/e1b3ff4ae3b1ea22691e8d3cc9c001459a7aa080/apps/microtvm/zephyr/aot_demo/src/main.c#L43) start with a 4 bytes alignment memory address. Therefore, it will cause an exception specially on fp32 operations. One simple hack is to add memory alignment to `g_aot_memory` which is us

[2021-07-15 11:53] manupa-arm opened #8482 "[RFC][Tracking Issue] Arm® Ethos™-U Integration"
This issue to track upstreaming progress for Arm® Ethos™-U integration.

- [x] P1:  The ci_cpu Dockerfile changes and install scripts – Arm® Corestone™-300 Reference System and Arm® Ethos™-U NPU core driver : #8514
- [x] P2: The Relay passes with unit tests for Conv2D (Partitioning, Preprocessing and Legalization) with The Ethos™-U Relay operators, TE compute definitions : #8795
- [x] P3: TIR Pass

[2021-07-15 15:55] mbrookhart commented on #8177
@areusch @mehrdadh @Lunderberg I'm not hitting issues with the QEMU tflite test https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/115/pipeline

[2021-07-15 16:29] mehrdadh commented on #8177
@mbrookhart trying to reproduce the issue now.

[2021-07-18 21:12] kevinLu1114 opened #8495 "[ONNX][BUG] Expand operator wrong answer"
When I run the model(ssd_mobilenetv1), I found that the answer was wrong, and finally found that the problem was in [Expand ](https://github.com/apache/tvm/blob/d3db5d65c9aefacda128756c15c7ec3f0a7b91ea/python/tvm/relay/frontend/onnx.py#L1982) operator, so I wrote a small script to reproduce the problem.

In my case, my comment out code line was resolved. https://github.com/apache/tvm/blob/d3db5d65

[2021-07-19 10:01] #8495 closed

[2021-07-19 15:28] mbrookhart commented on #8177
Hey everyone. Thanks for all the help! This merged this morning. Hopefully @leandron 's nightly builds will prevent this level of pain in the future :D

[2021-07-19 15:28] #8177 closed

[2021-07-19 16:00] ya0guang commented on #6816
I also encountered a similar problem when executing the WASM.

trace:
[code]

[2021-07-19 17:45] vinx13 commented on #8444
try `git submodule update`, there are some updates to `dlpack` and `DLContext` has been renamed to `DLDevice`

[2021-07-19 17:45] #8444 closed

[2021-07-19 17:46] #8308 closed

[2021-07-19 22:23] lazycal opened #8505 "[Bug] Legalization for nn.dense on cuda does not account for change of units"
Minimum code to reproduce:
[code]
A quick fix would be adding one line of code `new_attrs['units'] = None` before [here](https://github.com/apache/tvm/blob/main/python/tvm/topi/cuda/tensorcore_alter_op.py#L170) (but that may not be desired since it makes a originally non-None `units` None).

[2021-07-20 08:17] cgerum opened #8507 "[BUG] [ONNX] ReduceSum not handled when using opset 13"
In Opset 13 of ONNX ReduceSum has been changed to take reduce axis from an input tensor instead of an attribute: https://github.com/onnx/onnx/blob/master/docs/Changelog.md#ReduceSum-13.
This is not correctly handled in `from_onnx`.

[code]

This error can be reproduced using the following test case:

[code]

[2021-07-20 12:37] masahi commented on #6474
https://github.com/apache/tvm/pull/8447

[2021-07-20 12:37] #6474 closed

[2021-07-20 13:17] Shpionus opened #8510 "Bug: Golang Frontend expects wrong output size"
I tested ` Golang Frontend for TVM Runtime` tutorial (tvm/golang/README.md)
Running of ```./complex``` raise and error:

[code]

[2021-07-20 20:00] tqchen commented on #8510
Thanks @Shpionus can you confirm if it is because the mobile net number of classes get updated, it is a bit strange to see 1001 classes. cc @srkreddy1238

[2021-07-20 20:08] #8093 closed

[2021-07-20 20:13] tqchen commented on #8182
Thanks @Lyken17 , do you mind to send a PR to resolve the case?

[2021-07-20 20:13] tqchen commented on #8140
@masahi please followup to see if we can close this issue

[2021-07-20 20:16] tqchen commented on #7724
cc @masahi it would be great if you can help follow up

[2021-07-20 20:19] tqchen commented on #8432
@slyubomirsky @jroesch @altanh would be great if you can help followup on this

[2021-07-20 21:03] #8140 closed

[2021-07-20 21:22] AndrewZhaoLuo commented on #8340
https://github.com/apache/tvm/pull/8517 might fix this if it is not too controversial.

[2021-07-21 02:08] GoodNight-bye commented on #7986
embedding_bag is supported in relay/frontend/onnx.py, you can refer to this file.

[2021-07-21 07:00] Lyken17 commented on #8182
@tqchen Sure, I can craft a PR.

[2021-07-21 12:01] Shpionus commented on #8510
[The ResNet and VGG Models have 1000 classes but the ImageNet dataset has 1001
](https://github.com/tensorflow/models/blob/master/research/slim/README.md#the-resnet-and-vgg-models-have-1000-classes-but-the-imagenet-dataset-has-1001)

[2021-07-21 13:26] #5458 closed

[2021-07-21 13:26] #6618 closed

[2021-07-21 13:27] tqchen commented on #6559
@jroesch can you please confirm if the issue has been fixed?

[2021-07-21 13:27] #7310 closed

[2021-07-21 13:29] tqchen commented on #7705
Close due to inactive status, https://github.com/apache/tvm/pull/7917 might have fixed the setup, if not, we can als use the option to disable the libbacktrace

[2021-07-21 13:29] #7705 closed

[2021-07-21 13:29] #7599 closed

[2021-07-22 10:36] masahi commented on #8295
I can confirm that TF2 ssd mobilenet v2 can be converted to fp16 and runs on vulkan (AMD) and opencl (Intel Ice lake), if I disable vectorization on fp16 at https://github.com/apache/tvm/blob/main/python/tvm/topi/cuda/injective.py#L54-L55 (cc @Lunderberg).

But the output from fp16 is a bit off compared to fp32 (on both vk and ocl):
[code]

[2021-07-22 13:15] Lunderberg commented on #8295
I ran into a few issues with vectorization when I was running ResNet50 with float16.  If you apply PR #8528 , is it still necessary to disable the vectorization?

[2021-07-22 13:28] Lunderberg commented on #8295
Regarding the numerical accuracy, I had a few maybe-similar issues when putting together the unittests in #8529.  There's a decent number of schedules that perform poorly if the accumulator dtype is float16.  I had a short discussion with @AndrewZhaoLuo last week on how best to implement float32 accumulation in the mixed precision pass, but haven't looked into it much yet.

[2021-07-22 20:17] masahi commented on #8295
With #8528, I get this error:
[code]

[2021-07-23 00:59] masahi commented on #8507
This is a very annoying issue related to https://github.com/onnx/onnx/issues/3420#issuecomment-826031370
cc @mbrookhart

[2021-07-23 01:36] ya0guang opened #8534 "`tvm-graph-rt` uses wrong type of `BackendPackedCFunc`"
As some people and I mentioned in #6816, the currently TVM cannot support `wasm32` target well using Rust APIs. It can run into this error: `wasm trap: indirect call type mismatch`.

This error originates in the incorrect extern function definition in `rust/tvm-sys/src/lib.rs`:
[code]

However, the correct definition in C is from `include/tvm/runtime/c_backend_api.h`:
[code]

Here is an additional

[2021-07-23 04:38] mbrookhart commented on #8507
:( As of Monday I got our onnx tests updated from opset 11 to opset 13 by updating from onnx 1.6 to 1.8. That caused a bunch of new failures in the tests shipped with onnx, which I skipped for now and will be slowly going back to fix. If you have a solution for this, please feel free to open a PR, I'm guessing it's going to require some complex refactoring of certain dynamic kernels on the GPU-sid

[2021-07-23 07:04] Johnson9009 opened #8536 "[Bug] Heterogeneous Execution Get "target" Bug Introduced by #7518"
I found the bug when sync the latest TVM commits into our own repo, after that lots of our test cases are failed.

The bug will cause the case that all of the operators are annotated to executed on a custom device fail, because the "target" is set to "llvm" incorrectly instead of the custom target like "xxpu".

Even through the root cause of the failure is difficult to describe and understand, but

[2021-07-23 07:35] comaniac commented on #8536
@jroesch this might be the root cause of the issue I mentioned in the forum days ago.

[2021-07-23 15:10] lazycal opened #8540 "[BUG] CUDA misaligned address when vectorizing float16"
TVM seems to have some issue on the alignment requirement when doing vectorization on CUDA. Script to reproduce:
[code]

The generated CUDA kernel code:
[code]
It reads 2 `half`s starting from an odd offset of `placeholder`, which is not aligned to 4 bytes (assuming `placeholder` is at least 4-byte aligned).

## Some analysis and possible fix
After some close look, I found that this was caused by

[2021-07-23 16:59] comaniac commented on #8540
Thanks for reporting this issue. I agree with you that this seems to be an issue in the CUDA codegen instead of the schedule. @vinx13 do you have any suggestion?

[2021-07-23 17:51] vinx13 commented on #8540
I agree, CUDA Codegen should check alignment before generating vectorized loads

[2021-07-23 20:06] masahi commented on #8540
cc @Lunderberg if this is related to your recent investigation.

[2021-07-24 11:08] zhaiyi000 opened #8545 "automatically terminate when I use breakpoints to debug"
The program can be executed normally, but it will automatically terminate when I use breakpoints to debug. There is no prompt when using vscode. When using pycharm, it prompts "Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)"

Environment: MacBook Pro
System: macOS 11.4
Server: ubuntu 18 docker
use ssh to connect server

I call the function `aa = IRModule()`, this function

[2021-07-24 14:37] junrushao1994 opened #8546 "Primitive: vectorize & unroll & bind thread"

[2021-07-24 14:37] #8546 closed

[2021-07-24 14:38] junrushao1994 commented on #8546
Sorry I clicked a wrong button :-(

[2021-07-24 20:05] tqchen commented on #8264
Thanks @UniverseFly for reporting, https://github.com/apache/tvm/pull/8547 should fix the problem

[2021-07-25 12:43] tqchen opened #8550 "[TEST][VTA] Chisel Scala Lint failures"
https://ci.tlcpack.ai/job/tvm/job/main/1354/execution/node/236/log/

cc @vegaluisjose @tmoreau89 could be related to changes in the chisel sbt?

[2021-07-25 17:12] vegaluisjose commented on #8550
I was trying to investigate by building the `ci_cpu` Docker image but I am getting some issues with llvm

[code]

Are there any late changes that happen with sbt or Ubuntu?

[2021-07-25 21:53] #8264 closed

[2021-07-25 22:27] tqchen commented on #8550
disabled in https://github.com/apache/tvm/pull/8547. Feel free to pull the binary image from the docker hub via

````docker/bash.sh ci_cpu```

[2021-07-26 02:11] jcf94 opened #8552 "[CI] Does anyone feel that out CI is becoming slower and slower?"
The recent PRs trend to spend more time on passing the CI, looks like mainly cost by waiting for the machine resources.

[2021-07-26 08:28] WeberChen commented on #7941
Hi @tqchen tqchen,
Thank you for your kindly reply.
It's pretty that I can not get the pool configuration from graph_json file.
However, because I want to combine TVM with the NVDLA through BYOC method, could you suggest some TVM trace code that liking the DLA to TVM?
Thanks a lot.

[2021-07-26 13:09] tqchen commented on #8552
Thanks @jcf94 . There was an outage during the weekend which is being worked on, we now recovered some of the GPU nodes and will work to recover all of them.

[2021-07-26 20:35] srinidhigoud opened #8561 "NMS op causing poor performance in tf2 models"
This is a follow up to the PR #8174 by @masahi. Some of the tf2-tvm object detection (OD) models performed poorer than just tf2 framework. Following are the numbers observed. TF-TVM latency is on models that are post processed with combined-nms

Model | TF-TVM Latency(ms) | TF latency (ms) | Boxes Shape | Scores Shape
-|-|-|-|-
ssd_mobilenet_v1_fpn_640x640_1_nms | 377.20 | 203.31 | (1, 51150, 1, 4

[2021-07-26 20:52] masahi commented on #8561
Yes, I'm aware that TF2 models have large number of input boxes and our NMS becomes a bottleneck. I think our NMS needs further improvement in general. cc @trevor-m

Two questions:
1. Do you have numbers for `TF-TVM` before https://github.com/apache/tvm/pull/8174? You can disable the new conversion in 8174 by changing https://github.com/apache/tvm/blob/main/python/tvm/relay/frontend/tensorflow_ops

[2021-07-27 03:52] CaptainDuke opened #8565 "[TESTS] Hardcode target and device when getting tvm output"
https://github.com/apache/tvm/blob/344553223494d136d5eb1cd315e2c000879b06ec/tests/python/frontend/onnx/test_forward.py#L81-L84

I comment the code but test case [test_gemm](https://github.com/apache/tvm/blob/a492db89d9d7ddfc773baec0e8ee0ee09a9487c5/tests/python/frontend/onnx/test_forward.py#L5323) failed. It seems onnx_runtime and tvm differ on the precision.

[2021-07-27 11:24] masahi commented on #8565
cc @mbrookhart @jwfromm I remember we found this problem before and fixed it then...

[2021-07-27 21:01] electriclilies commented on #8565
Yeah, @mbrookhart and I definitely removed it (or tried to)..

[2021-07-27 21:06] mbrookhart commented on #8565
:/ I don't see the removal of the hard-coded target in the PR we did. https://github.com/apache/tvm/pull/7438/files

But I could have sworn it was in there. Perhaps we messed up a rebase?

[2021-07-27 22:36] u99127 commented on #8417
Ok I've tried this for quite a few times this evening after having acquired access to an m6g4xlarge instance - not sure if this is the same as CI

- Running with image version v0.05 I could make the test trigger and fall over at least 2-3 times
- Running with image version v0.06  at least 25 times in a loop with 2 different build areas gave no failures.

for i in {1..25} ; do ./tests/scripts/task_

[2021-07-27 22:37] areusch commented on #8417
I agree let us re-enable the tests and see how they do in CI with 0.06

[2021-07-27 23:04] #8510 closed

[2021-07-28 07:51] fengzhao860814 opened #8572 "error:libLLVMMCJIT.a: error adding symbols: File in wrong format"
cp cmake/config.cmake build
set(USE_LLVM ON)
cmake .. \
    -DCMAKE_SYSTEM_NAME=Linux \
    -DCMAKE_SYSTEM_VERSION=1 \
    -DCMAKE_C_COMPILER=$CC \
    -DCMAKE_CXX_COMPILER=$CXX \
    -DMACHINE_NAME=aarch64-linux-android \
    -DCMAKE_HOST=aarch64-linux-android

make -j32
Cross compilation failed:
libLLVMMCJIT.a: error adding symbols: File in wrong format
clang++: error: linker command failed with

[2021-07-28 09:39] u99127 commented on #8339
I thinks this can now be closed ?

[2021-07-28 13:34] tqchen commented on #8572
Thanks for asking the question, please open a new thread on https://discuss.tvm.apache.org/ for related build trouble shooting. You  only likely need to build tvm runtime instead of libtvm on android.

[2021-07-28 13:34] #8572 closed

[2021-07-28 17:04] AndrewZhaoLuo commented on #8296
cc @masahi

[2021-07-28 17:48] AndrewZhaoLuo commented on #8540
Link issue #8294

[2021-07-28 17:54] AndrewZhaoLuo opened #8577 "[Python] Support Python 3.9.X+"
This issue is to track issues with python 3.9.x+ in TVM.

Right now this is empty and made for tracking purposes.

[2021-07-28 18:06] tkonolige commented on #8577
- [ ] Switch hybrid script to use synr.
- [ ] Make sure nothing in the tvm codebase requires forking new threads (as opposed to spawning).

[2021-07-28 18:44] Lunderberg commented on #8540
Hmm, looks a bit different from the Vulkan vectorization issues I've been investigating.  There, the TIR looks reasonable but the generated code was not.  Here, the TIR asks for an improper alignment, and the codegen follows those instructions.

I think that would make sense, though as far as I can tell, the [only check currently present](https://github.com/apache/tvm/blob/main/src/target/source/c

[2021-07-28 22:24] tqchen opened #8579 "[TEST] Conv2dGrad Takes long time to finish"
Looking at the test time log, https://ci.tlcpack.ai/job/tvm/job/main/1356/testReport/ctypes.tests.python.relay/test_op_grad_level2/

conv2d grad takes a long time to finish(1h)..

Possible cause: this is likely due to our numerical gradient checker trying to do numerical gradient for all directions which scales linearly to the number of entries.

Possible resolutions:
- K0: Use memoization to cach

[2021-07-28 22:38] tqchen commented on #8579
cc @altanh

[2021-07-28 23:28] altanh commented on #8579
After analysis we believe this regression is due to a combination of changes in #8486 and also an inefficient loop in the `check_grad` function:

1. #8486 replaced the previous global (or thread-local) `CompileEngine` with a fresh `TECompiler` per `Interpreter` instance. This means that the previous behavior of caching lowered functions (for given input types) globally across all interpreters no l

[2021-07-29 02:21] #8417 closed

[2021-07-29 02:35] GoodNight-bye commented on #7986
I have done the job, DLRM is already running on our NPU. If you have any question, you can contact me.

[2021-07-29 06:01] altanh commented on #8579
**Update:** the problem goes a bit deeper with the Interpreter executor. Specifically, the function returned by `intrp.evaluate(fwd_func)` is actually a Python closure which itself creates the new interpreter each time it is invoked. This means we can't even get around the caching problem by just calling `.evaluate` once.

**Possible solutions:**

1. just give up on using the interpreter executor

[2021-07-29 13:01] #8536 closed

[2021-07-29 13:02] tqchen commented on #8579
Let us go with 1 and just skip the interpreter executor in the grad evaluation.

[2021-07-29 13:22] #8439 closed

[2021-07-29 16:03] Mousius opened #8589 "[RFC][Tracking Issue] Additional Target Hooks"
1. [x] Add hook for relay_to_tir - https://github.com/apache/tvm/pull/8423
1. [x] Add hook for tir_to_runtime -
1. [ ] Migrate `relay.ext` to relay_to_runtime / constant_updater -
1. [ ] Migrate external codegen -> target conversion -

[2021-07-29 19:44] AndrewZhaoLuo commented on #8340
Closing as #8517 should have fixed this.

[2021-07-29 19:44] #8340 closed

[2021-07-29 20:03] areusch opened #8593 "CI sporadically fails with "unstable" status"
Seen twice now, once yesterday and once today:

* https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8525/15/pipeline/390/
* https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8567/2/pipeline

Tests contains the same stack trace:
[code]

Suspect this is from a stale pytest JUnit report, since ONNX tests are not run by tests/scripts/task_python_frontend_cpu.sh. Hopeful fix i

[2021-07-29 21:44] areusch opened #8595 "[RFC] Tracking bug for RFC 0008: microTVM Project API"
See https://github.com/apache/tvm-rfcs/pull/0008

[2021-07-29 22:28] huajsj opened #8596 "[RFC][Tracking Issue] Pipeline Executor For Compute graph pipeline"
PR  https://github.com/apache/tvm/pull/7892
Discussion https://discuss.tvm.apache.org/t/rfc-compute-graph-pipeline-with-new-subgraph-executor/9839/

# Steps
Following are the PR list for the feature plan
## [Pipeline Executor] Infrastructure
- [x] Pipeline configuration creation https://github.com/apache/tvm/pull/8702
- [x]  Pipeline backend build and pipeline configuration export/load https://git

[2021-07-30 08:09] #8579 closed

[2021-07-30 13:17] JKANG94 commented on #8298
**get_source("asm”)** can generate assemble program.   How to get c++ code ?

[2021-07-30 13:18] JKANG94 opened #8600 "【codegen】get_source("asm”) can generate assemble program. How to get c++ code ?"

[2021-07-30 13:57] tqchen commented on #8600
Thanks @JKANG94 for asking the question, it would be great if you can open a new thread in https://discuss.tvm.apache.org/. You should be able to embed inline asm into llvm and call that from an extern function. The generated function can be access through TVM's runtime API

[2021-07-30 13:57] #8600 closed

[2021-07-30 13:59] tqchen opened #8601 "[TEST] Improve CheckGrad Numerical Gradient checking"
Followup of https://github.com/apache/tvm/issues/8579

Right now our numerical r numerical gradient checker trying to do numerical gradient for all directions which scales linearly to the number of entries.

We can instead sample a few random directions to check so that the time complexity won't grow linearly to the number of entries. see page 8 of this [slide](https://catalyst.cs.cmu.edu/15-884-m

[2021-07-30 13:59] tqchen commented on #8601
cc @altanh

[2021-07-30 14:00] tqchen commented on #8579
Closing this for now, opened https://github.com/apache/tvm/issues/8601 to track the followup item

[2021-07-30 15:17] minils opened #8603 "[VTA] `tvm.rpc.server.start` is not called"
When running the script `python vta/tests/python/pynq/test_program_rpc.py`, the function `tvm.rpc.server.start`is never called on the target (PYNQ in my case) which leads to an `AttributeError: Module has no function 'tvm.contrib.vta.init'` because the function is not registered (see `vta/python/vta/exec/rpc_server.py:65`).

The function should be called at `src/runtime/rpc/rpc_endpoint.cc:728`
[c

[2021-07-30 15:20] minils commented on #8603
Also see [this thread](https://discuss.tvm.apache.org/t/test-benchmark-topi-conv2d-py-failure-caused-by-attributeerror-module-has-no-function-tvm-contrib-vta-init/10059)

[2021-07-30 16:02] tqchen commented on #8603
THanks @minils for reporting. This is likely due to our recent update to rpc server and results the requirement of the function to be registered within the rpc server launch.

[2021-07-30 16:22] tqchen commented on #8603
Please see if https://github.com/apache/tvm/pull/8604 fixes the problem

[2021-07-30 18:45] denise-k opened #8608 "[TEST] test_lstms taking 20+ mins on CI runs"
# Context

CI is taking a while (see #8552 and [build#1384](https://ci.tlcpack.ai/job/tvm/job/main/1384/testReport/)), and I am tracking short-term fixes to alleviate this.

# Summary of the issue

`test_lstms.py` was recently added in PR #8447. It takes 20+ minutes to run 8 network-sized tests.

The tests uses the following parameters, which don't seem minimal:

[code]

Also, the In the test cons

[2021-07-30 19:04] denise-k opened #8609 "[TEST] TF broadcast tests taking 25+ mins on CI runs"
# Context

CI is taking a while (see #8552 and [build#1384](https://ci.tlcpack.ai/job/tvm/job/main/1384/testReport/)), and I am tracking short-term fixes to alleviate this.

# Summary of the issue

The following test cases are located in `tests/python/frontend/tensorflow/test_forward.py`

`test_forward_broadcast_args`  [takes over 15 minutes](https://ci.tlcpack.ai/job/tvm/job/main/1384/testReport/

[2021-07-30 19:33] #7724 closed

[2021-07-30 19:51] tqchen commented on #8552
The CI nodes are recovered. There are more ongoing effort to reduce the CI running time.

Let us move to more concrete threads for improving the CI test times

[2021-07-30 19:51] #8552 closed

[2021-07-30 19:52] denise-k opened #8610 "[TEST] Full network test cases embedded in frontend tests taking 1hr+ on CI runs"
# Context

CI is taking a while (see #8552 and [build#1384](https://ci.tlcpack.ai/job/tvm/job/main/1384/testReport/)), and I am tracking short-term fixes to alleviate this

# Summary of the issue

Each of the frontends in TVM is testing multiple common networks (e.g. `resnet_50, inception_v1, googlenet`). Functionally, the networks are the same once they get lowered into TVM, which means that ther

[2021-07-30 20:07] mehrdadh commented on #8474
PR is merged now!

[2021-07-30 20:07] #8474 closed

[2021-07-30 21:06] denise-k opened #8611 "[TEST] test_roi_align in ONNX frontend tests taking 5+ mins of CI time"
# Context

CI is taking a while (see #8552 and [build#1384](https://ci.tlcpack.ai/job/tvm/job/main/1384/testReport/)), and I am tracking short-term fixes to alleviate this

# Summary of the issue

`test_roi_align` is pretty well tested at the relay and topi level as well as the frontends. However, the ONNX roi align tests take [7 minutes](https://ci.tlcpack.ai/job/tvm/job/main/1384/testReport/cyth

[2021-07-31 12:41] vvchernov commented on #8608
Hello! It was resolved in PR #8583

[2021-07-31 12:51] vvchernov commented on #8608
Warnings are a part of the code in TVM. The first one is related to that LSTM with projection supported by pytorch starting from 1.8.0 version. But TVM stable works with pytorch 1.7.0. The second warning is related to difference between modifications of LSTM supported in onnx and pytorch. It means that in some cases the conversion from pytorch LSTM to ONNX one failes. But it is external issue, it

[2021-08-01 19:07] CallahanRL opened #8616 "Invalid vector floormod rewrite."
https://github.com/apache/tvm/blob/9f29e2a94923604aeff88d1a8f3efaf0c3bd0655/src/arith/rewrite_simplify.cc#L857

I have a counter example to this rewrite. It takes this code
`floormod((((threadIdx.x*50) + (b.i.fused.j.fused.inner.outer.inner*8)) + b.i.fused.j.fused.inner.inner.s_1), 20)`
to this code:
`ramp((floormod(((threadIdx.x*50) + (b.i.fused.j.fused.inner.outer.inner*8)), 20)*32), 32, 8)`

Th

[2021-08-01 22:23] schell commented on #6559
I recently ran into SIGSEGV and SIGBUS, as well as general stability issues that I summed up here https://discuss.tvm.apache.org/t/deploying-opencl-on-apple-hardware-metal-sigsegv-and-sigbus/10642/6 . I'm hoping that this leak is what's causing that issue. Can we get an update here? Thanks!

[2021-08-02 00:25] tqchen commented on #8616
Thanks @CallahanRL . Do you mind to propose a fix with the regression test? We might need to look into a similar simplify in the Mod case. We will likely need to circulate over all the possible ramp indices to decide if they are the same(instead of look into the two ends)

[2021-08-02 07:39] minils commented on #8603
Thanks @tqchen for looking into this.
Running the rpc server now gives another error:
[code]

I could previously fix this error by moving some functions from `vta/python/vta/environment.py` to `vta/python/vta/build_module.py`  (see [fix.patch](https://gist.github.com/minils/a37546d0d186c02952ecc326173db9f0)). But with the latest commits from `main` it doesn't work any more.

[2021-08-02 16:03] denise-k commented on #8608
thank you for addressing this so quickly @vvchernov! the test times on `test_lstms` are looking much better now so I'm closing this issue.

[2021-08-02 16:03] #8608 closed

[2021-08-02 16:35] tqchen commented on #8616
@CallahanRL Can you print out the value before and after rewrite, then give a counter example where it does not hold? This would help clarify the situation further.

In guess the additional info comes from the fact that that

[code]

We also know that coeff % c2 in certainly cases.

[2021-08-02 21:10] #8534 closed

[2021-08-03 01:49] laiou opened #8629 "Link librvm_runtime.so get Error."
I wanted to link tvm lib to my repo , using tvm 0.6 lib. after use target_link_libraries to link libtvm_runtime.so ,but get a ld error is showing :
undefined reference to `tvm::runtime::NDArray::Empty(std::vector<long, std::allocator<long> >, DLDataType, DLContext, int)'
collect2: error: ld returned 1 exit status

How can i  fix this error , thanks!

[2021-08-03 03:42] SamKG opened #8632 "[Frontend][ONNX] No support for `RandomUniform`"
This is mainly meant as a post for discussion purposes - trying to figure out how to best approach supporting this in the API.

Currently, there's no clear way to add support for the random operations.
ONNX relies on the existence of a global key (the op API doesn't specify any key); However, TVM doesn't seem to expose any such value.

Any feedback or advice on how to approach this would be apprec

[2021-08-03 05:03] mbrookhart commented on #8632
https://github.com/apache/tvm/blob/6d88bdd3ea36d9e3167eb92e167bd05f997c7fb3/python/tvm/relay/frontend/onnx.py#L3397-L3418

We have RandomUniform, but we haven't looked into the rest yet. There is a random number generator based on [ThreeFry Counter-based RNG](https://bashtage.github.io/randomgen/bit_generators/threefry.html), but it's probably not going to match the seed ONNX uses, so I would reco

[2021-08-03 19:09] mbrookhart commented on #8611
@denise-k Something is weird here. When I run this locally on my machine, it takes 8 seconds, it's not even in the top 5 for slowest tests in the onnx test suite.

[2021-08-03 19:32] areusch opened #8640 "[microTVM] move function prototypes from lib0.c to an include file"
Now that we have `--interface=` target string flag, it's possible to wind up in a bad situation with two different styles of function prototypes:

lib0.c:
[code]

lib1.c:
[code]

target string used: `"c -keys=cpu -link-params=1 -model=host -runtime=c -system-lib=1 -unpacked-api=1"`

the action item here is to move the prototype from lib0.c into a header file which is included by both files.

cc @M

[2021-08-03 20:02] denise-k commented on #8611
thanks for looking into this, @mbrookhart.

this set of tests is pretty consistently slow on the CI machines:
![image](https://user-images.githubusercontent.com/50588693/128078348-75b56bf6-7e17-403b-a313-7015549d93bd.png)

I'll do a bit more digging in the logs and run this locally myself, to see how exactly the behavior changes from local vs. CI.

[2021-08-03 20:05] guberti commented on #8640
This issue exists on https://github.com/guberti/tvm/commit/61a0a392af5dd20d44f6974f975335a8d4da859d.

[2021-08-03 21:23] mbrookhart commented on #8611
I refactored the onnx tests, that went in this morning https://github.com/apache/tvm/pull/8621

On that CI job, I saw this:
![image](https://user-images.githubusercontent.com/4065489/128088035-eb368693-843d-497b-9ec3-db02db925ccf.png)

I wonder if the difference in times is just because I have more cores on my desktop machine. I'll try running on my laptop instead

[2021-08-03 21:49] mbrookhart commented on #8611
16 core AMD desktop:
[code]

6 core Intel laptop
[code]

There shouldn't be that big of a difference between these two machines, it's 2.5x the cores but 23x the performance

I will profile.

[2021-08-03 22:02] mbrookhart commented on #8611
Profile says...LLVM is taking a massive amount of time to compile the kernels for 2 of the unit tests. I realized I have llvm12 on my desktop but llvm10 on my laptop, so I upgraded my laptop to llvm12, rebuilt TVM, and then I get this on my laptop:

[code]

We should probably bump the version of LLVM we use in CI.

[2021-08-03 22:06] mbrookhart commented on #8611
FYI - it's the two tests with non-zero sampling ratio that LLVM 10 chokes on. I don't particularly want to remove those, since there are no other tests against the onnx implementaiton of those feature sets.

[2021-08-03 22:53] Mousius commented on #8640
I think this has always been the case, at least with AOT? `--system-lib=1` also generates normal packed function prototypes without `resource_handle`:
[code]

Whereas the actual operators have `resource_handle`:
[code]

This applies whenever you use `-system-lib=1`. I'm unsure if the correct solution is moving the prototypes to another header or just providing the correct prototypes in the metadat

[2021-08-04 05:40] masahi commented on #8296
I've hit a nasty issue. On CPU targets, our sorting related ops are implemented in C++ https://github.com/apache/tvm/blob/main/src/runtime/contrib/sort/sort.cc#L436, and they don't support fp16. So ops like `topk`, `argsort`, `nms` etc do not work on fp16 + cpu target combination. We can add all of them to the NEVER list, but then that would introduce unnecessary cast for GPU targets because sorti

[2021-08-04 11:14] ashutosh-arm opened #8646 "[RFC][Tracking Issue] CMSIS-NN Integration"
1. Graph partitioner for CMSIS-NN target #8653
2. Code generation using existing BYOC #8833
2a. tvmc support to generate code for #8833
3. Moved TIR generator to C++ #8951
4. Use of CMSIS-NN data structures while supporting Convolution #9331
4a. Buffer sizes based on arch extensions #9338
5. Support for Depthwise Convolution #9409
6. Support for Fully connected #9531
7. Support for Max Pooling #95

[2021-08-04 12:03] techshoww opened #8649 "confusing error: CUDA_ERROR_INVALID_PTX"
I have two computer.
Computer A has  two 24G memory nvidia gpu (RTX 6000).
Computer B only has a 2000M memory nvidia gpu (MX330).
The two computer all use same cuda-9.0 , same tvm version, same gcc version,  same system ubuntu18.04 and same code.

There are two scene,
scene 1,
I export a tvm model on  computer A.
Then i run the model on computer B.
TVM report error "Check failed: ret == 0 (-1 vs.

[2021-08-04 15:30] areusch opened #8654 "[RFC][Tracking Issue] Project API"
This is a tracking issue to implement [RFC 8: Project API](https://github.com/apache/tvm-rfcs/blob/main/rfcs/0008-microtvm-project-api.md). See the RFC and discuss forum for more details.

[2021-08-04 15:31] areusch commented on #8654
duplicate of #8595

[2021-08-05 01:38] sunjiweiswift opened #8664 "[Frontend][Tensorflow] Not support "Dtype""
def from_onnx(model, shape=None, **dtype="float32",** opset=None, freeze_params=False):
def from_tensorflow(graph, layout="NHWC", shape=None, outputs=None, convert_config=None):
Why TF not support variable dtype

[2021-08-05 01:46] sunjiweiswift commented on #8664
If the pb is fp32, we want to change to fp16

[2021-08-05 04:38] UniverseFly opened #8666 "[TIR][Python] Misbehavior: {tir.const(1), tir.const(True)} throws ValueError"
To reproduce the problem:

[code]

After some inspection, I guess I could elaborate on the steps leading to this issue:

- During the construction of `s`, the `__hash__` of `int_1` and `bool_t` are compared, which are both `1`.
- Since they have the same hash value, Python needs to further consider whether the two objects are the same before finishing set construction, which in turn concerns the `

[2021-08-05 06:39] bmfire1 opened #8667 "[TVM_TUNE]how to speed up tvm-tune process?"
**This is my tune process**
============================

[Task  1/15]  Current/Best:  203.76/ 218.31 GFLOPS | Progress: (456/456) | 640.50 s Done.
[Task  2/15]  Current/Best:   80.40/ 419.17 GFLOPS | Progress: (1596/1596) | 4903.65 s Done.
[Task  3/15]  Current/Best:   42.18/ 481.95 GFLOPS | Progress: (2128/2128) | 4875.32 s Done.
[Task  4/15]  Current/Best:   49.33/ 398.59 GFLOPS | Progress: (21

[2021-08-05 09:28] masahi commented on #7979
One more bug fixed in https://github.com/apache/tvm/pull/8669

[2021-08-05 21:21] mehrdadh commented on #8595
Follow up issues that should be fixed:
- The latest fix on this PR breaks on NRF board which seems to be because of `prj.conf` misconfiguration.
- stm32l4r5zi_nucleo is removed from the hardware target list.
- It also fails on disco board with similar error to NRF:
[code]

[2021-08-05 23:31] tqchen commented on #8603
Thanks for the note, please see if https://github.com/apache/tvm/pull/8671 fixes the problem

[2021-08-05 23:46] tqchen commented on #8616
cc @jcf94 @merrymercy I did a closer check and seems indeed this rule is not always correct https://github.com/apache/tvm/blob/main/src/arith/rewrite_simplify.cc#L867

Can you double check and propose a fix? I would be great to cross check https://github.com/apache/tvm/blob/main/src/arith/rewrite_simplify.cc#L739

[2021-08-06 02:19] jcf94 commented on #8616
@tqchen Thanks, I'll check this!

[2021-08-06 02:29] jcf94 commented on #8616
Could you provide any script or compute/schedule example to reproduce this bug? @CallahanRL

[2021-08-06 08:29] masahi commented on #8649
Please ask questions on the forum. I don't see the difference in your case 1/2.

[2021-08-06 08:29] #8649 closed

[2021-08-06 08:30] masahi commented on #8667
Please ask questions on the forum.

[2021-08-06 08:30] #8667 closed

[2021-08-06 11:09] Mousius commented on #8062
@areusch / @mehrdadh - did the PR fix this issue in the end? Can we close this? :smile_cat:

[2021-08-06 11:11] Mousius commented on #7526
@jroesch are there plans to include AOT in this now?

[2021-08-06 13:56] tqchen commented on #8616
@jcf94 Based on the information,  I think we can simplify it to the following case. Which may not necessarily hold(try out different versions of x and they may not all reside in the same modulo bucket)

[code]

[2021-08-06 16:33] mehrdadh commented on #8062
@mehrdadh yes, this issue is resolved.
Thanks for the reminder.

[2021-08-06 16:33] #8062 closed

[2021-08-06 16:52] areusch opened #8673 "[CI] skip non-docs phases when a PR only modifies `docs/`"
Right now it's really difficult to write docs because you're subjected to the standard 5-10 hour CI flow. This is completely unnecessary when just changing the docs site--we only need to do a GPU-aware build of TVM, then run the [docs](https://github.com/apache/tvm/blob/338940dc5044885412f9a6045cb8dcdf9fb639a4/Jenkinsfile#L345) stage. docs depends on tutorials, which are executed against the GPU n

[2021-08-06 16:54] areusch opened #8674 "[CI] Report pytest --junitxml results when tests fail"
Right now we don't do junit reports when tests fail, so the Tests tab isn't super helpful outside of telling you test runtime. We should fix this so it becomes more useful. Modify the jenkinsfile to always invoke `junit` even if the shell script fails.

@mikepapadim will take a look
cc @leandron @jroesch @denise-k

[2021-08-06 17:00] areusch opened #8675 "[CI] Determine which gpu tests, if any, can be parallelized, and strategy to do so"
#8576 is enabling pytest-xdist for CPU-targeted TVM tests. This is a good first step to parallelizing the TVM test suite, but the real benefits will come if we can find a way to do this for tests that target GPUs. It's not clear if this can be done.

I _think_:
- we can probably safely run smaller GPU tests in parallel
- we don't have a good list of which tests those are so we don't know how much

[2021-08-06 17:38] comaniac commented on #8673
Thanks for bringing this up! I was thinking about this issue while ago but didn't take actions...
Another though is moving the docs building process from Jenkins to Github actions. In this case, we don't even need to use the CI resources when only changing docs.

[2021-08-06 21:06] crawlingcub opened #8679 "Lower accuracy for a resnet-18 model with TVM"
Hi,

I am getting lower accuracy with TVM when targeting both cuda and cpu as compared to running with a pytorch model. This is a variant of a Resnet-18 model. Find the link to download the model below.

You will have to download the imagenet validation dataset and extract/sort it into a folder. Replace `imagenet/data` with the name of that folder.

You can download the model from [here](https://d

[2021-08-06 21:53] mehrdadh opened #8680 "[microTVM][RVM] Remove qemu installation from RVM build"
Since Zephyr installation already provides different qemu instances we could remove qemu installation from [RVM](https://github.com/apache/tvm/blob/main/apps/microtvm/reference-vm/zephyr/base-box/base_box_provision.sh).

This is a follow up to this PR: https://github.com/apache/tvm/pull/8518

[2021-08-06 23:44] masahi commented on #8679
PyTorch resnet 18 is tested on every CI job, https://github.com/apache/tvm/blob/874ea7a81d91857a2495892c598a8b3b87a6da64/tests/python/frontend/pytorch/test_forward.py#L2030. So I don't expect any accuracy difference.

Can you try evaluating the model that is not serialized to disk? When PyTorch jit models are serialized, PyTorch erase all type information. This issue has caused some problems for u

[2021-08-07 00:31] crawlingcub commented on #8679
Hi, just to clarify, this is a mutant derived from a resnet-18 model, so the model structure is a bit different. We are testing the behavior of tvm when running some simple variants of well-tested models like resnet.

What do you mean by this? The results are same as before I serialized this model to disk.

[2021-08-07 00:38] masahi commented on #8679
I meant instead of `model = torch.load(sys.argv[1]+'/model.pt')`, create a model directly from a python script. But if you already tried that, something is a bit off indeed.

[2021-08-07 00:49] masahi commented on #8679
Can you also try exporting to ONNX and try our ONNX frontend? That would tell if this is a frontend specific issue.

[2021-08-07 01:13] crawlingcub commented on #8679
Ok, I will try that out

[2021-08-07 14:28] jlamperez opened #8683 "Error when using `partition_for_vitis_ai` with YOLOX ONNX model"
Hi,

I am following the [external_yolov3_tutorial.ipynb](https://github.com/Xilinx/Vitis-AI/blob/master/external/tvm/examples/external_yolov3_tutorial.ipynb) Jupyter notebook tutorial for compiling a [YOLOX-NANO](https://github.com/Megvii-BaseDetection/YOLOX/tree/main/demo/ONNXRuntime) ONNX model for Vitis-AI. But when I try to use [partition_for_vitis_ai](https://github.com/apache/tvm/blob/main/p

[2021-08-09 14:59] tqchen opened #8690 "[TEST][FLAKY] float16 test_conv2d_nchw"
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8687/1/

[2021-08-09 15:00] tqchen commented on #8690
The error log was pretty strange since the reported max rtol is smaller than the actual number. Perhaps it has something to do with fp 16. cc @Lunderberg since this might related to the recent changes you made

[2021-08-09 15:32] Lunderberg commented on #8690
Hmm, that failing test is parametrized to include `float16`, but the failing case was using `float32` values.  It's also running with a fixed random seed to try to prevent any flakiness due to input data.

That particular parametrization was running with cudnn, added to the CI in #8383 and recently merged.  I'm not able to reproduce the failure in my local `ci_gpu` docker instance, either before o

[2021-08-09 15:34] mikepapadim commented on #8673
I think if it possible to move the CI to GH actions only for doc changes, it will remove a lot of overhead from the current Jenkins workers.

[2021-08-09 15:35] Lunderberg commented on #8690
Maybe the CI nodes have harder hardware that isn't compatible with this version of cudnn?  The `ci_gpu` image uses cuda 11.0 + cudnn 8.0.5, which [should be compatible](https://docs.nvidia.com/deeplearning/cudnn/support-matrix/index.html#cudnn-versions-804-805) with SM 3.5 or higher.  What hardware are the CI nodes running on?

[2021-08-09 15:49] areusch commented on #8673
@comaniac Ah I should have said changes in `docs` and `tutorials`. We can definitely start with just `docs` for now to see how this works--if we expand the approach to `tutorials`, i think there are a few more wrinkles.

The main question is whether we can reliably reproduce the results of the CI on GH actions. Since the underlying machine will vary, and tutorials are executed as TVM code during t

[2021-08-09 16:34] comaniac commented on #8673
Oops I missed the tutorials. Yeah compiling tutorials requires specific machines, so we probably still need to use the Jenkins CI.

[2021-08-09 18:12] crawlingcub commented on #8679
Hi,

I tried exporting original model to onnx and then running with TVM's ONNX frontend. The results are **accurate** with onnx: actually **exactly similar** to what I get with pytorch. So this seems like a bug in the pytorch frontend?

[2021-08-09 18:15] areusch commented on #8646
https://github.com/apache/tvm-rfcs/pull/15

[2021-08-09 19:57] masahi commented on #8679
Ok. Can you send me an ONNX file, and if possible the pytorch model source?

[2021-08-09 20:31] crawlingcub commented on #8679
Hi,

I have updated the [link above](https://drive.google.com/file/d/1Krqq_qZLcz9conhf6-4OSF2QtDl4PLLn/view) to include both the pytorch and onnx model. Regarding the model source, I used the pretrained Resnet-18 model from torchvision and applied some simple mutations on top of it such adding noise to some weights, replacing activation function, and adding a new layer. I can send you a model summ

[2021-08-09 22:09] areusch opened #8696 "Log autotvm/auto_schduler Builder/Runner/session-ctor stack traces"
Right now when AutoTVM and auto_scheduler builders and runners encounter exception conditions, the exceptions are caught and stored into result objects, but never printed. This is WAI when the log level is e.g. below logging.INFO, because during autotuning, some schedules are expected to fail to build and autotuning should be robust to that.

However, there are a lot of valid debugging scenarios (

[2021-08-10 01:55] masahi commented on #8679
I can confirm that `model.pt` and a TVM model converted via ONNX give the same output. It is hard to compare two TVM models, one coming from PT frontend and the other from ONNX, since the ONNX model folds batch norm into convolution so there is no batch norm in ONNX model.

Since the differences from resnet18 seem small, and we know that there is no issue with resnet18, maybe you can start with re

[2021-08-10 03:10] crawlingcub commented on #8679
I looked at the trace of changes. It seems replacing one ReLU activation with ELU introduced a big change in accuracy. All changes before that did not affect the results much. Maybe some issue with ELU implementation in pytorch frontend?

[2021-08-10 03:47] masahi commented on #8679
Bingo! Fixed in https://github.com/apache/tvm/pull/8699

Thanks for reporting.

[2021-08-10 03:54] crawlingcub commented on #8679
Awesome! Thanks for your help!

[2021-08-10 04:15] schell opened #8700 "Metal device error on M1 MBP"
When loading metal models on my M1 Macbook Pro I see this line print:
[code]
and then quickly thereafter I get this failed check/error:
[code]

Looking at the code in tvm/src/runtime/metal/metal_device_api.mm it seems that this check should absolutely not fail if I have a device at all, which I know I do based on the line printed just before the check.

[2021-08-10 06:07] masahi commented on #8700
cc @echuraev

[2021-08-10 06:46] ryujaehun opened #8703 "[Bug] testing/densenet implementation has problems"
When testing DensetNet-121 using the built-in function in tvm, I saw unrealistic kernels below example(channel size is wrong!).

I found some problems with the built-in implementation of [densenet](https://github.com/apache/tvm/blob/b893774f38c648536645c3ac5775428b3e9d25b0/python/tvm/relay/testing/densenet.py)

It is an AutoTvm task when creating densetnet121. You can see the input and output chan

[2021-08-10 09:32] #8679 closed

[2021-08-10 22:30] mehrdadh opened #8711 "[TEST][FLAKY] TestAsymmetricPadding.test_conv2d_nchw"
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8701/3/pipeline

[2021-08-10 22:32] junrushao1994 commented on #8711
Same here: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8492/55/pipeline

[2021-08-10 22:33] junrushao1994 commented on #8711
and here: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8492/53/pipeline

[2021-08-10 22:36] tqchen commented on #8711
duplicating with https://github.com/apache/tvm/issues/8690

[2021-08-10 22:36] #8711 closed

[2021-08-11 10:11] Mousius opened #8717 "Fusion of operations and cast in mobilenet v1 conv2d causing large feature maps"
This is identified in the process of performing workspace calculation work, and can be seen in Depthwise Conv2D of [quantized mobilenet_v1](https://storage.googleapis.com/download.tensorflow.org/models/mobilenet_v1_2018_08_02/mobilenet_v1_1.0_224_quant.tgz).

Conv2D of quantized mobilenet_v1 is producing the following Relay primitive function with fused elementwise operations that does not get rea

[2021-08-11 10:12] Mousius commented on #8717
@manupa-arm @areusch

[2021-08-11 16:36] Lunderberg commented on #8690
It looks like the numpy results are returning identically zero for the values around the edge, while the cudnn results have non-zero values.  The numpy results are correct due to the padding used for that value.

Something that might be complicating the investigation is that [cudnn attempts](https://github.com/apache/tvm/blob/main/python/tvm/topi/cuda/conv2d.py#L125) to find the most efficient met

[2021-08-11 17:01] Lunderberg commented on #8690
And those same 5 are also not supported on kraken, either.

[2021-08-11 17:03] tqchen commented on #8690
perhaps as a simplest resolution we can swap the numpy and cuddn results. Note that for 0 it matters less

[2021-08-11 17:20] Lunderberg commented on #8690
I'm not sure that would make a difference.  The total allowed tolerance is `tol = atol + rtol*abs(y)`, and so that would only increase the total tolerance by a few percent.

[2021-08-11 17:32] tqchen commented on #8690
@Lunderberg you are right. perhaps a better way is indeed to relax the atol for now then

[2021-08-11 17:34] mehrdadh commented on #8690
@tqchen is the consensus to increase the `atol`?

[2021-08-11 18:22] mbs-octoml opened #8728 "Possible flakey tests/micro/zephyr/test_zephyr.py "test_relay[mps2_an521]""
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8597/38/pipeline

tests/scripts/task_python_microtvm.sh passes all tests internally.

[2021-08-11 19:08] gromero commented on #8728
@areusch It seems the bug we're chasing recently is still there? Unfortunately I was not able to reproduce it on my environment even after ~6 runs in sequence, just being able to reproduce once by chance.

[2021-08-11 19:28] Lunderberg commented on #8690
I'd agree on relaxing the atol, since handling result values near zero is what it is intended to do.

[2021-08-11 19:44] mehrdadh commented on #8690
@Lunderberg sounds good!

[2021-08-11 21:03] shingjan opened #8729 "[TEST][FLAKY] test_auto_scheduler_layout_rewrite_networks::test_conv2d_winograd"
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8492/52/pipeline/

Seems to be a flaky test

[2021-08-11 21:05] shingjan commented on #8690
This test also happens to be flaky in the CI run of #8492 : https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8492/53/pipeline/

[2021-08-11 21:44] Lunderberg commented on #8690
I ran into this same test on #8723 just now, and so I added the `atol` update for `test_conv2d_nchw` to it.

[2021-08-11 23:30] guberti opened #8730 "[Bug][microTVM] RPC server is flaky on the Arduino Nano 33 BLE"
The Arduino support implemented in #8708 works well on a wide variety of boards, but the RPC server sometimes fails only when running on the Arduino Nano 33 BLE. Which and how many tests fail is inconsistent from run to run. It doesn't seem to be a memory error, as the test that allocates a 16*1024 array will sometimes succeed while the test allocating a 1*1024 array fails.

Included below are two

[2021-08-12 03:23] huajsj commented on #7301
@codgeek , thanks for report this issue, please check if this PR https://github.com/apache/tvm/pull/8731 fixed the said issue.

[2021-08-12 09:28] pfk-beta opened #8732 "Build Docker demo_android failed"
Hello,
I'm following instructions from documentation: https://tvm.apache.org/docs/tutorials/frontend/deploy_model_on_android.html

I have run build command:
`docker build -t tvm.demo_android -f docker/Dockerfile.demo_android ./docker`
and on 23th docker directive:
`RUN cd /usr &&     git clone --depth=1 https://github.com/apache/tvm tvm --recursive &&     cd /usr/tvm &&     mkdir -p build &&     c

[2021-08-12 10:07] pfk-beta commented on #8732
Hello,
As temporal solution(?), I have changed Dockerfile to clone tvm repository with tag 0.7v. Build finished wihtout errors:
`git clone -b v0.7 --depth=1 https://github.com/apache/tvm tvm --recursive`

[2021-08-12 17:05] mbs-octoml commented on #8728
Here's another one:
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8735/2/pipeline/46

[2021-08-12 17:27] #8680 closed

[2021-08-13 04:01] UniverseFly commented on #8666
Fixed in https://github.com/apache/tvm/pull/8706

[2021-08-13 04:01] #8666 closed

[2021-08-13 14:16] pfk-beta opened #8743 "Build Android RPC App with vulkan support failed"
During building Anroid RPC App, I'm getting stacktrace:
[code]

`tvm_runtime.h` requires `vulkan.cc` which is not present in desired folder, nor in 0.7v and 0.8v. I'm using Docker container (android_demo.dockerfile)

[2021-08-13 14:21] pfk-beta commented on #8743
It looks like `vulkan.cc` can be changed to `vulkan_module.cc`

[2021-08-14 01:15] mehrdadh opened #8749 "[TEST][FLAKY] test_auto_scheduler_layout_rewrite.py::test_correctness_layout_rewrite_rewrite_for_preTransformed"
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8715/20/pipeline/258

Seems to be a flaky test.

[2021-08-14 03:59] jiangjiajun opened #8751 "[RFC][Tracking][RFC-0019] Add PaddlePaddle Frontend"
This issue will track the progress of PaddlePaddle frontend. Here is the RFC: [Add PaddlePaddle Frontend](https://github.com/apache/tvm-rfcs/blob/main/rfcs/add_paddlepaddle_frontend.md)

There're some works will be done for this frontend,

- [x] Add a PaddlePaddle frontend supports most common operators https://github.com/apache/tvm/pull/8645
- [x] Document of tutorial https://github.com/apache/tv

[2021-08-14 14:10] jqzhao7 opened #8752 "On the parametric search space"
Dear teacher,
  I am a graduate student studying TVM. First of all, As a very meaningful job, tvm,  I recently encountered a problem:
What is the size of the search space that TVM generates for the model waiting to be optimized? Where should I look up information on this subject? Or what is the definition of the size of the search space?

[2021-08-15 13:40] tqchen commented on #8690
close for now as the atol adjustment PR is now merged

[2021-08-15 13:40] #8690 closed

[2021-08-16 12:38] mikepapadim commented on #8674
On-going PR in #8757

[2021-08-16 16:28] lazycal opened #8759 "[Bug] AlterLayout doesn't correctly wrap strided_slice with layout_transforms"
When doing AlterLayout pass on a conv followed by a strided_slice from ``NCHW4c`` to `NCHW`, the compiler does nothing to strided_slice, while (I think) the only correct behavior should be wrapping it with two layout_transforms. This leads to incorrect numerical result/crash at InferType, depending on the concrete input shape,
 as shown in the following code snippet:
[code]
The module before:
[cod

[2021-08-16 19:22] jlamperez commented on #8683
I've been able to get some log traces:

[code]

[code]

So it seems that the problem is related to `dyn.strided_slice` expression that has no attribute value.

[2021-08-16 19:56] comaniac commented on #8683
cc @jtuyls

[2021-08-17 10:33] #8703 closed

[2021-08-17 10:35] ryujaehun commented on #8703
[related this pull request ](https://github.com/apache/tvm/pull/8704)

[2021-08-17 12:06] Shpionus opened #8769 "[OBNNX] alexnet fail to build"
I am working on [alexnet model](https://github.com/onnx/models/raw/master/vision/classification/alexnet) v1.4.

When I'm trying to tune the model, application fails with `autotvm`, app raises following error: `Cannot find infer layout for task group_conv2d_nchw.x86` error.

[code]

[2021-08-17 18:05] guberti commented on #8730
The RPC server behaves nicely on a variety of devices, including the Arduino Due, Seeed Wio Terminal, and Sony Spresense. It's just the Nano 33 BLE which has this issue.

[2021-08-17 20:38] areusch commented on #8728
we think there are still some lingering bugs, potentially Zephyr-side though not clear now, but we suspect #8761 will address one class of these failures.

[2021-08-17 20:45] areusch commented on #8728
@gromero is investigating further

[2021-08-18 08:27] jtuyls commented on #8683
@comaniac I will follow up here: https://github.com/Xilinx/pyxir/issues/63. You can close this issue in favor of that one if you want.

[2021-08-18 08:57] leandron opened #8782 "[CI] Rev ci-cpu image to include latest PRs"
I'm just raising this as a request for the `ci-cpu` image to be updated, to include latest PRs updating dependencies. Specifically, I'm interested to get #8514 into the image.

As a way to simplify the work required by someone with access to upload `tlcpack` images, I've already tested images based on my ongoing work with `tlcpackstaging`. Here is the job in which all tests pass with an updated se

[2021-08-18 10:11] bhahn221 opened #8783 "Error emitting Optimized C Code"
I first used AutoTVM with TVMC to tune the model, and I used the following command
[code]

Then I tried to use that log to generate an optimized C code.
Before I tried generating an unoptimized C code (without `apply_history_best`), I was successful using the following lines of code:
[code]
However, when I tried generating an optimized C code (with `apply_history_best`), I was not successful and g

[2021-08-18 10:36] Mousius commented on #8783
Hi @bhahn221,

This is a known issue with generating C code from TVM, it defaults to trying to use vector types which aren't supported - if you add `--pass-config tir.disable_vectorize=1` to your `tvmc` command line it'll stop trying to do this and should generate valid C :smile_cat:

[2021-08-18 10:37] Mousius commented on #8783
CC @leandron / @areusch

[2021-08-18 10:39] leandron commented on #8783
Hi @bhahn221. I had a look into this issue and it seems like some similar issues we've seen in past with `tvmc compile --target=c`.

Based on the error message, it looks like we need to create a way to disable the vectorizer when using the C backend in this case? This is currently available via the `--pass-config`, *only* in `tvmc compile`.

https://github.com/apache/tvm/blob/e7748aac40bd4c2638823

[2021-08-18 10:59] Mousius commented on #8783
Apologies @bhahn221, I think I misunderstood the initial issue, you can add the same pass config to your python code using:
[code]

[2021-08-18 16:11] comaniac commented on #8683
Thanks @jtuyls, I'll close this issue here.

[2021-08-18 16:11] #8683 closed

[2021-08-18 16:16] jroesch commented on #8782
@leandron I am currently executing the push, will ping back when its done.

[2021-08-18 17:07] jroesch commented on #8782
@leandron its currently uploading to dockerhub

[2021-08-19 08:12] leandron commented on #8782
That is completed now. Closing the issue. Thanks @jroesch.

[2021-08-19 08:12] #8782 closed

[2021-08-19 09:22] AnastasiaStulova commented on #8743
This PR fixes the build issue reported: https://github.com/apache/tvm/pull/8791

[2021-08-19 09:25] Mousius opened #8792 "C Interface API Generation split between Python and C++"
Currently the Interface API header is generated in Python:
https://github.com/apache/tvm/blob/main/python/tvm/micro/interface_api.py

And the source it references is generated in C++:
https://github.com/apache/tvm/blob/main/src/target/source/source_module.cc#L237

This leads to re-implementing logic, such as name sanitising, in the two different languages. These should be consolidated to generatin

[2021-08-19 16:42] #8743 closed

[2021-08-19 17:34] jroesch opened #8800 "[Rust] Fix ByteArray conversion to TVMRetValue from Rust."
Currently we have an ownership issue when returning `ByteArray` from Rust to C++. We do not know where the `*TVMByteArray` pointer has been allocated from (i.e Rust's global allocator, or malloc) leading to incorrect frees. This is not blocking most use cases of the Rust bindings so I am opening a tracking issue to follow up on this.

[code]

[2021-08-20 01:49] masahi commented on #8233
I've just hit this problem when evaluating PT MaskRCNN on coco dataset. I want to take a look at this issue.

[2021-08-20 02:47] masahi commented on #8295
Vulkan support for fp16 is fully functional, thanks @Lunderberg

[2021-08-20 02:47] #8295 closed

[2021-08-20 07:06] hhhfccz opened #8804 "[RFC][Tracking] Add OneFlow Frontend"
This issue will track the progress of OneFlow frontend.

There're some works will be done for this frontend,

- [ ] Add a OneFlow frontend supports most common operators https://github.com/apache/tvm/pull/8790
- [ ] Add a tutriol for OneFlow frontend
- [ ] Quantized model supporting

[2021-08-20 13:42] kthready opened #8805 "Failed to compile the latest TVM source code with vulkan enabled on Windows10"
Compiled the latest TVM source code with vulkan enabled on Windows10 with VS2019.
Firstly, I compiled the latest LLVM source code. It was OK.
And then I installed the latest Vulkan SDK.
Finanlly, I compiled the latest TVM source code, but it was failed.
I found that it was failed when compiling the code in the dir tvm\src\runtime\vulkan\
I wonder how to resolve this problem.

The compile log is as

[2021-08-20 13:44] kthready commented on #8805
@Lunderberg

[2021-08-20 17:54] Lunderberg commented on #8805
Hmm, a vulkan-specific undefined symbol in tvm_runtime should have been caught during the CI build since #8178 (runs on linux), and in the Windows cuda build.  I can verify on my linux machine that the `libtvm_runtime.so` doesn't include any references to source map.

Looking at `source_map.h`, it does look like the `TVM_DLL` macro on MSVC is expanding to `__declspec(dllexport)` in both `libtvm.dl

[2021-08-21 01:11] kthready commented on #8805
I didn't enable CUDA since there is no NV device in my machine.

[2021-08-23 06:29] TaoCheng-CS commented on #7986
您好， 我目前也遇到这个算子不支持的问题， 能给个联系方式吗？感谢！

[2021-08-23 08:19] mippos commented on #4102
Hi! What is the status of Tensorflow2 support or schedule for it?

We use Tensorflow 2.x. Should TVM users still convert models back to TF1.12 or can we go with TF2 models?
(At least https://tvm.apache.org/docs/dev/frontend/tensorflow.html still refers to TF1.12...)

[2021-08-23 13:32] Lunderberg commented on #8805
Got it.  In that case, can you try compiling with `USE_VULKAN=OFF`, and `USE_LLVM=ON`?

[2021-08-23 14:54] Lunderberg commented on #8805
Found the issue.  I had a `#include <tvm/target/target.h>` that should have been removed.  #8813 removes the include, and should resolve the issue.  Can you test and verify?

[2021-08-23 15:38] kthready commented on #8805
OK, thx, I will verify it tmr.

[2021-08-23 22:10] junrushao1994 opened #8824 "[CI] Bump ci-cpu/gpu image to 20210821-225913-fc9f5823e"
- Tag: 20210821-225913-fc9f5823e
- Built on TVM commit: fc9f5823e826a32f4ce5f620c39a2d9b9ed01d80
- Docker hub link: https://hub.docker.com/layers/tlcpackstaging/ci_cpu/20210821-225913-fc9f5823e/images/sha256-b7a29c369a83c3cfbb80a54aa7fe24ffad24a05b6535bdf480b21a4b4dc73b52
- Image testing: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/153/pipeline/
- Reason: Would lo

[2021-08-24 03:30] kthready commented on #8805
Verified, it works.

[2021-08-24 03:30] #8805 closed

[2021-08-24 07:11] junrushao1994 commented on #8824
The image testing has passed. @jroesch Hey I don't have permission to dockerhub, so would you mind helping me with the docker retag (task 1)? Would like to act quickly and unblock PR #8645. Thanks a lot!

[2021-08-24 11:48] masahi commented on #8296
It looks like transformer like models have many `softmax` ops that introduce a lot of casting before / after them, like https://gist.github.com/masahi/0d7d96ae88722b616a906cec2054559e#file-transformer-txt-L137-L143

The fact that softmax and the following cast to fp16 are not fused surprised me. This is because the op pattern for softmax is kOpaque, https://github.com/apache/tvm/blob/66ac4705aae9b

[2021-08-24 12:04] GoodNight-bye commented on #7986
aten::embedding_bag relay层直接参考onnx的实现，算子侧的话需要实现对应的take算子

[2021-08-24 14:45] echuraev commented on #8700
Hello @schell!

I took a look at your problem and I'm not able to reproduce the issue. I tried on Apple M1 and x86. And on both machines everything works fine. Could you please provide more details about your problem? Maybe some simple scripts which reproduces the issue or something like that?

I used the following simple script for running some simple model on metal:
[code]

[2021-08-24 17:04] vinx13 commented on #8752
Relay model is lowered to a few operators in `topi`. Each (tunable) operator has one or more templates in `topi`, for example https://github.com/apache/tvm/blob/596ff5cff576d8ded1251bb936eb7198551cc481/python/tvm/topi/cuda/conv2d_direct.py#L25.  You are encouraged to open a new thread on https://discuss.tvm.apache.org/ as we use the forum for related discussions.

[2021-08-24 17:04] #8752 closed

[2021-08-24 18:14] tqchen commented on #8616
ping @jcf94

[2021-08-24 19:53] mehrdadh opened #8836 "[CI] Bump ci-lint image to include tools for rust format"
Raising this to update ci-lint to the lates build: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/157/pipeline/

image tag: 20210823-232401-607bb9492

Ci seems to be happy, thanks to @leandron help. so we can proceed to the rest of the tasks:

[code]

[ ] pull, retag, push docker images using command above(needs to be done by someone in the list below)
[ ] submit a P

[2021-08-24 23:46] tmoreau89 opened #8838 "[Tracking Issue][ONNX] Quantized operator support in ONNX importer"
### Summary

This issue will be used to track ONNX importer coverage progress of standard and non-standard quantized ops in TVM, and can be used to coordinate distributed efforts on improving quantized importer coverage work across organizations.

### Status

To this day (Aug 24th 2021) we'd like to account for both standard ONNX quantized ops and non-standard quantized contrib ops introduced by O

[2021-08-25 10:25] mehrdadh opened #8842 "[Test][Possible flaky test] QEMU timeout on zephyr test_relay"
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8822/4/pipeline/#step-203-log-1971
[code]
Maybe we need to increase the timeout.

[2021-08-25 16:39] tmoreau89 commented on #8838
Adding @cconvey to the table who is working on `QLinearMatMul`

[2021-08-25 16:48] tmoreau89 commented on #8842
Thanks for starting this issue @mehrdadh. For reference this happened in this PR. The issue was circumvented by re-triggering CI. Changes are likely unrelated to QEMU or uTVM altogether.

[2021-08-25 17:14] ccjoechou opened #8848 "[Bug] pooling convert layout bug in pooling.cc and in test_pass_convert_op_layout.py? (see also PR #9235)"
We are prototyping a BYOC flow and have a need to convert the layout of each nn.max_pool2d call in IR graph to use the attrs["layout"] = "NHWC" format.
Based on our analysis, we found 2 possible issues below:
(1) It seems that there is a bug in the tvm/src/relay/op/nn/pooling.cc file for the IF condition (at line 52) of the InferCorrectLayoutOutput PoolInferCorrectLayout() function -- we have a re

[2021-08-28 08:55] AriMIR commented on #8717
Hello @Mousius,

Sorry for the large number of questions. I just started to deal with the mechanics of TVM and it is quite possible that some of the questions are pretty stupid.

I cut  a Depthwise Conv2D with output (1, 56, 56, 128) from quantized mobilenet_v1 frozen graph (mobilenet_v1_1.0_224_quant_frozen.pb),
then transform it to tflite and check a relay and TIR.

There is my relay for Conv2D:

[2021-08-28 12:44] manupa-arm commented on #8717
Hi All,

Thanks for looking at this, for the relay please check the relay in 'Primitive' form (not the relay that goes on relay.build). This relay could be found at observing relay coming out of Optimize in build_module.cc. This is because the legalizations legalize the qnn dialect to primitive relay operators.

Hope this helps.

[2021-08-28 18:40] apivovarov opened #8876 "Unit Test java GPU failed - java.io.IOException: java.lang.RuntimeException: Failed to serialize"
I tried to build my PR several times. CI is unstable.
Last error : `java.io.IOException: java.lang.RuntimeException: Failed to serialize hudson.model.Actionable#actions for class org.jenkinsci.plugins.workflow.job.WorkflowRun`
CI build 8 : https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8860/8/pipeline
CI build 4: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8860/4

[2021-08-28 18:54] thecooltechguy opened #8877 "[PyTorch] NotImplementedError: The following operators are not implemented: ['aten::stft']"
Hi,

When I try to compile a Pytorch model that uses `torch.stft`, I'm getting the following error.

`NotImplementedError: The following operators are not implemented: ['aten::stft']`

Will this operator be supported within Apache TVM?

Thanks!

[2021-08-29 05:15] apivovarov commented on #8876
CI Build 9 failed too - https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8860/9/pipeline
Looks like TVM CI is broken.
@tqchen

[2021-08-29 21:29] tqchen commented on #8876
seems to be a known flaky error, we can dig a bit more

[2021-08-30 03:02] coder-sjn opened #8879 "v0.7 document？"
Is there a 0.7 version of the document for reference? thanks

[2021-08-30 09:28] alprnbg opened #8880 "[PYTORCH] [FRONTEND] Not handled data types"
Greetings. I encounted the following error while converting a jitted torch model, in which I created multiple boolean tensors whose values never change for different inputs.
[code]
When I looked at tvm/python/tvm/relay/frontend/pytorch.py, I saw that _convert_dtype_value calls _convert_data_type which supports torch.bool, i guess.  So, I added the item (11: "torch.bool") into the convert_torch_dty

[2021-08-30 13:23] bhahn221 opened #8881 "Compiling random operation in pytorch to random in relay"
First, I generated a network with `torch.rand` using following code
[code]

I want to compile this net down to Relay IR.
My initial stab at this looks like this:
[code]

This gave me:

My next try used `custom_convert_map`
[code]

However, this gave me:

Most recent try was:
[code]

However, this gave me:

I think I am doing completely wrong here so I am wondering if I can get some help with this.

[2021-08-31 00:44] masahi commented on #8880
Yes, you are welcome to send a PR. Please attach a test case.

[2021-08-31 00:45] masahi commented on #8877
This is hard to support, since it probably involves FFT, which is a very challenging op to implement and optimize.

[2021-08-31 00:47] masahi commented on #8881
Since the call `torch.rand(size=self.given_shape, device=x.device)` doesn't depend on the input, it should be pre-computed in the constructor. That way there is no need to convert torch rand to relay rand.

[2021-08-31 00:47] #8881 closed

[2021-08-31 07:52] areusch commented on #8876
from the [console output](https://ci.tlcpack.ai/job/tvm/job/PR-8860/8/console) we see:
[code]

I disabled the datadog plugin on ci.tlcpack.ai 2 minutes ago.

[2021-08-31 10:59] manupa-arm commented on #7527
Thanks @junrushao1994.

[2021-08-31 16:28] luyaor opened #8889 "[Bug] Error when compiling a ONNX model with Split operator"
##  Description

When compiling following model with TVM, it will error on parsing. I think it is because Split operation in ONNX specification make some changes from previous version to current version (move split from attributes to inputs). Check here: [current](https://github.com/onnx/onnx/blob/master/docs/Operators.md#Split) and [previous](https://github.com/onnx/onnx/blob/master/docs/Changelo

[2021-08-31 18:15] luyaor opened #8890 "[Bug] Error when compiling a ONNX model with Squeeze operator"
## Description

When compiling following model with TVM, it will error on parsing. I think the reason is similar to https://github.com/apache/tvm/issues/8889 . Because Squeeze operation in ONNX specification make some changes from previous version to current version (move split from attributes to inputs).

<img width="744" alt="image" src="https://user-images.githubusercontent.com/7541296/13155429

[2021-08-31 20:26] alprnbg commented on #8880
Of course. Could you please provide me with an example test case to give some insight about testing procedure?

[2021-09-01 01:16] masahi commented on #8880
You just need to add a test case in `tests/python/frontend/pytorch/test_forward.py` that demonstrates that your change fixes the problem you had.

[2021-09-01 11:20] Mousius commented on #8717
Apologies for the slow reply, I've just checked out `main` fresh and checked this still happens. To recreate this I took the AOT test `test_quant_mobilenet_tfl` which uses `mobilenet_v1_1.0_224_quant.tflite` from https://storage.googleapis.com/download.tensorflow.org/models/mobilenet_v1_2018_08_02/mobilenet_v1_1.0_224_quant.tgz.

I put a breakpoint just after the code is generated (here-ish: https

[2021-09-01 16:35] Lunderberg opened #8901 "[Tracking][Contrib] Known failing unit tests"
### Summary

Some unit tests were unintentionally disabled in CI, and so regressions weren't been caught.  These tests didn't run on the `ci_cpu` image, because they lacked either GPU hardware or python packages required to run.  They didn't run on the `ci_gpu` image, because they weren't marked with `tvm.testing.uses_gpu`.  PR #8902 allows the tests to run, and marks tests with regressions as exp

[2021-09-01 16:51] Lunderberg opened #8903 "[Tracking][Vulkan] Extending topi/relay tests to run on Vulkan"
### Summary

Currently, some unit tests fail when running on the Vulkan runtime.  PRs https://github.com/apache/tvm/pull/8903 and https://github.com/apache/tvm/pull/8947 parametrized the tests that are currently failing, so that the vulkan target can be marked as xfail without impacting any other runtimes.  The Vulkan runtime should be improved so that these unit tests can pass on vulkan as well.

[2021-09-01 19:36] WenheLI commented on #8838
@tmoreau89 - Can I try to implement `MatMulInteger` this OP?

[2021-09-01 19:39] tmoreau89 commented on #8838
Also CC-@WenheLI

[2021-09-01 19:41] #5667 closed

[2021-09-01 19:42] kparzysz-quic commented on #8838
Could you add
@avquicinc for com.microsoft.QLinearReduceMean
@quic-sanirudh for com.microsoft.QAveragePool, com.microsoft.QGlobalAveragePool

[2021-09-01 19:55] anwang2009 commented on #8838
@anwang2009 for com.microsoft.QLinearConcat

[2021-09-01 20:16] tmoreau89 commented on #8838
Yes, yes, and yes! Thanks folks!

[2021-09-01 20:27] kparzysz-quic commented on #8838
Please add @tasmia-rahman for com.microsoft.MulInteger.

[2021-09-01 20:52] kparzysz-quic commented on #8838
Please add @FranckQC for com.microsoft.ReduceSumInteger

[2021-09-01 20:52] FranckQC commented on #8838
Hi everyone.
Could you please add me for com.microsoft.ReduceSumInteger if it's still available?
I might not be able to start working on it right now, but I'd definitely like to work on it as soon as I'm done with something else!

[2021-09-01 21:45] tmoreau89 commented on #8838
Done and done, thanks all!

[2021-09-01 22:13] masahi commented on #8903
This result is on a NV driver, or do they also fail on AMD?

[2021-09-02 04:03] arangasa commented on #8838
Hi All, May I sign up for QLinearSigmoid? Thank you.

[2021-09-02 04:14] abhikran-quic commented on #8838
Hi @tmoreau89, I would like to sign up for com.microsoft.MatMulInteger16. Could you please assign it on my name. Thanks.

[2021-09-02 04:32] rasagna-quic commented on #8838
Hi @tmoreau89,  could you please add me for com.microsoft.QGemm?

[2021-09-02 05:14] arangasa commented on #8838
Hi @tmoreau89, May I sign up for com.microsoft.QLinearLeakyRelu as well? (This is for a team member who needs to create github accounts).

[2021-09-02 07:10] gayatripk1 commented on #8838
Could you please assign the op QLinearLeakyRelu on my name

[2021-09-02 13:33] Lunderberg commented on #8903
Thank you for checking, and all except the `test_conv1d_transpose_ncw` occur on AMD as well.  It's the only one that is a numerical failure, while the rest of errors that occur during codegen.  I'll update the table with that information.

[2021-09-02 13:44] kparzysz-quic commented on #8838
Yes, please reassign com.microsoft.QGemm to @rasagna-quic.

[2021-09-02 15:18] mbrookhart commented on #8838
I think I have it updated with the assignments as volunteered in the comments. Thanks, everyone!

[2021-09-02 15:37] jcoplin-quic commented on #8838
I'll grab com.microsoft.QuantizeLinear @tmoreau89 @kparzysz-quic

[2021-09-02 16:59] AndrewZhaoLuo commented on #8889
I believe this is due to positional arguments being overloaded in kwargs

[2021-09-02 18:18] AndrewZhaoLuo commented on #8632
https://github.com/apache/tvm/pull/8426 Has implemented this.

[2021-09-02 18:22] tmoreau89 commented on #8838
Thanks @jcoplin-quic I've added you

[2021-09-02 18:55] AndrewZhaoLuo commented on #8890
This is due to the fact that the onnx squeeze is not dynamic.

[2021-09-02 18:57] AndrewZhaoLuo commented on #7262
This is just that our type checker is very tough and we have an edge case. Thanks for bringing this to attention.

[2021-09-03 02:42] luyaor commented on #7241
Closed with https://github.com/apache/tvm/pull/8866

[2021-09-03 02:42] #7241 closed

[2021-09-03 06:13] masahi opened #8918 "[FLAKY] test_onnx_nodes[llvm-test_nllloss_NCd1d2d3_none_no_weight_negative_ii]"
This is causing issues on `main`:
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/1630/pipeline
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/1629/pipeline

It seems this test was introduced in https://github.com/apache/tvm/pull/8872

@AndrewZhaoLuo

[2021-09-03 06:22] AndrewZhaoLuo commented on #8918
https://github.com/apache/tvm/pull/8919

[2021-09-03 06:23] AndrewZhaoLuo commented on #8918
Thanks for bringing this to my attention, I'll dig a bit deeper into the reasons. But for now to unblock CI^

[2021-09-03 09:23] masahi commented on #8296
@AndrewZhaoLuo What is our goal wrt mixed_type accumulation? Assuming we do find cases where mixed accum is beneficial, how are we going to decide when to enable / disable it? Given that currently we can only choose one or the other per op, https://github.com/apache/tvm/blob/f4f525dab86af653636bce95ce3609288fbaa587/python/tvm/relay/transform/mixed_precision.py#L167-L168

[2021-09-03 09:56] manupa-arm commented on #8728
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8795/14/pipeline
I got this today and having been seeing this intermittently.

[2021-09-03 09:59] ekalda commented on #8728
I got a similar micro themed issue as well, possibly related - https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8900/2/pipeline

[2021-09-03 10:06] areusch commented on #8876
it looks like this is [still happening](https://ci.tlcpack.ai/job/tvm/job/PR-8911/1/console). I uninstalled the DataDog plugin, not sure if it will take effect til Jenkins is rebooted.

[2021-09-03 10:46] areusch commented on #8728
the current thinking on these is that it's potentially a QEMU-side issue that is triggered by running a bunch of tests in a row. this test started failing with the #8595 effort. I haven't been able to reproduce it locally in the same way it's failing in the CI. However, at one point during development, we were failing to kill the qemu process and thereby leaving ~10 qemu-system-arm running. If you

[2021-09-03 12:50] ashutosh-arm commented on #8728
https://ci.tlcpack.ai/job/tvm/job/PR-8833/6/consoleFull I got this a few days back as well.

[2021-09-03 13:17] NoobCheese opened #8925 "[Bug]Got "ValueError: not enough values to unpack (expected 2, got 1)" when BatchMatMul using two same tensors"
I got a tf graph , imported it into TVM succesfully using api "relay.frontend.from_tensorflow"
Error occurs when :
<img width="888" alt="snippt" src="https://user-images.githubusercontent.com/74285963/132010212-df1905dd-76c1-4584-af49-bcb90bdc6f80.png">

Error log like this :
<img width="786" alt="error" src="https://user-images.githubusercontent.com/74285963/132010313-1c87355b-d2bc-4576-924d-1461

[2021-09-03 15:25] gromero commented on #8728
@areusch Hi Andrew. Unfortunately, not meaning update on it. I've just got back from vacation as well and I'll need more time to dig into it. Yeah I think the best option for now is to just xfail it. I've sent #8927 to do that.  I hope that's sufficient on the CI environment. Cheers.

[2021-09-03 20:33] vinx13 commented on #8879
You can make locally by `make doc` in the tvm root directory.
cc @hogepodge @tqchen shall we consider hosting docs of previous versions?

[2021-09-03 20:54] vinx13 commented on #8925
Seems that only one placeholder is created. Would you mind sharing the Relay IR?

[2021-09-03 21:01] vinx13 commented on #8374
Thanks for reporting this. Would you like to send a PR to fix?

[2021-09-03 21:26] tqchen commented on #8879
We can start to looking into it for the next release cycle.

[2021-09-03 21:37] tqchen opened #8928 "[VOTE] Adopt New Code Review Guideline"
Dear Community:

This is a formal vote to adopt the proposed improvements to the code review guidelines. Please see the proposed improvements here  https://discuss.tvm.apache.org/t/improve-code-review-guideline/10898

This is a formal voting thread for the community to adopt the improvements.

Please vote

Vote:
 +1
 0 - I don't feel strongly about it, but don't object
-1 - because..

The VOTE wil

[2021-09-03 21:41] masahi commented on #8928
+1

[2021-09-03 21:45] vinx13 commented on #8928
+1

[2021-09-03 21:58] comaniac commented on #8928
+1

[2021-09-03 22:11] denise-k commented on #8928
+1

[2021-09-03 22:11] mdw-octoml commented on #8928
+1

[2021-09-03 22:20] AndrewZhaoLuo commented on #8918
This is quite a weird bug! It seems to result from multiplying elementwise two tensors which do not contain NaN values!

https://github.com/apache/tvm/blob/main/python/tvm/relay/frontend/onnx.py#L3541

This operation seems to be the cause. Interestingly enough `loss` and `mask_tensor` dont seem to contain NaNs but after multiplying them the result does! Specifically it occurs where the mask_tensor

[2021-09-03 22:21] AndrewZhaoLuo commented on #8918
Even more interesting, the inputs are fixed and not random, so there is some other random behavior going on! The relay graph is fixed so it must be in something with the execution of the graph :0

[2021-09-03 22:48] zxybazh commented on #8928
+1

[2021-09-03 23:10] tmoreau89 commented on #8928
+1

[2021-09-04 00:02] electriclilies commented on #8928
+1

[2021-09-04 00:10] YuchenJin commented on #8928
+1

[2021-09-04 09:28] areusch commented on #8928
+1

[2021-09-04 11:13] leandron commented on #8928
+1

[2021-09-04 11:49] bhahn221 opened #8929 "[Bug] Tuning PyTorch model with AutoTVM on "arm_cpu" runs tuning for both "arm_cpu" and "x86""
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2021-09-04 13:47] NoobCheese commented on #8925
i am sorry that the Relay IR which is generated from a online business model. But it seems u r right. i modified the sample batchmatmul in tvm and i got the same error hints.

The original smaple code is:
x = placeholder(xxxx),
y = placeholder(xxxx),
And what i did is :
x = placeholder(xxxx),
y = x,

However, my model works in online TF env, and what i should do if this case happened when i want t

[2021-09-04 14:33] vinx13 commented on #8925
You can print the prim func here and check if the placeholders are correctly created.

https://github.com/apache/tvm/blob/main/src/relay/backend/te_compiler_cache.cc#L125

[2021-09-04 22:27] comaniac commented on #8929
It's the expected behavior, as x86 schedules are mostly compatible to ARM CPU. Sometimes even better. If your tuning logs include both results, TVM will select the better one when compile. So as long as you can get the model running without issues then you are good.

[2021-09-04 22:27] #8929 closed

[2021-09-04 22:28] comaniac commented on #8929
I'm closing this issue as it's not a bug. Next time you are encouraged to post issues to the discuss forum: https://discuss.tvm.apache.org

[2021-09-04 22:32] comaniac commented on #8925
I don't think we can reuse the placeholder in this way. If your model results in this IR, then it is probably due to the incorrect Relay TF frontend, or unsupported behavior.

[2021-09-05 06:05] Hzfengsy commented on #8928
+1

[2021-09-05 06:32] bgchun commented on #8928
+1

[2021-09-06 01:40] jcf94 commented on #8928
+1

[2021-09-06 03:24] NoobCheese commented on #8925
My co-worker hacked the tf subgraph, and added a placeholder into the bmm node this morning, Tvm built the Relay IR well :)
Anyway. one thing i am gonna comfirm, if only one placeholder in bmm, i.e a matrix multiply itself, does tvm support this?

Thanks bro!

[2021-09-06 07:10] AndrewZhaoLuo commented on #8889
Nope this is due to the fact that split operator is not dynamic

[2021-09-06 08:10] AndrewZhaoLuo commented on #8296
Yeah the issue behind creating defaults is that we cannot create defaults that work best for every situation. This is especially true since whenever we want speed we trade accuracy which can sometimes become a problem.

For the defaults I envision that for most ops we don't accumulate to FP32. For some ops like the global pools and sums we might turn it on. Really the best way to determine the cri

[2021-09-06 08:22] GoodNight-bye commented on #8374
My current solution is incomplete, I add AdvIndexAttrs for the adv_index operator. I don't figure out all the scenarios where index and slice were mixed.

[2021-09-06 08:25] GoodNight-bye commented on #8374
[code]

[2021-09-06 08:51] mehrdadh commented on #8928
+1

[2021-09-06 14:05] Nullkooland opened #8937 "[Bug] [CPP_RPC] Failed to bind host when using IPv6 addresses"
As long as I use the IPv6 address as the host, the C++ RPC program will produce an **Address family not supported by protocol** error.

To reproduce this error, run:
`./tvm_rpc server --host=:: --port=9090`, this error will occur:

logs:
[code]

It seems that the cause is when the socket is created, it by default uses `PF_INET` protocol, without checking what is the actual protocol of the given IP

[2021-09-06 14:39] Mousius commented on #8928
+1

[2021-09-07 06:38] Johnson9009 commented on #8928
+1

[2021-09-07 08:20] myproject24 commented on #7262
Hi, @AndrewZhaoLuo @srkreddy1238 @tqchen  I am also facing the same error any suggestions?

**shape_dict = {'image': (1, 368, 368, 3)}
mod, params = relay.frontend.from_onnx(onnx_model, shape_dict)
Traceback (most recent call last):

  File "C:\Users\700002~1\AppData\Local\Temp\1/ipykernel_13276/2644513500.py", line 1, in <module>
    mod, params = relay.frontend.from_onnx(onnx_model, shape_dict)

[2021-09-07 11:06] gromero commented on #8928
+1

[2021-09-07 12:14] Alex-grovety commented on #8717
Hello @Mousius,
I found that DepthwiseConv2d doesn't get fused as it uses `default_schedule` with `auto_inline = False`, so if set `auto_inline = True` we get (from `default_lib1.c` for test_quant_mobilenet_tfl):
[code]

we get cast to int16 if hardware hasn't support for fast int8 arithmetic operations. For hardware that supports fast int8 arithmetic operations we get (from `default_lib1.c` for t

[2021-09-07 12:41] masahi commented on #8565
Looks like it was fixed in https://github.com/apache/tvm/pull/8621

[2021-09-07 12:41] #8565 closed

[2021-09-07 13:58] Lunderberg commented on #8903
Following #8947 , added the failing relay tests to the tracking issue.

[2021-09-07 16:20] manupa-arm commented on #8717
Thanks for the investigation and the suggestions seems to improve the things a bit.

1.) Would it be possible to share the TIR Primfunc that is the source for this code generation ?
2.) In the first example, it seems we are unnecessarily maintaining a feature map of int32 just to do that in another set of loops -- even with int16 cast.

[code]
Do we know why HW feature dictates that whole feature

[2021-09-07 18:03] cconvey commented on #8838
QLinearMatMul now has a PR: https://github.com/apache/tvm/pull/8952

[2021-09-07 18:19] tmoreau89 commented on #8838
Thanks @cconvey - I've updated the table!

[2021-09-07 18:38] AndrewZhaoLuo commented on #7262
Hi folks, I've tried this with the latest TVM build on an M1 mac and it appears to work. I don't get the same bug

[2021-09-07 18:39] AndrewZhaoLuo commented on #7262
I would try upgrading versions, the commit you are using is very old @luyaor. I can't see any obvious errors in the latest TVM either that would cause your error.

[2021-09-07 18:39] AndrewZhaoLuo commented on #7262
In general I recommend installing from source and keeping an up to date install

[2021-09-07 19:02] PhilippvK opened #8953 "[Bug] [microTVM] Truncated names of fused operators exceed CRT graph executor buffer lengths"
I realized that two models (`int8` quantized `vww` and `aww` of the [MLPerf Tiny benchmark](https://github.com/mlcommons/tiny)) which have worked fine using the graph executor a few month ago, stopped working with the latest TVM version.

### Expected behavior

Running the builded models (on x86 for simplicity) via the CRT graph runtime should not result in any error messages, segmentation faults

[2021-09-07 19:43] avquicinc commented on #8838
I am referring this file to see what all ops would get quantized by ONNXRT. https://github.com/microsoft/onnxruntime/blob/master/onnxruntime/python/tools/quantization/registry.py

@mbrookhart :  As per our previous discussion if this resource is required to be added in the ticket please add it.
Thanks!

[2021-09-08 08:33] xintin commented on #8838
Hi @tmoreau89,
May I try com.microsoft.DequantizeLinear if it is still available? Thank you.

[2021-09-08 09:40] jackwish commented on #682
@tqchen It seems the tvmlang.org is broken, where should it link now? Thanks!

[2021-09-08 13:35] mehrdadh opened #8964 "[CI Problem][FLAKY] Possible flaky test: test_onnx_nodes[llvm-test_nllloss_NCd1d2d3_sum_weight_high_ii]"
This happened on my PR:
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8715/26/pipeline/401

[2021-09-08 13:36] mehrdadh opened #8965 "[CI Problem][FLAKY] Possible flaky ONNX test (nan): test_all_reduce_funcs[cuda]"
This happened on my PR:
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-8715/27/pipeline

[2021-09-08 13:38] Alex-grovety commented on #8717
1.) TIR Primfunc for first example:
[code]
TIR Primfunc for second example:
[code]

3.) For second example with fusion we get (from default_lib1.c for test_quant_mobilenet_tfl):
[code]
TIR Primfunc:
[code]

[2021-09-08 17:17] vinx13 commented on #8925
I checked the below example, seems Relay currently doesn't support this.
[code]

[2021-09-08 20:33] masahi commented on #8964
cc @AndrewZhaoLuo probably related to https://github.com/apache/tvm/issues/8918

[2021-09-08 20:35] masahi commented on #8965
cc @mbrookhart @AndrewZhaoLuo

[2021-09-08 22:00] AndrewZhaoLuo commented on #8918
This appears to be because `gather` does not support negative indices correctly even though it says it does.

[2021-09-08 22:07] AndrewZhaoLuo commented on #8965
This one seems we just need to bump the tolerances. The nans match and we do have nan_equal flag on for `assert_allclose`

[2021-09-08 22:14] AndrewZhaoLuo commented on #8964
Im working on a permanent fix. If it takes a bit longer then I expect I will put out a temporary fix.

[2021-09-08 23:57] AndrewZhaoLuo commented on #8964
https://github.com/apache/tvm/pull/8972 ^^ turn off for ci

[2021-09-09 08:19] NoobCheese commented on #8925
thx, it really helps

[2021-09-09 08:19] #8925 closed

[2021-09-09 08:20] Alex-grovety commented on #8717
2.) We can use `compute_at` for DepthwiseConv2d and get:
[code]

[2021-09-09 08:40] manupa-arm commented on #8717
2.) is impressive :)  -- 2.4MB to 4 bytes.
Also the tensor going out is a 8-bit tensor.

Any catch ?

cc : @u99127 @Mousius

[2021-09-09 09:05] Alex-grovety commented on #8717
output tensor is 8-bit for case when hardware has support for fast int8 arithmetic operations, if hardware hasn't support for fast int8 arithmetic operations we get:
[code]

[2021-09-09 14:19] kparzysz-quic commented on #8928
+1

[2021-09-09 14:48] mikepapadim commented on #8673
There is a straightforward way to do it. We could add the `\doc` directory, as well as specific file extensions (i.e., txt, md etc) with regex in the exclude paths of the Jenkins configuration.
![image](https://user-images.githubusercontent.com/8652854/132707653-21f9840a-ae24-4c5d-8d3d-6cd9850c3fec.png)

This should be a first iteration until we go for something more complete to cover the cases wh

[2021-09-09 16:03] areusch commented on #8673
the tricky thing is that we still do want to run some CI tasks--we just want to skip most of them. for example, you could checkin broken ReStructuredText--we should still fail the CI if you try to do this. So I think we do need to modify the Jenkinsfile.

[2021-09-09 23:59] csullivan commented on #8928
+1

[2021-09-10 01:04] junrushao1994 opened #8976 "[Release] v0.8 Release Planning"
Thanks to everyone who contributed in the past cycle! We would love to use this thread to plan for the v0.8 release. The community has always been focusing on high quality releases. This process can take several weeks according to past releases, to allow us to collectively work together on items and track things that needs to be merged.

In the next few days we will be populating the release note

[2021-09-10 05:31] zhanghaohit opened #8977 "[Bug][VM] If not allocate on stack, VM runtime cannot work？"
In [`src/tir/transforms/lower_tvm_builtin.cc`](https://github.com/apache/tvm/blob/f6a404447406f91ddf6195ac044dc1f0b0e867e7/src/tir/transforms/lower_tvm_builtin.cc#L116)

[code]

If the condition `if (constant_size > 0 && constant_size * nbytes < runtime::kMaxStackAlloca)` is not true, the generated IR cannot work in VM runtime. Please see the detailed explanation here #8274.

The bug is not trigge

[2021-09-10 05:39] zhanghaohit opened #8978 "[Bug][VTA][OpenCL] If allowed to allocate in stack, VTA multiple target test will fail"
In [`src/tir/transforms/lower_tvm_builtin.cc`](https://github.com/apache/tvm/blob/f6a404447406f91ddf6195ac044dc1f0b0e867e7/src/tir/transforms/lower_tvm_builtin.cc#L116):

[code]

If the above optimization code is here, it will raise LLVM function signature errors when there are multiple targets. This piece of code was removed in #6126 to fix this issue. But it was reverted back in #8274, as remova

[2021-09-10 05:40] tmoreau89 commented on #8838
@avquicinc excellent point and many thanks for digging into the registry. I agree that the focus here is to shortlist these ops to the set defined in the registry. To use the example of `QLinearReduceMean` that gets emitted as `QLinearDequantzie->ReduceMean->QLinearQuantize`, there is no need for TVM to support the `QLinearReduceMean` for now. I will therefore as a next task emphasize the short li

[2021-09-10 06:12] tmoreau89 commented on #8838
Based on this information, I've broken the tables into several categories, the first one being more important given that these are the ops we can confirm are being emitted by ORT static quantization.

I also upon @avquicinc 's suggestion removed duplicate ContribOps that replicate existing standard ops. This trims the list quite a bit.

[2021-09-10 06:16] tmoreau89 commented on #8838
I removed the following ContribOps: QLinearConv, QuantizeLinear, DequantizeLinear because I _think_ they just replicate functionality from the Standard op set. CC-@jcoplin-quic give that you were assigned `QuantizeLinear`.

[2021-09-10 06:31] avquicinc commented on #8838
Hey @tmoreau89 , I would like to work on QAttention, since at present we don't have much info. if and till when ORT quantization would have support for generating QLinearReduceMean op node.
Also, I think that QAttention falls in the set : ops for supporting ORT dynamic quantization.

[2021-09-10 06:36] leandron commented on #8976
Thanks for doing this work! There were some items listed on #7434, perhaps we can start with those?

[2021-09-10 07:48] syang-ng opened #8979 "[Bug] Functions will crash when receiving NULL object"
This issue is related to the problem mentioned in [discussion](https://discuss.tvm.apache.org/t/operators-will-crash-when-receiving-null-object/10988). Besides operators, I also found other TIR related functions will crash when receiving NULL object.

To enhance the robustness of TVM, I log all these functions as a test case. I hope it can help TVM to fix this series of problems.

[code]

[2021-09-10 14:50] jcoplin-quic commented on #8838
@tmoreau89 Yes as I was looking into it I was beginning to suspect the functionality was duplicated. Thanks very much

[2021-09-10 16:23] Hzfengsy commented on #8976
Thanks for the work. I believe v0.8 is a good chance to land TensorIR scheduling (https://github.com/apache/tvm/issues/7527). Also, I will try my best to contribute some initial TensorIR tutorials and documentations before the v0.8 release.

[2021-09-10 17:15] junrushao1994 commented on #8979
Yep. I think TVM generally doesn't treat nullptr really seriously until we have `tvm::runtime::Optional` and "NOTNULLABLE" macros

[2021-09-10 17:30] comaniac commented on #8976
Agree with @leandron that we could firstly refer to the items there. Many "initial" features in v0.7 are now stable. For example:

* Initial automatic scheduling support -> stable.
* Initial command line driver interface -> stable.
* Intial Hexagon support -> stable.
* Bring your own codegen (BYOC) support -> now we have several backends.
  * [stable] NVIDIA TensorRT, Xilinx Vitis-AI, ARM compute

[2021-09-10 17:56] junrushao1994 commented on #8976
I wanted to propose as a highlight the TE-level auto-differentiation work, lead by @yzhliu, which unlocks TE-level training capability in the TVM stack

[2021-09-10 21:59] jroesch commented on #8928
+1

[2021-09-10 23:14] hogepodge opened #8987 "[Tracking Issue] Formalize TVM Documentation Organization"
### This issue is to track progress for [Formalize TVM Documentation Organization](https://github.com/apache/tvm-rfcs/pull/27)
- [ ] P1. Documentation reorganization
- [ ] P2. New index content

[2021-09-13 01:50] PhilippvK commented on #8953
I just ran into another issued related to the limited maximum function name in the graph runtime. I got to use a TFLite model with tensor names which are 136 characters long. This exceeds the maximum allowed size of 120 characters and therefore leads to a crash at runtime. I am not very sure we are able to truncate the tensor names on the TVM-side one because the original names may be used for acc

[2021-09-13 04:48] kk2049 opened #8991 "[Bug] AutoScheduler not work when kernel contains conv2d+gradient and has a large size"
Hello:
I am trying to generate source code of an operator which involves `conv2d_nchw` and `gradient`. I tried to achieve this with AutoScheduler, but the search period will fail when the operator has a relative large shape, and when the `task.apply_best(log_file)`  was run, it will crash and print `Cannot find any valid schedule for ["conv2d_layer"] in file conv2d.json`.

To be exact, the program

[2021-09-13 07:36] tristanqiu8 commented on #8976
Expecting the new release!

[2021-09-13 07:51] FrozenGene commented on #8976
Does our hexagon support is stable now? I am not sure about it. As I saw we still pull requests actively(like https://github.com/apache/tvm/pull/8986 to support model lauch). I think the status maybe is still not stable. @kparzysz-quic should give more definitive answer

[2021-09-13 11:37] masahi commented on #8903
@Lunderberg Are these two test cases any different? One has `pytest.xfail("Known failing test for vulkan")` but not for the other.

https://github.com/apache/tvm/blob/548675fddcf9e2ad7203fc7610189d0e94e68bc6/tests/python/relay/test_op_level2.py#L199

 https://github.com/apache/tvm/blob/548675fddcf9e2ad7203fc7610189d0e94e68bc6/tests/python/relay/test_op_level2.py#L360

[2021-09-13 13:24] Lunderberg commented on #8903
Thank you for that catch.  When refactoring the tests in #8947, I added the updated version of `test_conv2d_run`, but didn't remove the original.  I have https://github.com/apache/tvm/pull/8993 open to remove the redundant `test_conv2d_run`, and have double-checked that there aren't any others that snuck in.

[2021-09-13 15:26] kk2049 commented on #8087
Hey, I'm facing a similar question. Have you guys fixed the problem?

[2021-09-13 16:44] comaniac commented on #8991
You need to specify head when calculating the gradient:

[code]

According to https://github.com/apache/tvm/blob/main/python/tvm/te/autodiff.py#L33, if head is None, then the identity tensor of shape `output.shape + output.shape` will be used. It means the size of `dy` will be super large and unlikely to fit into the GPU memory.

[2021-09-13 16:46] gilles-reservoir opened #8994 "[Bug] relay.transform.AnnotateSpans does not work on modules imported from Pytorch"
### Expected behavior

AnnotateSpans should work on modules imported from Pytorch.

### Actual behavior

It fails, because the PyTorch importer creates variables with "." in their names. AnnotateSpans works by pretty-printing and then re-parsing a module. Unfortunately, the parser (tokenizer?) chokes on variables with "." in the name.

This makes it very difficult to debug other transformations wh

[2021-09-13 20:44] tqchen opened #8997 "[RESULT][VOTE] Adopt New Code Review Guideline"
Thanks everyone who voted.

We have 21 +1s, no 0 and no -1s

The vote is passed.

Voting thread : https://lists.apache.org/thread.html/ra8edb5d192bed8bec49ae93a4a7f441b5ccc87e75144ceb6ded3ea97%40%3Cdev.tvm.apache.org%3E

[2021-09-13 20:45] tqchen commented on #8928
https://github.com/apache/tvm/issues/8997

[2021-09-13 20:45] #8928 closed

[2021-09-13 21:42] masahi commented on #8994
Thanks I'll take a look.

[2021-09-13 21:50] junrushao1994 commented on #8749
@vinx13 @shingjan just wanted to double check with you guys, is this fixed on mainline?

[2021-09-13 21:51] vinx13 commented on #8749
Yes it is fixed

[2021-09-13 21:51] #8749 closed

[2021-09-13 22:03] mehrdadh commented on #8842
this test is temporary disabled: https://github.com/apache/tvm/pull/8927

[2021-09-13 22:17] WenheLI commented on #8838
Hi, just wondering how should I test my implementation for the op? Where should I write the test cases?
Thanks

[2021-09-13 22:24] anwang2009 commented on #8838
@WenheLI for `MatMulInteger` because it's an onnx native op you can simply remove this line https://github.com/apache/tvm/blob/main/tests/python/frontend/onnx/test_forward.py#L4761 to enable the ONNX test for `MatMulInteger` by default. You can run the enabled test with `pytest tests/python/frontend/onnx/test_forward.py::test_onnx_nodes -k test_matmulinteger`

[2021-09-14 00:26] areusch commented on #8876
TQ rebooted Jenkins last week, please reopen if this issue reappears.

[2021-09-14 00:26] #8876 closed

[2021-09-14 02:32] masahi commented on #8994
There is a comment suggesting "x.y" should be parsed as an identifier ideally:
https://github.com/apache/tvm/blob/2c67d7131bc820481aaaca921f9e76f5709051b3/src/parser/parser.cc#L1547

So we should fix the tokenizer / parser

[2021-09-14 03:09] masahi commented on #8994
Oh in PT models we can have a variable name like `%features.1.conv.1_bias`. We cannot distinguish '1' there with tuple access...

I'll write a pass to replace "." with "_" in a variable name, and let users optionally run it after PT model import.

[2021-09-14 11:02] kk2049 commented on #8991
That really works! I do met a few more bugs like timeout at runtime but they are quiet easy to fix. Thanks a lot!

[2021-09-14 11:03] #8991 closed

[2021-09-14 19:24] kparzysz-quic commented on #8976
Hexagon support still needs more work.

[2021-09-14 23:03] hogepodge commented on #8987
WIP branch: https://github.com/hogepodge/tvm/tree/docs-refactor

[2021-09-15 02:58] areusch opened #9013 "[Bug] tutorials do not build from a clean source tree"
I think this might be a compiler caching bug cc @tqchen @jroesch @mbs-octoml . Not caught in the regression because the regression rebuilds only changed tutorials.

Steps to reproduce:
1. `git checkout dc2f70e3c8a9b14b9e414ecf768ad32e6c3c3960`
2. `rm -rf build`
3. `docker/bash.sh ci_gpu tests/scripts/task_config_build_gpu.sh`
4. `docker/bash.sh ci_gpu tests/scripts/task_build.sh build -j16`
5. `do

[2021-09-15 03:57] masahi commented on #8903
@Lunderberg The last three items in `test_any.py` are not specific to vulkan (fails on cuda as well), so I think we should drop them from the list.

They don't work on gpu targets since we don't support dynamic height or width in conv2d, for example.

[2021-09-15 11:51] #8994 closed

[2021-09-15 15:35] mbs-octoml commented on #9013
@electriclilies Lily, in your spelunking through build did you see any obvious global compile engine caching?

[2021-09-15 16:16] tmoreau89 commented on #8838
Linking: https://github.com/apache/tvm/pull/9017 - thanks @quic-sanirudh !

[2021-09-15 16:34] gilles-reservoir commented on #8994
Thanks so much!

[2021-09-15 17:21] comaniac commented on #8596
@huajsj please update this issue with a PR checklist. Please link all future PRs to this issue for better progress tracking.
You can refer to other RFC issues like #8473

[2021-09-15 17:25] manupa-arm commented on #8978
Thanks for flagging this!

IIUC,

This is problematic for micro because now the constant sized allocates are forced to be placed on stack (bypassing TVMPlatformAllocate abstraction) because that is how the codegen_c lowers the allocate.

https://github.com/apache/tvm/pull/8274#issuecomment-919102241

I dont think is desired.

Can someone explain why the guarded TVMBackendAllocWorkspace calls to al

[2021-09-15 18:21] manupa-arm commented on #8978
Also for some reason, if we really need the tir.allocate to be translated down to as a stack placement, we should probably make the tir.allocate with storage_scope = "local" to PrimFunc that is placed on CPU.

keep the global ones served via TVMBAWs, because TVMBAW could serve as the 'global' allocator for memory.
In this way, in micro we could still use TVMBAWs to serve memory from the applicatio

[2021-09-15 19:55] mbs-octoml opened #9022 "[Bug] BuiltinLower has hard-coded heuristic for alloca which is not appropriate for all kDLCPU target devices"
https://github.com/apache/tvm/blob/2aebd3335d89bb32d330b0f851ddaf2d551fc56e/src/tir/transforms/lower_tvm_builtin.cc#L116

This particular code has a complex history but it's purpose is to avoid pool allocations for small tensors on CPU targets (a big perf win). However, not all devices of type 'CPU' support alloca since the stack may not be hardware addressable. In particular, the EthosU target re

[2021-09-15 22:52] mbrookhart commented on #8977
This is the test that fails in the VM without this code: https://github.com/apache/tvm/pull/9019

[2021-09-15 22:52] mbrookhart commented on #8978
FYI - this PR renables the test that this change breaks https://github.com/apache/tvm/pull/9019

[2021-09-15 22:53] mbrookhart commented on #8978
@mbs-octoml opened this issue to track an approach to better distinguish multiple targets https://github.com/apache/tvm/issues/9022

[2021-09-15 23:39] tqchen commented on #9022
@mbs-octoml I believe the current behavior is intended.

In the context of CPU, we want to preserve small alloca until the code generation point. And then the code will generate the stack alloca in an explicit way. Only when memory is big enough(bigger than a constant), we will use an opaque allocation instead.

Stack allocation is important for the prformance of the CPU code, because we need to r

[2021-09-16 00:34] mbs-octoml commented on #9022
Thank so much for for the context. I'll try to capture that in a comment.
This is a 'bug' only in the sense that this heuristic is not working for the EthosU AOT codegen, I think because they are expecting to intercept the workpool ops downstream? But it does suggest a very simply way forward: make kMaxAlloca size a TargetKind attribute so they can force it to zero.
@manupa-arm can you chime in he

[2021-09-16 00:37] tqchen commented on #9022
Right, this the gets to the target dependent generation regime where TargetKind attribute is indeed the right solution. We should also send a PR to add comments to that code block so we could have more context in the future.

[2021-09-16 04:59] manupa-arm commented on #9022
@tqchen @mbs-octoml ,

This is not specific to Arm(R) Ethos(TM)-U codegen and its generally applicable for any micro controller where we would want to avoid creating allocation of memories in the stack but rather service them via platform abstraction that is handled via TVMBackendWorkspaceAlloc --> TVMPlatformAllocate.

This only showed up in Arm(R) Ethos(TM)-U codegen because we use TVMPlatformAl

[2021-09-16 05:07] manupa-arm commented on #9022
Our proposal is to add a check to that loop whether it has 'local' storage_scope before we place them into the stack as it is the solution that works for the wider definition of the CPU, rather than performing a hidden optimization in the codegen that is applicable for a subset of CPUs.

[2021-09-16 08:35] Alex-grovety commented on #8717
To get this result:
[code]
I added [depthwise_conv2d_nhwc schedule for x86](https://github.com/sergey-grovety/tvm/commit/6d7bdaa3dd3c5077d9efdc57c691987df6bc9cfa)

[2021-09-16 08:49] #8918 closed

[2021-09-16 08:49] #8964 closed

[2021-09-16 12:03] tqchen commented on #9022
@manupa-arm in cpu we do not necessarily differentiate local from global for now as they are from the same namespace.

I can understand the need from the micro side, and I believe this can be resolved by making TVMLowerBuiltin target dependent, and query the max stack alloca property from the target. We can set the value to be zero for micro related targets.

[2021-09-16 12:40] arangasa commented on #8838
Hi @tmoreau89, I've placed a PR [#9028](https://github.com/apache/tvm/pull/9028) for QLinearSigmoid. Just FYI.

[2021-09-16 13:01] manupa-arm commented on #9022
I feel that is a workaround for an optimization that certain set of CPUs require it.

Moreover, TVMBAWs allows an abstraction to use an Arena that could be used in any memory for non-micro cases. Therefore it feels more like the general solution we want unless a specific target/option requires it placed on the stack.

Landing the above change that provides an optimization for certain CPUs in certa

[2021-09-16 13:04] tqchen commented on #9022
Thanks for the discussions. Before we suggest a resolution, it would be helpful
to summarize the discussions so far.

# Semantics of Allocate and storage_scope

Allocate at the moment does not specify the way to allocate the memory.
The lowering phase can feel free to pick a runtime  dependent one or a
more platform native one(e.g. stack alloca or direct declaration of shared memory).

In practie,

[2021-09-16 13:20] tqchen commented on #9022
So in the above post I tried to summarize the state. Now let me try to share
some of my thoughts based on the summary.

First of all, R0 and R1 are not that different in nature. Both tries to introduce
two separate scopes that brings different behavior. The main questions boils down
to how can we name the "global" scope.

Per allocate semantics, we treats "global" as normal CPU memory which can co

[2021-09-16 14:08] Mousius commented on #8717
This looks great @Alex-grovety, a huge improvement!

As far as next steps, ideally from here: https://github.com/apache/tvm/blob/02fbaf0ed9120a8f95155e63de42459f230584aa/python/tvm/relay/qnn/op/legalizations.py#L384-L388

We should default to this schedule if the architecture is not `is_aarch64_arm()` and not `"+neon" in target.mattr`, something like:
[code]

Which would be the schedule you've sug

[2021-09-16 16:17] manupa-arm commented on #9022
Thanks @tqchen for summarizing the ideas and presenting possible resolutions.

The two needs seems very valid.

For N0, The operators should really be tagged with 'local' storage scope for the needs of N0 as they are quite local to the operator primfunc and they benefit of further optimizations within and beyond TVM -- i.e. follow up C compiler / LLVM.

For N1, we could use the 'global' tag to giv

[2021-09-16 17:31] areusch commented on #8717
Adding a pointer to the implementation: https://github.com/sergey-grovety/tvm/commit/6d7bdaa3dd3c5077d9efdc57c691987df6bc9cfa

[2021-09-16 18:15] tqchen commented on #9022
Thanks @manupa-arm . Trying to capture some of the discussions.

- Right now the "global" scope translate to something that can be accessed by CPU, and there was no requirement of allocating from TVMBAW. This is consistent with allocate node for other kinds of scopes as well, such as shared memory in a GPU.
-  I can understand the general proposal R4: "global" to "local" would introduce a semantic

[2021-09-16 18:43] manupa-arm commented on #9022
Thanks @tqchen .

In the R4, I was not suggesting to change TOPI but saying we could just do a Pass to change the storage scope. What are your thoughts about making the pass to make the storage_scope 'global.stack' after the pass? This should be backward compatible as it just performs an explicit specialization transparently in the IR. We could even do the max alloca size check in this particular

[2021-09-16 20:05] mbs-octoml commented on #9022
+ @csullivan who also needs finer grained scopes
Can someone explain how the current Stage scope, which ends up in ProducerRealize nodes, would be coherent with the Allocate scope?
@manupa-arm if you wanted to unblock EthosU today you could make the kMaxStackAlloca heuristic Target defined. That could buy us time to tackle scopes properly.

[2021-09-16 20:26] tqchen commented on #9022
Thanks @manupa-arm . I understand that proposal R4 can also work by having a pass to convert "global" to something more specialize as a pass (essentially R1 and R4 are not that different except for different choices of scope names).

The main question is what is the semantics around the scope "global". Each memory scope represent a "constraint" of what kind of memory it is.

Right now, when the de

[2021-09-17 01:06] lazycal commented on #8505
Closed as it's already fixed in this PR: https://github.com/apache/tvm/pull/9030

[2021-09-17 01:06] #8505 closed

[2021-09-17 02:49] masahi commented on #9022
@mbs-octoml The PR https://github.com/apache/tvm/pull/8366 I did might answer your question. The storage scope attached to `ProduceRealizeNode` is used to create `PointerType` and `Buffer`.

[2021-09-17 03:38] tmoreau89 commented on #8838
Thanks @arangasa - I've added it to the table!

[2021-09-17 03:39] tmoreau89 commented on #8838
Also happy to share that `com.microsoft.QLinearGlobalAveragePool` and `com.microsoft.QLinearAveragePool` are supported, thanks @quic-sanirudh for the support

[2021-09-17 11:22] PhilippvK opened #9036 "[Bug] [BYOC] AoT Codegen produces invalid packed function call for relay models using multi-output subgraphs"
I recently ran into segmentation faults working with  rather large BYOC subgraphs and the AoT executor for MicroTVM. It seems to be related to a BYOC subgraph with more than one output, as I was able to create a relatively simple test case to reproduce the issue just using additions and the `ccompiler` codegen.

### Expected behavior

Simplified Test Case: (see below for full example)

[code]

Run

[2021-09-17 13:07] manupa-arm commented on #9022
@tqchen ,

The current issue is in the device "CPU" && 'global' certainly means its definitely stack allocation if its less that heuristic size and not the other way around.

Yes this is something we want eventually and we will be working towards achieving with USMP work.

Until we have that, the natural assumption should be in absense of a 'constraint' that the memories are more accessible rather

[2021-09-17 13:22] quic-sanirudh commented on #8838
@tmoreau89 Thanks for your help in reviewing the AveragePool op support quickly. Shall I pick up the com.microsoft.DynamicQuantizeMatMul op next to work on, if no one else has started working on that. If that's an urgently needed op, I can pick something else as well

[2021-09-17 14:00] tqchen commented on #9022
Please allow me to explain the overall rationale here, in particular over the term "constraint"

- C0: On one hand, we want a "default" memory to be generically accessible (per @manupa-arm 's comment) in all cases so runtime libraries can be built to leverage the generic property(e.g. access from NPU).
- C1: On the other hand, from compiler's POV, we want to leave flexibility to code optimizations

[2021-09-17 14:46] Alex-grovety commented on #8717
If I understand correctly it will be
[code]
instead of
https://github.com/apache/tvm/blob/02fbaf0ed9120a8f95155e63de42459f230584aa/python/tvm/relay/op/strategy/arm_cpu.py#L198-L204

[2021-09-17 15:17] jinfagang opened #9037 "[Tracking Issue] SiLU op supported"
Will it considered to support?

[2021-09-17 15:31] tmoreau89 commented on #8838
@quic-sanirudh please go ahead and pick `com.microsoft.DynamicQuantizeMatMul` given that no one else has claimed, it. I can mark you down for it.

[2021-09-17 16:40] manupa-arm commented on #9022
Thanks @tqchen for the explanation of two viewpoints of how we could see the constraints.

I do agree that we should put more constraints progressively to guide the compiler in the lowering.

It is just that the treatment of TVMBAW as a peer to heap and stack seemed not right. In fact one could use TVMBAW to perform heap allocation. My concern was that we are taking a decision way down in the comp

[2021-09-17 16:59] tqchen commented on #9022
Thanks @manupa-arm. I agree that putting TVMBAW as a peer to heap is not right(that was meant as an example to demonstrate the viewpoint. I do not  necessary want to enforce heap as a peer to TVMBAW).

For the case of AOT, however. I think it would still be useful to introduce a specialized scope eventually. So we can place the constraint that the memory is accessible by npu explicitly in the IR.

[2021-09-17 20:40] masahi commented on #9037
If you are asking about PyTorch SiLU, it is already supported. https://github.com/apache/tvm/pull/8753

[2021-09-17 20:40] #9037 closed

[2021-09-17 22:37] tmoreau89 commented on #8838
And thanks to @arangasa , https://github.com/apache/tvm/pull/9028 has been merged! `com.microsoft.QLinearSigmoid` is now supported.

[2021-09-18 06:45] jinfagang commented on #9037
@masahi Why I build master serveral days ago and I can not pass silu op when tvm build from torchscript model?

[2021-09-18 06:45] jinfagang commented on #9037
this MR is 14 Aug

[2021-09-18 08:48] mikepapadim opened #9042 "[CI] Migrating Jenkinsfile from scripted to declartive pipeline style."
Currently, `Jenkinsfile` is in a scripted format.
Therefore, while more changes are suggested to improve the CI, like #8673, #8674 and #8675 the script will grow a lot.
So, I suggest migrating it to declarative style to have access to Jenkins helpers directly.

## Pipeline syntax differences
Declarative pipelines always begin with the word pipeline. Scripted pipelines, on the other hand, always be

[2021-09-18 16:14] areusch commented on #9036
cc @Mousius @manupa-arm @u99127

[2021-09-19 17:24] areusch commented on #8979
@ganler @junrushao1994 can we close this as dupe of https://github.com/apache/tvm/issues/5318 then?

[2021-09-19 17:36] ganler commented on #8979
Yes, we can.

[2021-09-19 18:38] areusch commented on #8953
cc @mehrdadh could you take a look?

[2021-09-20 02:42] masahi commented on #8540
I've just hit this issue when running a fp16 model, I'll send a fix. Thanks @lazycal for reporting and suggesting a solution.

[2021-09-20 02:50] masahi commented on #8759
Thanks, I'll take a look at this.

[2021-09-20 05:18] areusch commented on #8976
Just checking--by "stable" for the "command line driver interface," does that mean "someone should write a script and presume we won't change the command syntax?"

For µTVM we could add:
- microTVM Project API -> initial support
- microTVM AOT executor -> initial support
- microTVM platforms: Zephyr, Arduino -> initial support

I'd like us to avoid using "uTVM" to refer to microTVM in the release

[2021-09-20 06:10] areusch commented on #8717
@alex-grovety I think that looks correct to me but perhaps @manupa-arm or @Mousius could also take a look?

[2021-09-20 15:02] gromero opened #9049 "[Bug] [microTVM] [AutoTVM] test_autotune_conv2d fails on ST Disco and NXP 1050 EVK boards"
test_autotune_conv2d() test is currently failing on Disco boards, as per:

[code]

[2021-09-20 16:03] #8997 closed

[2021-09-20 21:06] tqchen commented on #9022
One thing I want to note here is that the prefix(global/shared/warp/local) have things to do with thread execution hierachy so we cannot add arbitrary prefix here. we can however, add any tags that follows.

In most cases the storage is assumed local to the execution context(of the thread), so we do not need to annotate threading as part of the storage scope.

[2021-09-20 22:40] areusch commented on #9013
Failed again in mainline CI: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9050/1/pipeline

[2021-09-21 00:02] mbs-octoml commented on #9013
No luck on a local repro (using nvidia docker and the ci_gpu image) as nvcc.py is failing for some reason.

[2021-09-21 00:11] jroesch opened #9057 "[VOTE] Adopt round-robin assignment of reviewers for GitHub pull request reviewer assignment."
Dear Community:

We recently started using GitHub's CODEOWNERS to assign reviewers automatically but many committers have complained that they are struggling with the default settings assigning far too many pull requests to far too many people and not providing fair scheduling across all reviewers.

For example a relatively "normal" patch ended up assigning nearly all reviewers to review it which

[2021-09-21 00:18] jroesch commented on #9057
See: https://issues.apache.org/jira/browse/INFRA-22324 for more context.

[2021-09-21 00:21] denise-k commented on #9057
+1

[2021-09-21 00:42] tqchen commented on #9057
+1  TQ

[2021-09-21 00:51] areusch commented on #9013
@mbs-octoml i think you can repro like this:
1. `git checkout 44d3934be5d33590ba63139f9b756b05aec9d5c5`
2. `rm -rf build`
3. `docker/bash.sh ci_gpu tests/scripts/task_config_build_gpu.sh`
4. `docker/bash.sh ci_gpu tests/scripts/task_build.sh build -j16`  # note: adjust `-j16` on your box
5. `docker/bash.sh -it ci_gpu bash -c 'cd docs && make clean && TVM_TUTORIAL_EXEC_PATTERN="(micro)|(dev/use_pas

[2021-09-21 00:56] areusch commented on #9036
@PhilippvK thanks for reporting this! I looked into this a bit. i think the aot_test_utils assumes use of the new C interface mentioned in https://github.com/apache/tvm/pull/8280. Are you using `--interface-api=c` with your testing?

[2021-09-21 00:58] masahi commented on #9057
+1, let's try this

[2021-09-21 02:16] Hzfengsy commented on #9057
+1

[2021-09-21 02:19] mbs-octoml commented on #9013
I can repro with my local config just with make clean & make html, no need for docker etc. Good, that's easier.

[2021-09-21 06:39] zxybazh commented on #9013
Same here in my CI. #9053

[2021-09-21 06:42] manupa-arm commented on #9022
So there are two sub issues here, if you follow the discussion :

P1: The AoT executor codegen creates tir.allocates that should be served TVMBAW calls more generally.
P2: The CPU PrimFuncs generating stack allocation for some allocates based on a per-allocate heuristic.

For P1,
We are working on a PR (to be published soon) make the AoT executor codegen create tir.allocate with 'global.workspace'

[2021-09-21 07:06] PhilippvK commented on #9036
@areusch Thanks for looking into this. As far as I know is BYOC in AoT only supported using the `packed` interface because there is currently no way to tell the BYOC wrapper code generation routine which interface it should use.

My mentioned test case is essentially a copy of [`test_byoc_microtvm`](https://github.com/apache/tvm/blob/44d3934be5d33590ba63139f9b756b05aec9d5c5/tests/python/relay/aot/

[2021-09-21 08:35] mikepapadim commented on #9013
I had the issue also in the stagging Jenkins last week.

[2021-09-21 10:54] Mousius commented on #9036
hi @PhilippvK, thanks for raising this - it looks like a weirdism in how AOT was treating multiple return values. Can you check out https://github.com/apache/tvm/pull/9064 and see if this fixes your issue? It seems to be passing your test case.

[2021-09-21 12:02] PhilippvK commented on #9036
@PhilippvK It seems to work fine now. Thank you very much for figuring out a fix for this.

[2021-09-21 16:31] manupa-arm commented on #9022
P1 : #9065

[2021-09-21 17:13] vinx13 commented on #9057
+1

[2021-09-21 17:35] jwfromm commented on #9057
+1

[2021-09-21 17:40] junrushao1994 commented on #9057
+1

[2021-09-21 18:15] mehrdadh commented on #9057
+1

[2021-09-21 18:22] mehrdadh commented on #8953
@PhilippvK I'm working on reproducing this today. Sorry for late response.

[2021-09-21 19:30] mehrdadh commented on #8953
@PhilippvK update: I built three models(kws, vww and ic) for zephyr with these settings and it works fine:
[code]
will try to replicate it for crt.

[2021-09-21 19:46] PhilippvK commented on #8953
Only graph runtime is affected, so AOT executor works fine.

[2021-09-21 21:00] mbs-octoml commented on #9013
I'm looking again now.

[2021-09-21 21:59] mbs-octoml commented on #9013
The AlterOpLayout pass is behaving differently.

On the GOOD runs:
[code]

On the BAD runs:
[code]

[2021-09-21 22:04] mbs-octoml commented on #9013
On the BAD runs:
[code]

I can't find any matching rewrite on the good runs -- they're all of the form:
[code]

Eh?

[2021-09-21 22:07] zxybazh commented on #9013
So the only difference is `dst_layout` of `NCHW3c` v.s. `NCHW16c`?

[2021-09-21 22:12] mbs-octoml commented on #9013
As expected all is well if disable AlterOpLayout. I need to log whatever hidden state is driving that rewrite.

[2021-09-21 22:59] mbs-octoml commented on #9013
It seems to be a dangling ref issue but let me understand exactly what was going wrong since there's a lot of closure copying going on. It at least passes with my 'fix' but I also have a clang sliced-cast warning firing which is very strange.

[2021-09-22 00:26] mbs-octoml commented on #9013
Ok after getting lost in AlterOpLayout I see dev/use_pass_infra.py has @relay.op.register_alter_op_layout("nn.conv2d") which is obviously sticky and still visibible to the later micro_autotune.py. Almost certainly that defn is ill-formed in some way.

[2021-09-22 00:40] mbs-octoml commented on #9013
So the root problem is our tutorials need to be hermetic but there's no 'unregister' mechanism or ability to register under some 'with TvmRegistrationScope()' statement.

At least making that layout xform valid will let us hobble along a bit longer tho.

[2021-09-22 00:41] mbs-octoml commented on #9013
Even better- stop using sphinx_gallery.

[2021-09-22 00:42] areusch commented on #9022
okay @manupa-arm this short-term solution seems workable to unblock the Ethos-U merge. I agree we should revisit how to solve this more generally in AOT once we have USMP and TargetDevice merged. we can discuss this in a separate post.

[2021-09-22 00:47] areusch commented on #9057
+1

[2021-09-22 00:54] areusch commented on #8953
gotcha--okay so we are just exercising these models with AOT at the present moment. I think reducing kMaxFuncNameLength is not a great option because it will constrain all other use cases just to make the C runtime use case work.

as an aside for microTVM we are generally in favor of deprecating the GraphExecutor as soon as AOT reaches parity. i'm okay with making the `func_name` array length conf

[2021-09-22 03:49] tmoreau89 commented on #9057
It's worth giving this a try!

+1

[2021-09-22 04:06] liangfu commented on #9057
+1

[2021-09-22 05:16] #8965 closed

[2021-09-22 08:44] PhilippvK commented on #8953
@areusch I agree, that a low-effort approach such as making the array length configure would be the best way to tackle this issue, given the low relevance of the graph executor in microTVMs future. Preparing a PR for that should be hopefully fairly simple, so I would be happy to do that.

[2021-09-22 16:37] areusch commented on #9013
thanks for the detailed investigation @mbs-octoml ! I do think we should make the compiler work multiple times in a row. certainly our unit tests require this and we will expose a bunch of problems with xdist after it starts reordering them. :)

[2021-09-22 16:54] mbs-octoml commented on #9013
https://github.com/apache/tvm/pull/9076

[2021-09-22 19:54] AndrewZhaoLuo commented on #8632
@SamKG is this issue able to be closed? I believe this is implemented now.

[2021-09-22 19:57] shashwat14 opened #9078 "[Bug] Softmax in TFLite converter is channel first instead of channel last"
Compiled a TFLite toy model (conv + softmax) using TVM0.7 to generate a softmax output.

### Expected behavior
The uint8 output distribution of the output should look something like (below is tflite runtime output)

![tflite_hist](https://user-images.githubusercontent.com/7594901/134404281-3752887b-da54-4d58-b461-1f867a6a3f4f.png)

### Actual behavior
![tvm_hist](https://user-images.githubusercont

[2021-09-22 19:59] #9036 closed

[2021-09-22 20:54] #8632 closed

[2021-09-23 05:10] areusch opened #9084 "[CI Problem] flaky tests/python/unittest/test_crt.py::test_autotune on main"
### Branch/PR Failing

main

### Jenkins Link

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/1759/pipeline

### Flakiness

Have you seen this multiple times in this branch or in other branches? unsure, seems to be flaky on main

________________________________ test_autotune _________________________________

    @tvm.testing.requires_micro

    def test_autotune():

        """

[2021-09-23 06:05] jiangjiajun opened #9085 "[CI Image] Update ci-cpu/gpu image"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2021-09-23 06:35] luohao123 opened #9086 "[Docs] tvmc call tensorrt partition command line"
Does tvmc supports call tensorrt target compile for model generate on cuda?

I currently tuning a model, the different hardware performance:

CPU: 1s
GPU (cuda): 200ms
TensorRT: unknown

Pytorch: 20ms

How to make GPU speed comparable with pytorch? No matter than using cuda or TensorrT

[2021-09-23 14:09] Alex-grovety commented on #8717
Made a [pull request](https://github.com/apache/tvm/pull/9092) with the proposed changes

[2021-09-23 21:28] mbs-octoml commented on #9013
This is fixed -- don't have edit rights on issues.

[2021-09-23 21:58] jroesch commented on #9013
Thanks for fixing this one @mbs-octoml !

[2021-09-23 21:58] #9013 closed

[2021-09-23 22:36] denise-k opened #9096 "[CLEANUP] Clean up existing structural tests when structural testing infrastructure is created"
Recently, there have been some discussions around creating infrastructure for structural tests, which test for the structure of the generated code rather than correctness of the output. This is currently on the backlog. Once the infrastructure is in place, there are places where structural tests exist in the code already which should be refactored to be more readable/cleaner.

Here's an initial li

[2021-09-23 22:47] areusch commented on #9086
@luohao123 could you raise this on our discussion forum, discuss.tvm.ai? we currently reserve the TVM issue tracker for concrete bugfixes.

[2021-09-23 22:47] #9086 closed

[2021-09-24 12:52] masahi commented on #8294
I think we can close this now

[2021-09-24 12:52] #8294 closed

[2021-09-24 13:00] masahi commented on #8296
@AndrewZhaoLuo I briefly looked at bfloat16. While fp16 vs bf16 makes no difference for the conversion pass, it seems it is going to take a lot of effort to compile and run a bf16 model end to end, for at least two reasons:
* The constant folding pass doesn't work on bfloat16 input
* Numpy doesn't understand bfloat16, but some topi schedules (winograd conv) try to create a numpy array of type `out

[2021-09-24 13:57] qrsforever opened #9104 ""NDHWC"(data_format) of FusedBatchNormV3 is not supported"
https://github.com/apache/tvm/blob/d3d7e8eb6c201506dc706a055e16eed189dcdb0b/python/tvm/relay/frontend/tensorflow_ops.py#L1959-L1970

Code Example:

[code]

Netron Graph:

![Screenshot from 2021-09-24 21-49-02](https://user-images.githubusercontent.com/1296332/134686552-63da50ee-b38a-4c92-8c8b-13c9d21f2b6c.png)

[2021-09-24 14:42] #8879 closed

[2021-09-24 17:37] shashwat14 commented on #9078
I think the axis is hard coded to 1 assuming the task is a simple classification task. However, the softmax can occur over any axis. In the above example it occurs for every "pixel" where each pixel has 14 dimensions. The axis parameter should always  represent the channel index (unless overridden by the user). In numpy notation, axis can be -1 for most cases.

[2021-09-24 18:09] mehrdadh commented on #9084
I'll take a look at this. thanks for reporting it

[2021-09-24 20:21] #9078 closed

[2021-09-24 22:27] SWu opened #9109 "Incorrect implementation of cross_entropy_with_logits"
The implementation of `cross_entropy_with_logits` seems to be incorrect:
https://github.com/apache/tvm/blob/main/python/tvm/relay/op/nn/_nn.py#L912

It should be something like:

[code]

However, if I naively try to make the change above, I get the following error when trying to compile a model using it:

[code]

[2021-09-26 13:21] Mousius commented on #9057
-1

I don't believe this is will solve the problem of "assigning far too many pull requests to far too many people and not providing fair scheduling across all reviewers" and may introduce other issues. I believe this will result in is code owners missing pull requests which are relevant to them and recreating the "review-by-request" we had previously, when a less active code owner isn't available

[2021-09-26 21:38] gromero commented on #9049
That issue also happens on NXP i.MX RT 1050 EVK boards:

[code]

[2021-09-27 15:24] manupa-arm commented on #9057
-1

It feels like the wrong solution to a valid problem. The reason I object would be for mainly two reasons as follows :

1) The round-robin assignment could miss out interested reviewers. Giving everyone (who have working and contributed the specific component) the opportunity for review, IMO, should be the fair solution.

If the problem is that the granularity is too coarse, the actual action m

[2021-09-27 16:05] leandron commented on #9057
-1

I think we should try other measures before an enforced round-robin, such as:
- tuning the list of maintainers in a more detailed way, with perhaps less people per directory so that lots of people don't get e-mails for simple reviews
- providing more guidance to incentive smaller, incremental patches, which won't touch many areas of the code at once, therefore reaching out to less reviewers

O

[2021-09-27 16:34] jtuyls opened #9136 "[CI] Update ci-cpu image to 20210921-225913-92ca78275"
- [ ] S0. Reason: Update PyXIR dependency to v0.3.1 for testing https://github.com/apache/tvm/pull/8815

- [ ] S1. Tag of nightly build: TAG. Docker hub: https://hub.docker.com/layers/tlcpackstaging/ci_cpu/20210921-225913-92ca78275/images/sha256-b39fe1a9f8778ec315dfce1fb926887a8268a35a770b5ca9840dfe0314380a4e

- [ ] S2. The nightly is built on TVM commit: https://github.com/apache/tvm/commit/92ca7

[2021-09-27 21:06] denise-k commented on #6689
Hi folks, is this still active?

[2021-09-27 21:06] denise-k commented on #7139
Hi, is this still active?

[2021-09-27 21:07] denise-k commented on #7470
Hi folks, is this still active?

[2021-09-27 21:07] denise-k commented on #7183
Hi, is this still active?

[2021-09-27 22:44] SWu commented on #9109
FWIW, it appears that the current `cross_entropy_with_logits` is actually what pytorch calls `NLLLoss` (negative log-likelihood loss), so a workaround to actually get `cross_entropy_with_logits` is to `cross_entropy_with_logits(log_softmax(y_pred), y_target)`.

[2021-09-28 03:22] masahi commented on #7470
This is not reproducible on my end and I haven't seen it in CI jobs. I think we can close this.

@K1504296 Feel free to reopen if the error persists on aarch64.

[2021-09-28 03:22] #7470 closed

[2021-09-28 05:07] masahi commented on #6689
I was able to reproduce the error after 30 runs, it is fixed in https://github.com/apache/tvm/pull/9140

[2021-09-29 17:30] #6689 closed

[2021-09-29 21:21] tqchen commented on #8629
please check if the problem still exists in the latest main, based on my reading it should be fixed by the TVM_DLL prefix

[2021-09-29 21:21] #8629 closed

[2021-09-29 23:45] electriclilies commented on #9057
Thanks @manupa-arm @Mousius and @leandron for bringing these points up.

 Building off what you said, I just wanted to point out that I think that this vote is really two questions rolled into one:
**Q1:** Whether the current system of tagging all code owners is working, and should we revert it
**Q2:** Whether we want to move to a system where we are tagging only 2 of the code owners for round-rob

[2021-09-30 09:29] Mousius opened #9158 "[CI Image] Update ci_i386 to 20210929-225912-da5b4fbfe"
- [x] S0. Reason: Integrating https://github.com/apache/tvm/pull/9107 and https://github.com/apache/tvm/pull/9141 to unblock https://github.com/apache/tvm/pull/9106

- [x] S1. Tag of nightly build: `20210929-225912-da5b4fbfe`. Docker hub: https://hub.docker.com/layers/tlcpackstaging/ci_cpu/20210929-225912-da5b4fbfe/images/sha256-ab115357e1471578b1d159839429feac5de54f2f0af77991370ade5337093822?cont

[2021-09-30 09:29] Mousius commented on #9136
Hi @jtuyls,

Is it possible to update this to `20210929-225912-da5b4fbfe` to also get the fixes in https://github.com/apache/tvm/issues/9158?

[2021-09-30 11:53] Lunderberg opened #9161 "[CI Problem][Flaky] test_meta_schedule_rpc_runner_exception"
### Branch/PR Failing

PR #9151, which was based on the main branch, and only had changes in an unrelated unit test.

### Jenkins Link

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9151/1/pipeline/#step-244-log-1263

### Flakiness

Jenkins logs show `tests/python/unittest/test_meta_schedule_runner.py::test_meta_schedule_rpc_runner_exception` failing to establish a network connect

[2021-09-30 15:36] Mousius commented on #9158
@jroesch @areusch @tqchen, could you help with this?

[2021-09-30 18:52] areusch commented on #9057
thanks @manupa-arm @leandron @Mousius @electriclilies for the comments!

I have a few more comments based on more detailed analysis of the relationship between `CONTRIBUTORS.md` and `CODEOWNERS`. My original +1 was based on cursory look at `CODEOWNERS` in which I thought only a smaller subset of `CONTRIBUTORS` (e.g. maybe those who would opt in to lots of code-review notifications) were listed. In

[2021-09-30 19:16] hogepodge commented on #9057
+0 as someone who is not actively reviewing a large body of code, I don't have a strong opinion on if this is the right move. It's clear that the current "tag all code owners" is not workable, and I fully support removing that. To me the big questions is: how do we fairly allocate work amongst the community and code owners. We can look at how other communities have handled this.

O1) Within the Ku

[2021-09-30 19:38] electriclilies commented on #9057
@areusch I definitely agree with everything you said. To clarify, I'm in favor of this going forward given the impact it has on the quality of life of the code shepherds, so I guess I'll officially vote +1.
I just wanted to mention these concerns in a place where we already have some discussion :) and also point out that this does not really improve the quality of life for people who are not code

[2021-10-01 05:28] lhez opened #9173 "[Bug] [CMake] libtvm_runtime and cpp rpc won't build with NDK 23"
NDK 23 seems to make some major changes from previous releases - it removes all gcc related components and `ld.gold`. This causes two issues when building with NDK 23.

First, `libgcc` is added in the root [`CMakeLists.txt`](https://github.com/apache/tvm/blob/main/CMakeLists.txt#L228),

[code]
This will result in following linker error because `libgcc` has been removed from NDK 23 (instead `libcla

[2021-10-01 06:00] lhez opened #9174 "[Bug] [CPP RPC] custom_addr not properly quoted in JSON string"
I happened to need `custom_addr` option in cpp rpc. However, `custom_addr_` does not seem properly quoted in the JSON string that is sent to the tracker, resulting in JSON parsing failure in the tracker.

In particular, there are 3 occurrences in `apps/cpp_rpc/rpc_tracker_client.h` - [line 88](https://github.com/apache/tvm/blob/main/apps/cpp_rpc/rpc_tracker_client.h#L88), [line 116](https://github

[2021-10-01 07:29] PhilippvK commented on #8953
@areusch I was going to implement this and I found an inconsistency I want to get rid off first:

Two different constant values  (`80` & `120`) are hardcoded at different locations in the TVM codebase:
1. `char func_name[120];` in `graph_executor.h`: Makes sense to me
2. `char key[20], value[120];` in `graph_executor.c`: Used by JSON parser for every field.
3. `#define TVM_CRT_MAX_STRLEN_FUNCTION_

[2021-10-02 23:56] junrushao1994 commented on #9161
Should be fixed by #9172

[2021-10-02 23:56] #9161 closed

[2021-10-03 00:24] junrushao1994 commented on #8976
@vinx13 and I spent the previous 2 weeks categorizing the 69 pages of changelogs via git commits: https://docs.google.com/document/d/1D2rig32yZ4H48_tXHb_svnPnt4-FRx3JUbBxKyrW_-I/

Below are the categories we are using:

- TE & TIR & TIR Scheduling & TVM Script
- Relay IR
- AutoTVM & Auto Scheduler & Meta Schedule
- Training
- TOPI & Operators
- Executor & AOT & Profiler
- MicroTVM
- Arithmetic Ana

[2021-10-03 15:33] sunshineywz123 opened #9182 "[Tracking Issue] 请问下tvm runtime c++是怎么调试的？不是指tvm源码，tvm生成的cuda c++的so怎么debug？生成了-g的so但是，gdb跟不进去"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2021-10-03 17:20] areusch opened #9183 "[Tracking Issue] C Device API implementation"
### This issue is to track progress for C Devicea API
- [x] https://github.com/apache/tvm-rfcs/pull/31

[2021-10-03 17:20] areusch commented on #9183
cc @Mousius

[2021-10-03 17:42] #9182 closed

[2021-10-03 17:42] comaniac commented on #9182
Please use English for better participation, and post your question to the forum.

[2021-10-03 17:42] tqchen commented on #9182
Please ask the question on https://discuss.tvm.apache.org/

[2021-10-04 10:13] abhikran-quic commented on #8838
Hi @tmoreau89 , I've raised https://github.com/apache/tvm/pull/9186 for `com.microsoft.MatMulInteger16`. Just FYI.

[2021-10-04 13:16] leandron commented on #9158
I think we should consolidate the changes requested in #9136 and #9085, and update all images once here.

FYI the last validated tag is `20210929-225912-da5b4fbfe-validated`

[2021-10-04 13:40] tqchen commented on #7527
All the items are merged as of today. As a result, this issue is closed. Thanks everyone for pushing and landing this major effort.

[2021-10-04 13:40] #7527 closed

[2021-10-04 14:25] leandron opened #9187 "[Tracking issue] Quantized TFLite operators"
As part of https://github.com/apache/tvm/pull/9165, we recently enabled support for quantized operators in the TFLite frontend "unary element-wise" function, that does generic support for a few operators.

That opens the door for more operators to be supported easily, just pending the addition of tests and logically _unlocking_ the conditional block that is keeping the quantised version of the ope

[2021-10-04 15:41] #8673 closed

[2021-10-04 18:17] areusch commented on #9136
let us move this effort to #9158

[2021-10-04 18:17] #9136 closed

[2021-10-04 18:17] areusch commented on #9158
cc @jtuyls

[2021-10-04 18:36] areusch commented on #8953
ah i think i see what happened--since we started including the mangling and post-TE-compiler refactor, we haven't updated `TVM_CRT_MAX_STRLEN_FUNCTION_NAME` to match the new world (where it no longer maps 1:1 to kMaxFuncNameLength). it seems like we could either
1. update `TVM_CRT_MAX_STRLEN_FUNCTION_NAME` to mean "max length of the name, after adding all the extra stuff"
2. introduce length compu

[2021-10-04 18:40] areusch commented on #9174
thanks for reporting @lhez, @rkimball will take a look

[2021-10-04 18:40] rkimball commented on #9174
You are correct. We need to add \" around the `custom_addr` since it is a string.

[2021-10-04 19:01] rkimball commented on #9174
Here is a quick fix https://github.com/apache/tvm/pull/9192

[2021-10-04 22:25] hogepodge commented on #8987
Pull request: https://github.com/apache/tvm/pull/9196

[2021-10-04 23:46] tmoreau89 commented on #8838
Thanks @abhikran-quic , added

[2021-10-05 00:41] areusch commented on #9158
[code]

Also created PR tagged above.

[2021-10-05 09:39] Mousius commented on #9158
@areusch can we re-open this? I needed `ci_i386` as well as `ci_cpu` :smile_cat:

[2021-10-07 00:06] areusch opened #9216 "[Bug] micro_tflite tutorial is either flaky or won't build from scratch"
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/1868/pipeline/

### Expected behavior

Tutorials should bulid

### Actual behavior

[code]

### Environment

Routine build from `main`

### Steps to reproduce

I _think_ this is an interaction between two tutorials similar to the one that happened with micro_autotune a few weeks ago. I _think_ to repro you build tutorials from scratc

[2021-10-07 00:06] areusch commented on #9216
cc @mbs-octoml @electriclilies @mikepapadim

[2021-10-07 03:38] rachitnigam opened #9217 "[Docs] Rust TVM API doc link broken"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2021-10-07 22:52] mehrdadh opened #9226 "[Bug] conv2d_nhwc_direct_simd.arm_cpu schedule has incorrect output with certain workloads"
Currently if we define a relay.conv2d operator with specific size (see bellow) and apply [passes](https://github.com/apache/tvm/blob/d9b93d3ebdb449e31e397eb1155caac62454b0cd/tests/micro/zephyr/test_zephyr_armv7m.py#L84) to build with SIMD schedule, it generates error.

### Expected behavior
It should compute without error.

### Actual behavior
Error:
[code]

### Script to Generate

[code]

[2021-10-07 22:52] mehrdadh commented on #9226
cc @sergey-grovety

[2021-10-07 23:55] mbs-octoml commented on #9216
Fix in https://github.com/apache/tvm/pull/9227

[2021-10-08 06:40] #8792 closed

[2021-10-08 18:19] areusch opened #9231 "[Bug] PaddlePaddle integration tests busted at main"
We temporarily had a problem with our post-merge CI builds, so apologies this wasn't caught quite as quickly as we normally would. Seems that 5 integration tests related to PaddlePaddle are busted at main likely due to a merge conflict.

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/1883/pipeline

FAILED tests/python/driver/tvmc/test_compiler.py::test_compile_paddle_module
FAILE

[2021-10-08 19:28] masahi commented on #9231
Yeah, #9083 was merged three days ago and as far as I know, there have been no problem with that tests until yesterday. My hunch is that #9126, which apparently didn't run CI job after #9083, broke it.

[2021-10-08 23:03] masahi commented on #9231
https://github.com/apache/tvm/pull/9232 is looking good

[2021-10-09 03:08] jiangjiajun commented on #9231
I have reproduced the problem, and send a pull request to fix the bug, let's see if this could solve the ci problem @masahi @junrushao1994 @areusch

[2021-10-09 08:46] junrushao1994 commented on #9231
Thanks @jiangjiajun for the quick response! I merged the hotfix PR just now. Let's see what will happen on mainline

[2021-10-09 09:17] Xuxue1 opened #9237 "[Bug] [PYTORCH] [FRONTEND] Torch and tvm output different"
[code]

### Expected behavior

output: [[][]]
scores: []

### Actual behavior

output: [[0.07791223 0.7198686  0.7642788 ]
 [0.07791223 0.7198686  0.7642788 ]]
scores: [0.1 0.1]

### Environment

os: ubuntu20.4  torch: 1.9.0+cu102   tvm:0.8.dev0

cc @yelite

[2021-10-10 02:46] PhilippvK commented on #8953
@areusch You are more or less right.

1. As calculated above, 120 characters is actually not enough for worst case models using the default name prefix `default`. Therefore we do either have to increase the number even more, or make sure that the resulting names are at least 2 characters shorter.
2. Contrary to my expectations the constant `TVM_CRT_MAX_STRLEN_FUNCTION_NAME ` is currently only used

[2021-10-10 17:22] areusch commented on #9085
did this need ci-gpu as well? I only pushed ci-cpu.

[2021-10-11 06:16] WenguoLi opened #9239 "[Bug] CMake Error at CMakeLists.txt:605 (gtest_discover_tests): [cmake] Unknown CMake command "gtest_discover_tests"."
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2021-10-11 06:32] LightricksNatanKaminsky opened #9241 "[Bug] Torch and torchvision break auto scheduling with RPC on android"
### Expected behavior

When I import torch or torchvision and try to auto schedule (even models that are not from pytorch) the program exits after one trial of fine tuning.

### Environment

I’m using torch version 1.7.0 and torchvision version 0.8.1. I ran this script on mac with macOS Big Sur 11.6, and my android device is Samsung S21 5G.

### Steps to reproduce

The following script reproduces

[2021-10-11 06:37] LightricksNatanKaminsky opened #9242 "[Bug] Fine tuned OpenCL gives incorrect outputs"
### Expected behavior

When I auto schedule a model for a remote device with a Mali GPU the outputs of the compiled fine tuned model are significantly different than the outputs of the model compiled without auto scheduling or compiled for the CPU of the device.

### Environment

I ran this script on mac with macOS Big Sur 11.6, and my android device is Samsung S21 5G.

### Steps to reproduce

The

[2021-10-11 14:40] tmoreau89 commented on #8838
QLinearMatMul support is now merged! Thank you @cconvey for completing this task

[2021-10-11 14:41] tmoreau89 commented on #8838
@WenheLI and @gayatripk1, is support for `MatMulInteger` and `com.microsoft.QLinearLeakyRelu` still on your plates? Just checking in periodically.

[2021-10-11 14:51] tmoreau89 commented on #8838
Thank you I somehow failed to catch it, I'm adding https://github.com/apache/tvm/pull/9063 to the table, thank you for your contributions.

[2021-10-11 17:54] FranckQC opened #9250 "[Potential Bug] SSAVerifier needs some clarification and/or fix"
Hi everyone,

Following the discussion started [here](https://discuss.tvm.apache.org/t/tir-are-multiple-let-in-with-the-same-var-allowed-ssa/10881/6) I would like to discuss a thing that seems weird in the SSAVerifier implemented in verify_ssa.cc.

The notion of SSA form that TVM implements is quite customized.

**1)** The first thing to notice is that the SSA form that TVM is using rather strict

[2021-10-12 00:19] areusch commented on #8953
@PhilippvK you are right, i think I see what happened here. #8380 was authored a long time ago and sync'd up several times, and i think as part of a "cleanup" these constants were changed from `TVM_CRT_STRLEN_NAME`. unfortunately looks like the cleanup was incomplete/wrong. it looks like there are also some places (e.g. https://github.com/apache/tvm/blob/main/src/runtime/crt/include/tvm/runtime/cr

[2021-10-12 01:58] PhilippvK commented on #8953
@areusch thanks for clearing things up. I should no be able to get rid of these inconsistencies in a PR. What would be a suitable value for `TVM_CRT_MAX_STRLEN_PARAM_NAME`? I mean, will they always be of the form `p35,p36,...` or would there be a good reason to have more than lets say `10` characters available for a single parameter?

[2021-10-13 06:45] zhaiyi000 opened #9268 "[Bug] [ios_rpc] Error happens during dlopen execution. Unimplemented"
Environment: MacBook Pro (15-inch, 2017), iPhone 12

I followed this tutorial, https://github.com/apache/tvm/tree/main/apps/ios_rpc, but an error was reported when the dynamic library was loaded on the iPhone.

[code]

I tried to change arch to `arm64e` in file `tests/ios_rpc_test.py`, but still the same error
[code]

I tried to search this question, but I did not find any relevant discussion. If

[2021-10-13 06:48] #8545 closed

[2021-10-13 07:05] sugartom opened #9269 "[Bug]"
### Expected behavior

I installed the latest TVM from source, and managed to compile Resnet50 following your [tutorial](https://tvm.apache.org/docs/tutorial/tvmc_command_line_driver.html). By setting the target flag as "llvm", I did observe a speedup from resnet50-v2-7-tvm.tar to resnet50-v2-7_autotuned.tar.

However, when setting the target flag as "cuda", the autotuned version is slower than th

[2021-10-13 20:25] vinx13 commented on #9268
cc @apeskov

[2021-10-14 02:10] laolihaile commented on #6895
I have the same problem, how can I solve it?There is no corresponding solution on the https://discuss.tvm.apache.org/

[2021-10-14 06:34] zhaiyi000 commented on #9268
I still get an error when testing on the iOS sumulator, but it is not the same as the above error, prompting `unsupported case in deploy.dylib`

[code]

The command used to compile tvm_runtime is
[code]

In the `tests/ios_rpc_mobilenet.py` file, the configuration used is
[code]

[2021-10-14 09:28] masahi commented on #8412
I think a good way to add N-D input support to `topi.dense` is to do `topi.reshape` on the input before doing dense compute, and inside dense schedules we do `compute_inline(...)` on the reshape stage. This way, we can reuse existing schedules that are hardcoded for 2D input at no performance overhead (modulo some indexing math from reshaping). See my PR https://github.com/apache/tvm/pull/9207 tha

[2021-10-14 12:15] apeskov commented on #9268
Hi, @zhaiyi000 thank you
This is a known issue related with latest update to Xcode 13. We are working on fix for main. I hope it will be available soon.

Meanwhile I can suggest you to apply minimal workaround patch which will allow you to continue experiments with iOS.
[code]

**Slightly more details about reason leading to that issue**

Just FYI. TVM uses a custom DSO loader for iOS platform(bec

[2021-10-14 13:16] zhaiyi000 commented on #9268
@apeskov Thank you very much for your reply. I followed your suggestion and modified the following code, but I got a new error.
[code]

[code]

I tried the following two methods to compile tvm_runtime, but both got the above error. My mobile phone is iPhone12 and the system is iOS14.7.1

[code]
[code]