[2021-10-14 14:35] zhaiyi000 commented on #9268
@apeskov Encountered another error when executing the following code.
[code]

[code]

[2021-10-14 16:33] #9269 closed, assigned to nobody

[2021-10-14 16:37] zhaiyi000 commented on #8545
I'm sorry I don't have any more details, and at the end yet I don't know what the problem is. And I gave up debugging by breakpoints in these files

[2021-10-14 16:58] areusch commented on #8545
ok, thanks for following up!

[2021-10-14 19:04] comaniac commented on #8412
I agree with @masahi that adding `topi.reshape` is a more general solution. The reason is we have more than one backends and we need to make sure all backend implementations have the same semantic/spec. For example, previously I encountered the issue (#7730) that CuBLAS batch_matmul implementation doesn't supports implicit broadcasting, which results in errors when lowering batch_matmul to CuBLAS.

[2021-10-14 20:15] masahi commented on #8412
Another workaround that allows dense + activation without supporting N-D dense is to swap the order of reshape and activations. So right now we are doing `dense -> reshape -> activations` but we can do `dense -> activations -> reshape`. We need to reshape the bias but that's compile time op. We are still left with annoying "naked" reshape at the end, but this might be a quicker solution for demons

[2021-10-14 21:33] comaniac commented on #8412
Thanks for the analysis and I deeply agree with it as we (with @icemelon) are also experiencing the same issue. Making the pattern like `dense -> activations` is definitely more straightforward, and reshaping `bias` is basically a free lunch. We may start with this solution to unblock CUTLASS, and we could still support N-D dense/batch_matmul in parallel.

[2021-10-15 01:38] zhaiyi000 commented on #8545
@areusch No, my computer is MacBook Pro (15-inch, 2017), 2.8 GHz quad-core Intel Core i7

[2021-10-15 02:56] masahi commented on #8412
I found something interesting wrt the reshape swapping approach. If there are back-to-back `dense` op, currently we end up with something like
[code]
Note that there are two `reshape`s in the middle, one for 2D -> 3D and another for 3D-2D. If we swap activation with reshape, two reshapes become back-to-back and hence they cancel each other.

[2021-10-15 09:16] Mousius opened #9296 "[CI Image] Update ci_cpu to v0.79"
- [x] S0. Reason: Upcoming Conv2d support in CMSIS NN (https://github.com/apache/tvm/issues/8646) and optimising the AOT tests (https://github.com/apache/tvm/pull/9271)

- [x] S1. Tag of nightly build: `20211004-225913-779a50629`. Docker hub: https://hub.docker.com/layers/tlcpackstaging/ci_cpu/20211004-225913-779a50629/images/sha256-aef4438e0a91d8b16a5da96f4c1885a1de8f386612077519dd491fce9b5b97d6?

[2021-10-15 09:17] Mousius commented on #9296
CC @ashutosh-arm @areusch

[2021-10-16 11:41] zhaiyi000 commented on #9268
@echuraev Thank you.
`run(model, "metal")` works very well now.
But execute `run(annotate(model, "coremlcompiler"), target_host)`, after the computer is compiled and uploaded, when executed on the iPhone, xcode throws an exception
[code]

[2021-10-16 12:58] tqchen commented on #9250
Thank you for bringing this up!  Indeed we will need to make the condition stronger here such that under a weak ssa form, we would require the related expressions to do not call into function that have side effect or write into a state.

Note that by default store have to appear in a Stmt so the case of memory write won't interleave with the two lets

You are right that it is also think about whet

[2021-10-18 12:21] echuraev commented on #9268
Hi @zhaiyi000!

As far as I know, now tvm has poor coreml support. Maybe @kazum could provide more information about current status of CoreML in TVM.
If you are interested in offloading some primitives to different accelerators and tutorial about enabling TVM in Apple ecosystem, you can take a look at these articles: [BNNS integration](https://tvm.apache.org/docs/how_to/deploy/bnns.html) and [Deve

[2021-10-19 08:13] Jillian2017 opened #9316 "static library is slower than shared"
Hi,
I want to build the tvm library in static format, the default is shared.
So I change the CMakelish.txt file as follpws:
    #add_library(tvm SHARED ${COMPILER_SRCS} ${RUNTIME_SRCS})
    #add_library(tvm_topi SHARED ${TOPI_SRCS})
    #add_library(tvm_runtime SHARED ${RUNTIME_SRCS})
    add_library(tvm STATIC ${COMPILER_SRCS} ${RUNTIME_SRCS})
    add_library(tvm_topi STATIC ${TOPI_SRCS})
    add

[2021-10-19 08:31] hopkinn opened #9317 "CMakeFiles/Makefile2:218: recipe for target 'CMakeFiles/tvm_objs.dir/all' failed"
I followed the official tutorial to install TVM and encountered an error when I finally executed the compilation “make -j4”.

The error is as follows:
`Scanning dependencies of target tvm_libinfo_objs
[  1%] Built target project_libbacktrace
[  1%] Building CXX object CMakeFiles/tvm_libinfo_objs.dir/src/support/libinfo.cc.o
Scanning dependencies of target tvm_runtime_objs
[  1%] Building CXX objec

[2021-10-19 10:04] ggardet opened #9319 "[Bug] tvm 0.7.0 fails to build with LLVM 13"
### Expected behavior
Build should succeed.

### Actual behavior

Build fails with:
[code]

### Environment

TVM 0.7.0 on openSUSE Tumbleweed.

### Steps to reproduce

Try to build with LLVM 13.

[2021-10-19 17:13] areusch commented on #9296
this tag isn't validated and it looks like we've been busted for a bit. investigating

[2021-10-19 17:45] mehrdadh opened #9322 "[CI Problem][Possible Falky Test] tests/python/frontend/tensorflow/test_forward.py::test_forward_resnetv2"
### Branch/PR Failing

https://github.com/apache/tvm/pull/9274

### Jenkins Link

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9274/6/pipeline

### Flakiness

I tested this locally multiple times and it was fine. But it failed on CI.

[2021-10-19 19:56] mbs-octoml opened #9327 "[Tracking Issue] Unified Device, Target and Memory Scope Planning"
### This issue is to track progress for unified-device-target-and-memory-scope-planning
See https://github.com/apache/tvm-rfcs/pull/38.

cc @Hzfengsy @junrushao

[2021-10-20 01:21] #9317 closed, assigned to nobody

[2021-10-20 01:23] #9268 closed

[2021-10-20 02:59] masahi commented on #9316
We need more details than that. Please open a thread in the discuss forum.

[2021-10-20 02:59] #9316 closed

[2021-10-21 12:14] liyaoshun opened #9340 "[TensorRT] <class ‘tvm.relay.op.op_attrs.PadAttrs’> has no attribute pad_value"
https://discuss.tvm.apache.org/t/tensorrt-class-tvm-relay-op-op-attrs-padattrs-has-no-attribute-pad-value/11265

How can I fix this bug. Can I change the following code to solve the bug?
    .add_argument("pad_value", "Tensor", "The value to fill the padded area with") // pad_val

[2021-10-21 22:16] u99127 commented on #9296
S2 suggests only ci_gpu is busted as I pointed on discord - what am I missing @areusch  ?

[2021-10-22 00:36] masahi opened #9349 "[Torch, CI] Upgrade to PyTorch 1.10"
PyTorch 1.10 has just been released. We are now at PT 1.7 which we upgraded to one year ago. I think it is a good time for another update.
https://pytorch.org/blog/pytorch-1.10-released/

Recently I've been sensing growing interest in more tight integration with PyTorch, for example using TVM as a backend in a PyTorch-based application (https://github.com/apache/tvm/pull/8777) or using TVM for tra

[2021-10-22 07:46] Leo-arm opened #9351 "[Tracking Issue] Arm Ethos-N updates"
### This issue is to track progress for planned updates for the Arm Ethos-N.
- [x] P1. Alignment of IsSupported calls and compiler for different variants (https://github.com/apache/tvm/pull/9160). This paves the way for P2.
- [x] P2. Support for variants. This allows code generation for a number of Ethos-N78 hardware configurations with default memories (https://github.com/apache/tvm/pull/9386).
-

[2021-10-25 11:18] masahi opened #9362 "[Bug] PyTorch and TVM loading problem due to conflicting LLVM symbols"
Apparently, the new PyTorch release crashes with symbols loaded by TVM, so the following trivial code crashes with `invalid pointer Aborted (core dumped)` upon exit:

[code]

We can workaround this by swapping the import order, but as pointed out in https://github.com/apache/tvm/issues/9349#issuecomment-950685224 this may not always be possible.

Another solution is to remove the use of `RTLD_GLOB

[2021-10-26 02:40] Kyrie-Zhao opened #9368 "[Bug] A list of missing op conversion (Swin Transformer)"
I am currently accelerating swin_transformer (ICCV2021 best paper)
https://github.com/Kyrie-Zhao/Swin-Transformer/blob/main/models/swin_transformer.py

which shows:

NotImplementedError: The following operators are not implemented: **['aten::rand', 'aten::adaptive_avg_pool1d', 'aten::roll', 'aten::floor_']**

BTW, anyone can provide some guidance regarding the procedure of implementing & registeri

[2021-10-26 14:12] pfk-beta opened #9373 "[Bug] build tvm4j cannot take runtime from custom build folder"
### Expected behavior
build tvm4j with runtime from custom build directory  (currently I need to modify assembly.xml inside jvm folder).

### Actual behavior
During `make jvmpackage` i'm getting following error
[code]

### Environment
ubuntu 18, git e7a0c5cff225632f1c1927b70758bdeb6eb250c5, cmake 3.10.2

### Steps to reproduce
[code]

Preferably a minimal script to cause the issue to occur.

[2021-10-26 17:50] #9368 closed, assigned to masahi

[2021-10-28 20:05] cconvey opened #9389 "dr[Docs]"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2021-10-28 20:06] #9389 closed, assigned to nobody

[2021-10-30 01:21] jiangjiajun commented on #8976
Hi, @junrushao1994
I think we could add paddlepaddle frontend as a new feature in the release note of v0.8

[2021-10-30 14:52] tqchen commented on #9362
OK, digged a bit into this. I think I know the possible cause. This is because of the conflict of LLVM symbols(due to different versions of LLVM being used). PyTorch also starts to ship with LLVM. To avoid the problem, we need to do two things

- Turn on static linking of LLVM, this will directly link llvm code into libtvm without relying on dynamic library (that creates global symbols)
   - `set(

[2021-10-30 17:26] syang-ng opened #9401 "[Bug] buffer name becomes invalid after applying pass PlanAndUpdateBufferAllocationLocation and CompactBufferAllocation"
It seems that the name of a buffer can be invalid after applying pass `PlanAndUpdateBufferAllocationLocation` and `CompactBufferAllocation`.

### Expected behavior

The TVM can normally report the exception message.

### Actual behavior

After applying pass `PlanAndUpdateBufferAllocationLocation` and `CompactBufferAllocation`,  there will be a crash if we continue to use pass `LowerMatchBuffer`.

[2021-10-30 22:03] masahi commented on #9362
Thanks @tqchen, I confirmed that your solution worked on both of my envrionements too, and also both static link and `HIDE_PRIVATE_SYMBOLS` are required.

Also I realized that when I said "I cannot reproduce the original failure anymore" in https://github.com/apache/tvm/issues/9362#issuecomment-951574017, my cmake config is pointing to a different, custom LLVM build that has only static libs. More

[2021-10-31 02:14] Jie-KUN commented on #9362
@tqchen  I modified the CMakeLists.txt,

 **tvm_option(USE_LLVM "/path/to/llvm-config --link-static" ON)**

**tvm_option(HIDE_PRIVATE_SYMBOLS "Compile with -fvisibility=hidden." ON)**

But I still found the bug "free(): invalid pointer",

[2021-10-31 03:19] junrushao1994 commented on #8976
@jiangjiajun Sure! We will list experimental paddlepaddle frontend support as a separate category and a highlight of this release

[2021-10-31 14:03] jeromeyan opened #9403 "[Bug] autotvm.measure.MeasureResult object is not printable"
The autotvm.measure.MeasureResult is not printable

### Expected behavior

as the purpose of method __repr__ of MeasureResult, we expect the MeasurementResult(namedtuple) to print the detailed attributes.

### Actual behavior

When trying to print(measureResultObj), got the following TypeError, unsupported "in" operation

  File "/usr/lib/python3.8/enum.py", line 352, in __contains__
    raise Typ

[2021-10-31 14:58] tqchen commented on #9362
@Jie-KUN you need to set those configurations in config.cmake instead of CMakeLists.txt

[2021-11-01 03:11] Jie-KUN commented on #9362
@tqchen , thank you sincerely. I still have a question that I tried the code "from_pytorch.py". But I always found the tips:

"One or more operators have not been tuned. Please tune your model for better performance. Use DEBUG logging level to see more details."

Is that normal?

[2021-11-01 03:16] masahi commented on #9362
Yes that's normal. Please post other questions to the discuss forum.

[2021-11-01 03:19] Jie-KUN commented on #9362
@masahi  Ok， thank you！

[2021-11-01 05:35] syang-ng opened #9406 "[Bug] Crash in tvm.build when constructing the tir.isnan expression manually by tir.Call"
I try to construct the `tir.Call` expression manually, but after I execute the `tvm.build`, the program crashes.

### Expected behavior

Execute `tvm.build()` successfully.

### Actual behavior

The program will crash if we construct the `tir.isnan` manually.

And another interesting thing is that GDB can not print the whole backtraces, just like  the image listed below:
![image](https://user-imag

[2021-11-01 07:53] syang-ng opened #9407 "[Bug] Crash if we use the same variable in LetStmt and Select Expr"
It seems that if we use the same variable `v` in both let statement and select expression like this, it will trigger crash:

[code]

### Expected behavior

Throw exception or just build successfully.

### Actual behavior

The program crashes. And I use gdb to trace this bug, it seems that `op` is nullptr in `arith/ir_mutator_with_analyzer.cc`.

![image](https://user-images.githubusercontent.com/25

[2021-11-01 08:42] syang-ng commented on #9407
Similarly, the following example can also trigger a crash.

[code]

Different from the last example, this bug crashes in `PrimExpr RewriteSimplifier::Impl::VisitExpr_(const LTNode* op)`

![image](https://user-images.githubusercontent.com/25731241/139645042-0759d9db-255a-461b-9516-e83d268d443e.png)

[2021-11-01 11:43] ekalda opened #9410 "[Tracking Issue] Arm(R) Ethos(TM)-U NPU operator support"
### This issue is to track progress for Arm(R) Ethos(TM)-U NPU operator support
- [x] P1. POOLING operators (https://github.com/apache/tvm/pull/9384)
- [x] P2. Identity operator with STRIDED SLICE and RESHAPE operators (https://github.com/apache/tvm/pull/9457)
- [x] P3. Replacing Conv2d tests and deprecating Relay IR builder (https://github.com/apache/tvm/pull/9508)
- [x] P4. 4D Binary elementwise

[2021-11-01 14:11] tqchen commented on #9362
cc @leandron @areusch for awareness, let us update tlcpack config

[2021-11-01 15:52] leandron commented on #9362
Thanks for letting us know. It seems that currently, `--link-static` is already there in tlcpack. I added https://github.com/tlc-pack/tlcpack/pull/81 for the workaround discussed here.

[2021-11-01 17:04] leandron opened #9413 "[Bug] ubuntu_install_rocm.sh fails when generating ci-gpu image"
The nightly Docker image rebuild job is failing for the `ci-gpu` with the following error:

[code]

Looking at the history of the file, can either @jtuyls or @tqchen help with understanding what is going wrong?

[2021-11-01 17:05] leandron commented on #9413
OK, so it looks like http://repo.radeon.com/rocm/apt/debian/rocm.gpg.key disappeared, and this script then needs updating.

[2021-11-01 17:10] leandron opened #9414 "[Bug] fails when generating ci-i386 image: xgboost requires at least CMake 3.14"
The nightly job that rebuilds Docker images is failing to generate `ci-i386` due to an error when installing xgboost as part of https://github.com/apache/tvm/blob/main/docker/install/ubuntu_install_redis.sh.

The error is:
[code]

Log: https://ci.tlcpack.ai/blue/rest/organizations/jenkins/pipelines/docker-images-ci/pipelines/daily-docker-image-rebuild/runs/96/nodes/58/steps/220/log/?start=0

@tqch

[2021-11-01 17:33] junrushao1994 commented on #8976
@Mousius Thanks for asking!

Yes, we directly cut main into the v0.8 branch: https://github.com/apache/tvm/tree/v0.8. We do not have to announce the features that are not complete yet, and if there is any major bugfixes, it should be backported to the v0.8 branch.

I agree. Hopefully we will have a more automatic release process with the help from @denise-k :-)

[2021-11-01 17:39] junrushao1994 opened #9416 "Apache TVM v0.8 Release Note Candidate"
# Apache TVM v0.8 Release Note

  - [Overview](#overview)
  - [Accepted RFCs](#accepted-rfcs)
  - [Features and Improvements](#features-and-improvements)
    - [TE, TIR, TVMScript](#te-tir-tvmscript)
    - [AutoTVM, AutoScheduler, Meta Schedule](#autotvm-autoscheduler-meta-schedule)
    - [Operator Coverage](#operator-coverage)
    - [Training](#training)
    - [Relay](#relay)
    - [MicroTVM, AOT

[2021-11-01 17:47] junrushao1994 commented on #8976
Hi all, we cut a v0.8 release branch for Apache TVM: https://github.com/apache/tvm/tree/v0.8. Please find:
- The release note (candidate): https://github.com/apache/tvm/issues/9416
- The full changelog (candidate): https://gist.github.com/junrushao1994/c669905dbc41edc2e691316df49d8562

There have been tens of commits since last time we categorized the commits, and @vinx13 is actively working on ad

[2021-11-01 17:51] junrushao1994 commented on #8976
Also, if there is any bug/issue blocking the release, please don't hesitate to let us know in this thread :-)

[2021-11-01 20:13] masahi commented on #9416
Better to replace "Vulkan backend" at the "major exciting experimental features" section with `Improved Vulkan backend", since the vk backend has been around for a long time by now.

[2021-11-01 20:51] tkonolige commented on #9414
You just need to bump the cmake version in `docker/install/ubuntu_install_cmake_source.sh`.

[2021-11-01 23:22] junrushao1994 commented on #9416
@masahi @Lunderberg Yeah I totally agree! Would you guys suggest more details like "improved vulkan backends on ..."? Thanks a lot!

[2021-11-01 23:57] diegomoisset commented on #1673
-

- [ ]

-

-

-

- ``

[2021-11-02 01:56] masahi commented on #9416
Ok replaced with "Improved Vulkan backend" at the overview, and added unusually more details in "Codegen Backends and Runtime" to show off our vk capability.

 A critical bug fix in SPIRV codegen allows the Vulkan backend to produce correct outputs on more hardwares and drivers. Added support for querying device specific hardware parameters and capabilities, dynamic shapes, irregular ops such as s

[2021-11-02 02:00] masahi commented on #9416
Should we wait for PyTorch TVM PR https://github.com/apache/tvm/pull/8777? It should be merged soon.

[2021-11-02 02:43] jiangjiajun commented on #9416
Thanks @junrushao1994 !

There are 2 part I think we may need to fix

For the **Accepted RFCs** part,

it should be `[RFC-0019] Add PaddlePaddle frontend`, just a case problem

And for the **Frontends** part,

I have checked the v0.8 branch, there are 6 pull requests merged, we could list them all like others
https://github.com/apache/tvm/pull/8645 https://github.com/apache/tvm/pull/9126 https://g

[2021-11-02 05:54] junrushao1994 commented on #9416
Thank you @masahi for helping edit the description for Vulkan! It looks pretty nice to me :-)

Thanks @jiangjiajun for proofreading the PaddlePaddle-related text. Yep these commits were not there a month ago when we collected the initial changelog draft. Thanks to @vinx13, who acted swiftly and added these commits into both the release notes and the changelog today, these PRs you mentioned are inc

[2021-11-02 08:45] NataliaTabirca opened #9423 "[Bug] microTVM run problem on mimxrt1060_evk (NXP) board"
I am using the tvm version from the main branch in order to test simple models on my mimxrt1060_evk board. I used the script provided in the documentation for sine_model.tflite and it runs perfectly on my board with the expected output.

When I try to run mobilenet_v1_0.5_128.tflite (or any other model) I get this error:

Traceback (most recent call last):
  File "test_mobilenet.py", line 118, in

[2021-11-02 13:28] tqchen commented on #9362
reopen, can be closed once we updated the installation guide

[2021-11-02 14:17] mbaret opened #9429 "[Tracking Issue] Arm(R) Ethos(TM)-U Cascading Scheduler"
RFC PR: https://github.com/apache/tvm-rfcs/pull/37

### This issue is to track progress for the Arm(R) Ethos(TM)-U Cascading Scheduler
- [ ] P1. Add analysis infrastructure for data dependencies between stripes/operators using affine transforms (StripeConfig/Propagator). [PR pending]
- [ ] P2a. Add CascaderGraph to store graph-level information needed by the cascading algorithms (CascaderGraph, Pa

[2021-11-02 14:32] LightricksNatanKaminsky commented on #9242
Thank you! you can look [here](https://discuss.tvm.apache.org/t/support-for-mali-valhalla/11326) for a bit more context as well (might be helpful).

[2021-11-02 18:09] vinx13 commented on #9401
Thanks for repotting this. Looking into the provided script it's a bit problematic. `var` is used both in for loop as loop var and in `Store` as buffer var. (You may want `buf.data` as argument to `Store`)

[2021-11-02 18:18] junrushao1994 commented on #9416
@masahi we can wait for it if this PR could get in this week

[2021-11-02 18:19] junrushao1994 commented on #8976
Blocker: We need this bugfix in to address a regression https://github.com/apache/tvm/pull/9421

[2021-11-02 18:33] mehrdadh commented on #9423
@NataliaTabirca thanks for reporting this. I will take a look and get back to you.

[2021-11-02 18:46] junrushao1994 commented on #9401
CC @Hzfengsy

[2021-11-02 18:47] junrushao1994 commented on #9319
should be fixed on mainline. would you mind checking it out? thanks!

[2021-11-02 21:23] #9414 closed

[2021-11-02 22:13] #9362 closed

[2021-11-03 10:21] manupa-arm commented on #8717
Thanks! @Alex-grovety nice work! I think only aspect remains that is with respect to this issue that is to fix the tvm/python/tvm/relay/qnn/op/legalizations.py as mentioned by @Mousius .

[2021-11-03 13:45] Alex-grovety commented on #8717
The mentioned changes in the file tvm/python/tvm/relay/qnn/op/legalizations.py were for _qnn_dense_legalize_arm_cpu, do we need to make only these changes for dense or something else for convolution?

[2021-11-03 22:35] vinx13 commented on #9401
I believe the issue here is `tir.Store(buffer_var=var,value=buf_load,index=zero)` where `var` is not a buffer (you need `buf.data`) and is not expected to be used in this way

[2021-11-03 22:35] #9401 closed

[2021-11-04 02:13] jiangjiajun commented on #9416
Does this mean we will update v0.8 branch again this week, I merged a new pull request this week early https://github.com/apache/tvm/pull/9428 ,  will this be in v0.8?

[2021-11-04 06:12] junrushao1994 commented on #9416
@jiangjiajun Yes, we will update v0.8 branch and cut a release candidate on Nov 8, 2021. After the cut, we will ask the community and PMC members to test to release, and if there is no regression we will make the release official

[2021-11-04 06:12] junrushao1994 commented on #9416
@jiangjiajun Yes, we will update v0.8 branch and cut a release candidate on Nov 8, 2021. After the cut, we will ask the community and PMC members to test to release, and if there is no regression we will make the release official

[2021-11-04 08:11] wrongtest commented on #9407
Interesting findings! Wonder why it would not lead to an unfinished recursion error...

[2021-11-04 08:25] wrongtest commented on #9406
[code]
Above is what works for me, `isnan()` seems buggy with integer type now

[2021-11-04 14:56] leandron opened #9445 "[Bug] ci_cpu image failing in `ubuntu_install_vitis_ai_packages_ci.sh`"
During last night's Docker image rebuild, there is a new error happening in the context of `ubuntu_install_vitis_ai_packages_ci.sh`:

[code]

cc @jtuyls to help troubleshoot when possible

[2021-11-04 15:25] leandron commented on #9296
After some issues with other images such as `ci_i386` and `ci_gpu`, I'm taking the task of running an _ad hoc_ job to validate the latest `ci_cpu` (`tlcpackstaging/ci_cpu:20211102-232503-054fff568`) and tag it to be `tlcpack/ci-cpu:v0.79` once it is validated.

[2021-11-04 15:33] jtuyls commented on #9445
Seems to be an issue introduced by setuptools version 58.5. See https://github.com/pypa/setuptools/issues/2849 and https://github.com/scikit-learn/scikit-learn/pull/21549. We can fix it by pinning the setuptools version for now? I am trying out setuptools v58.4.0 right now and can create a PR for that.

[2021-11-04 15:44] leandron commented on #9445
Yes, I'm ok with pinning setuptools. Thanks for looking into it.

[2021-11-04 17:05] syang-ng commented on #9406
Thanks for your reply! I found a similar [issue](https://discuss.tvm.apache.org/t/solved-cannot-use-sqrt-exp-etc-in-tir/11081) discussed in the forum, it seems that `isnan` / `sqrt` / ... are designed for floating-point numbers. Though these functions accept a floating-point number, they don't check the date type of parameters, and then cause such crash in codegen. Maybe it would be better to tell

[2021-11-04 17:18] syang-ng commented on #9407
Thanks for your reply! Theoretically, it should be an unfinished recursion error, while the backtrace tells me it not. I speculate that another error may be triggered during the recursion.
![image](https://user-images.githubusercontent.com/25731241/140386660-28e5a6eb-3bfa-496c-9063-b2f02366949a.png)

[2021-11-04 20:13] jrfonseca opened #9448 "[Bug] GraphExecutor set_input_zero_copy introduces accuracy error when used with reshape"
@tqchen, I was trying v0.8 but noticed a regression in `reshape` when used with `set_input_zero_copy`.  I bisected the rergession to commit b2c4f1c2cbd4c4b7ac27ac853dbad7c489784444.

Here's a basic test case:

[code]

### Expected behavior

Test should run successfully.

### Actual behavior

[code]
### Environment

Ubuntu 20.04.3 LTS

### Steps to reproduce

See script above.

[2021-11-04 20:18] jrfonseca commented on #9448
Just to give some more context, I admit this is not a common scenario, but it was exercised when running some tests for ONNX's [Reshape](https://github.com/onnx/onnx/blob/master/docs/Operators.md#Reshape) operator, with a single node.

[2021-11-05 00:13] huajsj commented on #9239
once the cmake version is lower then 3.10 or get linked into a old version cmake,  user may see "gtest_discover_tests", use `which cmake` can help for trouble shooting, and update cmake can fix the said issue.

[2021-11-05 08:15] baibeta opened #9453 "[Bug] [microTVM] [ProjectAPI] Error in TemplateProject generate_project_from_mlf"
### Expected behavior

generate_project_from_mlf should be work

### Actual behavior

TemplateProjectError received

### Environment

Ubuntu, latest tvm code base

### Steps to reproduce

-- python code:
[code]
-- analysis:
In TemplateProject's __init__ :
[code]
So is_template must be set to True.

But when calls TemplateProject's generate_project_from_mlf, it will call GeneratedProject.from_direc

[2021-11-05 09:51] guli333 opened #9455 "[Bug]"
in my model`s json file I have
[code]

When i am trying to use this model I am getting the following issue:

[code]

but as I see in the code, the make_loss function is implemented.

[code]
So how can i fix this issue?

[2021-11-05 11:34] leandron commented on #9445
Fixed by #9446.

[2021-11-05 11:34] #9445 closed

[2021-11-05 14:13] leandron commented on #9453
Hi @baibeta, can you post the full stack trace so that it is easier to see the same error as you see?

Also cc @areusch @gromero

[2021-11-05 15:46] #9296 closed

[2021-11-05 15:52] leandron commented on #9296
For record keeping, just to make it clear:

* `tlcpackstaging/ci_cpu:20211102-232503-054fff568` became `tlcpack/ci-cpu:v0.79`

[2021-11-05 16:12] ttenc commented on #9455
Actually you dont need make_loss op for inference, it doesnt have any effect at all.

[2021-11-05 16:47] comaniac commented on #9455
This op is called `make_loss` in MXNet instead of `MakeLoss`. Also please post the similar questions to the discuss forum in the future with proper titles.

[2021-11-05 16:47] #9455 closed

[2021-11-06 05:49] denise-k opened #9463 "[Docs][bug] legacy redirect for docs not working as expected"
I recently stumbled upon an [old link](https://tvm.apache.org/docs/dev/index.html) to the TVM developer documentation which is still broken.

`legacy_redirect.py` is supposed to [redirect this link](https://github.com/apache/tvm/blob/main/docs/legacy_redirect.py#L31) to a [valid documentation page](https://tvm.apache.org/docs/arch/index.html):
[code]

Unfortunately, that's not working as expected.

[2021-11-06 13:03] gbxu commented on #8991
Weird. When I use auto_scheduler to search conv2d on V100, it shows "No valid state found in this search round. Check if it has traversed all of the search space." and lots of messages like
[code]
My workload is as follows.
[code]

After setting MAX_TRACEBACK_INFO_LEN=8192, I can get more details:
[code]
hi, @comaniac . Is it due to the large problem size of conv2d?  I think it's a common setting

[2021-11-06 17:15] comaniac commented on #8991
It's not due to the large problem size. Did you set USE_RANDOM ON when building TVM?

For future discussions of this issue, please post to the discuss forum.

[2021-11-06 17:58] gbxu commented on #8991
Sure. --> https://discuss.tvm.apache.org/t/autoscheduler-failed-to-find-a-valid-schedule/11001

[2021-11-06 18:21] Lyken17 commented on #8976
Blocker: Conv2dTranspose currently does not support `groups`. But `groups` is popularly used in recent efficient models and Conv2dTranspose is an important operator in GAN related applications.

* `groups` support: https://github.com/apache/tvm/issues/8182 https://github.com/apache/tvm/pull/8799
* `shape` check: https://github.com/apache/tvm/pull/9465

Will try my best to fix the problem this week

[2021-11-06 20:07] #9463 closed

[2021-11-06 20:07] tqchen commented on #9463
Should work now, was due to delayed update of the docs

[2021-11-07 09:14] JKANG94 opened #9466 "[Bug] tvm.micro' has no attribute 'get_microtvm_template_projects"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2021-11-08 03:01] baibeta commented on #9453
Traceback (most recent call last):
  File "/data/home/yifan.bai/code/tvm_latest/tvm/kws/my_prj.py", line 26, in <module>
    my_temp_prj  = temp_class_instance.generate_project_from_mlf(model_library_format_path, project_dir, project_options)
  File "/data/home/yifan.bai/code/tvm/python/tvm/micro/project.py", line 122, in generate_project_from_mlf
    return GeneratedProject.from_directory(project

[2021-11-08 03:22] baibeta commented on #9466
https://github.com/apache/tvm/commit/54019b943623409b866d898a4c696a617671867b

This API is mereged recently. Did you update local code base? I just try and it works.

[2021-11-08 17:14] mehrdadh commented on #9466
@JKANG94 If you used TVM head and enable microtvm (USE_MICRO), this API would work fine.

[2021-11-09 01:57] areusch commented on #8717
@manupa-arm could you address the question above?

[2021-11-09 02:16] JKANG94 commented on #9466
@baibeta  I just update local code, it works.

[2021-11-09 02:16] #9466 closed

[2021-11-09 07:30] masahi opened #9476 "[Bug] Auto scheduler tuning on CPU fails on `batch_matmul(x, x)`"
An interesting bug found by @shtinsa

Apparently, something bad happens when the autoscheduler try to tune the workload `batch_matmul(x, x)`. It emits an error like this (A repro script https://gist.github.com/masahi/59248ec6faafae65154973c84dd6f48e):
[code]

Interestingly, the error happens only on a CPU target. Moreover, reverting https://github.com/apache/tvm/pull/9207 also workaround this prob

[2021-11-09 07:47] huanmei9 commented on #8717
Hi, @Alex-grovety . I have some questions in your reply

My questions are:

1. What kind of arm device support ` is_fast_int8_on_arm()`? Could you give some examples?
2. Why the operator need to cast to int16 if device neither `use_int8_on_arm` nor `is_fast_int8_on_arm`?

[2021-11-09 09:39] manupa-arm commented on #8717
Hi @areusch @Alex-grovety ,

Yes it is generally applicable for any operator. The reasoning is mentioned in the comment as follows :
``` # Advanced SIMD present and no dot product extension ```

[2021-11-09 15:15] onkar-sima-ai commented on #9187
Hi @leandron can you please update this issue and if possible review the PR for qunatized SIN operator?
I have followed the instruction in this issue to write the test cases.

Please let me know if I need to do any changes.
Thanks for posting, Happy to contribute.

[2021-11-09 15:33] junrushao1994 commented on #8976
The release is cut and is available for test in https://github.com/apache/tvm/tree/v0.8

[2021-11-09 15:41] jrfonseca commented on #9448
`accuracy error` is an understatement.  It gives complete garbage numbers!

[2021-11-09 15:48] leandron commented on #9187
Done! thanks @onkar-sima-ai

[2021-11-10 03:47] areusch commented on #9239
closing as we either don't have enough data but suspect the version of cmake used was too old. feel free to re-open if there is another cause.

[2021-11-10 03:47] #9239 closed

[2021-11-10 03:56] areusch commented on #9453
@baibeta could you post the `microtvm_api_server.py` you're using? in general this is intentional:
- it's expected that the user will supply a template project for use with microTVM
- TVM will always try to invoke generate_project with that template project, passing the MLF, and this function is expected to create a new project. it's expected that `microtvm_api_server.py` will copy itself into the

[2021-11-10 03:56] #9453 closed

[2021-11-10 13:40] tqchen opened #9487 "[UX] Verbose log messages from experimental compilation config"
reported by @masahi

After updating to the latest main, I'm seeing too many LOG(INFO) from src/target/compilation_config.cc . Below is the log emitted when compiling a single dense op.
[code]

[2021-11-10 13:40] tqchen commented on #9487
was introduced by https://github.com/apache/tvm/pull/9313, sorry that I missed it when merging. going to send a hotfix

[2021-11-10 13:40] tqchen commented on #9487
https://github.com/apache/tvm/pull/9486

[2021-11-10 17:17] junrushao1994 commented on #8976
Blocker #9486

[2021-11-11 06:12] junrushao1994 opened #9495 "[CI Problem] Flaky Test: tests/python/driver/tvmc/test_compiler.py::test_compile_tflite_module_with_external_codegen_cmsisnn"
### Branch/PR Failing

Several instances of CI flakiness on the same unittest: tests/python/driver/tvmc/test_compiler.py::test_compile_tflite_module_with_external_codegen_cmsisnn

### Jenkins Link

Some examples:
- https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/2070/pipeline
- https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/2069/pipeline
- https://ci.tlcpack.ai/b

[2021-11-11 06:13] junrushao1994 commented on #9487
Closed via #9486

[2021-11-11 06:13] #9487 closed

[2021-11-11 10:03] 17818587795 opened #9496 "[Bug] Check failed: (reporter->AssertEQ(data->shape[data->shape.size() - 1], weight->shape[1])) is false: DenseRel: input dimension doesn’t match, data shape=[1, 512], weight shape=[512, 1000]"
![image](https://user-images.githubusercontent.com/49740899/141278738-d1f13eb5-a194-44b9-94ab-8d92d42650ba.png)
Convert torch model error

[2021-11-11 10:57] Mousius commented on #9495
Hi @junrushao1994,

Can you assign this to me? I have no idea why it would continue to flip and it might just be old branches intersecting so needs monitoring some.

[2021-11-11 12:38] #9496 closed

[2021-11-11 15:18] lhutton1 commented on #7455
I believe this can be closed now.

[2021-11-11 15:20] #7455 closed

[2021-11-11 16:23] mbs-octoml commented on #9495
I suspect driver_api.cc:439 is picking out the host module non-deterministically since a) can end up with two kDLCPU targets for the given and the 'default' used for shapes etc and b) map iteration order is non-det.

[2021-11-11 18:52] junrushao1994 commented on #9495
Thank you @Mousius @mbs-octoml for acting quickly on this :-)

[2021-11-11 19:52] huajsj commented on #8596
@comaniac , thanks for the follow up, just saw this comments,  already done.

[2021-11-11 19:57] comaniac commented on #8596
Could you update the issue with a complete plan (e.g., milestones, expected PRs) instead of adding one line when filing a PR? Otherwise people won't have an idea about how many PRs you are going to send and what milestone you have achieved.

[2021-11-11 20:23] huajsj commented on #8596
@comaniac , sure, already add the future PR plan.

[2021-11-11 22:59] mehrdadh commented on #9416
I have tested v0.8 release on microtvm physical hardware for Arduino and Zephyr platforms. It passes the tests for these hardware:
- **Zephyr**: qemu_x86, nrf5340dk_nrf5340_cpuapp, nucleo_l4r5zi, stm32f746g_disco, nucleo_f746zg
- **Arduino**: due

[2021-11-11 23:47] #9495 closed

[2021-11-11 23:51] #9413 closed

[2021-11-12 11:32] Mousius opened #9502 "[CI Image] Update ci_arm to 0.07"
- [ ] S0. Reason: Update to ACL 21.08 from #9396

- [ ] S1. Tag of nightly build: 20211112-082025-6159b8e92. Docker hub: https://hub.docker.com/layers/tlcpackstaging/ci_arm/20211112-082025-6159b8e92/images/sha256-947afe5907b88accd775e89450a352b6d4bcf29b71a19d7308f6bd120a326a35?context=explore

- [ ] S2. The nightly is built on TVM commit: 6159b8e925bb77324ecd488e161a6c368b9d4ce7. Detailed info can

[2021-11-12 11:32] Mousius commented on #9502
CC @leandron @areusch

[2021-11-12 19:33] junrushao1994 opened #9504 "[VOTE] Release Apache TVM v0.8.0.rc0"
Dear TVM community,

This is a call for vote to release Apache TVM version 0.8.0.  This is a major release with many new features and improvement. All users of Apache TVM 0.7 are advised to upgrade. The release is co-managed by Wuwei Lin (@vinx13).

Link to release notes:
https://github.com/apache/tvm/releases/tag/v0.8.0.rc0

Link to release candidate:
https://dist.apache.org/repos/dist/dev/tvm/tv

[2021-11-12 22:02] tqchen commented on #9504
+1 (binding), I checked

Signatures and hashes good
LICENSE, NOTICE
Signatures and hashes
No unexpected binary files
Code compiles and import in python

TQ

[2021-11-13 04:37] Hzfengsy commented on #9504
+1

[2021-11-14 06:41] jiangjiajun commented on #9504
+1

[2021-11-14 10:32] masahi commented on #9504
+1

[2021-11-14 21:00] ZihengJiang commented on #9504
+1

[2021-11-15 02:24] zhuwenxi commented on #9504
+1

[2021-11-15 03:58] JKANG94 commented on #9216
@mehrdadh Have you solved this problem? I also met this.

[2021-11-15 12:54] syang-ng commented on #9407
I think another crash is triggered because of the same reason. Here is the example code to trigger this crash:

[code]

[2021-11-15 13:19] Mousius commented on #9504
+1 - Let's get this done and get ready for 0.9! :smile_cat:

[2021-11-15 17:43] comaniac commented on #9504
+1

[2021-11-15 18:38] vinx13 commented on #9504
+1

[2021-11-15 19:06] electriclilies commented on #9504
+1, notice a typo in the overview though-- robust is misspelled as "robost" :laughing:

[2021-11-15 19:34] csullivan commented on #9504
+1

[2021-11-15 19:36] AndrewZhaoLuo opened #9511 "[CI Image] Update ONNX"
Our current ONNX version is 1.8.1. The latest version is 1.10.2. Most notably, opsets 14-16 have been added to the spec. We should support some of these operators since they include some common activation like HardSwish

- [x] S0.
  - Reason: See #9329 for an example of later opset operators not being fully supported.
  - Commit that makes change: https://github.com/apache/tvm/pull/9519

- [x] S1.

[2021-11-15 20:05] tvm-archiver commented on #9504
+1

[2021-11-15 21:39] mehrdadh commented on #9226
This is resolved after https://github.com/apache/tvm/pull/9233 merged.

[2021-11-15 21:39] #9226 closed

[2021-11-16 04:27] wrongtest opened #9513 "[BUG] NVPTX as a testable device seems to be not supported anymore"
Hi there. We have been seen strange warning message `NVPTX support not enabled`  during unittests on environment with cuda enabled.  A reproduce script is as below:
[code]

[2021-11-16 05:00] YuchenJin commented on #9504
+1

[2021-11-16 06:14] mehrdadh commented on #9504
+1

[2021-11-16 12:24] #8664 closed

[2021-11-16 19:16] areusch commented on #9504
+1

[2021-11-17 01:29] #8374 closed

[2021-11-18 07:41] JKANG94 commented on #9423
@mehrdadh  I also met this problem. I used micro tvm to run tflitemodel on x86 host just like this http://tvm.apache.org/docs/how_to/work_with_microtvm/micro_tflite.html#sphx-glr-download-how-to-work-with-microtvm-micro-tflite-py, but I used the create_local_debug_executo for getting the runtime of the model.

with tvm.micro.Session(generated_project.transport()) as session:
    debug_module = tvm

[2021-11-18 09:30] runner42195 commented on #8683
Hi,

I am following the external_yolov3_tutorial.ipynb Jupyter notebook tutorial for compiling a YOLOX-NANO ONNX model for Vitis-AI. But when I try to use lib.export_library I am having the next problem:

    LLVM ERROR: out of memory
    Aborted (core dumped)

Any idea of why is failing?

Best regards,

[2021-11-18 09:31] runner42195 commented on #8683
Hi @comaniac @jlamperez ,

I am following the external_yolov3_tutorial.ipynb Jupyter notebook tutorial for compiling a YOLOX-NANO ONNX model for Vitis-AI. But when I try to use lib.export_library I am having the next problem:

Any idea of why is failing?

Best regards

[2021-11-18 09:33] runner42195 commented on #8683
Hi @comaniac @jlamperez ,

I am following the external_yolov3_tutorial.ipynb Jupyter notebook tutorial for compiling a YOLOX-NANO ONNX model for Vitis-AI. But when I try to use lib.export_library('tvm_dpu_cpu.so') to save 'tvm_dpu_cpu.so' file, I am meet the next problem:

    LLVM ERROR: out of memory
    Aborted (core dumped)

Any idea of why is failing?

Best regards

[2021-11-18 09:35] runner42195 commented on #8683
Hi @comaniac @jlamperez ,

I am following the [external_yolov3_tutorial.ipynb](https://github.com/Xilinx/Vitis-AI/blob/master/external/tvm/examples/external_yolov3_tutorial.ipynb) Jupyter notebook tutorial for compiling a yolov3 model for Vitis-AI. But when I try to use lib.export_library('tvm_dpu_cpu.so') to save 'tvm_dpu_cpu.so' file, I am meet the next problem:

LLVM ERROR: out of memory
Aborte

[2021-11-18 09:36] runner42195 commented on #8683
Hi @comaniac @jlamperez ,

I am following the [external_yolov3_tutorial.ipynb](https://github.com/Xilinx/Vitis-AI/blob/master/external/tvm/examples/external_yolov3_tutorial.ipynb) Jupyter notebook tutorial for compiling a yolov3 model for Vitis-AI. But when I try to use lib.export_library('tvm_dpu_cpu.so') to save 'tvm_dpu_cpu.so' file, I am meet the next problem:

[code]

Any idea of why is faili

[2021-11-18 09:51] mshr-h commented on #9319
I was able to build it correctly with `TVM@3f2ae347`.
Thanks!

[2021-11-18 14:54] Mousius commented on #8717
Hi @areusch, @Alex-grovety  and @huanmei9,

Just wondering if you're looking to follow up on the legalisation changes here or if you had further questions? :smile_cat:

[2021-11-18 21:25] mehrdadh commented on #9216
@JKANG94 this issue has been solved in https://github.com/apache/tvm/pull/9227.
maybe rebase your local repot to get the fix.

[2021-11-18 21:43] onkar-sima-ai commented on #5823
Is this issue still open?

[2021-11-18 23:35] jwfromm commented on #9504
+1

[2021-11-19 01:44] huanmei9 commented on #8717
Thanks for your  reminder. @Mousius
No question on the legalisation.
But some questions in this reply:

[2021-11-19 02:34] JKANG94 commented on #9216
@mehrdadh  I have updated the local code， but I also met some problem. It's a bit different with this issue.  Just like this https://github.com/apache/tvm/issues/9423

[2021-11-19 03:50] FrozenGene commented on #5823
I think #7093 is enough and could close it now.

[2021-11-19 03:50] #5823 closed

[2021-11-19 08:26] mshr-h commented on #9504
+1

[2021-11-19 17:02] onkar-sima-ai commented on #8838
Hi @tmoreau89 I would like to work on `com.microsoft.MatMulIntegerToFloat` , could you please assign in to my name?

[2021-11-19 22:29] tmoreau89 commented on #8838
Thank you @onkar-sima-ai I entered you in the table.

[2021-11-22 13:01] justmywyw opened #9546 "[Potential Bug] v0.8: run webgpu demo fail"
`python ./tests/python/webgpu_rpc_test.py `
run webgpu demo fail with the following error:
` Check failed: target->kind->device_type == kDLVulkan (15 vs. 7) : SPIRVSupport can only be checked for vulkan device type`

Find the change from v0.7 to v0.8 below，wondering if webgpu support now.
https://github.com/apache/tvm/blob/44549e623433dd10d9e97e442ef529fb44c46c14/src/target/spirv/spirv_support.cc#

[2021-11-22 14:26] Mousius commented on #9511
Hi @AndrewZhaoLuo,

Do you know which images we need to be updated here? I think it's `ci_qemu` and `ci_gpu` which install it?

[2021-11-22 14:58] tqchen commented on #9546
Thanks @justmywyw  for reporting, cc @Lunderberg . I think we should enable WebGPU here by allowing webgpu as a spirv target. Note that webgpu spec is still evolving so the support is experimental

[2021-11-22 19:48] AndrewZhaoLuo commented on #9511
Yup I think thats correct

[2021-11-22 20:53] junrushao1994 commented on #9504
Thanks @electriclilies! The typo is fixed :-)

[2021-11-22 23:16] gromero commented on #9423
@NataliaTabirca Hi. Thanks for reporting the issue and for creating a simple reproducer.

The issue boils down to a lack of RAM at runtime due to the amount of memory required by your model (mobilenet), as we suspected.

More specifically, the trace you've pasted above is due to `TVMPlatformMemoryAllocate()` failing to allocate memory on Zephyr's heap (i.e. allocation via `k_heap_alloc()` - `TVMPl

[2021-11-23 00:19] tqchen opened #9551 "[UX] Improve TensorIR jupyter misuse error message improvement suggestions"
Some lessons when trying out TensorIR on a jupyter session due to mis-use

- When passing different types(list of loops) to the split API, type checking error message is not as clear, consider do checking and raise error on python side.

https://gist.github.com/tqchen/01915c90334dbc2699971afe40dd2996

[2021-11-23 00:35] junrushao1994 commented on #9551
UX issue should be treated as a bug

[2021-11-23 00:41] junrushao1994 commented on #9551
The second issue is easier to fix: rewrite the error message.

The first issue is more profound: it comes from the type checking in packed function interface. One workaround is to check the input types on python side for each API. However I don't know better any general approaches to do so. On the other hand, if `get_loops` returns a list containing only one element, we can sugar it out; not sure

[2021-11-23 00:42] junrushao1994 commented on #9551
Is it possible to turn off the stacktrace? It doesn't look useful in jupyter

[2021-11-23 00:47] tqchen commented on #9551
Let us check on the pythn side for the first one

[2021-11-23 10:58] Mousius commented on #8717
No problem @huanmei9,

If we take a look at the `is_fast_int8_on_arm()` function, it actually relates do the dot product extension:
https://github.com/apache/tvm/blob/02fbaf0ed9120a8f95155e63de42459f230584aa/python/tvm/relay/qnn/op/legalizations.py#L350-L353
This function should be `has_dot_product_on_arm()` to be more explicit about the extension it works with. We should use the attributes and ar

[2021-11-23 15:23] tqchen commented on #9551
Updated note on the c++ stacktrace side. The main annoying part are the expanded macro dispatchers in the FFI boundary that does not provide additional information.

So one solution is to update the trace normalizer to simplify and skip some of the less informative traces(e.g. unpackcall_dispatcher) but keep the rest of the useful traces

[2021-11-23 16:35] junrushao1994 commented on #9551
@tqchen The dispatcher can be completely avoided by using other metaprogramming tricks

[2021-11-23 17:54] vinx13 opened #9566 "[RESULT][VOTE] Release Apache TVM v0.8.0.rc0"
Dear TVM community,

I'm glad to announce the results of the vote for the release, with Junru Shao (@junrushao1994)'s co-management.

This vote passes with 17 +1 votes (5 binding), no 0 votes, and 0 -1 vote.

+1 votes

- Tianqi Chen (binding)
- Siyuan Feng
- Jiajun Jiang
- Masahiro Masuda (binding)
- Ziheng Jiang (binding)
- Wenxi Zhu
- Christopher Sidebottom
- Cody Yu (binding)
- Wuwei Lin
- Lily

[2021-11-23 17:57] vinx13 commented on #9504
Thanks everyone for voting. The result has been sent out in https://lists.apache.org/thread/4rdndw0n8mz5mbbwz4p2po7h7y0hv4h2

[2021-11-23 17:57] #9504 closed

[2021-11-23 19:49] junrushao opened #9567 "[Bug] Set `TVM_BACKTRACE=0` doesn't suppress C++ stacktrace"
### Expected behavior

The snippet below should suppress C++ stacktraces, but actually it doesn't. I digged into the codebase but found nowhere the environment variable is used in C++...

[code]

### Actual behavior

The environment variable isn't in effect

### Environment

OS version is not relevant. TVM version is the current HEAD (328d7c7c09763b8532a6a7359a5dc6d5ee6c8a98)

### Steps to reprodu

[2021-11-23 21:59] areusch opened #9570 "[Bug] using GraphExecutorFactory with -link-params results in runtime segfault"
reported: https://discuss.tvm.apache.org/t/different-output-for-large-yolo-onnx-model-in-python-correct-and-c-incorrect/11537

### Expected behavior

the following should work:
[code]

### Actual behavior

segfault due to trying to set the params which live in `.text`.

### Environment

reporter was on os x with c++ runtime and no python, but this should be equivaelnt.

[2021-11-23 23:59] #9551 closed

[2021-11-24 01:32] slyubomirsky opened #9572 "[Bug] Many imported Relay models fail to parse when saved in the text format"
The naming conventions of many other deep learning frameworks do not play together nicely with the Relay text format. For example, many PyTorch models include dots in variable names, which are parsed as index operators in Relay. What is curious is that the imported programs (when they are referenced as the directly imported AST objects) will work initially, but will not work once written to the te

[2021-11-24 01:42] slyubomirsky commented on #9572
I checked and the PyTorch importer has a "parser-friendly" flag that replaces only dots, which is reasonable. I will see if this problem exists in other importers

[2021-11-24 01:49] #9572 closed

[2021-11-24 16:28] gyzou commented on #8976
When would 0.8 official release be? Estimatedly, days, weeks, months?

[2021-11-24 17:01] junrushao1994 commented on #9416
Release candidate is approved:
* Voting thread: https://github.com/apache/tvm/issues/9504
* Voting result: https://github.com/apache/tvm/issues/9566

[2021-11-24 17:01] #8482 closed

[2021-11-24 17:02] #9416 closed

[2021-11-24 17:03] junrushao1994 commented on #8976
The release candidate v0.8.rc0 is approved:
* Voting thread: https://github.com/apache/tvm/issues/9504
* Voting result: https://github.com/apache/tvm/issues/9566

[2021-11-24 17:20] #9566 closed

[2021-11-25 03:44] ZQPei commented on #9513
@wrongtest I do believe https://github.com/apache/tvm/pull/9585 could solve this bug.

[2021-11-25 12:15] pfk-beta opened #9587 "[Bug] RPC.getApi("ServerLoop") returns null"
### Expected behavior

RPC server on android works correctly, i.e. tuning models from another machine can run successfully.

### Actual behavior

Cannot run autotuning.

### Environment

Ubuntu 20.04, tvm git hash: 99b9d4276f083d407a7f2afbf68141ac81ba001a. Target device: android aarch64, api 30
Any environment details, such as: Operating System, TVM version, etc

### Steps to reproduce
build tvm:

[2021-11-25 12:42] pfk-beta commented on #9587
I think that there should be at least simple condition against NullPointerException with error message.

[2021-11-25 13:02] pfk-beta commented on #9587
[code]

[2021-11-25 14:30] pfk-beta commented on #9587
@yzhliu I can see that you have contributed a lot of code to TVM, especially to rpc module. So big thanks to you. Can I have a few questions to you? These quenstions would help me to understand how tvm works with RPC.

[2021-11-25 15:10] #9587 closed

[2021-11-25 16:45] leandron opened #9591 "[CI Problem] Crashing with `No such property: docker_type for class: groovy.lang.Binding`"
CI is crashing with `No such property: docker_type for class: groovy.lang.Binding` message, due to #9556. The potential fix is #9588.

There is a process issue here, because we can't _just merge_ the fix, as it is never going to pass CI, given it is a fix for CI.

We need some help from @tqchen @jroesch @areusch to see how to proceed in this situation, and the implications of just manually `git pu

[2021-11-25 18:15] tqchen commented on #9591
noticed this as well. Note that unfortunately we all do not have perm to force push to main. We will need to figure out a way, perhaps change jenkins policy temporarily to trust Jenkinsfile from PR from certain users

[2021-11-25 18:17] tqchen commented on #9591
Background: right now the pipeline policy only takes effect after the file is merged into main(to tighten up control), as a result, changes to Jenkinsfile would require a push to ci-docker-staging first

[2021-11-25 18:27] junrushao1994 commented on #9591
Currently TVM DevOps procedure is mostly implicitly specified by convention, and ideally it would probably be desirable to have some explicit documentation on the guidelines

[2021-11-25 19:03] leandron commented on #9591
Oh I didn't know we don't have access to manually push to main. So I guess you have set the Jenkins configuration in the job to trust certain users and the current job on #9592 is running with the actual proposed Jenkinsfile?

So, given that, we just need for CI to complete and then merge that fix?

[2021-11-25 19:43] #9513 closed

[2021-11-26 10:27] pfk-beta commented on #9587
additional missing header: rpc_server_env.cc - it required for uploaing module

[2021-11-26 16:22] #9591 closed

[2021-11-26 16:22] tqchen commented on #9591
#9592

[2021-11-26 19:11] Alex-grovety commented on #8717
As I understood in tvm/python/tvm/relay/qnn/op/legalizations.py will be such changes:
for dense
[code]
and for convolution
[code]
@Mousius, is it right?

[2021-11-26 21:25] lazycal opened #9598 "[Bug] Missing predicate guarding reduction init for a tensor scheduled with compute_at"
[code]

This triggers segmentation fault. The produced IR is
[code]
where `B_2[((i.outer*100) + i.inner)] = 0f32` isn't wrapped with the predicate as in the reduction body.

## Investigation

The problem can be solved if we do not skip the bound check by replacing `!stage->rolling_buffer` with `false` in https://github.com/apache/tvm/blob/adf560ebed8465c22bf58f406d0a8d20663cdd1d/src/te/operation/c

[2021-11-28 11:25] ZQPei commented on #9567
Seems like for now tvm doesn't support suppressing c++ backtrace with system environment. It can only be suppressed by set(USE_LIBBACKTRACE OFF).

[2021-11-28 12:59] ZQPei commented on #9567
In my opinion, supporting C++ backtrace suppression by environment might slowdown tvm runtime a little bit. Is it necessary? Or we can just delete the TVM_BACKTRACE in python?

[2021-11-28 13:05] leandron commented on #9319
This looks fixed, so closing the issue.

[2021-11-28 13:05] #9319 closed

[2021-11-29 06:45] ZQPei commented on #9403
It should be like this,
[code]

[2021-11-29 14:51] mbs-octoml commented on #9327
The RFC is moribund at the moment while we clear off some more pressing issues. I'd like to pick this up again in 2022Q1 with more detail in the RFC after discussions with @Mousius who's tackling the companion Target vs 'codegen compiler name' disconnect.

I see this as enabling more uniform support for mixing and matching between library implementations, external codegen, and the built-in TIR cod

[2021-11-29 14:55] chaoranli20 commented on #7857
Have you solved this problem？ I have a similar question and can not be solved by changing the premission setting.

[2021-11-29 19:07] gromero opened #9607 "[Bug] "KeyError: 'arduino_cli_cmd'" on `tvmc micro create ... arduino`"
### Expected behavior

[code]
This `tvmc` command should finish without any error, correctly generating a project dir in `/tmp/x9584`

### Actual behavior

[code]

### Environment

Any if `USE_MICRO` and `tvmc` is enabled/installed

### Steps to reproduce

`$ tvmc micro create <any_tmp_project_dir> <path_to_a_compiled_model_saved_as_MLF> arduino --project-option project_type=host_driven`

[2021-11-29 19:10] gromero commented on #9607
This happens because even if `arduino_cli_cmd` option in `PROJECT_OPTIONS` has not `"generate_project"` listed in `required`  list.

[2021-11-29 20:27] huajsj commented on #8596
@comaniac, I just updated this issue to move these planned PR not belong to this solution to  sperate tables to avoid confuse, please check.

[2021-11-29 21:30] AndrewZhaoLuo commented on #9511
cc @areusch do I need to do anything else? I can't push the new versions to tlcpack (I get error denied)

[2021-11-29 22:44] jroesch commented on #7526
cc @mbs-octoml @denise-k is it possible for you guys to take over this one as you now have the most context?

[2021-11-29 23:06] mbs-octoml commented on #7526
Here's where we've gotten to:
 1. TECompiler has fully replaced CompileEngine :-)
 2. te_complier_cache.cc still in pretty messy state, the cache datastructures themselves can be simplified however we still have customers of TECompiler::Lower etc via te_compiler.py.
 3. After #9483 all backends will use the TELowerPass instead of the one-function-at-a-time lowering API.
 4. IRModule could do with

[2021-11-30 00:01] driazati opened #9610 "[CI] Clean Jenkins workspace on a new run"
Jenkins doesn't clean the workspace on each new run. This gives an easy way to get quick rebuilds since most of CMake's previous run is still around. However, it also leads to issues such as https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9584/4/pipeline/#step-35-log-1110. We should be clearing away everything except the build folder to minimize these types of issues

[2021-11-30 00:30] mehrdadh opened #9612 "[Bug] [TVMC] tvmc micro fails testing with `_main`"
I tried to use [_main function](https://github.com/apache/tvm/blob/7e673f859b5512a69955f0fdb8aff489ebf4cb3a/python/tvm/driver/tvmc/main.py#L55) for testing `tvmc micro` on PR #9584 but I ran into this issue.

### Expected behavior
Should be able to run `tvmc micro` without error.

### Actual behavior
[code]

### Environment
Environment with TVMC and USE_MICRO

### Steps to reproduce
[code]

first

[2021-11-30 01:32] tqchen commented on #9610
One thing to note is that re-download all test data can be costly and would also cause the remote data server to timout and block the ci node, so we need to enable some folders to be cached.

[2021-11-30 02:31] junrushao1994 commented on #9567
@ZQPei We have an assumption that if an error is raised, it’s probably the slow path where we Dian waste reasonable amount of time. If plowing this assumption, the necessary time to read an environment variable is probably acceptable:-)

[2021-11-30 02:48] jroesch commented on #7526
Ok Mark will split out into follow up issues that go on the roadmap and we will close this one. cc @Mousius

[2021-11-30 02:48] #7526 closed

[2021-11-30 02:50] ZQPei commented on #9567
I agree. To step further, it would be better to have a `TVM_LOG_LEVEL` environment to control the output of the log level in C++ side. What do you think?

[2021-11-30 11:11] grant-arm commented on #8717
@manupa-arm for visibility

[2021-11-30 13:50] junrushao1994 commented on #9567
@ZQPei I think we already have `TVM_LOG_DEBUG`, but not sure how to use it properly

[2021-11-30 13:52] islavutin commented on #9242
Hi @LightricksNatanKaminsky , I was able to localize the problem on my devices and it seems to be related with OpenCL compiler on Adreno GPU. Here is the [reproducer](https://github.com/Deelvin/qualcomm/blob/mali_kernels/OpenCLRunner/README.md) (and I am in the process to communicate it to Qualcomm)

[2021-11-30 13:57] islavutin commented on #9242
I slightly modified your script and getting very much close output by running on CPU and on Adreno GPU
[code]

Here is the modified code:

[code]

[2021-12-01 01:34] philatoctoml opened #9617 "TVM forcing compilation with USE_MICRO ON"
@areusch

TVM is forcing compilation with USE_MICRO ON since a recent commit even though I have no reason to compile with it.

I am using the following to compile in this environment:

[code]

Traceback:
[code]

[2021-12-01 02:29] ZQPei commented on #9617
Can't reproduce your error.
If you didn't compile with `USE_MICRO=ON`, then don't `from tvm import micro`.
Would you mind to provide your `tvmcompile.py` code?

[2021-12-01 02:38] philatoctoml commented on #9617
@ZQPei thanks! Of course not. I just did this based on a model I had already tuned:

[code]

[2021-12-01 02:55] ZQPei commented on #9567
`TVM_LOG_DEBUG` is a macro trigger that will send more debugging info if we set it to 1. Seems like it has nothing to do with the tvm logger level.

BTW, is it necessary to create a RFC of adding a `TVM_LOG_LEVEL` environment in the TVM discuss?

[2021-12-01 03:35] ZQPei commented on #9617
I think I have found the root cause of your problem.
As we can see in https://github.com/apache/tvm/blob/32e80128d195db9987e47a89755f4ef4d7cf8e8d/python/tvm/driver/tvmc/__init__.py#L22
and
https://github.com/apache/tvm/blob/32e80128d195db9987e47a89755f4ef4d7cf8e8d/python/tvm/driver/tvmc/runner.py#L37-L39

`tvm.micro` is imported in any case without a detection of `USE_MICRO` macro.
This bug was mi

[2021-12-02 03:27] mehrdadh commented on #9610
happened here as well: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9631/3/pipeline#step-35-log-1121

[2021-12-02 10:19] mehrdadh commented on #9607
@gromero I think this is fixed now?

[2021-12-02 17:14] areusch commented on #9610
investigating and i see two things:
1. the workspace is wiped out on that node
2. it seems like we are now creating workspaces per-PR, e.g the paths are like `/home/octo.aws.c4/workspace/tvm_PR-9631`, vs before they were just `/home/octo.aws.c4/workspace/exec_0`. so now i'm wondering if we are in fact reusing build dirs anymore.

[2021-12-02 18:44] areusch commented on #9610
ignore my previous comment about workspaces--what is [reported](https://ci.tlcpack.ai/job/tvm/job/PR-9631/3/ws/) in Jenkins on the PR doesn't match what docker/bash says:
[code]

[2021-12-02 18:50] areusch commented on #9610
seeing no sanity-check jobs running on `octo.aws.c4.54.184.207.71`, ran:
[code]

in Jenkins script console.

[2021-12-02 18:53] areusch commented on #9610
also did the same on octo.aws.c4.44.242.35.246
[code]
in Jenkins script console.

I suspect switching to an approach where we pull the build/ dir from a shared cache or use sccache and wiping the workspace is the best use of our time in trying to fix issues like this.

[2021-12-02 20:19] vinx13 commented on #9598
`rolling_buffer` was introduced in https://github.com/apache/tvm/pull/9444, does this issue exist before the rolling buffer commit?

[2021-12-03 03:03] ZQPei commented on #9617
Thank you @philatoctoml. The bug has been fixed by https://github.com/apache/tvm/pull/9632.

[2021-12-03 03:27] vision-zhu opened #9645 "当我make的时候出现该错误，无论是从源码安装还是在docker内安装"
完全按照源码安装方式，只更改设置了set(USE_CUDA ON)
Ubuntu20.04，CUDA11.0，cudnn8，python3.8

hnu@hnu:~/ZDS/PRJ/tvm/build$ make -j16
Scanning dependencies of target project_libbacktrace
Scanning dependencies of target tvm_libinfo_objs
Scanning dependencies of target tvm_objs
[  0%] Creating directories for 'project_libbacktrace'
[  0%] Building CXX object CMakeFiles/tvm_libinfo_objs.dir/src/support/libinfo.cc.o
[  0%]

[2021-12-03 03:47] masahi commented on #9645
Probably you didn't clone submodules. (`git clone --recursive`).

[2021-12-03 03:47] #9645 closed

[2021-12-03 12:43] zhen8838 opened #9648 "[Bug]"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2021-12-03 15:17] Lunderberg commented on #9546
Thank you for the heads up, and I've added it to my todo list to look into it.  I agree that we should enable WebGPU here, and to have something in the CI to test this path.

[2021-12-04 08:36] leandron commented on #9617
Thanks @ZQPei @philatoctoml and @gromero for fixing the issue!

[2021-12-04 08:36] #9617 closed

[2021-12-06 07:27] lp6m opened #9653 "[Bug] test_tensorrt.py::test_conv2d_transpose failed"
There is a bug in the code generation for TensorRT that causes the conv2d_transpose test to fail.

[code]

This problem has not been detected by CI because CI only runs the compile test and not the run test.

If I set the number of output channels in the test to 1 as shown below, the test passes, so I think the cause is that the weights are not converted correctly during the layout conversion, but

[2021-12-06 10:17] mkroening opened #9656 "[Bug] TVMC tune: Broadcast exception on valid ONNX model"
### Expected behavior

No issue when running

[code]

with the ONNX model only being a multiplication of two four by four matrices (three by three works).
Note that compiling the model without tuning works and produces valid results.

Model:

[code]

### Actual behavior

[code]

### Environment

Operating System: Ubuntu 20.04.3 LTS
TVM version: ccd59e89d21cc81cc06f2a16cddcc1ffeed1e2a1

### Steps t

[2021-12-06 10:35] mkroening opened #9657 "[Bug] [TVMC] tune: ZeroDivisionError on Add"
### Expected behavior

No issue when running

[code]

with the ONNX model only being an addition of two single values.
Note that compiling the model without tuning works and produces valid results.

Model:

[code]

### Actual behavior

[code]

### Environment

Operating System: Ubuntu 20.04.3 LTS
TVM version: ccd59e89d21cc81cc06f2a16cddcc1ffeed1e2a1

### Steps to reproduce

Create `model.onnx` wit

[2021-12-06 11:50] masahi commented on #9653
There were several breaking changes in the conv2d transpose implementation.
* https://github.com/apache/tvm/pull/9336
* https://github.com/apache/tvm/pull/9465

Probably the necessary change didn't get applied to the TensorRT backend. @AndrewZhaoLuo @Laurawly

[2021-12-06 17:47] lhutton1 opened #9659 "[CI Image] Update ci_cpu to v0.80"
- [x] S0. Reason: Update Vela to v3.2.0 (#9635)

- [x] S1. Tag of nightly build: `20211206-124834-9c4115320`. Docker hub: https://hub.docker.com/layers/tlcpackstaging/ci_cpu/20211206-124834-9c4115320/images/sha256-f8ac53e5401387d605f46bf858be41e01a3bcdda3eb4a541e4a4680d6f938fc2?context=explore

- [x] S2. The nightly is built on TVM commit: `9c4115320`. Detailed info can be found here: https://ci.t

[2021-12-06 17:48] lhutton1 commented on #9659
cc @leandron @areusch @manupa-arm - please let me know if there's anything I've missed :)

[2021-12-06 19:23] mehrdadh opened #9661 "[TVMC][MicroTVM] tvmc micro `project_dir` arg does not accept relative path"
### Expected behavior

Expect `tvmc micro create-project` to run without error.

### Actual behavior
[code]

### Steps to reproduce
[code]

cc @gromero @guberti

[2021-12-06 23:07] #7434 closed

[2021-12-06 23:07] #8976 closed

[2021-12-06 23:27] electriclilies opened #9665 "[Tracking Issue] Add virtual device as a first class field in Relay"
RFC: https://github.com/apache/tvm-rfcs/pull/45
PR: https://github.com/apache/tvm/pull/9641

[2021-12-07 00:56] AndrewZhaoLuo commented on #9653
Yeah this is probably my thing. Some weird thing going with layout transforms yep.

If you change "nn.conv2d_transpose": ["NCHW", "default"], to "nn.conv2d_transpose": ["NCHW", "IOHW"] in the `python/tvm/relay/op/contrib/tensorrt.py` it works.

So the default should be IOHW but need to look closer

[2021-12-07 07:04] lp6m commented on #9653
@AndrewZhaoLuo Thank you for your quick reply, I confirmed this change fix this problem.
https://github.com/apache/tvm/pull/9668/commits/d0bb4bd7848ff30760d39ac3139b197b8fe1c409

[2021-12-07 12:04] manupa-arm commented on #9296
@areusch @tqchen @leandron, do we need to maintain v0.xx versioning ?

[2021-12-07 12:20] manupa-arm commented on #9659
I've created ci-docker-staging job : https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/173/pipeline

[2021-12-07 12:28] manupa-arm commented on #9659
@tqchen @areusch @leandron , I personally think S4 is unnecessary here.

tlcpackstaging image tag is much more descriptive with the date and the commit hash. If we dont do S4, we might be able to just update the Jenkinsfile after ci-docker-staging job passes. WDYT ?

[2021-12-07 13:10] leandron commented on #9659
I think that moving tlcpack/* docker images to use the same pattern as tlcpackstaging would be very good, because it gives an impression of how old the image is (as it is important, given we always will get the latest updates from the Ubuntu base image), as well as to which point specifically in the git repo it includes, that you can query in 1 second on your local machine.

I support this 100% -

[2021-12-07 16:43] areusch commented on #9296
@manupa-arm it does seem like we could get rid of that. let's spin this into a discuss forum thread so that others can keep track. seems like we could do this but might want to add e.g. `docker/publish.sh` in case someone manually built images.

[2021-12-07 22:44] gromero commented on #9607
@mehrdadh absolutely. Thanks for the ping and sorry leaving it opened : )

I'm closing since it's fixed by https://github.com/apache/tvm/pull/9584

[2021-12-07 22:44] #9607 closed

[2021-12-08 07:51] manupa-arm commented on #9659
Earlier ci-docker-staging job got a timeout. Not sure why.
I've created a new one : https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/174/pipeline

[2021-12-08 08:14] manupa-arm commented on #9659
It seems like no space in the CI node. Any ideas are welcome!

[2021-12-08 09:08] sky-fun opened #9679 "[Bug] AttributeError: module 'tvm' has no attribute 'micro' when running `python -m tvm.driver.tvmc --help`"
### Expected behavior

use `python -m tvm.driver.tvmc --help` and get help information

### Actual behavior

get `AttributeError: module 'tvm' has no attribute 'micro'` from `import tvm.micro.project as project` in python/tvm/driver/tvmc/runner.py

### Environment

ubuntu18.04
python3.6.5
commit:c945b24c3693c8859b07d1af682f986e21a6d6bc

### Steps to reproduce

follow the  https://tvm.apache.org/do

[2021-12-08 12:21] leandron commented on #9679
There was an issue recently fixed by @gromero that addresses something similar to what you're seeing.

In the meantime, would you want to workaround this by setting `USE_MICRO ON` on your config.cmake?

[2021-12-08 20:33] mehrdadh commented on #9661
fixed by https://github.com/apache/tvm/pull/9663

[2021-12-08 20:33] #9661 closed

[2021-12-08 20:56] mehrdadh opened #9685 "Follow up on PR #9631"
There are few follow ups on PR #9631 that we need to address:
- It's not clear whether we need to do port forwarding/reversing for Android to run HexagonLauncher: https://github.com/apache/tvm/blob/d13e2b6d65a6e5b8bf230175e9be6cfeceb193e0/python/tvm/contrib/hexagon/build.py#L155
- Currently, close function in HexagonLauncher does not fully close the RPC server on Android. We need to investigate mo

[2021-12-09 00:32] AndrewZhaoLuo commented on #9653
Above PR is ready for review, I just forgot to change the default layout in old PR I think.

[2021-12-09 06:29] codgeek commented on #7301
sorry to reply after several months, It works now!  thank you so much!  👍👍

[2021-12-09 06:29] #7301 closed

[2021-12-09 15:34] mehrdadh commented on #9679
@sky-fun PR is merged. Please verify that this PR fixed your issue and then we can close this.

[2021-12-09 15:36] mehrdadh commented on #8595
@areusch issues that I have mentioned here are solved. Can we close this issue?

[2021-12-09 15:40] mehrdadh commented on #8953
@areusch This is resolved. Can we close it?

[2021-12-09 19:57] areusch commented on #8595
looked over the RFC, i think we can close this now.

[2021-12-09 19:57] #8595 closed

[2021-12-09 20:00] areusch commented on #8953
yep let's close, @PhilippvK please re-open if you still see a problem here!

[2021-12-09 20:00] #8953 closed

[2021-12-09 21:40] yzh119 commented on #6596
The block isolation in TVM's Tensor IR would solve the problem.

[2021-12-09 21:40] #6596 closed

[2021-12-10 08:12] huang229 opened #9701 "Link library not found"
### environment
The environment is as follows：
win10 、vs2017 、c++ 、Release 、x64
tvm__version__ = "0.9.dev0"

### Expected behavior

The following exception is thrown when compiling cpptest.sln:
 Link library not found：pthread.lib and dl.lib

What are pthread.lib and dl.lib and which open source library is it compiled from?

[2021-12-10 11:28] leandron opened #9703 "[Bug][CI] Python 3.6 used in TVM CI is reaching EOL"
Python 3.6 is widely used in our CI jobs (as it is default for Ubuntu 18.04, that we use), and it is going to be in EOL (end of life) status by 31st December 2021, which means no security fixes to be released after that date. See https://www.python.org/dev/peps/pep-0494/#lifespan.

This issue is a placeholder for us to discuss on moving away from Python 3.6 and decide:
1. Which version to use? Sug

[2021-12-10 11:35] leandron commented on #9657
@mkroening, thanks for the bug report.

cc @comaniac @junrushao1994 any idea on who can help us with this one?

[2021-12-10 13:43] manupak opened #9705 "[CI Problem] CI node out of memory"
Examples :
* https://ci.tlcpack.ai/blue/organizations/jenkins/docker-images-ci%2Fdaily-docker-image-rebuild/detail/daily-docker-image-rebuild/143/pipeline
* https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/175/pipeline/

This started with a timeout on https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/173/pipeline.

It seems like the CI jobs

[2021-12-11 01:54] masahi opened #9713 "[CI Image] Update PyTorch to v1.10 in GPU image"
- [x] S0. The version on CI is 1.7, more than a year old

- [x] S1. Tag of nightly build: TAG. Docker hub: https://hub.docker.com/layers/tlcpackstaging/ci_gpu/20220105-225914-79cfb797e

- [x] S2. The nightly is built on TVM commit: 79cfb797ef084f6bf170e54bddc6e4439f00ca5f

- [x] S3. Testing the nightly image on ci-docker-staging: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docke

[2021-12-11 03:05] sky-fun commented on #9679
@mehrdadh i test the latest code, and the issue was fixed.
thanks.

[2021-12-11 03:05] #9679 closed

[2021-12-11 14:13] ZJUGuoShuai opened #9714 "[Docs] An unclear definition of TensorIR"
### Tutorial: [Blitz Course to TensorIR](https://tvm.apache.org/docs/tutorial/tensor_ir_blitz_course.html)

I'm learning TVM these days, both from published papers and the amazing official documentations. Quite a few times, I encountered some terms and abbreviations that looks like related things: **TensorIR**, **TIR**, **Tensor-Level IR**.

I guessed that they were the same thing. So I tried to s

[2021-12-11 14:36] ZJUGuoShuai commented on #9714
Finally, I found the RFC of TensorIR: [TensorIR: A schedulable IR for TVM](https://discuss.tvm.apache.org/t/rfc-tensorir-a-schedulable-ir-for-tvm/7872), and it's amazing! It explained the motivation of TensorIR. I begin to understand what it is.

[2021-12-11 18:10] kk2049 opened #9715 "[Bug] Te.gradient not work with complex forward workload"
### My problem
I am trying to use autoscheduler to generate CUDA source code for backward stage for NCHW winograd_conv2d. Due to some bugs in topi.cuda.conv2d_winograd.winograd_cuda, I copied some code to build my workload.

Luckily, this workload works without te.gradient and can successfully get source code for the forward stage. But when I add te.gradient, this workload no longer works and I ge

[2021-12-12 19:57] michaelhwn opened #9719 "[Bug] FileExistsError while calling tvm.runtime.load_module() function"
### Background

I am using TVM to perform inference on a Raspberry Pi 4B. Occasionally I noticed that when I try to load my model with the tvm.runtime.load_module() function, I get a FileExistsError telling me there already exists a directory with the name same as my model's name.  I had to manually remove this existing directory for the load_module() function to work properly. From the error log,

[2021-12-13 10:08] leandron commented on #9705
I temporarily disabled this machine on Jenkins, due to storage issues, FYI.
https://ci.tlcpack.ai/computer/octo.aws.c4.44.242.35.246/

[2021-12-13 10:12] manupa-arm commented on #9705
Thanks! @leandron

[2021-12-13 10:21] manupa-arm commented on #9659
This is blocked on https://github.com/apache/tvm/issues/9705

[2021-12-13 10:28] manupa-arm commented on #9713
Hi @masahi ,

FYI, I'd be careful with S3.

I was trying to use the image from S2 in S3 as mentioned here : https://github.com/apache/tvm/issues/9659
Unfortunately, it got a timeout and leaving the node with a image. It is only then I realize we our jobs dont start with clean CI nodes in terms of images.

Now the ci_cpu upgrade is currently blocked on this and we dont have access to any of the nod

[2021-12-13 10:40] masahi commented on #9713
@manupa-arm Thanks, yes I'm aware of the recent CI outrage. Probably I'll work on this next week.

[2021-12-13 12:26] hgt312 commented on #9237
The issue is about boolean indexing, see https://numpy.org/doc/stable/reference/arrays.indexing.html#boolean-array-indexing, while relay's op `adv_index` is integer array indexing.
Seems boolean index is just nonzero + integer array indexing, we can fix it in pytorch frontend

[2021-12-13 15:03] abdulazizm commented on #7971
Did you raise the issue for this query?

[2021-12-13 15:05] abdulazizm commented on #8683
@runner42195 Did you find a workaround for this?

[2021-12-13 15:50] daniperfer commented on #7971
Yes, it's in #7990.

[2021-12-13 17:16] abdulazizm commented on #7990
@daniperfer sorry i am newbie, how can we change this llvm version? Is there any blog or documentation that you refer?

[2021-12-14 05:49] #9653 closed

[2021-12-14 07:03] daniperfer commented on #7990
I posted a question about this in the TVM discussion forums, in which I described how to change LLVM version. Unfortunately, it doesn't work for me :(, and I couldn't find a solution...
This is the question: https://discuss.tvm.apache.org/t/llvm-error-when-tracing-maskrcnn-model-in-pytorch-object-detection-tutorial/10066

[2021-12-14 07:09] #8540 closed

[2021-12-14 16:38] u99127 commented on #9703
I'd suggest python 3.8 as that seems to be the best bet for reasons as you suggest.

[2021-12-14 17:13] junrushao1994 commented on #9714
CC @Hzfengsy

[2021-12-14 17:23] areusch commented on #9705
from Noah:
- docker prune script on static nodes (which I have running as a cron job) doesn't pass the 'volumes' flag
- manually fixed 5 nodes which were full (think 246 was one of them)
- permanent fix requires a rolling update of the fleet to bring in a new AMI. no time for this right now.

let's leave this bug open til we do the rolling update.

[2021-12-14 18:35] manupak opened #9741 "[CI Problem] Nightly docker re-build validations use different commits for CMake build and testing"
Where ?

https://ci.tlcpack.ai/job/docker-images-ci/job/daily-docker-image-validate/45/

calls another Job that shows the issue:

https://ci.tlcpack.ai/blue/organizations/jenkins/docker-images-ci%2Fdocker-image-run-tests/detail/docker-image-run-tests/45/pipeline/269

What ?

The above job uses different commits on main for building tvm and testing tvm as follows :

The above seems to be built usin

[2021-12-14 18:36] manupa-arm commented on #9741
cc : @leandron @areusch @tqchen @mbs-octoml @grant-arm

[2021-12-14 19:28] ryanstout commented on #5580
@areusch did you figure this out, I'm seeing the same issue. I'm doing a lookup at one point:

[code]

Were you doing something similar? (my onnx model is coming from pytorch)

[2021-12-14 22:38] junrushao1994 commented on #9567
@ZQPei Sorry for the late reply! That will be very helpful if we could potentially unify these environment variables. Please send an RFC and I'm more than happy to help!

[2021-12-15 13:31] abdulazizm commented on #5393
`NotImplementedError: The following operators are not implemented: {'DenseToDenseSetOperation'}`

Is there any timeline for supporting tensorflow MaskRCNN operators?

[2021-12-16 09:24] abdulazizm commented on #7886
@masahi Any documents or link related to usage of VM compiler would be great. Hope VM complier/runtime would also be used with VITIS AI flow

[2021-12-16 14:26] kk2049 commented on #9715
@comaniac Sorry to bother you. (I really appreciate your help about `te.gradient` months ago #8991 ) I wonder if I can get your help again about this problem. I am confusing about this bug and have no idea how to fix it. Thanks a lot!!

[2021-12-16 18:05] comaniac commented on #9715
It looks like auto-scheduler has issues when generating the schedule sketch for this workload. You could first try to build and run this workload on CPU without tuning to see if we could identify the problem. If that doesn't work, then it must be something wrong with the workload or te.gradient. Otherwise, we could investigate the compute DAG to see why auto-scheduler failed to work on this worklo

[2021-12-16 23:30] u99127 opened #9762 "[CI Image update for ci_arm and ci_cpu for Compute library v21.11"
- [ ] S0. Reason: Update Compute library for Arm Architecture version to v21.11

- [ ] S1. Tag of nightly build: TAG. Docker hub: https://hub.docker.com/layers/tlcpackstaging/ci_cpu/...

- [ ] S2. The nightly is built on TVM commit: TVM_COMMIT. Detailed info can be found here: https://ci.tlcpack.ai/blue/organizations/jenkins/docker-images-ci%2Fdaily-docker-image-rebuild/detail/daily-docker-image-r

[2021-12-17 03:17] ZQPei commented on #9567
@yongsun Thank you! I will try to submit an RFC as soon as possible.

[2021-12-17 03:24] JasonTryharder opened #9766 "docker: bad format for path: ."
I am following the [steps](https://tvm.apache.org/docs/how_to/deploy/vitis_ai.html#setup-instructions) to build TVM-vitis-ai container, run `./build.sh demo_vitis_ai bash`
when running `./bash.sh tvm.demo_vitis_ai` first time:
`Removing intermediate container 9353f67262c5 ---> 52e68b3e2404`
`Step 19/19 : ENV USER="root" ---> Running in 108755a1fd90`
`Removing intermediate container 108755a1fd90 --

[2021-12-17 19:53] leandron commented on #9762
I'm consolidating all Docker image update for `ci_cpu` and `ci_arm` here, and using the `tlcpackstaging` tag `20211217-183440-bd61d18c1`.

This supersedes requests in #9659 and #9502.

[2021-12-17 19:54] leandron commented on #9659
Superseded by #9762

[2021-12-17 19:54] #9659 closed

[2021-12-17 19:54] leandron commented on #9502
Superseded by #9762

[2021-12-17 19:54] #9502 closed

[2021-12-17 19:57] leandron commented on #9762
Validation job: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/179/pipeline

[2021-12-17 20:12] leandron commented on #9762
@driazati it seems we're getting an error when using a recently generated `ci_arm` machine, to do with CMake. Can you help me to identify where it needs to be fixed?

The message I see is this:
[code]

[2021-12-17 20:23] leandron commented on #9713
I can deal with this request in #9762.

[2021-12-17 20:23] leandron commented on #9713
#9762

[2021-12-17 20:23] leandron commented on #9762
This is blocked on the CMake error above.

[2021-12-17 22:25] masahi commented on #9713
@leandron This is for updating the GPU image, so I think it should be independent.

[2021-12-17 23:29] driazati commented on #9762
https://github.com/apache/tvm/pull/9771 should fix the cmake error, you can cherry pick it into ci-docker-staging with

[code]

[2021-12-18 15:39] leandron commented on #9762
Thanks @driazati, I'm retrying it now with https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/180/pipeline

[2021-12-18 21:43] JasonTryharder opened #9772 "[CI Image] "libgmock.so" does not exist when build tvm inside vitis-ai-tensorflow container with conda vitis-ai-tensorflow env"
I am following this [thread](https://tvm.apache.org/docs/how_to/deploy/vitis_ai.html#setup-instructions),by running :
`docker run --workdir /home/jasoncat/CAT/tvm --rm --pid=host --net=host --interactive --tty --env CI_BUILD_HOME=/home/jasoncat/CAT/tvm --env CI_BUILD_USER=jasoncat --env CI_BUILD_UID=1000 --env CI_BUILD_GROUP=jasoncat --env CI_BUILD_GID=1000 --env CI_PYTEST_ADD_OPTIONS= --env CI_IM

[2021-12-19 19:01] kk2049 commented on #9715
@comaniac  Thanks for your reply! I have tried to run this workload with `tvm.target.Target("llvm")`. This workload can be successfully launched. So I select `target("cuda")` again and tried to print the compute DAG. It looks like this:
[code]
I have tried to check this DAG info myself but failed to anything useful. Maybe you can find something in it?

Thanks a lot for your help!!!

[2021-12-20 15:10] SubjectNoi commented on #9645
No, I encounter this problem even if my "3rdparty/libbacktrace/configure" **PHYSICALLY EXISTS ON MY HARD DISK**.

[2021-12-20 15:45] vision-zhu commented on #9645
你好，我解决了这个问题：在clone了该仓库之后，必须单独clone这个第三方仓库：libbacktrace，并覆盖掉tvm下的3rdparty/libbacktrace仓库，最后成功安装的

[2021-12-20 23:46] masahi commented on #9713
@manupa-arm @leandron @areusch I'm not familiar with the new CI image update protocol. How does one push an image to `tlcpackstaging`? I've tried

[code]

But got
[code]

Previously I would just create an image like ci_gpu:v0.76 and push it to tlcpack dockerhub org

[2021-12-21 03:38] CrazyKing5023 opened #9779 "[Bug]"
### Expected behavior
run hexagon sim on x86

pytest -v tests/python/contrib/test_hexagon/test_maxpool2d_blocked.py::TestMaxPooling

### Actual behavior

/usr/bin/pytest:7: TargetDeprecatedDeprecationWarning: [logilab.common.pytest] [logilab-common 1.3] logilab-pytest is deprecated, use another test runner
  run()
going into /xxx/project/work_space/dmlc/tvm/tests
Traceback (most recent call last):

[2021-12-21 05:37] manupa-arm commented on #9713
@masahi you should not be needing to push images there. The ci-docker-build nighly job will automatically build images from a nightly checkout of main for all images.

[2021-12-21 06:15] masahi commented on #9713
Interesting! I guess I don't even need to build a new image locally anymore... So should I just send a PR to update `docker/install/ubuntu_install_onnx.sh` to cause a new nightly image with the new PyTorch version?

I have more CI questions I want to ask. Recently I've joined discord to learn about CI issues. Can we continue there?

[2021-12-21 06:28] manupa-arm commented on #9713
Yes, that should do it.

S3 should capture any issues should the updated image breaks the current tests anyway.

As a next step, we want to explore the possibility to making every PR rebuild the images using tlcpackstaging images as a cache. i.e. we don't sacrifice correctness in the verification but the PRs that involves docker changes will be a bit slow due to the invalidation of the cache -- ho

[2021-12-21 11:06] grant-arm commented on #9762
Can we please include #9777 in the updated docker image.

[2021-12-22 06:52] 43998213 opened #9790 "[Installation Problem]"
git clone --recursive https://..............
-- The C compiler identification is GNU 7.5.0
-- The CXX compiler identification is GNU 7.5.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
-- Check for worki

[2021-12-22 08:22] 43998213 commented on #9790
tried gcc-8 also failed

[2021-12-22 08:27] 43998213 commented on #9790
llvm-config --version ==6.0.0

[2021-12-22 08:28] 43998213 commented on #9790
Kib Mem: 32686660
Kib swap: 16343312

[2021-12-24 05:35] chuqingG opened #9803 "[Bug] ir.IRModule.from_expr return type dismatch"
### Expected behavior

In your [doc](https://tvm.apache.org/docs/reference/api/python/ir.html?highlight=from_expr#tvm.ir.IRModule.from_expr) I found that the return type is `tvm.runtime.Module`

### Actual behavior

When I ran code as following:
[code]
It showed that :
[code]
which means the actual return type is `tvm.ir.module.IRModule`

### Environment

tvm=0.9.dev0

your current doc version=0.9

[2021-12-24 08:43] masahi commented on #9803
Thanks you are right, the doc is wrong. A PR welcome.

[2021-12-24 08:54] chuqingG commented on #9803
thanks, there seems to be a few other errors in the doc, I think I can pr together. : )

[2021-12-24 08:54] #9803 closed

[2021-12-27 06:11] jshuhnow commented on #8838
Hi @tmoreau89 , I'd like to work on `com.microsoft.QAttention`. Could you assign it to me, if possible?

[2021-12-27 20:30] masahi commented on #9713
@jiangjiajun I'm testing a new image with PT 1.10 and getting an error from paddle: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/182/pipeline/

Any idea what's going on? I can run `from_paddle.py` locally without issues. `free(): invalid pointer` thing looks similar to a known issue with recent PT + LLVM discussed in https://github.com/apache/tvm/issues/9362

[2021-12-28 02:23] jiangjiajun commented on #9713
It looks strange, I'll check this today

[2021-12-28 10:46] Shantanu-repo commented on #9772
I have the same error, I have tried different machines, different setups. Nothing has worked yet

[2021-12-29 02:07] jiangjiajun commented on #9713
@masahi I'm not sure why this error occurred.

I have found there was a  core dumped problem while we running `autotvm` with  paddle frontend, and the reason is the  system signal capturing of PaddlePaddle.

To solve the problem, we have released a new version of 2.1.3, use the new function `paddle.disable_signal_handler()` to disable signal capturing.

This function is called in paddle frontend a

[2021-12-29 05:59] leeexyz commented on #9790
@43998213  Specify the number of jobs `make -j4`

[2021-12-29 12:10] masahi commented on #9713
@jiangjiajun Unfortunately it didn't help https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/184/pipeline

Were you able to reproduce the issue locally?

[2021-12-29 16:04] jiangjiajun commented on #9713
Do you know how to reproduce the problem, or which script I should run

[2021-12-29 23:45] masahi commented on #9713
It's not clear what script caused the failure. The error message seems to indicate that the issue happens during `make html` (tutorial scripts), and the only clue is
[code]

I thought the error was coming from `from_paddle.py`, but I couldn't reproduce it in a non-docker environment. I'll try running this script under our gpu container.

[2021-12-30 00:53] ganler opened #9813 "[Bug] Layout Error when Putting `argmin` after `conv2d`"
A simple graph (conv2d -> argmin) cannot pass compilation:

[code]

### Expected behaviour

Pass compilation as it can produce results in ONNXRuntime and PyTorch.

### Actual behaviour

<details><summary><b>Compilation failure: </b> <i>[click to expand]</i></summary>
<div>

[code]

</div>
</details>

### Environment

Linux 5.10 (Manjaro Latest Stable). Compiled using clang 13 w/ LLVM support.

###

[2021-12-30 00:54] ganler commented on #9813
Seems it is because `ReduceInferCorrectLayout` did not correctly implement the layouts as it says

[2021-12-30 07:14] jiangjiajun commented on #9713
Okay, I will test on my evironment

[2021-12-31 10:17] masahi commented on #9713
@jiangjiajun I was able to reproduce the error under the new gpu container.

Does paddle use PyTorch internally, or link against `libtorch`?

[2021-12-31 12:44] masahi commented on #9713
@jiangjiajun ok it turned out the error has nothing to do with paddle: After applying the mitigation for PyTorch + LLVM symbol conflict issue https://github.com/apache/tvm/issues/9362#issuecomment-955263494, there is no longer `free(): invalid pointer
` and backtrace from paddle. https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/185/pipeline/267

[2021-12-31 15:48] jiangjiajun commented on #9713
Paddle does not depend on PyTorch or LibTorch.

Did you solve the problem now, there's error in this link https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/185/pipeline/267/

[2022-01-01 04:00] crawlingcub opened #9818 "[Bug] Lower accuracy for a variant of MobileNet-V3 model"
Hi,

I generated a model from `MobileNet-V3` by mutating some layers. When run with TVM, the model produces lower accuracy than PyTorch. However, I expected the results to be exactly same.

To reproduce the problem, download the model and data from this [link](https://drive.google.com/drive/folders/1_AOA-9hA1I92vBUeQMbZ6F-2r69_aIrF?usp=sharing) and run the script below using:

`python runscript.py

[2022-01-01 06:08] sayakpaul opened #9819 "[Bug] TensorFlow Hub model compilation failing"
I am trying to compile the following model using [this guide](https://tvm.apache.org/docs/how_to/compile_models/from_keras.html):

[code]

Compilation code:

[code]

It leads to complaining Hub layers are not being supported by TVM. Is there a workaround?

### Expected behavior

The compilation would be complete without fail.

### Actual behavior

It leads to complaining Hub layers are not being s

[2022-01-02 07:21] masahi commented on #9819
We don't support TF2 models. Try the onnx path via https://github.com/onnx/tensorflow-onnx.

[2022-01-02 07:21] #9819 closed

[2022-01-02 07:33] sayakpaul commented on #9819
Convert to ONNX first and then compile?

[2022-01-02 07:37] masahi commented on #9819
Yes. TF -> ONNX -> TVM works well, while our TF direct support is not great.

[2022-01-03 17:32] #9813 closed

[2022-01-03 22:33] driazati commented on #9703
1. (a) What's the advantage of `deadsnakes` vs the default system repos for `python3.8` or a more complete Python packager like [miniconda](https://docs.conda.io/en/latest/miniconda.html)?
1. (b) I would suggest we stick to the lowest supported version of Python available, even if that means we have to upgrade more often. If we go to Python 3.8 it would be pretty easy for someone to accidentally b

[2022-01-03 23:05] driazati opened #9824 "[Bug] tests/python/contrib/test_rpc_server_device.py::test_check_auto_schedule_tuning is flaky"
This fails in CI with some frequency:
* https://github.com/apache/tvm/runs/4518525605?check_suite_focus=true
* https://github.com/apache/tvm/runs/4530093366?check_suite_focus=true
* https://github.com/apache/tvm/runs/4515385368?check_suite_focus=true
* https://github.com/apache/tvm/runs/4515385368?check_suite_focus=true
* https://github.com/apache/tvm/runs/4530093366?check_suite_focus=true

[2022-01-03 23:18] areusch opened #9825 "[Bug] Remove apt cache after apt-get"
Per https://github.com/apache/tvm/pull/9060#discussion_r746330230, [best practice](https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#run) for `apt-get install` in docker is to `rm -rf /var/lib/apt/lists/*` after installation. we should change all docker apt-get command to do this.

[2022-01-04 03:20] haozech opened #9827 "[Docs] Update InferBound Pass documentation"
Thanks for participating in the TVM community! We use https://discuss.tvm.ai for any general usage questions and discussions. The issue tracker is used for actionable items such as feature proposals discussion, roadmaps, and bug tracking.  You are always welcomed to post on the forum first :smile_cat:

Issues that are inactive for a period of time may get closed. We adopt this policy so that we wo

[2022-01-04 03:44] #9790 closed

[2022-01-04 08:52] masahi commented on #9818
I've got the following error when trying to run your script:

[code]

[2022-01-04 13:31] mshawcroft commented on #9703
python3.6 aside, the CI images are all based on ubuntu 18.04 LTS which goes out of maintenance in 3 months time.  I don't think the fact that python.org have dropped support on 3.6 is an immediate problem, the ubuntu images in use, which ship 3.6 remain in support short term.  The more urgent issue is perhaps that of moving from 18.04 to 20.04 before 18.04 falls out of support.  That will naturall

[2022-01-04 13:57] chuqingG opened #9830 "[CI Problem] fail to export a tuned library"
### Description

I want to tune a operator, export it to library `.so`, load it from library and benchmark it finally. My coded are as follows.

I defined the op here:
[code]
then I tuned the kernel
[code]
then built and exported it as the [return type description in the document](https://tvm.apache.org/docs/reference/api/python/auto_scheduler.html?highlight=apply_best#tvm.auto_scheduler.SearchTas

[2022-01-04 14:30] tqchen commented on #9703
Agree about dropping python 3.6 support. Thanks @leandron for bringing it up.

[2022-01-04 20:45] crawlingcub commented on #9818
Hi @masahi, sorry about that. I kind of missed the fact that the data is lazily loaded. This requires the imagenet validation dataset. If you already have it and you can place it in `./pt_models/data/val`, this should work.

Please let me know if that doesnt work. I will try an alternative way of sending the data set.

[2022-01-04 22:15] masahi commented on #9818
ok, I have an imagenet and I was able to reproduce your issue. I'll take a look.

[2022-01-05 06:21] YukeWang96 opened #9837 "Mismatch of document and code repo"
In the document, https://tvm.apache.org/docs/dev/tutorial/codebase_walkthrough.html.
it says there are directory `src/codegen/` with files such as `codegen_cuda.cc` and `codegen.cc` that will generate a `runtime::Module` object. However, in the current release there is no such directory, has it been renamed to `src/target/`?

[2022-01-05 09:16] masahi commented on #9837
Yes, that document is hopelessly outdated. PR welcome.

[2022-01-05 15:32] abdulazizm commented on #9772
There seems to be an issue in finding GTest cmake package. The temporary workaround that I followed is to edit config.cmake file https://github.com/apache/tvm/blob/92eeef6ddde9b113fd8263f1fc20f08c1c3fea0d/cmake/config.cmake#L359

ORIGINAL: `set(USE_GTEST AUTO)`
UPDATE: `set(USE_GTEST OFF)`

[2022-01-05 15:54] pseudomo opened #9843 "[Torch] Add support for aten::dot, aten::mv and prim::DictConstruct"
I am trying to optimize this model https://github.com/yucornetto/MGMatting
...
model.load_state_dict(...)
model = model.eval()

model = torch.jit.trace(model, (image, mask), strict=False).eval()
mod, params = relay.frontend.from_pytorch(model, [('image', image.shape), ('guidance', mask.shape)])
...

But
_relay.frontend.from_pytorch_  fails with the following error:
_The following operators are not

[2022-01-05 20:11] masahi commented on #9843
Can you share your complete test script?

[2022-01-05 23:56] YukeWang96 opened #9847 "[Docs] is there documentation for CUTLASS codegen usage or examples?"
is there documentation for CUTLASS codegen  usage or examples?

[2022-01-06 03:18] masahi commented on #9847
https://discuss.tvm.apache.org/t/rfc-byoc-nvidia-cutlass-integration/9147/31

It's ready to use but tuning time is unreasonably bad at the moment. I'm working on an improvement.

[2022-01-06 03:18] #9847 closed

[2022-01-06 06:52] masahi commented on #9818
Apparently, the output from TVM is all `nan`. I tried replacing `eps = -1.0` by 0.001, but it didn't help.

It's hard to tell what's going on. Can you start from Mobilenet v3, which should give accurate result with TVM, and gradually add your change until you see accuracy going off? It takes some time but surely it will find what change caused the issue.

[2022-01-06 10:11] leandron commented on #9825
Also it is implied by this change that all our `docker/install/*.sh` files should not assume there is an apt cache, and therefore, they should all `apt-get update` prior to installing any package.

[2022-01-06 10:24] leandron commented on #9703
I'm not very familiar with *conda distributions. I feel that `deadsnakes` is very quick into adding support for new versions of Python in a Ubuntu-friendly packaging, and also simple to install and to adapt into existing Docker images we have. That is why I suggested that.

I'm OK with Python 3.7 as minimum (that is the minimum for e.g. _TensorFlow_ from now). My suggestions was mostly trying to a

[2022-01-06 15:45] tqchen commented on #9703
how about we start with py3.7(as that is non-controversial) then have a discussion about requiring 3.8?

[2022-01-06 15:57] leandron commented on #9762
I'm trying again with the latest image from last night: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/191/pipeline/

It uses `tlcpackstaging/ci_cpu:20220105-225914-79cfb797e`

[2022-01-07 02:07] mshr-h opened #9862 "[Bug][CI] pip stores caches to `/false`"
All pip command in the docker build script shouldn't store any caches because `global.cache-dir` was set to `false` in [`Dockerfile.ci_cpu#L31`](https://github.com/apache/tvm/blob/main/docker/Dockerfile.ci_cpu#L31).
But they stores some of their caches to the [`/false`](https://contains.dev/tlcpackstaging/ci_cpu/20220106-225943-d3a83b5d0/a/files/false) directory.

Maybe a pip bug or misconfigurati

[2022-01-07 09:26] leandron commented on #9762
So, based on the results of https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/191/pipeline/ I'm updating `ci_cpu`. I'll proceed with `ci_arm` (which I forgot to include in the above job) right after.

[2022-01-07 10:18] pseudomo commented on #9843
@masahi

Assuming that TVM and all requirements for MGMatting are installed

git clone https://github.com/yucornetto/MGMatting.git
cd MGMatting/code-base
mkdir pretrain
gdown --id 1RO2JOvPz1YzeHoMCTojNwkceYZamFZ7Q -O pretrain/latest_model.pth

Create to_tvm.py with the following content:

import os
import torch
import utils
from   utils import CONFIG
import networks
from tvm import relay

current_

[2022-01-07 21:35] tkonolige opened #9868 "[Bug] Cannot run integration tests locally"
[code]

Imports like this are not valid and occur in many different test files. We could use relative imports to solve this problem, but then each test file cannot be run independently. I don't know what a good solution would be.

@areusch

Some docs that may help us: https://docs.pytest.org/en/6.2.x/goodpractices.html

[2022-01-08 01:52] #9713 closed

[2022-01-08 01:52] #9349 closed

[2022-01-08 01:53] masahi commented on #9349
Upgrade to PT v1.10 is now complete.

[2022-01-09 21:30] masahi commented on #9340
This was fixed in https://github.com/apache/tvm/pull/9858

[2022-01-09 21:30] #9340 closed

[2022-01-09 21:36] #7239 closed

[2022-01-09 21:38] masahi commented on #6836
Let's continue at https://github.com/apache/tvm/issues/7003

[2022-01-09 21:38] #6836 closed

[2022-01-09 21:43] masahi commented on #6629
This code is no longer used.

[2022-01-09 21:43] #6629 closed

[2022-01-09 21:44] masahi commented on #6476
It is not supported yet, let's continue at https://github.com/apache/tvm/issues/8412

[2022-01-09 21:44] #6476 closed

[2022-01-09 21:46] masahi commented on #6129
I don't think `aten::values` should appear if you use `torch.jit.trace()`. If this is a real issue, please add a reproducible script.

[2022-01-09 21:46] #6129 closed

[2022-01-09 21:47] masahi commented on #5810
TF TensorArray should be already supported, but there is no tree data structure in TVM. There is no actionable item, so closing.

[2022-01-09 21:47] #5810 closed

[2022-01-09 22:00] #4757 closed

[2022-01-09 22:01] masahi commented on #5313
We have cumsum op now.

[2022-01-09 22:01] #5313 closed

[2022-01-09 22:03] masahi commented on #4102
Please open a new issue if TF 2 support is desired. I'm not aware of anyone working actively on this now.

[2022-01-09 22:03] #4102 closed

[2022-01-09 22:04] masahi commented on #3670
I assume this is no longer active.

[2022-01-09 22:04] #3670 closed

[2022-01-09 22:05] #2368 closed

[2022-01-09 22:06] #1563 closed

[2022-01-09 22:06] masahi commented on #2250
This should be supported now.

[2022-01-09 22:06] #2250 closed

[2022-01-09 22:07] masahi commented on #3109
I don't think I'll ever work on this, moreover a new fusion implementation based pattern matching is being discussed. I'd like to close this.

[2022-01-09 22:07] #3109 closed

[2022-01-09 22:09] masahi commented on #5809
I assume this is no longer active.

[2022-01-09 22:09] #5809 closed

[2022-01-09 22:10] masahi commented on #4468
I assume this is no longer active.

[2022-01-09 22:10] #4468 closed

[2022-01-09 22:10] masahi commented on #4446
I assume this is no longer active.

[2022-01-09 22:10] #4446 closed

[2022-01-09 22:11] masahi commented on #4449
I assume this is no longer active.

[2022-01-09 22:11] #4449 closed

[2022-01-09 22:12] masahi commented on #4288
I don't know anyone actively working on core ml improvement. So there is no actionable item here.

[2022-01-09 22:12] #4288 closed

[2022-01-09 22:12] masahi commented on #4118
I assume this is no longer active.

[2022-01-09 22:12] #4118 closed

[2022-01-09 22:13] masahi commented on #4143
I assume this is no longer active.

[2022-01-09 22:13] #4143 closed

[2022-01-09 22:14] masahi commented on #6792
Can we close this?

[2022-01-09 22:14] #6791 closed

[2022-01-09 22:15] masahi commented on #6604
v0.8 was already released.

[2022-01-09 22:15] #6604 closed

[2022-01-09 22:20] masahi commented on #5840
I assume this is no longer active. Feel free to reopen.

[2022-01-09 22:20] #5840 closed

[2022-01-09 22:21] #7426 closed

[2022-01-09 22:22] masahi commented on #7421
I assume this is no longer active.

[2022-01-09 22:22] #7421 closed

[2022-01-09 22:23] #7198 closed

[2022-01-09 22:23] #7196 closed

[2022-01-09 22:39] masahi commented on #9057
This is stale.

[2022-01-09 22:39] #9057 closed

[2022-01-09 22:40] masahi commented on #8848
I assume this has been fixed, feel free to reopen otherwise.

[2022-01-09 22:40] #8848 closed

[2022-01-09 22:43] masahi commented on #7888
I'll close since there is no actionable iteam.

[2022-01-09 22:43] #7888 closed

[2022-01-09 22:45] masahi commented on #7979
I'm not aware of other outstanding issues now.

[2022-01-09 22:45] #7979 closed

[2022-01-09 22:47] masahi commented on #8413
I don't think this is the intended usage.

[2022-01-09 22:47] #8413 closed

[2022-01-09 22:48] masahi commented on #7650
The error means you need to use the VM compiler, not `relay.build()`.

[2022-01-09 22:48] #7650 closed

[2022-01-09 22:49] masahi commented on #7523
Let's continue on discuss if this is still relevant.

[2022-01-09 22:49] #7523 closed

[2022-01-09 22:51] #2946 closed

[2022-01-09 22:52] #4823 closed

[2022-01-09 22:53] masahi commented on #5060
Can you close this?

[2022-01-09 22:54] masahi commented on #7567
Can we close this? @areusch @mehrdadh

[2022-01-09 22:55] masahi commented on #9022
Can we close this?

[2022-01-09 22:56] masahi commented on #8977
What is the status of this issue?

[2022-01-10 00:51] masahi commented on #9830
Try removing `module.set_input("C", c_tvm)`. General usage questions should be posted to the forum.

[2022-01-10 00:51] #9830 closed

[2022-01-10 11:51] mkroening opened #9885 "[Bug] [ONNX] ConvTranspose with `group != 1`: Relay type checker throws"
### Expected behavior

No issue when running

[code]

with the ONNX model containing a `ConvTranspose` with `group != 1` (ONNX Runtime is working fine).

Model:

[code]

### Actual behavior

[code]

### Environment

Operating System: Ubuntu 20.04.3 LTS
TVM version: 4babd36481b7108bf50df5c3b256c95c0d9c3291

### Steps to reproduce

Create `model.onnx` with:

[code]

Thanks a lot for your help! :)

[2022-01-10 12:08] Mousius commented on #9868
These actually run for me locally, but relative imports break things as you suggest. The `importlib` imports strategy should be more consistent with normal Python but it's a bit of work to transition all our tests over that's open for anyone to pick up?

[2022-01-10 14:23] kaitingwang commented on #4468
No longer active.  Please close.  Thanks.

[2022-01-10 16:28] tmoreau89 commented on #2250
Technically it hasn't been merged in but it's worth pointing to the RFCs and PRs for posterity @masahi:

See [this RFC](https://discuss.tvm.apache.org/t/rfc-texture-memory-support/9467) to understand the broader contributions of the texture enablement work.

There are several PRs that need to land in order for the texture support to be fully enabled in Open Source TVM. Some of these PRs will need

[2022-01-10 19:21] masahi opened #9891 "[Tracking Issue] Texture codegen remaining tasks"
Re-posting from https://github.com/apache/tvm/issues/2250#issuecomment-1009059794 (thanks @tmoreau89)

See [this RFC](https://discuss.tvm.apache.org/t/rfc-texture-memory-support/9467) to understand the broader contributions of the texture enablement work.

There are several PRs that need to land in order for the texture support to be fully enabled in Open Source TVM. Some of these PRs will need to

[2022-01-10 19:21] masahi commented on #2250
Thanks @tmoreau89, I've opened a fresh tracking https://github.com/apache/tvm/issues/9891

[2022-01-10 21:28] masahi commented on #9885
cc @AndrewZhaoLuo do you have any insight?

[2022-01-10 21:30] masahi opened #9895 "[CI Problem] Flaky segfault `test_ethosn/test_addition.py::test_addition`"
Happening quite frequently

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9882/2/pipeline
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9892/3
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9892/1/pipeline
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9832/1/pipeline
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-98

[2022-01-10 23:53] masahi opened #9897 "[CI Problem] Flaky `test_ethosu/test_codegen.py`"
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9815/1/
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9882/3/

@manupa-arm @leandron @lhutton1 @Mousius

[2022-01-10 23:59] masahi commented on #9895
This one is also from `ethosn` but different kind of failure `std: :bad_alloc`

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9892/2/pipeline/268

[2022-01-11 09:13] u99127 commented on #9897
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9882/3/

               # process is done if there is no data and the result is valid
                if not data:  # EOF

E                   OSError: [Errno 28] No space left on device

We need to fix the CI node - it's run out of space.

[2022-01-11 09:18] u99127 commented on #9897
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9815/1/pipeline

This looks like a catastrophic failure for all the tests for a first look , I'll wait for others who know more about this to comment.

[2022-01-11 09:21] lhutton1 commented on #9897
This is #9815 which I believe is expected to be failing at the moment due to needing a CI update. cc @ekalda

[2022-01-11 09:26] u99127 commented on #9897
Thanks @lhutton1  - so not a flaky test issue I suppose .

[2022-01-11 10:23] ekalda commented on #9897
Yes @lhutton1 is right, this patch is waiting for upstream CI image to be updated so that it would have the U-65 driver :)

[2022-01-11 21:54] masahi commented on #9895
This could be due to https://github.com/apache/tvm/issues/9705

[2022-01-11 22:32] #9837 closed

[2022-01-11 23:59] #9843 closed

[2022-01-12 02:58] alnah005 opened #9908 "[Bug] [ONNX] QLinearMatMul works with binary output only"
I'm using [`from_onnx`](https://github.com/apache/tvm/blob/44fe7ef816565f43380c50e0b43fd626fad9d029/python/tvm/relay/frontend/onnx.py#L5063) to convert my model
[dense_h32_w32_c3_sNone_pNone_kNone.pt_quant.onnx.zip](https://github.com/apache/tvm/files/7851265/dense_h32_w32_c3_sNone_pNone_kNone.pt_quant.onnx.zip) into tvm relay. It looks like `b_scale` in [`QLinearMatMul`](https://github.com/apache

[2022-01-12 03:56] alnah005 commented on #9908
Code to reproduce:
[code]
Error:
[code]

[2022-01-12 08:18] Leo-arm commented on #9895
I looked through the latest patch, the update to a more recent version of the Ethos-N driver stack and I don't see anything that I would worry about. I also ran everything locally in image 80 and it is not failing for me, so for the moment I am thinking it is a disk space issue.

[2022-01-12 19:28] FZYUAN-1 commented on #9908
Hello,
@cconvey The current implementation of QLinearMatMul in TVM may not support scale vectors. The behaviour for now is parsing the input scale as scalar. See PR https://github.com/apache/tvm/pull/8952.

[2022-01-12 20:55] cconvey commented on #9908
Thanks @alnah005 @FZYUAN-1 for creating this Issue and pinging me!

As far as I can tell, the input model is valid ONNX, and you're bumping into a limitation in the current version of the ONNX->TVM importer code.

I'm afraid I don't have the bandwidth to (personally) fix this a the moment, but if someone else wants to create a PR I'd be very happy to review it.

[2022-01-12 21:11] FZYUAN-1 commented on #9908
Thanks for your reply!
I will fix this in next several days. @alnah005 @denise-k

[2022-01-13 10:07] #8646 closed

[2022-01-13 10:08] Mousius commented on #8646
All of this seems to have landed, huzzah! Thanks to @ashutosh-arm for coordinating this effort :smile_cat:

[2022-01-13 14:26] leandron commented on #9762
Updating ci_arm and ci_qemu - https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/ci-docker-staging/199/

[2022-01-13 15:04] Mousius commented on #8717
Hi @Alex-grovety,

Apologies for not coming back to this sooner, your first example for dense looks correct but unsure for convolution, I would assume it should default to `helper_change_dtypes_to_be_same` as well? The boolean logic is quite large, could you split it so it's easier to understand?

[2022-01-13 16:29] mkroening opened #9927 "[Bug] `ComputeVerifier`: Stack overflow on `Einsum`s with large inputs"
### Expected behavior

No issue when running

[code]

with the ONNX model containing an `Einsum` with large input dimensions (ONNX Runtime is working fine).

Model:

[code]

### Actual behavior

On my machine, starting with a size of `8301`, I get segmentation faults _sometimes_, increasingly frequently with higher values.

This back trace makes it look like a stack overflow (I used a value of `88

[2022-01-14 07:05] mshr-h commented on #9862
To disable the cache, we have to set the `no-cache-dir` option to falsy value. Not `global.cache-dir`.

Related links
- [Caching - pip documentation v21.3.1](https://pip.pypa.io/en/stable/topics/caching/#disabling-caching)
- [Configuration - pip documentation v21.3.1](https://pip.pypa.io/en/stable/topics/configuration/#boolean-options)
- [Allow "true" values for pip.conf negative options (no-cache

[2022-01-14 12:14] #9862 closed

[2022-01-14 23:04] AndrewZhaoLuo commented on #9885
@mkroening please take a look at https://github.com/apache/tvm/pull/9938.

TVM off that branch can run your command as expected!

[2022-01-15 00:39] ayeganov opened #9939 "[Bug] Internal Error With Target == "Metal""
I was following along the tutorial for converting the resnet 50 network using `tvmc` targeting metal, but hit a hard stop with the following message:

libc++abi: terminating with uncaught exception of type tvm::runtime::InternalError

### Expected behavior

A tar file to be generated for running the network

### Actual behavior

Process gets aborted

### Environment

OS: MacOS Monterey 12.1, Darwi

[2022-01-15 00:50] electriclilies commented on #9939
Is gesture_model.onnx the resnet50 referenced in the tutorial?

[2022-01-15 00:53] ayeganov commented on #9939
Oops, sorry - no. I'll update the description, this snuck from my tests in the command line.

[2022-01-15 02:47] ayeganov commented on #9939
When I changed the version of tvm to 0.8.0 and tried compiling my own model I got the following error:

[code]

[2022-01-15 04:30] masahi commented on #9939
This error means you need to use the VM compiler and runtime for this model. See https://github.com/apache/tvm/blob/main/gallery/how_to/deploy_models/deploy_object_detection_pytorch.py#L130-L139

[2022-01-15 04:30] #9939 closed

[2022-01-15 13:26] ayeganov commented on #9939
@masahi I actually need to consume the model in c++, so I'm assuming all of the above is possible with c++ API as well. Also, which error were you referring to - the original internal error or symbol shape one?

[2022-01-15 13:28] ayeganov commented on #9939
@masahi does VM compiler support metal?

[2022-01-15 20:56] #9885 closed

[2022-01-15 21:06] masahi commented on #9939
The error is ` Check failed: (pval != nullptr) is false: Cannot allocate memory symbolic tensor shape [?, 1280, 9, 16]`. When you do `relay.build`, we use something called graph codegen / runtime, where all shapes need to be statically known. The `?` indicates your model has a dynamic batch dimension somewhere, so you need to use a compiler and runtime that supports dynamic shape. That's what the

[2022-01-16 01:07] ayeganov commented on #9939
@masahi Thank you for the helpful answers. I am going to go and try compiling the model with the VM. But I think I still managed to to be vague enough with my questions to confuse myself with your answers :). Here is what I want to accomplish and currently think I understand:

1. I need to take an existing ONNX model, that performs well on CPU, but uses too many computation resources for me to dep

[2022-01-16 02:55] masahi commented on #9939
No, this is specific to the model used in that tutorial (MaskRCNN) and not about VM per se.

You still need the VM runtime to run the model in your C++ app. The linked example https://github.com/apache/tvm/blob/e7024fb39ea27494fa5618102dae42e7e5551986/src/contrib/torch/pt_call_tvm/tvm_class.cc#L143 shows how to use VM runtime C++ API.

It doesn't matter, after a model is imported via PyTorch or ON

[2022-01-16 10:08] jinfagang opened #9944 "[Bug] M1 Pro macOS unable to build"
[code]

latest commit in my pulled version: 6eb4ed813ebcdcd9558f0906a1870db8302ff1e0

[2022-01-17 15:13] mkroening commented on #9885
Thanks a lot for the fix! :)

[2022-01-17 20:29] ayeganov commented on #9939
@masahi thank you so much for your answers and time. If you are on patreon or some open source donations platform, drop the link here so I can donate toward your projects. That said, after looking into this for a little while I was able to achieve what I need to do in Python, as my testing ground. Here is roughly what I ended up doing:

[code]

Since generally VMs come with a performance hit I lik

[2022-01-17 21:24] junrushao1994 opened #9952 "[CI Problem] Flaky Test: `tests/python/unittest/test_meta_schedule_schedule_rule_auto_inline.py::test_inline_into_cache`"
### Branch/PR Failing

Looks like [this PR](https://github.com/apache/tvm/pull/9943) introduced a flaky test. Likely it's due to some concurrent merge.

### Jenkins Link

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/2417/pipeline/

### Flakiness

Yes.

CC: @MasterJH5574

[2022-01-17 21:40] #9714 closed

[2022-01-17 22:00] masahi commented on #9939
I'm not familiar with metal / objc. Maybe nobody has done C++ deployment with metal before.

I suggest opening a thread at https://discuss.tvm.apache.org/ for more visibility. And please send a PR if you find a solution.

[2022-01-17 23:55] yzh119 opened #9953 "[Bug] New TIR syntax printer failed to handle dynamic shape."
The current TIR syntax printer (introduced in #9680 ) fails when there are dynamic shapes in the script:

[code]

### Expected behavior
The output script should be the same as input.

### Actual behavior

The `M, N, K` are used before declaration.
[code]

The same case if I pass tensor shape as parameters:
[code]

[2022-01-18 02:25] junrushao1994 commented on #9953
@yzh119 The bug is introduced in the printer because it didn't check whether the shape consists only of constant values.

CC @shingjan It's a printer bug we should fix.

[2022-01-18 06:52] junrushao1994 commented on #9952
CC @wrongtest @Hzfengsy

It looks like some randomness was introduced recently in `GetBlockReadWriteRegion`, possibly in [this commit](https://github.com/apache/tvm/commit/6f6fc68f5a028a92607b2907b9e4144543686639), but this particular robustness issue wasn't revealed until @MasterJH5574's PR:

![image](https://user-images.githubusercontent.com/22515877/149885366-a3b1d582-dd92-4984-9f59-82978636d62

[2022-01-18 07:03] Cnly opened #9955 "[Bug] `'IntImm' object is not iterable` in hybrid.parser.visit_Subscript"
### Expected behavior

`topi.scatter` is implemented with `@hybrid.script` and its body has something that looks like

[code]

which should not be a problem when a module using scatter is built.

### Actual behavior

However, when `topi.scatter` gets interpreted by `te/hybrid/parser.py`, there'll be an error `'IntImm' object is not iterable` from this line

https://github.com/apache/tvm/blob/21129

[2022-01-18 08:27] masahi commented on #9939
This presentation may be of interest to you https://www.youtube.com/watch?v=9fDR9upXZTI

[2022-01-18 10:05] masahi commented on #9955
Doesn't this mean that the rhs of the slice assignment `arr` is an array but the lhs is a scalar?

[2022-01-18 10:36] Cnly commented on #9955
@masahi Sorry I don't think I follow you... but I tried adding `print` statements in `scatter()` and `visit_Subscript()` to see the arguments and here's what I get:

[code]

Do you think this makes things clearer?

[2022-01-18 12:56] wrongtest commented on #9952
cc @junrushao1994 @Hzfengsy

The fix trial is here https://github.com/apache/tvm/pull/9958

I am sorry for introducing this issue. I believe it is introduced by https://github.com/apache/tvm/pull/9372, but detected until subsequent change https://github.com/apache/tvm/pull/9880 which touch more testcases.

Developers have already pointed out that with equations like `xx + rx >= 1`, the `SolveInequ

[2022-01-18 13:22] masahi commented on #9955
Yeah sorry I was confused with something. I don't know what `args = 0` corresponds to in your scatter op workload.

[2022-01-18 13:27] Cnly commented on #9955
I think it's from this line

https://github.com/apache/tvm/blob/31de5bc40f22ba761361464921b9b73af51bb214/python/tvm/topi/scatter.py#L36

If I changed the `0` to `99` then it prints `args=99` before the exception.

[2022-01-18 14:14] Leo-arm commented on #9895
@masahi I think we can close this one as it does not seem to occur any more.

[2022-01-18 14:22] masahi commented on #9955
I see, so does this mean the parser expects subscript index (named `args`) to be an array? It's a bit surprising that we didn't hit this error before, since I think scalar indexing like `shape[0]` is used all over the places.

[2022-01-18 14:37] masahi commented on #9895
Yeah agreed, thanks @Leo-arm

[2022-01-18 14:37] #9895 closed

[2022-01-18 15:07] junrushao1994 commented on #9952
Thanks for acting quickly on this issue @MasterJH5574 @wrongtest! I tried myself last night but failed to find the root reason. Thank you for finding this out!

[2022-01-18 15:22] Cnly commented on #9955
I guess this only affects operators implemented with `@hybrid.script`? A quick grep shows not much usage in tvm. To see if I'm using the scatter operator wrong and to confirm my guess, I tried with `relay.unique` and saw the same exception. Reproduction snippet:

[code]

The line pointed to by traceback:

https://github.com/apache/tvm/blob/31de5bc40f22ba761361464921b9b73af51bb214/python/tvm/topi/u

[2022-01-18 16:13] lhutton1 opened #9961 "[Tracking Issue] Continued Arm(R) Ethos(TM)-U NPU operator support"
This issue is to track progress for Arm(R) Ethos(TM)-U NPU operator support. It follows on from #9410 which contains previously submitted and merged PR's for operator support.

- [x] FULLY CONNECTED (#10345)
- [ ] HARD SWISH
- [x] SLICE (completed in #9410)
- [x] RESIZE BILINEAR (#9841)
- [x] PACK (#9960)
- [x] UNPACK (#9960)
- [x] LRELU (int8 variant) (#10127)
- [x] QUANTIZE (requantize) (#9910)

[2022-01-18 19:59] masahi commented on #9955
hmm interesting... I believe `unique` op should be well tested so I don't know why it fails for that example. Can you send a PR with your proposed solution, along with test cases for `scatter` and `unique`?

[2022-01-18 20:39] tkonolige opened #9967 "[Bug] test_zephyr_aot::test_tflite failure"
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9873/3/pipeline/

`tests/micro/zephyr/test_zephyr_aot.py::test_tflite[qemu_x86]` is failing with
[code]

[2022-01-19 01:20] driazati commented on #123
It has been a while since this PR was updated,  please leave a review or address the outstanding comments

[2022-01-19 01:21] driazati commented on #123
It has been a while since this PR was updated,  please leave a review or address the outstanding comments

[2022-01-19 01:21] driazati commented on #123
It has been a while since this PR was updated,  please leave a review or address the outstanding comments

[2022-01-19 01:22] driazati commented on #123
It has been a while since this PR was updated, @someone please leave a review or address the outstanding comments

[2022-01-19 01:22] driazati commented on #123
It has been a while since this PR was updated, @someone please leave a review or address the outstanding comments

[2022-01-19 01:22] driazati commented on #123
It has been a while since this PR was updated, @someone please leave a review or address the outstanding comments

[2022-01-19 01:23] driazati commented on #123
It has been a while since this PR was updated, @someone please leave a review or address the outstanding comments

[2022-01-19 05:52] #9511 closed

[2022-01-19 08:00] rebel-shshin commented on #8596
@huajsj Thanks for the nice job.

[2022-01-19 08:14] masahi opened #9976 "[Flaky] Possible flaky tests from Paddle"
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9954/7/pipeline/ `tests/python/frontend/paddlepaddle/test_forward.py::test_forward_math_api tests/scripts/setup-pytest-env.sh: line 35: 2565288 Segmentation fault ` (Saw it multiple times)

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9954/9/pipeline/ `FAILED tests/python/frontend/paddlepaddle/test_forward.py::test_fo

[2022-01-19 10:02] Jillian2017 opened #9977 "[CI Problem] run one code 2 or more times at once, speeds drop a lot"
Hi,
I set 'TVM_NUM_THREADS' more than one, and process a video with tvm. While concurrent processing different videos with the same code, the speed will slow down a lot.
I use htop find that, if only one program running , 4 cores are occupied. While increasing the processing number to 3, the cores are not occupied to 12 as expected, maybe 6 cores are used, even though there are many spare cores to

[2022-01-19 12:09] jiangjiajun commented on #9976
This is really flaky...， Is this reproducible?

[2022-01-19 17:37] #9952 closed

[2022-01-19 19:49] driazati opened #9983 "[CI] Ping Reviewers Opt-In"
This is the list of people whose PRs are opted-in to the features in #9973 (the code in that PR reads directly from this issue). Once that bot has been validated it'll be opened up to everyone:

Opted in users:
cc @Mousius @areusch @driazati @gigiblender

[2022-01-19 19:58] driazati commented on #123
It has been a while since this PR was updated, @someone please leave a review or address the outstanding comments

[2022-01-19 20:58] masahi commented on #9976
I don't know, have you tried running these tests many times on your end? It could be a CI env issue.

[2022-01-19 21:54] #9953 closed

[2022-01-19 23:25] masahi commented on #9977
Please post your question to the discuss forum.

[2022-01-19 23:25] #9977 closed

[2022-01-20 06:25] heliqi commented on #9976
After repeated attempts, I reproduce one of the problems.  I'm solving it...

[2022-01-20 09:27] heliqi commented on #9976
[Paddle test_forwar](https://github.com/apache/tvm/blob/14d0187ce9cefc41e33aa30b55c08a75a6711732/tests/python/frontend/paddlepaddle/test_forward.py#L92) use 'tvm.testing.enabled_targets()' and DEFAULT_TEST_TARGETS contain the 'nvptx'.

when target == 'nvptx', the 'acos' of relay op run error.  There are many op's that are no longer supported by 'nvptx'  targe?
I see that some of the 'nvptx' target

[2022-01-20 09:36] masahi commented on #9976
Yeah, nvptx causes some issues (not supporting RTX 3000 series in recent LLVM etc). I think it's totally fine to customize what targets to test on per frontend, and per individual test.

But this is not the cause of segfault and other flaky-test in question, right?

[2022-01-20 10:04] heliqi commented on #9976
After I filtered the 'nvptx'  target, I repeated the code (tests/python/frontend/paddlepaddle/test_forward.py::test_forward_math_api) several times without a Segfault.
![image](https://user-images.githubusercontent.com/34152981/150315163-72e02e1d-0359-40f8-885d-232ae65975d3.png)

The previous error was also not Segfault and I didn't reproduce the CI mistake... :sweat_smile:

[2022-01-20 22:29] electriclilies commented on #9976
I noticed that some std::moves in uses of the WithFields COW constuctors were causing potential use-after-frees. I haven't been following this thread that closely, but I figured that this might be the cause of some of the flaky segfaults we've been seeing recently. In #10009 I remove these std::moves-- might be worth seeing if it improves anything.

[2022-01-21 04:50] A1245967 opened #10012 "[Bug] limited function numbers on crt runtime"
I found the variable `num_funcs` is stored at a _char_ but `tvm_function_index_t` uses _uint16_t_ in the function [TVMFuncRegistry_GetByIndex](https://github.com/apache/tvm/blob/main/src/runtime/crt/common/func_registry.c#L82).
It will have an error `invalid function index` when the number of functions is more than 256.

[code]

[2022-01-21 17:15] mehrdadh opened #10019 "[CI Problem] [Flaky Test] test_qlinear_average_pool[cuda]"
### Flakiness
Test test_qlinear_average_pool[cuda]

happened multiple times:
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9993/1/pipeline/
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9982/3/pipeline/

cc @sfvaroglu @mbrookhart

[2022-01-21 17:34] areusch opened #10020 "[CI Problem] Flaky test (Ethos-U FVP demo)"
### Branch/PR Failing

https://github.com/apache/tvm/pull/10017

### Jenkins Link

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-10017/1/pipeline

### Flakiness

Yes, but I don't have links atm.

cc @mousius @grant-arm

[2022-01-21 18:04] Mousius commented on #10020
I think this is another stale CI workspace issue, as @grant-arm has been updating the demo to use CMSIS-NN for some ops in https://github.com/apache/tvm/pull/9979.

Because TVM doesn't use a clean workspace in CI, it must be keeping the demo `build` folder with the CMSIS-NN files generated into it from that PR and thus some machines have them - we'll put a clean step into the demo as a workaround.

[2022-01-22 04:05] masahi commented on #10019
I've hit this too https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9986/11/pipeline

[2022-01-22 05:38] Hzfengsy commented on #9955
What's your Python version? Hybrid Script is not supported by Python3.9+ (only from my experience)

[2022-01-22 05:40] Hzfengsy commented on #9944
I build it on my M1Pro without any problem.

`BuildAMDGPU` and `BuildNVPTX ` are in your log. Is that the problem?

[2022-01-22 05:58] jinfagang commented on #9944
@Hzfengsy  Hi, what's your config.cmake? I think I turned them off, but only enabled llvm ON. that's all, and I didn't changed any settings by default. it seems related with `ld: symbol(s) not found for architecture x86_64` which M1 Pro doesn't have any x86 arch. It was arm.

[2022-01-22 06:05] Hzfengsy commented on #9944
I only enabled LLVM ON. Can you check where did you install LLVM (from homebrew or the official website or transferred from old x86 mac)? Also please check if the LLVM is ARM version. I installed my LLVM from homebrew. If the problem still exists, please try to reinstall LLVM

[2022-01-22 06:23] Cnly commented on #9955
Oops, it's 3.9.9. Switching back to 3.6.9 did seem to fix the problem. Why is that?

[2022-01-22 06:33] Hzfengsy commented on #9955
Hybrid Script is based on Python AST which may change between different Python versions.

[2022-01-22 07:21] jinfagang commented on #9944
@Hzfengsy I also install llvm via `brew install llvm`. Tried reinstall it, but same problem still exists.

[2022-01-22 09:44] masahi opened #10029 "[CI Problem] Broken build `arm_nnfunctions.h: No such file or directory`"
Seems all recent jobs are stuck with this problem. Not clear why it happened.

https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9986/12/pipeline
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-10027/1/pipeline
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-10028/3/pipeline

[2022-01-22 19:20] masahi commented on #10029
The build is passing now, apparently it was a temporary issue. https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9986/13/pipeline

[2022-01-22 20:50] junrushao1994 commented on #10019
It happens very frequently. I'm going to temporarily disable this test to unblock CI jobs, so no need to hurry. Feel free to get this test fixed any time

[2022-01-22 22:03] junrushao1994 commented on #10029
Still seeing occurrence of this failure: https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-10030/1/pipeline. Probably flaky

[2022-01-22 22:08] junrushao1994 commented on #10020
Looks like it's a duplicated issue as #10029

[2022-01-22 23:10] masahi commented on #10029
Let's close this one since this is a dup of #10020 and they have more context.

[2022-01-22 23:10] #10029 closed

[2022-01-23 00:02] junrushao1994 commented on #10029
Sounds good!

[2022-01-23 03:16] Cnly commented on #9955
I see, thanks! Any suggestion on what to do about this issue? Should we close it? Or rename it?

[2022-01-23 03:34] masahi commented on #9955
There is already an issue for 3.9 https://github.com/apache/tvm/issues/8577, we can close this.

[2022-01-23 03:34] #9955 closed

[2022-01-24 01:34] areusch commented on #9827
Adding link from discuss: https://tvm.apache.org/docs/arch/inferbound.html

[2022-01-24 01:44] areusch opened #10034 "[AOT] Explicitly support heterogeneous execution with AOT Executor"
Currently, `AOTExecutor` only supports heterogeneous execution by leveraging `tir.call_extern` via BYOC. In order to properly model a heterogeneous environment (in particular, to model multiple disjoint memories and leverage #8404), `AOTExecutor` needs to formally support invoking the [Device API](https://github.com/apache/tvm/blob/main/include/tvm/runtime/device_api.h). It's currently not possibl

[2022-01-24 02:02] areusch opened #10035 "[microTVM] Document end-to-end workflow with Project API"
#9654 [documented](https://tvm.apache.org/docs/arch/microtvm_project_api.html) the Project API server plus utilities that could be used to implement instances of an API server. This issue tracks a related task: writing up the end-to-end microTVM flow, from model import to deployment to auto-tuning using a Project API server. Ideally this documentation should list examples using both `tvmc` and Pyt

[2022-01-24 03:47] areusch opened #10037 "[Tracking Issue] Improve AutoTVM debug tooling"
AutoTVM debugging is fairly difficult today (it generally involves modifying core AutoTVM code), but adding in the complexities of microTVM makes it _much_ more difficult. AutoTVM errors with traditional backends tend to involve two classes of errors:
1. Every program fails -> indicates an underlying problem with the device or measurement setup
2. A few programs fail -> likely these were invalid p

[2022-01-24 03:54] areusch opened #10038 "[microTVM] Remove codegen parameters from Target"
We have been taking on technical debt by injecting codegen- and whole-compiler parameters into the Target string. This causes the undesirable side effect that when these parameters are changed, tuning logs are considered invalid, even though these parameters currently have no effect on AutoTVM results. #9352 started down this path, but we need to clean up the API before we can make a release, and

[2022-01-24 05:05] areusch opened #10039 "[C source target] Remove reliance on `tir.disable_vectorize`"
Right now when using microTVM with the C codegen we must always pass:

[code]

There is no reason we shouldn't be able to auto-detect the C backend and not run vectorization in this case.

[2022-01-24 05:17] areusch opened #10040 "[Tracking Issue] Capturing dependent libraries of code-generated TIR"
See pre-RFC: https://discuss.tvm.apache.org/t/tvm-capturing-dependent-libraries-of-code-generated-tir-initially-for-use-in-model-library-format/11080

cc @Hzfengsy @junrushao

[2022-01-24 06:02] areusch opened #10041 "[Tracking Issue] Export pre-codegen TIR in Model Library Format"
This issue tracks pre-RFC discussion: https://discuss.tvm.apache.org/t/why-c-unpacked-api-not-work-anymore/11845/11

cc @Hzfengsy @junrushao

[2022-01-24 06:03] areusch commented on #10041
cc @SebastianBoblestETAS

[2022-01-24 09:08] Pony23333 opened #10042 "[Bug] Dynamic Varsize error when tune detection model with autotvm"
Hi all,

I am a beginner of TVM and I found it's suppressingly fast when deploy on mobile devices compared with other frameworks like ncnn.

However, when I tried to tune a detection model ([YOLOX](https://github.com/Megvii-BaseDetection/YOLOX/releases/download/0.1.1rc0/yolox_nano.onnx)) with autotvm on PC's CPU, I got a type error from converting Virtual axis. The demo I followed is from https://

[2022-01-24 09:53] Mousius commented on #10039
Could we ask the `Target` to hold the overrides so we don't have to introduce lots of `if (target == 'c')` logic?

[2022-01-24 10:05] manupa-arm commented on #9022
P2 : #9950
Thanks @SebastianBoblestETAS

[2022-01-24 15:29] jacobbohlin opened #10044 "[CI Problem] test_ci.py::test_cc_reviewers dependent on user git config"
Hi everyone,

First of all let me clarify that this is not an upstream CI issue.

The problem is that the test relies on the user's git config and if the user doesn't have a remote named _origin_ or the user's _origin_ doesn't have the correct format the test will fail.

I noticed that `test_ci.py::test_skip_ci` sets up a fresh git in a temp directory, I think it would be a good if this test could

[2022-01-24 19:12] AndrewZhaoLuo commented on #9944
Which shell are you using? I use iTerm2 and it seems to source from ~/.bash_profile not bashrc

[2022-01-24 19:28] AndrewZhaoLuo opened #10046 "[Bug] Importing quantized caffenet model fails"
See https://discuss.tvm.apache.org/t/onnx-relay-type-checker-error-when-calling-relay-frontend-from-onnx-on-a-quantized-model/11941

![image](https://user-images.githubusercontent.com/13855451/150850721-91aec8ba-c853-4078-ab0f-d1db4066304e.png)

### Expected behavior

Model imports as expected

### Actual behavior

Error is thrown (see picture)

### Environment

I can reproduce locally on m1 mac,

[2022-01-24 21:42] achalhoubmeaa opened #10050 "'NotImplementedError: The following operators are not implemented:' errors when converting PyTorch Object Detection models"
I am trying to work with the SSD300_VGG16 object detection model and convert it to a serialized and optimized format to eventually run on an embedded system. The script that I use to create and save the traced model from TorchScript is the following:

[code]

After that I would like to convert the saved model to another format that I am working with, but I am getting the error below:

File "/home/

[2022-01-24 22:46] masahi commented on #10050
`aten::copy_` cannot convert to relay since this is an in-place op. So the model needs to be modified to remove mutation on PyTorch side.

[2022-01-24 22:46] #10050 closed

[2022-01-24 23:45] areusch opened #10054 "[microTVM] Support `tvmc tune` with micro targets"
`tvmc` commands are currently supported for all core micro workflows except AutoTVM. this issue tracks work to bring support for `tvmc tune` to microTVM.

cc @alanmacd @gromero @mehrdadh

[2022-01-25 03:18] jinfagang commented on #9944
@AndrewZhaoLuo I am using zsh. I already set these path in zshrc.

[2022-01-25 03:22] jinfagang commented on #9944
I removed all build directly and rebuild whole project same error again. Can anybody share the step build on M1 Pro ?

[2022-01-25 04:12] zhiqwang commented on #9944
Just FYI,

Set `cmake .. -G Ninja -DCMAKE_OSX_ARCHITECTURES=arm64` when building, and use Python 3.8, I guess tvm can be built successfully.

As an example, I run yolov5 https://github.com/zhiqwang/yolov5-rt-stack/blob/main/notebooks/export-relay-inference-tvm.ipynb

[2022-01-25 17:11] achalhoubmeaa commented on #10050
Thank you for your response. Would you mind briefly explaining what an in-place op is? Or maybe guide me to some documentation so I can better understand?

[2022-01-25 19:55] masahi commented on #10050
so `aten::copy_` apparently comes from these lines

https://github.com/pytorch/vision/blob/d367a01a18a3ae6bee13d8be3b63fd6a581ea46f/torchvision/models/detection/anchor_utils.py#L267-L268

This is an example of in-place op (values are mutated in-place). We need to replace this with "pure" operation for conversion to TVM.

[2022-01-25 20:08] psigillito commented on #9187
Hi @leandron I am interested in getting to know the source code better. Is the list of operators up to date? I might try implementing the GREATER operator using #9165 as a template. Thanks!

[2022-01-25 20:25] masahi commented on #10050
FYI I sent a PR to torchvision to remove the in-place op in question https://github.com/pytorch/vision/pull/5279#issuecomment-1021573157

[2022-01-25 21:24] achalhoubmeaa commented on #10050
Thank you for explaining and sending a PR.

What about the **['aten::clamp_min']** error as well? How can I know what section/part of the network caused this error?

[2022-01-25 21:27] areusch commented on #9825
maybe we should just write an apt wrapper that handles this and only apt-get update one per CI image build?

[2022-01-25 21:32] masahi commented on #10050
I've just added `clamp_min` support in https://github.com/apache/tvm/compare/main...masahi:torch-clamp-min?expand=1

With the two patches, the script https://github.com/masahi/torchscript-to-tvm/blob/master/ssd-vgg/test.py should work. But currently the outputs from TVM are very strange, I'll take a look.

[2022-01-25 22:03] achalhoubmeaa commented on #10050
I will try to convert the model again with these two patches and let you know if I have any other issues. Thank you!

[2022-01-25 22:30] AndrewZhaoLuo opened #10064 "Indexing ops should support unsigned integer types"
Right now stuff like gather, take, gather_nd, scatter are bound to signed integers. This should be pretty simple to add, we just need to change the type relations to support, most of the topi should work out of box.

Portions of https://github.com/apache/tvm/pull/10053 apply insight into how to do this.

List of ops:
- [x] gather (@AndrewZhaoLuo)
- [x] gather_nd (@AndrewZhaoLuo)
- [x] take (@Andre

[2022-01-26 01:55] areusch opened #10070 "[microTVM] Track errors on device runtime that cause resets"
A common class of errors on embedded devices are those which cause unrecoverable interrupts (e.g. HardFault and cousins on Cortex-M). Host-driven usage of microTVM are particularly prone to these (e.g. allocating too much memory, badly implemented schedules, incorrect arguments, etc). We should add some functionality to microTVM to catch exceptions.

@mehrdadh started on this with https://github.c

[2022-01-26 09:38] FDInSky opened #10073 "[Bug] When I use PAA onnx model in mmdet, I got this error, Thanks!"
Check failed: fshape_func.count(op) > 0 (0 vs. 0) : Internal error, cannot find ShapeFunc for scatter_nd

[2022-01-26 10:11] Pony23333 opened #10074 "[Bug] Run demo of autotvm tune on arm failed"
### Expected behavior

I am tring to tune a model on arm CPU with RPC, but failed with the [demo](https://tvm.apache.org/docs//how_to/tune_with_autotvm/tune_relay_arm.html#sphx-glr-how-to-tune-with-autotvm-tune-relay-arm-py) which seems to be bug caused by version conflict.

### Actual behavior

autotvm.task.extract_from_program throw an AttributeError: 'ConfigSpace' object has no attribute 'reduc

[2022-01-26 14:06] achalhoubmeaa commented on #10050
@masahi is there any guidance you could give me on how you were able to identify what part of the model code were responsible for producing those errors please? Especially the `aten::copy_` error. I understand them once you explained them but I couldn't have been able to identify them myself, and it would be useful to me to have some knowledge of how to debug for that specific type of error since

[2022-01-26 15:17] cbalint13 commented on #8473
@junrushao1994 ,

In looking tracking for auto-tensorization ability of TVM (to explore search for accelerators designs & custom ISA) permit me to ask:

* Was ```Auto Tensorization``` removed form this list (was at section [M4b] if I recall), what was/is the plan with ?
* Wanted to also ask if its design will/have something in common with principles of https://arxiv.org/abs/2101.08458 ?

Thank You

[2022-01-26 17:10] areusch opened #10076 "[Tracking Issue] Support RPC-based execution with AoT Executor"
Right now it's not possible to use the AoT executor on micro over the RPC channel. This issue tracks support for that.

There are a couple pieces here:
1. Exporting the shape and dtype of parameters so that it can be consumed either from metadata.json or by the runtime.
2. Writing PackedFunc wrappers around the AoT Executor, similar to #9697 (but for C runtime).

[2022-01-26 18:55] junrushao1994 commented on #8473
Hey @cbalint13 thanks for asking! Absolutely!

The only reason is that I'm trying to organize the roadmap. Auto tensorization is a huge item and we want to have a separate tracking issue for it. As you already see, we have been upstreaming auto tensorization-related PRs, including #9871 #10066. [My branch](https://github.com/junrushao1994/tvm/tree/meta-schedule) also contains auto tensorization-re

[2022-01-26 19:27] cbalint13 commented on #8473
@junrushao1994

First, thanks a lot for your time !

- I am very happy even just to witness what is going on recently in TVM (on mind blowing pace).

* I see now, thanks for clarification, noticed the recent "blockize - tensorize" PR (quite a large piece, still diving on it).

 * Was familiar that code-base for [UNIT](https://github.com/were/unit), it is good to know that such feature will make it

[2022-01-26 22:02] #9908 closed

[2022-01-26 23:02] masahi commented on #10050
Yeah that's a good question. The way I did it was, first put `print(graph`) after https://github.com/apache/tvm/blob/095b63935efdd42effc0298998d67838086b7b26/python/tvm/relay/frontend/pytorch.py#L3913 and find `aten::copy_`. The dump shows for each `aten::` op its corresponding location in the python source code. That's how I found that code in `anchor_utils.py`.

[2022-01-27 02:10] junrushao1994 commented on #8473
Thank you @cbalint13 for your kind response! We are super excited to hear about your work and more than happy to assist/collaborate on TensorIR/MetaSchedule!

[2022-01-27 02:30] Pony23333 commented on #10042
There is a workaround for this problem: use torchscript as frontend instead of onnx

[2022-01-27 07:45] Pony23333 commented on #10074
This only happen for target = tvm.target.Target("llvm -device=arm_cpu -mtriple=aarch64-linux-gnu"). The error is gone if target = 'llvm'. So how is this problem happen and how can I tune for arm cpu.

[2022-01-27 07:46] Pony23333 commented on #10074
Remove '-device=arm_cpu' and this problem can be avoid. Is this a bug?

[2022-01-27 09:16] #10044 closed

[2022-01-27 10:45] FZYUAN-1 commented on #10064
Hello @AndrewZhaoLuo,

Can I take the last 5 ops (scatter, scatter_add, scatter_nd, unravel_index, adv_index)?

[2022-01-27 14:38] achalhoubmeaa commented on #10050
Thank you so much! This seems like a really helpful tool for debugging such issues. I appreciate your help :)

[2022-01-27 17:17] AndrewZhaoLuo commented on #10064
Yeah sure, thanks for the help B)

[2022-01-28 00:44] alnah005 opened #10088 "[Bug] [ONNX] quantized grouped convolution shape mismatch"
I'm using [`from_onnx`](https://github.com/apache/tvm/blob/44fe7ef816565f43380c50e0b43fd626fad9d029/python/tvm/relay/frontend/onnx.py#L5063) to run my model
[dw_conv2d_h6_w10_c8_cm5_k3_s1_l1_fp32_onnxqt.pt_quant.onnx.zip](https://github.com/apache/tvm/files/7954735/dw_conv2d_h6_w10_c8_cm5_k3_s1_l1_fp32_onnxqt.pt_quant.onnx.zip)
 into tvm relay. The thing that's not trivial in the model is that `gr

[2022-01-28 23:16] driazati opened #10103 "[Bug] tests/python/contrib/test_popen_pool.py::test_popen_pool_executor_async is flaky"
This test (from #8851) seems flaky by design, does it really matter which task finishes first in absolute time?

example failure on main:
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/2391/pipeline

older PR failures:
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9802/11/
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-9909/5/

cc @tqchen @vinx13

[2022-01-29 00:20] shingjan commented on #10103
the `timeout` parameter could be the source of flakiness.

[2022-01-29 00:23] vinx13 commented on #10103
Which one finishing first doesn't really matter, it is merely to show that they are concurrent. I think it is fine to remove this test case. @shingjan would you like to send a PR?

[2022-01-30 00:52] #10064 closed

[2022-01-30 15:11] wrongtest opened #10107 "[Bug] test_tir_schedule_sampling.py:test_sample_compute_location can not pass on a M1 mac system"
The result sampling dict is always {9: 12, 17: 11, 8: 16, 2: 14, -1: 10, 6: 15, 5: 11, -2: 11}

    def test_sample_compute_location():
        n = 100
        sch = tir.Schedule(tiled_conv2d_with_padding, seed=42, debug_mask="all")
        pad_input = sch.get_block("PadInput")
        decision_dict = dict()
        for _ in range(n):
            _ = sch.sample_compute_location(pad_input)  # pylin

[2022-01-30 20:20] altanh commented on #6803
closed by #9542

[2022-01-30 20:20] #6803 closed

[2022-01-30 20:52] lazycal opened #10109 "[Bug] AlterOpLayout failed on Conv->Transpose->Conv"
![image](https://user-images.githubusercontent.com/7333325/151716698-56c812df-702c-496c-a951-96c8ad841cfc.png)

[code]

The above model first does a conv, then a transpose that swap H and W dimension, and finally conv again. It fails with error
[code]

The root cause is similar to https://discuss.tvm.apache.org/t/pytorch-layout-cannot-convert-f-linear-x-f-linear-y-z/10866. In short, during alterop

[2022-01-31 09:44] junrushao1994 commented on #10107
CC: @MasterJH5574

[2022-01-31 09:49] MasterJH5574 commented on #10107
😨 I suggest setting a larger eps slightly. Looks like a same randomness seed behaves differently on different platforms...

[2022-01-31 13:51] ZJUGuoShuai opened #10113 "[Bug]"
### Expected behavior

Making documentation according to [docs/README.md](https://github.com/apache/tvm/tree/main/docs#native):

[code]

should be run without any error.

### Actual behavior

[code]

After searching, I found out that `find_mayavi_figures` is an outdated option of [sphinx-gallery](https://github.com/sphinx-gallery/sphinx-gallery) due to a [commit](https://github.com/sphinx-gallery/

[2022-01-31 16:08] junrushao1994 commented on #10107
@MasterJH5574 it looks interesting given we already fixed the random seed, and we implemented our own PRNG - shouldn’t the result be deterministic then?

[2022-01-31 22:08] AndrewZhaoLuo commented on #10088
I'll take a look later in the week

[2022-01-31 23:16] driazati commented on #10113
AS you found your sphinx gallery version is probably too new, try `pip install sphinx-gallery==0.4.0`. You can use the `./docker/bash.sh ci_gpu - ...` command [here](https://github.com/apache/tvm/tree/main/docs#native) to generate the list of all the versions used in CI

Closing since this looks like a version mismatch (and tvm doesn't support the newer sphinx-gallery), please re-open if you still

[2022-01-31 23:24] Mousius opened #10119 "[CI Image] Update ci_qemu for FreeRTOS and TVMCon demos"
- [x] S0. Reason: Upstreaming of FreeRTOS variant of demo (https://github.com/apache/tvm/pull/10004) and future upstreaming of TVMCon demo, also includes https://github.com/apache/tvm/pull/9844 :smile_cat:

- [x] S1. Tag of nightly build: 20220130-070400-779dc51e1. Docker hub: https://hub.docker.com/layers/tlcpackstaging/ci_qemu/20220130-070400-779dc51e1/images/sha256-7d165ddbf4ed24a97b22a34669381

[2022-01-31 23:50] Mousius opened #10120 "[CI Image] Update ci_cpu / ci_lint / ci_arm"
20220202-070611-efe662fe6

- [x] S0. Reason: https://github.com/apache/tvm/pull/10061 / https://github.com/apache/tvm/pull/9844

- [ ] S1. Tag of nightly build: TAG. Docker hub:
  - ci_cpu: https://hub.docker.com/layers/tlcpackstaging/ci_cpu/20220202-070611-efe662fe6/images/sha256-49f0a8c3ca0f6306132e2c2cb0c830017408bb766a0bb36d1e2a4e99a9b7cafb?context=explore
  - ci_lint: https://hub.docker.com/l

[2022-02-01 03:47] wrongtest commented on #10107
12, 11, 16, 14, 10, 15, 11, 11

I'm not familiar with RNG issues but I find the implementation here:
https://github.com/apache/tvm/blob/187aeb5fe813c5bffc81e88ba890399ce7d53e1e/src/tir/schedule/primitive/sampling.cc#L134-L135

For `LinearCongruentialEngine` (Is it the PRNG generator mentioned by @junrushao1994?), the document of it says `It strictly corresponds to std::minstd_rand and is designed

[2022-02-01 08:57] Mousius commented on #10120
Pending https://github.com/apache/tvm/pull/10115 for ci_cpu due to Rust permissions blocking `task_rust.sh`

[2022-02-01 10:04] Mousius opened #10126 "[Tracking Issue] Upgrade Zephyr Vagrant box to Zephyr 2.7"
### This issue is to track progress for updating the Zephyr boxes to 2.7 following the update in https://github.com/apache/tvm/pull/10117
- [ ] P1. Title of this piece of the feature (PR link if available)

[2022-02-01 10:19] Mousius commented on #10119
Closed with #10117

[2022-02-01 10:19] #10119 closed

[2022-02-01 17:57] areusch opened #10132 "[Tracking Issue] Skip slow tests on PRs"
Tracking issue for work done on adding an `@slow` decorator to skip some tests in CI during pre-submit.

- [x] Merge RFC apache/tvm-rfcs#55
- [x] Add `@slow` decorator #10057
- [x] Investigate slow tests identified in https://discuss.tvm.apache.org/t/rfc-ci-skip-slow-tests-on-prs/11910

cc @mbrookhart  @driazati

[2022-02-01 23:05] hubert0527 opened #10134 "[Bug] Build from source, build_cuda.sh fail with environment conflict"
### Expected behavior

I followed the [install/build instruction](https://tvm.apache.org/docs/install/from_source.html) to build TVM with CUDA11.1. And failed at the following step:
[code]

### Actual behavior

conda complains about the environmental conflicts. The conda environment was freshly created with `conda env create --file conda/build-environment.yaml` as instructed. I have tried building

[2022-02-01 23:09] mei-ye opened #10135 "[Bug] Update DevicePlanner to use MixedModeVisitor"
On windows, the max stack size is 1 MB, whereas it is 8 MB on Linux.   So stack overflow occurs more often on windows for large graphs.   We run into a stack overflow problem on windows.  The cause is recursive function calls in relay/transforms/device_planner.cc.   A fix is posted in: https://github.com/apache/tvm/pull/10124

From the code review feedback, the best approach is to rewrite the pass

[2022-02-02 00:57] areusch opened #10136 "Add RVM build/testing to automated CI docker build"
There have been a few instances where we've discovered that the microTVM Reference VMs can't be rebuilt from the [Vagrantfile](https://github.com/apache/tvm/blob/main/apps/microtvm/reference-vm/zephyr/Vagrantfile)s. We should add a build to the set of nightly builds (akin to the CI image rebuild) so that we can understand when script problems cause them to be unreproducible.

cc @mehrdadh

[2022-02-02 01:03] mehrdadh commented on #10136
I can help with this. Feel free to assign it to me.

[2022-02-02 01:19] areusch opened #10137 "[Tracking Issue] Python Dependencies in TVM CI Containers"
This is a tracking issue for accepted legacy RFC: https://discuss.tvm.apache.org/t/rfc-python-dependencies-in-tvm-ci-containers/9011

[2022-02-02 01:26] mehrdadh commented on #10126
working on this: https://github.com/apache/tvm/pull/10138

[2022-02-02 01:27] prateek9623 opened #10139 "[Bug] Linking with cmake target which in a export group create issues."
Hi, can we add tvm cmake targets in an export group? As current targets when linked with another target with an export target create issues. Also, it would be great if we add support cmake "find_package".

I have created a PR to resolve this. https://github.com/apache/tvm/pull/10097
### Expected behavior

cmake tvm target link successfully with another target with an export group.

### Actual beha

[2022-02-02 01:53] areusch opened #10141 "[Tracking Issue] Write schedules for RISC-V targets"
We added initial support for RISC-V in microTVM by proving that we can run regression tests against the Zephyr RISC-V target (backed by QEMU). However, we have not yet added support for any V- or P- extension SIMD instructions to provide more interesting performance numbers out of the box. This issue tracks adding those schedules, which involves:
- [ ] selecting a simulator which can correctly exe

[2022-02-02 01:56] areusch opened #10142 "[Tracking Issue] Estimate memory footprint in microTVM"
microTVM currently reports some memory usage numbers, but a true estimate of the RAM footprint needs to be made by examining the output of the Unified Static Memory Planner being implemented in #8404. This issue is an explicit tracking issue to cover the work needed to generate this estimate and add it to Model Library Format.

[2022-02-02 02:16] junrushao1994 commented on #10107
That's good point! Thanks for pointing this out :-)

@wrongtest so looks like our bound is probably too tight. Would you mind sending a PR tweaking it a little bit? Thanks!

[2022-02-02 06:53] LyricZhao commented on #10134
Same error with me (CUDA 11.2 + Miniconda). Downgrading to 10.2 works but not a fancy solution.

[2022-02-02 20:10] driazati opened #10150 "[CI Problem] Tensorflow frontend test CUDA errors in CI"
Tensorflow tests often run into errors during CPU/GPU Memcpy:

* https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-10026/16/pipeline/

[2022-02-02 22:19] driazati opened #10152 "[CI Problem] `test_arm_mprofile_dsp.py` timing out in CI"
This has started to time out in various tests in CPU Integration job several times over the past few days on `main`:
* https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/2435/pipeline/272
* https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/2431/pipeline
* https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/2428/pipeline
* https://ci.tlcpack.ai/blue/organiz

[2022-02-03 01:25] AndrewZhaoLuo commented on #10088
Seems similar to https://github.com/apache/tvm/issues/10046 (in the discussion thread linked in issue)

[2022-02-03 02:16] #10109 closed

[2022-02-03 18:50] mehrdadh commented on #10126
@Mousius we can close this now!

[2022-02-03 20:11] shingjan commented on #10103
PR sent out here: https://github.com/apache/tvm/pull/10160 @vinx13 @driazati

[2022-02-03 23:16] AndrewZhaoLuo opened #10161 "[Docs] Autogenerate Relay Reference Docs From "Describe" Attributes"
Relay has many operators.

In this thread: https://discuss.tvm.apache.org/t/should-relay-nn-operators-be-documented-in-the-language-reference/12001/4

@u99127 points out most operators in relay are not really documented in `relay_op.rst`.

This issue is meant to track the task of autogenerating the list of relay ops in `relay_op.rst`. Technically all ops and their attributes can already be found i

[2022-02-04 13:55] Mousius commented on #10126
Thanks @mehrdadh !

[2022-02-04 13:55] #10126 closed

[2022-02-04 14:26] pfk-beta opened #10167 "[Bug] Missing pytest during tvmc compile/tuning"
Hello (first of all, thanks for very valuable tvm software),

After compiling runtime, and runing tuning command I've got error message that tclpack should be installed via pip. I have solved problem by installing Pytest. But after little digging I have found endpoint where problem occurs, so I've pasted traceback:

[code]

[2022-02-04 14:27] pfk-beta commented on #10167
I do not know what is tf_testing, but it required pytest

[2022-02-06 16:16] #9657 closed

[2022-02-07 18:28] mbrookhart opened #10180 "[CI Problem] x386 CI running out of RAM"
On a recent PR that added a few extra tests to Relay, we discovered that pytest was running over the 4GB RAM limit on the x386 CI job. We fixed this by reducing the memory use of the failing test ~10%, but we're getting to the point in our test size were running `pytest tests/python/relay` seems to be accumulating too much in RAM via the tests and pytest logs to actually run on x386. I imagine we'

[2022-02-07 19:03] areusch commented on #10180
we could also try to investigate why pytest-forked doesn't like GPUs. could you post any information you have about that?

[2022-02-07 19:19] mbrookhart commented on #10180
I attempted to fix this using pytest --forked here: https://github.com/apache/tvm/pull/10174

But it failed a lot of tests on a lot of jobs related to GPU. I got the feeling that initializing the GPU interface on the main thread and then trying to access it from the forked thread broke an assumption somewhere in the stack, but I didn't dig very deeply on what the root cause might be.

[2022-02-07 19:56] #10103 closed

[2022-02-07 21:42] masahi commented on #10180
@mbrookhart Can you point to the failed log?

[2022-02-08 00:21] FranckQC commented on #10180
Hi everyone.
It looks like I have the same issue on this i386 test on the CSE PR : https://github.com/apache/tvm/pull/9482

Let's see how the current build will end up (in theory the docs should be ok this time, and the Windows buikd too, it was just due to a URL change for the docs, and to a Github maintenance for the Windows build).

[2022-02-08 07:59] driazati commented on #10152
fixed, the new Jenkins rollout was using different nodes for autoscaled workers vs persistent workers, leading to increased runtimes which hit the timeouts

[2022-02-08 07:59] #10152 closed

[2022-02-08 10:51] Johnson9009 opened #10187 "[Bug] RPC Server Can't Serve Through Proxy Because of Missing Command Line Option"
Now we have RPC server, proxy, and tracker, so if the host machine can't access the RPC server directly, then we can put RPC proxy between host machine and RPC server like "Host --> RPC Proxy --> RPC Server", we can do it from Python API, but we can't do it through command line. Because "tvm.exec.rpc_server" haven't exposed the parameter "is_proxy" of class "tvm.rpc.server.Server" through command

[2022-02-08 21:29] mbrookhart commented on #10180
@masahi https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-10026/20/pipeline

[2022-02-09 00:07] AndrewZhaoLuo commented on #8577
@tkonolige do you happen to know the status of this issue? I heard some work with SYNR was occuring?

[2022-02-09 00:24] tkonolige commented on #8577
Synr is fine, its hybrid script that needs to be updated to use synr.

[2022-02-09 12:12] LyricZhao commented on #10134
In `conda/recipe/meta.yaml`, the version requirement for `cudnn` is from `>=7.6.0` (`lower_bound`) to `<8` (bounded by `max_pin`), while cuDNN 7 requires `cudatoolkit` version `<11`.

Simply changing `{{ pin_compatible('cudnn', lower_bound='7.6.0', max_pin='x') }}` into `cudnn` (2 lines) works for me.

@hubert0527

[2022-02-09 15:55] pfk-beta opened #10202 "[Bug] Enabling USE_CPP_RPC and using cross compiler requires HEXAGON_SDK"
When I try to build rpc_server binary, I have changed config.cmake:
[code]

And I'm getting following error:
[code]

--edit--
After some digging, I can see, than not only USE_CPP_RPC, but with CPP_RPC and cross compilers from NDK causes this error

[2022-02-09 16:02] mehrdadh commented on #10202
@pfk-beta can you post your full config.cmake file?

[2022-02-10 00:08] alanmacd opened #10206 "[microTVM][zephyr] Add support for nRF5340 DK v2"
There are two versions of the nRF5340 development kit, 1.0.0 and 2.0.0. The 1.0.0 DK exposes three COM ports, where COM2 is used to communicate with the device while running tests. The 2.0.0 DK only has two COM ports as can be seen here:
[code]
[microtvm_api_server.py always uses VCOM2](https://github.com/apache/tvm/blob/3b2780a4141b5654439c43dfc7c1409f9cb1858c/apps/microtvm/zephyr/template_projec

[2022-02-10 04:16] driazati commented on #10167
Thanks for reporting! Can you share the script you used to generate this error so we can reproduce it? This should be fixable since pytest isn't actually used in that code path, so something like this [here](https://github.com/apache/tvm/blob/main/python/tvm/testing/utils.py#L74) would avoid the error and still give a nice message if pytest is actually used.

[code]

[2022-02-10 09:36] #10187 closed

[2022-02-10 11:18] yzh119 opened #10210 "[Bug] Tree reduction with shared memory is buggy where there is threadIdx.y"
# Behavior
I found this bug when writing unit test for #10207, the following script could reproduce the bug:
[code]

By looking into the generated CUDA code:
[code]

we can find this is because it didn't insert synchronization inside `if (((int)threadIdx.x) < 8) {`, because the compiler mistakenly assumes the reduction inside the region is performed in a single warp. However, this is not the case

[2022-02-10 13:52] pfk-beta commented on #10167
Hi @driazati,
Thanks for the answer. Here is simple script: (takes some time to build lib + downloads `resnet.pb` from site zenodo.org)
[code]

[2022-02-10 13:56] masahi opened #10211 "[Tracking Issue] TIR-level CSE follow up"
Follow up items after https://github.com/apache/tvm/pull/9482

* Extend the notion of expression equality to take advantage of the purity annotation of TIR intrinsics. See the discussion in https://github.com/apache/tvm/pull/9482#issuecomment-964681835 and below for the motivation.
* Rewrite the test case using TVMScript. https://github.com/apache/tvm/pull/9482#discussion_r746255687
* Explore poss

[2022-02-10 13:59] pfk-beta commented on #10167
@driazati I have changed code according to your suggestion (nice trick), and I'm getting huge traceback:
[code]

[2022-02-10 14:12] masahi commented on #10134
I assume this is fixed by https://github.com/apache/tvm/pull/10201

[2022-02-10 14:12] #10134 closed

[2022-02-10 14:45] pfk-beta commented on #10202
Hello @mehrdadh , thanks for reply. Here is simple script for reproducing error:
[code]

Here is my config (`grep -o '^[^#]*' config.cmake`):
[code]

I think the problem is little complex than I posted in title.

[2022-02-10 14:49] pfk-beta commented on #10202
It is really, really strange imho. When I turn off cross-compilers in cmake command, then it work correctly:
[code]

[2022-02-10 15:02] FranckQC commented on #10211
Thanks @masahi for the summary.
I'll be more than happy to look into these (in particular item 1 on commoning pure functions and item 3 on refactoring some existing functions as special cases of some news functions from the CSE) as soon as I have some time!
I know item 1 would make the CSE pass useful for you @masahi, so I'll do that as soon as possible.

Kind regards,
Franck

[2022-02-10 19:22] areusch opened #10212 "[Tracking Issue] Document TVM RPC and add debug utilities"
This issue tracks work to add documentation for the TVM RPC protocol and create debugging tools to help people understand what RPC traffic is flowing across a link. Ideas:
- A Python or C++ library which processes RPC traffic and prints a human-readable representation
- A Wireshark filter which allows you to view traffic there

[2022-02-10 19:37] driazati opened #10213 "[CI Problem] tests/python/contrib/test_cmsisnn/test_fully_connected.py::test_op_int8 is flaky"
Recent failures on main:
* https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/2495/pipeline/
* https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/2490/pipeline

Failures happened in the compile step on different parameterizations: `10-0.0128-0.11-RELU-True-12-in_shape1` and `10-0.0128-0.11-RELU-False-128-in_shape1`. I tried to get the logs from the Jenkins execution wor

[2022-02-10 21:11] areusch commented on #10212
cc @kparzysz-quic @gromero @mehrdadh @jroesch @tqchen

[2022-02-11 09:50] ashutosh-arm commented on #10213
@Mousius @grant-arm for visibility.

[2022-02-11 14:02] pfk-beta opened #10221 "[Bug] Cannot build docker android demo (ubuntu 16.04 and 18.04)"
Hello,

I'm trying to following this tutorial: https://tvm.apache.org/docs/how_to/deploy_models/deploy_model_on_android.html
But I cannot build docker image based on ubuntu 16.04, because it need python3.6 which is not available for that ubuntu in deadsnakes. Switching to ubuntu 18.04 base image goes few steps further, but get_pip requires python3.7

[2022-02-11 14:05] pfk-beta commented on #10221
Hi @pfk-beta,
You need to replace in `ubuntu_install_python.sh` python3.6 to python3.7. Btw. in this script you can remove python-pip and python-dev, because they reference python2.7, which is deprecated

[2022-02-11 15:56] JCBrouwer opened #10223 "[Bug] Conv2DTranspose with groups not working correctly"
I'm trying to convert a PyTorch model which makes use of `torch.nn.functional.conv_transpose2d` and am running into issues with my converter to the corresponding `tvm.relay.op.nn.conv2d_transpose` operation.

I've done a little monkey patching on the PyTorchOpConverter as the operations that `torch.nn.functional.conv2d/conv_transpose2d` trace to (`aten::conv2d` and `aten::conv_transpose2d`) aren't

[2022-02-11 18:18] masahi commented on #10223
Thanks, yes `conv2d_transpose` with group was only recently fixed and supported in https://github.com/apache/tvm/pull/9465. I think we haven't updated our PyTorch frontend to benefit from this change. I'll take a look.

[2022-02-12 11:27] PhilippvK commented on #10054
@areusch  I would like to ask a first questing regarding this issue:

Would it make more sense to introduce a new subcommand under the `tvmc micro` namespace (e.g. `tvmc micro tune`) to be consistent with the other commands to compile and deploy for MicroTVM or should the already existing `tvmc tune` be extended to support MicroTVM through the Project API?

The first approach would probably lead t

[2022-02-13 10:56] PhilippvK commented on #10141
I've recently worked with RISC-V vector instructions using these simulators:

- **Spike (`riscv-isa-sim`)** - https://github.com/riscv-software-src/riscv-isa-sim
  - Supports V-Ext. (v2.0) and P-Ext. (v0.9.2)
  - No pre-build binaries available - Need to compile simulator (`spike`) and proxy kernel (`pk`) from source
  - Debugging support with GDB very limited
- **riscvOVPSimPlus** - https://www.o

[2022-02-14 03:02] JKANG94 opened #10237 "crt/common/crt_runtime_api.c:210: undefined reference to `TVMSystemLibEntryPoint'"
I ran the demo "https://tvm.apache.org/docs/how_to/work_with_microtvm/micro_autotune.html" on stm32f746zg board, and I met the error  "crt/common/crt_runtime_api.c:210: undefined reference to `TVMSystemLibEntryPoint'".

[2022-02-14 05:59] areusch opened #10238 "Remove version restriction from Pillow in TVM codebase"
@kparzysz-quic [states](https://discuss.tvm.apache.org/t/pillow-9-0-0-security-vulnerabilities/12070): There are 3 security vulnerabilities in Pillow < 9.0.0. They are all considered critical.

[CVE-2022-22815 2](https://nvd.nist.gov/vuln/detail/CVE-2022-22815)
[CVE-2022-22816](https://nvd.nist.gov/vuln/detail/CVE-2022-22816)
[CVE-2022-22817](https://nvd.nist.gov/vuln/detail/CVE-2022-22817)
apps/m

[2022-02-14 07:59] hubert0527 commented on #10134
Sorry for the late reply, was a bit busy lately.
I have confirmed the issue on my side is addressed with the solution. Thanks for the amazing work from @LyricZhao !

[2022-02-14 09:59] manupa-arm commented on #10238
cc : @grant-arm

[2022-02-14 10:35] leandron commented on #10238
Me and @grant-arm did some investigation in this and we found out that the fixed/safe versions of Pillow don't release for Python 3.6 anymore.

So this is one more reason for us to update our Docker images and CI, because this will certainly be trend that libraries stop releasing Python 3.6.

[2022-02-14 13:41] JCBrouwer commented on #10223
Great, thanks for the quick response!

I can confirm that it's converting from PyTorch correctly for my more complex model on your branch.

Now I'm getting an AssertionError on `relay.build()` though:
[code]

Are there plans to support grouped transposed convolutions on GPU?

Is there a better workaround than splitting the groups manually?

[2022-02-14 14:29] pfk-beta commented on #10202
Issue should be solved by PR https://github.com/apache/tvm/pull/10227 . I'm closing issue as the issue author:)

[2022-02-14 14:29] #10202 closed

[2022-02-14 14:32] #8732 closed

[2022-02-14 14:49] pfk-beta opened #10240 "[Bug] Some tuning tasks causes device reboot / RPC server termination"
Hello,

I'm using heavily RPC tracker and server with TVM. I encounter many times issue, when tuning task cause device reboot or rpc_android_app restart. After that, whole tuning process need to be restarted. Tuning process waits for something - when I turn RPC_APP again, it breaks.

Error from tuning process:
[code]

Ouptput from query_rpc_tracker:
[code]

[2022-02-14 15:28] masahi commented on #10223
Yeah, cuda backend doesnt support groups. You can try the cpu backend to verify the result. If you are ok with using cudnn, I can quickly enable groups support for cudnn conv transpose 2d.

[2022-02-15 01:39] #10223 closed

[2022-02-15 02:35] masahi commented on #10223
Are you sure you can run your PT model on cuda via cudnn? I'm getting `CUDNN_STATUS_BAD_PARAM` when trying to run your model with cudnn. A WIP branch https://github.com/apache/tvm/compare/main...masahi:conv2d-transpose-group-cudnn?expand=1 if you want to hack on it.

[2022-02-15 06:36] masahi commented on #8596
At one point can we expect a non-trivial demo?

[2022-02-15 11:48] leandron commented on #10212
It would be cool to standardise the RPC command lines under a potential `tvmc rpc ...` as well, so that we don't require users to memorise Python module paths to be used as command line entry points. Can this be added under this umbrella task?

[2022-02-15 12:38] pfk-beta commented on #10240
Hello,

I think that method `check_remote` may be working incorrecly: https://github.com/apache/tvm/blob/main/python/tvm/autotvm/measure/measure_methods.py#L781

[2022-02-15 16:35] #10135 closed

[2022-02-15 21:11] mehrdadh opened #10261 "[Tracking Issue] Add Hexagon CI docker image to pre-commit CI"
We are adding a docker image to test hexagon tests in pre-commit CI. These are the steps:

- [x] Build ci-hexagon docker image locally and test it
- [x] Send a TVM PR with docker file and scripts to build ci-hexagon: https://github.com/apache/tvm/pull/10263
- [x] Add ci-hexagon to tlc-pack/tlcpack to rebuild: https://github.com/tlc-pack/tlcpack/pull/97
- [x] Confirm ci-hexagon rebuild nightly, pic

[2022-02-15 21:57] #10210 closed

[2022-02-16 02:07] alanmacd opened #10264 "[microTVM] microTVM requires PyYAML version that conflicts with other python package requirements"
This error appears to be benign, but it creates noise when building/deploying microTVM VM:

[code]

Suggestion is to increase/update the acceptable versions of mxnet and pyyaml.

cc @gromero @mehrdadh

[2022-02-16 02:49] slyubomirsky opened #10265 "[Bug] Default TypeMutator creates a new Global Type Var but the type checker relies on pointer equality"
The default behavior of the Relay type mutator when it encounters Global Type Variables is to [create a new Global Type Var](https://github.com/apache/tvm/blob/9f7f4c6d1fcc88fb1649a295e75577eaae50bbed/python/tvm/relay/type_functor.py#L185-L186) instead of passing along the existing one. This can lead to type checking errors, as the type checker relies on pointer equality for global type vars (the

[2022-02-16 10:09] ShaneYS opened #10269 "[Bug] the size of plan file in TVM_TENSORRT_CACHE_DIR is only 3.3K"
### Expected behavior

I want to save tvm(tensorrt-runtime) model as a tensorrt engine file, and load the file in tensorrt.

### Actual behavior

The saved engine file (*.plan) appears to only contain structure and no parameters saved.

How can I save the structure and parameters in one engine file?

[code]

[2022-02-16 10:30] PhilippvK opened #10270 "[Bug] [MicroTVM] ProjectOption type hints are currently pointless."
### Expected behavior

In the `microtvm_api_server.py` for various MicroTVM project API templates options are defined in the following way:

[code]

As every of these options gets a certain `type` it may be assumed that these type hints are actually used by TVM and not only for documentation.

### Actual behavior

However the only purpose of the `type` field in this option is restricting the allow

[2022-02-16 18:37] driazati opened #10275 "[CI Problem] `Not found: No algorithm worked` in tensorflow tests"
Some tensorflow frontend tests are intermittently failing:

* `test_forward_inception_v3` in https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/main/2518/pipeline
* `test_forward_convolution` in https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-10266/2/pipeline/

So these tests are disabled until a fix can be landed

Full error:

<details>

[code]

</details>

[2022-02-16 20:16] huajsj commented on #8596
thanks @masahi for the follow up, I am also looking forward a chance to do a demo after all patch upstream done.

[2022-02-16 20:49] masahi commented on #10240
https://github.com/apache/tvm/pull/10255

[2022-02-16 20:49] #10240 closed

[2022-02-17 03:06] areusch opened #10280 "[Tracking Issue] Module-based Model Runtime Interface for AOT"
This issue tracks the implementation of apache/tvm-rfcs#46 (Module-based Model Runtime Interface for AOT).

This RFC proposes a fairly wide-sweeping refactoring of the metadata exported from compiler to runtime. We plan to implement this in phases to ease code-review and unblock some downstream work dependent on the C-source-based AOTExecutor. Here are the steps:
- [x] New Metadata classes (hand-w

[2022-02-17 16:25] pfk-beta commented on #10212
I'd move some documentation from github READMEs to official docs site, e.g. https://github.com/apache/tvm/blob/main/jvm/README.md , https://github.com/apache/tvm/blob/main/apps/android_rpc/README.md ,

[2022-02-17 19:30] AndrewZhaoLuo opened #10294 "[Tracking Issue] Unify Grouped Convolution Representation"
Grouped convolutions split up input channels into groups. While a normal convolution consists of a stack of kernels per each channel, in grouped convolution a particular filter will only operate on channels in its associated groups. In general while a convolution with 50 input channels and 100 output channels might have a weight with shape `[100, 50, 3, 3]` for OIHW layout, a grouped convolution w

[2022-02-17 21:15] denise-k opened #10296 "[CI][Tracking Issue] @slow test tracking issue"
### This issue is to track progress for the `@slow` decorator.
- [x] Motivation for `@slow` decorator: https://github.com/apache/tvm-rfcs/pull/55
- [ ] Implementation of `@slow` decorator: https://github.com/apache/tvm/pull/10057
- [ ] Analyze TVM's tests to find candidates for the `@slow` decorator
- [ ] Create an RFC sharing this analysis and proposing which tests to apply `@slow` to

cc @Mousiu

[2022-02-17 22:55] driazati opened #10297 "[Flaky Test] `tests/micro/zephyr/test_zephyr.py::test_autotune_conv2d`"
See [tests/micro/zephyr/test_zephyr.py::test_autotune_conv2d](https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-10292/1/pipeline/61), pytest also segfaulted out which is weird

[code]

cc @mehrdadh

[2022-02-17 23:10] mehrdadh commented on #10261
retag image to hexagon-ci:v0.01

[code]

[2022-02-18 00:25] mehrdadh commented on #10261
Image is published on tlcpack thanks to @areusch
https://hub.docker.com/r/tlcpack/ci-hexagon/tags

[2022-02-18 00:35] driazati opened #10300 "[CI Problem] Flaky tests in `tests/python/contrib/test_ethosu`"
### Test(s)

- `tests/python/contrib/test_ethosu/test_codegen.py::test_tflite_pack[ifm_shapes1-1-ethos-u65-256]`
- `tests/python/contrib/test_ethosu/test_codegen.py::test_tflite_transpose_convolution[False-ifm_shape3-ofm_shape3-kernel_shape3-VALID-ethos-u55-128]`
- `tests/python/contrib/test_ethosu/test_codegen.py::test_tflite_expand_dims[ifm_shape0-0-ethos-u55-64]`
- `tests/python/contrib/test_et

[2022-02-18 02:12] AndrewZhaoLuo opened #10303 "[Bug] ConvertLayout affects model without any operations of interest"
### Expected behavior

If we run ConvertLayout on a model without any operations which are layout dependent, the model should not change.

### Actual behavior

The model does change, specifically `add` seems to be explicitly broadcast. This does not have a major affect but is not a good thing.

### Environment

Current branch off main at this time.

### Steps to reproduce
See https://github.com/An

[2022-02-18 12:11] xueshengke opened #10309 "[Bug] dense.py in matmul tensor_b.shape mismatch after autoscheduler tuning in ARM CPU"
[code]

### Expected behavior

tensor_b.shape will be changed after tuning ?

### Actual behavior

out_dim, red_dim  != tensor_b.shape

### Environment

Any environment details, such as: Operating System, TVM version, etc
Linux, Ubuntu: 21.04, TVM 0.9 dev, ARM CPU,
Model : mobilenet-v3.tflite

### Steps to reproduce

This error happens only in ARM CPU after autotuning, but disappears  before autot

[2022-02-18 18:20] driazati opened #10312 "[Flaky Test] microTVM demos timeout intermittently"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). As per [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures, these failures will be disabled in a PR that references this issue until the test owners can fix the source of the flakiness.

### Test(s)

- `tests/scripts/task_demo_microtvm.sh` (d

[2022-02-18 18:24] driazati opened #10314 "[Flaky Test] `test_cmsisnn/test_conv2d.py`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). As per [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures), these failures will be disabled in a PR that references this issue until the test owners can fix the source of the flakiness.

### Test(s)

- `tests/python/contrib/test_cmsisnn/test

[2022-02-18 18:33] driazati opened #10316 "Add `-x` to all CI scripts"
From discussion in #10247, we should add the `-x` flag (when reasonable) to all CI script to make it more clear exactly where failures happened when they do happen

[2022-02-18 18:36] driazati commented on #10312
Also is it possible to wrap this test in pytest via Python's `subprocess`? If it is run outside pytest we don't track the test results in Jenkins' result page (i.e. so we can automatically list failures, test times, etc.)

[2022-02-18 18:46] driazati opened #10317 "Auto-cc subscription tracker"
This issue is used to subscribe to various topics within TVM. If you subscribe to a tag, you will be `cc`ed by a bot any time an issue or PR with that tag is posted (the bot will auto-edit the PR body to include a message like `cc @user1 @user2`). This lets interested parties opt into a particular area of TVM without issue/PR authors having to remember the full list of people.

To opt in, follow e

[2022-02-18 19:02] driazati commented on #10317
something else @driazati

[2022-02-18 20:44] mehrdadh opened #10319 "[Bug] ONNX models link are broken in some tutorials"
Tutorials that have wrong link:

https://tvm.apache.org/docs/tutorial/tvmc_command_line_driver.html#sphx-glr-tutorial-tvmc-command-line-driver-py
https://tvm.apache.org/docs/tutorial/autotvm_relay_x86.html#sphx-glr-tutorial-autotvm-relay-x86-py

Feel free to add more to this list.

cc @mkatanbaf who might send the fix.

[2022-02-19 07:20] leeexyz opened #10324 "[Bug][VM] Segmentation fault triggered if opt level set to 0"
Compiling any network when opt level is 0 in VM runtime would cause a segmentation fault. The segment occurs at `ManifestAlloc Pass (opt_level=0)` and the pass requires `ToANormalForm Pass (opt_level=1)`. If there is no **Let Scope** found will trigger this bug.

Possible fixes

First, we should check if the `scopes_` is empty before accessing it.
[code]
https://github.com/apache/tvm/blob/a713356e

[2022-02-21 03:29] akash2826 commented on #4102
Hi Team,

What is the status of supporting TF 2.x in TVM . I don't see any example for parsing TF 2.x model in TVM

[2022-02-21 09:27] lhutton1 commented on #10300
Thanks for raising this @driazati, we'll take a look today

[2022-02-22 03:52] JOE1994 commented on #10161
I'd like to try working on this one if that's okay :cat:

[2022-02-22 04:13] AndrewZhaoLuo commented on #10161
It's yours @JOE1994  B)

[2022-02-22 17:18] mehrdadh commented on #9423
@masahi we can close this.

[2022-02-22 19:01] driazati opened #10349 "[Flaky Test] `tests/micro/common/test_tvmc.py::test_tvmc_model_build_only`"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). As per [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures, these failures will be disabled in a PR that references this issue until the test owners can fix the source of the flakiness.

### Test(s)

- `tests/micro/common/test_tvmc.py::test_t

[2022-02-22 19:05] #10349 closed

[2022-02-23 00:03] #10206 closed

[2022-02-23 03:03] masahi opened #10356 "[CI Problem] Flaky test `test_task_scheduler_gradient`"
https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-10351/1/pipeline

I definitely saw that multiple times recently.

[2022-02-23 03:14] Johnson9009 opened #10357 "[Bug] Pylint Error "invalid-sequence-index", "c-extension-no-member", "wrong-import-order""
Pylint report some errors.

### Expected behavior

No error.

### Actual behavior

➜  git:(main✔) incubator-tvm tests/lint/pylint.sh
++ dirname tests/lint/pylint.sh
+ python3 -m pylint python/tvm --rcfile=tests/lint/pylintrc
************* Module tvm.meta_schedule.cost_model.xgb_model
python/tvm/meta_schedule/cost_model/xgb_model.py:136: [E1126(invalid-sequence-index), PackSum.obj_square_error] Seq

[2022-02-23 05:54] zxybazh commented on #10356
I think it's a floating point issue because the 1st gradient is too close to 0 and the autoscheduler would randomly pick a task in that case. Changing the `objective_func` to `1e5 * costs[0]` can fix the test I think.

[2022-02-23 12:39] #10356 closed

[2022-02-23 13:17] manupa-arm commented on #10312
@driazati #10337 we discovered and fixed a bug that might be the cause.
I did ran it few times with this fix and did not experience it being flaky

I've re-enabled this test but lets observe for a bit

[2022-02-23 15:55] #10261 closed

[2022-02-24 09:02] LyricZhao opened #10369 "[Bug][AutoScheduler] `name_it != name_to_arg.end()` check failed with `layout_free_placeholders`"
Hi, I'm trying to optimize 1x1 convolution with TVM Ansor, with `layout_free_placeholders` attributes for weights, the scheduler dumps an assertion error `Check failed: (name_it != name_to_arg.end()) is false`.

The code is as following:
[code]

What's more strange, change lambda parameters from `*i` to `i, j, k, l` also works.

[2022-02-24 10:08] DzAvril commented on #10050
May I ask why the in-place ops cannot be converted to relay?  In pytorch front  pytorch.py there are in-place ops like aten::add_ has been converted to relay. So what is the difference between aten::copy_ and aten::add_.

[2022-02-24 11:10] #10357 closed

[2022-02-24 17:08] areusch opened #10373 "[Bug] Always attach Runtime and Executor object to IRModule"
### Expected behavior

Codegen can assume that attr `tvm::attr::kRuntime` is always populated.

### Actual behavior

When building with `tvm.build()` and not supplying `runtime` kwarg, `tvm::attr::kRuntime` is not defined.

### Environment

tree based off of 33082e0032fb57b0516ad7e3eabd11fe0203437e

cc @Mousius

[2022-02-24 18:29] areusch opened #10374 "[Bug] AOTExecutorCodegen doesn't populate device_id of intermediate tensors"
[LegalizePackedCalls](https://github.com/apache/tvm/blob/main/src/tir/transforms/legalize_packed_calls.cc) pass doesn't construct well-formed DLTensors for intermediate tensors. This was a known issue before and many of these fields aren't referenced by generated kernels, so it's not so much of a problem. However, `device_id` is used when allocating workspace buffers. It is [not populated](https:/

[2022-02-25 00:56] driazati opened #10382 "[Flaky Test] tests/python/unittest/test_runtime_profiling.py::test_report_serialization"
These tests were found to be flaky (intermittently failing on `main` or failed in a PR with unrelated changes). As per [the docs](https://github.com/apache/tvm/blob/main/docs/contribute/ci.rst#handling-flaky-failures, these failures will be disabled in a PR that references this issue until the test owners can fix the source of the flakiness.

### Test(s)

- `tests/python/unittest/test_runtime_prof

[2022-02-25 05:02] vzyknc opened #10384 "[Bug] [VTA] [TSIM] cannot run tsim-example in the current TVM version 0.9"
I recently tried to reproduce TSIM test framework, and I found that when libhw.so and libsw.so were loaded, there would be an error that the global FFI PackedFunc could not be found. Does anyone know what's going on? After I tried to fall back to version 0.6, the problem disappeared. Is this because of some changes in the design of the runtime? How can I fix this bug?

TVM v0.9 Ubuntu1804 gcc-8.4

[2022-02-25 10:44] manupa-arm commented on #10300
We are unable to reproduce these as of today and we are not seeing these in our nightly downstream builds either.

I think landing this : #10214 would really help.

[2022-02-25 17:32] kparzysz-quic opened #10390 "[Bug] fuse_ops takes link_params from executor instead of target"
Follow-up to the discussion in [PR8509](https://github.com/apache/tvm/pull/8509).

Resnet50/float32 model crashes during compilation on Hexagon: changes from the PR enable code execution path that leads to an assertion in function `Array<te::Tensor> ScheduleBuilder::VisitExpr_(const ConstantNode* op)` due to not handling scalar constants of type `float16'.  This is a change from the behavior from

[2022-02-25 17:43] manupa-arm commented on #10390
Thanks @kparzysz-quic ! this makes more sense!

cc: @d-smirnov @Mousius

[2022-02-25 17:50] manupa-arm commented on #10390
In the spirit of creating own config in the FoldConstants, could we just add the expected Executor config too ?

https://github.com/apache/tvm/blob/d9fac4f305c5462de4ab08cd220d60b42c0414f7/src/relay/transforms/fold_constant.cc#L255-L257

[2022-02-25 19:37] kparzysz-quic commented on #10390
I think that should work...

[2022-02-25 20:48] #10324 closed

[2022-02-25 23:38] #10382 closed

[2022-02-26 10:44] manupa-arm commented on #10300
@ekalda @lhutton1 , so it seems the flaky ness happens to come from the run, until we know better, I would suggest adding a retry to the FVP run. WDYT?

[2022-02-26 14:05] leeexyz commented on #10324
@wrongtest Thanks for your fix! Actually, there are two locations that need to assert the empty, `Line 75` and `Line 143`, as I mentioned in this issue.

But, still, the issue is not solved yet, about the passes' level, what is your suggestion? @masahi

[2022-02-26 18:00] JCBrouwer opened #10397 "[Bug] Error: identifier “hfabs” is undefined"
### Expected behavior

It should be possible to take the absolute value of a half precision tensor.

### Actual behavior

The kernel fails to compile due to hfabs not being found:

<details>
<summary>Stack trace</summary>

[code]

</details>

### Environment

TVM 0.9.dev0 (compiled from source)
CUDA 11.4

### Steps to reproduce

[code]

[2022-02-26 18:15] JCBrouwer commented on #10223
I'm not quite sure what the best way to benchmark/profile things is. I've been trying to use `ncu`, but it's __very__ slow for the PyTorch models.

At the moment the PyTorch models (vanilla, traced, optimize_for_inference) reach about 9-11 fps and the TVM + CUDNN is about 15-19 fps. I'm hoping to get into the 25-30 fps range.

I'm trying to get more of the computation to be done in fp16, but I've

[2022-02-27 00:13] masahi commented on #10397
You can use this change https://github.com/apache/tvm/commit/c3c57c60a97761719d43781ae61bcc85ce6d11c0

I'm not sure if we are supporting fp16 cuda math function properly, but for `habs` it should be correct. You can add my change to https://github.com/apache/tvm/pull/10396

[2022-02-27 00:18] masahi commented on #10223
https://github.com/apache/tvm/tree/main/gallery/how_to/tune_with_autoscheduler has e2e examples of using the auto scheduler. But yeah, I don't expect it to beat cuDNN, unless cuDNN implementation of dgrad with group is really poor.

[2022-02-27 01:32] LyricZhao commented on #10369
I'm using commit id `cb7f773218c26c3092cc275ef28e71839ebd18e3` or TVM 0.8 release tag (both have this problem).

The logging information is in [https://pastebin.ubuntu.com/p/QWsqqjnXTz/](https://pastebin.ubuntu.com/p/QWsqqjnXTz), and we can see that every schedule fails to be measured with an error of `name_it != name_to_arg.end()`.

Thanks for your reply!

[2022-02-27 14:30] haoyang9804 opened #10398 "[Bug] InferType crashes when a relay function calls an global identity function"
Followed by [this problem](https://discuss.tvm.apache.org/t/infertype-crashes-when-a-relay-function-call-another-function/12176), I made a simple change and it still causes crash.
Below is my script:
[code]
The relay IR before InferType is
<img width="167" alt="4" src="https://user-images.githubusercontent.com/34816323/155886350-cdfd296e-6b21-4d7a-90b9-bf7e671bf232.png">
Crash message is
<img widt

[2022-02-27 18:01] areusch opened #10399 "[CI] Update to windows-2019 GH Actions runner"
Per [the GitHub Announcement](https://github.blog/changelog/2021-10-19-github-actions-the-windows-2016-runner-image-will-be-removed-from-github-hosted-runners-on-march-15-2022), Windows 2016 builder (which we currently use to verify that TVM builds on Windows) will be deprecated on March 15. Here are the steps we need to take to preserve our Windows build:

- [x] Select a replacement runner from [

[2022-02-28 00:29] #10397 closed

[2022-02-28 04:00] Forecast3r opened #10404 "[Bug] MergeComposite Pass breaks"
MergeComposite pass breaks when the part to be merged is of shape like:
[code]
and the following op is a sequence_mask.

Script to reproduce:
[debug.py.txt](https://github.com/apache/tvm/files/8150488/debug.py.txt)

[code]

WIth the pass commented off, everything works well.

[2022-02-28 10:39] u99127 commented on #10390
The relevant reproducer is here. https://github.com/apache/tvm/pull/8509#issuecomment-1050982328

[2022-02-28 11:24] JKANG94 commented on #10237
@[mehrdadh](https://github.com/mehrdadh)

[2022-02-28 14:41] lhutton1 commented on #10300
Thanks @manupa-arm I think that would be a good temporary solution until we can figure out the cause of the failures, I've attempted this in #10408

[2022-02-28 15:00] Yevgnen commented on #9217
Where can I read the doc now?

[2022-03-01 10:59] zhangwm-pt opened #10422 "[Bug] relay.create_executor("debug" to run conv2d_transpose failed"
I use `pytest test_op_level2.py::test_conv2d_transpose_nchw_run` to run tests/python/relay/test_op_level2.py.
Default `relay.create_executor("graph"` is OK, but if I modify it to be `relay.create_executor("debug"` ,test failed.

### Expected behavior

test pass, same with graph

### Actual behavior

### Environment

ubuntu 18.04

### Steps to reproduce

`mkdir build; cd build; cmake ..;make`
`pyte

[2022-03-01 17:45] PFernandes7 opened #10426 "TVM compilation Segfaults or just fails on NVIDIA Xavier Nano"
After installing TVM correctly on this machine when trying to compile a model from Keras using
`relay.frontend.from_keras(model, shape_dict)`
defining target either as `target = tvm.target.cuda()` I get `[17:27:26] ../src/target/target_kind.cc:163: Warning: Unable to detect CUDA version, default to "-arch=sm_20" instead` or `target = tvm.target.cuda(arch="sm_20")` and then I get the same warning w

[2022-03-02 08:53] ggardet opened #10443 "[Bug] tvmc failed on onnx with `google.protobuf.message.DecodeError: unexpected end-group tag`"
### Expected behavior
`tvmc compile --target "llvm" --output compiled_module.tar resnet50-v2-7.onnx` should works.

### Actual behavior
It fails with the following error:
[code]
See: https://openqa.opensuse.org/tests/2219126#step/tvm/15

### Environment
openSUSE Tumbleweed with TVM 0.8.0

### Steps to reproduce
Try to run `tvmc compile --target "llvm" --output compiled_module.tar resnet50-v2-7.onn

[2022-03-02 12:43] gromero commented on #10443
@ggardet Hi. I can't reproduce this issue either on tag `v0.8.0` or `HEAD`. Could you please confirm which TVM code (packaging) or hash is used in your test, if possible?

[2022-03-02 12:52] DimStar77 commented on #10443
* tvm version 0.8.0
* protobuf 3.19.4
* expat version 2.4.6

[2022-03-02 13:55] lhutton1 commented on #10300
After #10214 we witnessed a flaky test failure in #10445:
[code]
(https://ci.tlcpack.ai/blue/organizations/jenkins/tvm/detail/PR-10445/1/pipeline/)

[2022-03-02 14:19] cgerum commented on #10309
This can be solved by changing:  https://github.com/apache/tvm/blob/8f6fa8f2c41406cb54d01647ba8731e4ceb8f4ab/python/tvm/relay/op/strategy/arm_cpu.py#L466

to:

[code]
This seems to be missing in all implementations for arm_cpu.

[2022-03-02 15:47] yuanfz98 commented on #10211
Hello,

For semantic extension, I listed some items:
- commutativity (identifying for instance (x+y) with (y+x))
- associativity (identifying for instance (x+y)+z with x+(y+z))
- distributivity (x*(y+z) and x\*y+x\*z)

We may call tvm/arith library to do the job.
[code]

An example test :
[code]

And I got:
[code]

However I found that the arith system may not be able to do the commutativity (x+y